Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/attr/index.md
Owners: @mdn/yari-content-ja

2025/08/09 時点の英語版に基づき更新
  files/ja/web/css/calc/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/glossary/whitespace/index.md
  files/ja/web/accessibility/aria/reference/roles/checkbox_role/index.md
  files/ja/web/accessibility/aria/reference/roles/grid_role/index.md
  files/ja/web/accessibility/aria/reference/roles/gridcell_role/index.md
  files/ja/web/accessibility/aria/reference/roles/rowgroup_role/index.md
  files/ja/web/api/document_object_model/using_the_document_object_model/index.md
  files/ja/web/api/node/firstchild/index.md
  files/ja/web/api/node/nextsibling/index.md
  files/ja/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/attr/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update CSS "Using CSS animations" (#27982)
  files/zh-tw/web/css/css_animations/using_css_animations/index.md
Owners: @mdn/yari-content-zh

fixup
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Translate "Forms and buttons in HTML" (#28303)
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of `Intl.getCanonicalLocales()`
  files/zh-cn/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Owners: @mdn/yari-content-zh

2025/08/13 時点の英語版に基づき新規翻訳
  files/ja/web/css/calc-size/index.md
  files/ja/web/css/cos/index.md
  files/ja/web/css/if/index.md
  files/ja/web/css/mod/index.md
  files/ja/web/css/rem/index.md
  files/ja/web/css/round/index.md
  files/ja/web/css/sibling-count/index.md
  files/ja/web/css/sibling-index/index.md
  files/ja/web/css/sign/index.md
  files/ja/web/css/sin/index.md
  files/ja/web/css/tan/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/glossary/whitespace/index.md
  files/ja/web/accessibility/aria/reference/roles/checkbox_role/index.md
  files/ja/web/accessibility/aria/reference/roles/grid_role/index.md
  files/ja/web/accessibility/aria/reference/roles/gridcell_role/index.md
  files/ja/web/accessibility/aria/reference/roles/rowgroup_role/index.md
  files/ja/web/api/document_object_model/using_the_document_object_model/index.md
  files/ja/web/api/node/firstchild/index.md
  files/ja/web/api/node/nextsibling/index.md
  files/ja/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期 (#28374)
  files/ja/web/css/css_scrollbars_styling/index.md
  files/ja/web/css/scrollbar-color/index.md
  files/ja/web/css/scrollbar-width/index.md
Owners: @mdn/yari-content-ja

radiogroup ロールを翻訳 (#28375)
  files/ja/web/accessibility/aria/reference/roles/radiogroup_role/index.md
Owners: @mdn/yari-content-ja

2025/05/29 時点の英語版に同期 (#28376)
  files/ja/web/mathml/guides/authoring/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期 (#28377)
  files/ja/web/mathml/guides/fonts/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期 (#28378)
  files/ja/web/mathml/reference/element/index.md
Owners: @mdn/yari-content-ja

2025/07/29 時点の英語版に同期 (#28379)
  files/ja/web/mathml/reference/global_attributes/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期 (#28380)
  files/ja/web/mathml/reference/attribute/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/mathml/reference/values/index.md
Owners: @mdn/yari-content-ja

Action APIの日本語訳 (#28134)
  files/ja/mozilla/add-ons/webextensions/api/action/index.md
Owners: @mdn/yari-content-ja

[zh-cn] add translation for PerformanceResourceTiming.transferSize
  files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
  files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
Owners: @mdn/yari-content-zh

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/inherit/index.md
  files/ja/web/css/log/index.md
  files/ja/web/css/max/index.md
  files/ja/web/css/min/index.md
  files/ja/web/css/pow/index.md
  files/ja/web/css/sqrt/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/url_function/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/pow/index.md
  files/ja/web/css/pow/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_values_and_units/value_definition_syntax/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/display/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/order/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/visibility/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/visibility/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に基づき新規翻訳
  files/ja/web/svg/reference/attribute/pointer-events/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき新規翻訳
  files/ja/web/svg/reference/attribute/tabindex/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/display/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/css_display/visual_formatting_model/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/display-box/index.md
  files/ja/web/css/display-inside/index.md
  files/ja/web/css/display-internal/index.md
  files/ja/web/css/display-legacy/index.md
  files/ja/web/css/display-listitem/index.md
  files/ja/web/css/display-outside/index.md
Owners: @mdn/yari-content-ja

2025/08/08 時点の英語版に基づき新規翻訳
  files/ja/web/css/css_easing_functions/index.md
Owners: @mdn/yari-content-ja

ru: update object prototype properties
  files/ru/web/javascript/reference/global_objects/object/index.md
Owners: @mdn/yari-content-ru

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/index.md
Owners: @mdn/yari-content-ja

2024/09/23 時点の英語版に基づき更新
  files/ja/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-ja

2025/08/5 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/error_handling/index.md
Owners: @mdn/yari-content-ja

translate separator role
  files/ja/web/accessibility/aria/reference/roles/separator_role/index.md
Owners: @mdn/yari-content-ja
