Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/04/03 時点の英語版に同期 (#27684)
  files/ja/web/javascript/reference/global_objects/date/todatestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tostring/index.md
  files/ja/web/javascript/reference/global_objects/date/totimestring/index.md
  files/ja/web/javascript/reference/global_objects/date/toutcstring/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期 (#27685)
  files/ja/web/javascript/reference/global_objects/date/toisostring/index.md
  files/ja/web/javascript/reference/global_objects/date/tojson/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/ja/web/javascript/reference/global_objects/date/valueof/index.md
Owners: @mdn/yari-content-ja

2025/03/07 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/symbol.toprimitive/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/api/elementinternals/index.md
Owners: @mdn/yari-content-ja

2024/10/02 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/playbackrate/index.md
Owners: @mdn/yari-content-ja

2025/01/08 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/played/index.md
Owners: @mdn/yari-content-ja

2024/12/20 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/addtexttrack/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/seeking_event/index.md
  files/ja/web/api/htmlmediaelement/waitingforkey_event/index.md
Owners: @mdn/yari-content-ja

2025/01/08 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/seeking/index.md
Owners: @mdn/yari-content-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/navigator/mimetypes/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/workerglobalscope/index.md
Owners: @mdn/yari-content-ja

2024/08/29 時点の英語版に同期
  files/ja/web/api/workerglobalscope/caches/index.md
Owners: @mdn/yari-content-ja

2025/02/18 時点の英語版に同期
  files/ja/web/api/workerglobalscope/atob/index.md
  files/ja/web/api/workerglobalscope/btoa/index.md
Owners: @mdn/yari-content-ja

2024/10/07 時点の英語版に同期
  files/ja/web/api/workerglobalscope/clearinterval/index.md
  files/ja/web/api/workerglobalscope/cleartimeout/index.md
Owners: @mdn/yari-content-ja

2024/09/29 時点の英語版に同期
  files/ja/web/api/window/createimagebitmap/index.md
  files/ja/web/api/workerglobalscope/createimagebitmap/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/api/workerglobalscope/importscripts/index.md
Owners: @mdn/yari-content-ja

2024/12/20 時点の英語版に同期
  files/ja/web/api/workerglobalscope/queuemicrotask/index.md
Owners: @mdn/yari-content-ja

2024/09/27 時点の英語版に同期
  files/ja/web/api/workerglobalscope/reporterror/index.md
Owners: @mdn/yari-content-ja

2025/05/23 時点の英語版に同期
  files/ja/web/api/window/setinterval/index.md
Owners: @mdn/yari-content-ja

minor updates
  files/zh-cn/web/api/node/ownerdocument/index.md
Owners: @mdn/yari-content-zh

zh: Update ownerdocument (#27737)
  files/zh-cn/web/api/node/ownerdocument/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/global_objects/regexp/test/index.md
  files/zh-cn/web/javascript/reference/global_objects/regexp/test/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/global_objects/regexp/test/index.md
  files/zh-cn/web/javascript/reference/global_objects/regexp/test/index.md
Owners: @mdn/yari-content-zh

fix(pr-test): add GITHUB_TOKEN env for `rari` related commands (#27745)
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

[zh-TW]: update HTTP Status `201` (#27587)
  files/zh-tw/web/http/reference/status/201/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of `WebGL2RenderingContext.beginQuery()`
  files/zh-cn/web/api/webgl2renderingcontext/beginquery/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Engine/JavaScript` (#27696)
  files/zh-cn/glossary/engine/javascript/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/html_color_codes/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/glossary/html_color_codes/index.md
  files/zh-cn/glossary/html_color_codes/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/html_color_codes` (#27704)
  files/zh-cn/glossary/html_color_codes/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `202` (#27588)
  files/zh-tw/web/http/reference/status/202/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: create `MIME_types/Common_types` (#27590)
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of "js13kGames" landing page
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `203` (#27589)
  files/zh-tw/web/http/reference/status/203/index.md
Owners: @mdn/yari-content-zh

fix ReadableStream typo
  files/ko/web/api/streams_api/using_readable_streams/index.md
Owners: @mdn/yari-content-ko

chore(git): ignore `files/{de,it}`
  files/.gitignore
Owners: @mdn/core-yari-content

Apply suggestions from code review
  files/zh-tw/web/http/reference/status/103/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/status/102/index.md
  files/zh-tw/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/status/103/index.md
  files/zh-tw/web/http/reference/status/103/index.md
Owners: @mdn/yari-content-zh
