Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

flaws: mdn-linter fix
  files/fr/learn/html/tables/advanced/index.md
Owners: @mdn/yari-content-fr

flaws: mdn-linter fix
  files/fr/learn/html/tables/advanced/index.md
Owners: @mdn/yari-content-fr

fix: slugs update
  files/fr/learn/html/tables/advanced/index.md
Owners: @mdn/yari-content-fr

[zh-cn] fix min safe integer
  files/zh-cn/web/javascript/reference/global_objects/number/min_safe_integer/index.md
Owners: @mdn/yari-content-zh

create translate of HTML attribute: content
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

create translate of HTML attribute: content
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/html/reference/attributes/content/index.md
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

fix issue
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/html/reference/attributes/content/index.md
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/ja/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-ja

fix: slug
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

2025/04/18 時点の英語版に同期
  files/ja/web/css/clip/index.md
Owners: @mdn/yari-content-ja

2025/05/21 時点の英語版に同期
  files/ja/web/css/clip-path/index.md
  files/ja/web/css/clip-rule/index.md
Owners: @mdn/yari-content-ja

2025/04/08 時点の英語版に同期
  files/ja/web/api/workerglobalscope/setinterval/index.md
  files/ja/web/api/workerglobalscope/settimeout/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

2024/08/27 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/durationformat/supportedlocalesof/index.md
Owners: @mdn/yari-content-ja

小規模な修正
  files/ja/web/accessibility/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/ja/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clip-rule/index.md
  files/ja/web/svg/reference/attribute/clip/index.md
Owners: @mdn/yari-content-ja

2025/05/14 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clip-path/index.md
Owners: @mdn/yari-content-ja

2025/05/09 時点の英語版に同期
  files/ja/web/css/mask/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/mask/index.md
  files/ja/web/css/mask/index.md
Owners: @mdn/yari-content-ja

2025/05/21 時点の英語版に同期
  files/ja/web/css/css_masking/clipping/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clippathunits/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgclippathelement/transform/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/api/svgclippathelement/clippathunits/index.md
Owners: @mdn/yari-content-ja

2025/05/14 時点の英語版に同期
  files/ja/web/api/svgclippathelement/index.md
Owners: @mdn/yari-content-ja

2025/02/06 時点の英語版に同期
  files/ja/web/css/_colon_buffering/index.md
Owners: @mdn/yari-content-ja

update
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_building/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_building/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
Owners: @mdn/yari-content-zh

2025/04/30 時点の英語版に同期
  files/ja/learn_web_development/howto/design_and_accessibility/common_web_layouts/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/design_for_all_types_of_users/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/html_features_for_accessibility/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/what_is_accessibility/index.md
Owners: @mdn/yari-content-ja

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_building/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
