Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[zh-cn] sync translated content (#27868)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/zh-cn/web/javascript/guide/closures/index.md
  files/zh-cn/web/javascript/guide/inheritance_and_the_prototype_chain/index.md
  files/zh-cn/web/javascript/guide/using_classes/index.md
  files/zh-cn/web/javascript/reference/classes/constructor/index.md
  files/zh-cn/web/javascript/reference/classes/extends/index.md
  files/zh-cn/web/javascript/reference/classes/index.md
  files/zh-cn/web/javascript/reference/classes/private_elements/index.md
  files/zh-cn/web/javascript/reference/classes/public_class_fields/index.md
  files/zh-cn/web/javascript/reference/classes/static/index.md
  files/zh-cn/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/index.md
  files/zh-cn/web/javascript/reference/index.md
  files/zh-cn/web/javascript/reference/iteration_protocols/index.md
  files/zh-cn/web/javascript/reference/operators/delete/index.md
  files/zh-cn/web/javascript/reference/operators/object_initializer/index.md
  files/zh-cn/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create reference main page of mathml (#27861)
  files/zh-cn/web/mathml/reference/index.md
Owners: @mdn/yari-content-zh

fr: auto-fix content issues
  files/fr/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-fr

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/mozilla/firefox/releases/90/index.md
  files/ja/web/javascript/guide/closures/index.md
  files/ja/web/javascript/guide/using_classes/index.md
  files/ja/web/javascript/reference/classes/constructor/index.md
  files/ja/web/javascript/reference/classes/extends/index.md
  files/ja/web/javascript/reference/classes/index.md
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
  files/ja/web/javascript/reference/classes/static/index.md
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/ja/web/javascript/reference/global_objects/json/rawjson/index.md
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
  files/ja/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/seal/index.md
  files/ja/web/javascript/reference/global_objects/proxy/index.md
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.md
  files/ja/web/javascript/reference/index.md
  files/ja/web/javascript/reference/iteration_protocols/index.md
  files/ja/web/javascript/reference/lexical_grammar/index.md
  files/ja/web/javascript/reference/operators/in/index.md
  files/ja/web/javascript/reference/operators/object_initializer/index.md
  files/ja/web/javascript/reference/operators/property_accessors/index.md
  files/ja/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update API `XMLHttpRequest.status` property (#27646)
  files/zh-tw/web/api/xmlhttprequest/status/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `XMLHttpRequest.readyState` property (#27645)
  files/zh-tw/web/api/xmlhttprequest/readystate/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Throttle` (#27703)
  files/zh-cn/glossary/throttle/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-tw/glossary/attribute/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Glossary "Attribute" (#27667)
  files/zh-tw/glossary/attribute/index.md
Owners: @mdn/yari-content-zh

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-es

Update index.md
  files/zh-cn/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
  files/zh-cn/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
  files/zh-cn/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
Owners: @mdn/yari-content-ja

[es] sync translated content (#27866)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-es

Fix paths
  files/ja/glossary/slug/index.md
Owners: @mdn/yari-content-ja

run `prettier -w`
  files/es/web/accessibility/aria/reference/attributes/index.md
  files/fr/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/fr/web/accessibility/aria/attributes/index.md
  files/fr/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/fr/web/javascript/reference/statements/const/index.md
  files/ja/learn_web_development/core/scripting/what_went_wrong/index.md
  files/ja/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/ja/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/ja/web/accessibility/aria/reference/attributes/index.md
  files/ko/learn_web_development/core/scripting/what_went_wrong/index.md
  files/ko/web/accessibility/aria/reference/attributes/index.md
  files/ko/web/api/view_transition_api/index.md
  files/pt-br/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/pt-br/web/javascript/reference/statements/const/index.md
  files/ru/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/ru/web/javascript/reference/statements/const/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/zh-cn/web/api/element/attachshadow/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

[zh-TW]: API `WebSocket API` (#27649)
  files/zh-tw/web/api/websockets_api/index.md
Owners: @mdn/yari-content-zh

Fix `スラグ` to `スラッグ`
  files/ja/glossary/slug/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/zh-cn/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Owners: @mdn/yari-content-zh

zh-CN: unify term static site (#27718)
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/zh-cn/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Owners: @mdn/yari-content-zh

Fix link text
  files/ja/glossary/slug/index.md
Owners: @mdn/yari-content-ja

Update syntax
  files/ja/glossary/slug/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update landing page of HTTP Status (#27641)
  files/zh-tw/web/http/reference/status/index.md
Owners: @mdn/yari-content-zh

feat: improvement and unify term site
  files/zh-cn/glossary/ssg/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/ja/web/javascript/reference/operators/in/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/security/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/security/index.md
  files/zh-cn/web/security/index.md
Owners: @mdn/yari-content-zh

chore(deps): bump node from v20 to v22
  .nvmrc
  package.json
Owners: @mdn/core-dev

zh-CN: create translation of `Learn_web_development: Changelog` (#27845)
  files/zh-cn/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API "Using XMLHttpRequest" (#27642)
  files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of "js13kGames" landing page (#27765)
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update 'security on the web' (#27854)
  files/zh-cn/web/security/index.md
Owners: @mdn/yari-content-zh

Supprimer le mot "interface" qui apparaissait deux fois suite à une erreur de traduction (#27619)
  files/fr/web/api/event/index.md
Owners: @mdn/yari-content-fr

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
