Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

feat(l10n): translation of `Web/API/KeyframeEffect/composite`
  files/fr/web/api/keyframeeffect/composite/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/KeyframeEffect/iterationComposite`
  files/fr/web/api/keyframeeffect/iterationComposite/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/KeyframeEffect/pseudoElement`
  files/fr/web/api/keyframeeffect/pseudoElement/index.md
Owners: @mdn/yari-content-fr

fix: missing eol
  files/fr/web/api/keyframeeffect/composite/index.md
  files/fr/web/api/keyframeeffect/iterationComposite/index.md
Owners: @mdn/yari-content-fr

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-ko

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-ru

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/cssom_view_api/coordinate_systems/index.md
  files/ja/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-ja

feat(l10n): translation of `Web/API/KeyframeEffect/target`
  files/fr/web/api/keyframeeffect/target/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/KeyframeEffect/getKeyframes`
  files/fr/web/api/keyframeeffect/getKeyframes/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/KeyframeEffect/setKeyframes`
  files/fr/web/api/keyframeeffect/setKeyframes/index.md
Owners: @mdn/yari-content-fr

fix: wording and markdown of elements
  files/fr/web/api/keyframeeffect/composite/index.md
  files/fr/web/api/keyframeeffect/getKeyframes/index.md
  files/fr/web/api/keyframeeffect/iterationComposite/index.md
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/setKeyframes/index.md
Owners: @mdn/yari-content-fr

fix(lint): change spacing on content
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/pseudoElement/index.md
Owners: @mdn/yari-content-fr

temp: fixe folder name on windows
  files/fr/web/api/keyframeeffect/composite/index.md
  files/fr/web/api/keyframeeffect/getKeyframes/index.md
  files/fr/web/api/keyframeeffect/iterationComposite/index.md
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/pseudoElement/index.md
  files/fr/web/api/keyframeeffect/setKeyframes/index.md
  files/fr/web/api/keyframeeffect/target/index.md
Owners: @mdn/yari-content-fr

fix: folder name to lowercase
  files/fr/web/api/keyframeeffect/composite/index.md
  files/fr/web/api/keyframeeffect/getkeyframes/index.md
  files/fr/web/api/keyframeeffect/iterationcomposite/index.md
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/pseudoelement/index.md
  files/fr/web/api/keyframeeffect/setkeyframes/index.md
  files/fr/web/api/keyframeeffect/target/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/API`
  files/fr/web/api/index.md
Owners: @mdn/yari-content-fr

Apply suggestion from @PassionPenguin
  files/zh-cn/web/api/timeranges/start/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of TimeRanges `start()` method (#29044)
  files/zh-cn/web/api/timeranges/start/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-cn/web/css/color_value/rgb/index.md
  files/zh-cn/web/css/css_colors/applying_color/index.md
  files/zh-cn/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

update links
  files/zh-cn/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-tw/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-tw/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/css_colors/color_picker/index.md
  files/zh-cn/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

[zh-tw] sync translated content (#29056)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-tw/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#29054)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-cn/web/css/color_value/rgb/index.md
  files/zh-cn/web/css/css_colors/applying_color/index.md
  files/zh-cn/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-zh

feat(l10n): translation of `Web/HTML/Reference/Elements/search`
  files/fr/web/html/reference/elements/search/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/search_role`
  files/fr/web/accessibility/aria/reference/roles/search_role/index.md
Owners: @mdn/yari-content-fr

fix: typo
  files/fr/web/html/reference/elements/search/index.md
Owners: @mdn/yari-content-fr

fix: example line break
  files/fr/web/accessibility/aria/reference/roles/search_role/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/API` (#29059)
  files/fr/web/api/index.md
Owners: @mdn/yari-content-fr

updt(l10n): updated `Web/API/CSSOM_view_API/Coordinate_systems`
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/cssom_view_api/coordinate_systems/css-coords.svg
  files/fr/web/api/cssom_view_api/coordinate_systems/index.md
  files/fr/web/css/cssom_view/coordinate_systems/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/CSSOM_view_API`
  files/fr/web/api/cssom_view_api/index.md
Owners: @mdn/yari-content-fr

fix(lint): removed script tag on svg
  files/fr/web/api/cssom_view_api/coordinate_systems/css-coords.svg
Owners: @mdn/yari-content-fr

zh-CN: sync games translated content
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Owners: @mdn/yari-content-zh

zh-CN: sync games translated content
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Owners: @mdn/yari-content-zh

feat(l10n): translation of `Web/CSS/CSS_Values_and_Units/CSS_Value_Functions`
  files/fr/web/css/css_values_and_units/css_value_functions/index.md
Owners: @mdn/yari-content-fr

fix(lint): spacing on list item
  files/fr/web/css/css_values_and_units/css_value_functions/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/CSS/CSS_Values_and_Units/CSS_data_types`
  files/fr/web/css/css_values_and_units/css_data_types/index.md
Owners: @mdn/yari-content-fr

fix(lint): spacing
  files/fr/web/css/css_values_and_units/css_data_types/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/CSS/CSS_Values_and_Units/Numeric_data_types`
  files/fr/web/css/css_values_and_units/numeric_data_types/index.md
Owners: @mdn/yari-content-fr

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
