Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/glossary/layout_mode/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/css/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/html/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/ja/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/ja/web/css/css_display/visual_formatting_model/index.md
  files/ja/web/css/css_scroll_anchoring/scroll_anchoring/index.md
  files/ja/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Owners: @mdn/yari-content-ja

[ko] Throttle 신규 번역
  files/ko/glossary/throttle/index.md
Owners: @mdn/yari-content-ko

ci(auto-cleanup-bot): fix flaws + rename from markdown-lint-fix (#26513)
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

Apply suggestions from code review
  files/es/learn_web_development/getting_started/soft_skills/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/getting_started/soft_skills (#26333)
  files/es/learn_web_development/getting_started/soft_skills/index.md
Owners: @mdn/yari-content-es

ファイルを移動
  files/ja/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

slugを修正
  files/ja/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/URI 以下になるリンクを一括修正
  files/ja/mozilla/add-ons/webextensions/content_scripts/index.md
  files/ja/mozilla/firefox/releases/10/index.md
  files/ja/mozilla/firefox/releases/12/index.md
  files/ja/mozilla/firefox/releases/131/index.md
  files/ja/mozilla/firefox/releases/136/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ja/web/api/canvas_api/tutorial/using_images/index.md
  files/ja/web/api/document/domain/index.md
  files/ja/web/api/document/fragmentdirective/index.md
  files/ja/web/api/filereader/readasdataurl/index.md
  files/ja/web/api/fragmentdirective/index.md
  files/ja/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/ja/web/api/htmlcanvaselement/todataurl/index.md
  files/ja/web/api/websocket/websocket/index.md
  files/ja/web/api/window/atob/index.md
  files/ja/web/api/window/btoa/index.md
  files/ja/web/api/workerglobalscope/atob/index.md
  files/ja/web/api/workerglobalscope/btoa/index.md
  files/ja/web/api/xmlhttprequest/responsexml/index.md
  files/ja/web/css/css_pseudo-elements/index.md
  files/ja/web/html/element/a/index.md
  files/ja/web/html/element/audio/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-ancestors/index.md
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/Apps/Progressive 以下になるリンクを一括修正
  files/ja/glossary/application_context/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/mozilla/firefox/releases/52/index.md
  files/ja/mozilla/firefox/releases/57/index.md
  files/ja/mozilla/firefox/releases/79/index.md
  files/ja/web/api/navigator/getinstalledrelatedapps/index.md
  files/ja/web/api/navigator/windowcontrolsoverlay/index.md
  files/ja/web/api/web_share_api/index.md
  files/ja/web/api/window/appinstalled_event/index.md
  files/ja/web/api/window/index.md
  files/ja/web/css/@media/display-mode/index.md
  files/ja/web/css/@media/index.md
  files/ja/web/css/env/index.md
  files/ja/web/events/index.md
  files/ja/web/html/attributes/rel/index.md
  files/ja/web/html/attributes/rel/manifest/index.md
  files/ja/web/http/reference/headers/content-security-policy/manifest-src/index.md
  files/ja/web/index.md
  files/ja/web/progressive_web_apps/guides/best_practices/index.md
  files/ja/web/progressive_web_apps/guides/installing/index.md
  files/ja/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/ja/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/MathML 以下になるリンクを一括修正
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/106/index.md
  files/ja/mozilla/firefox/releases/107/index.md
  files/ja/mozilla/firefox/releases/118/index.md
  files/ja/mozilla/firefox/releases/15/index.md
  files/ja/mozilla/firefox/releases/24/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/mozilla/firefox/releases/71/index.md
  files/ja/mozilla/firefox/releases/8/index.md
  files/ja/mozilla/firefox/releases/83/index.md
  files/ja/mozilla/firefox/releases/9/index.md
  files/ja/web/css/@namespace/index.md
  files/ja/web/html/element/sub/index.md
  files/ja/web/html/element/sup/index.md
  files/ja/web/mathml/guides/authoring/index.md
  files/ja/web/mathml/guides/index.md
  files/ja/web/mathml/index.md
  files/ja/web/mathml/reference/attribute/index.md
  files/ja/web/mathml/reference/element/index.md
  files/ja/web/mathml/reference/element/math/index.md
  files/ja/web/mathml/reference/element/mi/index.md
  files/ja/web/mathml/reference/element/mmultiscripts/index.md
  files/ja/web/mathml/reference/element/mo/index.md
  files/ja/web/mathml/reference/element/mspace/index.md
  files/ja/web/mathml/reference/element/msub/index.md
  files/ja/web/mathml/reference/element/msubsup/index.md
  files/ja/web/mathml/reference/element/msup/index.md
  files/ja/web/mathml/reference/element/mtable/index.md
  files/ja/web/mathml/reference/global_attributes/index.md
  files/ja/web/mathml/tutorials/for_beginners/fractions_and_roots/index.md
  files/ja/web/mathml/tutorials/for_beginners/getting_started/index.md
  files/ja/web/mathml/tutorials/for_beginners/scripts/index.md
  files/ja/web/mathml/tutorials/for_beginners/tables/index.md
  files/ja/web/mathml/tutorials/for_beginners/text_containers/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/es/learn_web_development/core/styling_basics/cool-looking_box/index.md
Owners: @mdn/yari-content-es

ファイルを移動
  files/ja/mdn/writing_guidelines/code_style_guide/css/index.md
Owners: @mdn/yari-content-ja

ファイルを移動
  files/ja/mdn/writing_guidelines/code_style_guide/javascript/index.md
Owners: @mdn/yari-content-ja

[es]: Agrega traducción de files/en-us/learn_web_development/core/styling_basics/cool-looking_box (#26357)
  files/es/learn_web_development/core/styling_basics/cool-looking_box/index.md
Owners: @mdn/yari-content-es

リダイレクト先が Learn_web_development/Core/Scripting 以下になるリンクの一括修正 (#26478)
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/learn_web_development/extensions/performance/index.md
  files/ja/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/ja/web/api/eventsource/index.md
  files/ja/web/api/eventtarget/index.md
  files/ja/web/api/html_dom_api/index.md
  files/ja/web/api/idbtransaction/abort_event/index.md
  files/ja/web/api/idbtransaction/error_event/index.md
  files/ja/web/api/mouseevent/relatedtarget/index.md
  files/ja/web/api/serialport/connect_event/index.md
  files/ja/web/api/serialport/disconnect_event/index.md
  files/ja/web/api/server-sent_events/index.md
  files/ja/web/api/uievent/index.md
  files/ja/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/ja/web/css/calc-sum/index.md
  files/ja/web/css/calc/index.md
  files/ja/web/events/creating_and_triggering_events/index.md
  files/ja/web/events/event_handlers/index.md
  files/ja/web/events/index.md
  files/ja/web/javascript/index.md
  files/ja/web/javascript/reference/errors/index.md
  files/ja/web/javascript/reference/errors/missing_parenthesis_after_condition/index.md
  files/ja/web/javascript/reference/global_objects/array/index.md
  files/ja/web/javascript/reference/operators/conditional_operator/index.md
  files/ja/web/javascript/reference/template_literals/index.md
Owners: @mdn/yari-content-ja

zh-tw: auto-fix content issues
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/es/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/core/styling_basics/fancy_letterheaded_paper (#26390)
  files/es/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
Owners: @mdn/yari-content-es

サンプルコードの間違いを修正
  files/ja/web/api/document/selectionchange_event/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/CSS/CSS_positioned_layout 以下になるリンクを一括修正
  files/ja/glossary/stacking_context/index.md
  files/ja/glossary/top_layer/index.md
  files/ja/web/css/clip-path/index.md
  files/ja/web/css/contain/index.md
  files/ja/web/css/css_compositing_and_blending/index.md
  files/ja/web/css/css_display/visual_formatting_model/index.md
  files/ja/web/css/index.md
  files/ja/web/css/opacity/index.md
  files/ja/web/css/perspective/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/transform/index.md
  files/ja/web/css/will-change/index.md
  files/ja/web/css/z-index/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/es/learn_web_development/core/design_for_developers/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/learn_web_development/core/design_for_developers/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/core/design_for_developers (#26413)
  files/es/learn_web_development/core/design_for_developers/index.md
Owners: @mdn/yari-content-es

add dot to end of second paragraph (#26446)
  files/es/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-es

[zh-tw] auto-fix content issues (#26522)
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/orphaned/web/api/htmlelement/contextmenu/index.md
  files/ja/web/css/css_filter_effects/index.md
Owners: @mdn/yari-content-ja

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/web/svg/reference/attribute/baseline-shift/index.md
  files/ja/web/svg/reference/attribute/display/index.md
  files/ja/web/svg/reference/attribute/dominant-baseline/index.md
  files/ja/web/svg/reference/attribute/font-size/index.md
  files/ja/web/svg/reference/attribute/rotate/index.md
  files/ja/web/svg/reference/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

更新 index.md
  files/zh-cn/learn_web_development/core/scripting/loops/index.md
Owners: @mdn/yari-content-zh

translate aria-sort
  files/ja/web/accessibility/aria/reference/attributes/aria-sort/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/orphaned/web/api/htmlelement/contextmenu/index.md
  files/ja/web/css/css_filter_effects/index.md
Owners: @mdn/yari-content-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/web/svg/reference/attribute/baseline-shift/index.md
  files/ja/web/svg/reference/attribute/display/index.md
  files/ja/web/svg/reference/attribute/dominant-baseline/index.md
  files/ja/web/svg/reference/attribute/font-size/index.md
  files/ja/web/svg/reference/attribute/rotate/index.md
  files/ja/web/svg/reference/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/css_positioned_layout/using_z-index/index.md
  files/ja/web/css/css_positioned_layout/using_z-index/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/learn_web_development/core/scripting/return_values/index.md
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

2025/02/18 時点の英語版に同期
  files/ja/web/xml/guides/opensearch/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/guides/index.md
  files/ja/web/xml/guides/xml_introduction/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期 (#26456)
  files/ja/web/xml/guides/parsing_and_serializing_xml/index.md
Owners: @mdn/yari-content-ja

aria-ownsを翻訳 (#26458)
  files/ja/web/accessibility/aria/reference/attributes/aria-owns/index.md
Owners: @mdn/yari-content-ja

aria-placeholderを翻訳 (#26484)
  files/ja/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-ja

[@@...] を [Symbol....] へ一括置換
  files/ja/mozilla/firefox/releases/44/index.md
  files/ja/mozilla/firefox/releases/48/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/web/api/filesystemdirectoryhandle/index.md
  files/ja/web/javascript/reference/functions/arguments/index.md
  files/ja/web/javascript/reference/functions/arguments/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/arraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/asyncfunction/index.md
  files/ja/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/ja/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/ja/web/javascript/reference/global_objects/asynciterator/index.md
  files/ja/web/javascript/reference/global_objects/bigint/index.md
  files/ja/web/javascript/reference/global_objects/bigint64array/index.md
  files/ja/web/javascript/reference/global_objects/biguint64array/index.md
  files/ja/web/javascript/reference/global_objects/date/date/index.md
  files/ja/web/javascript/reference/global_objects/date/index.md
  files/ja/web/javascript/reference/global_objects/float32array/index.md
  files/ja/web/javascript/reference/global_objects/float64array/index.md
  files/ja/web/javascript/reference/global_objects/function/symbol.hasinstance/index.md
  files/ja/web/javascript/reference/global_objects/int16array/index.md
  files/ja/web/javascript/reference/global_objects/int32array/index.md
  files/ja/web/javascript/reference/global_objects/int8array/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/symbol.species/index.md
  files/ja/web/javascript/reference/global_objects/string/tostring/index.md
  files/ja/web/javascript/reference/global_objects/symbol/index.md
  files/ja/web/javascript/reference/global_objects/symbol/split/index.md
  files/ja/web/javascript/reference/global_objects/uint16array/index.md
  files/ja/web/javascript/reference/global_objects/uint32array/index.md
  files/ja/web/javascript/reference/global_objects/uint8array/index.md
  files/ja/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/ja/web/javascript/reference/global_objects/weakref/index.md
  files/ja/web/javascript/reference/statements/for-await...of/index.md
  files/ja/web/javascript/reference/statements/with/index.md
  files/ja/webassembly/reference/javascript_interface/global/index.md
Owners: @mdn/yari-content-ja
