Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

ja: auto-fix content issues
  files/ja/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/ja/web/css/color_value/color/index.md
  files/ja/web/css/color_value/hsl/index.md
  files/ja/web/css/color_value/rgb/index.md
Owners: @mdn/yari-content-ja

2025/09/22 時点の英語版に基づき更新
  files/ja/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-ja

2025/09/17 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/movebefore/index.md
Owners: @mdn/yari-content-ja

Element: setHTML() を新規翻訳
  files/ja/_redirects.txt
  files/ja/web/api/element/index.md
  files/ja/web/api/element/sethtml/index.md
Owners: @mdn/yari-content-ja

2025/09/17 時点の英語版に基づき新規翻訳
  files/ja/web/api/document/movebefore/index.md
  files/ja/web/api/documentfragment/movebefore/index.md
Owners: @mdn/yari-content-ja

2025/09/17 時点の英語版に基づき更新
  files/ja/web/api/document/index.md
  files/ja/web/api/documentfragment/index.md
Owners: @mdn/yari-content-ja

fix broken links
  files/zh-tw/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
Owners: @mdn/yari-content-zh

remove origin_slug
  files/zh-tw/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

[zh-tw] sync translated content (#29181)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-tw/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of Window `screen` property (#29086)
  files/zh-cn/web/api/window/screen/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-cn/web/css/color_value/rgb/index.md
  files/zh-cn/web/css/css_colors/applying_color/index.md
  files/zh-cn/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#29182)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/zh-cn/web/css/color_value/rgb/index.md
  files/zh-cn/web/css/css_colors/applying_color/index.md
  files/zh-cn/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

2025/06/24 時点の英語版に基づき新規翻訳
  files/ja/web/api/document/parsehtml_static/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に基づき新規翻訳
  files/ja/web/api/document/scrollsnapchange_event/index.md
  files/ja/web/api/document/scrollsnapchanging_event/index.md
Owners: @mdn/yari-content-ja

fr: create `Web/Accessibility/ARIA/Reference/Roles/img_role` (#29117)
  files/fr/web/accessibility/aria/reference/roles/img_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/input_role` (#29118)
  files/fr/web/accessibility/aria/reference/roles/input_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/landmark_role` (#29147)
  files/fr/web/accessibility/aria/reference/roles/landmark_role/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/Accessibility/ARIA/Reference/Roles/link_role` (#29148)
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr

Fix formatting in listitem role link
  files/fr/web/accessibility/aria/reference/roles/list_role/index.md
Owners: @mdn/yari-content-fr

Fix formatting of keyboard navigation instructions
  files/fr/web/accessibility/aria/reference/roles/listbox_role/index.md
Owners: @mdn/yari-content-fr

Refactor keyboard navigation instructions in index.md
  files/fr/web/accessibility/aria/reference/roles/listbox_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/listitem_role` (#29151)
  files/fr/web/accessibility/aria/reference/roles/listitem_role/index.md
Owners: @mdn/yari-content-fr

Minor fix
  files/fr/web/accessibility/aria/reference/roles/log_role/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/Accessibility/ARIA/Reference/Roles/listbox_role` (#29150)
  files/fr/web/accessibility/aria/reference/roles/listbox_role/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/Accessibility/ARIA/Reference/Roles/log_role` (#29152)
  files/fr/web/accessibility/aria/reference/roles/log_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/list_role` (#29149)
  files/fr/web/accessibility/aria/reference/roles/list_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/main_role` (#29159)
  files/fr/web/accessibility/aria/reference/roles/main_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/mark_role` (#29160)
  files/fr/web/accessibility/aria/reference/roles/mark_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/marquee_role` (#29161)
  files/fr/web/accessibility/aria/reference/roles/marquee_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/math_role` (#29162)
  files/fr/web/accessibility/aria/reference/roles/math_role/index.md
Owners: @mdn/yari-content-fr

Update aria external link alt text
  files/fr/web/accessibility/aria/reference/roles/menu_role/index.md
Owners: @mdn/yari-content-fr

Refine menubar role description in French
  files/fr/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/menu_role` (#29163)
  files/fr/web/accessibility/aria/reference/roles/menu_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/menubar_role` (#29164)
  files/fr/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/menuitem_role` (#29165)
  files/fr/web/accessibility/aria/reference/roles/menuitem_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/menuitemcheckbox_role` (#29166)
  files/fr/web/accessibility/aria/reference/roles/menuitemcheckbox_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/menuitemradio_role` (#29167)
  files/fr/web/accessibility/aria/reference/roles/menuitemradio_role/index.md
Owners: @mdn/yari-content-fr

Fix typo in meter role description
  files/fr/web/accessibility/aria/reference/roles/meter_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference/Roles/meter_role` (#29168)
  files/fr/web/accessibility/aria/reference/roles/meter_role/index.md
Owners: @mdn/yari-content-fr

2025/08/26 時点の英語版に基づき更新
  files/ja/web/css/color/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
