Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.update()` (#26322)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Owners: @mdn/yari-content-zh

誤字を訂正
  files/ja/web/api/cssconditionrule/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `windows.Window` (#26325)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-tw/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-tw/web/api/svganimatedboolean/animval/index.md
  files/zh-tw/web/api/svganimatedboolean/baseval/index.md
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/title/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Owners: @mdn/yari-content-zh

[zh-tw] sync translated content (#26466)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-tw/web/api/svganimatedboolean/animval/index.md
  files/zh-tw/web/api/svganimatedboolean/baseval/index.md
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/title/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorial/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Owners: @mdn/yari-content-zh

fix typo (missing letter)
  files/fr/web/http/headers/content-encoding/index.md
Owners: @mdn/yari-content-fr

minor
  files/zh-cn/web/api/cssstylevalue/index.md
  files/zh-cn/web/api/cssstylevalue/parse_static/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSStyleValue interface and its static method (#26422)
  files/zh-cn/web/api/cssstylevalue/index.md
  files/zh-cn/web/api/cssstylevalue/parse_static/index.md
  files/zh-cn/web/api/cssstylevalue/parseall_static/index.md
Owners: @mdn/yari-content-zh

2025/03/12 時点の英語版に同期
  files/ja/web/css/css_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/glossary/scroll_snap/index.md
  files/ja/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
  files/ja/web/css/overflow-anchor/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

aria-haspopupを翻訳 (#26354)
  files/ja/web/accessibility/aria/reference/attributes/aria-busy/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-checked/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-ja

Update DataView.setUint16 fr reference
  files/fr/web/javascript/reference/global_objects/dataview/setuint16/index.md
Owners: @mdn/yari-content-fr

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Owners: @mdn/yari-content-ru

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Owners: @mdn/yari-content-ru

リダイレクト先が Learn_web_development/Core/Scripting 以下になるリンクの一括修正
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/learn_web_development/extensions/performance/index.md
  files/ja/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/ja/web/api/eventsource/index.md
  files/ja/web/api/eventtarget/index.md
  files/ja/web/api/html_dom_api/index.md
  files/ja/web/api/idbtransaction/abort_event/index.md
  files/ja/web/api/idbtransaction/error_event/index.md
  files/ja/web/api/mouseevent/relatedtarget/index.md
  files/ja/web/api/serialport/connect_event/index.md
  files/ja/web/api/serialport/disconnect_event/index.md
  files/ja/web/api/server-sent_events/index.md
  files/ja/web/api/uievent/index.md
  files/ja/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/ja/web/css/calc-sum/index.md
  files/ja/web/css/calc/index.md
  files/ja/web/events/creating_and_triggering_events/index.md
  files/ja/web/events/event_handlers/index.md
  files/ja/web/events/index.md
  files/ja/web/javascript/index.md
  files/ja/web/javascript/reference/errors/index.md
  files/ja/web/javascript/reference/errors/missing_parenthesis_after_condition/index.md
  files/ja/web/javascript/reference/global_objects/array/index.md
  files/ja/web/javascript/reference/operators/conditional_operator/index.md
  files/ja/web/javascript/reference/template_literals/index.md
Owners: @mdn/yari-content-ja

fix after review
  files/ru/web/javascript/reference/statements/index.md
Owners: @mdn/yari-content-ru

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Owners: @mdn/yari-content-ru

リダイレクト先が Web/URI 以下になるリンクを一括修正
  files/ja/mozilla/add-ons/webextensions/content_scripts/index.md
  files/ja/mozilla/firefox/releases/10/index.md
  files/ja/mozilla/firefox/releases/12/index.md
  files/ja/mozilla/firefox/releases/131/index.md
  files/ja/mozilla/firefox/releases/136/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ja/web/api/canvas_api/tutorial/using_images/index.md
  files/ja/web/api/document/domain/index.md
  files/ja/web/api/document/fragmentdirective/index.md
  files/ja/web/api/filereader/readasdataurl/index.md
  files/ja/web/api/fragmentdirective/index.md
  files/ja/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/ja/web/api/htmlcanvaselement/todataurl/index.md
  files/ja/web/api/websocket/websocket/index.md
  files/ja/web/api/window/atob/index.md
  files/ja/web/api/window/btoa/index.md
  files/ja/web/api/workerglobalscope/atob/index.md
  files/ja/web/api/workerglobalscope/btoa/index.md
  files/ja/web/api/xmlhttprequest/responsexml/index.md
  files/ja/web/css/css_pseudo-elements/index.md
  files/ja/web/html/element/a/index.md
  files/ja/web/html/element/audio/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-ancestors/index.md
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

[ru] improve `Web/JavaScript/Reference/Statements` translation (#26209)
  files/ru/web/javascript/reference/statements/index.md
Owners: @mdn/yari-content-ru

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
Owners: @mdn/yari-content-zh

リダイレクト先が Web/Apps/Progressive 以下になるリンクを一括修正
  files/ja/glossary/application_context/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/mozilla/firefox/releases/52/index.md
  files/ja/mozilla/firefox/releases/57/index.md
  files/ja/mozilla/firefox/releases/79/index.md
  files/ja/web/api/navigator/getinstalledrelatedapps/index.md
  files/ja/web/api/navigator/windowcontrolsoverlay/index.md
  files/ja/web/api/web_share_api/index.md
  files/ja/web/api/window/appinstalled_event/index.md
  files/ja/web/api/window/index.md
  files/ja/web/css/@media/display-mode/index.md
  files/ja/web/css/@media/index.md
  files/ja/web/css/env/index.md
  files/ja/web/events/index.md
  files/ja/web/html/attributes/rel/index.md
  files/ja/web/html/attributes/rel/manifest/index.md
  files/ja/web/http/reference/headers/content-security-policy/manifest-src/index.md
  files/ja/web/index.md
  files/ja/web/progressive_web_apps/guides/best_practices/index.md
  files/ja/web/progressive_web_apps/guides/installing/index.md
  files/ja/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/ja/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
Owners: @mdn/yari-content-ja

Update files/ja/mozilla/add-ons/webextensions/api/proxy/index.md
  files/ja/mozilla/add-ons/webextensions/api/proxy/index.md
Owners: @mdn/yari-content-ja

feat: Add Lefthook for precommit hooks
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  yarn.lock
Owners: @mdn/core-dev

feat: Add Lefthook for precommit hooks
  yarn.lock
Owners: @mdn/core-dev

translate aria-placeholder
  files/ja/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/html/element/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/geolocationpositionerror/index.md
  files/ja/web/api/geolocationpositionerror/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/geolocationpositionerror/index.md
  files/ja/web/api/geolocationpositionerror/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
  files/ja/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/html/element/index.md
  files/ja/web/html/element/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/html/element/index.md
  files/ja/web/html/element/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/svg/reference/attribute/x1/index.md
  files/ja/web/svg/reference/attribute/x1/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/svg/reference/attribute/x1/index.md
  files/ja/web/svg/reference/attribute/x1/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/MathML 以下になるリンクを一括修正
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/106/index.md
  files/ja/mozilla/firefox/releases/107/index.md
  files/ja/mozilla/firefox/releases/118/index.md
  files/ja/mozilla/firefox/releases/15/index.md
  files/ja/mozilla/firefox/releases/24/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/mozilla/firefox/releases/71/index.md
  files/ja/mozilla/firefox/releases/8/index.md
  files/ja/mozilla/firefox/releases/83/index.md
  files/ja/mozilla/firefox/releases/9/index.md
  files/ja/web/css/@namespace/index.md
  files/ja/web/html/element/sub/index.md
  files/ja/web/html/element/sup/index.md
  files/ja/web/mathml/guides/authoring/index.md
  files/ja/web/mathml/guides/index.md
  files/ja/web/mathml/index.md
  files/ja/web/mathml/reference/attribute/index.md
  files/ja/web/mathml/reference/element/index.md
  files/ja/web/mathml/reference/element/math/index.md
  files/ja/web/mathml/reference/element/mi/index.md
  files/ja/web/mathml/reference/element/mmultiscripts/index.md
  files/ja/web/mathml/reference/element/mo/index.md
  files/ja/web/mathml/reference/element/mspace/index.md
  files/ja/web/mathml/reference/element/msub/index.md
  files/ja/web/mathml/reference/element/msubsup/index.md
  files/ja/web/mathml/reference/element/msup/index.md
  files/ja/web/mathml/reference/element/mtable/index.md
  files/ja/web/mathml/reference/global_attributes/index.md
  files/ja/web/mathml/tutorials/for_beginners/fractions_and_roots/index.md
  files/ja/web/mathml/tutorials/for_beginners/getting_started/index.md
  files/ja/web/mathml/tutorials/for_beginners/scripts/index.md
  files/ja/web/mathml/tutorials/for_beginners/tables/index.md
  files/ja/web/mathml/tutorials/for_beginners/text_containers/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/index.md
  files/ja/web/mathml/tutorials/for_beginners/index.md
  files/ja/web/mathml/tutorials/index.md
Owners: @mdn/yari-content-ja

[es]: Agrega traducción de files/en-us/learn_web_development/core/css_layout/media_queries
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Owners: @mdn/yari-content-es

chore(zh-cn): organize vue docs (#26449)
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_styling/index.md
Owners: @mdn/yari-content-zh
