Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update index.md
  files/zh-cn/web/api/audiolistener/forwardz/index.md
Owners: @mdn/yari-content-zh

2025/07/14 時点の英語版に基づき更新 (#28441)
  files/ja/web/css/inherit/index.md
  files/ja/web/css/log/index.md
  files/ja/web/css/max/index.md
  files/ja/web/css/min/index.md
  files/ja/web/css/pow/index.md
  files/ja/web/css/sqrt/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/url_function/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_values_and_units/value_definition_syntax/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新 (#28444)
  files/ja/web/css/display/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/order/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/visibility/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/visibility/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に基づき新規翻訳
  files/ja/web/svg/reference/attribute/pointer-events/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき新規翻訳
  files/ja/web/svg/reference/attribute/tabindex/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/css_display/visual_formatting_model/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/display-box/index.md
  files/ja/web/css/display-inside/index.md
  files/ja/web/css/display-internal/index.md
  files/ja/web/css/display-legacy/index.md
  files/ja/web/css/display-listitem/index.md
  files/ja/web/css/display-outside/index.md
Owners: @mdn/yari-content-ja

2025/08/08 時点の英語版に基づき新規翻訳
  files/ja/web/css/css_easing_functions/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/index.md
Owners: @mdn/yari-content-ja

2024/09/23 時点の英語版に基づき更新
  files/ja/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-ja

2025/08/5 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/error_handling/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/promise/all/index.md
  files/ja/web/javascript/reference/global_objects/promise/allsettled/index.md
  files/ja/web/javascript/reference/global_objects/promise/any/index.md
  files/ja/web/javascript/reference/global_objects/promise/catch/index.md
  files/ja/web/javascript/reference/global_objects/promise/finally/index.md
  files/ja/web/javascript/reference/global_objects/promise/index.md
  files/ja/web/javascript/reference/global_objects/promise/promise/index.md
  files/ja/web/javascript/reference/global_objects/promise/race/index.md
  files/ja/web/javascript/reference/global_objects/promise/reject/index.md
  files/ja/web/javascript/reference/global_objects/promise/resolve/index.md
  files/ja/web/javascript/reference/global_objects/promise/symbol.species/index.md
  files/ja/web/javascript/reference/global_objects/promise/try/index.md
  files/ja/web/javascript/reference/global_objects/promise/withresolvers/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/javascript/reference/global_objects/promise/index.md
Owners: @mdn/yari-content-ja

2025/07/16 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/javascript/reference/global_objects/string/string/index.md
  files/ja/web/javascript/reference/global_objects/string/string/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/string/fromcharcode/index.md
  files/ja/web/javascript/reference/global_objects/string/fromcodepoint/index.md
  files/ja/web/javascript/reference/global_objects/string/index.md
  files/ja/web/javascript/reference/global_objects/string/length/index.md
  files/ja/web/javascript/reference/global_objects/string/raw/index.md
  files/ja/web/javascript/reference/global_objects/string/string/index.md
Owners: @mdn/yari-content-ja

translate tablist role
  files/ja/web/accessibility/aria/reference/roles/tablist_role/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/object/assign/index.md
  files/ja/web/javascript/reference/global_objects/object/create/index.md
  files/ja/web/javascript/reference/global_objects/object/defineproperties/index.md
  files/ja/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/ja/web/javascript/reference/global_objects/object/entries/index.md
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
  files/ja/web/javascript/reference/global_objects/object/fromentries/index.md
  files/ja/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
  files/ja/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.md
  files/ja/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/ja/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
  files/ja/web/javascript/reference/global_objects/object/getprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/groupby/index.md
  files/ja/web/javascript/reference/global_objects/object/hasown/index.md
  files/ja/web/javascript/reference/global_objects/object/index.md
  files/ja/web/javascript/reference/global_objects/object/is/index.md
  files/ja/web/javascript/reference/global_objects/object/isextensible/index.md
  files/ja/web/javascript/reference/global_objects/object/isfrozen/index.md
  files/ja/web/javascript/reference/global_objects/object/issealed/index.md
  files/ja/web/javascript/reference/global_objects/object/keys/index.md
  files/ja/web/javascript/reference/global_objects/object/object/index.md
  files/ja/web/javascript/reference/global_objects/object/preventextensions/index.md
  files/ja/web/javascript/reference/global_objects/object/seal/index.md
  files/ja/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/values/index.md
Owners: @mdn/yari-content-ja

translate tabpanel role
  files/ja/web/accessibility/aria/reference/roles/tabpanel_role/index.md
Owners: @mdn/yari-content-ja

[es] auto-fix content issues (#28538)
  files/es/glossary/whitespace/index.md
Owners: @mdn/yari-content-es

[ko] meta programming 신규 번역 (#28472)
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

fix: Correct typo '층분' to '충분'
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Owners: @mdn/yari-content-ko

translate timer and section role
  files/ja/web/accessibility/aria/reference/roles/section_role/index.md
  files/ja/web/accessibility/aria/reference/roles/timer_role/index.md
Owners: @mdn/yari-content-ja

[ko] fix: 연산자 관련 오역 수정, 연산자 -> 피연산자 (#28058) (#28396)
  files/ko/web/javascript/reference/operators/multiplication/index.md
Owners: @mdn/yari-content-ko

[ko] fix: HTTP 상태 코드 208 이름 'Multi-Status' → 'Already Reported' 수정 (#16436) (#28397)
  files/ko/web/http/reference/status/index.md
Owners: @mdn/yari-content-ko

[ko] measureUserAgentSpecificMemory 신규 번역
  files/ko/web/api/performance/measureuseragentspecificmemory/index.md
Owners: @mdn/yari-content-ko

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/constructor/index.md
  files/ja/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/ja/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/ja/web/javascript/reference/global_objects/object/proto/index.md
  files/ja/web/javascript/reference/global_objects/object/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/object/tostring/index.md
  files/ja/web/javascript/reference/global_objects/object/valueof/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/javascript/reference/global_objects/object/defineproperties/index.md
  files/ja/web/javascript/reference/global_objects/object/defineproperties/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/at-rule_functions/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/css_value_functions/index.md
  files/ja/web/css/custom-ident/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/at-rule_functions/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/css_value_functions/index.md
  files/ja/web/css/custom-ident/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/string/anchor/index.md
  files/ja/web/javascript/reference/global_objects/string/at/index.md
  files/ja/web/javascript/reference/global_objects/string/big/index.md
  files/ja/web/javascript/reference/global_objects/string/blink/index.md
  files/ja/web/javascript/reference/global_objects/string/bold/index.md
  files/ja/web/javascript/reference/global_objects/string/charat/index.md
  files/ja/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/ja/web/javascript/reference/global_objects/string/codepointat/index.md
  files/ja/web/javascript/reference/global_objects/string/concat/index.md
  files/ja/web/javascript/reference/global_objects/string/endswith/index.md
  files/ja/web/javascript/reference/global_objects/string/fixed/index.md
  files/ja/web/javascript/reference/global_objects/string/fontcolor/index.md
  files/ja/web/javascript/reference/global_objects/string/fontsize/index.md
  files/ja/web/javascript/reference/global_objects/string/includes/index.md
  files/ja/web/javascript/reference/global_objects/string/indexof/index.md
  files/ja/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/italics/index.md
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.md
  files/ja/web/javascript/reference/global_objects/string/link/index.md
  files/ja/web/javascript/reference/global_objects/string/localecompare/index.md
  files/ja/web/javascript/reference/global_objects/string/match/index.md
  files/ja/web/javascript/reference/global_objects/string/matchall/index.md
  files/ja/web/javascript/reference/global_objects/string/normalize/index.md
Owners: @mdn/yari-content-ja

structural ロールを翻訳 (#28467)
  files/ja/web/accessibility/aria/reference/roles/structural_roles/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/string/padend/index.md
  files/ja/web/javascript/reference/global_objects/string/padstart/index.md
  files/ja/web/javascript/reference/global_objects/string/repeat/index.md
  files/ja/web/javascript/reference/global_objects/string/replace/index.md
  files/ja/web/javascript/reference/global_objects/string/replaceall/index.md
  files/ja/web/javascript/reference/global_objects/string/search/index.md
  files/ja/web/javascript/reference/global_objects/string/slice/index.md
  files/ja/web/javascript/reference/global_objects/string/small/index.md
  files/ja/web/javascript/reference/global_objects/string/split/index.md
  files/ja/web/javascript/reference/global_objects/string/startswith/index.md
  files/ja/web/javascript/reference/global_objects/string/strike/index.md
  files/ja/web/javascript/reference/global_objects/string/sub/index.md
  files/ja/web/javascript/reference/global_objects/string/substr/index.md
  files/ja/web/javascript/reference/global_objects/string/substring/index.md
  files/ja/web/javascript/reference/global_objects/string/sup/index.md
  files/ja/web/javascript/reference/global_objects/string/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tostring/index.md
  files/ja/web/javascript/reference/global_objects/string/touppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/towellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/trim/index.md
  files/ja/web/javascript/reference/global_objects/string/trimend/index.md
  files/ja/web/javascript/reference/global_objects/string/trimstart/index.md
  files/ja/web/javascript/reference/global_objects/string/valueof/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/number/index.md
  files/ja/web/javascript/reference/global_objects/number/number/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/number/isfinite/index.md
  files/ja/web/javascript/reference/global_objects/number/isinteger/index.md
  files/ja/web/javascript/reference/global_objects/number/isnan/index.md
  files/ja/web/javascript/reference/global_objects/number/issafeinteger/index.md
  files/ja/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/ja/web/javascript/reference/global_objects/number/parseint/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
