Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

fix: live sample 수정
  files/ko/web/html/reference/elements/dialog/index.md
Owners: @mdn/yari-content-ko

2024/08/13 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/using_multicol_layouts/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/index.md
Owners: @mdn/yari-content-ja

2024/11/12 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/basic_concepts/index.md
  files/ja/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/mozilla/firefox/releases/138/index.md
Owners: @mdn/yari-content-ja

Firefox 138 for developersを翻訳
  files/ja/mozilla/firefox/releases/138/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期 (#27101)
  files/ja/web/css/max-block-size/index.md
  files/ja/web/css/max-inline-size/index.md
  files/ja/web/css/min-block-size/index.md
  files/ja/web/css/min-inline-size/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/padding-block-end/index.md
  files/ja/web/css/padding-block-start/index.md
  files/ja/web/css/padding-block/index.md
  files/ja/web/css/padding-inline-end/index.md
  files/ja/web/css/padding-inline-start/index.md
  files/ja/web/css/padding-inline/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/column-count/index.md
  files/ja/web/css/column-fill/index.md
  files/ja/web/css/column-gap/index.md
  files/ja/web/css/column-rule-color/index.md
  files/ja/web/css/column-rule-style/index.md
  files/ja/web/css/column-rule-width/index.md
  files/ja/web/css/column-span/index.md
  files/ja/web/css/column-width/index.md
  files/ja/web/css/columns/index.md
Owners: @mdn/yari-content-ja

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/ru/web/html/how_to/author_fast-loading_html_pages/index.md
  files/ru/web/html/how_to/use_data_attributes/index.md
Owners: @mdn/yari-content-ru

fix: 이미지 경로 수정
  files/ko/web/html/reference/elements/figure/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/global/global/index.md
Owners: @mdn/yari-content-zh

feat: textarea 번역
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

fix: typo and spaces
  files/fr/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-fr

Replace favicon assets with shared-assets where applicable (#27201)
  files/es/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/es/web/css/background-repeat/index.md
  files/es/web/html/reference/elements/img/index.md
  files/fr/conflicting/web/html/element/index.md
  files/fr/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/fr/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/fr/web/css/background-repeat/index.md
  files/fr/web/css/mask-repeat/index.md
  files/fr/web/css/max/index.md
  files/fr/web/html/attributes/rel/index.md
  files/fr/web/html/element/img/index.md
  files/fr/web/html/element/link/index.md
  files/ja/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/ja/web/api/htmlelement/load_event/index.md
  files/ja/web/css/background-repeat/index.md
  files/ja/web/html/reference/elements/img/index.md
  files/ko/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/ko/web/css/background-repeat/index.md
  files/ko/web/html/reference/elements/figure/index.md
  files/ko/web/html/reference/elements/img/index.md
  files/pt-br/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/pt-br/web/html/element/img/index.md
  files/ru/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/ru/web/css/background-repeat/index.md
  files/ru/web/html/reference/elements/figure/index.md
  files/ru/web/html/reference/elements/img/index.md
  files/ru/web/html/reference/elements/link/index.md
  files/ru/web/svg/tutorials/svg_from_scratch/other_content_in_svg/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/zh-cn/web/css/background-repeat/index.md
  files/zh-cn/web/css/min/index.md
  files/zh-cn/web/html/reference/elements/img/index.md
  files/zh-tw/learn_web_development/core/structuring_content/webpage_metadata/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

Add french translation for numerical separators (#24906)
  files/fr/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-fr

2024/06/06 時点の英語版に同期
  files/ja/glossary/logical_properties/index.md
Owners: @mdn/yari-content-ja

2024/08/02 時点の英語版に同期
  files/ja/glossary/physical_properties/index.md
Owners: @mdn/yari-content-ja

2024/11/12 時点の英語版に同期
  files/ja/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/ja/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/ja/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/ja/web/css/css_logical_properties_and_values/sizing/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_media_queries/index.md
Owners: @mdn/yari-content-ja

2025/02/15 時点の英語版に同期
  files/ja/web/css/css_media_queries/using_media_queries/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/css_media_queries/testing_media_queries/index.md
Owners: @mdn/yari-content-ja

2025/03/08 時点の英語版に同期
  files/ja/web/css/css_media_queries/using_media_queries_for_accessibility/index.md
Owners: @mdn/yari-content-ja

2025/02/13 時点の英語版に同期
  files/ja/web/css/css_media_queries/printing/index.md
Owners: @mdn/yari-content-ja

2025/02/14 時点の英語版に同期
  files/ja/web/css/resolution/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/css/@import/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/css/@media/index.md
Owners: @mdn/yari-content-ja

2025/01/10 時点の英語版に同期
  files/ja/web/css/@media/aspect-ratio/index.md
Owners: @mdn/yari-content-ja

2024/07/04 時点の英語版に同期
  files/ja/web/css/@media/color-gamut/index.md
Owners: @mdn/yari-content-ja

sourceCommit: を更新
  files/ja/glossary/media_query/index.md
  files/ja/web/css/@media/any-hover/index.md
  files/ja/web/css/@media/color-index/index.md
Owners: @mdn/yari-content-ja

2025/02/22 時点の英語版に同期
  files/ja/web/css/@media/display-mode/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/css/@media/any-pointer/index.md
  files/ja/web/css/@media/color/index.md
  files/ja/web/css/@media/device-aspect-ratio/index.md
  files/ja/web/css/@media/device-height/index.md
  files/ja/web/css/@media/device-width/index.md
  files/ja/web/css/@media/dynamic-range/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/css/@media/forced-colors/index.md
Owners: @mdn/yari-content-ja

2024/08/03 時点の英語版に同期
  files/ja/web/css/@media/grid/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/css_containment/index.md
Owners: @mdn/yari-content-ja

2025/04/14 時点の英語版に同期
  files/ja/web/css/_doublecolon_column/index.md
Owners: @mdn/yari-content-ja

2024/03/04 時点の英語版に同期
  files/ja/web/api/screen/index.md
Owners: @mdn/yari-content-ja

2024/07/24 時点の英語版に同期
  files/ja/web/api/screen/availheight/index.md
Owners: @mdn/yari-content-ja

2024/11/04 時点の英語版に同期
  files/ja/web/api/screen/availwidth/index.md
  files/ja/web/api/screen/height/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/api/screen/isextended/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
