Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

I removed an "is" whitch do not exist in french (#26881)
  files/fr/web/javascript/reference/global_objects/array/includes/index.md
Owners: @mdn/yari-content-fr

update
  files/zh-tw/web/http/reference/status/303/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/status/303/index.md
Owners: @mdn/yari-content-zh

ru: auto-fix content issues
  files/ru/learn_web_development/core/css_layout/floats/index.md
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/ru/learn_web_development/core/css_layout/positioning/index.md
Owners: @mdn/yari-content-ru

ja: auto-fix content issues
  files/ja/web/xml/xpath/reference/axes/index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/css/@font-face/index.md
  files/es/web/api/htmldialogelement/showmodal/index.md
Owners: @mdn/yari-content-es

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/css/@font-face/index.md
  files/zh-cn/conflicting/web/css/@font-face_6195f8dc3bc97c4ab89a20245532e1abbf06cab7718d4e0ab6f9350c55e4c310/index.md
  files/zh-cn/conflicting/web/css/@font-face_748d96abf2d40258a2e3107f48454e5485b0ce9d798d25c99c1afe54eac958a8/index.md
  files/zh-cn/conflicting/web/css/@font-face_835da4592e678b936556cacb1973706b97c7c96e0b11bbeef7e39d918767455d/index.md
  files/zh-cn/conflicting/web/css/@font-face_851674eca0b87c75383315d69bb85ae9e4ab4e2b0d5f75d4e9cd9344a2a5021b/index.md
  files/zh-cn/conflicting/web/css/@font-face_8ada6559bb7a22cfd842ae6f865f67b937350db78db8323f70ff6ef0ffc16e00/index.md
  files/zh-cn/conflicting/web/css/@font-face_9f8a84139667bfb0b63624b27b89e9e3064d264a1c48c9abb3183b792ec4d63a/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2b2a2f1b36681b53150e0f8f5aa8466b9b48c5104ebac3731fdbae5fa74d45e/index.md
  files/zh-cn/conflicting/web/css/@font-face_ae514412d5deee4462160edc5bce420b574427dcffb65a8bd5b79fb2cc8aaf1d/index.md
  files/zh-cn/conflicting/web/css/@font-face_c8480de342aa34563594f409e84f0d2c8b1e079752b4e7350f2f2b05f1be9058/index.md
  files/zh-cn/conflicting/web/css/@font-face_de2fde5974aace95a036dc7c0db8e5ed4bd3af394decbb94be7ede73ea860409/index.md
  files/zh-cn/conflicting/web/css/@font-face_ee4dd4f812730cb10ecb2fb58baaf4b65faf3b807d72d665628d32150b92f161/index.md
  files/zh-cn/conflicting/web/css/cursor/index.md
  files/zh-cn/conflicting/web/svg/reference/attribute/index.md
  files/zh-cn/web/api/htmldialogelement/showmodal/index.md
  files/zh-cn/web/api/window/showmodaldialog/index.md
  files/zh-cn/web/svg/reference/attribute/accent-height/index.md
  files/zh-cn/web/svg/reference/element/cursor/index.md
  files/zh-cn/web/svg/reference/element/font-face-format/index.md
  files/zh-cn/web/svg/reference/element/font-face-name/index.md
  files/zh-cn/web/svg/reference/element/font-face-src/index.md
  files/zh-cn/web/svg/reference/element/font-face-uri/index.md
  files/zh-cn/web/svg/reference/element/font-face/index.md
  files/zh-cn/web/svg/reference/element/font/index.md
  files/zh-cn/web/svg/reference/element/glyph/index.md
  files/zh-cn/web/svg/reference/element/glyphref/index.md
  files/zh-cn/web/svg/reference/element/hkern/index.md
  files/zh-cn/web/svg/reference/element/missing-glyph/index.md
  files/zh-cn/web/svg/reference/element/tref/index.md
  files/zh-cn/web/svg/reference/element/vkern/index.md
Owners: @mdn/yari-content-zh

Web/JavaScript/Reference/Global_Objects/Function/bind を更新 (#26833)
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/webassembly/reference/javascript_interface/compileerror/compileerror/index.md
  files/zh-cn/webassembly/reference/javascript_interface/compileerror/compileerror/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/compilestreaming_static/index.md
Owners: @mdn/yari-content-zh

ru - fixed typo at files/ru/web/html/reference/elements/button/index.md at Russian locale
  files/ru/web/html/reference/elements/button/index.md
Owners: @mdn/yari-content-ru

[ja] auto-fix content issues (#26886)
  files/ja/web/xml/xpath/reference/axes/index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に同期
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja

update
  files/zh-tw/web/http/reference/status/302/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/status/302/index.md
Owners: @mdn/yari-content-zh

Web/HTTP/Guides/CORS/Errors 他1件を更新 (#26846)
  files/ja/web/http/guides/cors/errors/corsmissingalloworigin/index.md
  files/ja/web/http/guides/cors/errors/index.md
Owners: @mdn/yari-content-ja

既存のtypoを修正
  files/ja/web/http/reference/headers/user-agent/firefox/index.md
Owners: @mdn/yari-content-ja

Web/HTTP/Reference/Headers/User-Agent/Firefox を更新 (#26849)
  files/ja/web/http/reference/headers/user-agent/firefox/index.md
Owners: @mdn/yari-content-ja

[ja] RGB の更新
  files/ja/glossary/rgb/index.md
Owners: @mdn/yari-content-ja

脱字を修正
  files/ja/web/http/guides/permissions_policy/index.md
Owners: @mdn/yari-content-ja

Update files/ja/glossary/rgb/index.md
  files/ja/glossary/rgb/index.md
Owners: @mdn/yari-content-ja

Web/HTTP/Guides/Permissions_Policy 他1件を更新 (#26876)
  files/ja/web/http/guides/permissions_policy/index.md
  files/ja/web/http/reference/headers/permissions-policy/autoplay/index.md
Owners: @mdn/yari-content-ja

Update files/ja/glossary/rgb/index.md
  files/ja/glossary/rgb/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/glossary/rgb/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/glossary/rgb/index.md
Owners: @mdn/yari-content-ja

[ja] RGB: 原文から画像を追加
  files/ja/glossary/rgb/rgb_color_cube.png
Owners: @mdn/yari-content-ja

create
  files/zh-tw/mdn/writing_guidelines/attrib_copyright_license/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/mdn/writing_guidelines/attrib_copyright_license/index.md
Owners: @mdn/yari-content-zh

fix EOF
  files/zh-tw/mdn/writing_guidelines/attrib_copyright_license/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for if...else instruction (#26839)
  files/zh-cn/webassembly/reference/control_flow/if...else/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/mdn/writing_guidelines/attrib_copyright_license/index.md
Owners: @mdn/yari-content-zh

create
  files/zh-tw/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/return/index.md
  files/zh-cn/webassembly/reference/control_flow/return/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/compilestreaming_static/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/css/@font-face/index.md
  files/zh-cn/conflicting/web/css/@font-face_6195f8dc3bc97c4ab89a20245532e1abbf06cab7718d4e0ab6f9350c55e4c310/index.md
  files/zh-cn/conflicting/web/css/@font-face_748d96abf2d40258a2e3107f48454e5485b0ce9d798d25c99c1afe54eac958a8/index.md
  files/zh-cn/conflicting/web/css/@font-face_851674eca0b87c75383315d69bb85ae9e4ab4e2b0d5f75d4e9cd9344a2a5021b/index.md
  files/zh-cn/conflicting/web/css/@font-face_8ada6559bb7a22cfd842ae6f865f67b937350db78db8323f70ff6ef0ffc16e00/index.md
  files/zh-cn/conflicting/web/css/@font-face_9f8a84139667bfb0b63624b27b89e9e3064d264a1c48c9abb3183b792ec4d63a/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2b2a2f1b36681b53150e0f8f5aa8466b9b48c5104ebac3731fdbae5fa74d45e/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2bd5f82835c93a3f79fe72062d89f4ebff864bf4c0c2915f00663640d16c945/index.md
  files/zh-cn/conflicting/web/css/@font-face_ae514412d5deee4462160edc5bce420b574427dcffb65a8bd5b79fb2cc8aaf1d/index.md
  files/zh-cn/conflicting/web/css/@font-face_c8480de342aa34563594f409e84f0d2c8b1e079752b4e7350f2f2b05f1be9058/index.md
  files/zh-cn/conflicting/web/css/@font-face_de2fde5974aace95a036dc7c0db8e5ed4bd3af394decbb94be7ede73ea860409/index.md
  files/zh-cn/conflicting/web/css/@font-face_ee4dd4f812730cb10ecb2fb58baaf4b65faf3b807d72d665628d32150b92f161/index.md
  files/zh-cn/conflicting/web/css/cursor/index.md
  files/zh-cn/conflicting/web/svg/reference/attribute/index.md
  files/zh-cn/web/api/htmldialogelement/showmodal/index.md
  files/zh-cn/web/api/window/showmodaldialog/index.md
  files/zh-cn/web/svg/reference/attribute/accent-height/index.md
  files/zh-cn/web/svg/reference/element/cursor/index.md
  files/zh-cn/web/svg/reference/element/font-face-format/index.md
  files/zh-cn/web/svg/reference/element/font-face-name/index.md
  files/zh-cn/web/svg/reference/element/font-face-src/index.md
  files/zh-cn/web/svg/reference/element/font-face-uri/index.md
  files/zh-cn/web/svg/reference/element/font-face/index.md
  files/zh-cn/web/svg/reference/element/font/index.md
  files/zh-cn/web/svg/reference/element/glyph/index.md
  files/zh-cn/web/svg/reference/element/glyphref/index.md
  files/zh-cn/web/svg/reference/element/hkern/index.md
  files/zh-cn/web/svg/reference/element/missing-glyph/index.md
  files/zh-cn/web/svg/reference/element/tref/index.md
  files/zh-cn/web/svg/reference/element/vkern/index.md
Owners: @mdn/yari-content-zh

[ko] strict equality 신규 번역 (#26860)
  files/ko/web/javascript/reference/operators/strict_equality/index.md
Owners: @mdn/yari-content-ko

Ru - updated "What is accessability" article at files/ru/learn_web_development/core/accessibility/what_is_accessibility/index.md at Russian locale
  files/ru/learn_web_development/core/accessibility/what_is_accessibility/index.md
Owners: @mdn/yari-content-ru

2025/04/17 時点の英語版に同期
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja
