Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/04/23 時点の英語版に同期
  files/ja/web/html/how_to/add_a_hit_map_on_top_of_an_image/index.md
  files/ja/web/html/how_to/add_javascript_to_your_web_page/index.md
  files/ja/web/html/how_to/author_fast-loading_html_pages/index.md
  files/ja/web/html/how_to/cors_enabled_image/index.md
  files/ja/web/html/how_to/define_terms_with_html/index.md
  files/ja/web/html/how_to/use_data_attributes/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/html/guides/constraint_validation/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
  files/ja/learn_web_development/howto/index.md
  files/ja/learn_web_development/howto/solve_html_problems/index.md
  files/ja/mdn/tutorials/index.md
  files/ja/web/api/htmlelement/dataset/index.md
  files/ja/web/api/htmlelement/index.md
  files/ja/web/api/htmlimageelement/ismap/index.md
  files/ja/web/api/htmlimageelement/usemap/index.md
  files/ja/web/api/svgelement/dataset/index.md
  files/ja/web/api/svgelement/index.md
  files/ja/web/html/reference/global_attributes/data-_star_/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/html/how_to/add_a_hit_map_on_top_of_an_image/index.md
  files/zh-cn/web/html/how_to/author_fast-loading_html_pages/index.md
  files/zh-cn/web/html/how_to/use_data_attributes/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
  files/zh-cn/learn_web_development/howto/solve_html_problems/index.md
  files/zh-cn/mdn/tutorials/index.md
  files/zh-cn/web/api/htmlelement/dataset/index.md
  files/zh-cn/web/api/svgelement/index.md
  files/zh-cn/web/html/how_to/add_a_hit_map_on_top_of_an_image/index.md
  files/zh-cn/web/html/how_to/author_fast-loading_html_pages/index.md
  files/zh-cn/web/html/how_to/use_data_attributes/index.md
  files/zh-cn/web/html/reference/global_attributes/data-_star_/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#26954)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
  files/zh-cn/learn_web_development/howto/solve_html_problems/index.md
  files/zh-cn/mdn/tutorials/index.md
  files/zh-cn/web/api/htmlelement/dataset/index.md
  files/zh-cn/web/api/svgelement/index.md
  files/zh-cn/web/html/how_to/add_a_hit_map_on_top_of_an_image/index.md
  files/zh-cn/web/html/how_to/author_fast-loading_html_pages/index.md
  files/zh-cn/web/html/how_to/use_data_attributes/index.md
  files/zh-cn/web/html/reference/global_attributes/data-_star_/index.md
Owners: @mdn/yari-content-zh

zh-CN: 更新箭头函数和解构的翻译，修正语义和表达不准确的地方
  files/zh-cn/web/javascript/reference/functions/arrow_functions/index.md
  files/zh-cn/web/javascript/reference/operators/destructuring/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: fix mistranslation
  files/zh-cn/web/api/idbcursor/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/destructuring/index.md
  files/zh-cn/web/javascript/reference/operators/destructuring/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/destructuring/index.md
  files/zh-cn/web/javascript/reference/operators/destructuring/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/instanceof/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/destructuring/index.md
  files/zh-cn/web/javascript/reference/operators/destructuring/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/instanceof/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/instanceof/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/instanceof/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/instanceof/index.md
  files/zh-cn/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-zh

2023/12/02 時点の英語版に同期
  files/ja/web/api/highlightregistry/clear/index.md
  files/ja/web/api/highlightregistry/delete/index.md
  files/ja/web/api/highlightregistry/entries/index.md
  files/ja/web/api/highlightregistry/foreach/index.md
  files/ja/web/api/highlightregistry/get/index.md
  files/ja/web/api/highlightregistry/has/index.md
  files/ja/web/api/highlightregistry/index.md
  files/ja/web/api/highlightregistry/keys/index.md
  files/ja/web/api/highlightregistry/set/index.md
  files/ja/web/api/highlightregistry/size/index.md
  files/ja/web/api/highlightregistry/values/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
  files/ja/learn_web_development/howto/index.md
  files/ja/learn_web_development/howto/solve_html_problems/index.md
  files/ja/mdn/tutorials/index.md
  files/ja/web/api/htmlelement/dataset/index.md
  files/ja/web/api/htmlelement/index.md
  files/ja/web/api/htmlimageelement/ismap/index.md
  files/ja/web/api/htmlimageelement/usemap/index.md
  files/ja/web/api/svgelement/dataset/index.md
  files/ja/web/api/svgelement/index.md
  files/ja/web/html/reference/global_attributes/data-_star_/index.md
Owners: @mdn/yari-content-ja

2025/04/07 時点の英語版に同期
  files/ja/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-ja

Fix the unrecognizable symbols
  files/zh-cn/web/api/mediarecorder/istypesupported_static/index.md
Owners: @mdn/yari-content-zh

update istypesupported static method
  files/zh-cn/web/api/mediarecorder/istypesupported_static/index.md
Owners: @mdn/yari-content-zh

[zh-cn] Fix the unrecognizable symbols (#26973)
  files/zh-cn/web/api/mediarecorder/istypesupported_static/index.md
Owners: @mdn/yari-content-zh

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/attributes/rel/index.md
  files/ja/web/html/reference/attributes/rel/prefetch/index.md
  files/ja/web/html/reference/attributes/rel/preload/index.md
  files/ja/web/html/reference/attributes/rel/prerender/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に同期
  files/ja/web/html/reference/attributes/rel/alternate_stylesheet/index.md
  files/ja/web/html/reference/attributes/rel/compression-dictionary/index.md
  files/ja/web/html/reference/attributes/rel/dns-prefetch/index.md
  files/ja/web/html/reference/attributes/rel/manifest/index.md
  files/ja/web/html/reference/attributes/rel/me/index.md
  files/ja/web/html/reference/attributes/rel/modulepreload/index.md
  files/ja/web/html/reference/attributes/rel/noopener/index.md
  files/ja/web/html/reference/attributes/rel/noreferrer/index.md
  files/ja/web/html/reference/attributes/rel/preconnect/index.md
Owners: @mdn/yari-content-ja

[ko] web standards 신규 번역 (#26934)
  files/ko/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-ko

zh-cn: add new page for return instruction (#26857)
  files/zh-cn/webassembly/reference/control_flow/return/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/javascript_interface/exception/getarg/index.md
Owners: @mdn/yari-content-zh

improvements
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Owners: @mdn/yari-content-zh

Update files/ja/web/html/reference/attributes/rel/alternate_stylesheet/index.md
  files/ja/web/html/reference/attributes/rel/alternate_stylesheet/index.md
Owners: @mdn/yari-content-ja

improvements
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Owners: @mdn/yari-content-zh

2025/04/10 時点の英語版に同期
  files/ja/web/http/reference/headers/permissions-policy/deferred-fetch-minimal/index.md
  files/ja/web/http/reference/headers/permissions-policy/deferred-fetch/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/reference/headers/permissions-policy/display-capture/index.md
  files/ja/web/http/reference/headers/permissions-policy/document-domain/index.md
  files/ja/web/http/reference/headers/permissions-policy/encrypted-media/index.md
  files/ja/web/http/reference/headers/permissions-policy/fullscreen/index.md
  files/ja/web/http/reference/headers/permissions-policy/gamepad/index.md
  files/ja/web/http/reference/headers/permissions-policy/geolocation/index.md
  files/ja/web/http/reference/headers/permissions-policy/gyroscope/index.md
  files/ja/web/http/reference/headers/permissions-policy/hid/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync the content from upstream
  files/zh-cn/webassembly/reference/javascript_interface/compile_static/index.md
  files/zh-cn/webassembly/reference/javascript_interface/compileerror/compileerror/index.md
  files/zh-cn/webassembly/reference/javascript_interface/compileerror/index.md
  files/zh-cn/webassembly/reference/javascript_interface/compilestreaming_static/index.md
  files/zh-cn/webassembly/reference/javascript_interface/global/index.md
  files/zh-cn/webassembly/reference/javascript_interface/index.md
  files/zh-cn/webassembly/reference/javascript_interface/instance/index.md
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
  files/zh-cn/webassembly/reference/javascript_interface/instantiatestreaming_static/index.md
  files/zh-cn/webassembly/reference/javascript_interface/memory/index.md
  files/zh-cn/webassembly/reference/javascript_interface/module/index.md
  files/zh-cn/webassembly/reference/javascript_interface/runtimeerror/index.md
  files/zh-cn/webassembly/reference/javascript_interface/table/index.md
  files/zh-cn/webassembly/reference/javascript_interface/validate_static/index.md
Owners: @mdn/yari-content-zh

2025/03/25 時点の英語版に同期
  files/ja/web/svg/reference/element/animate/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/element/animatetransform/index.md
  files/ja/web/svg/reference/element/defs/index.md
  files/ja/web/svg/reference/element/desc/index.md
  files/ja/web/svg/reference/element/fecolormatrix/index.md
  files/ja/web/svg/reference/element/fedropshadow/index.md
  files/ja/web/svg/reference/element/fegaussianblur/index.md
  files/ja/web/svg/reference/element/femorphology/index.md
  files/ja/web/svg/reference/element/feoffset/index.md
  files/ja/web/svg/reference/element/filter/index.md
  files/ja/web/svg/reference/element/g/index.md
  files/ja/web/svg/reference/element/metadata/index.md
  files/ja/web/svg/reference/element/mpath/index.md
  files/ja/web/svg/reference/element/set/index.md
  files/ja/web/svg/reference/element/switch/index.md
  files/ja/web/svg/reference/element/title/index.md
Owners: @mdn/yari-content-ja

2025/04/15 時点の英語版に同期
  files/ja/web/svg/reference/element/a/index.md
  files/ja/web/svg/reference/element/animatemotion/index.md
  files/ja/web/svg/reference/element/circle/index.md
  files/ja/web/svg/reference/element/clippath/index.md
  files/ja/web/svg/reference/element/ellipse/index.md
  files/ja/web/svg/reference/element/foreignobject/index.md
  files/ja/web/svg/reference/element/image/index.md
  files/ja/web/svg/reference/element/line/index.md
  files/ja/web/svg/reference/element/lineargradient/index.md
  files/ja/web/svg/reference/element/mask/index.md
  files/ja/web/svg/reference/element/path/index.md
  files/ja/web/svg/reference/element/pattern/index.md
  files/ja/web/svg/reference/element/polygon/index.md
  files/ja/web/svg/reference/element/polyline/index.md
  files/ja/web/svg/reference/element/radialgradient/index.md
  files/ja/web/svg/reference/element/rect/index.md
  files/ja/web/svg/reference/element/script/index.md
  files/ja/web/svg/reference/element/stop/index.md
  files/ja/web/svg/reference/element/svg/index.md
  files/ja/web/svg/reference/element/textpath/index.md
  files/ja/web/svg/reference/element/tspan/index.md
  files/ja/web/svg/reference/element/use/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に同期
  files/ja/web/svg/reference/element/index.md
  files/ja/web/svg/reference/element/text/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/svg/reference/element/image/index.md
  files/ja/web/svg/reference/element/image/index.md
Owners: @mdn/yari-content-ja
