Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/03/06 時点の英語版に同期
  files/ja/web/accessibility/aria/reference/roles/search_role/index.md
Owners: @mdn/yari-content-ja

2025/03/25 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/srcobject/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/ru/web/javascript/reference/global_objects/function/name/index.md
Owners: @mdn/yari-content-ru

ru: remove interactive-examples references (#26743)
  files/ru/web/css/background-repeat/index.md
  files/ru/web/css/background/index.md
  files/ru/web/javascript/reference/global_objects/function/name/index.md
Owners: @mdn/yari-content-ru

Rename lefthook config
  .lefthook.yml
Owners: @mdn/core-dev

Remove husky leftovers
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

Rename `.front-matter-config.json`
  .front-matter-config.json
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check-lint_content.yml
Owners: @mdn/core-dev

[ru] add "Glossary/WebM" translation
  files/ru/glossary/webm/index.md
Owners: @mdn/yari-content-ru

[ru] add "Glossary/WebP" translation
  files/ru/glossary/webp/index.md
Owners: @mdn/yari-content-ru

ja: auto-fix content issues
  files/ja/web/api/serviceworkercontainer/index.md
Owners: @mdn/yari-content-ja

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn_web_development/core/scripting/test_your_skills/functions/index.md
Owners: @mdn/yari-content-ru

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/domexception/code/index.md
  files/ja/conflicting/web/api/domexception/index.md
  files/ja/conflicting/web/api/event/index.md
  files/ja/conflicting/web/api/keyboardevent/keyboardevent/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/math/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/variables/index.md
Owners: @mdn/yari-content-ja

chore(css): Copy embedlivesamples from en-US content [zh-cn] (#26737)
  files/zh-cn/learn_web_development/core/css_layout/grid_skills/index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
  files/zh-cn/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/zh-cn/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/zh-cn/learn_web_development/core/styling_basics/box_model/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/zh-cn/learn_web_development/core/styling_basics/combinators/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/overflow/index.md
  files/zh-cn/learn_web_development/core/styling_basics/sizing/index.md
  files/zh-cn/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
Owners: @mdn/yari-content-zh

chore(zh-cn): clean discourse/irc links
  files/zh-cn/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-cn/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-cn/learn_web_development/core/structuring_content/planet_data_table/index.md
  files/zh-cn/learn_web_development/core/structuring_content/structuring_a_page_of_content/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
  files/zh-cn/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
Owners: @mdn/yari-content-zh

chore(zh-tw): clean discourse/irc links
  files/zh-tw/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-tw/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-tw/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-tw/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
Owners: @mdn/yari-content-zh

fix: clean more instances
  files/zh-cn/learn_web_development/core/accessibility/accessibility_troubleshooting/index.md
  files/zh-cn/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
  files/zh-cn/learn_web_development/core/css_layout/grid_skills/index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
  files/zh-cn/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__conditionals/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__loops/index.md
  files/zh-cn/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/zh-cn/learn_web_development/extensions/async_js/sequencing_animations/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-tw/learn_web_development/core/scripting/what_went_wrong/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `Math.SQRT2`
  files/zh-cn/web/javascript/reference/global_objects/math/sqrt2/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/javascript/reference/global_objects/math/sqrt2/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of HTTP `102` Status
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of DocumentFragment `querySelectorAll()` method
  files/zh-cn/web/api/documentfragment/queryselectorall/index.md
Owners: @mdn/yari-content-zh

Rename `.front-matter-config.json` (#26755)
  .front-matter-config.json
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check-lint_content.yml
Owners: @mdn/core-dev

Lefthook nits (#26754)
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
  .lefthook.yml
Owners: @mdn/core-dev

Remove unnecessary front matter field
  files/ru/learn_web_development/core/scripting/test_your_skills/functions/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#26761)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn_web_development/core/scripting/test_your_skills/functions/index.md
Owners: @mdn/yari-content-ru

[ja]: apply automatic fixing fixable flaws
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Owners: @mdn/yari-content-ja

chore(l10n-zh): clean accessment links (#26763)
  files/zh-cn/learn_web_development/core/accessibility/accessibility_troubleshooting/index.md
  files/zh-cn/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
  files/zh-cn/learn_web_development/core/css_layout/grid_skills/index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
  files/zh-cn/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-cn/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__conditionals/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__loops/index.md
  files/zh-cn/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-cn/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
  files/zh-cn/learn_web_development/core/structuring_content/planet_data_table/index.md
  files/zh-cn/learn_web_development/core/structuring_content/structuring_a_page_of_content/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/zh-cn/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
  files/zh-cn/learn_web_development/extensions/async_js/sequencing_animations/index.md
  files/zh-tw/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-tw/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-tw/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-tw/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
Owners: @mdn/yari-content-zh

[ja]: update note format
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Owners: @mdn/yari-content-ja

[ja]: update Math
  files/ja/web/javascript/reference/global_objects/math/index.md
Owners: @mdn/yari-content-ja

[ja]: added comments to avoid improper formatting by prettier
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xslt/reference/element/apply-imports/index.md
  files/ja/web/xml/xslt/reference/element/apply-templates/index.md
  files/ja/web/xml/xslt/reference/element/attribute-set/index.md
  files/ja/web/xml/xslt/reference/element/attribute/index.md
  files/ja/web/xml/xslt/reference/element/call-template/index.md
  files/ja/web/xml/xslt/reference/element/choose/index.md
  files/ja/web/xml/xslt/reference/element/comment/index.md
  files/ja/web/xml/xslt/reference/element/copy-of/index.md
  files/ja/web/xml/xslt/reference/element/copy/index.md
  files/ja/web/xml/xslt/reference/element/decimal-format/index.md
  files/ja/web/xml/xslt/reference/element/element/index.md
  files/ja/web/xml/xslt/reference/element/fallback/index.md
  files/ja/web/xml/xslt/reference/element/for-each/index.md
  files/ja/web/xml/xslt/reference/element/if/index.md
  files/ja/web/xml/xslt/reference/element/import/index.md
  files/ja/web/xml/xslt/reference/element/include/index.md
  files/ja/web/xml/xslt/reference/element/index.md
  files/ja/web/xml/xslt/reference/element/key/index.md
  files/ja/web/xml/xslt/reference/element/message/index.md
  files/ja/web/xml/xslt/reference/element/namespace-alias/index.md
  files/ja/web/xml/xslt/reference/element/number/index.md
  files/ja/web/xml/xslt/reference/element/otherwise/index.md
  files/ja/web/xml/xslt/reference/element/output/index.md
  files/ja/web/xml/xslt/reference/element/param/index.md
  files/ja/web/xml/xslt/reference/element/preserve-space/index.md
  files/ja/web/xml/xslt/reference/element/processing-instruction/index.md
  files/ja/web/xml/xslt/reference/element/sort/index.md
  files/ja/web/xml/xslt/reference/element/strip-space/index.md
  files/ja/web/xml/xslt/reference/element/stylesheet/index.md
  files/ja/web/xml/xslt/reference/element/template/index.md
  files/ja/web/xml/xslt/reference/element/text/index.md
  files/ja/web/xml/xslt/reference/element/transform/index.md
  files/ja/web/xml/xslt/reference/element/value-of/index.md
  files/ja/web/xml/xslt/reference/element/variable/index.md
  files/ja/web/xml/xslt/reference/element/when/index.md
  files/ja/web/xml/xslt/reference/element/with-param/index.md
  files/ja/web/xml/xslt/reference/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/api/serviceworkercontainer/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/api/domexception/code/index.md
  files/ja/conflicting/web/api/domexception/code/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/api/domexception/index.md
  files/ja/conflicting/web/api/domexception/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/api/event/index.md
  files/ja/conflicting/web/api/event/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/api/keyboardevent/keyboardevent/index.md
  files/ja/conflicting/web/api/keyboardevent/keyboardevent/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
