Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

web/api/cssconditionrule/index.md の誤字を修正 (#26470)
  files/ja/web/api/cssconditionrule/index.md
Owners: @mdn/yari-content-ja

Fix index.md
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Owners: @mdn/yari-content-zh

Web/API/DOMParser を更新 (#26461)
  files/ja/web/api/domparser/index.md
Owners: @mdn/yari-content-ja

Web/CSS/overflow-anchor 他2件を更新 (#26474)
  files/ja/glossary/scroll_snap/index.md
  files/ja/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
  files/ja/web/css/overflow-anchor/index.md
Owners: @mdn/yari-content-ja

Web/HTML/Element を更新 (#26486)
  files/ja/web/html/element/index.md
Owners: @mdn/yari-content-ja

docs: add file
  files/ja/glossary/typescript/index.md
Owners: @mdn/yari-content-ja

docs: translate commentary
  files/ja/glossary/typescript/index.md
Owners: @mdn/yari-content-ja

docs: add sourceCommit
  files/ja/glossary/typescript/index.md
Owners: @mdn/yari-content-ja

aria-posinsetを翻訳 (#26493)
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-ja

aria-relevantを翻訳 (#26497)
  files/ja/web/accessibility/aria/reference/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

改善页面翻译
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

余計な空白の削除、助詞の追加
  files/ja/glossary/typescript/index.md
Owners: @mdn/yari-content-ja

TypeScript の翻訳 (#26537)
  files/ja/glossary/typescript/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/web/privacy/index.md
Owners: @mdn/yari-content-zh

fix: typo
  files/ja/web/javascript/reference/global_objects/set/issubsetof/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/privacy/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/web/api/cssconditionrule/index.md
  files/ja/web/css/overflow-anchor/index.md
Owners: @mdn/yari-content-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

[ko] apply suggestions in review for Web/JavaScript/Reference/Global_Objects/Date/now
  files/ko/web/javascript/reference/global_objects/date/now/index.md
Owners: @mdn/yari-content-ko

[ko] fix korean expression for consistency
  files/ko/web/javascript/reference/global_objects/date/now/index.md
Owners: @mdn/yari-content-ko

Create Web/Privacy/Guides/State_Partitioning
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
Owners: @mdn/yari-content-zh

Create Web/Privacy/Third-party_cookies
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Owners: @mdn/yari-content-zh

[ko] 논리적 AND(&&) 문서의 오타 수정 (#26402)
  files/ko/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-ko

Update link of privacy/guides/third-party_cookies
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Owners: @mdn/yari-content-zh

[ko] Performance budgets 문서 수정 (#25970)
  files/ko/web/performance/performance_budgets/index.md
Owners: @mdn/yari-content-ko

[ko] update web/api/mediastream_recording_api (#26130)
  files/ko/web/api/mediastream_recording_api/index.md
  files/ko/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/ko/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
Owners: @mdn/yari-content-zh

リンク先を Web/CSS/CSS_cascade/Value_processing へ変更
  files/ja/glossary/layout_mode/index.md
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ja/web/api/animation/commitstyles/index.md
  files/ja/web/css/-webkit-mask-box-image/index.md
  files/ja/web/css/all/index.md
  files/ja/web/css/border-image/index.md
  files/ja/web/css/border/index.md
  files/ja/web/css/color_value/index.md
  files/ja/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ja/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/ja/web/css/css_cascading_variables/using_css_custom_properties/index.md
  files/ja/web/css/css_display/block_formatting_context/index.md
  files/ja/web/css/css_display/containing_block/index.md
  files/ja/web/css/css_images/replaced_element_properties/index.md
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/error_handling/index.md
  files/ja/web/css/css_syntax/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/value_definition_syntax/index.md
  files/ja/web/css/index.md
  files/ja/web/css/inherit/index.md
  files/ja/web/css/initial/index.md
  files/ja/web/css/length/index.md
  files/ja/web/css/max-height/index.md
  files/ja/web/css/max-width/index.md
  files/ja/web/css/min-height/index.md
  files/ja/web/css/min-width/index.md
  files/ja/web/css/outline/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/revert/index.md
  files/ja/web/css/transform-origin/index.md
  files/ja/web/css/unset/index.md
Owners: @mdn/yari-content-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-ja

2023/04/07 時点の英語版に同期
  files/ja/web/api/domparser/domparser/index.md
Owners: @mdn/yari-content-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/domparser/parsefromstring/index.md
Owners: @mdn/yari-content-ja

2025/03/12 時点の英語版に同期
  files/ja/web/css/css_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/index.md
  files/ja/web/mathml/tutorials/for_beginners/index.md
  files/ja/web/mathml/tutorials/index.md
Owners: @mdn/yari-content-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/actual_value/index.md
  files/ja/web/css/css_cascade/cascade/index.md
  files/ja/web/css/css_cascade/computed_value/index.md
  files/ja/web/css/css_cascade/index.md
  files/ja/web/css/css_cascade/inheritance/index.md
  files/ja/web/css/css_cascade/initial_value/index.md
  files/ja/web/css/css_cascade/shorthand_properties/index.md
  files/ja/web/css/css_cascade/specificity/index.md
  files/ja/web/css/css_cascade/specified_value/index.md
  files/ja/web/css/css_cascade/used_value/index.md
  files/ja/web/css/resolved_value/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/api/cssconditionrule/index.md
  files/ja/web/css/overflow-anchor/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
  files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
