Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Apply suggestions from code review
  files/ja/web/css/appearance/index.md
Owners: @mdn/yari-content-ja

用語を「カスタマイズ可能な select 要素」に統一
  files/ja/learn_web_development/extensions/forms/index.md
  files/ja/web/css/pseudo-elements/index.md
Owners: @mdn/yari-content-ja

fix review comments.
  files/zh-cn/learn_web_development/getting_started/your_first_website/index.md
Owners: @mdn/yari-content-zh

update latest commit id and slug.
  files/zh-cn/learn_web_development/getting_started/your_first_website/index.md
Owners: @mdn/yari-content-zh

fix: `url()` file is ont the wrong folder
  files/fr/web/css/url_function/index.md
Owners: @mdn/yari-content-fr

fix: `<url>` get is real content
  files/fr/_wikihistory.json
  files/fr/web/css/url_value/index.md
Owners: @mdn/yari-content-fr

fix(mozilla): set valid `url()` page on links
  files/fr/mozilla/add-ons/webextensions/api/proxy/requestdetails/index.md
Owners: @mdn/yari-content-fr

fix: sourceCommit
  files/fr/web/css/url_function/index.md
  files/fr/web/css/url_value/index.md
Owners: @mdn/yari-content-fr

Web/API/HTMLDialogElement/cancel_event をリダイレクト解除
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

2025/06/26 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/index.md
Owners: @mdn/yari-content-ja

2025/06/26 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/closedby/index.md
Owners: @mdn/yari-content-ja

2025/06/12 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/open/index.md
Owners: @mdn/yari-content-ja

2025/05/05 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/returnvalue/index.md
Owners: @mdn/yari-content-ja

2025/06/12 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/close/index.md
Owners: @mdn/yari-content-ja

2025/08/22 時点の英語版に基づき新規翻訳
  files/ja/web/api/htmldialogelement/requestclose/index.md
Owners: @mdn/yari-content-ja

2025/06/12 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/show/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/api/htmldialogelement/closedby/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/showmodal/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に基づき新規翻訳
  files/ja/web/api/htmldialogelement/cancel_event/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に基づき更新
  files/ja/web/api/htmldialogelement/close_event/index.md
Owners: @mdn/yari-content-ja

Web/API/HTMLDialogElement/cancel_event をリダイレクト解除
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

2025/02/25 時点の英語版に基づき新規翻訳
  files/ja/web/performance/guides/how_long_is_too_long/index.md
Owners: @mdn/yari-content-ja

2025/05/14 時点の英語版に基づき更新
  files/ja/web/performance/guides/dns-prefetch/index.md
Owners: @mdn/yari-content-ja

2025/09/09 時点の英語版に基づき更新
  files/ja/web/performance/guides/navigation_and_resource_timings/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき新規翻訳
  files/ja/web/performance/guides/optimizing_startup_performance/index.md
Owners: @mdn/yari-content-ja

2025/02/25 時点の英語版に基づき新規翻訳
  files/ja/web/performance/guides/critical_rendering_path/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき更新
  files/ja/web/performance/guides/lazy_loading/index.md
Owners: @mdn/yari-content-ja

2025/09/09 時点の英語版に基づき更新
  files/ja/web/performance/guides/speculative_loading/index.md
Owners: @mdn/yari-content-ja

2025/08/22 時点の英語版に基づき新規翻訳
  files/ja/web/api/htmldialogelement/requestclose/index.md
Owners: @mdn/yari-content-ja

fix(css): set valid `url()` page on links (part 1)
  files/fr/web/css/-moz-image-rect/index.md
  files/fr/web/css/background-image/index.md
  files/fr/web/css/border-image/index.md
  files/fr/web/css/clip-path/index.md
  files/fr/web/css/clip-path/mdn.svg
  files/fr/web/css/content/index.md
  files/fr/web/css/cross-fade/index.md
  files/fr/web/css/css_backgrounds_and_borders/index.md
  files/fr/web/css/cursor/index.md
Owners: @mdn/yari-content-fr

updt(redirects): set new redirect following changes
  files/fr/_redirects.txt
Owners: @mdn/yari-content-fr

fix(css): set valid `url()` page on links (part 2)
  files/fr/web/css/filter/index.md
  files/fr/web/css/image/image-set/index.md
  files/fr/web/css/image/image/index.md
  files/fr/web/css/image/index.md
  files/fr/web/css/list-style-image/index.md
  files/fr/web/css/mask-image/index.md
  files/fr/web/security/mixed_content/index.md
  files/fr/web/uri/reference/schemes/data/index.md
Owners: @mdn/yari-content-fr

fix(flaws): removing spaces
  files/fr/web/css/content/index.md
  files/fr/web/css/cursor/index.md
Owners: @mdn/yari-content-fr

fix(flaws): image link no longer exist (old link)
  files/fr/web/security/mixed_content/index.md
Owners: @mdn/yari-content-fr

updt: see also content
  files/fr/web/css/webkit_extensions/index.md
Owners: @mdn/yari-content-fr

fix: see also wording on links
  files/fr/web/css/mozilla_extensions/index.md
Owners: @mdn/yari-content-fr

Fix glossary entry formatting (de => du)
  files/fr/web/css/webkit_extensions/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/CSS/WebKit_Extensions` (#29015)
  files/fr/web/css/webkit_extensions/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/CSS/Mozilla_Extensions` (#29016)
  files/fr/web/css/mozilla_extensions/index.md
Owners: @mdn/yari-content-fr

Update of Web/Accessibility/ARIA/Reference/Roles/alert_role
  files/fr/web/accessibility/aria/reference/roles/alert_role/index.md
Owners: @mdn/yari-content-fr
