Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Apply suggestions from code review
  files/zh-cn/web/api/webglrenderingcontext/linkprogram/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/webglrenderingcontext/linkprogram/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `TouchList` (#27555)
  files/zh-tw/web/api/touchlist/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/http/reference/status/101/index.md
Owners: @mdn/yari-content-zh

zh-CN: update the translation of WebGLRenderingContext.linkProgram() (#27734)
  files/zh-cn/web/api/webglrenderingcontext/linkprogram/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `101` (#27568)
  files/zh-tw/web/http/reference/status/101/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `100` (#27572)
  files/zh-tw/web/http/reference/status/100/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/mouseevent/shiftkey/index.md
  files/zh-cn/web/api/mouseevent/shiftkey/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of MouseEvent `shiftKey` property (#27618)
  files/zh-cn/web/api/mouseevent/shiftkey/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/mdn/community/translated_content/index.md
  files/zh-tw/mdn/community/translated_content/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/headers/content-type/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/headers/content-type/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/headers/accept-patch/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/headers/accept-post/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/headers/accept-post/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update landing page of "HTTP Method" (#27574)
  files/zh-tw/web/http/reference/methods/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/escape_character/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/guaranteed_invalid_value/index.md
Owners: @mdn/yari-content-zh

zh-CN: create "Guaranteed-invalid value" glossary term (#27695)
  files/zh-cn/glossary/guaranteed_invalid_value/index.md
Owners: @mdn/yari-content-zh

小規模な修正
  files/ja/web/accessibility/index.md
Owners: @mdn/yari-content-ja

add js-nolint code modifier
  files/ru/web/javascript/reference/global_objects/json/stringify/index.md
Owners: @mdn/yari-content-ru

[ru] fix JSON.stringify example syntax (#27579)
  files/ru/web/javascript/reference/global_objects/json/stringify/index.md
Owners: @mdn/yari-content-ru

Update files/zh-cn/web/api/node/ownerdocument/index.md
  files/zh-cn/web/api/node/ownerdocument/index.md
Owners: @mdn/yari-content-zh

2025/02/07 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/durationformat/format/index.md
  files/ja/web/javascript/reference/global_objects/intl/durationformat/formattoparts/index.md
Owners: @mdn/yari-content-ja

fix(pr-test): add GITHUB_TOKEN env for `rari` related commands
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

zh-CN: create glossary term "Escape character" (#27694)
  files/zh-cn/glossary/escape_character/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-zh

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/conflicting/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/ja/conflicting/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/games/tools/index.md
  files/es/conflicting/web/css/@font-face/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/es/orphaned/mdn/community/security_vulnerability_response/index.md
  files/es/web/api/htmldialogelement/showmodal/index.md
  files/es/web/html/how_to/author_fast-loading_html_pages/index.md
  files/es/web/html/how_to/use_data_attributes/index.md
  files/es/web/security/attacks/index.md
Owners: @mdn/yari-content-es

es: Agrega traducción de files/en-us/learn_web_development/core/index.md (#27077)
  files/es/learn_web_development/core/index.md
Owners: @mdn/yari-content-es

es: remove msedge compat data license (#27253)
  files/es/mozilla/add-ons/webextensions/api/i18n/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/es/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
Owners: @mdn/yari-content-es

[ES] Add `Glossary/Advance_measure` (#27275)
  files/es/glossary/advance_measure/index.md
Owners: @mdn/yari-content-es

[ES] Add `Compression Streams API` docs (#27309)
  files/es/web/api/compression_streams_api/index.md
  files/es/web/api/compressionstream/compressionstream/index.md
  files/es/web/api/compressionstream/index.md
  files/es/web/api/compressionstream/readable/index.md
  files/es/web/api/compressionstream/writable/index.md
  files/es/web/api/decompressionstream/decompressionstream/index.md
  files/es/web/api/decompressionstream/index.md
  files/es/web/api/decompressionstream/readable/index.md
  files/es/web/api/decompressionstream/writable/index.md
Owners: @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
