Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

feat(l10n): reviews page of `Web/Accessibility/ARIA/How_to/*`
  files/fr/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
  files/fr/web/accessibility/aria/how_to/index.md
Owners: @mdn/yari-content-fr

Making title more simplistic
  files/fr/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/Accessibility/ARIA/How_to/*` (#29272)
  files/fr/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
  files/fr/web/accessibility/aria/how_to/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `MDN/Community/Our_repositories`
  files/fr/mdn/community/our_repositories/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `MDN/Community/Pull_requests`
  files/fr/mdn/community/pull_requests/index.md
Owners: @mdn/yari-content-fr

Update files/fr/mdn/community/pull_requests/index.md
  files/fr/mdn/community/pull_requests/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/CSS/CSS_colors/Color_mixer`
  files/fr/web/css/css_colors/color_mixer/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/css/css_colors/color_mixer/index.md
  files/fr/web/css/css_colors/color_mixer/index.md
Owners: @mdn/yari-content-fr

fr: create `MDN/Community/Our_repositories` (#29273)
  files/fr/mdn/community/our_repositories/index.md
Owners: @mdn/yari-content-fr

fr: create `MDN/Community/Pull_requests` (#29274)
  files/fr/mdn/community/pull_requests/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/CSS/CSS_colors/Color_mixer` (#29275)
  files/fr/web/css/css_colors/color_mixer/index.md
Owners: @mdn/yari-content-fr

[fr] sync translated content (#29183)
  files/fr/_redirects.txt
  files/fr/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-fr

Update section title from 'discrète' to 'par paliers'
  files/fr/web/css/css_values_and_units/css_value_functions/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/CSS/CSS_Values_and_Units`
  files/fr/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/CSS/CSS_Values_and_Units/Textual_data_types`
  files/fr/web/css/css_values_and_units/textual_data_types/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/CSS/CSS_Values_and_Units/Using_CSS_math_functions`
  files/fr/web/css/css_values_and_units/using_css_math_functions/index.md
Owners: @mdn/yari-content-fr

[zh-cn]: update the translation of CSS `border-top` property (#29099)
  files/zh-cn/web/css/border-top/index.md
Owners: @mdn/yari-content-zh

Fix typo in predefined keyword section
  files/fr/web/css/css_values_and_units/textual_data_types/index.md
Owners: @mdn/yari-content-fr

[ko] typeof 문서 영어 원문과 동기화
  files/ko/web/javascript/reference/operators/typeof/index.md
Owners: @mdn/yari-content-ko

zh-CN: create `BluetoothDevice/id` (#28619)
  files/zh-cn/web/api/bluetoothdevice/id/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothDevice/name` (#28620)
  files/zh-cn/web/api/bluetoothdevice/name/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothCharacteristicProperties/writableAuxiliaries` (#28622)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/writableauxiliaries/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothCharacteristicProperties/write` (#28623)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/write/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothCharacteristicProperties/indicate` (#28624)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/indicate/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothCharacteristicProperties/read` (#28626)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/read/index.md
Owners: @mdn/yari-content-zh

fix(typo): 政敵 → 静的
  files/ja/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `BluetoothCharacteristicProperties/broadcast` (#28628)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/broadcast/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/css/word-spacing/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of CSS `word-spacing` property (#29087)
  files/zh-cn/web/css/word-spacing/index.md
Owners: @mdn/yari-content-zh

[ko] javascript Intl DurationFormat 신규 번역
  files/ko/web/javascript/reference/global_objects/intl/durationformat/index.md
Owners: @mdn/yari-content-ko

Update files/zh-cn/web/api/bluetoothcharacteristicproperties/authenticatedsignedwrites/index.md
  files/zh-cn/web/api/bluetoothcharacteristicproperties/authenticatedsignedwrites/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/cssmathsum/cssmathsum/index.md
  files/zh-cn/web/api/cssmathsum/cssmathsum/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/animationplaybackevent/timelinetime/index.md
  files/zh-cn/web/api/animationplaybackevent/timelinetime/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/bluetooth/getdevices/index.md
  files/zh-cn/web/api/bluetooth/getdevices/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BluetoothCharacteristicProperties/authenticatedSignedWrites` (#28629)
  files/zh-cn/web/api/bluetoothcharacteristicproperties/authenticatedsignedwrites/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AnimationPlaybackEvent/timelineTime` (#28533)
  files/zh-cn/web/api/animationplaybackevent/timelinetime/index.md
Owners: @mdn/yari-content-zh

[ko] web api websocket binarytype 신규 번역
  files/ko/web/api/websocket/websocket/binaryType/index.md
Owners: @mdn/yari-content-ko

updt(l10n): updating page content from `en-US`
  files/fr/web/javascript/reference/global_objects/date/parse/index.md
Owners: @mdn/yari-content-fr

updt(links): adding french version of links key
  files/fr/web/javascript/reference/global_objects/date/parse/index.md
Owners: @mdn/yari-content-fr

fr: fix elements that could lead to confusion in `Web/JavaScript/Reference/Global_Objects/Date/parse` (#28911)
  files/fr/web/javascript/reference/global_objects/date/parse/index.md
Owners: @mdn/yari-content-fr
