Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update index.md
  files/zh-cn/web/api/domrectreadonly/bottom/index.md
Owners: @mdn/yari-content-zh

fix lint error by inserting zero-width space in Object.create(proxy)[foo] example
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

remove inline <span> tags to resolve markdown lint issues
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

es: fix title of input button page
  files/es/web/html/reference/elements/input/button/index.md
Owners: @mdn/yari-content-es

[es] auto-fix content issues (#28462)
  files/es/web/api/node/nextsibling/index.md
  files/es/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-es

[zh-cn]: translate CommandEvent
  files/zh-cn/web/api/commandevent/index.md
Owners: @mdn/yari-content-zh

2025/07/29 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/decodeuri/index.md
  files/ja/web/javascript/reference/global_objects/decodeuricomponent/index.md
  files/ja/web/javascript/reference/global_objects/encodeuri/index.md
  files/ja/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/ja/web/javascript/reference/global_objects/escape/index.md
  files/ja/web/javascript/reference/global_objects/eval/index.md
  files/ja/web/javascript/reference/global_objects/globalthis/index.md
  files/ja/web/javascript/reference/global_objects/isfinite/index.md
  files/ja/web/javascript/reference/global_objects/isnan/index.md
  files/ja/web/javascript/reference/global_objects/parsefloat/index.md
  files/ja/web/javascript/reference/global_objects/parseint/index.md
  files/ja/web/javascript/reference/global_objects/undefined/index.md
  files/ja/web/javascript/reference/global_objects/unescape/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/css_text/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/css_text/index.md
  files/ja/web/css/css_text/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/css_text/wrapping_breaking_text/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/hanging-punctuation/index.md
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/hyphenate-character/index.md
  files/ja/web/css/hyphenate-limit-chars/index.md
  files/ja/web/css/hyphens/index.md
Owners: @mdn/yari-content-ja

2025/07/17 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/letter-spacing/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に基づき更新
  files/ja/web/css/letter-spacing/index.md
Owners: @mdn/yari-content-ja

2025/08/16 時点の英語版に基づき更新 (#28421)
  files/ja/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/javascript/reference/global_objects/undefined/index.md
  files/ja/web/javascript/reference/global_objects/undefined/index.md
Owners: @mdn/yari-content-ja

zh-cn: auto-fix content issues
  files/zh-cn/glossary/whitespace/index.md
  files/zh-cn/web/api/document_object_model/using_the_document_object_model/index.md
  files/zh-cn/web/api/node/firstchild/index.md
  files/zh-cn/web/api/node/nextsibling/index.md
  files/zh-cn/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-zh

[zh-cn] auto-fix content issues (#28504)
  files/zh-cn/glossary/whitespace/index.md
  files/zh-cn/web/api/document_object_model/using_the_document_object_model/index.md
  files/zh-cn/web/api/node/firstchild/index.md
  files/zh-cn/web/api/node/nextsibling/index.md
  files/zh-cn/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/firefox/releases/3/templates/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `3/Templates` (#28233)
  files/zh-cn/mozilla/firefox/releases/3/templates/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
Owners: @mdn/yari-content-zh

translate tablist role
  files/ja/web/accessibility/aria/reference/roles/tablist_role/index.md
Owners: @mdn/yari-content-ja

[zh-cn] add translation for PerformanceResourceTiming.transferSize (#28464)
  files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Date.UTC()` (#28340)
  files/zh-tw/web/javascript/reference/global_objects/date/utc/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/global_objects/error/columnnumber/index.md
  files/zh-tw/web/javascript/reference/global_objects/error/columnnumber/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Error.prototype.columnNumber` (#28342)
  files/zh-tw/web/javascript/reference/global_objects/error/columnnumber/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/firefox/releases/3/dom_improvements/index.md
  files/zh-cn/mozilla/firefox/releases/3/dom_improvements/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `3/DOM_improvements` (#28235)
  files/zh-cn/mozilla/firefox/releases/3/dom_improvements/index.md
Owners: @mdn/yari-content-zh

zh-CN: fix typo in the "Getting started with Vue" chapter (#28505)
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Owners: @mdn/yari-content-zh

minor fix
  files/zh-cn/web/api/element/arialabel/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Element/ariaLabel` (#28480)
  files/zh-cn/web/api/element/arialabel/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create exportparts html global attribute
  files/zh-cn/web/html/reference/global_attributes/exportparts/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update translation for PerformanceEventTiming
  files/zh-cn/web/api/performanceeventtiming/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update translation for PerformanceObserver.observe
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update translation for PerformanceObserver.observe
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

add missing label translation
  files/zh-cn/web/html/reference/global_attributes/exportparts/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh
