Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/02/06 時点の英語版に同期
  files/ja/web/api/domrect/y/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/api/domrect/fromrect_static/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/html/reference/attributes/required/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/api/xsltprocessor/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/ja/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/ja/web/css/css_logical_properties_and_values/index.md
  files/ja/web/css/css_logical_properties_and_values/sizing/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/basic_concepts/index.md
  files/ja/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
  files/ja/web/css/css_multicol_layout/using_multicol_layouts/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_overflow/css_carousels/carousel.png
  files/ja/web/css/css_overflow/css_carousels/carousel.svg
  files/ja/web/css/css_overflow/css_carousels/index.md
  files/ja/web/css/css_overflow/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_scroll_snap/basic_concepts/index.md
  files/ja/web/css/css_scroll_snap/index.md
  files/ja/web/css/css_scroll_snap/using_scroll_snap_events/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/html/reference/elements/script/type/importmap/index.md
Owners: @mdn/yari-content-ja

translate combobox role
  files/ja/web/accessibility/aria/reference/roles/combobox_role/index.md
Owners: @mdn/yari-content-ja

[es] auto-fix content issues (#28202)
  files/es/web/api/event/type/index.md
Owners: @mdn/yari-content-es

[ru] sync translated content (#28186)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/document_object_model/events/index.md
Owners: @mdn/yari-content-ru

ru: auto-fix content issues
  files/ru/learn_web_development/core/scripting/events/index.md
  files/ru/learn_web_development/extensions/forms/user_input_methods/index.md
  files/ru/mdn/guides/index.md
  files/ru/web/api/event/index.md
  files/ru/web/api/event/type/index.md
  files/ru/web/api/eventtarget/index.md
  files/ru/web/html/reference/elements/audio/index.md
  files/ru/web/html/reference/elements/video/index.md
  files/ru/web/index.md
Owners: @mdn/yari-content-ru

ko: auto-fix content issues
  files/ko/web/api/customevent/customevent/index.md
  files/ko/web/api/customevent/index.md
  files/ko/web/api/element/copy_event/index.md
  files/ko/web/api/element/cut_event/index.md
  files/ko/web/api/element/paste_event/index.md
  files/ko/web/api/event/event/index.md
  files/ko/web/api/event/index.md
  files/ko/web/api/eventtarget/addeventlistener/index.md
  files/ko/web/api/eventtarget/dispatchevent/index.md
  files/ko/web/api/eventtarget/index.md
  files/ko/web/api/offlineaudiocontext/index.md
  files/ko/web/html/reference/global_attributes/index.md
Owners: @mdn/yari-content-ko

docs: "anemore" -> "anemone"
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Owners: @mdn/yari-content-ja

fr: sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/fr/conflicting/web/api/document_object_model/events/index.md
  files/fr/conflicting/web/css/@media/index.md
  files/fr/conflicting/web/css/clip/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/web/api/document_object_model/events/index.md
Owners: @mdn/yari-content-fr

2025/07/12 時点の英語版に基づき新規翻訳
  files/ja/web/api/attribution_reporting_api/generating_reports/index.md
  files/ja/web/api/attribution_reporting_api/registering_sources/index.md
  files/ja/web/api/attribution_reporting_api/registering_triggers/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期 (#28181)
  files/ja/web/html/reference/global_attributes/accesskey/index.md
  files/ja/web/html/reference/global_attributes/anchor/index.md
  files/ja/web/html/reference/global_attributes/autocapitalize/index.md
  files/ja/web/html/reference/global_attributes/autocorrect/index.md
  files/ja/web/html/reference/global_attributes/autofocus/index.md
  files/ja/web/html/reference/global_attributes/class/index.md
  files/ja/web/html/reference/global_attributes/contenteditable/index.md
Owners: @mdn/yari-content-ja

2025/07/25 時点の英語版に同期
  files/ja/web/api/attribution_reporting_api/ara-flow.svg
  files/ja/web/api/attribution_reporting_api/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/attribution_reporting_api/generating_reports/index.md
  files/ja/web/api/attribution_reporting_api/generating_reports/index.md
Owners: @mdn/yari-content-ja

[zh-CN] 同步 Web/CSS/inherit 的英文翻译
  files/zh-cn/web/css/inherit/index.md
Owners: @mdn/yari-content-zh

translate command and comment role
  files/ja/web/accessibility/aria/reference/roles/command_role/index.md
  files/ja/web/accessibility/aria/reference/roles/comment_role/index.md
Owners: @mdn/yari-content-ja

[ko] offsetParent 문서 수정
  files/ko/web/api/htmlelement/offsetparent/index.md
Owners: @mdn/yari-content-ko

[zh-cn]: translate CSSKeyframesRule cssRules property
  files/zh-cn/web/api/csskeyframesrule/cssrules/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csskeyframesrule/cssrules/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: translate CSSKeyframesRule appendRule method
  files/zh-cn/web/api/csskeyframesrule/appendrule/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csskeyframesrule/appendrule/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csskeyframesrule/cssrules/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/storage/session/quota_bytes/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/color/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/get/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tab_group_id_none/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tabgroup/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/version_name/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/version_name/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/color/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tab_group_id_none/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tabgroup/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/storage/session/quota_bytes/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/get/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
