Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[zh-cn]: update for "Advanced text features" (#25540)
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Add translation for `@view-transition` (#26503)
  files/zh-cn/web/css/@view-transition/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: Sync with fetch spec for Forbidden request header (#26254)
  files/zh-tw/web/api/xmlhttprequest/setrequestheader/index.md
  files/zh-tw/web/http/reference/headers/accept-ch/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-language/index.md
  files/zh-tw/web/http/reference/headers/accept/index.md
  files/zh-tw/web/http/reference/headers/age/index.md
  files/zh-tw/web/http/reference/headers/allow/index.md
  files/zh-tw/web/http/reference/headers/user-agent/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Owners: @mdn/yari-content-zh

Translate link name
  files/ru/glossary/block/css/index.md
Owners: @mdn/yari-content-ru

[ru] auto-fix content issues (#26572)
  files/ru/glossary/block/css/index.md
  files/ru/glossary/layout_mode/index.md
  files/ru/learn_web_development/core/css_layout/floats/index.md
  files/ru/web/css/_doublecolon_first-letter/index.md
  files/ru/web/css/_doublecolon_first-line/index.md
  files/ru/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ru/web/css/css_cascade/actual_value/index.md
  files/ru/web/css/css_cascade/computed_value/index.md
  files/ru/web/css/css_cascade/inheritance/index.md
  files/ru/web/css/css_cascade/initial_value/index.md
  files/ru/web/css/css_cascade/shorthand_properties/index.md
  files/ru/web/css/css_cascade/specificity/index.md
  files/ru/web/css/css_cascade/specified_value/index.md
  files/ru/web/css/css_cascade/used_value/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_display/containing_block/index.md
  files/ru/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/ru/web/css/css_images/replaced_element_properties/index.md
  files/ru/web/css/css_syntax/at-rule/index.md
  files/ru/web/css/css_syntax/comments/index.md
  files/ru/web/css/css_syntax/syntax/index.md
  files/ru/web/css/margin-left/index.md
  files/ru/web/css/margin-right/index.md
  files/ru/web/css/reference/index.md
  files/ru/web/css/resolved_value/index.md
  files/ru/web/css/transform/index.md
Owners: @mdn/yari-content-ru

feat: Add Lefthook for precommit hooks (#26482)
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  scripts/check-url-locale.js
  yarn.lock
Owners: @mdn/core-dev

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/index.md
Owners: @mdn/yari-content-zh

[ru] update "Glossary/Layout_mode" translation
  files/ru/glossary/layout_mode/index.md
Owners: @mdn/yari-content-ru

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/javascript/reference/global_objects/array/concat/index.md
Owners: @mdn/yari-content-zh

2023/04/12 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/maxbytelength/index.md
Owners: @mdn/yari-content-ja

2023/12/11 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/grow/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/growable/index.md
Owners: @mdn/yari-content-ja

2025/03/01 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/symbol.species/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/bytelength/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/slice/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
Owners: @mdn/yari-content-ja

2025/03/06 時点の英語版に同期
  files/ja/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/index.md
Owners: @mdn/yari-content-ja

let's revert this for a better illustration
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/yari-content-zh

revert revert :)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/privacy/guides/privacy_sandbox/enrollment/index.md
  files/zh-cn/web/privacy/guides/privacy_sandbox/index.md
Owners: @mdn/yari-content-zh

fix wrapped macros
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/settings/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/proxy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
  files/zh-cn/web/api/serviceworkercontainer/register/index.md
  files/zh-cn/web/css/_doublecolon_before/index.md
  files/zh-cn/web/css/animation-duration/index.md
  files/zh-cn/web/css/animation-iteration-count/index.md
  files/zh-cn/web/css/background-size/index.md
  files/zh-cn/web/css/border-left/index.md
  files/zh-cn/web/css/border-top/index.md
  files/zh-cn/web/css/min-height/index.md
  files/zh-cn/web/javascript/reference/global_objects/undefined/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/clipping_and_masking/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/find/index.md
Owners: @mdn/yari-content-zh

fix corrupted macro name
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/settings/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/proxy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
Owners: @mdn/yari-content-zh

2024/07/15 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/apply/index.md
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
  files/ja/web/javascript/reference/global_objects/function/call/index.md
  files/ja/web/javascript/reference/global_objects/function/function/index.md
  files/ja/web/javascript/reference/global_objects/function/tostring/index.md
Owners: @mdn/yari-content-ja

2024/11/23 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/symbol.hasinstance/index.md
Owners: @mdn/yari-content-ja

[es] fix word (#26505)
  files/es/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/es/learn_web_development/core/structuring_content/creating_links/index.md
  files/es/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills_colon__links/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills_colon__other_controls/index.md
  files/es/web/html/global_attributes/class/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/core/css_layout/media_queries (#26489)
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Owners: @mdn/yari-content-es

es: auto-fix content issues
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/es/web/api/element/matches/index.md
  files/es/web/api/element/queryselector/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/webvr_api/using_the_webvr_api/index.md
  files/es/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/es/web/css/_colon_empty/index.md
  files/es/web/css/border-inline-start/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/border/index.md
  files/es/web/css/grid/index.md
  files/es/web/css/margin-inline/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/object-fit/index.md
  files/es/web/css/opacity/index.md
  files/es/web/css/print-color-adjust/index.md
  files/es/web/css/resolved_value/index.md
  files/es/web/html/attributes/crossorigin/index.md
  files/es/web/html/attributes/multiple/index.md
  files/es/web/html/element/div/index.md
  files/es/web/html/viewport_meta_tag/index.md
  files/es/web/http/reference/headers/accept/index.md
  files/es/web/http/reference/headers/access-control-allow-origin/index.md
  files/es/web/http/reference/headers/access-control-expose-headers/index.md
  files/es/web/http/reference/headers/authorization/index.md
  files/es/web/http/reference/headers/cache-control/index.md
  files/es/web/http/reference/headers/content-disposition/index.md
  files/es/web/http/reference/headers/content-location/index.md
  files/es/web/http/reference/headers/content-security-policy/index.md
  files/es/web/http/reference/headers/content-type/index.md
  files/es/web/http/reference/headers/cookie/index.md
  files/es/web/http/reference/headers/etag/index.md
  files/es/web/http/reference/headers/index.md
  files/es/web/http/reference/headers/keep-alive/index.md
  files/es/web/http/reference/headers/set-cookie/index.md
  files/es/web/http/reference/headers/transfer-encoding/index.md
  files/es/web/http/reference/headers/user-agent/index.md
  files/es/web/http/reference/headers/www-authenticate/index.md
  files/es/web/http/reference/headers/x-content-type-options/index.md
  files/es/web/http/reference/status/201/index.md
Owners: @mdn/yari-content-es

[ko] in 연산자 예제 수정
  files/ko/web/javascript/reference/operators/in/index.md
Owners: @mdn/yari-content-ko

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/css_cascade/value_processing/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ja/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/css/css_cascade/value_processing/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/es/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-es

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/css/css_cascade/value_processing/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ru/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-ru

fix the translation of "interface"
  files/ja/web/accessibility/aria/reference/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-ja

[es] auto-fix content issues (#26525)
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/es/web/api/element/matches/index.md
  files/es/web/api/element/queryselector/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/webvr_api/using_the_webvr_api/index.md
  files/es/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/es/web/css/_colon_empty/index.md
  files/es/web/css/border-inline-start/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/border/index.md
  files/es/web/css/grid/index.md
  files/es/web/css/margin-inline/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/object-fit/index.md
  files/es/web/css/opacity/index.md
  files/es/web/css/print-color-adjust/index.md
  files/es/web/css/resolved_value/index.md
  files/es/web/html/attributes/crossorigin/index.md
  files/es/web/html/attributes/multiple/index.md
  files/es/web/html/element/div/index.md
  files/es/web/html/viewport_meta_tag/index.md
  files/es/web/http/reference/headers/accept/index.md
  files/es/web/http/reference/headers/access-control-allow-origin/index.md
  files/es/web/http/reference/headers/access-control-expose-headers/index.md
  files/es/web/http/reference/headers/authorization/index.md
  files/es/web/http/reference/headers/cache-control/index.md
  files/es/web/http/reference/headers/content-disposition/index.md
  files/es/web/http/reference/headers/content-location/index.md
  files/es/web/http/reference/headers/content-security-policy/index.md
  files/es/web/http/reference/headers/content-type/index.md
  files/es/web/http/reference/headers/cookie/index.md
  files/es/web/http/reference/headers/etag/index.md
  files/es/web/http/reference/headers/index.md
  files/es/web/http/reference/headers/keep-alive/index.md
  files/es/web/http/reference/headers/set-cookie/index.md
  files/es/web/http/reference/headers/transfer-encoding/index.md
  files/es/web/http/reference/headers/user-agent/index.md
  files/es/web/http/reference/headers/www-authenticate/index.md
  files/es/web/http/reference/headers/x-content-type-options/index.md
  files/es/web/http/reference/status/201/index.md
Owners: @mdn/yari-content-es

fix(ja): remove duplicate list items
  files/ja/web/svg/guides/svg_in_html/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/learn_web_development/core/scripting/functions/index.md
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Owners: @mdn/yari-content-zh

zh-cn: correct the output of the example code (#26536)
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
