Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Fix CSS syntax ( → ) and improve Korean spacing
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

fix: replace `font-family: placeholder;` with `"Open Sans", sans-serif;`
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

fix: apply MDN linting style for font-family
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

fix: apply MDN linting style for font-family
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

aria-flowtoを翻訳 (#26341)
  files/ja/web/accessibility/aria/reference/attributes/aria-flowto/index.md
Owners: @mdn/yari-content-ja

Fix CSS syntax ( → ) and improve Korean spacing (#26450)
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

2023/12/31 時点の英語版に同期
  files/ja/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Owners: @mdn/yari-content-ja

2023/12/04 時点の英語版に同期
  files/ja/web/security/subdomain_takeovers/index.md
Owners: @mdn/yari-content-ja

2024/11/02 時点の英語版に同期
  files/ja/web/security/subresource_integrity/index.md
Owners: @mdn/yari-content-ja

2024/12/18 時点の英語版に同期
  files/ja/web/security/types_of_attacks/index.md
Owners: @mdn/yari-content-ja

2023/07/04 時点の英語版に同期
  files/ja/web/security/weak_signature_algorithm/index.md
Owners: @mdn/yari-content-ja

2024/08/08 時点の英語版に同期
  files/ja/web/security/transport_layer_security/index.md
Owners: @mdn/yari-content-ja

2025/02/04 時点の英語版に同期
  files/ja/web/security/user_activation/index.md
Owners: @mdn/yari-content-ja

translate aria-invalid
  files/ja/web/accessibility/aria/reference/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-ja

translate aria-haspopup
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-busy/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-checked/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-modal/index.md
Owners: @mdn/yari-content-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-ja

fix: improve sentence structure in rule description
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

2025/02/18 時点の英語版に同期
  files/ja/web/xml/guides/opensearch/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/xml/guides/parsing_and_serializing_xml/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/guides/index.md
  files/ja/web/xml/guides/xml_introduction/index.md
Owners: @mdn/yari-content-ja

.xmlのMIMEタイプの記述内容を英語版に同期 (#26392)
  files/ja/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Owners: @mdn/yari-content-zh

translate aria-owns
  files/ja/web/accessibility/aria/reference/attributes/aria-owns/index.md
Owners: @mdn/yari-content-ja

2023/04/07 時点の英語版に同期
  files/ja/web/api/domparser/domparser/index.md
Owners: @mdn/yari-content-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/domparser/parsefromstring/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/api/domparser/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
Owners: @mdn/yari-content-zh

ci: pass data betwen steps via GITHUB_OUTPUT
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Owners: @mdn/core-dev

ci: pass data betwen steps via GITHUB_OUTPUT (#26462)
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Owners: @mdn/core-dev

[fr]: fix typo (missing letter) in first sentence (#26428)
  files/fr/web/javascript/reference/global_objects/float64array/index.md
Owners: @mdn/yari-content-fr

[es]: Agrega traduccion de files/en-us/learn_web_development/core/css_layout/fundamental_layout_comprehension
  files/es/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
Owners: @mdn/yari-content-es

[ko] JavaScript performance optimization 신규 번역
  files/ko/learn_web_development/extensions/performance/javascript/index.md
Owners: @mdn/yari-content-ko

[zh-cn]: update the translation of http `101` status
  files/zh-cn/web/http/reference/status/101/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `402` (#26417)
  files/zh-tw/web/http/reference/status/402/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/101/index.md
Owners: @mdn/yari-content-zh

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `FileSystemFileHandle.*` (#26394)
  files/zh-cn/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/zh-cn/web/api/filesystemfilehandle/createwritable/index.md
  files/zh-cn/web/api/filesystemfilehandle/getfile/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
