Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

zh-CN: create `ContactAddress/organization` (#28888)
  files/zh-cn/web/api/contactaddress/organization/index.md
Owners: @mdn/yari-content-zh

Apply suggestion from @PassionPenguin
  files/zh-cn/web/api/timeranges/start/index.md
Owners: @mdn/yari-content-zh

Apply suggestion from @PassionPenguin
  files/zh-cn/web/api/timeranges/start/index.md
Owners: @mdn/yari-content-zh

Apply suggestion from @PassionPenguin
  files/zh-cn/web/api/timeranges/start/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/contactaddress/tojson/index.md
  files/zh-cn/web/api/contactaddress/tojson/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/contactaddress/region/index.md
  files/zh-cn/web/api/contactaddress/region/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/contactaddress/recipient/index.md
Owners: @mdn/yari-content-zh

[ja] fix "return value" translation in Array.toSpliced()
  files/ja/web/javascript/reference/global_objects/array/tospliced/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
Owners: @mdn/yari-content-zh

[ko] Selection 신규 번역 (#28901)
  files/ko/web/api/selection/index.md
Owners: @mdn/yari-content-ko

2025/04/03 時点の英語版に基づき新規翻訳
  files/ja/web/performance/guides/performance_budgets/index.md
Owners: @mdn/yari-content-ja

2025/02/25 時点の英語版に基づき新規翻訳
  files/ja/web/performance/guides/rum-vs-synthetic/index.md
Owners: @mdn/yari-content-ja

2025/07/17 時点の英語版に基づき新規翻訳 (#28941)
  files/ja/web/performance/guides/css_javascript_animation_performance/index.md
  files/ja/web/performance/guides/css_javascript_animation_performance/pic1.png
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/performance/guides/animation_performance_and_frame_rate/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/strict_equality/index.md
  files/ja/web/javascript/reference/operators/strict_inequality/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/null/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/yield/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/yield_star_/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/object_initializer/index.md
Owners: @mdn/yari-content-ja

用語を修正 否定→符号反転
  files/ja/web/javascript/reference/operators/unary_negation/index.md
Owners: @mdn/yari-content-ja

ko: update ImageData description
  files/ko/web/api/imagedata/index.md
Owners: @mdn/yari-content-ko

2025/08/28 時点の英語版に基づき更新
  files/ja/web/css/css_anchor_positioning/using/index.md
  files/ja/web/css/css_anchor_positioning/using/position-area.drawio
  files/ja/web/css/css_anchor_positioning/using/position-area.png
  files/ja/web/css/css_anchor_positioning/using/position-area.svg
Owners: @mdn/yari-content-ja

2025/08/13 時点の英語版に基づき更新
  files/ja/web/css/anchor-name/index.md
Owners: @mdn/yari-content-ja

Fix grammar issues
  files/es/web/api/response/index.md
Owners: @mdn/yari-content-es

[es] Add Object/groupBy (#28691)
  files/es/web/javascript/reference/global_objects/object/groupby/index.md
Owners: @mdn/yari-content-es

Update files/es/web/api/response/index.md
  files/es/web/api/response/index.md
Owners: @mdn/yari-content-es

fix ctrlvs
  files/es/web/api/gpuadapterinfo/subgroupmaxsize/index.md
  files/es/web/api/gpuadapterinfo/subgroupminsize/index.md
Owners: @mdn/yari-content-es

Fix grammar issues (#29050)
  files/es/web/api/response/index.md
Owners: @mdn/yari-content-es

[ES] Add `GPUAdapterInfo` (#28689)
  files/es/web/api/gpuadapterinfo/architecture/index.md
  files/es/web/api/gpuadapterinfo/description/index.md
  files/es/web/api/gpuadapterinfo/device/index.md
  files/es/web/api/gpuadapterinfo/index.md
  files/es/web/api/gpuadapterinfo/subgroupmaxsize/index.md
  files/es/web/api/gpuadapterinfo/subgroupminsize/index.md
  files/es/web/api/gpuadapterinfo/vendor/index.md
Owners: @mdn/yari-content-es

[ru] sync translated content (#28686)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
Owners: @mdn/yari-content-ru

fix(l10n): update and fix Learn_web_development/Core/Structuring_content/Marking_up_a_letter
  files/fr/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
Owners: @mdn/yari-content-fr

fix(flaws): example brack line
  files/fr/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
Owners: @mdn/yari-content-fr

ko: auto-fix content issues
  files/ko/web/api/element/mousedown_event/index.md
  files/ko/web/api/mouseevent/offsetx/index.md
  files/ko/web/api/mouseevent/offsety/index.md
  files/ko/web/css/cssom_view/index.md
Owners: @mdn/yari-content-ko

fr: auto-fix content issues
  files/fr/glossary/hoisting/index.md
  files/fr/web/css/css_colors/applying_color/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/API/KeyframeEffect`
  files/fr/web/api/keyframeeffect/index.md
Owners: @mdn/yari-content-fr

minor fixes
  files/zh-cn/games/introduction/index.md
  files/zh-cn/games/tools/index.md
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
Owners: @mdn/yari-content-zh

updt(l10n): update of `Web/API/KeyframeEffect/KeyframeEffect`
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
Owners: @mdn/yari-content-fr

zh-cn: sync translated content (#28956)
  files/zh-cn/games/anatomy/index.md
  files/zh-cn/games/introduction/index.md
  files/zh-cn/games/tools/index.md
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
