Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/06/24 時点の英語版に同期
  files/ja/web/api/window/atob/index.md
  files/ja/web/api/window/btoa/index.md
Owners: @mdn/yari-content-ja

sourceCommit および記事の一部の修正
  files/ja/learn_web_development/extensions/forms/customizable_select/index.md
Owners: @mdn/yari-content-ja

2025/06/08 時点の英語版に同期
  files/ja/web/accessibility/guides/accessible_web_applications_and_widgets/index.md
  files/ja/web/accessibility/guides/understanding_wcag/index.md
Owners: @mdn/yari-content-ja

2025/03/06 時点の英語版に同期
  files/ja/web/accessibility/guides/browsing_safely/index.md
  files/ja/web/accessibility/guides/information_for_web_authors/index.md
Owners: @mdn/yari-content-ja

2025/06/02 時点の英語版に同期
  files/ja/web/accessibility/guides/keyboard-navigable_javascript_widgets/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/accessibility/guides/mobile_accessibility_checklist/index.md
Owners: @mdn/yari-content-ja

[es] auto-fix content issues (#28051)
  files/es/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
Owners: @mdn/yari-content-es

[ko] update `web/css/container` (#27996)
  files/ko/web/css/container-name/index.md
  files/ko/web/css/container-type/index.md
  files/ko/web/css/container/index.md
Owners: @mdn/yari-content-ko

es: auto-fix content issues
  files/es/web/css/filter/index.md
Owners: @mdn/yari-content-es

[es] auto-fix content issues (#28093)
  files/es/web/css/filter/index.md
Owners: @mdn/yari-content-es

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/@media/index.md
Owners: @mdn/yari-content-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/learn_web_development/extensions/forms/index.md
  files/es/conflicting/learn_web_development/extensions/forms_d13688a1f23c09e79112b12fb2aa6a2861eb81ce95a6bae81023239b6caac771/index.md
  files/es/conflicting/web/css/clip/index.md
Owners: @mdn/yari-content-es

[es] sync translated content (#28029)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/learn_web_development/extensions/forms/index.md
  files/es/conflicting/learn_web_development/extensions/forms_d13688a1f23c09e79112b12fb2aa6a2861eb81ce95a6bae81023239b6caac771/index.md
  files/es/conflicting/web/css/clip/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/zh-tw/web/css/css_cascade/shorthand_properties/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `CSSMediaRule` introduction
  files/zh-cn/web/api/cssmediarule/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/ja/web/http/reference/headers/content-security-policy/base-uri/index.md
Owners: @mdn/yari-content-ja

2025/07/11 時点の英語版に同期
  files/ja/glossary/latency/index.md
  files/ja/glossary/webkit/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/core/styling_basics/advanced_styling_effects/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/css/@media/index.md
  files/ja/conflicting/web/css/@media/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#28095)
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/css/@media/aural/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/css/position/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/css/position/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSFontFaceRule style property
  files/zh-cn/web/api/cssfontfacerule/style/index.md
Owners: @mdn/yari-content-zh

2025/07/05 時点の英語版に同期
  files/ja/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
  files/ja/web/api/delegatedinktrailpresenter/index.md
  files/ja/web/api/delegatedinktrailpresenter/presentationarea/index.md
  files/ja/web/api/delegatedinktrailpresenter/updateinktrailstartpoint/index.md
  files/ja/web/api/ink/index.md
  files/ja/web/api/ink/requestpresenter/index.md
  files/ja/web/api/ink_api/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
  files/ja/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/delegatedinktrailpresenter/index.md
  files/ja/web/api/delegatedinktrailpresenter/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/ink_api/index.md
  files/ja/web/api/ink_api/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/api/ink/index.md
  files/ja/web/api/ink/index.md
Owners: @mdn/yari-content-ja

インクAPIを追加
  files/ja/web/api/index.md
Owners: @mdn/yari-content-ja

[zh-cn] update 'property accessors'
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `border-top-color` (#27972)
  files/zh-tw/web/css/border-top-color/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `border-left-color` (#27969)
  files/zh-tw/web/css/border-left-color/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `border-bottom-color` (#27954)
  files/zh-tw/web/css/border-bottom-color/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `border-color` (#27955)
  files/zh-tw/web/css/border-color/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
Owners: @mdn/yari-content-zh

correct 'render'
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-zh

(fix): incorrect description of -0 and +0 equality in map and set docs
  files/ru/web/javascript/guide/keyed_collections/index.md
Owners: @mdn/yari-content-ru

Update files/ja/web/http/reference/headers/access-control-allow-methods/index.md
  files/ja/web/http/reference/headers/access-control-allow-methods/index.md
Owners: @mdn/yari-content-ja
