Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioEncoder/dequeue_event` (#28522)
  files/zh-cn/web/api/audioencoder/dequeue_event/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AnimationEvent/elapsedTime` (#28535)
  files/zh-cn/web/api/animationevent/elapsedtime/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

[ko] Selection 신규 번역
  files/ko/web/api/selection/index.md
Owners: @mdn/yari-content-ko

[ko] Selection lint 에러 수정
  files/ko/web/api/selection/index.md
Owners: @mdn/yari-content-ko

Update index.md change 'timing-function' to 'easing-function'
  files/zh-cn/web/css/transition-timing-function/index.md
Owners: @mdn/yari-content-zh

Initial translation of Web/HTML/Guides
  files/fr/web/html/guides/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/URI
  files/fr/web/uri/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/CSS/CSS_colors/Color_picker_tool
  files/fr/web/css/css_colors/color_picker_tool/index.md
Owners: @mdn/yari-content-fr

Update title to French for color picker tool
  files/fr/web/css/css_colors/color_picker_tool/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/CSS/Properties
  files/fr/web/css/properties/index.md
Owners: @mdn/yari-content-fr

2025/08/27 時点の英語版に基づき更新
  files/ja/web/performance/guides/fundamentals/index.md
Owners: @mdn/yari-content-ja

2025/08/12 時点の英語版に基づき更新
  files/ja/web/performance/guides/how_browsers_work/index.md
Owners: @mdn/yari-content-ja

2025/02/25 時点の英語版に基づき更新
  files/ja/web/performance/guides/understanding_latency/index.md
Owners: @mdn/yari-content-ja

Fix important misconception about Date parsing behaviour wrt "invalid" dates
  files/fr/web/javascript/reference/global_objects/date/parse/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/CSS/Guides
  files/fr/web/css/guides/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/Media
  files/fr/web/media/index.md
Owners: @mdn/yari-content-fr

Fixing spacing
  files/fr/web/media/index.md
Owners: @mdn/yari-content-fr

Initial translation of Web/WebDriver
  files/fr/web/webdriver/index.md
Owners: @mdn/yari-content-fr

Translation of Web/Privacy part 1
  files/fr/web/privacy/index.md
Owners: @mdn/yari-content-fr

Translation of Web/Privacy part 2
  files/fr/web/privacy/index.md
Owners: @mdn/yari-content-fr

Translation of Web/Privacy part 3
  files/fr/web/privacy/index.md
Owners: @mdn/yari-content-fr

Fix quotes symbols
  files/fr/web/privacy/index.md
Owners: @mdn/yari-content-fr

Add RU translation: Learn → Getting started (index)
  files/ru/learn_web_development/getting_started/index.md
Owners: @mdn/yari-content-ru

Update files/ru/learn_web_development/getting_started/index.md
  files/ru/learn_web_development/getting_started/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/zh-cn/web/css/transition-timing-function/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/transition-timing-function/index.md
  files/zh-cn/web/css/transition-timing-function/index.md
Owners: @mdn/yari-content-zh

Update index.md change 'timing-function' to 'easing-function' (#28902)
  files/zh-cn/web/css/transition-timing-function/index.md
Owners: @mdn/yari-content-zh

Initial translation of Glossary/Accessible_description
  files/fr/glossary/accessible_description/index.md
Owners: @mdn/yari-content-fr

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/security/attacks/subdomain_takeover/index.md
Owners: @mdn/yari-content-ja

ci(pr-test): use fred (#28697)
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/conditional_operator/index.md
  files/ja/web/javascript/reference/operators/index.md
  files/ja/web/javascript/reference/operators/logical_and/index.md
  files/ja/web/javascript/reference/operators/logical_and_assignment/index.md
  files/ja/web/javascript/reference/operators/logical_not/index.md
  files/ja/web/javascript/reference/operators/logical_or/index.md
  files/ja/web/javascript/reference/operators/logical_or_assignment/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
Owners: @mdn/yari-content-ja

2025/07/29 時点の英語版に基づき更新
  files/ja/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/template_literals/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/property_accessors/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/optional_chaining/index.md
Owners: @mdn/yari-content-ja
