Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/03/03 時点の英語版に同期
  files/ja/web/css/_colon_disabled/index.md
Owners: @mdn/yari-content-ja

ru: auto-fix content issues
  files/ru/mozilla/firefox/releases/65/index.md
Owners: @mdn/yari-content-ru

remove the documentation of old MDN style
  files/zh-cn/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
Owners: @mdn/yari-content-zh

fixup
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/variables/index.md
  files/zh-cn/web/accessibility/aria/reference/attributes/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/methods/options/index.md
  files/zh-tw/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/methods/options/index.md
  files/zh-tw/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

chore(l10n-zh): add glossary for interactive example common (#27799)
  docs/zh-cn/glossary.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/webgl2renderingcontext/beginquery/index.md
Owners: @mdn/yari-content-zh

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn_web_development/core/css_layout/multiple-column_layout/index.md
Owners: @mdn/yari-content-ru

Update files/zh-cn/glossary/leading/index.md
  files/zh-cn/glossary/leading/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Leading` (#27722)
  files/zh-cn/glossary/leading/index.md
Owners: @mdn/yari-content-zh

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/measuring_performance/index.md
  files/ja/learn_web_development/extensions/performance/perceived_performance/index.md
  files/ja/learn_web_development/extensions/performance/what_is_web_performance/index.md
  files/ja/learn_web_development/extensions/performance/why_web_performance/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/uri/reference/query/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create translation of url path
  files/zh-cn/web/uri/reference/path/index.md
Owners: @mdn/yari-content-zh

zh-cn: add "HTML Cheatsheet" & "HTML Guides"
  files/zh-cn/web/html/guides/cheatsheet/beast.png
  files/zh-cn/web/html/guides/cheatsheet/index.md
  files/zh-cn/web/html/guides/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update Element API
  files/zh-cn/web/api/element/index.md
Owners: @mdn/yari-content-zh

chore: typo
  files/zh-cn/web/html/guides/cheatsheet/index.md
Owners: @mdn/yari-content-zh

[ru] auto-fix content issues (#27804)
  files/ru/mozilla/firefox/releases/65/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#27811)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn_web_development/core/css_layout/multiple-column_layout/index.md
Owners: @mdn/yari-content-ru

es: auto-fix content issues
  files/es/web/css/_doublecolon_part/index.md
  files/es/web/css/background-image/index.md
  files/es/web/css/border-style/index.md
  files/es/web/css/hyphens/index.md
  files/es/web/css/perspective/index.md
Owners: @mdn/yari-content-es

[es] auto-fix content issues (#27818)
  files/es/web/css/_doublecolon_part/index.md
  files/es/web/css/background-image/index.md
  files/es/web/css/border-style/index.md
  files/es/web/css/hyphens/index.md
  files/es/web/css/perspective/index.md
Owners: @mdn/yari-content-es

[zh-cn] create translation of url query (#27779)
  files/zh-cn/web/uri/reference/query/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix a typo
  files/zh-cn/learn_web_development/core/css_layout/grids/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix a typo (#27819)
  files/zh-cn/learn_web_development/core/css_layout/grids/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `MDN/Community` (#27738)
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `206` (#27608)
  files/zh-tw/web/http/reference/status/206/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `207` (#27609)
  files/zh-tw/web/http/reference/status/207/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/glossary/scroll_snap/index.md
  files/zh-cn/glossary/scroll_snap/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Scroll_snap` (#27721)
  files/zh-cn/glossary/scroll_snap/index.md
Owners: @mdn/yari-content-zh

minor fixes
  files/zh-tw/web/api/document/forms/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Document.forms` property (#27094)
  files/zh-tw/web/api/document/forms/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `208` (#27610)
  files/zh-tw/web/http/reference/status/208/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Debounce` (#27698)
  files/zh-cn/glossary/debounce/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-tw/mdn/writing_guidelines/howto/json_structured_data/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Writing guideline "JSON Structured data" (#27669)
  files/zh-tw/mdn/writing_guidelines/howto/json_structured_data/index.md
Owners: @mdn/yari-content-zh

fix: Correct spelling errors in words
  files/zh-cn/web/api/webglrenderingcontext/vertexattrib/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/meta/name/index.md
  files/zh-tw/web/html/reference/elements/meta/name/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/status/205/index.md
  files/zh-tw/web/http/reference/status/205/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
