Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update index.md
  files/zh-cn/web/api/audiolistener/upx/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upy/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/forwardx/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upz/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upy/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodecoder/decodequeuesize/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationplaybackevent/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationevent/pseudoelement/index.md
Owners: @mdn/yari-content-zh

es: auto-fix content issues
  files/es/glossary/whitespace/index.md
Owners: @mdn/yari-content-es

l10n 추가
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

insert backticks
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

[zh-cn] init inert html global attribute
  files/zh-cn/web/html/reference/global_attributes/inert/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/window/print/index.md
  files/zh-tw/web/api/window/print/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Window.print()` method (#28415)
  files/zh-tw/web/api/window/print/index.md
Owners: @mdn/yari-content-zh

add back short-title
  files/zh-cn/web/api/animation/timeline/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Animation/timeline` (#28333)
  files/zh-cn/web/api/animation/timeline/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update API/attr
  files/zh-cn/web/api/attr/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/dynamicscompressornode/reduction/index.md
  files/zh-cn/web/api/dynamicscompressornode/reduction/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationevent/animationname/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationevent/pseudoelement/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationevent/elapsedtime/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/animationevent/animationname/index.md
  files/zh-cn/web/api/animationevent/animationname/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/animationplaybackevent/timelinetime/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodata/samplerate/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodata/numberofchannels/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodata/numberofframes/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodecoder/decodequeuesize/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodecoder/dequeue_event/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodata/timestamp/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audioencoder/encodequeuesize/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audioencoder/dequeue_event/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiodecoder/state/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upz/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/forwardx/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audioencoder/state/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upy/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/upx/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/positionz/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/positionx/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/audiolistener/positiony/index.md
Owners: @mdn/yari-content-zh
