Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[ja] Update Glossary/Slug (#27878)
  files/ja/glossary/slug/index.md
Owners: @mdn/yari-content-ja

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/orphaned/glossary/proxy_servers_and_tunneling/index.md
  files/ko/web/javascript/reference/classes/private_elements/index.md
  files/ko/web/security/attacks/index.md
Owners: @mdn/yari-content-ko

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ru

[zh-tw] auto-fix content issues (#27917)
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSS Declaration Block topic (#27884)
  files/zh-cn/web/api/css_object_model/css_declaration_block/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/mediaquerylist/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `MediaQueryList` (#27731)
  files/zh-tw/web/api/mediaquerylist/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/speechsynthesis/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/speechsynthesis/index.md
  files/zh-cn/web/api/speechsynthesis/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
Owners: @mdn/yari-content-zh

further fix
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/glossary/hash_routing/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/glossary/invariant/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/glossary/reading_order/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/learn_web_development/howto/solve_css_problems/add_a_text_shadow/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/web/accessibility/aria/how_to/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/web/accessibility/aria/reference/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/web/accessibility/guides/index.md
Owners: @mdn/yari-content-zh

[ja] fix typo あｋらの→からの
  files/ja/web/javascript/reference/global_objects/date/gettime/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-tw/web/api/window/opener/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/formdata/get/index.md
  files/zh-tw/web/api/formdata/get/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/glossary/base64/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/gainnode/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/geolocation/clearwatch/index.md
  files/zh-tw/web/api/geolocation/clearwatch/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/html/reference/global_attributes/class/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/html/reference/global_attributes/class/index.md
  files/zh-tw/web/uri/reference/schemes/data/index.md
Owners: @mdn/yari-content-zh

docs: prerequesites -> prerequisites
  CONTRIBUTING.md
Owners: @mdn/core-yari-content

Add Russian translation for Document.elementsFromPoint()
  files/ru/web/api/document/elementsfrompoint/index.md
Owners: @mdn/yari-content-ru

Update files/ru/web/api/document/elementsfrompoint/index.md
  files/ru/web/api/document/elementsfrompoint/index.md
Owners: @mdn/yari-content-ru

Update files/ru/web/api/document/elementsfrompoint/index.md
  files/ru/web/api/document/elementsfrompoint/index.md
Owners: @mdn/yari-content-ru

Update Russian translation for the <button> element documentation
  files/ru/web/html/reference/elements/button/index.md
Owners: @mdn/yari-content-ru

[zh-TW]: update API `FormData.get()` method (#27661)
  files/zh-tw/web/api/formdata/get/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Glossary "Base64" (#27668)
  files/zh-tw/glossary/base64/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/reading_order/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Window.opener` property (#27733)
  files/zh-tw/web/api/window/opener/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `GainNode` (#27651)
  files/zh-tw/web/api/gainnode/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Geolocation.clearWatch()` method (#27657)
  files/zh-tw/web/api/geolocation/clearwatch/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/errors/bad_return/index.md
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Window.orientationchange` event (#27735)
  files/zh-tw/web/api/window/orientationchange_event/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
