Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

zh-CN: create `DOMRectReadOnly/width` (#28486)
  files/zh-cn/web/api/domrectreadonly/width/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRectList` (#28491)
  files/zh-cn/web/api/domrectlist/index.md
Owners: @mdn/yari-content-zh

docs: 기본 뷰 전환 데모 링크를 SPA 데모로 업데이트하고 MPA 데모 추가
  files/ko/web/api/document/startviewtransition/index.md
  files/ko/web/api/view_transition_api/index.md
Owners: @mdn/yari-content-ko

[ko] sizetocontent 신규 번역
  files/ko/web/api/window/sizetocontent/index.md
Owners: @mdn/yari-content-ko

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/index.md
  files/zh-cn/learn_web_development/core/styling_basics/debugging_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#28703)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/core/styling_basics/debugging_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/core/styling_basics/index.md
  files/ja/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#28704)
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
Owners: @mdn/yari-content-ja

2025/07/21 時点の英語版に基づき更新
  files/ja/web/javascript/guide/regular_expressions/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/guide/regular_expressions/assertions/index.md
  files/ja/web/javascript/guide/regular_expressions/character_classes/index.md
  files/ja/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/ja/web/javascript/guide/regular_expressions/quantifiers/index.md
Owners: @mdn/yari-content-ja

docs: 소스 커밋 및 참조 문서 주소 수정
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

[ko] 웹 서버란 무엇인가? 문서의 선행 지식의 참고 url이 서로 뒤바뀐 것을 수정 (#28688)
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

Clarify HTTP 408 status code explanation and examples
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

Fix link text for HTTP response codes
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

2025/07/29 時点の英語版に基づき新規翻訳
  files/ja/web/javascript/reference/statements/await_using/index.md
Owners: @mdn/yari-content-ja

2025/07/29 時点の英語版に基づき新規翻訳
  files/ja/web/javascript/reference/statements/using/index.md
Owners: @mdn/yari-content-ja

Fix link to Connection header reference
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

Fix wrong paste on Reference folder
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

Add l10n sourceCommit for 408 Request Timeout
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

fr: Update HTTP status 408 index.md (#28682)
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

[zh-cn] update translation for LargestContentfulPaint
  files/zh-cn/web/api/largestcontentfulpaint/index.md
Owners: @mdn/yari-content-zh

Revise French <video> element documentation
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Fixed a badly structured link
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

[zh-cn] update translation for LargestContentfulPaint
  files/zh-cn/web/api/largestcontentfulpaint/index.md
Owners: @mdn/yari-content-zh

Fix attribute name for video element
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Update files/zh-cn/web/api/largestcontentfulpaint/index.md
  files/zh-cn/web/api/largestcontentfulpaint/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/largestcontentfulpaint/index.md
  files/zh-cn/web/api/largestcontentfulpaint/index.md
Owners: @mdn/yari-content-zh

Revise <video> element documentation in French
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/html/reference/elements/video/index.md
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Fix all links flaws
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Update HTMLMediaElement event reference in video docs
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

fix(pr-test): run filecheck with absolute file paths (#28701)
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/greater_than/index.md
  files/ja/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/ja/web/javascript/reference/operators/less_than/index.md
  files/ja/web/javascript/reference/operators/less_than_or_equal/index.md
Owners: @mdn/yari-content-ja

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
Owners: @mdn/yari-content-ko

[ko] sync translated content (#28702)
  files/ko/_redirects.txt
  files/ko/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
Owners: @mdn/yari-content-ko

[ko] Translate 'Web/Accessibility/ARIA/Reference/Attributes/aria-labelledby'
  files/ko/web/accessibility/aria/reference/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-ko

[ko] Fix terminology: '명세' → '명세서' in ARIA docs
  files/ko/web/accessibility/aria/reference/attributes/aria-label/index.md
Owners: @mdn/yari-content-ko
