Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2024/07/26 時点の英語版に同期
  files/ja/web/css/@media/scripting/index.md
Owners: @mdn/yari-content-ja

2023/07/18 時点の英語版に同期
  files/ja/web/css/@media/update/index.md
Owners: @mdn/yari-content-ja

2023/07/05 時点の英語版に同期
  files/ja/web/css/@media/hover/index.md
  files/ja/web/css/@media/inverted-colors/index.md
  files/ja/web/css/@media/video-dynamic-range/index.md
Owners: @mdn/yari-content-ja

2023/06/22 時点の英語版に同期
  files/ja/web/css/@media/height/index.md
  files/ja/web/css/@media/prefers-contrast/index.md
  files/ja/web/css/@media/width/index.md
Owners: @mdn/yari-content-ja

2025/02/15 時点の英語版に同期
  files/ja/web/css/@media/-webkit-transition/index.md
Owners: @mdn/yari-content-ja

2025/02/06 時点の英語版に同期
  files/ja/web/css/@media/-moz-device-pixel-ratio/index.md
  files/ja/web/css/@media/-webkit-animation/index.md
  files/ja/web/css/@media/-webkit-device-pixel-ratio/index.md
  files/ja/web/css/@media/-webkit-transform-2d/index.md
  files/ja/web/css/@media/-webkit-transform-3d/index.md
Owners: @mdn/yari-content-ja

2025/03/25 時点の英語版に同期
  files/ja/mdn/guides/index.md
Owners: @mdn/yari-content-ja

2025/04/23 時点の英語版に同期
  files/ja/web/css/css_namespaces/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/column-rule/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/glossary/block/css/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/learn_web_development/core/css_layout/introduction/index.md
Owners: @mdn/yari-content-ja

2025/02/15 時点の英語版に同期
  files/ja/glossary/media/css/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/learn_web_development/core/structuring_content/test_your_skills/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/core/accessibility/test_your_skills/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/index.md
Owners: @mdn/yari-content-ja

2025/04/29 時点の英語版に同期
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/orphaned/mdn/community/security_vulnerability_response/index.md
Owners: @mdn/yari-content-zh

[ko]: add changes from feedback for html-global_attributes-autofocus
  files/ko/web/html/global_attributes/autofocus/index.md
Owners: @mdn/yari-content-ko

[ko]: fix lint error for html-global_attributes-autofocus
  files/ko/web/html/global_attributes/autofocus/index.md
Owners: @mdn/yari-content-ko

2025/02/22 時点の英語版に同期
  files/ja/web/privacy/guides/index.md
Owners: @mdn/yari-content-ja

特性クエリー→機能クエリー（@supports の使用に関して）
  files/ja/web/css/@container/index.md
  files/ja/web/css/css_conditional_rules/index.md
Owners: @mdn/yari-content-ja

2025/04/23 時点の英語版に同期
  files/ja/web/css/css_motion_path/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/css/offset-anchor/index.md
  files/ja/web/css/offset-position/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期 (#27198)
  files/ja/web/css/offset-distance/index.md
  files/ja/web/css/offset-rotate/index.md
  files/ja/web/css/offset/index.md
Owners: @mdn/yari-content-ja

2025/04/15 時点の英語版に同期
  files/ja/web/css/offset-path/index.md
  files/ja/web/css/ray/index.md
Owners: @mdn/yari-content-ja

2025/04/18 時点の英語版に同期
  files/ja/web/privacy/guides/third-party_cookies/3pc-example.drawio
  files/ja/web/privacy/guides/third-party_cookies/3pc-example.png
  files/ja/web/privacy/guides/third-party_cookies/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/privacy/index.md
Owners: @mdn/yari-content-ja

2025/04/14 時点の英語版に同期
  files/ja/web/api/window/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/web_workers_api/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/api/speculation_rules_api/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_overflow/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/core/styling_basics/overflow/index.md
Owners: @mdn/yari-content-ja

docs(ko): switch 신규 번역
  files/ko/web/javascript/reference/statements/switch/index.md
Owners: @mdn/yari-content-ko

Chore: 강조 표시 포맷팅 수정
  files/ko/web/javascript/reference/statements/switch/index.md
Owners: @mdn/yari-content-ko

Chore: 강조 표시 포맷팅 수정
  files/ko/web/javascript/reference/statements/switch/index.md
Owners: @mdn/yari-content-ko

fix broken links
  files/zh-cn/_redirects.txt
  files/zh-cn/orphaned/mdn/community/security_vulnerability_response/index.md
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

[zh] sync translated content (#27226)
  files/zh-cn/_redirects.txt
  files/zh-cn/mdn/community/security_vulnerability_response/index.md
  files/zh-tw/mdn/community/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/userscriptfilter/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/getallframes/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onbeforenavigate/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh
