Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule to zh-cn
  files/zh-cn/web/api/cssimportrule/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimportrule/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule supportsText
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule href property
  files/zh-cn/web/api/cssimportrule/href/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimportrule/href/index.md
Owners: @mdn/yari-content-zh

2025/06/24 時点の英語版に同期
  files/ja/web/css/css_masking/index.md
  files/ja/web/css/mask/index.md
Owners: @mdn/yari-content-ja

2025/05/16 時点の英語版に同期
  files/ja/web/css/mask-clip/index.md
Owners: @mdn/yari-content-ja

2025/05/07 時点の英語版に同期
  files/ja/web/css/mask-composite/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/css_masking/index.md
  files/ja/web/css/css_masking/index.md
Owners: @mdn/yari-content-ja

[ja] fix: correct line number
  files/ja/webassembly/guides/rust_to_wasm/index.md
Owners: @mdn/yari-content-ja

[zh-cn] renamed a slug to the new lowercase path component to work around an issue in sync translated content
  files/zh-cn/web/svg/reference/attribute/from/index.md
Owners: @mdn/yari-content-zh

redirect map update
  files/zh-cn/_redirects.txt
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule media property
  files/zh-cn/web/api/cssimportrule/media/index.md
Owners: @mdn/yari-content-zh

zh-cn: renamed a slugto work around an issue in sync translated content (#27904)
  files/zh-cn/_redirects.txt
  files/zh-cn/web/svg/reference/attribute/from/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/cssimportrule/href/index.md
  files/zh-cn/web/api/cssimportrule/href/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/cssimportrule/supportstext/index.md
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/cssimportrule/supportstext/index.md
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule styleSheet property
  files/zh-cn/web/api/cssimportrule/stylesheet/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/cssimportrule/media/index.md
  files/zh-cn/web/api/cssimportrule/media/index.md
Owners: @mdn/yari-content-zh

Update content..
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `GainNode.gain` property (#27650)
  files/zh-tw/web/api/gainnode/gain/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/element/index.md
  files/zh-cn/web/api/element/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/glossary/just_in_time_compilation/index.md
  files/zh-cn/glossary/just_in_time_compilation/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Just_In_Time_Compilation` (#27699)
  files/zh-cn/glossary/just_in_time_compilation/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/geolocation/getcurrentposition/index.md
  files/zh-tw/web/api/geolocation/getcurrentposition/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Geolocation.getCurrentPosition()` method (#27658)
  files/zh-tw/web/api/geolocation/getcurrentposition/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/element/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update Element API (#27817)
  files/zh-cn/web/api/element/index.md
Owners: @mdn/yari-content-zh

fix lint
  files/zh-tw/web/api/window/localstorage/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/window/localstorage/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Window.localStorage` property (#27732)
  files/zh-tw/web/api/window/localstorage/index.md
Owners: @mdn/yari-content-zh

[ja] fix typo あｋらの→からの
  files/ja/web/javascript/reference/global_objects/date/gettime/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/api/cssimportrule/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule (#27898)
  files/zh-cn/web/api/cssimportrule/index.md
Owners: @mdn/yari-content-zh

fix(dark-theme): fix color contrast in dark mode
  files/ru/web/javascript/guide/regular_expressions/index.md
Owners: @mdn/yari-content-ru

Apply suggestions from code review
  files/zh-cn/glossary/ssr/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/SSR` (#27720)
  files/zh-cn/glossary/ssr/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/geolocation/watchposition/index.md
  files/zh-tw/web/api/geolocation/watchposition/index.md
Owners: @mdn/yari-content-zh
