Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[zh-TW]: update API `Geolocation.watchPosition()` method (#27659)
  files/zh-tw/web/api/geolocation/watchposition/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/geolocationpositionerror/code/index.md
  files/zh-tw/web/api/geolocationpositionerror/code/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `GeolocationPositionError.code` property (#27662)
  files/zh-tw/web/api/geolocationpositionerror/code/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/json/index.md
Owners: @mdn/yari-content-zh

zh-CN: create translation of "Test your skills: CSS styling basics" (#27850)
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills/index.md
Owners: @mdn/yari-content-zh

zh-CN: create translation of "Test your skills: JSON" (#27847)
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/json/index.md
Owners: @mdn/yari-content-zh

zh-CN: create translation of "Test your skills: Structuring content with HTML" (#27849)
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/index.md
Owners: @mdn/yari-content-zh

zh-CN: create translation of "Test your skills: Accessibility" (#27852)
  files/zh-cn/learn_web_development/core/accessibility/test_your_skills/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/replaced_elements/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of "Drawing text" (#27895)
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
Owners: @mdn/yari-content-zh

[ko] hasown 수정
  files/ko/web/javascript/reference/global_objects/object/hasown/index.md
Owners: @mdn/yari-content-ko

Update index.md
  files/ko/web/javascript/reference/global_objects/object/hasown/index.md
Owners: @mdn/yari-content-ko

Update index.md
  files/ko/web/javascript/reference/global_objects/object/hasown/index.md
Owners: @mdn/yari-content-ko

[zh-TW]: update API `GeolocationPositionError.message` property (#27663)
  files/zh-tw/web/api/geolocationpositionerror/message/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/http/reference/headers/access-control-allow-credentials/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Header `Access-Control-Allow-Credentials` (#27670)
  files/zh-tw/web/http/reference/headers/access-control-allow-credentials/index.md
Owners: @mdn/yari-content-zh

zh-CN: create "Replaced elements" glossary term (#27724)
  files/zh-cn/glossary/replaced_elements/index.md
Owners: @mdn/yari-content-zh

fix(dark-theme): fix color contrast in dark mode (#27910)
  files/ru/web/javascript/guide/regular_expressions/index.md
Owners: @mdn/yari-content-ru

Update files/zh-tw/web/api/xmlhttprequest/open/index.md
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `XMLHttpRequest.open()` method (#27644)
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

remove glitch links
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Owners: @mdn/yari-content-zh

zh-CN: create translation of `Learn_web_development: Responsive_design` (#27846)
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimportrule/href/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImportRule href property (#27900)
  files/zh-cn/web/api/cssimportrule/href/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update 'value processing'
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-zh

[ko] hasown 수정 (#27911)
  files/ko/web/javascript/reference/global_objects/object/hasown/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/css_declaration_block/index.md
Owners: @mdn/yari-content-zh

zh-tw: auto-fix content issues
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

ru: auto-fix content issues
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
Owners: @mdn/yari-content-ru

2025/05/08 時点の英語版に同期
  files/ja/web/css/mask-origin/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/css/mask-image/index.md
  files/ja/web/css/mask-mode/index.md
Owners: @mdn/yari-content-ja

2025/05/21 時点の英語版に同期
  files/ja/web/css/mask-position/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/css/zoom/index.md
Owners: @mdn/yari-content-ja

2025/04/30 時点の英語版に同期
  files/ja/learn_web_development/howto/solve_css_problems/transition_button/index.md
Owners: @mdn/yari-content-ja

用語の統一: 命数法、計数法→記数法
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/getnumberingsystems/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/numberingsystem/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/ja/web/javascript/reference/global_objects/number/tolocalestring/index.md
Owners: @mdn/yari-content-ja

2025/03/26 時点の英語版に同期
  files/ja/mdn/community/community_participation_guidelines/index.md
Owners: @mdn/yari-content-ja

2025/06/26 時点の英語版に同期
  files/ja/web/api/pointer_events/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
