Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[zh-CN]: translate Forms and Buttons in HTML.
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

Resolved several translation errors.
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Resolved several translation errors.
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/global_objects/date/getutcseconds/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getutcseconds/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Date.prototype.getUTCSeconds()` (#28252)
  files/zh-tw/web/javascript/reference/global_objects/date/getutcseconds/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Date.now()` (#28253)
  files/zh-tw/web/javascript/reference/global_objects/date/now/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Roles/input_role` (#28267)
  files/zh-cn/web/accessibility/aria/reference/roles/input_role/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Roles/marquee_role` (#28268)
  files/zh-cn/web/accessibility/aria/reference/roles/marquee_role/index.md
Owners: @mdn/yari-content-zh

[ko] await 문서 수정 (#27860)
  files/ko/web/javascript/reference/operators/await/index.md
Owners: @mdn/yari-content-ko

Update README.md
  docs/ar/README.md
Owners: @mdn/core-yari-content

Update PEERS_GUIDELINES.md
  PEERS_GUIDELINES.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update files/ar/learn_web_development/about/index.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content

Update docs/ar/README.md
  docs/ar/README.md
Owners: @mdn/core-yari-content

Update docs/ar/README.md
  docs/ar/README.md
Owners: @mdn/core-yari-content

update
  files/zh-tw/web/javascript/reference/global_objects/date/sethours/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/global_objects/date/settime/index.md
Owners: @mdn/yari-content-zh

Add necessary spaces.
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/accessibility/guides/understanding_wcag/perceivable/use_of_color/index.md
Owners: @mdn/yari-content-zh

use absolute path for fm linter, reinstate dropped linters
  .github/workflows/pr-check-lint_content.yml
Owners: @mdn/core-dev

fix shell var name, fix frontend linter config path
  .github/workflows/pr-check-lint_content.yml
Owners: @mdn/core-dev

translate menubar role
  files/ja/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-ja

ar: Add Arabic Language
  PEERS_GUIDELINES.md
  README.md
  docs/ar/README.md
  files/ar/learn_web_development/about/index.md
Owners: @mdn/core-yari-content, @mdn/core-dev

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/array/array/index.md
  files/ja/web/javascript/reference/global_objects/array/from/index.md
  files/ja/web/javascript/reference/global_objects/array/fromasync/index.md
  files/ja/web/javascript/reference/global_objects/array/isarray/index.md
  files/ja/web/javascript/reference/global_objects/array/of/index.md
  files/ja/web/javascript/reference/global_objects/array/symbol.species/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/array/at/index.md
  files/ja/web/javascript/reference/global_objects/array/concat/index.md
  files/ja/web/javascript/reference/global_objects/array/copywithin/index.md
  files/ja/web/javascript/reference/global_objects/array/entries/index.md
  files/ja/web/javascript/reference/global_objects/array/every/index.md
  files/ja/web/javascript/reference/global_objects/array/fill/index.md
  files/ja/web/javascript/reference/global_objects/array/filter/index.md
  files/ja/web/javascript/reference/global_objects/array/find/index.md
  files/ja/web/javascript/reference/global_objects/array/findindex/index.md
  files/ja/web/javascript/reference/global_objects/array/findlast/index.md
  files/ja/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/ja/web/javascript/reference/global_objects/array/flat/index.md
  files/ja/web/javascript/reference/global_objects/array/flatmap/index.md
  files/ja/web/javascript/reference/global_objects/array/foreach/index.md
Owners: @mdn/yari-content-ja

translate mark role
  files/ja/web/accessibility/aria/reference/roles/mark_role/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/box_model/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
Owners: @mdn/yari-content-ja

画像を修正
  files/ja/learn_web_development/core/styling_basics/test_your_skills/box_model/mdn-box-model1.png
  files/ja/learn_web_development/core/styling_basics/test_your_skills/box_model/mdn-box-model2.png
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/selectors1.jpg
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/selectors2.jpg
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/selectors3.jpg
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/selectors4.jpg
Owners: @mdn/yari-content-ja

画像を圧縮
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/selectors-attribute.png
Owners: @mdn/yari-content-ja

Prettier のエラーを回避
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/index.md
Owners: @mdn/yari-content-ja

画像を圧縮
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task1.png
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task2.png
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task3.png
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/mozilla/firefox/releases/75/index.md
Owners: @mdn/yari-content-ja

fr: sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/fr/conflicting/web/api/document_object_model/events/index.md
  files/fr/conflicting/web/css/@media/index.md
  files/fr/conflicting/web/css/clip/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/web/api/document_object_model/events/index.md
Owners: @mdn/yari-content-fr
