Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/ja/web/css/clip-path/index.md
  files/ja/web/css/clip-path/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/clip-path/index.md
  files/ja/web/css/clip-path/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/clip-rule/index.md
  files/ja/web/css/clip-rule/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/clip-rule/index.md
  files/ja/web/css/clip-rule/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clip-rule/index.md
  files/ja/web/svg/reference/attribute/clip/index.md
Owners: @mdn/yari-content-ja

2025/05/14 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clip-path/index.md
Owners: @mdn/yari-content-ja

2025/04/18 時点の英語版に同期 (#27783)
  files/ja/web/css/clip/index.md
Owners: @mdn/yari-content-ja

2025/05/09 時点の英語版に同期 (#27787)
  files/ja/web/css/mask/index.md
Owners: @mdn/yari-content-ja

2025/05/21 時点の英語版に同期
  files/ja/web/css/css_masking/clipping/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clippathunits/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#27812)
  files/ja/_redirects.txt
  files/ja/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
Owners: @mdn/yari-content-ja

2025/05/14 時点の英語版に同期
  files/ja/web/api/svgclippathelement/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgclippathelement/transform/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/api/svgclippathelement/clippathunits/index.md
Owners: @mdn/yari-content-ja

2025/05/21 時点の英語版に同期 (#27784)
  files/ja/web/css/clip-path/index.md
  files/ja/web/css/clip-rule/index.md
Owners: @mdn/yari-content-ja

2025/02/06 時点の英語版に同期
  files/ja/web/css/_colon_buffering/index.md
Owners: @mdn/yari-content-ja

2025/04/30 時点の英語版に同期
  files/ja/learn_web_development/howto/design_and_accessibility/common_web_layouts/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/design_for_all_types_of_users/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/html_features_for_accessibility/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/ja/learn_web_development/howto/design_and_accessibility/what_is_accessibility/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/business_case_for_performance/index.md
  files/ja/learn_web_development/extensions/performance/html/index.md
  files/ja/learn_web_development/extensions/performance/video/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/css/index.md
  files/ja/learn_web_development/extensions/performance/javascript/index.md
Owners: @mdn/yari-content-ja

軽微な脱字の修正
  files/ja/web/http/reference/methods/patch/index.md
Owners: @mdn/yari-content-ja

Update files/ja/learn_web_development/extensions/performance/javascript/index.md
  files/ja/learn_web_development/extensions/performance/javascript/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/ja/web/css/mask/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/web/api/element/index.md
  files/zh-cn/web/api/element/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `226` (#27640)
  files/zh-tw/web/http/reference/status/226/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update svg main page
  files/zh-cn/web/svg/index.md
Owners: @mdn/yari-content-zh

[ko] svg clip-path 신규 번역
  files/ko/web/svg/reference/attribute/clip-path/index.md
Owners: @mdn/yari-content-ko

Firefox 140 for developersを翻訳
  files/ja/mozilla/firefox/releases/140/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/mozilla/firefox/releases/140/index.md
Owners: @mdn/yari-content-ja

update translation
  files/zh-cn/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/accessibility/test_your_skills/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/json/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/learn_web_development/core/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/json/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
