Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Apply suggestions from code review
  files/zh-tw/web/api/dragevent/index.md
Owners: @mdn/yari-content-zh

zh-cn: 同步http 103英文文档
  files/zh-cn/web/http/reference/status/103/index.md
Owners: @mdn/yari-content-zh

fix: fix translation error
  files/zh-cn/web/html/reference/global_attributes/nonce/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix translation error (#27404)
  files/zh-cn/web/html/reference/global_attributes/nonce/index.md
Owners: @mdn/yari-content-zh

[ja] fix typo
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

[ja] fix typo
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

[ja] fix typo
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/web/javascript/reference/errors/bigint_division_by_zero/index.md
Owners: @mdn/yari-content-zh

2024/11/08 時点の英語版に同期
  files/ja/web/api/htmlvideoelement/disablepictureinpicture/index.md
Owners: @mdn/yari-content-ja

[zh-CN] add JavaScript.Reference.Errors.BigInt_division_by_zero (#27344)
  files/zh-cn/web/javascript/reference/errors/bigint_division_by_zero/index.md
Owners: @mdn/yari-content-zh

2024/11/07 時点の英語版に同期
  files/ja/web/css/initial-letter/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/list-style/index.md
Owners: @mdn/yari-content-ja

Web/HTTP/Reference/Headers/Content-Security-Policy のタイポを修正 (#27405)
  files/ja/web/http/reference/headers/content-security-policy/index.md
Owners: @mdn/yari-content-ja

2025/05/24 時点の英語版に同期
  files/ja/web/http/reference/headers/www-authenticate/index.md
Owners: @mdn/yari-content-ja

2024/06/27 時点の英語版に同期
  files/ja/glossary/engine/index.md
Owners: @mdn/yari-content-ja

2025/03/07 時点の英語版に同期
  files/ja/glossary/engine/javascript/index.md
Owners: @mdn/yari-content-ja

2024/07/08 時点の英語版に同期
  files/ja/glossary/engine/rendering/index.md
Owners: @mdn/yari-content-ja

Update files/ja/glossary/engine/javascript/index.md
  files/ja/glossary/engine/javascript/index.md
Owners: @mdn/yari-content-ja

2025/02/22 時点の英語版に同期
  files/ja/web/index.md
Owners: @mdn/yari-content-ja

Add RU translation of Web/Media/Guides/Audio_and_video_delivery
  files/ru/web/media/guides/audio_and_video_delivery/content.code-workspace
  files/ru/web/media/guides/audio_and_video_delivery/index.md
Owners: @mdn/yari-content-ru

Update files/ru/web/media/guides/audio_and_video_delivery/index.md
  files/ru/web/media/guides/audio_and_video_delivery/index.md
Owners: @mdn/yari-content-ru

Delete files/ru/web/media/guides/audio_and_video_delivery/content.code-workspace
  files/ru/web/media/guides/audio_and_video_delivery/content.code-workspace
Owners: @mdn/yari-content-ru

docs: fix inconsistency in filter() method description
  files/ja/learn_web_development/core/scripting/arrays/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update API `DragEvent` (#27273)
  files/zh-tw/web/api/dragevent/index.md
Owners: @mdn/yari-content-zh

[ko]: fix broken HTML entity in canvas tutorial
  files/ko/web/api/canvas_api/tutorial/drawing_shapes/index.md
Owners: @mdn/yari-content-ko

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/index.md
Owners: @mdn/yari-content-zh

[pt-BR]: add sidebar to Web/HTML/Element/article
  files/pt-br/web/html/element/article/index.md
Owners: @mdn/yari-content-pt-br

added Ru translation to /docs/Web/Media/Guides/Images
  files/ru/web/media/guides/images/index.md
Owners: @mdn/yari-content-ru

Fix: PR 피드백 반영하여 문구 일관성 개선
  files/ko/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
Owners: @mdn/yari-content-ko

[ko] Nullish coalescing assignment (??=) 신규 번역 (#27288)
  files/ko/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
Owners: @mdn/yari-content-ko

[ko]: fix broken HTML entity in canvas tutorial
  files/ko/web/api/canvas_api/tutorial/drawing_shapes/index.md
Owners: @mdn/yari-content-ko

[ko] HTMLInputElement: valueAsNumber 번역 (#26944)
  files/ko/web/api/htmlinputelement/valueasnumber/index.md
Owners: @mdn/yari-content-ko

added ru translation to docs/Web/Media/Guides/Autoplay
  files/ru/web/media/guides/autoplay/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ja/web/javascript/guide/memory_management/index.md
Owners: @mdn/yari-content-ja

2024/10/27 時点の英語版に同期
  files/ja/web/api/offscreencanvas/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/api/offscreencanvas/height/index.md
  files/ja/web/api/offscreencanvas/width/index.md
Owners: @mdn/yari-content-ja

2024/04/22 時点の英語版に同期
  files/ja/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-ja

2024/11/06 時点の英語版に同期
  files/ja/web/api/offscreencanvas/getcontext/index.md
Owners: @mdn/yari-content-ja

2024/11/23 時点の英語版に同期
  files/ja/web/api/offscreencanvas/transfertoimagebitmap/index.md
Owners: @mdn/yari-content-ja
