Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/devtools/panels/themename/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/find/removehighlighting/index.md
Owners: @mdn/yari-content-zh

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/numberformat/index.md
Owners: @mdn/yari-content-ja

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/i18n/getpreferredsystemlanguages/index.md
Owners: @mdn/yari-content-zh

2025/07/10 時点の英語版に同期 (#28120)
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/numberformat/format/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/formatrange/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/formattoparts/index.md
Owners: @mdn/yari-content-ja

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/runtime/onperformancewarningcategory/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/runtime/onperformancewarningseverity/index.md
Owners: @mdn/yari-content-zh

2025/07/20 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.md
Owners: @mdn/yari-content-ja

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/search/index.md
Owners: @mdn/yari-content-zh

feat: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/i18n/getsystemuilanguage/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_disabled_static_rules/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/openshortcutsettings/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/i18n/getsystemuilanguage/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/devtools/panels/elements/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/find/removehighlighting/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/find/removehighlighting/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/i18n/getpreferredsystemlanguages/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/runtime/onperformancewarningseverity/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/devtools/panels/themename/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/search/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/runtime/onperformancewarningcategory/index.md
Owners: @mdn/yari-content-zh

2025/07/10 時点の英語版に同期
  files/ja/web/html/reference/global_attributes/accesskey/index.md
  files/ja/web/html/reference/global_attributes/anchor/index.md
  files/ja/web/html/reference/global_attributes/autocapitalize/index.md
  files/ja/web/html/reference/global_attributes/autocorrect/index.md
  files/ja/web/html/reference/global_attributes/autofocus/index.md
  files/ja/web/html/reference/global_attributes/class/index.md
  files/ja/web/html/reference/global_attributes/contenteditable/index.md
Owners: @mdn/yari-content-ja

fix typo "まる" to "ます" in ja/docs/Learn_web_development/Core/Styling_basics/What_is_CSS (#28124)
  files/ja/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-ja

[zh-cn] init translation of html element td (#28160)
  files/zh-cn/web/html/reference/elements/td/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/openshortcutsettings/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `openShortcutSettings()` (#28180)
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/openshortcutsettings/index.md
Owners: @mdn/yari-content-zh

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/api/document_object_model/events/index.md
Owners: @mdn/yari-content-es

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/document_object_model/events/index.md
  files/ja/conflicting/web/api/document_object_model/events_c282731eb05539912e604c2db2986790a254812531e62f190bb83745f45dbb03/index.md
  files/ja/web/api/document_object_model/events/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/html/reference/global_attributes/data-_star_/index.md
  files/ja/web/html/reference/global_attributes/dir/index.md
  files/ja/web/html/reference/global_attributes/draggable/index.md
  files/ja/web/html/reference/global_attributes/enterkeyhint/index.md
  files/ja/web/html/reference/global_attributes/exportparts/index.md
  files/ja/web/html/reference/global_attributes/hidden/index.md
  files/ja/web/html/reference/global_attributes/id/index.md
  files/ja/web/html/reference/global_attributes/inert/index.md
  files/ja/web/html/reference/global_attributes/inputmode/index.md
  files/ja/web/html/reference/global_attributes/is/index.md
  files/ja/web/html/reference/global_attributes/itemid/index.md
  files/ja/web/html/reference/global_attributes/itemprop/index.md
  files/ja/web/html/reference/global_attributes/itemref/index.md
  files/ja/web/html/reference/global_attributes/itemscope/index.md
  files/ja/web/html/reference/global_attributes/itemtype/index.md
  files/ja/web/html/reference/global_attributes/lang/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/learn_web_development/extensions/server-side/configuring_server_mime_types/index.md
Owners: @mdn/yari-content-ja

2025/07/04 時点の英語版に同期
  files/ja/web/http/guides/evolution_of_http/index.md
  files/ja/web/http/guides/index.md
  files/ja/web/http/guides/overview/index.md
  files/ja/web/http/guides/session/index.md
Owners: @mdn/yari-content-ja

2025/07/04 時点の英語版に同期 (#28127)
  files/ja/web/http/guides/messages/http-1-connection.png
  files/ja/web/http/guides/messages/http-2-connection.png
  files/ja/web/http/guides/messages/http-message-anatomy.svg
  files/ja/web/http/guides/messages/http_response_headers2.png
  files/ja/web/http/guides/messages/index.md
  files/ja/web/http/guides/messages/request-headers.svg
  files/ja/web/http/guides/messages/response-headers.svg
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に同期
  files/ja/web/http/guides/mime_types/index.md
Owners: @mdn/yari-content-ja

2025/07/07 時点の英語版に同期
  files/ja/web/http/guides/authentication/index.md
Owners: @mdn/yari-content-ja

2025/07/25 時点の英語版に同期
  files/ja/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-ja

2025/07/07 時点の英語版に同期
  files/ja/web/http/guides/compression_dictionary_transport/index.md
Owners: @mdn/yari-content-ja

2025/07/04 時点の英語版に同期
  files/ja/web/http/guides/browser_detection_using_the_user_agent/index.md
  files/ja/web/http/guides/caching/index.md
  files/ja/web/http/guides/client_hints/index.md
  files/ja/web/http/guides/compression/index.md
  files/ja/web/http/guides/conditional_requests/index.md
  files/ja/web/http/guides/connection_management_in_http_1.x/index.md
  files/ja/web/http/guides/content_negotiation/index.md
  files/ja/web/http/guides/content_negotiation/list_of_default_accept_values/index.md
  files/ja/web/http/guides/mime_types/common_types/index.md
  files/ja/web/http/guides/network_error_logging/index.md
  files/ja/web/http/guides/protocol_upgrade_mechanism/index.md
  files/ja/web/http/guides/proxy_servers_and_tunneling/index.md
  files/ja/web/http/guides/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/ja/web/http/guides/range_requests/index.md
  files/ja/web/http/guides/redirections/index.md
Owners: @mdn/yari-content-ja

Firefox 141 for developers を翻訳 (#28125)
  files/ja/mozilla/firefox/releases/141/index.md
Owners: @mdn/yari-content-ja

[ja]: Bunのドキュメントを新規翻訳
  files/ja/glossary/bun/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
