Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
Owners: @mdn/yari-content-zh

translate aria-posinset
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-ja

translate aria-pressed
  files/ja/web/accessibility/aria/reference/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-ja

translate aria-readonly
  files/ja/web/accessibility/aria/reference/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-ja

[ko] Add translation for `<input type="reset">` (#26245)
  files/ko/web/html/element/input/reset/index.md
Owners: @mdn/yari-content-ko

fix: improve sentence structure in rule description (#26453)
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Owners: @mdn/yari-content-ko

[ko] glossary guide 용어 추가 (#26335)
  docs/ko/guides/glossary-guide.md
Owners: @mdn/yari-content-ko

サンプルコードの間違いを修正
  files/ja/web/api/document/selectionchange_event/index.md
Owners: @mdn/yari-content-ja

Update files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/glossary/html5/index.md
  files/zh-cn/learn_web_development/core/styling_basics/organizing/index.md
  files/zh-cn/mdn/community/pull_requests/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/zh-cn/mdn/writing_guidelines/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/zh-cn/mdn/writing_guidelines/what_we_write/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/web/javascript/reference/statements/const/index.md
  files/zh-cn/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#26491)
  files/zh-cn/_redirects.txt
  files/zh-cn/glossary/html5/index.md
  files/zh-cn/learn_web_development/core/styling_basics/organizing/index.md
  files/zh-cn/mdn/community/pull_requests/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/zh-cn/mdn/writing_guidelines/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/zh-cn/mdn/writing_guidelines/what_we_write/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/web/javascript/reference/statements/const/index.md
  files/zh-cn/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-zh

feat: Add Lefthook for precommit hooks
  lefthook.yml
Owners: @mdn/core-dev

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/length/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/textencoderstream/readable/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Owners: @mdn/yari-content-zh

revert example
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Owners: @mdn/yari-content-zh

translate aria-relevant
  files/ja/web/accessibility/aria/reference/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-ja

2025/03/08 時点の英語版に同期
  files/ja/web/css/css_positioned_layout/stacking_context/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_2/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_3/index.md
  files/ja/web/css/css_positioned_layout/stacking_floating_elements/index.md
  files/ja/web/css/css_positioned_layout/stacking_without_z-index/index.md
  files/ja/web/css/css_positioned_layout/understanding_z-index/index.md
  files/ja/web/css/css_positioned_layout/using_z-index/index.md
Owners: @mdn/yari-content-ja

2025/02/08 時点の英語版に同期
  files/ja/web/css/css_positioned_layout/index.md
Owners: @mdn/yari-content-ja

リダイレクト先が Web/CSS/CSS_positioned_layout 以下になるリンクを一括修正
  files/ja/glossary/stacking_context/index.md
  files/ja/glossary/top_layer/index.md
  files/ja/web/css/clip-path/index.md
  files/ja/web/css/contain/index.md
  files/ja/web/css/css_compositing_and_blending/index.md
  files/ja/web/css/index.md
  files/ja/web/css/opacity/index.md
  files/ja/web/css/perspective/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/transform/index.md
  files/ja/web/css/visual_formatting_model/index.md
  files/ja/web/css/will-change/index.md
  files/ja/web/css/z-index/index.md
Owners: @mdn/yari-content-ja

aria-modalを翻訳 (#26425)
  files/ja/web/accessibility/aria/reference/attributes/aria-modal/index.md
Owners: @mdn/yari-content-ja

[ja]: Sync and Fix Japanese translations for `Promise.prototype.then()` (#26399)
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Owners: @mdn/yari-content-ja

2025/02/22 時点の英語版に同期
  files/ja/web/security/index.md
Owners: @mdn/yari-content-ja

[zh-CN]: Sync translation for Fullscreen API
  files/zh-cn/web/api/document/fullscreenelement/index.md
  files/zh-cn/web/api/fullscreen_api/guide/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation due to HTTP structure adjust
  files/zh-cn/web/api/local_font_access_api/index.md
  files/zh-cn/web/api/navigator/canshare/index.md
  files/zh-cn/web/api/navigator/getbattery/index.md
  files/zh-cn/web/api/navigator/share/index.md
  files/zh-cn/web/api/navigatoruadata/brands/index.md
  files/zh-cn/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/zh-cn/web/api/navigatoruadata/mobile/index.md
  files/zh-cn/web/api/navigatoruadata/platform/index.md
  files/zh-cn/web/api/permissions_api/index.md
  files/zh-cn/web/api/user-agent_client_hints_api/index.md
  files/zh-cn/web/api/window/querylocalfonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/fullscreen/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/local-fonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/picture-in-picture/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/web-share/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/es/learn_web_development/getting_started/environment_setup/code_editors/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/getting_started/environment_setup/code_editors (#26330)
  files/es/learn_web_development/getting_started/environment_setup/code_editors/index.md
Owners: @mdn/yari-content-es

[zh-CN]: Add translation for `@view-transition`
  files/zh-cn/web/css/@view-transition/index.md
Owners: @mdn/yari-content-zh

Update DataView.setUint16 fr reference (#26475)
  files/fr/web/javascript/reference/global_objects/dataview/setuint16/index.md
Owners: @mdn/yari-content-fr

[zh-CN]: Sync translation due to HTTP structure adjust
  files/zh-cn/web/api/cookiechangeevent/changed/index.md
  files/zh-cn/web/api/cookiechangeevent/deleted/index.md
  files/zh-cn/web/api/document/pictureinpictureenabled/index.md
  files/zh-cn/web/api/element/requestfullscreen/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/changed/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/deleted/index.md
  files/zh-cn/web/api/fullscreen_api/index.md
  files/zh-cn/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/zh-cn/web/api/keyboard/getlayoutmap/index.md
  files/zh-cn/web/api/navigateevent/formdata/index.md
  files/zh-cn/web/api/picture-in-picture_api/index.md
Owners: @mdn/yari-content-zh

[es] fix word
  files/es/web/html/global_attributes/class/index.md
Owners: @mdn/yari-content-es

[es] fix word
  files/es/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/es/learn_web_development/core/structuring_content/creating_links/index.md
  files/es/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills_colon__links/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills_colon__other_controls/index.md
Owners: @mdn/yari-content-es

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/glossary/layout_mode/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/css/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/html/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/ja/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/ja/web/css/css_display/visual_formatting_model/index.md
  files/ja/web/css/css_scroll_anchoring/scroll_anchoring/index.md
  files/ja/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `SpeechGrammar`
  files/zh-cn/web/api/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/src/index.md
  files/zh-cn/web/api/speechgrammar/weight/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
