Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Fix spell error
  files/zh-cn/web/api/window/getcomputedstyle/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-zh

[ko] window caches 번역
  files/ko/web/api/window/caches/index.md
Owners: @mdn/yari-content-ko

[ko] window cookiestore 신규 번역
  files/ko/web/api/window/cookiestore/index.md
Owners: @mdn/yari-content-ko

fix: slug 추가
  files/ko/web/api/window/caches/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-tw/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-zh

fix: slug 추가
  files/ko/web/api/window/cookiestore/index.md
Owners: @mdn/yari-content-ko

[ko] window credentialless 번역
  files/ko/web/api/window/credentialless/index.md
Owners: @mdn/yari-content-ko

[zh-TW]: update API `Document.head` property (#27110)
  files/zh-tw/web/api/document/head/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix spell error (#27134)
  files/zh-cn/web/api/window/getcomputedstyle/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/document/getelementsbyclassname/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: sync sourceCommit (#27018)
  files/zh-tw/learn_web_development/core/accessibility/index.md
  files/zh-tw/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/zh-tw/learn_web_development/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Owners: @mdn/yari-content-zh

[ko]: add new translation for html-global_attributes-autofocus
  files/ko/web/html/global_attributes/autofocus/index.md
Owners: @mdn/yari-content-ko

remove a file
  「
Owners: @mdn/core-dev

fix
  files/zh-tw/mdn/writing_guidelines/howto/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/document/queryselector/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/document/queryselector/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/document/queryselector/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of CSS values and units
  files/zh-cn/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: create the translation of CSS shadow parts
  files/zh-cn/web/css/css_shadow_parts/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of HTTP `Pragma` header
  files/zh-cn/web/http/reference/headers/pragma/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of HTTP `Pragma` header
  files/zh-cn/web/http/reference/headers/pragma/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/headers/pragma/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Document.getElementsByClassName()` method (#27104)
  files/zh-tw/web/api/document/getelementsbyclassname/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.onAuthRequired` (#26809)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

2025/03/22 時点の英語版に同期
  files/ja/web/css/@media/monochrome/index.md
Owners: @mdn/yari-content-ja

2025/02/08 時点の英語版に同期
  files/ja/web/css/@media/device-posture/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/css/@media/orientation/index.md
  files/ja/web/css/@media/pointer/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/@media/prefers-color-scheme/index.md
Owners: @mdn/yari-content-ja

2025/02/11 時点の英語版に同期
  files/ja/web/css/@media/prefers-reduced-data/index.md
Owners: @mdn/yari-content-ja

2025/03/25 時点の英語版に同期
  files/ja/web/css/@media/prefers-reduced-motion/index.md
Owners: @mdn/yari-content-ja

2024/07/04 時点の英語版に同期
  files/ja/web/css/@media/prefers-reduced-transparency/index.md
Owners: @mdn/yari-content-ja

2024/06/12 時点の英語版に同期
  files/ja/web/css/@media/resolution/index.md
Owners: @mdn/yari-content-ja

2024/01/26 時点の英語版に同期
  files/ja/web/css/@media/scan/index.md
Owners: @mdn/yari-content-ja

2024/07/26 時点の英語版に同期
  files/ja/web/css/@media/scripting/index.md
Owners: @mdn/yari-content-ja

2023/07/18 時点の英語版に同期
  files/ja/web/css/@media/update/index.md
Owners: @mdn/yari-content-ja

2023/07/05 時点の英語版に同期
  files/ja/web/css/@media/hover/index.md
  files/ja/web/css/@media/inverted-colors/index.md
  files/ja/web/css/@media/video-dynamic-range/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
