Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Feature-Policy -> Permissions-Policy
  files/ja/conflicting/web/http/headers/feature-policy/xr-spatial-tracking/index.md
  files/ja/mozilla/firefox/releases/123/index.md
  files/ja/web/api/navigator/getbattery/index.md
  files/ja/web/api/screen_wake_lock_api/index.md
  files/ja/web/http/guides/permissions_policy/index.md
  files/ja/web/http/reference/headers/permissions-policy/accelerometer/index.md
  files/ja/web/http/reference/headers/permissions-policy/ambient-light-sensor/index.md
  files/ja/web/http/reference/headers/permissions-policy/autoplay/index.md
  files/ja/web/http/reference/headers/permissions-policy/camera/index.md
  files/ja/web/http/reference/headers/permissions-policy/display-capture/index.md
  files/ja/web/http/reference/headers/permissions-policy/document-domain/index.md
  files/ja/web/http/reference/headers/permissions-policy/encrypted-media/index.md
  files/ja/web/http/reference/headers/permissions-policy/fullscreen/index.md
  files/ja/web/http/reference/headers/permissions-policy/geolocation/index.md
  files/ja/web/http/reference/headers/permissions-policy/microphone/index.md
  files/ja/web/http/reference/headers/permissions-policy/midi/index.md
  files/ja/web/http/reference/headers/permissions-policy/payment/index.md
  files/ja/web/http/reference/headers/permissions-policy/screen-wake-lock/index.md
  files/ja/web/http/reference/headers/permissions-policy/web-share/index.md
  files/ja/web/http/reference/headers/permissions-policy/xr-spatial-tracking/index.md
  files/ja/web/media/guides/autoplay/index.md
  files/ja/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-ja

Remove unnecessary front matter fields
  files/ru/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/selectors/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#26789)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/selectors/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

zh-CN: create `webRequest.CertificateInfo` (#26659)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/html/global_attributes/class/index.md
Owners: @mdn/yari-content-zh

move to `Web/HTML/Reference/Global_attributes/class`
  files/zh-tw/web/html/reference/global_attributes/class/index.md
Owners: @mdn/yari-content-zh

[zh-tw] Global attributes class (#25527)
  files/zh-tw/web/html/reference/global_attributes/class/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/br/index.md
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/br/index.md
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/block/index.md
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/block/index.md
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

Add uwuify test results
  UWUIFY_TEST_RESULTS.md
Owners: @mdn/core-dev, @mdn/core-yari-content

uwu
  docs/ja/README.md
  docs/ko/fully_untranslated_files/mdn/MDN_Writing_guidelines_Howto_Write_an_API_reference_Sidebars.md
  docs/ko/fully_untranslated_files/web/Web_API_HTML_Drag_and_Drop_API_Drag_operations.md
  docs/ko/fully_untranslated_files/web/Web_API_MediaDevices_getUserMedia.md
  docs/ko/fully_untranslated_files/web/Web_API_Service_Worker_API_Using_Service_Workers.md
  docs/ko/fully_untranslated_files/web/Web_API_WebGL_API_WebGL_best_practices.md
  docs/ko/fully_untranslated_files/web/Web_API_WebSockets_API_Writing_WebSocket_servers.md
  docs/ko/fully_untranslated_files/web/Web_API_Web_Storage_API_Using_the_Web_Storage_API.md
  docs/ko/fully_untranslated_files/web/Web_API_Window_pageYOffset.md
  docs/ko/fully_untranslated_files/web/Web_API_Window_window.md
  docs/ko/fully_untranslated_files/web/Web_CSS_CSS_flexible_box_layout_Aligning_items_in_a_flex_container.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Lexical_grammar.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
  docs/orphaned_and_conflicting.md
  docs/ru/README.md
  uwuify-processing.log
Owners: @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/core-yari-content, @mdn/yari-content-ru, @mdn/core-dev

Update glossary/bezier_curve/index.md to fix an invalid gif url
  files/ja/glossary/bezier_curve/index.md
Owners: @mdn/yari-content-ja

zh-cn: add new page for loop instruction
  files/zh-cn/webassembly/reference/control_flow/loop/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for nop instruction
  files/zh-cn/webassembly/reference/control_flow/nop/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/loop/index.md
  files/zh-cn/webassembly/reference/control_flow/loop/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for return instruction
  files/zh-cn/webassembly/reference/control_flow/return/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/nop/index.md
  files/zh-cn/webassembly/reference/control_flow/nop/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/return/index.md
  files/zh-cn/webassembly/reference/control_flow/return/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for select instruction
  files/zh-cn/webassembly/reference/control_flow/select/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/select/index.md
  files/zh-cn/webassembly/reference/control_flow/select/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for unreachable instruction
  files/zh-cn/webassembly/reference/control_flow/unreachable/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/unreachable/index.md
  files/zh-cn/webassembly/reference/control_flow/unreachable/index.md
Owners: @mdn/yari-content-zh

[ko] strict equality 신규 번역
  files/ko/web/javascript/reference/operators/strict_equality/index.md
Owners: @mdn/yari-content-ko

zh-cn: update the translation of compile_static
  files/zh-cn/webassembly/reference/javascript_interface/compile_static/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for br instruction (#26828)
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for block instruction (#26827)
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for call instruction (#26829)
  files/zh-cn/webassembly/reference/control_flow/call/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/httpheaders/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/resourcetype/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
Owners: @mdn/yari-content-zh
