Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/07/29 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserver/index.md
  files/ja/web/api/intersectionobserver/intersectionobserver/index.md
Owners: @mdn/yari-content-ja

2025/07/02 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserverentry/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserverentry/boundingclientrect/index.md
  files/ja/web/api/intersectionobserverentry/intersectionratio/index.md
  files/ja/web/api/intersectionobserverentry/intersectionrect/index.md
  files/ja/web/api/intersectionobserverentry/isintersecting/index.md
  files/ja/web/api/intersectionobserverentry/rootbounds/index.md
  files/ja/web/api/intersectionobserverentry/target/index.md
  files/ja/web/api/intersectionobserverentry/time/index.md
Owners: @mdn/yari-content-ja

2025/08/29 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/constructor/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/extends/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/games/tools/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/games/tools/index.md
  files/zh-cn/games/tools/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/games/tools/index.md
Owners: @mdn/yari-content-zh

sourceCommit の値を更新
  files/ja/web/api/request/ishistorynavigation/index.md
Owners: @mdn/yari-content-ja

2025/09/10 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/index.md
Owners: @mdn/yari-content-ja

2025/09/10 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/writing_websocket_client_applications/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/writing_websocket_servers/index.md
Owners: @mdn/yari-content-ja

2025/06/19 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/writing_websocket_server/index.md
Owners: @mdn/yari-content-ja

2025/07/27 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_java/index.md
Owners: @mdn/yari-content-ja

2025/06/19 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
Owners: @mdn/yari-content-ja

2025/08/24 時点の英語版に基づき更新
  files/ja/web/api/websockets_api/using_websocketstream/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `CloseEvent/wasClean` (#28762)
  files/zh-cn/web/api/closeevent/wasclean/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Client/frameType` (#28766)
  files/zh-cn/web/api/client/frametype/index.md
Owners: @mdn/yari-content-zh

[ko] base frequency 신규 번역 (#28955)
  files/ko/web/svg/reference/attribute/basefrequency/index.md
Owners: @mdn/yari-content-ko

[ko] sync translated content (#28918)
  files/ko/_redirects.txt
  files/ko/web/security/attacks/subdomain_takeover/index.md
Owners: @mdn/yari-content-ko

docs: 원문과 줄바꿈 맞추기
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
Owners: @mdn/yari-content-ko

docs: 띄어쓰기 수정
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
Owners: @mdn/yari-content-ko

Updated :pseudo-classes N-R for mdn#18265
  files/fr/web/css/_colon_in-range/index.md
  files/fr/web/css/_colon_not/index.md
  files/fr/web/css/_colon_nth-child/index.md
  files/fr/web/css/_colon_nth-last-child/index.md
  files/fr/web/css/_colon_nth-last-of-type/index.md
  files/fr/web/css/_colon_nth-of-type/index.md
  files/fr/web/css/_colon_only-child/index.md
  files/fr/web/css/_colon_only-of-type/index.md
  files/fr/web/css/_colon_open/index.md
  files/fr/web/css/_colon_optional/index.md
  files/fr/web/css/_colon_out-of-range/index.md
  files/fr/web/css/_colon_past/index.md
  files/fr/web/css/_colon_paused/index.md
  files/fr/web/css/_colon_picture-in-picture/index.md
  files/fr/web/css/_colon_placeholder-shown/index.md
  files/fr/web/css/_colon_playing/index.md
  files/fr/web/css/_colon_popover-open/index.md
  files/fr/web/css/_colon_read-only/index.md
  files/fr/web/css/_colon_read-write/index.md
  files/fr/web/css/_colon_required/index.md
  files/fr/web/css/_colon_right/index.md
  files/fr/web/css/_colon_root/index.md
Owners: @mdn/yari-content-fr

Fix flaws
  files/fr/web/css/_colon_not/index.md
  files/fr/web/css/_colon_only-of-type/index.md
  files/fr/web/css/_colon_open/index.md
  files/fr/web/css/_colon_optional/index.md
  files/fr/web/css/_colon_placeholder-shown/index.md
  files/fr/web/css/_colon_read-only/index.md
  files/fr/web/css/_colon_read-write/index.md
  files/fr/web/css/_colon_required/index.md
Owners: @mdn/yari-content-fr

Fix undetected flaws
  files/fr/web/css/_colon_out-of-range/index.md
  files/fr/web/css/_colon_required/index.md
Owners: @mdn/yari-content-fr

2025/08/24 時点の英語版に基づき新規翻訳
  files/ja/web/api/websocketstream/close/index.md
  files/ja/web/api/websocketstream/websocketstream/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に基づき新規翻訳
  files/ja/web/api/websocketstream/opened/index.md
Owners: @mdn/yari-content-ja

2025/09/25 時点の英語版に基づき新規翻訳
  files/ja/web/api/websocketstream/closed/index.md
  files/ja/web/api/websocketstream/index.md
  files/ja/web/api/websocketstream/url/index.md
Owners: @mdn/yari-content-ja

Updated :pseudo-classes S-W for mdn#18265
  files/fr/web/css/_colon_-moz-locale-dir_ltr/index.md
  files/fr/web/css/_colon_-moz-locale-dir_rtl/index.md
  files/fr/web/css/_colon_active/index.md
  files/fr/web/css/_colon_autofill/index.md
  files/fr/web/css/_colon_blank/index.md
  files/fr/web/css/_colon_checked/index.md
  files/fr/web/css/_colon_disabled/index.md
  files/fr/web/css/_colon_enabled/index.md
  files/fr/web/css/_colon_focus-visible/index.md
  files/fr/web/css/_colon_focus-within/index.md
  files/fr/web/css/_colon_fullscreen/index.md
  files/fr/web/css/_colon_hover/index.md
  files/fr/web/css/_colon_invalid/index.md
  files/fr/web/css/_colon_link/index.md
  files/fr/web/css/_colon_muted/index.md
  files/fr/web/css/_colon_open/index.md
  files/fr/web/css/_colon_optional/index.md
  files/fr/web/css/_colon_out-of-range/index.md
  files/fr/web/css/_colon_read-only/index.md
  files/fr/web/css/_colon_required/index.md
  files/fr/web/css/_colon_scope/index.md
  files/fr/web/css/_colon_seeking/index.md
  files/fr/web/css/_colon_stalled/index.md
  files/fr/web/css/_colon_state/index.md
  files/fr/web/css/_colon_target-current/index.md
  files/fr/web/css/_colon_target/index.md
  files/fr/web/css/_colon_user-invalid/index.md
  files/fr/web/css/_colon_user-valid/index.md
  files/fr/web/css/_colon_valid/index.md
  files/fr/web/css/_colon_visited/index.md
  files/fr/web/css/_colon_volume-locked/index.md
  files/fr/web/css/_colon_where/index.md
Owners: @mdn/yari-content-fr

Fix flaws
  files/fr/web/css/_colon_-moz-broken/index.md
  files/fr/web/css/_colon_blank/index.md
  files/fr/web/css/_colon_scope/index.md
  files/fr/web/css/_colon_valid/index.md
  files/fr/web/css/_colon_visited/index.md
  files/fr/web/css/_colon_volume-locked/index.md
  files/fr/web/css/_colon_where/index.md
Owners: @mdn/yari-content-fr

Fix page flaws -moz and -webkit
  files/fr/web/css/-moz-user-focus/index.md
  files/fr/web/css/-moz-user-input/index.md
  files/fr/web/css/-webkit-border-before/index.md
  files/fr/web/css/-webkit-box-reflect/index.md
  files/fr/web/css/-webkit-mask-composite/index.md
  files/fr/web/css/-webkit-mask-position-x/index.md
  files/fr/web/css/-webkit-mask-position-y/index.md
  files/fr/web/css/-webkit-mask-repeat-x/index.md
  files/fr/web/css/-webkit-mask-repeat-y/index.md
Owners: @mdn/yari-content-fr

Fix small flaws
  files/fr/web/css/-moz-user-input/index.md
  files/fr/web/css/_colon_-moz-locale-dir_ltr/index.md
  files/fr/web/css/_colon_invalid/index.md
  files/fr/web/css/_colon_not/index.md
Owners: @mdn/yari-content-fr

2025/09/13 時点の英語版に基づき更新
  files/ja/web/api/web_components/using_custom_elements/index.md
Owners: @mdn/yari-content-ja

Revise language for gender inclusivity
  files/fr/learn_web_development/getting_started/index.md
Owners: @mdn/yari-content-fr

2025/04/10 時点の英語版に基づき更新
  files/ja/web/api/web_components/using_shadow_dom/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
