Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[zh-cn]: create doc for fencedframe (#25557)
  files/zh-cn/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

translate aria-selected
  files/ja/web/accessibility/aria/reference/attributes/aria-selected/index.md
Owners: @mdn/yari-content-ja

[zh-cn] translate Web/Privacy/Guides/Firefox_tracking_protection
  files/zh-cn/web/privacy/guides/firefox_tracking_protection/index.md
Owners: @mdn/yari-content-zh

aria-readonlyを翻訳 (#26495)
  files/ja/web/accessibility/aria/reference/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-ja

translate aria-sort
  files/ja/web/accessibility/aria/reference/attributes/aria-sort/index.md
Owners: @mdn/yari-content-ja

[@@...] を [Symbol....] へ一括置換
  files/ja/mozilla/firefox/releases/44/index.md
  files/ja/mozilla/firefox/releases/48/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/web/api/filesystemdirectoryhandle/index.md
  files/ja/web/javascript/reference/functions/arguments/index.md
  files/ja/web/javascript/reference/functions/arguments/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/arraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/asyncfunction/index.md
  files/ja/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/ja/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/ja/web/javascript/reference/global_objects/asynciterator/index.md
  files/ja/web/javascript/reference/global_objects/bigint/index.md
  files/ja/web/javascript/reference/global_objects/bigint64array/index.md
  files/ja/web/javascript/reference/global_objects/biguint64array/index.md
  files/ja/web/javascript/reference/global_objects/date/date/index.md
  files/ja/web/javascript/reference/global_objects/date/index.md
  files/ja/web/javascript/reference/global_objects/float32array/index.md
  files/ja/web/javascript/reference/global_objects/float64array/index.md
  files/ja/web/javascript/reference/global_objects/function/symbol.hasinstance/index.md
  files/ja/web/javascript/reference/global_objects/int16array/index.md
  files/ja/web/javascript/reference/global_objects/int32array/index.md
  files/ja/web/javascript/reference/global_objects/int8array/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/symbol.species/index.md
  files/ja/web/javascript/reference/global_objects/string/tostring/index.md
  files/ja/web/javascript/reference/global_objects/symbol/index.md
  files/ja/web/javascript/reference/global_objects/symbol/split/index.md
  files/ja/web/javascript/reference/global_objects/uint16array/index.md
  files/ja/web/javascript/reference/global_objects/uint32array/index.md
  files/ja/web/javascript/reference/global_objects/uint8array/index.md
  files/ja/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/ja/web/javascript/reference/global_objects/weakref/index.md
  files/ja/web/javascript/reference/statements/for-await...of/index.md
  files/ja/web/javascript/reference/statements/with/index.md
  files/ja/webassembly/reference/javascript_interface/global/index.md
Owners: @mdn/yari-content-ja

リンク先を Web/CSS/CSS_cascade/Value_processing へ変更
  files/ja/glossary/layout_mode/index.md
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ja/web/api/animation/commitstyles/index.md
  files/ja/web/css/-webkit-mask-box-image/index.md
  files/ja/web/css/all/index.md
  files/ja/web/css/border-image/index.md
  files/ja/web/css/border/index.md
  files/ja/web/css/color_value/index.md
  files/ja/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ja/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/ja/web/css/css_cascading_variables/using_css_custom_properties/index.md
  files/ja/web/css/css_display/block_formatting_context/index.md
  files/ja/web/css/css_display/containing_block/index.md
  files/ja/web/css/css_images/replaced_element_properties/index.md
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/error_handling/index.md
  files/ja/web/css/css_syntax/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/value_definition_syntax/index.md
  files/ja/web/css/index.md
  files/ja/web/css/inherit/index.md
  files/ja/web/css/initial/index.md
  files/ja/web/css/length/index.md
  files/ja/web/css/max-height/index.md
  files/ja/web/css/max-width/index.md
  files/ja/web/css/min-height/index.md
  files/ja/web/css/min-width/index.md
  files/ja/web/css/outline/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/revert/index.md
  files/ja/web/css/transform-origin/index.md
  files/ja/web/css/unset/index.md
Owners: @mdn/yari-content-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/actual_value/index.md
  files/ja/web/css/css_cascade/cascade/index.md
  files/ja/web/css/css_cascade/computed_value/index.md
  files/ja/web/css/css_cascade/index.md
  files/ja/web/css/css_cascade/inheritance/index.md
  files/ja/web/css/css_cascade/initial_value/index.md
  files/ja/web/css/css_cascade/shorthand_properties/index.md
  files/ja/web/css/css_cascade/specificity/index.md
  files/ja/web/css/css_cascade/specified_value/index.md
  files/ja/web/css/css_cascade/used_value/index.md
  files/ja/web/css/resolved_value/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/css_cascade/inheritance/index.md
  files/ja/web/css/css_cascade/inheritance/index.md
Owners: @mdn/yari-content-ja

不要なリダイレクトファイルを修正
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/css_cascade/value_processing/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
Owners: @mdn/yari-content-ja

リダイレクトを修正
  files/ja/_wikihistory.json
Owners: @mdn/yari-content-ja

[ja] sync translated content (#26586)
  files/ja/_redirects.txt
  files/ja/web/css/css_cascade/actual_value/index.md
  files/ja/web/css/css_cascade/computed_value/index.md
  files/ja/web/css/css_cascade/initial_value/index.md
  files/ja/web/css/css_cascade/specified_value/index.md
  files/ja/web/css/css_cascade/used_value/index.md
  files/ja/web/css/resolved_value/index.md
Owners: @mdn/yari-content-ja

Remove unnecessary front matter field
  files/ru/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#26588)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/css/css_cascade/value_processing/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ru/web/css/css_cascade/value_processing/index.md
  files/ru/web/css/resolved_value/index.md
Owners: @mdn/yari-content-ru

[es] sync translated content (#26587)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/css/css_cascade/value_processing/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/es/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-es

[ru] remove odd "conflicting/Web/API/console" translation
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/console/index.md
Owners: @mdn/yari-content-ru

ru: auto-fix content issues
  files/ru/conflicting/web/css/css_cascade/value_processing/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ru/glossary/layout_mode/index.md
  files/ru/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ru/web/css/css_cascade/inheritance/index.md
  files/ru/web/css/css_cascade/shorthand_properties/index.md
  files/ru/web/css/css_cascade/specificity/index.md
  files/ru/web/css/css_cascade/value_processing/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_display/containing_block/index.md
  files/ru/web/css/css_images/replaced_element_properties/index.md
  files/ru/web/css/css_syntax/at-rule/index.md
  files/ru/web/css/css_syntax/comments/index.md
  files/ru/web/css/css_syntax/syntax/index.md
  files/ru/web/css/index.md
  files/ru/web/css/inherit/index.md
  files/ru/web/css/initial/index.md
  files/ru/web/css/max-height/index.md
  files/ru/web/css/max-width/index.md
  files/ru/web/css/min-height/index.md
  files/ru/web/css/min-width/index.md
  files/ru/web/css/outline/index.md
  files/ru/web/css/reference/index.md
  files/ru/web/css/revert/index.md
Owners: @mdn/yari-content-ru

Apply suggestions from code review
  files/zh-cn/web/javascript/reference/global_objects/undefined/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/clipping_and_masking/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/find/index.md
Owners: @mdn/yari-content-zh

zh-CN: fix wrapped macros (#26580)
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/settings/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/proxy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
  files/zh-cn/web/api/serviceworkercontainer/register/index.md
  files/zh-cn/web/css/_doublecolon_before/index.md
  files/zh-cn/web/css/animation-duration/index.md
  files/zh-cn/web/css/animation-iteration-count/index.md
  files/zh-cn/web/css/background-size/index.md
  files/zh-cn/web/css/border-left/index.md
  files/zh-cn/web/css/border-top/index.md
  files/zh-cn/web/css/min-height/index.md
  files/zh-cn/web/javascript/reference/global_objects/undefined/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/clipping_and_masking/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/find/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `Array.prototype.concat()` (#26426)
  files/zh-tw/web/javascript/reference/global_objects/array/concat/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.UploadData ` (#26388)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/uploaddata/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.StreamFilter.close()` (#26378)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/close/index.md
Owners: @mdn/yari-content-zh

translate aria-setsize
  files/ja/web/accessibility/aria/reference/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh
