Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[ko] 외래어 표기법 준수
  files/ko/glossary/throttle/index.md
Owners: @mdn/yari-content-ko

[ko] 맞춤법 준수
  files/ko/glossary/throttle/index.md
Owners: @mdn/yari-content-ko

zh-CN: create `webRequest.StreamFilter.onerror` (#26381)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onerror/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation due to HTTP structure adjust (#26502)
  files/zh-cn/web/api/local_font_access_api/index.md
  files/zh-cn/web/api/navigator/canshare/index.md
  files/zh-cn/web/api/navigator/getbattery/index.md
  files/zh-cn/web/api/navigator/share/index.md
  files/zh-cn/web/api/navigatoruadata/brands/index.md
  files/zh-cn/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/zh-cn/web/api/navigatoruadata/mobile/index.md
  files/zh-cn/web/api/navigatoruadata/platform/index.md
  files/zh-cn/web/api/permissions_api/index.md
  files/zh-cn/web/api/user-agent_client_hints_api/index.md
  files/zh-cn/web/api/window/querylocalfonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/fullscreen/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/local-fonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/picture-in-picture/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/web-share/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
  files/ja/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
  files/ja/mozilla/add-ons/webextensions/index.md
  files/ja/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ja/web/css/css_scroll_anchoring/index.md
Owners: @mdn/yari-content-ja

[zh-cn]: update the translation of `SpeechGrammar` (#26508)
  files/zh-cn/web/api/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/src/index.md
  files/zh-cn/web/api/speechgrammar/weight/index.md
Owners: @mdn/yari-content-zh

2025/03/08 時点の英語版に同期 (#26498)
  files/ja/web/css/css_positioned_layout/stacking_context/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_2/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_3/index.md
  files/ja/web/css/css_positioned_layout/stacking_floating_elements/index.md
  files/ja/web/css/css_positioned_layout/stacking_without_z-index/index.md
  files/ja/web/css/css_positioned_layout/understanding_z-index/index.md
  files/ja/web/css/css_positioned_layout/using_z-index/index.md
Owners: @mdn/yari-content-ja

2025/02/08 時点の英語版に同期
  files/ja/web/css/css_positioned_layout/index.md
Owners: @mdn/yari-content-ja

translate aria-pressed
  files/ja/web/accessibility/aria/reference/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-ja

update links
  files/zh-cn/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
  files/zh-cn/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/zh-cn/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
  files/zh-cn/mozilla/add-ons/webextensions/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/index.md
Owners: @mdn/yari-content-zh

delete conflicting guide
  files/zh-cn/_redirects.txt
  files/zh-cn/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#26544)
  files/zh-cn/_redirects.txt
  files/zh-cn/mozilla/add-ons/webextensions/browser_compatibility_for_manifest.json/index.md
  files/zh-cn/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
  files/zh-cn/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/zh-cn/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
  files/zh-cn/mozilla/add-ons/webextensions/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation due to HTTP structure adjust (#26504)
  files/zh-cn/web/api/cookiechangeevent/changed/index.md
  files/zh-cn/web/api/cookiechangeevent/deleted/index.md
  files/zh-cn/web/api/document/pictureinpictureenabled/index.md
  files/zh-cn/web/api/element/requestfullscreen/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/changed/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/deleted/index.md
  files/zh-cn/web/api/fullscreen_api/index.md
  files/zh-cn/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/zh-cn/web/api/keyboard/getlayoutmap/index.md
  files/zh-cn/web/api/navigateevent/formdata/index.md
  files/zh-cn/web/api/picture-in-picture_api/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create some http listing page
  files/zh-cn/web/http/guides/index.md
Owners: @mdn/yari-content-zh

create http reference
  files/zh-cn/web/http/reference/index.md
Owners: @mdn/yari-content-zh

Add translation for :user-valid
  files/zh-cn/web/css/_colon_user-valid/index.md
Owners: @mdn/yari-content-zh

Remove unnecessary front matter fields
  files/ru/glossary/layout_mode/index.md
  files/ru/web/css/css_display/visual_formatting_model/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#26506)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/layout_mode/index.md
  files/ru/web/css/css_display/visual_formatting_model/index.md
Owners: @mdn/yari-content-ru

リンクが古かった箇所を最新のリンクに修正した
  files/ja/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Owners: @mdn/yari-content-es

Update files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
  files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traduccion de files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage (#26442)
  files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

typo
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

[fr] : fix typo (missing letter) (#26471)
  files/fr/web/http/headers/content-encoding/index.md
Owners: @mdn/yari-content-fr

Apply suggestions from code review
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

[es] sync page guidelines/howto (#26443)
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

ru: auto-fix content issues
  files/ru/glossary/block/css/index.md
  files/ru/glossary/layout_mode/index.md
  files/ru/learn_web_development/core/css_layout/floats/index.md
  files/ru/web/css/_doublecolon_first-letter/index.md
  files/ru/web/css/_doublecolon_first-line/index.md
  files/ru/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ru/web/css/css_cascade/actual_value/index.md
  files/ru/web/css/css_cascade/computed_value/index.md
  files/ru/web/css/css_cascade/inheritance/index.md
  files/ru/web/css/css_cascade/initial_value/index.md
  files/ru/web/css/css_cascade/shorthand_properties/index.md
  files/ru/web/css/css_cascade/specificity/index.md
  files/ru/web/css/css_cascade/specified_value/index.md
  files/ru/web/css/css_cascade/used_value/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_display/containing_block/index.md
  files/ru/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/ru/web/css/css_images/replaced_element_properties/index.md
  files/ru/web/css/css_syntax/at-rule/index.md
  files/ru/web/css/css_syntax/comments/index.md
  files/ru/web/css/css_syntax/syntax/index.md
  files/ru/web/css/margin-left/index.md
  files/ru/web/css/margin-right/index.md
  files/ru/web/css/reference/index.md
  files/ru/web/css/resolved_value/index.md
  files/ru/web/css/transform/index.md
Owners: @mdn/yari-content-ru

2025/03/15 時点の英語版に同期 (#26510)
  files/ja/web/http/guides/cors/fetching-page-cors.svg
  files/ja/web/http/guides/cors/include-credentials.svg
  files/ja/web/http/guides/cors/index.md
  files/ja/web/http/guides/cors/preflight-correct.svg
  files/ja/web/http/guides/cors/simple-request.svg
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/101/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/status/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/disconnect/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/close/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/resume/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/suspend/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/es/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traduccion de files/en-us/learn_web_development/core/css_layout/fundamental_layout_comprehension (#26463)
  files/es/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
Owners: @mdn/yari-content-es

Update index.md
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
