Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/axes/index.md
  files/ja/web/xml/xpath/reference/functions/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/boolean/index.md
  files/ja/web/xml/xpath/reference/functions/ceiling/index.md
  files/ja/web/xml/xpath/reference/functions/choose/index.md
  files/ja/web/xml/xpath/reference/functions/concat/index.md
  files/ja/web/xml/xpath/reference/functions/contains/index.md
  files/ja/web/xml/xpath/reference/functions/count/index.md
  files/ja/web/xml/xpath/reference/functions/current/index.md
  files/ja/web/xml/xpath/reference/functions/document/index.md
  files/ja/web/xml/xpath/reference/functions/element-available/index.md
Owners: @mdn/yari-content-ja

Remove unnecessary front matter fields
  files/ru/web/html/guides/constraint_validation/index.md
  files/ru/web/html/guides/content_categories/index.md
  files/ru/web/html/guides/quirks_mode_and_standards_mode/index.md
  files/ru/web/html/guides/responsive_images/index.md
  files/ru/web/html/how_to/cors_enabled_image/index.md
  files/ru/web/html/reference/attributes/crossorigin/index.md
  files/ru/web/html/reference/attributes/index.md
  files/ru/web/html/reference/attributes/pattern/index.md
  files/ru/web/html/reference/elements/a/index.md
  files/ru/web/html/reference/elements/abbr/index.md
  files/ru/web/html/reference/elements/acronym/index.md
  files/ru/web/html/reference/elements/address/index.md
  files/ru/web/html/reference/elements/area/index.md
  files/ru/web/html/reference/elements/article/index.md
  files/ru/web/html/reference/elements/aside/index.md
  files/ru/web/html/reference/elements/audio/index.md
  files/ru/web/html/reference/elements/b/index.md
  files/ru/web/html/reference/elements/base/index.md
  files/ru/web/html/reference/elements/bdi/index.md
  files/ru/web/html/reference/elements/bdo/index.md
  files/ru/web/html/reference/elements/blockquote/index.md
  files/ru/web/html/reference/elements/body/index.md
  files/ru/web/html/reference/elements/br/index.md
  files/ru/web/html/reference/elements/button/index.md
  files/ru/web/html/reference/elements/canvas/index.md
Owners: @mdn/yari-content-ru

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/false/index.md
  files/ja/web/xml/xpath/reference/functions/floor/index.md
  files/ja/web/xml/xpath/reference/functions/format-number/index.md
  files/ja/web/xml/xpath/reference/functions/function-available/index.md
  files/ja/web/xml/xpath/reference/functions/generate-id/index.md
  files/ja/web/xml/xpath/reference/functions/id/index.md
  files/ja/web/xml/xpath/reference/functions/key/index.md
  files/ja/web/xml/xpath/reference/functions/lang/index.md
  files/ja/web/xml/xpath/reference/functions/last/index.md
  files/ja/web/xml/xpath/reference/functions/local-name/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/name/index.md
  files/ja/web/xml/xpath/reference/functions/namespace-uri/index.md
  files/ja/web/xml/xpath/reference/functions/normalize-space/index.md
  files/ja/web/xml/xpath/reference/functions/not/index.md
  files/ja/web/xml/xpath/reference/functions/number/index.md
  files/ja/web/xml/xpath/reference/functions/position/index.md
  files/ja/web/xml/xpath/reference/functions/round/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/starts-with/index.md
  files/ja/web/xml/xpath/reference/functions/string-length/index.md
  files/ja/web/xml/xpath/reference/functions/string/index.md
  files/ja/web/xml/xpath/reference/functions/substring-after/index.md
  files/ja/web/xml/xpath/reference/functions/substring-before/index.md
  files/ja/web/xml/xpath/reference/functions/substring/index.md
  files/ja/web/xml/xpath/reference/functions/sum/index.md
  files/ja/web/xml/xpath/reference/functions/system-property/index.md
  files/ja/web/xml/xpath/reference/functions/translate/index.md
  files/ja/web/xml/xpath/reference/functions/true/index.md
  files/ja/web/xml/xpath/reference/functions/unparsed-entity-url/index.md
Owners: @mdn/yari-content-ja

Remove unnecessary front matter fields
  files/ru/web/html/reference/elements/caption/index.md
  files/ru/web/html/reference/elements/cite/index.md
  files/ru/web/html/reference/elements/code/index.md
  files/ru/web/html/reference/elements/col/index.md
  files/ru/web/html/reference/elements/data/index.md
  files/ru/web/html/reference/elements/datalist/index.md
  files/ru/web/html/reference/elements/dd/index.md
  files/ru/web/html/reference/elements/del/index.md
  files/ru/web/html/reference/elements/details/index.md
  files/ru/web/html/reference/elements/dfn/index.md
  files/ru/web/html/reference/elements/dialog/index.md
  files/ru/web/html/reference/elements/div/index.md
  files/ru/web/html/reference/elements/dl/index.md
  files/ru/web/html/reference/elements/dt/index.md
  files/ru/web/html/reference/elements/em/index.md
  files/ru/web/html/reference/elements/embed/index.md
  files/ru/web/html/reference/elements/fieldset/index.md
  files/ru/web/html/reference/elements/figcaption/index.md
  files/ru/web/html/reference/elements/figure/index.md
  files/ru/web/html/reference/elements/font/index.md
  files/ru/web/html/reference/elements/footer/index.md
  files/ru/web/html/reference/elements/form/index.md
  files/ru/web/html/reference/elements/head/index.md
  files/ru/web/html/reference/elements/header/index.md
  files/ru/web/html/reference/elements/heading_elements/index.md
Owners: @mdn/yari-content-ru

Remove unnecessary front matter fields
  files/ru/web/html/reference/elements/hgroup/index.md
  files/ru/web/html/reference/elements/hr/index.md
  files/ru/web/html/reference/elements/html/index.md
  files/ru/web/html/reference/elements/img/index.md
  files/ru/web/html/reference/elements/index.md
  files/ru/web/html/reference/elements/input/button/index.md
  files/ru/web/html/reference/elements/input/color/index.md
  files/ru/web/html/reference/elements/input/date/index.md
  files/ru/web/html/reference/elements/input/datetime-local/index.md
  files/ru/web/html/reference/elements/input/file/index.md
  files/ru/web/html/reference/elements/input/hidden/index.md
  files/ru/web/html/reference/elements/input/image/index.md
  files/ru/web/html/reference/elements/input/index.md
  files/ru/web/html/reference/elements/input/number/index.md
  files/ru/web/html/reference/elements/input/password/index.md
  files/ru/web/html/reference/elements/input/radio/index.md
  files/ru/web/html/reference/elements/input/range/index.md
  files/ru/web/html/reference/elements/input/tel/index.md
  files/ru/web/html/reference/elements/ins/index.md
  files/ru/web/html/reference/elements/kbd/index.md
  files/ru/web/html/reference/elements/label/index.md
  files/ru/web/html/reference/elements/legend/index.md
  files/ru/web/html/reference/elements/li/index.md
  files/ru/web/html/reference/elements/link/index.md
  files/ru/web/html/reference/elements/main/index.md
Owners: @mdn/yari-content-ru

Fix linting problems
  files/ru/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/ru/web/css/@font-face/index.md
  files/ru/web/css/background-origin/index.md
  files/ru/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/ru/web/css/css_images/using_css_gradients/index.md
  files/ru/web/css/mix-blend-mode/index.md
  files/ru/web/html/reference/elements/abbr/index.md
Owners: @mdn/yari-content-ru

Apply suggestions from code review
  files/ru/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/ru/web/css/@font-face/index.md
  files/ru/web/css/background-origin/index.md
  files/ru/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/ru/web/css/css_images/using_css_gradients/index.md
  files/ru/web/css/mix-blend-mode/index.md
Owners: @mdn/yari-content-ru

Complete rewrite of the "Deprecated and obsolete features"
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Update files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Removing empty spaces on list view
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Fixing broken link
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Adding empty space between example and next paragraph
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Changing quotation marks
  files/pt-br/web/javascript/reference/deprecated_and_obsolete_features/index.md
Owners: @mdn/yari-content-pt-br

Updating link localization
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

Updating link localization
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

Updating link localization
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

Updating link localization
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

[es] auto-fix content issues (#26772)
  files/es/glossary/closure/index.md
  files/es/learn_web_development/index.md
  files/es/web/css/transform/index.md
  files/es/web/html/element/dialog/index.md
  files/es/web/html/element/form/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/progress/index.md
  files/es/web/html/element/script/index.md
  files/es/web/html/index.md
  files/es/web/html/responsive_images/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/getting_started/soft_skills/workflows_and_processes (#26628)
  files/es/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/learn_web_development/extensions/index.md
Owners: @mdn/yari-content-es

Fixed misspelled words index.md (#26678)
  files/es/glossary/crud/index.md
Owners: @mdn/yari-content-es

[es]: Agrega traducción de files/en-us/learn_web_development/extensions (#26663)
  files/es/learn_web_development/extensions/index.md
Owners: @mdn/yari-content-es

Ru - addition of learn_web_development/Changelog translation
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Ru - update of learn_web_development\changelog\index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/ru/learn_web_development/changelog/index.md
Owners: @mdn/yari-content-ru

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/learn_web_development/core/accessibility/test_your_skills/html/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills_colon__html_accessibility/index.md
  files/ja/learn_web_development/core/css_layout/flexbox_skills/index.md
  files/ja/learn_web_development/core/css_layout/floats_skills/index.md
  files/ja/learn_web_development/core/css_layout/grid_skills/index.md
  files/ja/learn_web_development/core/css_layout/multicol_skills/index.md
  files/ja/learn_web_development/core/css_layout/position_skills/index.md
  files/ja/learn_web_development/core/css_layout/rwd_skills/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/grid/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
  files/ja/learn_web_development/core/styling_basics/basic_selectors/selectors_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/box_model_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/cascade_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/images_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/overflow_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/sizing_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/box_model/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/images/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/overflow/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/sizing/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/tables/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/values/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/writing_modes/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/values_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/writing_modes_tasks/index.md
Owners: @mdn/yari-content-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/learn_web_development/core/accessibility/test_your_skills/html/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills_colon__html_accessibility/index.md
  files/ja/learn_web_development/core/css_layout/flexbox_skills/index.md
  files/ja/learn_web_development/core/css_layout/floats_skills/index.md
  files/ja/learn_web_development/core/css_layout/grid_skills/index.md
  files/ja/learn_web_development/core/css_layout/multicol_skills/index.md
  files/ja/learn_web_development/core/css_layout/position_skills/index.md
  files/ja/learn_web_development/core/css_layout/rwd_skills/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/grid/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
  files/ja/learn_web_development/core/styling_basics/basic_selectors/selectors_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/box_model_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/cascade_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/images_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/overflow_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/sizing_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/box_model/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/images/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/overflow/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/selectors/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/sizing/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/tables/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/values/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/writing_modes/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/values_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/writing_modes_tasks/index.md
Owners: @mdn/yari-content-ja

2025/03/25 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/guides/index.md
  files/ja/web/html/how_to/index.md
  files/ja/web/html/index.md
  files/ja/web/html/reference/index.md
Owners: @mdn/yari-content-ja

2023/07/04 時点の英語版に同期
  files/ja/web/progressive_web_apps/how_to/index.md
Owners: @mdn/yari-content-ja

2025/02/22 時点の英語版に同期
  files/ja/web/progressive_web_apps/how_to/associate_files_with_your_pwa/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/elements/script/type/index.md
Owners: @mdn/yari-content-ja

ko: fix link reference in isNaN documentation
  files/ko/web/javascript/reference/global_objects/isnan/index.md
Owners: @mdn/yari-content-ko

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/elements/script/type/importmap/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
