Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[es] sync translated content (#26865)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/games/tools/index.md
  files/es/conflicting/web/css/@font-face/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/es/orphaned/mdn/community/security_vulnerability_response/index.md
  files/es/web/api/htmldialogelement/showmodal/index.md
  files/es/web/html/how_to/author_fast-loading_html_pages/index.md
  files/es/web/html/how_to/use_data_attributes/index.md
  files/es/web/security/attacks/index.md
Owners: @mdn/yari-content-es

[ES] Update `CSS/::after` (#27319)
  files/es/web/css/_doublecolon_after/index.md
Owners: @mdn/yari-content-es

[ES] Add `Web/API/Background_Synchronization_API` (#27321)
  files/es/web/api/background_synchronization_api/index.md
Owners: @mdn/yari-content-es

[ES] Update `Web/API` (#27339)
  files/es/web/api/index.md
Owners: @mdn/yari-content-es

deprecated な role や aria-attributes を翻訳 (#27725)
  files/ja/web/accessibility/aria/reference/attributes/aria-dropeffect/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-grabbed/index.md
  files/ja/web/accessibility/aria/reference/roles/directory_role/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/ja/conflicting/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/core/styling_basics/tables/index.md
  files/ja/conflicting/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期 (#27674)
  files/ja/web/javascript/reference/global_objects/date/getdate/index.md
  files/ja/web/javascript/reference/global_objects/date/getday/index.md
  files/ja/web/javascript/reference/global_objects/date/getfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/gethours/index.md
  files/ja/web/javascript/reference/global_objects/date/getmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/getminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/getmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/getseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/gettime/index.md
  files/ja/web/javascript/reference/global_objects/date/gettimezoneoffset/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#27746)
  files/ja/_redirects.txt
  files/ja/learn_web_development/core/styling_basics/test_your_skills/tables/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills/writing_modes/index.md
Owners: @mdn/yari-content-ja

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

2025/04/28 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Owners: @mdn/yari-content-ja

2025/03/06 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/getyear/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/getutcdate/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcday/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/getutchours/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcseconds/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/setdate/index.md
  files/ja/web/javascript/reference/global_objects/date/setfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/sethours/index.md
  files/ja/web/javascript/reference/global_objects/date/setmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/setminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/setmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/setseconds/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/settime/index.md
Owners: @mdn/yari-content-ja

2023/09/25 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/setyear/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/date/setutcdate/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/setutchours/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcseconds/index.md
Owners: @mdn/yari-content-ja

2025/03/03 時点の英語版に同期
  files/ja/web/css/_colon_active/index.md
Owners: @mdn/yari-content-ja

2025/06/17 時点の英語版に同期
  files/ja/web/css/properties/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/glossary/rate_limit/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Head_of_line_blocking` (#27701)
  files/zh-cn/glossary/head_of_line_blocking/index.md
Owners: @mdn/yari-content-zh

2025/03/03 時点の英語版に同期
  files/ja/web/css/_colon_autofill/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/_colon_any-link/index.md
  files/ja/web/css/_colon_checked/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/_colon_autofill/index.md
Owners: @mdn/yari-content-ja

2025/02/06 時点の英語版に同期
  files/ja/web/css/_colon_buffering/index.md
  files/ja/web/css/_colon_current/index.md
Owners: @mdn/yari-content-ja

remove the conflicted doc
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/tables/index.md
  files/zh-cn/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#27747)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills/tables/index.md
Owners: @mdn/yari-content-zh

[ja] fix typos in `Learn_web_development/Core/Styling_basics/Handling_conflicts`
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `Glossary/Rate_limit` (#27723)
  files/zh-cn/glossary/rate_limit/index.md
Owners: @mdn/yari-content-zh

Improve wording
  files/ru/learn_web_development/extensions/server-side/first_steps/web_frameworks/index.md
Owners: @mdn/yari-content-ru

Improve wording in `Learn_web_development/Extensions/Server-side/First_steps/Web_frameworks` (#27284)
  files/ru/learn_web_development/extensions/server-side/first_steps/web_frameworks/index.md
Owners: @mdn/yari-content-ru

Improve wording
  files/ru/learn_web_development/core/structuring_content/html_table_basics/index.md
Owners: @mdn/yari-content-ru

[ru] improve `Learn_web_development/Core/Structuring_content/HTML_table_basics` translation (#27666)
  files/ru/learn_web_development/core/structuring_content/html_table_basics/index.md
Owners: @mdn/yari-content-ru

[ko] mouse event buttons 신규 번역
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

2025/01/23 時点の英語版に基づき新規翻訳
  files/ja/web/javascript/reference/global_objects/date/totemporalinstant/index.md
Owners: @mdn/yari-content-ja
