Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/03/13 時点の英語版に同期
  files/ja/web/api/screen/isextended/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/api/screen/isextended/index.md
Owners: @mdn/yari-content-ja

2024/10/16 時点の英語版に同期
  files/ja/web/api/screen/orientation/index.md
Owners: @mdn/yari-content-ja

2023/04/08 時点の英語版に同期
  files/ja/web/api/screen/colordepth/index.md
  files/ja/web/api/screen/mozbrightness/index.md
  files/ja/web/api/screen/mozenabled/index.md
  files/ja/web/api/screen/pixeldepth/index.md
  files/ja/web/api/screen/width/index.md
Owners: @mdn/yari-content-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/screen/lockorientation/index.md
  files/ja/web/api/screen/unlockorientation/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/api/screen/change_event/index.md
  files/ja/web/api/screen/orientationchange_event/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update API `Document.readyState` property (#27205)
  files/zh-tw/web/api/document/readystate/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/documentfragment/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/domtokenlist/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/dragevent/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/dragevent/datatransfer/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/documentfragment/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/domtokenlist/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/domtokenlist/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/documentfragment/index.md
Owners: @mdn/yari-content-zh

[ES] Add `Glossary/Advance_measure`
  files/es/glossary/advance_measure/index.md
Owners: @mdn/yari-content-es

Fix typo in Web MIDI API
  files/ja/web/api/web_midi_api/index.md
Owners: @mdn/yari-content-ja

[ja] fix typo
  files/ja/web/css/@property/index.md
Owners: @mdn/yari-content-ja

Fix typo in Web MIDI API
  files/ja/web/api/web_midi_api/index.md
Owners: @mdn/yari-content-ja

[ja] fix typo
  files/ja/web/css/@property/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/getallframes/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/getallframes/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onbeforenavigate/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/update/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/storage/local/index.md
Owners: @mdn/yari-content-zh

zh-tw: remove msedge compat data license (#27259)
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/onchanged/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/onchangedcause/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/storage/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/storage/local/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/blob/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Blob` (#26924)
  files/zh-tw/web/api/blob/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API "Channel Messaging API" (#27034)
  files/zh-tw/web/api/channel_messaging_api/index.md
Owners: @mdn/yari-content-zh

zh-CN: revise the translation of javascript based on reviewer suggestions
  files/zh-cn/web/javascript/index.md
Owners: @mdn/yari-content-zh

zh-CN: update the translation of javascript (#27269)
  files/zh-cn/web/javascript/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.onBeforeRequest` (#26811)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of `Response.status` (#27251)
  files/zh-cn/web/api/response/status/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `CloseEvent` (#27044)
  files/zh-tw/web/api/closeevent/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create test your skills main page
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/test_your_skills/index.md
Owners: @mdn/yari-content-zh

create test your skills main page under core/scripting
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/index.md
Owners: @mdn/yari-content-zh

add entry for css layout
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update django local library tutorial part 1
  files/zh-cn/learn_web_development/extensions/server-side/django/tutorial_local_library_website/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/blob/size/index.md
  files/zh-tw/web/api/blob/size/index.md
Owners: @mdn/yari-content-zh
