Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

es: fix title of input button page (#28498)
  files/es/web/html/reference/elements/input/button/index.md
Owners: @mdn/yari-content-es

ko: auto-fix content issues
  files/ko/learn_web_development/extensions/performance/css/index.md
  files/ko/learn_web_development/extensions/performance/html/index.md
Owners: @mdn/yari-content-ko

ja: auto-fix content issues
  files/ja/mozilla/firefox/releases/75/index.md
Owners: @mdn/yari-content-ja

fr: sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/fr/conflicting/web/api/document_object_model/events/index.md
  files/fr/conflicting/web/css/@media/index.md
  files/fr/conflicting/web/css/clip/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/web/api/document_object_model/events/index.md
  files/fr/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-fr

[zh-cn] update API/attr (#28540)
  files/zh-cn/web/api/attr/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/performanceobserver/observe/index.md
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

update translation for PerformanceObserver.observe
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/html/reference/global_attributes/inert/index.md
Owners: @mdn/yari-content-zh

[zh-cn] init inert html global attribute (#28539)
  files/zh-cn/web/html/reference/global_attributes/inert/index.md
Owners: @mdn/yari-content-zh

[zh-cn] add translate for PerformanceEventTiming (#28465)
  files/zh-cn/web/api/performanceeventtiming/index.md
Owners: @mdn/yari-content-zh

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/boolean/boolean/index.md
  files/ja/web/javascript/reference/global_objects/boolean/index.md
  files/ja/web/javascript/reference/global_objects/boolean/tostring/index.md
  files/ja/web/javascript/reference/global_objects/boolean/valueof/index.md
Owners: @mdn/yari-content-ja

2025/08/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/proxy/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/defineproperty/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/deleteproperty/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/get/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/getownpropertydescriptor/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/has/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/ownkeys/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/preventextensions/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/set/index.md
  files/ja/web/javascript/reference/global_objects/proxy/proxy/setprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.md
Owners: @mdn/yari-content-ja

translate tabpanel role
  files/ja/web/accessibility/aria/reference/roles/tabpanel_role/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/mozilla/firefox/releases/75/index.md
Owners: @mdn/yari-content-ja

Add short-title for DOMRectReadOnly x property
  files/zh-cn/web/api/domrectreadonly/x/index.md
Owners: @mdn/yari-content-zh

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/addition/index.md
  files/ja/web/javascript/reference/operators/addition_assignment/index.md
  files/ja/web/javascript/reference/operators/assignment/index.md
  files/ja/web/javascript/reference/operators/async_function/index.md
  files/ja/web/javascript/reference/operators/async_function_star_/index.md
  files/ja/web/javascript/reference/operators/await/index.md
  files/ja/web/javascript/reference/operators/bitwise_and/index.md
  files/ja/web/javascript/reference/operators/bitwise_and_assignment/index.md
  files/ja/web/javascript/reference/operators/bitwise_not/index.md
  files/ja/web/javascript/reference/operators/bitwise_or/index.md
  files/ja/web/javascript/reference/operators/bitwise_or_assignment/index.md
  files/ja/web/javascript/reference/operators/bitwise_xor/index.md
  files/ja/web/javascript/reference/operators/bitwise_xor_assignment/index.md
  files/ja/web/javascript/reference/operators/index.md
Owners: @mdn/yari-content-ja

[ko] auto-fix content issues (#28555)
  files/ko/learn_web_development/extensions/performance/css/index.md
  files/ko/learn_web_development/extensions/performance/html/index.md
Owners: @mdn/yari-content-ko

translate treegrid role
  files/ja/web/accessibility/aria/reference/roles/treegrid_role/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/accessibility/aria/reference/roles/tab_role/index.md
Owners: @mdn/yari-content-ja

[zh-cn] update PerformanceObserver.observe (#28507)
  files/zh-cn/web/api/performanceobserver/observe/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRectReadOnly/x` (#28484)
  files/zh-cn/web/api/domrectreadonly/x/index.md
Owners: @mdn/yari-content-zh

minor
  files/zh-cn/web/api/cssstylerule/selectortext/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: update CSSStyleRule: selectorText property (#28556)
  files/zh-cn/web/api/cssstylerule/selectortext/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Roles/widget_role` (#28262)
  files/zh-cn/web/accessibility/aria/reference/roles/widget_role/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Math.floor()` (#28346)
  files/zh-tw/web/javascript/reference/global_objects/math/floor/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedVideoChunk/duration` (#28320)
  files/zh-cn/web/api/encodedvideochunk/duration/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update landing page of API (#28413)
  files/zh-tw/web/api/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Accelerometer/y` (#28322)
  files/zh-cn/web/api/accelerometer/y/index.md
Owners: @mdn/yari-content-zh

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AnimationEvent/animationName` (#28537)
  files/zh-cn/web/api/animationevent/animationname/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRectReadOnly/left` (#28488)
  files/zh-cn/web/api/domrectreadonly/left/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRectReadOnly/bottom` (#28492)
  files/zh-cn/web/api/domrectreadonly/bottom/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRect/y` (#28496)
  files/zh-cn/web/api/domrect/y/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Math.random()` (#28347)
  files/zh-tw/web/javascript/reference/global_objects/math/random/index.md
Owners: @mdn/yari-content-zh

2025/07/17 時点の英語版に同期
  files/ja/web/svg/reference/attribute/font-style/index.md
Owners: @mdn/yari-content-ja
