Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-tw/web/api/cssstylesheet/insertrule/index.md
  files/zh-tw/web/api/cssstylesheet/insertrule/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/cssstylesheet/insertrule/index.md
  files/zh-tw/web/api/cssstylesheet/insertrule/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/cssstylesheet/insertrule/index.md
  files/zh-tw/web/api/cssstylesheet/insertrule/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of WebAssembly.instantiateStreaming()
  files/zh-cn/webassembly/reference/javascript_interface/instantiatestreaming_static/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/instantiatestreaming_static/index.md
Owners: @mdn/yari-content-zh

update l10n.sourceCommit
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

update l10n.sourceCommit
  files/zh-cn/webassembly/reference/javascript_interface/instantiatestreaming_static/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/@media/prefers-reduced-motion/index.md
  files/zh-cn/web/css/@media/prefers-reduced-motion/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/xml/exslt/reference/regexp/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for WebAssembly.LinkError
  files/zh-cn/webassembly/reference/javascript_interface/linkerror/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/webassembly/reference/javascript_interface/linkerror/index.md
Owners: @mdn/yari-content-zh

add EOF
  files/zh-cn/web/html/reference/attributes/crossorigin/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/security/weak_signature_algorithm/index.md
Owners: @mdn/yari-content-zh

chore(zh-cn): use sidebar instead of macro (#27352)
  files/zh-cn/learn_web_development/howto/design_and_accessibility/common_web_layouts/index.md
  files/zh-cn/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/zh-cn/learn_web_development/howto/design_and_accessibility/what_is_accessibility/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/how_much_does_it_cost/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/upload_files_to_a_web_server/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/using_github_pages/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/what_are_browser_developer_tools/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_are_hyperlinks/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
  files/zh-cn/web/css/@media/prefers-reduced-motion/index.md
  files/zh-cn/web/html/reference/attributes/crossorigin/index.md
  files/zh-cn/web/progressive_web_apps/manifest/index.md
  files/zh-cn/web/progressive_web_apps/manifest/reference/background_color/index.md
  files/zh-cn/web/progressive_web_apps/manifest/reference/index.md
  files/zh-cn/web/security/certificate_transparency/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/security/practical_implementation_guides/turning_off_form_autocompletion/index.md
  files/zh-cn/web/security/same-origin_policy/index.md
  files/zh-cn/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/zh-cn/web/security/secure_contexts/index.md
  files/zh-cn/web/security/subresource_integrity/index.md
  files/zh-cn/web/security/transport_layer_security/index.md
  files/zh-cn/web/security/types_of_attacks/index.md
  files/zh-cn/web/security/weak_signature_algorithm/index.md
  files/zh-cn/web/webdriver/index.md
  files/zh-cn/web/xml/exslt/reference/regexp/index.md
  files/zh-cn/web/xml/guides/opensearch/index.md
  files/zh-cn/web/xml/guides/parsing_and_serializing_xml/index.md
  files/zh-cn/web/xml/guides/xml_introduction/index.md
  files/zh-cn/web/xml/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/linkerror/index.md
Owners: @mdn/yari-content-zh

fix broken links to diagrams
  files/ja/web/http/guides/caching/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_ruby_layout/index.md
Owners: @mdn/yari-content-ja

2024/08/08 時点の英語版に同期
  files/ja/web/css/ruby-align/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/ruby-position/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期 (#27310)
  files/ja/web/css/_colon_blank/index.md
Owners: @mdn/yari-content-ja

2025/02/20 時点の英語版に同期
  files/ja/web/css/_colon_first/index.md
Owners: @mdn/yari-content-ja

2025/02/15 時点の英語版に同期
  files/ja/web/css/_colon_left/index.md
  files/ja/web/css/_colon_right/index.md
Owners: @mdn/yari-content-ja

[ko] sync translated content (#27289)
  files/ko/_redirects.txt
  files/ko/conflicting/web/api/element/copy_event/index.md
  files/ko/conflicting/web/api/element/copy_event_8f169b964ed6100fd74860a263316bb2f862d8bb386816f90640f696d2e845af/index.md
  files/ko/conflicting/web/api/element/cut_event/index.md
  files/ko/conflicting/web/api/element/cut_event_7d33812242c8023f9e15329180681271f56658c72268b8f378d6d1ef0cb3fb3d/index.md
  files/ko/conflicting/web/api/element/paste_event/index.md
  files/ko/conflicting/web/api/element/paste_event_c542c61e7eebc0a20e5104020fa32085e309dd6c4fe58de433d0fd28797b71d6/index.md
Owners: @mdn/yari-content-ko

[ko] fix incorrect Korean particle '가' → '이' in arrow functions docs (#27355)
  files/ko/web/javascript/reference/functions/arrow_functions/index.md
Owners: @mdn/yari-content-ko

[ko] HTML <dialog> 신규 번역 (#27208)
  files/ko/web/html/reference/elements/dialog/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/update/index.md
Owners: @mdn/yari-content-zh

ru: auto-fix content issues
  files/ru/learn_web_development/core/structuring_content/html_images/index.md
  files/ru/learn_web_development/howto/solve_html_problems/index.md
  files/ru/mdn/tutorials/index.md
  files/ru/web/html/reference/global_attributes/data-_star_/index.md
Owners: @mdn/yari-content-ru

zh-CN: create `userScripts.update()` (#27179)
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/update/index.md
Owners: @mdn/yari-content-zh

chore: update index.md
  files/zh-cn/glossary/accessibility_tree/index.md
Owners: @mdn/yari-content-zh

chore(macros): fix macros
  files/ja/web/accessibility/aria/reference/roles/search_role/index.md
  files/ja/web/api/highlightregistry/delete/index.md
  files/ja/web/api/ndefrecord/data/index.md
  files/ja/web/javascript/reference/global_objects/evalerror/index.md
  files/ko/learn_web_development/extensions/server-side/django/forms/index.md
  files/ko/learn_web_development/extensions/server-side/django/generic_views/index.md
  files/ko/web/api/audionode/connect/index.md
  files/ko/web/api/audioparam/linearramptovalueattime/index.md
  files/ko/web/api/keyboardevent/iscomposing/index.md
Owners: @mdn/yari-content-ja, @mdn/yari-content-ko

[ko] javascript iterator 신규 번역
  files/ko/web/javascript/reference/global_objects/iterator/index.md
Owners: @mdn/yari-content-ko

mdn-linter 수정사항 반영 1
  files/ko/web/javascript/reference/global_objects/iterator/index.md
Owners: @mdn/yari-content-ko

mdn-linter 수정사항 반영 1
  files/ko/web/javascript/reference/global_objects/iterator/index.md
Owners: @mdn/yari-content-ko

2025/04/12 時点の英語版に同期
  files/ja/web/html/reference/attributes/index.md
Owners: @mdn/yari-content-ja

2025/05/05 時点の英語版に同期
  files/ja/web/security/practical_implementation_guides/turning_off_form_autocompletion/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/web/html/reference/attributes/crossorigin/index.md
Owners: @mdn/yari-content-ja

2025/04/11 時点の英語版に同期
  files/ja/web/html/reference/attributes/max/index.md
  files/ja/web/html/reference/attributes/min/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/attributes/accept/index.md
  files/ja/web/html/reference/attributes/autocomplete/index.md
  files/ja/web/html/reference/attributes/capture/index.md
  files/ja/web/html/reference/attributes/dirname/index.md
  files/ja/web/html/reference/attributes/disabled/index.md
  files/ja/web/html/reference/attributes/elementtiming/index.md
  files/ja/web/html/reference/attributes/for/index.md
  files/ja/web/html/reference/attributes/maxlength/index.md
  files/ja/web/html/reference/attributes/minlength/index.md
  files/ja/web/html/reference/attributes/multiple/index.md
  files/ja/web/html/reference/attributes/placeholder/index.md
  files/ja/web/html/reference/attributes/readonly/index.md
  files/ja/web/html/reference/attributes/size/index.md
  files/ja/web/html/reference/attributes/step/index.md
Owners: @mdn/yari-content-ja

2025/03/20 時点の英語版に同期
  files/ja/web/css/css_scroll_snap/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
