Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/slider_role`
  files/fr/web/accessibility/aria/reference/roles/slider_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/spinbutton_role`
  files/fr/web/accessibility/aria/reference/roles/spinbutton_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/status_role`
  files/fr/web/accessibility/aria/reference/roles/status_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/structure_role`
  files/fr/web/accessibility/aria/reference/roles/structure_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/suggestion_role`
  files/fr/web/accessibility/aria/reference/roles/suggestion_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/switch_role`
  files/fr/web/accessibility/aria/reference/roles/switch_role/index.md
Owners: @mdn/yari-content-fr

[ko] Right shift (>>) 신규 번역
  files/ko/web/javascript/reference/operators/right_shift/index.md
Owners: @mdn/yari-content-ko

ja: auto-fix content issues
  files/ja/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/ja/web/css/color_value/color/index.md
  files/ja/web/css/color_value/hsl/index.md
  files/ja/web/css/color_value/rgb/index.md
Owners: @mdn/yari-content-ja

[zh-cn] Revise datetime-local input documentation in Chinese (#29014)
  files/zh-cn/web/html/reference/elements/input/datetime-local/index.md
Owners: @mdn/yari-content-zh

Add sandbox attrs to live samples that call prompt() and confirm() (#28579)
  files/es/learn_web_development/core/scripting/strings/index.md
  files/es/learn_web_development/core/scripting/what_is_javascript/index.md
  files/fr/learn_web_development/core/scripting/strings/index.md
  files/fr/learn_web_development/core/scripting/what_is_javascript/index.md
  files/ja/learn_web_development/core/scripting/strings/index.md
  files/ja/learn_web_development/core/scripting/what_is_javascript/index.md
  files/ko/learn_web_development/core/scripting/strings/index.md
  files/ko/learn_web_development/core/scripting/what_is_javascript/index.md
  files/pt-br/learn_web_development/core/scripting/strings/index.md
  files/pt-br/learn_web_development/core/scripting/what_is_javascript/index.md
  files/ru/learn_web_development/core/scripting/strings/index.md
  files/ru/learn_web_development/core/scripting/what_is_javascript/index.md
  files/zh-cn/learn_web_development/core/scripting/strings/index.md
  files/zh-cn/learn_web_development/core/scripting/what_is_javascript/index.md
  files/zh-cn/web/api/htmltextareaelement/index.md
  files/zh-tw/learn_web_development/core/scripting/strings/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

Update files/fr/web/accessibility/aria/reference/roles/region_role/index.md
  files/fr/web/accessibility/aria/reference/roles/region_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/region_role/index.md
  files/fr/web/accessibility/aria/reference/roles/region_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/row_role/index.md
  files/fr/web/accessibility/aria/reference/roles/row_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
  files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
  files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
  files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
  files/fr/web/accessibility/aria/reference/roles/rowheader_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/scrollbar_role/index.md
  files/fr/web/accessibility/aria/reference/roles/scrollbar_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/scrollbar_role/index.md
  files/fr/web/accessibility/aria/reference/roles/scrollbar_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/separator_role/index.md
  files/fr/web/accessibility/aria/reference/roles/separator_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/separator_role/index.md
  files/fr/web/accessibility/aria/reference/roles/separator_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/slider_role/index.md
  files/fr/web/accessibility/aria/reference/roles/slider_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/slider_role/index.md
  files/fr/web/accessibility/aria/reference/roles/slider_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/spinbutton_role/index.md
  files/fr/web/accessibility/aria/reference/roles/spinbutton_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/status_role/index.md
  files/fr/web/accessibility/aria/reference/roles/status_role/index.md
Owners: @mdn/yari-content-fr

Update files/fr/web/accessibility/aria/reference/roles/suggestion_role/index.md
  files/fr/web/accessibility/aria/reference/roles/suggestion_role/index.md
Owners: @mdn/yari-content-fr

Update files/zh-cn/web/api/audioparam/cancelandholdattime/index.md
  files/zh-cn/web/api/audioparam/cancelandholdattime/index.md
Owners: @mdn/yari-content-zh

Update files/fr/web/accessibility/aria/reference/roles/suggestion_role/index.md
  files/fr/web/accessibility/aria/reference/roles/suggestion_role/index.md
Owners: @mdn/yari-content-fr

zh-CN: create `AudioParam/cancelAndHoldAtTime` (#28608)
  files/zh-cn/web/api/audioparam/cancelandholdattime/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/window/screen/index.md
Owners: @mdn/yari-content-zh

zh-CN: sync games translated content (#29063)
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Owners: @mdn/yari-content-zh

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-zh

fr: sync translated content
  files/fr/_redirects.txt
  files/fr/web/css/css_colors/color_format_converter/index.md
Owners: @mdn/yari-content-fr

[zh-cn]: create the translation of CSS `line-gap-override` @font-face
  files/zh-cn/web/css/@font-face/line-gap-override/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `Date.prototype.setUTCDate()`
  files/zh-cn/web/javascript/reference/global_objects/date/setutcdate/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update sourceCommit
  files/zh-cn/web/css/border-bottom-left-radius/index.md
  files/zh-cn/web/css/border-bottom-style/index.md
  files/zh-cn/web/css/column_combinator/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/css/border-bottom-style/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
