Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Fix(pt-br): Update broken Google Fonts link
  files/pt-br/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
Owners: @mdn/yari-content-pt-br

zh-CN: Remove accidental extra space
  files/zh-cn/web/api/web_storage_api/using_the_web_storage_api/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Games Tutorial "Bounce_off_the_walls" (#27541)
  files/zh-tw/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/status/201/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/status/202/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/status/203/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/status/203/index.md
Owners: @mdn/yari-content-zh

[zh-CN] remove accidental extra space (#27586)
  files/zh-cn/web/api/web_storage_api/using_the_web_storage_api/index.md
Owners: @mdn/yari-content-zh

minor fixes
  files/zh-cn/web/http/reference/status/200/index.md
  files/zh-cn/web/http/reference/status/201/index.md
  files/zh-cn/web/http/reference/status/203/index.md
  files/zh-cn/web/http/reference/status/204/index.md
  files/zh-cn/web/http/reference/status/205/index.md
  files/zh-cn/web/http/reference/status/208/index.md
Owners: @mdn/yari-content-zh

fixup
  files/zh-cn/web/http/reference/status/200/index.md
  files/zh-cn/web/http/reference/status/201/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of HTTP status code '200', '201', '203', '204', '205', '208' (#27476)
  files/zh-cn/web/http/reference/status/200/index.md
  files/zh-cn/web/http/reference/status/201/index.md
  files/zh-cn/web/http/reference/status/203/index.md
  files/zh-cn/web/http/reference/status/204/index.md
  files/zh-cn/web/http/reference/status/205/index.md
  files/zh-cn/web/http/reference/status/208/index.md
Owners: @mdn/yari-content-zh

zh-CN: update `Clipboard/writeText` (#27465)
  files/zh-cn/web/api/clipboard/writetext/index.md
Owners: @mdn/yari-content-zh

create
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/guides/mime_types/common_types/index.md
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-zh

fix wiki link
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/guides/mime_types/common_types/index.md
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/comment/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/cloud_computing/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/blink_element/index.md
Owners: @mdn/yari-content-zh

unify term sanitize
  files/zh-cn/web/api/clipboard/read/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: update the translation of the HTML `<meta name="theme-color">` attribute and the `<meta>` element name attribute (#27509)
  files/zh-cn/web/html/reference/elements/meta/name/theme-color/index.md
Owners: @mdn/yari-content-zh

2024/03/06 時点の英語版に同期
  files/ja/web/api/urlpattern/exec/index.md
  files/ja/web/api/urlpattern/hash/index.md
  files/ja/web/api/urlpattern/hostname/index.md
  files/ja/web/api/urlpattern/index.md
  files/ja/web/api/urlpattern/password/index.md
  files/ja/web/api/urlpattern/pathname/index.md
  files/ja/web/api/urlpattern/port/index.md
  files/ja/web/api/urlpattern/protocol/index.md
  files/ja/web/api/urlpattern/search/index.md
  files/ja/web/api/urlpattern/test/index.md
  files/ja/web/api/urlpattern/username/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/api/urlpattern/urlpattern/index.md
Owners: @mdn/yari-content-ja

2024/11/06 時点の英語版に同期
  files/ja/web/api/navigator/webdriver/index.md
Owners: @mdn/yari-content-ja

2024/12/07 時点の英語版に同期 (#27531)
  files/ja/web/javascript/reference/regular_expressions/modifier/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期 (#27532)
  files/ja/web/http/reference/status/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/http/reference/status/204/index.md
  files/ja/web/http/reference/status/205/index.md
Owners: @mdn/yari-content-ja

2025/03/29 時点の英語版に同期
  files/ja/web/http/reference/status/308/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期 (#27535)
  files/ja/web/http/reference/status/103/index.md
Owners: @mdn/yari-content-ja

2025/04/11 時点の英語版に同期
  files/ja/web/http/reference/status/102/index.md
  files/ja/web/http/reference/status/207/index.md
  files/ja/web/http/reference/status/208/index.md
  files/ja/web/http/reference/status/226/index.md
  files/ja/web/http/reference/status/300/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/reference/status/100/index.md
  files/ja/web/http/reference/status/101/index.md
  files/ja/web/http/reference/status/200/index.md
  files/ja/web/http/reference/status/201/index.md
  files/ja/web/http/reference/status/202/index.md
  files/ja/web/http/reference/status/203/index.md
  files/ja/web/http/reference/status/206/index.md
  files/ja/web/http/reference/status/301/index.md
  files/ja/web/http/reference/status/302/index.md
  files/ja/web/http/reference/status/303/index.md
  files/ja/web/http/reference/status/304/index.md
  files/ja/web/http/reference/status/307/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/svg/reference/attribute/begin/index.md
  files/ja/web/svg/reference/attribute/begin/index.md
Owners: @mdn/yari-content-ja

2025/05/03 時点の英語版に同期
  files/ja/mozilla/firefox/releases/50/index.md
Owners: @mdn/yari-content-ja

2025/04/30 時点の英語版に同期
  files/ja/mozilla/firefox/releases/52/index.md
Owners: @mdn/yari-content-ja
