Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Owners: @mdn/yari-content-zh

refactor: move EmbedInteractiveExample on its own line
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/fr/web/html/global_attributes/accesskey/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ko, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

Migrate CSS interactive examples
  files/es/web/css/hyphens/index.md
  files/pt-br/web/css/position/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

[zh-CN]: Sync translation for Fullscreen API (#26501)
  files/zh-cn/web/api/document/fullscreenelement/index.md
  files/zh-cn/web/api/fullscreen_api/guide/index.md
Owners: @mdn/yari-content-zh

Migrate JS interactive examples
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ko, @mdn/yari-content-pt-br, @mdn/yari-content-ru, @mdn/yari-content-zh

Replace HTML interactive examples
  files/fr/web/html/global_attributes/accesskey/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/ru/web/html/element/area/index.md
Owners: @mdn/yari-content-fr, @mdn/yari-content-pt-br, @mdn/yari-content-ru

[es]: migrate remaining interactive examples
  files/es/web/css/gradient/index.md
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/es/web/javascript/reference/global_objects/array/flat/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-es

[fr]: migrate remaining interactive examples
  files/fr/web/css/angle/index.md
  files/fr/web/css/basic-shape/index.md
  files/fr/web/css/gradient/index.md
  files/fr/web/html/global_attributes/accesskey/index.md
  files/fr/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/fr/web/javascript/reference/global_objects/map/groupby/index.md
  files/fr/web/javascript/reference/global_objects/object/groupby/index.md
  files/fr/web/javascript/reference/global_objects/string/symbol.iterator/index.md
Owners: @mdn/yari-content-fr

[ja]: migrate remaining interactive examples
  files/ja/web/css/angle/index.md
  files/ja/web/css/animation-timeline/index.md
  files/ja/web/css/basic-shape/index.md
  files/ja/web/css/gradient/index.md
  files/ja/web/javascript/reference/global_objects/object/groupby/index.md
Owners: @mdn/yari-content-ja

[pt-br]: migrate remaining interactive examples
  files/pt-br/conflicting/web/javascript/reference/global_objects/map/index.md
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-pt-br

[ru]: migrate remaining interactive examples
  files/ru/web/css/angle/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/bigint/asintn/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Owners: @mdn/yari-content-ru

[zh-cn]: migrate remaining interactive examples
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/gradient/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/groupby/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-zh

[zh-tw]: migrate remaining interactive examples
  files/zh-tw/web/javascript/reference/global_objects/math/random/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-zh

[ko]: migrate remaining interactive examples
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_select.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_tbody.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Statements_trycatch.md
  files/ko/web/css/angle/index.md
  files/ko/web/css/gradient/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/ko/web/javascript/reference/global_objects/object/groupby/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
Owners: @mdn/yari-content-fr

Apply suggestions from code review
  files/ja/web/css/animation-timeline/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
Owners: @mdn/yari-content-pt-br

Apply suggestions from code review
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Owners: @mdn/yari-content-ru

Apply suggestions from code review
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
Owners: @mdn/yari-content-zh

update index.md
  files/zh-cn/web/css/_colon_user-valid/index.md
Owners: @mdn/yari-content-zh

call
  files/ja/web/javascript/reference/global_objects/function/call/index.md
Owners: @mdn/yari-content-ja

2024/07/30 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/displayname/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/length/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
