Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

Remove KeyboardEvent.initKeyEvent page
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/keyboardevent/keyboardevent/index.md
  files/zh-cn/web/api/keyboardevent/index.md
Owners: @mdn/yari-content-zh

chore(learn): Move skills tests into subdir
  files/zh-cn/learn_web_development/core/css_layout/flexbox/index.md
  files/zh-cn/learn_web_development/core/css_layout/floats/index.md
  files/zh-cn/learn_web_development/core/css_layout/grids/index.md
  files/zh-cn/learn_web_development/core/css_layout/media_queries/index.md
  files/zh-cn/learn_web_development/core/css_layout/positioning/index.md
  files/zh-cn/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/zh-cn/learn_web_development/core/styling_basics/box_model/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/zh-cn/learn_web_development/core/styling_basics/combinators/index.md
  files/zh-cn/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/zh-cn/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/zh-cn/learn_web_development/core/styling_basics/overflow/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
Owners: @mdn/yari-content-zh

Remove SVGEvent
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/event/index.md
  files/zh-cn/web/api/event/index.md
Owners: @mdn/yari-content-zh

chore(learn): Move skills tests into subdir
  files/zh-cn/learn_web_development/core/scripting/build_your_own_function/index.md
  files/zh-cn/learn_web_development/core/scripting/conditionals/index.md
  files/zh-cn/learn_web_development/core/scripting/event_bubbling/index.md
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
  files/zh-cn/learn_web_development/core/scripting/json/index.md
  files/zh-cn/learn_web_development/core/scripting/loops/index.md
  files/zh-cn/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-zh

fetch() へのリンクを一括更新
  files/ja/web/api/xmlhttprequest_api/index.md
  files/ja/web/http/reference/headers/content-security-policy/connect-src/index.md
  files/ja/web/performance/guides/speculative_loading/index.md
Owners: @mdn/yari-content-ja

グローバル関数へのリンクを Window 以下に移動
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/ja/mozilla/firefox/releases/50/index.md
  files/ja/mozilla/firefox/releases/51/index.md
  files/ja/mozilla/firefox/releases/55/index.md
  files/ja/mozilla/firefox/releases/56/index.md
  files/ja/web/api/canvas_api/tutorial/basic_animations/index.md
  files/ja/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ja/web/api/document/scroll_event/index.md
  files/ja/web/api/html_dom_api/microtask_guide/index.md
  files/ja/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/ja/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/ja/web/api/notifications_api/using_the_notifications_api/index.md
  files/ja/web/api/page_visibility_api/index.md
  files/ja/web/api/performance/measureuseragentspecificmemory/index.md
  files/ja/web/api/popover_api/using/index.md
  files/ja/web/api/sharedworkerglobalscope/index.md
  files/ja/web/api/streams_api/using_readable_streams/index.md
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/ja/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/ja/web/api/web_workers_api/index.md
  files/ja/web/api/web_workers_api/using_web_workers/index.md
  files/ja/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
  files/ja/web/api/window/index.md
  files/ja/web/api/window/popstate_event/index.md
  files/ja/web/api/workerglobalscope/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src/index.md
  files/ja/web/performance/guides/fundamentals/index.md
Owners: @mdn/yari-content-ja

用語の修正: 混合コンテンツ→混在コンテンツ
  files/ja/mozilla/firefox/experimental_features/index.md
  files/ja/web/accessibility/aria/reference/roles/img_role/index.md
  files/ja/web/http/reference/headers/content-security-policy/block-all-mixed-content/index.md
  files/ja/web/http/reference/headers/content-security-policy/upgrade-insecure-requests/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/reference/headers/content-security-policy/base-uri/index.md
  files/ja/web/http/reference/headers/content-security-policy/block-all-mixed-content/index.md
  files/ja/web/http/reference/headers/content-security-policy/child-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/font-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/form-action/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-ancestors/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/img-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/manifest-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/media-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/object-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/prefetch-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/report-to/index.md
  files/ja/web/http/reference/headers/content-security-policy/report-uri/index.md
  files/ja/web/http/reference/headers/content-security-policy/require-trusted-types-for/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src-attr/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src-elem/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src-attr/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src-elem/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/trusted-types/index.md
  files/ja/web/http/reference/headers/content-security-policy/upgrade-insecure-requests/index.md
  files/ja/web/http/reference/headers/content-security-policy/worker-src/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/http/reference/headers/content-security-policy/default-src/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/http/reference/headers/content-security-policy/connect-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/index.md
  files/ja/web/http/reference/headers/content-security-policy/sandbox/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/http/reference/headers/content-security-policy/object-src/index.md
Owners: @mdn/yari-content-ja

fenced-frame-src
  files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/http/reference/headers/content-security-policy/sandbox/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xslt/guides/common_errors/index.md
  files/ja/web/xml/xslt/guides/index.md
  files/ja/web/xml/xslt/guides/pi_parameters/index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/an_overview/index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/for_further_reading/index.md
  files/ja/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/api/htmlelement/autocorrect/index.md
  files/ja/web/api/htmlelement/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/control_flow/index.md
Owners: @mdn/yari-content-zh

[FIX] translate-ko details follow glossary guide
  files/ko/web/html/element/details/index.md
Owners: @mdn/yari-content-ko

zh-cn: add new page for block instruction
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/block/index.md
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

wip
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

add l10n.sourceCommit field
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/br/index.md
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/control_flow/call/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/call/index.md
  files/zh-cn/webassembly/reference/control_flow/call/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/webassembly/reference/control_flow/drop/index.md
  files/zh-cn/webassembly/reference/control_flow/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/control_flow/drop/index.md
Owners: @mdn/yari-content-zh

移除意外引入的文件
  files/zh-cn/webassembly/reference/control_flow/drop/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/drop/index.md
  files/zh-cn/webassembly/reference/control_flow/drop/index.md
Owners: @mdn/yari-content-zh

add back short-title
  files/zh-cn/webassembly/reference/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for webassembly reference (#26799)
  files/zh-cn/webassembly/reference/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/html/global_attributes/class/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
