Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[ko] Translate 'Web/Accessibility/ARIA/Reference/Attributes/aria-labelledby'
  files/ko/web/accessibility/aria/reference/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-ko

[ko] Fix terminology: '명세' → '명세서' in ARIA docs
  files/ko/web/accessibility/aria/reference/attributes/aria-label/index.md
Owners: @mdn/yari-content-ko

[ko] Update aria-label example code
  files/ko/web/accessibility/aria/reference/attributes/aria-label/index.md
Owners: @mdn/yari-content-ko

zh-CN: create `BackgroundFetchRegistration/recordsAvailable` (#28590)
  files/zh-cn/web/api/backgroundfetchregistration/recordsavailable/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BackgroundFetchRegistration/id` (#28594)
  files/zh-cn/web/api/backgroundfetchregistration/id/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioWorkletProcessor/port` (#28602)
  files/zh-cn/web/api/audioworkletprocessor/port/index.md
Owners: @mdn/yari-content-zh

Update outdate link
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

[ko] Update aria-label translation to match latest English source
  files/ko/web/accessibility/aria/reference/attributes/aria-label/index.md
Owners: @mdn/yari-content-ko

Fix constructor reference for Error instances
  files/ja/web/javascript/reference/global_objects/error/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/conditional_operator/index.md
  files/ja/web/javascript/reference/operators/index.md
  files/ja/web/javascript/reference/operators/logical_and/index.md
  files/ja/web/javascript/reference/operators/logical_and_assignment/index.md
  files/ja/web/javascript/reference/operators/logical_not/index.md
  files/ja/web/javascript/reference/operators/logical_or/index.md
  files/ja/web/javascript/reference/operators/logical_or_assignment/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
Owners: @mdn/yari-content-ja

[ko] what is a domain name? 신규 번역
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
Owners: @mdn/yari-content-ko

Fix formatting in EncodedVideoChunk documentation
  files/zh-cn/web/api/encodedvideochunk/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedVideoChunk` (#28319)
  files/zh-cn/web/api/encodedvideochunk/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: translate Invoker Commands API (#28284)
  files/zh-cn/web/api/invoker_commands_api/index.md
Owners: @mdn/yari-content-zh

2025/07/29 時点の英語版に基づき更新
  files/ja/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `DOMRect/x` (#28495)
  files/zh-cn/web/api/domrect/x/index.md
Owners: @mdn/yari-content-zh

Fix constructor reference for Error instances
  files/ja/web/javascript/reference/global_objects/error/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/template_literals/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `DOMStringList/length` (#28475)
  files/zh-cn/web/api/domstringlist/length/index.md
Owners: @mdn/yari-content-zh

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-ja

fix typo in tls description
  files/ja/glossary/tls/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/web/api/element/ariaposinset/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/element/ariaposinset/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Element/ariaPosInSet` (#28479)
  files/zh-cn/web/api/element/ariaposinset/index.md
Owners: @mdn/yari-content-zh

Rework of the events table
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Revise video element documentation with new examples
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Update video playback message for clarity
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Fix elements
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Add ARIA role information for video element
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Rewording
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

Typos
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

fr: Fix typo on attribute for `<video>` + page update (#28364)
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

fix: moved to valid folder
  files/fr/mdn/community/communication_channels/index.md
Owners: @mdn/yari-content-fr

FR Translation - community channels (#24379)
  files/fr/mdn/community/communication_channels/index.md
Owners: @mdn/yari-content-fr

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/property_accessors/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/optional_chaining/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/new/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/new.target/index.md
Owners: @mdn/yari-content-ja
