Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

update translation
  files/zh-cn/web/api/customstateset/delete/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/customstateset/entries/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/customstateset/has/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/customstateset/keys/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/customstateset/size/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/customstateset/values/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/delaynode/delaytime/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventacceleration/x/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventacceleration/y/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventacceleration/z/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventrotationrate/alpha/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventrotationrate/beta/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventrotationrate/gamma/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/devicemotioneventrotationrate/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/document/rootelement/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/document/vlinkcolor/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/document/xmlencoding/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/document/xmlversion/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/documenttimeline/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/documenttimeline/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/documenttype/name/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/documenttype/publicid/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/documenttype/systemid/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMPointReadOnly/z` (#28485)
  files/zh-cn/web/api/dompointreadonly/z/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMPointReadOnly/x` (#28487)
  files/zh-cn/web/api/dompointreadonly/x/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioListener/forwardZ` (#28512)
  files/zh-cn/web/api/audiolistener/forwardz/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioEncoder/state` (#28518)
  files/zh-cn/web/api/audioencoder/state/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/devicemotioneventrotationrate/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update Russian translation for Express/Mongoose tutorial
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-ru

Initial translation of Learn_web_development/Getting_started
  files/fr/learn_web_development/getting_started/index.md
Owners: @mdn/yari-content-fr

Fixing typo
  files/fr/learn_web_development/getting_started/index.md
Owners: @mdn/yari-content-fr

2025/07/29 時点の英語版に基づき新規翻訳 (#28706)
  files/ja/web/javascript/reference/statements/await_using/index.md
  files/ja/web/javascript/reference/statements/using/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/greater_than/index.md
  files/ja/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/ja/web/javascript/reference/operators/less_than/index.md
  files/ja/web/javascript/reference/operators/less_than_or_equal/index.md
Owners: @mdn/yari-content-ja

fix: `::columns` -> `::column`
  files/ja/web/css/_doublecolon_column/index.md
Owners: @mdn/yari-content-ja

Update files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-ru

Initial translation of Web/API/File_System_API
  files/fr/web/api/file_system_api/index.md
Owners: @mdn/yari-content-fr
