Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/03/11 時点の英語版に同期
  files/ja/web/css/list-style/index.md
Owners: @mdn/yari-content-ja

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/html/reference/elements/textarea/index.md
  files/ko/web/html/reference/elements/textarea/index.md
Owners: @mdn/yari-content-ko

es: auto-fix content issues
  files/es/conflicting/learn_web_development/core/structuring_content_010016f551c464adb3e557818ac7189b/index.md
  files/es/games/introduction/index.md
  files/es/games/introduction_to_html5_game_development/index.md
  files/es/web/accessibility/aria/guides/techniques/index.md
  files/es/web/accessibility/aria/index.md
  files/es/web/accessibility/aria/reference/attributes/index.md
  files/es/web/accessibility/aria/reference/roles/alertdialog_role/index.md
  files/es/web/api/customelementregistry/define/index.md
  files/es/web/api/document/write/index.md
  files/es/web/api/htmlimageelement/index.md
  files/es/web/api/htmlselectelement/index.md
  files/es/web/api/payment_request_api/index.md
  files/es/web/css/_doublecolon_selection/index.md
  files/es/web/css/perspective/index.md
  files/es/web/http/guides/cors/errors/corsmissingalloworigin/index.md
  files/es/web/http/guides/cors/errors/index.md
Owners: @mdn/yari-content-es

ja: auto-fix content issues
  files/ja/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-ja

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/conflicting/web/security/index.md
Owners: @mdn/yari-content-ko

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/conflicting/learn_web_development/extensions/index.md
  files/ja/conflicting/web/security/index.md
Owners: @mdn/yari-content-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/games/tools/index.md
  files/es/conflicting/web/css/@font-face/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/es/orphaned/mdn/community/security_vulnerability_response/index.md
  files/es/web/api/htmldialogelement/showmodal/index.md
  files/es/web/html/how_to/author_fast-loading_html_pages/index.md
  files/es/web/html/how_to/use_data_attributes/index.md
Owners: @mdn/yari-content-es

Update index.md
  files/ja/web/javascript/guide/memory_management/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/index.md
  files/ja/conflicting/learn_web_development/extensions/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/web/security/index.md
  files/ja/conflicting/web/security/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#27381)
  files/ja/_redirects.txt
  files/ja/learn_web_development/extensions/security_privacy/index.md
  files/ja/learn_web_development/extensions/transform_animate/index.md
Owners: @mdn/yari-content-ja

2024/12/20 時点の英語版に同期
  files/ja/web/css/css_table/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期 (#27358)
  files/ja/web/css/border-collapse/index.md
  files/ja/web/css/border-spacing/index.md
  files/ja/web/css/caption-side/index.md
  files/ja/web/css/empty-cells/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/table-layout/index.md
Owners: @mdn/yari-content-ja

2024/11/11 時点の英語版に同期
  files/ja/web/api/navigator/maxtouchpoints/index.md
Owners: @mdn/yari-content-ja

2024/11/11 時点の英語版に同期
  files/ja/web/api/domrectlist/index.md
  files/ja/web/api/domrectlist/item/index.md
  files/ja/web/api/domrectlist/length/index.md
Owners: @mdn/yari-content-ja

2025/05/08 時点の英語版に同期
  files/ja/web/html/reference/elements/object/index.md
Owners: @mdn/yari-content-ja

[zh-CN] 根据英文版调整 `drop-shadow()` 页面的翻译
  files/zh-cn/web/css/filter-function/drop-shadow/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/filter-function/drop-shadow/index.md
  files/zh-cn/web/css/filter-function/drop-shadow/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/filter-function/drop-shadow/index.md
  files/zh-cn/web/css/filter-function/drop-shadow/index.md
Owners: @mdn/yari-content-zh

2024/10/27 時点の英語版に同期
  files/ja/web/api/offscreencanvas/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/api/offscreencanvas/height/index.md
  files/ja/web/api/offscreencanvas/width/index.md
Owners: @mdn/yari-content-ja

2024/04/22 時点の英語版に同期
  files/ja/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-ja

2024/11/06 時点の英語版に同期
  files/ja/web/api/offscreencanvas/getcontext/index.md
Owners: @mdn/yari-content-ja

2024/11/23 時点の英語版に同期
  files/ja/web/api/offscreencanvas/transfertoimagebitmap/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/api/offscreencanvas/contextlost_event/index.md
  files/ja/web/api/offscreencanvas/contextrestored_event/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/web/api/subtlecrypto/derivekey/index.md
Owners: @mdn/yari-content-ja

2025/05/02 時点の英語版に同期
  files/ja/web/api/mediarecorder/pause_event/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/index.md
Owners: @mdn/yari-content-ja
