Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

zh-cn: update the translation of `Response.formData()` (#27281)
  files/zh-cn/web/api/response/formdata/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `userScripts.register()` (#27181)
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/register/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/extensions/client-side_tools/package_management/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/document/execcommand/index.md
  files/zh-tw/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-zh

fix: 기울임꼴 삭제
  files/ko/web/html/reference/elements/dialog/index.md
Owners: @mdn/yari-content-ko

fix: 원문 들여쓰기 반영
  files/ko/web/html/reference/elements/dialog/index.md
Owners: @mdn/yari-content-ko

fix: 누락된 한글 번역 추가
  files/ko/web/html/reference/elements/dialog/index.md
Owners: @mdn/yari-content-ko

zh-CN: update `downloads.DownloadItem` (#27260)
  files/zh-cn/mozilla/add-ons/webextensions/api/downloads/downloaditem/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Document.execCommand()` method (#27081)
  files/zh-tw/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create translation of html comment guide
  files/zh-cn/web/html/guides/comments/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/html/guides/comments/index.md
Owners: @mdn/yari-content-zh

fix a wrong sidebar
  files/zh-cn/web/xml/guides/opensearch/index.md
Owners: @mdn/yari-content-zh

chore: use sidebar instead of macro
  files/zh-cn/learn_web_development/howto/design_and_accessibility/common_web_layouts/index.md
  files/zh-cn/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/zh-cn/learn_web_development/howto/design_and_accessibility/what_is_accessibility/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/how_much_does_it_cost/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/upload_files_to_a_web_server/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/using_github_pages/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/what_are_browser_developer_tools/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_are_hyperlinks/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
  files/zh-cn/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
  files/zh-cn/web/css/@media/prefers-reduced-motion/index.md
  files/zh-cn/web/html/reference/attributes/crossorigin/index.md
  files/zh-cn/web/progressive_web_apps/manifest/index.md
  files/zh-cn/web/progressive_web_apps/manifest/reference/background_color/index.md
  files/zh-cn/web/progressive_web_apps/manifest/reference/index.md
  files/zh-cn/web/security/certificate_transparency/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/security/practical_implementation_guides/turning_off_form_autocompletion/index.md
  files/zh-cn/web/security/same-origin_policy/index.md
  files/zh-cn/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/zh-cn/web/security/secure_contexts/index.md
  files/zh-cn/web/security/subresource_integrity/index.md
  files/zh-cn/web/security/transport_layer_security/index.md
  files/zh-cn/web/security/types_of_attacks/index.md
  files/zh-cn/web/security/weak_signature_algorithm/index.md
  files/zh-cn/web/webdriver/index.md
  files/zh-cn/web/xml/exslt/reference/regexp/index.md
  files/zh-cn/web/xml/guides/parsing_and_serializing_xml/index.md
  files/zh-cn/web/xml/guides/xml_introduction/index.md
  files/zh-cn/web/xml/index.md
Owners: @mdn/yari-content-zh

2025/02/10 時点の英語版に同期
  files/ja/web/css/css_paged_media/index.md
Owners: @mdn/yari-content-ja

2025/03/15 時点の英語版に同期
  files/ja/web/css/page/index.md
Owners: @mdn/yari-content-ja

2024/07/28 時点の英語版に同期
  files/ja/web/css/@page/index.md
Owners: @mdn/yari-content-ja

2025/02/20 時点の英語版に同期 (#27300)
  files/ja/web/css/@page/page-orientation/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/css/@page/size/index.md
Owners: @mdn/yari-content-ja

2025/03/21 時点の英語版に同期
  files/ja/web/css/margin/index.md
Owners: @mdn/yari-content-ja

fix(ko): 잘못된 한글 조사 '가'를 '이'로 수정
  files/ko/web/javascript/reference/functions/arrow_functions/index.md
Owners: @mdn/yari-content-ko

zh-cn: update the translation of WebAssembly.instantiate
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

表述调整
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

2024/12/20 時点の英語版に同期
  files/ja/web/css/css_table/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/border-collapse/index.md
  files/ja/web/css/border-spacing/index.md
  files/ja/web/css/caption-side/index.md
  files/ja/web/css/empty-cells/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/table-layout/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/caption-side/index.md
Owners: @mdn/yari-content-ja

2024/11/11 時点の英語版に同期
  files/ja/web/api/navigator/maxtouchpoints/index.md
Owners: @mdn/yari-content-ja

2024/11/11 時点の英語版に同期
  files/ja/web/api/domrectlist/index.md
  files/ja/web/api/domrectlist/item/index.md
  files/ja/web/api/domrectlist/length/index.md
Owners: @mdn/yari-content-ja

2025/05/08 時点の英語版に同期
  files/ja/web/html/reference/elements/object/index.md
Owners: @mdn/yari-content-ja

add "ー" to the translation of "library"
  files/ja/learn_web_development/extensions/forms/customizable_select/index.md
Owners: @mdn/yari-content-ja

fix the mistake of translation
  files/ja/learn_web_development/extensions/forms/customizable_select/index.md
Owners: @mdn/yari-content-ja

zh-cn: fix a typo (#27353)
  files/zh-cn/learn_web_development/extensions/client-side_tools/package_management/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `DocumentFragment` (#27270)
  files/zh-tw/web/api/documentfragment/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/css/css_values_and_units/index.md
  files/zh-cn/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of CSS values and units (#27191)
  files/zh-cn/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `userScripts.configureWorld()` (#27187)
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/configureworld/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `userScripts.UserScriptFilter` (#27176)
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/userscriptfilter/index.md
Owners: @mdn/yari-content-zh

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/conflicting/web/api/element/copy_event/index.md
  files/ko/conflicting/web/api/element/copy_event_8f169b964ed6100fd74860a263316bb2f862d8bb386816f90640f696d2e845af/index.md
  files/ko/conflicting/web/api/element/cut_event/index.md
  files/ko/conflicting/web/api/element/cut_event_7d33812242c8023f9e15329180681271f56658c72268b8f378d6d1ef0cb3fb3d/index.md
  files/ko/conflicting/web/api/element/paste_event/index.md
  files/ko/conflicting/web/api/element/paste_event_c542c61e7eebc0a20e5104020fa32085e309dd6c4fe58de433d0fd28797b71d6/index.md
Owners: @mdn/yari-content-ko

Update files/zh-tw/web/api/cssstylesheet/insertrule/index.md
  files/zh-tw/web/api/cssstylesheet/insertrule/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
