Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update index.md
  files/zh-cn/web/api/eventsource/error_event/index.md
Owners: @mdn/yari-content-zh

zh-CN: update index.md
  files/zh-cn/web/api/eventsource/error_event/index.md
Owners: @mdn/yari-content-zh

Fixing :-moz- for mdn#18265
  files/fr/web/css/_colon_-moz-broken/index.md
  files/fr/web/css/_colon_-moz-drag-over/index.md
  files/fr/web/css/_colon_-moz-first-node/index.md
  files/fr/web/css/_colon_-moz-handler-blocked/index.md
  files/fr/web/css/_colon_-moz-handler-crashed/index.md
  files/fr/web/css/_colon_-moz-handler-disabled/index.md
  files/fr/web/css/_colon_-moz-last-node/index.md
  files/fr/web/css/_colon_-moz-loading/index.md
  files/fr/web/css/_colon_-moz-locale-dir_ltr/index.md
  files/fr/web/css/_colon_-moz-locale-dir_rtl/index.md
  files/fr/web/css/_colon_-moz-only-whitespace/index.md
  files/fr/web/css/_colon_-moz-submit-invalid/index.md
  files/fr/web/css/_colon_-moz-suppressed/index.md
  files/fr/web/css/_colon_-moz-user-disabled/index.md
  files/fr/web/css/_colon_-moz-window-inactive/index.md
Owners: @mdn/yari-content-fr

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/strict_equality/index.md
  files/ja/web/javascript/reference/operators/strict_inequality/index.md
Owners: @mdn/yari-content-ja

用語を修正 否定→符号反転
  files/ja/web/javascript/reference/operators/unary_negation/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/null/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/object_initializer/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/yield/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/yield_star_/index.md
Owners: @mdn/yari-content-ja

画像ファイルを圧縮
  files/ja/web/performance/guides/css_javascript_animation_performance/pic1.png
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/games/index.md
Owners: @mdn/yari-content-zh

Updated :pseudo-classes A-F for mdn#18265
  files/fr/web/css/_colon_active-view-transition/index.md
  files/fr/web/css/_colon_active/index.md
  files/fr/web/css/_colon_any-link/index.md
  files/fr/web/css/_colon_autofill/index.md
  files/fr/web/css/_colon_blank/index.md
  files/fr/web/css/_colon_buffering/index.md
  files/fr/web/css/_colon_checked/index.md
  files/fr/web/css/_colon_current/index.md
  files/fr/web/css/_colon_default/index.md
  files/fr/web/css/_colon_defined/index.md
  files/fr/web/css/_colon_dir/index.md
  files/fr/web/css/_colon_disabled/index.md
  files/fr/web/css/_colon_empty/index.md
  files/fr/web/css/_colon_enabled/index.md
  files/fr/web/css/_colon_first-child/index.md
  files/fr/web/css/_colon_first-of-type/index.md
  files/fr/web/css/_colon_first/index.md
  files/fr/web/css/_colon_focus-visible/index.md
  files/fr/web/css/_colon_focus-within/index.md
  files/fr/web/css/_colon_focus/index.md
  files/fr/web/css/_colon_fullscreen/index.md
  files/fr/web/css/_colon_future/index.md
Owners: @mdn/yari-content-fr

Updated :pseudo-classes H-M for mdn#18265
  files/fr/web/css/_colon_-moz-user-disabled/index.md
  files/fr/web/css/_colon_-moz-window-inactive/index.md
  files/fr/web/css/_colon_active-view-transition/index.md
  files/fr/web/css/_colon_any-link/index.md
  files/fr/web/css/_colon_defined/index.md
  files/fr/web/css/_colon_first-child/index.md
  files/fr/web/css/_colon_focus-visible/index.md
  files/fr/web/css/_colon_focus-within/index.md
  files/fr/web/css/_colon_has-slotted/index.md
  files/fr/web/css/_colon_has/index.md
  files/fr/web/css/_colon_heading/index.md
  files/fr/web/css/_colon_heading_function/index.md
  files/fr/web/css/_colon_host-context/index.md
  files/fr/web/css/_colon_host/index.md
  files/fr/web/css/_colon_host_function/index.md
  files/fr/web/css/_colon_hover/index.md
  files/fr/web/css/_colon_in-range/index.md
  files/fr/web/css/_colon_indeterminate/index.md
  files/fr/web/css/_colon_invalid/index.md
  files/fr/web/css/_colon_is/index.md
  files/fr/web/css/_colon_lang/index.md
  files/fr/web/css/_colon_last-child/index.md
  files/fr/web/css/_colon_last-of-type/index.md
  files/fr/web/css/_colon_left/index.md
  files/fr/web/css/_colon_link/index.md
  files/fr/web/css/_colon_local-link/index.md
  files/fr/web/css/_colon_modal/index.md
  files/fr/web/css/_colon_muted/index.md
Owners: @mdn/yari-content-fr

Removed :current redirect + Fix EOL
  files/fr/_redirects.txt
  files/fr/web/css/_colon_current/index.md
Owners: @mdn/yari-content-fr

Fix flaws of first part PR
  files/fr/web/css/-moz-orient/index.md
  files/fr/web/css/-webkit-mask-box-image/index.md
  files/fr/web/css/_colon_-moz-drag-over/index.md
  files/fr/web/css/_colon_active-view-transition/index.md
  files/fr/web/css/_colon_autofill/index.md
  files/fr/web/css/_colon_blank/index.md
  files/fr/web/css/_colon_buffering/index.md
  files/fr/web/css/_colon_checked/index.md
  files/fr/web/css/_colon_default/index.md
  files/fr/web/css/_colon_disabled/index.md
  files/fr/web/css/_colon_empty/index.md
  files/fr/web/css/_colon_first-of-type/index.md
  files/fr/web/css/_colon_focus-visible/index.md
  files/fr/web/css/_colon_focus/index.md
  files/fr/web/css/_colon_fullscreen/index.md
  files/fr/web/css/_colon_has-slotted/index.md
  files/fr/web/css/_colon_heading/index.md
  files/fr/web/css/_colon_heading_function/index.md
  files/fr/web/css/_colon_host-context/index.md
  files/fr/web/css/_colon_in-range/index.md
  files/fr/web/css/_colon_indeterminate/index.md
  files/fr/web/css/_colon_is/index.md
  files/fr/web/css/_colon_lang/index.md
  files/fr/web/css/_colon_last-of-type/index.md
Owners: @mdn/yari-content-fr

Fix flaws
  files/fr/web/css/_colon_last-of-type/index.md
Owners: @mdn/yari-content-fr

Fix example flaws
  files/fr/web/css/_colon_last-of-type/index.md
Owners: @mdn/yari-content-fr

Translate text in interactive demo
  files/fr/web/css/font-variant-caps/index.md
Owners: @mdn/yari-content-fr

es: auto-fix content issues
  files/es/orphaned/web/api/globaleventhandlers/index.md
  files/es/web/api/filereader/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/filereader/readastext/index.md
  files/es/web/api/xmlhttprequesteventtarget/loadend_event/index.md
Owners: @mdn/yari-content-es

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
Owners: @mdn/yari-content-ru

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/web/security/attacks/subdomain_takeover/index.md
Owners: @mdn/yari-content-ko

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
  files/es/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
Owners: @mdn/yari-content-es

Update files/zh-cn/games/index.md
  files/zh-cn/games/index.md
Owners: @mdn/yari-content-zh

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/operator_precedence/index.md
Owners: @mdn/yari-content-ja

[ko] base frequency 신규 번역
  files/ko/web/svg/reference/attribute/basefrequency/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/svg/reference/attribute/basefrequency/index.md
  files/ko/web/svg/reference/attribute/basefrequency/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/svg/reference/attribute/basefrequency/index.md
  files/ko/web/svg/reference/attribute/basefrequency/index.md
Owners: @mdn/yari-content-ko

zh-cn: sync games translated content (#28952)
  files/zh-cn/games/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update translation for web/http/reference/methods/OPTIONS (#28892)
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/games/introduction/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/games/anatomy/index.md
Owners: @mdn/yari-content-zh

2025/07/08 時点の英語版に基づき新規翻訳
  files/ja/web/api/intersectionobserver/delay/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserver/root/index.md
Owners: @mdn/yari-content-ja

2025/07/29 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserver/rootmargin/index.md
Owners: @mdn/yari-content-ja

2025/08/12 時点の英語版に基づき新規翻訳
  files/ja/web/api/intersectionobserver/scrollmargin/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserver/thresholds/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき新規翻訳
  files/ja/web/api/intersectionobserver/trackvisibility/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に基づき更新
  files/ja/web/api/intersectionobserver/disconnect/index.md
  files/ja/web/api/intersectionobserver/observe/index.md
  files/ja/web/api/intersectionobserver/takerecords/index.md
  files/ja/web/api/intersectionobserver/unobserve/index.md
Owners: @mdn/yari-content-ja

2025/08/12 時点の英語版に基づき更新
  files/ja/web/api/intersection_observer_api/index.md
  files/ja/web/api/intersection_observer_api/timing_element_visibility/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
