Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/index.md
  files/ja/web/accessibility/aria/reference/roles/grid_role/index.md
  files/ja/web/accessibility/aria/reference/roles/gridcell_role/index.md
  files/ja/web/accessibility/aria/reference/roles/rowgroup_role/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `Accelerometer/x` (#28323)
  files/zh-cn/web/api/accelerometer/x/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Accelerometer/z` (#28324)
  files/zh-cn/web/api/accelerometer/z/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update SVG Attribute stroke-dashoffset (#28359)
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/abstractrange/startcontainer/index.md
  files/zh-cn/web/api/abstractrange/startcontainer/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/xmlhttprequesteventtarget/abort_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/error_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/load_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/loadend_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/loadstart_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/progress_event/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/timeout_event/index.md
Owners: @mdn/yari-content-zh

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/api/xmlhttprequesteventtarget/loadend_event/index.md
  files/ru/web/api/xmlhttprequesteventtarget/loadstart_event/index.md
Owners: @mdn/yari-content-ru

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

translate window role
  files/ja/web/accessibility/aria/reference/roles/window_role/index.md
Owners: @mdn/yari-content-ja

update translation
  files/zh-cn/web/api/bluetooth/getdevices/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/broadcast/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/authenticatedsignedwrites/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/indicate/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/notify/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/read/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/reliablewrite/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/writableauxiliaries/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/write/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothcharacteristicproperties/writewithoutresponse/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothdevice/id/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothdevice/name/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/domquad/p1/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/domquad/p2/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/domquad/p3/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/domquad/p4/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/html/reference/global_attributes/exportparts/index.md
  files/zh-cn/web/html/reference/global_attributes/exportparts/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create exportparts html global attribute (#28506)
  files/zh-cn/web/html/reference/global_attributes/exportparts/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/what_is_css/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
