Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2023/02/19 時点の英語版に同期
  files/ja/web/api/svganimatedstring/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svganimatedstring/animval/index.md
Owners: @mdn/yari-content-ja

2023/04/08 時点の英語版に同期
  files/ja/web/api/svganimatedstring/baseval/index.md
Owners: @mdn/yari-content-ja

2024/12/13 時点の英語版に同期
  files/ja/web/api/svganimatedlengthlist/animval/index.md
  files/ja/web/api/svganimatedlengthlist/baseval/index.md
  files/ja/web/api/svganimatedlengthlist/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svganimatednumberlist/animval/index.md
  files/ja/web/api/svganimatednumberlist/baseval/index.md
  files/ja/web/api/svganimatednumberlist/index.md
Owners: @mdn/yari-content-ja

2024/12/07 時点の英語版に同期
  files/ja/web/api/svganimatedtransformlist/animval/index.md
  files/ja/web/api/svganimatedtransformlist/baseval/index.md
  files/ja/web/api/svganimatedtransformlist/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/accent-height/index.md
  files/ja/web/svg/reference/attribute/alignment-baseline/index.md
  files/ja/web/svg/reference/attribute/baseline-shift/index.md
  files/ja/web/svg/reference/attribute/color-interpolation-filters/index.md
  files/ja/web/svg/reference/attribute/color-interpolation/index.md
  files/ja/web/svg/reference/attribute/color/index.md
  files/ja/web/svg/reference/attribute/cursor/index.md
  files/ja/web/svg/reference/attribute/cx/index.md
  files/ja/web/svg/reference/attribute/cy/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期 (#26716)
  files/ja/web/svg/reference/attribute/d/index.md
  files/ja/web/svg/reference/attribute/display/index.md
  files/ja/web/svg/reference/attribute/dominant-baseline/index.md
  files/ja/web/svg/reference/attribute/dx/index.md
  files/ja/web/svg/reference/attribute/dy/index.md
  files/ja/web/svg/reference/attribute/end/index.md
  files/ja/web/svg/reference/attribute/fill-opacity/index.md
  files/ja/web/svg/reference/attribute/fill-rule/index.md
  files/ja/web/svg/reference/attribute/fill/index.md
  files/ja/web/svg/reference/attribute/filter/index.md
  files/ja/web/svg/reference/attribute/filterunits/index.md
  files/ja/web/svg/reference/attribute/font-size/index.md
Owners: @mdn/yari-content-ja

Fix an erroneous redirect
  files/zh-cn/_redirects.txt
Owners: @mdn/yari-content-zh

Fix an erroneous redirect
  files/zh-cn/_redirects.txt
Owners: @mdn/yari-content-zh

[ja] sync translated content (#26762)
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/math/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/variables/index.md
  files/ja/web/api/keyboardevent/initkeyevent/index.md
  files/ja/web/api/svgevent/index.md
  files/ja/web/api/xpathexception/code/index.md
  files/ja/web/api/xpathexception/index.md
Owners: @mdn/yari-content-ja

translate(wai-aria): What is WAI-ARIA? > When should you use WAI-ARIA?
  files/ko/learn/accessibility/wai-aria_basics/index.md
Owners: @mdn/yari-content-ko

[FEAT] translate-ko details apply linter suggestion
  files/ko/web/html/element/details/index.md
Owners: @mdn/yari-content-ko

Update index.md
  files/pt-br/web/javascript/reference/global_objects/math/log1p/index.md
Owners: @mdn/yari-content-pt-br

es: auto-fix content issues
  files/es/glossary/closure/index.md
  files/es/learn_web_development/index.md
  files/es/web/css/transform/index.md
  files/es/web/html/element/dialog/index.md
  files/es/web/html/element/form/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/progress/index.md
  files/es/web/html/element/script/index.md
  files/es/web/html/index.md
  files/es/web/html/responsive_images/index.md
Owners: @mdn/yari-content-es

ja: auto-fix content issues
  files/ja/learn_web_development/core/scripting/arrays/index.md
  files/ja/learn_web_development/core/scripting/build_your_own_function/index.md
  files/ja/learn_web_development/core/scripting/conditionals/index.md
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/learn_web_development/core/scripting/functions/index.md
  files/ja/learn_web_development/core/scripting/json/index.md
  files/ja/learn_web_development/core/scripting/loops/index.md
  files/ja/learn_web_development/core/scripting/math/index.md
  files/ja/learn_web_development/core/scripting/object_basics/index.md
  files/ja/learn_web_development/core/scripting/return_values/index.md
  files/ja/learn_web_development/core/scripting/useful_string_methods/index.md
  files/ja/learn_web_development/core/scripting/variables/index.md
Owners: @mdn/yari-content-ja

[zh-cn]: update the translation of `Math.SQRT2` (#26764)
  files/zh-cn/web/javascript/reference/global_objects/math/sqrt2/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/documentfragment/queryselectorall/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `DOMParser` introduction
  files/zh-cn/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.handlerBehaviorChanged()` (#26653)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.BlockingResponse` (#26658)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update 'drawing graphics' (#26728)
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of HTTP `102` Status (#26765)
  files/zh-cn/web/http/reference/status/102/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/learn_web_development/core/scripting/arrays/index.md
  files/ja/learn_web_development/core/scripting/build_your_own_function/index.md
  files/ja/learn_web_development/core/scripting/conditionals/index.md
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/learn_web_development/core/scripting/functions/index.md
  files/ja/learn_web_development/core/scripting/json/index.md
  files/ja/learn_web_development/core/scripting/loops/index.md
  files/ja/learn_web_development/core/scripting/math/index.md
  files/ja/learn_web_development/core/scripting/object_basics/index.md
  files/ja/learn_web_development/core/scripting/return_values/index.md
  files/ja/learn_web_development/core/scripting/useful_string_methods/index.md
  files/ja/learn_web_development/core/scripting/variables/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期 (#26719)
  files/ja/web/css/d/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/height/index.md
  files/ja/web/svg/reference/attribute/id/index.md
  files/ja/web/svg/reference/attribute/mask/index.md
  files/ja/web/svg/reference/attribute/pathlength/index.md
  files/ja/web/svg/reference/attribute/patternunits/index.md
  files/ja/web/svg/reference/attribute/points/index.md
  files/ja/web/svg/reference/attribute/r/index.md
  files/ja/web/svg/reference/attribute/rotate/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/scale/index.md
  files/ja/web/svg/reference/attribute/stop-color/index.md
  files/ja/web/svg/reference/attribute/stroke-dasharray/index.md
  files/ja/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/ja/web/svg/reference/attribute/stroke-linecap/index.md
  files/ja/web/svg/reference/attribute/stroke-linejoin/index.md
  files/ja/web/svg/reference/attribute/stroke-miterlimit/index.md
  files/ja/web/svg/reference/attribute/stroke-width/index.md
  files/ja/web/svg/reference/attribute/stroke/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期 (#26723)
  files/ja/web/svg/reference/attribute/text-anchor/index.md
  files/ja/web/svg/reference/attribute/textlength/index.md
  files/ja/web/svg/reference/attribute/transform/index.md
  files/ja/web/svg/reference/attribute/vector-effect/index.md
  files/ja/web/svg/reference/attribute/viewbox/index.md
  files/ja/web/svg/reference/attribute/width/index.md
  files/ja/web/svg/reference/attribute/writing-mode/index.md
  files/ja/web/svg/reference/attribute/x/index.md
  files/ja/web/svg/reference/attribute/x1/index.md
  files/ja/web/svg/reference/attribute/xlink_colon_href/index.md
  files/ja/web/svg/reference/attribute/y/index.md
Owners: @mdn/yari-content-ja

[ru] update `Glossary/Safe/HTTP` translation (#26749)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/safe/http/index.md
  files/ru/glossary/safe/index.md
Owners: @mdn/yari-content-ru

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
