Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2023/02/19 時点の英語版に基づき新規翻訳
  files/ja/web/api/svggeometryelement/index.md
Owners: @mdn/yari-content-ja

2023/04/08 時点の英語版に基づき新規翻訳
  files/ja/web/api/svggeometryelement/getpointatlength/index.md
  files/ja/web/api/svggeometryelement/gettotallength/index.md
  files/ja/web/api/svggeometryelement/ispointinfill/index.md
  files/ja/web/api/svggeometryelement/ispointinstroke/index.md
  files/ja/web/api/svggeometryelement/pathlength/index.md
Owners: @mdn/yari-content-ja

2025/06/19 時点の英語版に同期
  files/ja/web/api/svgrectelement/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に基づき新規翻訳
  files/ja/web/api/svgrectelement/height/index.md
  files/ja/web/api/svgrectelement/rx/index.md
  files/ja/web/api/svgrectelement/ry/index.md
  files/ja/web/api/svgrectelement/width/index.md
  files/ja/web/api/svgrectelement/x/index.md
  files/ja/web/api/svgrectelement/y/index.md
Owners: @mdn/yari-content-ja

2025/04/23 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/stroke-linecap/index.md
Owners: @mdn/yari-content-ja

用語の修正
  files/ja/web/svg/reference/attribute/pathlength/index.md
Owners: @mdn/yari-content-ja

[JP] Fix typo in DOM_scripting
  files/ja/learn_web_development/core/scripting/dom_scripting/index.md
Owners: @mdn/yari-content-ja

translate structural role
  files/ja/web/accessibility/aria/reference/roles/structural_roles/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/string/anchor/index.md
  files/ja/web/javascript/reference/global_objects/string/at/index.md
  files/ja/web/javascript/reference/global_objects/string/big/index.md
  files/ja/web/javascript/reference/global_objects/string/blink/index.md
  files/ja/web/javascript/reference/global_objects/string/bold/index.md
  files/ja/web/javascript/reference/global_objects/string/charat/index.md
  files/ja/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/ja/web/javascript/reference/global_objects/string/codepointat/index.md
  files/ja/web/javascript/reference/global_objects/string/concat/index.md
  files/ja/web/javascript/reference/global_objects/string/endswith/index.md
  files/ja/web/javascript/reference/global_objects/string/fixed/index.md
  files/ja/web/javascript/reference/global_objects/string/fontcolor/index.md
  files/ja/web/javascript/reference/global_objects/string/fontsize/index.md
  files/ja/web/javascript/reference/global_objects/string/includes/index.md
  files/ja/web/javascript/reference/global_objects/string/indexof/index.md
  files/ja/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/italics/index.md
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.md
  files/ja/web/javascript/reference/global_objects/string/link/index.md
  files/ja/web/javascript/reference/global_objects/string/localecompare/index.md
  files/ja/web/javascript/reference/global_objects/string/match/index.md
  files/ja/web/javascript/reference/global_objects/string/matchall/index.md
  files/ja/web/javascript/reference/global_objects/string/normalize/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/javascript/reference/global_objects/string/padend/index.md
  files/ja/web/javascript/reference/global_objects/string/padstart/index.md
  files/ja/web/javascript/reference/global_objects/string/repeat/index.md
  files/ja/web/javascript/reference/global_objects/string/replace/index.md
  files/ja/web/javascript/reference/global_objects/string/replaceall/index.md
  files/ja/web/javascript/reference/global_objects/string/search/index.md
  files/ja/web/javascript/reference/global_objects/string/slice/index.md
  files/ja/web/javascript/reference/global_objects/string/small/index.md
  files/ja/web/javascript/reference/global_objects/string/split/index.md
  files/ja/web/javascript/reference/global_objects/string/startswith/index.md
  files/ja/web/javascript/reference/global_objects/string/strike/index.md
  files/ja/web/javascript/reference/global_objects/string/sub/index.md
  files/ja/web/javascript/reference/global_objects/string/substr/index.md
  files/ja/web/javascript/reference/global_objects/string/substring/index.md
  files/ja/web/javascript/reference/global_objects/string/sup/index.md
  files/ja/web/javascript/reference/global_objects/string/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tostring/index.md
  files/ja/web/javascript/reference/global_objects/string/touppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/towellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/trim/index.md
  files/ja/web/javascript/reference/global_objects/string/trimend/index.md
  files/ja/web/javascript/reference/global_objects/string/trimstart/index.md
  files/ja/web/javascript/reference/global_objects/string/valueof/index.md
Owners: @mdn/yari-content-ja

Improve wording
  files/ru/web/media/guides/images/index.md
Owners: @mdn/yari-content-ru

Improve translation
  files/ru/web/media/guides/images/index.md
Owners: @mdn/yari-content-ru

[ru] add `ru` translation for `Web/Media/Guides/Images`
  files/ru/web/media/guides/images/index.md
Owners: @mdn/yari-content-ru

translate suggestion role
  files/ja/web/accessibility/aria/reference/roles/suggestion_role/index.md
Owners: @mdn/yari-content-ja

es: auto-fix content issues
  files/es/web/api/node/nextsibling/index.md
  files/es/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-es

minor update
  files/zh-cn/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#28410)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedAudioChunk/timestamp` (#28316)
  files/zh-cn/web/api/encodedaudiochunk/timestamp/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/firefox/releases/2/security_changes/index.md
  files/zh-cn/mozilla/firefox/releases/2/security_changes/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `2/Security_changes` (#28237)
  files/zh-cn/mozilla/firefox/releases/2/security_changes/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedAudioChunk/byteLength` (#28318)
  files/zh-cn/web/api/encodedaudiochunk/bytelength/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript `Date.prototype.setUTCHours()` (#28338)
  files/zh-tw/web/javascript/reference/global_objects/date/setutchours/index.md
Owners: @mdn/yari-content-zh

minor fixes
  files/zh-cn/web/javascript/reference/global_objects/aggregateerror/errors/index.md
Owners: @mdn/yari-content-zh

[zh-cn] add `AggregateError.errors` (#28369)
  files/zh-cn/web/javascript/reference/global_objects/aggregateerror/errors/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/firefox/releases/3/templates/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/firefox/releases/3/dom_improvements/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/accessibility/aria/reference/roles/widget_role/index.md
Owners: @mdn/yari-content-zh

Fixes
  files/ru/web/accessibility/guides/keyboard-navigable_javascript_widgets/index.md
Owners: @mdn/yari-content-ru

translate scrollbar and range role
  files/ja/web/accessibility/aria/reference/roles/range_role/index.md
  files/ja/web/accessibility/aria/reference/roles/scrollbar_role/index.md
Owners: @mdn/yari-content-ja

translate separator role
  files/ja/web/accessibility/aria/reference/roles/separator_role/index.md
Owners: @mdn/yari-content-ja

Fix of link
  files/ru/web/accessibility/guides/keyboard-navigable_javascript_widgets/index.md
Owners: @mdn/yari-content-ru

[ko] meta programming 신규 번역 #28471
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/javascript/guide/meta_programming/index.md
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/javascript/guide/meta_programming/index.md
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

Fix linter errors for Object.create(proxy)[foo] in tables
  files/ko/web/javascript/guide/meta_programming/index.md
Owners: @mdn/yari-content-ko

zh-CN: create `AbstractRange/startOffset` (#28325)
  files/zh-cn/web/api/abstractrange/startoffset/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AbstractRange/endOffset` (#28329)
  files/zh-cn/web/api/abstractrange/endoffset/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedVideoChunk/byteLength` (#28321)
  files/zh-cn/web/api/encodedvideochunk/bytelength/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `EncodedAudioChunk/duration` (#28317)
  files/zh-cn/web/api/encodedaudiochunk/duration/index.md
Owners: @mdn/yari-content-zh
