Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

[コンソールの出力のスタイル付け]へのリンクを修正
  files/ja/web/api/console/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-tw/learn_web_development/core/accessibility/html/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-tw/learn_web_development/core/accessibility/html/index.md
Owners: @mdn/yari-content-zh

2025/05/28 時点の英語版に同期
  files/ja/web/css/_colon_open/index.md
Owners: @mdn/yari-content-ja

Create index.md
  files/zh-cn/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-zh

[ko] css pointer events 신규 번역 (#26667)
  files/ko/web/css/pointer-events/index.md
Owners: @mdn/yari-content-ko

[ko] dataset property 번역 (#27012)
  files/ko/web/api/htmlelement/dataset/index.md
Owners: @mdn/yari-content-ko

[ko] window cookiestore 신규 번역 (#27136)
  files/ko/web/api/window/cookiestore/index.md
Owners: @mdn/yari-content-ko

[ko] DOMStringMap 번역 (#27003)
  files/ko/web/api/domstringmap/index.md
Owners: @mdn/yari-content-ko

[ko] Proxy servers and tunneling 신규 번역 (#26718)
  files/ko/glossary/proxy_servers_and_tunneling/index.md
Owners: @mdn/yari-content-ko

zh-cn: auto-fix content issues
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/transitionqualifier/index.md
Owners: @mdn/yari-content-zh

Firefox 138 for developersを更新
  files/ja/mozilla/firefox/releases/138/index.md
Owners: @mdn/yari-content-ja

Firefox 139 for developersを翻訳
  files/ja/mozilla/firefox/releases/139/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/client-side_tools/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/mozilla/firefox/releases/139/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/client-side_tools/index.md
Owners: @mdn/yari-content-ja

[zh-cn] auto-fix content issues (#27432)
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/transitionqualifier/index.md
Owners: @mdn/yari-content-zh

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/orphaned/glossary/proxy_servers_and_tunneling/index.md
Owners: @mdn/yari-content-ko

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/games/tools/index.md
  files/es/conflicting/web/css/@font-face/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/es/orphaned/mdn/community/security_vulnerability_response/index.md
  files/es/web/api/htmldialogelement/showmodal/index.md
  files/es/web/html/how_to/author_fast-loading_html_pages/index.md
  files/es/web/html/how_to/use_data_attributes/index.md
Owners: @mdn/yari-content-es

2025/04/11 時点の英語版に同期
  files/ja/web/html/reference/global_attributes/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/reference/methods/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/web/accessibility/guides/colors_and_luminance/index.md
  files/ja/web/accessibility/guides/colors_and_luminance/simulate_color_differences.png
Owners: @mdn/yari-content-ja

2025/05/08 時点の英語版に同期
  files/ja/web/accessibility/index.md
Owners: @mdn/yari-content-ja

2025/03/06 時点の英語版に同期
  files/ja/web/accessibility/guides/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/guides/cors/errors/corsinvalidallowmethod/index.md
  files/ja/web/http/guides/cors/errors/corsmultiplealloworiginnotallowed/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/getting_started/web_standards/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

more fixes
  files/zh-tw/learn_web_development/core/accessibility/html/index.md
Owners: @mdn/yari-content-zh

[zh-tw] accessibility html section (#26199)
  files/zh-tw/learn_web_development/core/accessibility/html/index.md
Owners: @mdn/yari-content-zh

2025/05/13 時点の英語版に同期
  files/ja/web/svg/guides/index.md
  files/ja/web/svg/guides/scripting/index.md
  files/ja/web/svg/guides/svg_animation_with_smil/index.md
  files/ja/web/svg/guides/svg_as_an_image/index.md
Owners: @mdn/yari-content-ja

2025/04/15 時点の英語版に同期
  files/ja/web/svg/guides/linking/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/svg/guides/applying_svg_effects_to_html_content/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/guides/content_type/index.md
  files/ja/web/svg/guides/svg_filters/index.md
  files/ja/web/svg/guides/svg_in_html/index.md
Owners: @mdn/yari-content-ja
