Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.get()` (#26314)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/get/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.onFocusChanged` (#26318)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.getCurrent()` (#26317)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/getcurrent/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.onCreated` (#26320)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/oncreated/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/entries/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Owners: @mdn/yari-content-zh

add sourceCommit
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of the `MediaStream()` constructor
  files/zh-cn/web/api/mediastream/mediastream/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/http/reference/headers/server/index.md
Owners: @mdn/yari-content-zh

chore(css): Move CSS examples and sync translation - Visual formatting model (#25096)
  files/zh-cn/web/css/visual_formatting_model/index.md
Owners: @mdn/yari-content-zh

2025/02/18 時点の英語版に同期
  files/ja/web/svg/attribute/baseline-shift/index.md
  files/ja/web/svg/attribute/display/index.md
  files/ja/web/svg/attribute/dominant-baseline/index.md
  files/ja/web/svg/attribute/font-size/index.md
Owners: @mdn/yari-content-ja

translate aria-orientation
  files/ja/web/accessibility/aria/reference/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/web/api/filereader/index.md
  files/zh-cn/web/api/filereader/index.md
Owners: @mdn/yari-content-zh

sync changes
  files/zh-cn/web/api/file_system_api/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/file_system_api/index.md
Owners: @mdn/yari-content-zh

update sha
  files/zh-cn/web/api/window/showdirectorypicker/index.md
  files/zh-cn/web/api/window/showopenfilepicker/index.md
  files/zh-cn/web/api/window/showsavefilepicker/index.md
Owners: @mdn/yari-content-zh

[es]: Agrega traduccion de files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage
  files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Owners: @mdn/yari-content-es

sync page guidelines/howto
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

Apply suggestions from code review
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Owners: @mdn/yari-content-es

2023/05/22 時点の英語版に同期
  files/ja/web/svg/attribute/rotate/index.md
Owners: @mdn/yari-content-ja

2024/11/15 時点の英語版に同期
  files/ja/web/svg/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

[zh-CN]: Sync translation for `FileReader` (#26411)
  files/zh-cn/web/api/filereader/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.WINDOW_ID_NONE` (#26324)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_none/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for File System API (#26405)
  files/zh-cn/web/api/file_system_api/index.md
Owners: @mdn/yari-content-zh

add dot to end of second paragraph
  files/es/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-es

zh-cn: update the translation of `MediaCapabilities.encodingInfo()`
  files/zh-cn/web/api/mediacapabilities/encodinginfo/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `windows.remove()` (#26321)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for Origin private file system (#26404)
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for File API (#26408)
  files/zh-cn/web/api/file_api/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `FileReader.readAsDataURL-progress_event` (#26412)
  files/zh-cn/web/api/filereader/progress_event/index.md
  files/zh-cn/web/api/filereader/readasdataurl/index.md
Owners: @mdn/yari-content-zh

correct vue tag
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Owners: @mdn/yari-content-zh

unify table caption
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
Owners: @mdn/yari-content-zh

some other updates
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_styling/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
