Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
  files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Owners: @mdn/yari-content-zh

[zh-CN] add JavaScript.Reference.Global_Objects.EvalError.EvalError
  files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Owners: @mdn/yari-content-zh

Fix `mute` attribute
  files/fr/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-fr

[zh-cn] update preventDefault()
  files/zh-cn/web/api/event/preventdefault/index.md
Owners: @mdn/yari-content-zh

add JavaScript.Reference.Global_Objects.AggregateError.errors
  files/zh-cn/web/javascript/reference/global_objects/aggregateerror/errors/index.md
Owners: @mdn/yari-content-zh

[zh-CN] add JavaScript.Reference.Global_Objects.BigInt64Array.BigInt64Array
  files/zh-cn/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
Owners: @mdn/yari-content-zh

fix: Correct typo '층분' to '충분'
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Owners: @mdn/yari-content-ko

[zh-CN] add JavaScript.Reference.Global_Objects.Date.toTemporalInstant
  files/zh-cn/web/javascript/reference/global_objects/date/totemporalinstant/index.md
Owners: @mdn/yari-content-zh

2025/07/23 時点の英語版に同期 (#28309)
  files/ja/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/math/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/variables/index.md
Owners: @mdn/yari-content-ja

2025/08/05 時点の英語版に同期
  files/ja/web/css/_colon_host-context/index.md
Owners: @mdn/yari-content-ja

2025/08/05 時点の英語版に同期 (#28311)
  files/ja/web/css/_colon_not/index.md
Owners: @mdn/yari-content-ja

2025/08/04 時点の英語版に同期
  files/ja/web/css/css_selectors/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期 (#28312)
  files/ja/web/css/_colon_empty/index.md
  files/ja/web/css/_colon_first-of-type/index.md
  files/ja/web/css/_colon_focus-visible/index.md
  files/ja/web/css/_colon_has/index.md
  files/ja/web/css/_colon_is/index.md
  files/ja/web/css/_colon_local-link/index.md
  files/ja/web/css/_colon_muted/index.md
  files/ja/web/css/_colon_popover-open/index.md
  files/ja/web/css/_colon_scope/index.md
  files/ja/web/css/_colon_target/index.md
  files/ja/web/css/_colon_visited/index.md
  files/ja/web/css/_colon_where/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/ja/web/css/css_selectors/selector_structure/index.md
  files/ja/web/css/css_selectors/selectors_and_combinators/index.md
  files/ja/web/css/css_selectors/using_the__colon_target_pseudo-class_in_selectors/index.md
Owners: @mdn/yari-content-ja

[zh-CN] add JavaScript.Reference.Global_Objects.Float32Array.Float32Array
  files/zh-cn/web/javascript/reference/global_objects/float32array/float32array/index.md
Owners: @mdn/yari-content-zh

fix(workflows): use bash array instead of relying on xargs (#28301)
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

[zh-CN] add JavaScript.Reference.Global_Objects.Int8Array.Int8Array
  files/zh-cn/web/javascript/reference/global_objects/int8array/int8array/index.md
Owners: @mdn/yari-content-zh

2025/07/14 時点の英語版に同期
  files/ja/web/css/@font-face/src/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `Roles/command_role` (#28272)
  files/zh-cn/web/accessibility/aria/reference/roles/command_role/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Roles/composite_role` (#28270)
  files/zh-cn/web/accessibility/aria/reference/roles/composite_role/index.md
Owners: @mdn/yari-content-zh

change web to ウェブ
  files/ja/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-ja

translate radiogroup role
  files/ja/web/accessibility/aria/reference/roles/radiogroup_role/index.md
Owners: @mdn/yari-content-ja

fix arrow key
  files/ja/web/accessibility/aria/reference/roles/menuitemcheckbox_role/index.md
Owners: @mdn/yari-content-ja

fix arrow key
  files/ja/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-ja

fix arrow key
  files/ja/web/accessibility/aria/reference/roles/menuitem_role/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_scrollbars_styling/index.md
  files/ja/web/css/scrollbar-color/index.md
  files/ja/web/css/scrollbar-width/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/css/css_scrollbars_styling/index.md
  files/ja/web/css/css_scrollbars_styling/index.md
Owners: @mdn/yari-content-ja

2025/05/29 時点の英語版に同期
  files/ja/web/mathml/guides/authoring/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/mathml/guides/fonts/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/element/index.md
Owners: @mdn/yari-content-ja

2025/07/29 時点の英語版に同期
  files/ja/web/mathml/reference/global_attributes/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/attribute/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: add the translation of `EvalError()` constructor (#28363)
  files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Owners: @mdn/yari-content-zh

[zh-cn] add some listing pages under web/html (#28358)
  files/zh-cn/web/html/guides/index.md
  files/zh-cn/web/html/how_to/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update preventDefault() (#28365)
  files/zh-cn/web/api/event/preventdefault/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/encodedaudiochunk/timestamp/index.md
  files/zh-cn/web/api/encodedaudiochunk/timestamp/index.md
Owners: @mdn/yari-content-zh

remove files/ prefix for path arguments
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

日本語訳の誤りを訂正
  files/ja/mozilla/add-ons/webextensions/api/action/index.md
Owners: @mdn/yari-content-ja

use the same scheme as in the content workflow
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
