Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgtextcontentelement/getcharnumatposition/index.md
  files/ja/web/api/svgtextcontentelement/getcomputedtextlength/index.md
  files/ja/web/api/svgtextcontentelement/getendpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getextentofchar/index.md
  files/ja/web/api/svgtextcontentelement/getnumberofchars/index.md
  files/ja/web/api/svgtextcontentelement/getrotationofchar/index.md
  files/ja/web/api/svgtextcontentelement/getstartpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getsubstringlength/index.md
Owners: @mdn/yari-content-ja

aria-valuenow と aria-valuetext を翻訳 (#26624)
  files/ja/web/accessibility/aria/reference/attributes/aria-valuenow/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-valuetext/index.md
Owners: @mdn/yari-content-ja

translate aria-required
  files/ja/web/accessibility/aria/reference/attributes/aria-required/index.md
Owners: @mdn/yari-content-ja

[ko] gloassry bun 신규 번역 (#26668)
  files/ko/glossary/bun/index.md
Owners: @mdn/yari-content-ko

zh-cn: auto-fix content issues
  files/zh-cn/web/api/view_transition_api/index.md
Owners: @mdn/yari-content-zh

[zh-cn] auto-fix content issues (#26671)
  files/zh-cn/web/api/view_transition_api/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: migrate remaining interactive examples (#26603)
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/gradient/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/groupby/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
Owners: @mdn/yari-content-zh

2025/01/02 時点の英語版に同期
  files/ja/web/api/svgtransformlist/appenditem/index.md
  files/ja/web/api/svgtransformlist/clear/index.md
  files/ja/web/api/svgtransformlist/consolidate/index.md
  files/ja/web/api/svgtransformlist/createsvgtransformfrommatrix/index.md
  files/ja/web/api/svgtransformlist/getitem/index.md
  files/ja/web/api/svgtransformlist/initialize/index.md
  files/ja/web/api/svgtransformlist/insertitembefore/index.md
  files/ja/web/api/svgtransformlist/length/index.md
  files/ja/web/api/svgtransformlist/numberofitems/index.md
  files/ja/web/api/svgtransformlist/removeitem/index.md
  files/ja/web/api/svgtransformlist/replaceitem/index.md
Owners: @mdn/yari-content-ja

aria-roledescriptionを翻訳 (#26626)
  files/ja/web/accessibility/aria/reference/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgnumber/value/index.md
Owners: @mdn/yari-content-ja

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/requestfilter/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

ci(pr-review-companion): access step outputs via env vars
  .github/workflows/pr-review-companion.yml
Owners: @mdn/core-dev

[zh-cn] add translation for :user-valid (#26569)
  files/zh-cn/web/css/_colon_user-valid/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `Array.prototype.fill()` (#26436)
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Owners: @mdn/yari-content-zh

ci(pr-review-companion): access step outputs via env vars (#26677)
  .github/workflows/pr-review-companion.yml
Owners: @mdn/core-dev

Fixed misspelled words index.md
  files/es/glossary/crud/index.md
Owners: @mdn/yari-content-es

2025/03/26 時点の英語版に同期
  files/ja/web/api/svgtransform/index.md
Owners: @mdn/yari-content-ja

chore(css): Copy embedlivesamples from en-US content
  files/zh-cn/web/css/basic-shape/circle/index.md
  files/zh-cn/web/css/basic-shape/ellipse/index.md
  files/zh-cn/web/css/css_animations/index.md
  files/zh-cn/web/css/css_backgrounds_and_borders/index.md
  files/zh-cn/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/zh-cn/web/css/css_conditional_rules/using_feature_queries/index.md
  files/zh-cn/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/sizing/index.md
  files/zh-cn/web/css/css_multicol_layout/basic_concepts/index.md
  files/zh-cn/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/zh-cn/web/css/css_multicol_layout/styling_columns/index.md
  files/zh-cn/web/css/css_scroll_snap/basic_concepts/index.md
  files/zh-cn/web/css/css_scroll_snap/index.md
  files/zh-cn/web/css/css_shapes/from_box_values/index.md
  files/zh-cn/web/css/css_shapes/index.md
  files/zh-cn/web/css/css_shapes/overview_of_shapes/index.md
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
  files/zh-cn/web/css/font-variant-numeric/index.md
Owners: @mdn/yari-content-zh

Complete rewrite of the "let" page in pt-BR
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

Update files/pt-br/web/javascript/reference/statements/let/index.md
  files/pt-br/web/javascript/reference/statements/let/index.md
Owners: @mdn/yari-content-pt-br

Fixing translation issues || Fixing multi-case example
  files/pt-br/web/javascript/reference/statements/switch/index.md
Owners: @mdn/yari-content-pt-br

Missing translations || Fixing Expected alert message
  files/pt-br/web/javascript/reference/statements/switch/index.md
Owners: @mdn/yari-content-pt-br

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/hash_function/index.md
Owners: @mdn/yari-content-ru

2024/09/03 時点の英語版に同期
  files/ja/web/api/svgpoint/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgpreserveaspectratio/align/index.md
  files/ja/web/api/svgpreserveaspectratio/index.md
  files/ja/web/api/svgpreserveaspectratio/meetorslice/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgnumberlist/appenditem/index.md
  files/ja/web/api/svgnumberlist/clear/index.md
  files/ja/web/api/svgnumberlist/getitem/index.md
  files/ja/web/api/svgnumberlist/index.md
  files/ja/web/api/svgnumberlist/initialize/index.md
  files/ja/web/api/svgnumberlist/insertitembefore/index.md
  files/ja/web/api/svgnumberlist/length/index.md
  files/ja/web/api/svgnumberlist/numberofitems/index.md
  files/ja/web/api/svgnumberlist/removeitem/index.md
  files/ja/web/api/svgnumberlist/replaceitem/index.md
Owners: @mdn/yari-content-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svglengthlist/index.md
  files/ja/web/api/svglengthlist/insertitembefore/index.md
Owners: @mdn/yari-content-ja

2024/09/20 時点の英語版に同期
  files/ja/web/api/svglengthlist/length/index.md
Owners: @mdn/yari-content-ja

2025/03/28 時点の英語版に同期
  files/ja/web/api/svglengthlist/numberofitems/index.md
Owners: @mdn/yari-content-ja

[ru] remove odd `conflicting/Web/API/console` translation (#26592)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/console/index.md
Owners: @mdn/yari-content-ru

2024/09/16 時点の英語版に同期
  files/ja/web/api/svglengthlist/appenditem/index.md
  files/ja/web/api/svglengthlist/clear/index.md
  files/ja/web/api/svglengthlist/getitem/index.md
  files/ja/web/api/svglengthlist/initialize/index.md
  files/ja/web/api/svglengthlist/removeitem/index.md
  files/ja/web/api/svglengthlist/replaceitem/index.md
Owners: @mdn/yari-content-ja

2025/02/19 時点の英語版に同期
  files/ja/web/api/svgpointlist/index.md
Owners: @mdn/yari-content-ja

2023/12/30 時点の英語版に同期
  files/ja/web/api/svgpointlist/length/index.md
Owners: @mdn/yari-content-ja

2023/04/08 時点の英語版に同期
  files/ja/web/api/svgpointlist/clear/index.md
  files/ja/web/api/svgpointlist/getitem/index.md
  files/ja/web/api/svgpointlist/numberofitems/index.md
  files/ja/web/api/svgpointlist/removeitem/index.md
Owners: @mdn/yari-content-ja
