Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

zh-cn: update the translation of `Intl.getCanonicalLocales()` (#28438)
  files/zh-cn/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DynamicsCompressorNode/reduction` (#28476)
  files/zh-cn/web/api/dynamicscompressornode/reduction/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/getdescriptor/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/getdescriptors/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/properties/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/readvalue/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/service/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/startnotifications/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/stopnotifications/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/uuid/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/value/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/writevalue/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/writevaluewithoutresponse/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/writevaluewithresponse/index.md
Owners: @mdn/yari-content-zh

unify term characterstic
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/service/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/properties/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update translation for OPTIONS
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

2025/07/14 時点の英語版に基づき新規翻訳
  files/ja/web/css/overscroll-behavior-block/index.md
  files/ja/web/css/overscroll-behavior-inline/index.md
  files/ja/web/css/overscroll-behavior-x/index.md
  files/ja/web/css/overscroll-behavior-y/index.md
  files/ja/web/css/overscroll-behavior/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/decrement/index.md
  files/ja/web/javascript/reference/operators/import.meta/index.md
  files/ja/web/javascript/reference/operators/import.meta/resolve/index.md
  files/ja/web/javascript/reference/operators/import/index.md
  files/ja/web/javascript/reference/operators/in/index.md
  files/ja/web/javascript/reference/operators/increment/index.md
  files/ja/web/javascript/reference/operators/inequality/index.md
  files/ja/web/javascript/reference/operators/instanceof/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/operators/left_shift/index.md
  files/ja/web/javascript/reference/operators/left_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/right_shift/index.md
  files/ja/web/javascript/reference/operators/right_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
Owners: @mdn/yari-content-ja

Fix typo on ja IME event notes in keydown_event documentation
  files/ja/web/api/element/keydown_event/index.md
Owners: @mdn/yari-content-ja

[fr] sync translated content (#28021)
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/core/styling_basics_3fe7b053115cdfdcdb658e88312276a96d81de42552c60589901728cd9cfb3b3/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
  files/fr/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/fr/conflicting/web/api/document_object_model/events/index.md
  files/fr/conflicting/web/css/@media/index.md
  files/fr/conflicting/web/css/clip/index.md
  files/fr/conflicting/web/css_d54dd63012f78ca10cf513755d7aecb96294c42dbd23a285b37ae69a38cbb4dc/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/learn_web_development/core/structuring_content/splash_page/index.md
  files/fr/web/api/document_object_model/events/index.md
  files/fr/web/api/xmlhttprequesteventtarget/abort_event/index.md
  files/fr/web/api/xmlhttprequesteventtarget/loadend_event/index.md
  files/fr/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-fr

[fr] auto-fix content issues (#28743)
  files/fr/mdn/community/learn_forum/index.md
Owners: @mdn/yari-content-fr

before testing
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/library_website_-_mongoose_express.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlab_database_users.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlab_new_deployment_database_details.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlab_new_deployment_form_v2.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlab_new_deployment_order_confirmation.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlab_new_deployment_select_region_v2.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mlabcreatenewdeployment.png
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_accessrules.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_adddata.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectbutton.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_createcollection.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_createdatabase.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_createsharedcluster.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasecreated.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasedetails.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_deploy.jpg
  files/ru/learn_web_development/extensions/server-side/express_nodejs/mongoose/mongodb_atlas_-_securityquickstart.jpg
  yarn.lock
Owners: @mdn/yari-content-ru, @mdn/core-dev

update translation
  files/zh-cn/web/api/bluetoothremotegattdescriptor/characteristic/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattdescriptor/readvalue/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattdescriptor/uuid/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattdescriptor/value/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattdescriptor/writevalue/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/connect/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/connected/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/device/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/disconnect/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/getprimaryservice/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattserver/getprimaryservices/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattservice/device/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattservice/isprimary/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/bluetoothremotegattservice/uuid/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/browsercapturemediastreamtrack/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/chapterinformation/starttime/index.md
Owners: @mdn/yari-content-zh
