Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[ja] auto-fix content issues (#28678)
  files/ja/web/javascript/reference/operators/exponentiation/index.md
  files/ja/web/javascript/reference/operators/exponentiation_assignment/index.md
Owners: @mdn/yari-content-ja

[MDN FR] Update HTTP status 408 index.md
  files/fr/web/http/reference/status/408/index.md
Owners: @mdn/yari-content-fr

ja: auto-fix content issues
  files/ja/web/accessibility/aria/reference/roles/document_role/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update JavaScript `Date` (#28339)
  files/zh-tw/web/javascript/reference/global_objects/date/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Animation/replaceState` (#28332)
  files/zh-cn/web/api/animation/replacestate/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/getting_started/environment_setup/command_line/index.md
Owners: @mdn/yari-content-zh

zh-cn: correct the steps of using `prettier` (#28681)
  files/zh-cn/learn_web_development/getting_started/environment_setup/command_line/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `BackgroundFetchRegistration/downloaded` (#28596)
  files/zh-cn/web/api/backgroundfetchregistration/downloaded/index.md
Owners: @mdn/yari-content-zh

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/web/api/elementinternals/ariakeyshortcuts/index.md
  files/zh-cn/web/api/elementinternals/ariakeyshortcuts/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/html/reference/elements/table/index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-tw/web/html/reference/elements/table/index.md
Owners: @mdn/yari-content-zh

fix: 선행지식에서 두 url 위치 바뀜 수정
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

[ES] Add `GPUAdapterInfo`
  files/es/web/api/gpuadapterinfo/architecture/index.md
  files/es/web/api/gpuadapterinfo/description/index.md
  files/es/web/api/gpuadapterinfo/device/index.md
  files/es/web/api/gpuadapterinfo/index.md
  files/es/web/api/gpuadapterinfo/subgroupmaxsize/index.md
  files/es/web/api/gpuadapterinfo/subgroupminsize/index.md
  files/es/web/api/gpuadapterinfo/vendor/index.md
Owners: @mdn/yari-content-es

ja: auto-fix content issues
  files/ja/web/accessibility/aria/reference/roles/document_role/index.md
Owners: @mdn/yari-content-ja

ja: fix typo
  files/ja/web/javascript/reference/global_objects/globalthis/index.md
Owners: @mdn/yari-content-ja

Update _redirects.txt
  files/ja/_redirects.txt
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/core/styling_basics/index.md
  files/ja/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#28687)
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
Owners: @mdn/yari-content-ja

[fix] type
  files/ko/web/api/window/sizetocontent/index.md
Owners: @mdn/yari-content-ko

[feat] 번역 수정
  files/ko/web/api/window/sizetocontent/index.md
Owners: @mdn/yari-content-ko

[fix] slug 추가
  files/ko/web/api/window/sizetocontent/index.md
Owners: @mdn/yari-content-ko

test commit for ci
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

test commit for ci
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

test commit for ci
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

test commit for ci
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Owners: @mdn/yari-content-ko

fix typo: fué -> fue
  files/es/web/javascript/reference/global_objects/map/groupby/index.md
Owners: @mdn/yari-content-es

ja: auto-fix content issues
  files/ja/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

Fix typo on ja IME event notes in keydown_event documentation
  files/ja/web/api/element/keydown_event/index.md
Owners: @mdn/yari-content-ja

ko: fix markdown format
  files/ko/glossary/glyph/index.md
Owners: @mdn/yari-content-ko

fix: remove docs and resolve links
  files/zh-cn/_redirects.txt
  files/zh-cn/conflicting/learn_web_development/core/styling_basics/index.md
  files/zh-cn/learn_web_development/core/styling_basics/debugging_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#28684)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/core/styling_basics/debugging_css/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
  files/zh-cn/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-zh
