Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

ci(pr-test): use PWD instead of CONTENT_TRANSLATED_ROOT (#28386)
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

2025/07/10 時点の英語版に同期
  files/ja/web/svg/reference/attribute/index.md
Owners: @mdn/yari-content-ja

2025/07/01 時点の英語版に同期
  files/ja/web/svg/reference/attribute/begin/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/attribute/clip/index.md
Owners: @mdn/yari-content-ja

2025/07/17 時点の英語版に同期
  files/ja/web/svg/reference/attribute/font-size/index.md
Owners: @mdn/yari-content-ja

2025/08/06 時点の英語版に同期
  files/ja/web/svg/reference/attribute/marker-mid/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/svg/reference/attribute/preserveaspectratio/index.md
Owners: @mdn/yari-content-ja

[ko] fix: 연산자 관련 오역 수정, 연산자 -> 피연산자 (#28058)
  files/ko/web/javascript/reference/operators/multiplication/index.md
Owners: @mdn/yari-content-ko

[ko] fix: HTTP 상태 코드 208 이름 'Multi-Status' → 'Already Reported' 수정 (#16436)
  files/ko/web/http/reference/status/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/web/html/reference/attributes/rel/alternate_stylesheet/index.md
Owners: @mdn/yari-content-zh

2025/06/24 時点の英語版に同期
  files/ja/web/svg/guides/content_type/index.md
Owners: @mdn/yari-content-ja

2025/06/06 時点の英語版に同期
  files/ja/web/svg/reference/element/rect/index.md
Owners: @mdn/yari-content-ja

translate rowheader role
  files/ja/web/accessibility/aria/reference/roles/rowheader_role/index.md
Owners: @mdn/yari-content-ja

2023/02/19 時点の英語版に基づき新規翻訳
  files/ja/web/api/svggeometryelement/index.md
Owners: @mdn/yari-content-ja

2023/04/08 時点の英語版に基づき新規翻訳
  files/ja/web/api/svggeometryelement/getpointatlength/index.md
  files/ja/web/api/svggeometryelement/gettotallength/index.md
  files/ja/web/api/svggeometryelement/ispointinfill/index.md
  files/ja/web/api/svggeometryelement/ispointinstroke/index.md
  files/ja/web/api/svggeometryelement/pathlength/index.md
Owners: @mdn/yari-content-ja

2025/06/19 時点の英語版に同期
  files/ja/web/api/svgrectelement/index.md
Owners: @mdn/yari-content-ja

2025/03/18 時点の英語版に基づき新規翻訳
  files/ja/web/api/svgrectelement/height/index.md
  files/ja/web/api/svgrectelement/rx/index.md
  files/ja/web/api/svgrectelement/ry/index.md
  files/ja/web/api/svgrectelement/width/index.md
  files/ja/web/api/svgrectelement/x/index.md
  files/ja/web/api/svgrectelement/y/index.md
Owners: @mdn/yari-content-ja

2025/04/23 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に基づき更新
  files/ja/web/svg/reference/attribute/stroke-linecap/index.md
Owners: @mdn/yari-content-ja

用語の修正
  files/ja/web/svg/reference/attribute/pathlength/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/svg/reference/attribute/begin/index.md
Owners: @mdn/yari-content-ja

Apply suggestions
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

Address the requested changes
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Owners: @mdn/yari-content-zh

remove files/ prefix for path arguments
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

[zh-cn] update 'alternate stylesheet' (#28360)
  files/zh-cn/web/html/reference/attributes/rel/alternate_stylesheet/index.md
Owners: @mdn/yari-content-zh

minor fixes
  files/zh-cn/web/html/guides/cheatsheet/beast.png
  files/zh-cn/web/html/guides/cheatsheet/index.md
Owners: @mdn/yari-content-zh

zh-cn: add "HTML Cheatsheet" (#27816)
  files/zh-cn/web/html/guides/cheatsheet/index.md
Owners: @mdn/yari-content-zh

ci(pr-test): qualify files to build properly (#28408)
  .github/workflows/pr-test.yml
Owners: @mdn/core-dev

update
  files/zh-tw/web/api/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/window/popstate_event/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/window/print/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/window/popstate_event/index.md
  files/zh-tw/web/api/window/popstate_event/index.md
Owners: @mdn/yari-content-zh

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-es

update
  files/zh-tw/learn_web_development/getting_started/environment_setup/dealing_with_files/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/learn_web_development/getting_started/environment_setup/dealing_with_files/index.md
Owners: @mdn/yari-content-zh

translate scrollbar and range role
  files/ja/web/accessibility/aria/reference/roles/range_role/index.md
  files/ja/web/accessibility/aria/reference/roles/scrollbar_role/index.md
Owners: @mdn/yari-content-ja

linter fixes
  files/fr/learn_web_development/extensions/server-side/django/forms/index.md
Owners: @mdn/yari-content-fr

[es] sync translated content (#28411)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-es

es: auto-fix content issues
  files/es/web/api/node/nextsibling/index.md
  files/es/web/api/node/previoussibling/index.md
Owners: @mdn/yari-content-es

fr: sync translated content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/fr/conflicting/web/api/document_object_model/events/index.md
  files/fr/conflicting/web/css/@media/index.md
  files/fr/conflicting/web/css/clip/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/web/api/document_object_model/events/index.md
  files/fr/web/css/css_text/whitespace/index.md
Owners: @mdn/yari-content-fr

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
