Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/06/24 時点の英語版に基づき更新
  files/ja/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/api/element/ariaerrormessageelements/index.md
Owners: @mdn/yari-content-ja

2025/05/03 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/ariaflowtoelements/index.md
Owners: @mdn/yari-content-ja

2025/05/03 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/arialabelledbyelements/index.md
Owners: @mdn/yari-content-ja

2025/07/02 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/ariaownselements/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/api/element/ariaflowtoelements/index.md
Owners: @mdn/yari-content-ja

sourceCommit を更新
  files/ja/web/api/htmldialogelement/requestclose/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/api/domtokenlist/contains/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/range/createcontextualfragment/index.md
Owners: @mdn/yari-content-zh

2025/08/28 時点の英語版に基づき更新
  files/ja/web/css/css_anchor_positioning/using/index.md
  files/ja/web/css/css_anchor_positioning/using/position-area.drawio
  files/ja/web/css/css_anchor_positioning/using/position-area.png
  files/ja/web/css/css_anchor_positioning/using/position-area.svg
Owners: @mdn/yari-content-ja

2025/09/15 時点の英語版に基づき更新
  files/ja/web/api/cssom_view_api/coordinate_systems/index.md
Owners: @mdn/yari-content-ja

2025/09/15 時点の英語版に基づき新規翻訳
  files/ja/web/api/cssom_view_api/index.md
Owners: @mdn/yari-content-ja

2025/09/15 時点の英語版に基づき更新
  files/ja/web/css/cssom_view/viewport_concepts/index.md
Owners: @mdn/yari-content-ja

2025/09/16 時点の英語版に基づき更新
  files/ja/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-ja

[ja] fix "return value" translation in Array.toSpliced()
  files/ja/web/javascript/reference/global_objects/array/tospliced/index.md
Owners: @mdn/yari-content-ja

2025/04/20 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/ariainvalid/index.md
Owners: @mdn/yari-content-ja

sourceCommit を更新
  files/ja/web/api/svganimatedenumeration/baseval/index.md
  files/ja/web/api/svganimatedstring/animval/index.md
Owners: @mdn/yari-content-ja

2025/04/02 時点の英語版に基づき新規翻訳
  files/ja/web/api/element/role/index.md
Owners: @mdn/yari-content-ja

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/landmark_role`
  files/fr/web/accessibility/aria/reference/roles/landmark_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/link_role`
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/list_role`
  files/fr/web/accessibility/aria/reference/roles/list_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/listbox_role`
  files/fr/web/accessibility/aria/reference/roles/listbox_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/listitem_role`
  files/fr/web/accessibility/aria/reference/roles/listitem_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/log_role`
  files/fr/web/accessibility/aria/reference/roles/log_role/index.md
Owners: @mdn/yari-content-fr

2025/08/20 時点の英語版に基づき更新
  files/ja/web/api/indexeddb_api/using_indexeddb/index.md
Owners: @mdn/yari-content-ja

2025/08/20 時点の英語版に基づき更新
  files/ja/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Owners: @mdn/yari-content-ja

2025/07/02 時点の英語版に基づき更新
  files/ja/web/api/indexeddb_api/checking_when_a_deadline_is_due/index.md
Owners: @mdn/yari-content-ja

Update link text for live regions in log role
  files/fr/web/accessibility/aria/reference/roles/log_role/index.md
Owners: @mdn/yari-content-fr

2025/04/03 時点の英語版に基づき更新
  files/ja/web/api/indexeddb_api/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/video/index.md
Owners: @mdn/yari-content-ja

2025/05/28 時点の英語版に基づき更新
  files/ja/web/api/indexeddb_api/basic_terminology/index.md
Owners: @mdn/yari-content-ja

[ko] add Korean translation on Promise docs (#28899)
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Owners: @mdn/yari-content-ko

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/main_role`
  files/fr/web/accessibility/aria/reference/roles/main_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/mark_role`
  files/fr/web/accessibility/aria/reference/roles/mark_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/marquee_role`
  files/fr/web/accessibility/aria/reference/roles/marquee_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/math_role`
  files/fr/web/accessibility/aria/reference/roles/math_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/menu_role`
  files/fr/web/accessibility/aria/reference/roles/menu_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/menubar_role`
  files/fr/web/accessibility/aria/reference/roles/menubar_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/menuitem_role`
  files/fr/web/accessibility/aria/reference/roles/menuitem_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/menuitemcheckbox_role`
  files/fr/web/accessibility/aria/reference/roles/menuitemcheckbox_role/index.md
Owners: @mdn/yari-content-fr
