Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_pseudo-elements/index.md
Owners: @mdn/yari-content-ja

zh-CN: create `webRequest.SecurityInfo` (#26816)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `403` (#26416)
  files/zh-tw/web/http/reference/status/403/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `308` (#26423)
  files/zh-tw/web/http/reference/status/308/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.onErrorOccurred` (#26814)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/css/@font-face/index.md
  files/zh-cn/conflicting/web/css/@font-face_6195f8dc3bc97c4ab89a20245532e1abbf06cab7718d4e0ab6f9350c55e4c310/index.md
  files/zh-cn/conflicting/web/css/@font-face_748d96abf2d40258a2e3107f48454e5485b0ce9d798d25c99c1afe54eac958a8/index.md
  files/zh-cn/conflicting/web/css/@font-face_835da4592e678b936556cacb1973706b97c7c96e0b11bbeef7e39d918767455d/index.md
  files/zh-cn/conflicting/web/css/@font-face_851674eca0b87c75383315d69bb85ae9e4ab4e2b0d5f75d4e9cd9344a2a5021b/index.md
  files/zh-cn/conflicting/web/css/@font-face_8ada6559bb7a22cfd842ae6f865f67b937350db78db8323f70ff6ef0ffc16e00/index.md
  files/zh-cn/conflicting/web/css/@font-face_9f8a84139667bfb0b63624b27b89e9e3064d264a1c48c9abb3183b792ec4d63a/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2b2a2f1b36681b53150e0f8f5aa8466b9b48c5104ebac3731fdbae5fa74d45e/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2bd5f82835c93a3f79fe72062d89f4ebff864bf4c0c2915f00663640d16c945/index.md
  files/zh-cn/conflicting/web/css/@font-face_ae514412d5deee4462160edc5bce420b574427dcffb65a8bd5b79fb2cc8aaf1d/index.md
  files/zh-cn/conflicting/web/css/@font-face_c8480de342aa34563594f409e84f0d2c8b1e079752b4e7350f2f2b05f1be9058/index.md
  files/zh-cn/conflicting/web/css/@font-face_ee4dd4f812730cb10ecb2fb58baaf4b65faf3b807d72d665628d32150b92f161/index.md
  files/zh-cn/conflicting/web/css/cursor/index.md
  files/zh-cn/conflicting/web/svg/reference/attribute/index.md
  files/zh-cn/web/api/htmldialogelement/showmodal/index.md
  files/zh-cn/web/api/window/showmodaldialog/index.md
  files/zh-cn/web/svg/reference/attribute/accent-height/index.md
  files/zh-cn/web/svg/reference/element/cursor/index.md
  files/zh-cn/web/svg/reference/element/font-face-format/index.md
  files/zh-cn/web/svg/reference/element/font-face-name/index.md
  files/zh-cn/web/svg/reference/element/font-face-src/index.md
  files/zh-cn/web/svg/reference/element/font-face-uri/index.md
  files/zh-cn/web/svg/reference/element/font-face/index.md
  files/zh-cn/web/svg/reference/element/font/index.md
  files/zh-cn/web/svg/reference/element/glyph/index.md
  files/zh-cn/web/svg/reference/element/glyphref/index.md
  files/zh-cn/web/svg/reference/element/hkern/index.md
  files/zh-cn/web/svg/reference/element/missing-glyph/index.md
  files/zh-cn/web/svg/reference/element/tref/index.md
  files/zh-cn/web/svg/reference/element/vkern/index.md
Owners: @mdn/yari-content-zh

Remove SVG font API
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/css/@font-face/index.md
  files/zh-cn/conflicting/web/css/@font-face_6195f8dc3bc97c4ab89a20245532e1abbf06cab7718d4e0ab6f9350c55e4c310/index.md
  files/zh-cn/conflicting/web/css/@font-face_748d96abf2d40258a2e3107f48454e5485b0ce9d798d25c99c1afe54eac958a8/index.md
  files/zh-cn/conflicting/web/css/@font-face_851674eca0b87c75383315d69bb85ae9e4ab4e2b0d5f75d4e9cd9344a2a5021b/index.md
  files/zh-cn/conflicting/web/css/@font-face_8ada6559bb7a22cfd842ae6f865f67b937350db78db8323f70ff6ef0ffc16e00/index.md
  files/zh-cn/conflicting/web/css/@font-face_9f8a84139667bfb0b63624b27b89e9e3064d264a1c48c9abb3183b792ec4d63a/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2b2a2f1b36681b53150e0f8f5aa8466b9b48c5104ebac3731fdbae5fa74d45e/index.md
  files/zh-cn/conflicting/web/css/@font-face_a2bd5f82835c93a3f79fe72062d89f4ebff864bf4c0c2915f00663640d16c945/index.md
  files/zh-cn/conflicting/web/css/@font-face_ae514412d5deee4462160edc5bce420b574427dcffb65a8bd5b79fb2cc8aaf1d/index.md
  files/zh-cn/conflicting/web/css/@font-face_c8480de342aa34563594f409e84f0d2c8b1e079752b4e7350f2f2b05f1be9058/index.md
  files/zh-cn/conflicting/web/css/@font-face_de2fde5974aace95a036dc7c0db8e5ed4bd3af394decbb94be7ede73ea860409/index.md
  files/zh-cn/conflicting/web/css/@font-face_ee4dd4f812730cb10ecb2fb58baaf4b65faf3b807d72d665628d32150b92f161/index.md
  files/zh-cn/conflicting/web/css/cursor/index.md
  files/zh-cn/conflicting/web/svg/reference/attribute/index.md
  files/zh-cn/web/svg/reference/attribute/baseline-shift/index.md
  files/zh-cn/web/svg/reference/attribute/clip-path/index.md
  files/zh-cn/web/svg/reference/attribute/d/index.md
  files/zh-cn/web/svg/reference/attribute/display/index.md
  files/zh-cn/web/svg/reference/attribute/dx/index.md
  files/zh-cn/web/svg/reference/attribute/fill-rule/index.md
  files/zh-cn/web/svg/reference/attribute/filter/index.md
  files/zh-cn/web/svg/reference/attribute/index.md
  files/zh-cn/web/svg/reference/attribute/opacity/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-dasharray/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-linejoin/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-width/index.md
  files/zh-cn/web/svg/reference/attribute/stroke/index.md
  files/zh-cn/web/svg/reference/attribute/style/index.md
  files/zh-cn/web/svg/reference/attribute/text-anchor/index.md
  files/zh-cn/web/svg/reference/attribute/visibility/index.md
  files/zh-cn/web/svg/reference/attribute/x/index.md
  files/zh-cn/web/svg/reference/attribute/y/index.md
  files/zh-cn/web/svg/reference/element/index.md
  files/zh-cn/web/svg/reference/element/text/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/using_fonts/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS "clip" (#26894)
  files/zh-tw/web/css/clip/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/http/guides/session/index.md
  files/zh-tw/web/javascript/reference/functions/default_parameters/index.md
  files/zh-tw/web/uri/reference/schemes/data/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/css_inline_layout/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/_doublecolon_first-letter/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/css/_doublecolon_first-letter/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/learn_web_development/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/analysernode/getbytefrequencydata/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/animationevent/index.md
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/battery_status_api/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/api/battery_status_api/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for Exception constructor
  files/zh-cn/webassembly/reference/javascript_interface/exception/exception/index.md
Owners: @mdn/yari-content-zh

fix: update /performance/guides folder structure, missin g sidebar issue
  files/ko/web/performance/guides/animation_performance_and_frame_rate/index.md
  files/ko/web/performance/guides/critical_rendering_path/index.md
  files/ko/web/performance/guides/how_browsers_work/index.md
  files/ko/web/performance/guides/lazy_loading/index.md
  files/ko/web/performance/guides/performance_budgets/index.md
  files/ko/web/performance/guides/understanding_latency/index.md
Owners: @mdn/yari-content-ko

[zh-cn] sync translated content (#26914)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/htmldialogelement/showmodal/index.md
  files/zh-cn/web/svg/reference/attribute/accent-height/index.md
  files/zh-cn/web/svg/reference/attribute/baseline-shift/index.md
  files/zh-cn/web/svg/reference/attribute/clip-path/index.md
  files/zh-cn/web/svg/reference/attribute/d/index.md
  files/zh-cn/web/svg/reference/attribute/display/index.md
  files/zh-cn/web/svg/reference/attribute/dx/index.md
  files/zh-cn/web/svg/reference/attribute/fill-rule/index.md
  files/zh-cn/web/svg/reference/attribute/filter/index.md
  files/zh-cn/web/svg/reference/attribute/index.md
  files/zh-cn/web/svg/reference/attribute/opacity/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-dasharray/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-linejoin/index.md
  files/zh-cn/web/svg/reference/attribute/stroke-width/index.md
  files/zh-cn/web/svg/reference/attribute/stroke/index.md
  files/zh-cn/web/svg/reference/attribute/style/index.md
  files/zh-cn/web/svg/reference/attribute/text-anchor/index.md
  files/zh-cn/web/svg/reference/attribute/visibility/index.md
  files/zh-cn/web/svg/reference/attribute/x/index.md
  files/zh-cn/web/svg/reference/attribute/y/index.md
  files/zh-cn/web/svg/reference/element/cursor/index.md
  files/zh-cn/web/svg/reference/element/font-face-format/index.md
  files/zh-cn/web/svg/reference/element/font-face-name/index.md
  files/zh-cn/web/svg/reference/element/font-face-src/index.md
  files/zh-cn/web/svg/reference/element/font-face-uri/index.md
  files/zh-cn/web/svg/reference/element/font-face/index.md
  files/zh-cn/web/svg/reference/element/font/index.md
  files/zh-cn/web/svg/reference/element/glyph/index.md
  files/zh-cn/web/svg/reference/element/glyphref/index.md
  files/zh-cn/web/svg/reference/element/hkern/index.md
  files/zh-cn/web/svg/reference/element/index.md
  files/zh-cn/web/svg/reference/element/missing-glyph/index.md
  files/zh-cn/web/svg/reference/element/text/index.md
  files/zh-cn/web/svg/reference/element/tref/index.md
  files/zh-cn/web/svg/reference/element/vkern/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/using_fonts/index.md
Owners: @mdn/yari-content-zh

fix: fixes document metadata
  files/ko/web/performance/guides/animation_performance_and_frame_rate/index.md
  files/ko/web/performance/guides/critical_rendering_path/index.md
  files/ko/web/performance/guides/how_browsers_work/index.md
  files/ko/web/performance/guides/lazy_loading/index.md
  files/ko/web/performance/guides/performance_budgets/index.md
  files/ko/web/performance/guides/understanding_latency/index.md
  files/ko/web/performance/index.md
Owners: @mdn/yari-content-ko

2025/04/09 時点の英語版に同期
  files/ja/web/http/reference/headers/permissions-policy/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期 (#26877)
  files/ja/web/http/reference/headers/permissions-policy/accelerometer/index.md
  files/ja/web/http/reference/headers/permissions-policy/ambient-light-sensor/index.md
  files/ja/web/http/reference/headers/permissions-policy/attribution-reporting/index.md
  files/ja/web/http/reference/headers/permissions-policy/bluetooth/index.md
Owners: @mdn/yari-content-ja

fix: fix Korean doc's link URL (/Web/Performance -> /Web/Performance/Guides/
  files/ko/glossary/code_splitting/index.md
  files/ko/glossary/cssom/index.md
  files/ko/glossary/first_input_delay/index.md
  files/ko/glossary/latency/index.md
  files/ko/glossary/lazy_load/index.md
  files/ko/glossary/page_load_time/index.md
  files/ko/glossary/prefetch/index.md
  files/ko/glossary/rail/index.md
  files/ko/glossary/real_user_monitoring/index.md
  files/ko/glossary/synthetic_monitoring/index.md
  files/ko/glossary/tcp/index.md
  files/ko/glossary/tcp_slow_start/index.md
  files/ko/learn_web_development/extensions/performance/measuring_performance/index.md
  files/ko/learn_web_development/extensions/performance/multimedia/index.md
  files/ko/learn_web_development/extensions/performance/web_performance_basics/index.md
  files/ko/learn_web_development/extensions/performance/what_is_web_performance/index.md
  files/ko/learn_web_development/extensions/performance/why_web_performance/index.md
  files/ko/web/performance/guides/how_browsers_work/index.md
  files/ko/web/performance/guides/lazy_loading/index.md
Owners: @mdn/yari-content-ko

update
  files/zh-tw/web/api/blob/blob/index.md
Owners: @mdn/yari-content-zh

2023/12/02 時点の英語版に同期
  files/ja/web/api/highlightregistry/clear/index.md
  files/ja/web/api/highlightregistry/delete/index.md
  files/ja/web/api/highlightregistry/entries/index.md
  files/ja/web/api/highlightregistry/foreach/index.md
  files/ja/web/api/highlightregistry/get/index.md
  files/ja/web/api/highlightregistry/has/index.md
  files/ja/web/api/highlightregistry/index.md
  files/ja/web/api/highlightregistry/keys/index.md
  files/ja/web/api/highlightregistry/set/index.md
  files/ja/web/api/highlightregistry/size/index.md
  files/ja/web/api/highlightregistry/values/index.md
Owners: @mdn/yari-content-ja

ru: auto-fix content issues
  files/ru/learn_web_development/core/css_layout/floats/index.md
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/ru/learn_web_development/core/css_layout/positioning/index.md
Owners: @mdn/yari-content-ru

zh-cn: auto-fix content issues
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
Owners: @mdn/yari-content-zh

[zh-cn] auto-fix content issues (#26920)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for loop instruction (#26855)
  files/zh-cn/webassembly/reference/control_flow/loop/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/nop/index.md
  files/zh-cn/webassembly/reference/control_flow/nop/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for unreachable instruction (#26859)
  files/zh-cn/webassembly/reference/control_flow/unreachable/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for nop instruction (#26856)
  files/zh-cn/webassembly/reference/control_flow/nop/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of call instruction (#26863)
  files/zh-cn/webassembly/reference/control_flow/call/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/compileerror/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of CompileError (#26864)
  files/zh-cn/webassembly/reference/javascript_interface/compileerror/index.md
Owners: @mdn/yari-content-zh
