Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/03/18 時点の英語版に同期
  files/ja/web/svg/reference/element/animatetransform/index.md
  files/ja/web/svg/reference/element/defs/index.md
  files/ja/web/svg/reference/element/desc/index.md
  files/ja/web/svg/reference/element/fecolormatrix/index.md
  files/ja/web/svg/reference/element/fedropshadow/index.md
  files/ja/web/svg/reference/element/fegaussianblur/index.md
  files/ja/web/svg/reference/element/femorphology/index.md
  files/ja/web/svg/reference/element/feoffset/index.md
  files/ja/web/svg/reference/element/filter/index.md
  files/ja/web/svg/reference/element/g/index.md
  files/ja/web/svg/reference/element/metadata/index.md
  files/ja/web/svg/reference/element/mpath/index.md
  files/ja/web/svg/reference/element/set/index.md
  files/ja/web/svg/reference/element/switch/index.md
  files/ja/web/svg/reference/element/title/index.md
Owners: @mdn/yari-content-ja

2025/04/15 時点の英語版に同期 (#26980)
  files/ja/web/svg/reference/element/a/index.md
  files/ja/web/svg/reference/element/animatemotion/index.md
  files/ja/web/svg/reference/element/circle/index.md
  files/ja/web/svg/reference/element/clippath/index.md
  files/ja/web/svg/reference/element/ellipse/index.md
  files/ja/web/svg/reference/element/foreignobject/index.md
  files/ja/web/svg/reference/element/image/index.md
  files/ja/web/svg/reference/element/line/index.md
  files/ja/web/svg/reference/element/lineargradient/index.md
  files/ja/web/svg/reference/element/mask/index.md
  files/ja/web/svg/reference/element/path/index.md
  files/ja/web/svg/reference/element/pattern/index.md
  files/ja/web/svg/reference/element/polygon/index.md
  files/ja/web/svg/reference/element/polyline/index.md
  files/ja/web/svg/reference/element/radialgradient/index.md
  files/ja/web/svg/reference/element/rect/index.md
  files/ja/web/svg/reference/element/script/index.md
  files/ja/web/svg/reference/element/stop/index.md
  files/ja/web/svg/reference/element/svg/index.md
  files/ja/web/svg/reference/element/textpath/index.md
  files/ja/web/svg/reference/element/tspan/index.md
  files/ja/web/svg/reference/element/use/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に同期
  files/ja/web/svg/reference/element/index.md
  files/ja/web/svg/reference/element/text/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期 (#26984)
  files/ja/web/html/reference/elements/a/index.md
  files/ja/web/html/reference/elements/abbr/index.md
  files/ja/web/html/reference/elements/acronym/index.md
  files/ja/web/html/reference/elements/address/index.md
  files/ja/web/html/reference/elements/area/index.md
  files/ja/web/html/reference/elements/article/index.md
  files/ja/web/html/reference/elements/aside/index.md
  files/ja/web/html/reference/elements/audio/index.md
  files/ja/web/html/reference/elements/b/index.md
  files/ja/web/html/reference/elements/base/index.md
  files/ja/web/html/reference/elements/bdi/index.md
  files/ja/web/html/reference/elements/bdo/index.md
  files/ja/web/html/reference/elements/big/index.md
  files/ja/web/html/reference/elements/blockquote/index.md
  files/ja/web/html/reference/elements/body/index.md
  files/ja/web/html/reference/elements/br/index.md
  files/ja/web/html/reference/elements/button/index.md
  files/ja/web/html/reference/elements/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/core/accessibility/css_and_javascript/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills/wai-aria/index.md
  files/ja/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/ja/learn_web_development/core/structuring_content/html_images/index.md
  files/ja/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/ja/learn_web_development/extensions/forms/html5_input_types/index.md
  files/ja/learn_web_development/extensions/forms/other_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/ja/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/ja/mdn/writing_guidelines/learning_content/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Owners: @mdn/yari-content-ja

2025/04/11 時点の英語版に同期
  files/ja/web/css/css_generated_content/index.md
Owners: @mdn/yari-content-ja

ja: fix typo "敵" → "的"
  files/ja/web/javascript/reference/global_objects/promise/try/index.md
Owners: @mdn/yari-content-ja

update
  files/zh-tw/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

2025/04/15 時点の英語版に同期
  files/ja/web/css/content/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/web/css/quotes/index.md
Owners: @mdn/yari-content-ja

2025/03/06 時点の英語版に同期
  files/ja/web/css/image/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_shadow_parts/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/fr/web/css/var/index.md
Owners: @mdn/yari-content-fr

Apply suggestions from code review
  files/zh-tw/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/battery_status_api/index.md
  files/zh-tw/web/api/battery_status_api/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/blob/blob/index.md
  files/zh-tw/web/api/blob/blob/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/blob/size/index.md
  files/zh-tw/web/api/blob/size/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/blob/type/index.md
  files/zh-tw/web/api/blob/type/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/blob/index.md
  files/zh-tw/web/api/blob/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.onSendHeaders` (#26817)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/clipboardevent/index.md
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/clipboardevent/index.md
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Canvas API Tutorial "Advanced animations" (#26926)
  files/zh-tw/web/api/canvas_api/tutorial/advanced_animations/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/javascript/reference/operators/addition/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript Operator "Addition" (#26895)
  files/zh-tw/web/javascript/reference/operators/addition/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
  files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update JavaScript Operator "Unary plus" (#26896)
  files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/animationevent/index.md
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
Owners: @mdn/yari-content-zh

fix typo whitespace
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
