Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-owns/index.md
Owners: @mdn/yari-content-ja

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-ja

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-ja

2025/03/15 時点の英語版に同期
  files/ja/web/http/guides/cors/fetching-page-cors.svg
  files/ja/web/http/guides/cors/include-credentials.svg
  files/ja/web/http/guides/cors/index.md
  files/ja/web/http/guides/cors/preflight-correct.svg
  files/ja/web/http/guides/cors/simple-request.svg
Owners: @mdn/yari-content-ja

zh-cn: update the translation of the `MediaStream()` constructor (#26438)
  files/zh-cn/web/api/mediastream/mediastream/index.md
Owners: @mdn/yari-content-zh

move guide to module: inline formatting context
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/web/api/document_object_model/whitespace/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
Owners: @mdn/yari-content-zh

move layout mode to glossary
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/introduction/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
Owners: @mdn/yari-content-zh

Update translation
  files/zh-cn/web/css/@scope/index.md
Owners: @mdn/yari-content-zh

Move visited selector guide to CSS selectors module
  files/zh-cn/web/css/_colon_visited/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/svg/reference/element/image/index.md
Owners: @mdn/yari-content-zh

Move guide: visual formatting model
  files/zh-cn/glossary/block/css/index.md
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/floats/index.md
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
  files/zh-cn/web/css/_doublecolon_first-line/index.md
  files/zh-cn/web/css/css_box_model/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_containment/using_css_containment/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
  files/zh-cn/web/css/transform/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#26507)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/glossary/block/css/index.md
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/floats/index.md
  files/zh-cn/learn_web_development/core/css_layout/introduction/index.md
  files/zh-cn/web/api/document_object_model/whitespace/index.md
  files/zh-cn/web/css/_colon_visited/index.md
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
  files/zh-cn/web/css/_doublecolon_first-line/index.md
  files/zh-cn/web/css/css_box_model/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_containment/using_css_containment/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
  files/zh-cn/web/css/transform/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/svg/reference/element/image/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of CSSValueList `length` property (#26371)
  files/zh-cn/web/api/cssvaluelist/length/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `CSSValueList` introduction (#26348)
  files/zh-cn/web/api/cssvaluelist/index.md
Owners: @mdn/yari-content-zh

Update
  files/zh-cn/web/css/@scope/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/css/@scope/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/css/@scope/index.md
Owners: @mdn/yari-content-zh

feat: Remove ora spinner for pre-commit hook compat
  lefthook.yml
  scripts/check-url-locale.js
Owners: @mdn/core-dev

Apply suggestions from code review
  files/zh-cn/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-cn/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

ci(system-file-changes): pass if author/actor is an admin
  .github/workflows/system-file-changes.yml
Owners: @mdn/core-dev

ci: add auto-cleanup-bot workflow
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

Update .github/workflows/auto-cleanup-bot.yml
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

test(auto-cleanup-bot): trigger on this branch
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

ci: rename {markdown-lint-fix => auto-cleanup-bot} workflow
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

ci(markdown-lint-fix): fix flaws
  .github/workflows/markdown-lint-fix.yml
Owners: @mdn/core-dev

ci(auto-cleanup-bot): add file header
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

test(auto-cleanup-bot): run on this branch
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

ci(system-file-changes): pass if author/actor is an admin (#26511)
  .github/workflows/system-file-changes.yml
Owners: @mdn/core-dev

zh-tw: auto-fix Markdownlint issues
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/index.md
Owners: @mdn/yari-content-zh

ci(auto-cleanup-bot): refine commit-message/branch/title
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

Revert "test(auto-cleanup-bot): run on this branch"
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

feat: Disable ora spinner for pre-commit hook
  lefthook.yml
  scripts/check-url-locale.js
Owners: @mdn/core-dev

test(auto-cleanup-bot): run on this branch
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

Revert "test(auto-cleanup-bot): run on this branch"
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

ci(auto-cleanup-bot): sync PR body with content
  .github/workflows/auto-cleanup-bot.yml
Owners: @mdn/core-dev

2025/03/06 時点の英語版に同期
  files/ja/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/index.md
Owners: @mdn/yari-content-ja

aria-multiselectableを翻訳 (#26429)
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-ja

2025/02/18 時点の英語版に同期
  files/ja/web/svg/attribute/baseline-shift/index.md
  files/ja/web/svg/attribute/display/index.md
  files/ja/web/svg/attribute/dominant-baseline/index.md
  files/ja/web/svg/attribute/font-size/index.md
Owners: @mdn/yari-content-ja

2024/11/15 時点の英語版に同期
  files/ja/web/svg/attribute/textlength/index.md
Owners: @mdn/yari-content-ja

2023/05/22 時点の英語版に同期
  files/ja/web/svg/attribute/rotate/index.md
Owners: @mdn/yari-content-ja
