Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[zh-cn] fix find prime example for Array.prototype.findIndex() (#27548)
  files/zh-cn/web/javascript/reference/global_objects/array/findindex/index.md
Owners: @mdn/yari-content-zh

fix other prime examples
  files/zh-cn/web/javascript/reference/global_objects/array/filter/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlast/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/bigint/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/findindex/index.md
Owners: @mdn/yari-content-zh

[ko] auto-fix content issues (#27840)
  files/ko/web/http/guides/cors/errors/index.md
  files/ko/web/javascript/reference/global_objects/number/tolocalestring/index.md
Owners: @mdn/yari-content-ko

[ko] await 문서 수정
  files/ko/web/javascript/reference/operators/await/index.md
Owners: @mdn/yari-content-ko

[zh-cn] create reference main page of mathml
  files/zh-cn/web/mathml/reference/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update HTTP Status `301` (#27636)
  files/zh-tw/web/http/reference/status/301/index.md
Owners: @mdn/yari-content-zh

2025/04/03 時点の英語版に同期
  files/ja/web/css/zoom/index.md
Owners: @mdn/yari-content-ja

2025/04/30 時点の英語版に同期
  files/ja/learn_web_development/howto/solve_css_problems/transition_button/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ko/web/javascript/reference/operators/await/index.md
Owners: @mdn/yari-content-ko

es: auto-fix content issues
  files/es/web/javascript/reference/operators/delete/index.md
  files/es/web/javascript/reference/operators/exponentiation/index.md
  files/es/web/javascript/reference/operators/in/index.md
  files/es/web/javascript/reference/operators/unary_negation/index.md
Owners: @mdn/yari-content-es

ru: auto-fix content issues
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/ru/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-ru

fr: auto-fix content issues
  files/fr/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-fr

[es] auto-fix content issues (#27865)
  files/es/web/javascript/reference/operators/delete/index.md
  files/es/web/javascript/reference/operators/exponentiation/index.md
  files/es/web/javascript/reference/operators/in/index.md
  files/es/web/javascript/reference/operators/unary_negation/index.md
Owners: @mdn/yari-content-es

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-es

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ru

ko: sync translated content
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/orphaned/glossary/proxy_servers_and_tunneling/index.md
  files/ko/web/javascript/reference/classes/private_elements/index.md
  files/ko/web/security/attacks/index.md
Owners: @mdn/yari-content-ko

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-zh

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ja

[zh-cn] fix other prime examples (#27859)
  files/zh-cn/web/javascript/reference/global_objects/array/filter/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlast/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/bigint/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/findindex/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/svg/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/ja/web/css/text-spacing-trim/index.md
Owners: @mdn/yari-content-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/text-spacing-trim/index.md
Owners: @mdn/yari-content-ja

用語の統一: 命数法、計数法→記数法
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/getnumberingsystems/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/numberingsystem/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/ja/web/javascript/reference/global_objects/number/tolocalestring/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/measuring_performance/index.md
  files/ja/learn_web_development/extensions/performance/perceived_performance/index.md
  files/ja/learn_web_development/extensions/performance/what_is_web_performance/index.md
  files/ja/learn_web_development/extensions/performance/why_web_performance/index.md
Owners: @mdn/yari-content-ja

Improve line-height
  files/ja/web/css/line-height/index.md
Owners: @mdn/yari-content-ja

用語の修正: プライベートプロパティ→プライベート要素
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/mozilla/firefox/releases/90/index.md
  files/ja/web/javascript/guide/closures/index.md
  files/ja/web/javascript/guide/inheritance_and_the_prototype_chain/index.md
  files/ja/web/javascript/guide/language_overview/index.md
  files/ja/web/javascript/guide/using_classes/index.md
  files/ja/web/javascript/reference/classes/constructor/index.md
  files/ja/web/javascript/reference/classes/extends/index.md
  files/ja/web/javascript/reference/classes/index.md
  files/ja/web/javascript/reference/classes/private_elements/index.md
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
  files/ja/web/javascript/reference/classes/static/index.md
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
  files/ja/web/javascript/reference/global_objects/json/rawjson/index.md
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
  files/ja/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/seal/index.md
  files/ja/web/javascript/reference/global_objects/proxy/index.md
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.md
  files/ja/web/javascript/reference/index.md
  files/ja/web/javascript/reference/iteration_protocols/index.md
  files/ja/web/javascript/reference/lexical_grammar/index.md
  files/ja/web/javascript/reference/operators/in/index.md
  files/ja/web/javascript/reference/operators/object_initializer/index.md
  files/ja/web/javascript/reference/operators/property_accessors/index.md
  files/ja/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-ja

Improve line-height
  files/ja/web/css/line-height/index.md
Owners: @mdn/yari-content-ja

2025/03/26 時点の英語版に同期
  files/ja/mdn/community/community_participation_guidelines/index.md
Owners: @mdn/yari-content-ja

2025/06/26 時点の英語版に同期
  files/ja/web/api/pointer_events/index.md
Owners: @mdn/yari-content-ja

fix: flat compatibility incorrect
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

fix: correct slug formatting in Array.prototype.flat documentation
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

Update files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

Update files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

fix: update Array.prototype.flat documentation for clarity and accuracy
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

fix: remove "see compatibility" banner
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
Owners: @mdn/yari-content-pt-br

[zh-cn] update svg main page (#27842)
  files/zh-cn/web/svg/index.md
Owners: @mdn/yari-content-zh

Private property -> private element
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/zh-cn/web/javascript/guide/closures/index.md
  files/zh-cn/web/javascript/guide/inheritance_and_the_prototype_chain/index.md
  files/zh-cn/web/javascript/guide/using_classes/index.md
  files/zh-cn/web/javascript/reference/classes/constructor/index.md
  files/zh-cn/web/javascript/reference/classes/extends/index.md
  files/zh-cn/web/javascript/reference/classes/index.md
  files/zh-cn/web/javascript/reference/classes/private_elements/index.md
  files/zh-cn/web/javascript/reference/classes/public_class_fields/index.md
  files/zh-cn/web/javascript/reference/classes/static/index.md
  files/zh-cn/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/index.md
  files/zh-cn/web/javascript/reference/index.md
  files/zh-cn/web/javascript/reference/iteration_protocols/index.md
  files/zh-cn/web/javascript/reference/operators/delete/index.md
  files/zh-cn/web/javascript/reference/operators/object_initializer/index.md
  files/zh-cn/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
