Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

2025/07/02 時点の英語版に同期
  files/ja/mozilla/firefox/releases/92/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/css_nesting/using_css_nesting/index.md
Owners: @mdn/yari-content-ja

zh-cn: translate CSSLayerBlockRule name property
  files/zh-cn/web/api/csslayerblockrule/name/index.md
Owners: @mdn/yari-content-zh

2025/06/02 時点の英語版に同期
  files/ja/web/api/cssnesteddeclarations/index.md
Owners: @mdn/yari-content-ja

2025/06/02 時点の英語版に同期
  files/ja/web/api/cssnesteddeclarations/style/index.md
Owners: @mdn/yari-content-ja

2025/04/02 時点の英語版に同期
  files/ja/web/api/cssrule/index.md
Owners: @mdn/yari-content-ja

2025/01/28 時点の英語版に同期
  files/ja/web/api/css_object_model/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/web/api/window/atob/index.md
  files/ja/web/api/window/btoa/index.md
Owners: @mdn/yari-content-ja

ru: auto-fix content issues
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
Owners: @mdn/yari-content-ru

[zh-cn] update 'font-family' (#28038)
  files/zh-cn/web/css/@font-face/font-family/index.md
  files/zh-cn/web/css/font-family/index.md
Owners: @mdn/yari-content-zh

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ru

[zh-TW]: update api `customevent` (#27956)
  files/zh-tw/web/api/customevent/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `SyntaxError: return not in function` (#27932)
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `TypeError: "x" is not a function` (#27942)
  files/zh-tw/web/javascript/reference/errors/not_a_function/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/html/reference/global_attributes/writingsuggestions/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csslayerblockrule/name/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csslayerblockrule/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csslayerblockrule/name/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSLayerBlockRule name property (#28062)
  files/zh-cn/web/api/csslayerblockrule/name/index.md
Owners: @mdn/yari-content-zh

[zh-cn] init translation of writingsuggestions attribute (#28057)
  files/zh-cn/web/html/reference/global_attributes/writingsuggestions/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `TypeError: "x" is (not) "y"` (#27946)
  files/zh-tw/web/javascript/reference/errors/unexpected_type/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/csslayerblockrule/index.md
  files/zh-cn/web/api/csslayerblockrule/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSLayerBlockRule (#28050)
  files/zh-cn/web/api/csslayerblockrule/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update 'structuring documents'
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

fix list style
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

Update accessibility/aria/reference/roles/link_role: fixes or removes dead links
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr

Apply suggestion from @github-actions[bot]: <> link with parenthesis
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr

Apply suggestion from @github-actions[bot]: extra blank line
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr

docs: Fix broken links
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Owners: @mdn/yari-content-zh

2025/07/11 時点の英語版に同期
  files/ja/glossary/base64/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/uint8array/frombase64/index.md
  files/ja/web/javascript/reference/global_objects/uint8array/index.md
  files/ja/web/javascript/reference/global_objects/uint8array/uint8array/index.md
Owners: @mdn/yari-content-ja

[ru] auto-fix content issues (#28052)
  files/ru/learn_web_development/core/css_layout/multiple-column_layout/index.md
Owners: @mdn/yari-content-ru

remove unnecessary front matter field
  files/ru/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ru

[ru] sync translated content (#27867)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ru

Update /fr/docs/Web/Accessibility/ARIA/Reference/Roles/link_role from en_US
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Owners: @mdn/yari-content-fr
