Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Keep yarn.lock from main
  yarn.lock
Owners: @mdn/core-dev

Fixing wording
  files/fr/web/api/file_system_api/index.md
Owners: @mdn/yari-content-fr

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/extends/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/private_elements/index.md
Owners: @mdn/yari-content-ja

2025/07/20 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/constructor/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
Owners: @mdn/yari-content-ja

2025/08/29 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に基づき更新
  files/ja/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-ja

Update headings
  files/fr/web/html/reference/attributes/index.md
Owners: @mdn/yari-content-fr

Fix links flaws
  files/fr/web/html/reference/attributes/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/HTML/Reference/Attributes`
  files/fr/web/html/reference/attributes/index.md
Owners: @mdn/yari-content-fr

Update page content from en_US
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Translate samples
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Lint markdown
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Lint example
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Text cleanup
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Markdown table cleanup
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Markdown table cleanup
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

fr: update `Web/API/Document/createTreeWalker` (#26084)
  files/fr/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-fr

Fast forward link change
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

fix: Correct typo '반횐' to '반환'
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Owners: @mdn/yari-content-ko

Revise JavaScript object basics content in French
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

zh-CN: create `AnimationEvent/pseudoElement` (#28534)
  files/zh-cn/web/api/animationevent/pseudoelement/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioData/numberOfChannels` (#28527)
  files/zh-cn/web/api/audiodata/numberofchannels/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioData/numberOfFrames` (#28528)
  files/zh-cn/web/api/audiodata/numberofframes/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioDecoder/decodeQueueSize` (#28526)
  files/zh-cn/web/api/audiodecoder/decodequeuesize/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioData/timestamp` (#28524)
  files/zh-cn/web/api/audiodata/timestamp/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioEncoder/encodeQueueSize` (#28523)
  files/zh-cn/web/api/audioencoder/encodequeuesize/index.md
Owners: @mdn/yari-content-zh

feat: add Korean translation on Promise docs
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Owners: @mdn/yari-content-ko

Enhance object basics with constructors explanation
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

Update content on object basics in JavaScript
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

Fix formatting and update notification example
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

Update object syntax example in index.md
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

Update object name in example
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

fr: improve `/Learn_web_development/Core/Scripting/Object_basics` (#24268)
  files/fr/learn_web_development/core/scripting/object_basics/index.md
Owners: @mdn/yari-content-fr

Update files/zh-cn/web/api/animationevent/elapsedtime/index.md
  files/zh-cn/web/api/animationevent/elapsedtime/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/audioencoder/dequeue_event/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/http/reference/methods/options/index.md
  files/zh-cn/web/http/reference/methods/options/index.md
Owners: @mdn/yari-content-zh
