Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update files/fr/web/nouveau/index.md
  files/fr/web/nouveau/index.md
Owners: @mdn/yari-content-fr

test: use invalid locale
  files/fr/web/index.md
Owners: @mdn/yari-content-fr

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Owners: @mdn/yari-content-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/index.md
Owners: @mdn/yari-content-zh

typo
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
Owners: @mdn/yari-content-zh

fix sentences in Japanese
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Owners: @mdn/yari-content-ja

update
  files/zh-tw/web/http/reference/status/412/index.md
Owners: @mdn/yari-content-zh

fix wiki link
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
Owners: @mdn/yari-content-zh

Sync source commit
  files/zh-tw/web/api/xmlhttprequest/setrequestheader/index.md
  files/zh-tw/web/http/reference/headers/accept-ch/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-language/index.md
  files/zh-tw/web/http/reference/headers/accept/index.md
  files/zh-tw/web/http/reference/headers/age/index.md
  files/zh-tw/web/http/reference/headers/allow/index.md
  files/zh-tw/web/http/reference/headers/user-agent/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/headers/authorization/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/http/reference/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-zh

Revert "[ja]: update embedded live sample identifiers to Japanese"
  files/ja/web/api/document_object_model/whitespace/index.md
Owners: @mdn/yari-content-ja

[ja]: update live sample identifiers in whitespace examples
  files/ja/web/api/document_object_model/whitespace/index.md
Owners: @mdn/yari-content-ja

Sync source commit
  files/zh-tw/glossary/robots.txt/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/http/guides/session/index.md
  files/zh-tw/web/http/reference/status/406/index.md
  files/zh-tw/web/http/reference/status/407/index.md
  files/zh-tw/web/http/reference/status/408/index.md
  files/zh-tw/web/http/reference/status/409/index.md
  files/zh-tw/web/http/reference/status/410/index.md
  files/zh-tw/web/http/reference/status/411/index.md
  files/zh-tw/web/http/reference/status/412/index.md
  files/zh-tw/web/http/reference/status/413/index.md
  files/zh-tw/web/http/reference/status/414/index.md
  files/zh-tw/web/http/reference/status/415/index.md
  files/zh-tw/web/http/reference/status/416/index.md
  files/zh-tw/web/http/reference/status/417/index.md
  files/zh-tw/web/http/reference/status/418/index.md
  files/zh-tw/web/http/reference/status/421/index.md
  files/zh-tw/web/http/reference/status/422/index.md
  files/zh-tw/web/http/reference/status/423/index.md
  files/zh-tw/web/http/reference/status/424/index.md
  files/zh-tw/web/http/reference/status/425/index.md
  files/zh-tw/web/http/reference/status/426/index.md
  files/zh-tw/web/http/reference/status/428/index.md
  files/zh-tw/web/http/reference/status/429/index.md
  files/zh-tw/web/http/reference/status/431/index.md
  files/zh-tw/web/http/reference/status/451/index.md
  files/zh-tw/web/http/reference/status/500/index.md
  files/zh-tw/web/http/reference/status/501/index.md
  files/zh-tw/web/http/reference/status/502/index.md
  files/zh-tw/web/http/reference/status/503/index.md
  files/zh-tw/web/http/reference/status/504/index.md
  files/zh-tw/web/http/reference/status/505/index.md
  files/zh-tw/web/http/reference/status/506/index.md
  files/zh-tw/web/http/reference/status/507/index.md
  files/zh-tw/web/http/reference/status/508/index.md
  files/zh-tw/web/http/reference/status/510/index.md
  files/zh-tw/web/http/reference/status/511/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/web/css/_doublecolon_after/index.md
  files/zh-cn/web/css/content/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/vertical-align/index.md
  files/zh-cn/web/css/visual_formatting_model/index.md
  files/zh-cn/web/html/element/iframe/index.md
  files/zh-cn/web/html/element/img/index.md
  files/zh-cn/web/html/element/input/index.md
  files/zh-cn/web/html/element/textarea/index.md
  files/zh-cn/web/media/guides/images/index.md
Owners: @mdn/yari-content-zh

fix: correct parentheses usage in Korean logical operators example
  files/ko/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-ko

Remove unnecessary [!Note].
  files/ja/web/html/element/kbd/index.md
Owners: @mdn/yari-content-ja

[zh-CN]: Sync translation for Origin private file system
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Owners: @mdn/yari-content-zh

fix: add js-nolint comment for logical operators example
  files/ko/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-ko

[zh-CN]: Sync translation for File System API
  files/zh-cn/web/api/file_system_api/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSImageValue interface
  files/zh-cn/web/api/cssimagevalue/index.md
  files/zh-cn/web/api/cssimagevalue/magicwand.png
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `Blob`
  files/zh-cn/web/api/blob/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimagevalue/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for File API
  files/zh-cn/web/api/file_api/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for Using files from web applications
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `File`
  files/zh-cn/web/api/file/index.md
  files/zh-cn/web/api/file/lastmodified/index.md
  files/zh-cn/web/api/file/lastmodifieddate/index.md
  files/zh-cn/web/api/file/name/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `FileReader`
  files/zh-cn/web/api/filereader/index.md
Owners: @mdn/yari-content-zh

[zh-CN]: Sync translation for `FileReader.readAsDataURL-progress_event`
  files/zh-cn/web/api/filereader/progress_event/index.md
  files/zh-cn/web/api/filereader/readasdataurl/index.md
Owners: @mdn/yari-content-zh

[es]: Agrega traducción de files/en-us/learn_web_development/core/design_for_developers
  files/es/learn_web_development/core/design_for_developers/index.md
Owners: @mdn/yari-content-es

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_cascade/inheritance/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

[zh-tw] sync translated content (#26397)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_cascade/inheritance/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/html/element/fencedframe/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: sync sourceCommit (#26400)
  files/zh-tw/glossary/robots.txt/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/http/guides/session/index.md
  files/zh-tw/web/http/reference/status/406/index.md
  files/zh-tw/web/http/reference/status/407/index.md
  files/zh-tw/web/http/reference/status/408/index.md
  files/zh-tw/web/http/reference/status/409/index.md
  files/zh-tw/web/http/reference/status/410/index.md
  files/zh-tw/web/http/reference/status/411/index.md
  files/zh-tw/web/http/reference/status/412/index.md
  files/zh-tw/web/http/reference/status/413/index.md
  files/zh-tw/web/http/reference/status/414/index.md
  files/zh-tw/web/http/reference/status/415/index.md
  files/zh-tw/web/http/reference/status/416/index.md
  files/zh-tw/web/http/reference/status/417/index.md
  files/zh-tw/web/http/reference/status/418/index.md
  files/zh-tw/web/http/reference/status/421/index.md
  files/zh-tw/web/http/reference/status/422/index.md
  files/zh-tw/web/http/reference/status/423/index.md
  files/zh-tw/web/http/reference/status/424/index.md
  files/zh-tw/web/http/reference/status/425/index.md
  files/zh-tw/web/http/reference/status/426/index.md
  files/zh-tw/web/http/reference/status/428/index.md
  files/zh-tw/web/http/reference/status/429/index.md
  files/zh-tw/web/http/reference/status/431/index.md
  files/zh-tw/web/http/reference/status/451/index.md
  files/zh-tw/web/http/reference/status/500/index.md
  files/zh-tw/web/http/reference/status/501/index.md
  files/zh-tw/web/http/reference/status/502/index.md
  files/zh-tw/web/http/reference/status/503/index.md
  files/zh-tw/web/http/reference/status/504/index.md
  files/zh-tw/web/http/reference/status/505/index.md
  files/zh-tw/web/http/reference/status/506/index.md
  files/zh-tw/web/http/reference/status/507/index.md
  files/zh-tw/web/http/reference/status/508/index.md
  files/zh-tw/web/http/reference/status/510/index.md
  files/zh-tw/web/http/reference/status/511/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: correct the Webkit Bug link releated to "the focus movement issue" (#26372)
  files/zh-cn/web/api/selection/index.md
Owners: @mdn/yari-content-zh

zh-CN: update `window.WindowType` (#26287)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/windowtype/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `permissions.request()` (#26237)
  files/zh-cn/mozilla/add-ons/webextensions/api/permissions/request/index.md
Owners: @mdn/yari-content-zh
