Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

fix
  files/zh-tw/web/css/border-left-color/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/events/event_handlers/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/events/creating_and_triggering_events/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update "Event handlers" (#27775)
  files/zh-tw/web/events/event_handlers/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/border-image/index.md
  files/zh-tw/web/css/border-image/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/border-right-color/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/border-right-color/index.md
  files/zh-tw/web/css/border-right-color/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/border-top-color/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/css/border-right-color/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/css/border-left-color/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/border-top-color/index.md
  files/zh-tw/web/css/border-top-color/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/box-shadow/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/css/box-shadow/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/web/css/box-shadow/index.md
Owners: @mdn/yari-content-zh

chore(filecheck): compress images
  files/ja/web/progressive_web_apps/how_to/expose_common_actions_as_shortcuts/jump-list.png
  files/pt-br/web/html/element/progress/progress-1.png
Owners: @mdn/yari-content-ja, @mdn/yari-content-pt-br

web/api/EventTarget/addEventListener のタイポを修正
  files/ja/web/api/eventtarget/addeventlistener/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/zh-cn/glossary/interaction_to_next_paint/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/interaction_to_next_paint/index.md
Owners: @mdn/yari-content-zh

fix: Remove httpsidebar macro
  docs/ko/fully_untranslated_files/web/Web_HTTP_Headers_Set-Cookie.md
  files/es/conflicting/web/http/index.md
  files/es/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
  files/es/orphaned/web/http/basics_of_http/identifying_resources_on_the_web/index.md
  files/fr/conflicting/web/http/headers/index.md
  files/fr/conflicting/web/http/headers/referrer-policy/index.md
  files/fr/conflicting/web/http/index.md
  files/fr/orphaned/web/http/basics_of_http/identifying_resources_on_the_web/index.md
  files/fr/orphaned/web/http/headers/content-security-policy/plugin-types/index.md
  files/fr/web/http/reference/headers/server/index.md
  files/fr/web/http/reference/status/425/index.md
  files/ja/conflicting/web/http/headers/feature-policy/xr-spatial-tracking/index.md
  files/ja/conflicting/web/security/certificate_transparency/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/web/http/reference/headers/clear-site-data/index.md
  files/ja/web/http/reference/headers/early-data/index.md
  files/ko/conflicting/web/http/basics_of_http/mime_types/index.md
  files/ko/conflicting/web/http/headers/index.md
  files/ko/conflicting/web/http/index.md
  files/ko/orphaned/web/http/basics_of_http/identifying_resources_on_the_web/index.md
  files/ko/web/http/reference/headers/access-control-allow-origin/index.md
  files/pt-br/conflicting/web/http/headers/cookie/index.md
  files/pt-br/conflicting/web/http/headers/expect-ct/index.md
  files/pt-br/conflicting/web/http/headers/expect-ct_63e560324d2c47190db4456d746ba07b/index.md
  files/pt-br/conflicting/web/http/headers/index.md
  files/pt-br/conflicting/web/http/headers/set-cookie/index.md
  files/pt-br/conflicting/web/http/index.md
  files/pt-br/orphaned/web/http/basics_of_http/identifying_resources_on_the_web/index.md
  files/pt-br/orphaned/web/http/headers/accept-ch-lifetime/index.md
  files/pt-br/orphaned/web/http/headers/large-allocation/index.md
  files/pt-br/web/http/index.md
  files/pt-br/web/http/reference/headers/early-data/index.md
  files/pt-br/web/http/reference/methods/index.md
  files/pt-br/web/http/reference/status/425/index.md
  files/ru/web/http/guides/permissions_policy/index.md
  files/ru/web/http/reference/headers/index.md
  files/ru/web/http/reference/status/425/index.md
Owners: @mdn/yari-content-ko, @mdn/yari-content-es, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-pt-br, @mdn/yari-content-ru

fix typo: prerequesites -> prerequisites (#27929)
  CONTRIBUTING.md
Owners: @mdn/core-yari-content

[zh-TW]: update HTML `spellcheck` global attribute (#27778)
  files/zh-tw/web/html/reference/global_attributes/spellcheck/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `TypeError: null/undefined has no properties` (#27940)
  files/zh-tw/web/javascript/reference/errors/no_properties/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `InternalError: too much recursion` (#27945)
  files/zh-tw/web/javascript/reference/errors/too_much_recursion/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/uri/reference/path/index.md
Owners: @mdn/yari-content-zh

[zh-cn] create translation of URI path
  files/zh-cn/web/uri/reference/path/index.md
Owners: @mdn/yari-content-zh

2023/02/19 時点の英語版に同期
  files/ja/web/api/svgmaskelement/index.md
Owners: @mdn/yari-content-ja

2024/07/27 時点の英語版に同期
  files/ja/web/api/svgmaskelement/height/index.md
  files/ja/web/api/svgmaskelement/maskcontentunits/index.md
  files/ja/web/api/svgmaskelement/maskunits/index.md
  files/ja/web/api/svgmaskelement/width/index.md
  files/ja/web/api/svgmaskelement/x/index.md
  files/ja/web/api/svgmaskelement/y/index.md
Owners: @mdn/yari-content-ja

[zh-cn] update css all
  files/zh-cn/web/css/all/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/uri/reference/path/index.md
Owners: @mdn/yari-content-zh

getMonth(): fix typo
  files/ja/web/javascript/reference/global_objects/date/getmonth/index.md
Owners: @mdn/yari-content-ja

[zh-cn] create translation of url path (#27815)
  files/zh-cn/web/uri/reference/path/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/glossary/interaction_to_next_paint/index.md
  files/zh-cn/glossary/interaction_to_next_paint/index.md
Owners: @mdn/yari-content-zh

zh-CN: create the "Interaction to Next Paint" glossary term (#27700)
  files/zh-cn/glossary/interaction_to_next_paint/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/xmlhttprequest/index.md
  files/zh-tw/web/api/xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `XMLHttpRequest` (#27643)
  files/zh-tw/web/api/xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Learn web development "Angular filtering" (#27795)
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/glossary/invariant/index.md
  files/zh-cn/glossary/invariant/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Invariant` (#27922)
  files/zh-cn/glossary/invariant/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/ja/web/http/guides/cookies/index.md
Owners: @mdn/yari-content-ja

Ru - correct of the learn_web_development/core/accessibility/what_is_accessibility/index.md
  files/ru/learn_web_development/core/accessibility/what_is_accessibility/index.md
Owners: @mdn/yari-content-ru
