Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Delete files/ja/conflicting/learn_web_development/extensions/forms/index.md
  files/ja/conflicting/learn_web_development/extensions/forms/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_15d551e334c8b6869c53f2f5dca48c579e61d1fe6ad05067fc1870ef4c3ef062/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_15d551e334c8b6869c53f2f5dca48c579e61d1fe6ad05067fc1870ef4c3ef062/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_22e24eb800bdc8249bec203106f5e8659dcd5906a7b9c6772f628cc6933adad5/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_22e24eb800bdc8249bec203106f5e8659dcd5906a7b9c6772f628cc6933adad5/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_58a11e1e730bbd563fe9276c2a39fa58fbf081a1a43e03680bd843ab74d2b47e/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_58a11e1e730bbd563fe9276c2a39fa58fbf081a1a43e03680bd843ab74d2b47e/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_6cfe504d7083b238c7a0689132dbb68cad559de7882ceeb043bf87eeca478147/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_6cfe504d7083b238c7a0689132dbb68cad559de7882ceeb043bf87eeca478147/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_b242d7f12fda9b38ebcb72516378915e5a132e3f4d3831e2ec016c23a3c36720/index.md
Owners: @mdn/yari-content-ja

Delete files/ja/conflicting/learn_web_development/extensions/forms_d13688a1f23c09e79112b12fb2aa6a2861eb81ce95a6bae81023239b6caac771/index.md
  files/ja/conflicting/learn_web_development/extensions/forms_d13688a1f23c09e79112b12fb2aa6a2861eb81ce95a6bae81023239b6caac771/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#28045)
  files/ja/_redirects.txt
  files/ja/learn_web_development/extensions/forms/test_your_skills/advanced_styling/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/basic_controls/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/form_structure/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/styling_basics/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/gradient/radial-gradient/index.md
Owners: @mdn/yari-content-ja

zh-cn: translate CSSLayerBlockRule
  files/zh-cn/web/api/csslayerblockrule/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/ja/learn_web_development/extensions/forms/html5_input_types/index.md
  files/ja/learn_web_development/extensions/forms/other_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/ja/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-tw/web/css/descendant_combinator/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS "Descendant combinator" (#27882)
  files/zh-tw/web/css/descendant_combinator/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
  files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS "Consistent list indentation" (#27880)
  files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/css/css_fonts/woff/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/css_fonts/woff/index.md
  files/zh-tw/web/css/css_fonts/woff/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/css_fonts/woff/index.md
  files/zh-tw/web/css/css_fonts/woff/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS "WOFF" (#28002)
  files/zh-tw/web/css/css_fonts/woff/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csskeyframerule/style/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSSKeyframeRule style property (#28040)
  files/zh-cn/web/api/csskeyframerule/style/index.md
Owners: @mdn/yari-content-zh

fix(ci): add GITHUB_TOKEN env for `rari` related commands
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/sync-translated-content.yml
Owners: @mdn/core-dev

update css/font-family
  files/zh-cn/web/css/font-family/index.md
Owners: @mdn/yari-content-zh

Update `@font-face/font-family`
  files/zh-cn/web/css/@font-face/font-family/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Add_a_text_shadow` (#27925)
  files/zh-cn/learn_web_development/howto/solve_css_problems/add_a_text_shadow/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/customevent/index.md
  files/zh-tw/web/api/customevent/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/errors/bad_return/index.md
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/errors/bad_return/index.md
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/errors/redeclared_parameter/index.md
  files/zh-tw/web/javascript/reference/errors/redeclared_parameter/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/javascript/reference/errors/missing_curly_after_property_list/index.md
  files/zh-tw/web/javascript/reference/errors/missing_curly_after_property_list/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/javascript/reference/errors/not_a_function/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/css_flexible_box_layout/index.md
  files/zh-tw/web/css/css_flexible_box_layout/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/node/lookupprefix/index.md
Owners: @mdn/yari-content-zh

[zh-cn] init translation of writingsuggestions attribute
  files/zh-cn/web/html/reference/global_attributes/writingsuggestions/index.md
Owners: @mdn/yari-content-zh

fix(ci): add GITHUB_TOKEN env for `rari` related commands (#28056)
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/sync-translated-content.yml
Owners: @mdn/core-dev

Apply suggestions from code review
  files/zh-cn/web/html/reference/global_attributes/writingsuggestions/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Owners: @mdn/yari-content-zh

2025/07/14 時点の英語版に同期
  files/ja/web/css/_colon_nth-child/index.md
  files/ja/web/css/_colon_nth-last-child/index.md
  files/ja/web/css/_colon_nth-last-of-type/index.md
  files/ja/web/css/_colon_nth-of-type/index.md
Owners: @mdn/yari-content-ja

ja: auto-fix content issues
  files/ja/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/ja/learn_web_development/extensions/forms/html5_input_types/index.md
  files/ja/learn_web_development/extensions/forms/other_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/ja/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Owners: @mdn/yari-content-ja
