Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/zh-tw/web/api/blob/index.md
  files/zh-tw/web/api/blob/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/channel_messaging_api/index.md
  files/zh-tw/web/api/channel_messaging_api/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/channel_messaging_api/index.md
  files/zh-tw/web/api/channel_messaging_api/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/channel_messaging_api/index.md
  files/zh-tw/web/api/channel_messaging_api/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `console.assert()` static method (#27045)
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of `Response.status`
  files/zh-cn/web/api/response/status/index.md
Owners: @mdn/yari-content-zh

fixes anchor
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

es: remove msedge compat data license
  files/es/mozilla/add-ons/webextensions/api/i18n/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/es/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
Owners: @mdn/yari-content-es

ru: remove msedge compat data license
  files/ru/mozilla/add-ons/webextensions/api/windows/createtype/index.md
  files/ru/mozilla/add-ons/webextensions/api/windows/index.md
Owners: @mdn/yari-content-ru

ko: remove msedge compat data license
  files/ko/mozilla/add-ons/webextensions/api/pageaction/index.md
  files/ko/mozilla/add-ons/webextensions/api/pageaction/show/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/sync/index.md
Owners: @mdn/yari-content-ko

pt-br: remove msedge compat data license
  files/pt-br/mozilla/add-ons/webextensions/api/alarms/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/bookmarks/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/commands/index.md
Owners: @mdn/yari-content-pt-br

zh-tw: remove msedge compat data license
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/onchanged/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/cookies/onchangedcause/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/storage/index.md
  files/zh-tw/mozilla/add-ons/webextensions/api/storage/local/index.md
Owners: @mdn/yari-content-zh

zh-CN: update translation
  files/zh-cn/mozilla/add-ons/webextensions/api/downloads/downloaditem/index.md
Owners: @mdn/yari-content-zh

several updates
  files/zh-cn/mozilla/add-ons/webextensions/api/downloads/downloaditem/index.md
Owners: @mdn/yari-content-zh

several fixes
  files/ja/mozilla/add-ons/webextensions/api/devtools/index.md
  files/ja/mozilla/add-ons/webextensions/api/proxy/index.md
  files/ja/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
Owners: @mdn/yari-content-ja

2024/08/13 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/using_multicol_layouts/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/index.md
Owners: @mdn/yari-content-ja

2024/11/12 時点の英語版に同期
  files/ja/web/css/css_multicol_layout/basic_concepts/index.md
  files/ja/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/column-count/index.md
  files/ja/web/css/column-fill/index.md
  files/ja/web/css/column-gap/index.md
  files/ja/web/css/column-rule-color/index.md
  files/ja/web/css/column-rule-style/index.md
  files/ja/web/css/column-rule-width/index.md
  files/ja/web/css/column-span/index.md
  files/ja/web/css/column-width/index.md
  files/ja/web/css/columns/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/column-rule/index.md
Owners: @mdn/yari-content-ja

zh-CN: fix anchor in WebExtension translations (#27252)
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

zh-cn: add new page for WebAssembly.Global constructor (#26997)
  files/zh-cn/webassembly/reference/javascript_interface/global/global/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `ClipboardEvent` (#27035)
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API "Managing screen orientation" (#27053)
  files/zh-tw/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `CustomElementRegistry.define()` method (#27060)
  files/zh-tw/web/api/customelementregistry/define/index.md
Owners: @mdn/yari-content-zh

2025/04/14 時点の英語版に同期
  files/ja/web/css/css_overflow/css_carousels/carousel.drawio
  files/ja/web/css/css_overflow/css_carousels/carousel.png
  files/ja/web/css/css_overflow/css_carousels/index.md
Owners: @mdn/yari-content-ja

2025/02/09 時点の英語版に同期
  files/ja/web/css/overflow-block/index.md
Owners: @mdn/yari-content-ja

2024/12/20 時点の英語版に同期
  files/ja/web/css/overflow-inline/index.md
Owners: @mdn/yari-content-ja

2025/04/02 時点の英語版に同期
  files/ja/web/css/scroll-behavior/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/overflow/index.md
  files/ja/web/css/scroll-marker-group/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/overflow-x/index.md
  files/ja/web/css/overflow-y/index.md
  files/ja/web/css/text-overflow/index.md
Owners: @mdn/yari-content-ja

feat: Translate article `what_is_a_progressive_web_app` to pt-br
  files/pt-br/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
  files/pt-br/web/progressive_web_apps/guides/what_is_a_progressive_web_app/pwa-environment.svg
Owners: @mdn/yari-content-pt-br

zh-CN: update the translation of javascript
  files/zh-cn/web/javascript/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of CSS text (#27193)
  files/zh-cn/web/css/css_text/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Document.createRange()` method (#27075)
  files/zh-tw/web/api/document/createrange/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of HTTP `Pragma` header (#27142)
  files/zh-cn/web/http/reference/headers/pragma/index.md
Owners: @mdn/yari-content-zh

2025/04/14 時点の英語版に同期
  files/ja/web/css/_doublecolon_column/index.md
Owners: @mdn/yari-content-ja

2024/03/04 時点の英語版に同期
  files/ja/web/api/screen/index.md
Owners: @mdn/yari-content-ja

2024/07/24 時点の英語版に同期
  files/ja/web/api/screen/availheight/index.md
Owners: @mdn/yari-content-ja

2024/11/04 時点の英語版に同期
  files/ja/web/api/screen/availwidth/index.md
  files/ja/web/api/screen/height/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
