Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

Update files/ko/web/http/reference/headers/if-match/index.md
  files/ko/web/http/reference/headers/if-match/index.md
Owners: @mdn/yari-content-ko

[ko] headers if match 신규 번역 (#27483)
  files/ko/web/http/reference/headers/if-match/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/api/mouseevent/buttons/index.md
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/api/mouseevent/buttons/index.md
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

Update files/ko/web/api/mouseevent/buttons/index.md
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

[ko] mouse event buttons 신규 번역 (#27760)
  files/ko/web/api/mouseevent/buttons/index.md
Owners: @mdn/yari-content-ko

2025/03/03 時点の英語版に同期 (#27754)
  files/ja/web/css/_colon_autofill/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/_colon_any-link/index.md
  files/ja/web/css/_colon_checked/index.md
Owners: @mdn/yari-content-ja

[ja] fix typos in `Learn_web_development/Core/Styling_basics/Handling_conflicts`
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of WebAssembly.instantiate (#27356)
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Owners: @mdn/yari-content-zh

chore(l10n-zh): add glossary for interactive example common
  docs/zh-cn/glossary.md
Owners: @mdn/yari-content-zh

zh-cn: 修正markdown渲染
  files/zh-cn/glossary/media/css/index.md
  files/zh-cn/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/zh-cn/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/zh-cn/web/api/intersection_observer_api/index.md
  files/zh-cn/web/css/pseudo-classes/index.md
  files/zh-cn/web/http/guides/caching/index.md
  files/zh-cn/web/http/guides/content_negotiation/index.md
  files/zh-cn/web/http/guides/mime_types/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/proto/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix broken links
  files/zh-cn/learn_web_development/core/text_styling/web_fonts/index.md
Owners: @mdn/yari-content-zh

zh-cn: fix broken links (#27801)
  files/zh-cn/learn_web_development/core/text_styling/web_fonts/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/glossary/robots.txt/index.md
Owners: @mdn/yari-content-zh

Update docs/zh-cn/glossary.md
  docs/zh-cn/glossary.md
Owners: @mdn/yari-content-zh

Update docs/zh-cn/glossary.md
  docs/zh-cn/glossary.md
Owners: @mdn/yari-content-zh

zh-CN: update regexp test method (#27656)
  files/zh-cn/web/javascript/reference/global_objects/regexp/test/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `Geolocation` (#27660)
  files/zh-tw/web/api/geolocation/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update API `GeolocationPositionError` (#27664)
  files/zh-tw/web/api/geolocationpositionerror/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Compression_dictionary_transport` (#27697)
  files/zh-cn/glossary/compression_dictionary_transport/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Device_pixel` (#27693)
  files/zh-cn/glossary/device_pixel/index.md
Owners: @mdn/yari-content-zh

[ru] add `Glossary/WebM` translation (#26756)
  files/ru/glossary/webm/index.md
Owners: @mdn/yari-content-ru

[ru] add `Glossary/WebP` translation (#26757)
  files/ru/glossary/webp/index.md
Owners: @mdn/yari-content-ru

es: auto-fix content issues
  files/es/web/css/_colon_optional/index.md
  files/es/web/css/_colon_out-of-range/index.md
  files/es/web/css/border-inline/index.md
  files/es/web/css/filter-function/index.md
Owners: @mdn/yari-content-es

minor fixes
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

[zh-cn] fix min safe integer (#27780)
  files/zh-cn/web/javascript/reference/global_objects/number/min_safe_integer/index.md
Owners: @mdn/yari-content-zh

zh-cn: create the translate of HTML `content` attribute (#27781)
  files/zh-cn/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-zh

[es] auto-fix content issues (#27798)
  files/es/web/css/_colon_optional/index.md
  files/es/web/css/_colon_out-of-range/index.md
  files/es/web/css/border-inline/index.md
  files/es/web/css/filter-function/index.md
Owners: @mdn/yari-content-es

update
  files/zh-tw/mdn/writing_guidelines/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/html/reference/elements/meta/name/index.md
  files/zh-tw/web/http/reference/headers/authorization/index.md
  files/zh-tw/web/http/reference/headers/strict-transport-security/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/concat/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/entries/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/find/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/abs/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/acos/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/acosh/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/asin/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/asinh/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/atan/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/atan2/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/atanh/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/e/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/ln10/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/log2e/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/entries/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Owners: @mdn/yari-content-zh

fix
  files/zh-tw/mdn/community/translated_content/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update `Community/Translated_content` (#27583)
  files/zh-tw/mdn/community/translated_content/index.md
Owners: @mdn/yari-content-zh

2025/05/08 時点の英語版に同期
  files/ja/web/api/webvtt_api/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/pseudo-elements/index.md
Owners: @mdn/yari-content-ja

2025/06/16 時点の英語版に同期
  files/ja/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-ja

2025/03/05 時点の英語版に同期
  files/ja/web/css/css_syntax/at-rule/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/_colon_default/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/css/_colon_defined/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
