Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

2025/04/18 時点の英語版に同期
  files/ja/web/api/window/settimeout/index.md
Owners: @mdn/yari-content-ja

2025/04/08 時点の英語版に同期
  files/ja/web/api/workerglobalscope/setinterval/index.md
  files/ja/web/api/workerglobalscope/settimeout/index.md
Owners: @mdn/yari-content-ja

2024/09/27 時点の英語版に同期
  files/ja/web/api/workerglobalscope/structuredclone/index.md
Owners: @mdn/yari-content-ja

Update files/zh-tw/web/http/reference/status/203/index.md
  files/zh-tw/web/http/reference/status/203/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/comment/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/Cloud_computing` (#27472)
  files/zh-cn/glossary/cloud_computing/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of Comment API (#27496)
  files/zh-cn/web/api/comment/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/blink_element` (#27469)
  files/zh-cn/glossary/blink_element/index.md
Owners: @mdn/yari-content-zh

unify term static site
  files/zh-cn/learn_web_development/core/frameworks_libraries/introduction/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/ssg/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/scroll_snap/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/ssr/index.md
Owners: @mdn/yari-content-zh

unify terms in other files
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/zh-cn/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
  files/zh-cn/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/rate_limit/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/leading/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/scroll_snap/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/throttle/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/head_of_line_blocking/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/interaction_to_next_paint/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/just_in_time_compilation/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/debounce/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/compression_dictionary_transport/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/engine/javascript/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/throttle/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/debounce/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/glossary/replaced_elements/index.md
Owners: @mdn/yari-content-zh

disable "descriptive-link-text" rule temporary
  .markdownlint.jsonc
Owners: @mdn/core-dev

minor fixes
  files/zh-cn/web/api/summarizer_api/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Clipboard.read()` (#27464)
  files/zh-cn/web/api/clipboard/read/index.md
Owners: @mdn/yari-content-zh

zh-cn: add the translation of the Summarizer interface (#27639)
  files/zh-cn/web/api/summarizer_api/index.md
Owners: @mdn/yari-content-zh

zh-cn: update invalid image source (#27682)
  files/zh-cn/learn_web_development/core/css_layout/positioning/index.md
Owners: @mdn/yari-content-zh

translate deprecated role and aria-attributes
  files/ja/web/accessibility/aria/reference/attributes/aria-dropeffect/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-grabbed/index.md
  files/ja/web/accessibility/aria/reference/roles/directory_role/index.md
Owners: @mdn/yari-content-ja

2025/01/21 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/durationformat/index.md
Owners: @mdn/yari-content-ja

2025/04/28 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

2024/08/27 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/durationformat/supportedlocalesof/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

Update files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Owners: @mdn/yari-content-ja

2025/01/23 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/web/html/reference/elements/article/index.md
  files/zh-cn/web/html/reference/elements/article/index.md
Owners: @mdn/yari-content-zh

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
