Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

update the l10n.sourceCommit field
  files/zh-cn/webassembly/reference/javascript_interface/instance/instance/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/webassembly/reference/javascript_interface/instance/exports/index.md
Owners: @mdn/yari-content-zh

toSorted methode translated to spanish
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

Update files/es/web/javascript/reference/global_objects/array/tosorted/index.md
  files/es/web/javascript/reference/global_objects/array/tosorted/index.md
Owners: @mdn/yari-content-es

sync
  files/zh-tw/learn_web_development/core/accessibility/index.md
  files/zh-tw/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/zh-tw/learn_web_development/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/index.md
Owners: @mdn/yari-content-zh

sync
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/learn_web_development/core/accessibility/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Owners: @mdn/yari-content-zh

2025/03/18 時点の英語版に同期
  files/ja/web/css/css_conditional_rules/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/web/css/css_conditional_rules/using_feature_queries/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Owners: @mdn/yari-content-ja

2025/04/07 時点の英語版に同期
  files/ja/web/javascript/reference/lexical_grammar/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/attributes/rel/index.md
  files/ja/web/html/reference/attributes/rel/prefetch/index.md
  files/ja/web/html/reference/attributes/rel/preload/index.md
  files/ja/web/html/reference/attributes/rel/prerender/index.md
Owners: @mdn/yari-content-ja

2025/04/17 時点の英語版に同期 (#26975)
  files/ja/web/html/reference/attributes/rel/alternate_stylesheet/index.md
  files/ja/web/html/reference/attributes/rel/compression-dictionary/index.md
  files/ja/web/html/reference/attributes/rel/dns-prefetch/index.md
  files/ja/web/html/reference/attributes/rel/manifest/index.md
  files/ja/web/html/reference/attributes/rel/me/index.md
  files/ja/web/html/reference/attributes/rel/modulepreload/index.md
  files/ja/web/html/reference/attributes/rel/noopener/index.md
  files/ja/web/html/reference/attributes/rel/noreferrer/index.md
  files/ja/web/html/reference/attributes/rel/preconnect/index.md
Owners: @mdn/yari-content-ja

[ja] sync translated content (#27015)
  files/ja/_redirects.txt
  files/ja/learn_web_development/core/accessibility/test_your_skills/css_and_javascript/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills/wai-aria/index.md
  files/ja/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/ja/learn_web_development/core/structuring_content/test_your_skills/multimedia_and_embedding/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/test_your_skills/object-oriented_javascript/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/advanced_styling/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/basic_controls/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/form_structure/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/input_types/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/other_controls/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills/styling_basics/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/var/index.md
Owners: @mdn/yari-content-ja

ja: fix broken link on anchor (#27016)
  files/ja/web/api/urlsearchparams/index.md
Owners: @mdn/yari-content-ja

ja: add properties `imageSizes`, `imageSrcset`, and `integrity` to HT… (#26986)
  files/ja/web/api/htmllinkelement/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/web/css/css_conditional_rules/using_feature_queries/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Owners: @mdn/yari-content-ja

2025/03/11 時点の英語版に同期
  files/ja/web/css/contain/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/css/content-visibility/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/element/contentvisibilityautostatechange_event/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/contentvisibilityautostatechangeevent/index.md
Owners: @mdn/yari-content-ja

2024/07/04 時点の英語版に同期
  files/ja/web/api/contentvisibilityautostatechangeevent/skipped/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/csscontainerrule/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/css/contain/index.md
Owners: @mdn/yari-content-ja

2024/10/08 時点の英語版に同期
  files/ja/web/api/csscontainerrule/containername/index.md
  files/ja/web/api/csscontainerrule/containerquery/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/css/css_containment/container_queries/index.md
Owners: @mdn/yari-content-ja

2025/04/03 時点の英語版に同期
  files/ja/web/css/css_containment/using_css_containment/index.md
Owners: @mdn/yari-content-ja

2025/03/31 時点の英語版に同期
  files/ja/web/css/css_containment/container_size_and_style_queries/index.md
Owners: @mdn/yari-content-ja

update
  files/zh-tw/web/api/channel_messaging_api/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh

2025/03/11 時点の英語版に同期
  files/ja/web/css/box-decoration-break/index.md
  files/ja/web/css/break-after/index.md
  files/ja/web/css/break-before/index.md
  files/ja/web/css/break-inside/index.md
Owners: @mdn/yari-content-ja

2023/07/20 時点の英語版に同期
  files/ja/web/css/orphans/index.md
  files/ja/web/css/widows/index.md
Owners: @mdn/yari-content-ja

2023/06/22 時点の英語版に同期
  files/ja/web/css/css_fragmentation/index.md
Owners: @mdn/yari-content-ja

[zh-cn]: Optimize the translation for the index of "framework libraries"
  files/zh-cn/learn_web_development/core/frameworks_libraries/index.md
Owners: @mdn/yari-content-zh

nolint を追加
  files/ja/web/css/break-after/index.md
  files/ja/web/css/break-before/index.md
  files/ja/web/css/break-inside/index.md
Owners: @mdn/yari-content-ja

Update files/zh-tw/web/api/clipboardevent/index.md
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh
