Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

update translation
  files/zh-cn/web/api/chapterinformation/title/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/client/frametype/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/closeevent/reason/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/closeevent/wasclean/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/compositionevent/data/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/compositionevent/locale/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/credentialscontainer/preventsilentaccess/index.md
Owners: @mdn/yari-content-zh

update translation
  files/zh-cn/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-zh

2025/07/03 時点の英語版に基づき新規翻訳
  files/ja/web/api/window/navigation/index.md
Owners: @mdn/yari-content-ja

2025/02/04 時点の英語版に基づき更新
  files/ja/web/media/guides/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に基づき更新
  files/ja/web/media/guides/autoplay/index.md
Owners: @mdn/yari-content-ja

zh-cn: update the translation of "Getting started"
  files/zh-cn/learn_web_development/getting_started/your_first_website/index.md
Owners: @mdn/yari-content-zh

[ko] auto-fix content issues (#28716)
  files/ko/learn_web_development/core/styling_basics/index.md
Owners: @mdn/yari-content-ko

2025/08/28 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/input/index.md
Owners: @mdn/yari-content-ja

2025/08/29 時点の英語版に基づき更新
  files/ja/web/html/reference/attributes/form/index.md
Owners: @mdn/yari-content-ja

2025/07/11 時点の英語版に基づき更新
  files/ja/glossary/utf-16/index.md
Owners: @mdn/yari-content-ja

2025/07/11 時点の英語版に基づき更新
  files/ja/glossary/replaced_elements/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/web/html/reference/attributes/form/index.md
Owners: @mdn/yari-content-ja

Initial translation of x and y axis of the CSS SVG Properties
  files/fr/web/css/x/index.md
  files/fr/web/css/y/index.md
Owners: @mdn/yari-content-fr

updt: adding source commit
  files/fr/web/css/x/index.md
  files/fr/web/css/y/index.md
Owners: @mdn/yari-content-fr

fix: typos and wording
  files/fr/web/css/x/index.md
  files/fr/web/css/y/index.md
Owners: @mdn/yari-content-fr

fix: spacing
  files/fr/web/css/x/index.md
Owners: @mdn/yari-content-fr

zh-CN: create `DOMRectReadOnly/right` (#28489)
  files/zh-cn/web/api/domrectreadonly/right/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `DOMRectReadOnly/top` (#28490)
  files/zh-cn/web/api/domrectreadonly/top/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `AudioData/duration` (#28531)
  files/zh-cn/web/api/audiodata/duration/index.md
Owners: @mdn/yari-content-zh

fr: auto-fix content issues
  files/fr/conflicting/learn_web_development/core/structuring_content/index.md
  files/fr/conflicting/web/xml/xslt/guides/transforming_xml_with_xslt_f26a2538126e2f96b8f96a12f37c895cd1f1ccd9073a7f71711b846fb3475fb6/index.md
  files/fr/glossary/whitespace/index.md
  files/fr/learn_web_development/core/scripting/events/index.md
  files/fr/learn_web_development/extensions/async_js/introducing/index.md
  files/fr/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/fr/learn_web_development/extensions/forms/user_input_methods/index.md
  files/fr/mdn/guides/index.md
  files/fr/mozilla/firefox/releases/9/index.md
  files/fr/web/api/customevent/index.md
  files/fr/web/api/customevent/initcustomevent/index.md
  files/fr/web/api/document/createevent/index.md
  files/fr/web/api/document_object_model/events/index.md
  files/fr/web/api/document_object_model/using_the_document_object_model/index.md
  files/fr/web/api/element/copy_event/index.md
  files/fr/web/api/event/index.md
  files/fr/web/api/event/initevent/index.md
  files/fr/web/api/event/type/index.md
  files/fr/web/api/eventtarget/addeventlistener/index.md
  files/fr/web/api/eventtarget/dispatchevent/index.md
  files/fr/web/api/eventtarget/index.md
  files/fr/web/api/filereader/readasdataurl/index.md
  files/fr/web/api/index.md
  files/fr/web/api/node/firstchild/index.md
  files/fr/web/api/node/nextsibling/index.md
  files/fr/web/api/node/previoussibling/index.md
  files/fr/web/api/processinginstruction/index.md
  files/fr/web/api/xmlhttprequesteventtarget/abort_event/index.md
  files/fr/web/api/xmlhttprequesteventtarget/index.md
  files/fr/web/css/-moz-image-rect/index.md
  files/fr/web/html/guides/responsive_images/index.md
  files/fr/web/media/guides/audio_and_video_delivery/index.md
Owners: @mdn/yari-content-fr

minor fixes
  files/zh-cn/web/javascript/reference/execution_model/index.md
  files/zh-cn/web/javascript/reference/execution_model/runtime-environment-diagram.svg
Owners: @mdn/yari-content-zh

[zh-cn] update 'execution model' (#28646)
  files/zh-cn/web/javascript/reference/execution_model/index.md
  files/zh-cn/web/javascript/reference/execution_model/runtime-environment-diagram.svg
Owners: @mdn/yari-content-zh

Initial view-transition translation
  files/fr/web/css/@view-transition/index.md
Owners: @mdn/yari-content-fr

fix: spacing
  files/fr/web/css/@view-transition/index.md
Owners: @mdn/yari-content-fr

updt: wording
  files/fr/web/css/@view-transition/index.md
Owners: @mdn/yari-content-fr

fix: wording
  files/fr/web/css/@view-transition/index.md
Owners: @mdn/yari-content-fr

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
  files/es/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
Owners: @mdn/yari-content-es

fix: `::columns` -> `::column`
  files/ja/web/css/_doublecolon_column/index.md
Owners: @mdn/yari-content-ja

Cleaning conflict page for Games/Tools
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/games/tools/index.md
  files/fr/games/tools/index.md
Owners: @mdn/yari-content-fr

fix: typo
  files/fr/games/tools/index.md
Owners: @mdn/yari-content-fr

Apply suggestions from code review
  files/zh-cn/web/api/animationeffect/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/animationplaybackevent/index.md
Owners: @mdn/yari-content-zh

Cleaning conflict page for Learn_web_development/Core/Structuring_content
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn_web_development/core/css_layout/introduction/index.md
  files/fr/conflicting/learn_web_development/core/scripting/index.md
  files/fr/conflicting/learn_web_development/core/scripting_fb235ec2f43049f379fbefbc9e0e7ee10637a460ab94430af2a806ab533a3580/index.md
  files/fr/conflicting/learn_web_development/core/structuring_content/html_table_basics/index.md
  files/fr/conflicting/learn_web_development/core/structuring_content/index.md
  files/fr/conflicting/learn_web_development/core/structuring_content_2f5dc6d6e575054cc70e0a8faa24bef31907d53cee6754dd2c92e644e705a7d8/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics/what_is_css/index.md
  files/fr/conflicting/learn_web_development/core/styling_basics_beefded63afe2ba224c92b0dbe0482e175dee799d9c2519eae043aaa448c950f/index.md
  files/fr/conflicting/learn_web_development/extensions/forms/index.md
  files/fr/games/tools/index.md
  files/fr/glossary/tag/index.md
  files/fr/learn_web_development/core/css_layout/index.md
  files/fr/learn_web_development/core/scripting/index.md
  files/fr/learn_web_development/core/structuring_content/index.md
  files/fr/learn_web_development/core/styling_basics/index.md
  files/fr/learn_web_development/core/text_styling/index.md
  files/fr/learn_web_development/extensions/advanced_javascript_objects/index.md
  files/fr/learn_web_development/extensions/performance/index.md
  files/fr/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
  files/fr/learn_web_development/index.md
  files/fr/mdn/tutorials/index.md
  files/fr/web/html/index.md
Owners: @mdn/yari-content-fr

Apply suggestions from code review
  files/zh-cn/web/api/animationplaybackevent/timelinetime/index.md
Owners: @mdn/yari-content-zh
