Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[zh-TW]: update API `XMLHttpRequest.XMLHttpRequest()` constructor (#27648)
  files/zh-tw/web/api/xmlhttprequest/xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/window/localstorage/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/xmlhttprequest/open/index.md
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/xmlhttprequest/open/index.md
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/glossary/ssg/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Owners: @mdn/yari-content-zh

chore(deps): bump node from v20 to v22 (#27879)
  .nvmrc
  package.json
Owners: @mdn/core-dev

Update files/zh-tw/web/api/xmlhttprequest/open/index.md
  files/zh-tw/web/api/xmlhttprequest/open/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/css/descendant_combinator/index.md
Owners: @mdn/yari-content-zh

用語の修正: プライベートプロパティ→プライベート要素 (#27874)
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/mozilla/firefox/releases/90/index.md
  files/ja/web/javascript/guide/closures/index.md
  files/ja/web/javascript/guide/inheritance_and_the_prototype_chain/index.md
  files/ja/web/javascript/guide/language_overview/index.md
  files/ja/web/javascript/guide/using_classes/index.md
  files/ja/web/javascript/reference/classes/constructor/index.md
  files/ja/web/javascript/reference/classes/extends/index.md
  files/ja/web/javascript/reference/classes/index.md
  files/ja/web/javascript/reference/classes/private_elements/index.md
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
  files/ja/web/javascript/reference/classes/static/index.md
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
  files/ja/web/javascript/reference/global_objects/json/rawjson/index.md
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
  files/ja/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/seal/index.md
  files/ja/web/javascript/reference/global_objects/proxy/index.md
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.md
  files/ja/web/javascript/reference/index.md
  files/ja/web/javascript/reference/iteration_protocols/index.md
  files/ja/web/javascript/reference/lexical_grammar/index.md
  files/ja/web/javascript/reference/operators/in/index.md
  files/ja/web/javascript/reference/operators/object_initializer/index.md
  files/ja/web/javascript/reference/operators/property_accessors/index.md
  files/ja/web/javascript/reference/operators/this/index.md
Owners: @mdn/yari-content-ja

zh-cn: translate CSS Declaration topic
  files/zh-cn/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate CSS Declaration Block topic
  files/zh-cn/web/api/css_object_model/css_declaration_block/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/css_declaration/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/css_object_model/css_declaration_block/index.md
Owners: @mdn/yari-content-zh

zh-cn: translate topic "managing screen orientation" to zh-cn
  files/zh-cn/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `Glossary/SSG` (#27719)
  files/zh-cn/glossary/ssg/index.md
Owners: @mdn/yari-content-zh

2025/05/14 時点の英語版に同期
  files/ja/learn_web_development/howto/tools_and_setup/how_much_does_it_cost/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/ja/learn_web_development/howto/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/ja/learn_web_development/howto/tools_and_setup/what_are_browser_developer_tools/index.md
Owners: @mdn/yari-content-ja

2025/04/30 時点の英語版に同期
  files/ja/learn_web_development/howto/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/ja/learn_web_development/howto/tools_and_setup/index.md
  files/ja/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
  files/ja/learn_web_development/howto/tools_and_setup/upload_files_to_a_web_server/index.md
  files/ja/learn_web_development/howto/tools_and_setup/using_github_pages/index.md
  files/ja/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
Owners: @mdn/yari-content-ja

zh-tw: auto-fix content issues
  files/zh-tw/web/api/xmlhttprequest/status/index.md
  files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

es: auto-fix content issues
  files/es/web/javascript/guide/closures/index.md
  files/es/web/mathml/guides/index.md
Owners: @mdn/yari-content-es

[zh-tw] auto-fix content issues (#27889)
  files/zh-tw/web/api/xmlhttprequest/status/index.md
  files/zh-tw/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-zh

[es] auto-fix content issues (#27890)
  files/es/web/javascript/guide/closures/index.md
  files/es/web/mathml/guides/index.md
Owners: @mdn/yari-content-es

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/conflicting/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of the `SpeechSynthesis` interface
  files/zh-cn/web/api/speechsynthesis/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of "Drawing text"
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
Owners: @mdn/yari-content-zh

chore: Remove deploy page from peerjs guide
  files/zh-cn/_redirects.txt
  files/zh-cn/conflicting/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/setup/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#27892)
  files/zh-cn/_redirects.txt
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/deployment_and_further_reading/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/setup/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
Owners: @mdn/yari-content-zh

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/business_case_for_performance/index.md
  files/ja/learn_web_development/extensions/performance/html/index.md
  files/ja/learn_web_development/extensions/performance/video/index.md
Owners: @mdn/yari-content-ja

Update files/ja/learn_web_development/extensions/performance/javascript/index.md
  files/ja/learn_web_development/extensions/performance/javascript/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期
  files/ja/learn_web_development/extensions/performance/css/index.md
  files/ja/learn_web_development/extensions/performance/javascript/index.md
Owners: @mdn/yari-content-ja

2025/04/24 時点の英語版に同期
  files/ja/web/http/guides/caching/index.md
  files/ja/web/http/guides/caching/request-collapse.svg
  files/ja/web/http/guides/caching/type-of-cache.svg
Owners: @mdn/yari-content-ja

SVGを縮小
  files/ja/web/http/guides/caching/request-collapse.svg
  files/ja/web/http/guides/caching/type-of-cache.svg
Owners: @mdn/yari-content-ja

画像を修正
  files/ja/web/http/guides/caching/request-collapse.svg
  files/ja/web/http/guides/caching/type-of-cache.svg
Owners: @mdn/yari-content-ja

2025/06/27 時点の英語版に同期
  files/ja/web/api/document/index.md
Owners: @mdn/yari-content-ja

zh-cn: update the translation of `WebGL2RenderingContext.beginQuery()` (#27762)
  files/zh-cn/web/api/webgl2renderingcontext/beginquery/index.md
Owners: @mdn/yari-content-zh

[ja] fix: correct line number
  files/ja/webassembly/guides/rust_to_wasm/index.md
Owners: @mdn/yari-content-ja

zh-cn: resolve md linter err
  files/zh-cn/web/api/css_object_model/managing_screen_orientation/index.md
Owners: @mdn/yari-content-zh
