Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

[zh-cn]: update the translation of CSS `line-clamp` property
  files/zh-cn/web/css/line-clamp/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of WebGLRenderingContext `detachShader()` method
  files/zh-cn/web/api/webglrenderingcontext/detachshader/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/webglrenderingcontext/detachshader/index.md
Owners: @mdn/yari-content-zh

Add alternative translation of 'ターミナル': '端末'
  files/ja/learn_web_development/getting_started/environment_setup/command_line/index.md
Owners: @mdn/yari-content-ja

[zh-cn]: create the translation of CSS `::-moz-meter-bar` pseudo elements
  files/zh-cn/web/css/_doublecolon_-moz-meter-bar/index.md
Owners: @mdn/yari-content-zh

feat(l10n): translation of `Web/Accessibility/ARIA/Reference`
  files/fr/web/accessibility/aria/reference/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/definition_role`
  files/fr/web/accessibility/aria/reference/roles/definition_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/dialog_role`
  files/fr/web/accessibility/aria/reference/roles/dialog_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/directory_role`
  files/fr/web/accessibility/aria/reference/roles/directory_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/document_role`
  files/fr/web/accessibility/aria/reference/roles/document_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/feed_role`
  files/fr/web/accessibility/aria/reference/roles/feed_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/figure_role`
  files/fr/web/accessibility/aria/reference/roles/figure_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): trannslation of `Web/Accessibility/ARIA/Reference/Roles/form_role`
  files/fr/web/accessibility/aria/reference/roles/form_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/generic_role`
  files/fr/web/accessibility/aria/reference/roles/generic_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/grid_role`
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/gridcell_role`
  files/fr/web/accessibility/aria/reference/roles/gridcell_role/index.md
Owners: @mdn/yari-content-fr

updt(l10n): update of `Web/Accessibility/ARIA/Reference/Roles/group_role`
  files/fr/web/accessibility/aria/reference/roles/group_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/heading_role`
  files/fr/web/accessibility/aria/reference/roles/heading_role/index.md
Owners: @mdn/yari-content-fr

Update index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/img_role`
  files/fr/web/accessibility/aria/reference/roles/img_role/index.md
Owners: @mdn/yari-content-fr

feat(l10n): translation of `Web/Accessibility/ARIA/Reference/Roles/input_role`
  files/fr/web/accessibility/aria/reference/roles/input_role/index.md
Owners: @mdn/yari-content-fr

fix: links typo
  files/fr/web/accessibility/aria/reference/roles/directory_role/index.md
Owners: @mdn/yari-content-fr

fix(auto): grid spawing
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

fix(auto): grid spawing
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

fix(auto): grid spawing
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

fix(auto): grid spawing
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

fix(auto): grid spawing
  files/fr/web/accessibility/aria/reference/roles/grid_role/index.md
Owners: @mdn/yari-content-fr

fr: create `Web/Accessibility/ARIA/Reference` (#29119)
  files/fr/web/accessibility/aria/reference/index.md
Owners: @mdn/yari-content-fr

es: auto-fix content issues
  files/es/orphaned/web/api/globaleventhandlers/index.md
  files/es/web/api/filereader/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/filereader/readastext/index.md
  files/es/web/api/xmlhttprequesteventtarget/loadend_event/index.md
Owners: @mdn/yari-content-es

ko: auto-fix content issues
  files/ko/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/ko/web/css/css_colors/index.md
Owners: @mdn/yari-content-ko

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/learn_web_development/core/styling_basics_caad113ab4b172ad3cd3f6b04d466fd25bbbea60c1a37548c663858321ca18f3/index.md
  files/es/conflicting/learn_web_development/core/styling_basics_e9c27484fc406aa26076f7b27b254524ca1b80515004a02283c5839b451100d9/index.md
  files/es/web/css/css_colors/color_picker/index.md
Owners: @mdn/yari-content-es

Firefox 142 for developersを更新
  files/ja/mozilla/firefox/releases/142/index.md
Owners: @mdn/yari-content-ja

Firefox 143 for developersを翻訳
  files/ja/mozilla/firefox/releases/143/index.md
Owners: @mdn/yari-content-ja

Update index.md
  files/ja/mozilla/firefox/releases/143/index.md
Owners: @mdn/yari-content-ja

2025/09/20 時点の英語版に基づき新規翻訳
  files/ja/web/css/position-area_value/index.md
Owners: @mdn/yari-content-ja

2025/08/12 時点の英語版に基づき更新
  files/ja/learn_web_development/extensions/forms/customizable_select/index.md
Owners: @mdn/yari-content-ja

2025/08/28 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/select/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/option/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/optgroup/index.md
Owners: @mdn/yari-content-ja

2025/08/18 時点の英語版に基づき更新
  files/ja/web/html/reference/elements/label/index.md
Owners: @mdn/yari-content-ja
