Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

convert to new InteractiveExample
  files/zh-tw/web/html/global_attributes/class/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/web/api/htmlelement/autocorrect/index.md
  files/ja/web/api/htmlelement/index.md
Owners: @mdn/yari-content-ja

Web/API/WebGL_API/Tutorial/Using_textures_in_WebGL を更新 (#26767)
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Owners: @mdn/yari-content-ja

[ja]: update Math
  files/ja/web/javascript/reference/global_objects/math/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期 (#26769)
  files/ja/web/xml/xslt/reference/element/apply-imports/index.md
  files/ja/web/xml/xslt/reference/element/apply-templates/index.md
  files/ja/web/xml/xslt/reference/element/attribute-set/index.md
  files/ja/web/xml/xslt/reference/element/attribute/index.md
  files/ja/web/xml/xslt/reference/element/call-template/index.md
  files/ja/web/xml/xslt/reference/element/choose/index.md
  files/ja/web/xml/xslt/reference/element/comment/index.md
  files/ja/web/xml/xslt/reference/element/copy-of/index.md
  files/ja/web/xml/xslt/reference/element/copy/index.md
  files/ja/web/xml/xslt/reference/element/decimal-format/index.md
  files/ja/web/xml/xslt/reference/element/element/index.md
  files/ja/web/xml/xslt/reference/element/fallback/index.md
  files/ja/web/xml/xslt/reference/element/for-each/index.md
  files/ja/web/xml/xslt/reference/element/if/index.md
  files/ja/web/xml/xslt/reference/element/import/index.md
  files/ja/web/xml/xslt/reference/element/include/index.md
  files/ja/web/xml/xslt/reference/element/index.md
  files/ja/web/xml/xslt/reference/element/key/index.md
  files/ja/web/xml/xslt/reference/element/message/index.md
  files/ja/web/xml/xslt/reference/element/namespace-alias/index.md
  files/ja/web/xml/xslt/reference/element/number/index.md
  files/ja/web/xml/xslt/reference/element/otherwise/index.md
  files/ja/web/xml/xslt/reference/element/output/index.md
  files/ja/web/xml/xslt/reference/element/param/index.md
  files/ja/web/xml/xslt/reference/element/preserve-space/index.md
  files/ja/web/xml/xslt/reference/element/processing-instruction/index.md
  files/ja/web/xml/xslt/reference/element/sort/index.md
  files/ja/web/xml/xslt/reference/element/strip-space/index.md
  files/ja/web/xml/xslt/reference/element/stylesheet/index.md
  files/ja/web/xml/xslt/reference/element/template/index.md
  files/ja/web/xml/xslt/reference/element/text/index.md
  files/ja/web/xml/xslt/reference/element/transform/index.md
  files/ja/web/xml/xslt/reference/element/value-of/index.md
  files/ja/web/xml/xslt/reference/element/variable/index.md
  files/ja/web/xml/xslt/reference/element/when/index.md
  files/ja/web/xml/xslt/reference/element/with-param/index.md
  files/ja/web/xml/xslt/reference/index.md
Owners: @mdn/yari-content-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/reference/elements/input/button/index.md
  files/ja/web/html/reference/elements/input/checkbox/index.md
  files/ja/web/html/reference/elements/input/color/index.md
  files/ja/web/html/reference/elements/input/date/index.md
  files/ja/web/html/reference/elements/input/datetime-local/index.md
  files/ja/web/html/reference/elements/input/email/index.md
  files/ja/web/html/reference/elements/input/file/index.md
  files/ja/web/html/reference/elements/input/hidden/index.md
  files/ja/web/html/reference/elements/input/image/index.md
  files/ja/web/html/reference/elements/input/index.md
  files/ja/web/html/reference/elements/input/month/index.md
  files/ja/web/html/reference/elements/input/number/index.md
  files/ja/web/html/reference/elements/input/password/index.md
  files/ja/web/html/reference/elements/input/radio/index.md
  files/ja/web/html/reference/elements/input/range/index.md
  files/ja/web/html/reference/elements/input/reset/index.md
  files/ja/web/html/reference/elements/input/search/index.md
  files/ja/web/html/reference/elements/input/submit/index.md
  files/ja/web/html/reference/elements/input/tel/index.md
  files/ja/web/html/reference/elements/input/text/index.md
  files/ja/web/html/reference/elements/input/time/index.md
  files/ja/web/html/reference/elements/input/url/index.md
  files/ja/web/html/reference/elements/input/week/index.md
Owners: @mdn/yari-content-ja

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/ru/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/ru/learn_web_development/core/styling_basics/test_your_skills/selectors/index.md
Owners: @mdn/yari-content-ru

[zh-cn]: update the translation of DocumentFragment `querySelectorAll()` method (#26766)
  files/zh-cn/web/api/documentfragment/queryselectorall/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Owners: @mdn/yari-content-zh

zh-CN: update "Using server-sent events" (#26676)
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Owners: @mdn/yari-content-zh

[zh-cn] translate "Firefox tracking protection" (#26591)
  files/zh-cn/web/privacy/guides/firefox_tracking_protection/index.md
Owners: @mdn/yari-content-zh

zh-cn: update the translation of webassembly index (#26798)
  files/zh-cn/webassembly/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/web/api/domparser/index.md
  files/zh-cn/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `DOMParser` introduction (#26778)
  files/zh-cn/web/api/domparser/index.md
Owners: @mdn/yari-content-zh

[ko] 외부 링크 번역
  files/ko/glossary/debounce/index.md
Owners: @mdn/yari-content-ko

Update files/zh-cn/learn_web_development/core/scripting/return_values/index.md
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/learn_web_development/core/scripting/return_values/index.md
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Owners: @mdn/yari-content-zh

finished
  files/zh-cn/webassembly/reference/control_flow/end/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/webassembly/reference/control_flow/end/index.md
  files/zh-cn/webassembly/reference/control_flow/end/index.md
Owners: @mdn/yari-content-zh

fix typo: "레지스터화" -> "래스터화"
  files/ko/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-ko

zh-cn: add new page for if...else instruction
  files/zh-cn/webassembly/reference/control_flow/if...else/index.md
Owners: @mdn/yari-content-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

2025/02/05 時点の英語版に同期 (#26779)
  files/ja/web/xml/xpath/reference/axes/index.md
  files/ja/web/xml/xpath/reference/functions/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/boolean/index.md
  files/ja/web/xml/xpath/reference/functions/ceiling/index.md
  files/ja/web/xml/xpath/reference/functions/choose/index.md
  files/ja/web/xml/xpath/reference/functions/concat/index.md
  files/ja/web/xml/xpath/reference/functions/contains/index.md
  files/ja/web/xml/xpath/reference/functions/count/index.md
  files/ja/web/xml/xpath/reference/functions/current/index.md
  files/ja/web/xml/xpath/reference/functions/document/index.md
  files/ja/web/xml/xpath/reference/functions/element-available/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/name/index.md
  files/ja/web/xml/xpath/reference/functions/namespace-uri/index.md
  files/ja/web/xml/xpath/reference/functions/normalize-space/index.md
  files/ja/web/xml/xpath/reference/functions/not/index.md
  files/ja/web/xml/xpath/reference/functions/number/index.md
  files/ja/web/xml/xpath/reference/functions/position/index.md
  files/ja/web/xml/xpath/reference/functions/round/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/false/index.md
  files/ja/web/xml/xpath/reference/functions/floor/index.md
  files/ja/web/xml/xpath/reference/functions/format-number/index.md
  files/ja/web/xml/xpath/reference/functions/function-available/index.md
  files/ja/web/xml/xpath/reference/functions/generate-id/index.md
  files/ja/web/xml/xpath/reference/functions/id/index.md
  files/ja/web/xml/xpath/reference/functions/key/index.md
  files/ja/web/xml/xpath/reference/functions/lang/index.md
  files/ja/web/xml/xpath/reference/functions/last/index.md
  files/ja/web/xml/xpath/reference/functions/local-name/index.md
Owners: @mdn/yari-content-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/xpath/reference/functions/starts-with/index.md
  files/ja/web/xml/xpath/reference/functions/string-length/index.md
  files/ja/web/xml/xpath/reference/functions/string/index.md
  files/ja/web/xml/xpath/reference/functions/substring-after/index.md
  files/ja/web/xml/xpath/reference/functions/substring-before/index.md
  files/ja/web/xml/xpath/reference/functions/substring/index.md
  files/ja/web/xml/xpath/reference/functions/sum/index.md
  files/ja/web/xml/xpath/reference/functions/system-property/index.md
  files/ja/web/xml/xpath/reference/functions/translate/index.md
  files/ja/web/xml/xpath/reference/functions/true/index.md
  files/ja/web/xml/xpath/reference/functions/unparsed-entity-url/index.md
Owners: @mdn/yari-content-ja

Update files/zh-cn/webassembly/reference/control_flow/if...else/index.md
  files/zh-cn/webassembly/reference/control_flow/if...else/index.md
Owners: @mdn/yari-content-zh

[ko] svg amplitude 신규 번역
  files/ko/web/svg/reference/attribute/amplitude/index.md
Owners: @mdn/yari-content-ko

fix types
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Owners: @mdn/yari-content-zh

2025/03/06 時点の英語版に同期
  files/ja/glossary/accessible_name/index.md
Owners: @mdn/yari-content-ja

2025/04/12 時点の英語版に同期
  files/ja/learn_web_development/core/accessibility/accessibility_troubleshooting/index.md
  files/ja/learn_web_development/core/accessibility/css_and_javascript/index.md
  files/ja/learn_web_development/core/accessibility/html/index.md
  files/ja/learn_web_development/core/accessibility/index.md
  files/ja/learn_web_development/core/accessibility/mobile/index.md
  files/ja/learn_web_development/core/accessibility/multimedia/index.md
  files/ja/learn_web_development/core/accessibility/tooling/index.md
  files/ja/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/ja/learn_web_development/core/accessibility/what_is_accessibility/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/html/guides/index.md
  files/ja/web/html/how_to/index.md
  files/ja/web/html/index.md
  files/ja/web/html/reference/index.md
Owners: @mdn/yari-content-ja

docs/Web/HTML/Attributes 以下へのリンクを一括更新
  files/ja/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/ja/web/api/validitystate/typemismatch/index.md
  files/ja/web/html/guides/constraint_validation/index.md
  files/ja/web/html/reference/attributes/index.md
  files/ja/web/html/reference/attributes/max/index.md
  files/ja/web/html/reference/attributes/min/index.md
  files/ja/web/html/reference/attributes/placeholder/index.md
  files/ja/web/html/reference/elements/link/index.md
Owners: @mdn/yari-content-ja

2025/04/10 時点の英語版に同期
  files/ja/web/http/guides/cors/errors/corsmissingalloworigin/index.md
  files/ja/web/http/guides/cors/errors/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/guides/cors/errors/corsalloworiginnotmatchingorigin/index.md
  files/ja/web/http/guides/cors/errors/corsdidnotsucceed/index.md
  files/ja/web/http/guides/cors/errors/corsdisabled/index.md
  files/ja/web/http/guides/cors/errors/corsexternalredirectnotallowed/index.md
  files/ja/web/http/guides/cors/errors/corsinvalidallowheader/index.md
  files/ja/web/http/guides/cors/errors/corsmethodnotfound/index.md
  files/ja/web/http/guides/cors/errors/corsmissingallowcredentials/index.md
  files/ja/web/http/guides/cors/errors/corsnotsupportingcredentials/index.md
  files/ja/web/http/guides/cors/errors/corsoriginheadernotadded/index.md
  files/ja/web/http/guides/cors/errors/corspreflightdidnotsucceed/index.md
  files/ja/web/http/guides/cors/errors/corsrequestnothttp/index.md
Owners: @mdn/yari-content-ja

2025/03/13 時点の英語版に同期
  files/ja/web/http/reference/headers/user-agent/index.md
Owners: @mdn/yari-content-ja

2025/04/06 時点の英語版に同期
  files/ja/web/http/reference/headers/user-agent/firefox/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
