Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

[ja] Access Control Allow Method の更新
  files/ja/web/http/reference/headers/access-control-allow-methods/index.md
Owners: @mdn/yari-content-ja

2025/07/14 時点の英語版に同期
  files/ja/web/css/color-scheme/index.md
Owners: @mdn/yari-content-ja

Apply suggestions from code review
  files/zh-cn/web/api/cssfontfacerule/index.md
Owners: @mdn/yari-content-zh

ko: auto-fix content issues
  files/ko/glossary/cross-site_scripting/index.md
  files/ko/web/javascript/guide/closures/index.md
  files/ko/web/javascript/reference/functions/get/index.md
  files/ko/web/javascript/reference/global_objects/proxy/index.md
  files/ko/web/javascript/reference/global_objects/weakmap/index.md
  files/ko/web/javascript/reference/iteration_protocols/index.md
  files/ko/web/javascript/reference/operators/delete/index.md
  files/ko/web/javascript/reference/operators/super/index.md
  files/ko/web/security/subdomain_takeovers/index.md
Owners: @mdn/yari-content-ko

[zh-cn]: translate CSSFontFaceRule (#28105)
  files/zh-cn/web/api/cssfontfacerule/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update 'value processing' (#27915)
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `border-image` (#27968)
  files/zh-tw/web/css/border-image/index.md
Owners: @mdn/yari-content-zh

[ko] auto-fix content issues (#28053)
  files/ko/glossary/cross-site_scripting/index.md
  files/ko/web/javascript/guide/closures/index.md
  files/ko/web/javascript/reference/functions/get/index.md
  files/ko/web/javascript/reference/global_objects/proxy/index.md
  files/ko/web/javascript/reference/global_objects/weakmap/index.md
  files/ko/web/javascript/reference/iteration_protocols/index.md
  files/ko/web/javascript/reference/operators/delete/index.md
  files/ko/web/javascript/reference/operators/super/index.md
  files/ko/web/security/subdomain_takeovers/index.md
Owners: @mdn/yari-content-ko

[ko] svg storke linejoin 신규 번역 (#28023)
  files/ko/web/svg/reference/attribute/stroke-linejoin/index.md
Owners: @mdn/yari-content-ko

[zh-cn] update 'property accessors' (#28109)
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
Owners: @mdn/yari-content-zh

[ko] fix `web/css/place-items` (#27997)
  files/ko/web/css/place-items/index.md
Owners: @mdn/yari-content-ko

docs: `WebUSB API` 페이지 신규 번역 (#27960)
  files/ko/web/api/webusb_api/index.md
Owners: @mdn/yari-content-ko

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

fix: fixed misplaced parenthesis
  files/ru/web/javascript/reference/statements/for/index.md
Owners: @mdn/yari-content-ru

Update index.md
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: translate CSSKeyframesRule
  files/zh-cn/web/api/csskeyframesrule/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/css/_colon_first-of-type/index.md
  files/zh-tw/web/css/_colon_first-of-type/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `:first-of-type` (#27950)
  files/zh-tw/web/css/_colon_first-of-type/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssmediarule/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `CSSMediaRule` introduction (#28101)
  files/zh-cn/web/api/cssmediarule/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update Learn web development "What is JavaScript" (#27857)
  files/zh-tw/learn_web_development/core/scripting/what_is_javascript/index.md
Owners: @mdn/yari-content-zh

[zh-TW]: update CSS `background-color` (#27953)
  files/zh-tw/web/css/background-color/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/web/api/csskeyframesrule/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: translate CSSKeyframesRule name property
  files/zh-cn/web/api/csskeyframesrule/name/index.md
Owners: @mdn/yari-content-zh

[ko] svg clip-path 신규 번역 (#27843)
  files/ko/web/svg/reference/attribute/clip-path/index.md
Owners: @mdn/yari-content-ko

[zh-cn]: translate CSSKeyframesRule length property
  files/zh-cn/web/api/csskeyframesrule/length/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: translate CSSKeyframesRule (#28115)
  files/zh-cn/web/api/csskeyframesrule/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Owners: @mdn/yari-content-zh

fix typo
  files/ja/web/http/guides/mime_types/common_types/index.md
  files/zh-cn/web/api/document/createrange/index.md
Owners: @mdn/yari-content-ja, @mdn/yari-content-zh

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/numberformat/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期 (#28077)
  files/ja/web/javascript/reference/global_objects/atomics/add/index.md
  files/ja/web/javascript/reference/global_objects/atomics/and/index.md
  files/ja/web/javascript/reference/global_objects/atomics/compareexchange/index.md
  files/ja/web/javascript/reference/global_objects/atomics/exchange/index.md
  files/ja/web/javascript/reference/global_objects/atomics/index.md
  files/ja/web/javascript/reference/global_objects/atomics/islockfree/index.md
  files/ja/web/javascript/reference/global_objects/atomics/load/index.md
  files/ja/web/javascript/reference/global_objects/atomics/notify/index.md
  files/ja/web/javascript/reference/global_objects/atomics/or/index.md
  files/ja/web/javascript/reference/global_objects/atomics/pause/index.md
  files/ja/web/javascript/reference/global_objects/atomics/store/index.md
  files/ja/web/javascript/reference/global_objects/atomics/sub/index.md
  files/ja/web/javascript/reference/global_objects/atomics/wait/index.md
  files/ja/web/javascript/reference/global_objects/atomics/waitasync/index.md
  files/ja/web/javascript/reference/global_objects/atomics/xor/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期 (#28078)
  files/ja/web/html/reference/elements/meta/http-equiv/index.md
  files/ja/web/html/reference/elements/meta/index.md
  files/ja/web/html/reference/elements/meta/name/color-scheme/index.md
  files/ja/web/html/reference/elements/meta/name/index.md
  files/ja/web/html/reference/elements/meta/name/referrer/index.md
  files/ja/web/html/reference/elements/meta/name/robots/index.md
  files/ja/web/html/reference/elements/meta/name/theme-color/index.md
  files/ja/web/html/reference/elements/meta/name/viewport/index.md
Owners: @mdn/yari-content-ja

2025/07/10 時点の英語版に同期
  files/ja/web/html/reference/attributes/content/index.md
Owners: @mdn/yari-content-ja

2025/05/05 時点の英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/categories/index.md
  files/ja/web/progressive_web_apps/manifest/reference/description/index.md
  files/ja/web/progressive_web_apps/manifest/reference/id/index.md
  files/ja/web/progressive_web_apps/manifest/reference/index.md
  files/ja/web/progressive_web_apps/manifest/reference/name/index.md
  files/ja/web/progressive_web_apps/manifest/reference/prefer_related_applications/index.md
  files/ja/web/progressive_web_apps/manifest/reference/share_target/index.md
  files/ja/web/progressive_web_apps/manifest/reference/short_name/index.md
Owners: @mdn/yari-content-ja

2025/06/24 時点の英語版に同期 (#28082)
  files/ja/web/progressive_web_apps/manifest/reference/background_color/index.md
  files/ja/web/progressive_web_apps/manifest/reference/display/index.md
  files/ja/web/progressive_web_apps/manifest/reference/display_override/index.md
  files/ja/web/progressive_web_apps/manifest/reference/icons/index.md
  files/ja/web/progressive_web_apps/manifest/reference/note_taking/index.md
  files/ja/web/progressive_web_apps/manifest/reference/orientation/index.md
  files/ja/web/progressive_web_apps/manifest/reference/protocol_handlers/index.md
  files/ja/web/progressive_web_apps/manifest/reference/related_applications/index.md
  files/ja/web/progressive_web_apps/manifest/reference/scope/index.md
  files/ja/web/progressive_web_apps/manifest/reference/screenshots/index.md
  files/ja/web/progressive_web_apps/manifest/reference/serviceworker/index.md
  files/ja/web/progressive_web_apps/manifest/reference/shortcuts/index.md
  files/ja/web/progressive_web_apps/manifest/reference/start_url/index.md
Owners: @mdn/yari-content-ja

2025/06/30 時点の英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/file_handlers/index.md
Owners: @mdn/yari-content-ja

2025/07/03 時点の英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/launch_handler/index.md
Owners: @mdn/yari-content-ja

2025/07/08 時点の英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/scope_extensions/index.md
Owners: @mdn/yari-content-ja

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore
