Repository mdn/translated-content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-dev, @mdn/core-yari-content, @mdn/yari-content-pt-br, @mdn/yari-content-zh, @mdn/yari-content-fr, @mdn/yari-content-ja, @mdn/yari-content-ko, @mdn/yari-content-ru, @mdn/yari-content-es

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-dev

# ----------------------------------------------------------------------------
# DEFAULT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# BRAZILIAN PORTUGUESE (pt-BR) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/pt-br/    @mdn/yari-content-pt-br

# ----------------------------------------------------------------------------
# CHINESE (zh-CN, zh-TW) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/zh-cn/    @mdn/yari-content-zh
/files/zh-tw/    @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# FRENCH (fr) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/fr/    @mdn/yari-content-fr

# ----------------------------------------------------------------------------
# JAPANESE (ja) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ja/    @mdn/yari-content-ja

# ----------------------------------------------------------------------------
# KOREAN (ko) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ko/    @mdn/yari-content-ko

# ----------------------------------------------------------------------------
# RUSSIAN (ru) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/ru/    @mdn/yari-content-ru

# ----------------------------------------------------------------------------
# SPANISH (es) CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/es/    @mdn/yari-content-es

# ----------------------------------------------------------------------------
# TRANSLATION GUIDE OWNER(S)
# ----------------------------------------------------------------------------
/docs/        @mdn/core-yari-content
/docs/es/     @mdn/yari-content-es
/docs/fr/     @mdn/yari-content-fr
/docs/ja/     @mdn/yari-content-ja
/docs/ko/     @mdn/yari-content-ko
/docs/pt-br/  @mdn/yari-content-pt-br
/docs/ru/     @mdn/yari-content-ru
/docs/zh-cn/  @mdn/yari-content-zh
/docs/zh-tw/  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# ISSUE TEMPLATE OWNER(S)
# ----------------------------------------------------------------------------
.github/ISSUE_TEMPLATE/page-report-es.yml     @mdn/yari-content-es
.github/ISSUE_TEMPLATE/page-report-fr.yml     @mdn/yari-content-fr
.github/ISSUE_TEMPLATE/page-report-ja.yml     @mdn/yari-content-ja
.github/ISSUE_TEMPLATE/page-report-ko.yml     @mdn/yari-content-ko
.github/ISSUE_TEMPLATE/page-report-pt-br.yml  @mdn/yari-content-pt-br
.github/ISSUE_TEMPLATE/page-report-ru.yml     @mdn/yari-content-ru
.github/ISSUE_TEMPLATE/page-report-zh-cn.yml  @mdn/yari-content-zh
.github/ISSUE_TEMPLATE/page-report-zh-tw.yml  @mdn/yari-content-zh

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-dev @mdn/core-yari-content
/CONTRIBUTING.md            @mdn/core-yari-content
/PEERS_GUIDELINES.md        @mdn/core-yari-content
/.prettierignore

Update files/zh-tw/web/api/clipboardevent/index.md
  files/zh-tw/web/api/clipboardevent/index.md
Owners: @mdn/yari-content-zh

ja: auto-fix content issues
  files/ja/learn_web_development/core/accessibility/css_and_javascript/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills/wai-aria/index.md
  files/ja/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/ja/learn_web_development/core/structuring_content/html_images/index.md
  files/ja/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/form_validation/index.md
  files/ja/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/ja/learn_web_development/extensions/forms/html5_input_types/index.md
  files/ja/learn_web_development/extensions/forms/other_form_controls/index.md
  files/ja/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/ja/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/ja/mdn/writing_guidelines/learning_content/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Owners: @mdn/yari-content-ja

[zh-TW]: update API "AbortController" (#26909)
  files/zh-tw/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.onHeadersReceived` (#26815)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Owners: @mdn/yari-content-zh

remove `original_slug`
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/test_your_skills/object-oriented_javascript/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/zh-cn/learn_web_development/core/structuring_content/creating_links/index.md
  files/zh-cn/learn_web_development/core/structuring_content/general_embedding_technologies/index.md
  files/zh-cn/learn_web_development/core/structuring_content/html_images/index.md
  files/zh-cn/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/zh-cn/learn_web_development/core/structuring_content/lists/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/zh-cn/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/zh-cn/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/zh-cn/learn_web_development/extensions/forms/html5_input_types/index.md
  files/zh-cn/learn_web_development/extensions/forms/other_form_controls/index.md
  files/zh-cn/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/zh-cn/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/zh-cn/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/zh-cn/web/api/keyboardevent/charcode/index.md
Owners: @mdn/yari-content-zh

[zh-cn] sync translated content (#27013)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/zh-cn/learn_web_development/core/structuring_content/creating_links/index.md
  files/zh-cn/learn_web_development/core/structuring_content/general_embedding_technologies/index.md
  files/zh-cn/learn_web_development/core/structuring_content/html_images/index.md
  files/zh-cn/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/zh-cn/learn_web_development/core/structuring_content/lists/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/test_your_skills/object-oriented_javascript/index.md
  files/zh-cn/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/zh-cn/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
  files/zh-cn/learn_web_development/extensions/forms/html5_input_types/index.md
  files/zh-cn/learn_web_development/extensions/forms/other_form_controls/index.md
  files/zh-cn/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/zh-cn/learn_web_development/extensions/forms/ui_pseudo-classes/index.md
  files/zh-cn/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/zh-cn/web/api/keyboardevent/charcode/index.md
Owners: @mdn/yari-content-zh

fix broken links
  files/zh-tw/learn_web_development/core/scripting/strings/index.md
  files/zh-tw/learn_web_development/core/structuring_content/creating_links/index.md
  files/zh-tw/learn_web_development/core/structuring_content/html_images/index.md
  files/zh-tw/learn_web_development/core/structuring_content/test_your_skills/multimedia_and_embedding/index.md
  files/zh-tw/web/api/event/stoppropagation/index.md
  files/zh-tw/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-zh

[zh-tw] sync translated content (#27014)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/learn_web_development/core/scripting/strings/index.md
  files/zh-tw/learn_web_development/core/structuring_content/creating_links/index.md
  files/zh-tw/learn_web_development/core/structuring_content/html_images/index.md
  files/zh-tw/learn_web_development/core/structuring_content/test_your_skills/multimedia_and_embedding/index.md
  files/zh-tw/web/api/event/stoppropagation/index.md
  files/zh-tw/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/closeevent/index.md
Owners: @mdn/yari-content-zh

update
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh

Apply suggestions from code review
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/console/assert_static/index.md
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/fr/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-fr

Update files/zh-tw/web/api/console/assert_static/index.md
  files/zh-tw/web/api/console/assert_static/index.md
Owners: @mdn/yari-content-zh

minor fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
Owners: @mdn/yari-content-zh

zh-CN: create `webRequest.filterResponseData()` (#26806)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of Window `parent` property (#26927)
  files/zh-cn/web/api/window/parent/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: update the translation of `AmbientLightSensor` introduction (#26945)
  files/zh-cn/web/api/ambientlightsensor/index.md
Owners: @mdn/yari-content-zh

zh-CN: fix fields description in webRequest CertificateInfo (#27047)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/animationevent/index.md
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/animationevent/index.md
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

Update files/zh-tw/web/api/animationevent/index.md
  files/zh-tw/web/api/animationevent/index.md
Owners: @mdn/yari-content-zh

[zh-cn] update pseudo-classes
  files/zh-cn/web/css/pseudo-classes/index.md
Owners: @mdn/yari-content-zh

[zh-cn]: fix typo in Worker (#27049)
  files/zh-cn/web/api/worker/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
Owners: @mdn/yari-content-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
Owners: @mdn/yari-content-zh

Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Owners: @mdn/yari-content-zh

2025/03/25 時点の英語版に同期
  files/ja/web/svg/reference/element/animate/index.md
Owners: @mdn/yari-content-ja
