Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
Labels: l10n-zh

zh-CN: create `windows.get()` (#26314)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/get/index.md
Labels: l10n-zh

zh-CN: create `windows.onFocusChanged` (#26318)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.md
Labels: l10n-zh

zh-CN: create `windows.getCurrent()` (#26317)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/getcurrent/index.md
Labels: l10n-zh

zh-CN: create `windows.onCreated` (#26320)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/oncreated/index.md
Labels: l10n-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Labels: l10n-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/entries/index.md
Labels: l10n-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Labels: l10n-zh

update
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-zh

add sourceCommit
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-zh

zh-cn: update the translation of the `MediaStream()` constructor
  files/zh-cn/web/api/mediastream/mediastream/index.md
Labels: l10n-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Labels: l10n-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Labels: l10n-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Labels: l10n-zh

update
  files/zh-tw/web/http/reference/headers/server/index.md
Labels: l10n-zh

chore(css): Move CSS examples and sync translation - Visual formatting model (#25096)
  files/zh-cn/web/css/visual_formatting_model/index.md
Labels: l10n-zh

2025/02/18 時点の英語版に同期
  files/ja/web/svg/attribute/baseline-shift/index.md
  files/ja/web/svg/attribute/display/index.md
  files/ja/web/svg/attribute/dominant-baseline/index.md
  files/ja/web/svg/attribute/font-size/index.md
Labels: l10n-ja

translate aria-orientation
  files/ja/web/accessibility/aria/reference/attributes/aria-orientation/index.md
Labels: l10n-ja

Update files/zh-cn/web/api/filereader/index.md
  files/zh-cn/web/api/filereader/index.md
Labels: l10n-zh

sync changes
  files/zh-cn/web/api/file_system_api/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/api/file_system_api/index.md
Labels: l10n-zh

update sha
  files/zh-cn/web/api/window/showdirectorypicker/index.md
  files/zh-cn/web/api/window/showopenfilepicker/index.md
  files/zh-cn/web/api/window/showsavefilepicker/index.md
Labels: l10n-zh

[es]: Agrega traduccion de files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage
  files/es/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Labels: l10n-es

sync page guidelines/howto
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: l10n-es

Apply suggestions from code review
  files/es/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: l10n-es

2023/05/22 時点の英語版に同期
  files/ja/web/svg/attribute/rotate/index.md
Labels: l10n-ja

2024/11/15 時点の英語版に同期
  files/ja/web/svg/attribute/textlength/index.md
Labels: l10n-ja

[zh-CN]: Sync translation for `FileReader` (#26411)
  files/zh-cn/web/api/filereader/index.md
Labels: l10n-zh

zh-CN: create `windows.WINDOW_ID_NONE` (#26324)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_none/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for File System API (#26405)
  files/zh-cn/web/api/file_system_api/index.md
Labels: l10n-zh

add dot to end of second paragraph
  files/es/web/javascript/reference/operators/this/index.md
Labels: l10n-es

zh-cn: update the translation of `MediaCapabilities.encodingInfo()`
  files/zh-cn/web/api/mediacapabilities/encodinginfo/index.md
Labels: l10n-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Labels: l10n-zh

zh-CN: create `windows.remove()` (#26321)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/remove/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for Origin private file system (#26404)
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for File API (#26408)
  files/zh-cn/web/api/file_api/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for `FileReader.readAsDataURL-progress_event` (#26412)
  files/zh-cn/web/api/filereader/progress_event/index.md
  files/zh-cn/web/api/filereader/readasdataurl/index.md
Labels: l10n-zh

correct vue tag
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Labels: l10n-zh

unify table caption
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
Labels: l10n-zh

some other updates
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_styling/index.md
Labels: l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
