Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgtextcontentelement/getcharnumatposition/index.md
  files/ja/web/api/svgtextcontentelement/getcomputedtextlength/index.md
  files/ja/web/api/svgtextcontentelement/getendpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getextentofchar/index.md
  files/ja/web/api/svgtextcontentelement/getnumberofchars/index.md
  files/ja/web/api/svgtextcontentelement/getrotationofchar/index.md
  files/ja/web/api/svgtextcontentelement/getstartpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getsubstringlength/index.md
Labels: l10n-ja

aria-valuenow と aria-valuetext を翻訳 (#26624)
  files/ja/web/accessibility/aria/reference/attributes/aria-valuenow/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-valuetext/index.md
Labels: l10n-ja

translate aria-required
  files/ja/web/accessibility/aria/reference/attributes/aria-required/index.md
Labels: l10n-ja

[ko] gloassry bun 신규 번역 (#26668)
  files/ko/glossary/bun/index.md
Labels: l10n-ko

zh-cn: auto-fix content issues
  files/zh-cn/web/api/view_transition_api/index.md
Labels: l10n-zh

[zh-cn] auto-fix content issues (#26671)
  files/zh-cn/web/api/view_transition_api/index.md
Labels: l10n-zh

[zh-cn]: migrate remaining interactive examples (#26603)
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/gradient/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/groupby/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-zh

2025/01/02 時点の英語版に同期
  files/ja/web/api/svgtransformlist/appenditem/index.md
  files/ja/web/api/svgtransformlist/clear/index.md
  files/ja/web/api/svgtransformlist/consolidate/index.md
  files/ja/web/api/svgtransformlist/createsvgtransformfrommatrix/index.md
  files/ja/web/api/svgtransformlist/getitem/index.md
  files/ja/web/api/svgtransformlist/initialize/index.md
  files/ja/web/api/svgtransformlist/insertitembefore/index.md
  files/ja/web/api/svgtransformlist/length/index.md
  files/ja/web/api/svgtransformlist/numberofitems/index.md
  files/ja/web/api/svgtransformlist/removeitem/index.md
  files/ja/web/api/svgtransformlist/replaceitem/index.md
Labels: l10n-ja

aria-roledescriptionを翻訳 (#26626)
  files/ja/web/accessibility/aria/reference/attributes/aria-roledescription/index.md
Labels: l10n-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgnumber/value/index.md
Labels: l10n-ja

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
Labels: l10n-zh

Update index.md
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/requestfilter/index.md
Labels: l10n-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Labels: l10n-zh

fixes
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Labels: l10n-zh

ci(pr-review-companion): access step outputs via env vars
  .github/workflows/pr-review-companion.yml
Labels: system

[zh-cn] add translation for :user-valid (#26569)
  files/zh-cn/web/css/_colon_user-valid/index.md
Labels: l10n-zh

Update files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Labels: l10n-zh

[zh-TW]: update `Array.prototype.fill()` (#26436)
  files/zh-tw/web/javascript/reference/global_objects/array/fill/index.md
Labels: l10n-zh

ci(pr-review-companion): access step outputs via env vars (#26677)
  .github/workflows/pr-review-companion.yml
Labels: system

Fixed misspelled words index.md
  files/es/glossary/crud/index.md
Labels: l10n-es

2025/03/26 時点の英語版に同期
  files/ja/web/api/svgtransform/index.md
Labels: l10n-ja

chore(css): Copy embedlivesamples from en-US content
  files/zh-cn/web/css/basic-shape/circle/index.md
  files/zh-cn/web/css/basic-shape/ellipse/index.md
  files/zh-cn/web/css/css_animations/index.md
  files/zh-cn/web/css/css_backgrounds_and_borders/index.md
  files/zh-cn/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/zh-cn/web/css/css_conditional_rules/using_feature_queries/index.md
  files/zh-cn/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/sizing/index.md
  files/zh-cn/web/css/css_multicol_layout/basic_concepts/index.md
  files/zh-cn/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/zh-cn/web/css/css_multicol_layout/styling_columns/index.md
  files/zh-cn/web/css/css_scroll_snap/basic_concepts/index.md
  files/zh-cn/web/css/css_scroll_snap/index.md
  files/zh-cn/web/css/css_shapes/from_box_values/index.md
  files/zh-cn/web/css/css_shapes/index.md
  files/zh-cn/web/css/css_shapes/overview_of_shapes/index.md
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
  files/zh-cn/web/css/font-variant-numeric/index.md
Labels: l10n-zh

Complete rewrite of the "let" page in pt-BR
  files/pt-br/web/javascript/reference/statements/let/index.md
Labels: l10n-pt-br

Update files/pt-br/web/javascript/reference/statements/let/index.md
  files/pt-br/web/javascript/reference/statements/let/index.md
Labels: l10n-pt-br

Fixing translation issues || Fixing multi-case example
  files/pt-br/web/javascript/reference/statements/switch/index.md
Labels: l10n-pt-br

Missing translations || Fixing Expected alert message
  files/pt-br/web/javascript/reference/statements/switch/index.md
Labels: l10n-pt-br

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/hash_function/index.md
Labels: l10n-ru

2024/09/03 時点の英語版に同期
  files/ja/web/api/svgpoint/index.md
Labels: l10n-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgpreserveaspectratio/align/index.md
  files/ja/web/api/svgpreserveaspectratio/index.md
  files/ja/web/api/svgpreserveaspectratio/meetorslice/index.md
Labels: l10n-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svgnumberlist/appenditem/index.md
  files/ja/web/api/svgnumberlist/clear/index.md
  files/ja/web/api/svgnumberlist/getitem/index.md
  files/ja/web/api/svgnumberlist/index.md
  files/ja/web/api/svgnumberlist/initialize/index.md
  files/ja/web/api/svgnumberlist/insertitembefore/index.md
  files/ja/web/api/svgnumberlist/length/index.md
  files/ja/web/api/svgnumberlist/numberofitems/index.md
  files/ja/web/api/svgnumberlist/removeitem/index.md
  files/ja/web/api/svgnumberlist/replaceitem/index.md
Labels: l10n-ja

2025/02/02 時点の英語版に同期
  files/ja/web/api/svglengthlist/index.md
  files/ja/web/api/svglengthlist/insertitembefore/index.md
Labels: l10n-ja

2024/09/20 時点の英語版に同期
  files/ja/web/api/svglengthlist/length/index.md
Labels: l10n-ja

2025/03/28 時点の英語版に同期
  files/ja/web/api/svglengthlist/numberofitems/index.md
Labels: l10n-ja

[ru] remove odd `conflicting/Web/API/console` translation (#26592)
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/console/index.md
Labels: l10n-ru

2024/09/16 時点の英語版に同期
  files/ja/web/api/svglengthlist/appenditem/index.md
  files/ja/web/api/svglengthlist/clear/index.md
  files/ja/web/api/svglengthlist/getitem/index.md
  files/ja/web/api/svglengthlist/initialize/index.md
  files/ja/web/api/svglengthlist/removeitem/index.md
  files/ja/web/api/svglengthlist/replaceitem/index.md
Labels: l10n-ja

2025/02/19 時点の英語版に同期
  files/ja/web/api/svgpointlist/index.md
Labels: l10n-ja

2023/12/30 時点の英語版に同期
  files/ja/web/api/svgpointlist/length/index.md
Labels: l10n-ja

2023/04/08 時点の英語版に同期
  files/ja/web/api/svgpointlist/clear/index.md
  files/ja/web/api/svgpointlist/getitem/index.md
  files/ja/web/api/svgpointlist/numberofitems/index.md
  files/ja/web/api/svgpointlist/removeitem/index.md
Labels: l10n-ja

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
