Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml

Update index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
Labels: l10n-zh

Update files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
Labels: l10n-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
Labels: l10n-zh

translate aria-posinset
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Labels: l10n-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
Labels: l10n-ja

translate aria-pressed
  files/ja/web/accessibility/aria/reference/attributes/aria-pressed/index.md
Labels: l10n-ja

translate aria-readonly
  files/ja/web/accessibility/aria/reference/attributes/aria-readonly/index.md
Labels: l10n-ja

[ko] Add translation for `<input type="reset">` (#26245)
  files/ko/web/html/element/input/reset/index.md
Labels: l10n-ko

fix: improve sentence structure in rule description (#26453)
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

[ko] glossary guide 용어 추가 (#26335)
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

サンプルコードの間違いを修正
  files/ja/web/api/document/selectionchange_event/index.md
Labels: l10n-ja

Update files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
Labels: l10n-zh

fix broken links
  files/zh-cn/glossary/html5/index.md
  files/zh-cn/learn_web_development/core/styling_basics/organizing/index.md
  files/zh-cn/mdn/community/pull_requests/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/zh-cn/mdn/writing_guidelines/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/zh-cn/mdn/writing_guidelines/what_we_write/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/web/javascript/reference/statements/const/index.md
  files/zh-cn/web/javascript/reference/statements/let/index.md
Labels: l10n-zh

[zh-cn] sync translated content (#26491)
  files/zh-cn/_redirects.txt
  files/zh-cn/glossary/html5/index.md
  files/zh-cn/learn_web_development/core/styling_basics/organizing/index.md
  files/zh-cn/mdn/community/pull_requests/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/css/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/html/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/zh-cn/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/zh-cn/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/zh-cn/mdn/writing_guidelines/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/zh-cn/mdn/writing_guidelines/what_we_write/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/web/javascript/reference/statements/const/index.md
  files/zh-cn/web/javascript/reference/statements/let/index.md
Labels: l10n-zh

feat: Add Lefthook for precommit hooks
  lefthook.yml
Labels: none

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssvaluelist/length/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/api/textencoderstream/readable/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Labels: l10n-zh

revert example
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Labels: l10n-zh

translate aria-relevant
  files/ja/web/accessibility/aria/reference/attributes/aria-relevant/index.md
Labels: l10n-ja

2025/03/08 時点の英語版に同期
  files/ja/web/css/css_positioned_layout/stacking_context/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_2/index.md
  files/ja/web/css/css_positioned_layout/stacking_context/stacking_context_example_3/index.md
  files/ja/web/css/css_positioned_layout/stacking_floating_elements/index.md
  files/ja/web/css/css_positioned_layout/stacking_without_z-index/index.md
  files/ja/web/css/css_positioned_layout/understanding_z-index/index.md
  files/ja/web/css/css_positioned_layout/using_z-index/index.md
Labels: l10n-ja

2025/02/08 時点の英語版に同期
  files/ja/web/css/css_positioned_layout/index.md
Labels: l10n-ja

リダイレクト先が Web/CSS/CSS_positioned_layout 以下になるリンクを一括修正
  files/ja/glossary/stacking_context/index.md
  files/ja/glossary/top_layer/index.md
  files/ja/web/css/clip-path/index.md
  files/ja/web/css/contain/index.md
  files/ja/web/css/css_compositing_and_blending/index.md
  files/ja/web/css/index.md
  files/ja/web/css/opacity/index.md
  files/ja/web/css/perspective/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/transform/index.md
  files/ja/web/css/visual_formatting_model/index.md
  files/ja/web/css/will-change/index.md
  files/ja/web/css/z-index/index.md
Labels: l10n-ja

aria-modalを翻訳 (#26425)
  files/ja/web/accessibility/aria/reference/attributes/aria-modal/index.md
Labels: l10n-ja

[ja]: Sync and Fix Japanese translations for `Promise.prototype.then()` (#26399)
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja

2025/02/22 時点の英語版に同期
  files/ja/web/security/index.md
Labels: l10n-ja

[zh-CN]: Sync translation for Fullscreen API
  files/zh-cn/web/api/document/fullscreenelement/index.md
  files/zh-cn/web/api/fullscreen_api/guide/index.md
Labels: l10n-zh

[zh-CN]: Sync translation due to HTTP structure adjust
  files/zh-cn/web/api/local_font_access_api/index.md
  files/zh-cn/web/api/navigator/canshare/index.md
  files/zh-cn/web/api/navigator/getbattery/index.md
  files/zh-cn/web/api/navigator/share/index.md
  files/zh-cn/web/api/navigatoruadata/brands/index.md
  files/zh-cn/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/zh-cn/web/api/navigatoruadata/mobile/index.md
  files/zh-cn/web/api/navigatoruadata/platform/index.md
  files/zh-cn/web/api/permissions_api/index.md
  files/zh-cn/web/api/user-agent_client_hints_api/index.md
  files/zh-cn/web/api/window/querylocalfonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/fullscreen/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/local-fonts/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/picture-in-picture/index.md
  files/zh-cn/web/http/reference/headers/permissions-policy/web-share/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/es/learn_web_development/getting_started/environment_setup/code_editors/index.md
Labels: l10n-es

[es]: Agrega traducción de files/en-us/learn_web_development/getting_started/environment_setup/code_editors (#26330)
  files/es/learn_web_development/getting_started/environment_setup/code_editors/index.md
Labels: l10n-es

[zh-CN]: Add translation for `@view-transition`
  files/zh-cn/web/css/@view-transition/index.md
Labels: l10n-zh

Update DataView.setUint16 fr reference (#26475)
  files/fr/web/javascript/reference/global_objects/dataview/setuint16/index.md
Labels: l10n-fr

[zh-CN]: Sync translation due to HTTP structure adjust
  files/zh-cn/web/api/cookiechangeevent/changed/index.md
  files/zh-cn/web/api/cookiechangeevent/deleted/index.md
  files/zh-cn/web/api/document/pictureinpictureenabled/index.md
  files/zh-cn/web/api/element/requestfullscreen/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/changed/index.md
  files/zh-cn/web/api/extendablecookiechangeevent/deleted/index.md
  files/zh-cn/web/api/fullscreen_api/index.md
  files/zh-cn/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/zh-cn/web/api/keyboard/getlayoutmap/index.md
  files/zh-cn/web/api/navigateevent/formdata/index.md
  files/zh-cn/web/api/picture-in-picture_api/index.md
Labels: l10n-zh

[es] fix word
  files/es/web/html/global_attributes/class/index.md
Labels: l10n-es

[es] fix word
  files/es/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/es/learn_web_development/core/structuring_content/creating_links/index.md
  files/es/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills_colon__links/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills_colon__other_controls/index.md
Labels: l10n-es

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/glossary/layout_mode/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/css/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/html/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/javascript/index.md
  files/ja/mdn/writing_guidelines/code_style_guide/shell/index.md
  files/ja/mdn/writing_guidelines/criteria_for_inclusion/index.md
  files/ja/web/css/css_display/visual_formatting_model/index.md
  files/ja/web/css/css_scroll_anchoring/scroll_anchoring/index.md
  files/ja/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Labels: l10n-ja

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Labels: l10n-zh

[zh-cn]: update the translation of `SpeechGrammar`
  files/zh-cn/web/api/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/speechgrammar/index.md
  files/zh-cn/web/api/speechgrammar/src/index.md
  files/zh-cn/web/api/speechgrammar/weight/index.md
Labels: l10n-zh
