Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

Update files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

refactor: move EmbedInteractiveExample on its own line
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/fr/web/html/global_attributes/accesskey/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Labels: l10n-es, l10n-fr, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Migrate CSS interactive examples
  files/es/web/css/hyphens/index.md
  files/pt-br/web/css/position/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
Labels: l10n-es, l10n-pt-br, l10n-ru, l10n-zh

[zh-CN]: Sync translation for Fullscreen API (#26501)
  files/zh-cn/web/api/document/fullscreenelement/index.md
  files/zh-cn/web/api/fullscreen_api/guide/index.md
Labels: l10n-zh

Migrate JS interactive examples
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Labels: l10n-es, l10n-fr, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Replace HTML interactive examples
  files/fr/web/html/global_attributes/accesskey/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/ru/web/html/element/area/index.md
Labels: l10n-fr, l10n-pt-br, l10n-ru

[es]: migrate remaining interactive examples
  files/es/web/css/gradient/index.md
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/es/web/javascript/reference/global_objects/array/flat/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-es

[fr]: migrate remaining interactive examples
  files/fr/web/css/angle/index.md
  files/fr/web/css/basic-shape/index.md
  files/fr/web/css/gradient/index.md
  files/fr/web/html/global_attributes/accesskey/index.md
  files/fr/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/fr/web/javascript/reference/global_objects/map/groupby/index.md
  files/fr/web/javascript/reference/global_objects/object/groupby/index.md
  files/fr/web/javascript/reference/global_objects/string/symbol.iterator/index.md
Labels: l10n-fr

[ja]: migrate remaining interactive examples
  files/ja/web/css/angle/index.md
  files/ja/web/css/animation-timeline/index.md
  files/ja/web/css/basic-shape/index.md
  files/ja/web/css/gradient/index.md
  files/ja/web/javascript/reference/global_objects/object/groupby/index.md
Labels: l10n-ja

[pt-br]: migrate remaining interactive examples
  files/pt-br/conflicting/web/javascript/reference/global_objects/map/index.md
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-pt-br

[ru]: migrate remaining interactive examples
  files/ru/web/css/angle/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/bigint/asintn/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/ru/web/javascript/reference/global_objects/set/delete/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Labels: l10n-ru

[zh-cn]: migrate remaining interactive examples
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/gradient/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/groupby/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-zh

[zh-tw]: migrate remaining interactive examples
  files/zh-tw/web/javascript/reference/global_objects/math/random/index.md
  files/zh-tw/web/javascript/reference/statements/const/index.md
Labels: l10n-zh

[ko]: migrate remaining interactive examples
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_select.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_tbody.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Statements_trycatch.md
  files/ko/web/css/angle/index.md
  files/ko/web/css/gradient/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/ko/web/javascript/reference/global_objects/object/groupby/index.md
Labels: l10n-ko

Apply suggestions from code review
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
Labels: l10n-es

Apply suggestions from code review
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
Labels: l10n-fr

Apply suggestions from code review
  files/ja/web/css/animation-timeline/index.md
Labels: l10n-ja

Apply suggestions from code review
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
Labels: l10n-ko

Apply suggestions from code review
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
Labels: l10n-pt-br

Apply suggestions from code review
  files/ru/web/css/background/index.md
  files/ru/web/css/position/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/white-space/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Labels: l10n-ru

Apply suggestions from code review
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
Labels: l10n-zh

update index.md
  files/zh-cn/web/css/_colon_user-valid/index.md
Labels: l10n-zh

call
  files/ja/web/javascript/reference/global_objects/function/call/index.md
Labels: l10n-ja

2024/07/30 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/displayname/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/length/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-ja

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
