Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Labels: l10n-zh

zh-CN: create `windows.update()` (#26322)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/update/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Labels: l10n-zh

誤字を訂正
  files/ja/web/api/cssconditionrule/index.md
Labels: l10n-ja

zh-CN: create `windows.Window` (#26325)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window/index.md
Labels: l10n-zh

fix broken links
  files/zh-tw/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-tw/web/api/svganimatedboolean/animval/index.md
  files/zh-tw/web/api/svganimatedboolean/baseval/index.md
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/title/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Labels: l10n-zh

[zh-tw] sync translated content (#26466)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-tw/web/api/svganimatedboolean/animval/index.md
  files/zh-tw/web/api/svganimatedboolean/baseval/index.md
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/title/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorial/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Labels: l10n-zh

fix typo (missing letter)
  files/fr/web/http/headers/content-encoding/index.md
Labels: l10n-fr

minor
  files/zh-cn/web/api/cssstylevalue/index.md
  files/zh-cn/web/api/cssstylevalue/parse_static/index.md
Labels: l10n-zh

zh-cn: translate CSSStyleValue interface and its static method (#26422)
  files/zh-cn/web/api/cssstylevalue/index.md
  files/zh-cn/web/api/cssstylevalue/parse_static/index.md
  files/zh-cn/web/api/cssstylevalue/parseall_static/index.md
Labels: l10n-zh

2025/03/12 時点の英語版に同期
  files/ja/web/css/css_scroll_anchoring/index.md
Labels: l10n-ja

2025/03/11 時点の英語版に同期
  files/ja/glossary/scroll_snap/index.md
  files/ja/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
  files/ja/web/css/overflow-anchor/index.md
Labels: l10n-ja

Update index.md
  files/ja/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
Labels: l10n-ja

aria-haspopupを翻訳 (#26354)
  files/ja/web/accessibility/aria/reference/attributes/aria-busy/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-checked/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Labels: l10n-ja

Update DataView.setUint16 fr reference
  files/fr/web/javascript/reference/global_objects/dataview/setuint16/index.md
Labels: l10n-fr

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

リダイレクト先が Learn_web_development/Core/Scripting 以下になるリンクの一括修正
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/learn_web_development/extensions/performance/index.md
  files/ja/learn_web_development/extensions/server-side/first_steps/client-server_overview/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/ja/web/api/eventsource/index.md
  files/ja/web/api/eventtarget/index.md
  files/ja/web/api/html_dom_api/index.md
  files/ja/web/api/idbtransaction/abort_event/index.md
  files/ja/web/api/idbtransaction/error_event/index.md
  files/ja/web/api/mouseevent/relatedtarget/index.md
  files/ja/web/api/serialport/connect_event/index.md
  files/ja/web/api/serialport/disconnect_event/index.md
  files/ja/web/api/server-sent_events/index.md
  files/ja/web/api/uievent/index.md
  files/ja/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/ja/web/css/calc-sum/index.md
  files/ja/web/css/calc/index.md
  files/ja/web/events/creating_and_triggering_events/index.md
  files/ja/web/events/event_handlers/index.md
  files/ja/web/events/index.md
  files/ja/web/javascript/index.md
  files/ja/web/javascript/reference/errors/index.md
  files/ja/web/javascript/reference/errors/missing_parenthesis_after_condition/index.md
  files/ja/web/javascript/reference/global_objects/array/index.md
  files/ja/web/javascript/reference/operators/conditional_operator/index.md
  files/ja/web/javascript/reference/template_literals/index.md
Labels: l10n-ja

fix after review
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

Update files/ru/web/javascript/reference/statements/index.md
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

リダイレクト先が Web/URI 以下になるリンクを一括修正
  files/ja/mozilla/add-ons/webextensions/content_scripts/index.md
  files/ja/mozilla/firefox/releases/10/index.md
  files/ja/mozilla/firefox/releases/12/index.md
  files/ja/mozilla/firefox/releases/131/index.md
  files/ja/mozilla/firefox/releases/136/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ja/web/api/canvas_api/tutorial/using_images/index.md
  files/ja/web/api/document/domain/index.md
  files/ja/web/api/document/fragmentdirective/index.md
  files/ja/web/api/filereader/readasdataurl/index.md
  files/ja/web/api/fragmentdirective/index.md
  files/ja/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/ja/web/api/htmlcanvaselement/todataurl/index.md
  files/ja/web/api/websocket/websocket/index.md
  files/ja/web/api/window/atob/index.md
  files/ja/web/api/window/btoa/index.md
  files/ja/web/api/workerglobalscope/atob/index.md
  files/ja/web/api/workerglobalscope/btoa/index.md
  files/ja/web/api/xmlhttprequest/responsexml/index.md
  files/ja/web/css/css_pseudo-elements/index.md
  files/ja/web/html/element/a/index.md
  files/ja/web/html/element/audio/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-ancestors/index.md
  files/ja/web/http/reference/headers/content-security-policy/index.md
Labels: l10n-ja

[ru] improve `Web/JavaScript/Reference/Statements` translation (#26209)
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

Apply suggestions from code review
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
Labels: l10n-zh

リダイレクト先が Web/Apps/Progressive 以下になるリンクを一括修正
  files/ja/glossary/application_context/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/mozilla/firefox/releases/52/index.md
  files/ja/mozilla/firefox/releases/57/index.md
  files/ja/mozilla/firefox/releases/79/index.md
  files/ja/web/api/navigator/getinstalledrelatedapps/index.md
  files/ja/web/api/navigator/windowcontrolsoverlay/index.md
  files/ja/web/api/web_share_api/index.md
  files/ja/web/api/window/appinstalled_event/index.md
  files/ja/web/api/window/index.md
  files/ja/web/css/@media/display-mode/index.md
  files/ja/web/css/@media/index.md
  files/ja/web/css/env/index.md
  files/ja/web/events/index.md
  files/ja/web/html/attributes/rel/index.md
  files/ja/web/html/attributes/rel/manifest/index.md
  files/ja/web/http/reference/headers/content-security-policy/manifest-src/index.md
  files/ja/web/index.md
  files/ja/web/progressive_web_apps/guides/best_practices/index.md
  files/ja/web/progressive_web_apps/guides/installing/index.md
  files/ja/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/ja/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
Labels: l10n-ja

Update files/ja/mozilla/add-ons/webextensions/api/proxy/index.md
  files/ja/mozilla/add-ons/webextensions/api/proxy/index.md
Labels: l10n-ja

feat: Add Lefthook for precommit hooks
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  yarn.lock
Labels: system

feat: Add Lefthook for precommit hooks
  yarn.lock
Labels: system

translate aria-placeholder
  files/ja/web/accessibility/aria/reference/attributes/aria-placeholder/index.md
Labels: l10n-ja

2025/03/18 時点の英語版に同期
  files/ja/web/html/element/index.md
Labels: l10n-ja

Update files/ja/web/api/geolocationpositionerror/index.md
  files/ja/web/api/geolocationpositionerror/index.md
Labels: l10n-ja

Update files/ja/web/api/geolocationpositionerror/index.md
  files/ja/web/api/geolocationpositionerror/index.md
Labels: l10n-ja

Update files/ja/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
  files/ja/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Labels: l10n-ja

Update files/ja/web/html/element/index.md
  files/ja/web/html/element/index.md
Labels: l10n-ja

Update files/ja/web/html/element/index.md
  files/ja/web/html/element/index.md
Labels: l10n-ja

Update files/ja/web/svg/reference/attribute/x1/index.md
  files/ja/web/svg/reference/attribute/x1/index.md
Labels: l10n-ja

Update files/ja/web/svg/reference/attribute/x1/index.md
  files/ja/web/svg/reference/attribute/x1/index.md
Labels: l10n-ja

リダイレクト先が Web/MathML 以下になるリンクを一括修正
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/ja/mozilla/firefox/releases/106/index.md
  files/ja/mozilla/firefox/releases/107/index.md
  files/ja/mozilla/firefox/releases/118/index.md
  files/ja/mozilla/firefox/releases/15/index.md
  files/ja/mozilla/firefox/releases/24/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/mozilla/firefox/releases/71/index.md
  files/ja/mozilla/firefox/releases/8/index.md
  files/ja/mozilla/firefox/releases/83/index.md
  files/ja/mozilla/firefox/releases/9/index.md
  files/ja/web/css/@namespace/index.md
  files/ja/web/html/element/sub/index.md
  files/ja/web/html/element/sup/index.md
  files/ja/web/mathml/guides/authoring/index.md
  files/ja/web/mathml/guides/index.md
  files/ja/web/mathml/index.md
  files/ja/web/mathml/reference/attribute/index.md
  files/ja/web/mathml/reference/element/index.md
  files/ja/web/mathml/reference/element/math/index.md
  files/ja/web/mathml/reference/element/mi/index.md
  files/ja/web/mathml/reference/element/mmultiscripts/index.md
  files/ja/web/mathml/reference/element/mo/index.md
  files/ja/web/mathml/reference/element/mspace/index.md
  files/ja/web/mathml/reference/element/msub/index.md
  files/ja/web/mathml/reference/element/msubsup/index.md
  files/ja/web/mathml/reference/element/msup/index.md
  files/ja/web/mathml/reference/element/mtable/index.md
  files/ja/web/mathml/reference/global_attributes/index.md
  files/ja/web/mathml/tutorials/for_beginners/fractions_and_roots/index.md
  files/ja/web/mathml/tutorials/for_beginners/getting_started/index.md
  files/ja/web/mathml/tutorials/for_beginners/scripts/index.md
  files/ja/web/mathml/tutorials/for_beginners/tables/index.md
  files/ja/web/mathml/tutorials/for_beginners/text_containers/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/index.md
  files/ja/web/mathml/tutorials/for_beginners/index.md
  files/ja/web/mathml/tutorials/index.md
Labels: l10n-ja

[es]: Agrega traducción de files/en-us/learn_web_development/core/css_layout/media_queries
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Labels: l10n-es

chore(zh-cn): organize vue docs (#26449)
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_resources/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_styling/index.md
Labels: l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
