Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml

web/api/cssconditionrule/index.md の誤字を修正 (#26470)
  files/ja/web/api/cssconditionrule/index.md
Labels: l10n-ja

Fix index.md
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Labels: l10n-zh

Web/API/DOMParser を更新 (#26461)
  files/ja/web/api/domparser/index.md
Labels: l10n-ja

Web/CSS/overflow-anchor 他2件を更新 (#26474)
  files/ja/glossary/scroll_snap/index.md
  files/ja/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
  files/ja/web/css/overflow-anchor/index.md
Labels: l10n-ja

Web/HTML/Element を更新 (#26486)
  files/ja/web/html/element/index.md
Labels: l10n-ja

docs: add file
  files/ja/glossary/typescript/index.md
Labels: l10n-ja

docs: translate commentary
  files/ja/glossary/typescript/index.md
Labels: l10n-ja

docs: add sourceCommit
  files/ja/glossary/typescript/index.md
Labels: l10n-ja

aria-posinsetを翻訳 (#26493)
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Labels: l10n-ja

aria-relevantを翻訳 (#26497)
  files/ja/web/accessibility/aria/reference/attributes/aria-relevant/index.md
Labels: l10n-ja

Update index.md
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Labels: l10n-zh

改善页面翻译
  files/zh-cn/learn_web_development/core/scripting/return_values/index.md
Labels: l10n-zh

余計な空白の削除、助詞の追加
  files/ja/glossary/typescript/index.md
Labels: l10n-ja

TypeScript の翻訳 (#26537)
  files/ja/glossary/typescript/index.md
Labels: l10n-ja

Update index.md
  files/zh-cn/web/privacy/index.md
Labels: l10n-zh

fix: typo
  files/ja/web/javascript/reference/global_objects/set/issubsetof/index.md
Labels: l10n-ja

Apply suggestions from code review
  files/zh-cn/web/privacy/index.md
Labels: l10n-zh

ja: auto-fix content issues
  files/ja/web/api/cssconditionrule/index.md
  files/ja/web/css/overflow-anchor/index.md
Labels: l10n-ja

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Labels: l10n-ja

[ko] apply suggestions in review for Web/JavaScript/Reference/Global_Objects/Date/now
  files/ko/web/javascript/reference/global_objects/date/now/index.md
Labels: l10n-ko

[ko] fix korean expression for consistency
  files/ko/web/javascript/reference/global_objects/date/now/index.md
Labels: l10n-ko

Create Web/Privacy/Guides/State_Partitioning
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
Labels: l10n-zh

Create Web/Privacy/Third-party_cookies
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Labels: l10n-zh

[ko] 논리적 AND(&&) 문서의 오타 수정 (#26402)
  files/ko/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-ko

Update link of privacy/guides/third-party_cookies
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Labels: l10n-zh

[ko] Performance budgets 문서 수정 (#25970)
  files/ko/web/performance/performance_budgets/index.md
Labels: l10n-ko

[ko] update web/api/mediastream_recording_api (#26130)
  files/ko/web/api/mediastream_recording_api/index.md
  files/ko/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/ko/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Labels: l10n-ko

Apply suggestions from code review
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Labels: l10n-zh

Update index.md
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
Labels: l10n-zh

リンク先を Web/CSS/CSS_cascade/Value_processing へ変更
  files/ja/glossary/layout_mode/index.md
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ja/web/api/animation/commitstyles/index.md
  files/ja/web/css/-webkit-mask-box-image/index.md
  files/ja/web/css/all/index.md
  files/ja/web/css/border-image/index.md
  files/ja/web/css/border/index.md
  files/ja/web/css/color_value/index.md
  files/ja/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ja/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/ja/web/css/css_cascading_variables/using_css_custom_properties/index.md
  files/ja/web/css/css_display/block_formatting_context/index.md
  files/ja/web/css/css_display/containing_block/index.md
  files/ja/web/css/css_images/replaced_element_properties/index.md
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/error_handling/index.md
  files/ja/web/css/css_syntax/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/value_definition_syntax/index.md
  files/ja/web/css/index.md
  files/ja/web/css/inherit/index.md
  files/ja/web/css/initial/index.md
  files/ja/web/css/length/index.md
  files/ja/web/css/max-height/index.md
  files/ja/web/css/max-width/index.md
  files/ja/web/css/min-height/index.md
  files/ja/web/css/min-width/index.md
  files/ja/web/css/outline/index.md
  files/ja/web/css/position/index.md
  files/ja/web/css/reference/index.md
  files/ja/web/css/revert/index.md
  files/ja/web/css/transform-origin/index.md
  files/ja/web/css/unset/index.md
Labels: l10n-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/value_processing/index.md
Labels: l10n-ja

2023/04/07 時点の英語版に同期
  files/ja/web/api/domparser/domparser/index.md
Labels: l10n-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/domparser/parsefromstring/index.md
Labels: l10n-ja

2025/03/12 時点の英語版に同期
  files/ja/web/css/css_scroll_anchoring/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/mathml/reference/index.md
  files/ja/web/mathml/tutorials/for_beginners/index.md
  files/ja/web/mathml/tutorials/index.md
Labels: l10n-ja

2025/03/22 時点の英語版に同期
  files/ja/web/css/css_cascade/actual_value/index.md
  files/ja/web/css/css_cascade/cascade/index.md
  files/ja/web/css/css_cascade/computed_value/index.md
  files/ja/web/css/css_cascade/index.md
  files/ja/web/css/css_cascade/inheritance/index.md
  files/ja/web/css/css_cascade/initial_value/index.md
  files/ja/web/css/css_cascade/shorthand_properties/index.md
  files/ja/web/css/css_cascade/specificity/index.md
  files/ja/web/css/css_cascade/specified_value/index.md
  files/ja/web/css/css_cascade/used_value/index.md
  files/ja/web/css/resolved_value/index.md
Labels: l10n-ja

ja: auto-fix content issues
  files/ja/web/api/cssconditionrule/index.md
  files/ja/web/css/overflow-anchor/index.md
Labels: l10n-ja

Update _redirects.txt
  files/ja/_redirects.txt
Labels: l10n-ja

Delete files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ja/conflicting/mozilla/add-ons/webextensions/manifest.json/index.md
Labels: l10n-ja

Delete files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
  files/ja/orphaned/web/css/css_scroll_anchoring/guide_to_scroll_anchoring/index.md
Labels: l10n-ja
