Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

2025/03/06 時点の英語版に同期
  files/ja/web/accessibility/aria/reference/roles/search_role/index.md
Labels: l10n-ja

2025/03/25 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/index.md
Labels: l10n-ja

2025/04/03 時点の英語版に同期
  files/ja/web/api/htmlmediaelement/srcobject/index.md
Labels: l10n-ja

Apply suggestions from code review
  files/ru/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-ru

ru: remove interactive-examples references (#26743)
  files/ru/web/css/background-repeat/index.md
  files/ru/web/css/background/index.md
  files/ru/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-ru

Rename lefthook config
  .lefthook.yml
Labels: system

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
