Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml

Update files/fr/web/nouveau/index.md
  files/fr/web/nouveau/index.md
Labels: l10n-fr

test: use invalid locale
  files/fr/web/index.md
Labels: l10n-fr

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Labels: l10n-zh

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
Labels: l10n-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
Labels: l10n-zh

Update files/zh-cn/mozilla/add-ons/webextensions/api/windows/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/index.md
Labels: l10n-zh

typo
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/window_id_current/index.md
Labels: l10n-zh

fix sentences in Japanese
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja

update
  files/zh-tw/web/http/reference/status/412/index.md
Labels: l10n-zh

fix wiki link
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
Labels: l10n-zh

Sync source commit
  files/zh-tw/web/api/xmlhttprequest/setrequestheader/index.md
  files/zh-tw/web/http/reference/headers/accept-ch/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-language/index.md
  files/zh-tw/web/http/reference/headers/accept/index.md
  files/zh-tw/web/http/reference/headers/age/index.md
  files/zh-tw/web/http/reference/headers/allow/index.md
  files/zh-tw/web/http/reference/headers/user-agent/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Labels: l10n-zh

fix
  files/zh-tw/web/http/reference/headers/authorization/index.md
Labels: l10n-zh

fix
  files/zh-tw/web/http/reference/headers/strict-transport-security/index.md
Labels: l10n-zh

Revert "[ja]: update embedded live sample identifiers to Japanese"
  files/ja/web/api/document_object_model/whitespace/index.md
Labels: l10n-ja

[ja]: update live sample identifiers in whitespace examples
  files/ja/web/api/document_object_model/whitespace/index.md
Labels: l10n-ja

Sync source commit
  files/zh-tw/glossary/robots.txt/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/http/guides/session/index.md
  files/zh-tw/web/http/reference/status/406/index.md
  files/zh-tw/web/http/reference/status/407/index.md
  files/zh-tw/web/http/reference/status/408/index.md
  files/zh-tw/web/http/reference/status/409/index.md
  files/zh-tw/web/http/reference/status/410/index.md
  files/zh-tw/web/http/reference/status/411/index.md
  files/zh-tw/web/http/reference/status/412/index.md
  files/zh-tw/web/http/reference/status/413/index.md
  files/zh-tw/web/http/reference/status/414/index.md
  files/zh-tw/web/http/reference/status/415/index.md
  files/zh-tw/web/http/reference/status/416/index.md
  files/zh-tw/web/http/reference/status/417/index.md
  files/zh-tw/web/http/reference/status/418/index.md
  files/zh-tw/web/http/reference/status/421/index.md
  files/zh-tw/web/http/reference/status/422/index.md
  files/zh-tw/web/http/reference/status/423/index.md
  files/zh-tw/web/http/reference/status/424/index.md
  files/zh-tw/web/http/reference/status/425/index.md
  files/zh-tw/web/http/reference/status/426/index.md
  files/zh-tw/web/http/reference/status/428/index.md
  files/zh-tw/web/http/reference/status/429/index.md
  files/zh-tw/web/http/reference/status/431/index.md
  files/zh-tw/web/http/reference/status/451/index.md
  files/zh-tw/web/http/reference/status/500/index.md
  files/zh-tw/web/http/reference/status/501/index.md
  files/zh-tw/web/http/reference/status/502/index.md
  files/zh-tw/web/http/reference/status/503/index.md
  files/zh-tw/web/http/reference/status/504/index.md
  files/zh-tw/web/http/reference/status/505/index.md
  files/zh-tw/web/http/reference/status/506/index.md
  files/zh-tw/web/http/reference/status/507/index.md
  files/zh-tw/web/http/reference/status/508/index.md
  files/zh-tw/web/http/reference/status/510/index.md
  files/zh-tw/web/http/reference/status/511/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/web/css/_doublecolon_after/index.md
  files/zh-cn/web/css/content/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/vertical-align/index.md
  files/zh-cn/web/css/visual_formatting_model/index.md
  files/zh-cn/web/html/element/iframe/index.md
  files/zh-cn/web/html/element/img/index.md
  files/zh-cn/web/html/element/input/index.md
  files/zh-cn/web/html/element/textarea/index.md
  files/zh-cn/web/media/guides/images/index.md
Labels: l10n-zh

fix: correct parentheses usage in Korean logical operators example
  files/ko/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-ko

Remove unnecessary [!Note].
  files/ja/web/html/element/kbd/index.md
Labels: l10n-ja

[zh-CN]: Sync translation for Origin private file system
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Labels: l10n-zh

fix: add js-nolint comment for logical operators example
  files/ko/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-ko

[zh-CN]: Sync translation for File System API
  files/zh-cn/web/api/file_system_api/index.md
Labels: l10n-zh

zh-cn: translate CSSImageValue interface
  files/zh-cn/web/api/cssimagevalue/index.md
  files/zh-cn/web/api/cssimagevalue/magicwand.png
Labels: l10n-zh

[zh-CN]: Sync translation for `Blob`
  files/zh-cn/web/api/blob/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/api/cssimagevalue/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for File API
  files/zh-cn/web/api/file_api/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for Using files from web applications
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
Labels: l10n-zh

Update files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for `File`
  files/zh-cn/web/api/file/index.md
  files/zh-cn/web/api/file/lastmodified/index.md
  files/zh-cn/web/api/file/lastmodifieddate/index.md
  files/zh-cn/web/api/file/name/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for `FileReader`
  files/zh-cn/web/api/filereader/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for `FileReader.readAsDataURL-progress_event`
  files/zh-cn/web/api/filereader/progress_event/index.md
  files/zh-cn/web/api/filereader/readasdataurl/index.md
Labels: l10n-zh

[es]: Agrega traducción de files/en-us/learn_web_development/core/design_for_developers
  files/es/learn_web_development/core/design_for_developers/index.md
Labels: l10n-es

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
Labels: l10n-zh

fix broken links
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_cascade/inheritance/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/html/element/fencedframe/index.md
Labels: l10n-zh

[zh-tw] sync translated content (#26397)
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_cascade/inheritance/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/html/element/fencedframe/index.md
Labels: l10n-zh

[zh-TW]: sync sourceCommit (#26400)
  files/zh-tw/glossary/robots.txt/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/http/guides/session/index.md
  files/zh-tw/web/http/reference/status/406/index.md
  files/zh-tw/web/http/reference/status/407/index.md
  files/zh-tw/web/http/reference/status/408/index.md
  files/zh-tw/web/http/reference/status/409/index.md
  files/zh-tw/web/http/reference/status/410/index.md
  files/zh-tw/web/http/reference/status/411/index.md
  files/zh-tw/web/http/reference/status/412/index.md
  files/zh-tw/web/http/reference/status/413/index.md
  files/zh-tw/web/http/reference/status/414/index.md
  files/zh-tw/web/http/reference/status/415/index.md
  files/zh-tw/web/http/reference/status/416/index.md
  files/zh-tw/web/http/reference/status/417/index.md
  files/zh-tw/web/http/reference/status/418/index.md
  files/zh-tw/web/http/reference/status/421/index.md
  files/zh-tw/web/http/reference/status/422/index.md
  files/zh-tw/web/http/reference/status/423/index.md
  files/zh-tw/web/http/reference/status/424/index.md
  files/zh-tw/web/http/reference/status/425/index.md
  files/zh-tw/web/http/reference/status/426/index.md
  files/zh-tw/web/http/reference/status/428/index.md
  files/zh-tw/web/http/reference/status/429/index.md
  files/zh-tw/web/http/reference/status/431/index.md
  files/zh-tw/web/http/reference/status/451/index.md
  files/zh-tw/web/http/reference/status/500/index.md
  files/zh-tw/web/http/reference/status/501/index.md
  files/zh-tw/web/http/reference/status/502/index.md
  files/zh-tw/web/http/reference/status/503/index.md
  files/zh-tw/web/http/reference/status/504/index.md
  files/zh-tw/web/http/reference/status/505/index.md
  files/zh-tw/web/http/reference/status/506/index.md
  files/zh-tw/web/http/reference/status/507/index.md
  files/zh-tw/web/http/reference/status/508/index.md
  files/zh-tw/web/http/reference/status/510/index.md
  files/zh-tw/web/http/reference/status/511/index.md
Labels: l10n-zh

[zh-cn]: correct the Webkit Bug link releated to "the focus movement issue" (#26372)
  files/zh-cn/web/api/selection/index.md
Labels: l10n-zh

zh-CN: update `window.WindowType` (#26287)
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/windowtype/index.md
Labels: l10n-zh

zh-CN: create `permissions.request()` (#26237)
  files/zh-cn/mozilla/add-ons/webextensions/api/permissions/request/index.md
Labels: l10n-zh
