Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-owns/index.md
Labels: l10n-ja

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-posinset/index.md
Labels: l10n-ja

add "ー"
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Labels: l10n-ja

2025/03/15 時点の英語版に同期
  files/ja/web/http/guides/cors/fetching-page-cors.svg
  files/ja/web/http/guides/cors/include-credentials.svg
  files/ja/web/http/guides/cors/index.md
  files/ja/web/http/guides/cors/preflight-correct.svg
  files/ja/web/http/guides/cors/simple-request.svg
Labels: l10n-ja

zh-cn: update the translation of the `MediaStream()` constructor (#26438)
  files/zh-cn/web/api/mediastream/mediastream/index.md
Labels: l10n-zh

move guide to module: inline formatting context
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/web/api/document_object_model/whitespace/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
Labels: l10n-zh

move layout mode to glossary
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/introduction/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
Labels: l10n-zh

Update translation
  files/zh-cn/web/css/@scope/index.md
Labels: l10n-zh

Move visited selector guide to CSS selectors module
  files/zh-cn/web/css/_colon_visited/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/svg/reference/element/image/index.md
Labels: l10n-zh

Move guide: visual formatting model
  files/zh-cn/glossary/block/css/index.md
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/floats/index.md
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
  files/zh-cn/web/css/_doublecolon_first-line/index.md
  files/zh-cn/web/css/css_box_model/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_containment/using_css_containment/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
  files/zh-cn/web/css/transform/index.md
Labels: l10n-zh

[zh-cn] sync translated content (#26507)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/glossary/block/css/index.md
  files/zh-cn/glossary/inline-level_content/index.md
  files/zh-cn/glossary/layout_mode/index.md
  files/zh-cn/learn_web_development/core/css_layout/floats/index.md
  files/zh-cn/learn_web_development/core/css_layout/introduction/index.md
  files/zh-cn/web/api/document_object_model/whitespace/index.md
  files/zh-cn/web/css/_colon_visited/index.md
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
  files/zh-cn/web/css/_doublecolon_first-line/index.md
  files/zh-cn/web/css/css_box_model/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/cascade/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/inheritance/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/shorthand_properties/index.md
  files/zh-cn/web/css/css_cascade/specificity/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_containment/using_css_containment/index.md
  files/zh-cn/web/css/css_display/block_formatting_context/index.md
  files/zh-cn/web/css/css_display/containing_block/index.md
  files/zh-cn/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/zh-cn/web/css/css_display/visual_formatting_model/index.md
  files/zh-cn/web/css/css_images/replaced_element_properties/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/zh-cn/web/css/css_syntax/at-rule/index.md
  files/zh-cn/web/css/css_syntax/syntax/index.md
  files/zh-cn/web/css/css_values_and_units/value_definition_syntax/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/css/resolved_value/index.md
  files/zh-cn/web/css/transform/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/security/practical_implementation_guides/index.md
  files/zh-cn/web/svg/reference/element/image/index.md
Labels: l10n-zh

[zh-cn]: update the translation of CSSValueList `length` property (#26371)
  files/zh-cn/web/api/cssvaluelist/length/index.md
Labels: l10n-zh

[zh-cn]: update the translation of `CSSValueList` introduction (#26348)
  files/zh-cn/web/api/cssvaluelist/index.md
Labels: l10n-zh

Update
  files/zh-cn/web/css/@scope/index.md
Labels: l10n-zh

Update index.md
  files/zh-cn/web/css/@scope/index.md
Labels: l10n-zh

Update index.md
  files/zh-cn/web/css/@scope/index.md
Labels: l10n-zh

feat: Remove ora spinner for pre-commit hook compat
  lefthook.yml
  scripts/check-url-locale.js
Labels: none

Apply suggestions from code review
  files/zh-cn/web/html/element/fencedframe/index.md
Labels: l10n-zh

update
  files/zh-cn/web/html/element/fencedframe/index.md
Labels: l10n-zh

ci(system-file-changes): pass if author/actor is an admin
  .github/workflows/system-file-changes.yml
Labels: system

ci: add auto-cleanup-bot workflow
  .github/workflows/auto-cleanup-bot.yml
Labels: system

Update .github/workflows/auto-cleanup-bot.yml
  .github/workflows/auto-cleanup-bot.yml
Labels: system

test(auto-cleanup-bot): trigger on this branch
  .github/workflows/auto-cleanup-bot.yml
Labels: system

ci: rename {markdown-lint-fix => auto-cleanup-bot} workflow
  .github/workflows/auto-cleanup-bot.yml
Labels: system

ci(markdown-lint-fix): fix flaws
  .github/workflows/markdown-lint-fix.yml
Labels: system

ci(auto-cleanup-bot): add file header
  .github/workflows/auto-cleanup-bot.yml
Labels: system

test(auto-cleanup-bot): run on this branch
  .github/workflows/auto-cleanup-bot.yml
Labels: system

ci(system-file-changes): pass if author/actor is an admin (#26511)
  .github/workflows/system-file-changes.yml
Labels: system

zh-tw: auto-fix Markdownlint issues
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/index.md
Labels: l10n-zh

ci(auto-cleanup-bot): refine commit-message/branch/title
  .github/workflows/auto-cleanup-bot.yml
Labels: system

Revert "test(auto-cleanup-bot): run on this branch"
  .github/workflows/auto-cleanup-bot.yml
Labels: system

feat: Disable ora spinner for pre-commit hook
  lefthook.yml
  scripts/check-url-locale.js
Labels: none

test(auto-cleanup-bot): run on this branch
  .github/workflows/auto-cleanup-bot.yml
Labels: system

Revert "test(auto-cleanup-bot): run on this branch"
  .github/workflows/auto-cleanup-bot.yml
Labels: system

ci(auto-cleanup-bot): sync PR body with content
  .github/workflows/auto-cleanup-bot.yml
Labels: system

2025/03/06 時点の英語版に同期
  files/ja/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/index.md
Labels: l10n-ja

aria-multiselectableを翻訳 (#26429)
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Labels: l10n-ja

2025/02/18 時点の英語版に同期
  files/ja/web/svg/attribute/baseline-shift/index.md
  files/ja/web/svg/attribute/display/index.md
  files/ja/web/svg/attribute/dominant-baseline/index.md
  files/ja/web/svg/attribute/font-size/index.md
Labels: l10n-ja

2024/11/15 時点の英語版に同期
  files/ja/web/svg/attribute/textlength/index.md
Labels: l10n-ja

2023/05/22 時点の英語版に同期
  files/ja/web/svg/attribute/rotate/index.md
Labels: l10n-ja

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
