Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml

[zh-cn]: update for "Advanced text features" (#25540)
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
Labels: l10n-zh

[zh-CN]: Add translation for `@view-transition` (#26503)
  files/zh-cn/web/css/@view-transition/index.md
Labels: l10n-zh

[zh-TW]: Sync with fetch spec for Forbidden request header (#26254)
  files/zh-tw/web/api/xmlhttprequest/setrequestheader/index.md
  files/zh-tw/web/http/reference/headers/accept-ch/index.md
  files/zh-tw/web/http/reference/headers/accept-encoding/index.md
  files/zh-tw/web/http/reference/headers/accept-language/index.md
  files/zh-tw/web/http/reference/headers/accept/index.md
  files/zh-tw/web/http/reference/headers/age/index.md
  files/zh-tw/web/http/reference/headers/allow/index.md
  files/zh-tw/web/http/reference/headers/user-agent/index.md
  files/zh-tw/web/http/reference/headers/x-robots-tag/index.md
Labels: l10n-zh

Translate link name
  files/ru/glossary/block/css/index.md
Labels: l10n-ru

[ru] auto-fix content issues (#26572)
  files/ru/glossary/block/css/index.md
  files/ru/glossary/layout_mode/index.md
  files/ru/learn_web_development/core/css_layout/floats/index.md
  files/ru/web/css/_doublecolon_first-letter/index.md
  files/ru/web/css/_doublecolon_first-line/index.md
  files/ru/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ru/web/css/css_cascade/actual_value/index.md
  files/ru/web/css/css_cascade/computed_value/index.md
  files/ru/web/css/css_cascade/inheritance/index.md
  files/ru/web/css/css_cascade/initial_value/index.md
  files/ru/web/css/css_cascade/shorthand_properties/index.md
  files/ru/web/css/css_cascade/specificity/index.md
  files/ru/web/css/css_cascade/specified_value/index.md
  files/ru/web/css/css_cascade/used_value/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_display/containing_block/index.md
  files/ru/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/ru/web/css/css_images/replaced_element_properties/index.md
  files/ru/web/css/css_syntax/at-rule/index.md
  files/ru/web/css/css_syntax/comments/index.md
  files/ru/web/css/css_syntax/syntax/index.md
  files/ru/web/css/margin-left/index.md
  files/ru/web/css/margin-right/index.md
  files/ru/web/css/reference/index.md
  files/ru/web/css/resolved_value/index.md
  files/ru/web/css/transform/index.md
Labels: l10n-ru

feat: Add Lefthook for precommit hooks (#26482)
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package.json
  scripts/check-url-locale.js
  yarn.lock
Labels: system

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/index.md
Labels: l10n-zh

[ru] update "Glossary/Layout_mode" translation
  files/ru/glossary/layout_mode/index.md
Labels: l10n-ru

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: l10n-zh

fix
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-tw/web/javascript/reference/global_objects/array/concat/index.md
Labels: l10n-zh

2023/04/12 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/maxbytelength/index.md
Labels: l10n-ja

2023/12/11 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/grow/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/growable/index.md
Labels: l10n-ja

2025/03/01 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/symbol.species/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/bytelength/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/slice/index.md
Labels: l10n-ja

2025/03/11 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: l10n-ja

Update index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
Labels: l10n-ja

2025/03/06 時点の英語版に同期
  files/ja/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/index.md
Labels: l10n-ja

let's revert this for a better illustration
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: l10n-zh

revert revert :)
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/privacy/guides/privacy_sandbox/enrollment/index.md
  files/zh-cn/web/privacy/guides/privacy_sandbox/index.md
Labels: l10n-zh

fix wrapped macros
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/settings/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/proxy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
  files/zh-cn/web/api/serviceworkercontainer/register/index.md
  files/zh-cn/web/css/_doublecolon_before/index.md
  files/zh-cn/web/css/animation-duration/index.md
  files/zh-cn/web/css/animation-iteration-count/index.md
  files/zh-cn/web/css/background-size/index.md
  files/zh-cn/web/css/border-left/index.md
  files/zh-cn/web/css/border-top/index.md
  files/zh-cn/web/css/min-height/index.md
  files/zh-cn/web/javascript/reference/global_objects/undefined/index.md
  files/zh-cn/web/svg/tutorials/svg_from_scratch/clipping_and_masking/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/find/index.md
Labels: l10n-zh

fix corrupted macro name
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/settings/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/proxy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
Labels: l10n-zh

2024/07/15 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/apply/index.md
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
  files/ja/web/javascript/reference/global_objects/function/call/index.md
  files/ja/web/javascript/reference/global_objects/function/function/index.md
  files/ja/web/javascript/reference/global_objects/function/tostring/index.md
Labels: l10n-ja

2024/11/23 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/symbol.hasinstance/index.md
Labels: l10n-ja

[es] fix word (#26505)
  files/es/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/es/learn_web_development/core/structuring_content/creating_links/index.md
  files/es/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/es/learn_web_development/core/structuring_content/test_your_skills_colon__links/index.md
  files/es/learn_web_development/extensions/forms/test_your_skills_colon__other_controls/index.md
  files/es/web/html/global_attributes/class/index.md
Labels: l10n-es

Apply suggestions from code review
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Labels: l10n-es

[es]: Agrega traducción de files/en-us/learn_web_development/core/css_layout/media_queries (#26489)
  files/es/learn_web_development/core/css_layout/media_queries/index.md
Labels: l10n-es

es: auto-fix content issues
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/es/web/api/element/matches/index.md
  files/es/web/api/element/queryselector/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/webvr_api/using_the_webvr_api/index.md
  files/es/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/es/web/css/_colon_empty/index.md
  files/es/web/css/border-inline-start/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/border/index.md
  files/es/web/css/grid/index.md
  files/es/web/css/margin-inline/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/object-fit/index.md
  files/es/web/css/opacity/index.md
  files/es/web/css/print-color-adjust/index.md
  files/es/web/css/resolved_value/index.md
  files/es/web/html/attributes/crossorigin/index.md
  files/es/web/html/attributes/multiple/index.md
  files/es/web/html/element/div/index.md
  files/es/web/html/viewport_meta_tag/index.md
  files/es/web/http/reference/headers/accept/index.md
  files/es/web/http/reference/headers/access-control-allow-origin/index.md
  files/es/web/http/reference/headers/access-control-expose-headers/index.md
  files/es/web/http/reference/headers/authorization/index.md
  files/es/web/http/reference/headers/cache-control/index.md
  files/es/web/http/reference/headers/content-disposition/index.md
  files/es/web/http/reference/headers/content-location/index.md
  files/es/web/http/reference/headers/content-security-policy/index.md
  files/es/web/http/reference/headers/content-type/index.md
  files/es/web/http/reference/headers/cookie/index.md
  files/es/web/http/reference/headers/etag/index.md
  files/es/web/http/reference/headers/index.md
  files/es/web/http/reference/headers/keep-alive/index.md
  files/es/web/http/reference/headers/set-cookie/index.md
  files/es/web/http/reference/headers/transfer-encoding/index.md
  files/es/web/http/reference/headers/user-agent/index.md
  files/es/web/http/reference/headers/www-authenticate/index.md
  files/es/web/http/reference/headers/x-content-type-options/index.md
  files/es/web/http/reference/status/201/index.md
Labels: l10n-es

[ko] in 연산자 예제 수정
  files/ko/web/javascript/reference/operators/in/index.md
Labels: l10n-ko

ja: sync translated content
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/css_cascade/value_processing/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ja/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ja/web/css/css_cascade/value_processing/index.md
Labels: l10n-ja

es: sync translated content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/css/css_cascade/value_processing/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/es/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/es/web/css/css_cascade/value_processing/index.md
Labels: l10n-es

ru: sync translated content
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/css/css_cascade/value_processing/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ru/web/css/css_cascade/value_processing/index.md
Labels: l10n-ru

fix the translation of "interface"
  files/ja/web/accessibility/aria/reference/attributes/aria-readonly/index.md
Labels: l10n-ja

[es] auto-fix content issues (#26525)
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/es/web/api/element/matches/index.md
  files/es/web/api/element/queryselector/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/webvr_api/using_the_webvr_api/index.md
  files/es/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/es/web/css/_colon_empty/index.md
  files/es/web/css/border-inline-start/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/border/index.md
  files/es/web/css/grid/index.md
  files/es/web/css/margin-inline/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/object-fit/index.md
  files/es/web/css/opacity/index.md
  files/es/web/css/print-color-adjust/index.md
  files/es/web/css/resolved_value/index.md
  files/es/web/html/attributes/crossorigin/index.md
  files/es/web/html/attributes/multiple/index.md
  files/es/web/html/element/div/index.md
  files/es/web/html/viewport_meta_tag/index.md
  files/es/web/http/reference/headers/accept/index.md
  files/es/web/http/reference/headers/access-control-allow-origin/index.md
  files/es/web/http/reference/headers/access-control-expose-headers/index.md
  files/es/web/http/reference/headers/authorization/index.md
  files/es/web/http/reference/headers/cache-control/index.md
  files/es/web/http/reference/headers/content-disposition/index.md
  files/es/web/http/reference/headers/content-location/index.md
  files/es/web/http/reference/headers/content-security-policy/index.md
  files/es/web/http/reference/headers/content-type/index.md
  files/es/web/http/reference/headers/cookie/index.md
  files/es/web/http/reference/headers/etag/index.md
  files/es/web/http/reference/headers/index.md
  files/es/web/http/reference/headers/keep-alive/index.md
  files/es/web/http/reference/headers/set-cookie/index.md
  files/es/web/http/reference/headers/transfer-encoding/index.md
  files/es/web/http/reference/headers/user-agent/index.md
  files/es/web/http/reference/headers/www-authenticate/index.md
  files/es/web/http/reference/headers/x-content-type-options/index.md
  files/es/web/http/reference/status/201/index.md
Labels: l10n-es

fix(ja): remove duplicate list items
  files/ja/web/svg/guides/svg_in_html/index.md
Labels: l10n-ja

Update files/zh-cn/learn_web_development/core/scripting/functions/index.md
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Labels: l10n-zh

zh-cn: correct the output of the example code (#26536)
  files/zh-cn/learn_web_development/core/scripting/functions/index.md
Labels: l10n-zh

Update index.md
  files/zh-cn/web/html/element/fencedframe/index.md
Labels: l10n-zh
