Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

2025/03/07 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/prototype/index.md
Labels: l10n-ja

2024/07/26 時点の英語版に同期
  files/ja/web/javascript/reference/global_objects/function/arguments/index.md
  files/ja/web/javascript/reference/global_objects/function/caller/index.md
Labels: l10n-ja

Update files/ja/web/javascript/reference/global_objects/function/name/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-ja

2025/03/05 時点の英語版に同期
  files/ja/web/css/@import/index.md
Labels: l10n-ja

2025/03/03 時点の英語版に同期 (#26550)
  files/ja/web/css/@layer/index.md
  files/ja/web/css/@layer/layer-cascade.svg
Labels: l10n-ja

2025/03/22 時点の英語版に同期 (#26551)
  files/ja/web/css/all/index.md
  files/ja/web/css/inherit/index.md
  files/ja/web/css/initial/index.md
  files/ja/web/css/revert-layer/index.md
  files/ja/web/css/revert/index.md
  files/ja/web/css/unset/index.md
Labels: l10n-ja

2025/02/13 時点の英語版に同期
  files/ja/web/css/important/index.md
Labels: l10n-ja

2024/12/20 時点の英語版に同期 (#26553)
  files/ja/web/api/csslayerblockrule/index.md
  files/ja/web/api/csslayerblockrule/name/index.md
Labels: l10n-ja

2025/02/15 時点の英語版に同期
  files/ja/web/api/cssgroupingrule/index.md
Labels: l10n-ja

2023/04/07 時点の英語版に同期
  files/ja/web/api/cssgroupingrule/cssrules/index.md
  files/ja/web/api/cssgroupingrule/deleterule/index.md
Labels: l10n-ja

2023/07/07 時点の英語版に同期
  files/ja/web/api/cssgroupingrule/insertrule/index.md
Labels: l10n-ja

2024/12/20 時点の英語版に同期
  files/ja/web/api/csslayerstatementrule/index.md
  files/ja/web/api/csslayerstatementrule/namelist/index.md
Labels: l10n-ja

2024/11/12 時点の英語版に同期
  files/ja/web/api/cssrule/index.md
Labels: l10n-ja

2024/08/12 時点の英語版に同期
  files/ja/web/api/cssrule/csstext/index.md
Labels: l10n-ja

2024/01/01 時点の英語版に同期
  files/ja/web/api/cssrule/type/index.md
Labels: l10n-ja

2025/01/25 時点の英語版に同期
  files/ja/glossary/style_origin/index.md
Labels: l10n-ja

2025/03/06 時点の英語版に同期
  files/ja/web/accessibility/aria/guides/index.md
  files/ja/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
  files/ja/web/accessibility/aria/how_to/index.md
  files/ja/web/accessibility/aria/index.md
  files/ja/web/accessibility/aria/reference/index.md
Labels: l10n-ja

2025/03/07 時点の英語版に同期
  files/ja/web/javascript/guide/closures/index.md
  files/ja/web/javascript/guide/data_structures/index.md
  files/ja/web/javascript/guide/equality_comparisons_and_sameness/index.md
  files/ja/web/javascript/guide/inheritance_and_the_prototype_chain/index.md
  files/ja/web/javascript/guide/language_overview/index.md
  files/ja/web/javascript/guide/memory_management/index.md
Labels: l10n-ja

[ja]: migrate remaining interactive examples (#26599)
  files/ja/web/css/angle/index.md
  files/ja/web/css/animation-timeline/index.md
  files/ja/web/css/basic-shape/index.md
  files/ja/web/css/gradient/index.md
  files/ja/web/javascript/reference/global_objects/object/groupby/index.md
Labels: l10n-ja

Update index.md
  files/ja/web/javascript/reference/global_objects/function/arguments/index.md
Labels: l10n-ja

2023/02/19 時点の英語版に同期
  files/ja/web/api/svgtextelement/index.md
Labels: l10n-ja

2025/03/18 時点の英語版に同期
  files/ja/web/api/svgtextpositioningelement/dx/index.md
  files/ja/web/api/svgtextpositioningelement/dy/index.md
  files/ja/web/api/svgtextpositioningelement/x/index.md
  files/ja/web/api/svgtextpositioningelement/y/index.md
Labels: l10n-ja

2025/05/21 時点の英語版に同期
  files/ja/web/api/svgtextpositioningelement/index.md
Labels: l10n-ja

2025/03/25 時点の英語版に同期
  files/ja/web/api/svgtextpositioningelement/rotate/index.md
Labels: l10n-ja

translate aria-valuemax and min
  files/ja/web/accessibility/aria/reference/attributes/aria-valuemax/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-valuemin/index.md
Labels: l10n-ja

[ru] auto-fix content issues (#26594)
  files/ru/conflicting/web/css/css_cascade/value_processing/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/ru/conflicting/web/css/css_cascade/value_processing_e3410028f0a698ddd9f74225ea8d122c0a582707d683fdd173e681e62003518d/index.md
  files/ru/glossary/layout_mode/index.md
  files/ru/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ru/web/css/background/index.md
  files/ru/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/ru/web/css/css_cascade/inheritance/index.md
  files/ru/web/css/css_cascade/shorthand_properties/index.md
  files/ru/web/css/css_cascade/specificity/index.md
  files/ru/web/css/css_cascade/value_processing/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_display/containing_block/index.md
  files/ru/web/css/css_images/replaced_element_properties/index.md
  files/ru/web/css/css_syntax/at-rule/index.md
  files/ru/web/css/css_syntax/comments/index.md
  files/ru/web/css/css_syntax/syntax/index.md
  files/ru/web/css/index.md
  files/ru/web/css/inherit/index.md
  files/ru/web/css/initial/index.md
  files/ru/web/css/max-height/index.md
  files/ru/web/css/max-width/index.md
  files/ru/web/css/min-height/index.md
  files/ru/web/css/min-width/index.md
  files/ru/web/css/outline/index.md
  files/ru/web/css/reference/index.md
  files/ru/web/css/revert/index.md
Labels: l10n-ru

Fixing multiple typos and spelling errors
  files/pt-br/web/javascript/reference/statements/with/index.md
Labels: l10n-pt-br

zh-cn: sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/css/css_cascade/value_processing/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_bcdd1173c035d5a1f45a73ceb7da30cc58d8ff6e84066662a7d88acaf52fcc37/index.md
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Labels: l10n-zh

zh-cn: update the translation of `MediaCapabilities.encodingInfo()` (#26447)
  files/zh-cn/web/api/mediacapabilities/encodinginfo/index.md
Labels: l10n-zh

partial update value processing content
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Labels: l10n-zh

delete conflicting docs
  files/zh-cn/_redirects.txt
  files/zh-cn/conflicting/web/css/css_cascade/value_processing/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_67ecc2d1089286b6003d201c901ee7218b8f627858ae89823dc40509095cd65b/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_8a702f25e61d14d8bd6ee6f7e88ca236512427b92b01a92c1d11f9edbb8f5fe1/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_a47f4c6da6bce4fc52f8ed2ce27dc58e53fa5bd72bfef0bb04a61adbc5249cc4/index.md
  files/zh-cn/conflicting/web/css/css_cascade/value_processing_bcdd1173c035d5a1f45a73ceb7da30cc58d8ff6e84066662a7d88acaf52fcc37/index.md
Labels: l10n-zh

2025/03/18 時点の英語版に同期
  files/ja/web/svg/guides/index.md
  files/ja/web/svg/guides/linking/index.md
  files/ja/web/svg/index.md
  files/ja/web/svg/reference/index.md
  files/ja/web/svg/tutorials/index.md
Labels: l10n-ja

Update index.md
  files/zh-cn/web/css/css_cascade/value_processing/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/_redirects.txt
Labels: l10n-zh

translate aria-valuemax and min
  files/ja/web/accessibility/aria/reference/attributes/aria-valuemax/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-valuemin/index.md
Labels: l10n-ja

[zh-cn] sync translated content (#26585)
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/css_cascade/actual_value/index.md
  files/zh-cn/web/css/css_cascade/computed_value/index.md
  files/zh-cn/web/css/css_cascade/initial_value/index.md
  files/zh-cn/web/css/css_cascade/specified_value/index.md
  files/zh-cn/web/css/css_cascade/used_value/index.md
  files/zh-cn/web/css/css_cascade/value_processing/index.md
  files/zh-cn/web/css/resolved_value/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/101/index.md
Labels: l10n-zh

[zh-cn]: update the translation of http `101` status (#26465)
  files/zh-cn/web/http/reference/status/101/index.md
Labels: l10n-zh

chore(css): use embedlivesample for css-examples
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/zh-cn/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
  files/zh-cn/web/css/css_flexible_box_layout/index.md
  files/zh-cn/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
  files/zh-cn/web/css/css_flexible_box_layout/ordering_flex_items/index.md
  files/zh-cn/web/css/css_flexible_box_layout/relationship_of_flexbox_to_other_layout_methods/index.md
  files/zh-cn/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Labels: l10n-zh

chore(css): use embedlivesample for css-examples
  files/zh-cn/web/css/css_display/block_and_inline_layout_in_normal_flow/index.md
  files/zh-cn/web/css/css_display/flow_layout/index.md
  files/zh-cn/web/css/css_display/flow_layout_and_overflow/index.md
  files/zh-cn/web/css/css_display/flow_layout_and_writing_modes/index.md
  files/zh-cn/web/css/css_display/in_flow_and_out_of_flow/index.md
  files/zh-cn/web/css/css_display/introduction_to_formatting_contexts/index.md
Labels: l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
