Repository mdn/translated-content, changes with the labels that .github/labeler.yml gives for each.
All labels: system, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pt-br, l10n-ru, l10n-zh

Fix CSS syntax ( → ) and improve Korean spacing
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

fix: replace `font-family: placeholder;` with `"Open Sans", sans-serif;`
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

fix: apply MDN linting style for font-family
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

fix: apply MDN linting style for font-family
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

aria-flowtoを翻訳 (#26341)
  files/ja/web/accessibility/aria/reference/attributes/aria-flowto/index.md
Labels: l10n-ja

Fix CSS syntax ( → ) and improve Korean spacing (#26450)
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

2023/12/31 時点の英語版に同期
  files/ja/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Labels: l10n-ja

2023/12/04 時点の英語版に同期
  files/ja/web/security/subdomain_takeovers/index.md
Labels: l10n-ja

2024/11/02 時点の英語版に同期
  files/ja/web/security/subresource_integrity/index.md
Labels: l10n-ja

2024/12/18 時点の英語版に同期
  files/ja/web/security/types_of_attacks/index.md
Labels: l10n-ja

2023/07/04 時点の英語版に同期
  files/ja/web/security/weak_signature_algorithm/index.md
Labels: l10n-ja

2024/08/08 時点の英語版に同期
  files/ja/web/security/transport_layer_security/index.md
Labels: l10n-ja

2025/02/04 時点の英語版に同期
  files/ja/web/security/user_activation/index.md
Labels: l10n-ja

translate aria-invalid
  files/ja/web/accessibility/aria/reference/attributes/aria-invalid/index.md
Labels: l10n-ja

translate aria-haspopup
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Labels: l10n-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-busy/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-checked/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-haspopup/index.md
Labels: l10n-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-orientation/index.md
Labels: l10n-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-modal/index.md
Labels: l10n-ja

replace "インターフェース" with "インターフェイス"
  files/ja/web/accessibility/aria/reference/attributes/aria-multiselectable/index.md
Labels: l10n-ja

fix: improve sentence structure in rule description
  files/ko/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
Labels: l10n-ko

2025/02/18 時点の英語版に同期
  files/ja/web/xml/guides/opensearch/index.md
Labels: l10n-ja

2025/03/14 時点の英語版に同期
  files/ja/web/xml/guides/parsing_and_serializing_xml/index.md
Labels: l10n-ja

2025/02/05 時点の英語版に同期
  files/ja/web/xml/guides/index.md
  files/ja/web/xml/guides/xml_introduction/index.md
Labels: l10n-ja

.xmlのMIMEタイプの記述内容を英語版に同期 (#26392)
  files/ja/web/http/guides/mime_types/common_types/index.md
Labels: l10n-ja

Update files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Labels: l10n-zh

translate aria-owns
  files/ja/web/accessibility/aria/reference/attributes/aria-owns/index.md
Labels: l10n-ja

2023/04/07 時点の英語版に同期
  files/ja/web/api/domparser/domparser/index.md
Labels: l10n-ja

2024/07/26 時点の英語版に同期
  files/ja/web/api/domparser/parsefromstring/index.md
Labels: l10n-ja

2025/02/05 時点の英語版に同期
  files/ja/web/api/domparser/index.md
Labels: l10n-ja

Apply suggestions from code review
  files/zh-cn/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
Labels: l10n-zh

ci: pass data betwen steps via GITHUB_OUTPUT
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

ci: pass data betwen steps via GITHUB_OUTPUT (#26462)
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

[fr]: fix typo (missing letter) in first sentence (#26428)
  files/fr/web/javascript/reference/global_objects/float64array/index.md
Labels: l10n-fr

[es]: Agrega traduccion de files/en-us/learn_web_development/core/css_layout/fundamental_layout_comprehension
  files/es/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
Labels: l10n-es

[ko] JavaScript performance optimization 신규 번역
  files/ko/learn_web_development/extensions/performance/javascript/index.md
Labels: l10n-ko

[zh-cn]: update the translation of http `101` status
  files/zh-cn/web/http/reference/status/101/index.md
Labels: l10n-zh

[zh-TW]: update HTTP Status `402` (#26417)
  files/zh-tw/web/http/reference/status/402/index.md
Labels: l10n-zh

Apply suggestions from code review
  files/zh-cn/web/http/reference/status/101/index.md
Labels: l10n-zh

zh-tw: sync translated content
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/getting_started/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/gradients/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/introduction/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/patterns/index.md
  files/zh-tw/web/svg/tutorials/svg_from_scratch/positions/index.md
Labels: l10n-zh

[zh-CN]: Sync translation for `FileSystemFileHandle.*` (#26394)
  files/zh-cn/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/zh-cn/web/api/filesystemfilehandle/createwritable/index.md
  files/zh-cn/web/api/filesystemfilehandle/getfile/index.md
Labels: l10n-zh

.github/labeler.yml:

# This file is used by .github/workflows/pr-labeler.yml to label pull requests based on the files changed in the PR.
# Object matching syntax: https://github.com/actions/labeler/blob/main/README.md#match-object

system:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - yarn.lock
          - .github/**
          - .husky/**
          - .vscode/**
          - .*
          - front-matter-config.json

l10n-es:
  - changed-files:
      - any-glob-to-any-file:
          - files/es/**
          - docs/es/**
          - .github/ISSUE_TEMPLATE/page-report-es.yml

l10n-fr:
  - changed-files:
      - any-glob-to-any-file:
          - files/fr/**
          - .github/ISSUE_TEMPLATE/page-report-fr.yml

l10n-ja:
  - changed-files:
      - any-glob-to-any-file:
          - files/ja/**
          - docs/ja/**
          - .github/ISSUE_TEMPLATE/page-report-ja.yml

l10n-ko:
  - changed-files:
      - any-glob-to-any-file:
          - files/ko/**
          - docs/ko/**
          - .github/ISSUE_TEMPLATE/page-report-ko.yml

l10n-pt-br:
  - changed-files:
      - any-glob-to-any-file:
          - files/pt-br/**
          - .github/ISSUE_TEMPLATE/page-report-pt-br.yml

l10n-ru:
  - changed-files:
      - any-glob-to-any-file:
          - files/ru/**
          - docs/ru/**
          - .github/ISSUE_TEMPLATE/page-report-ru.yml

l10n-zh:
  - changed-files:
      - any-glob-to-any-file:
          - files/zh-cn/**
          - files/zh-tw/**
          - docs/zh-cn/**
          - docs/zh-tw/**
          - .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
          - .github/ISSUE_TEMPLATE/page-report-zh-tw.yml
