Repository mdn/translated-content, pull requests merged in 2021-07, with the labels that each got.

#1297 /docs/Web/JavaScript/Reference/Global_Objects/Object/keys 문서 추가
  files/ko/web/javascript/reference/global_objects/object/getownpropertynames/index.html
  files/ko/web/javascript/reference/global_objects/object/keys/index.html
Labels: l10n-ko

#1346 feat(KO): JS REF - STRING RAW
  files/ko/web/javascript/reference/global_objects/string/raw/index.html
Labels: l10n-ko

#1339 Update index.html
  files/zh-cn/web/xpath/introduction_to_using_xpath_in_javascript/index.html
Labels: l10n-zh

#1258 Web/API/CSS_Object_Model/Determining_the_dimensions_of_elements を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/css_object_model/determining_the_dimensions_of_elements/index.html
  files/ja/web/api/css_object_model/determining_the_dimensions_of_elements/dimensions-client.png
  files/ja/web/api/css_object_model/determining_the_dimensions_of_elements/dimensions-offset.png
  files/ja/web/api/css_object_model/determining_the_dimensions_of_elements/index.html
Labels: l10n-ja

#1259 Web/API/Document_Object_Model を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/document_object_model/index.html
  files/ja/conflicting/web/api/document_object_model_226486dcf4878082093d6899a9e478cc/index.html
  files/ja/conflicting/web/api/document_object_model_656f0e51418b39c498011268be9b3a10/index.html
  files/ja/conflicting/web/api/document_object_model_8435a25d5137b436d5d7161e1b813c02/index.html
  files/ja/web/api/document_object_model/index.html
Labels: l10n-ja

#1260 Web/JavaScript/Guide を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/guide/index.html
  files/ja/conflicting/web/javascript/guide_552be6201ec831852573aad295c96538/index.html
  files/ja/web/javascript/guide/index.html
Labels: l10n-ja

#1277 Web/CSS/@viewport を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/@viewport/index.html
  files/ja/conflicting/web/css/@viewport_516ab4b0283b5b2231fb657505e22440/index.html
  files/ja/conflicting/web/css/@viewport_6e9c91ec34cdb0393d301240d0d50d84/index.html
  files/ja/conflicting/web/css/@viewport_a33ee59ffd8336ffb3336900dea02e9f/index.html
  files/ja/conflicting/web/css/@viewport_d03ebc763769680c55d1a4258592d3ed/index.html
  files/ja/conflicting/web/css/@viewport_e065ce90bde08c9679692adbe64f6518/index.html
  files/ja/web/css/@viewport/index.html
Labels: l10n-ja

#1279 Web/API/HTMLFormElement/reportValidity を更新
  files/ja/web/api/htmlformelement/reportvalidity/index.html
Labels: l10n-ja

#1290 Web/CSS/width を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/width/index.html
  files/ja/conflicting/web/css/width_eaae26a6fb20ed3ef54fb23bfa0b1fcc/index.html
  files/ja/web/css/width/index.html
Labels: l10n-ja

#1322 Fixes #1309 - Update String landing page vs. en-US
  files/fr/web/javascript/reference/global_objects/string/index.html
Labels: l10n-fr

#1161 Firefox 89 for developers を翻訳
  files/ja/mozilla/firefox/releases/89/index.html
Labels: l10n-ja

#1294 orphaned 内にある browser-compat-data に関する非表示の指示を一括削除
  files/ja/orphaned/web/api/childnode/remove/index.html
  files/ja/orphaned/web/api/documentorshadowroot/index.html
  files/ja/orphaned/web/api/elementcssinlinestyle/index.html
  files/ja/orphaned/web/api/elementcssinlinestyle/style/index.html
  files/ja/orphaned/web/api/parentnode/append/index.html
  files/ja/orphaned/web/api/parentnode/children/index.html
  files/ja/orphaned/web/api/parentnode/prepend/index.html
  files/ja/orphaned/web/api/parentnode/queryselectorall/index.html
  files/ja/orphaned/web/css/@media/scan/index.html
  files/ja/orphaned/web/css/@page/bleed/index.html
  files/ja/orphaned/web/css/@page/marks/index.html
  files/ja/orphaned/web/html/element/command/index.html
  files/ja/orphaned/web/html/element/element/index.html
  files/ja/orphaned/web/html/element/isindex/index.html
  files/ja/orphaned/web/html/element/listing/index.html
  files/ja/orphaned/web/html/element/multicol/index.html
  files/ja/orphaned/web/html/global_attributes/dropzone/index.html
  files/ja/orphaned/web/javascript/reference/global_objects/array/prototype/index.html
  files/ja/orphaned/web/javascript/reference/global_objects/finalizationregistry/cleanupsome/index.html
  files/ja/orphaned/web/manifest/serviceworker/index.html
  files/ja/orphaned/web/svg/element/solidcolor/index.html
Labels: l10n-ja

#1335 Fix the translated description of connectedCallback
  files/ja/web/web_components/using_custom_elements/index.html
Labels: l10n-ja

#1371 number-game-errors.html
  files/ru/learn/javascript/first_steps/what_went_wrong/index.html
Labels: l10n-ru

#1318 WebRTC glossary translated
  files/ru/glossary/webrtc/index.html
Labels: l10n-ru

#1384 [RU] Improve wording on JavaScript/First_steps/Strings
  files/ru/learn/javascript/first_steps/strings/index.html
Labels: l10n-ru

#1302 Javascript Math.tan(), Math.trunc() en-us와 동기화
  files/ko/web/javascript/reference/global_objects/math/tan/index.html
  files/ko/web/javascript/reference/global_objects/math/trunc/index.html
Labels: l10n-ko

#1311 Web/API/Node を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/node/index.html
  files/ja/conflicting/web/api/node_378aed5ed6869e50853edbc988cf9556/index.html
  files/ja/web/api/node/index.html
Labels: l10n-ja

#1347 remove use of $sample in Learn/JavaScript/First_steps/What_is_JavaScript
  files/pt-br/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-pt-br

#1349 [PT-BR] Fixing typos
  files/pt-br/web/javascript/inheritance_and_the_prototype_chain/index.html
Labels: l10n-pt-br

#1350 [PT-BR] Fixing typos & restructuring sentence
  files/pt-br/web/javascript/guide/iterators_and_generators/index.html
Labels: l10n-pt-br

#1341 [PT-BR] Full page revision
  files/pt-br/web/javascript/guide/using_promises/index.html
Labels: l10n-pt-br

#1397 fixing spaces and lenguage at global_objects/array/index.html, pt-br
  files/pt-br/web/javascript/reference/global_objects/array/index.html
Labels: l10n-pt-br

#1340 Web/Accessibility/ARIA/Roles/Row_Role の更新
  files/ja/web/accessibility/aria/roles/row_role/index.html
Labels: l10n-ja

#1398 [RU] Fix typo on Learn/JavaScript/Building_blocks/conditionals
  files/ru/learn/javascript/building_blocks/conditionals/index.html
Labels: l10n-ru

#1363 Javascript/error 속성 추가
  files/ko/web/javascript/reference/global_objects/error/columnnumber/index.html
  files/ko/web/javascript/reference/global_objects/error/filename/index.html
  files/ko/web/javascript/reference/global_objects/error/linenumber/index.html
  files/ko/web/javascript/reference/global_objects/error/message/index.html
  files/ko/web/javascript/reference/global_objects/error/name/index.html
  files/ko/web/javascript/reference/global_objects/error/tostring/index.html
Labels: l10n-ko

#1392 fix 'computedString'
  files/zh-cn/web/guide/ajax/getting_started/index.html
Labels: l10n-zh

#1394 fix(img): link of crossorigin attributes(zh-cn)
  files/zh-cn/web/html/element/img/index.html
Labels: l10n-zh

#1378 Fixes #1313 - update vs. en-US
  files/fr/web/javascript/guide/working_with_objects/index.html
Labels: l10n-fr

#1381 Fixes #1365, update vs en-US
  files/fr/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: l10n-fr

#1411 fix: next page link
  files/zh-cn/learn/css/css_layout/multiple-column_layout/index.html
Labels: l10n-zh

#1438 fix some flaws in Tools/Performance/How_to
  files/fr/tools/performance/how_to/index.html
Labels: l10n-fr

#1409 [ko] fix: Fix typo
  files/ko/web/javascript/reference/global_objects/string/index.html
Labels: l10n-ko

#1436 fix some fixable flaws in Canvas API (fr)
  files/fr/web/api/canvas_api/tutorial/using_images/backdrop.png
  files/fr/web/api/canvas_api/tutorial/using_images/bg_gallery.png
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_backdrop.png
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_drawimage.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_drawimage2.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_picture_frame.png
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_scale_image.png
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_1.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_2.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_3.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_4.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_5.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_6.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_7.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_8.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/index.html
  files/fr/web/api/canvas_api/tutorial/using_images/rhino.jpg
Labels: l10n-fr

#919 [FEAT] add Issue template
  .github/ISSUE_TEMPLATE/content-bug.md
  .github/ISSUE_TEMPLATE/new-content-suggestion.md
Labels: enhancement

#1431 feat(KO): JS REF - 스트링 TRIM START 문서 추가
  files/ko/web/javascript/reference/global_objects/string/trimstart/index.html
Labels: l10n-ko

#1424 [PT-BR] Fixing issue #1400 plus other corrections
  files/pt-br/web/api/history_api/index.html
Labels: l10n-pt-br

#1283 [ko] fix: learn/javascript/objects en-us와 동기화
  files/ko/learn/javascript/objects/index.html
Labels: l10n-ko

#1450 (docs) fix a wrong word
  files/zh-cn/webassembly/using_the_javascript_api/index.html
Labels: l10n-zh

#1457 changed link reference in 'for...in'
  files/pt-br/web/javascript/guide/working_with_objects/index.html
Labels: l10n-pt-br

#1470 Web/API/Element を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/element/index.html
  files/ja/conflicting/web/api/element_861159909c20acebf8e506c3bb0e2f7e/index.html
  files/ja/web/api/element/index.html
Labels: l10n-ja

#1337 Tools/Responsive_Design_Mode を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/tools/responsive_design_mode/index.html
  files/ja/tools/responsive_design_mode/index.html
  files/ja/tools/responsive_design_mode/responsive_setting_menu.png
Labels: l10n-ja

#1462 Add "loading" attribute description
  files/ru/web/html/element/img/index.html
Labels: l10n-ru

#1444 follow up PR #14339 for fr page
  files/fr/web/svg/tutorial/getting_started/index.html
Labels: l10n-fr

#1383 Add arithmetic assignment operators
  files/ko/web/javascript/reference/operators/addition_assignment/index.html
  files/ko/web/javascript/reference/operators/division_assignment/index.html
  files/ko/web/javascript/reference/operators/exponentiation_assignment/index.html
  files/ko/web/javascript/reference/operators/multiplication_assignment/index.html
  files/ko/web/javascript/reference/operators/remainder_assignment/index.html
  files/ko/web/javascript/reference/operators/subtraction_assignment/index.html
Labels: l10n-ko

#1453 ADD javascript get own property descriptors 번역
  files/ko/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.html
Labels: l10n-ko

#1359 MDN/Contribute を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mdn/contribute/index.html
  files/ja/conflicting/mdn/contribute_b4eeb7c50b999a53684260de17d44d1b/index.html
  files/ja/mdn/contribute/index.html
Labels: l10n-ja

#1089 [ko] Work done for 'Looping codes', 'Test your skills: loops' article.
  files/ko/learn/javascript/building_blocks/looping_code/index.html
  files/ko/learn/javascript/building_blocks/test_your_skills_colon__loops/index.html
Labels: l10n-ko

#1360 Mozilla/Add-ons を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mozilla/add-ons/index.html
  files/ja/mozilla/add-ons/contact_us/index.html
  files/ja/mozilla/add-ons/index.html
Labels: l10n-ja

#1491 ブラウザー互換性データの説明を削除 (残り)
  files/ja/orphaned/web/api/localmediastream/index.html
  files/ja/web/api/caretposition/index.html
  files/ja/web/api/characterdata/index.html
  files/ja/web/api/comment/index.html
  files/ja/web/api/domhighrestimestamp/index.html
  files/ja/web/api/domimplementation/index.html
  files/ja/web/api/element/attributes/index.html
  files/ja/web/api/event/target/index.html
  files/ja/web/api/gamepad_api/using_the_gamepad_api/index.html
  files/ja/web/api/htmlselectelement/item/index.html
  files/ja/web/api/inputevent/inputtype/index.html
  files/ja/web/api/mediarecordererrorevent/error/index.html
  files/ja/web/api/mediarecordererrorevent/index.html
  files/ja/web/api/mediarecordererrorevent/mediarecordererrorevent/index.html
  files/ja/web/api/mediastream/getaudiotracks/index.html
  files/ja/web/api/pointerevent/getcoalescedevents/index.html
  files/ja/web/api/pointerevent/height/index.html
  files/ja/web/api/pointerevent/isprimary/index.html
  files/ja/web/api/pointerevent/pointerevent/index.html
  files/ja/web/api/pointerevent/pointerid/index.html
  files/ja/web/api/pointerevent/pointertype/index.html
  files/ja/web/api/pointerevent/pressure/index.html
  files/ja/web/api/pointerevent/tangentialpressure/index.html
  files/ja/web/api/pointerevent/tiltx/index.html
  files/ja/web/api/pointerevent/tilty/index.html
  files/ja/web/api/pointerevent/twist/index.html
  files/ja/web/api/pointerevent/width/index.html
  files/ja/web/api/readablebytestreamcontroller/byobrequest/index.html
  files/ja/web/api/readablebytestreamcontroller/close/index.html
  files/ja/web/api/readablebytestreamcontroller/desiredsize/index.html
  files/ja/web/api/readablebytestreamcontroller/enqueue/index.html
  files/ja/web/api/readablebytestreamcontroller/error/index.html
  files/ja/web/api/readablebytestreamcontroller/index.html
  files/ja/web/api/readablestream/cancel/index.html
  files/ja/web/api/readablestream/getreader/index.html
  files/ja/web/api/readablestream/locked/index.html
  files/ja/web/api/readablestream/pipethrough/index.html
  files/ja/web/api/readablestream/pipeto/index.html
  files/ja/web/api/readablestream/readablestream/index.html
  files/ja/web/api/readablestream/tee/index.html
  files/ja/web/api/readablestreambyobreader/cancel/index.html
  files/ja/web/api/readablestreambyobreader/closed/index.html
  files/ja/web/api/readablestreambyobreader/index.html
  files/ja/web/api/readablestreambyobreader/read/index.html
  files/ja/web/api/readablestreambyobreader/readablestreambyobreader/index.html
  files/ja/web/api/readablestreambyobreader/releaselock/index.html
  files/ja/web/api/readablestreamdefaultcontroller/desiredsize/index.html
  files/ja/web/api/readablestreamdefaultcontroller/enqueue/index.html
  files/ja/web/api/request/mode/index.html
  files/ja/web/api/storage/index.html
  files/ja/web/api/svgstringlist/index.html
  files/ja/web/api/window/appinstalled_event/index.html
  files/ja/web/css/_colon_scope/index.html
  files/ja/web/http/headers/feature-policy/vr/index.html
Labels: l10n-ja

#1480 Fix typos
  files/ja/web/css/viewport_concepts/index.html
Labels: l10n-ja

#1427 Встроенные элементы -> Строчные элементы
  files/ru/learn/css/css_layout/normal_flow/index.html
Labels: l10n-ru

#1405 Неточность(непонятка)
  files/ru/web/css/initial_value/index.html
Labels: l10n-ru

#1446 Обновление перевода "Client-side form validation"
  files/ru/learn/forms/form_validation/index.html
Labels: l10n-ru

#1465 Add JPEG glossary entry
  files/ko/glossary/jpeg/index.html
  files/ko/glossary/png/index.html
Labels: l10n-ko

#1468 labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  files/de/learn/getting_started_with_the_web/how_the_web_works/index.html
  files/zh-tw/learn/html/tables/basics/index.html
Labels: l10n-de, l10n-zh, system

#1385 Add unary operators
  files/ko/web/javascript/reference/operators/unary_negation/index.html
  files/ko/web/javascript/reference/operators/unary_plus/index.html
Labels: l10n-ko

#1361 conflicting/Web/API/DocumentOrShadowRoot を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/documentorshadowroot/getselection/index.html
  files/ja/conflicting/web/api/documentorshadowroot/index.html
  files/ja/conflicting/web/api/documentorshadowroot_20ea0e1d91453a020aad3a16dbce16f1/index.html
  files/ja/web/api/document/getselection/index.html
Labels: l10n-ja

#1366 Web/API/WindowOrWorkerGlobalScope を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/windoworworkerglobalscope/index.html
  files/ja/conflicting/web/api/windoworworkerglobalscope_e2691f7ad05781a30c5fc5bb3b3f633a/index.html
  files/ja/web/api/windoworworkerglobalscope/index.html
Labels: l10n-ja

#1370 Web/CSS/:placeholder-shown を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/_colon_placeholder-shown/index.html
  files/ja/web/css/_colon_placeholder-shown/index.html
Labels: l10n-ja

#1372 Web/Guide/Events/Creating_and_triggering_events を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/guide/events/creating_and_triggering_events/index.html
  files/ja/web/events/creating_and_triggering_events/index.html
Labels: l10n-ja

#1373 Web/Guide/Mobile を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/guide/mobile/index.html
  files/ja/web/guide/mobile/index.html
Labels: l10n-ja

#1374 Web/HTML/Element を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/html/element/index.html
  files/ja/web/html/element/index.html
Labels: l10n-ja

#1375 Web/HTTP/Connection_management_in_HTTP_1.x を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/http/connection_management_in_http_1.x/index.html
  files/ja/web/http/connection_management_in_http_1.x/index.html
Labels: l10n-ja

#1379 Web/HTTP/Headers/X-DNS-Prefetch-Control を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/http/headers/x-dns-prefetch-control/index.html
  files/ja/web/http/headers/x-dns-prefetch-control/index.html
Labels: l10n-ja

#1387 /ja/docs/Web/Accessibility/ARIA/Roles/Rowgroup_Role の更新
  files/ja/web/accessibility/aria/roles/rowgroup_role/index.html
Labels: l10n-ja

#1388 英語版章題マクロを除去（残り）
  files/ja/web/api/element/clientleft/index.html
  files/ja/web/api/htmlelement/oncut/index.html
Labels: l10n-ja

#1390 原語併記マクロを削除
  files/ja/glossary/string/index.html
  files/ja/web/javascript/guide/details_of_the_object_model/index.html
Labels: l10n-ja

#1510 Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/global_objects/intl/datetimeformat/index.html
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/index.html
Labels: l10n-ja

#1511 files/ja/web/api/service_worker_api/index.htmlの誤字を修正
  files/ja/web/api/service_worker_api/index.html
Labels: l10n-ja

#1494 Fix Japanese text (React ToDoリストをはじめる)
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.html
Labels: l10n-ja

#1517 fix: the pre label 'dir' attribute
  files/zh-cn/web/javascript/reference/operators/instanceof/index.html
Labels: l10n-zh

#1498 Update index.html
  files/zh-cn/web/api/idbcursor/index.html
Labels: l10n-zh

#1483 fix: the 'eval' jump to the correct link
  files/zh-cn/web/api/html_dom_api/microtask_guide/in_depth/index.html
Labels: l10n-zh

#1445 Update translation of index.html, issue #1420
  files/ru/mdn/contribute/feedback/index.html
Labels: l10n-ru

#1434 Fixes #1432 - Update vs. en-US page + linting
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
Labels: l10n-fr

#1460 Fixes #1458 - update vs. en-US
  files/fr/learn/common_questions/pages_sites_servers_and_search_engines/index.html
Labels: l10n-fr

#1399 Web/JavaScript/Reference/Global_Objects/String/lastIndexOf を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/global_objects/string/lastindexof/index.html
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.html
Labels: l10n-ja

#1406 Web/SVG/SVG_1.1_Support_in_Firefox の conflicting 版を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/svg/svg_1.1_support_in_firefox/index.html
Labels: l10n-ja

#1407 Web/Progressive_web_apps を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/progressive_web_apps/index.html
  files/ja/web/progressive_web_apps/index.html
Labels: l10n-ja

#1519 Update index.html
  files/zh-cn/web/css/transform-origin/index.html
Labels: l10n-zh

#1506 Updates IndexedDB IDBRequest.result page vs. en-US counterparts + rm macros
  files/fr/web/api/idbrequest/result/index.html
Labels: l10n-fr

#1526 Fix issue #1509
  files/ru/web/javascript/guide/introduction/index.html
Labels: l10n-ru

#1429 fix various fixable flaws in Learn tree (ru)
  files/ru/learn/common_questions/what_is_a_web_server/index.html
  files/ru/learn/css/building_blocks/fundamental_css_comprehension/index.html
  files/ru/learn/css/building_blocks/selectors/index.html
  files/ru/learn/css/building_blocks/styling_tables/index.html
  files/ru/learn/css/styling_text/styling_links/index.html
  files/ru/learn/css/styling_text/styling_lists/index.html
  files/ru/learn/css/styling_text/typesetting_a_homepage/index.html
  files/ru/learn/forms/basic_native_form_controls/all-buttons.png
  files/ru/learn/forms/basic_native_form_controls/all-checkbox.png
  files/ru/learn/forms/basic_native_form_controls/all-datalist.png
  files/ru/learn/forms/basic_native_form_controls/all-multi-lines-select.png
  files/ru/learn/forms/basic_native_form_controls/all-multi-lines-text-field.png
  files/ru/learn/forms/basic_native_form_controls/all-radio.png
  files/ru/learn/forms/basic_native_form_controls/all-search-field.png
  files/ru/learn/forms/basic_native_form_controls/all-select.png
  files/ru/learn/forms/basic_native_form_controls/all-single-line-text-field.png
  files/ru/learn/forms/basic_native_form_controls/datalist-firefox-macos.png
  files/ru/learn/forms/basic_native_form_controls/datalist-safari.png
  files/ru/learn/forms/basic_native_form_controls/email-invalid.png
  files/ru/learn/forms/basic_native_form_controls/index.html
  files/ru/learn/forms/sending_and_retrieving_form_data/index.html
  files/ru/learn/getting_started_with_the_web/css_basics/index.html
  files/ru/learn/getting_started_with_the_web/javascript_basics/index.html
  files/ru/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/ru/learn/html/tables/basics/index.html
  files/ru/learn/javascript/first_steps/strings/index.html
Labels: l10n-ru

#1528 Update name of the article
  files/ru/learn/html/introduction_to_html/advanced_text_formatting/index.html
Labels: l10n-ru

#1530 Update name of the article
  files/ru/learn/html/multimedia_and_embedding/mozilla_splash_page/index.html
Labels: l10n-ru

#1469 [ko] fix typo
  files/ko/learn/javascript/first_steps/a_first_splash/index.html
Labels: l10n-ko

#1534 Links fix [index.html]
  files/pt-br/web/http/methods/index.html
Labels: l10n-pr-br

#1419 Web/Security/Same-origin_policy を更新
  files/ja/web/security/same-origin_policy/index.html
Labels: l10n-ja

#1433 Web/Accessibility/ARIA/Roles/Search_role の更新
  files/ja/web/accessibility/aria/roles/search_role/index.html
Labels: l10n-ja

#1538 FIX pt-br translation
  files/pt-br/web/http/headers/referer/index.html
Labels: l10n-pr-br

#1428 unbreak live sample with HTML and JS
  files/pt-br/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-pt-br

#1464 Rewrite SVG main page
  files/ko/web/svg/index.html
Labels: l10n-ko

#1543 Fix typo and unify format
  files/zh-cn/web/css/viewport_concepts/index.html
Labels: l10n-zh

#1345 Fix some inaccuracies
  files/ru/learn/css/building_blocks/images_media_form_elements/index.html
  files/ru/learn/css/styling_text/index.html
  files/ru/learn/html/introduction_to_html/getting_started/index.html
  files/ru/learn/javascript/first_steps/variables/index.html
  files/ru/web/javascript/guide/keyed_collections/index.html
Labels: l10n-ru

#1547 delete pages that were never translated from en-US (es, part 1)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/games/techniques/3d_on_the_web/index.html
  files/es/learn/css/css_layout/positioning/index.html
  files/es/learn/javascript/client-side_web_apis/fetching_data/index.html
  files/es/learn/server-side/express_nodejs/mongoose/index.html
  files/es/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
  files/es/mdn/contribute/howto/document_a_css_property/index.html
  files/es/mozilla/add-ons/webextensions/api/webnavigation/index.html
  files/es/mozilla/add-ons/webextensions/extending_the_developer_tools/index.html
  files/es/mozilla/add-ons/webextensions/internationalization/index.html
  files/es/mozilla/firefox/releases/62/index.html
  files/es/mozilla/firefox/releases/67/index.html
  files/es/mozilla/firefox/releases/68/index.html
  files/es/web/api/canvas_api/tutorial/applying_styles_and_colors/index.html
  files/es/web/api/constraint_validation/index.html
  files/es/web/api/cssrule/parentstylesheet/index.html
  files/es/web/api/datatransfer/index.html
  files/es/web/api/document/evaluate/index.html
  files/es/web/api/element/shadowroot/index.html
  files/es/web/api/file/type/index.html
  files/es/web/api/globaleventhandlers/onloadedmetadata/index.html
  files/es/web/api/history_api/example/index.html
  files/es/web/api/htmlcontentelement/getdistributednodes/index.html
  files/es/web/api/htmlcontentelement/index.html
  files/es/web/api/htmlcontentelement/select/index.html
  files/es/web/api/htmlelement/innertext/index.html
  files/es/web/api/htmlhtmlelement/index.html
  files/es/web/api/htmlmediaelement/abort_event/index.html
  files/es/web/api/keyboardevent/getmodifierstate/index.html
  files/es/web/api/keyboardevent/key/index.html
  files/es/web/api/navigator/mediadevices/index.html
  files/es/web/api/pushmanager/permissionstate/index.html
  files/es/web/api/range/intersectsnode/index.html
  files/es/web/api/service_worker_api/using_service_workers/index.html
  files/es/web/api/serviceworkerregistration/index.html
  files/es/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.html
  files/es/web/api/window/sidebar/index.html
  files/es/web/api/windoweventhandlers/onunload/index.html
  files/es/web/api/xmlhttprequesteventtarget/index.html
  files/es/web/api/xmlhttprequesteventtarget/onload/index.html
  files/es/web/css/@viewport/index.html
  files/es/web/css/css_grid_layout/css_grid_layout_and_accessibility/index.html
  files/es/web/css/max-width/index.html
  files/es/web/http/cors/errors/corsnotsupportingcredentials/index.html
  files/es/web/http/headers/accept-charset/index.html
  files/es/web/http/status/301/index.html
  files/es/web/javascript/reference/deprecated_and_obsolete_features/the_legacy_iterator_protocol/index.html
  files/es/web/javascript/reference/errors/precision_range/index.html
  files/es/web/javascript/reference/global_objects/date/getutchours/index.html
  files/es/web/javascript/reference/global_objects/math/fround/index.html
  files/es/web/javascript/reference/global_objects/object/__lookupgetter__/index.html
  files/es/web/media/formats/containers/index.html
  files/es/web/performance/how_browsers_work/index.html
  files/es/web/svg/tutorial/svg_in_html_introduction/index.html
Labels: l10n-es

#1542 Update index.html
  files/ru/learn/javascript/building_blocks/conditionals/index.html
Labels: l10n-ru

#1552 delete pages that were never translated from en-US (de, part 2)
  files/de/_redirects.txt
  files/de/_wikihistory.json
  files/de/learn/javascript/first_steps/useful_string_methods/index.html
  files/de/mdn/guidelines/index.html
  files/de/mdn/structures/compatibility_tables/index.html
  files/de/mozilla/add-ons/webextensions/api/browseraction/index.html
  files/de/mozilla/firefox/releases/16/index.html
  files/de/web/accessibility/understanding_wcag/index.html
  files/de/web/api/xmlhttprequest/using_xmlhttprequest/index.html
  files/de/web/html/attributes/index.html
  files/de/web/http/headers/set-cookie/index.html
  files/de/web/javascript/reference/global_objects/object/defineproperty/index.html
Labels: l10n-de

#1551 delete pages that were never translated from en-US (pl, part 2)
  files/pl/_redirects.txt
  files/pl/_wikihistory.json
  files/pl/learn/tools_and_testing/index.html
  files/pl/mozilla/add-ons/webextensions/api/index.html
  files/pl/tools/performance/index.html
  files/pl/web/api/speechrecognition/index.html
  files/pl/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.html
  files/pl/web/html/element/input/index.html
  files/pl/web/http/headers/cache-control/index.html
Labels: l10n-pl

#1550 delete pages that were never translated from en-US (es, part 2)
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/games/anatomy/index.html
  files/es/learn/forms/property_compatibility_table_for_form_controls/index.html
  files/es/learn/javascript/asynchronous/async_await/index.html
  files/es/learn/javascript/building_blocks/events/index.html
  files/es/learn/javascript/building_blocks/functions/index.html
  files/es/learn/javascript/building_blocks/image_gallery/index.html
  files/es/learn/server-side/django/django_assessment_blog/index.html
  files/es/learn/server-side/django/web_application_security/index.html
  files/es/mozilla/firefox/releases/19/index.html
  files/es/mozilla/firefox/releases/63/index.html
  files/es/tools/3d_view/index.html
  files/es/tools/debugger/how_to/set_a_breakpoint/index.html
  files/es/tools/page_inspector/how_to/work_with_animations/index.html
  files/es/tools/settings/index.html
  files/es/web/api/audionode/index.html
  files/es/web/api/canvas_api/tutorial/hit_regions_and_accessibility/index.html
  files/es/web/api/filesystem/index.html
  files/es/web/api/headers/index.html
  files/es/web/api/html_drag_and_drop_api/recommended_drag_types/index.html
  files/es/web/api/htmlcanvaselement/toblob/index.html
  files/es/web/api/mediasource/index.html
  files/es/web/api/webvtt_api/index.html
  files/es/web/api/window/domcontentloaded_event/index.html
  files/es/web/api/worker/postmessage/index.html
  files/es/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.html
  files/es/web/css/@document/index.html
  files/es/web/css/background-position-x/index.html
  files/es/web/css/border-radius/index.html
  files/es/web/css/cascade/index.html
  files/es/web/css/clip-path/index.html
  files/es/web/css/media_queries/testing_media_queries/index.html
  files/es/web/html/attributes/autocomplete/index.html
  files/es/web/html/element/shadow/index.html
  files/es/web/javascript/reference/global_objects/encodeuricomponent/index.html
  files/es/web/javascript/reference/statements/with/index.html
  files/es/web/mathml/authoring/index.html
  files/es/web/mathml/authoring/openoffice.png
  files/es/web/media/formats/index.html
  files/es/web/svg/element/foreignobject/index.html
  files/es/web/xslt/element/number/index.html
Labels: l10n-es

#1452 Web/HTML/Element/hgroup を更新
  files/ja/web/html/element/hgroup/index.html
Labels: l10n-ja

#1508 [ja] fix: typo of global_objects date index
  files/ja/web/javascript/reference/global_objects/date/index.html
Labels: l10n-ja

#1362 Javascript/URIError 추가 외
  files/ko/web/javascript/reference/global_objects/typeerror/index.html
  files/ko/web/javascript/reference/global_objects/urierror/index.html
  files/ko/web/javascript/reference/global_objects/urierror/urierror/index.html
Labels: l10n-ko

#1382 [ko]RangeError: radix must be an integer
  files/ko/web/javascript/reference/errors/bad_radix/index.html
  files/ko/web/javascript/reference/global_objects/bigint/tostring/index.html
Labels: l10n-ko

#1461 [ko] fix: Delete typos
  files/ko/web/javascript/reference/global_objects/asyncfunction/index.html
Labels: l10n-ko

#1393 Update Expressions and Operators guide
  files/ko/web/javascript/guide/expressions_and_operators/index.html
Labels: l10n-ko

#1536 Update index.html (destructuring)
  files/ko/web/javascript/reference/operators/destructuring_assignment/index.html
Labels: l10n-ko

#1545 Delete broken Polish clientHeight page
  files/pl/_redirects.txt
  files/pl/web/api/element/clientheight/index.html
Labels: l10n-pl

#1566 [fr] update WebExtensions API tabs.duplicate page
  files/fr/mozilla/add-ons/webextensions/api/tabs/duplicate/index.html
Labels: l10n-fr

#1572 Update Basic Shapes (SVG) : remove redundant §
  files/fr/web/svg/tutorial/basic_shapes/index.html
Labels: l10n-fr

#1573 purge all redirects to archived content
  files/de/_redirects.txt
  files/es/_redirects.txt
  files/fr/_redirects.txt
  files/ja/_redirects.txt
  files/ko/_redirects.txt
  files/pl/_redirects.txt
  files/ru/_redirects.txt
  files/zh-cn/_redirects.txt
  files/zh-tw/_redirects.txt
Labels: l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-ko, l10n-pl, l10n-ru, l10n-zh

#1533 correct the description of zh-cn date getTimezoneOffset
  files/zh-cn/web/javascript/reference/global_objects/date/gettimezoneoffset/index.html
Labels: l10n-zh

#1561 fix broken_links and bad_pre_tags
  files/zh-cn/web/css/viewport_concepts/index.html
Labels: l10n-zh

#1478 Learn/HTML/Introduction_to_HTML を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/html/introduction_to_html/index.html
  files/ja/learn/html/introduction_to_html/index.html
Labels: l10n-ja

#1487 Web/API/Element/compositionstart_event を更新
  files/ja/_redirects.txt
  files/ja/conflicting/web/api/element/compositionstart_event/index.html
  files/ja/web/api/element/compositionstart_event/index.html
Labels: l10n-ja

#1515 Web/API/Navigator を更新
  files/ja/web/api/navigator/index.html
Labels: l10n-ja

#1575 Fix redirects file for zh-CN to complete #1573
  files/zh-cn/_redirects.txt
Labels: l10n-zh

#1571 Web/API/Request を更新
  files/ja/web/api/request/index.html
Labels: l10n-ja

#1245 update: Web API の紹介 の未訳箇所
  files/ja/learn/javascript/client-side_web_apis/introduction/index.html
Labels: l10n-ja

#1473 Web/JavaScript/Reference/Global_Objects/SharedArrayBuffer を更新
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.html
Labels: l10n-ja

#1474 conflicting/Learn/CSS 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/css/building_blocks/index.html
  files/ja/conflicting/learn/css/css_layout/index.html
  files/ja/conflicting/learn/css/styling_text/styling_lists/index.html
  files/ja/learn/css/building_blocks/index.html
  files/ja/learn/css/css_layout/index.html
  files/ja/learn/css/styling_text/styling_lists/index.html
Labels: l10n-ja

#1476 Learn/Getting_started_with_the_web/JavaScript_basics を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/getting_started_with_the_web/javascript_basics/index.html
  files/ja/conflicting/web/javascript/reference/operators/index.html
  files/ja/learn/getting_started_with_the_web/javascript_basics/index.html
  files/ja/web/html/element/hgroup/index.html
  files/ja/web/javascript/reference/global_objects/date/index.html
Labels: l10n-ja

#1477 20210711-callout
  files/ja/learn/css/building_blocks/index.html
  files/ja/learn/css/css_layout/index.html
  files/ja/learn/index.html
  files/ja/learn/tools_and_testing/github/index.html
  files/ja/learn/tools_and_testing/index.html
  files/ja/learn/tools_and_testing/understanding_client-side_tools/index.html
  files/ja/web/css/index.html
  files/ja/web/html/index.html
  files/ja/web/javascript/index.html
Labels: l10n-ja

#1377 feat(KO): JS REF - 스트링 TRIM END 메서드 문서추가
  files/ko/web/javascript/reference/global_objects/string/trimend/index.html
Labels: l10n-ko

#1531 Перевод "Validitystate" и дочерних статей
  files/ru/web/api/validitystate/badinput/index.html
  files/ru/web/api/validitystate/index.html
  files/ru/web/api/validitystate/patternmismatch/index.html
  files/ru/web/api/validitystate/rangeoverflow/index.html
  files/ru/web/api/validitystate/rangeunderflow/index.html
  files/ru/web/api/validitystate/stepmismatch/index.html
  files/ru/web/api/validitystate/toolong/index.html
  files/ru/web/api/validitystate/tooshort/index.html
  files/ru/web/api/validitystate/typemismatch/index.html
Labels: l10n-ru

#1576 Исправление перевода
  files/ru/learn/javascript/client-side_web_apis/manipulating_documents/index.html
Labels: l10n-ru

#1535 [ko] Work done for 'Using the Web Audio API' article.
  files/ko/web/api/web_audio_api/using_web_audio_api/index.html
Labels: l10n-ko

#1567 fix: delete wiki.mozilla.org from ko files
  files/ko/glossary/domain_name/index.html
  files/ko/glossary/falsy/index.html
  files/ko/glossary/preflight_request/index.html
  files/ko/learn/css/building_blocks/debugging_css/index.html
  files/ko/learn/getting_started_with_the_web/html_basics/index.html
  files/ko/learn/getting_started_with_the_web/index.html
  files/ko/learn/html/introduction_to_html/getting_started/index.html
  files/ko/learn/html/introduction_to_html/html_text_fundamentals/index.html
  files/ko/learn/javascript/asynchronous/concepts/index.html
  files/ko/learn/javascript/objects/json/index.html
  files/ko/learn/javascript/objects/test_your_skills_colon__json/index.html
  files/ko/learn/server-side/first_steps/web_frameworks/index.html
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
  files/ko/mdn/guidelines/writing_style_guide/index.html
  files/ko/web/api/abortcontroller/abort/index.html
  files/ko/web/api/abortcontroller/abortcontroller/index.html
  files/ko/web/api/abortcontroller/index.html
  files/ko/web/api/abortcontroller/signal/index.html
  files/ko/web/api/abortsignal/index.html
  files/ko/web/api/clipboard/index.html
  files/ko/web/api/readablestream/index.html
  files/ko/web/api/web_audio_api/index.html
  files/ko/web/css/css_positioning/understanding_z_index/the_stacking_context/index.html
  files/ko/web/css/media_queries/using_media_queries/index.html
  files/ko/web/css/position/index.html
  files/ko/web/css/specificity/index.html
  files/ko/web/css/text-shadow/index.html
  files/ko/web/css/transform/index.html
  files/ko/web/guide/css/block_formatting_context/index.html
  files/ko/web/html/attributes/index.html
  files/ko/web/html/element/link/index.html
  files/ko/web/html/element/meter/index.html
  files/ko/web/html/element/table/index.html
  files/ko/web/html/global_attributes/data-_star_/index.html
  files/ko/web/http/cors/index.html
  files/ko/web/javascript/guide/grammar_and_types/index.html
  files/ko/web/javascript/reference/functions/arrow_functions/index.html
  files/ko/web/javascript/reference/global_objects/array/flatmap/index.html
  files/ko/web/javascript/reference/global_objects/object/valueof/index.html
  files/ko/web/javascript/reference/global_objects/promise/index.html
  files/ko/web/javascript/reference/global_objects/regexp/index.html
  files/ko/web/javascript/reference/lexical_grammar/index.html
  files/ko/web/javascript/reference/operators/object_initializer/index.html
  files/ko/web/javascript/reference/operators/operator_precedence/index.html
  files/ko/webassembly/c_to_wasm/index.html
Labels: l10n-ko

#1479 Web トップページを更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/reference/api/index.html
  files/ja/orphaned/web/reference/index.html
  files/ja/web/index.html
Labels: l10n-ja

#1578 [ko] Work done for 'createPeriodicWave()' article.
  files/ko/web/api/baseaudiocontext/createperiodicwave/index.html
Labels: l10n-ko

#1482 Web/API/CSSStyleDeclaration 以下を更新
  files/ja/web/api/cssstyledeclaration/cssfloat/index.html
  files/ja/web/api/cssstyledeclaration/csstext/index.html
  files/ja/web/api/cssstyledeclaration/getpropertycssvalue/index.html
  files/ja/web/api/cssstyledeclaration/getpropertypriority/index.html
  files/ja/web/api/cssstyledeclaration/getpropertyvalue/index.html
  files/ja/web/api/cssstyledeclaration/index.html
  files/ja/web/api/cssstyledeclaration/item/index.html
  files/ja/web/api/cssstyledeclaration/length/index.html
  files/ja/web/api/cssstyledeclaration/parentrule/index.html
  files/ja/web/api/cssstyledeclaration/removeproperty/index.html
  files/ja/web/api/cssstyledeclaration/setproperty/index.html
Labels: l10n-ja

#1485 Web/API/Crypto/getRandomValues を更新
  files/ja/_redirects.txt
  files/ja/conflicting/web/api/crypto/getrandomvalues/index.html
  files/ja/web/api/crypto/getrandomvalues/index.html
Labels: l10n-ja

#1486 Web/API/Document 以下の conflicting 版を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/document/characterset/index.html
  files/ja/conflicting/web/api/document/createevent/index.html
  files/ja/web/api/document/characterset/index.html
  files/ja/web/api/document/createevent/index.html
Labels: l10n-ja

#1489 Web/API/FormDataEvent 以下を新規翻訳
  files/ja/web/api/formdataevent/formdata/index.html
  files/ja/web/api/formdataevent/formdataevent/index.html
  files/ja/web/api/formdataevent/index.html
  files/ja/web/api/htmlformelement/formdata_event/index.html
Labels: l10n-ja

#1490 Web/API/FormData/Using_FormData_Objects を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/formdata/using_formdata_objects/index.html
  files/ja/web/api/formdata/using_formdata_objects/index.html
Labels: l10n-ja

#1532 Update index.html
  files/ko/web/api/intersectionobserver/observe/index.html
Labels: l10n-ko

#1602 Fix typo
  files/ko/learn/javascript/objects/object_prototypes/index.html
Labels: l10n-ko

#1588 [ko] 가이드라인 추가
  docs/ko/translation-guide.md
Labels: l10n-ko

#1608 Modify the name of the article in the list.
  files/zh-cn/mozilla/add-ons/webextensions/index.html
Labels: l10n-zh

#1610 Fix a spelling error.
  files/zh-cn/mozilla/add-ons/webextensions/native_messaging/index.html
Labels: l10n-zh

#1611 unbreak de css animations live samples
  files/de/web/css/css_animations/using_css_animations/index.html
Labels: l10n-de

#1606 [ja] fix: typo of global_objects date index
  files/ja/web/javascript/reference/global_objects/date/index.html
Labels: l10n-ja

#1493 Web/Events 以下の文書を更新
  files/ja/web/events/event_handlers/index.html
  files/ja/web/events/index.html
Labels: l10n-ja

#1501 conflicting/Web/API/GlobalEventHandlers/onclick を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/globaleventhandlers/onclick/index.html
Labels: l10n-ja

#1505 Web/API/GlobalEventHandlers 以下の onclick, onmousedown, onmouseup を更新
  files/ja/web/api/globaleventhandlers/onclick/index.html
  files/ja/web/api/globaleventhandlers/onmousedown/index.html
  files/ja/web/api/globaleventhandlers/onmouseup/index.html
Labels: l10n-ja

#1504 conflicting/Web/API/GlobalEventHandlers/onmousedown を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/globaleventhandlers/onmousedown/index.html
Labels: l10n-ja

#1616 Remove previously orphaned file
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/domlocator/index.html
  files/zh-cn/web/api/element/after/index.html
  files/zh-cn/web/api/element/before/index.html
  files/zh-cn/web/api/element/remove/index.html
  files/zh-cn/web/api/element/replacewith/index.html
  files/zh-cn/web/api/renderingcontext/index.html
  files/zh-cn/web/events/mutation_events/index.html
Labels: l10n-zh

#1617 remove all 'cke_pastebin' mentions
  files/de/web/api/keyboardevent/keycode/index.html
  files/es/web/api/websockets_api/writing_websocket_server/index.html
  files/fr/web/api/imagedata/data/index.html
  files/fr/web/api/websockets_api/writing_a_websocket_server_in_java/index.html
  files/ja/web/api/keyboardevent/keycode/index.html
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_java/index.html
  files/ja/web/api/websockets_api/writing_websocket_server/index.html
  files/pt-br/web/api/websockets_api/writing_websocket_server/index.html
  files/pt-br/web/javascript/reference/global_objects/number/index.html
  files/zh-cn/web/api/imagedata/data/index.html
  files/zh-cn/web/api/imagedata/height/index.html
  files/zh-cn/web/api/imagedata/imagedata/index.html
  files/zh-cn/web/api/imagedata/width/index.html
  files/zh-cn/web/api/keyboardevent/keycode/index.html
  files/zh-cn/web/api/path2d/path2d/index.html
  files/zh-cn/web/api/websockets_api/writing_a_websocket_server_in_java/index.html
  files/zh-cn/web/api/websockets_api/writing_websocket_server/index.html
  files/zh-cn/web/javascript/typed_arrays/index.html
  files/zh-tw/web/api/canvas_api/tutorial/applying_styles_and_colors/index.html
Labels: l10n-de, l10n-es, l10n-fr, l10n-ja, l10n-pr-br, l10n-zh

#1622 typos fix
  files/ru/web/javascript/typed_arrays/index.html
Labels: l10n-ru

#1626 Fixes #1541
  files/fr/web/api/console/log/index.html
Labels: l10n-fr
