Repository mdn/translated-content, pull requests merged in 2021-12, with the labels that each got.

#3225 Fix typo
  files/ja/web/api/web_storage_api/index.html
Labels: l10n-ja

#3211 Fix typos
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.html
Labels: l10n-ja

#3230 fix a typo
  files/zh-cn/web/html/attributes/index.html
Labels: l10n-zh

#3238 fix 补充相对英文文档遗漏的内容
  files/zh-cn/web/css/vertical-align/index.html
Labels: l10n-zh

#3217 fix: fixed the comment for "contain: strict;"
  files/zh-cn/web/css/contain/index.html
Labels: l10n-zh

#3241 fix:词语拼写错误
  files/zh-cn/web/http/headers/if-none-match/index.html
Labels: l10n-zh

#3233 Updating misspelled words and sintax
  files/pt-br/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-pt-br

#3243 fix typo: using CamelCase
  files/zh-cn/mdn/contribute/markdown_in_mdn/index.md
Labels: l10n-zh

#3252 fix typo
  files/ko/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-ko

#3251 [ko] translate object __proto__ page
  files/ko/web/javascript/reference/global_objects/object/proto/index.md
Labels: l10n-ko

#3263 Update index.md
  files/fr/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-fr

#3259 fix: 单词拼写错误
  files/zh-cn/web/api/offscreencanvas/index.html
Labels: l10n-zh

#3255 Typo in SVG/preserveAspectRatio's page (French)
  files/fr/web/svg/attribute/preserveaspectratio/index.md
Labels: l10n-fr

#2957 Fixes #2890 by updating vs en-US
  files/fr/web/guide/html/editable_content/index.md
Labels: l10n-fr

#3260 update: Code highlighting
  files/zh-cn/web/javascript/reference/global_objects/bigint/index.html
Labels: l10n-zh

#3135 [ko] Fix typo RegExp.prototype.text 수정
  files/ko/web/javascript/reference/global_objects/regexp/exec/index.html
Labels: l10n-ko

#3248 fix: remove unexisting link
  files/ru/web/javascript/guide/introduction/index.html
Labels: l10n-ru

#3268 Slight clean-up of Russian HTTP 503 Status page
  files/ru/web/http/status/503/index.html
Labels: l10n-ru

#3240 update: keep Object page same with English docs
  files/zh-cn/web/javascript/reference/global_objects/object/index.html
Labels: l10n-zh

#3278 Remove erroneous (not in English) sentence
  files/fr/web/javascript/reference/global_objects/string/normalize/index.md
Labels: l10n-fr

#3277 fr-issue translation fix
  files/fr/tools/debugger/index.html
Labels: l10n-fr

#3267 Add image files for "Animations basiques"
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_earth.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_moon.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_sun.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/capitan_meadows_yosemite_national_park.jpg
  files/fr/web/api/canvas_api/tutorial/basic_animations/index.md
Labels: l10n-fr

#3253 Fix typo
  files/ja/web/css/css_transitions/using_css_transitions/index.html
Labels: l10n-ja

#3239 fix: http method name
  files/ja/web/http/status/201/index.html
Labels: l10n-ja

#3249 fix typo
  files/ja/web/http/basics_of_http/identifying_resources_on_the_web/index.html
Labels: l10n-ja

#3279 Fix markdown typo
  files/fr/web/html/element/index.md
Labels: l10n-fr

#3244 Remove weird styles
  files/zh-cn/web/javascript/reference/statements/async_function/index.html
Labels: l10n-zh

#3273 fix typo
  files/zh-cn/web/progressive_web_apps/app_structure/index.html
Labels: l10n-zh

#3291 (ru) Fix terms at "String" page
  files/ru/web/javascript/reference/global_objects/string/index.html
Labels: l10n-ru

#2958 Fixes #2943 by linking to translated samples
  files/fr/learn/javascript/objects/object_prototypes/index.md
Labels: l10n-fr

#3257 fix docs
  files/ko/learn/javascript/first_steps/variables/index.html
Labels: l10n-ko

#2632 Translate angular_todo_list_beginning page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.html
Labels: l10n-ru

#3293 fix typo for zh-cn/learn/css/css_layout/grids
  files/zh-cn/learn/css/css_layout/grids/index.html
Labels: l10n-zh

#3304 Update index.html
  files/zh-tw/learn/html/introduction_to_html/html_text_fundamentals/index.html
Labels: l10n-zh

#3168 Resolve conflicts and orphans
  files/ko/_redirects.txt
  files/ko/conflicting/web/api/geolocation/getcurrentposition/index.html
  files/ko/conflicting/web/api/imagecapture/getphotocapabilities/index.html
  files/ko/conflicting/web/api/index.html
  files/ko/conflicting/web/api/rtcpeerconnection/rtcpeerconnection/index.html
  files/ko/conflicting/web/css/cursor/index.html
  files/ko/conflicting/web/css/media_queries/using_media_queries/index.html
  files/ko/orphaned/web/api/navigatorid/index.html
  files/ko/orphaned/web/api/navigatorlanguage/index.html
  files/ko/orphaned/web/api/navigatorlanguage/language/index.html
  files/ko/orphaned/web/api/navigatoronline/index.html
  files/ko/web/api/geolocation/getcurrentposition/index.html
  files/ko/web/api/geolocation/getcurrentposition/index.md
  files/ko/web/api/imagecapture/getphotocapabilities/index.html
  files/ko/web/api/imagecapture/getphotocapabilities/index.md
  files/ko/web/api/navigator/index.html
  files/ko/web/api/navigator/language/index.md
  files/ko/web/api/navigator/online_and_offline_events/index.html
  files/ko/web/api/rtcpeerconnection/rtcpeerconnection/index.html
  files/ko/web/api/rtcpeerconnection/rtcpeerconnection/index.md
Labels: l10n-ko

#3300 Translate actual english doc for "case chains"
  files/ru/web/javascript/reference/statements/switch/index.html
Labels: l10n-ru

#3316 [ja] Fix typo in Learn/HTML
  files/ja/learn/html/index.html
Labels: l10n-ja

#3087 [ko] Translation done of `AudioParamDescriptor` document
  files/ko/web/api/audioparamdescriptor/index.md
Labels: l10n-ko

#3159 Add Array#at()
  files/ko/web/javascript/reference/global_objects/array/at/index.md
  files/ko/web/javascript/reference/global_objects/array/index.html
Labels: l10n-ko

#3307 [ja] Fix Java link
  files/ja/web/javascript/index.md
Labels: l10n-ja

#3219 rid dir="rtl" from sampleCode
  files/ko/web/javascript/reference/global_objects/string/repeat/index.html
Labels: l10n-ko

#3306 Revise fr "Commencer avec le HTML" page
  files/fr/learn/html/introduction_to_html/getting_started/index.md
Labels: l10n-fr

#3235 fr-glossary/style_origin id:530
  files/fr/glossary/style_origin/index.md
Labels: l10n-fr

#3115 Fix EmbedLiveSample errors
  files/fr/learn/css/css_layout/floats/index.md
  files/fr/learn/css/css_layout/grids/index.md
  files/fr/learn/css/css_layout/positioning/index.md
  files/fr/learn/css/css_layout/supporting_older_browsers/index.md
  files/fr/learn/css/first_steps/how_css_works/index.md
  files/fr/learn/forms/how_to_build_custom_form_controls/example_1/index.md
  files/fr/learn/forms/how_to_build_custom_form_controls/example_2/index.md
  files/fr/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/fr/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/fr/learn/html/introduction_to_html/getting_started/index.md
  files/fr/learn/javascript/asynchronous/introducing/index.md
  files/fr/learn/javascript/first_steps/arrays/index.md
  files/fr/learn/javascript/first_steps/variables/index.md
  files/fr/mdn/structures/live_samples/index.md
  files/fr/web/accessibility/aria/roles/button_role/index.md
  files/fr/web/web_components/using_templates_and_slots/index.md
Labels: l10n-fr

#3319 Fix the live sample and `browser compat`
  files/zh-cn/web/html/element/var/index.html
Labels: l10n-zh

#3298 Rewrite CustomEvent and CustomEvent(), add CustomEvent.detail
  files/ko/web/api/customevent/customevent/index.html
  files/ko/web/api/customevent/customevent/index.md
  files/ko/web/api/customevent/detail/index.md
  files/ko/web/api/customevent/index.html
  files/ko/web/api/customevent/index.md
Labels: l10n-ko

#3309 增加 transitionstart 事件的 简体中文 翻译
  files/zh-cn/web/api/htmlelement/transitionstart_event/index.md
Labels: l10n-zh

#3322 new translation for ArrayBufferView
  files/zh-cn/web/api/arraybufferview/index.md
Labels: l10n-zh

#3326 fix 修复表述不清
  files/zh-cn/web/css/unset/index.html
Labels: l10n-zh

#3328 fix 补充翻译
  files/zh-cn/web/css/all/index.html
Labels: l10n-zh

#3350 Remove unnecessary redirect (which is preventing other PRs)
  files/zh-cn/_redirects.txt
Labels: l10n-fr, l10n-zh

#3342 fix typo in french
  files/fr/webassembly/using_the_javascript_api/index.md
Labels: l10n-fr

#3283 The building blocks of responsive design を新規翻訳
  files/ja/web/progressive_web_apps/index.html
  files/ja/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
Labels: l10n-ja

#3286 Responsive Navigation Patterns を新規翻訳
  files/ja/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.md
Labels: l10n-ja

#3312 [ja] Fix typo in Web/CSS/:focus-within
  files/ja/web/css/_colon_focus-within/index.md
Labels: l10n-ja

#3119 Fixes #2891
  files/fr/web/html/element/figure/favicon-192x192.png
  files/fr/web/html/element/figure/index.md
Labels: l10n-fr

#3130 Fixes #3127 - update page vs en-US counterpart
  files/fr/web/javascript/closures/index.md
Labels: l10n-fr

#3367 fix typo in korean
  files/ko/learn/server-side/django/introduction/index.html
Labels: l10n-ko

#3368 Fixed typo in russian
  files/ru/mdn/about/index.html
Labels: l10n-ru

#3335 Update index.html
  files/zh-cn/web/api/abortcontroller/index.html
Labels: l10n-zh

#3344 Fix 移除无意义内容
  files/zh-cn/web/css/general_sibling_combinator/index.html
Labels: l10n-zh

#3353 fix array fill typo
  files/zh-cn/web/javascript/reference/global_objects/array/fill/index.html
Labels: l10n-zh

#3363 Sync with english version
  files/zh-cn/webassembly/concepts/index.html
Labels: l10n-zh

#3365 fix: add missing tags, correct puntuation marks and fix typo.
  files/zh-cn/web/javascript/guide/numbers_and_dates/index.html
Labels: l10n-zh

#3323 Firefox 95 for developers を翻訳
  files/ja/mozilla/firefox/releases/95/index.md
Labels: l10n-ja

#3377 Fix return types (Boolean object to boolean value) on HTMLInputElement
  files/ja/web/api/htmlinputelement/index.html
Labels: l10n-ja

#3331 Fix Learn Flexbox image sources
  files/de/learn/css/css_layout/flexbox/index.html
  files/es/learn/css/css_layout/flexbox/index.html
  files/ja/learn/css/css_layout/flexbox/index.html
  files/ko/learn/css/css_layout/flexbox/index.html
  files/pl/learn/css/css_layout/flexbox/index.html
  files/pt-br/learn/css/css_layout/flexbox/index.html
  files/ru/learn/css/css_layout/flexbox/index.html
  files/zh-cn/learn/css/css_layout/flexbox/index.html
Labels: l10n-ja, l10n-zh, l10n-es, l10n-ru, l10n-de, l10n-ko, l10n-pl, l10n-pt-br

#3356 border-collapse の HTML タグ置換ミスを修正
  files/ja/web/css/border-collapse/index.md
Labels: l10n-ja

#3379 ダイアログ要素にformを用いた際のreturnValueの記述の修正
  files/ja/web/html/element/dialog/index.html
Labels: l10n-ja

#3383 Add images for fr <blend-mode> live samples
  files/fr/web/css/blend-mode/br.png
  files/fr/web/css/blend-mode/tr.png
Labels: l10n-fr

#3388 Remove `shortcut` from the example for favicon
  files/ja/web/html/element/link/index.html
Labels: l10n-ja

#3392 Fix typo learn/html/multimedia_and_embedding/responsive_images
  files/ja/learn/html/multimedia_and_embedding/responsive_images/index.html
Labels: l10n-ja

#3150 Translation of untranslated pages in JS section (out of Global Objects subpages)
  files/fr/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/fr/web/javascript/guide/working_with_private_class_features/index.md
  files/fr/web/javascript/reference/classes/class_static_initialization_blocks/index.md
  files/fr/web/javascript/reference/errors/hash_outside_class/index.md
Labels: l10n-fr

#3153 Translation of FinalizationRegistry pages - French
  files/fr/web/javascript/reference/global_objects/finalizationregistry/finalizationregistry/index.md
  files/fr/web/javascript/reference/global_objects/finalizationregistry/index.md
  files/fr/web/javascript/reference/global_objects/finalizationregistry/register/index.md
  files/fr/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
Labels: l10n-fr

#3158 Fixes #3154 - Update filter-function section
  files/fr/web/css/filter-function/blur()/index.md
  files/fr/web/css/filter-function/brightness()/index.md
  files/fr/web/css/filter-function/contrast()/index.md
  files/fr/web/css/filter-function/drop-shadow()/index.md
  files/fr/web/css/filter-function/grayscale()/index.md
  files/fr/web/css/filter-function/hue-rotate()/index.md
  files/fr/web/css/filter-function/index.md
  files/fr/web/css/filter-function/invert()/index.md
  files/fr/web/css/filter-function/opacity()/index.md
  files/fr/web/css/filter-function/saturate()/index.md
  files/fr/web/css/filter-function/sepia()/index.md
Labels: l10n-fr

#3284 Graphic design for responsive sites を新規翻訳
  files/ja/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
Labels: l10n-ja

#3352 grammar writing update
  files/pt-br/learn/javascript/objects/object_prototypes/index.html
Labels: l10n-pt-br

#3387 Fix wrongful translation
  files/pt-br/web/javascript/reference/statements/import.meta/index.html
Labels: l10n-pt-br

#3270 Update index.html
  files/pt-br/mozilla/add-ons/webextensions/your_first_webextension/index.html
Labels: l10n-pt-br

#3215 Update index.html
  files/pt-br/web/css/box-shadow/index.html
Labels: l10n-pt-br

#3334 update fetch page brazilian portuguese
  files/pt-br/web/api/fetch/index.html
  files/pt-br/web/api/fetch/index.md
Labels: l10n-pt-br

#3274 fix callback brazilian portuguese page
  files/pt-br/glossary/callback_function/index.html
  files/pt-br/glossary/callback_function/index.md
Labels: l10n-pt-br

#3407 Fix typo
  files/ja/web/svg/element/use/index.html
Labels: l10n-ja

#3412 Fix typo in sizing_items_in_css
  files/ru/learn/css/building_blocks/sizing_items_in_css/index.html
Labels: l10n-ru

#3169 Translation of WeakRef pages
  files/fr/web/javascript/reference/global_objects/weakref/deref/index.md
  files/fr/web/javascript/reference/global_objects/weakref/index.md
  files/fr/web/javascript/reference/global_objects/weakref/weakref/index.md
Labels: l10n-fr

#3172 Translate missing Object pages
  files/fr/web/javascript/reference/global_objects/object/hasown/index.md
  files/fr/web/javascript/reference/global_objects/object/object/index.md
Labels: l10n-fr

#3173 Translate missing Array.prototype.at page
  files/fr/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-fr

#3174 Translate missing String pages
  files/fr/web/javascript/reference/global_objects/string/at/index.md
  files/fr/web/javascript/reference/global_objects/string/string/index.md
Labels: l10n-fr

#3178 Translate missing TypedArray page - at
  files/fr/web/javascript/reference/global_objects/typedarray/at/index.md
Labels: l10n-fr

#3184 Translate missing WASM JS API pages
  files/fr/web/javascript/reference/global_objects/webassembly/compileerror/compileerror/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/global/global/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/instance/instance/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/linkerror/linkerror/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/memory/memory/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/module/module/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/runtimeerror/runtimeerror/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/table/table/index.md
Labels: l10n-fr

#3404 fix: french typo in documentation
  files/fr/web/http/redirections/index.md
Labels: l10n-fr

#3410 Update dead link
  files/fr/webassembly/concepts/index.md
Labels: l10n-fr

#3330 Fixes #3288
  files/fr/learn/css/css_layout/flexbox/index.md
  files/fr/learn/css/css_layout/grids/index.md
  files/fr/learn/css/first_steps/what_is_css/index.md
  files/fr/learn/css/styling_text/styling_lists/index.md
Labels: l10n-fr

#3305 Translate angular_styling page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_styling/index.md
Labels: l10n-ru

#3384 fix 翻译错误
  files/zh-cn/web/css/inherit/index.html
Labels: l10n-zh

#3378 Update index.html
  files/zh-cn/web/javascript/inheritance_and_the_prototype_chain/index.html
Labels: l10n-zh

#3280 Fix links in Same origin policy (zh-CN)
  files/zh-cn/web/security/same-origin_policy/index.html
Labels: l10n-zh

#3417 feat: 更新一处翻译问题
  files/zh-cn/web/css/index.html
Labels: l10n-zh

#3416 feat: submit a doc that hasn't translated into Chinese ever
  files/zh-cn/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-zh

#3425 fix: add missing bracket
  files/zh-cn/web/api/url/url/index.html
Labels: l10n-zh

#3424 Translate "Test your skills: Grid Layout"
  files/fr/learn/css/css_layout/grid_skills/index.md
Labels: l10n-fr

#3406 Complete translations for "Testez vos connaissances : Flexbox"
  files/fr/learn/css/css_layout/flexbox_skills/index.md
Labels: l10n-fr

#3405 Revise fr "Django Tutorial Part 9"
  files/fr/learn/server-side/django/forms/index.md
Labels: l10n-fr

#3431 fix:files/zh-cn/web/html/element/audio/index.html
  files/zh-cn/web/html/element/audio/index.html
Labels: l10n-zh

#3444 Fix typo
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.html
Labels: l10n-ja

#3447 Orthographe
  files/fr/web/http/cookies/index.md
Labels: l10n-fr

#3445 comme => comment
  files/fr/web/http/cookies/index.md
Labels: l10n-fr

#3446 formatting
  files/fr/web/http/headers/set-cookie/index.md
Labels: l10n-fr

#3396 Web/CSS/@counter-style/fallback を新規翻訳
  files/ja/web/css/@counter-style/fallback/index.md
Labels: l10n-ja

#3399 Web/CSS/@counter-style/negative を新規翻訳
  files/ja/web/css/@counter-style/negative/index.md
Labels: l10n-ja

#3400 Web/CSS/@counter-style/pad を新規翻訳
  files/ja/web/css/@counter-style/pad/index.md
Labels: l10n-ja

#3403 Web/CSS/@counter-style/speak-as を新規翻訳
  files/ja/web/css/@counter-style/speak-as/index.md
Labels: l10n-ja

#3402 Web/CSS/@counter-style/range を新規翻訳
  files/ja/web/css/@counter-style/range/index.md
Labels: l10n-ja

#3408 Description error for tabindex default value
  files/ko/web/html/global_attributes/tabindex/index.html
Labels: l10n-ko

#3374 Remove notranslate from JS guides
  files/ko/web/javascript/guide/introduction/index.html
  files/ko/web/javascript/guide/iterators_and_generators/index.html
  files/ko/web/javascript/guide/loops_and_iteration/index.html
  files/ko/web/javascript/guide/modules/index.html
  files/ko/web/javascript/guide/numbers_and_dates/index.html
  files/ko/web/javascript/guide/regular_expressions/assertions/index.html
  files/ko/web/javascript/guide/using_promises/index.html
Labels: l10n-ko

#3313 Javascript/Number 동기화 및 생성자 추가
  files/ko/web/javascript/reference/global_objects/number/index.html
  files/ko/web/javascript/reference/global_objects/number/index.md
  files/ko/web/javascript/reference/global_objects/number/number/index.md
Labels: l10n-ko

#3258 [ko] translate Object.getOwnPropertySymbols() page
  files/ko/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
Labels: l10n-ko

#3218 Update index.html
  files/ko/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-ko

#2952 [ko] Translation done of 'AudioWorkletProcessor.process' document
  files/ko/web/api/audioworkletprocessor/process/index.md
Labels: l10n-ko

#2941 [ko] Translation done of 'AudioWorkletNode.onprocessorerror' document
  files/ko/web/api/audioworkletnode/onprocessorerror/index.md
Labels: l10n-ko

#2861 [ko] Translation done of 'registerProcessor' document
  files/ko/web/api/audioworkletglobalscope/registerprocessor/index.md
Labels: l10n-ko

#3188 fix translation of "sorting" and translate remaing
  files/pt-br/web/javascript/reference/global_objects/bigint/index.html
Labels: l10n-pt-br

#3449 Corrigindo a palavra definida
  files/pt-br/web/html/element/th/index.html
Labels: l10n-pt-br

#3111 Remove etc, added a more explanatory phrase for beginners and spell check
  files/pt-br/mdn/contribute/getting_started/index.html
Labels: l10n-pt-br

#3415 Update fr CSS -gap docs
  files/fr/web/css/column-gap/index.md
  files/fr/web/css/gap/index.md
  files/fr/web/css/row-gap/index.md
Labels: l10n-fr

#3434 Fix syntax in documentation
  files/fr/web/javascript/reference/statements/if...else/index.md
Labels: l10n-fr

#3198 Translate missing RegExp pages
  files/fr/web/javascript/reference/global_objects/regexp/hasindices/index.md
  files/fr/web/javascript/reference/global_objects/regexp/regexp/index.md
Labels: l10n-fr

#3436 Revise fr Flexbox and Grilles pages
  files/fr/learn/css/css_layout/flexbox/index.md
  files/fr/learn/css/css_layout/grids/index.md
Labels: l10n-fr

#3457 (ru) fix picas length value
  files/ru/learn/css/building_blocks/values_and_units/index.html
Labels: l10n-ru

#3458 (ru) Fix translation of "unitless" at line-height page
  files/ru/web/css/line-height/index.html
Labels: l10n-ru

#3338 fix: change a sentence which wasn't translated of Chinese version.
  files/zh-cn/web/javascript/reference/global_objects/globalthis/index.html
Labels: l10n-zh

#3442 Fix return type for document.querySelector() in zh-CN
  files/zh-cn/web/api/document/queryselector/index.html
Labels: l10n-zh

#3413 Web/CSS/@counter-style/symbols を新規翻訳
  files/ja/web/css/@counter-style/symbols/index.md
Labels: l10n-ja

#3420 Web/CSS/symbols() を新規翻訳
  files/ja/web/css/symbols()/index.md
Labels: l10n-ja

#3435 (ru) Add translation for "user-agent" page
  files/ru/web/http/headers/user-agent/index.md
Labels: l10n-ru

#3349 Remove all <font> from Web/JavaScript
  files/ko/web/javascript/guide/control_flow_and_error_handling/index.html
  files/ko/web/javascript/guide/details_of_the_object_model/index.html
  files/ko/web/javascript/guide/indexed_collections/index.html
  files/ko/web/javascript/guide/keyed_collections/index.html
  files/ko/web/javascript/guide/loops_and_iteration/index.html
  files/ko/web/javascript/guide/modules/index.html
  files/ko/web/javascript/guide/numbers_and_dates/index.html
  files/ko/web/javascript/guide/regular_expressions/index.html
Labels: l10n-ko

#3421 Web/CSS/@counter-style/system を新規翻訳
  files/ja/web/css/@counter-style/system/index.md
Labels: l10n-ja

#3427 Web/CSS/display/two-value_syntax_of_display を新規翻訳
  files/ja/web/css/display/two-value_syntax_of_display/index.md
Labels: l10n-ja

#3375 Fix docs
  files/ko/learn/server-side/django/development_environment/index.html
  files/ko/learn/server-side/django/introduction/index.html
  files/ko/learn/server-side/django/skeleton_website/index.html
Labels: l10n-ko

#2948 [ko] Translation done of 'AudioWorkletProcessor' document.
  files/ko/web/api/audioworkletprocessor/index.md
Labels: l10n-ko

#3461 Update index.html
  files/pt-br/learn/front-end_web_developer/index.html
Labels: l10n-pt-br

#3411 Web/CSS/@counter-style/suffix を新規翻訳
  files/ja/web/css/@counter-style/suffix/index.md
Labels: l10n-ja

#3390 fix docs
  files/ko/web/api/canvas_api/tutorial/compositing/index.html
Labels: l10n-ko

#3472 Revise some fr CSS pages
  files/fr/learn/css/first_steps/how_css_works/index.md
  files/fr/learn/css/first_steps/what_is_css/index.md
  files/fr/learn/css/styling_text/styling_lists/index.md
Labels: l10n-fr

#3422 Web/CSS/--* を更新
  files/ja/web/css/--_star_/index.html
Labels: l10n-ja
