Repository mdn/translated-content, pull requests merged in 2021-03, with the labels that each got.

#92 Fix typo in sample result
  files/fr/web/api/childnode/after/index.html
Labels: l10n-fr

#74 Fix typos: "bakground" -> "background"
  files/fr/web/manifest/index.html
  files/zh-cn/web/css/webkit_extensions/index.html
Labels: l10n-fr

#109 fix: renamed constructor function to construct
  files/fr/web/javascript/reference/global_objects/function/apply/index.html
Labels: l10n-fr

#96 petite correction : suivantu → suivant
  files/fr/web/api/element/getattributens/index.html
Labels: l10n-fr

#85 FR - Typo - SVG ClipPath - Update index.html
  files/fr/web/svg/element/clippath/index.html
Labels: l10n-fr

#8 Typo
  files/ja/web/javascript/reference/statements/switch/index.html
Labels: l10n-ja

#112 ja/Web/java script/reference/operators/remainder
  files/ja/web/javascript/reference/operators/remainder/index.html
Labels: l10n-ja

#79 誤字の修正
  files/ja/web/css/max-height/index.html
Labels: l10n-ja

#126 Correct typo
  files/fr/web/javascript/reference/statements/function/index.html
Labels: l10n-fr

#83 Fix: dir=rtl in ja/web/javascript/reference/global_objects/number
  files/ja/web/javascript/reference/global_objects/number/index.html
Labels: l10n-ja

#128 FIX: Typo in URL for interactive sample on Object.seal() - Issue #115
  files/fr/web/javascript/reference/global_objects/object/seal/index.html
Labels: l10n-fr

#123 Response ok first version
  files/fr/web/api/response/ok/index.html
Labels: l10n-fr

#154 TYPO: Change typo for Data Structures
  files/fr/web/javascript/data_structures/index.html
Labels: l10n-fr

#155 TYPO: Change typo on Data Structures (part 2)
  files/fr/web/javascript/data_structures/index.html
Labels: l10n-fr

#159 Update MDN/Contribute
  files/ja/mdn/contribute/index.html
Labels: l10n-ja

#131 MDN/Contribute/Getting_started を更新
  files/ja/mdn/contribute/getting_started/index.html
Labels: l10n-ja

#157 FIX: Fix the semicolon by a correct comma line 232 - Issue #101
  files/fr/web/javascript/reference/operators/destructuring_assignment/index.html
Labels: l10n-fr

#156 Translate 'Events index page' - Issue : #105
  files/fr/web/events/index.html
Labels: l10n-fr

#160 Update index.html for web/css
  files/ja/web/css/index.html
Labels: l10n-ja

#162 fr - Bring 'Web' landing page to parity with last en-US commit (as of 2021-03-14)
  files/fr/web/index.html
Labels: l10n-fr

#161 Complete rework of fr translation of document.execcommand to fix #151
  files/fr/web/api/document/execcommand/index.html
Labels: l10n-fr

#132 MDN/Contribute/Where_is_everything を新規翻訳
  files/ja/mdn/contribute/where_is_everything/index.html
Labels: l10n-ja

#166 corret some translation error
  files/zh-cn/glossary/idempotent/index.html
Labels: l10n-zh

#130 The description of argument 'url' has a typo
  files/zh-cn/web/api/url/url/index.html
Labels: l10n-zh

#168 MDN/Contribute/Localize を新規翻訳
  files/ja/mdn/contribute/localize/index.html
Labels: l10n-ja

#172 Update Web/HTTP/Browser_detection_using_the_user_agent
  files/ja/web/http/browser_detection_using_the_user_agent/index.html
Labels: l10n-ja

#167 Update Web/HTML/Element/ul
  files/ja/web/html/element/ul/index.html
Labels: l10n-ja

#65 fix typo
  files/zh-cn/web/api/readablestream/index.html
Labels: l10n-zh

#171 Add and translate pages about @property.
  files/zh-cn/web/css/@property/index.html
  files/zh-cn/web/css/@property/inherits/index.html
  files/zh-cn/web/css/@property/initial-value/index.html
  files/zh-cn/web/css/@property/syntax/index.html
Labels: l10n-zh

#16 add class glossary of zh-cn
  files/zh-cn/glossary/class/index.html
Labels: l10n-zh

#182 Remove dirty spam in Russian translation
  files/ru/web/javascript/reference/errors/invalid_right_hand_side_instanceof_operand/index.html
Labels: l10n-ru

#163 L10N: Complete translation of the Performance interface
  files/fr/web/api/performance/clearmarks/index.html
  files/fr/web/api/performance/clearmeasures/index.html
  files/fr/web/api/performance/clearresourcetimings/index.html
  files/fr/web/api/performance/getentries/index.html
  files/fr/web/api/performance/getentriesbyname/index.html
  files/fr/web/api/performance/getentriesbytype/index.html
  files/fr/web/api/performance/index.html
  files/fr/web/api/performance/mark/index.html
  files/fr/web/api/performance/measure/index.html
  files/fr/web/api/performance/memory/index.html
  files/fr/web/api/performance/navigation/index.html
  files/fr/web/api/performance/now/index.html
  files/fr/web/api/performance/onresourcetimingbufferfull/index.html
  files/fr/web/api/performance/resourcetimingbufferfull_event/index.html
  files/fr/web/api/performance/setresourcetimingbuffersize/index.html
  files/fr/web/api/performance/timeorigin/index.html
  files/fr/web/api/performance/timing/index.html
  files/fr/web/api/performance/tojson/index.html
Labels: l10n-fr

#183 Major correction of the examples, texts and formatting of the page - Issue #180
  files/fr/web/api/eventtarget/addeventlistener/index.html
Labels: l10n-fr

#125 Adding What's Deployed info for l10n repo/contributions
  README.md
Labels: documentation, enhancement

#179 MDN/Contribute/GitHub_best_practices の新規翻訳
  files/ja/mdn/contribute/github_best_practices/index.html
Labels: l10n-ja

#178 MDN/Contribute/GitHub_cheatsheet を新規翻訳
  files/ja/mdn/contribute/github_cheatsheet/index.html
Labels: l10n-ja

#181 MDN/Contribute/Help_beginners を新規翻訳
  files/ja/mdn/contribute/help_beginners/index.html
Labels: l10n-ja

#158 Learn/Getting_started_with_the_web の更新と修正
  files/ja/learn/getting_started_with_the_web/index.html
Labels: l10n-ja

#15 update character_set translation of zh-cn
  files/zh-cn/glossary/character_set/index.html
Labels: l10n-zh

#82 修正几处翻译错误。
  files/zh-cn/web/html/link_types/index.html
Labels: l10n-zh

#189 MDN/Contribute/Documentation_priorities を新規翻訳
  files/ja/mdn/contribute/documentation_priorities/index.html
Labels: l10n-ja

#187 Fix various typos
  files/ru/learn/common_questions/what_are_hyperlinks/index.html
  files/ru/learn/css/building_blocks/backgrounds_and_borders/index.html
  files/ru/orphaned/mdn/editor/images/index.html
  files/ru/orphaned/mdn/editor/links/index.html
  files/ru/orphaned/создание_расширения/index.html
  files/ru/tools/page_inspector/how_to/examine_and_edit_html/index.html
  files/ru/tools/page_inspector/how_to/select_an_element/index.html
  files/ru/tools/page_inspector/index.html
  files/ru/tools/style_editor/index.html
  files/ru/web/api/canvasrenderingcontext2d/filltext/index.html
  files/ru/web/api/eventtarget/removeeventlistener/index.html
  files/ru/web/api/html_drag_and_drop_api/drag_operations/index.html
  files/ru/web/api/web_animations_api/using_the_web_animations_api/index.html
  files/ru/web/css/overflow-wrap/index.html
  files/ru/web/html/element/input/range/index.html
  files/ru/web/html/element/noscript/index.html
  files/ru/web/http/headers/etag/index.html
  files/ru/web/javascript/reference/global_objects/eval/index.html
  files/ru/web/performance/navigation_and_resource_timings/index.html
  files/ru/web/progressive_web_apps/installable_pwas/index.html
Labels: l10n-ru

#206 Fix direction of text in the JS example
  files/ru/web/api/document/readystate/index.html
Labels: l10n-ru

#193 Web/JavaScript/Reference/Functions/arguments/length の翻訳を更新
  files/ja/web/javascript/reference/functions/arguments/length/index.html
Labels: l10n-ja

#201 FIX: links, typos and contents - Issue #200
  files/fr/learn/getting_started_with_the_web/publishing_your_website/index.html
Labels: l10n-fr

#216 Remove redundant RTL direction in Russian translation
  files/ru/conflicting/learn/css/building_blocks/cascade_and_inheritance/index.html
  files/ru/learn/forms/your_first_form/index.html
  files/ru/mozilla/developer_guide/source_code/index.html
  files/ru/web/api/document/dir/index.html
  files/ru/web/api/element/classlist/index.html
  files/ru/web/api/webrtc_api/taking_still_photos/index.html
  files/ru/web/css/css_images/using_css_gradients/index.html
  files/ru/web/css/line-height/index.html
  files/ru/web/javascript/inheritance_and_the_prototype_chain/index.html
  files/ru/web/javascript/reference/operators/this/index.html
  files/ru/web/javascript/reference/statements/function_star_/index.html
  files/ru/web/manifest/background_color/index.html
  files/ru/web/manifest/iarc_rating_id/index.html
  files/ru/web/manifest/lang/index.html
  files/ru/web/manifest/orientation/index.html
  files/ru/web/manifest/start_url/index.html
Labels: l10n-ru

#225 Remove old redirect in Russian translation
  files/ru/_redirects.txt
Labels: l10n-ru

#219 enableVertexAttribArray : in french > attributes are disabled by defa…
  files/fr/web/api/webglrenderingcontext/enablevertexattribarray/index.html
Labels: l10n-fr

#233 FIX: - fr - Learning Area index - Fix all links issues, and update content with the US version
  files/fr/learn/index.html
Labels: l10n-fr

#153 Update french translation
  files/fr/mozilla/add-ons/webextensions/api/runtime/onmessage/index.html
  files/fr/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.html
  files/fr/mozilla/add-ons/webextensions/your_first_webextension/index.html
Labels: l10n-fr

#224 Unify Russian translation for media query word
  files/ru/learn/css/css_layout/responsive_design/index.html
  files/ru/learn/css/first_steps/how_css_is_structured/index.html
  files/ru/learn/html/multimedia_and_embedding/responsive_images/index.html
  files/ru/learn/tools_and_testing/cross_browser_testing/feature_detection/index.html
  files/ru/web/api/css_object_model/managing_screen_orientation/index.html
  files/ru/web/api/window/index.html
  files/ru/web/api/window/matchmedia/index.html
  files/ru/web/css/@media/index.html
  files/ru/web/css/at-rule/index.html
  files/ru/web/css/clamp()/index.html
  files/ru/web/css/css_grid_layout/grid_template_areas/index.html
  files/ru/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.html
  files/ru/web/css/media_queries/testing_media_queries/index.html
  files/ru/web/css/media_queries/using_media_queries/index.html
  files/ru/web/css/ratio/index.html
  files/ru/web/css/transform/index.html
  files/ru/web/guide/mobile/index.html
  files/ru/web/html/element/img/index.html
  files/ru/web/html/element/link/index.html
  files/ru/web/html/element/picture/index.html
  files/ru/web/html/element/source/index.html
  files/ru/web/html/preloading_content/index.html
Labels: l10n-ru

#195 修正几处翻译错误（#82 追加<code>标签）
  files/zh-cn/web/html/link_types/index.html
Labels: l10n-zh

#77 zh_cn zh_tw base_concepts_of_grid_layout fix tags align
  files/zh-cn/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.html
  files/zh-tw/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.html
Labels: l10n-zh

#249 Fix #242
  files/fr/web/css/transform/index.html
Labels: l10n-fr

#254 fix target link in the #about part
  files/fr/web/api/indexeddb_api/using_indexeddb/index.html
Labels: l10n-fr

#246 Typos and enhancement in Example (issues 97)
  files/fr/web/api/element/getboundingclientrect/index.html
Labels: good first issue, l10n-fr

#133 Web/CSS/max-height を更新
  files/ja/web/css/max-height/index.html
Labels: l10n-ja

#134 Web/JavaScript/Reference/Global_Objects/Number を更新
  files/ja/web/javascript/reference/global_objects/number/index.html
Labels: l10n-ja

#262 Restore "DOM" translation in Russian translation
  files/ru/web/api/document/doctype/index.html
  files/ru/web/api/document/document/index.html
  files/ru/web/api/document/documenturiobject/index.html
  files/ru/web/api/document_object_model/events/index.html
Labels: l10n-ru

#263 Restore "API" word in Russian translation
  files/ru/orphaned/toolkit_api/index.html
  files/ru/web/api/body/arraybuffer/index.html
  files/ru/web/api/console/profile/index.html
  files/ru/web/api/crypto/getrandomvalues/index.html
  files/ru/web/api/presentation/index.html
  files/ru/web/api/streams_api/index.html
Labels: l10n-ru

#267 fr - Complete retranslation of CSS minmax() - Fixes #243
  files/fr/web/css/minmax()/index.html
Labels: l10n-fr

#250 L10N: Translation of the Supporting_older_browers page
  files/fr/learn/css/css_layout/supporting_older_browsers/index.html
Labels: l10n-fr

#272 Web/API/Document/URL を更新
  files/ja/web/api/document/url/index.html
Labels: l10n-ja

#176 Update Web/JavaScript/Reference/Global_Objects/Date/getUTCDate
  files/ja/web/javascript/reference/global_objects/date/getutcdate/index.html
Labels: l10n-ja

#230 Web/HTML/Element/iframe を修正
  files/ja/web/html/element/iframe/index.html
Labels: l10n-ja

#208 add ru translate for transfercontroltooffscreen page
  files/ru/web/api/htmlcanvaselement/transfercontroltooffscreen/index.html
Labels: l10n-ru

#269 Unify Russian translation of "offline"
  files/ru/conflicting/web/api/web_storage_api/index.html
  files/ru/learn/javascript/client-side_web_apis/client-side_storage/index.html
  files/ru/web/api/cache/match/index.html
  files/ru/web/api/navigator/connection/index.html
  files/ru/web/api/networkinformation/index.html
  files/ru/web/api/service_worker_api/using_service_workers/index.html
  files/ru/web/api/web_speech_api/using_the_web_speech_api/index.html
  files/ru/web/api/windoworworkerglobalscope/caches/index.html
  files/ru/web/guide/html/html5/index.html
  files/ru/web/html/using_the_application_cache/index.html
  files/ru/web/performance/fundamentals/index.html
Labels: l10n-ru

#229 add ru translate for HTMLCanvasElement.height page
  files/ru/web/api/htmlcanvaselement/height/index.html
Labels: l10n-ru

#215 MDN/Contribute/GitHub_beginners を新規翻訳
  files/ja/mdn/contribute/github_beginners/branch-button-new-branch.png
  files/ja/mdn/contribute/github_beginners/branch-button.png
  files/ja/mdn/contribute/github_beginners/branch-menu.png
  files/ja/mdn/contribute/github_beginners/code-popup.png
  files/ja/mdn/contribute/github_beginners/compare-and-pull-request.png
  files/ja/mdn/contribute/github_beginners/fork-button.png
  files/ja/mdn/contribute/github_beginners/index.html
  files/ja/mdn/contribute/github_beginners/new-branch.png
  files/ja/mdn/contribute/github_beginners/open-pull-request.png
Labels: l10n-ja

#196 add ru translation for webglcontextlost event page
  files/ru/web/api/htmlcanvaselement/webglcontextlost_event/index.html
Labels: l10n-ru

#286 Fixes #217 - Update window.navigator and Navigator interface page
  files/fr/web/api/navigator/index.html
  files/fr/web/api/window/navigator/index.html
Labels: l10n-fr

#287 Unify "Syntax" heading in Russian translation
  files/ru/web/api/document/height/index.html
  files/ru/web/api/document/hidden/index.html
  files/ru/web/api/document/writeln/index.html
  files/ru/web/api/pushmanager/subscribe/index.html
  files/ru/web/api/serviceworkerregistration/pushmanager/index.html
  files/ru/web/api/vrstageparameters/sittingtostandingtransform/index.html
  files/ru/web/api/window/parent/index.html
  files/ru/web/api/window/scrollto/index.html
  files/ru/web/api/windoweventhandlers/onafterprint/index.html
  files/ru/web/css/adjacent_sibling_combinator/index.html
  files/ru/web/css/border-width/index.html
  files/ru/web/javascript/reference/global_objects/promise/race/index.html
  files/ru/web/javascript/reference/global_objects/symbol/keyfor/index.html
  files/ru/web/javascript/reference/statements/import.meta/index.html
Labels: l10n-ru

#280 Firefox 85 for developers を翻訳
  files/ja/mozilla/firefox/releases/85/index.html
Labels: l10n-ja

#289 Unify Russian translation of "functionality"
  docs/ru/translation-guide.md
  files/ru/conflicting/learn/javascript/objects/index.html
  files/ru/conflicting/web/api/push_api/index.html
  files/ru/games/tutorials/2d_breakout_game_phaser/initialize_the_framework/index.html
  files/ru/glossary/css_preprocessor/index.html
  files/ru/glossary/information_architecture/index.html
  files/ru/learn/accessibility/html/index.html
  files/ru/learn/common_questions/thinking_before_coding/index.html
  files/ru/learn/css/index.html
  files/ru/learn/forms/how_to_build_custom_form_controls/index.html
  files/ru/learn/forms/index.html
  files/ru/learn/forms/sending_and_retrieving_form_data/index.html
  files/ru/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/ru/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/ru/learn/javascript/asynchronous/introducing/index.html
  files/ru/learn/javascript/client-side_web_apis/introduction/index.html
  files/ru/learn/javascript/objects/basics/index.html
  files/ru/learn/javascript/objects/index.html
  files/ru/learn/server-side/django/forms/index.html
  files/ru/learn/server-side/django/generic_views/index.html
  files/ru/learn/server-side/django/index.html
  files/ru/learn/server-side/django/skeleton_website/index.html
  files/ru/learn/server-side/django/testing/index.html
  files/ru/learn/server-side/express_nodejs/index.html
  files/ru/learn/server-side/express_nodejs/skeleton_website/index.html
  files/ru/learn/server-side/first_steps/index.html
  files/ru/learn/server-side/first_steps/introduction/index.html
  files/ru/learn/server-side/first_steps/web_frameworks/index.html
  files/ru/learn/server-side/node_server_without_framework/index.html
  files/ru/learn/tools_and_testing/cross_browser_testing/introduction/index.html
  files/ru/mdn/contribute/howto/report_a_problem/index.html
  files/ru/mozilla/add-ons/webextensions/internationalization/index.html
  files/ru/mozilla/add-ons/webextensions/manifest.json/index.html
  files/ru/mozilla/add-ons/webextensions/manifest.json/permissions/index.html
  files/ru/mozilla/add-ons/webextensions/user_interface/index.html
  files/ru/mozilla/add-ons/webextensions/user_interface/omnibox/index.html
  files/ru/mozilla/developer_guide/introduction/index.html
  files/ru/tools/web_console/index.html
  files/ru/web/api/cachestorage/index.html
  files/ru/web/api/geolocation_api/index.html
  files/ru/web/api/mediastream/index.html
  files/ru/web/api/service_worker_api/using_service_workers/index.html
  files/ru/web/api/touch_events/supporting_both_touchevent_and_mouseevent/index.html
  files/ru/web/api/web_speech_api/using_the_web_speech_api/index.html
  files/ru/web/api/window/index.html
  files/ru/web/api/windoworworkerglobalscope/settimeout/index.html
  files/ru/web/css/_colon_is/index.html
  files/ru/web/css/index.html
  files/ru/web/html/index.html
  files/ru/web/javascript/javascript_technologies_overview/index.html
  files/ru/web/javascript/reference/global_objects/promise/index.html
  files/ru/web/javascript/reference/global_objects/webassembly/index.html
  files/ru/web/javascript/reference/statements/debugger/index.html
  files/ru/web/performance/dns-prefetch/index.html
  files/ru/web/performance/performance_budgets/index.html
  files/ru/web/performance/rum-vs-synthetic/index.html
  files/ru/web/reference/api/index.html
Labels: l10n-ru

#213 Fix kanji conversion in Japanese translation
  files/ja/web/api/element/mouseup_event/index.html
Labels: l10n-ja

#285 Glossary/Base64 を更新
  files/ja/glossary/base64/index.html
Labels: l10n-ja

#247 Document.documentURI の日本語訳を更新
  files/ja/web/api/document/documenturi/index.html
Labels: l10n-ja

#298 UPDATE: Removing old KS EmbedTest262ReportResultsTable - Issue #297
  files/fr/web/javascript/reference/global_objects/intl/displaynames/index.html
  files/fr/web/javascript/reference/operators/nullish_coalescing_operator/index.html
  files/fr/web/javascript/reference/operators/optional_chaining/index.html
  files/fr/web/javascript/reference/statements/import/index.html
Labels: l10n-fr

#293 fixing a broken tag
  files/ru/conflicting/mozilla/add-ons/index.html
Labels: l10n-ru

#281 Add ru translation of the Polyfill glossary page
  files/ru/_redirects.txt
  files/ru/glossary/polyfill/index.html
  files/ru/orphaned/glossary/polifill/index.html
Labels: l10n-ru

#235 Web/API/IntersectionObserver/IntersectionObserverの翻訳修正
  files/ja/web/api/intersectionobserver/intersectionobserver/index.html
Labels: l10n-ja

#264 Fixes #147
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/index.html
Labels: l10n-zh

#268 delete dir="rtl" attribute
  files/zh-cn/web/javascript/reference/statements/export/index.html
Labels: l10n-zh

#257 Fixes #99
  files/zh-cn/learn/server-side/django/models/index.html
Labels: l10n-zh

#209 Update index.html
  files/zh-cn/web/javascript/reference/operators/destructuring_assignment/index.html
Labels: l10n-zh

#310 UPDATE: Minor typo fix of a comma
  files/fr/web/progressive_web_apps/re-engageable_notifications_push/index.html
Labels: good first issue, l10n-fr

#185 Web/HTTP/Headers/Authorization の翻訳を更新
  files/ja/web/http/headers/authorization/index.html
  files/ja/web/javascript/reference/global_objects/atomics/notify/index.html
Labels: l10n-ja

#186 Add Intl/PluralRules/resolvedOptions
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.html
Labels: l10n-ja

#231 MDN/Contribute/Open_source_etiquette の新規翻訳
  files/ja/mdn/contribute/open_source_etiquette/index.html
Labels: l10n-ja

#315 fr Fix Typo entity instead of identity
  files/fr/web/http/headers/accept-encoding/index.html
Labels: l10n-fr

#318 Typo: concevoirr une page web => concevoir
  files/fr/learn/common_questions/what_is_a_domain_name/index.html
Labels: l10n-fr

#190 Update Web/JavaScript/Reference/Global_Objects/Intl/PluralRules
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/index.html
Labels: l10n-ja

#312 MDN/Contribute/Fixing_MDN_content_bugs を新規翻訳
  files/ja/mdn/contribute/fixing_mdn_content_bugs/index.html
Labels: l10n-ja

#323 MDN/Contribute/Howto を更新
  files/ja/mdn/contribute/howto/index.html
Labels: l10n-ja

#326 Web/API/ValidityState を更新
  files/ja/web/api/validitystate/index.html
Labels: l10n-ja

#278 fix files/ja/web/css/resolved_value/index.html
  files/ja/web/css/resolved_value/index.html
Labels: l10n-ja

#197 edit react_components
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.html
Labels: l10n-ja

#300 Web/API/Constraint_validation を新規翻訳
  files/ja/web/api/constraint_validation/index.html
Labels: l10n-ja

#305 Web/API/EventTarget の日本語訳を更新
  files/ja/web/api/eventtarget/index.html
Labels: l10n-ja

#337 Spelling fixes, French css tutorial index,
  files/fr/web/css/tutorials/index.html
Labels: l10n-fr

#341 Fixes #331
  files/fr/web/api/element/scrolltop/index.html
Labels: l10n-fr

#340 fr - Update / revamp translation after pr337
  files/fr/web/css/tutorials/index.html
Labels: l10n-fr

#342 Delete old How to contribute page
  files/ru/_redirects.txt
  files/ru/orphaned/learn/how_to_contribute/index.html
Labels: l10n-ru

#343 Unify translation of "Media Query" to Russian
  files/ru/learn/css/css_layout/floats/index.html
  files/ru/learn/css/css_layout/multiple-column_layout/index.html
  files/ru/learn/css/css_layout/positioning/index.html
  files/ru/learn/css/css_layout/responsive_design/index.html
  files/ru/learn/html/multimedia_and_embedding/responsive_images/index.html
  files/ru/tools/style_editor/index.html
  files/ru/web/api/window/matchmedia/index.html
  files/ru/web/css/media_queries/index.html
  files/ru/web/css/media_queries/using_media_queries/index.html
  files/ru/web/css/reference/index.html
  files/ru/web/html/element/link/index.html
  files/ru/web/html/element/style/index.html
  files/ru/web/performance/critical_rendering_path/index.html
  files/ru/web/performance/fundamentals/index.html
  files/ru/web/performance/lazy_loading/index.html
Labels: l10n-ru

#317 Translate ru glossary 404 page
  docs/ru/translation-guide.md
  files/ru/glossary/404/index.html
Labels: l10n-ru

#350 Fixes #333
  files/fr/web/xpath/index.html
Labels: l10n-fr

#192 Intl.PluralRules.prototype→Intl.PluralRulesのリダイレクトを追加
  files/ja/_redirects.txt
Labels: l10n-ja

#194 Web/JavaScript/Reference/Functions/arguments/callee を更新
  files/ja/web/javascript/reference/functions/arguments/callee/index.html
Labels: l10n-ja

#240 Web/SVG/Element/use を修正
  files/ja/web/svg/element/use/index.html
Labels: l10n-ja

#359 Translation 502 glossary page
  files/ru/glossary/502/index.html
Labels: l10n-ru

#360 Fixed typo
  files/ru/web/css/media_queries/using_media_queries/index.html
Labels: l10n-ru

#335 MDN/Contribute/Feedback を更新
  files/ja/mdn/contribute/feedback/index.html
Labels: l10n-ja

#355 fix: equalateral triangle
  files/ja/web/javascript/reference/global_objects/math/index.html
Labels: l10n-ja

#218 Learn/Tools_and_testing/GitHub を新規翻訳
  files/ja/learn/tools_and_testing/github/index.html
Labels: l10n-ja

#370 Correcting 404 glossary page
  files/ru/glossary/404/index.html
Labels: l10n-ru

#220 Learn/Tools_and_testing を更新
  files/ja/learn/tools_and_testing/index.html
Labels: l10n-ja
