Repository mdn/translated-content, pull requests merged in 2021-09, with the labels that each got.

#2289 fix: permissions code examples
  files/fr/mozilla/add-ons/webextensions/manifest.json/permissions/index.html
Labels: l10n-fr

#2282 (ru) Fix translation at "String.prototype.match" page
  files/ru/web/javascript/reference/global_objects/string/match/index.html
Labels: l10n-ru

#2155 Web/HTML/Element/bdo を更新
  files/ja/web/html/element/bdo/index.html
Labels: l10n-ja

#2178 Web/HTTP/Headers/X-Content-Type-Options を更新
  files/ja/web/http/headers/x-content-type-options/index.html
  files/ja/web/http/headers/x-content-type-options/index.md
Labels: l10n-ja

#2182 Web/HTTP/Status/202 を更新
  files/ja/web/http/status/202/index.html
  files/ja/web/http/status/202/index.md
Labels: l10n-ja

#2207 Statements/const を更新
  files/ja/web/javascript/reference/statements/const/index.html
  files/ja/web/javascript/reference/statements/const/index.md
Labels: l10n-ja

#2208 Global_Objects/WebAssembly/validate を更新
  files/ja/web/javascript/reference/global_objects/webassembly/validate/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/validate/index.md
Labels: l10n-ja

#2209 Global_Objects/WebAssembly/instantiateStreaming を更新
  files/ja/web/javascript/reference/global_objects/webassembly/instantiatestreaming/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/instantiatestreaming/index.md
Labels: l10n-ja

#2216 Web/JavaScript/Reference/Global_Objects を更新
  files/ja/web/javascript/reference/global_objects/index.html
  files/ja/web/javascript/reference/global_objects/index.md
Labels: l10n-ja

#2219 orphaned 以下にある古い mozilla 独自のインターフェイスを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/mozistorageservice/index.html
  files/ja/orphaned/nsidomhtmlmediaelement/index.html
  files/ja/orphaned/nsidynamiccontainer/index.html
Labels: l10n-ja

#2300 (ru) Update incorrect term translation at "<meta> element" page
  files/ru/web/html/element/meta/index.html
Labels: l10n-ru

#2248 Translation: Autoplay guide for media and Web Audio APIs
  files/zh-cn/web/media/autoplay_guide/index.html
Labels: l10n-zh

#2305 fr-glossary/accent id:77
  files/fr/glossary/accent/index.html
Labels: l10n-fr

#2217 연결되지 않은 링크 연결
  files/ko/web/javascript/reference/global_objects/isnan/index.html
Labels: l10n-ko

#2188 Fix Reflect.construct description (fr)
  files/fr/web/javascript/reference/global_objects/reflect/construct/index.md
Labels: l10n-fr

#2309 fr - fix typo API Headers
  files/fr/web/api/headers/index.html
Labels: l10n-fr

#2206 Global_Objects/escape を更新
  files/ja/web/javascript/reference/global_objects/escape/index.html
  files/ja/web/javascript/reference/global_objects/escape/index.md
Labels: l10n-ja

#2236 Global_Objects/Promise/any を更新
  files/ja/web/javascript/reference/global_objects/promise/any/index.html
  files/ja/web/javascript/reference/global_objects/promise/any/index.md
Labels: l10n-ja

#2215 Global_Objects/WebAssembly/compileStreaming を更新
  files/ja/web/javascript/reference/global_objects/webassembly/compilestreaming/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/compilestreaming/index.md
Labels: l10n-ja

#2281 Update the output.
  files/zh-cn/web/javascript/reference/template_literals/index.html
Labels: l10n-zh

#2280 Update the output.
  files/zh-cn/web/javascript/reference/global_objects/string/raw/index.html
Labels: l10n-zh

#2251 Web/JavaScript/Guide/Using_promises を更新
  files/ja/web/javascript/guide/using_promises/index.html
  files/ja/web/javascript/guide/using_promises/index.md
Labels: l10n-ja

#2252 プロミスの reject(ed) の訳語を「拒否」に統一
  files/ja/mozilla/firefox/releases/69/index.html
  files/ja/web/api/document/requeststorageaccess/index.html
  files/ja/web/api/mediadevices/getusermedia/index.html
  files/ja/web/api/navigator/getbattery/index.html
  files/ja/web/api/promiserejectionevent/index.html
  files/ja/web/api/promiserejectionevent/promise/index.html
  files/ja/web/api/promiserejectionevent/promiserejectionevent/index.html
  files/ja/web/api/window/rejectionhandled_event/index.html
  files/ja/web/api/worker/index.html
  files/ja/web/css/user-modify/index.html
  files/ja/web/events/index.html
  files/ja/web/javascript/reference/global_objects/promise/catch/index.html
  files/ja/web/javascript/reference/global_objects/promise/then/index.html
  files/ja/web/javascript/reference/operators/index.html
Labels: l10n-ja

#2314 fix #2221
  files/zh-cn/learn/css/building_blocks/sizing_items_in_css/index.html
Labels: l10n-zh

#2315 fix #1156
  files/zh-cn/web/api/htmlcanvaselement/getcontext/index.html
Labels: l10n-zh

#2317 fix #106
  files/zh-cn/web/javascript/reference/global_objects/object/seal/index.html
Labels: l10n-zh

#2322 optimise table display
  files/zh-cn/web/css/transform-function/rotate3d()/index.html
Labels: l10n-zh

#2327 add zh-cn/web/api/navigator/language
  files/zh-cn/web/api/navigator/language/index.html
Labels: l10n-zh

#2319 add syntax highlight
  files/zh-cn/web/api/url/searchparams/index.html
Labels: l10n-zh

#2320 fix #150
  files/zh-cn/web/api/url/searchparams/index.html
Labels: l10n-zh

#2316 sync with en-us page & fix #384
  files/zh-cn/learn/javascript/building_blocks/looping_code/index.html
Labels: l10n-zh

#2288 Update MDN/Contribute/Feedback
  files/zh-cn/mdn/contribute/feedback/index.html
Labels: l10n-zh

#2321 add syntax highlight
  files/pt-br/web/api/url/searchparams/index.html
Labels: l10n-pt-br

#2349 Corrigindo uma palavra da linha 168
  files/pt-br/web/http/overview/index.html
Labels: l10n-pt-br

#2290 A function has no argument limits.
  files/pt-br/web/javascript/reference/functions/index.html
Labels: l10n-pt-br

#2273 Fixed parameters of console.time and console.timeEnd
  files/pt-br/web/api/console/index.html
  files/pt-br/web/api/console/time/index.html
  files/pt-br/web/api/console/timeend/index.html
Labels: l10n-pt-br

#2228 Global_Objects/Promise/all を更新
  files/ja/web/javascript/reference/global_objects/promise/all/index.html
  files/ja/web/javascript/reference/global_objects/promise/all/index.md
Labels: l10n-ja

#2255 Global_Objects/WebAssembly/Table/set を更新
  files/ja/web/javascript/reference/global_objects/webassembly/table/set/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/set/index.md
Labels: l10n-ja

#2262 Global_Objects/WebAssembly/Table/length を更新
  files/ja/web/javascript/reference/global_objects/webassembly/table/length/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/length/index.md
Labels: l10n-ja

#2265 Global_Objects/WebAssembly/Table 以下の文書を更新
  files/ja/web/javascript/reference/global_objects/webassembly/table/get/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/get/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/table/grow/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/grow/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/table/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/table/table/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/table/table/index.md
Labels: l10n-ja

#2275 Global_Objects/WebAssembly/Module 以下を更新
  files/ja/web/javascript/reference/global_objects/webassembly/module/customsections/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/module/customsections/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/module/exports/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/module/exports/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/module/imports/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/module/imports/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/module/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/module/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/module/module/index.md
Labels: l10n-ja

#2371 fix:typo
  files/zh-cn/web/javascript/reference/global_objects/function/apply/index.html
Labels: l10n-zh

#2358 Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_getting_started -- Finish Translation
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-zh

#2361 fix: change 『一些列』 to 『一系列』
  files/zh-cn/web/api/web_speech_api/index.html
Labels: l10n-zh

#2283 Global_Objects/WebAssembly/Memory 以下を更新
  files/ja/web/javascript/reference/global_objects/webassembly/memory/buffer/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/memory/buffer/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/memory/grow/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/memory/grow/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/memory/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/memory/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/memory/memory/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/memory/memory/index.md
Labels: l10n-ja

#2284 Global_Objects/WebAssembly/RuntimeError を更新
  files/ja/web/javascript/reference/global_objects/webassembly/runtimeerror/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/runtimeerror/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/runtimeerror/runtimeerror/index.md
Labels: l10n-ja

#2376 fix: change "包含来" to "包含了"
  files/zh-cn/web/web_components/using_shadow_dom/index.html
Labels: l10n-zh

#2397 MDN/MDN_Product_Advisory_Board 以下を更新
  files/ja/mdn/mdn_product_advisory_board/index.html
  files/ja/mdn/mdn_product_advisory_board/members/index.html
  files/ja/mdn/mdn_product_advisory_board/membership/index.html
Labels: l10n-ja

#2253 Global_Objects/WebAssembly/compile を更新
  files/ja/web/javascript/reference/global_objects/webassembly/compile/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/compile/index.md
Labels: l10n-ja

#2390 Fix broken sample in SVG linearGradien page
  files/ru/web/svg/element/lineargradient/index.html
Labels: l10n-ru

#2396 Update index.html
  files/ru/web/javascript/reference/functions/default_parameters/index.html
Labels: l10n-ru

#2403 Fixed "hight" to "height"
  files/ru/web/html/element/img/index.html
Labels: l10n-ru

#2295 Global_Objects/WebAssembly/Global を更新
  files/ja/web/javascript/reference/global_objects/webassembly/global/global/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/global/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/global/index.md
Labels: l10n-ja

#2297 Global_Objects/DataView 以下を更新
  files/ja/web/javascript/reference/global_objects/dataview/getbigint64/index.md
  files/ja/web/javascript/reference/global_objects/dataview/getbiguint64/index.md
  files/ja/web/javascript/reference/global_objects/dataview/index.html
  files/ja/web/javascript/reference/global_objects/dataview/index.md
  files/ja/web/javascript/reference/global_objects/dataview/setbigint64/index.md
  files/ja/web/javascript/reference/global_objects/dataview/setbiguint64/index.md
Labels: l10n-ja

#2276 conflicting 以下の残ったファイルを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/index.html
  files/ja/conflicting/web/api_49b9a84475f11fffb8fc271a7df3c49a/index.html
  files/ja/conflicting/web/api_dd04ca1265cb79b990b8120e5f5070d3/index.html
Labels: l10n-ja

#2245 Fix typo in index.html
  files/ko/web/api/streams_api/concepts/index.html
Labels: l10n-ko

#2398 Update block-level-elements' doc in ZH-CN
  files/zh-cn/web/html/block-level_elements/index.html
Labels: l10n-zh

#2312 Fix Typo in django FR tuto
  files/fr/learn/server-side/django/skeleton_website/index.html
Labels: l10n-fr

#2412 Firefox 91 for developers を更新
  files/ja/mozilla/firefox/releases/91/index.html
Labels: l10n-ja

#2287 Global_Objects/WebAssembly/LinkError を更新
  files/ja/web/javascript/reference/global_objects/webassembly/linkerror/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/linkerror/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/linkerror/linkerror/index.md
Labels: l10n-ja

#2196 Translate angular_getting_started page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.html
Labels: l10n-ru

#2417 Correção de alguns erros.
  files/pt-br/learn/server-side/django/skeleton_website/index.html
Labels: l10n-pt-br

#2414 Обновление главной объекта Function
  files/ru/web/javascript/reference/global_objects/function/function/index.md
  files/ru/web/javascript/reference/global_objects/function/index.html
  files/ru/web/javascript/reference/global_objects/function/index.md
Labels: l10n-ru

#2426 RU: Fix Live sample on Strings page
  files/ru/learn/javascript/first_steps/strings/index.html
Labels: l10n-ru

#2422 add full name of API, zh-CN
  files/zh-cn/learn/javascript/client-side_web_apis/introduction/index.html
Labels: l10n-zh

#2362 update link attributes translate for zh-CN
  files/zh-cn/web/html/element/link/index.html
Labels: l10n-zh

#2378 Fix 6种原始类型 to 7种原始类型
  files/zh-cn/web/javascript/data_structures/index.html
Labels: l10n-zh

#2299 Global_Objects/Object/values を更新
  files/ja/web/javascript/reference/global_objects/object/values/index.html
  files/ja/web/javascript/reference/global_objects/object/values/index.md
Labels: l10n-ja

#2310 conflicting/Web/API/XRInputSource 以下のファイルを元の場所に移動
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/xrhandedness/index.html
  files/ja/web/api/xrtargetraymode/index.html
Labels: l10n-ja

#2311 "script"の訳語を「表記法」から「文字体系」に修正
  files/ja/web/javascript/reference/global_objects/intl/locale/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/maximize/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/minimize/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/tostring/index.md
Labels: l10n-ja

#2324 locale matching algorithm の訳語を統一
  files/ja/web/javascript/reference/global_objects/intl/collator/supportedlocalesof/index.html
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/supportedlocalesof/index.md
  files/ja/web/javascript/reference/global_objects/intl/index.html
  files/ja/web/javascript/reference/global_objects/intl/listformat/listformat/index.html
  files/ja/web/javascript/reference/global_objects/intl/listformat/supportedlocalesof/index.html
  files/ja/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.html
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.html
Labels: l10n-ja

#2325 Global_Objects/Intl/DisplayNames 以下を更新
  files/ja/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/ja/web/javascript/reference/global_objects/intl/displaynames/index.html
  files/ja/web/javascript/reference/global_objects/intl/displaynames/index.md
  files/ja/web/javascript/reference/global_objects/intl/displaynames/of/index.md
  files/ja/web/javascript/reference/global_objects/intl/displaynames/resolvedoptions/index.md
  files/ja/web/javascript/reference/global_objects/intl/displaynames/supportedlocalesof/index.md
Labels: l10n-ja

#2331 Global_Objects/WebAssembly/CompileError を更新
  files/ja/web/javascript/reference/global_objects/webassembly/compileerror/compileerror/index.md
  files/ja/web/javascript/reference/global_objects/webassembly/compileerror/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/compileerror/index.md
Labels: l10n-ja

#2041 corrections de qques coquilles
  files/fr/learn/css/building_blocks/values_and_units/index.html
Labels: l10n-fr

#2332 Fixes #1905
  files/fr/web/javascript/reference/global_objects/array/index.md
Labels: l10n-fr

#2039 correction coquille mineure
  files/fr/learn/css/building_blocks/overflowing_content/index.html
Labels: l10n-fr

#2037 corrections coquilles
  files/fr/learn/css/building_blocks/handling_different_text_directions/index.html
Labels: l10n-fr

#2336 [ko] new translation & fix Incorrect description of arrow function
  files/ko/web/javascript/reference/functions/arrow_functions/index.html
Labels: l10n-ko

#2440 Fix grammar: excessões to exceções
  files/pt-br/web/javascript/reference/global_objects/error/index.html
Labels: l10n-pt-br

#2448 RU: Update Web/HTTP/Overview
  files/ru/web/http/overview/index.html
Labels: l10n-ru

#2427 RU: Fix live sample on GLSL Shaders page
  files/ru/games/techniques/3d_on_the_web/glsl_shaders/index.html
Labels: l10n-ru

#2347 Global_Objects/Object/getOwnPropertyDescriptor を更新
  files/ja/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.html
  files/ja/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
Labels: l10n-ja

#2348 Global_Objects/WebAssembly/Instance/exports を更新
  files/ja/web/javascript/reference/global_objects/webassembly/instance/exports/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/instance/exports/index.md
Labels: l10n-ja

#2352 英語版文書へのリダイレクトを日本語版文書へ修正
  files/ja/_redirects.txt
Labels: l10n-ja

#2355 Games以下の文書内のリンクURLを正規化
  files/ja/games/index.html
  files/ja/games/techniques/3d_on_the_web/basic_theory/index.html
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.html
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.html
  files/ja/games/techniques/3d_on_the_web/webvr/index.html
  files/ja/games/techniques/async_scripts/index.html
  files/ja/games/techniques/audio_for_web_games/index.html
  files/ja/games/techniques/controls_gamepad_api/index.html
  files/ja/games/techniques/index.html
  files/ja/games/techniques/webrtc_data_channels/index.html
  files/ja/games/tools/index.html
  files/ja/games/tutorials/2d_breakout_game_phaser/physics/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.html
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.html
  files/ja/games/tutorials/index.html
Labels: l10n-ja

#2338 Global_Objects/WebAssembly を更新
  files/ja/web/javascript/reference/global_objects/webassembly/index.html
  files/ja/web/javascript/reference/global_objects/webassembly/index.md
Labels: l10n-ja

#2340 orphaned/Web/API 以下の廃止が確認できたAPIの記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/navigator/registercontenthandler/index.html
  files/ja/orphaned/web/api/typeinfo/index.html
  files/ja/orphaned/web/api/userproximityevent/near/index.html
Labels: l10n-ja

#2343 Global_Objects/Proxy/revocable を更新
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.html
  files/ja/web/javascript/reference/global_objects/proxy/revocable/index.md
Labels: l10n-ja

#2345 Web/CSS/CSS_Logical_Properties/Basic_concepts を更新
  files/ja/web/css/css_logical_properties/basic_concepts/index.html
  files/ja/web/css/css_logical_properties/basic_concepts/index.md
  files/ja/web/css/css_logical_properties/basic_concepts/mdn-horizontal.png
  files/ja/web/css/css_logical_properties/basic_concepts/mdn-vertical.png
Labels: l10n-ja

#2341 orphaned 以下の index ファイルを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/css/@media/index/index.html
  files/ja/orphaned/web/css/index/index.html
  files/ja/orphaned/web/http/headers/index/index.html
Labels: l10n-ja

#2413 Firefox 92 for developers を翻訳
  files/ja/mozilla/firefox/releases/92/index.html
Labels: l10n-ja

#2451 RU: Fix spelling mistakes on Web/JavaScript/Guide/Modules page
  files/ru/web/javascript/guide/modules/index.html
Labels: l10n-ru

#2393 fr-glossary/fps id:239
  files/fr/glossary/fps/index.html
Labels: l10n-fr

#2367 Tools以下の文書内のリンクURLを正規化
  files/ja/tools/browser_console/index.html
  files/ja/tools/deprecated_tools/index.html
  files/ja/tools/firefox_os_simulator_clone/index.html
  files/ja/tools/index.html
  files/ja/tools/network_monitor/request_list/index.html
  files/ja/tools/page_inspector/3-pane_mode/index.html
  files/ja/tools/performance/call_tree/index.html
  files/ja/tools/remote_debugging/firefox_for_android/index.html
  files/ja/tools/remote_debugging/index.html
  files/ja/tools/tips/index.html
  files/ja/tools/web_audio_editor/index.html
  files/ja/tools/web_console/helpers/index.html
  files/ja/tools/web_console/remoting/index.html
Labels: l10n-ja

#2330 Using_the_aria-describedby_attribute を修正
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
Labels: l10n-ja

#2372 型付き配列のクラスリファレンスを更新
  files/ja/web/javascript/reference/global_objects/bigint64array/index.html
  files/ja/web/javascript/reference/global_objects/bigint64array/index.md
  files/ja/web/javascript/reference/global_objects/biguint64array/index.html
  files/ja/web/javascript/reference/global_objects/biguint64array/index.md
  files/ja/web/javascript/reference/global_objects/float32array/index.html
  files/ja/web/javascript/reference/global_objects/float32array/index.md
  files/ja/web/javascript/reference/global_objects/float64array/index.md
  files/ja/web/javascript/reference/global_objects/int16array/index.html
  files/ja/web/javascript/reference/global_objects/int16array/index.md
  files/ja/web/javascript/reference/global_objects/int32array/index.html
  files/ja/web/javascript/reference/global_objects/int32array/index.md
  files/ja/web/javascript/reference/global_objects/int8array/index.html
  files/ja/web/javascript/reference/global_objects/int8array/index.md
  files/ja/web/javascript/reference/global_objects/uint16array/index.html
  files/ja/web/javascript/reference/global_objects/uint16array/index.md
  files/ja/web/javascript/reference/global_objects/uint32array/index.html
  files/ja/web/javascript/reference/global_objects/uint32array/index.md
  files/ja/web/javascript/reference/global_objects/uint8array/index.html
  files/ja/web/javascript/reference/global_objects/uint8array/index.md
  files/ja/web/javascript/reference/global_objects/uint8clampedarray/index.html
  files/ja/web/javascript/reference/global_objects/uint8clampedarray/index.md
Labels: l10n-ja

#2385 Web/JavaScript/Reference/Global_Objects/Atomics/isLockFree を新規翻訳
  files/ja/web/javascript/reference/global_objects/atomics/islockfree/index.md
Labels: l10n-ja

#2387 Global_Objects/BigInt を更新
  files/ja/web/javascript/reference/global_objects/bigint/index.html
  files/ja/web/javascript/reference/global_objects/bigint/index.md
  files/ja/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/bigint/valueof/index.md
Labels: l10n-ja

#2388 MDN/Contribute/Howto/Convert_code_samples_to_be_live を更新
  files/ja/mdn/contribute/howto/convert_code_samples_to_be_live/index.html
Labels: l10n-ja

#2469 Update translation Learn CSS page
  files/ru/learn/css/index.html
Labels: l10n-ru

#2470 Унификация термина "rest parameters"
  files/ru/web/javascript/a_re-introduction_to_javascript/index.html
  files/ru/web/javascript/guide/functions/index.html
  files/ru/web/javascript/reference/functions/arguments/index.html
  files/ru/web/javascript/reference/functions/arrow_functions/index.html
  files/ru/web/javascript/reference/functions/index.html
  files/ru/web/javascript/reference/functions/rest_parameters/index.html
  files/ru/web/javascript/reference/index.html
  files/ru/web/javascript/reference/trailing_commas/index.html
Labels: l10n-ru

#2339 orphaned/Map を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/map/index.html
Labels: l10n-ja

#2346 Global_Objects/Number/Number の更新
  files/ja/web/javascript/reference/global_objects/number/number/index.html
  files/ja/web/javascript/reference/global_objects/number/number/index.md
Labels: l10n-ja

#2350 Global_Objects/eval を更新
  files/ja/web/javascript/reference/global_objects/eval/index.html
  files/ja/web/javascript/reference/global_objects/eval/index.md
Labels: l10n-ja

#2384 Global_Objects/Intl を更新
  files/ja/web/javascript/reference/global_objects/intl/index.html
  files/ja/web/javascript/reference/global_objects/intl/index.md
Labels: l10n-ja

#2342 CSS のグラデーション関数の wikihistory を修正
  files/ja/_wikihistory.json
Labels: l10n-ja

#2442 [zh-cn] Fix a typo.
  files/zh-cn/web/css/_doublecolon_first-letter/index.html
  files/zh-cn/web/css/_doublecolon_first-line/index.html
  files/zh-cn/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-zh

#2379 Remove occurrences of oaa-accessibility.org which has now nothing to do with Accessibility
  files/de/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/de/web/accessibility/keyboard-navigable_javascript_widgets/index.html
  files/es/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/es/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/fr/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/fr/web/accessibility/aria/forms/basic_form_hints/index.html
  files/ja/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/ja/web/accessibility/aria/forms/basic_form_hints/index.html
  files/ja/web/accessibility/keyboard-navigable_javascript_widgets/index.html
  files/ko/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/pt-br/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/pt-br/web/accessibility/aria/aria_test_cases/index.html
  files/pt-br/web/accessibility/aria/forms/basic_form_hints/index.html
  files/ru/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/ru/web/accessibility/keyboard-navigable_javascript_widgets/index.html
  files/zh-cn/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/zh-cn/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/zh-cn/web/accessibility/keyboard-navigable_javascript_widgets/index.html
  files/zh-tw/web/accessibility/aria/forms/basic_form_hints/index.html
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-de, l10n-ko, l10n-pt-br

#2329 [Ko] translate mutable, immutable content
  files/ko/glossary/immutable/index.html
  files/ko/glossary/mutable/index.html
  files/ko/web/javascript/data_structures/index.md
Labels: l10n-ko

#2366 Mozilla/Firefox以下の文書内のリンクURLを正規化
  files/ja/mozilla/firefox/index.html
  files/ja/mozilla/firefox/releases/1.5/adapting_xul_applications_for_firefox_1.5/index.html
  files/ja/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.html
  files/ja/mozilla/firefox/releases/13/index.html
  files/ja/mozilla/firefox/releases/14/index.html
  files/ja/mozilla/firefox/releases/16/index.html
  files/ja/mozilla/firefox/releases/2/security_changes/index.html
  files/ja/mozilla/firefox/releases/2/updating_extensions/index.html
  files/ja/mozilla/firefox/releases/21/index.html
  files/ja/mozilla/firefox/releases/29/index.html
  files/ja/mozilla/firefox/releases/3.5/index.html
  files/ja/mozilla/firefox/releases/3.6/index.html
  files/ja/mozilla/firefox/releases/3/updating_extensions/index.html
  files/ja/mozilla/firefox/releases/35/index.html
  files/ja/mozilla/firefox/releases/4/index.html
  files/ja/mozilla/firefox/releases/42/index.html
  files/ja/mozilla/firefox/releases/44/index.html
  files/ja/mozilla/firefox/releases/55/index.html
  files/ja/mozilla/firefox/releases/59/index.html
  files/ja/mozilla/firefox/releases/6/index.html
  files/ja/mozilla/firefox/releases/71/index.html
  files/ja/mozilla/firefox/releases/74/index.html
  files/ja/mozilla/firefox/releases/8/index.html
  files/ja/mozilla/firefox/releases/9/index.html
Labels: l10n-ja

#2406 MDN/Contribute/Processes 以下を更新
  files/ja/mdn/contribute/processes/content_bug_triage/index.html
  files/ja/mdn/contribute/processes/index.html
  files/ja/mdn/contribute/processes/short_surveys/index.html
Labels: l10n-ja

#2408 Glossary/Conditional を更新
  files/ja/glossary/conditional/index.html
Labels: l10n-ja

#2485 Espace en trop
  files/fr/web/api/element/insertadjacenthtml/index.html
Labels: l10n-fr

#2333 Fixes #1919 - updates vs en-US / rm xref macros
  files/fr/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
Labels: l10n-fr

#2452 Fixes #2431
  files/fr/web/api/location/reload/index.html
  files/fr/web/api/window/location/index.html
Labels: l10n-fr

#2271 Revamps WS landing page - translates WS interface subpages - fixes #2139
  files/fr/web/api/websocket/binarytype/index.html
  files/fr/web/api/websocket/bufferedamount/index.html
  files/fr/web/api/websocket/close/index.html
  files/fr/web/api/websocket/close_event/index.html
  files/fr/web/api/websocket/error_event/index.html
  files/fr/web/api/websocket/extensions/index.html
  files/fr/web/api/websocket/index.html
  files/fr/web/api/websocket/message_event/index.html
  files/fr/web/api/websocket/onclose/index.html
  files/fr/web/api/websocket/onerror/index.html
  files/fr/web/api/websocket/onmessage/index.html
  files/fr/web/api/websocket/onopen/index.html
  files/fr/web/api/websocket/open_event/index.html
  files/fr/web/api/websocket/protocol/index.html
  files/fr/web/api/websocket/readystate/index.html
  files/fr/web/api/websocket/send/index.html
  files/fr/web/api/websocket/url/index.html
  files/fr/web/api/websocket/websocket/index.html
Labels: l10n-fr

#2383 Update Glossary/Type
  files/ja/glossary/type/index.html
Labels: l10n-ja

#2386 Global_Objects/WebAssembly/Instance を更新
  files/ja/web/javascript/reference/global_objects/webassembly/instance/index.md
Labels: l10n-ja

#2389 MDN/Contribute/Feedback を更新
  files/ja/mdn/contribute/feedback/index.html
Labels: l10n-ja

#2407 Web/API/HTMLElement/offsetLeft を更新
  files/ja/web/api/htmlelement/offsetleft/index.html
Labels: l10n-ja

#2416 Glossary/Dominator を更新
  files/ja/glossary/dominator/index.html
Labels: l10n-ja

#2423 Web/CSS/transform-box を更新
  files/ja/web/css/transform-box/index.html
  files/ja/web/css/transform-box/index.md
Labels: l10n-ja

#2493 Update Web/MathML page for ja locale
  files/ja/web/mathml/index.html
Labels: l10n-ja

#2468 [ko] translated /React_getting_started the first paragraph
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-ko

#2488 Update classes/constructor
  files/ko/web/javascript/reference/classes/constructor/index.html
  files/ko/web/javascript/reference/classes/constructor/index.md
Labels: l10n-ko

#2454 [ko] improve video tag autoplay attribute translation
  files/ko/web/html/element/video/index.html
  files/ko/web/javascript/reference/functions/arrow_functions/index.html
Labels: l10n-ko

#2497 typo
  files/ru/web/css/overflow/index.html
Labels: l10n-ru

#2501 RU: fix live sample on z-index page
  files/ru/web/css/z-index/index.html
Labels: l10n-ru

#2286 Il n'y a pas d'opérateur d'identité en ECMAScript
  files/fr/web/javascript/reference/operators/index.md
Labels: l10n-fr

#2118 French translation for the "Edit and create pages" reference
  files/fr/mdn/contribute/howto/create_and_edit_pages/index.html
Labels: l10n-fr

#2507 исправление ошибочного перевода заголовка
  files/ru/learn/javascript/client-side_web_apis/manipulating_documents/index.html
Labels: l10n-ru

#2419 Glossary/Delta を更新
  files/ja/glossary/delta/index.html
Labels: l10n-ja

#2420 Global_Objects/Array/Reduce を更新
  files/ja/web/javascript/reference/global_objects/array/reduce/index.html
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-ja

#2428 Statements/async_function を同期
  files/ja/web/javascript/reference/statements/async_function/index.html
  files/ja/web/javascript/reference/statements/async_function/index.md
Labels: l10n-ja

#2461 Ajuste no texto para fazer sentido.
  files/pt-br/web/javascript/closures/index.html
Labels: l10n-pt-br

#2391 Erro de escrita
  files/pt-br/learn/html/introduction_to_html/index.html
Labels: l10n-pt-br

#2430 CSS/calc() を更新
  files/ja/web/css/calc()/index.html
  files/ja/web/css/calc()/index.md
Labels: l10n-ja

#2409 Correção
  files/pt-br/learn/server-side/django/introduction/index.html
Labels: l10n-pt-br

#2492 fix: link of introduction HTML and CSS in language pt-BR
  files/pt-br/learn/javascript/first_steps/index.html
Labels: l10n-pt-br

#2514 Update index.html
  files/ru/web/html/element/img/index.html
Labels: l10n-ru

#2434 Web/API/Worker/postMessage を新規翻訳
  files/ja/web/api/worker/postmessage/index.html
Labels: l10n-ja

#2517 (ru) fix binary operator anchor and title
  files/ru/web/javascript/guide/expressions_and_operators/index.html
Labels: l10n-ru

#2425 [Ko] Translate Beginning our React todo list
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/unstyled-app.png
Labels: l10n-ko

#2522 (ru) Fix mistype at "Using server-sent events" page
  files/ru/web/api/server-sent_events/using_server-sent_events/index.html
Labels: l10n-ru

#2435 Global_Objects/Float64Array を更新
  files/ja/web/javascript/reference/global_objects/float64array/index.md
Labels: l10n-ja

#2438 Global_Objects/Atomics を更新
  files/ja/web/javascript/reference/global_objects/atomics/index.html
  files/ja/web/javascript/reference/global_objects/atomics/index.md
  files/ja/web/javascript/reference/global_objects/atomics/xor/index.md
Labels: l10n-ja

#2439 Global_Objects/Array/splice を更新
  files/ja/web/javascript/reference/global_objects/array/splice/index.html
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-ja

#2516 modify paragraphs
  files/zh-cn/learn/javascript/first_steps/math/index.html
Labels: l10n-zh

#2445 Web/CSS/initial_value を更新
  files/ja/web/css/initial_value/index.html
  files/ja/web/css/initial_value/index.md
Labels: l10n-ja

#2447 Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout を更新
  files/ja/web/css/css_grid_layout/box_alignment_in_css_grid_layout/index.html
  files/ja/web/css/css_grid_layout/box_alignment_in_css_grid_layout/index.md
Labels: l10n-ja
