Repository mdn/translated-content, pull requests merged in 2021-06, with the labels that each got.

#954 Web/SVG/SVG_1.1_Support_in_Firefox を更新
  files/ja/web/svg/svg_1.1_support_in_firefox/index.html
Labels: l10n-ja

#1045 [ko] 한국 가이드 목차 띄어쓰기 수정
  docs/ko/translation-guide.md
Labels: l10n-ko

#1067 Fix small typo issue
  files/fr/tools/debugger/index.html
Labels: l10n-fr

#956 IntersectionObsereverEntryを更新
  files/ja/web/api/intersectionobserverentry/index.html
Labels: l10n-ja

#961 Tools/Page_Inspector を削除
  files/ja/_redirects.txt
  files/ja/conflicting/tools/page_inspector/index.html
Labels: l10n-ja

#1065 Update HTML main page
  files/ko/web/html/index.html
Labels: l10n-ko

#1002 Update CSS main page
  files/ko/web/css/index.html
Labels: l10n-ko

#66 Translate Using server-sent events into korean
  files/ko/web/api/server-sent_events/using_server-sent_events/index.html
Labels: l10n-ko

#1049 [ko] Work for 'conditionals' and its test article.
  files/ko/learn/javascript/building_blocks/conditionals/index.html
  files/ko/learn/javascript/building_blocks/test_your_skills_colon__conditionals/index.html
Labels: l10n-ko

#975 Mozilla/Add-ons/WebExtensions/Anatomy_of_a_WebExtension を更新
  files/ja/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
Labels: l10n-ja

#962 conflicting から Web/Accessibility/ARIA/widgets を移動
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/accessibility/aria/widgets/index.html
  files/ja/web/accessibility/aria/widgets/index.html
Labels: l10n-ja

#964 conflicting/Web/Accessibility/ARIA を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/accessibility/aria/index.html
Labels: l10n-ja

#965 Web/CSS/@media の conflicting のファイルを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/@media/index.html
  files/ja/conflicting/web/css/@media_dcb6ae28d731b140b24729ff941686e7/index.html
Labels: l10n-ja

#973 Web/XPath/Introduction_to_using_XPath_in_JavaScript の conflicting 版を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/xpath/introduction_to_using_xpath_in_javascript/index.html
  files/ja/conflicting/web/xpath/introduction_to_using_xpath_in_javascript_caa7dfd0899fa1d0dfa5b1eb32e49ac7/index.html
Labels: l10n-ja

#1080 Fixing a typo
  files/pt-br/web/javascript/reference/functions/arrow_functions/index.html
Labels: l10n-pt-br

#1095 Fix header name
  files/pt-br/web/http/cors/index.html
Labels: l10n-pt-br

#1087 Add missing translation in pt-BR
  files/pt-br/web/javascript/reference/operators/nullish_coalescing_operator/index.html
Labels: l10n-pt-br

#1094 Typo errors
  files/pt-br/web/javascript/reference/functions/arrow_functions/index.html
Labels: l10n-pt-br

#1100 l10n-fr 7 typos in service_worker_api/using_service_workers/index.html
  files/fr/web/api/service_worker_api/using_service_workers/index.html
Labels: l10n-fr

#947 [Ko] Fix: match the names of id and examples
  files/ko/learn/css/css_layout/grids/index.html
  files/ko/learn/css/css_layout/introduction/index.html
  files/ko/learn/css/css_layout/normal_flow/index.html
Labels: l10n-ko

#1021 Update Learn main page
  files/ko/_redirects.txt
  files/ko/conflicting/learn/index.html
  files/ko/learn/index.html
Labels: l10n-ko

#1093 Fix sample in scroll-snap-type page
  files/ru/web/css/scroll-snap-type/index.html
Labels: l10n-ru

#920 RU: Update label statement page
  files/ru/web/javascript/reference/statements/label/index.html
Labels: l10n-ru

#1098 新增了 改正内容错误(MDN/Contribute/Fixing_MDN_content_bugs) 的页面翻译
  files/zh-cn/mdn/contribute/fixing_mdn_content_bugs/index.html
Labels: l10n-zh

#1088 Fix some live samples
  files/ru/learn/css/first_steps/how_css_works/index.html
  files/ru/learn/html/introduction_to_html/advanced_text_formatting/index.html
  files/ru/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
  files/ru/learn/javascript/first_steps/variables/index.html
  files/ru/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-ru

#1102 use plain Compat macro (sample, fr)
  files/fr/web/javascript/reference/global_objects/intl/datetimeformat/resolvedoptions/index.html
Labels: l10n-fr

#1079 Remove feature that's no longer experimental and rework intro
  files/fr/mozilla/firefox/experimental_features/index.html
Labels: l10n-fr

#898 [CREATE] CSS & JS accessibility tests - French version
  files/fr/learn/accessibility/css_and_javascript/test_your_skills_colon__css_and_javascript_accessibility/index.html
Labels: l10n-fr

#900 [CREATE] Game Promotion - French version
  files/fr/games/publishing_games/game_promotion/index.html
Labels: l10n-fr

#933 CREATE Glossary - Client Hints - FR version
  files/fr/glossary/client_hints/index.html
Labels: l10n-fr

#972 l10n-fr | CREATE stylesheet + css box models tasks + tracking protection
  files/fr/glossary/stylesheet/index.html
  files/fr/learn/css/building_blocks/box_model_tasks/index.html
  files/fr/web/privacy/tracking_protection/index.html
Labels: l10n-fr

#807 Fix typos
  files/fr/web/api/extendableevent/index.html
Labels: l10n-fr

#976 Mozilla/Add-ons/WebExtensions/Debugging_(before_Firefox_50) を更新
  files/ja/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
Labels: l10n-ja

#978 Mozilla/Add-ons/WebExtensions/manifest.json/permissions を更新
  files/ja/mozilla/add-ons/webextensions/manifest.json/permissions/index.html
Labels: l10n-ja

#980 Mozilla/Firefox/Releases 以下の各ファイルから英語版章題マクロを削除
  files/ja/mozilla/firefox/releases/2/updating_extensions/index.html
  files/ja/mozilla/firefox/releases/3.5/index.html
  files/ja/mozilla/firefox/releases/3/dom_improvements/index.html
  files/ja/mozilla/firefox/releases/3/full_page_zoom/index.html
  files/ja/mozilla/firefox/releases/3/notable_bugs_fixed/index.html
  files/ja/mozilla/firefox/releases/3/svg_improvements/index.html
  files/ja/mozilla/firefox/releases/3/updating_web_applications/index.html
Labels: l10n-ja

#982 RegExp.prototype.exec() の記事を更新
  files/ja/web/javascript/reference/global_objects/regexp/exec/index.html
Labels: l10n-ja

#984 orphaned/Web/JavaScript/Guide/Creating_New_Objects 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/javascript/guide/creating_new_objects/defining_getters_and_setters/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/defining_methods/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/defining_properties_for_an_object_type/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/deleting_properties/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/indexing_object_properties/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/using_a_constructor_function/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/using_object_initializers/index.html
  files/ja/orphaned/web/javascript/guide/creating_new_objects/using_this_for_object_references/index.html
Labels: l10n-ja

#991 orphaned 以下のファイルから英語版章題マクロを除去
  files/ja/orphaned/code_snippets/toolbar/index.html
  files/ja/orphaned/dynamically_modifying_xul-based_user_interface/index.html
  files/ja/orphaned/mozilla/add-ons/webextensions/temporary_installation_in_firefox/index.html
  files/ja/orphaned/new_in_javascript_1.8/index.html
  files/ja/orphaned/setting_up_extension_development_environment/index.html
  files/ja/orphaned/web/guide/html/html5/introduction_to_html5/index.html
  files/ja/orphaned/web/javascript/guide/expressions/index.html
Labels: l10n-ja

#994 Web/API/MutationRecord を更新
  files/ja/web/api/mutationrecord/index.html
Labels: l10n-ja

#993 Web/API/MutationObserver を更新
  files/ja/web/api/mutationobserver/index.html
Labels: l10n-ja

#498 2 lines translations
  files/fr/learn/server-side/express_nodejs/introduction/index.html
Labels: l10n-fr

#706 UPDATE: Update translation of the HTML attributes
  files/fr/web/html/attributes/accept/index.html
  files/fr/web/html/attributes/autocomplete/index.html
  files/fr/web/html/attributes/capture/index.html
  files/fr/web/html/attributes/crossorigin/index.html
  files/fr/web/html/attributes/disabled/index.html
  files/fr/web/html/attributes/elementtiming/index.html
  files/fr/web/html/attributes/for/index.html
  files/fr/web/html/attributes/index.html
  files/fr/web/html/attributes/max/index.html
  files/fr/web/html/attributes/maxlength/index.html
  files/fr/web/html/attributes/min/index.html
  files/fr/web/html/attributes/minlength/index.html
  files/fr/web/html/attributes/multiple/index.html
  files/fr/web/html/attributes/pattern/index.html
  files/fr/web/html/attributes/readonly/index.html
  files/fr/web/html/attributes/rel/index.html
  files/fr/web/html/attributes/required/index.html
  files/fr/web/html/attributes/size/index.html
  files/fr/web/html/attributes/step/index.html
Labels: l10n-fr

#1118 [l10n-fr]Fix typo in Close event
  files/fr/web/api/closeevent/index.html
Labels: l10n-fr

#1117 [l10n-fr] Fix broken links from English source
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
Labels: l10n-fr

#1116 [zh-cn] Update index.html
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-zh

#1003 Web/API/NavigatorPlugins/mimeTypes を更新
  files/ja/web/api/navigatorplugins/mimetypes/index.html
Labels: l10n-ja

#1125 Fix example in ru/web/javascript/reference/global_objects/proxy/index.html
  files/ru/web/javascript/reference/global_objects/proxy/index.html
Labels: l10n-ru

#1044 [FIX] Update Javascript/RangeError document
  files/ko/web/javascript/reference/global_objects/rangeerror/index.html
Labels: l10n-ko

#1037 feat: update ko/docs/Learn/JavaScript/First_steps
  files/ko/learn/javascript/first_steps/index.html
Labels: l10n-ko

#987 [ko] Fix problems in '2d breakout game tutorials with pure js series #7~#10'.
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.html
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.html
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.html
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.html
Labels: l10n-ko

#1134 [FIX] web/javascript/reference/array/every 갱신
  files/ko/web/javascript/reference/global_objects/array/every/index.html
Labels: l10n-ko

#1013 Web/API/Window/content を更新
  files/ja/web/api/window/content/index.html
Labels: l10n-ja

#1014 Web/API/Window/defaultStatus を更新
  files/ja/web/api/window/defaultstatus/index.html
Labels: l10n-ja

#1015 Web/API/Window/directories を更新
  files/ja/web/api/window/directories/index.html
Labels: l10n-ja

#1020 Web/API/Window/locationbar を更新
  files/ja/web/api/window/locationbar/index.html
Labels: l10n-ja

#1108 fix: remove duplicated link, change terms
  files/ru/web/css/css_grid_layout/index.html
Labels: l10n-ru

#1139 [ko] Fix typo in 'Track the score and win'
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.html
Labels: l10n-ko

#992 Add Date() constructor
  files/ko/_redirects.txt
  files/ko/conflicting/web/javascript/reference/global_objects/date/index.html
  files/ko/web/javascript/reference/global_objects/date/date/index.html
  files/ko/web/javascript/reference/global_objects/date/index.html
Labels: l10n-ko

#1122 Remove conflicting "Сss_building_blocks/Selectors" page
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/css/building_blocks/selectors_918fb6c37a4d06789bc062c48d591992/index.html
Labels: l10n-ru

#1031 Web/API/Window/toolbar を更新
  files/ja/web/api/window/toolbar/index.html
Labels: l10n-ja

#1030 Web/API/Window/statusbar を更新
  files/ja/web/api/window/statusbar/index.html
Labels: l10n-ja

#1029 Web/API/Window/scrollMaxX/Y を更新
  files/ja/web/api/window/scrollmaxx/index.html
  files/ja/web/api/window/scrollmaxy/index.html
Labels: l10n-ja

#1028 Web/API/Window/scrollByLines を更新
  files/ja/web/api/window/scrollbylines/index.html
Labels: l10n-ja

#1027 Web/API/Window/screenX/Y を更新
  files/ja/web/api/window/screenx/index.html
  files/ja/web/api/window/screeny/index.html
Labels: l10n-ja

#1026 Web/API/Window/releaseEvents を更新
  files/ja/web/api/window/releaseevents/index.html
Labels: l10n-ja

#1025 Web/API/Window/pkcs11 の更新
  files/ja/web/api/window/pkcs11/index.html
Labels: l10n-ja

#1022 Web/API/Window/menubar を更新
  files/ja/web/api/window/menubar/index.html
Labels: l10n-ja

#1148 Fixes #1143 - updates iframe vs en-us counterpart
  files/fr/web/html/element/iframe/index.html
Labels: l10n-fr

#1034 Web/XPath/Functions/true を更新
  files/ja/web/xpath/functions/true/index.html
Labels: l10n-ja

#1035 Web/API/XSLTProcessor/Basic_Example を更新
  files/ja/web/api/xsltprocessor/basic_example/index.html
Labels: l10n-ja

#767 Web/Accessibility/ARIA/Roles/Grid_Role の更新
  files/ja/web/accessibility/aria/roles/grid_role/index.html
Labels: l10n-ja

#1036 Web/SVG/Tutorial/Other_content_in_SVG を更新
  files/ja/web/svg/tutorial/other_content_in_svg/index.html
Labels: l10n-ja

#1039 Web/SVG/Tutorial/SVG_fonts を更新
  files/ja/web/svg/tutorial/svg_fonts/index.html
Labels: l10n-ja

#1043 Web/SVG/Tutorial/Tools_for_SVG
  files/ja/web/svg/tutorial/tools_for_svg/index.html
Labels: l10n-ja

#1047 Web/HTML/Element/del を更新
  files/ja/web/html/element/del/index.html
Labels: l10n-ja

#1153 Update index.html
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.html
Labels: l10n-zh

#1145 Update CustomEvent
  files/zh-cn/web/api/customevent/index.html
Labels: l10n-zh

#1144 Update Event.composed
  files/zh-cn/web/api/event/composed/index.html
Labels: l10n-zh

#1135 add angular item acomponent Tw
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_item_component/index.html
Labels: l10n-zh

#948 [ko] Add 'test your skills! - variables' section
  files/ko/learn/javascript/first_steps/variables/index.html
Labels: l10n-ko

#1090 [ko] docs: add guideline code formatter rule
  docs/ko/translation-guide.md
Labels: l10n-ko

#1110 Перевод
  files/ru/conflicting/web/api/push_api/index.html
Labels: l10n-ru

#1119 [pt-BR] Update the web index document
  files/pt-br/web/index.html
Labels: l10n-pt-br

#1038 Translate overflowing content
  files/ru/learn/css/building_blocks/overflowing_content/index.html
Labels: l10n-ru

#1051 Web/API/HTMLSelectElement/autofocus を更新
  files/ja/web/api/htmlselectelement/autofocus/index.html
Labels: l10n-ja

#1059 JavaScript の The_legacy_Iterator_protocol を更新
  files/ja/web/javascript/reference/deprecated_and_obsolete_features/the_legacy_iterator_protocol/index.html
Labels: l10n-ja

#911 Test_your_skills:_Math/ create in ja
  files/ja/learn/javascript/first_steps/test_your_skills_colon__math/index.html
Labels: l10n-ja

#1069 Web/XPath/Functions/translate を更新
  files/ja/web/xpath/functions/translate/index.html
Labels: l10n-ja

#1072 Update Web/API/Web_Workers_API/Using_web_workers
  files/ja/web/api/web_workers_api/using_web_workers/index.html
Labels: l10n-ja

#1057 Web/Guide/AJAX/Community を更新
  files/ja/web/guide/ajax/community/index.html
Labels: l10n-ja

#1073 Web/HTML/Element/dfn を更新
  files/ja/web/html/element/dfn/index.html
Labels: l10n-ja

#1074 Web/HTML/Element/details を更新
  files/ja/web/html/element/details/index.html
Labels: l10n-ja

#1075 Web/HTML/Element/div を更新
  files/ja/web/html/element/div/index.html
Labels: l10n-ja

#1076 Web/HTML/Element/dl を更新
  files/ja/web/html/element/dl/index.html
Labels: l10n-ja

#1078 Web/HTML/Element/dt を更新
  files/ja/web/html/element/dt/index.html
Labels: l10n-ja

#1082 Web/HTML/Element/figcaption を更新
  files/ja/web/html/element/figcaption/index.html
Labels: l10n-ja

#1083 Web/HTML/Element/head を更新
  files/ja/web/html/element/head/index.html
Labels: l10n-ja

#1084 MDN/Structures/Page_types/API_reference_page_template を更新 (翻訳未完了)
  files/ja/mdn/structures/page_types/api_reference_page_template/index.html
Labels: l10n-ja

#1114 Перевод раздела "HTML Drag and Drop API"
  files/ru/web/api/html_drag_and_drop_api/index.html
Labels: l10n-ru

#1085 Glossary/Host を更新
  files/ja/glossary/host/index.html
Labels: l10n-ja

#1086 Web/Progressive_web_apps/Introduction を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/progressive_web_apps/introduction/index.html
  files/ja/web/progressive_web_apps/introduction/index.html
Labels: l10n-ja

#1146 [ko] Work done for 'Image gallery' article.
  files/ko/learn/javascript/building_blocks/image_gallery/gallery.png
  files/ko/learn/javascript/building_blocks/image_gallery/index.html
Labels: l10n-ko

#1103 [ko] Work done for 'build your own function', 'Function return values', and 'Test your skills: functions' article.
  files/ko/learn/javascript/building_blocks/build_your_own_function/index.html
  files/ko/learn/javascript/building_blocks/return_values/index.html
  files/ko/learn/javascript/building_blocks/test_your_skills_colon__functions/index.html
Labels: l10n-ko

#1046 [ko] learn/javascript/index.html 최신화
  files/ko/learn/javascript/index.html
Labels: l10n-ko

#1124 Update translation "Сss block model"
  files/ru/learn/css/building_blocks/the_box_model/index.html
Labels: l10n-ru

#1172 [ko] modify code format (right align to left align) #1155
  files/ko/web/javascript/reference/operators/this/index.html
Labels: l10n-ko

#1200 [zh-cn] 将 **and** 替换为 **以及**
  files/zh-cn/web/api/element/mousemove_event/index.html
Labels: l10n-zh

#1077 Web/JavaScript/Reference/Global_Objects/String/replace を更新
  files/ja/web/javascript/reference/global_objects/string/replace/index.html
Labels: l10n-ja

#1091 Web/SVG/Tutorial/Positions の誤記を修正
  files/ja/web/svg/tutorial/positions/index.html
Labels: l10n-ja

#1092 Web/CSS/max() を更新
  files/ja/web/css/max()/index.html
Labels: l10n-ja

#1101 use plain Compat macro
  files/ja/web/css/blend-mode/index.html
Labels: l10n-ja

#1105 Web/HTML/Link_types 以下のファイル5つを新規翻訳
  files/ja/web/html/link_types/dns-prefetch/index.html
  files/ja/web/html/link_types/manifest/index.html
  files/ja/web/html/link_types/modulepreload/index.html
  files/ja/web/html/link_types/noopener/index.html
  files/ja/web/html/link_types/noreferrer/index.html
Labels: l10n-ja

#1111 fix possibly broken anchor tag
  files/ja/web/javascript/reference/global_objects/reflect/construct/index.html
Labels: l10n-ja

#1113 Web/Accessibility/ARIA/Roles/Listitem_role の更新
  files/ja/web/accessibility/aria/roles/listitem_role/index.html
Labels: l10n-ja

#1123 20210607-Web/CSS/-webkit-line-clamp
  files/ja/web/css/-webkit-line-clamp/index.html
Labels: l10n-ja

#1208 fr - Update JS Date.getMonth() example
  files/fr/web/javascript/reference/global_objects/date/getmonth/index.html
Labels: l10n-fr

#1199 /fr/web/web_components/using_shadow_dom yping errors correction
  files/fr/web/web_components/using_shadow_dom/index.html
Labels: l10n-fr

#1213 [pt-BR] fix: typo in learn/server-side/django/testing/index.html
  files/pt-br/learn/server-side/django/testing/index.html
Labels: l10n-pt-br

#1096 Web/CSS/blend-mode を更新
  files/ja/web/css/blend-mode/index.html
Labels: l10n-ja

#1107 Web/HTML/Link_types/preload を orphaned から移植
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/html/preloading_content/index.html
  files/ja/web/html/link_types/prefetch/index.html
  files/ja/web/html/link_types/preload/index.html
Labels: l10n-ja

#1109 Web/JavaScript/Reference/Errors/Too_much_recursion を更新
  files/ja/web/javascript/reference/errors/too_much_recursion/index.html
Labels: l10n-ja

#1217 fix #419
  files/zh-cn/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-zh

#1216 fix #743
  files/zh-cn/web/javascript/guide/details_of_the_object_model/index.html
Labels: l10n-zh

#1209 Update documentation links
  files/fr/web/http/methods/put/index.html
Labels: l10n-fr

#1214 Supprimer les accents des nom de classe
  files/fr/web/javascript/reference/classes/constructor/index.html
Labels: l10n-fr

#1223 fix #1157
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.html
Labels: l10n-zh

#1224 fix typo & fix #663
  files/zh-cn/web/api/eventtarget/addeventlistener/index.html
Labels: l10n-zh

#1226 [ru] "Writing WebSocket client applications" - completed
  files/ru/web/api/websockets_api/writing_websocket_client_applications/index.html
Labels: l10n-ru

#1225 fix #574
  files/zh-cn/web/javascript/reference/global_objects/error/index.html
Labels: l10n-zh

#1222 fix #516
  files/zh-cn/web/javascript/reference/global_objects/object/issealed/index.html
Labels: l10n-zh

#1212 fix #914
  files/zh-cn/glossary/crlf/index.html
Labels: l10n-zh

#1128 Web/CSS/:hover を更新
  files/ja/web/css/_colon_hover/index.html
Labels: l10n-ja

#1129 Web/CSS/row-gap を更新
  files/ja/web/css/row-gap/index.html
Labels: l10n-ja

#1131 Web/API/Window/captureEvents を更新
  files/ja/web/api/window/captureevents/index.html
Labels: l10n-ja

#1132 Web/CSS/border-block を更新
  files/ja/web/css/border-block/index.html
Labels: l10n-ja

#1138 Deprecated_caller_or_arguments_usage エラーを更新
  files/ja/web/javascript/reference/errors/deprecated_caller_or_arguments_usage/index.html
Labels: l10n-ja

#1178 [ko] add ko guide hidden compatibility
  docs/ko/translation-guide.md
Labels: l10n-ko

#1099 [ko] Work done for 'introduction to events', 'Test your skills: events' article.
  files/ko/learn/javascript/building_blocks/events/bubbling-capturing.png
  files/ko/learn/javascript/building_blocks/events/index.html
  files/ko/learn/javascript/building_blocks/events/mdn-mozilla-events-runway.png
  files/ko/learn/javascript/building_blocks/test_your_skills_colon__events/index.html
Labels: l10n-ko

#1133 20210607-Web/JavaScript/Reference/Errors/Invalid_assignment_left-hand…
  files/ja/web/javascript/reference/errors/invalid_assignment_left-hand_side/index.html
Labels: l10n-ja

#1140 Web/JavaScript/Reference/Errors/Undeclared_var を更新
  files/ja/web/javascript/reference/errors/undeclared_var/index.html
Labels: l10n-ja

#1229 Suppression des accents - JS Opérateur super
  files/fr/web/javascript/reference/operators/super/index.html
Labels: l10n-fr

#1150 Web/JavaScript/Reference/Errors/C* を更新
  files/ja/web/javascript/reference/errors/called_on_incompatible_type/index.html
  files/ja/web/javascript/reference/errors/cant_access_property/index.html
  files/ja/web/javascript/reference/errors/cant_assign_to_property/index.html
  files/ja/web/javascript/reference/errors/cant_define_property_object_not_extensible/index.html
  files/ja/web/javascript/reference/errors/cant_delete/index.html
Labels: l10n-ja

#1241 Fixes #1228 - Update vs en-US / fix live samples
  files/fr/web/css/transform-function/scale()/index.html
Labels: l10n-fr

#500 UPDATE: Update translation of the HTML elements — 🛠 Priority work area
  files/fr/web/html/element/a/index.html
  files/fr/web/html/element/abbr/index.html
  files/fr/web/html/element/acronym/index.html
  files/fr/web/html/element/address/index.html
  files/fr/web/html/element/applet/index.html
  files/fr/web/html/element/area/index.html
  files/fr/web/html/element/article/index.html
  files/fr/web/html/element/aside/index.html
  files/fr/web/html/element/audio/index.html
  files/fr/web/html/element/b/index.html
  files/fr/web/html/element/base/index.html
  files/fr/web/html/element/basefont/index.html
  files/fr/web/html/element/bdi/index.html
  files/fr/web/html/element/bdo/index.html
  files/fr/web/html/element/bgsound/index.html
  files/fr/web/html/element/big/index.html
  files/fr/web/html/element/blink/index.html
  files/fr/web/html/element/blockquote/index.html
  files/fr/web/html/element/body/index.html
  files/fr/web/html/element/br/index.html
  files/fr/web/html/element/button/index.html
  files/fr/web/html/element/canvas/index.html
  files/fr/web/html/element/caption/index.html
  files/fr/web/html/element/center/index.html
  files/fr/web/html/element/cite/index.html
  files/fr/web/html/element/code/index.html
  files/fr/web/html/element/col/index.html
  files/fr/web/html/element/colgroup/index.html
  files/fr/web/html/element/content/index.html
  files/fr/web/html/element/data/index.html
  files/fr/web/html/element/datalist/index.html
  files/fr/web/html/element/dd/index.html
  files/fr/web/html/element/del/index.html
  files/fr/web/html/element/details/index.html
  files/fr/web/html/element/dfn/index.html
  files/fr/web/html/element/dialog/index.html
  files/fr/web/html/element/dir/index.html
  files/fr/web/html/element/div/index.html
  files/fr/web/html/element/dl/index.html
  files/fr/web/html/element/dt/index.html
  files/fr/web/html/element/em/index.html
  files/fr/web/html/element/embed/index.html
  files/fr/web/html/element/fieldset/index.html
  files/fr/web/html/element/figcaption/index.html
  files/fr/web/html/element/figure/index.html
  files/fr/web/html/element/font/index.html
  files/fr/web/html/element/footer/index.html
  files/fr/web/html/element/form/index.html
  files/fr/web/html/element/frame/index.html
  files/fr/web/html/element/frameset/index.html
  files/fr/web/html/element/index.html
Labels: l10n-fr

#1171 Web/JavaScript/Reference/Errors/Missing_f*-M* を更新
  files/ja/web/javascript/reference/errors/missing_formal_parameter/index.html
  files/ja/web/javascript/reference/errors/missing_initializer_in_const/index.html
  files/ja/web/javascript/reference/errors/missing_name_after_dot_operator/index.html
  files/ja/web/javascript/reference/errors/missing_parenthesis_after_argument_list/index.html
  files/ja/web/javascript/reference/errors/missing_parenthesis_after_condition/index.html
  files/ja/web/javascript/reference/errors/missing_semicolon_before_statement/index.html
  files/ja/web/javascript/reference/errors/more_arguments_needed/index.html
Labels: l10n-ja

#1239 [PT-BR] Preposition typo | Correção de preposição
  files/pt-br/web/javascript/reference/statements/switch/index.html
Labels: l10n-pt-br

#1240 [PT-BR] Fixing typos - Correções gramaticais
  files/pt-br/web/javascript/reference/statements/switch/index.html
Labels: l10n-pt-br

#1235 fix typo on web/http `significad` -> `significa`
  files/pt-br/web/http/headers/content-disposition/index.html
Labels: l10n-pt-br

#1130 Web/CSS/border-block-style を更新
  files/ja/web/css/border-block-style/index.html
Labels: l10n-ja

#1142 Web/JavaScript/Reference/Errors/A-B を更新
  files/ja/web/javascript/reference/errors/already_has_pragma/index.html
  files/ja/web/javascript/reference/errors/array_sort_argument/index.html
  files/ja/web/javascript/reference/errors/bad_octal/index.html
  files/ja/web/javascript/reference/errors/bad_radix/index.html
  files/ja/web/javascript/reference/errors/bad_regexp_flag/index.html
  files/ja/web/javascript/reference/errors/bad_return_or_yield/index.html
Labels: l10n-ja
