Repository mdn/translated-content, pull requests merged in 2021-08, with the labels that each got.

#1819 remove link 'title' attributes that's just the 'href' (zh-cn, part 5)
  files/zh-cn/learn/forms/how_to_build_custom_form_controls/index.html
  files/zh-cn/web/api/beforeunloadevent/index.html
  files/zh-cn/web/api/blobbuilder/index.html
  files/zh-cn/web/api/eventtarget/addeventlistener/index.html
  files/zh-cn/web/api/globaleventhandlers/onload/index.html
  files/zh-cn/web/api/htmlfieldsetelement/index.html
  files/zh-cn/web/api/idbobjectstore/index.html
  files/zh-cn/web/api/navigation_timing_api/index.html
  files/zh-cn/web/api/svganimatedangle/index.html
  files/zh-cn/web/api/svgcircleelement/index.html
  files/zh-cn/web/api/touch/radiusy/index.html
  files/zh-cn/web/api/touch/screenx/index.html
  files/zh-cn/web/api/touch/screeny/index.html
  files/zh-cn/web/api/touchevent/changedtouches/index.html
  files/zh-cn/web/api/touchevent/index.html
  files/zh-cn/web/api/web_workers_api/functions_and_classes_available_to_workers/index.html
  files/zh-cn/web/api/web_workers_api/structured_clone_algorithm/index.html
  files/zh-cn/web/api/webrtc_api/session_lifetime/index.html
  files/zh-cn/web/api/windoweventhandlers/onbeforeunload/index.html
  files/zh-cn/web/api/windoweventhandlers/onpopstate/index.html
  files/zh-cn/web/css/background-size/index.html
  files/zh-cn/web/css/text-rendering/index.html
  files/zh-cn/web/css/url()/index.html
  files/zh-cn/web/demos_of_open_web_technologies/index.html
  files/zh-cn/web/html/element/a/index.html
  files/zh-cn/web/html/element/area/index.html
  files/zh-cn/web/html/element/col/index.html
  files/zh-cn/web/html/element/colgroup/index.html
  files/zh-cn/web/html/element/head/index.html
  files/zh-cn/web/html/element/input/index.html
  files/zh-cn/web/html/element/strong/index.html
  files/zh-cn/web/html/element/summary/index.html
  files/zh-cn/web/html/element/table/index.html
  files/zh-cn/web/html/element/time/index.html
  files/zh-cn/web/html/element/video/index.html
  files/zh-cn/web/html/global_attributes/data-_star_/index.html
  files/zh-cn/web/html/quirks_mode_and_standards_mode/index.html
  files/zh-cn/web/http/basics_of_http/data_uris/index.html
  files/zh-cn/web/http/content_negotiation/list_of_default_accept_values/index.html
  files/zh-cn/web/http/cors/index.html
  files/zh-cn/web/http/headers/index.html
  files/zh-cn/web/http/headers/user-agent/firefox/index.html
  files/zh-cn/web/http/headers/x-dns-prefetch-control/index.html
  files/zh-cn/web/http/headers/x-frame-options/index.html
  files/zh-cn/web/http/link_prefetching_faq/index.html
  files/zh-cn/web/mathml/authoring/index.html
  files/zh-cn/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.html
  files/zh-cn/web/security/same-origin_policy/index.html
  files/zh-cn/web/svg/attribute/mask/index.html
  files/zh-cn/web/svg/content_type/index.html
Labels: l10n-zh

#1451 [ko] fix: lever to level, typo err, /docs/Web/API/Touch_events
  files/ko/web/api/touch_events/index.html
Labels: l10n-ko

#1630 [ko] target sync
  files/ko/web/api/event/target/index.html
Labels: l10n-ko

#1657 orphaned/Web/API/NavigatorOnLine 以下を移動
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/navigatoronline/index.html
  files/ja/orphaned/web/api/navigatoronline/online/index.html
  files/ja/orphaned/web/api/navigatoronline/online_and_offline_events/index.html
  files/ja/web/api/navigator/online/index.html
  files/ja/web/api/navigator/online_and_offline_events/index.html
Labels: l10n-ja

#1582 ChildNode.after を各インターフェイスへ分割
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/childnode/after/index.html
  files/ja/web/api/characterdata/after/index.html
  files/ja/web/api/documenttype/after/index.html
  files/ja/web/api/element/after/index.html
Labels: l10n-ja

#1594 orphaned/Web/API/HTMLHyperlinkElementUtils を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/htmlhyperlinkelementutils/index.html
Labels: l10n-ja

#1820 French translation for the `prerender` reference.
  files/fr/web/html/link_types/prerender/index.html
Labels: l10n-fr

#1824 French translation for the `part` reference
  files/fr/web/html/global_attributes/part/index.html
Labels: l10n-fr

#1823 French translation for the `enterkeyhint` reference
  files/fr/web/html/global_attributes/enterkeyhint/index.html
Labels: l10n-fr

#1836 correcting typos
  files/fr/web/api/websockets_api/writing_websocket_client_applications/index.html
Labels: l10n-fr

#1826 (ru) Fix markup at "Navigation and resource timings" page
  files/ru/web/performance/navigation_and_resource_timings/index.html
Labels: l10n-ru

#1827 (ru) Fix mistype at "Navigation and resource timings" page
  files/ru/web/performance/navigation_and_resource_timings/index.html
Labels: l10n-ru

#1839 Removes any mention of fxsitecompat.com in fr
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/mozilla/firefox/releases/17/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/18/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/19/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/20/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/21/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/22/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/23/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/24/index.html
  files/fr/mozilla/firefox/releases/24/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/25/index.html
  files/fr/mozilla/firefox/releases/25/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/26/index.html
  files/fr/mozilla/firefox/releases/26/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/27/index.html
  files/fr/mozilla/firefox/releases/27/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/28/index.html
  files/fr/mozilla/firefox/releases/28/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/29/index.html
  files/fr/mozilla/firefox/releases/29/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/30/index.html
  files/fr/mozilla/firefox/releases/30/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/31/index.html
  files/fr/mozilla/firefox/releases/31/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/33/index.html
  files/fr/mozilla/firefox/releases/33/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/34/index.html
  files/fr/mozilla/firefox/releases/34/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/35/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/36/index.html
  files/fr/mozilla/firefox/releases/36/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/37/index.html
  files/fr/mozilla/firefox/releases/37/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/38/index.html
  files/fr/mozilla/firefox/releases/38/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/39/index.html
  files/fr/mozilla/firefox/releases/39/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/40/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/41/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/42/index.html
  files/fr/mozilla/firefox/releases/42/site_compatibility/index.html
  files/fr/mozilla/firefox/releases/50/index.html
  files/fr/mozilla/firefox/releases/59/index.html
  files/fr/mozilla/firefox/releases/63/index.html
  files/fr/mozilla/firefox/releases/65/index.html
  files/fr/mozilla/firefox/releases/68/index.html
  files/fr/mozilla/firefox/releases/69/index.html
  files/fr/mozilla/firefox/releases/70/index.html
  files/fr/mozilla/firefox/releases/76/index.html
  files/fr/mozilla/firefox/releases/77/index.html
  files/fr/orphaned/web/api/abstractworker/onerror/index.html
  files/fr/web/api/worker/index.html
  files/fr/web/css/inset-block-end/index.html
  files/fr/web/css/inset-block-start/index.html
  files/fr/web/css/inset-inline-end/index.html
  files/fr/web/css/inset-inline-start/index.html
Labels: l10n-fr

#1671 Web/API/Window/status を更新
  files/ja/web/api/window/status/index.html
Labels: l10n-ja

#1841 remove link 'title' attributes that's just the 'href' (pt-br, part 2)
  files/pt-br/learn/css/styling_text/styling_lists/index.html
  files/pt-br/learn/forms/basic_native_form_controls/index.html
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.html
  files/pt-br/learn/forms/sending_and_retrieving_form_data/index.html
  files/pt-br/learn/forms/your_first_form/index.html
  files/pt-br/learn/html/howto/author_fast-loading_html_pages/index.html
  files/pt-br/tools/index.html
  files/pt-br/web/api/biquadfilternode/index.html
  files/pt-br/web/api/eventtarget/addeventlistener/index.html
  files/pt-br/web/api/file/using_files_from_web_applications/index.html
  files/pt-br/web/api/globaleventhandlers/oncontextmenu/index.html
  files/pt-br/web/api/htmlcollection/index.html
  files/pt-br/web/api/indexeddb_api/index.html
  files/pt-br/web/api/indexeddb_api/using_indexeddb/index.html
  files/pt-br/web/api/navigation_timing_api/index.html
  files/pt-br/web/css/background-size/index.html
  files/pt-br/web/css/text-rendering/index.html
  files/pt-br/web/css/text-shadow/index.html
  files/pt-br/web/demos_of_open_web_technologies/index.html
  files/pt-br/web/html/element/area/index.html
  files/pt-br/web/html/element/article/index.html
  files/pt-br/web/html/element/audio/index.html
  files/pt-br/web/html/element/canvas/index.html
  files/pt-br/web/html/element/datalist/index.html
  files/pt-br/web/html/element/del/index.html
  files/pt-br/web/html/element/details/index.html
  files/pt-br/web/html/element/dl/index.html
  files/pt-br/web/html/element/footer/index.html
  files/pt-br/web/html/element/form/index.html
  files/pt-br/web/html/element/img/index.html
  files/pt-br/web/html/element/ins/index.html
  files/pt-br/web/html/element/legend/index.html
  files/pt-br/web/html/element/meter/index.html
  files/pt-br/web/html/element/nav/index.html
  files/pt-br/web/html/element/output/index.html
  files/pt-br/web/html/element/progress/index.html
  files/pt-br/web/html/element/source/index.html
  files/pt-br/web/html/element/span/index.html
  files/pt-br/web/html/element/summary/index.html
  files/pt-br/web/html/element/table/index.html
  files/pt-br/web/html/element/time/index.html
  files/pt-br/web/html/element/video/index.html
  files/pt-br/web/html/global_attributes/data-_star_/index.html
  files/pt-br/web/html/quirks_mode_and_standards_mode/index.html
  files/pt-br/web/http/content_negotiation/list_of_default_accept_values/index.html
  files/pt-br/web/http/csp/index.html
  files/pt-br/web/http/headers/x-dns-prefetch-control/index.html
  files/pt-br/web/svg/content_type/index.html
  files/pt-br/web/svg/index.html
  files/pt-br/web/svg/tutorial/index.html
Labels: l10n-pt-br

#1675 orphaned/Web/API/NavigatorPlugins 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/navigatorplugins/index.html
  files/ja/orphaned/web/api/navigatorplugins/javaenabled/index.html
  files/ja/orphaned/web/api/navigatorplugins/mimetypes/index.html
  files/ja/orphaned/web/api/navigatorplugins/plugins/index.html
Labels: l10n-ja

#1677 orphaned/MDN/Tools/Revision_dashboard を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/mdn/tools/revision_dashboard/index.html
Labels: l10n-ja

#1843 remove link 'title' attributes that's just the 'href' (pt-br, part 3)
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.html
  files/pt-br/learn/forms/sending_and_retrieving_form_data/index.html
  files/pt-br/learn/forms/your_first_form/index.html
  files/pt-br/web/api/attr/index.html
  files/pt-br/web/api/datatransfer/index.html
  files/pt-br/web/api/document/body/index.html
  files/pt-br/web/api/document/compatmode/index.html
  files/pt-br/web/api/document/currentscript/index.html
  files/pt-br/web/api/document/defaultview/index.html
  files/pt-br/web/api/document/getelementsbyclassname/index.html
  files/pt-br/web/api/document/index.html
  files/pt-br/web/api/document/keyup_event/index.html
  files/pt-br/web/api/document/queryselector/index.html
  files/pt-br/web/api/document/queryselectorall/index.html
  files/pt-br/web/api/document/readystate/index.html
  files/pt-br/web/api/document/writeln/index.html
  files/pt-br/web/api/element/attributes/index.html
  files/pt-br/web/api/element/getattribute/index.html
  files/pt-br/web/api/element/innerhtml/index.html
  files/pt-br/web/api/element/mouseover_event/index.html
  files/pt-br/web/api/element/queryselectorall/index.html
  files/pt-br/web/api/element/scrolltop/index.html
  files/pt-br/web/api/element/setattribute/index.html
  files/pt-br/web/api/encoding_api/index.html
  files/pt-br/web/api/geolocation_api/index.html
  files/pt-br/web/api/html_drag_and_drop_api/index.html
  files/pt-br/web/api/navigator/battery/index.html
  files/pt-br/web/api/storage/getitem/index.html
  files/pt-br/web/api/storage/length/index.html
  files/pt-br/web/api/storage/removeitem/index.html
  files/pt-br/web/api/storage/setitem/index.html
  files/pt-br/web/api/touch_events/index.html
  files/pt-br/web/api/url/createobjecturl/index.html
  files/pt-br/web/api/webgl_api/index.html
  files/pt-br/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.html
  files/pt-br/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/pt-br/web/api/webgl_api/tutorial/index.html
  files/pt-br/web/api/websockets_api/index.html
  files/pt-br/web/api/websockets_api/writing_websocket_server/index.html
  files/pt-br/web/api/window/beforeunload_event/index.html
  files/pt-br/web/api/window/document/index.html
  files/pt-br/web/api/window/requestanimationframe/index.html
  files/pt-br/web/api/window/setimmediate/index.html
  files/pt-br/web/api/xmlhttprequest/index.html
  files/pt-br/web/api/xmlhttprequest/using_xmlhttprequest/index.html
  files/pt-br/web/css/text-rendering/index.html
  files/pt-br/web/html/element/dl/index.html
  files/pt-br/web/html/element/table/index.html
  files/pt-br/web/http/content_negotiation/list_of_default_accept_values/index.html
  files/pt-br/web/svg/index.html
Labels: l10n-pt-br

#1844 remove link 'title' attributes that's just the 'href' (pt-br, part 4)
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.html
  files/pt-br/learn/forms/sending_and_retrieving_form_data/index.html
  files/pt-br/web/api/canvas_api/tutorial/basic_animations/index.html
  files/pt-br/web/api/canvas_api/tutorial/basic_usage/index.html
  files/pt-br/web/api/canvas_api/tutorial/drawing_text/index.html
  files/pt-br/web/api/canvas_api/tutorial/index.html
  files/pt-br/web/api/canvasrenderingcontext2d/index.html
  files/pt-br/web/api/console/index.html
  files/pt-br/web/api/console/log/index.html
  files/pt-br/web/api/element/innerhtml/index.html
  files/pt-br/web/api/event/defaultprevented/index.html
  files/pt-br/web/api/event/stoppropagation/index.html
  files/pt-br/web/api/filelist/index.html
  files/pt-br/web/api/filereader/index.html
  files/pt-br/web/api/htmlelement/lang/index.html
  files/pt-br/web/api/node/appendchild/index.html
  files/pt-br/web/api/node/contains/index.html
  files/pt-br/web/api/node/index.html
  files/pt-br/web/api/page_visibility_api/index.html
  files/pt-br/web/api/server-sent_events/index.html
  files/pt-br/web/api/web_audio_api/index.html
  files/pt-br/web/api/web_storage_api/using_the_web_storage_api/index.html
  files/pt-br/web/api/webgl_api/index.html
  files/pt-br/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/pt-br/web/api/webgl_api/tutorial/index.html
  files/pt-br/web/api/websockets_api/index.html
  files/pt-br/web/api/window/setimmediate/index.html
  files/pt-br/web/css/text-rendering/index.html
  files/pt-br/web/javascript/a_re-introduction_to_javascript/index.html
  files/pt-br/web/javascript/about_javascript/index.html
  files/pt-br/web/javascript/closures/index.html
  files/pt-br/web/javascript/data_structures/index.html
  files/pt-br/web/javascript/equality_comparisons_and_sameness/index.html
  files/pt-br/web/javascript/eventloop/index.html
  files/pt-br/web/javascript/index.html
  files/pt-br/web/javascript/javascript_technologies_overview/index.html
  files/pt-br/web/javascript/language_resources/index.html
  files/pt-br/web/javascript/reference/global_objects/array/index.html
  files/pt-br/web/javascript/reference/global_objects/date/index.html
  files/pt-br/web/javascript/reference/global_objects/string/big/index.html
  files/pt-br/web/javascript/reference/global_objects/string/blink/index.html
  files/pt-br/web/javascript/reference/global_objects/string/charat/index.html
  files/pt-br/web/javascript/reference/global_objects/string/fontcolor/index.html
  files/pt-br/web/javascript/reference/global_objects/string/fontsize/index.html
  files/pt-br/web/javascript/reference/global_objects/string/italics/index.html
  files/pt-br/web/javascript/reference/global_objects/string/match/index.html
  files/pt-br/web/javascript/reference/global_objects/string/small/index.html
  files/pt-br/web/javascript/reference/global_objects/string/split/index.html
  files/pt-br/web/javascript/reference/global_objects/string/sub/index.html
  files/pt-br/web/javascript/reference/global_objects/string/sup/index.html
Labels: l10n-pt-br

#1840 remove link 'title' attributes that's just the 'href' (ja, part 3)
  files/ja/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.html
  files/ja/mozilla/firefox/releases/14/index.html
  files/ja/orphaned/bugzilla-ja/index.html
  files/ja/orphaned/devnews/20080819/index.html
  files/ja/orphaned/devnews/20080826/index.html
  files/ja/orphaned/devnews/20080902/index.html
  files/ja/orphaned/devnews/20080909/index.html
  files/ja/orphaned/devnews/20080916/index.html
  files/ja/orphaned/devnews/20080923/index.html
  files/ja/orphaned/devnews/20080930-2/index.html
  files/ja/orphaned/devnews/20080930/index.html
  files/ja/orphaned/devnews/20081007/index.html
  files/ja/orphaned/mdn/community/doc_sprints/index.html
  files/ja/orphaned/mdn/community/whats_happening/index.html
  files/ja/orphaned/mozmill/index.html
  files/ja/orphaned/participating_in_the_mozilla_project/index.html
  files/ja/orphaned/tools/add-ons/dom_inspector/index.html
  files/ja/web/css/@charset/index.html
  files/ja/web/css/background-size/index.html
  files/ja/web/css/css_transforms/using_css_transforms/index.html
  files/ja/web/css/font-feature-settings/index.html
  files/ja/web/css/frequency/index.html
  files/ja/web/css/privacy_and_the__colon_visited_selector/index.html
  files/ja/web/css/webkit_extensions/index.html
  files/ja/web/demos_of_open_web_technologies/index.html
  files/ja/web/guide/audio_and_video_delivery/index.html
  files/ja/web/guide/html/editable_content/rich-text_editing_in_mozilla/index.html
  files/ja/web/guide/introduction_to_web_development/index.html
  files/ja/web/html/element/keygen/index.html
  files/ja/web/html/global_attributes/data-_star_/index.html
  files/ja/web/html/quirks_mode_and_standards_mode/index.html
  files/ja/web/http/content_negotiation/list_of_default_accept_values/index.html
  files/ja/web/http/headers/user-agent/firefox/index.html
  files/ja/web/http/headers/x-dns-prefetch-control/index.html
  files/ja/web/http/link_prefetching_faq/index.html
  files/ja/web/mathml/attribute/values/index.html
  files/ja/web/mathml/authoring/index.html
  files/ja/web/mathml/element/index.html
  files/ja/web/mathml/element/mmultiscripts/index.html
  files/ja/web/mathml/element/mo/index.html
  files/ja/web/mathml/element/mspace/index.html
  files/ja/web/security/mixed_content/index.html
  files/ja/web/svg/attribute/filterunits/index.html
  files/ja/web/svg/attribute/stroke-linecap/index.html
  files/ja/web/svg/attribute/stroke-linejoin/index.html
  files/ja/web/svg/attribute/viewbox/index.html
  files/ja/web/svg/attribute/x/index.html
  files/ja/web/svg/attribute/y/index.html
  files/ja/web/svg/svg_animation_with_smil/index.html
  files/ja/web/xpath/functions/choose/index.html
Labels: l10n-ja

#1849 remove link 'title' attributes that's just the 'href' (pt-br, part 5)
  files/pt-br/glossary/fuzzing/index.html
  files/pt-br/glossary/json/index.html
  files/pt-br/glossary/speculative_parsing/index.html
  files/pt-br/glossary/xhtml/index.html
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.html
  files/pt-br/mdn/about/index.html
  files/pt-br/mdn/contribute/feedback/index.html
  files/pt-br/mdn/guidelines/writing_style_guide/index.html
  files/pt-br/mdn/structures/macros/index.html
  files/pt-br/mdn/tools/kumascript/index.html
  files/pt-br/mdn/yari/index.html
  files/pt-br/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/pt-br/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/pt-br/web/accessibility/aria/aria_test_cases/index.html
  files/pt-br/web/accessibility/aria/forms/basic_form_hints/index.html
  files/pt-br/web/accessibility/aria/forms/index.html
  files/pt-br/web/accessibility/aria/index.html
  files/pt-br/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/pt-br/web/api/console/log/index.html
  files/pt-br/web/api/node/contains/index.html
  files/pt-br/web/api/server-sent_events/index.html
  files/pt-br/web/api/webgl_api/index.html
  files/pt-br/web/javascript/equality_comparisons_and_sameness/index.html
  files/pt-br/web/javascript/index.html
  files/pt-br/web/javascript/language_resources/index.html
  files/pt-br/web/javascript/reference/functions/default_parameters/index.html
  files/pt-br/web/javascript/reference/global_objects/eval/index.html
  files/pt-br/web/javascript/reference/global_objects/string/anchor/index.html
  files/pt-br/web/javascript/reference/global_objects/string/bold/index.html
  files/pt-br/web/javascript/reference/global_objects/string/charcodeat/index.html
  files/pt-br/web/javascript/reference/global_objects/string/fixed/index.html
  files/pt-br/web/javascript/reference/global_objects/string/fontcolor/index.html
  files/pt-br/web/javascript/reference/global_objects/string/fontsize/index.html
  files/pt-br/web/javascript/reference/global_objects/string/link/index.html
  files/pt-br/web/javascript/reference/global_objects/string/localecompare/index.html
  files/pt-br/web/javascript/reference/global_objects/string/matchall/index.html
  files/pt-br/web/javascript/reference/global_objects/string/normalize/index.html
  files/pt-br/web/javascript/reference/global_objects/string/raw/index.html
  files/pt-br/web/javascript/reference/global_objects/string/replace/index.html
  files/pt-br/web/javascript/reference/global_objects/string/split/index.html
  files/pt-br/web/javascript/reference/global_objects/string/strike/index.html
  files/pt-br/web/javascript/reference/global_objects/string/tolocalelowercase/index.html
  files/pt-br/web/javascript/reference/global_objects/string/tolocaleuppercase/index.html
  files/pt-br/web/javascript/reference/strict_mode/index.html
  files/pt-br/web/media/formats/index.html
Labels: l10n-pt-br

#1855 remove link 'title' attributes that's just the 'href' (pt-br, part 6)
  files/pt-br/games/introduction/index.html
  files/pt-br/games/introduction_to_html5_game_development/index.html
  files/pt-br/games/tools/index.html
  files/pt-br/glossary/localization/index.html
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.html
  files/pt-br/mdn/about/index.html
  files/pt-br/mdn/tools/kumascript/index.html
  files/pt-br/mdn/yari/index.html
  files/pt-br/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/pt-br/web/accessibility/aria/forms/basic_form_hints/index.html
  files/pt-br/web/accessibility/aria/index.html
  files/pt-br/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/pt-br/web/api/webgl_api/index.html
  files/pt-br/web/javascript/equality_comparisons_and_sameness/index.html
  files/pt-br/web/javascript/index.html
  files/pt-br/web/javascript/reference/global_objects/string/link/index.html
  files/pt-br/web/javascript/reference/global_objects/string/matchall/index.html
  files/pt-br/web/javascript/reference/global_objects/string/split/index.html
  files/pt-br/web/media/formats/index.html
Labels: l10n-pt-br

#1851 remove link 'title' attributes that's just the 'href' (ja, part 4)
  files/ja/web/api/cssmediarule/index.html
  files/ja/web/api/devicemotionevent/index.html
  files/ja/web/api/document/clear/index.html
  files/ja/web/api/document/createnodeiterator/index.html
  files/ja/web/api/document/onbeforescriptexecute/index.html
  files/ja/web/api/document_object_model/locating_dom_elements_using_selectors/index.html
  files/ja/web/api/element/index.html
  files/ja/web/api/element/setattribute/index.html
  files/ja/web/api/encoding_api/index.html
  files/ja/web/api/file_and_directory_entries_api/introduction/index.html
  files/ja/web/api/file_handle_api/index.html
  files/ja/web/api/html_drag_and_drop_api/index.html
  files/ja/web/api/htmlembedelement/index.html
  files/ja/web/api/htmlformcontrolscollection/index.html
  files/ja/web/api/htmlformelement/acceptcharset/index.html
  files/ja/web/api/htmlformelement/action/index.html
  files/ja/web/api/htmlformelement/elements/index.html
  files/ja/web/api/htmlformelement/enctype/index.html
  files/ja/web/api/htmlformelement/name/index.html
  files/ja/web/api/htmlformelement/submit/index.html
  files/ja/web/api/htmlformelement/target/index.html
  files/ja/web/api/htmlheadelement/index.html
  files/ja/web/api/htmlhtmlelement/index.html
  files/ja/web/api/htmlscriptelement/index.html
  files/ja/web/api/indexeddb_api/index.html
  files/ja/web/api/indexeddb_api/using_indexeddb/index.html
  files/ja/web/api/keyboardevent/keycode/index.html
  files/ja/web/api/navigation_timing_api/index.html
  files/ja/web/api/navigator/battery/index.html
  files/ja/web/api/notifications_api/using_the_notifications_api/index.html
  files/ja/web/api/svgtextelement/index.html
  files/ja/web/api/textdecoder/index.html
  files/ja/web/api/textencoder/index.html
  files/ja/web/api/web_workers_api/functions_and_classes_available_to_workers/index.html
  files/ja/web/api/web_workers_api/structured_clone_algorithm/index.html
  files/ja/web/api/webgl_api/index.html
  files/ja/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/ja/web/api/webgl_api/tutorial/index.html
  files/ja/web/api/webgl_api/tutorial/lighting_in_webgl/index.html
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.html
  files/ja/web/api/webgl_api/using_extensions/index.html
  files/ja/web/api/websockets_api/writing_websocket_server/index.html
  files/ja/web/api/window/index.html
  files/ja/web/api/window/navigator/index.html
  files/ja/web/api/window/requestanimationframe/index.html
  files/ja/web/css/background-size/index.html
  files/ja/web/http/content_negotiation/list_of_default_accept_values/index.html
  files/ja/web/mathml/authoring/index.html
  files/ja/web/mathml/element/index.html
  files/ja/web/mathml/element/mo/index.html
Labels: l10n-ja

#1863 Fix other h2m unhandled
  files/fr/web/javascript/eventloop/index.html
  files/fr/web/javascript/reference/classes/private_class_fields/index.html
  files/fr/web/javascript/reference/errors/cant_assign_to_property/index.html
  files/fr/web/javascript/reference/functions/arguments/index.html
  files/fr/web/javascript/reference/functions/index.html
  files/fr/web/javascript/reference/global_objects/map/@@iterator/index.html
  files/fr/web/javascript/reference/global_objects/map/@@tostringtag/index.html
  files/fr/web/javascript/reference/global_objects/map/clear/index.html
  files/fr/web/javascript/reference/global_objects/map/delete/index.html
  files/fr/web/javascript/reference/global_objects/map/entries/index.html
  files/fr/web/javascript/reference/global_objects/map/foreach/index.html
  files/fr/web/javascript/reference/global_objects/map/get/index.html
  files/fr/web/javascript/reference/global_objects/map/has/index.html
  files/fr/web/javascript/reference/global_objects/map/keys/index.html
  files/fr/web/javascript/reference/global_objects/map/set/index.html
  files/fr/web/javascript/reference/global_objects/map/size/index.html
  files/fr/web/javascript/reference/global_objects/map/values/index.html
  files/fr/web/javascript/reference/global_objects/math/atan2/index.html
  files/fr/web/javascript/reference/global_objects/promise/index.html
  files/fr/web/javascript/reference/global_objects/regexp/@@matchall/index.html
  files/fr/web/javascript/reference/global_objects/string/fromcharcode/index.html
  files/fr/web/javascript/reference/global_objects/typedarray/from/index.html
  files/fr/web/javascript/reference/operators/optional_chaining/index.html
  files/fr/web/javascript/reference/statements/debugger/index.html
Labels: l10n-fr

#1416 fix: 정규식 match 메소드 오타 수정
  files/ko/web/javascript/guide/regular_expressions/index.html
Labels: l10n-ko

#1263 [삼항 연산자] 업데이트된 내용 반영 및 번역 수정
  files/ko/web/javascript/reference/operators/conditional_operator/index.html
Labels: l10n-ko

#1264 math.log2() en us문서와 동기화
  files/ko/web/javascript/reference/global_objects/math/log2/index.html
Labels: l10n-ko

#1325 Javascript.Statement.throw() en-us 문서와 동기화
  files/ko/web/javascript/reference/statements/throw/index.html
Labels: l10n-ko

#1355 Javascript/refrence 의 int8array 추가 외
  files/ko/web/javascript/reference/global_objects/array/index.html
  files/ko/web/javascript/reference/global_objects/int8array/index.html
Labels: l10n-ko

#1380 [ko] 'SyntaxError: return not in function'
  files/ko/web/javascript/reference/errors/bad_return_or_yield/index.html
Labels: l10n-ko

#1455 update javascript/object/object
  files/ko/web/javascript/reference/global_objects/object/assign/index.html
Labels: l10n-ko

#1546 Add safe glossary entry
  files/ko/glossary/safe/http/index.html
  files/ko/glossary/safe/index.html
Labels: l10n-ko

#1865 fix: broken anchor
  files/fr/web/api/websockets_api/writing_websocket_client_applications/index.html
Labels: l10n-fr

#1864 (ru) Fix mistype on "Performance - Lazy loading" page
  files/ru/web/performance/lazy_loading/index.html
Labels: l10n-ru

#1858 Update canvas basic usage
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.html
Labels: l10n-zh

#1867 fix typo
  files/zh-cn/web/html/element/form/index.html
Labels: l10n-zh

#1861 remove link 'title' attributes that's just the 'href' (ja, part 5)
  files/ja/mdn/tools/kumascript/index.html
  files/ja/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_alertdialog_role/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-relevant_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_aria-valuetext_attribute/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_progressbar_role/index.html
  files/ja/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/ja/web/accessibility/aria/forms/basic_form_hints/index.html
  files/ja/web/accessibility/aria/forms/index.html
  files/ja/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/ja/web/api/canvas_api/tutorial/basic_animations/index.html
  files/ja/web/api/canvas_api/tutorial/drawing_shapes/index.html
  files/ja/web/api/canvas_api/tutorial/drawing_text/index.html
  files/ja/web/api/canvasrenderingcontext2d/index.html
  files/ja/web/api/css_object_model/managing_screen_orientation/index.html
  files/ja/web/api/delaynode/index.html
  files/ja/web/api/file_and_directory_entries_api/introduction/index.html
  files/ja/web/api/file_handle_api/index.html
  files/ja/web/api/htmlinputelement/multiple/index.html
  files/ja/web/api/htmlscriptelement/index.html
  files/ja/web/api/htmltablerowelement/rowindex/index.html
  files/ja/web/api/node/clonenode/index.html
  files/ja/web/api/server-sent_events/index.html
  files/ja/web/api/storageevent/index.html
  files/ja/web/api/touchlist/length/index.html
  files/ja/web/api/web_audio_api/index.html
  files/ja/web/api/web_storage_api/using_the_web_storage_api/index.html
  files/ja/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/ja/web/api/webgl_api/tutorial/index.html
  files/ja/web/api/webgl_api/tutorial/lighting_in_webgl/index.html
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.html
  files/ja/web/javascript/about_javascript/index.html
  files/ja/web/javascript/closures/index.html
  files/ja/web/javascript/eventloop/index.html
  files/ja/web/javascript/language_resources/index.html
  files/ja/web/javascript/reference/functions/arguments/callee/index.html
  files/ja/web/javascript/reference/functions/default_parameters/index.html
  files/ja/web/javascript/reference/strict_mode/index.html
  files/ja/web/javascript/typed_arrays/index.html
  files/ja/web/mathml/authoring/index.html
  files/ja/web/media/dash_adaptive_streaming_for_html_5_video/index.html
Labels: l10n-ja

#1681 Web/JavaScript を更新
  files/ja/web/javascript/index.html
  files/ja/web/javascript/index.md
Labels: l10n-ja

#1683 Web/JavaScript/Reference を更新
  files/ja/web/javascript/reference/index.html
  files/ja/web/javascript/reference/index.md
Labels: l10n-ja

#1842 remove link 'title' attributes that's just the 'href' (zh-cn, part 6)
  files/zh-cn/web/api/biquadfilternode/index.html
  files/zh-cn/web/api/cssgroupingrule/index.html
  files/zh-cn/web/api/devicemotionevent/devicemotionevent/index.html
  files/zh-cn/web/api/devicemotionevent/index.html
  files/zh-cn/web/api/document/clear/index.html
  files/zh-cn/web/api/document/createtreewalker/index.html
  files/zh-cn/web/api/document/defaultview/index.html
  files/zh-cn/web/api/document/fullscreenelement/index.html
  files/zh-cn/web/api/document/getelementsbytagname/index.html
  files/zh-cn/web/api/document/getelementsbytagnamens/index.html
  files/zh-cn/web/api/document/head/index.html
  files/zh-cn/web/api/document/onafterscriptexecute/index.html
  files/zh-cn/web/api/document/onbeforescriptexecute/index.html
  files/zh-cn/web/api/document/stylesheetsets/index.html
  files/zh-cn/web/api/document/title/index.html
  files/zh-cn/web/api/document_object_model/locating_dom_elements_using_selectors/index.html
  files/zh-cn/web/api/element/childelementcount/index.html
  files/zh-cn/web/api/element/getattribute/index.html
  files/zh-cn/web/api/element/index.html
  files/zh-cn/web/api/element/mousewheel_event/index.html
  files/zh-cn/web/api/element/queryselectorall/index.html
  files/zh-cn/web/api/element/scrollwidth/index.html
  files/zh-cn/web/api/element/setattribute/index.html
  files/zh-cn/web/api/element/wheel_event/index.html
  files/zh-cn/web/api/file_handle_api/index.html
  files/zh-cn/web/api/htmlcollection/index.html
  files/zh-cn/web/api/htmlfieldsetelement/index.html
  files/zh-cn/web/api/indexeddb_api/using_indexeddb/index.html
  files/zh-cn/web/api/keyboardevent/keycode/index.html
  files/zh-cn/web/api/mousewheelevent/index.html
  files/zh-cn/web/api/notification/index.html
  files/zh-cn/web/api/svgaelement/index.html
  files/zh-cn/web/api/touch/clientx/index.html
  files/zh-cn/web/api/touch/clienty/index.html
  files/zh-cn/web/api/touch/force/index.html
  files/zh-cn/web/api/touch/identifier/index.html
  files/zh-cn/web/api/touch/index.html
  files/zh-cn/web/api/touch/pagex/index.html
  files/zh-cn/web/api/touch/pagey/index.html
  files/zh-cn/web/api/touch/radiusx/index.html
  files/zh-cn/web/api/touch/rotationangle/index.html
  files/zh-cn/web/api/webgl_api/index.html
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.html
  files/zh-cn/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/index.html
  files/zh-cn/web/css/text-rendering/index.html
  files/zh-cn/web/html/element/strong/index.html
  files/zh-cn/web/http/headers/index.html
  files/zh-cn/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.html
  files/zh-cn/web/security/same-origin_policy/index.html
Labels: l10n-zh

#1872 remove link 'title' attributes that's just the 'href' (ja, part 6)
  files/ja/conflicting/mdn/yari/index.html
  files/ja/conflicting/mozilla/firefox/releases/index.html
  files/ja/conflicting/web/api_dd04ca1265cb79b990b8120e5f5070d3/index.html
  files/ja/conflicting/web/css/media_queries/using_media_queries/index.html
  files/ja/conflicting/web/guide/index.html
  files/ja/games/introduction/index.html
  files/ja/games/introduction_to_html5_game_development/index.html
  files/ja/games/techniques/webrtc_data_channels/index.html
  files/ja/games/tools/index.html
  files/ja/glossary/fuzzing/index.html
  files/ja/mdn/guidelines/code_guidelines/general/index.html
  files/ja/mdn/tools/kumascript/index.html
  files/ja/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/ja/web/accessibility/aria/forms/basic_form_hints/index.html
  files/ja/web/api/file_and_directory_entries_api/introduction/index.html
  files/ja/web/api/htmlscriptelement/index.html
  files/ja/web/api/server-sent_events/index.html
  files/ja/web/javascript/about_javascript/index.html
  files/ja/web/javascript/language_resources/index.html
Labels: l10n-ja

#1686 Web/Performance 以下のいくつかの文書を更新
  files/ja/web/performance/fundamentals/index.html
  files/ja/web/performance/how_browsers_work/index.html
  files/ja/web/performance/index.html
Labels: l10n-ja

#1687 Learn/Performance 以下を更新
  files/ja/learn/performance/index.html
  files/ja/learn/performance/what_is_web_performance/index.html
  files/ja/learn/performance/why_web_performance/index.html
Labels: l10n-ja

#1786 Remove "spacing" option
  files/ja/web/api/element/animate/index.html
Labels: l10n-ja

#1884 Fix a typo
  files/fr/learn/forms/index.html
Labels: l10n-fr

#1869 Several typo fixes
  files/fr/web/api/element/index.html
Labels: l10n-fr

#1868 Typo fix : délenché ⮞ déclenché
  files/fr/web/api/element/contextmenu_event/index.html
Labels: l10n-fr

#1880 Fix a broken link
  files/fr/learn/forms/sending_forms_through_javascript/index.html
Labels: l10n-fr

#1890 fix typo
  files/fr/learn/common_questions/how_does_the_internet_work/index.html
Labels: l10n-fr

#1891 correction terme impropre
  files/fr/learn/common_questions/what_is_a_web_server/index.html
Labels: l10n-fr

#1871 Re-translated from the English version to replace outdated content
  files/zh-cn/web/api/htmlelement/click/index.html
Labels: l10n-zh

#1889 Fix typo in the link
  files/zh-cn/web/javascript/reference/operators/delete/index.html
Labels: l10n-zh

#1894 Correct the title (Java Scirpt->JavaScript)
  files/ja/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.html
Labels: l10n-ja

#1639 orphaned/Web/JavaScript/Reference/Operators 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/javascript/reference/operators/pipeline_operator/index.html
  files/ja/orphaned/web/javascript/reference/operators/special/index.html
  files/ja/orphaned/web/javascript/reference/operators/special_operators/index.html
Labels: l10n-ja

#1852 ✨ feat: translation of Web/JavaScript/Reference/Operators/Exponentiation
  files/pt-br/web/javascript/reference/operators/exponentiation/index.html
Labels: l10n-pt-br

#1904 fix: Missing characters
  files/ja/web/html/global_attributes/translate/index.html
Labels: l10n-ja

#1896 Fixes #1634 for pt-BR
  files/pt-br/_wikihistory.json
  files/pt-br/mozilla/firefox/releases/49/index.html
  files/pt-br/mozilla/firefox/releases/50/index.html
  files/pt-br/mozilla/firefox/releases/57/index.html
  files/pt-br/mozilla/firefox/releases/65/index.html
Labels: l10n-pt-br

#1901 Fix misc grammar and spelling typos
  files/fr/mozilla/add-ons/webextensions/index.html
Labels: l10n-fr

#1892 fix typos
  files/fr/learn/common_questions/what_is_a_web_server/index.html
Labels: l10n-fr

#1897 Fixes #1634 for ru
  files/ru/_wikihistory.json
  files/ru/mozilla/firefox/releases/43/index.html
  files/ru/mozilla/firefox/releases/44/index.html
  files/ru/mozilla/firefox/releases/45/index.html
  files/ru/mozilla/firefox/releases/47/index.html
  files/ru/mozilla/firefox/releases/50/index.html
  files/ru/mozilla/firefox/releases/51/index.html
  files/ru/mozilla/firefox/releases/53/index.html
  files/ru/mozilla/firefox/releases/58/index.html
  files/ru/mozilla/firefox/releases/59/index.html
  files/ru/mozilla/firefox/releases/60/index.html
  files/ru/mozilla/firefox/releases/62/index.html
  files/ru/mozilla/firefox/releases/63/index.html
  files/ru/mozilla/firefox/releases/64/index.html
  files/ru/mozilla/firefox/releases/65/index.html
  files/ru/mozilla/firefox/releases/66/index.html
  files/ru/mozilla/firefox/releases/68/index.html
  files/ru/mozilla/firefox/releases/70/index.html
Labels: l10n-ru

#1915 Fix broken interactive example
  files/ru/web/css/gap/index.html
Labels: l10n-ru

#1913 Fix a typo
  files/zh-cn/web/api/eventtarget/addeventlistener/index.html
Labels: l10n-zh

#1662 MDN/Tools/KumaScript を更新
  files/ja/mdn/tools/kumascript/index.html
Labels: l10n-ja

#1899 Fixes #1634 - remove old compat site for zh-CN and zh-TW
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/mozilla/firefox/releases/17/index.html
  files/zh-cn/mozilla/firefox/releases/23/index.html
  files/zh-cn/mozilla/firefox/releases/23/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/35/index.html
  files/zh-cn/mozilla/firefox/releases/43/index.html
  files/zh-cn/mozilla/firefox/releases/44/index.html
  files/zh-cn/mozilla/firefox/releases/45/index.html
  files/zh-cn/mozilla/firefox/releases/49/index.html
  files/zh-cn/mozilla/firefox/releases/56/index.html
  files/zh-cn/mozilla/firefox/releases/59/index.html
  files/zh-cn/mozilla/firefox/releases/65/index.html
  files/zh-cn/mozilla/firefox/releases/68/index.html
  files/zh-cn/mozilla/firefox/releases/69/index.html
  files/zh-cn/mozilla/firefox/releases/78/index.html
  files/zh-cn/web/api/element/keydown_event/index.html
  files/zh-cn/web/api/element/keyup_event/index.html
  files/zh-cn/web/api/navigator/buildid/index.html
  files/zh-cn/web/api/worker/index.html
  files/zh-tw/_wikihistory.json
  files/zh-tw/mozilla/firefox/releases/68/index.html
Labels: l10n-zh

#1893 Correct Content of MDN/Yari
  files/zh-cn/mdn/yari/index.html
Labels: l10n-zh

#1922 Fix broken live sample
  files/zh-cn/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.html
Labels: l10n-zh

#1916 Fix broken example
  files/ru/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.html
Labels: l10n-ru

#1923 Accessibility -> Css and JS: Fix html tag typo
  files/ru/learn/accessibility/css_and_javascript/index.html
Labels: l10n-ru

#1909 Fixes #1887 by revamping the whole page to get it updated vs en-US
  files/fr/web/api/element/index.html
Labels: l10n-fr

#1921 Fix small issues found in the French translation of Learn/Performance
  files/fr/learn/performance/css/index.html
Labels: l10n-fr

#1709 Object.create の文書を Markdown に更新
  files/ja/web/javascript/reference/global_objects/object/create/index.html
  files/ja/web/javascript/reference/global_objects/object/create/index.md
Labels: l10n-ja

#1917 Fix broken live samples
  files/fr/web/api/canvasrenderingcontext2d/beziercurveto/index.html
Labels: l10n-fr

#1854 French translation for the "How long is too long?" page.
  files/fr/web/performance/how_long_is_too_long/index.html
Labels: l10n-fr

#1936 Rewording of the `first_meaningful_paint` French glossary item
  files/fr/glossary/first_meaningful_paint/index.html
Labels: l10n-fr

#1937 Rewording of the French translation of the `first_contentful_paint` glossary item
  files/fr/glossary/first_contentful_paint/index.html
Labels: l10n-fr

#1938 Rewording of the French translation of the `minification` glossary item
  files/fr/glossary/minification/index.html
Labels: l10n-fr

#1939 Rewording of the French translation of the `time_to_interactive` glossary item
  files/fr/glossary/time_to_interactive/index.html
Labels: l10n-fr

#1932 Fix a typo
  files/zh-cn/learn/front-end_web_developer/index.html
Labels: l10n-zh

#1934 Fix a typo
  files/zh-cn/web/javascript/reference/statements/export/index.html
Labels: l10n-zh

#1935 Fix translation issue
  files/zh-cn/web/javascript/reference/global_objects/intl/pluralrules/index.html
Labels: l10n-zh

#1945 Fix broken link
  files/zh-cn/web/javascript/guide/keyed_collections/index.html
Labels: l10n-zh

#1933 Link to zh-cn content
  files/zh-cn/learn/javascript/index.html
Labels: l10n-zh

#1951 links en-US to pt-BR
  files/pt-br/web/javascript/reference/functions/rest_parameters/index.html
Labels: l10n-pt-br

#1812 Extra spacing, misspellings, and missing punctuation.
  files/pt-br/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-pt-br

#1811 fix: Math.atan2, Math.ceil, Math.pow and Math.round
  files/pt-br/web/javascript/equality_comparisons_and_sameness/index.html
Labels: l10n-pt-br

#1733 fix: word translation
  files/pt-br/web/html/element/meta/index.html
Labels: l10n-pt-br

#1682 Tools/Web_Console を更新
  files/ja/tools/web_console/index.html
Labels: l10n-ja

#1944 Update the stage of `tc39/proposal-import-meta`
  files/zh-cn/web/javascript/reference/statements/import.meta/index.html
Labels: l10n-zh

#1943 Fix broken live samples and the table of Browser compatibility
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.html
Labels: l10n-zh

#1793 Remove some headers from CORS-safelisted request-header
  files/de/web/http/cors/index.html
  files/fr/web/http/cors/index.html
  files/ja/web/http/cors/index.html
  files/ko/web/http/cors/index.html
  files/pt-br/web/http/cors/index.html
  files/ru/web/http/cors/index.html
  files/zh-cn/web/http/cors/index.html
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-ru, l10n-de, l10n-ko, l10n-pt-br

#1959 [fr] Corr link in DOM_Property_Viewer help page
  files/fr/tools/dom_property_viewer/index.html
Labels: l10n-fr

#1940 French translation of the `Main thread` glossary item
  files/fr/glossary/main_thread/index.html
Labels: l10n-fr

#1941 French translation of the `Thread` glossary entry
  files/fr/glossary/thread/index.html
Labels: l10n-fr

#1974 [Fr]replace broken element styles with images on clientHeight page
  files/fr/web/api/element/clientheight/index.html
Labels: l10n-fr

#1975 [Fr] replaced broken element styles with images on ClientLeft page
  files/fr/web/api/element/clientleft/index.html
Labels: l10n-fr

#1987 Fix typo
  files/ja/web/javascript/reference/operators/typeof/index.html
Labels: l10n-ja

#1920 typo: 案す -> ます
  files/ja/web/api/window/pkcs11/index.html
  files/ja/web/svg/element/image/index.html
Labels: l10n-ja

#1691 Web/JavaScript/Reference/Global_Objects/Object 以下の一部を Markdown に変換
  files/ja/web/javascript/reference/global_objects/object/__definegetter__/index.html
  files/ja/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__definesetter__/index.html
  files/ja/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupgetter__/index.html
  files/ja/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupsetter__/index.html
  files/ja/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/assign/index.html
  files/ja/web/javascript/reference/global_objects/object/assign/index.md
  files/ja/web/javascript/reference/global_objects/object/constructor/index.html
  files/ja/web/javascript/reference/global_objects/object/constructor/index.md
  files/ja/web/javascript/reference/global_objects/object/index.html
  files/ja/web/javascript/reference/global_objects/object/index.md
  files/ja/web/javascript/reference/global_objects/object/object/index.html
  files/ja/web/javascript/reference/global_objects/object/object/index.md
  files/ja/web/javascript/reference/global_objects/object/proto/index.html
  files/ja/web/javascript/reference/global_objects/object/proto/index.md
Labels: l10n-ja

#1802 Web/JavaScript/Data_structures を Markdown に変換
  files/ja/web/javascript/data_structures/index.html
  files/ja/web/javascript/data_structures/index.md
Labels: l10n-ja

#1822 conflicting/MDN/Yari を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mdn/yari/index.html
  files/ja/mdn/contribute/github_beginners/branch-button-new-branch.png
  files/ja/mdn/contribute/github_beginners/branch-button.png
  files/ja/mdn/contribute/github_beginners/branch-menu.png
  files/ja/mdn/contribute/github_beginners/code-popup.png
  files/ja/mdn/contribute/github_beginners/compare-and-pull-request.png
  files/ja/mdn/contribute/github_beginners/fork-button.png
  files/ja/mdn/contribute/github_beginners/new-branch.png
  files/ja/mdn/contribute/github_beginners/open-pull-request.png
Labels: l10n-ja

#1828 Mozilla/Firefox/Experimental_features を更新
  files/ja/mozilla/firefox/experimental_features/index.html
Labels: l10n-ja

#1829 delete conflicting/Mozilla/Firefox/Releases
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mozilla/firefox/releases/index.html
Labels: l10n-ja

#1833 conflicting/Web/CSS/CSS_Basic_User_Interface/Using_URL_values_for_the…
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/css_basic_user_interface/using_url_values_for_the_cursor_property/index.html
Labels: l10n-ja

#1834 conflicting/Web/API/URL を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/url/index.html
Labels: l10n-ja

#1845 Web/API/XRReferenceSpaceEventInit を正規版の位置に移動
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/xrreferencespaceeventinit/index.html
  files/ja/web/api/xrreferencespaceeventinit/referencespace/index.html
  files/ja/web/api/xrreferencespaceeventinit/transform/index.html
Labels: l10n-ja

#1847 conflicting/Web/API/WebSockets_API を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/websockets_api/index.html
Labels: l10n-ja

#1848 conflicting/Web/API/Window/moveTo を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/window/moveto/index.html
Labels: l10n-ja

#1895 原文にはない2KBというバイト数指定の削除
  files/ja/web/http/status/414/index.html
Labels: l10n-ja

#1992 明确说明Location信息
  files/zh-cn/web/http/status/302/index.html
Labels: l10n-zh

#1961 Fix broken live examples in `zh-cn/learn/css`
  files/zh-cn/learn/css/css_layout/grids/index.html
  files/zh-cn/learn/css/css_layout/introduction/index.html
  files/zh-cn/learn/css/css_layout/positioning/index.html
  files/zh-cn/learn/css/styling_text/fundamentals/index.html
Labels: l10n-zh

#1857 conflicting/Web/CSS/float を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/float/index.html
Labels: l10n-ja

#1986 (ru) Fix live example at ":target" page
  files/ru/web/css/_colon_target/index.html
Labels: l10n-ru

#1981 (ru) Fix broken image link at "Eventloop" page
  files/ru/web/javascript/eventloop/index.html
Labels: l10n-ru

#1860 conflicting/Web/CSS/url() を Web/CSS/url() と統合
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/url()/index.html
  files/ja/web/css/url()/index.html
Labels: l10n-ja

#1995 fix wrong translation 显示/显式 of "implicit"
  files/zh-cn/web/javascript/reference/strict_mode/index.html
Labels: l10n-zh

#2005 fix translate on web/fetch
  files/zh-cn/web/api/fetch_api/using_fetch/index.html
Labels: l10n-zh

#2001 添加了一个 AutoUrlDetect 的属性，仅支持IE浏览器
  files/zh-cn/web/api/document/execcommand/index.html
Labels: l10n-zh

#1873 conflicting/Web/Guide を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/guide/index.html
Labels: l10n-ja

#1875 conflicting/Web/JavaScript/Reference/Global_Objects/WebAssembly 以下のプロ…
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/global_objects/webassembly/instance/index.html
  files/ja/conflicting/web/javascript/reference/global_objects/webassembly/table/index.html
Labels: l10n-ja

#1874 conflicting/Web/HTTP/Headers/User-Agent/Firefox
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/http/headers/user-agent/firefox/index.html
Labels: l10n-ja

#2015 Update files/zh-cn/web/css/vertical-align/index.html
  files/zh-cn/web/css/vertical-align/index.html
Labels: l10n-zh

#1821 conflicting/Learn 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/javascript/building_blocks/events/index.html
Labels: l10n-ja

#1878 orphaned/addons.mozilla.org_(AMO)_API_Developers'_Guide を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/addons.mozilla.org_(amo)_api_developers'_guide/index.html
Labels: l10n-ja

#2020 Fix broken live sample
  files/ru/web/html/element/code/index.html
Labels: l10n-ru

#2027 (ru) Remove unexisted references at "Promise" page
  files/ru/web/javascript/reference/global_objects/promise/index.html
Labels: l10n-ru

#1881 orphaned/Jetpack 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/jetpack/ui/slidebar/index.html
  files/ja/orphaned/jetpack/システム/index.html
Labels: l10n-ja

#1883 Web/Tutorials を更新
  files/ja/web/tutorials/index.html
Labels: l10n-ja

#2024 Update MDN/Structures/Macros and MDN/Yari of l10n-zh
  files/zh-cn/mdn/structures/macros/index.html
  files/zh-cn/mdn/structures/macros/other/index.html
  files/zh-cn/mdn/yari/index.html
  files/zh-tw/mdn/yari/index.html
Labels: l10n-zh

#2030 make 'timeout' More clear
  files/zh-cn/web/api/window/requestidlecallback/index.html
Labels: l10n-zh

#1870 fixing translation problem
  files/zh-cn/web/api/web_workers_api/index.html
Labels: l10n-zh

#661 補上GitHub首頁翻譯zh-TW
  files/zh-tw/learn/tools_and_testing/github/index.html
Labels: l10n-zh

#1960 fix: translated content in pt-br
  files/pt-br/web/javascript/equality_comparisons_and_sameness/index.html
Labels: l10n-pt-br

#2033 fix translation error
  files/zh-cn/web/javascript/reference/global_objects/encodeuricomponent/index.html
Labels: l10n-zh

#2035 Fix a typo
  files/zh-cn/web/api/web_workers_api/structured_clone_algorithm/index.html
Labels: l10n-zh

#2038 Update content and fix typo
  files/zh-cn/mdn/contribute/index.html
Labels: l10n-zh

#2042 [ja] fix a typo: web/html/element/input/date
  files/ja/web/html/element/input/date/index.html
Labels: l10n-ja

#1830 delete conflicting/Web/API/MouseEvent/button
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/mouseevent/button/index.html
Labels: l10n-ja

#1846 conflicting/tools/Keyboard_shortcuts を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/tools/keyboard_shortcuts/index.html
Labels: l10n-ja

#1898 Body ミックスインを廃止し、 Response インターフェイスへ統合
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/learn/javascript/client-side_web_apis/third_party_apis/index.html
  files/ja/mdn/contribute/documentation_priorities/index.html
  files/ja/orphaned/web/api/body/arraybuffer/index.html
  files/ja/orphaned/web/api/body/blob/index.html
  files/ja/orphaned/web/api/body/body/index.html
  files/ja/orphaned/web/api/body/bodyused/index.html
  files/ja/orphaned/web/api/body/formdata/index.html
  files/ja/orphaned/web/api/body/index.html
  files/ja/orphaned/web/api/body/json/index.html
  files/ja/orphaned/web/api/body/text/index.html
  files/ja/web/api/fetch_api/index.html
  files/ja/web/api/request/index.html
  files/ja/web/api/response/arraybuffer/index.html
  files/ja/web/api/response/blob/index.html
  files/ja/web/api/response/body/index.html
  files/ja/web/api/response/bodyused/index.html
  files/ja/web/api/response/formdata/index.html
  files/ja/web/api/response/index.html
  files/ja/web/api/response/json/index.html
  files/ja/web/api/response/text/index.html
Labels: l10n-ja

#1908 orphaned/Web_Content_Accessibility_Guidelines_1.0 を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web_content_accessibility_guidelines_1.0/index.html
Labels: l10n-ja

#1924 orphaned/Web/API/DeviceProximityEvent 以下を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/deviceproximityevent/max/index.html
  files/ja/orphaned/web/api/deviceproximityevent/min/index.html
  files/ja/orphaned/web/api/deviceproximityevent/value/index.html
Labels: l10n-ja

#1926 orphaned/Components を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/components/index.html
Labels: l10n-ja

#1906 orphaned/Glossary の下の不要なファイルを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/glossary/gaia/index.html
  files/ja/orphaned/glossary/modern_web_apps/index.html
Labels: l10n-ja

#1907 ChildNode ミックスインを廃止
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/childnode/before/index.html
  files/ja/orphaned/web/api/childnode/index.html
  files/ja/orphaned/web/api/childnode/replacewith/index.html
  files/ja/web/api/element/before/index.html
  files/ja/web/api/element/replacewith/index.html
Labels: l10n-ja

#1927 orphaned/HTML_Element_Cross_Reference を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/html_element_cross_reference/index.html
Labels: l10n-ja

#2040 fix: translated content in pt-br
  files/pt-br/web/javascript/reference/statements/try...catch/index.html
Labels: l10n-pt-br

#1656 Fix: word translation error
  files/pt-br/learn/common_questions/how_does_the_internet_work/index.html
Labels: l10n-pt-br

#1862 conflicting/Tools/Performance/Call_Tree を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/tools/performance/call_tree/index.html
Labels: l10n-ja

#1856 conflicting/Web/API/XRInputSource 以下のファイルを元の場所に移動
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/xrhandedness/index.html
  files/ja/web/api/xrtargetraymode/index.html
Labels: l10n-ja

#1876 conflicting/Web/JavaScript/Reference/Lexical_grammar を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/lexical_grammar/index.html
Labels: l10n-ja
