Repository mdn/translated-content, pull requests merged in 2021-05, with the labels that each got.

#604 Web/HTML/Element/hgroup を更新
  files/ja/web/html/element/hgroup/index.html
Labels: l10n-ja

#599 学習コンテンツのコールアウトを統一
  files/ja/learn/index.html
  files/ja/learn/tools_and_testing/github/index.html
  files/ja/learn/tools_and_testing/index.html
  files/ja/web/css/index.html
  files/ja/web/javascript/index.html
Labels: l10n-ja

#618 Web/API/Document_object_model/How_to_create_a_DOM_tree を更新
  files/ja/web/api/document_object_model/how_to_create_a_dom_tree/index.html
Labels: l10n-ja

#644 Learn/Getting_started_with_the_web/How_the_Web_works を更新
  files/ja/learn/getting_started_with_the_web/how_the_web_works/index.html
Labels: l10n-ja

#710 Mozilla/Add-ons/WebExtensions/API/browsingData を更新
  files/ja/mozilla/add-ons/webextensions/api/browsingdata/index.html
Labels: l10n-ja

#715 Add /learn/javascript/asynchronous/ folder, zh-TW
  files/zh-tw/learn/javascript/asynchronous/async_await/index.html
  files/zh-tw/learn/javascript/asynchronous/choosing_the_right_approach/index.html
  files/zh-tw/learn/javascript/asynchronous/concepts/beachball.jpg
  files/zh-tw/learn/javascript/asynchronous/concepts/index.html
  files/zh-tw/learn/javascript/asynchronous/index.html
  files/zh-tw/learn/javascript/asynchronous/introducing/index.html
  files/zh-tw/learn/javascript/asynchronous/promises/index.html
  files/zh-tw/learn/javascript/asynchronous/timeouts_and_intervals/index.html
Labels: l10n-zh

#704 web/http/headers/date (zh-TW translation)
  files/zh-tw/web/http/headers/date/index.html
Labels: l10n-zh

#703 web/http/headers/etag (zh-TW translation)
  files/zh-tw/web/http/headers/etag/index.html
Labels: l10n-zh

#694 web/http/headers/content-type (zh-TW translation)
  files/zh-tw/web/http/headers/content-type/index.html
Labels: l10n-zh

#701 [add] zh-TW web/api/navigatorlanguage/language
  files/zh-tw/web/api/navigatorlanguage/language/index.html
Labels: l10n-zh

#716 UPDATE: FR - Remove old CompatibilityTable to replace with {{Compat()}} on deviceorientation_event
  files/fr/web/api/window/deviceorientation_event/index.html
Labels: l10n-fr

#709 Web/Accessibility/ARIA/Roles/Feed_Role の更新
  files/ja/web/accessibility/aria/roles/feed_role/index.html
Labels: l10n-ja

#629 Web/XPath/Introduction_to_using_XPath_in_JavaScript を更新
  files/ja/web/xpath/introduction_to_using_xpath_in_javascript/index.html
Labels: l10n-ja

#635 Web/JavaScript/Reference/Functions を更新
  files/ja/web/javascript/reference/functions/index.html
Labels: l10n-ja

#689 Learn/Forms/HTML_forms_in_legacy_browsers を更新
  files/ja/learn/forms/html_forms_in_legacy_browsers/index.html
Labels: l10n-ja

#721 [todo list beginning] complete the last part translation
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.html
Labels: l10n-zh

#442 /Web/Accessibility/ARIA/Roles/Tab_Role を新規翻訳
  files/ja/web/accessibility/aria/roles/tab_role/index.html
Labels: l10n-ja

#493 Web/Accessibility/ARIA/Roles/Banner_role の更新
  files/ja/web/accessibility/aria/roles/banner_role/index.html
Labels: l10n-ja

#528 Web/Accessibility/ARIA/Roles/Contentinfo_role の更新
  files/ja/web/accessibility/aria/roles/contentinfo_role/index.html
Labels: l10n-ja

#535 Web/HTTP/Headers/Accept-encoding を修正
  files/ja/web/http/headers/accept-encoding/index.html
Labels: l10n-ja

#545 web/javascript/reference/global_objects/null を修正（typo）
  files/ja/web/javascript/reference/global_objects/null/index.html
Labels: l10n-ja

#564 Web/API/HTMLIFrameElement/ReferrerPolicy の修正（typo）
  files/ja/web/api/htmliframeelement/referrerpolicy/index.html
Labels: l10n-ja

#566 Docs/Web/Security/Types_of_attacks の修正
  files/ja/web/security/types_of_attacks/index.html
Labels: l10n-ja

#738 мелкая правка
  files/ru/web/svg/element/foreignobject/index.html
Labels: l10n-ru

#654 Translate alignment container page glossary
  files/ru/glossary/alignment_container/index.html
Labels: l10n-ru

#732 Update /mdn/guidelines/writing_style_guide, zh-TW
  files/zh-tw/mdn/guidelines/writing_style_guide/index.html
Labels: l10n-zh

#518 Update index.html
  files/ru/web/javascript/guide/functions/index.html
Labels: l10n-ru

#735 Add translation guide for zh-TW
  docs/README.md
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#718 Web/API/GeolocationCoordinates を更新
  files/ja/web/api/geolocationcoordinates/index.html
Labels: l10n-ja

#734 Translated into Chinese
  files/zh-cn/web/javascript/reference/global_objects/regexp/regexp/index.html
Labels: l10n-zh

#713 增加章節「Set up your application」的繁體中文翻譯。
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.html
Labels: l10n-zh

#540 irefox 87 for developers を翻訳
  files/ja/mozilla/firefox/releases/87/index.html
Labels: l10n-ja

#568 docs/Learn/Accessibility/HTML の修正（typo）
  files/ja/learn/accessibility/html/index.html
Labels: l10n-ja

#578 docs/Web/JavaScript/Guide/Regular_Expressions の修正
  files/ja/web/javascript/guide/regular_expressions/index.html
Labels: l10n-ja

#739 Getting started with Vue (zh-TW translation)
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
Labels: l10n-zh

#750 Method TRACE is safe
  files/fr/web/http/methods/trace/index.html
Labels: l10n-fr

#748 Update index.html
  files/zh-cn/web/javascript/reference/classes/index.html
Labels: l10n-zh

#751 Line 50 - spelling mistake correction
  files/fr/web/css/replaced_element/index.html
Labels: l10n-fr

#749 Fix heading id for anchor link / Update page
  files/fr/web/api/server-sent_events/using_server-sent_events/index.html
Labels: l10n-fr

#757 新增 篩選我們的待辦事項項目 翻譯
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_filtering/index.html
Labels: l10n-zh

#731 Update /learn/javascript/asynchronous folder on index.html and concepts/index.html, zh-TW
  files/zh-tw/learn/javascript/asynchronous/concepts/index.html
  files/zh-tw/learn/javascript/asynchronous/index.html
Labels: l10n-zh

#723 add angular_item_component TW translation v1.1
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_item_component/index.html
Labels: l10n-zh

#724 Web/Accessibility/ARIA/Roles/Figure_Role の更新
  files/ja/web/accessibility/aria/roles/figure_role/index.html
Labels: l10n-ja

#569 Docs/Web/API/History/forward を新規翻訳
  files/ja/web/api/history/forward/index.html
Labels: l10n-ja

#582 Docs/Glossary/FTP を更新
  files/ja/glossary/ftp/index.html
Labels: l10n-ja

#598 Web/Accessibility/ARIA/Roles/dialog_role の更新
  files/ja/web/accessibility/aria/roles/dialog_role/index.html
Labels: l10n-ja

#600 Web/HTML/Element/param を更新
  files/ja/web/html/element/param/index.html
Labels: l10n-ja

#602 Web/HTML/Element/html を更新
  files/ja/web/html/element/html/index.html
Labels: l10n-ja

#619 Element.getAttributeNode() を更新
  files/ja/web/api/element/getattributenode/index.html
Labels: l10n-ja

#762 Translation "Contributing on MDN" page
  files/ru/mdn/contribute/index.html
Labels: l10n-ru

#741 Fix typo in DOM french translation
  files/fr/glossary/dom/index.html
Labels: good first issue, l10n-fr

#755 使用樣式點綴我們的 Angular 應用程式 翻譯完畢
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_styling/index.html
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/index.html
Labels: l10n-zh

#626 fix: Correct Korean translation in the wrong context
  files/ko/web/javascript/reference/operators/nullish_coalescing_operator/index.html
Labels: l10n-ko

#747 Getting started with Svelte (zh-TW translation) (partial)
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.html
Labels: l10n-zh

#768 Fix: Translation Error on History.go()
  files/zh-cn/web/api/history/index.html
Labels: l10n-zh

#752 Firefox 88 for developers を翻訳
  files/ja/mozilla/firefox/releases/88/index.html
Labels: l10n-ja

#766 Creating our first Vue component 頁面翻譯 (zh-TW, partial)
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.html
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/rendered-todoitem.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
Labels: l10n-zh

#769 Delete old pages from Community directory
  files/ru/_redirects.txt
  files/ru/orphaned/mdn/community/conversations/index.html
  files/ru/orphaned/mdn/community/index.html
  files/ru/orphaned/mdn/community/whats_happening/index.html
  files/ru/orphaned/mdn/community/working_in_community/index.html
Labels: l10n-ru

#617 Web/http/headers/connection を更新。
  files/ja/web/http/headers/connection/index.html
Labels: l10n-ja

#627 Web/Accessibility/ARIA/Roles/Document_Role の更新
  files/ja/web/accessibility/aria/roles/document_role/index.html
Labels: l10n-ja

#631 Web/XPath/Functions 以下の複数の文書を更新
  files/ja/web/xpath/functions/ceiling/index.html
  files/ja/web/xpath/functions/concat/index.html
  files/ja/web/xpath/functions/count/index.html
  files/ja/web/xpath/functions/false/index.html
  files/ja/web/xpath/functions/floor/index.html
  files/ja/web/xpath/functions/id/index.html
  files/ja/web/xpath/functions/lang/index.html
  files/ja/web/xpath/functions/last/index.html
  files/ja/web/xpath/functions/local-name/index.html
  files/ja/web/xpath/functions/name/index.html
  files/ja/web/xpath/functions/namespace-uri/index.html
  files/ja/web/xpath/functions/normalize-space/index.html
  files/ja/web/xpath/functions/not/index.html
  files/ja/web/xpath/functions/number/index.html
  files/ja/web/xpath/functions/position/index.html
  files/ja/web/xpath/functions/round/index.html
  files/ja/web/xpath/functions/starts-with/index.html
  files/ja/web/xpath/functions/string-length/index.html
  files/ja/web/xpath/functions/string/index.html
  files/ja/web/xpath/functions/substring/index.html
  files/ja/web/xpath/functions/true/index.html
Labels: l10n-ja

#643 Web/JavaScript/Reference/Operators/Comma_Operator を更新
  files/ja/web/javascript/reference/operators/comma_operator/index.html
Labels: l10n-ja

#655 Learn/Forms/Basic_native_form_controls を更新
  files/ja/learn/forms/basic_native_form_controls/index.html
Labels: l10n-ja

#783 [UPDATE] zh-tw array/tostring.
  files/zh-tw/web/javascript/reference/global_objects/array/tostring/index.html
Labels: l10n-zh

#641 Fix: 404 in example at javascript/object/seal
  files/ko/web/javascript/reference/global_objects/object/seal/index.html
Labels: l10n-ko

#784 Grammar mistakes
  files/fr/web/svg/attribute/preserveaspectratio/index.html
Labels: l10n-fr

#792 Update /web/javascript/reference/global_objects/string/trim/ & .../global_objects/string/trim/, zh-TW
  files/zh-tw/web/javascript/reference/global_objects/string/concat/index.html
  files/zh-tw/web/javascript/reference/global_objects/string/trim/index.html
Labels: l10n-zh

#770 Web/JavaScript/A_re-introduction_to_JavaScript を更新
  files/ja/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-ja

#697 Typo in columns page
  files/fr/web/css/columns/index.html
Labels: good first issue, l10n-fr

#730 UPDATE: Refresh page content from en-US for a11y - Issue #548
  files/fr/web/accessibility/mobile_accessibility_checklist/index.html
Labels: l10n-fr

#802 Fixes #797
  files/fr/web/javascript/reference/statements/block/index.html
  files/fr/web/javascript/reference/statements/if...else/index.html
Labels: l10n-fr

#805 Update zh-TW translation guide.
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#790 Update izh-CN/docs/Web/HTML/Element/title.html
  files/zh-cn/web/html/element/title/index.html
Labels: l10n-zh

#803 Delete old How to pages
  files/ru/_redirects.txt
  files/ru/orphaned/mdn/contribute/howto/create_an_mdn_account/index.html
  files/ru/orphaned/mdn/contribute/howto/do_a_technical_review/index.html
  files/ru/orphaned/mdn/contribute/howto/do_an_editorial_review/index.html
  files/ru/orphaned/mdn/contribute/howto/set_the_summary_for_a_page/index.html
  files/ru/orphaned/mdn/contribute/howto/tag_javascript_pages/index.html
Labels: l10n-ru

#693 Learn/Getting_started_with_the_web/HTML_basics を更新
  files/ja/learn/getting_started_with_the_web/html_basics/index.html
Labels: l10n-ja

#826 [FEAT] add react default page for event
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/default-create-react-app.png
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-ko

#758 Update translation "Getting Started on MDN" page
  files/ru/mdn/contribute/getting_started/index.html
Labels: l10n-ru

#828 [ko] translate react_getting_started title
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-ko

#829 Fix Syntax, example code style of functions/default_parameters
  files/ko/web/javascript/reference/functions/default_parameters/index.html
Labels: l10n-ko

#815 Fix typo in Intersection Observer API (locale: ja)
  files/ja/web/api/intersection_observer_api/index.html
Labels: l10n-ja

#799 Fix web/api/textencoder/index.html, ja-JP
  files/ja/web/api/textencoder/index.html
Labels: l10n-ja

#845 fix external image flaws in files/ru/web/mathml/authoring/index.html
  files/ru/web/mathml/authoring/index.html
Labels: l10n-ru

#832 Update translation of Using GitHub Pages
  files/ru/learn/common_questions/using_github_pages/index.html
Labels: l10n-ru

#842 fix external image and flaws on Web/MathML/Authoring (fr)
  files/fr/web/mathml/authoring/index.html
  files/fr/web/mathml/authoring/openoffice.png
Labels: l10n-fr

#839 [EDIT] translate-ko react_getting_start intro
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-ko

#819 Correct example errors due to 'id' translation
  files/ko/learn/css/css_layout/grids/index.html
  files/ko/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-ko

#775 [FIX] macros, en-US update, nullish operator
  files/ko/web/javascript/reference/operators/nullish_coalescing_operator/index.html
Labels: l10n-ko

#830 Fix: translation error
  files/fr/web/http/authentication/index.html
Labels: good first issue, l10n-fr

#844 fix external image flaws in files/ja/web/mathml/authoring/index.html
  files/ja/web/mathml/authoring/index.html
Labels: l10n-ja

#674 Learn/Getting_started_with_the_web/CSS_basics を更新
  files/ja/learn/getting_started_with_the_web/css_basics/index.html
  files/ja/web/api/navigatorplugins/javaenabled/index.html
  files/ja/web/api/navigatorplugins/mimetypes/index.html
  files/ja/web/api/window/captureevents/index.html
  files/ja/web/api/window/content/index.html
  files/ja/web/api/window/defaultstatus/index.html
  files/ja/web/api/window/directories/index.html
  files/ja/web/api/window/pkcs11/index.html
  files/ja/web/api/window/releaseevents/index.html
  files/ja/web/api/window/screenx/index.html
  files/ja/web/api/window/screeny/index.html
  files/ja/web/api/window/scrollbylines/index.html
  files/ja/web/api/window/scrollbypages/index.html
  files/ja/web/api/window/scrollmaxx/index.html
  files/ja/web/api/window/scrollmaxy/index.html
  files/ja/web/exslt/exsl/object-type/index.html
  files/ja/web/exslt/math/highest/index.html
  files/ja/web/exslt/math/lowest/index.html
  files/ja/web/javascript/reference/global_objects/number/tosource/index.html
  files/ja/web/xpath/functions/sum/index.html
Labels: l10n-ja

#696 Learn/Getting_started_with_the_web/Publishing_your_website を更新
  files/ja/learn/getting_started_with_the_web/publishing_your_website/index.html
Labels: l10n-ja

#711 Mozilla/Add-ons/WebExtensions/Examples を更新
  files/ja/mozilla/add-ons/webextensions/examples/index.html
Labels: l10n-ja

#818 Fix typos on translated content
  files/zh-cn/web/http/cors/errors/corsmissingalloworigin/index.html
Labels: l10n-zh

#831 Update link for Position_skills
  files/zh-cn/learn/css/css_layout/position_skills/index.html
Labels: l10n-zh

#847 rotateZ的matrix3d旋转矩阵写错了
  files/zh-cn/web/css/transform-function/index.html
Labels: l10n-zh

#855 docs: Update with en-US version
  files/zh-cn/mdn/contribute/getting_started/index.html
Labels: l10n-zh

#778 Fix typo in a Japanese page
  files/ja/web/web_components/using_custom_elements/index.html
Labels: l10n-ja

#808 I found a spelling error.
  files/ja/learn/javascript/objects/object-oriented_js/index.html
Labels: l10n-ja

#714 Web/API/CanvasRenderingContext2D/font を更新
  files/ja/web/api/canvasrenderingcontext2d/font/index.html
Labels: l10n-ja

#722 Web/API/NavigatorID/appVersion を更新
  files/ja/web/api/navigatorid/appversion/index.html
Labels: l10n-ja

#846 fix external image flaws in Web/MathML/Authoring (zh-cn, zh-tw)
  files/zh-cn/web/mathml/authoring/index.html
  files/zh-tw/web/mathml/authoring/index.html
Labels: l10n-zh

#851 Remove the emphasis in the title
  files/fr/tools/page_inspector/how_to/examine_and_edit_html/index.html
Labels: good first issue, l10n-fr

#870 Fix incorect links
  files/ru/learn/css/building_blocks/styling_tables/index.html
  files/ru/learn/css/css_layout/index.html
  files/ru/learn/javascript/first_steps/arrays/index.html
  files/ru/learn/javascript/first_steps/strings/index.html
  files/ru/learn/javascript/first_steps/useful_string_methods/index.html
Labels: l10n-ru

#726 [FIX] typo err (#659), Promise
  files/ko/web/javascript/guide/using_promises/index.html
Labels: l10n-ko

#776 [FIX] link err, fetch
  files/ko/web/api/fetch_api/using_fetch/index.html
Labels: l10n-ko

#854 [Fix] Error documents
  files/ko/web/javascript/reference/global_objects/error/index.html
Labels: l10n-ko

#877 Web/HTTP/Caching: zh_TW: Sync and add localized tags
  files/zh-tw/web/http/caching/index.html
Labels: l10n-zh

#729 Web/Accessibility/ARIA/Web_applications_and_ARIA_FAQ を更新
  files/ja/web/accessibility/aria/web_applications_and_aria_faq/index.html
Labels: l10n-ja

#736 Web/API/Window/open を更新
  files/ja/web/api/window/open/index.html
Labels: l10n-ja

#836 [Fix] delete dir="rtl"
  files/ja/web/javascript/reference/operators/this/index.html
Labels: l10n-ja

#879 fix: typo in history api (lang:ja)
  files/ja/web/api/history_api/index.html
Labels: l10n-ja

#882 Web/HTTP/Caching: zh_TW: Sync structure and documentation content from en_US
  files/zh-tw/web/http/caching/index.html
Labels: l10n-zh

#786 Fix typo in autocapitalize
  files/ko/web/html/global_attributes/autocapitalize/index.html
Labels: l10n-ko

#889 fix: typo in border-radius api (lang:fr)
  files/fr/web/css/border-radius/index.html
Labels: l10n-fr

#867 correction-coquilles-et-maj-du-document
  files/fr/learn/javascript/client-side_web_apis/manipulating_documents/index.html
Labels: l10n-fr

#865 Update "Using GitHub Pages" article
  files/ru/learn/common_questions/using_github_pages/index.html
Labels: l10n-ru

#754 Web/Guide/HTML/Editable_content を更新
  files/ja/web/guide/html/editable_content/index.html
Labels: l10n-ja

#835 /mdn/contribute/localize の更新
  files/ja/mdn/contribute/localize/index.html
Labels: l10n-ja

#872 fix dead links
  files/fr/learn/server-side/express_nodejs/index.html
Labels: l10n-fr

#873 remove section
  files/fr/learn/server-side/express_nodejs/index.html
Labels: l10n-fr

#897 [FIX] Issue #874
  files/fr/web/css/cursor/index.html
Labels: l10n-fr

#866 Update "Public class fields" translation
  files/ru/web/javascript/reference/classes/public_class_fields/index.html
Labels: l10n-ru

#899 clean up live samples in CSS/appearance
  files/fr/web/css/appearance/index.html
Labels: l10n-fr

#825 Fix typos on translated content (Intl / ja)
  files/ja/web/javascript/reference/global_objects/intl/index.html
Labels: l10n-ja

#860 fix typo
  files/ja/web/javascript/reference/global_objects/promise/then/index.html
Labels: l10n-ja

#910 fix: miss a closing `ul`
  files/zh-tw/mdn/guidelines/writing_style_guide/index.html
Labels: l10n-zh

#859 Get rid of {{CompatibilityTable}} from CSS
  files/ko/web/css/@font-face/index.html
  files/ko/web/css/animation-direction/index.html
  files/ko/web/css/animation-duration/index.html
  files/ko/web/css/animation-fill-mode/index.html
  files/ko/web/css/font-weight/index.html
  files/ko/web/css/transition-delay/index.html
  files/ko/web/css/transition/index.html
  files/ko/web/css/will-change/index.html
Labels: l10n-ko

#926 Getting started with Svelte (zh-TW translation) (partial)
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.html
Labels: l10n-zh

#932 Web/JavaScript/Reference/Global_Objects/Function/bind を更新
  files/ja/web/javascript/reference/global_objects/function/bind/index.html
Labels: l10n-ja

#906 Update mdn/contribute/index.html.
  files/zh-cn/mdn/contribute/index.html
Labels: l10n-zh

#938 add a "c" in spéifications
  files/fr/web/css/_colon_scope/index.html
Labels: l10n-fr

#937 edited a word in index.html based on issue#875
  files/zh-cn/learn/css/building_blocks/organizing/index.html
Labels: l10n-zh

#893 conflicting/Web/HTML/Global_attributes/spellcheck を削除
  files/ja/_redirects.txt
  files/ja/conflicting/web/html/global_attributes/spellcheck/index.html
Labels: l10n-ja

#936 Update mdn/contribute/index.html.
  files/zh-cn/mdn/contribute/index.html
Labels: l10n-zh

#941 Fix typo
  files/ko/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: l10n-ko

#798 Web/JavaScript/Guide/Indexed_collections を更新
  files/ja/web/javascript/guide/indexed_collections/index.html
Labels: l10n-ja

#800 Web/JavaScript/Guide/Meta_programming を更新
  files/ja/web/javascript/guide/meta_programming/index.html
Labels: l10n-ja

#927 CREATE Character Set page - FR Version
  files/fr/glossary/character_set/index.html
Labels: l10n-fr

#929 UPDT css defined + FIX issue #923
  files/fr/web/css/_colon_defined/index.html
Labels: l10n-fr

#951 typo: French typo in role="presentation" page
  files/fr/web/accessibility/aria/aria_techniques/using_the_presentation_role/index.html
Labels: l10n-fr

#944 typo: "Méthode" with an h in FR on HTMLTimeElement
  files/fr/web/api/htmltimeelement/index.html
Labels: l10n-fr

#921 orphaned/DevNews/20060705 を更新
  files/ja/orphaned/devnews/20060705/index.html
Labels: l10n-ja

#892 conflicting/Web/CSS/Reference を削除
  files/ja/_redirects.txt
  files/ja/conflicting/web/css/reference/index.html
Labels: l10n-ja

#849 Web/SVG/Tutorial/Positions を更新
  files/ja/web/svg/tutorial/positions/canvas_default_grid.png
  files/ja/web/svg/tutorial/positions/index.html
Labels: l10n-ja

#880 Quantifiers を更新
  files/ja/web/javascript/guide/regular_expressions/quantifiers/index.html
Labels: l10n-ja

#884 Mozilla/Firefox/Releases/28 を更新
  files/ja/mozilla/firefox/releases/28/index.html
Labels: l10n-ja

#890 原語併記マクロを削除
  files/ja/orphaned/tools/debugger_(before_firefox_52)/settings/index.html
Labels: l10n-ja

#887 Web/Events/Orientation_and_motion_data_explained を更新
  files/ja/_redirects.txt
  files/ja/orphaned/web/guide/events/orientation_and_motion_data_explained/index.html
  files/ja/web/events/orientation_and_motion_data_explained/index.html
Labels: l10n-ja

#949 fix typo
  files/zh-cn/web/http/headers/index.html
Labels: l10n-zh

#737 Web/CSS/transition を更新
  files/ja/web/css/transition/index.html
Labels: l10n-ja
