Repository mdn/translated-content, pull requests merged in 2021-04, with the labels that each got.

#259 modify translation ( #260 )
  files/ja/webassembly/loading_and_running/index.html
Labels: l10n-ja

#373 翻訳されていた ID 属性値を英語版のオリジナルに戻す
  files/ja/webassembly/loading_and_running/index.html
Labels: l10n-ja

#364 MDN/Yari を更新
  files/ja/mdn/yari/index.html
Labels: l10n-ja

#369 Adding translation "Abstraction" page in glossary
  files/ru/glossary/abstraction/index.html
Labels: l10n-ru

#273 Web/Guide/HTML/Editable_content の更新
  files/ja/web/guide/html/editable_content/index.html
Labels: l10n-ja

#382 Correction, Fixes #361
  files/zh-cn/web/javascript/reference/global_objects/promise/then/index.html
Labels: l10n-zh

#367 Fixed the typo, Fixes #321
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.html
Labels: l10n-zh

#349 Little changes on 'web/html/element/audio'
  files/zh-cn/web/html/element/audio/index.html
Labels: l10n-zh

#279 Correct translation #142
  files/zh-cn/web/javascript/reference/global_objects/function/bind/index.html
Labels: l10n-zh

#256 Fixes #199
  files/zh-cn/web/css/inline_formatting_context/index.html
Labels: l10n-zh

#377 Adding translation "Accessibility" page in glossary
  docs/ru/translation-guide.md
  files/ru/glossary/accessibility/index.html
Labels: l10n-ru

#385 Fix typo from 'не сторонние' to 'на сторонние'
  files/ru/web/performance/dns-prefetch/index.html
Labels: l10n-ru

#395 fr - Orphaned cleaning - Media event - Parity w/ en-US 23272ec
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/guide/events/media_events/index.html
  files/fr/web/events/index.html
Labels: l10n-fr

#357 UPDATE: Fix and update JavaScript page content and links - Issue #338
  files/fr/web/javascript/index.html
Labels: l10n-fr

#376 Web/API/HTMLInputElement の翻訳を更新
  files/ja/web/api/htmlinputelement/index.html
Labels: l10n-ja

#392 MDN/Contribute/GitHub_cheatsheet を更新
  files/ja/mdn/contribute/github_cheatsheet/index.html
Labels: l10n-ja

#396 MDN/Contribute/Howto/Add_or_update_browser_compatibility_data を更新
  files/ja/mdn/contribute/howto/add_or_update_browser_compatibility_data/index.html
Labels: l10n-ja

#405 Fixes #388
  files/fr/learn/javascript/first_steps/a_first_splash/index.html
Labels: l10n-fr

#386 Update JS Promise
  files/ru/web/javascript/reference/global_objects/promise/index.html
Labels: l10n-ru

#408 fr - Typo in code example for IntersectionObserver interface page
  files/fr/web/api/intersectionobserver/index.html
Labels: l10n-fr

#375 Update SharedArrayBuffer ru-translation
  files/ru/web/javascript/reference/global_objects/sharedarraybuffer/index.html
Labels: l10n-ru

#381 Fix broken link
  files/ja/web/svg/tutorial/svg_fonts/index.html
Labels: l10n-ja

#418 Web/CSS/@media/prefers-reduced-motion: update french translation
  files/fr/web/css/@media/prefers-reduced-motion/index.html
Labels: l10n-fr

#306 「開発者向けのウェブ技術」トップページを更新
  files/ja/web/index.html
Labels: l10n-ja

#316 MDN/About の翻訳を更新
  files/ja/mdn/about/index.html
Labels: l10n-ja

#324 MDN/Contribute/Changelog を新規翻訳
  files/ja/mdn/contribute/changelog/index.html
Labels: l10n-ja

#328 Web/API/ValidityState/patternMismatch を新規翻訳
  files/ja/web/api/validitystate/patternmismatch/index.html
Labels: l10n-ja

#420 fix: typo
  files/zh-cn/web/api/textencoder/index.html
Labels: l10n-zh

#372 Accessibility - CSS and JavaScript - russian translation
  files/ru/learn/accessibility/css_and_javascript/index.html
Labels: l10n-ru

#351 Web/HTML/Element/input を更新
  files/ja/web/html/element/input/index.html
Labels: l10n-ja

#426 Update the link to MessageEvent in WebSocket
  files/ru/web/api/websocket/index.html
Labels: l10n-ru

#427 Delete the HTML5 Updates on Forms page
  files/ru/_redirects.txt
  files/ru/orphaned/learn/html/forms/html5_updates/index.html
Labels: l10n-ru

#428 Update Linking to MDN
  files/ru/_redirects.txt
  files/ru/mdn/about/index.html
  files/ru/orphaned/mdn/about/linking_to_mdn/index.html
Labels: l10n-ru

#429 html/global_attributes/lang: fixes spec anchors
  files/fr/web/html/global_attributes/lang/index.html
Labels: good first issue, l10n-fr

#422 DOMTokenList.length を新規翻訳
  files/ja/web/api/domtokenlist/length/index.html
Labels: l10n-ja

#425 Dead link
  files/fr/web/mathml/index.html
Labels: l10n-fr

#415 Web/API/DOMTokenList/forEach を新規翻訳
  files/ja/web/api/domtokenlist/foreach/index.html
Labels: l10n-ja

#358 Web/HTML/Attributes/readonly を新規翻訳
  files/ja/web/html/attributes/readonly/index.html
Labels: l10n-ja

#437 半角スペースの誤字を修正
  files/ja/web/javascript/reference/global_objects/array/fill/index.html
Labels: l10n-ja

#438 タイプミスの修正
  files/ja/web/html/element/video/index.html
Labels: l10n-ja

#439 fix OR operator
  files/fr/web/javascript/guide/expressions_and_operators/index.html
Labels: l10n-fr

#441 Update translate margin-right
  files/ru/web/css/margin-right/index.html
Labels: l10n-ru

#432 JavaScript/Reference/Classes/static を更新
  files/ja/web/javascript/reference/classes/static/index.html
Labels: l10n-ja

#435 DOMTokenList.values() を新規翻訳
  files/ja/web/api/domtokenlist/values/index.html
Labels: l10n-ja

#403 /Web/Accessibility/ARIA/Roles/Gridcell_role を新規翻訳
  files/ja/web/accessibility/aria/roles/gridcell_role/index.html
Labels: l10n-ja

#366 MDN/Tools/Unsupported_GET_API を更新
  files/ja/mdn/tools/unsupported_get_api/index.html
Labels: l10n-ja

#319 Unify Russian translation of "promise"
  files/ru/conflicting/web/javascript/reference/global_objects/promise/index.html
  files/ru/glossary/promise/index.html
  files/ru/learn/javascript/asynchronous/async_await/index.html
  files/ru/learn/javascript/asynchronous/introducing/index.html
  files/ru/learn/javascript/client-side_web_apis/client-side_storage/index.html
  files/ru/learn/javascript/client-side_web_apis/fetching_data/index.html
  files/ru/learn/javascript/client-side_web_apis/introduction/index.html
  files/ru/learn/server-side/express_nodejs/displaying_data/flow_control_using_async/index.html
  files/ru/mozilla/firefox/releases/53/index.html
  files/ru/web/api/abortcontroller/abort/index.html
  files/ru/web/api/abortcontroller/abortcontroller/index.html
  files/ru/web/api/abortcontroller/signal/index.html
  files/ru/web/api/abortsignal/index.html
  files/ru/web/api/animation/index.html
  files/ru/web/api/body/formdata/index.html
  files/ru/web/api/body/json/index.html
  files/ru/web/api/extendableevent/waituntil/index.html
  files/ru/web/api/fetch_api/index.html
  files/ru/web/api/htmlmediaelement/index.html
  files/ru/web/api/navigator/getusermedia/index.html
  files/ru/web/api/request/index.html
  files/ru/web/api/service_worker_api/using_service_workers/index.html
  files/ru/web/api/web_animations_api/using_the_web_animations_api/index.html
  files/ru/web/api/webvr_api/index.html
  files/ru/web/api/windoworworkerglobalscope/fetch/index.html
  files/ru/web/javascript/guide/control_flow_and_error_handling/index.html
  files/ru/web/javascript/guide/using_promises/index.html
  files/ru/web/javascript/reference/errors/not_a_constructor/index.html
  files/ru/web/javascript/reference/global_objects/promise/all/index.html
  files/ru/web/javascript/reference/global_objects/promise/any/index.html
  files/ru/web/javascript/reference/global_objects/promise/catch/index.html
  files/ru/web/javascript/reference/global_objects/promise/finally/index.html
  files/ru/web/javascript/reference/global_objects/promise/index.html
  files/ru/web/javascript/reference/global_objects/promise/race/index.html
  files/ru/web/javascript/reference/global_objects/promise/resolve/index.html
  files/ru/web/javascript/reference/global_objects/promise/then/index.html
  files/ru/web/javascript/reference/global_objects/webassembly/compile/index.html
  files/ru/web/javascript/reference/global_objects/webassembly/compilestreaming/index.html
Labels: l10n-ru

#368 MDN/Tools/Sample_server を更新
  files/ja/mdn/tools/sample_server/index.html
Labels: l10n-ja

#453 UPDATE: Fix and refresh the SVG tutorial page - Issue #451
  files/fr/web/svg/tutorial/index.html
Labels: l10n-fr

#75 Fix some <code> tags
  files/fr/web/manifest/index.html
Labels: l10n-fr

#471 Update index.html
  files/ru/web/api/element/insertadjacentelement/index.html
Labels: l10n-ru

#378 Web/API/HTMLInputElement/labels を新規翻訳
  files/ja/web/api/htmlinputelement/labels/index.html
Labels: l10n-ja

#457 Web/Accessibility/ARIA/Roles/checkbox_role を更新
  files/ja/web/accessibility/aria/roles/checkbox_role/index.html
Labels: l10n-ja

#299 L10N: Update content of the HTML section - Part 1
  files/fr/web/html/applying_color/index.html
  files/fr/web/html/block-level_elements/index.html
  files/fr/web/html/cors_enabled_image/index.html
  files/fr/web/html/date_and_time_formats/index.html
  files/fr/web/html/index.html
  files/fr/web/html/inline_elements/index.html
  files/fr/web/html/link_types/index.html
  files/fr/web/html/microdata/index.html
  files/fr/web/html/microformats/index.html
  files/fr/web/html/preloading_content/index.html
  files/fr/web/html/quirks_mode_and_standards_mode/index.html
  files/fr/web/html/reference/index.html
  files/fr/web/html/using_the_application_cache/index.html
  files/fr/web/html/viewport_meta_tag/index.html
Labels: l10n-fr

#465 UPDATE: Update and fix <ol> element page
  files/fr/web/html/element/ol/index.html
Labels: l10n-fr

#478 UPDATE: Tags, Title id, Links, Wrong sentences for CSS Layout page - Issue #447
  files/fr/learn/css/css_layout/index.html
Labels: l10n-fr

#410 FIX: Update all FR content of the IntersectionObserver interface - Issue #409
  files/fr/web/api/intersectionobserver/index.html
  files/fr/web/api/intersectionobserver/intersectionobserver/index.html
  files/fr/web/api/intersectionobserver/observe/index.html
  files/fr/web/api/intersectionobserver/root/index.html
  files/fr/web/api/intersectionobserver/rootmargin/index.html
  files/fr/web/api/intersectionobserver/thresholds/index.html
  files/fr/web/api/intersectionobserver/unobserve/index.html
Labels: l10n-fr

#412 L10N: Translate missing IntersectionObserver interface pages
  files/fr/web/api/intersectionobserver/disconnect/index.html
  files/fr/web/api/intersectionobserver/takerecords/index.html
Labels: l10n-fr

#459 Fixes translation error
  files/fr/mozilla/add-ons/webextensions/api/runtime/onstartup/index.html
Labels: l10n-fr

#470 Replaced the hyphen with a dash in accessibility page glossary ru
  files/ru/glossary/accessibility/index.html
Labels: l10n-ru

#406 Correction of the typo, Fixes #362
  files/fr/web/http/headers/set-cookie/index.html
Labels: l10n-fr

#452 Web/JavaScript/Reference/Operators/async_function を更新
  files/ja/web/javascript/reference/operators/async_function/index.html
Labels: l10n-ja

#456 Web/JavaScript/Reference/About を更新
  files/ja/web/javascript/reference/about/index.html
Labels: l10n-ja

#399 Fixed weird code example on the french `split()` page
  files/fr/web/javascript/reference/global_objects/string/split/index.html
Labels: l10n-fr

#482 Web/Accessibility/ARIA/Roles/Gridcell_role の修正
  files/ja/web/accessibility/aria/roles/gridcell_role/index.html
Labels: l10n-ja

#487 getting rid of .alllinks in fr content
  files/fr/glossary/base64/index.html
  files/fr/glossary/xhtml/index.html
  files/fr/web/accessibility/index.html
  files/fr/web/api/server-sent_events/index.html
  files/fr/web/guide/ajax/index.html
  files/fr/web/mathml/index.html
  files/fr/web/performance/index.html
  files/fr/web/svg/index.html
  files/fr/web/xslt/index.html
Labels: l10n-fr

#486 getting rid of all .alllink links
  files/ru/glossary/base64/index.html
  files/ru/web/accessibility/index.html
  files/ru/web/api/websockets_api/index.html
  files/ru/web/guide/ajax/index.html
  files/ru/web/guide/graphics/index.html
  files/ru/web/html/index.html
  files/ru/web/html/reference/index.html
  files/ru/web/index.html
  files/ru/web/mathml/index.html
  files/ru/web/svg/index.html
Labels: l10n-ru

#473 Adding translation "Аdobe flash" page in glossary
  files/ru/glossary/adobe_flash/index.html
Labels: l10n-ru

#494 Correct typo errors in the first code sample
  files/fr/learn/server-side/express_nodejs/introduction/index.html
Labels: l10n-fr

#463 HTMLSelectElement インターフェイスを更新
  files/ja/web/api/htmlselectelement/autofocus/index.html
Labels: l10n-ja

#479 HTMLOptionElement を新規翻訳
  files/ja/web/api/htmloptionelement/index.html
Labels: l10n-ja

#484 Web/Accessibility/ARIA/Roles/Article_Role の更新
  files/ja/web/accessibility/aria/roles/article_role/index.html
Labels: l10n-ja

#476 Web/Accessibility/ARIA/Roles/Application_Role の更新
  files/ja/web/accessibility/aria/roles/application_role/index.html
Labels: l10n-ja

#472 Adding transtation "Accessibility tree" page in glossary
  files/ru/glossary/accessibility_tree/index.html
Labels: l10n-ru

#393 Web/CSS/string を更新
  files/ja/web/css/string/index.html
Labels: l10n-ja

#394 Glossary/Domain_name を更新
  files/ja/glossary/domain_name/index.html
Labels: l10n-ja

#397 20210404 web/java script/reference/errors 以下の一部のファイルを更新
  files/ja/web/javascript/reference/errors/bad_return_or_yield/index.html
  files/ja/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.html
  files/ja/web/javascript/reference/errors/invalid_array_length/index.html
  files/ja/web/javascript/reference/errors/missing_bracket_after_list/index.html
  files/ja/web/javascript/reference/errors/missing_curly_after_property_list/index.html
  files/ja/web/javascript/reference/errors/missing_semicolon_before_statement/index.html
Labels: l10n-ja

#502 remove dir="rtl" for zh-tw
  files/zh-tw/learn/getting_started_with_the_web/css_basics/index.html
  files/zh-tw/web/javascript/guide/grammar_and_types/index.html
  files/zh-tw/web/javascript/reference/global_objects/array/sort/index.html
  files/zh-tw/web/javascript/reference/global_objects/math/abs/index.html
  files/zh-tw/web/javascript/reference/operators/this/index.html
  files/zh-tw/web/manifest/index.html
Labels: l10n-zh

#466 fix typo on Web/JavaScript
  files/zh-cn/web/performance/dns-prefetch/index.html
Labels: l10n-zh

#462 zh-cn: Add RTL glossary.
  files/zh-cn/glossary/rtl/index.html
Labels: l10n-zh

#380 Correct some sentence in article Operators/void
  files/zh-cn/web/javascript/reference/operators/void/index.html
Labels: l10n-zh

#485 getting rid of .alllinks links
  files/ja/web/accessibility/index.html
  files/ja/web/guide/ajax/index.html
  files/ja/web/guide/graphics/index.html
  files/ja/web/html/index.html
  files/ja/web/html/reference/index.html
  files/ja/web/performance/index.html
  files/ja/web/svg/index.html
  files/ja/web/xpath/index.html
  files/ja/web/xslt/index.html
Labels: l10n-ja

#501 一文翻訳が抜けていたので追加
  files/ja/web/javascript/reference/statements/try...catch/index.html
Labels: l10n-ja

#291 add translate for HtmlCanvasElement.width page
  files/ru/web/api/htmlcanvaselement/width/index.html
Labels: l10n-ru

#514 Fix typo "Referrerer-Policy"
  files/ja/web/http/headers/referrer-policy/index.html
  files/ja/web/security/referer_header_colon__privacy_and_security_concerns/index.html
Labels: l10n-ja

#458 /Web/Accessibility/ARIA/Roles/Region_role を更新
  files/ja/web/accessibility/aria/roles/region_role/index.html
Labels: l10n-ja

#489 「プロパティアクセサー」を更新
  files/ja/web/javascript/reference/operators/property_accessors/index.html
Labels: l10n-ja

#460 Web/Accessibility/ARIA/Roles/Alert_Role の更新
  files/ja/web/accessibility/aria/roles/alert_role/index.html
Labels: l10n-ja

#492 Web/CSS/Media_Queries/Testing_media_queries を更新
  files/ja/web/css/media_queries/testing_media_queries/index.html
Labels: l10n-ja

#483 表記ゆれの修正
  files/ja/web/http/headers/index.html
Labels: l10n-ja

#400 Web/CSS/text-decoration を更新
  files/ja/web/css/text-decoration-thickness/index.html
  files/ja/web/css/text-decoration/index.html
Labels: l10n-ja

#404 Web/JavaScript/Reference/Global_Objects/Boolean/toSource を更新
  files/ja/web/javascript/reference/global_objects/boolean/tosource/index.html
Labels: l10n-ja

#413 Web/API/DOMTokenList/contains を新規翻訳
  files/ja/web/api/domtokenlist/contains/index.html
Labels: l10n-ja

#417 DOMTokenList.item() を新規翻訳
  files/ja/web/api/domtokenlist/item/index.html
Labels: l10n-ja

#421 DOMTokenList.keys() を新規翻訳
  files/ja/web/api/domtokenlist/keys/index.html
Labels: l10n-ja

#423 DOMTokenList.replace() を新規翻訳
  files/ja/web/api/domtokenlist/replace/index.html
Labels: l10n-ja

#424 DOMTokenList.supports を新規翻訳
  files/ja/web/api/domtokenlist/supports/index.html
Labels: l10n-ja

#433 Web/API/DOMTokenList/toggle を新規翻訳
  files/ja/web/api/domtokenlist/toggle/index.html
Labels: l10n-ja

#434 Web/API/DOMTokenList/value を新規翻訳
  files/ja/web/api/domtokenlist/value/index.html
Labels: l10n-ja

#445 JavaScript Intl.NumberFormat() を更新
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.html
Labels: l10n-ja

#503 Correction of typos and update of "Control_flow_and_error_handling"
  files/fr/web/javascript/guide/control_flow_and_error_handling/index.html
Labels: good first issue, l10n-fr

#533 Fixes #531 - Translate existing page in fr
  files/fr/learn/javascript/first_steps/test_your_skills_colon__arrays/index.html
Labels: l10n-fr

#558 Fix punctuation
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: l10n-zh

#555 fixing a typo
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/index.html
Labels: l10n-zh

#68 fix number typo
  files/zh-cn/web/media/formats/video_codecs/index.html
Labels: l10n-zh

#532 更新术语表中实体报头翻译 | Update Translation of Glossary Entity header
  files/zh-cn/glossary/entity_header/index.html
Labels: l10n-zh

#506 remove all .alllinks in zh-tw content
  files/zh-tw/glossary/localization/index.html
  files/zh-tw/glossary/xhtml/index.html
  files/zh-tw/web/accessibility/index.html
  files/zh-tw/web/api/server-sent_events/index.html
  files/zh-tw/web/api/websockets_api/index.html
  files/zh-tw/web/guide/ajax/index.html
  files/zh-tw/web/guide/graphics/index.html
  files/zh-tw/web/html/index.html
  files/zh-tw/web/html/reference/index.html
  files/zh-tw/web/index.html
  files/zh-tw/web/mathml/index.html
  files/zh-tw/web/performance/index.html
  files/zh-tw/web/svg/index.html
Labels: l10n-zh

#505 remove all .alllinks in zh-cn content
  files/zh-cn/glossary/base64/index.html
  files/zh-cn/glossary/localization/index.html
  files/zh-cn/web/accessibility/index.html
  files/zh-cn/web/guide/ajax/index.html
  files/zh-cn/web/html/index.html
  files/zh-cn/web/html/reference/index.html
  files/zh-cn/web/index.html
  files/zh-cn/web/svg/index.html
  files/zh-cn/web/xpath/index.html
  files/zh-cn/web/xslt/index.html
Labels: l10n-zh

#499 update(zh-cn): target=_blank implicit noopener
  files/zh-cn/web/html/element/a/index.html
Labels: l10n-zh

#469 Wrong Annotation, I fixed it and add W3C doc link
  files/zh-cn/web/css/contain/index.html
Labels: l10n-zh

#436 Fix translation errors
  files/zh-tw/web/http/headers/x-frame-options/index.html
Labels: l10n-zh

#524 Fix Arrow_functions doc page
  files/zh-tw/web/javascript/reference/functions/arrow_functions/index.html
Labels: l10n-zh

#497 Web/HTTP/Headers/Date を更新
  files/ja/web/http/headers/date/index.html
Labels: l10n-ja

#571 Fix description for value 'collapse'
  files/ru/web/css/visibility/index.html
Labels: l10n-ru

#577 Fix error in french example of fetch
  files/fr/web/api/windoworworkerglobalscope/fetch/index.html
Labels: good first issue, l10n-fr

#511 Web/SVG を更新
  files/ja/web/svg/index.html
Labels: l10n-ja

#515 Web/Accessibility/ARIA/Roles/Cell_Role の更新
  files/ja/web/accessibility/aria/roles/cell_role/index.html
Labels: l10n-ja

#507 Fix escaped characters: 日本語
  files/ja/web/api/document/createevent/index.html
Labels: l10n-ja

#521 Array.prototype.toSource() を更新
  files/ja/web/javascript/reference/global_objects/array/tosource/index.html
Labels: l10n-ja

#527 Web/API/DOMTokenList/entries を新規翻訳
  files/ja/web/api/domtokenlist/entries/index.html
Labels: l10n-ja

#570 Docs/Glossary/Forbidden_header_name を更新
  files/ja/glossary/forbidden_header_name/index.html
Labels: l10n-ja

#517 Web/Accessibility/ARIA/Roles/Complementary_role の更新
  files/ja/web/accessibility/aria/roles/complementary_role/index.html
Labels: l10n-ja

#585 Glossary/sql_injection を更新（画像リンク切れ）
  files/ja/glossary/sql_injection/index.html
  files/ja/glossary/sql_injection/sql_inj_xss.gif
  files/ja/glossary/sql_injection/updates_loginscreen.png
Labels: l10n-ja

#508 Web/Guide/AJAX を更新
  files/ja/web/guide/ajax/index.html
Labels: l10n-ja

#534 Web/HTTP/Headers/Referer を更新
  files/ja/web/http/headers/referer/index.html
Labels: l10n-ja

#538 Web/HTTP/Headers/Location の修正
  files/ja/web/http/headers/location/index.html
Labels: l10n-ja

#542 Web/HTTP/Redirections の修正
  files/ja/web/http/redirections/index.html
Labels: l10n-ja

#446 Intl.RelativeTimeFormat() を更新
  files/ja/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.html
Labels: l10n-ja

#454 new.target 擬似プロパティを更新
  files/ja/web/javascript/reference/operators/new.target/index.html
Labels: l10n-ja

#546 Glossary/Fetch_metadata_request_header を新規翻訳
  files/ja/glossary/fetch_metadata_request_header/index.html
Labels: l10n-ja

#455 Intl.Collator を更新
  files/ja/web/javascript/reference/global_objects/intl/collator/index.html
Labels: l10n-ja

#552 Web/SVG/Element/polygon を更新
  files/ja/web/svg/element/polygon/index.html
Labels: l10n-ja

#556 Reflect.get() を更新
  files/ja/web/javascript/reference/global_objects/reflect/get/index.html
Labels: l10n-ja

#562 Web/API/Window/alert を更新
  files/ja/web/api/window/alert/index.html
Labels: l10n-ja

#567 Getting_started_with_the_web/HTML_basics の修正(Typo)
  files/ja/learn/getting_started_with_the_web/html_basics/index.html
Labels: l10n-ja

#573 Web/HTTP/Status/302 を更新
  files/ja/web/http/status/302/index.html
Labels: l10n-ja

#584 Web/HTML/Element/section を更新
  files/ja/web/html/element/section/index.html
Labels: l10n-ja

#601 /Learn/CSS の更新と付随する修正
  files/ja/learn/css/index.html
  files/ja/learn/front-end_web_developer/index.html
  files/ja/learn/index.html
  files/ja/learn/javascript/objects/inheritance/index.html
Labels: l10n-ja

#615 KS: Removal of the least used macros - l10n-zh
  files/zh-cn/mdn/guidelines/does_this_belong_on_mdn/index.html
  files/zh-cn/mdn/guidelines/writing_style_guide/index.html
  files/zh-cn/mdn/structures/macros/index.html
  files/zh-cn/web/api/document/width/index.html
  files/zh-cn/web/api/filelist/index.html
  files/zh-cn/web/api/htmlelement/dir/index.html
  files/zh-cn/web/api/htmlmediaelement/index.html
  files/zh-cn/web/api/keyboardevent/key/key_values/index.html
  files/zh-cn/web/api/navigatoronline/online_and_offline_events/index.html
  files/zh-cn/web/api/window/open/index.html
  files/zh-cn/web/css/background-size/index.html
  files/zh-cn/web/guide/html/using_html_sections_and_outlines/index.html
  files/zh-cn/web/http/headers/user-agent/firefox/index.html
  files/zh-cn/web/xslt/index.html
  files/zh-tw/mdn/guidelines/writing_style_guide/index.html
  files/zh-tw/mozilla/firefox/releases/4/index.html
  files/zh-tw/web/api/canvas_api/tutorial/applying_styles_and_colors/index.html
  files/zh-tw/web/api/file/using_files_from_web_applications/index.html
  files/zh-tw/web/api/html_drag_and_drop_api/drag_operations/index.html
  files/zh-tw/web/api/messageevent/index.html
  files/zh-tw/web/api/permissions_api/index.html
  files/zh-tw/web/api/websocket/index.html
  files/zh-tw/web/api/websockets_api/index.html
  files/zh-tw/web/css/css_transitions/using_css_transitions/index.html
  files/zh-tw/web/guide/html/html5/index.html
Labels: l10n-zh

#536 Web/HTTP/Headers/Host を修正
  files/ja/web/http/headers/host/index.html
Labels: l10n-ja

#537 Web/HTTP/Headers/Server の修正（typo）
  files/ja/web/http/headers/server/index.html
Labels: l10n-ja

#606 UPDATE: Refresh content of "Une réintroduction à JavaScript" - Issue #603
  files/fr/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-fr

#588 Web/HTML/Element/slot を更新
  files/ja/web/html/element/slot/index.html
Labels: l10n-ja

#580 Update ru-translation of super keyword
  files/ru/web/javascript/reference/operators/super/index.html
Labels: l10n-ru

#624 Fixes typo in How to structure a web form
  files/ru/learn/forms/how_to_structure_a_web_form/index.html
Labels: l10n-ru

#620 Update translation algorithm page in glossary
  files/ru/glossary/algorithm/index.html
Labels: l10n-ru

#625 fix: very small typo
  files/ja/web/http/headers/content-language/index.html
Labels: l10n-ja

#541 Web/HTTP/Status/200 の更新
  files/ja/web/http/status/200/index.html
Labels: l10n-ja

#549 Web/JavaScript/Guide/ループと反復処理 を修正
  files/ja/web/javascript/guide/loops_and_iteration/index.html
Labels: l10n-ja

#551 Web/JavaScript/等価性の比較と同一性 を修正
  files/ja/web/javascript/equality_comparisons_and_sameness/index.html
Labels: l10n-ja
