Repository mdn/translated-content, pull requests merged in 2021-11, with the labels that each got.

#2334 Fixes #2127 by updating vs en-US (+ removes xref macros)
  files/fr/web/javascript/reference/global_objects/weakmap/index.md
Labels: l10n-fr

#2547 Fixes #2546 - revamp page vs en-US current version
  files/fr/mozilla/add-ons/webextensions/api/storage/sync/index.html
Labels: l10n-fr

#2925 fix link and remove content
  files/zh-cn/web/xslt/index.html
Labels: l10n-zh

#2928 remove function param error content
  files/zh-cn/web/javascript/reference/functions/index.html
Labels: l10n-zh

#2930 Fix typo
  files/zh-cn/web/api/xmlhttprequest/send/index.html
Labels: l10n-zh

#2932 Update index.html
  files/zh-cn/web/javascript/reference/iteration_protocols/index.html
Labels: l10n-zh

#2937 Fix a typo
  files/zh-cn/web/html/element/script/index.html
Labels: l10n-zh

#2938 Fix a typo.
  files/zh-tw/learn/javascript/objects/basics/index.html
Labels: l10n-zh

#2803 X-Frame-Options typo
  files/ko/web/http/headers/x-frame-options/index.html
Labels: l10n-ko

#2913 Date の誤訳を修正
  files/ja/web/javascript/reference/global_objects/date/index.html
Labels: l10n-ja

#2942 remove error content
  files/zh-cn/web/html/block-level_elements/index.html
Labels: l10n-zh

#2944 replace tag h3 to h2
  files/zh-cn/web/javascript/guide/working_with_objects/index.html
Labels: l10n-zh

#2940 Fix typo in index.html
  files/ja/web/html/element/img/index.html
Labels: l10n-ja

#2808 fr-glossary/exif id:216
  files/fr/glossary/exif/index.html
Labels: l10n-fr

#2503 Add code tag
  files/fr/web/http/methods/index.md
Labels: l10n-fr

#2933 [ko] Translation done of 'AudioWorkletNode.parameters' document
  files/ko/web/api/audioworkletnode/parameters/index.md
Labels: l10n-ko

#2949 [ko] Translation done of 'AudioWorkletProcessor()' document
  files/ko/web/api/audioworkletprocessor/audioworkletprocessor/index.md
Labels: l10n-ko

#2956 fix Compat data in css contain
  files/ja/web/css/contain/index.html
Labels: l10n-ja

#2968 Fix typo
  files/fr/web/accessibility/aria/aria_techniques/using_the_presentation_role/index.html
Labels: l10n-fr

#2715 ko: sync Optional chaining
  files/ko/web/javascript/reference/operators/optional_chaining/index.html
Labels: l10n-ko

#2776 Fixes #2766
  files/fr/web/css/word-break/index.md
Labels: l10n-fr

#2981 `Web/API/Element/mouseout_event` ページの修正
  files/ja/web/api/element/mouseout_event/index.md
Labels: l10n-ja

#2977 Fixed gramatic issue on Global Attributes: `title`
  files/pt-br/web/html/global_attributes/title/index.html
Labels: l10n-pt-br

#2910 SVG 属性の説明の一部を新規翻訳
  files/ja/web/svg/attribute/conditional_processing/index.md
  files/ja/web/svg/attribute/core/index.md
  files/ja/web/svg/attribute/events/index.md
  files/ja/web/svg/attribute/presentation/index.md
  files/ja/web/svg/attribute/styling/index.md
Labels: l10n-ja

#2946 Update index.html
  files/zh-cn/web/api/mediadevices/getusermedia/index.html
Labels: l10n-zh

#2935 Fix wrong link for offscreencanvas spec
  files/fr/web/api/offscreencanvas/index.md
  files/ja/web/api/offscreencanvas/index.html
  files/ko/web/api/offscreencanvas/index.html
  files/zh-cn/web/api/offscreencanvas/index.html
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-ko

#2995 Fix live sample errors for HTML docs
  files/fr/web/html/element/b/index.md
  files/fr/web/html/element/li/index.md
  files/fr/web/html/element/menu/index.md
  files/fr/web/html/element/style/index.md
  files/fr/web/html/element/textarea/index.md
  files/fr/web/html/element/ul/index.md
Labels: l10n-fr

#2900 Update Web/API/Document page
  files/pt-br/web/api/document/index.html
Labels: l10n-pt-br

#2972 fix: "propriedadr" adjusted to "propriedade".
  files/pt-br/web/html/element/dl/index.html
Labels: l10n-pt-br

#2984 correção de ortografia
  files/pt-br/web/css/calc()/index.html
Labels: l10n-pt-br

#2901 Update the 'JS/Building_blocks/conditionals' page.
  files/pt-br/learn/javascript/building_blocks/conditionals/index.html
Labels: l10n-pt-br

#2914 Update index.html
  files/pt-br/web/http/caching/index.html
Labels: l10n-pt-br

#2990 [pt-BR] Anchors to /Global_attributes now point to pt-BR version
  files/pt-br/glossary/attribute/index.html
  files/pt-br/learn/css/first_steps/getting_started/index.html
  files/pt-br/learn/html/howto/use_data_attributes/index.html
  files/pt-br/learn/html/introduction_to_html/the_head_metadata_in_html/index.html
  files/pt-br/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
  files/pt-br/web/api/document/execcommand/index.html
  files/pt-br/web/api/document/getelementsbyname/index.html
  files/pt-br/web/api/element/id/index.html
  files/pt-br/web/css/class_selectors/index.html
  files/pt-br/web/css/hyphens/index.html
  files/pt-br/web/html/element/a/index.html
  files/pt-br/web/html/element/body/index.html
  files/pt-br/web/html/element/code/index.html
  files/pt-br/web/html/element/div/index.html
  files/pt-br/web/html/element/em/index.html
  files/pt-br/web/html/element/head/index.html
  files/pt-br/web/html/element/heading_elements/index.html
  files/pt-br/web/html/element/i/index.html
  files/pt-br/web/html/element/img/index.html
  files/pt-br/web/html/element/li/index.html
  files/pt-br/web/html/element/link/index.html
  files/pt-br/web/html/element/main/index.html
  files/pt-br/web/html/element/meta/index.html
  files/pt-br/web/html/element/ruby/index.html
  files/pt-br/web/html/element/s/index.html
  files/pt-br/web/html/element/section/index.html
  files/pt-br/web/html/element/style/index.html
  files/pt-br/web/html/element/tfoot/index.html
  files/pt-br/web/html/element/th/index.html
  files/pt-br/web/html/global_attributes/accesskey/index.html
  files/pt-br/web/html/global_attributes/autocapitalize/index.html
  files/pt-br/web/html/global_attributes/data-_star_/index.html
  files/pt-br/web/html/global_attributes/index.html
  files/pt-br/web/html/global_attributes/lang/index.html
  files/pt-br/web/html/global_attributes/tabindex/index.html
  files/pt-br/web/html/global_attributes/title/index.html
  files/pt-br/web/html/index.html
  files/pt-br/web/html/reference/index.html
  files/pt-br/web/http/headers/content-language/index.html
  files/pt-br/web/http/headers/feature-policy/index.html
Labels: l10n-pt-br

#2748 Improve Object building practice page in pt-br
  files/pt-br/learn/javascript/objects/object_building_practice/index.html
Labels: l10n-pt-br

#2927 Open source etiquette page pt br
  files/pt-br/mdn/contribute/open_source_etiquette/index.md
Labels: l10n-pt-br

#2997 chore: removes wiki developer mozilla org #1440
  files/pt-br/web/javascript/reference/global_objects/string/sup/index.html
Labels: l10n-pt-br

#2929 fix cache type graph link
  files/es/web/http/caching/index.html
  files/ja/web/http/caching/index.html
  files/ko/web/http/caching/index.html
  files/pt-br/web/http/caching/index.html
  files/ru/web/http/caching/index.html
  files/zh-cn/web/http/caching/index.html
  files/zh-tw/web/http/caching/index.html
Labels: l10n-ja, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#3002 Fix HTML live sample errors
  files/fr/web/html/applying_color/index.md
  files/fr/web/html/attributes/accept/index.md
  files/fr/web/html/attributes/capture/index.md
  files/fr/web/html/attributes/disabled/index.md
  files/fr/web/html/attributes/maxlength/index.md
  files/fr/web/html/attributes/min/index.md
  files/fr/web/html/attributes/minlength/index.md
  files/fr/web/html/attributes/multiple/index.md
  files/fr/web/html/attributes/pattern/index.md
  files/fr/web/html/attributes/readonly/index.md
  files/fr/web/html/attributes/required/index.md
  files/fr/web/html/attributes/size/index.md
  files/fr/web/html/attributes/step/index.md
  files/fr/web/html/block-level_elements/index.md
  files/fr/web/html/element/a/index.md
  files/fr/web/html/element/abbr/index.md
  files/fr/web/html/element/address/index.md
  files/fr/web/html/element/applet/index.md
  files/fr/web/html/element/area/index.md
  files/fr/web/html/element/aside/index.md
  files/fr/web/html/element/bdo/index.md
  files/fr/web/html/element/big/index.md
  files/fr/web/html/element/blockquote/index.md
  files/fr/web/html/element/br/index.md
  files/fr/web/html/element/button/index.md
  files/fr/web/html/element/canvas/index.md
  files/fr/web/html/element/cite/index.md
  files/fr/web/html/element/code/index.md
  files/fr/web/html/element/datalist/index.md
  files/fr/web/html/element/del/index.md
  files/fr/web/html/element/details/index.md
  files/fr/web/html/element/dfn/index.md
  files/fr/web/html/element/dialog/index.md
  files/fr/web/html/element/div/index.md
  files/fr/web/html/element/dl/index.md
  files/fr/web/html/element/em/index.md
  files/fr/web/html/element/fieldset/index.md
  files/fr/web/html/element/figure/index.md
  files/fr/web/html/element/form/index.md
  files/fr/web/html/element/iframe/index.md
  files/fr/web/html/element/img/index.md
  files/fr/web/html/element/input/range/index.md
  files/fr/web/html/element/kbd/index.md
  files/fr/web/html/element/ol/index.md
  files/fr/web/html/element/tr/index.md
  files/fr/web/html/inline_elements/index.md
Labels: l10n-fr

#3005 Fix EmbedLiveSample for SVG pages after md conversion - #3003
  files/fr/web/svg/attribute/clip-path/index.md
  files/fr/web/svg/attribute/cx/index.md
  files/fr/web/svg/attribute/cy/index.md
  files/fr/web/svg/attribute/d/index.md
  files/fr/web/svg/attribute/dx/index.md
  files/fr/web/svg/attribute/dy/index.md
  files/fr/web/svg/attribute/fill-opacity/index.md
  files/fr/web/svg/attribute/fill-rule/index.md
  files/fr/web/svg/attribute/fill/index.md
  files/fr/web/svg/attribute/mask/index.md
  files/fr/web/svg/attribute/points/index.md
  files/fr/web/svg/attribute/preserveaspectratio/index.md
  files/fr/web/svg/attribute/stroke-dashoffset/index.md
  files/fr/web/svg/attribute/stroke-linecap/index.md
  files/fr/web/svg/attribute/stroke-linejoin/index.md
  files/fr/web/svg/attribute/stroke-miterlimit/index.md
  files/fr/web/svg/attribute/stroke-opacity/index.md
  files/fr/web/svg/attribute/stroke-width/index.md
  files/fr/web/svg/attribute/stroke/index.md
  files/fr/web/svg/attribute/text-anchor/index.md
  files/fr/web/svg/attribute/transform/index.md
  files/fr/web/svg/element/clippath/index.md
  files/fr/web/svg/element/foreignobject/index.md
  files/fr/web/svg/element/g/index.md
  files/fr/web/svg/element/line/index.md
  files/fr/web/svg/element/marker/index.md
  files/fr/web/svg/element/mask/index.md
  files/fr/web/svg/element/pattern/index.md
  files/fr/web/svg/element/polygon/index.md
  files/fr/web/svg/element/tspan/index.md
  files/fr/web/svg/svg_animation_with_smil/index.md
  files/fr/web/svg/tutorial/basic_transformations/index.md
  files/fr/web/svg/tutorial/gradients/index.md
  files/fr/web/svg/tutorial/other_content_in_svg/index.md
  files/fr/web/svg/tutorial/paths/index.md
  files/fr/web/svg/tutorial/patterns/index.md
  files/fr/web/svg/tutorial/svg_and_css/index.md
  files/fr/web/svg/tutorial/texts/index.md
Labels: l10n-fr

#3015 convert to .md and add example on api/element/getboundingclientrect
  files/zh-cn/web/api/element/getboundingclientrect/index.md
Labels: l10n-zh

#2917 Add css/@layer translation for zh-cn
  files/zh-cn/web/css/@layer/index.md
Labels: l10n-zh

#3029 Fix typo
  files/zh-tw/web/api/web_workers_api/using_web_workers/index.html
Labels: l10n-zh

#2994 fix: [ja,ko,es,ru] update codes on Node.js server without a framework
  files/es/learn/server-side/node_server_without_framework/index.html
  files/ja/learn/server-side/node_server_without_framework/index.html
  files/ko/learn/server-side/node_server_without_framework/index.html
  files/ru/learn/server-side/node_server_without_framework/index.html
Labels: l10n-ja, l10n-es, l10n-ru, l10n-ko

#2274 [ko] new translation & fix on promise.all and promise.allSettled
  files/ko/web/javascript/reference/global_objects/promise/all/index.html
  files/ko/web/javascript/reference/global_objects/promise/allsettled/index.html
Labels: l10n-ko

#2999 [ko] Translation done of `AudioParam.defaultValue` document
  files/ko/web/api/audioparam/defaultvalue/index.md
  files/ko/web/api/audioparam/index.html
Labels: l10n-ko

#3039 Fix typo 约定俗称 -> 约定俗成
  files/zh-cn/web/javascript/reference/global_objects/date/index.html
Labels: l10n-zh

#3040 docs : abortSignal 문서 경어체로 수정
  files/ko/web/api/abortsignal/index.html
Labels: l10n-ko

#3033 An excerpt translated into Portuguese
  files/pt-br/web/api/globaleventhandlers/onblur/index.html
Labels: l10n-pt-br

#3008 Prepare MDN section for Markdown conversion
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/mdn/at_ten/history_of_mdn/index.html
  files/fr/mdn/at_ten/index.html
  files/fr/mdn/contribute/documentation_priorities/index.html
  files/fr/mdn/contribute/feedback/index.html
  files/fr/mdn/contribute/getting_started/index.html
  files/fr/mdn/contribute/github_beginners/index.html
  files/fr/mdn/contribute/github_best_practices/index.html
  files/fr/mdn/contribute/github_cheatsheet/index.html
  files/fr/mdn/contribute/help_beginners/index.html
  files/fr/mdn/contribute/howto/convert_code_samples_to_be_live/index.html
  files/fr/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/index.html
  files/fr/mdn/contribute/howto/create_and_edit_pages/index.html
  files/fr/mdn/contribute/howto/write_a_new_entry_in_the_glossary/index.html
  files/fr/mdn/contribute/index.html
  files/fr/mdn/contribute/localize/index.html
  files/fr/mdn/contribute/open_source_etiquette/index.html
  files/fr/mdn/contribute/where_is_everything/index.html
  files/fr/mdn/guidelines/code_guidelines/css/index.html
  files/fr/mdn/guidelines/code_guidelines/general/index.html
  files/fr/mdn/guidelines/code_guidelines/html/index.html
  files/fr/mdn/guidelines/code_guidelines/index.html
  files/fr/mdn/guidelines/code_guidelines/javascript/index.html
  files/fr/mdn/guidelines/code_guidelines/shell/index.html
  files/fr/mdn/guidelines/conventions_definitions/index.html
  files/fr/mdn/guidelines/css_style_guide/index.html
  files/fr/mdn/guidelines/does_this_belong_on_mdn/index.html
  files/fr/mdn/guidelines/editorial/index.html
  files/fr/mdn/guidelines/index.html
  files/fr/mdn/guidelines/video/index.html
  files/fr/mdn/guidelines/writing_style_guide/index.html
  files/fr/mdn/index.html
  files/fr/mdn/structures/compatibility_tables/index.html
  files/fr/mdn/structures/live_samples/index.html
  files/fr/mdn/structures/macros/commonly-used_macros/index.html
  files/fr/mdn/structures/macros/index.html
  files/fr/mdn/tools/kumascript/index.html
  files/fr/mdn/yari/index.html
Labels: l10n-fr

#2978 Prepare WebAssembly section for Markdown conversion
  files/fr/_wikihistory.json
  files/fr/webassembly/c_to_wasm/index.html
  files/fr/webassembly/concepts/index.html
  files/fr/webassembly/exported_functions/index.html
  files/fr/webassembly/index.html
  files/fr/webassembly/loading_and_running/index.html
  files/fr/webassembly/understanding_the_text_format/index.html
  files/fr/webassembly/using_the_javascript_api/index.html
Labels: l10n-fr

#3006 Prepare Games section for Markdown conversion
  files/fr/games/anatomy/index.html
  files/fr/games/examples/index.html
  files/fr/games/index.html
  files/fr/games/introduction/index.html
  files/fr/games/introduction_to_html5_game_development/index.html
  files/fr/games/publishing_games/game_distribution/index.html
  files/fr/games/publishing_games/game_monetization/index.html
  files/fr/games/publishing_games/game_promotion/index.html
  files/fr/games/publishing_games/index.html
  files/fr/games/techniques/2d_collision_detection/index.html
  files/fr/games/techniques/3d_on_the_web/basic_theory/index.html
  files/fr/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/index.html
  files/fr/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.html
  files/fr/games/techniques/3d_on_the_web/index.html
  files/fr/games/techniques/audio_for_web_games/index.html
  files/fr/games/techniques/index.html
  files/fr/games/tools/asm.js/index.html
  files/fr/games/tools/index.html
  files/fr/games/tutorials/2d_breakout_game_phaser/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.html
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.html
  files/fr/games/tutorials/html5_gamedev_phaser_device_orientation/index.html
  files/fr/games/tutorials/index.html
Labels: l10n-fr

#3010 Prepare Plugins section for Markdown conversion
  files/fr/plugins/guide/constants/index.html
Labels: l10n-fr

#2975 Prepare Accessibility section for Markdown conversion
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
  files/fr/web/accessibility/aria/aria_live_regions/index.html
  files/fr/web/accessibility/aria/aria_techniques/aria_technique_template/index.html
  files/fr/web/accessibility/aria/aria_techniques/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_alertdialog_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-relevant_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_aria-valuetext_attribute/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_article_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_group_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_link_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_log_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_presentation_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_progressbar_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_slider_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_status_role/index.html
  files/fr/web/accessibility/aria/aria_techniques/using_the_toolbar_role/index.html
  files/fr/web/accessibility/aria/forms/alerts/index.html
  files/fr/web/accessibility/aria/forms/basic_form_hints/index.html
  files/fr/web/accessibility/aria/forms/index.html
  files/fr/web/accessibility/aria/forms/multipart_labels/index.html
  files/fr/web/accessibility/aria/how_to_file_aria-related_bugs/index.html
  files/fr/web/accessibility/aria/index.html
  files/fr/web/accessibility/aria/roles/banner_role/index.html
  files/fr/web/accessibility/aria/roles/button_role/index.html
  files/fr/web/accessibility/aria/roles/checkbox_role/index.html
  files/fr/web/accessibility/aria/roles/dialog_role/index.html
  files/fr/web/accessibility/aria/roles/listbox_role/index.html
  files/fr/web/accessibility/aria/roles/switch_role/index.html
  files/fr/web/accessibility/aria/roles/textbox_role/index.html
  files/fr/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/fr/web/accessibility/community/index.html
  files/fr/web/accessibility/index.html
  files/fr/web/accessibility/keyboard-navigable_javascript_widgets/index.html
  files/fr/web/accessibility/understanding_wcag/index.html
  files/fr/web/accessibility/understanding_wcag/perceivable/color_contrast/index.html
  files/fr/web/accessibility/understanding_wcag/perceivable/index.html
Labels: l10n-fr

#3013 Prepare Web Demos section for Markdown conversion
  files/fr/web/demos/index.html
Labels: l10n-fr

#3014 Prepare Web Events section for Markdown conversion
  files/fr/web/events/index.html
Labels: l10n-fr

#3016 Prepare Web EXSLT section for Markdown conversion
  files/fr/web/exslt/exsl/node-set/index.html
  files/fr/web/exslt/exsl/object-type/index.html
  files/fr/web/exslt/index.html
  files/fr/web/exslt/math/highest/index.html
  files/fr/web/exslt/math/lowest/index.html
  files/fr/web/exslt/math/min/index.html
  files/fr/web/exslt/set/difference/index.html
  files/fr/web/exslt/set/distinct/index.html
  files/fr/web/exslt/set/has-same-node/index.html
  files/fr/web/exslt/set/intersection/index.html
  files/fr/web/exslt/set/leading/index.html
  files/fr/web/exslt/set/trailing/index.html
  files/fr/web/exslt/str/concat/index.html
  files/fr/web/exslt/str/split/index.html
  files/fr/web/exslt/str/tokenize/index.html
Labels: l10n-fr

#3018 Prepare Web Guide section for Markdown conversion
  files/fr/web/guide/ajax/community/index.html
  files/fr/web/guide/ajax/getting_started/index.html
  files/fr/web/guide/ajax/index.html
  files/fr/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.html
  files/fr/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.html
  files/fr/web/guide/audio_and_video_delivery/index.html
  files/fr/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/fr/web/guide/audio_and_video_manipulation/index.html
  files/fr/web/guide/graphics/index.html
  files/fr/web/guide/html/content_categories/index.html
  files/fr/web/guide/index.html
  files/fr/web/guide/introduction_to_web_development/index.html
  files/fr/web/guide/user_input_methods/index.html
Labels: l10n-fr

#3051 Update index.html
  files/ru/web/api/history_api/index.html
Labels: l10n-ru

#3019 Prepare Web Manifest section for Markdown conversion
  files/fr/web/manifest/index.html
  files/fr/web/manifest/theme_color/index.html
Labels: l10n-fr

#3020 Prepare Web MathML section for Markdown conversion
  files/fr/web/mathml/attribute/index.html
  files/fr/web/mathml/attribute/values/index.html
  files/fr/web/mathml/authoring/index.html
  files/fr/web/mathml/element/index.html
  files/fr/web/mathml/element/math/index.html
  files/fr/web/mathml/element/menclose/index.html
  files/fr/web/mathml/element/mfenced/index.html
  files/fr/web/mathml/element/mfrac/index.html
  files/fr/web/mathml/element/mi/index.html
  files/fr/web/mathml/element/mover/index.html
  files/fr/web/mathml/element/msub/index.html
  files/fr/web/mathml/element/munder/index.html
  files/fr/web/mathml/element/munderover/index.html
  files/fr/web/mathml/examples/mathml_pythagorean_theorem/index.html
  files/fr/web/mathml/index.html
Labels: l10n-fr

#3021 Prepare Web Media section for Markdown conversion
  files/fr/web/media/formats/image_types/index.html
  files/fr/web/media/formats/index.html
  files/fr/web/media/formats/support_issues/index.html
  files/fr/web/media/index.html
Labels: l10n-fr

#3022 Prepare Web Performance section for Markdown conversion
  files/fr/web/performance/how_browsers_work/index.html
  files/fr/web/performance/index.html
  files/fr/web/performance/performance_budgets/index.html
Labels: l10n-fr

#3023 Prepare Web Privacy section for Markdown conversion
  files/fr/web/privacy/tracking_protection/index.html
Labels: l10n-fr

#3024 Prepare Web Security section for Markdown conversion
  files/fr/web/security/index.html
  files/fr/web/security/referer_header_colon__privacy_and_security_concerns/index.html
  files/fr/web/security/same-origin_policy/index.html
  files/fr/web/security/subresource_integrity/index.html
Labels: l10n-fr

#3025 Prepare Web Components section for Markdown conversion
  files/fr/web/web_components/index.html
  files/fr/web/web_components/using_custom_elements/index.html
  files/fr/web/web_components/using_shadow_dom/index.html
  files/fr/web/web_components/using_templates_and_slots/index.html
Labels: l10n-fr

#3026 Prepare XML section for Markdown conversion
  files/fr/web/api/node/baseuri/index.html
  files/fr/web/xml/index.html
  files/fr/web/xml/xml_introduction/index.html
Labels: l10n-fr

#3027 Prepare XPath section for Markdown conversion
  files/fr/web/xpath/axes/ancestor-or-self/index.html
  files/fr/web/xpath/axes/ancestor/index.html
  files/fr/web/xpath/axes/attribute/index.html
  files/fr/web/xpath/axes/child/index.html
  files/fr/web/xpath/axes/descendant-or-self/index.html
  files/fr/web/xpath/axes/descendant/index.html
  files/fr/web/xpath/axes/following-sibling/index.html
  files/fr/web/xpath/axes/following/index.html
  files/fr/web/xpath/axes/namespace/index.html
  files/fr/web/xpath/axes/parent/index.html
  files/fr/web/xpath/axes/preceding-sibling/index.html
  files/fr/web/xpath/axes/preceding/index.html
  files/fr/web/xpath/axes/self/index.html
  files/fr/web/xpath/comparison_with_css_selectors/index.html
  files/fr/web/xpath/functions/boolean/index.html
  files/fr/web/xpath/functions/ceiling/index.html
  files/fr/web/xpath/functions/concat/index.html
  files/fr/web/xpath/functions/contains/index.html
  files/fr/web/xpath/functions/count/index.html
  files/fr/web/xpath/functions/current/index.html
  files/fr/web/xpath/functions/document/index.html
  files/fr/web/xpath/functions/element-available/index.html
  files/fr/web/xpath/functions/false/index.html
  files/fr/web/xpath/functions/floor/index.html
  files/fr/web/xpath/functions/format-number/index.html
  files/fr/web/xpath/functions/function-available/index.html
  files/fr/web/xpath/functions/generate-id/index.html
  files/fr/web/xpath/functions/id/index.html
  files/fr/web/xpath/functions/index.html
  files/fr/web/xpath/functions/key/index.html
  files/fr/web/xpath/functions/lang/index.html
  files/fr/web/xpath/functions/last/index.html
  files/fr/web/xpath/functions/local-name/index.html
  files/fr/web/xpath/functions/name/index.html
  files/fr/web/xpath/functions/namespace-uri/index.html
  files/fr/web/xpath/functions/normalize-space/index.html
  files/fr/web/xpath/functions/not/index.html
  files/fr/web/xpath/functions/number/index.html
  files/fr/web/xpath/functions/position/index.html
  files/fr/web/xpath/functions/round/index.html
  files/fr/web/xpath/functions/starts-with/index.html
  files/fr/web/xpath/functions/string-length/index.html
  files/fr/web/xpath/functions/string/index.html
  files/fr/web/xpath/functions/substring-after/index.html
  files/fr/web/xpath/functions/substring-before/index.html
  files/fr/web/xpath/functions/substring/index.html
  files/fr/web/xpath/functions/sum/index.html
  files/fr/web/xpath/functions/system-property/index.html
  files/fr/web/xpath/functions/translate/index.html
  files/fr/web/xpath/functions/true/index.html
  files/fr/web/xpath/functions/unparsed-entity-url/index.html
  files/fr/web/xpath/index.html
  files/fr/web/xpath/introduction_to_using_xpath_in_javascript/index.html
Labels: l10n-fr

#3028 Prepare XSLT section for Markdown conversion
  files/fr/web/xslt/element/apply-imports/index.html
  files/fr/web/xslt/element/apply-templates/index.html
  files/fr/web/xslt/element/attribute-set/index.html
  files/fr/web/xslt/element/attribute/index.html
  files/fr/web/xslt/element/call-template/index.html
  files/fr/web/xslt/element/choose/index.html
  files/fr/web/xslt/element/comment/index.html
  files/fr/web/xslt/element/copy-of/index.html
  files/fr/web/xslt/element/copy/index.html
  files/fr/web/xslt/element/decimal-format/index.html
  files/fr/web/xslt/element/element/index.html
  files/fr/web/xslt/element/fallback/index.html
  files/fr/web/xslt/element/for-each/index.html
  files/fr/web/xslt/element/if/index.html
  files/fr/web/xslt/element/include/index.html
  files/fr/web/xslt/element/index.html
  files/fr/web/xslt/element/key/index.html
  files/fr/web/xslt/element/message/index.html
  files/fr/web/xslt/element/namespace-alias/index.html
  files/fr/web/xslt/element/number/index.html
  files/fr/web/xslt/element/otherwise/index.html
  files/fr/web/xslt/element/output/index.html
  files/fr/web/xslt/element/param/index.html
  files/fr/web/xslt/element/preserve-space/index.html
  files/fr/web/xslt/element/processing-instruction/index.html
  files/fr/web/xslt/element/sort/index.html
  files/fr/web/xslt/element/strip-space/index.html
  files/fr/web/xslt/element/stylesheet/index.html
  files/fr/web/xslt/element/template/index.html
  files/fr/web/xslt/element/text/index.html
  files/fr/web/xslt/element/transform/index.html
  files/fr/web/xslt/element/value-of/index.html
  files/fr/web/xslt/element/variable/index.html
  files/fr/web/xslt/element/when/index.html
  files/fr/web/xslt/element/with-param/index.html
  files/fr/web/xslt/index.html
  files/fr/web/xslt/pi_parameters/index.html
  files/fr/web/xslt/transforming_xml_with_xslt/an_overview/index.html
  files/fr/web/xslt/transforming_xml_with_xslt/for_further_reading/index.html
  files/fr/web/xslt/transforming_xml_with_xslt/index.html
  files/fr/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/index.html
  files/fr/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.html
  files/fr/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.html
  files/fr/web/xslt/xslt_js_interface_in_gecko/basic_example/index.html
  files/fr/web/xslt/xslt_js_interface_in_gecko/javascript_xslt_bindings/index.html
  files/fr/web/xslt/xslt_js_interface_in_gecko/resources/index.html
  files/fr/web/xslt/xslt_js_interface_in_gecko/setting_parameters/index.html
Labels: l10n-fr

#3036 fix: internal link
  files/fr/web/html/element/input/index.md
Labels: l10n-fr

#3071 Update index.md
  files/fr/web/css/_doublecolon_first-letter/index.md
Labels: l10n-fr

#2703 Complete fr translation for LA "Practical positioning examples"
  files/fr/learn/css/css_layout/practical_positioning_examples/index.html
Labels: l10n-fr

#2986 fix: [FR] typo on Models page
  files/fr/learn/server-side/django/models/index.html
Labels: l10n-fr

#2967 Add a code example
  files/zh-cn/web/javascript/reference/global_objects/promise/resolve/index.html
Labels: l10n-zh

#3050 supply falsy -0 0n
  files/zh-cn/glossary/truthy/index.html
Labels: l10n-zh

#2931 Add link to next page
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: l10n-zh

#2830 [ko] Translation done of 'Advanced techniques: Creating and sequencing audio' document
  files/ko/web/api/web_audio_api/advanced_techniques/index.html
Labels: l10n-ko

#3009 Small typo fix
  files/pt-br/web/javascript/guide/control_flow_and_error_handling/index.html
Labels: l10n-pt-br

#3072 fix typo
  files/pt-br/web/css/white-space/index.html
Labels: l10n-pt-br

#3079 Updated URI in index.html
  files/pt-br/glossary/falsy/index.html
Labels: l10n-pt-br

#2798 Update index.html
  files/pt-br/web/api/htmlelement/input_event/index.html
Labels: l10n-pt-br

#3082 fix: remove whitespace before period
  files/fr/web/api/node/parentnode/index.md
Labels: l10n-fr

#2988 fix: [FR] typo on admin_site page
  files/fr/learn/server-side/django/admin_site/index.html
Labels: l10n-fr

#2983 Web/CSS/font-smooth を新規翻訳
  files/ja/web/css/font-smooth/index.md
Labels: l10n-ja

#3100 (ru) Fix typo at "Regular Expressions" page
  files/ru/web/javascript/guide/regular_expressions/index.html
Labels: l10n-ru

#3103 Prepare PWA section for Markdown conversion
  files/fr/web/progressive_web_apps/add_to_home_screen/index.html
  files/fr/web/progressive_web_apps/app_structure/index.html
  files/fr/web/progressive_web_apps/index.html
  files/fr/web/progressive_web_apps/installable_pwas/index.html
  files/fr/web/progressive_web_apps/introduction/index.html
  files/fr/web/progressive_web_apps/loading/index.html
  files/fr/web/progressive_web_apps/offline_service_workers/index.html
  files/fr/web/progressive_web_apps/re-engageable_notifications_push/index.html
  files/fr/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.html
Labels: l10n-fr

#3094 fix wrong <code> position
  files/zh-cn/web/javascript/guide/details_of_the_object_model/index.html
Labels: l10n-zh

#3107 从...创建->对...创建
  files/zh-cn/web/javascript/reference/global_objects/array/from/index.html
Labels: l10n-zh

#3112 Finalize Markdown conversion preparation for French
  files/fr/web/api/node/baseuri/index.html
  files/fr/web/css/media_queries/using_media_queries/index.html
  files/fr/web/index.html
  files/fr/web/javascript/reference/global_objects/string/index.html
Labels: l10n-fr

#2709 Fixes #2598 (revamp fr localization vs en-US)
  files/fr/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
Labels: l10n-fr

#3118 Typo fix
  files/fr/web/api/idbobjectstore/index.md
Labels: l10n-fr

#3074 Convert file contents to Markdown and add Intranets and Extranets section
  files/pt-br/learn/common_questions/how_does_the_internet_work/dns-ip.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/index.html
  files/pt-br/learn/common_questions/how_does_the_internet_work/index.md
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-1.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-2.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-3.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-4.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-5.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-6.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-7.png
  files/pt-br/learn/common_questions/how_does_the_internet_work/internet-schema-8.png
Labels: l10n-pt-br

#3106 Typofix (min/max)
  files/fr/web/api/analysernode/mindecibels/index.md
Labels: l10n-fr

#3122 Fix translated `type` attribute
  files/fr/web/html/element/input/datetime-local/index.md
Labels: l10n-fr

#3124 Fix typo FR
  files/fr/web/web_components/using_templates_and_slots/index.md
Labels: l10n-fr

#2920 [ko] Translation done of 'AudioWorkletNode.port' document
  files/ko/web/api/audioworkletnode/port/index.md
Labels: l10n-ko

#3086 fix: [FR] typo error
  files/fr/learn/server-side/django/generic_views/index.md
  files/fr/learn/server-side/django/home_page/index.md
Labels: l10n-fr

#3129 adds missing space
  files/ru/web/javascript/reference/global_objects/promise/index.html
Labels: l10n-ru

#3131 (ru) Fix link at "First-class Functions" page
  files/ru/glossary/first-class_function/index.html
Labels: l10n-ru

#3114 File extensions have been changed in repo
  files/fr/web/javascript/guide/modules/index.md
Labels: l10n-fr

#3133 [ko] translation modified and additional modification
  files/ko/web/api/analysernode/getbytefrequencydata/index.html
  files/ko/web/api/analysernode/getfloattimedomaindata/index.html
  files/ko/web/api/audioparam/settargetattime/index.md
  files/ko/web/api/audioparam/value/index.md
  files/ko/web/api/audioworkletnode/audioworkletnode/index.md
  files/ko/web/api/audioworkletnode/parameters/index.md
  files/ko/web/api/audioworkletprocessor/audioworkletprocessor/index.md
  files/ko/web/api/web_audio_api/advanced_techniques/index.html
  files/ko/web/api/web_audio_api/controlling_multiple_parameters_with_constantsourcenode/index.html
  files/ko/web/api/web_audio_api/index.html
  files/ko/web/api/web_audio_api/migrating_from_webkitaudiocontext/index.html
  files/ko/web/api/web_audio_api/using_web_audio_api/index.html
Labels: l10n-ko

#3092 大文字小文字の修正
  files/ja/web/api/treewalker/index.html
Labels: l10n-ja

#3125 Fix typo (not resource but read)
  files/ja/web/http/cross-origin_resource_policy_(corp)/index.html
Labels: l10n-ja

#2950 [ko] Translation done of 'AudioWorkletProcessor.parameterDescriptors (static getter)' document
  files/ko/web/api/audioworkletprocessor/parameterdescriptors/index.md
Labels: l10n-ko

#3099 prefers-contrast の内容を英語に追従
  files/ja/web/css/@media/prefers-contrast/index.html
Labels: l10n-ja

#3126 css flexbox spell check and correction of links
  files/pt-br/web/css/css_flexible_box_layout/index.html
  files/pt-br/web/css/css_flexible_box_layout/index.md
Labels: l10n-pt-br

#3144 flex-basis の既定値が1となっていたのを0に修正
  files/ja/web/css/flex/index.md
Labels: l10n-ja

#3148 用語集accentの翻訳
  files/ja/glossary/accent/index.md
Labels: l10n-ja

#3046 create `zh-CN` translation `Glossary/WebDAV`
  files/zh-cn/glossary/webdav/index.html
Labels: l10n-zh

#3137 fr-glossary/alpha id:85
  files/fr/glossary/alpha/index.md
Labels: l10n-fr

#3157 Update Web index
  files/ko/web/index.html
  files/ko/web/index.md
Labels: l10n-ko

#3132 Update index.html
  files/ja/web/api/window/getcomputedstyle/index.html
Labels: l10n-ja

#3164 Rewrite setTimeout()
  files/ko/web/api/settimeout/index.html
  files/ko/web/api/settimeout/index.md
Labels: l10n-ko

#3176 fix unintentional code block
  files/ja/web/javascript/reference/global_objects/object/defineproperty/index.md
Labels: l10n-ja

#3091 Web/Progressive_web_apps/Structural_overview を新規翻訳
  files/ja/web/progressive_web_apps/structural_overview/index.md
Labels: l10n-ja

#3179 Typo fix for Learning Area article on CSS Box model
  files/fr/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-fr

#2834 Fixes #2805 - update of transform-function pages
  files/fr/web/css/transform-function/matrix()/index.md
  files/fr/web/css/transform-function/matrix3d()/index.md
  files/fr/web/css/transform-function/perspective()/index.md
  files/fr/web/css/transform-function/rotate()/index.md
  files/fr/web/css/transform-function/rotate3d()/index.md
  files/fr/web/css/transform-function/rotatex()/index.md
  files/fr/web/css/transform-function/rotatey()/index.md
  files/fr/web/css/transform-function/rotatez()/index.md
  files/fr/web/css/transform-function/scale()/index.md
  files/fr/web/css/transform-function/scale3d()/index.md
  files/fr/web/css/transform-function/scalex()/index.md
  files/fr/web/css/transform-function/scaley()/index.md
  files/fr/web/css/transform-function/scalez()/index.md
  files/fr/web/css/transform-function/skew()/index.md
  files/fr/web/css/transform-function/skewx()/index.md
  files/fr/web/css/transform-function/skewy()/index.md
  files/fr/web/css/transform-function/translate()/index.md
  files/fr/web/css/transform-function/translate3d()/index.md
  files/fr/web/css/transform-function/translatex()/index.md
  files/fr/web/css/transform-function/translatey()/index.md
  files/fr/web/css/transform-function/translatez()/index.md
Labels: l10n-fr

#3170 Fix: MDC -> MDN
  files/zh-cn/web/svg/tutorial/introduction/index.html
Labels: l10n-zh

#3189 convert zh-cn/web/api/fetch_api/using_fetch to .md and update to English version, rebase #3185
  files/zh-cn/web/api/fetch_api/using_fetch/index.html
  files/zh-cn/web/api/fetch_api/using_fetch/index.md
Labels: l10n-zh

#3190 Fix Typos
  files/pt-br/glossary/idempotent/index.html
  files/pt-br/web/api/document/registerelement/index.html
  files/pt-br/web/api/htmlcontentelement/index.html
  files/pt-br/web/api/window/applicationcache/index.html
  files/pt-br/web/http/headers/feature-policy/index.html
  files/pt-br/web/http/headers/if-none-match/index.html
  files/pt-br/web/javascript/guide/indexed_collections/index.html
  files/pt-br/web/javascript/guide/meta_programming/index.html
  files/pt-br/web/javascript/reference/global_objects/date/setutcmonth/index.html
  files/pt-br/web/javascript/reference/global_objects/date/toisostring/index.html
  files/pt-br/web/javascript/reference/global_objects/date/tosource/index.html
  files/pt-br/web/javascript/reference/global_objects/date/tostring/index.html
  files/pt-br/web/javascript/reference/global_objects/math/acos/index.html
  files/pt-br/web/javascript/reference/global_objects/math/log1p/index.html
  files/pt-br/web/javascript/reference/global_objects/number/isinteger/index.html
  files/pt-br/web/javascript/reference/global_objects/object/defineproperty/index.html
  files/pt-br/web/javascript/reference/global_objects/object/tolocalestring/index.html
  files/pt-br/web/javascript/reference/global_objects/object/tosource/index.html
  files/pt-br/web/javascript/reference/global_objects/reflect/index.html
  files/pt-br/web/javascript/reference/global_objects/undefined/index.html
  files/pt-br/web/javascript/reference/global_objects/weakmap/delete/index.html
  files/pt-br/web/javascript/reference/global_objects/weakmap/get/index.html
  files/pt-br/web/javascript/reference/operators/class/index.html
  files/pt-br/web/javascript/reference/operators/destructuring_assignment/index.html
  files/pt-br/web/javascript/reference/statements/import.meta/index.html
Labels: l10n-pt-br

#3191 Update example
  files/fr/web/javascript/reference/global_objects/number/index.md
Labels: l10n-fr

#3197 Update index.md
  files/fr/web/css/box-shadow/index.md
Labels: l10n-fr

#3194 Modifed link_prefetching_faq doc content
  files/zh-cn/web/http/link_prefetching_faq/index.html
Labels: l10n-zh

#3201 replace with zh-CN
  files/zh-cn/learn/accessibility/index.html
Labels: l10n-zh

#3109 Remove o número 10 de métodos Math.
  files/pt-br/web/javascript/reference/global_objects/math/round/index.html
Labels: l10n-pt-br

#3192 Spelling correction in the text in Brazilian Portuguese
  files/pt-br/web/html/element/script/index.html
Labels: l10n-pt-br

#3204 [ko] Translation done of `AudioNode.numberOfOutputs` document
  files/ko/web/api/audionode/index.html
  files/ko/web/api/audionode/numberofoutputs/index.md
Labels: l10n-ko

#3142 Referrer-Policyを最新版の内容に更新
  files/ja/web/http/headers/referrer-policy/index.html
Labels: l10n-ja

#3017 [pt-br,ru,es] padding broken links #2965
  files/es/web/css/padding/index.html
  files/pt-br/web/css/padding/index.html
  files/ru/web/css/padding/index.html
Labels: l10n-es, l10n-ru, l10n-pt-br

#2820 [ko] Translation done of 'Background audio processing using AudioWorklet' document
  files/ko/web/api/web_audio_api/using_audioworklet/index.html
Labels: l10n-ko

#3136 [ko]Correct mistranslation from 'Using Media Queries for Accessibility'
  files/ko/web/css/media_queries/using_media_queries_for_accessibility/index.html
Labels: l10n-ko

#3216 Fix: Ordered List Wrong Attribute
  files/fr/web/html/element/ol/index.md
Labels: l10n-fr

#3214 Update links for page HTTP
  files/ru/web/http/index.html
Labels: l10n-ru

#3202 Correct indentation
  files/ja/web/javascript/reference/global_objects/string/charat/index.md
Labels: l10n-ja

#3147 payload_body の翻訳
  files/ja/glossary/payload_body/index.md
Labels: l10n-ja

#3156 Modify margins to margin
  files/ja/learn/css/building_blocks/sizing_items_in_css/index.html
Labels: l10n-ja

#3208 Modify the problem that the code is not highlighted
  files/zh-cn/web/javascript/closures/index.html
Labels: l10n-zh

#3213 fix:resolve symbol instance methods and properties not render
  files/zh-cn/web/javascript/reference/global_objects/symbol/index.html
Labels: l10n-zh

#2782 [ko] Translation done to 'Web audio spatialization basics' document
  files/ko/web/api/web_audio_api/web_audio_spatialization_basics/index.html
Labels: l10n-ko

#3007 [Ko] fix cors link
  files/ko/web/http/cors/index.html
Labels: l10n-ko

#3097 [ko] Translation done of `AudioParamMap` document
  files/ko/web/api/audioparammap/index.md
Labels: l10n-ko
