Repository mdn/translated-content, pull requests merged in 2021-10, with the labels that each got.

#2615 [fr] Indiquer des cadres et non des images
  files/fr/mozilla/add-ons/webextensions/api/tabs/executescript/index.html
Labels: l10n-fr

#2557 Translate JS Date constructor page into fr
  files/fr/web/javascript/reference/global_objects/date/date/index.md
Labels: l10n-fr

#2614 Add French translation for :playing reference
  files/fr/web/css/_colon_playing/index.md
Labels: l10n-fr

#2617 fix(picture): add missing translation
  files/zh-cn/web/html/element/picture/index.html
Labels: l10n-zh

#2609 Fix incorrect translation
  files/zh-cn/web/javascript/reference/global_objects/globalthis/index.html
Labels: l10n-zh

#2587 Svelte todo list beginning (zh-TW translation) (partial)
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/index.html
Labels: l10n-zh

#2611 补充缺失的「Sort stability」部分
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.html
Labels: l10n-zh

#2625 Update glossary "hoisting" entry
  files/ko/glossary/hoisting/index.html
Labels: l10n-ko

#2561 Web/API/Element/scroll を新規翻訳
  files/ja/web/api/element/scroll/index.md
Labels: l10n-ja

#2564 Web/HTTP/CSP/Errors を新規翻訳
  files/ja/web/http/csp/errors/index.md
Labels: l10n-ja

#2574 Web/HTTP/CSP/Errors/CSPViolation を新規翻訳
  files/ja/web/http/csp/errors/cspviolation/index.md
Labels: l10n-ja

#2635 Web/Security/Same-origin_policy を更新
  files/ja/web/security/same-origin_policy/index.html
Labels: l10n-ja

#2591 Web/HTML/link_types の noopenerの注釈を翻訳
  files/ja/web/html/link_types/index.html
Labels: l10n-ja

#2578 Learn/Forms/Sending_and_retrieving_form_data を更新
  files/ja/learn/forms/sending_and_retrieving_form_data/index.html
Labels: l10n-ja

#2637 Fix link from english page to french
  files/fr/learn/common_questions/how_does_the_internet_work/index.html
Labels: l10n-fr

#2394 Fixes #2382 - updates page vs en-US / lint / rm xref macros
  files/fr/web/api/domtokenlist/toggle/index.md
Labels: l10n-fr

#2651 (ru) Web/API/URL/hash: add translation
  files/ru/web/api/url/hash/index.md
Labels: l10n-ru

#2643 コードブロック中の&gt;を `>`に変更
  files/ja/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-ja

#2650 fix: update fr docs with proper style tag
  files/fr/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-fr

#2580 translate(zh-CN): Web/CSS/color-scheme
  files/zh-cn/web/css/color-scheme/index.md
Labels: l10n-zh

#2634 update requestIdleCallback page translation（Chinese）
  files/zh-cn/web/api/window/requestidlecallback/index.html
Labels: l10n-zh

#2677 fix typo on Chinese translation
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: l10n-zh

#2674 fix typo
  files/zh-cn/learn/common_questions/thinking_before_coding/index.html
Labels: l10n-zh

#2675 Fix typo
  files/ja/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.html
Labels: l10n-ja

#2644 Fixes #2636
  files/fr/glossary/irc/index.html
Labels: l10n-fr

#2400 l10n: add getBoundingClientRect for ko
  files/ko/web/api/element/getboundingclientrect/element-box-diagram.png
  files/ko/web/api/element/getboundingclientrect/index.html
Labels: l10n-ko

#2624 [ko] update translation-guide
  docs/ko/translation-guide.md
Labels: l10n-ko

#2652 Fix 404 link Create_the_Canvas_and_draw_on_it (kr)
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/index.html
Labels: l10n-ko

#2672 Minor fixes in translation
  files/pt-br/web/javascript/guide/regular_expressions/index.html
Labels: l10n-pt-br

#2590 Word correction
  files/pt-br/learn/accessibility/html/index.html
Labels: l10n-pt-br

#2607 "Referência" being used like a verb
  files/pt-br/glossary/request_header/index.html
Labels: l10n-pt-br

#2680 fix typo
  files/pt-br/web/api/webgl_api/index.html
Labels: l10n-pt-br

#2533 Alterações solicitadas para tradução de custom element registry
  files/pt-br/web/api/customelementregistry/define/index.html
  files/pt-br/web/api/customelementregistry/get/index.html
  files/pt-br/web/api/customelementregistry/upgrade/index.html
  files/pt-br/web/api/customelementregistry/whendefined/index.html
Labels: l10n-pt-br

#1994 [ko]Accessibility_inspector, Simulation 번역
  files/ko/tools/accessibility_inspector/index.html
  files/ko/tools/accessibility_inspector/simulation/index.html
Labels: l10n-ko

#2673 Javascript reference error cant_delete page in pt-br
  files/pt-br/web/javascript/reference/errors/cant_delete/index.md
Labels: l10n-pt-br

#2603 korean translation : edit toString() to add content about parameter
  files/ko/web/javascript/reference/global_objects/object/tostring/index.html
Labels: l10n-ko

#2658 Remove duplicate text
  files/ja/web/security/same-origin_policy/index.html
Labels: l10n-ja

#2694 remove duplicate line in Chinese translation
  files/zh-cn/web/css/css_grid_layout/layout_using_named_grid_lines/index.html
Labels: l10n-zh

#2696 update translation
  files/zh-cn/learn/html/introduction_to_html/getting_started/index.html
Labels: l10n-zh

#2687 Remove confusing text in the example
  files/zh-cn/web/api/document/createtextnode/index.html
Labels: l10n-zh

#2678 訳を修正
  files/ja/web/html/element/link/index.html
Labels: l10n-ja

#2710 Fixes #2670 (revamp fr version vs en-US)
  files/fr/web/css/z-index/index.md
Labels: l10n-fr

#2714 Improve Simplified Chinese Translation
  files/zh-cn/web/javascript/reference/global_objects/array/includes/index.html
Labels: l10n-zh

#2731 edit toString() to fix syntax of content
  files/ko/web/javascript/reference/global_objects/object/tostring/index.html
Labels: l10n-ko

#1358 (ru) Fix Push API page translation
  files/ru/web/api/push_api/index.html
  files/ru/web/api/push_api/index.md
Labels: l10n-ru

#2758 [ko] Translation done to 'Web Audio API best practices' document
  files/ko/web/api/web_audio_api/best_practices/index.html
Labels: l10n-ko

#2740 Where is everything page in pt-br
  files/pt-br/mdn/contribute/where_is_everything/index.html
Labels: l10n-pt-br

#2351 [pt-BR] Translating Global_Objects/Array/Map
  files/pt-br/web/javascript/reference/global_objects/map/@@iterator/index.md
  files/pt-br/web/javascript/reference/global_objects/map/@@species/index.md
  files/pt-br/web/javascript/reference/global_objects/map/@@tostringtag/index.md
  files/pt-br/web/javascript/reference/global_objects/map/clear/index.md
  files/pt-br/web/javascript/reference/global_objects/map/delete/index.md
  files/pt-br/web/javascript/reference/global_objects/map/entries/index.md
  files/pt-br/web/javascript/reference/global_objects/map/foreach/index.md
  files/pt-br/web/javascript/reference/global_objects/map/get/index.md
  files/pt-br/web/javascript/reference/global_objects/map/has/index.md
  files/pt-br/web/javascript/reference/global_objects/map/index.md
  files/pt-br/web/javascript/reference/global_objects/map/keys/index.md
  files/pt-br/web/javascript/reference/global_objects/map/map/index.md
  files/pt-br/web/javascript/reference/global_objects/map/set/index.md
  files/pt-br/web/javascript/reference/global_objects/map/size/index.md
  files/pt-br/web/javascript/reference/global_objects/map/values/index.md
Labels: l10n-pt-br

#2786 (ru) Remove untranslated page
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.html
Labels: l10n-ru

#2810 Delete PR Lint workflow which depends on mdn/content CI (now deleted)
  .github/workflows/pr-lint.yml
Labels: bug, system

#2840 Fixes #2835 / update vs en-US / xref macro removal
  files/fr/web/api/eventlistener/index.md
Labels: l10n-fr

#2893 (ru) Make proofread of Glossary
  files/ru/glossary/abstraction/index.html
  files/ru/glossary/accessibility/index.html
  files/ru/glossary/accessibility_tree/index.html
  files/ru/glossary/algorithm/index.html
  files/ru/glossary/alignment_container/index.html
  files/ru/glossary/api/index.html
  files/ru/glossary/apple_safari/index.html
  files/ru/glossary/application_context/index.html
  files/ru/glossary/argument/index.html
  files/ru/glossary/aria/index.html
  files/ru/glossary/arpa/index.html
  files/ru/glossary/arpanet/index.html
  files/ru/glossary/array/index.html
  files/ru/glossary/ascii/index.html
  files/ru/glossary/asynchronous/index.html
  files/ru/glossary/atag/index.html
  files/ru/glossary/attribute/index.html
  files/ru/glossary/bandwidth/index.html
  files/ru/glossary/block/css/index.html
  files/ru/glossary/block/scripting/index.html
  files/ru/glossary/browsing_context/index.html
  files/ru/glossary/call_stack/index.html
  files/ru/glossary/callback_function/index.html
  files/ru/glossary/canvas/index.html
  files/ru/glossary/card_sorting/index.html
  files/ru/glossary/cdn/index.html
  files/ru/glossary/chrome/index.html
  files/ru/glossary/constant/index.html
  files/ru/glossary/constructor/index.html
  files/ru/glossary/decryption/index.html
  files/ru/glossary/dom/index.html
  files/ru/glossary/ecmascript/index.html
  files/ru/glossary/encapsulation/index.html
  files/ru/glossary/function/index.html
  files/ru/glossary/gecko/index.html
  files/ru/glossary/global_object/index.html
  files/ru/glossary/hash/index.html
  files/ru/glossary/head/index.html
  files/ru/glossary/host/index.html
  files/ru/glossary/http/index.html
  files/ru/glossary/http_2/index.html
  files/ru/glossary/iana/index.html
  files/ru/glossary/identifier/index.html
  files/ru/glossary/null/index.html
  files/ru/glossary/oop/index.html
  files/ru/glossary/opengl/index.html
  files/ru/glossary/polymorphism/index.html
  files/ru/glossary/safe/index.html
  files/ru/glossary/simple_header/index.html
  files/ru/glossary/svg/index.html
  files/ru/glossary/ui/index.html
  files/ru/glossary/webkit/index.html
  files/ru/web/api/broadcastchannel/index.html
  files/ru/web/api/element/createshadowroot/index.html
  files/ru/web/http/authentication/index.html
  files/ru/web/http/connection_management_in_http_1.x/index.html
  files/ru/web/http/overview/index.html
Labels: l10n-ru

#2916 Fix link to CSS optimizations page
  files/ru/web/performance/lazy_loading/index.html
Labels: l10n-ru

#2919 Update code examples according to EN version
  files/ru/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-ru

#2799 [ko] Translation done of 'Tools for analyzing Web Audio usage' document.
  files/ko/web/api/web_audio_api/tools/index.html
Labels: l10n-ko

#2907 adjust statement order
  files/zh-cn/web/api/service_worker_api/index.html
Labels: l10n-zh

#2902 supply for...in content
  files/zh-cn/web/javascript/reference/statements/for...in/index.html
Labels: l10n-zh

#2912 fix Object.create error content
  files/zh-cn/web/javascript/reference/global_objects/object/create/index.html
Labels: l10n-zh

#2922 fix if-none-match error content
  files/zh-cn/web/http/headers/if-none-match/index.html
Labels: l10n-zh

#2923 Wrong link for inline elements fixed.
  files/zh-cn/web/html/block-level_elements/index.html
Labels: l10n-zh

#2860 Firefox 93 for developers を翻訳
  files/ja/mozilla/firefox/releases/93/index.html
Labels: l10n-ja
