Repository mdn/translated-content, pull requests merged in 2022-03, with the labels that each got.

#4306 Update content and convert to md of Proxy [es]
  files/es/web/javascript/reference/global_objects/proxy/index.html
  files/es/web/javascript/reference/global_objects/proxy/index.md
Labels: l10n-es

#4317 Update index.md
  files/fr/learn/server-side/first_steps/website_security/index.md
Labels: l10n-fr

#4325 [fr] Fix typo
  files/fr/web/html/element/input/time/index.md
Labels: l10n-fr

#4327 docs: update BigInt
  files/zh-cn/web/javascript/reference/global_objects/bigint/index.html
Labels: l10n-zh

#4309 Update index.html
  files/zh-cn/web/javascript/reference/statements/export/index.html
Labels: l10n-zh

#4276 Add @cw118 to fr team - Mentions in the docs
  PEERS_GUIDELINES.md
  files/ja/mdn/contribute/localize/index.html
  files/zh-cn/mdn/contribute/localize/index.html
Labels: l10n-ja, l10n-zh

#4334 Fix for typo in link of index.md
  files/fr/mdn/contribute/feedback/index.md
Labels: l10n-fr

#1625 correcting some phrases
  files/es/web/http/headers/cache-control/index.html
  files/es/web/http/headers/cache-control/index.md
Labels: l10n-es

#4308 8. number parsefloat [es]
  files/es/web/javascript/reference/global_objects/parsefloat/index.html
  files/es/web/javascript/reference/global_objects/parsefloat/index.md
Labels: l10n-es

#4321 Translate and rename index.html to index.md
  files/es/web/javascript/reference/global_objects/date/tolocaledatestring/index.html
  files/es/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Labels: l10n-es

#4323 translate URIError to spanish
  files/es/web/javascript/reference/global_objects/urierror/index.html
  files/es/web/javascript/reference/global_objects/urierror/index.md
Labels: l10n-es

#4359 Update index.html
  files/es/glossary/prototype-based_programming/index.html
Labels: l10n-es

#4362 Translate and rename index.html to index.md
  files/es/web/javascript/reference/global_objects/evalerror/index.html
  files/es/web/javascript/reference/global_objects/evalerror/index.md
Labels: l10n-es

#4119 Typo fixes in PWA loading article
  files/fr/web/progressive_web_apps/loading/index.md
Labels: l10n-fr

#4091 fix: typos in french offsetLeft property document
  files/fr/web/api/htmlelement/offsetleft/index.md
Labels: l10n-fr

#4351 fr-web/api/htmlmediaelement/loop id:4287
  files/fr/web/api/htmlmediaelement/loop/index.md
Labels: l10n-fr

#4350 Markdown fixes part 2 (fr/web/c-g)
  files/fr/web/css/@document/index.md
  files/fr/web/css/@keyframes/index.md
  files/fr/web/css/@media/-ms-high-contrast/index.md
  files/fr/web/css/@media/display-mode/index.md
  files/fr/web/css/_colon_-moz-broken/index.md
  files/fr/web/css/_colon_not/index.md
  files/fr/web/css/_doublecolon_after/index.md
  files/fr/web/css/_doublecolon_before/index.md
  files/fr/web/css/angle/index.md
  files/fr/web/css/animation-timing-function/index.md
  files/fr/web/css/border-bottom/index.md
  files/fr/web/css/border-left/index.md
  files/fr/web/css/border-right/index.md
  files/fr/web/css/border-top/index.md
  files/fr/web/css/break-after/index.md
  files/fr/web/css/clear/index.md
  files/fr/web/css/clip/index.md
  files/fr/web/css/color/index.md
  files/fr/web/css/column-rule-style/index.md
  files/fr/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/fr/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/fr/web/css/css_columns/handling_content_breaks_in_multicol/index.md
  files/fr/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
  files/fr/web/css/css_flexible_box_layout/index.md
  files/fr/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
  files/fr/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/fr/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.md
  files/fr/web/css/dimension/index.md
  files/fr/web/css/font-smooth/index.md
  files/fr/web/css/font-variant-caps/index.md
  files/fr/web/css/font-variant/index.md
  files/fr/web/css/height/index.md
  files/fr/web/css/image/index.md
  files/fr/web/css/justify-items/index.md
  files/fr/web/css/layout_cookbook/grid_wrapper/index.md
  files/fr/web/css/layout_cookbook/pagination/index.md
  files/fr/web/css/margin/index.md
  files/fr/web/css/mask-size/index.md
  files/fr/web/css/outline-color/index.md
  files/fr/web/css/overflow/index.md
  files/fr/web/css/overscroll-behavior-x/index.md
  files/fr/web/css/ratio/index.md
  files/fr/web/css/text-transform/index.md
  files/fr/web/css/touch-action/index.md
  files/fr/web/css/used_value/index.md
  files/fr/web/css/value_definition_syntax/index.md
  files/fr/web/css/webkit_extensions/index.md
  files/fr/web/demos/index.md
  files/fr/web/guide/api/index.md
  files/fr/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
Labels: l10n-fr

#4363 Markdown fixes part 3 (fr/web/h*)
  files/fr/web/html/element/area/index.md
  files/fr/web/html/element/bdi/index.md
  files/fr/web/html/element/button/index.md
  files/fr/web/html/element/caption/index.md
  files/fr/web/html/element/col/index.md
  files/fr/web/html/element/del/index.md
  files/fr/web/html/element/dt/index.md
  files/fr/web/html/element/heading_elements/index.md
  files/fr/web/html/element/img/index.md
  files/fr/web/html/element/link/index.md
  files/fr/web/html/element/map/index.md
  files/fr/web/html/element/marquee/index.md
  files/fr/web/html/element/meta/index.md
  files/fr/web/html/element/meter/index.md
  files/fr/web/html/element/object/index.md
  files/fr/web/html/element/output/index.md
  files/fr/web/html/element/pre/index.md
  files/fr/web/html/element/q/index.md
  files/fr/web/html/element/rtc/index.md
  files/fr/web/html/element/style/index.md
  files/fr/web/html/element/td/index.md
  files/fr/web/html/element/tfoot/index.md
  files/fr/web/html/element/th/index.md
  files/fr/web/html/element/thead/index.md
  files/fr/web/html/element/wbr/index.md
  files/fr/web/html/global_attributes/title/index.md
  files/fr/web/http/caching/index.md
  files/fr/web/http/conditional_requests/index.md
  files/fr/web/http/cors/index.md
  files/fr/web/http/headers/authorization/index.md
  files/fr/web/http/headers/content-disposition/index.md
  files/fr/web/http/headers/content-encoding/index.md
  files/fr/web/http/headers/etag/index.md
  files/fr/web/http/headers/if-modified-since/index.md
  files/fr/web/http/headers/if-none-match/index.md
  files/fr/web/http/headers/set-cookie/index.md
  files/fr/web/http/methods/post/index.md
  files/fr/web/http/methods/trace/index.md
  files/fr/web/http/public_key_pinning/index.md
Labels: l10n-fr

#4254 Fixes Korean Compat Data for methods
  files/ko/web/http/methods/index.html
Labels: l10n-ko

#4315 [ko] Update Proxy
  files/ko/web/javascript/reference/global_objects/proxy/index.html
Labels: l10n-ko

#4364 Update index.html
  files/es/learn/getting_started_with_the_web/what_will_your_website_look_like/index.html
Labels: l10n-es

#4151 fixes #4012 - update pages vs en-US
  files/fr/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/fr/web/javascript/reference/global_objects/date/tolocalestring/index.md
Labels: l10n-fr

#4345 update registerProtocolHandler fr
  files/fr/web/api/navigator/registerprotocolhandler/index.md
Labels: l10n-fr

#4375 fix typo
  files/ja/web/css/media_queries/index.md
Labels: l10n-ja

#4299 Node.lookupNamespaceURI を新規翻訳
  files/ja/web/api/node/lookupnamespaceuri/index.md
Labels: l10n-ja

#4339 Element.openOrClosedShadowRoot を新規翻訳
  files/ja/web/api/element/openorclosedshadowroot/index.md
Labels: l10n-ja

#4342 Element.scrollTopMax を新規翻訳
  files/ja/web/api/element/scrolltopmax/index.md
Labels: l10n-ja

#4377 Page not found of '\n' in Regular_Expressions page
  files/zh-cn/web/javascript/guide/regular_expressions/index.html
Labels: l10n-zh

#4381 fix: an error in translation
  files/zh-cn/web/api/formdata/get/index.html
Labels: l10n-zh

#4376 Fix: type
  files/zh-cn/web/javascript/reference/global_objects/regexp/n/index.html
Labels: l10n-zh

#4346 create zh-CN translation for glossary/digest
  files/zh-cn/glossary/digest/index.md
Labels: l10n-zh

#4386 Update URIError docs / translate missing constructor page
  files/fr/web/javascript/reference/global_objects/urierror/index.md
  files/fr/web/javascript/reference/global_objects/urierror/urierror/index.md
Labels: l10n-fr

#4398 fix: delete repeat content
  files/zh-cn/web/css/inheritance/index.html
Labels: l10n-zh

#4387 Update uint8clampedarray docs / translate missing page
  files/fr/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/fr/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: l10n-fr

#4395 Update uint8array docs / translate missing page
  files/fr/web/javascript/reference/global_objects/uint8array/index.md
  files/fr/web/javascript/reference/global_objects/uint8array/uint8array/index.md
Labels: l10n-fr

#4404 [French] Fix explanation about the defer attribute
  files/fr/web/javascript/guide/modules/index.md
Labels: l10n-fr

#4396 learn/javasrcipt/client-side_web_apis の英単語の前後に半角空白を追加
  files/ja/learn/javascript/client-side_web_apis/index.html
Labels: l10n-ja

#4415 learn/javascript/client-side_web_apis/introduction の英単語の前後に半角空白を追加
  files/ja/learn/javascript/client-side_web_apis/introduction/index.html
Labels: l10n-ja

#4294 Node.baseURI を新規翻訳
  files/ja/web/api/node/baseuri/index.md
Labels: l10n-ja

#4419 Typo fixes for French DOMContentLoaded event page
  files/fr/web/api/document/domcontentloaded_event/index.md
Labels: l10n-fr

#4406 fr-web/api/htmlmediaelement/mscleareffects id:4289
  files/fr/web/api/htmlmediaelement/mscleareffects/index.md
Labels: l10n-fr

#4401 Fix for vertical-align examples in Dark Mode
  files/de/web/css/vertical-align/index.html
  files/ja/web/css/vertical-align/index.md
  files/ko/web/css/vertical-align/index.html
  files/pt-br/web/css/vertical-align/index.html
  files/ru/web/css/vertical-align/index.html
  files/zh-cn/web/css/vertical-align/index.html
Labels: l10n-ja, l10n-zh, l10n-ru, l10n-de, l10n-ko, l10n-pt-br

#4374 ko 'shells' html to md
  files/ko/web/javascript/shells/index.html
  files/ko/web/javascript/shells/index.md
Labels: l10n-ko

#4300 Node.lookupPrefix() を新規翻訳
  files/ja/web/api/node/lookupprefix/index.md
Labels: l10n-ja

#4444 Update index.md
  files/fr/web/api/url/searchparams/index.md
Labels: l10n-fr

#4418 Correct sentence structure
  files/fr/web/accessibility/aria/index.md
Labels: l10n-fr

#4403 Markdown fixes part 5 (remaining fr/web)
  files/fr/web/mathml/authoring/index.md
  files/fr/web/mathml/element/maction/index.md
  files/fr/web/mathml/element/math/index.md
  files/fr/web/mathml/element/mfenced/index.md
  files/fr/web/mathml/element/msub/index.md
  files/fr/web/performance/index.md
  files/fr/web/progressive_web_apps/loading/index.md
  files/fr/web/progressive_web_apps/offline_service_workers/index.md
  files/fr/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/fr/web/security/same-origin_policy/index.md
  files/fr/web/security/secure_contexts/index.md
  files/fr/web/svg/applying_svg_effects_to_html_content/index.md
  files/fr/web/svg/attribute/seed/index.md
  files/fr/web/svg/attribute/stroke-dasharray/index.md
  files/fr/web/svg/compatibility_sources/index.md
  files/fr/web/svg/element/altglyphitem/index.md
  files/fr/web/svg/element/ellipse/index.md
  files/fr/web/svg/element/line/index.md
  files/fr/web/svg/element/radialgradient/index.md
  files/fr/web/svg/element/symbol/index.md
  files/fr/web/svg/element/use/index.md
  files/fr/web/svg/index.md
  files/fr/web/svg/tutorial/other_content_in_svg/index.md
  files/fr/web/xpath/index.md
  files/fr/web/xslt/element/stylesheet/index.md
Labels: l10n-fr

#4400 Fixes #4399 - update file.name vs en-US
  files/fr/web/api/file/name/index.md
Labels: l10n-fr

#4435 fr-suggest french translation for id:4258
  files/fr/web/api/htmlmediaelement/audiotracks/index.md
Labels: l10n-fr

#4423 user_input_methods の推奨事項の日本語訳追加
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4313 Element インターフェイスの記事を更新
  files/ja/web/api/element/index.html
  files/ja/web/api/element/index.md
Labels: l10n-ja

#4461 spelling errors fixed "evnía"
  files/es/web/api/windoweventhandlers/onpopstate/index.html
Labels: l10n-es

#4432 fix: deleting "index.html" in some links
  files/zh-cn/learn/getting_started_with_the_web/how_the_web_works/index.html
  files/zh-cn/learn/html/introduction_to_html/the_head_metadata_in_html/index.html
Labels: l10n-zh

#4417 fix typo
  files/zh-cn/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_ax/index.html
Labels: l10n-zh

#3934 CSS cursor fixes for zh and ko
  files/ko/web/css/cursor/index.html
  files/zh-cn/web/css/cursor/index.html
  files/zh-tw/web/css/cursor/index.html
Labels: l10n-zh, l10n-ko

#4424 user_input_methods のリンクを日本語ページのリンクに修正
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4337 Element.nextElementSibling を新規翻訳
  files/ja/web/api/element/nextelementsibling/index.md
Labels: l10n-ja

#4338 Element.previousElementSibling を新規翻訳
  files/ja/web/api/element/previouselementsibling/index.md
Labels: l10n-ja

#4340 Element.part を新規翻訳
  files/ja/web/api/element/part/index.md
Labels: l10n-ja

#4341 Element.scrollLeftMax を新規翻訳
  files/ja/web/api/element/scrollleftmax/index.md
Labels: l10n-ja

#4343 Element.setHTML() を新規翻訳
  files/ja/web/api/element/sethtml/index.md
Labels: l10n-ja

#4479 Update console.dir
  files/fr/web/api/console/dir/index.md
Labels: l10n-fr

#4490 Update index.md
  files/fr/learn/javascript/first_steps/math/index.md
Labels: l10n-fr

#4491 Update index.md
  files/fr/learn/javascript/first_steps/useful_string_methods/index.md
Labels: l10n-fr

#4416 user_input_methods のワークフローの日本語訳を追加
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4360 Rotate3d file updated to md
  files/es/web/css/transform-function/rotate3d()/index.html
  files/es/web/css/transform-function/rotate3d()/index.md
Labels: l10n-es

#4264 ko add compositing and blending
  files/ko/web/css/compositing_and_blending/index.md
Labels: l10n-ko

#4370 Fix typo in files/ko/web/javascript/reference/classes/index.html
  files/ko/web/javascript/reference/classes/index.html
Labels: l10n-ko

#4492 Suggest french translation dor id 4260
  files/fr/web/api/htmlmediaelement/buffered/index.md
Labels: l10n-fr

#4505 Translate CSS :paused page
  files/fr/web/css/_colon_paused/index.md
Labels: l10n-fr

#4513 Update index.md
  files/fr/learn/javascript/building_blocks/looping_code/index.md
Labels: l10n-fr

#4508 Translate A re-introduction to JavaScript page in Korean
  files/ko/web/javascript/a_re-introduction_to_javascript/index.md
Labels: l10n-ko

#4481 fix typo
  files/ja/web/html/element/summary/index.html
Labels: l10n-ja

#4495 Screen Orientation API に統一
  files/ja/web/api/css_object_model/managing_screen_orientation/index.html
Labels: l10n-ja

#4518 Typo fix in JS Fonctions
  files/fr/learn/javascript/building_blocks/functions/index.md
Labels: l10n-fr

#4468 (ru) Fix typos at Web/HTML/Element/a page
  files/ru/web/html/element/a/index.html
Labels: l10n-ru

#4383 Element.computedStyleMap() の文書を新規翻訳
  files/ja/web/api/element/computedstylemap/index.md
Labels: l10n-ja

#4384 StylePropertyMapReadOnly.values() を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/values/index.md
Labels: l10n-ja

#4452 Fix typo
  files/ja/web/http/headers/content-encoding/index.html
Labels: l10n-ja

#4474 新規翻訳：PlayCanvasでベーシックデモをビルドする
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/index.md
Labels: l10n-ja

#4528 Minor typo fixes in Apprendre JS : Fonctions
  files/fr/learn/javascript/building_blocks/functions/index.md
Labels: l10n-fr

#4512 Update index.html
  files/zh-cn/learn/html/introduction_to_html/getting_started/index.html
Labels: l10n-zh

#4526 Fix image typo error
  files/zh-cn/web/api/audionode/index.html
Labels: l10n-zh

#4511 Adjust translation for 'cascade' in css/@layer.
  files/zh-cn/web/css/@layer/index.md
Labels: l10n-zh

#4473 fix: fix confusion table style
  files/zh-cn/web/api/window/storage_event/index.html
Labels: l10n-zh

#4414 Update index.html
  files/zh-cn/web/security/same-origin_policy/index.html
Labels: l10n-zh

#4392 Update Object.assign
  files/zh-cn/web/javascript/reference/global_objects/object/assign/index.html
Labels: l10n-zh

#4389 Update index.html
  files/zh-cn/web/css/css_flow_layout/intro_to_formatting_contexts/index.html
Labels: l10n-zh

#4537 user_input_methods のマウスの日本語訳を追加
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4531 Fixed minor lexical mistake
  files/ru/glossary/dom/index.html
Labels: l10n-ru

#4516 Add missing word in Apprendre JS : Fonctions
  files/fr/learn/javascript/building_blocks/functions/index.md
Labels: l10n-fr

#4286 Remove {{page}} macro from CSS/HTML/HTTP docs
  files/ko/web/css/css_transforms/using_css_transforms/index.html
  files/ko/web/css/css_transforms/using_css_transforms/index.md
  files/ko/web/css/display/index.html
  files/ko/web/html/element/input/date/index.html
  files/ko/web/html/element/input/index.html
  files/ko/web/html/element/track/index.html
  files/ko/web/http/headers/content-security-policy/img-src/index.html
  files/ko/web/http/headers/content-security-policy/script-src/index.html
Labels: l10n-ko

#4551 Fixes #4550
  files/fr/web/css/blend-mode/index.md
Labels: l10n-fr

#4549 Cleaning duplicated files
  files/fr/learn/css/building_blocks/advanced_styling_effects/colorful-heart.png
  files/fr/learn/css/styling_text/styling_links/external-link-52.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_earth.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_moon.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_sun.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/capitan_meadows_yosemite_national_park.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/backdrop.png
  files/fr/web/api/canvas_api/tutorial/using_images/bg_gallery.png
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_backdrop.png
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_drawimage.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_drawimage2.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/canvas_scale_image.png
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_1.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_2.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_3.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_4.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_5.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_6.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_7.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/gallery_8.jpg
  files/fr/web/api/canvas_api/tutorial/using_images/rhino.jpg
  files/fr/web/css/blend-mode/br.png
  files/fr/web/css/blend-mode/tr.png
  files/fr/web/css/filter/test_form.jpg
  files/fr/web/css/filter/test_form_12.jpeg
  files/fr/web/css/filter/test_form_12_s.jpg
  files/fr/web/css/filter/test_form_14.jpeg
  files/fr/web/css/filter/test_form_14_s.jpg
  files/fr/web/css/filter/test_form_2.jpeg
  files/fr/web/css/filter/test_form_2_s.jpg
  files/fr/web/css/filter/test_form_3.jpeg
  files/fr/web/css/filter/test_form_3_s.jpg
  files/fr/web/css/filter/test_form_4.jpeg
  files/fr/web/css/filter/test_form_4_irregular-shape_opacity-gradient.png
  files/fr/web/css/filter/test_form_4_irregular-shape_opacity-gradient_drop-shadow.png
  files/fr/web/css/filter/test_form_4_s.jpg
  files/fr/web/css/filter/test_form_5.jpeg
  files/fr/web/css/filter/test_form_5_s.jpg
  files/fr/web/css/filter/test_form_6.jpeg
  files/fr/web/css/filter/test_form_6_s.jpg
  files/fr/web/css/filter/test_form_7.jpeg
  files/fr/web/css/filter/test_form_7_s.jpg
  files/fr/web/css/filter/test_form_8.jpeg
  files/fr/web/css/filter/test_form_8_s.jpg
  files/fr/web/css/filter/test_form_9.jpeg
  files/fr/web/css/filter/test_form_9_s.jpg
  files/fr/web/css/filter/test_form_s.jpg
  files/fr/web/css/list-style-position/starsolid.gif
  files/fr/web/html/element/figure/favicon-192x192.png
  files/fr/web/html/element/img/clock-demo-400px.png
  files/fr/web/html/element/img/favicon144.png
  files/fr/web/html/element/img/favicon72.png
Labels: l10n-fr

#4555 Fix typo
  files/fr/web/javascript/guide/working_with_objects/index.md
Labels: l10n-fr

#4410 StylePropertyMapReadOnly.getAll() を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/getall/index.md
Labels: l10n-ja

#4413 StylePropertyMapReadOnly.entries() を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/entries/index.md
Labels: l10n-ja

#4421 StylePropertyMapReadOnly インターフェイスの記事を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/index.md
Labels: l10n-ja

#4425 Element.toggleAttribute() を新規翻訳
  files/ja/web/api/element/toggleattribute/index.md
Labels: l10n-ja

#4437 WakeLockSentinel.release() を新規翻訳
  files/ja/web/api/wakelocksentinel/release/index.md
Labels: l10n-ja

#4440 WakeLockSentinel インターフェイスの記事を新規翻訳
  files/ja/web/api/wakelocksentinel/index.md
Labels: l10n-ja

#4443 Navigator.wakeLock のリンク先の見出しを更新
  files/ja/web/api/navigator/wakelock/index.md
Labels: l10n-ja

#4535 「ドラッグ＆ドロップAPI」の後に半角空白を追加
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4499 user_input_methods のキーボードの日本語訳追加
  files/ja/web/guide/user_input_methods/index.html
Labels: l10n-ja

#4356 fix missed letter
  files/ja/web/css/--_star_/index.html
Labels: l10n-ja

#4561 Fix typo
  files/ja/web/javascript/reference/strict_mode/index.md
Labels: l10n-ja

#4514 Change variable name to "para" to match en-US
  files/fr/learn/javascript/building_blocks/looping_code/index.md
Labels: l10n-fr

#4596 Update index.html
  files/ko/web/javascript/reference/global_objects/number/tofixed/index.html
Labels: l10n-ko

#4285 (ru) Fix typo at <time> element page
  files/ru/web/html/element/time/index.html
Labels: l10n-ru

#4592 Fixes 4586 - minor fixes for <em> page
  files/fr/web/html/element/em/index.md
Labels: l10n-fr

#4574 Fix typo: エラーイベントページ
  files/ja/web/api/element/error_event/index.html
Labels: l10n-ja

#4408 StylePropertyMapReadOnly.has() を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/has/index.md
Labels: l10n-ja

#4420 StylePropertyMapReadOnly.size を新規翻訳
  files/ja/web/api/stylepropertymapreadonly/size/index.md
Labels: l10n-ja

#4422 CSS Typed Object Model API のリダイレクトを追加
  files/ja/_redirects.txt
Labels: l10n-ja

#4426 Element.requestPointerLock() を新規翻訳
  files/ja/web/api/element/requestpointerlock/index.md
Labels: l10n-ja

#4427 Element.replaceChildren() を新規翻訳
  files/ja/web/api/element/replacechildren/index.md
Labels: l10n-ja

#4441 WakeLock.request() を新規翻訳
  files/ja/web/api/wakelock/request/index.md
Labels: l10n-ja

#4460 -webkit-mask-attachment を新規翻訳
  files/ja/web/css/-webkit-mask-attachment/index.md
Labels: l10n-ja

#4464 -webkit-text-stroke を新規翻訳
  files/ja/web/css/-webkit-text-stroke/index.md
Labels: l10n-ja

#4466 animation-timeline を新規翻訳
  files/ja/web/css/animation-timeline/index.md
Labels: l10n-ja

#4519 Fix punctuation in Apprendre JS : Fonctions
  files/fr/learn/javascript/building_blocks/functions/index.md
Labels: l10n-fr

#4575 Add missing constructor document in evalerror
  files/es/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Labels: l10n-es

#4507 12. rangeerror [es]
  files/es/web/javascript/reference/global_objects/rangeerror/index.html
  files/es/web/javascript/reference/global_objects/rangeerror/index.md
Labels: l10n-es

#4577 correct the link to `Glossary/Proxy_server`
  files/zh-cn/web/http/overview/index.html
Labels: l10n-zh

#4609 规范中英文嵌套
  files/zh-cn/web/performance/dns-prefetch/index.html
Labels: l10n-zh

#4606 Fix typo about 'Creating hyperlinks'
  files/zh-cn/learn/html/introduction_to_html/creating_hyperlinks/index.html
Labels: l10n-zh

#4482 Web/CSS/@scroll-timeline を新規翻訳
  files/ja/web/css/@scroll-timeline/index.md
Labels: l10n-ja

#4483 Web/CSS/@property/syntax を新規翻訳
  files/ja/web/css/@property/syntax/index.md
Labels: l10n-ja

#4616 Fix 4522: add French image files
  files/fr/learn/getting_started_with_the_web/html_basics/attribut-chat-grincheux.png
  files/fr/learn/getting_started_with_the_web/html_basics/chat-grincheuxl.png
Labels: l10n-fr

#3642 Remove mozillademo links from CSS
  files/fr/web/css/-moz-image-rect/index.md
  files/fr/web/css/@font-face/unicode-range/index.md
  files/fr/web/css/_doublecolon_-moz-range-progress/index.md
  files/fr/web/css/_doublecolon_-moz-range-thumb/index.md
  files/fr/web/css/_doublecolon_-moz-range-track/index.md
  files/fr/web/css/_doublecolon_-webkit-progress-inner-element/index.md
  files/fr/web/css/background-attachment/index.md
  files/fr/web/css/background-blend-mode/index.md
  files/fr/web/css/background-image/index.md
  files/fr/web/css/background-origin/index.md
  files/fr/web/css/background-position/index.md
  files/fr/web/css/background-repeat/index.md
  files/fr/web/css/background-size/index.md
  files/fr/web/css/background/index.md
  files/fr/web/css/border-image-outset/index.md
  files/fr/web/css/border-image-repeat/index.md
  files/fr/web/css/border-image-slice/index.md
  files/fr/web/css/border-image-width/index.md
  files/fr/web/css/border-image/index.md
  files/fr/web/css/clip-path/index.md
  files/fr/web/css/content/index.md
  files/fr/web/css/cross-fade()/index.md
  files/fr/web/css/css_backgrounds_and_borders/border-radius_generator/index.md
  files/fr/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/fr/web/css/css_images/using_css_gradients/index.md
  files/fr/web/css/font-stretch/index.md
  files/fr/web/css/font-variant-numeric/index.md
  files/fr/web/css/font-weight/index.md
  files/fr/web/css/image-orientation/index.md
  files/fr/web/css/image-rendering/index.md
  files/fr/web/css/list-style-image/index.md
  files/fr/web/css/mask-border/index.md
  files/fr/web/css/mask-clip/index.md
  files/fr/web/css/mask-composite/index.md
  files/fr/web/css/mask-image/index.md
  files/fr/web/css/mask-mode/index.md
  files/fr/web/css/mask-origin/index.md
  files/fr/web/css/mask-position/index.md
  files/fr/web/css/mask-size/index.md
  files/fr/web/css/object-fit/index.md
  files/fr/web/css/object-position/index.md
  files/fr/web/css/position/index.md
  files/fr/web/css/position_value/index.md
  files/fr/web/css/text-combine-upright/index.md
  files/fr/web/css/url()/index.md
  files/fr/web/css/vertical-align/index.md
Labels: l10n-fr

#4595 Update french operator precedence table
  files/fr/web/javascript/reference/operators/operator_precedence/index.md
Labels: l10n-fr

#4603 (ru) Fix typo at Document page
  files/ru/web/api/document/index.html
Labels: l10n-ru

#4397 learn/javascript/client-side_web_apis/introduction の typo を修正
  files/ja/learn/javascript/client-side_web_apis/introduction/index.html
Labels: l10n-ja

#4428 Element.insertAdjacentElement() を新規翻訳
  files/ja/web/api/element/insertadjacentelement/index.md
Labels: l10n-ja

#4487 Web/CSS/@property/inherits を新規翻訳
  files/ja/web/css/@property/inherits/index.md
Labels: l10n-ja

#4477 Add the explanation about the executor in Promise()
  files/zh-cn/web/javascript/reference/global_objects/promise/promise/index.html
Labels: l10n-zh

#4525 Patch #2846 zh-cn/docs/web/html/* pages with an EmbedLiveSample error
  files/zh-cn/web/html/element/hr/index.html
  files/zh-cn/web/html/element/iframe/index.html
  files/zh-cn/web/html/element/input/date/index.html
  files/zh-cn/web/html/element/input/index.html
  files/zh-cn/web/html/element/pre/index.html
  files/zh-cn/web/html/element/textarea/index.html
  files/zh-cn/web/html/element/u/index.html
  files/zh-cn/web/html/global_attributes/itemscope/index.html
Labels: l10n-zh

#4557 fix typo for FormData.set()
  files/zh-cn/web/api/formdata/set/index.html
Labels: l10n-zh

#4605 Update index.html
  files/zh-cn/web/javascript/reference/operators/object_initializer/index.html
Labels: l10n-zh

#4637 Fixed an unclosed </td> tag
  files/es/web/guide/ajax/index.html
Labels: l10n-es

#4627 Small spanish translation mistake
  files/es/web/http/methods/post/index.html
Labels: l10n-es

#4488 Web/CSS/@property/initial-value を新規翻訳
  files/ja/web/css/@property/initial-value/index.md
Labels: l10n-ja

#4621 fix: remove duplicated text
  files/es/learn/javascript/first_steps/a_first_splash/index.html
Labels: l10n-es

#4430 new index.md for global object Object page translated for latest engl…
  files/es/web/javascript/reference/global_objects/object/index.html
  files/es/web/javascript/reference/global_objects/object/index.md
Labels: l10n-es

#4626 Typofixes in Learning Area
  files/fr/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-fr

#4628 Typofix LA JS Object building
  files/fr/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-fr

#4629 Typofix LA
  files/fr/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-fr

#4631 Update index.md
  files/fr/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-fr

#4632 Typofix LA
  files/fr/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-fr

#4642 Typofix LA
  files/fr/learn/javascript/objects/adding_bouncing_balls_features/index.md
Labels: l10n-fr
