Repository mdn/translated-content, pull requests merged in 2022-01, with the labels that each got.

#3476 Small fixes and updates for fr CSS pages
  files/fr/web/css/@counter-style/index.md
  files/fr/web/css/@viewport/index.md
  files/fr/web/css/border-block-style/index.md
  files/fr/web/css/border-bottom-style/index.md
  files/fr/web/css/border-inline-start/index.md
  files/fr/web/css/border-inline-style/index.md
  files/fr/web/css/border-left-style/index.md
  files/fr/web/css/border-right-style/index.md
  files/fr/web/css/border-top-style/index.md
  files/fr/web/css/break-before/index.md
  files/fr/web/css/column-rule-color/index.md
  files/fr/web/css/font-style/index.md
Labels: l10n-fr

#3533 [ko] Modification done of `AudioBuffer` document
  files/ko/web/api/audiobuffer/index.html
  files/ko/web/api/audiobuffer/index.md
Labels: l10n-ko

#3505 Fix: [zh-CN] XMLHttpRequest 文字错误
  files/zh-cn/web/api/xmlhttprequest/index.html
Labels: l10n-zh

#3538 Update index.html
  files/zh-cn/web/javascript/reference/global_objects/object/tostring/index.html
Labels: l10n-zh

#3282 Fix notes and warnings cards where a space was missing (follow-up of #3279)
  files/fr/learn/css/building_blocks/index.md
  files/fr/learn/css/first_steps/getting_started/index.md
  files/fr/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/fr/learn/javascript/first_steps/variables/index.md
  files/fr/learn/server-side/django/testing/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/fr/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
  files/fr/mozilla/add-ons/webextensions/manifest.json/options_page/index.md
  files/fr/mozilla/firefox/releases/19/index.md
  files/fr/mozilla/firefox/releases/3/updating_extensions/index.md
  files/fr/web/accessibility/aria/aria_live_regions/index.md
  files/fr/web/api/analysernode/index.md
  files/fr/web/api/cache/addall/index.md
  files/fr/web/api/css_font_loading_api/index.md
  files/fr/web/api/datatransfer/index.md
  files/fr/web/api/document/registerelement/index.md
  files/fr/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/fr/web/api/element/insertadjacenthtml/index.md
  files/fr/web/api/file/using_files_from_web_applications/index.md
  files/fr/web/api/formdata/append/index.md
  files/fr/web/api/history/index.md
  files/fr/web/api/history_api/example/index.md
  files/fr/web/api/htmlelement/accesskey/index.md
  files/fr/web/api/idbdatabase/objectstorenames/index.md
  files/fr/web/api/idbdatabase/transaction/index.md
  files/fr/web/api/idbtransaction/oncomplete/index.md
  files/fr/web/api/keyboardevent/index.md
  files/fr/web/api/keyboardevent/key/key_values/index.md
  files/fr/web/api/performanceobserver/observe/index.md
  files/fr/web/api/pointerevent/index.md
  files/fr/web/api/push_api/index.md
  files/fr/web/api/web_storage_api/index.md
  files/fr/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/fr/web/api/window/innerheight/index.md
  files/fr/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/fr/web/css/_doublecolon_after/index.md
  files/fr/web/css/css_properties_reference/index.md
  files/fr/web/css/css_transitions/using_css_transitions/index.md
  files/fr/web/css/float/index.md
  files/fr/web/css/vertical-align/index.md
  files/fr/web/html/attributes/max/index.md
  files/fr/web/html/attributes/rel/index.md
  files/fr/web/html/element/acronym/index.md
  files/fr/web/html/element/audio/index.md
  files/fr/web/html/element/content/index.md
  files/fr/web/html/element/embed/index.md
  files/fr/web/html/element/frameset/index.md
  files/fr/web/html/element/table/index.md
  files/fr/web/html/element/tbody/index.md
  files/fr/web/http/headers/connection/index.md
  files/fr/web/http/headers/content-security-policy/index.md
  files/fr/web/http/public_key_pinning/index.md
  files/fr/web/javascript/reference/global_objects/function/bind/index.md
  files/fr/web/javascript/reference/global_objects/json/stringify/index.md
  files/fr/web/javascript/reference/global_objects/parseint/index.md
  files/fr/web/javascript/reference/global_objects/webassembly/instance/index.md
  files/fr/web/javascript/reference/statements/with/index.md
  files/fr/web/svg/attribute/d/index.md
Labels: l10n-fr

#3535 Fix typo (korean docs)
  files/ko/web/javascript/guide/functions/index.html
Labels: l10n-ko

#3545 Update index.html
  files/zh-cn/web/http/range_requests/index.html
Labels: l10n-zh

#3479 Change the URL of channel messaging basic demo
  files/zh-cn/web/api/messageport/index.html
Labels: l10n-zh

#3474 add subsection in ZH-CN "How the Web works"(#3473)
  files/zh-cn/learn/getting_started_with_the_web/how_the_web_works/index.html
Labels: l10n-zh

#3550 mv html > md on javascript/reference/global_objects/weakmap
  files/zh-cn/web/javascript/reference/global_objects/weakmap/index.md
Labels: l10n-zh

#3553 udpate and convert global_objects/weakmap to md and add weakmap/weakmap
  files/zh-cn/web/javascript/reference/global_objects/weakmap/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/weakmap/index.md
Labels: l10n-zh

#3452 Web/CSS/CSS_Miscellaneous を更新
  files/ja/web/css/css_miscellaneous/index.html
  files/ja/web/css/css_miscellaneous/index.md
Labels: l10n-ja

#3560 Fix typo
  files/ja/web/javascript/reference/operators/logical_nullish_assignment/index.md
Labels: l10n-ja

#3551 Update fr Truthy page vs. en-US
  files/fr/glossary/truthy/index.md
Labels: l10n-fr

#3554 Update various French border and list style pages
  files/fr/web/css/border-style/index.md
  files/fr/web/css/list-style-position/index.md
  files/fr/web/css/list-style-position/starsolid.gif
  files/fr/web/css/list-style-type/index.md
  files/fr/web/css/list-style/index.md
Labels: l10n-fr

#3515 correção
  files/pt-br/web/html/element/head/index.html
Labels: l10n-pt-br

#3498 Remove external image sources on French pages pt. 1
  files/fr/learn/css/building_blocks/advanced_styling_effects/colorful-heart.png
  files/fr/learn/css/building_blocks/advanced_styling_effects/index.md
  files/fr/learn/css/styling_text/styling_links/external-link-52.png
  files/fr/learn/css/styling_text/styling_links/index.md
  files/fr/learn/javascript/building_blocks/events/bubbling-capturing-fr.png
  files/fr/learn/javascript/building_blocks/events/index.md
Labels: l10n-fr

#3571 Fix a typo
  files/zh-cn/learn/html/introduction_to_html/advanced_text_formatting/index.html
Labels: l10n-zh

#3507 Web/CSS/CSSOM_View/Coordinate_systems を新規翻訳
  files/ja/web/css/cssom_view/coordinate_systems/index.md
Labels: l10n-ja

#3295 Fixes #3205
  files/fr/web/javascript/reference/global_objects/array/concat/index.md
Labels: l10n-fr

#3296 Fixes #3242
  files/fr/glossary/gecko/index.md
Labels: l10n-fr

#3547 [ko] fix link to glossary
  files/ko/web/http/overview/index.html
Labels: l10n-ko

#3585 Translating the content of /Web/JavaScript/Reference/Global_Objects/a…
  files/pt-br/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-pt-br

#3140 Convert file contents to Markdown and fix missing image
  files/pt-br/web/javascript/eventloop/index.html
  files/pt-br/web/javascript/eventloop/index.md
  files/pt-br/web/javascript/eventloop/the_javascript_runtime_environment_example.svg
Labels: l10n-pt-br

#3530 Spell check on index.html
  files/pt-br/learn/css/first_steps/index.html
Labels: l10n-pt-br

#3501 translating content of the html table page from en-US to pt-BR
  files/pt-br/learn/html/tables/basics/index.html
Labels: l10n-pt-br

#2939 GitHub beginners page in pt-br
  files/pt-br/mdn/contribute/github_beginners/branch-button-new-branch.png
  files/pt-br/mdn/contribute/github_beginners/branch-button.png
  files/pt-br/mdn/contribute/github_beginners/branch-menu.png
  files/pt-br/mdn/contribute/github_beginners/code-popup.png
  files/pt-br/mdn/contribute/github_beginners/compare-and-pull-request.png
  files/pt-br/mdn/contribute/github_beginners/fork-button.png
  files/pt-br/mdn/contribute/github_beginners/index.md
  files/pt-br/mdn/contribute/github_beginners/new-branch.png
  files/pt-br/mdn/contribute/github_beginners/open-pull-request.png
Labels: l10n-pt-br

#3510 Web/API/MouseEvent/clientY を新規翻訳
  files/ja/web/api/mouseevent/clienty/index.md
Labels: l10n-ja

#3511 Web/API/MouseEvent/metaKey を新規翻訳
  files/ja/web/api/mouseevent/metakey/index.md
Labels: l10n-ja

#3514 Web/API/MouseEvent/getModifierState を新規翻訳
  files/ja/web/api/mouseevent/getmodifierstate/index.md
Labels: l10n-ja

#3591 [fix] : entity references where shouldn't be used
  files/ja/web/css/flex-grow/index.md
Labels: l10n-ja

#3499 Update index.html
  files/ru/web/css/object-fit/index.html
Labels: l10n-ru

#3581 Update index.html
  files/ru/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-ru

#3594 Algumas correções do texto ja traduzido
  files/pt-br/learn/javascript/asynchronous/timeouts_and_intervals/index.html
Labels: l10n-pt-br

#3516 Web/API/MouseEvent/initMouseEvent を新規翻訳
  files/ja/web/api/mouseevent/initmouseevent/index.md
Labels: l10n-ja

#3518 Web/API/MouseEvent/region を新規翻訳
  files/ja/web/api/mouseevent/region/index.md
Labels: l10n-ja

#3519 Web/API/MouseEvent/relatedTarget を新規翻訳
  files/ja/web/api/mouseevent/relatedtarget/index.md
Labels: l10n-ja

#3521 Web/API/MouseEvent/webkit 関係のプロパティを新規翻訳
  files/ja/web/api/mouseevent/webkit_force_at_force_mouse_down/index.md
  files/ja/web/api/mouseevent/webkit_force_at_mouse_down/index.md
  files/ja/web/api/mouseevent/webkitforce/index.md
Labels: l10n-ja

#3522 Web/API/MouseEvent/x,y に基づき新規翻訳
  files/ja/web/api/mouseevent/x/index.md
  files/ja/web/api/mouseevent/y/index.md
Labels: l10n-ja

#3606 update trans: abbreviated -> 短縮された
  files/ja/web/svg/tutorial/paths/index.html
Labels: l10n-ja

#3598 Updating yari-content-ko to reflect current core contributors (#3557)
  PEERS_GUIDELINES.md
  docs/ko/organizer-guide.md
Labels: l10n-ko

#3579 Release/translating table texts
  files/pt-br/learn/html/tables/basics/index.html
Labels: l10n-pt-br

#3605 [pt-BR] Fix small typo
  files/pt-br/web/css/@import/index.html
Labels: l10n-pt-br

#3569 Fix wrong description for 301 status code
  files/zh-cn/web/http/status/302/index.html
Labels: l10n-zh

#3583 Fix a typo
  files/zh-cn/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.html
Labels: l10n-zh

#3455 同步英语版本修改
  files/zh-cn/web/css/inherit/index.html
Labels: l10n-zh

#3615 去掉多余‘都’
  files/zh-cn/web/api/html_dom_api/microtask_guide/in_depth/index.html
Labels: l10n-zh

#3512 Web/API/MouseEvent/movementY を新規翻訳
  files/ja/web/api/mouseevent/movementy/index.md
Labels: l10n-ja

#3517 Web/API/MouseEvent/pageX,Y を新規翻訳
  files/ja/web/api/mouseevent/pagex/index.md
  files/ja/web/api/mouseevent/pagey/index.md
Labels: l10n-ja

#3628 move to 7z in github action
  .github/workflows/pr-review-companion.yml
Labels: system

#3626 Minor fixes and updates for some fr CSS pages
  files/fr/web/css/min-height/index.md
  files/fr/web/css/padding-inline-start/index.md
  files/fr/web/css/pointer-events/index.md
  files/fr/web/css/scroll-behavior/index.md
Labels: l10n-fr

#3360 Fixes #2395
  files/fr/tools/debugger/how_to/use_a_source_map/index.html
Labels: l10n-fr

#3506 [ko] Improve translation for class hoisting
  files/ko/web/javascript/reference/classes/index.html
Labels: l10n-ko

#3542 fix korean typo
  files/ko/web/javascript/reference/strict_mode/index.html
Labels: l10n-ko

#3520 Web/API/MouseEvent/screenY を新規翻訳
  files/ja/web/api/mouseevent/screeny/index.md
Labels: l10n-ja

#3622 Text correction (pt-br language)
  files/pt-br/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-pt-br

#3634 (ru) Fix misspell at "Styling links" page
  files/ru/learn/css/styling_text/styling_links/index.html
Labels: l10n-ru

#3638 (fix:docs) update static server port to 5042
  README.md
  docs/ko/translation-guide.md
  files/fr/mdn/contribute/howto/create_and_edit_pages/index.md
Labels: l10n-fr

#3640 Fix typo
  files/fr/webassembly/concepts/index.md
Labels: l10n-fr

#3558 Web/HTTP/Headers/Upgrade を新規翻訳
  files/ja/web/http/headers/upgrade/index.md
Labels: l10n-ja

#3646 fix typo
  files/zh-cn/web/api/html_dom_api/microtask_guide/in_depth/index.html
Labels: l10n-zh

#3639 Update index.html
  files/zh-cn/web/api/audiobuffer/index.html
Labels: l10n-zh

#3584 Translation corrections
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/command_line/index.html
Labels: l10n-zh

#3491 [ko] Translation done of `AudioNode.channelInterpretation` document
  files/ko/web/api/audionode/channelinterpretation/index.md
Labels: l10n-ko

#3650 Adding `es` locale to readme
  README.md
Labels: l10n-es

#3485 Translate angular_item page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_item_component/index.md
Labels: l10n-ru

#3645 Small portuguese corrections
  files/pt-br/web/http/overview/index.html
Labels: l10n-pt-br

#3385 AbortControllerの日本語訳
  files/ja/web/api/abortcontroller/index.md
Labels: l10n-ja

#3686 Typo correction
  files/fr/web/javascript/reference/statements/async_function/index.md
Labels: l10n-fr

#3679 Update index.html
  files/ru/web/javascript/reference/global_objects/reflect/index.html
Labels: l10n-ru

#2778 Writing error
  files/es/web/api/document/queryselector/index.html
Labels: l10n-es

#2667 Fix typo
  files/es/web/javascript/reference/operators/spread_syntax/index.html
Labels: l10n-es

#2504 fix(ES): word typo
  files/es/web/api/intersection_observer_api/index.html
  files/es/web/svg/element/use/index.html
Labels: l10n-es

#2000 Fix Spanish typo
  files/es/web/css/-webkit-box-reflect/index.html
Labels: l10n-es

#3688 Small fix and updates for FormData
  files/fr/web/api/formdata/index.md
Labels: l10n-fr

#3687 Minor update for fr X-Frame-Options and <frame>
  files/fr/web/html/element/frame/index.md
  files/fr/web/http/headers/x-frame-options/index.md
Labels: l10n-fr

#3596 Web/CSS/CSS_Values_and_Units の編集ミスを修正
  files/ja/web/css/css_values_and_units/index.md
Labels: l10n-ja

#3597 Web/CSS/@media/prefers-reduced-data を新規翻訳
  files/ja/web/css/@media/prefers-reduced-data/index.md
Labels: l10n-ja

#3563 Updated HTTP Status 403
  files/es/web/http/status/403/index.html
  files/es/web/http/status/403/index.md
Labels: l10n-es

#1348 Fix typo
  files/es/web/javascript/reference/operators/index.html
Labels: l10n-es

#3694 Firefox 96 for developers を翻訳
  files/ja/mozilla/firefox/releases/96/index.md
Labels: l10n-ja

#3707 (typo) in "lang" global attribute.
  files/zh-cn/web/html/global_attributes/lang/index.html
Labels: l10n-zh

#3706 fix typo
  files/zh-cn/learn/css/building_blocks/handling_different_text_directions/index.html
Labels: l10n-zh

#3714 Corrections to translation and html tag
  files/es/web/javascript/guide/loops_and_iteration/index.html
Labels: l10n-es

#3625 Web/JavaScript/Reference/Operators/Destructuring_assignment を更新
  files/ja/web/javascript/reference/operators/destructuring_assignment/index.md
Labels: l10n-ja

#3633 Web/HTTP/Headers/Cross-Origin-Opener-Policy を新規翻訳
  files/ja/web/http/headers/cross-origin-opener-policy/index.md
Labels: l10n-ja

#3644 fix typo
  files/ja/glossary/metadata/index.html
Labels: l10n-ja

#3700 Update Navigator sendBeacon html
  files/zh-cn/web/api/navigator/sendbeacon/index.html
Labels: l10n-zh

#3568 Sync with english version for operator precedence
  files/zh-cn/web/javascript/reference/operators/operator_precedence/index.md
Labels: l10n-zh

#3590 create `zh-CN` translation for `Glossary/brotli_compression`
  files/zh-cn/glossary/brotli_compression/index.md
Labels: l10n-zh

#3592 create `zh-CN` translation for `Glossary/UDP`
  files/zh-cn/glossary/udp/index.md
Labels: l10n-zh

#3632 Fix percent encoding and minor improvements
  files/zh-cn/web/javascript/reference/global_objects/encodeuricomponent/index.html
Labels: l10n-zh

#3681 Update index.html
  files/zh-cn/web/javascript/reference/global_objects/object/tostring/index.html
Labels: l10n-zh

#3708 create translate for living_streaming_audio_and_video
  files/zh-cn/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
Labels: l10n-zh

#3729 Solve #3684 in es locale, update content and convert to md
  files/es/web/http/headers/x-frame-options/index.html
  files/es/web/http/headers/x-frame-options/index.md
Labels: l10n-es

#3716 Update CSS zoom content
  files/es/web/css/zoom/index.html
  files/es/web/css/zoom/index.md
Labels: l10n-es

#3735 (ru) Fix broken image at "Responsive images" page
  files/ru/learn/html/multimedia_and_embedding/responsive_images/index.html
Labels: l10n-ru

#3728 (ru) Fix translation and orthography at "Custom properties" page
  files/ru/web/css/--_star_/index.html
Labels: l10n-ru

#3648 Web/API/Navigator/wakeLock を新規翻訳
  files/ja/web/api/navigator/wakelock/index.md
Labels: l10n-ja

#3660 Web/Manifest/icons を更新
  files/ja/web/manifest/icons/index.md
Labels: l10n-ja

#3673 Web/Manifest/protocol_handlers を新規翻訳
  files/ja/web/manifest/protocol_handlers/index.md
Labels: l10n-ja

#3723 fix variable name to match the original [ja]
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-ja

#3486 Translate angular_filtering page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_filtering/index.md
Labels: l10n-ru

#3487 Translate angular_building page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_building/index.md
Labels: l10n-ru

#3737 Update index.html
  files/ru/learn/server-side/express_nodejs/mongoose/index.html
Labels: l10n-ru

#3576 [ko] Translation done of `Using shadow DOM` document
  files/ko/web/web_components/using_shadow_dom/dom-screenshot.png
  files/ko/web/web_components/using_shadow_dom/index.html
  files/ko/web/web_components/using_shadow_dom/index.md
  files/ko/web/web_components/using_shadow_dom/shadowdom.svg
Labels: l10n-ko

#3743 fix(typo): 修改'注：'为'备注：'
  files/zh-cn/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
Labels: l10n-zh

#3736 时其 -> 使其
  files/zh-cn/web/css/css_flow_layout/intro_to_formatting_contexts/index.html
Labels: l10n-zh

#3649 Web/HTTP/Headers/Cross-Origin-Embedder-Policy を新規翻訳
  files/ja/web/http/headers/cross-origin-embedder-policy/index.md
Labels: l10n-ja

#3674 Web/Manifest/display_override を新規翻訳
  files/ja/web/manifest/display_override/index.md
Labels: l10n-ja

#3739 Update index.html
  files/ja/web/media/autoplay_guide/index.html
Labels: l10n-ja

#3740 Fix: Close the source tag in zh-CN
  files/zh-cn/web/media/autoplay_guide/index.html
Labels: l10n-zh

#3757 fix a typo in Japanese translation
  files/ja/web/progressive_web_apps/introduction/index.html
Labels: l10n-ja

#3692 Web/API/MouseEvent/movementX を更新
  files/ja/web/api/mouseevent/movementx/index.md
Labels: l10n-ja

#3725 リンクを修正
  files/ja/web/css/_colon_defined/index.md
Labels: l10n-ja

#3770 minificationを翻訳
  files/ja/glossary/minification/index.md
Labels: l10n-ja

#3753 learn/getting_started_with_the_web/html_basics における誤字の修正
  files/ja/learn/getting_started_with_the_web/html_basics/index.html
Labels: l10n-ja

#3715 Acomodando pequeño error "texo" a "texto". Fixing typo
  files/es/learn/getting_started_with_the_web/javascript_basics/index.html
Labels: l10n-es

#3788 fix: correct the grammar and remove html tag `font`
  files/zh-cn/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.html
Labels: l10n-zh

#3693 Web/API/MouseEvent/offsetX を新規翻訳
  files/ja/web/api/htmlelement/offsetparent/index.html
  files/ja/web/api/mouseevent/index.md
  files/ja/web/api/mouseevent/offsetx/index.md
  files/ja/web/api/mouseevent/offsety/index.md
  files/ja/web/css/mask-origin/index.md
  files/ja/web/css/vertical-align/index.md
Labels: l10n-ja

#3477 [ko] Translation done of `AudioNode.channelCountMode` document
  files/ko/web/api/audionode/channelcountmode/index.md
Labels: l10n-ko

#3710 Web/CSS/CSS_Animations/Using_CSS_animations のアニメーションを動作するように修正
  files/ja/web/css/css_animations/using_css_animations/index.md
Labels: l10n-ja

#3810 files/ru/learn/server-side/express_nodejs/mongoose/index.html - untranslated fragment
  files/ru/learn/server-side/express_nodejs/mongoose/index.html
Labels: l10n-ru

#1984 Last paragraph in conditional structures translated
  files/es/learn/javascript/building_blocks/conditionals/index.html
  files/es/learn/javascript/objects/object_building_practice/index.html
Labels: l10n-es

#2237 Update index.html
  files/es/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-es

#3610 Corrigindo #3364
  files/pt-br/learn/javascript/first_steps/useful_string_methods/index.html
Labels: l10n-pt-br

#3689 Fix pt-BR translation for "definition"
  files/pt-br/web/javascript/reference/operators/instanceof/index.html
Labels: l10n-pt-br

#3623 Text corrections (pt-br language)
  files/pt-br/learn/javascript/first_steps/a_first_splash/index.html
Labels: l10n-pt-br

#2953 Fixed typos and errors in Classes reference code example.
  files/es/web/javascript/reference/classes/index.html
Labels: l10n-es

#3829 Update index.html
  files/es/learn/javascript/asynchronous/concepts/index.html
Labels: l10n-es

#3726 Web/CSS/:host() を新規翻訳
  files/ja/web/css/_colon_host()/index.md
Labels: l10n-ja

#3813 fix: add whitespace link
  files/ko/web/javascript/reference/global_objects/number/parsefloat/index.md
Labels: l10n-ko

#3746 fix(doublecolon-after): sample code of tooltips
  files/zh-cn/web/css/_doublecolon_after/index.html
Labels: l10n-zh

#3804 fix: typo err
  files/ko/web/api/event/istrusted/index.md
Labels: l10n-ko

#3836 fix content HTML element
  files/es/web/html/element/content/index.html
Labels: l10n-es

#3822 fix: typo error
  files/ko/learn/common_questions/what_software_do_i_need/index.html
Labels: l10n-ko

#3816 Fix typo
  files/ja/web/api/intersection_observer_api/index.html
Labels: l10n-ja

#3827 fix the text Compatibilidad
  files/es/web/api/window/localstorage/index.html
Labels: l10n-es

#3867 (ru) Fix editor names at ".htaccess" page
  files/ru/learn/server-side/apache_configuration_htaccess/index.html
Labels: l10n-ru

#3826 fix typo
  files/ja/web/css/css_scroll_snap/basic_concepts/index.md
Labels: l10n-ja

#3761 Web/HTTP/Headers/Feature-Policy/web-share を新規翻訳
  files/ja/web/http/headers/feature-policy/web-share/index.md
Labels: l10n-ja

#3762 Feature-Policy: accelerometer を新規作成
  files/ja/web/http/headers/feature-policy/accelerometer/index.md
Labels: l10n-ja

#3763 Feature-Policy: ambient-light-sensor を新規翻訳
  files/ja/web/http/headers/feature-policy/ambient-light-sensor/index.md
Labels: l10n-ja

#3767 Feature-Policy: document-domain を新規翻訳
  files/ja/web/http/headers/feature-policy/document-domain/index.md
Labels: l10n-ja

#3768 Feature-Policy: display-capture を新規翻訳
  files/ja/web/http/headers/feature-policy/display-capture/index.md
Labels: l10n-ja

#3738 Array.prototype.reduce() の記事を更新
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-ja

#3771 [l10n-ja] for ... in: or ... in という表記修正
  files/ja/web/javascript/reference/statements/for...in/index.html
Labels: l10n-ja

#3837 Fix grammatical errors
  files/es/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
Labels: l10n-es

#3875 Array method 'at()'
  files/ru/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-ru

#3443 Initial translation for web_crypto
  files/fr/web/api/web_crypto_api/index.md
  files/fr/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Labels: l10n-fr
