Repository mdn/translated-content, pull requests merged in 2022-12, with the labels that each got.

#10339 add zh-CN trans for Function.prototype.prototype
  files/zh-cn/web/javascript/reference/global_objects/function/prototype/index.md
Labels: l10n-zh

#10356 Fix typo in CSS_Layout grid (Zh-cn)
  files/zh-cn/learn/css/css_layout/grids/index.md
Labels: l10n-zh

#10344 Fix error in Web/API/setInterval
  files/zh-cn/web/api/setinterval/index.md
Labels: l10n-zh

#10348 chore: remove `{{TemplateLink}}` macro
  files/pt-br/conflicting/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/pt-br/mdn/writing_guidelines/writing_style_guide/index.md
  files/ru/conflicting/mdn/writing_guidelines/page_structures/live_samples/index.html
Labels: l10n-ru, l10n-pt-br

#10156 Web/SVG/SVG_as_an_Image を更新
  files/ja/web/svg/svg_as_an_image/index.md
Labels: l10n-ja

#10310 zh-cn(update): sync promsie.allsettled
  files/zh-cn/web/javascript/reference/global_objects/promise/allsettled/index.md
Labels: l10n-zh

#10353 docs: update content for remainder and subtraction
  files/zh-cn/web/javascript/reference/operators/remainder/index.md
  files/zh-cn/web/javascript/reference/operators/remainder_assignment/index.md
  files/zh-cn/web/javascript/reference/operators/subtraction/index.md
  files/zh-cn/web/javascript/reference/operators/subtraction_assignment/index.md
Labels: l10n-zh

#10345 Update Responsive images
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-zh

#8423 Page: windows.WindowState / Translate from English to Japanese
  files/ja/mozilla/add-ons/webextensions/api/windows/windowstate/index.md
Labels: l10n-ja

#10267 [zh-tw] Svelte variables props 部分新翻譯
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.md
Labels: l10n-zh

#10311 リンク切れ修正
  files/ja/web/api/element/getelementsbyclassname/index.md
Labels: l10n-ja

#10175 MathML の記事から GeckoRelease マクロを削除、かつ更新
  files/ja/web/mathml/element/mi/index.md
  files/ja/web/mathml/element/mn/index.md
  files/ja/web/mathml/element/mo/index.md
  files/ja/web/mathml/element/mspace/index.md
  files/ja/web/mathml/element/msub/index.md
  files/ja/web/mathml/element/msubsup/index.md
  files/ja/web/mathml/element/msup/index.md
  files/ja/web/mathml/element/mtable/index.md
  files/ja/web/mathml/element/mtext/index.md
  files/ja/web/mathml/element/semantics/index.md
Labels: l10n-ja

#10389 fix typo in `defineProperty`
  files/zh-cn/web/javascript/reference/global_objects/proxy/proxy/defineproperty/index.md
Labels: l10n-zh

#10391 docs: translate content for bitwise_or and bitwise_or_assignment
  files/zh-cn/web/javascript/reference/operators/bitwise_or/index.md
  files/zh-cn/web/javascript/reference/operators/bitwise_or_assignment/index.md
Labels: l10n-zh

#10395 [zh-CN] Fixed a typo in introducing workers
  files/zh-cn/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-zh

#10398 [zh-CN] Fix a typo for client side web apis
  files/zh-cn/learn/javascript/client-side_web_apis/third_party_apis/index.md
Labels: l10n-zh

#10386 sync with english version for EvalError
  files/zh-cn/web/javascript/reference/global_objects/evalerror/index.md
Labels: l10n-zh

#10387 sync with english version for SyntaxError
  files/zh-cn/web/javascript/reference/global_objects/syntaxerror/index.md
Labels: l10n-zh

#10283 fix(ja): fix typo
  files/ja/web/javascript/reference/global_objects/array/values/index.md
Labels: l10n-ja

#10284 Improve Window.console
  files/ja/web/api/window/console/index.md
Labels: l10n-ja

#10285 Improve HIDDevice.sendReport()
  files/ja/web/api/hiddevice/sendreport/index.md
Labels: l10n-ja

#10377 [es] Update translation for file glossary/world_wide_web/index.md
  files/es/glossary/world_wide_web/index.md
Labels: l10n-es

#9963 Fix Not Found Image
  files/ko/web/css/css_transforms/using_css_transforms/index.md
  files/ko/web/css/css_transforms/using_css_transforms/logo.png
Labels: l10n-ko

#10388 add zh-CN translation for Serializable object
  files/zh-cn/glossary/serializable_object/index.md
Labels: l10n-zh

#10252 Firefox 6x および 91 for developers を更新（主に event マクロの削除）
  files/ja/mozilla/firefox/releases/60/index.md
  files/ja/mozilla/firefox/releases/62/index.md
  files/ja/mozilla/firefox/releases/65/index.md
  files/ja/mozilla/firefox/releases/66/index.md
  files/ja/mozilla/firefox/releases/91/index.md
Labels: l10n-ja

#10273 fix: code bolding KO
  files/ko/conflicting/web/css/index.md
  files/ko/web/api/imagecapture/takephoto/index.md
  files/ko/web/api/nodelist/index.md
  files/ko/web/api/rtcpeerconnection/createdatachannel/index.md
  files/ko/web/api/rtcpeerconnection/index.md
  files/ko/web/api/url/hostname/index.md
  files/ko/web/api/url/password/index.md
  files/ko/web/api/worker/index.md
  files/ko/web/css/border-style/index.md
  files/ko/web/css/mix-blend-mode/index.md
  files/ko/web/http/headers/content-range/index.md
  files/ko/web/http/headers/range/index.md
  files/ko/web/javascript/reference/global_objects/array/@@species/index.md
  files/ko/web/javascript/reference/global_objects/date/getmonth/index.md
  files/ko/web/javascript/reference/global_objects/date/getseconds/index.md
  files/ko/web/javascript/reference/global_objects/math/log/index.md
  files/ko/web/javascript/reference/global_objects/number/isinteger/index.md
  files/ko/web/javascript/reference/global_objects/number/tostring/index.md
  files/ko/webassembly/javascript_interface/validate/index.md
Labels: l10n-ko

#10149 Glossary: cacheable, percent-encoding 추가
  files/ko/glossary/cacheable/index.md
  files/ko/glossary/percent-encoding/index.md
  files/ko/web/http/status/414/index.md
Labels: l10n-ko

#10408 docs: update content for increment and decrement
  files/zh-cn/web/javascript/reference/operators/decrement/index.md
  files/zh-cn/web/javascript/reference/operators/increment/index.md
Labels: l10n-zh

#10416 [zh] fix marquee Markdown format error
  files/zh-cn/web/api/window/matchmedia/index.md
Labels: l10n-zh

#10417 Update the Instance properties section in MediaQueryList
  files/zh-cn/web/api/mediaquerylist/index.md
Labels: l10n-zh

#10423 zh-cn(update): part of #3893
  files/zh-cn/web/api/filereader/readystate/index.md
Labels: l10n-zh

#10405 fix(images): fix filecheck errors
  files/fr/learn/getting_started_with_the_web/css_basics/css-declaration-small.png
  files/fr/web/api/broadcast_channel_api/broadcastchannel.png
  files/ja/web/css/image-orientation/mdn.svg
Labels: l10n-ja, l10n-fr

#10380 JavaScript: null, undefined 수정
  files/ko/web/javascript/reference/global_objects/undefined/index.md
  files/ko/web/javascript/reference/operators/null/index.md
Labels: l10n-ko

#10422 sync with english version for GeneratorFunction
  files/zh-cn/web/javascript/reference/global_objects/generatorfunction/index.md
Labels: l10n-zh

#10438 Fix a bug that the part that shouldn't be bold
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
Labels: l10n-zh

#10439 docs: update input/search
  files/zh-cn/web/html/element/input/search/index.md
Labels: l10n-zh

#10338 zh-cn(update): sync toStringTag
  files/zh-cn/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Labels: l10n-zh

#10444 zh-cn(update): sync webrtc
  files/zh-cn/web/api/rtcstatsreport/index.md
Labels: l10n-zh

#10442 zh-cn(fix): about well-known translation
  files/zh-cn/web/javascript/reference/global_objects/symbol/description/index.md
  files/zh-cn/web/javascript/reference/global_objects/symbol/index.md
  files/zh-cn/web/javascript/reference/global_objects/symbol/tostring/index.md
Labels: l10n-zh

#10446 docs: translate content for bitwise_xor
  files/zh-cn/web/javascript/reference/operators/bitwise_xor/index.md
Labels: l10n-zh

#10256 Web/SVG/Attribute/transform を更新
  files/ja/web/svg/attribute/transform/index.md
Labels: l10n-ja

#10441 fix typo in search `input`
  files/zh-cn/web/html/element/input/search/index.md
Labels: l10n-zh

#10447 docs: update errors/stmt_after_return
  files/zh-cn/web/javascript/reference/errors/stmt_after_return/index.md
Labels: l10n-zh

#10443 fix: replace external broken links
  files/zh-cn/_redirects.txt
  files/zh-tw/_redirects.txt
Labels: l10n-zh

#10448 docs: update errors/deprecated_string_generics
  files/zh-cn/web/javascript/reference/errors/deprecated_string_generics/index.md
Labels: l10n-zh

#10321 translate Numbers and operators `ko`
  files/ko/learn/javascript/first_steps/math/index.md
Labels: l10n-ko

#9988 HTTP 상태 코드 일부 수정
  files/ko/web/http/status/101/index.md
  files/ko/web/http/status/200/index.md
  files/ko/web/http/status/201/index.md
  files/ko/web/http/status/206/index.md
Labels: l10n-ko

#10393 chore(ru): fix markdown syntax in "Element.id" article
  files/ru/web/api/element/id/index.md
Labels: l10n-ru

#10358 fix: enable MD023
  .markdownlint-cli2.jsonc
  files/ru/web/api/webvtt_api/index.md
Labels: l10n-ru

#9691 chore(ru): remove `{{note}}` macro
  files/ru/conflicting/web/javascript/inheritance_and_the_prototype_chain/index.html
  files/ru/learn/common_questions/what_is_a_url/index.md
  files/ru/web/api/console/warn/index.md
  files/ru/web/api/document/activeelement/index.md
  files/ru/web/api/indexeddb_api/using_indexeddb/index.md
  files/ru/web/api/service_worker_api/using_service_workers/index.md
  files/ru/web/api/window/domcontentloaded_event/index.md
  files/ru/web/html/element/embed/index.md
  files/ru/web/html/element/optgroup/index.md
  files/ru/web/javascript/reference/global_objects/function/apply/index.md
  files/ru/web/javascript/reference/global_objects/string/split/index.md
Labels: l10n-ru

#10359 fix: Markdownlint literal nbsp
  .markdownlint-cli2.jsonc
  files/es/mozilla/firefox/experimental_features/index.md
  files/es/web/css/_colon_empty/index.md
  files/es/web/css/appearance/index.md
  files/es/web/css/color_value/index.md
  files/fr/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.md
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
  files/ja/learn/common_questions/checking_that_your_web_site_is_working_properly/index.md
  files/ja/learn/common_questions/design_for_all_types_of_users/index.md
  files/ja/learn/common_questions/how_much_does_it_cost/index.md
  files/ja/learn/common_questions/using_github_pages/index.md
  files/ja/learn/common_questions/what_are_browser_developer_tools/index.md
  files/ja/learn/common_questions/what_is_a_web_server/index.md
  files/ja/learn/common_questions/what_software_do_i_need/index.md
  files/ja/learn/css/building_blocks/organizing/index.md
  files/ja/web/api/history_api/working_with_the_history_api/index.md
  files/ja/web/api/webrtc_api/connectivity/index.md
  files/ja/web/api/webrtc_api/protocols/index.md
  files/ja/web/javascript/guide/regular_expressions/index.md
  files/ja/web/svg/applying_svg_effects_to_html_content/index.md
  files/ko/games/index.md
  files/pt-br/web/css/border-left/index.md
  files/pt-br/web/javascript/javascript_technologies_overview/index.md
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.md
  files/ru/learn/server-side/express_nodejs/forms/index.md
  files/ru/web/css/css_flexible_box_layout/backwards_compatibility_of_flexbox/index.md
  files/ru/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/ru/web/css/css_grid_layout/subgrid/index.md
  files/ru/web/http/overview/index.md
  files/ru/web/javascript/reference/functions/arguments/index.md
  files/ru/web/javascript/reference/global_objects/array/flatmap/index.md
  files/zh-cn/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#10437 sync with english version for `Element.animate()`
  files/zh-cn/web/api/element/animate/index.md
Labels: l10n-zh

#10450 docs: update comment part of lexical_grammar
  files/zh-cn/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-zh

#10451 zh-cn(update): remove {{page}} in the arraybuffer
  files/zh-cn/web/javascript/reference/global_objects/arraybuffer/index.md
Labels: l10n-zh

#10456 docs: update element/var
  files/zh-cn/web/html/element/var/index.md
Labels: l10n-zh

#10454 sync with english version for `Document.body`
  files/zh-cn/web/api/document/body/index.md
Labels: l10n-zh

#10458 docs: update element/ul
  files/zh-cn/web/html/element/ul/index.md
Labels: l10n-zh

#9939 HTTP 상태 501~505 수정
  files/ko/web/http/status/501/index.md
  files/ko/web/http/status/502/index.md
  files/ko/web/http/status/503/index.md
  files/ko/web/http/status/504/index.md
  files/ko/web/http/status/505/index.md
Labels: l10n-ko

#10464 Markdown unsuccessfully bolded `json`
  files/zh-cn/web/javascript/reference/global_objects/json/index.md
Labels: l10n-zh

#10367 [ko] translate cors missing allow origin
  files/ko/web/http/cors/errors/corsmissingalloworigin/index.md
Labels: l10n-ko

#10466 Update will-change markdown
  files/zh-cn/web/css/will-change/index.md
Labels: l10n-zh

#10463 docs: update content for class operators
  files/zh-cn/web/javascript/reference/operators/class/index.md
Labels: l10n-zh

#10425 chore: remove {{page}} macros from zh-TW
  files/zh-tw/web/api/document/index.md
  files/zh-tw/web/api/filereader/readystate/index.md
  files/zh-tw/web/api/gainnode/gain/index.md
  files/zh-tw/web/api/gainnode/index.md
  files/zh-tw/web/api/screen/index.md
  files/zh-tw/web/http/basics_of_http/mime_types/index.md
  files/zh-tw/web/javascript/data_structures/index.md
  files/zh-tw/web/javascript/guide/indexed_collections/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/index.md
  files/zh-tw/web/javascript/reference/global_objects/arraybuffer/index.md
  files/zh-tw/web/javascript/reference/global_objects/asyncfunction/index.md
  files/zh-tw/web/javascript/reference/global_objects/bigint/index.md
  files/zh-tw/web/javascript/reference/global_objects/boolean/index.md
  files/zh-tw/web/javascript/reference/global_objects/dataview/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/index.md
  files/zh-tw/web/javascript/reference/global_objects/error/index.md
  files/zh-tw/web/javascript/reference/global_objects/function/index.md
  files/zh-tw/web/javascript/reference/global_objects/map/index.md
  files/zh-tw/web/javascript/reference/global_objects/number/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/index.md
  files/zh-tw/web/javascript/reference/global_objects/proxy/index.md
  files/zh-tw/web/javascript/reference/global_objects/rangeerror/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/index.md
  files/zh-tw/web/javascript/reference/global_objects/typedarray/index.md
  files/zh-tw/web/javascript/reference/global_objects/urierror/index.md
  files/zh-tw/web/javascript/typed_arrays/index.md
Labels: l10n-zh

#10469 typofix
  files/fr/learn/css/css_layout/responsive_design/index.md
Labels: l10n-fr

#10374 #10232 で削除対象となったファイルの削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/forms/form_validation/index.md
  files/ja/conflicting/mdn/contribute/index.md
  files/ja/conflicting/web/javascript/index.md
  files/ja/conflicting/web/javascript/reference/index.md
Labels: l10n-ja

#10394 Fixed markdown
  files/ru/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-ru

#10462 Update index.md
  files/ru/web/performance/critical_rendering_path/index.md
Labels: l10n-ru

#10479 [zh] Replace mdn.mozillademos.org images that exist in content
  files/zh-cn/learn/css/building_blocks/advanced_styling_effects/index.md
  files/zh-cn/learn/css/css_layout/positioning/index.md
  files/zh-cn/learn/css/styling_text/styling_links/index.md
  files/zh-cn/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.md
  files/zh-cn/web/api/canvas_api/tutorial/compositing/index.md
  files/zh-cn/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.md
  files/zh-cn/web/api/canvaspattern/settransform/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/arc/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createpattern/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/fillstyle/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/globalalpha/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/linecap/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/linejoin/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/miterlimit/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/strokestyle/index.md
  files/zh-cn/web/api/console/timelog/index.md
  files/zh-cn/web/api/service_worker_api/using_service_workers/index.md
  files/zh-cn/web/api/web_audio_api/index.md
  files/zh-cn/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/zh-cn/web/api/xmlhttprequest/abort_event/index.md
  files/zh-cn/web/api/xmlhttprequest/error_event/index.md
  files/zh-cn/web/css/-moz-image-rect/index.md
  files/zh-cn/web/css/background-attachment/index.md
  files/zh-cn/web/css/background-blend-mode/index.md
  files/zh-cn/web/css/background-image/index.md
  files/zh-cn/web/css/background-repeat/index.md
  files/zh-cn/web/css/background/index.md
  files/zh-cn/web/css/blend-mode/index.md
  files/zh-cn/web/css/border-image-width/index.md
  files/zh-cn/web/css/border-image/index.md
  files/zh-cn/web/css/content/index.md
  files/zh-cn/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/zh-cn/web/css/css_images/using_css_gradients/index.md
  files/zh-cn/web/css/image-rendering/index.md
  files/zh-cn/web/css/list-style-image/index.md
  files/zh-cn/web/css/list-style-position/index.md
  files/zh-cn/web/css/mask-border/index.md
  files/zh-cn/web/css/object-position/index.md
  files/zh-cn/web/css/vertical-align/index.md
  files/zh-tw/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-tw/web/api/canvas_api/tutorial/using_images/index.md
  files/zh-tw/web/css/background-attachment/index.md
  files/zh-tw/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/zh-tw/web/css/object-fit/index.md
Labels: l10n-zh

#10506 zh-cn(update): remove page from rtc.icegatheringstate
  files/zh-cn/web/api/rtcpeerconnection/icegatheringstate/index.md
Labels: l10n-zh

#10509 docs: update glossary/copyleft
  files/zh-cn/glossary/copyleft/index.md
Labels: l10n-zh

#10486 fix(Web/CSS/font-face): use VeraSeBd.ttf from css-examples
  files/es/web/css/@font-face/index.md
  files/ja/web/css/@font-face/index.md
  files/ko/web/css/@font-face/index.md
  files/pt-br/web/css/@font-face/index.md
  files/ru/web/css/@font-face/index.md
  files/zh-cn/web/css/@font-face/index.md
  files/zh-tw/web/css/@font-face/index.md
Labels: l10n-ja, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#10390 fix(ci): use GitHub API to get changed files
  .github/workflows/pr-check_markdownlint.yml
Labels: system

#8952 ci(pr-test): use GitHub API to get changed files + diff
  .github/workflows/pr-test.yml
Labels: system

#10480 [es] Import missing mdn.mozillademos.org images
  files/es/conflicting/learn/javascript/objects/classes_in_javascript/index.md
  files/es/conflicting/mdn/writing_guidelines/page_structures_479b8c93d0b37a3f2a020112ae60e692/index.md
  files/es/glossary/html/anatomia-de-un-elemento-html.png
  files/es/glossary/html/index.md
  files/es/learn/common_questions/using_github_pages/index.md
  files/es/learn/common_questions/what_is_a_url/index.md
  files/es/learn/common_questions/what_is_a_url/mdn-url-domain@x2.png
  files/es/learn/common_questions/what_is_a_url/mdn-url-port@x2.png
  files/es/learn/css/styling_text/styling_lists/index.md
  files/es/learn/getting_started_with_the_web/publishing_your_website/command-line.png
  files/es/learn/getting_started_with_the_web/publishing_your_website/github-populate-repo.png
  files/es/learn/getting_started_with_the_web/publishing_your_website/hosted-final-site.png
  files/es/learn/getting_started_with_the_web/publishing_your_website/index.md
  files/es/learn/html/introduction_to_html/marking_up_a_letter/index.md
  files/es/learn/javascript/building_blocks/looping_code/index.md
  files/es/learn/javascript/building_blocks/looping_code/loop_js-02-farm.png
  files/es/learn/javascript/client-side_web_apis/introduction/index.md
  files/es/learn/javascript/client-side_web_apis/introduction/location-permission.png
  files/es/learn/server-side/django/development_environment/index.md
  files/es/web/api/analysernode/index.md
  files/es/web/api/canvas_api/tutorial/index.md
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/es/web/api/console/table/index.md
  files/es/web/api/element/getboundingclientrect/index.md
  files/es/web/api/notifications_api/index.md
  files/es/web/api/window/open/index.md
  files/es/web/css/@font-face/unicode-range/index.md
  files/es/web/css/css_backgrounds_and_borders/border-radius_generator/index.md
  files/es/web/css/font-style/index.md
  files/es/web/css/object-position/index.md
  files/es/web/css/transform-function/rotate/index.md
  files/es/web/css/transform-function/scale/index.md
  files/es/web/css/transform-function/translate/index.md
  files/es/web/css/transform-function/translatey/index.md
  files/es/web/css/writing-mode/index.md
  files/es/web/html/element/a/index.md
  files/es/web/html/element/a/mdn_logo.png
  files/es/web/html/element/input/color/index.md
  files/es/web/http/authentication/index.md
  files/es/web/javascript/guide/indexed_collections/index.md
  files/es/web/javascript/guide/indexed_collections/typed_arrays.png
  files/es/web/performance/fundamentals/index.md
  files/es/web/progressive_web_apps/introduction/index.md
  files/es/web/svg/element/circle/index.md
  files/es/web/svg/element/rect/index.md
  files/es/web/web_components/using_shadow_dom/index.md
Labels: l10n-es

#10472 chore: Update Markdownlint config filename
  .github/workflows/markdown-lint.yml
Labels: system

#10508 remove remaining mozidemo urls
  files/zh-cn/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/zh-cn/web/api/filereader/readasdataurl/index.md
  files/zh-cn/web/css/box-decoration-break/index.md
  files/zh-cn/web/css/font-style/index.md
  files/zh-cn/web/css/font-style/screen_shot_2015-12-05_at_08.41.03.png
  files/zh-cn/web/css/font-variant-numeric/index.md
Labels: l10n-zh

#10522 [zh] fix <meter> Markdown format error
  files/zh-cn/web/html/element/meter/index.md
Labels: l10n-zh

#10357 chore: (um ola mundo exemplo -> um exemplo ola mundo)
  files/pt-br/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: l10n-pt-br

#10072 Update on MD.
  files/pt-br/learn/server-side/django/forms/index.md
Labels: l10n-pt-br

#10343 Learn/Forms/Form_validation を更新
  files/ja/learn/forms/form_validation/index.md
Labels: l10n-ja

#10539 Update index.md
  files/zh-cn/learn/javascript/building_blocks/events/index.md
Labels: l10n-zh

#10538 Remove deprecated CanvasSidebar macro from es
  files/es/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/es/web/api/canvas_api/index.md
  files/es/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/es/web/api/canvas_api/tutorial/basic_animations/index.md
  files/es/web/api/canvas_api/tutorial/basic_usage/index.md
  files/es/web/api/canvas_api/tutorial/compositing/example/index.md
  files/es/web/api/canvas_api/tutorial/compositing/index.md
  files/es/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/es/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
Labels: l10n-es

#10368 HTMLOptionsCollection を新規翻訳
  files/ja/web/api/htmloptionscollection/index.md
Labels: l10n-ja

#10521 remove CanvasSidebar from l10n-zh
  files/zh-cn/mozilla/firefox/releases/41/index.md
  files/zh-cn/web/api/canvas_api/index.md
  files/zh-cn/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/zh-cn/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.md
  files/zh-cn/web/api/canvas_api/tutorial/compositing/example/index.md
  files/zh-cn/web/api/canvas_api/tutorial/compositing/index.md
  files/zh-cn/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
  files/zh-cn/web/api/canvas_api/tutorial/index.md
  files/zh-cn/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/zh-cn/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.md
  files/zh-tw/web/api/canvas_api/index.md
  files/zh-tw/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/zh-tw/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-tw/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-tw/web/api/canvas_api/tutorial/basic_usage/index.md
  files/zh-tw/web/api/canvas_api/tutorial/compositing/example/index.md
  files/zh-tw/web/api/canvas_api/tutorial/compositing/index.md
  files/zh-tw/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/zh-tw/web/api/canvas_api/tutorial/drawing_text/index.md
  files/zh-tw/web/api/canvas_api/tutorial/index.md
  files/zh-tw/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/zh-tw/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/zh-tw/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-tw/web/api/canvas_api/tutorial/using_images/index.md
Labels: l10n-zh

#10536 [zh-CN] add translation for Object-oriented_programming
  files/zh-cn/learn/javascript/objects/object-oriented_programming/index.md
  files/zh-cn/learn/javascript/objects/object_prototypes/index.md
Labels: l10n-zh

#10544 zh-cn(update): sync dragenter for the English
  files/zh-cn/web/api/htmlelement/dragenter_event/index.md
Labels: l10n-zh

#10373 Web/API/Battery_Status_API を更新
  files/ja/web/api/battery_status_api/index.md
Labels: l10n-ja

#10549 ci(pr-test): add path filter to skip some unnecessary checks
  .github/workflows/pr-test.yml
Labels: system

#10545 chore: remove {{WebGLSidebar}} macro from l10n-zh
  files/zh-cn/web/api/webgl_api/basic_2d_animation_example/index.md
  files/zh-cn/web/api/webgl_api/constants/index.md
  files/zh-cn/web/api/webgl_api/data/index.md
  files/zh-cn/web/api/webgl_api/index.md
  files/zh-cn/web/api/webgl_api/matrix_math_for_the_web/index.md
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/zh-cn/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/index.md
  files/zh-cn/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/zh-cn/web/api/webgl_api/types/index.md
  files/zh-cn/web/api/webgl_api/using_extensions/index.md
  files/zh-cn/web/api/webgl_api/webgl_best_practices/index.md
  files/zh-cn/web/api/webgl_api/webgl_model_view_projection/index.md
  files/zh-tw/web/api/webgl_api/index.md
  files/zh-tw/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/zh-tw/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/zh-tw/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/zh-tw/web/api/webgl_api/tutorial/index.md
  files/zh-tw/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
Labels: l10n-zh

#10541 Update CSS/text-overflow [es]
  files/es/web/css/text-overflow/index.md
Labels: l10n-es

#10523 fix: typo 욯 => 용
  files/ko/web/api/html_dom_api/microtask_guide/index.md
Labels: l10n-ko

#10152 Grossary: Asynchronous 문서 추가 및 번역
  files/ko/glossary/asynchronous/index.md
Labels: l10n-ko

#10554 Fix #5579 broken links in Quirks_Mode [es]
  files/es/web/html/quirks_mode_and_standards_mode/index.md
Labels: l10n-es

#10553 Remove deprecated WebGLSidebar macro from es
  files/es/web/api/webgl_api/index.md
  files/es/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/es/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/es/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/es/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/es/web/api/webgl_api/tutorial/index.md
  files/es/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/es/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: l10n-es

#10555 Fix #6448 broken link in crossorigin [es]
  files/es/web/html/attributes/crossorigin/index.md
Labels: l10n-es

#10550 sync with english version for wheel event
  files/zh-cn/web/api/element/wheel_event/index.md
Labels: l10n-zh

#10561 fix typo
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#10399 Web/API/Pointer_Lock_API を更新
  files/ja/web/api/pointer_lock_api/index.md
Labels: l10n-ja

#10401 ポインターロック API の記事を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/element/pointerlockerror_event/index.md
  files/ja/web/api/document/exitpointerlock/index.md
  files/ja/web/api/document/pointerlockchange_event/index.md
  files/ja/web/api/document/pointerlockelement/index.md
  files/ja/web/api/document/pointerlockerror_event/index.md
  files/ja/web/api/element/requestpointerlock/index.md
Labels: l10n-ja

#10409 Time to interactive を更新
  files/ja/glossary/time_to_interactive/index.md
Labels: l10n-ja

#10413 Web/API/XMLHttpRequest/Sending_and_Receiving_Binary_Data を更新
  files/ja/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
Labels: l10n-ja

#10415 createImageBitmap() の記事を更新
  files/ja/web/api/createimagebitmap/index.md
Labels: l10n-ja

#10481 [ja] Import missing mdn.mozillademos.org images
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/index.md
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-inherited-3.png
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-instantiation-2-fixed.png
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-instantiation-teacher-3.png
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/person-diagram.png
  files/ja/conflicting/web/api/xrinputsource/targetraymode/example-target-ray.gif
  files/ja/conflicting/web/api/xrinputsource/targetraymode/index.md
  files/ja/orphaned/web/compatibility_faq/broken_table_layout.html/0107_1.jpg
  files/ja/orphaned/web/compatibility_faq/broken_table_layout.html/0107_2.jpg
  files/ja/orphaned/web/compatibility_faq/broken_table_layout.html/index.md
  files/ja/orphaned/web/compatibility_faq/cut_off_text.html/0108.png
  files/ja/orphaned/web/compatibility_faq/cut_off_text.html/index.md
  files/ja/orphaned/web/compatibility_faq/empty_background_color.html/0202.jpg
  files/ja/orphaned/web/compatibility_faq/empty_background_color.html/index.md
  files/ja/orphaned/web/compatibility_faq/invalid_icon_size.html/0105.jpg
  files/ja/orphaned/web/compatibility_faq/invalid_icon_size.html/index.md
  files/ja/orphaned/web/compatibility_faq/misaligned_icon.html/0104_1.png
  files/ja/orphaned/web/compatibility_faq/misaligned_icon.html/0104_2.png
  files/ja/orphaned/web/compatibility_faq/misaligned_icon.html/index.md
  files/ja/orphaned/web/compatibility_faq/misaligned_text.html/0109.jpg
  files/ja/orphaned/web/compatibility_faq/misaligned_text.html/index.md
  files/ja/orphaned/web/compatibility_faq/misaligned_text_inside_icon.html/0103.jpg
  files/ja/orphaned/web/compatibility_faq/misaligned_text_inside_icon.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_background_shown.html/0201.jpg
  files/ja/orphaned/web/compatibility_faq/no_background_shown.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_border_line_shown.html/0302.jpg
  files/ja/orphaned/web/compatibility_faq/no_border_line_shown.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_checkbox_check_shown.html/0303.jpg
  files/ja/orphaned/web/compatibility_faq/no_checkbox_check_shown.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_decoreation_shown.html/0204.jpg
  files/ja/orphaned/web/compatibility_faq/no_decoreation_shown.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_icon_shown.html/0301.jpg
  files/ja/orphaned/web/compatibility_faq/no_icon_shown.html/index.md
  files/ja/orphaned/web/compatibility_faq/no_wrap.html/0101.jpg
  files/ja/orphaned/web/compatibility_faq/no_wrap.html/index.md
  files/ja/orphaned/web/compatibility_faq/overwrapped_icon.html/0106.jpg
  files/ja/orphaned/web/compatibility_faq/overwrapped_icon.html/index.md
  files/ja/orphaned/web/compatibility_faq/overwrapped_navigation.html/0102.jpg
  files/ja/orphaned/web/compatibility_faq/overwrapped_navigation.html/index.md
  files/ja/orphaned/web/compatibility_faq/tips_default_style_difference.html/ex2_1.png
  files/ja/orphaned/web/compatibility_faq/tips_default_style_difference.html/ex2_2.png
  files/ja/orphaned/web/compatibility_faq/tips_default_style_difference.html/ex2_3.png
  files/ja/orphaned/web/compatibility_faq/tips_default_style_difference.html/ex2_4.png
  files/ja/orphaned/web/compatibility_faq/tips_default_style_difference.html/index.md
  files/ja/orphaned/web/compatibility_faq/underline_color_diffrence.html/0203.jpg
  files/ja/orphaned/web/compatibility_faq/underline_color_diffrence.html/index.md
  files/ja/web/api/webvr_api/using_the_webvr_api/index.md
  files/ja/web/api/webvr_api/using_the_webvr_api/vrpositionsensor-demo.png
  files/ja/web/http/caching/httprevved.png
  files/ja/web/http/caching/httpstaleness.png
  files/ja/web/http/caching/httpvary.png
  files/ja/web/http/caching/index.md
  files/ja/web/http/messages/http_request_headers2.png
  files/ja/web/http/messages/http_response_headers2.png
  files/ja/web/http/messages/index.md
Labels: l10n-ja

#10500 conflicting / orphaned のうち、 spec2 マクロを使用していたものを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/credentialscontainer/create/index.md
  files/ja/conflicting/web/api/credentialscontainer/create_18148a708412fc42b1affe2f08eab270/index.md
  files/ja/conflicting/web/api/element/touchmove_event/index.md
  files/ja/conflicting/web/api/geolocation/getcurrentposition/index.md
  files/ja/conflicting/web/api/storagemanager/estimate/index.md
  files/ja/conflicting/web/api/window/scroll/index.md
  files/ja/conflicting/web/api/xrinputsource/handedness/index.md
  files/ja/conflicting/web/api/xrinputsource/targetraymode/index.md
  files/ja/conflicting/web/svg/element/animate/index.md
  files/ja/conflicting/web/web_components/index.md
  files/ja/orphaned/web/accessibility/aria/roles/role_img/index.md
Labels: l10n-ja

#10558 sync with english version for animationend event
  files/zh-cn/web/api/element/animationend_event/index.md
Labels: l10n-zh

#10559 remove page macro from some svg documents
  files/zh-cn/web/svg/attribute/accent-height/index.md
  files/zh-cn/web/svg/attribute/fy/index.md
  files/zh-cn/web/svg/attribute/height/index.md
  files/zh-cn/web/svg/attribute/repeatcount/index.md
Labels: l10n-zh

#10210 fix: broken definition list KO
  files/ko/web/html/element/tfoot/index.md
  files/ko/web/http/basics_of_http/identifying_resources_on_the_web/index.md
Labels: l10n-ko

#10303 fix typo in critical rendering path ko content
  files/ko/web/performance/critical_rendering_path/index.md
Labels: l10n-ko

#10327 JavaScript: String.prototype.at() 추가
  files/ko/web/javascript/reference/global_objects/string/at/index.md
Labels: l10n-ko

#10319 Change emscripten links of ko translation
  files/ko/webassembly/c_to_wasm/index.md
  files/ko/webassembly/concepts/index.md
  files/ko/webassembly/index.md
Labels: l10n-ko

#10435 Web/API/Intersection_Observer_API を更新
  files/ja/web/api/intersection_observer_api/index.md
Labels: l10n-ja

#10566 chore: replace `{{WebGLSidebar}}` KO
  files/ko/web/api/webgl_api/index.md
  files/ko/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/ko/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/index.md
  files/ko/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/ko/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ko/web/api/webgl_api/webgl_best_practices/index.md
Labels: l10n-ko

#10573 fix(ja): fix typo in canvasrenderingcontext2d/arc/index.md
  files/ja/web/api/canvasrenderingcontext2d/arc/index.md
Labels: l10n-ja

#10567 replace `CanvasSidebar` macro KO
  files/ko/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/ko/orphaned/web/api/canvas_api/tutorial/hit_regions_and_accessibility/index.md
  files/ko/web/api/canvas_api/index.md
  files/ko/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/ko/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/ko/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/ko/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ko/web/api/canvas_api/tutorial/compositing/example/index.md
  files/ko/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/ko/web/api/canvas_api/tutorial/drawing_text/index.md
  files/ko/web/api/canvas_api/tutorial/finale/index.md
  files/ko/web/api/canvas_api/tutorial/index.md
  files/ko/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/ko/web/api/canvas_api/tutorial/transformations/index.md
  files/ko/web/api/canvas_api/tutorial/using_images/index.md
Labels: l10n-ko

#10574 remove {{page}} macro from svg documents
  files/zh-cn/web/svg/attribute/stddeviation/index.md
  files/zh-cn/web/svg/attribute/width/index.md
  files/zh-cn/web/svg/attribute/x/index.md
  files/zh-cn/web/svg/attribute/y/index.md
Labels: l10n-zh

#10579 zh-cn(update): sync dragover and start for the english
  files/zh-cn/web/api/htmlelement/dragover_event/index.md
  files/zh-cn/web/api/htmlelement/dragstart_event/index.md
Labels: l10n-zh

#10581 docs: update internalerror
  files/zh-cn/web/javascript/reference/global_objects/internalerror/index.md
Labels: l10n-zh

#10372 modify HTTP guide ko
  files/ko/web/http/basics_of_http/evolution_of_http/index.md
  files/ko/web/http/basics_of_http/index.md
  files/ko/web/http/connection_management_in_http_1.x/index.md
  files/ko/web/http/messages/index.md
  files/ko/web/http/overview/index.md
  files/ko/web/http/session/index.md
Labels: l10n-ko

#10291 chore: replace `WebRTCSidebar` in ko
  files/ko/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/ko/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/ko/web/api/rtcpeerconnection/localdescription/index.md
  files/ko/web/api/webrtc_api/adapter.js/index.md
  files/ko/web/api/webrtc_api/protocols/index.md
  files/ko/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/ko/web/api/webrtc_api/using_data_channels/index.md
Labels: l10n-ko

#10406 Glossary: crawler, database, indexeddb 추가
  files/ko/glossary/crawler/index.md
  files/ko/glossary/database/index.md
  files/ko/glossary/indexeddb/index.md
Labels: l10n-ko

#10582 fix: link pointing to en-US document
  files/zh-cn/learn/javascript/objects/classes_in_javascript/index.md
Labels: l10n-zh

#10584 fix: correctly point to Object-oriented_programming
  files/zh-cn/learn/javascript/objects/object_prototypes/index.md
Labels: l10n-zh

#10583 Update index.md
  files/zh-cn/learn/javascript/index.md
Labels: l10n-zh

#10572 Typofix for "Groupes et références arrière"
  files/fr/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
Labels: l10n-fr

#10586 fix: no sidebar or deprecated header for html zh-cn pages.
  files/zh-cn/web/html/attributes/crossorigin/index.md
  files/zh-cn/web/html/attributes/index.md
  files/zh-cn/web/html/block-level_elements/index.md
  files/zh-cn/web/html/constraint_validation/index.md
  files/zh-cn/web/html/content_categories/index.md
  files/zh-cn/web/html/element/image/index.md
  files/zh-cn/web/html/element/nobr/index.md
  files/zh-cn/web/html/element/noframes/index.md
  files/zh-cn/web/html/element/param/index.md
  files/zh-cn/web/html/element/rb/index.md
  files/zh-cn/web/html/element/rtc/index.md
  files/zh-cn/web/html/inline_elements/index.md
  files/zh-cn/web/html/link_types/prefetch/index.md
  files/zh-cn/web/html/link_types/preload/index.md
Labels: l10n-zh

#10369 [ko] translate corsError-multipleAllowOriginNotAllowed
  files/ko/web/http/cors/errors/corsmultiplealloworiginnotallowed/index.md
Labels: l10n-ko

#10449 Intersection_Observer_API/Timing_element_visibility の翻訳を全面更新
  files/ja/web/api/intersection_observer_api/timing_element_visibility/index.md
Labels: l10n-ja

#10453 グローバルの caches プロパティを更新
  files/ja/_redirects.txt
  files/ja/conflicting/web/api/caches/index.md
  files/ja/web/api/caches/index.md
Labels: l10n-ja

#10455 Web/API/Performance_Timeline 以下を更新
  files/ja/web/api/performance_timeline/index.md
  files/ja/web/api/performance_timeline/using_performance_timeline/index.md
Labels: l10n-ja

#10503 menuitem 要素の記事を更新
  files/ja/web/html/element/menuitem/index.md
Labels: l10n-ja

#10362 :speech_balloon: [ko] translate CORS preflight error to korean.
  files/ko/web/http/cors/errors/corspreflightdidnotsucceed/index.md
Labels: l10n-ko

#10597 fix typo
  files/zh-cn/web/css/cursor/index.md
Labels: l10n-zh

#10300 JavaScript: Add Int32Array, Uint32Array
  files/ko/web/javascript/reference/global_objects/int32array/index.md
  files/ko/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/ko/web/javascript/reference/global_objects/uint32array/index.md
  files/ko/web/javascript/reference/global_objects/uint32array/uint32array/index.md
Labels: l10n-ko

#10243 fix: MD050 and links KO
  files/ko/learn/css/css_layout/responsive_design/index.md
  files/ko/learn/css/first_steps/what_is_css/index.md
  files/ko/learn/javascript/asynchronous/introducing_workers/index.md
  files/ko/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ko/web/api/element/attributes/index.md
  files/ko/web/api/htmltableelement/index.md
  files/ko/web/api/navigator/online/index.md
  files/ko/web/api/nodelist/length/index.md
  files/ko/web/api/range/index.md
  files/ko/web/css/alternative_style_sheets/index.md
  files/ko/web/exslt/index.md
  files/ko/web/javascript/guide/introduction/index.md
  files/ko/web/javascript/language_overview/index.md
  files/ko/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/ko/web/javascript/reference/functions/get/index.md
  files/ko/web/javascript/reference/functions/set/index.md
  files/ko/web/javascript/reference/global_objects/function/apply/index.md
  files/ko/web/javascript/reference/global_objects/function/bind/index.md
  files/ko/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/ko/web/javascript/reference/global_objects/object/getprototypeof/index.md
  files/ko/web/javascript/reference/global_objects/object/index.md
  files/ko/web/javascript/reference/global_objects/object/isextensible/index.md
  files/ko/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ko/web/javascript/reference/global_objects/object/preventextensions/index.md
  files/ko/web/javascript/reference/global_objects/object/seal/index.md
  files/ko/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/ko/web/javascript/reference/global_objects/promise/allsettled/index.md
  files/ko/web/svg/tutorial/svg_and_css/index.md
  files/ko/web/svg/tutorial/svg_in_html_introduction/index.md
  files/ko/web/xml/xml_introduction/index.md
  files/ko/web/xpath/axes/index.md
  files/ko/web/xpath/functions/format-number/index.md
  files/ko/web/xpath/functions/index.md
  files/ko/web/xpath/functions/key/index.md
  files/ko/web/xpath/functions/last/index.md
  files/ko/web/xpath/functions/not/index.md
  files/ko/web/xpath/introduction_to_using_xpath_in_javascript/index.md
  files/ko/web/xslt/element/transform/index.md
  files/ko/web/xslt/index.md
  files/ko/web/xslt/transforming_xml_with_xslt/index.md
  files/ko/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
  files/ko/web/xslt/xslt_js_interface_in_gecko/index.md
  files/ko/web/xslt/xslt_js_interface_in_gecko/introduction/index.md
Labels: l10n-ko

#10592 remove {{page}} macro from `@media`
  files/zh-cn/web/css/@media/index.md
  files/zh-cn/web/css/media_queries/using_media_queries/index.md
Labels: l10n-zh

#10615 remove duplicate content
  files/zh-tw/learn/server-side/django/index.md
Labels: l10n-zh

#10547 image-resolution プロパティの記事を更新
  files/ja/web/css/image-resolution/index.md
Labels: l10n-ja

#10548 Web/WebDriver を更新
  files/ja/web/webdriver/index.md
Labels: l10n-ja

#10552 WebVR API の記事を更新
  files/ja/web/api/webvr_api/concepts/index.md
  files/ja/web/api/webvr_api/index.md
  files/ja/web/api/webvr_api/using_the_webvr_api/index.md
  files/ja/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
Labels: l10n-ja

#10557 HTTP: Status Code 4xx 추가 및 수정
  files/ko/web/http/status/403/index.md
  files/ko/web/http/status/405/index.md
  files/ko/web/http/status/409/index.md
  files/ko/web/http/status/410/index.md
Labels: l10n-ko

#10515 HTTP: Status Code 3xx 수정
  files/ko/web/http/status/300/index.md
  files/ko/web/http/status/301/index.md
  files/ko/web/http/status/302/index.md
  files/ko/web/http/status/303/index.md
Labels: l10n-ko

#10617 fix(ci): do not paginate for fetching file changes
  .github/workflows/pr-check_markdownlint.yml
  .github/workflows/pr-test.yml
Labels: system

#10609 Update index.md (typo)
  files/es/web/html/element/template/index.md
Labels: l10n-es

#10171 Update glossary/null document
  files/ko/glossary/null/index.md
Labels: l10n-ko

#10251 Glossary: hyperlink 추가 외
  files/ko/glossary/browser/index.md
  files/ko/glossary/hyperlink/index.md
  files/ko/glossary/rss/index.md
  files/ko/glossary/xml/index.md
Labels: l10n-ko

#10607 add missing links and update image refs KO
  files/ko/learn/css/building_blocks/debugging_css/index.md
  files/ko/learn/css/building_blocks/fundamental_css_comprehension/index.md
  files/ko/learn/css/building_blocks/handling_different_text_directions/index.md
  files/ko/learn/css/building_blocks/index.md
  files/ko/learn/css/building_blocks/selectors/index.md
  files/ko/learn/css/building_blocks/the_box_model/index.md
  files/ko/learn/css/building_blocks/values_and_units/index.md
  files/ko/learn/html/index.md
  files/ko/learn/html/tables/index.md
Labels: l10n-ko

#10631 fix: missing minus in `Math.sqrt(1)`
  files/zh-cn/web/javascript/reference/global_objects/nan/index.md
Labels: l10n-zh

#10355 JavaScript: Increment operator 추가
  files/ko/web/javascript/reference/operators/increment/index.md
Labels: l10n-ko

#10434 JavaScript: Assignment, Decrement 연산자 추가
  files/ko/web/javascript/reference/operators/assignment/index.md
  files/ko/web/javascript/reference/operators/decrement/index.md
Labels: l10n-ko

#10524 fix(ru): `<a>`-tag article
  files/ru/web/html/element/a/index.md
Labels: l10n-ru
