Repository mdn/translated-content, pull requests merged in 2022-04, with the labels that each got.

#4934 Corrected the spelling of GitHub to the correct notation.
  files/ja/learn/common_questions/using_github_pages/index.html
Labels: l10n-ja

#4943 docs(es): typo
  files/es/web/api/eventtarget/removeeventlistener/index.html
Labels: l10n-es

#4936 Update wrongly-written
  files/zh-cn/learn/css/styling_text/fundamentals/index.html
Labels: l10n-zh

#4929 fix a wrong grammar
  files/zh-cn/web/http/cookies/index.html
Labels: l10n-zh

#4908 add note about absoleting `frame-ancestors`
  files/zh-cn/web/http/headers/x-frame-options/index.html
Labels: l10n-zh

#4913 update '^' to '&' of assertion
  files/zh-cn/web/javascript/guide/regular_expressions/assertions/index.html
Labels: l10n-zh

#4933 remove the `promise` section
  files/zh-cn/web/javascript/guide/control_flow_and_error_handling/index.html
Labels: l10n-zh

#4587 Resolve conflicted pages
  files/ko/_redirects.txt
  files/ko/conflicting/games/index.html
  files/ko/conflicting/glossary/index.html
  files/ko/conflicting/glossary/tcp/index.html
  files/ko/conflicting/learn/index.html
  files/ko/conflicting/learn/javascript/asynchronous/index.html
  files/ko/conflicting/learn/javascript/asynchronous/introducing/index.html
  files/ko/conflicting/learn/javascript/asynchronous/promises/index.html
  files/ko/conflicting/learn/javascript/objects/classes_in_javascript/index.html
  files/ko/conflicting/web/guide/index.html
  files/ko/conflicting/web/html/index.html
  files/ko/conflicting/web/http/index.html
  files/ko/learn/javascript/asynchronous/index.html
  files/ko/learn/javascript/asynchronous/index.md
  files/ko/learn/javascript/asynchronous/promises/index.html
  files/ko/learn/javascript/objects/classes_in_javascript/index.html
Labels: l10n-ko

#4638 fix: Update evolution of http
  files/ko/web/http/basics_of_http/evolution_of_http/index.html
Labels: l10n-ko

#4894 docs: remove useless dot
  files/zh-cn/web/javascript/reference/operators/left_shift/index.html
  files/zh-cn/web/javascript/reference/operators/right_shift/index.md
  files/zh-cn/web/javascript/reference/operators/unsigned_right_shift/index.html
Labels: l10n-zh

#4950 Clarify meaning of `Strict` attribute of `SameSite` cookie policy
  files/fr/web/http/headers/set-cookie/samesite/index.md
Labels: l10n-fr

#4944 誤字訂正
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-ja

#4289 Correção de erro de digitação (Linha 26)
  files/pt-br/web/javascript/reference/global_objects/function/index.html
Labels: l10n-pt-br

#4347 Fixed content from WeakMap page
  files/pt-br/web/javascript/reference/global_objects/weakmap/index.html
Labels: l10n-pt-br

#4731 Link para 'Progressive web apps' pt-br
  files/pt-br/web/manifest/index.html
Labels: l10n-pt-br

#4892 fix formating
  files/pt-br/web/javascript/reference/global_objects/function/apply/index.html
Labels: l10n-pt-br

#4921 Remove {{page}} from JS Data structures - fr
  files/fr/web/javascript/data_structures/index.md
Labels: l10n-fr

#4922 Remove {{page}} from JS Ref landing page - fr
  files/fr/web/javascript/reference/index.md
Labels: l10n-fr

#4955 Update typos in fr_FR translation
  files/fr/web/http/headers/cache-control/index.md
Labels: l10n-fr

#4874 (ru) Add new translation, fix mistakes and make proofreading at Grid article
  files/ru/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.html
Labels: l10n-ru

#4953 fix: use images in `mdn/content`
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.html
Labels: l10n-zh

#4958 :globe_with_meridians: add webextension glossary index.md file.
  files/zh-cn/glossary/webextensions/index.md
Labels: l10n-zh

#4952 错字更正：时->是
  files/zh-cn/web/http/cookies/index.html
Labels: l10n-zh

#4966 Update index.html
  files/zh-cn/web/http/csp/index.html
Labels: l10n-zh

#4924 chore(git): ignore .DS_Store
  .gitignore
Labels: system

#4069 Перевод grid-template-rows
  files/ru/web/css/grid-template-rows/index.md
Labels: l10n-ru

#4112 Logical_Operators: перевод
  files/ru/web/javascript/reference/operators/logical_and_assignment/index.md
  files/ru/web/javascript/reference/operators/logical_nullish_assignment/index.md
  files/ru/web/javascript/reference/operators/logical_or_assignment/index.md
  files/ru/web/javascript/reference/operators/nullish_coalescing_operator/index.html
  files/ru/web/javascript/reference/operators/nullish_coalescing_operator/index.md
Labels: l10n-ru

#4977 RU: Correct the translation in Geolocation
  files/ru/web/api/geolocation/index.html
Labels: l10n-ru

#4987 fix typo
  files/ja/web/manifest/index.md
Labels: l10n-ja

#4980 fix typo
  files/ko/web/javascript/memory_management/index.html
Labels: l10n-ko

#4986 [ko] Spell Correction
  files/ko/web/http/headers/referer/index.html
Labels: l10n-ko

#5006 fix typo "objecto"
  files/es/web/javascript/reference/global_objects/regexp/exec/index.html
Labels: l10n-es

#4939 HTMLElement.attachInternals() を更新
  files/ja/web/api/htmlelement/attachinternals/index.md
Labels: l10n-ja

#4945 <base> 要素の記事を更新
  files/ja/web/html/element/base/index.html
  files/ja/web/html/element/base/index.md
Labels: l10n-ja

#4962 Web/API/Server-sent_events/Using_server-sent_events を更新
  files/ja/web/api/server-sent_events/using_server-sent_events/index.html
  files/ja/web/api/server-sent_events/using_server-sent_events/index.md
Labels: l10n-ja

#4985 PUT メソッドの記事を更新
  files/ja/web/http/methods/put/index.html
  files/ja/web/http/methods/put/index.md
Labels: l10n-ja

#5016 Update index.html
  files/zh-cn/learn/css/building_blocks/cascade_and_inheritance/index.html
Labels: l10n-zh

#5015 增加一些简体中文翻译
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.html
Labels: l10n-zh

#5019 typo fix
  files/zh-cn/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
Labels: l10n-zh

#5005 fix: remove `<span>` tag and minor improvements
  files/zh-cn/web/html/attributes/crossorigin/index.html
Labels: l10n-zh

#4988 fix incorrect translation of "round"
  files/zh-cn/web/api/element/scrollheight/index.md
Labels: l10n-zh

#4976 correct the translation in `Web/HTTP/CORS`
  files/zh-cn/web/http/cors/index.md
Labels: l10n-zh

#4974 fix: remove duplicated contents
  files/zh-tw/web/guide/html/content_categories/index.html
Labels: l10n-zh

#4984 Замена var -> const, баг про minute и second
  files/ru/web/javascript/reference/global_objects/date/tolocaletimestring/index.html
Labels: l10n-ru

#5022 Remove menu from paragraph
  files/fr/web/api/node/previoussibling/index.md
Labels: l10n-fr

#4978 <alpha-value> を更新
  files/ja/web/css/alpha-value/index.html
  files/ja/web/css/alpha-value/index.md
Labels: l10n-ja

#5029 fix typo of #5023
  files/fr/web/api/canvas_api/tutorial/hit_regions_and_accessibility/index.md
Labels: l10n-fr

#5030 Intl オブジェクト：かな変換ミスを修正
  files/ja/web/javascript/reference/global_objects/intl/index.md
Labels: l10n-ja

#4957 Firefox 96 for developersを更新
  files/ja/mozilla/firefox/releases/96/index.md
Labels: l10n-ja

#5027 fix: punctuations and spaces
  files/zh-cn/web/javascript/guide/modules/index.html
Labels: l10n-zh

#5028 Update index.html
  files/zh-cn/web/javascript/reference/functions/arguments/index.html
Labels: l10n-zh

#5025 chore：Statement is not smooth
  files/zh-cn/web/javascript/reference/global_objects/array/copywithin/index.html
Labels: l10n-zh

#5024 follow `en-US` to redirect to correct URI
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/learn/javascript/asynchronous/index.html
  files/zh-cn/conflicting/learn/javascript/asynchronous/introducing/index.html
  files/zh-cn/conflicting/learn/javascript/asynchronous/promises/index.html
  files/zh-cn/conflicting/learn/javascript/asynchronous_ae5a561b0ec11fc53c167201aa8af5df/index.html
Labels: l10n-zh

#4052 [pt-BR] translations listformat and constructor
  files/pt-br/web/javascript/reference/global_objects/intl/listformat/index.md
  files/pt-br/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
Labels: l10n-pt-br

#4718 Correção da explicação sobre os parâmetros
  files/pt-br/web/javascript/reference/global_objects/array/reduce/index.html
Labels: l10n-pt-br

#4434 correcting portuguese mistakes
  files/pt-br/web/html/element/meta/index.html
Labels: l10n-pt-br

#5014 Use null coalescing operator for php isset statements
  files/fr/web/guide/ajax/getting_started/index.md
Labels: l10n-fr

#4996 Intl.PluralRules オブジェクト以下の記事を更新
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/index.html
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/pluralrules/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.html
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/select/index.html
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/select/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.html
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
Labels: l10n-ja

#5032 WebGLRenderingContext.uniform[1234][fi][v]() を新規翻訳
  files/ja/web/api/webglrenderingcontext/uniform/index.md
Labels: l10n-ja

#5038 Correct the translation of "script"
  files/zh-cn/web/css/writing-mode/index.html
Labels: l10n-zh

#5036 Update XMLHttpRequest constructor page vs en-US
  files/fr/web/api/xmlhttprequest/xmlhttprequest/index.md
Labels: l10n-fr

#5013 Fix 5003: updates <header> vs en-US
  files/fr/web/html/element/header/index.md
Labels: l10n-fr

#4995 不要な文字を削除
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.html
Labels: l10n-ja

#5037 JS conflicting asynchronous cleanup for fr
  files/fr/_redirects.txt
  files/fr/conflicting/learn/javascript/asynchronous/index.md
  files/fr/conflicting/learn/javascript/asynchronous/introducing/index.md
  files/fr/conflicting/learn/javascript/asynchronous/promises/index.md
  files/fr/conflicting/learn/javascript/asynchronous_ae5a561b0ec11fc53c167201aa8af5df/index.md
Labels: l10n-fr

#5042 typo in russian version
  files/ru/web/css/_colon_visited/index.html
Labels: l10n-ru

#5041 :link — :visited — :hover — :active.
  files/ru/web/css/_colon_visited/index.html
Labels: l10n-ru

#5040 :link => :visited => :hover => :active
  files/ru/web/css/_colon_hover/index.html
Labels: l10n-ru

#5043 Typo in Russian version
  files/ru/web/css/_colon_defined/index.html
Labels: l10n-ru

#5011 remove `Tools` section from `ru`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/tools/index.html
  files/ru/tools/3d_view/index.html
  files/ru/tools/about_colon_debugging/index.html
  files/ru/tools/accessibility_inspector/index.html
  files/ru/tools/application/index.html
  files/ru/tools/browser_console/index.html
  files/ru/tools/debugger/how_to/debug_eval_sources/index.html
  files/ru/tools/debugger/how_to/index.html
  files/ru/tools/debugger/how_to/pretty-print_a_minified_file/index.html
  files/ru/tools/debugger/index.html
  files/ru/tools/debugger/source_map_errors/index.html
  files/ru/tools/eyedropper/index.html
  files/ru/tools/firefox_os_1.1_simulator/index.html
  files/ru/tools/index.html
  files/ru/tools/keyboard_shortcuts/index.html
  files/ru/tools/memory/index.html
  files/ru/tools/memory/tree_map_view/index.html
  files/ru/tools/network_monitor/index.html
  files/ru/tools/network_monitor/throttling/index.html
  files/ru/tools/page_inspector/how_to/edit_css_shapes/index.html
  files/ru/tools/page_inspector/how_to/edit_fonts/index.html
  files/ru/tools/page_inspector/how_to/examine_and_edit_css/index.html
  files/ru/tools/page_inspector/how_to/examine_and_edit_html/index.html
  files/ru/tools/page_inspector/how_to/examine_and_edit_the_box_model/index.html
  files/ru/tools/page_inspector/how_to/examine_event_listeners/index.html
  files/ru/tools/page_inspector/how_to/index.html
  files/ru/tools/page_inspector/how_to/inspect_and_select_colors/index.html
  files/ru/tools/page_inspector/how_to/open_the_inspector/index.html
  files/ru/tools/page_inspector/how_to/select_an_element/index.html
  files/ru/tools/page_inspector/how_to/work_with_animations/index.html
  files/ru/tools/page_inspector/index.html
  files/ru/tools/page_inspector/ui_tour/index.html
  files/ru/tools/performance/index.html
  files/ru/tools/performance/waterfall/index.html
  files/ru/tools/remote_debugging/debugging_firefox_desktop/index.html
  files/ru/tools/remote_debugging/firefox_for_android/index.html
  files/ru/tools/remote_debugging/index.html
  files/ru/tools/responsive_design_mode/index.html
  files/ru/tools/rulers/index.html
  files/ru/tools/settings/index.html
  files/ru/tools/shader_editor/index.html
  files/ru/tools/storage_inspector/index.html
  files/ru/tools/style_editor/index.html
  files/ru/tools/tools_toolbox/index.html
  files/ru/tools/web_audio_editor/index.html
  files/ru/tools/web_console/helpers/index.html
  files/ru/tools/web_console/index.html
  files/ru/tools/web_console/split_console/index.html
  files/ru/tools/web_console/ui_tour/index.html
  files/ru/tools/working_with_iframes/index.html
Labels: l10n-ru

#5039 fix: typo in service worker
  files/ko/web/api/serviceworker/index.html
Labels: l10n-ko

#5050 Fix typo
  files/fr/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
Labels: l10n-fr

#5048 Update ArrayBuffer page to remove page macro
  files/fr/web/javascript/reference/global_objects/arraybuffer/index.md
Labels: l10n-fr

#5049 Update AsyncFunction to remove page macro
  files/fr/web/javascript/reference/global_objects/asyncfunction/index.md
Labels: l10n-fr

#4990 Add the page: /Web/API/HTMLFormElement/submit_event in pt-BR.
  files/pt-br/web/api/htmlformelement/submit_event/index.md
Labels: l10n-pt-br

#5059 Eliminada letra 's' sobrante
  files/es/learn/css/first_steps/how_css_works/index.html
Labels: l10n-es

#5051 remove outdated comment about Safari in `Storage.setitem()`
  files/zh-cn/web/api/storage/setitem/index.md
Labels: l10n-zh

#5062 Fix typo in dead object code example
  files/fr/web/javascript/reference/errors/dead_object/index.md
Labels: l10n-fr

#5063 Update index.html
  files/es/web/css/display/index.html
Labels: l10n-es

#5058 Example class attribute fixed
  files/es/learn/css/first_steps/how_css_is_structured/index.html
Labels: l10n-es

#5056 fix broken link format
  files/ja/web/xpath/introduction_to_using_xpath_in_javascript/index.md
Labels: l10n-ja

#4959 Firefox 97 for developersを更新
  files/ja/mozilla/firefox/releases/97/index.md
Labels: l10n-ja

#5072 Fix typo in documentation
  files/fr/web/javascript/reference/global_objects/map/size/index.md
Labels: l10n-fr

#5074 Fixing Portuguese Typos in index.html
  files/pt-br/learn/accessibility/html/index.html
Labels: l10n-pt-br

#4736 fix: Typo fix in "ko/docs/Web/HTTP/Redirections"
  files/ko/web/http/redirections/index.html
Labels: l10n-ko

#4569 Remove {{page}} macro from JavaScript docs
  files/ko/web/javascript/guide/indexed_collections/index.html
  files/ko/web/javascript/reference/global_objects/evalerror/index.html
  files/ko/web/javascript/reference/global_objects/evalerror/index.md
  files/ko/web/javascript/reference/global_objects/generatorfunction/index.html
  files/ko/web/javascript/reference/global_objects/generatorfunction/index.md
  files/ko/web/javascript/reference/global_objects/intl/numberformat/index.html
  files/ko/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/ko/web/javascript/reference/global_objects/referenceerror/index.html
  files/ko/web/javascript/reference/global_objects/set/index.html
  files/ko/web/javascript/reference/global_objects/set/index.md
  files/ko/web/javascript/reference/global_objects/string/index.html
  files/ko/web/javascript/reference/global_objects/string/localecompare/index.html
  files/ko/web/javascript/reference/global_objects/string/localecompare/index.md
  files/ko/web/javascript/reference/global_objects/symbol/index.html
  files/ko/web/javascript/reference/global_objects/symbol/index.md
  files/ko/web/javascript/reference/global_objects/typedarray/index.html
  files/ko/web/javascript/reference/global_objects/weakset/index.html
  files/ko/web/javascript/reference/global_objects/weakset/index.md
  files/ko/web/javascript/reference/global_objects/webassembly/global/index.html
  files/ko/web/javascript/reference/global_objects/webassembly/global/index.md
  files/ko/web/javascript/reference/global_objects/webassembly/instance/index.html
  files/ko/web/javascript/reference/global_objects/webassembly/instance/index.md
  files/ko/web/javascript/reference/global_objects/webassembly/module/index.html
  files/ko/web/javascript/reference/global_objects/webassembly/module/index.md
  files/ko/web/javascript/typed_arrays/index.html
Labels: l10n-ko

#4815 Fix typo
  files/ko/learn/getting_started_with_the_web/index.html
Labels: l10n-ko

#4912 Update index.md
  files/ko/web/javascript/data_structures/index.md
Labels: l10n-ko

#5017 fix typo
  files/ko/games/tutorials/2d_breakout_game_phaser/the_score/index.html
Labels: l10n-ko

#5075 Translate paragraphs
  files/ko/web/javascript/guide/iterators_and_generators/index.html
Labels: l10n-ko

#5012 Create index.html
  files/zh-cn/web/api/textrange/index.html
Labels: l10n-zh

#5081 Update ru/learn/performance/index.html
  files/ru/learn/performance/index.html
Labels: l10n-ru

#5091 typo correction
  files/ko/web/http/status/202/index.html
Labels: l10n-ko

#5088 add `Accessibility considerations` section
  files/zh-cn/web/html/element/dialog/index.md
Labels: l10n-zh

#5108 Update index.html
  files/zh-cn/learn/css/building_blocks/index.html
Labels: l10n-zh

#5034 Firefox 99 for developersを翻訳
  files/ja/mozilla/firefox/releases/99/index.md
Labels: l10n-ja

#5045 History.scrollRestoration を新規翻訳
  files/ja/web/api/history/scrollrestoration/index.md
Labels: l10n-ja

#5113 fix link
  files/fr/web/api/formdata/using_formdata_objects/index.md
Labels: l10n-fr

#5079 Update index.html
  files/ko/web/javascript/guide/using_promises/index.html
Labels: l10n-ko

#5046 HTMLTableSectionElement の記事を新規翻訳
  files/ja/web/api/htmltablesectionelement/index.md
Labels: l10n-ja

#5047 WakeLockSentinel.type の記事を新規翻訳
  files/ja/web/api/wakelocksentinel/type/index.md
Labels: l10n-ja

#4806 Fixes #3497
  files/fr/learn/forms/advanced_form_styling/index.md
  files/fr/learn/forms/basic_native_form_controls/index.md
  files/fr/learn/forms/form_validation/index.md
  files/fr/learn/forms/how_to_build_custom_form_controls/example_1/index.md
  files/fr/learn/forms/how_to_build_custom_form_controls/index.md
  files/fr/learn/forms/how_to_structure_a_web_form/index.md
  files/fr/learn/forms/html5_input_types/index.md
  files/fr/learn/forms/html_forms_in_legacy_browsers/index.md
  files/fr/learn/forms/index.md
  files/fr/learn/forms/other_form_controls/index.md
  files/fr/learn/forms/property_compatibility_table_for_form_controls/index.md
  files/fr/learn/forms/sending_and_retrieving_form_data/index.md
  files/fr/learn/forms/sending_forms_through_javascript/index.md
  files/fr/learn/forms/styling_web_forms/index.md
  files/fr/learn/forms/test_your_skills_colon__basic_controls/index.md
  files/fr/learn/forms/ui_pseudo-classes/index.md
  files/fr/learn/forms/your_first_form/index.md
Labels: l10n-fr

#5119 Update ru/web/svg/tutorial/tools_for_svg
  files/ru/web/svg/tutorial/tools_for_svg/index.html
Labels: l10n-ru

#5092 remove broken links in `Web/API/Canvas_API/A_basic_ray-caster`
  files/zh-cn/web/api/canvas_api/a_basic_ray-caster/index.html
Labels: l10n-zh

#5099 Update index.html
  files/zh-cn/learn/css/css_layout/grid_skills/index.html
Labels: l10n-zh

#5110 remove the deprecated macro `{{anch}}` from `Commonly-used_macros`
  files/zh-cn/mdn/structures/macros/commonly-used_macros/index.html
Labels: l10n-zh

#5102 Update index.md
  files/ja/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Labels: l10n-ja

#5127 [viewport concepts] make the description more accurate
  files/zh-cn/web/css/viewport_concepts/index.html
Labels: l10n-zh

#5125 add translate for methods of Date
  files/zh-cn/web/javascript/reference/global_objects/date/index.html
Labels: l10n-zh

#5133 Remove {{page}} from BigInt
  files/fr/web/javascript/reference/global_objects/bigint/index.md
Labels: l10n-fr

#5105 Актуализация перевода страницы про cookie
  files/ru/web/http/cookies/index.html
Labels: l10n-ru

#5066 HTMLHttpRequest: progress イベントの記事を更新
  files/ja/web/api/xmlhttprequest/progress_event/index.md
Labels: l10n-ja

#5139 翻訳済みコンテンツに原文が残っている部分を削除
  files/ja/web/api/web_authentication_api/index.html
Labels: l10n-ja

#4050 The translation was completely rewritten and corrected (it had many inaccuracies)
  files/ru/web/http/authentication/index.html
Labels: l10n-ru

#5151 typo(es): Some misspelled words
  files/es/web/http/methods/trace/index.html
Labels: l10n-es

#5115 Convert <color> to md, fix compat key
  files/ko/web/css/color_value/index.html
  files/ko/web/css/color_value/index.md
Labels: l10n-ko

#5076 Fix wrong link
  files/ko/web/javascript/guide/details_of_the_object_model/index.html
Labels: l10n-ko

#5026 Update wrong translate in Korean
  files/ko/web/css/height/index.html
Labels: l10n-ko

#4935 Update a re-introduction to javascript
  files/ko/web/javascript/a_re-introduction_to_javascript/index.md
Labels: l10n-ko

#4849 Remove Tools section from ko
  files/ko/_redirects.txt
  files/ko/_wikihistory.json
  files/ko/tools/accessibility_inspector/index.html
  files/ko/tools/accessibility_inspector/simulation/index.html
  files/ko/tools/debugger/how_to/index.html
  files/ko/tools/debugger/how_to/open_the_debugger/index.html
  files/ko/tools/debugger/how_to/search/index.html
  files/ko/tools/debugger/how_to/set_a_breakpoint/index.html
  files/ko/tools/debugger/index.html
  files/ko/tools/debugger/ui_tour/index.html
  files/ko/tools/index.html
  files/ko/tools/network_monitor/index.html
  files/ko/tools/page_inspector/index.html
  files/ko/tools/page_inspector/ui_tour/index.html
  files/ko/tools/performance/index.html
  files/ko/tools/performance/ui_tour/index.html
  files/ko/tools/remote_debugging/firefox_for_android/index.html
  files/ko/tools/remote_debugging/index.html
  files/ko/tools/web_console/index.html
Labels: l10n-ko

#4635 fix: Update HTTP
  files/ko/web/http/index.html
Labels: l10n-ko

#5160 Сorrected the translation
  files/ru/glossary/falsy/index.md
Labels: l10n-ru

#5150 fix typo in russian translation
  files/ru/web/http/basics_of_http/mime_types/index.html
Labels: l10n-ru

#5137 Translate ko/web/javascript/reference/global_objects/set/entries
  files/ko/web/javascript/reference/global_objects/set/entries/index.md
Labels: l10n-ko

#5167 Fix typo in fr translation
  files/fr/web/api/payment_request_api/index.md
Labels: l10n-fr

#5172 Fix typos
  files/ru/web/css/position/index.html
Labels: l10n-ru

#4903 web/html/element/input/date/index.html [es]
  files/es/web/html/element/input/date/index.html
  files/es/web/html/element/input/date/index.md
Labels: l10n-es

#5174 Eliminada letra extra en "missmo"
  files/es/learn/css/css_layout/floats/index.html
Labels: l10n-es

#5171 added(es): Page for Types of attacks - close #3862
  files/es/web/security/types_of_attacks/index.md
Labels: l10n-es

#4733 Translate String.localeCompare to spanish
  files/es/web/javascript/reference/global_objects/string/localecompare/index.html
  files/es/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: l10n-es

#5154 added(es): Page for Array.prototype.at()
  files/es/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-es

#5163 Update Intersection Observer API
  files/ru/web/api/intersection_observer_api/index.html
Labels: l10n-ru

#5071 Corrección de errores detectados por el bot
  files/es/learn/css/first_steps/how_css_is_structured/index.html
Labels: l10n-es

#5083 Quitada palabra extra
  files/es/learn/css/building_blocks/the_box_model/index.html
Labels: l10n-es

#5060 Reorganización de párrafos
  files/es/learn/css/index.html
Labels: l10n-es

#5085 Eliminado de palabras sobrantes
  files/es/learn/css/building_blocks/handling_different_text_directions/index.html
Labels: l10n-es

#5087 Eliminada palabra demás
  files/es/learn/css/building_blocks/overflowing_content/index.html
Labels: l10n-es

#5096 Reemplazo de comas por puntos
  files/es/learn/css/building_blocks/values_and_units/index.html
Labels: l10n-es

#5149 Corrección de palabras mal escritas
  files/es/learn/css/css_layout/grids/index.html
Labels: l10n-es

#4670 fix: uri
  files/ko/webassembly/concepts/index.html
Labels: l10n-ko

#5001 Fixed typo
  files/ko/learn/html/introduction_to_html/the_head_metadata_in_html/index.html
Labels: l10n-ko

#5189 correct the translation about web pages
  files/zh-tw/web/html/quirks_mode_and_standards_mode/index.html
Labels: l10n-zh

#5176 docs: Correct the translation of "thanks to"
  files/zh-cn/web/http/basics_of_http/evolution_of_http/index.html
Labels: l10n-zh

#5197 remove deprecated `{{Interface}}` macro from zh-CN
  files/zh-cn/mozilla/firefox/releases/12/index.html
  files/zh-cn/mozilla/firefox/releases/14/index.html
  files/zh-cn/mozilla/firefox/releases/15/index.html
  files/zh-cn/mozilla/firefox/releases/16/index.html
  files/zh-cn/mozilla/firefox/releases/18/index.html
  files/zh-cn/mozilla/firefox/releases/19/index.html
  files/zh-cn/mozilla/firefox/releases/22/index.html
  files/zh-cn/mozilla/firefox/releases/3/index.html
  files/zh-cn/mozilla/firefox/releases/32/index.html
  files/zh-cn/web/api/document/index.html
  files/zh-cn/web/api/file/index.html
  files/zh-cn/web/api/htmlelement/paste_event/index.html
  files/zh-cn/web/api/node/baseuri/index.html
  files/zh-cn/web/api/node/index.html
  files/zh-cn/web/api/selection/index.html
  files/zh-cn/web/api/storageevent/index.html
  files/zh-cn/web/api/window/confirm/index.html
  files/zh-cn/web/api/window/index.html
  files/zh-cn/web/api/xmlhttprequest/index.html
  files/zh-cn/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.html
Labels: l10n-zh

#5198 remove deprecated `{{Interface}}` macro from zh-TW
  files/zh-tw/mozilla/firefox/releases/10/index.html
  files/zh-tw/mozilla/firefox/releases/11/index.html
  files/zh-tw/mozilla/firefox/releases/4/index.html
  files/zh-tw/mozilla/firefox/releases/5/index.html
  files/zh-tw/mozilla/firefox/releases/7/index.html
  files/zh-tw/orphaned/firefox_中的離線資源/index.html
  files/zh-tw/orphaned/mozilla/firefox/releases/4/firefox_4_開發者新功能概覽/index.html
  files/zh-tw/web/api/document/index.html
  files/zh-tw/web/api/file/index.html
  files/zh-tw/web/api/node/index.html
  files/zh-tw/web/api/window/index.html
  files/zh-tw/web/api/xmlhttprequest/index.html
Labels: l10n-zh

#5191 Fix typo
  files/zh-cn/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
Labels: l10n-zh

#5190 fix: typo
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
Labels: l10n-zh

#5178 Conflicting clean-up for files containing {{IncludeSubnav}}
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/games/index.md
  files/fr/conflicting/learn/css/first_steps/how_css_works/index.html
  files/fr/conflicting/learn/css/styling_text/fundamentals/index.html
  files/fr/conflicting/learn/css/styling_text/fundamentals_9e7ba587262abbb02304cbc099c1f0d8/index.html
Labels: l10n-fr

#5144 Remove h3-gecko-minversion from French pages
  files/fr/web/api/console/group/index.md
  files/fr/web/api/console/index.md
  files/fr/web/css/@media/-moz-device-pixel-ratio/index.md
Labels: l10n-fr

#5192 Fix 5161: update Your first webextension vs en-US
  files/fr/mozilla/add-ons/webextensions/your_first_webextension/index.md
Labels: l10n-fr

#5194 Remove {{Interface}} macro from french pages
  files/fr/conflicting/learn/html/multimedia_and_embedding/video_and_audio_content_040b1c36f4218ba488ffb0284dfe52bf/index.html
  files/fr/conflicting/web/api/node/index.html
  files/fr/conflicting/web/api/node_378aed5ed6869e50853edbc988cf9556/index.html
  files/fr/mozilla/firefox/releases/11/index.md
  files/fr/mozilla/firefox/releases/12/index.md
  files/fr/mozilla/firefox/releases/13/index.md
  files/fr/mozilla/firefox/releases/15/index.md
  files/fr/mozilla/firefox/releases/16/index.md
  files/fr/mozilla/firefox/releases/17/index.md
  files/fr/mozilla/firefox/releases/18/index.md
  files/fr/mozilla/firefox/releases/19/index.md
  files/fr/mozilla/firefox/releases/20/index.md
  files/fr/mozilla/firefox/releases/22/index.md
  files/fr/mozilla/firefox/releases/3.5/index.md
  files/fr/mozilla/firefox/releases/3/index.md
  files/fr/mozilla/firefox/releases/5/index.md
  files/fr/mozilla/firefox/releases/7/index.md
  files/fr/orphaned/web/api/domuserdata/index.html
  files/fr/web/api/document/documenturiobject/index.md
  files/fr/web/api/document/getboxobjectfor/index.md
  files/fr/web/api/file/index.md
  files/fr/web/api/htmlcanvaselement/index.md
  files/fr/web/api/node/baseuri/index.md
  files/fr/web/api/node/index.md
  files/fr/web/api/window/index.md
  files/fr/web/api/xmlhttprequest/index.md
Labels: l10n-fr
