Repository mdn/translated-content, pull requests merged in 2022-07, with the labels that each got.

#6591 Suggest a french translation for id 139
  files/fr/glossary/clickjacking/index.md
Labels: l10n-fr

#6555 Cleanup `conflicting/api` a-g
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/btoa/index.md
  files/fr/conflicting/web/api/document/createevent/index.html
  files/fr/conflicting/web/api/document/createnodeiterator/index.md
  files/fr/conflicting/web/api/document/createnodeiterator_313cb22e529a804ace2f1dbb1e813ada/index.md
  files/fr/conflicting/web/api/document/fullscreenchange_event/index.md
  files/fr/conflicting/web/api/document_object_model/index.html
  files/fr/conflicting/web/api/document_object_model_656f0e51418b39c498011268be9b3a10/index.html
  files/fr/conflicting/web/api/element/getboundingclientrect/index.md
  files/fr/conflicting/web/api/eventtarget/addeventlistener/index.md
  files/fr/conflicting/web/api/file_and_directory_entries_api/index.md
  files/fr/conflicting/web/api/formdata/using_formdata_objects/index.html
  files/fr/conflicting/web/api/geolocation/getcurrentposition/index.md
  files/fr/conflicting/web/api/geolocation/getcurrentposition_058087067b28ad25fff974fd59827fb6/index.md
  files/fr/conflicting/web/api/geolocation/getcurrentposition_5852407122355d2ab39863042583c266/index.md
  files/fr/conflicting/web/api/geolocation/getcurrentposition_c2c285f72be001586cb95d7989ba1b54/index.md
  files/fr/conflicting/web/api/globaleventhandlers/onresize/index.html
Labels: l10n-fr

#6463 Web/CSS/Guide/word-break を更新
  files/ja/web/css/word-break/index.md
Labels: l10n-ja

#6624 replace standard-table with macros for zh-CN (Part 16)
  files/zh-cn/web/api/location/tostring/index.html
  files/zh-cn/web/api/long_tasks_api/index.html
  files/zh-cn/web/api/mathmlelement/index.html
  files/zh-cn/web/api/media_source_extensions_api/index.html
  files/zh-cn/web/api/mediacapabilities/encodinginfo/index.html
  files/zh-cn/web/api/mediadevices/devicechange_event/index.html
  files/zh-cn/web/api/mediadevices/enumeratedevices/index.html
  files/zh-cn/web/api/mediadevices/getdisplaymedia/index.html
  files/zh-cn/web/api/mediadevices/getsupportedconstraints/index.html
  files/zh-cn/web/api/mediadevices/getusermedia/index.html
  files/zh-cn/web/api/mediadevices/index.html
  files/zh-cn/web/api/mediaelementaudiosourcenode/index.html
  files/zh-cn/web/api/mediakeysession/index.html
  files/zh-cn/web/api/mediakeysession/load/index.html
  files/zh-cn/web/api/medialist/index.html
  files/zh-cn/web/api/mediaquerylist/addlistener/index.html
  files/zh-cn/web/api/mediaquerylist/index.html
  files/zh-cn/web/api/mediarecorder/audiobitspersecond/index.html
  files/zh-cn/web/api/mediarecorder/dataavailable_event/index.html
  files/zh-cn/web/api/mediarecorder/index.html
  files/zh-cn/web/api/mediarecorder/istypesupported/index.html
  files/zh-cn/web/api/mediarecorder/mediarecorder/index.html
  files/zh-cn/web/api/mediarecorder/pause/index.html
  files/zh-cn/web/api/mediasession/index.html
  files/zh-cn/web/api/mediasession/setactionhandler/index.html
  files/zh-cn/web/api/mediasource/addsourcebuffer/index.html
  files/zh-cn/web/api/mediasource/duration/index.html
  files/zh-cn/web/api/mediasource/endofstream/index.html
  files/zh-cn/web/api/mediasource/index.html
  files/zh-cn/web/api/mediasource/readystate/index.html
  files/zh-cn/web/api/mediastream/active/index.html
  files/zh-cn/web/api/mediastream/clone/index.html
  files/zh-cn/web/api/mediastream/getaudiotracks/index.html
  files/zh-cn/web/api/mediastream/gettracks/index.html
  files/zh-cn/web/api/mediastream/id/index.html
  files/zh-cn/web/api/mediastream/index.html
  files/zh-cn/web/api/mediastream/mediastream/index.html
  files/zh-cn/web/api/mediastream_recording_api/index.html
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.html
  files/zh-cn/web/api/mediastreamaudiosourcenode/index.html
  files/zh-cn/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.html
  files/zh-cn/web/api/mediastreamtrack/getcapabilities/index.html
  files/zh-cn/web/api/mediastreamtrack/getconstraints/index.html
  files/zh-cn/web/api/mediastreamtrack/index.html
  files/zh-cn/web/api/mediastreamtrack/stop/index.html
  files/zh-cn/web/api/mediatrackconstraints/index.html
  files/zh-cn/web/api/messagechannel/index.html
  files/zh-cn/web/api/messagechannel/messagechannel/index.html
  files/zh-cn/web/api/messagechannel/port1/index.html
  files/zh-cn/web/api/messagechannel/port2/index.html
  files/zh-cn/web/api/messageevent/index.html
  files/zh-cn/web/api/messageevent/messageevent/index.html
  files/zh-cn/web/api/messageport/index.html
  files/zh-cn/web/api/messageport/message_event/index.html
  files/zh-cn/web/api/midiaccess/index.html
  files/zh-cn/web/api/midiconnectionevent/index.html
Labels: l10n-zh

#6565 Fix #6563 macros_other [es]
  files/es/mdn/structures/macros/other/index.html
  files/es/mdn/structures/macros/other/index.md
Labels: l10n-es

#6632 Fix #6607 parsefloat [es]
  files/es/web/javascript/reference/global_objects/number/parsefloat/index.html
  files/es/web/javascript/reference/global_objects/number/parsefloat/index.md
Labels: l10n-es

#6638 Update index.html
  files/es/web/html/element/option/index.html
Labels: l10n-es

#6639 zh-CN:translate progress-loaded
  files/zh-cn/web/api/progressevent/loaded/index.md
Labels: l10n-zh

#6640 zh-CN:translate progress-total
  files/zh-cn/web/api/progressevent/total/index.md
Labels: l10n-zh

#6626 zh-CN:translate progress
  files/zh-cn/web/api/progressevent/progressevent/index.md
Labels: l10n-zh

#4454 Update index.html
  files/zh-cn/web/javascript/reference/global_objects/number/toprecision/index.html
Labels: l10n-zh

#6628 add h2m guide in zh-CN
  docs/zh-cn/h2m-guide.md
Labels: l10n-zh

#6283 Create index.md
  files/zh-cn/web/svg/element/fedropshadow/index.md
Labels: l10n-zh

#6646 fix: link error
  files/zh-cn/web/javascript/reference/global_objects/symbol/index.html
Labels: l10n-zh

#6647 补充部分未翻译的内容
  files/zh-cn/web/api/textmetrics/index.html
Labels: l10n-zh

#6602 Fix an issue with <a> tags
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
Labels: l10n-zh

#2819 Complete the explanation about HTTP header Access-Control-With-Credentials
  files/zh-cn/web/http/headers/access-control-allow-credentials/index.html
Labels: l10n-zh

#6506 fix: typo 電波→伝播
  files/ja/web/web_components/index.md
Labels: l10n-ja

#6494 用語集の Stringifier (文字列化子) を新規翻訳
  files/ja/glossary/stringifier/index.md
Labels: l10n-ja

#6523 Remove redundant words
  files/ja/web/http/methods/post/index.md
Labels: l10n-ja

#6656 Update index.html
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.html
Labels: l10n-zh

#6188 Convert FileReader docs to Markdown
  files/ko/web/api/filereader/index.html
  files/ko/web/api/filereader/index.md
  files/ko/web/api/filereader/loadend_event/index.html
  files/ko/web/api/filereader/loadend_event/index.md
  files/ko/web/api/filereader/readasdataurl/index.html
  files/ko/web/api/filereader/readasdataurl/index.md
  files/ko/web/api/filereader/readastext/index.html
  files/ko/web/api/filereader/readastext/index.md
Labels: l10n-ko

#6281 Rewrite Learn/What went wrong
  files/ko/learn/javascript/first_steps/a_first_splash/index.md
  files/ko/learn/javascript/first_steps/index.md
  files/ko/learn/javascript/first_steps/what_is_javascript/index.md
  files/ko/learn/javascript/first_steps/what_went_wrong/index.md
Labels: l10n-ko

#6668 fix: link error
  files/zh-cn/web/api/settimeout/index.html
Labels: l10n-zh

#6666 zh-CN:translate transformStream-new
  files/zh-cn/web/api/transformstream/transformstream/index.md
Labels: l10n-zh

#6664 zh-CN:translate transformStream-writable
  files/zh-cn/web/api/transformstream/writable/index.md
Labels: l10n-zh

#6665 zh-CN:translate transformStream-readable
  files/zh-cn/web/api/transformstream/readable/index.md
Labels: l10n-zh

#6644 Firefox 102 for developersを翻訳
  files/ja/mozilla/firefox/releases/102/index.md
Labels: l10n-ja

#6642 sync with english version and minor fixes
  files/zh-cn/mdn/contribute/markdown_in_mdn/index.md
Labels: l10n-zh

#6631 Initial translation of `Glossary/WebAssembly`
  files/fr/_redirects.txt
  files/fr/glossary/webassembly/index.md
Labels: l10n-fr

#6660 Error de tipeo
  files/es/web/javascript/reference/operators/async_function/index.html
Labels: l10n-es

#6676 Fix a little typo: "nosu" -> "nous"
  files/fr/web/html/element/video/index.md
Labels: l10n-fr

#6543 Web/JavaScript/Reference/Global_Objects/Array/forEach を更新
  files/ja/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-ja

#6545 WebXR の基礎を新規翻訳
  files/ja/web/api/webxr_device_api/fundamentals/index.md
  files/ja/web/api/webxr_device_api/fundamentals/twoviewsoneframebuffer.svg
Labels: l10n-ja

#6604 Fix #6559 generated_content [es]
  files/es/learn/css/howto/generated_content/index.html
  files/es/learn/css/howto/generated_content/index.md
Labels: l10n-es

#6681 Update index.html
  files/es/learn/server-side/first_steps/introduction/index.html
Labels: l10n-es

#6658 remove `{{HTMLVersionInline}}` macro in zh-CN
  files/zh-cn/web/api/htmlbuttonelement/index.html
  files/zh-cn/web/api/htmldialogelement/index.html
  files/zh-cn/web/api/htmlfieldsetelement/index.html
  files/zh-cn/web/api/htmlformelement/elements/index.html
  files/zh-cn/web/api/htmlinputelement/index.html
  files/zh-cn/web/html/block-level_elements/index.html
  files/zh-cn/web/html/element/a/index.html
  files/zh-cn/web/html/element/area/index.html
  files/zh-cn/web/html/element/br/index.html
  files/zh-cn/web/html/element/button/index.html
  files/zh-cn/web/html/element/head/index.html
  files/zh-cn/web/html/element/iframe/index.html
  files/zh-cn/web/html/element/img/index.html
  files/zh-cn/web/html/element/input/button/index.html
  files/zh-cn/web/html/element/input/color/index.html
  files/zh-cn/web/html/element/input/image/index.html
  files/zh-cn/web/html/element/input/index.html
  files/zh-cn/web/html/element/object/index.html
  files/zh-cn/web/html/element/script/index.html
  files/zh-cn/web/html/element/select/index.html
  files/zh-cn/web/html/element/tfoot/index.html
  files/zh-cn/web/html/element/th/index.html
  files/zh-cn/web/html/element/thead/index.html
Labels: l10n-zh

#6671 replace standard-table with macros for zh-CN (Part 17)
  files/zh-cn/web/api/idbobjectstore/opencursor/index.html
  files/zh-cn/web/api/idbobjectstore/put/index.html
  files/zh-cn/web/api/mimetype/index.html
  files/zh-cn/web/api/mouseevent/altkey/index.html
  files/zh-cn/web/api/mouseevent/button/index.html
  files/zh-cn/web/api/mouseevent/buttons/index.html
  files/zh-cn/web/api/mouseevent/clientx/index.html
  files/zh-cn/web/api/mouseevent/clienty/index.html
  files/zh-cn/web/api/mouseevent/ctrlkey/index.html
  files/zh-cn/web/api/mouseevent/getmodifierstate/index.html
  files/zh-cn/web/api/mouseevent/index.html
  files/zh-cn/web/api/mouseevent/metakey/index.html
  files/zh-cn/web/api/mouseevent/mouseevent/index.html
  files/zh-cn/web/api/mouseevent/movementx/index.html
  files/zh-cn/web/api/mouseevent/movementy/index.html
  files/zh-cn/web/api/mouseevent/offsetx/index.html
  files/zh-cn/web/api/mouseevent/offsety/index.html
  files/zh-cn/web/api/mouseevent/pagex/index.html
  files/zh-cn/web/api/mouseevent/pagey/index.html
  files/zh-cn/web/api/mouseevent/relatedtarget/index.html
  files/zh-cn/web/api/mouseevent/shiftkey/index.html
  files/zh-cn/web/api/mouseevent/x/index.html
  files/zh-cn/web/api/mouseevent/y/index.html
  files/zh-cn/web/api/mousescrollevent/index.html
  files/zh-cn/web/api/mutationobserver/disconnect/index.html
  files/zh-cn/web/api/mutationobserver/index.html
  files/zh-cn/web/api/mutationobserver/mutationobserver/index.html
  files/zh-cn/web/api/mutationobserver/observe/index.html
  files/zh-cn/web/api/mutationobserver/takerecords/index.html
  files/zh-cn/web/api/mutationrecord/index.html
  files/zh-cn/web/api/namednodemap/index.html
  files/zh-cn/web/api/navigator/canshare/index.html
  files/zh-cn/web/api/navigator/clipboard/index.html
  files/zh-cn/web/api/navigator/connection/index.html
  files/zh-cn/web/api/navigator/cookieenabled/index.html
  files/zh-cn/web/api/navigator/credentials/index.html
  files/zh-cn/web/api/navigator/devicememory/index.html
  files/zh-cn/web/api/navigator/geolocation/index.html
  files/zh-cn/web/api/navigator/getbattery/index.html
  files/zh-cn/web/api/navigator/getgamepads/index.html
  files/zh-cn/web/api/navigator/index.html
  files/zh-cn/web/api/navigator/keyboard/index.html
  files/zh-cn/web/api/navigator/maxtouchpoints/index.html
  files/zh-cn/web/api/navigator/mediadevices/index.html
  files/zh-cn/web/api/navigator/permissions/index.html
  files/zh-cn/web/api/navigator/productsub/index.html
  files/zh-cn/web/api/navigator/registerprotocolhandler/index.html
  files/zh-cn/web/api/navigator/serviceworker/index.html
  files/zh-cn/web/api/navigator/vibrate/index.html
  files/zh-cn/web/api/network_information_api/index.html
  files/zh-cn/web/api/networkinformation/downlink/index.html
  files/zh-cn/web/api/networkinformation/index.html
  files/zh-cn/web/api/networkinformation/rtt/index.html
  files/zh-cn/web/api/networkinformation/savedata/index.html
  files/zh-cn/web/api/node/appendchild/index.html
Labels: l10n-zh

#6679 Update index.html
  files/zh-cn/web/progressive_web_apps/app_structure/index.html
Labels: l10n-zh

#6688 Update index.html
  files/zh-cn/web/api/response/index.html
Labels: l10n-zh

#6693 fix dead link of `Table.set` code example
  files/ja/web/javascript/reference/global_objects/webassembly/table/set/index.md
Labels: l10n-ja

#6648 ja: Geckoのページで不要なテキストを削除
  files/ja/glossary/gecko/index.html
Labels: l10n-ja

#6696 Fix 6560 media_types [es]
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/css/media_queries/using_media_queries/index.html
Labels: l10n-es

#6687 replace standard-table with macros for zh-CN (Part 18)
  files/zh-cn/web/api/idbobjectstore/get/index.html
  files/zh-cn/web/api/idbobjectstore/index.html
  files/zh-cn/web/api/node/clonenode/index.html
  files/zh-cn/web/api/node/getrootnode/index.html
  files/zh-cn/web/api/node/index.html
  files/zh-cn/web/api/node/isconnected/index.html
  files/zh-cn/web/api/node/isequalnode/index.html
  files/zh-cn/web/api/node/nodename/index.html
  files/zh-cn/web/api/node/nodetype/index.html
  files/zh-cn/web/api/node/nodevalue/index.html
  files/zh-cn/web/api/node/normalize/index.html
  files/zh-cn/web/api/node/ownerdocument/index.html
  files/zh-cn/web/api/node/replacechild/index.html
  files/zh-cn/web/api/nodeiterator/index.html
  files/zh-cn/web/api/nodelist/foreach/index.html
  files/zh-cn/web/api/nodelist/index.html
  files/zh-cn/web/api/notification/actions/index.html
  files/zh-cn/web/api/notification/badge/index.html
  files/zh-cn/web/api/notification/click_event/index.html
  files/zh-cn/web/api/notification/close/index.html
  files/zh-cn/web/api/notification/data/index.html
  files/zh-cn/web/api/notification/error_event/index.html
  files/zh-cn/web/api/notification/icon/index.html
  files/zh-cn/web/api/notification/image/index.html
  files/zh-cn/web/api/notification/index.html
  files/zh-cn/web/api/notification/notification/index.html
  files/zh-cn/web/api/notification/requestpermission/index.html
  files/zh-cn/web/api/notification/requireinteraction/index.html
  files/zh-cn/web/api/notificationevent/index.html
  files/zh-cn/web/api/notifications_api/index.html
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.html
  files/zh-cn/web/api/oes_vertex_array_object/index.html
  files/zh-cn/web/api/offlineaudiocontext/complete_event/index.html
  files/zh-cn/web/api/offlineaudiocontext/index.html
  files/zh-cn/web/api/offlineaudiocontext/length/index.html
  files/zh-cn/web/api/offlineaudiocontext/offlineaudiocontext/index.html
  files/zh-cn/web/api/offlineaudiocontext/suspend/index.html
  files/zh-cn/web/api/offscreencanvas/height/index.html
  files/zh-cn/web/api/offscreencanvas/offscreencanvas/index.html
  files/zh-cn/web/api/offscreencanvas/transfertoimagebitmap/index.html
  files/zh-cn/web/api/oscillatornode/detune/index.html
  files/zh-cn/web/api/oscillatornode/frequency/index.html
  files/zh-cn/web/api/oscillatornode/index.html
  files/zh-cn/web/api/oscillatornode/oscillatornode/index.html
  files/zh-cn/web/api/oscillatornode/setperiodicwave/index.html
  files/zh-cn/web/api/page_visibility_api/index.html
  files/zh-cn/web/api/pagetransitionevent/persisted/index.html
  files/zh-cn/web/api/path2d/addpath/index.html
  files/zh-cn/web/api/path2d/index.html
  files/zh-cn/web/api/path2d/path2d/index.html
  files/zh-cn/web/api/payment_request_api/concepts/index.html
  files/zh-cn/web/api/payment_request_api/index.html
  files/zh-cn/web/api/performance/clearmarks/index.html
  files/zh-cn/web/api/performance/clearmeasures/index.html
  files/zh-cn/web/api/performance/clearresourcetimings/index.html
Labels: l10n-zh

#1357 Update index.html
  files/zh-cn/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.html
Labels: l10n-zh

#2240 Update index.html
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/feature_detection/index.html
Labels: l10n-zh

#999 fix: event at target order(修复事件在 AT_TARGET 阶段的顺序问题)
  files/zh-cn/web/api/eventtarget/addeventlistener/index.html
Labels: l10n-zh

#6608 fix: prototype's and static method's `this` part missprint
  files/ru/web/javascript/reference/classes/index.html
Labels: l10n-ru

#6709 fix: correct the english words
  files/zh-cn/web/css/writing-mode/index.html
Labels: l10n-zh

#6711 fix: Typo fix
  files/zh-cn/web/javascript/reference/global_objects/bigint/index.html
Labels: l10n-zh

#6714 [zh-CN]Create translation for "Sequencing animations"
  files/zh-cn/learn/javascript/asynchronous/sequencing_animations/index.md
Labels: l10n-zh

#6716 Consistent with English documentation(SVG)
  files/zh-cn/web/svg/index.html
Labels: l10n-zh

#6717 spelling error
  files/fr/web/api/element/append/index.md
Labels: l10n-fr

#6713 Fix indentation for list in `element.scrollIntoView`
  files/fr/web/api/element/scrollintoview/index.md
Labels: l10n-fr

#6649 Cleanup `conflicting/web/api` part 2
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/htmlmediaelement/abort_event/index.md
  files/fr/conflicting/web/api/htmlmediaelement/ended_event/index.html
  files/fr/conflicting/web/api/idbtransaction/abort_event/index.md
  files/fr/conflicting/web/api/idbtransaction/abort_event_0945f0eeba3f0bcb487692fdcd8d6f40/index.md
  files/fr/conflicting/web/api/idbtransaction/complete_event/index.md
  files/fr/conflicting/web/api/idbtransaction/error_event/index.md
  files/fr/conflicting/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/conflicting/web/api/mediatrackconstraints/index.html
  files/fr/conflicting/web/api/node/getrootnode/index.html
  files/fr/conflicting/web/api/node/index.html
  files/fr/conflicting/web/api/passwordcredential/index.html
  files/fr/conflicting/web/api/passwordcredential_bc57d5dfa87242b4fb83497887124f41/index.html
  files/fr/conflicting/web/api/passwordcredential_cbf7b306e83a3f58ff06bccf89637c12/index.html
  files/fr/conflicting/web/api/performance/resourcetimingbufferfull_event/index.md
  files/fr/conflicting/web/api/pointer_events/index.md
Labels: l10n-fr

#6690 remove `{{ObsoleteGeneric}}` macros from l10n-zh
  files/zh-cn/web/html/element/caption/index.html
  files/zh-cn/web/html/element/tr/index.html
  files/zh-tw/web/html/element/a/index.html
Labels: l10n-zh

#6700 replace standard-table with macros for zh-CN (Part 19)
  files/zh-cn/web/api/idbdatabase/createobjectstore/index.html
  files/zh-cn/web/api/idbdatabase/deleteobjectstore/index.html
  files/zh-cn/web/api/idbkeyrange/index.html
  files/zh-cn/web/api/idbkeyrange/lowerbound/index.html
  files/zh-cn/web/api/idbobjectstore/add/index.html
  files/zh-cn/web/api/idbobjectstore/autoincrement/index.html
  files/zh-cn/web/api/performance/getentries/index.html
  files/zh-cn/web/api/performance/getentriesbyname/index.html
  files/zh-cn/web/api/performance/getentriesbytype/index.html
  files/zh-cn/web/api/performance/index.html
  files/zh-cn/web/api/performance/mark/index.html
  files/zh-cn/web/api/performance/measure/index.html
  files/zh-cn/web/api/performance/now/index.html
  files/zh-cn/web/api/performance/resourcetimingbufferfull_event/index.html
  files/zh-cn/web/api/performance/timeorigin/index.html
  files/zh-cn/web/api/performance/tojson/index.html
  files/zh-cn/web/api/performance_api/index.html
  files/zh-cn/web/api/performanceentry/duration/index.html
  files/zh-cn/web/api/performanceentry/entrytype/index.html
  files/zh-cn/web/api/performanceentry/index.html
  files/zh-cn/web/api/performanceentry/name/index.html
  files/zh-cn/web/api/performanceentry/tojson/index.html
  files/zh-cn/web/api/performancenavigationtiming/index.html
  files/zh-cn/web/api/performanceobserver/disconnect/index.html
  files/zh-cn/web/api/performanceobserver/index.html
  files/zh-cn/web/api/performanceobserver/observe/index.html
  files/zh-cn/web/api/performanceobserver/performanceobserver/index.html
  files/zh-cn/web/api/performanceobserver/takerecords/index.html
  files/zh-cn/web/api/performancepainttiming/index.html
  files/zh-cn/web/api/performanceresourcetiming/index.html
  files/zh-cn/web/api/periodicwave/index.html
  files/zh-cn/web/api/permissions/index.html
  files/zh-cn/web/api/permissions_api/index.html
  files/zh-cn/web/api/pictureinpicturewindow/index.html
  files/zh-cn/web/api/plugin/index.html
  files/zh-cn/web/api/pointer_events/index.html
  files/zh-cn/web/api/pointerevent/index.html
  files/zh-cn/web/api/progressevent/index.html
  files/zh-cn/web/api/progressevent/lengthcomputable/index.html
  files/zh-cn/web/api/promiserejectionevent/index.html
  files/zh-cn/web/api/promiserejectionevent/promise/index.html
  files/zh-cn/web/api/promiserejectionevent/promiserejectionevent/index.html
  files/zh-cn/web/api/push_api/index.html
  files/zh-cn/web/api/pushmanager/getsubscription/index.html
  files/zh-cn/web/api/pushmanager/index.html
  files/zh-cn/web/api/pushmanager/subscribe/index.html
  files/zh-cn/web/api/pushmanager/supportedcontentencodings/index.html
  files/zh-cn/web/api/pushmessagedata/index.html
  files/zh-cn/web/api/pushmessagedata/json/index.html
  files/zh-cn/web/api/queuemicrotask/index.html
  files/zh-cn/web/api/range/clonecontents/index.html
  files/zh-cn/web/api/range/clonerange/index.html
  files/zh-cn/web/api/range/collapse/index.html
  files/zh-cn/web/api/range/collapsed/index.html
  files/zh-cn/web/api/range/commonancestorcontainer/index.html
  files/zh-cn/web/api/range/createcontextualfragment/index.html
  files/zh-cn/web/api/range/deletecontents/index.html
  files/zh-cn/web/api/range/endcontainer/index.html
  files/zh-cn/web/api/range/endoffset/index.html
Labels: l10n-zh

#6719 Remove conflicting Web/HTML pages
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/html/element/index.html
  files/fr/conflicting/web/html/element/input/datetime-local/index.md
  files/fr/conflicting/web/html/global_attributes/index.html
  files/fr/conflicting/web/html/index.md
Labels: l10n-fr

#2303 增加声道配置部分的中文翻译
  files/zh-cn/web/api/mediatrackconstraints/index.html
Labels: l10n-zh

#6731 Fix ja translation for JSON.stringify
  files/ja/web/javascript/reference/global_objects/json/stringify/index.html
Labels: l10n-ja

#6720 Remove conflicting PWAs pages
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/progressive_web_apps/index.html
  files/fr/conflicting/web/progressive_web_apps_0d5c38b9aa908cbb52e4c39037b4f28b/index.html
  files/fr/conflicting/web/progressive_web_apps_12fa0bab73df8b67470cc2aaa3a2effc/index.html
  files/fr/conflicting/web/progressive_web_apps_7b3e1886320599eacfee6834ead473f1/index.html
  files/fr/conflicting/web/progressive_web_apps_954d3e6cc1e06f006b865b74099f55cf/index.html
  files/fr/conflicting/web/progressive_web_apps_ab4d34f3f29326f76d3aab740be03d31/index.html
  files/fr/conflicting/web/progressive_web_apps_cb2823fe6cfc1ddee5db1f6a5d240c67/index.html
  files/fr/web/progressive_web_apps/index.md
Labels: l10n-fr

#6728 Remove conflicting index page for MathML + update MathML landing page
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/mathml/index.md
  files/fr/web/mathml/index.md
Labels: l10n-fr

#6739 Spanish welcome guide
  docs/README.md
  docs/es/README.md
  files/es/README.org
Labels: l10n-es

#6746 fix typo
  files/zh-cn/web/css/layout_cookbook/media_objects/index.html
Labels: l10n-zh

#6732 Remove conflicting pages - Web API - S & U
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/selection/index.html
  files/fr/conflicting/web/api/storagemanager/estimate/index.md
  files/fr/conflicting/web/api/url/index.html
  files/fr/web/api/selection_api/index.md
  files/fr/web/api/storagemanager/estimate/index.md
  files/fr/web/api/url/index.md
Labels: l10n-fr

#6733 Remove conflicting Web API pages - W
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/web_workers_api/using_web_workers/index.html
  files/fr/conflicting/web/api/webrtc_api/index.html
  files/fr/conflicting/web/api/websocket/close_event/index.md
  files/fr/conflicting/web/api/websocket/error_event/index.md
  files/fr/conflicting/web/api/websocket/message_event/index.md
  files/fr/conflicting/web/api/websocket/open_event/index.md
  files/fr/conflicting/web/api/webvtt_api/index.md
  files/fr/conflicting/web/api/window/afterprint_event/index.md
  files/fr/conflicting/web/api/window/beforeprint_event/index.md
  files/fr/conflicting/web/api/window/beforeunload_event/index.md
  files/fr/conflicting/web/api/window/hashchange_event/index.md
  files/fr/conflicting/web/api/window/index.md
  files/fr/conflicting/web/api/window/languagechange_event/index.md
  files/fr/conflicting/web/api/window/localstorage/index.html
  files/fr/conflicting/web/api/window/offline_event/index.md
  files/fr/conflicting/web/api/window/online_event/index.md
  files/fr/conflicting/web/api/window/popstate_event/index.md
  files/fr/conflicting/web/api/window/unload_event/index.md
Labels: l10n-fr

#6751 zh-CN:translate transformstreamdefaultcontroller
  files/zh-cn/web/api/transformstreamdefaultcontroller/index.md
Labels: l10n-zh

#6758 zh-CN:translate transformstreamdefaultcontroller-desiredsize
  files/zh-cn/web/api/transformstreamdefaultcontroller/desiredsize/index.md
Labels: l10n-zh

#6759 zh-CN:translate transformstreamdefaultcontroller-enqueue
  files/zh-cn/web/api/transformstreamdefaultcontroller/enqueue/index.md
Labels: l10n-zh

#6761 zh-CN:translate transformstreamdefaultcontroller-terminate
  files/zh-cn/web/api/transformstreamdefaultcontroller/terminate/index.md
Labels: l10n-zh

#2877 Create index.html
  files/zh-cn/web/api/rtcpeerconnection/icecandidate_event/index.html
Labels: l10n-zh

#6229 web/css/border-*-color (zh-TW translation)
  files/zh-tw/web/css/border-bottom-color/index.md
  files/zh-tw/web/css/border-left-color/index.md
  files/zh-tw/web/css/border-right-color/index.md
  files/zh-tw/web/css/border-top-color/index.md
Labels: l10n-zh

#6765 zh-CN: fix the translation of operands
  files/zh-cn/web/javascript/reference/operators/operator_precedence/index.md
Labels: l10n-zh

#6715 fix: `エクスポートされたWebAssembly関数` のリンク先を日本語のドキュメントに
  files/ja/web/javascript/reference/global_objects/webassembly/table/index.md
Labels: l10n-ja

#6734 Remove conflicting page for Web API - X
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/xsltprocessor/index.html
  files/fr/web/api/xsltprocessor/index.md
Labels: l10n-fr

#6465 Remove orphaned CSS pages - `fr`
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/css/@media/scan/index.html
  files/fr/orphaned/web/css/@page/bleed/index.html
  files/fr/orphaned/web/css/@page/marks/index.html
  files/fr/orphaned/web/css/_colon_-moz-ui-valid/index.html
  files/fr/orphaned/web/css/conic-gradient()/index.html
  files/fr/orphaned/web/css/image()/index.html
  files/fr/orphaned/web/css/image-set()/index.html
  files/fr/orphaned/web/css/paint()/index.html
  files/fr/orphaned/web/css/radial-gradient()/index.html
  files/fr/orphaned/web/css/repeating-conic-gradient()/index.html
  files/fr/orphaned/web/css/repeating-linear-gradient()/index.html
  files/fr/orphaned/web/css/repeating-radial-gradient()/index.html
  files/fr/orphaned/web/css/tools/cubic_bezier_generator/index.html
  files/fr/orphaned/web/css/transform-function/translatex/index.html
  files/fr/web/css/gradient/conic-gradient/index.md
  files/fr/web/css/gradient/radial-gradient/index.md
  files/fr/web/css/gradient/repeating-conic-gradient/index.md
  files/fr/web/css/gradient/repeating-linear-gradient/index.md
  files/fr/web/css/gradient/repeating-radial-gradient/index.md
  files/fr/web/css/image/image-set/index.md
  files/fr/web/css/image/image/firefox.png
  files/fr/web/css/image/image/index.md
  files/fr/web/css/image/image/sprite.png
  files/fr/web/css/image/paint/index.md
Labels: l10n-fr

#6775 Rename files/ja/web/css/--_star_/index.html to files/ja/web/css/--_star_/index.md
  files/ja/web/css/--_star_/index.md
Labels: l10n-ja

#6767 Remove `conflicting/Web/API` page
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/index.html
Labels: l10n-fr

#6358 Angular_styling の翻訳 #610 の PR
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/angular_styling/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_resources/index.md
Labels: l10n-ja

#6750 Fix typo
  files/ja/web/api/canvasrenderingcontext2d/index.md
Labels: l10n-ja

#6764 Korean Translation: web/javascript/reference/global_objects/object/values
  files/ko/web/javascript/reference/global_objects/object/values/index.html
Labels: l10n-ko

#6643 Update translation for object
  files/es/web/javascript/reference/global_objects/object/index.md
Labels: documentation, l10n-es

#6780 Remove conflicting CSS pages - "simple ones" - 2022-07-11
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.html
  files/fr/conflicting/web/css/css_scroll_snap/index.md
  files/fr/conflicting/web/css/cursor/index.md
  files/fr/conflicting/web/css/filter_effects/index.html
  files/fr/conflicting/web/css/float/index.html
  files/fr/conflicting/web/css/mask-image/index.html
  files/fr/conflicting/web/css/mozilla_extensions/index.html
  files/fr/conflicting/web/css/reference/index.md
  files/fr/conflicting/web/css/scroll-snap-type/index.html
  files/fr/conflicting/web/css/shape-outside/index.html
  files/fr/conflicting/web/css/url()/index.html
  files/fr/conflicting/web/css/url()_168028c4e5edd9e19c061adb4b604d4f/index.html
  files/fr/conflicting/web/css/user-select/index.html
  files/fr/conflicting/web/css/width/index.html
  files/fr/conflicting/web/css_c2c099599c0a58c69d1390033045f244/index.html
Labels: l10n-fr

#6781 Remove Web/API conflicting pages as of 2022-07-11
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/element/keypress_event/index.md
  files/fr/conflicting/web/api/element/mousedown_event/index.md
  files/fr/conflicting/web/api/element/mousemove_event/index.md
  files/fr/conflicting/web/api/element/mouseout_event/index.md
  files/fr/conflicting/web/api/element/mouseover_event/index.md
  files/fr/conflicting/web/api/element/mouseup_event/index.md
  files/fr/conflicting/web/api/htmldialogelement/close_event/index.md
  files/fr/conflicting/web/api/htmlelement/change_event/index.md
  files/fr/conflicting/web/api/htmlinputelement/select_event/index.md
Labels: l10n-fr

#6790 bug: one more period
  files/zh-cn/web/api/transformstream/index.md
Labels: l10n-zh

#6760 zh-CN:translate transformstreamdefaultcontroller-error
  files/zh-cn/web/api/transformstreamdefaultcontroller/error/index.md
Labels: l10n-zh

#6797 Work in #4618 | Add: matchall section
  files/es/web/javascript/reference/global_objects/symbol/matchall/index.md
Labels: documentation, l10n-es

#6798 #6789 Update Web/CSS/-moz-float-edge [es]
  files/es/web/css/-moz-float-edge/index.html
  files/es/web/css/-moz-float-edge/index.md
Labels: documentation, l10n-es

#6821 fix a display problem
  files/zh-cn/web/css/initial/index.html
Labels: l10n-zh

#6708 [RU] fix: bigint primitive object equivalent info
  files/ru/glossary/primitive/index.html
Labels: l10n-ru

#6824 Replace `src` with `img`
  files/ja/web/web_components/using_custom_elements/index.md
Labels: l10n-ja

#6725 fix: Typo
  files/ja/web/css/grid/index.md
Labels: l10n-ja

#6721 files/es/mozilla/firefox/releases/9/updating_add-ons/index.html
  files/es/mozilla/firefox/releases/9/updating_add-ons/index.html
  files/es/mozilla/firefox/releases/9/updating_add-ons/index.md
Labels: documentation, l10n-es

#6848 Fix a typo in es translation
  files/es/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-es

#6847 Work in #4618 | Add: replace section
  files/es/web/javascript/reference/global_objects/symbol/replace/index.md
Labels: documentation, l10n-es

#6844 zh-CN:translate requestsubmit
  files/zh-cn/web/api/htmlformelement/requestsubmit/index.md
Labels: l10n-zh

#6849 zh-CN:translate submitter
  files/zh-cn/web/api/submitevent/submitter/index.md
Labels: l10n-zh

#6813 Fix broken links
  files/fr/web/javascript/guide/grammar_and_types/index.md
Labels: l10n-fr

#6825 remove WindowEventHandlers minxin from l10n-zh
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/dedicatedworkerglobalscope/index.html
  files/zh-cn/web/api/hashchangeevent/index.html
  files/zh-cn/web/api/htmlbodyelement/index.html
  files/zh-cn/web/api/htmldialogelement/close_event/index.html
  files/zh-cn/web/api/promiserejectionevent/index.html
  files/zh-cn/web/api/serviceworkerglobalscope/index.html
  files/zh-cn/web/api/svgsvgelement/index.html
  files/zh-cn/web/api/window/index.html
  files/zh-cn/web/api/windoweventhandlers/index.html
  files/zh-cn/web/api/worker/messageerror_event/index.html
  files/zh-tw/_wikihistory.json
  files/zh-tw/web/api/window/beforeunload_event/index.html
  files/zh-tw/web/api/windoweventhandlers/index.html
Labels: l10n-zh

#6799 zh-CN:translate readablestream tee
  files/zh-cn/web/api/readablestream/tee/index.md
Labels: l10n-zh

#6854 zh-CN encoding_api
  files/zh-cn/web/api/encoding_api/index.md
Labels: l10n-zh

#6853 jp: fix typo
  files/ja/web/api/htmllabelelement/htmlfor/index.md
Labels: l10n-ja

#6661 Error de ortografía
  files/es/web/javascript/guide/using_promises/index.html
Labels: documentation, l10n-es

#6850 Update index.html
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.html
Labels: l10n-zh

#6865 zh-CN:translate findlast
  files/zh-cn/web/javascript/reference/global_objects/array/findlast/index.md
Labels: l10n-zh

#6855 Correct typos and finish the translation
  files/zh-cn/learn/css/building_blocks/selectors/selectors_tasks/index.html
Labels: l10n-zh

#6828 remove `{{Obsolete_Header}}` macros from l10n-zh
  files/zh-cn/conflicting/web/api/text/index.html
  files/zh-cn/conflicting/web/css/css_fonts/index.html
  files/zh-cn/conflicting/web/css/css_fonts_25d4b407d3e5044aeffb97faa9669a95/index.html
  files/zh-cn/conflicting/web/html/element/input/datetime-local/index.html
  files/zh-cn/mdn/contribute/howto/write_an_api_reference/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/addhitregion/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/clearhitregions/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/removehitregion/index.html
  files/zh-cn/web/api/cssstyledeclaration/getpropertycssvalue/index.html
  files/zh-cn/web/api/document/execcommand/index.html
  files/zh-cn/web/api/document/height/index.html
  files/zh-cn/web/api/document/laststylesheetset/index.html
  files/zh-cn/web/api/document/width/index.html
  files/zh-cn/web/api/domstringlist/index.html
  files/zh-cn/web/api/element/hasattributes/index.html
  files/zh-cn/web/api/fileerror/index.html
  files/zh-cn/web/api/filerequest/index.html
  files/zh-cn/web/api/idbcursor/index.html
  files/zh-cn/web/api/idbrequest/index.html
  files/zh-cn/web/api/idbtransaction/index.html
  files/zh-cn/web/api/node/issamenode/index.html
  files/zh-cn/web/api/node/issupported/index.html
  files/zh-cn/web/api/text/iselementcontentwhitespace/index.html
  files/zh-cn/web/api/window/back/index.html
  files/zh-cn/web/api/window/defaultstatus/index.html
  files/zh-cn/web/api/window/directories/index.html
  files/zh-cn/web/api/window/onmozbeforepaint/index.html
  files/zh-cn/web/html/element/acronym/index.html
  files/zh-cn/web/html/element/applet/index.html
  files/zh-cn/web/html/element/big/index.html
  files/zh-cn/web/html/element/blink/index.html
  files/zh-cn/web/html/element/dir/index.html
  files/zh-cn/web/html/element/marquee/index.html
  files/zh-cn/web/html/element/plaintext/index.html
  files/zh-cn/web/html/element/shadow/index.html
  files/zh-cn/web/html/element/spacer/index.html
  files/zh-cn/web/html/element/strike/index.html
  files/zh-cn/web/html/element/tt/index.html
  files/zh-cn/web/html/element/xmp/index.html
  files/zh-cn/web/javascript/reference/global_objects/weakmap/clear/index.html
  files/zh-tw/web/api/animationevent/animationevent/index.html
  files/zh-tw/web/api/document/execcommand/index.html
  files/zh-tw/web/api/document/width/index.html
  files/zh-tw/web/html/element/blink/index.html
  files/zh-tw/web/html/element/font/index.html
Labels: l10n-zh

#6806 Redirect conflicting pages for CSS - incl. updates/retranslation
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/css/css_flexible_box_layout/backwards_compatibility_of_flexbox/index.html
  files/fr/conflicting/web/css/print-color-adjust/index.md
  files/fr/conflicting/web/css/transform-function/skewx/index.md
  files/fr/web/css/css_flexible_box_layout/backwards_compatibility_of_flexbox/index.md
  files/fr/web/css/print-color-adjust/index.md
  files/fr/web/css/transform-function/skewy/index.md
Labels: l10n-fr

#6852 Conflicting cleanup (remove/redirects - no update) for 20220714
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/element/click_event/index.md
  files/fr/conflicting/web/api/element/dblclick_event/index.md
  files/fr/conflicting/web/css/css_fonts/index.md
  files/fr/conflicting/web/css/css_fonts_25d4b407d3e5044aeffb97faa9669a95/index.md
Labels: l10n-fr

#6874 update links
  files/zh-cn/learn/css/building_blocks/selectors/index.html
Labels: l10n-zh

#6875 Change links to "en-US" into links to "zh-CN"
  files/zh-cn/learn/css/building_blocks/selectors/combinators/index.html
Labels: l10n-zh

#6867 zh-CN:translate findlastindex
  files/zh-cn/web/javascript/reference/global_objects/array/findlastindex/index.md
Labels: l10n-zh

#6876 Small imporvements for links and spaces
  files/zh-cn/learn/css/building_blocks/the_box_model/index.html
Labels: l10n-zh

#6871 zh-CN:translate textdecoder-fatal
  files/zh-cn/web/api/textdecoder/fatal/index.md
Labels: l10n-zh

#6870 zh-CN: translate textDecoder-encoding
  files/zh-cn/web/api/textdecoder/encoding/index.md
Labels: l10n-zh

#6879 pure strong tags for l10n-zh
  files/zh-cn/learn/css/styling_text/fundamentals/index.html
  files/zh-cn/learn/javascript/building_blocks/functions/index.html
  files/zh-cn/learn/javascript/objects/object_prototypes/index.html
  files/zh-cn/learn/server-side/django/deployment/index.html
  files/zh-cn/learn/server-side/django/development_environment/index.html
  files/zh-cn/learn/server-side/django/home_page/index.html
  files/zh-cn/learn/server-side/django/skeleton_website/index.html
  files/zh-cn/learn/server-side/express_nodejs/routes/index.html
  files/zh-cn/learn/server-side/index.html
  files/zh-cn/web/api/canvas_api/tutorial/drawing_shapes/index.html
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/ispointinstroke/index.html
  files/zh-cn/web/api/clipboardevent/clipboardevent/index.html
  files/zh-cn/web/api/customevent/index.html
  files/zh-cn/web/api/document/getelementbyid/index.html
  files/zh-cn/web/api/element/clientleft/index.html
  files/zh-cn/web/api/element/clienttop/index.html
  files/zh-cn/web/api/element/scrolltop/index.html
  files/zh-cn/web/api/headers/delete/index.html
  files/zh-cn/web/api/htmldocument/index.html
  files/zh-cn/web/api/htmlmediaelement/autoplay/index.html
  files/zh-cn/web/api/imagedata/index.html
  files/zh-cn/web/api/serviceworkerregistration/index.html
  files/zh-cn/web/api/web_animations_api/index.html
  files/zh-cn/web/api/web_audio_api/visualizations_with_web_audio_api/index.html
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.html
  files/zh-cn/web/api/webrtc_api/signaling_and_video_calling/index.html
  files/zh-cn/web/css/css_animations/using_css_animations/index.html
  files/zh-cn/web/css/cursor/index.html
  files/zh-cn/web/css/display-box/index.html
  files/zh-cn/web/css/position/index.html
  files/zh-cn/web/html/element/input/reset/index.html
  files/zh-cn/web/html/element/p/index.html
  files/zh-cn/web/http/status/402/index.html
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.html
  files/zh-cn/web/svg/attribute/accumulate/index.html
  files/zh-cn/web/svg/attribute/attributetype/index.html
  files/zh-cn/web/svg/attribute/dur/index.html
  files/zh-cn/web/svg/attribute/fill/index.html
  files/zh-cn/web/svg/attribute/image-rendering/index.html
  files/zh-cn/web/svg/attribute/mask/index.html
  files/zh-cn/web/svg/attribute/presentation/index.html
  files/zh-cn/web/svg/attribute/shape-rendering/index.html
  files/zh-cn/web/svg/attribute/stroke-dasharray/index.html
  files/zh-cn/web/svg/attribute/text-anchor/index.html
  files/zh-cn/web/svg/attribute/text-decoration/index.html
  files/zh-cn/web/svg/attribute/visibility/index.html
  files/zh-tw/learn/server-side/django/development_environment/index.html
  files/zh-tw/learn/server-side/django/models/index.html
  files/zh-tw/learn/server-side/django/skeleton_website/index.html
  files/zh-tw/learn/server-side/express_nodejs/mongoose/index.html
  files/zh-tw/learn/server-side/express_nodejs/routes/index.html
  files/zh-tw/web/api/element/scrollheight/index.html
  files/zh-tw/web/api/element/scrolltop/index.html
Labels: l10n-zh

#6872 zh-CN:translate textdecoder-ignoreBOM
  files/zh-cn/web/api/textdecoder/ignorebom/index.md
Labels: l10n-zh

#6877 zh-CN translate textdecoder-decode'
  files/zh-cn/web/api/textdecoder/decode/index.md
Labels: l10n-zh

#6868 Work in #4618 | Add: search section
  files/es/web/javascript/reference/global_objects/symbol/search/index.md
Labels: documentation, l10n-es

#6791 Fix #6749 2d_collision_detection [es]
  files/es/games/techniques/2d_collision_detection/index.html
  files/es/games/techniques/2d_collision_detection/index.md
Labels: documentation, l10n-es

#6897 Change links and add spaces
  files/zh-cn/learn/css/building_blocks/backgrounds_and_borders/index.html
Labels: l10n-zh

#6891 Update 【层叠与继承】
  files/zh-cn/learn/css/building_blocks/cascade_and_inheritance/index.html
Labels: l10n-zh

#6892 zh-CN:translate request-blob
  files/zh-cn/web/api/request/blob/index.md
Labels: l10n-zh

#6894 zh-CN:translate request-text
  files/zh-cn/web/api/request/text/index.md
Labels: l10n-zh

#6895 zh-CN:translate request-json
  files/zh-cn/web/api/request/json/index.md
Labels: l10n-zh

#6768 Element インターフェイスのキーイベントの記事を新規翻訳
  files/ja/web/api/element/keydown_event/index.md
  files/ja/web/api/element/keypress_event/index.md
  files/ja/web/api/element/keyup_event/index.md
Labels: l10n-ja

#6827 「を」を追加
  files/ja/web/javascript/reference/global_objects/boolean/index.md
Labels: l10n-ja

#6864 [FIX] Update index.html - links images
  files/es/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: documentation, l10n-es

#6890 zh-CN:translate request arraybuffer
  files/zh-cn/web/api/request/arraybuffer/index.md
Labels: l10n-zh

#6893 zh-CN:translate request-formdata"
  files/zh-cn/web/api/request/formdata/index.md
Labels: l10n-zh

#6869 zh-CN translate textdecoder-new
  files/zh-cn/web/api/textdecoder/textdecoder/index.md
Labels: l10n-zh

#6917 Patch 1
  files/zh-cn/learn/javascript/building_blocks/conditionals/index.html
Labels: l10n-zh

#6916 zh-CN:translate encoding
  files/zh-cn/web/api/encoding_api/encodings/index.md
Labels: l10n-zh

#6924 修改 JavaScript 文档排版
  files/zh-cn/web/javascript/a_re-introduction_to_javascript/index.html
  files/zh-cn/web/javascript/index.md
Labels: l10n-zh

#6454 ko asynchronous javascript
  files/ko/learn/javascript/asynchronous/index.md
Labels: l10n-ko

#6747 `ko` remove broken link
  files/ko/web/accessibility/index.md
Labels: l10n-ko

#6918 fix: `wabt` への動線の説明を原文に沿う
  files/ja/webassembly/text_format_to_wasm/index.html
Labels: l10n-ja

#6793 Fix #6792 _colon_-moz-list-bullet [es]
  files/es/web/css/_colon_-moz-list-bullet/index.html
  files/es/web/css/_colon_-moz-list-bullet/index.md
Labels: documentation, l10n-es

#6795 Fix #6794 _doublecolon_file-selector-button [es]
  files/es/web/css/_doublecolon_file-selector-button/index.html
  files/es/web/css/_doublecolon_file-selector-button/index.md
Labels: documentation, l10n-es

#6814 Fix #6788 batterymanager_level [es]
  files/es/web/api/batterymanager/level/index.md
Labels: documentation, l10n-es

#6888 Work in #4618 | Add: species section
  files/es/web/javascript/reference/global_objects/symbol/species/index.md
Labels: documentation, l10n-es

#6933 Update index.html
  files/es/learn/common_questions/pages_sites_servers_and_search_engines/index.html
Labels: l10n-es

#6906 zh-CN:translate Document.pictureInPictureElement
  files/zh-cn/web/api/document/pictureinpictureelement/index.md
Labels: l10n-zh

#6907 zh-CN:translate Document.pictureInPictureenabled
  files/zh-cn/web/api/document/pictureinpictureenabled/index.md
Labels: l10n-zh

#6929 Add translation to Client-side_JavaScript_frameworks
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.html
Labels: l10n-zh

#4388 Adding Translated CSS Reference File: -webkit-scrollbar
  files/pt-br/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: l10n-pt-br

#6763 Removing double "de" from media queries explanantion
  files/pt-br/learn/css/css_layout/responsive_design/index.html
Labels: l10n-pt-br

#6310 Add pt-br translation
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
Labels: l10n-pt-br

#6622 update wrong translation of ES2015 Accessors
  files/pt-br/web/javascript/reference/global_objects/object/create/index.html
Labels: l10n-pt-br

#6737 Fixing image paths
  files/pt-br/learn/getting_started_with_the_web/javascript_basics/index.html
Labels: l10n-pt-br
