Repository mdn/translated-content, pull requests merged in 2022-11, with the labels that each got.

#9601 sync with english version for `console.log`
  files/zh-cn/web/api/console/log/index.md
Labels: l10n-zh

#9619 chore: remove {{geckoRelease}} macro from zh-CN
  files/zh-cn/mozilla/firefox/releases/14/index.md
  files/zh-cn/web/api/attr/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createimagedata/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createlineargradient/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createradialgradient/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/drawfocusifneeded/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/linewidth/index.md
  files/zh-cn/web/api/document/createelement/index.md
  files/zh-cn/web/api/document/createnodeiterator/index.md
  files/zh-cn/web/api/document/createprocessinginstruction/index.md
  files/zh-cn/web/api/document/implementation/index.md
  files/zh-cn/web/api/document/importnode/index.md
  files/zh-cn/web/api/domparser/index.md
  files/zh-cn/web/api/file/index.md
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
  files/zh-cn/web/api/formdata/formdata/index.md
  files/zh-cn/web/api/history_api/index.md
  files/zh-cn/web/api/history_api/working_with_the_history_api/index.md
  files/zh-cn/web/api/htmlelement/input_event/index.md
  files/zh-cn/web/api/htmlmediaelement/canplaytype/index.md
  files/zh-cn/web/api/htmlmediaelement/index.md
  files/zh-cn/web/api/keyboardevent/index.md
  files/zh-cn/web/api/keyboardevent/keycode/index.md
  files/zh-cn/web/api/node/clonenode/index.md
  files/zh-cn/web/api/node/issamenode/index.md
  files/zh-cn/web/api/node/issupported/index.md
  files/zh-cn/web/api/settimeout/index.md
  files/zh-cn/web/api/sharedworker/sharedworker/index.md
  files/zh-cn/web/api/webgl_api/index.md
  files/zh-cn/web/api/websocket/close/index.md
  files/zh-cn/web/api/websockets_api/writing_websocket_client_applications/index.md
  files/zh-cn/web/api/window/getcomputedstyle/index.md
  files/zh-cn/web/api/worker/worker/index.md
  files/zh-cn/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
  files/zh-cn/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
  files/zh-cn/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/zh-cn/web/css/text-rendering/index.md
  files/zh-cn/web/css/text-size-adjust/index.md
  files/zh-cn/web/html/element/font/index.md
  files/zh-cn/web/javascript/reference/errors/redeclared_parameter/index.md
  files/zh-cn/web/javascript/reference/functions/default_parameters/index.md
  files/zh-cn/web/javascript/reference/global_objects/date/parse/index.md
  files/zh-cn/web/javascript/reference/global_objects/error/stack/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/replace/index.md
  files/zh-cn/web/javascript/reference/statements/for...in/index.md
  files/zh-cn/web/mathml/attribute/index.md
  files/zh-cn/web/mathml/element/maction/index.md
  files/zh-cn/web/mathml/element/math/index.md
  files/zh-cn/web/mathml/element/mspace/index.md
  files/zh-cn/web/mathml/element/msub/index.md
  files/zh-cn/web/mathml/element/msup/index.md
  files/zh-cn/web/svg/svg_as_an_image/index.md
Labels: l10n-zh

#9492 [zh-tw] Svelte getting started 部分翻譯更新
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/01-svelte-starter-app.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/02-svelte-component-scoped-styles.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/03-svelte-repl-in-action.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: l10n-zh

#9478 [zh-tw] Svelte variables props 部分新翻譯
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.md
Labels: l10n-zh

#9495 [zh-tw] Svelte todo list beginning 部分翻譯更新
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/01-todo-list-app.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/02-todos-component-rendered.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/03-unstyled-todo-app.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/04-svelte-accessibility-support.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/05-styled-todo-app.png
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/index.md
Labels: l10n-zh

#9620 Remove unnecessary whitespaces
  files/zh-cn/web/css/css_flexible_box_layout/ordering_flex_items/index.md
Labels: l10n-zh

#9624 chore: remove {{warning}} macro from ru
  files/ru/learn/forms/form_validation/index.md
Labels: l10n-ru

#9625 replace expression with string
  files/zh-cn/web/css/_colon_host_function/index.md
Labels: l10n-zh

#9502 厳格モードの記事を更新
  files/ja/web/javascript/reference/strict_mode/index.md
Labels: l10n-ja

#9503 Strict_mode/Transitioning_to_strict_mode を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/javascript/reference/strict_mode/index.md
Labels: l10n-ja

#9506 HTML ドラッグ & ドロップ API の記事を更新
  files/ja/web/api/html_drag_and_drop_api/index.md
Labels: l10n-ja

#9515 Web/API/HTML_Drag_and_Drop_API/Drag_operations を更新
  files/ja/web/api/html_drag_and_drop_api/drag_operations/index.md
Labels: l10n-ja

#9621 Transitiveの訳の修正
  files/ja/web/javascript/reference/global_objects/array/sort/index.md
Labels: l10n-ja

#9627 Markdown bolded rendering fails
  files/zh-cn/web/javascript/reference/statements/try...catch/index.md
Labels: l10n-zh

#9629 security: remove references to https://serviceworke.rs/
  files/es/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/es/web/api/service_worker_api/index.md
  files/es/web/progressive_web_apps/index.md
  files/es/web/progressive_web_apps/introduction/index.md
  files/es/web/progressive_web_apps/loading/index.md
  files/es/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/fr/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/fr/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/fr/web/api/service_worker_api/index.md
  files/fr/web/api/serviceworker/index.md
  files/fr/web/progressive_web_apps/introduction/index.md
  files/fr/web/progressive_web_apps/loading/index.md
  files/fr/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/ja/web/api/push_api/index.md
  files/ja/web/api/serviceworker/index.md
  files/ja/web/progressive_web_apps/index.md
  files/ja/web/progressive_web_apps/loading/index.md
  files/ja/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/ko/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/ko/web/api/push_api/index.md
  files/ko/web/api/service_worker_api/index.md
  files/ko/web/api/service_worker_api/using_service_workers/index.md
  files/ko/web/api/serviceworker/index.md
  files/ko/web/progressive_web_apps/index.md
  files/ko/web/progressive_web_apps/introduction/index.md
  files/ko/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/pt-br/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/pt-br/web/api/service_worker_api/index.md
  files/pt-br/web/api/service_worker_api/using_service_workers/index.md
  files/pt-br/web/progressive_web_apps/index.md
  files/pt-br/web/progressive_web_apps/introduction/index.md
  files/ru/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/ru/web/api/push_api/index.md
  files/ru/web/api/service_worker_api/index.md
  files/ru/web/api/service_worker_api/using_service_workers/index.md
  files/ru/web/api/serviceworker/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/zh-cn/web/api/push_api/index.md
  files/zh-cn/web/api/service_worker_api/index.md
  files/zh-cn/web/api/service_worker_api/using_service_workers/index.md
  files/zh-cn/web/api/serviceworker/index.md
  files/zh-cn/web/progressive_web_apps/index.md
  files/zh-cn/web/progressive_web_apps/introduction/index.md
  files/zh-cn/web/progressive_web_apps/loading/index.md
  files/zh-cn/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/zh-tw/web/progressive_web_apps/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br, security

#9636 Remove deprecated HTMLVersionInline macro from es
  files/es/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.md
  files/es/web/api/htmlinputelement/index.md
  files/es/web/html/block-level_elements/index.md
  files/es/web/html/element/a/index.md
  files/es/web/html/element/br/index.md
  files/es/web/html/element/form/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/img/index.md
  files/es/web/html/element/input/button/index.md
  files/es/web/html/element/input/index.md
  files/es/web/html/element/input/password/index.md
  files/es/web/html/element/label/index.md
  files/es/web/html/element/object/index.md
  files/es/web/html/element/select/index.md
  files/es/web/html/element/td/index.md
  files/es/web/html/element/textarea/index.md
  files/es/web/html/element/th/index.md
  files/es/web/html/link_types/index.md
  files/es/web/svg/element/script/index.md
Labels: l10n-es

#9634 Remove deprecated mediawiki.external macro from es
  files/es/web/api/document/stylesheets/index.md
  files/es/web/api/document_object_model/introduction/index.md
  files/es/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/es/web/api/htmlstyleelement/index.md
  files/es/web/api/window/error_event/index.md
  files/es/web/css/content/index.md
  files/es/web/css/cursor/index.md
  files/es/web/css/font-variant/index.md
  files/es/web/css/list-style/index.md
  files/es/web/html/element/col/index.md
  files/es/web/html/element/meta/index.md
  files/es/web/javascript/reference/about/index.md
  files/es/web/javascript/reference/global_objects/number/tostring/index.md
  files/es/web/javascript/reference/global_objects/object/tostring/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/operators/property_accessors/index.md
Labels: l10n-es

#9639 Remove deprecated gecko_minversion_inline macro from es
  files/es/conflicting/web/api/window/hashchange_event/index.md
  files/es/web/api/canvasrenderingcontext2d/index.md
  files/es/web/api/element/namespaceuri/index.md
  files/es/web/api/file/index.md
  files/es/web/api/filereader/index.md
  files/es/web/api/htmlaudioelement/index.md
  files/es/web/api/htmlelement/index.md
  files/es/web/api/htmlselectelement/index.md
  files/es/web/api/mouseevent/index.md
  files/es/web/api/node/index.md
  files/es/web/api/window/confirm/index.md
  files/es/web/api/window/error_event/index.md
  files/es/web/api/window/index.md
  files/es/web/api/xmlhttprequest/timeout/index.md
  files/es/web/css/color_value/index.md
  files/es/web/css/mozilla_extensions/index.md
  files/es/web/events/index.md
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/img/index.md
  files/es/web/html/element/video/index.md
  files/es/web/mathml/attribute/index.md
Labels: l10n-es

#9642 fix: Markdownlint cleanup for ZH-CN
  files/zh-cn/web/html/element/figure/index.md
  files/zh-cn/web/html/element/input/number/index.md
Labels: l10n-zh

#9647 fix: markdownlint
  files/zh-cn/web/javascript/reference/global_objects/promise/race/index.md
Labels: l10n-zh

#9641 fix: Markdownlint cleanup for ES
  files/es/web/accessibility/community/index.md
  files/es/web/guide/ajax/community/index.md
  files/es/web/html/block-level_elements/index.md
  files/es/web/html/element/a/index.md
  files/es/web/html/element/form/index.md
  files/es/web/html/element/img/index.md
  files/es/web/html/element/input/button/index.md
  files/es/web/html/element/input/index.md
  files/es/web/html/element/input/password/index.md
  files/es/web/html/element/label/index.md
  files/es/web/html/element/select/index.md
  files/es/web/html/element/textarea/index.md
  files/es/web/mathml/index.md
  files/es/web/svg/element/script/index.md
  files/es/web/svg/index.md
  files/es/web/xslt/index.md
Labels: l10n-es

#9648 docs: add note content for array
  files/zh-cn/web/javascript/reference/global_objects/array/index.md
Labels: l10n-zh

#9651 Upadate css root
  files/zh-cn/web/css/_colon_root/index.md
Labels: l10n-zh

#9448 fix: CODE spans stuck to words
  files/fr/web/css/@media/prefers-color-scheme/index.md
  files/fr/web/css/_colon_defined/index.md
  files/fr/web/css/_colon_nth-last-child/index.md
  files/fr/web/css/abs/index.md
  files/fr/web/css/border-bottom-color/index.md
  files/fr/web/css/border-left-color/index.md
  files/fr/web/css/border-right-color/index.md
  files/fr/web/css/clip/index.md
  files/fr/web/css/css_box_alignment/box_alignment_in_flexbox/index.md
  files/fr/web/css/css_colors/applying_color/index.md
  files/fr/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/fr/web/css/css_flexible_box_layout/ordering_flex_items/index.md
  files/fr/web/css/css_flow_layout/intro_to_formatting_contexts/index.md
  files/fr/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.md
  files/fr/web/css/font/index.md
  files/fr/web/css/top/index.md
  files/fr/web/css/transform-function/index.md
  files/fr/web/guide/writing_forward-compatible_websites/index.md
  files/fr/web/html/attributes/autocomplete/index.md
  files/fr/web/html/date_and_time_formats/index.md
  files/fr/web/html/element/heading_elements/index.md
  files/fr/web/html/element/input/checkbox/index.md
  files/fr/web/html/element/link/index.md
  files/fr/web/html/element/video/index.md
  files/fr/web/html/global_attributes/draggable/index.md
  files/fr/web/http/caching/index.md
  files/fr/web/http/link_prefetching_faq/index.md
Labels: l10n-fr

#9400 Update WebGL landing and rm dead link
  files/fr/web/api/webgl_api/index.md
Labels: l10n-fr

#9591 chore: remove {{warning}} macro from pt-BR
  files/pt-br/learn/forms/form_validation/index.md
  files/pt-br/web/css/box-ordinal-group/index.md
Labels: l10n-pt-br

#9650 Exclusão de ex. e inserção de ex. interativo
  files/pt-br/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-pt-br

#9388 fix: Remove FQDN
  files/pt-br/learn/accessibility/html/index.md
  files/pt-br/learn/common_questions/upload_files_to_a_web_server/index.md
  files/pt-br/learn/common_questions/what_is_a_domain_name/index.md
  files/pt-br/learn/common_questions/what_is_a_web_server/index.md
  files/pt-br/learn/getting_started_with_the_web/css_basics/index.md
  files/pt-br/learn/html/introduction_to_html/debugging_html/index.md
  files/pt-br/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/pt-br/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/pt-br/learn/javascript/client-side_web_apis/introduction/index.md
  files/pt-br/web/api/attr/index.md
  files/pt-br/web/api/setinterval/index.md
  files/pt-br/web/css/media_queries/using_media_queries/index.md
  files/pt-br/web/html/element/img/index.md
  files/pt-br/web/http/cors/index.md
  files/pt-br/web/http/headers/feature-policy/index.md
  files/pt-br/web/http/headers/save-data/index.md
  files/pt-br/web/http/headers/vary/index.md
  files/pt-br/web/http/status/404/index.md
  files/pt-br/web/javascript/reference/lexical_grammar/index.md
  files/pt-br/web/svg/element/ellipse/index.md
  files/pt-br/web/svg/element/line/index.md
  files/pt-br/web/svg/element/lineargradient/index.md
  files/pt-br/web/svg/element/marker/index.md
  files/pt-br/web/svg/element/mask/index.md
  files/pt-br/web/svg/element/pattern/index.md
  files/pt-br/web/svg/element/polygon/index.md
  files/pt-br/web/svg/element/polyline/index.md
  files/pt-br/web/svg/element/radialgradient/index.md
Labels: l10n-pt-br

#9574 Add missing files
  files/pt-br/glossary/accent/index.md
  files/pt-br/glossary/advance_measure/index.md
  files/pt-br/glossary/base64/index.md
  files/pt-br/glossary/xslt/index.md
  files/pt-br/web/javascript/guide/working_with_private_class_features/index.md
Labels: l10n-pt-br

#9664 [zh-tw] HTMLRef -> HTMLSidebar
  files/zh-tw/web/css/css_colors/applying_color/index.md
  files/zh-tw/web/html/element/a/index.md
  files/zh-tw/web/html/element/blink/index.md
  files/zh-tw/web/html/element/blockquote/index.md
  files/zh-tw/web/html/element/br/index.md
  files/zh-tw/web/html/element/button/index.md
  files/zh-tw/web/html/element/canvas/index.md
  files/zh-tw/web/html/element/code/index.md
  files/zh-tw/web/html/element/div/index.md
  files/zh-tw/web/html/element/font/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/frameset/index.md
  files/zh-tw/web/html/element/hr/index.md
  files/zh-tw/web/html/element/input/index.md
  files/zh-tw/web/html/element/input/submit/index.md
  files/zh-tw/web/html/element/meter/index.md
  files/zh-tw/web/html/element/nav/index.md
  files/zh-tw/web/html/element/optgroup/index.md
  files/zh-tw/web/html/element/picture/index.md
  files/zh-tw/web/html/element/q/index.md
  files/zh-tw/web/html/element/ruby/index.md
  files/zh-tw/web/html/element/script/index.md
  files/zh-tw/web/html/element/summary/index.md
  files/zh-tw/web/html/element/table/index.md
  files/zh-tw/web/html/element/template/index.md
  files/zh-tw/web/html/element/time/index.md
Labels: l10n-zh

#9663 [zh-cn] HTMLRef -> HTMLSidebar, part 2
  files/zh-cn/web/html/date_and_time_formats/index.md
  files/zh-cn/web/html/element/figcaption/index.md
  files/zh-cn/web/html/element/heading_elements/index.md
  files/zh-cn/web/html/element/input/datetime-local/index.md
  files/zh-cn/web/html/element/input/number/index.md
  files/zh-cn/web/html/element/input/reset/index.md
  files/zh-cn/web/html/element/input/submit/index.md
  files/zh-cn/web/html/element/input/week/index.md
  files/zh-cn/web/html/element/optgroup/index.md
  files/zh-cn/web/html/element/option/index.md
  files/zh-cn/web/html/element/output/index.md
  files/zh-cn/web/html/element/param/index.md
  files/zh-cn/web/html/element/picture/index.md
  files/zh-cn/web/html/element/plaintext/index.md
  files/zh-cn/web/html/element/pre/index.md
  files/zh-cn/web/html/element/progress/index.md
  files/zh-cn/web/html/element/q/index.md
  files/zh-cn/web/html/element/rb/index.md
  files/zh-cn/web/html/element/rp/index.md
  files/zh-cn/web/html/element/rt/index.md
  files/zh-cn/web/html/element/rtc/index.md
  files/zh-cn/web/html/element/ruby/index.md
  files/zh-cn/web/html/element/s/index.md
  files/zh-cn/web/html/element/samp/index.md
  files/zh-cn/web/html/element/script/index.md
  files/zh-cn/web/html/element/section/index.md
  files/zh-cn/web/html/element/select/index.md
  files/zh-cn/web/html/element/shadow/index.md
  files/zh-cn/web/html/element/slot/index.md
  files/zh-cn/web/html/element/small/index.md
  files/zh-cn/web/html/element/source/index.md
  files/zh-cn/web/html/element/spacer/index.md
  files/zh-cn/web/html/element/span/index.md
  files/zh-cn/web/html/element/strike/index.md
  files/zh-cn/web/html/element/strong/index.md
  files/zh-cn/web/html/element/style/index.md
  files/zh-cn/web/html/element/sub/index.md
  files/zh-cn/web/html/element/summary/index.md
  files/zh-cn/web/html/element/sup/index.md
  files/zh-cn/web/html/element/table/index.md
  files/zh-cn/web/html/element/tbody/index.md
  files/zh-cn/web/html/element/td/index.md
  files/zh-cn/web/html/element/template/index.md
  files/zh-cn/web/html/element/textarea/index.md
  files/zh-cn/web/html/element/tfoot/index.md
  files/zh-cn/web/html/element/th/index.md
  files/zh-cn/web/html/element/thead/index.md
  files/zh-cn/web/html/element/time/index.md
  files/zh-cn/web/html/element/title/index.md
  files/zh-cn/web/html/element/tr/index.md
  files/zh-cn/web/html/element/track/index.md
  files/zh-cn/web/html/element/tt/index.md
  files/zh-cn/web/html/element/u/index.md
  files/zh-cn/web/html/element/ul/index.md
  files/zh-cn/web/html/element/var/index.md
  files/zh-cn/web/html/element/video/index.md
  files/zh-cn/web/html/element/wbr/index.md
  files/zh-cn/web/html/element/xmp/index.md
  files/zh-cn/web/html/quirks_mode_and_standards_mode/index.md
Labels: l10n-zh

#9553 Web/API/HTML_Drag_and_Drop_API/Multiple_items を更新
  files/ja/web/api/html_drag_and_drop_api/multiple_items/index.md
Labels: l10n-ja

#9554 Web/API/HTML_Drag_and_Drop_API/Recommended_drag_types を更新
  files/ja/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
Labels: l10n-ja

#9535 fix(promise): fullfill -> fulfill
  files/fr/learn/javascript/asynchronous/promises/index.md
  files/ja/mozilla/firefox/releases/50/index.md
  files/ja/web/javascript/guide/modules/index.md
  files/ko/web/api/readablestream/index.md
  files/pt-br/learn/javascript/asynchronous/promises/index.md
  files/ru/web/javascript/reference/global_objects/promise/any/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-ru, l10n-ko, l10n-pt-br

#9555 Web/API/HTML_Drag_and_Drop_API/File_drag_and_drop を新規翻訳
  files/ja/web/api/html_drag_and_drop_api/file_drag_and_drop/index.md
Labels: l10n-ja

#9305 [feat] ko-KR-translate array entries UPDATE
  files/ko/web/javascript/reference/global_objects/array/entries/index.md
Labels: l10n-ko

#9673 Fix URL Error
  files/zh-cn/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
Labels: l10n-zh

#9672 Fix broken urls
  files/zh-cn/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
Labels: l10n-zh

#9582 background_fetch_apiの翻訳
  files/ja/web/api/background_fetch_api/index.md
Labels: l10n-ja

#9677 docs: update glossary/challenge
  files/zh-cn/glossary/challenge/index.md
Labels: l10n-zh

#9668 [es] HTMLRef -> HTMLSidebar
  files/es/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/es/web/html/element/a/index.md
  files/es/web/html/element/abbr/index.md
  files/es/web/html/element/address/index.md
  files/es/web/html/element/base/index.md
  files/es/web/html/element/bdi/index.md
  files/es/web/html/element/bgsound/index.md
  files/es/web/html/element/blink/index.md
  files/es/web/html/element/body/index.md
  files/es/web/html/element/br/index.md
  files/es/web/html/element/content/index.md
  files/es/web/html/element/data/index.md
  files/es/web/html/element/datalist/index.md
  files/es/web/html/element/dd/index.md
  files/es/web/html/element/details/index.md
  files/es/web/html/element/dialog/index.md
  files/es/web/html/element/dl/index.md
  files/es/web/html/element/dt/index.md
  files/es/web/html/element/em/index.md
  files/es/web/html/element/figcaption/index.md
  files/es/web/html/element/head/index.md
  files/es/web/html/element/heading_elements/index.md
  files/es/web/html/element/html/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/input/button/index.md
  files/es/web/html/element/input/color/index.md
  files/es/web/html/element/input/date/index.md
  files/es/web/html/element/input/email/index.md
  files/es/web/html/element/input/hidden/index.md
  files/es/web/html/element/input/number/index.md
  files/es/web/html/element/input/password/index.md
  files/es/web/html/element/input/range/index.md
  files/es/web/html/element/input/text/index.md
  files/es/web/html/element/label/index.md
  files/es/web/html/element/link/index.md
  files/es/web/html/element/mark/index.md
  files/es/web/html/element/marquee/index.md
  files/es/web/html/element/nav/index.md
  files/es/web/html/element/nobr/index.md
  files/es/web/html/element/object/index.md
  files/es/web/html/element/option/index.md
  files/es/web/html/element/picture/index.md
  files/es/web/html/element/progress/index.md
  files/es/web/html/element/q/index.md
  files/es/web/html/element/samp/index.md
  files/es/web/html/element/select/index.md
  files/es/web/html/element/slot/index.md
  files/es/web/html/element/source/index.md
  files/es/web/html/element/sub/index.md
  files/es/web/html/element/sup/index.md
  files/es/web/html/element/td/index.md
  files/es/web/html/element/textarea/index.md
  files/es/web/html/element/th/index.md
  files/es/web/html/element/title/index.md
  files/es/web/html/element/tr/index.md
  files/es/web/html/element/track/index.md
  files/es/web/html/element/var/index.md
  files/es/web/html/element/wbr/index.md
  files/es/web/html/element/xmp/index.md
  files/es/web/svg/element/script/index.md
Labels: l10n-es

#9682 Remove deprecated Obsolete_Header macro from es
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/api/blob/index.md
  files/es/conflicting/web/api/element/clientheight/index.md
  files/es/conflicting/web/api/file/name/index.md
  files/es/conflicting/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/es/conflicting/web/javascript/reference/deprecated_and_obsolete_features_a91664716c4f7753074ac042780999e0/index.md
  files/es/orphaned/web/api/fileerror/index.md
  files/es/web/api/htmlshadowelement/index.md
  files/es/web/api/node/issamenode/index.md
  files/es/web/html/element/center/index.md
  files/es/web/html/element/marquee/index.md
  files/es/web/html/element/xmp/index.md
Labels: l10n-es

#9683 Remove deprecated geckoRelease macro from es
  files/es/web/api/canvasrenderingcontext2d/drawimage/index.md
  files/es/web/api/document/cookie/index.md
  files/es/web/api/document/importnode/index.md
  files/es/web/api/document/index.md
  files/es/web/api/domparser/index.md
  files/es/web/api/file/index.md
  files/es/web/api/file_api/using_files_from_web_applications/index.md
  files/es/web/api/keyboardevent/index.md
  files/es/web/api/node/clonenode/index.md
  files/es/web/api/settimeout/index.md
  files/es/web/api/web_workers_api/using_web_workers/index.md
  files/es/web/api/websocket/index.md
  files/es/web/api/websockets_api/writing_websocket_client_applications/index.md
  files/es/web/api/xmlhttprequest/index.md
  files/es/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/es/web/css/background-size/index.md
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/javascript/reference/functions/method_definitions/index.md
  files/es/web/javascript/reference/global_objects/array/indexof/index.md
  files/es/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/es/web/javascript/reference/global_objects/function/tostring/index.md
  files/es/web/javascript/reference/global_objects/set/add/index.md
  files/es/web/javascript/reference/global_objects/string/search/index.md
  files/es/web/javascript/reference/global_objects/weakmap/delete/index.md
  files/es/web/javascript/reference/global_objects/weakmap/set/index.md
  files/es/web/javascript/reference/operators/yield_star_/index.md
  files/es/web/javascript/reference/statements/return/index.md
  files/es/web/mathml/attribute/index.md
Labels: l10n-es

#9674 remove broken links from l10n-zh
  files/zh-cn/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/zh-cn/mozilla/firefox/releases/3/updating_extensions/index.md
  files/zh-tw/learn/accessibility/index.md
  files/zh-tw/learn/css/css_layout/index.md
  files/zh-tw/learn/css/styling_text/index.md
  files/zh-tw/learn/getting_started_with_the_web/publishing_your_website/index.md
  files/zh-tw/learn/html/introduction_to_html/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/index.md
  files/zh-tw/learn/html/tables/index.md
  files/zh-tw/learn/javascript/building_blocks/image_gallery/index.md
  files/zh-tw/learn/javascript/building_blocks/index.md
  files/zh-tw/learn/javascript/client-side_web_apis/index.md
  files/zh-tw/learn/javascript/first_steps/index.md
  files/zh-tw/learn/javascript/first_steps/silly_story_generator/index.md
  files/zh-tw/learn/javascript/objects/adding_bouncing_balls_features/index.md
  files/zh-tw/learn/javascript/objects/index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
  files/zh-tw/mozilla/add-ons/index.md
  files/zh-tw/mozilla/add-ons/webextensions/index.md
  files/zh-tw/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/zh-tw/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/zh-tw/web/api/window/requestanimationframe/index.md
Labels: l10n-zh

#9675 docs: translation deep_copy of content
  files/zh-cn/glossary/deep_copy/index.md
Labels: l10n-zh

#9676 docs: update input/text
  files/zh-cn/web/html/element/input/text/index.md
Labels: l10n-zh

#9687 docs: translation shallow_copy of content
  files/zh-cn/glossary/shallow_copy/index.md
Labels: l10n-zh

#9690 remove {{event}} macro from zh-TW
  files/zh-tw/web/api/document/index.md
  files/zh-tw/web/api/dragevent/index.md
  files/zh-tw/web/api/element/index.md
  files/zh-tw/web/api/html_drag_and_drop_api/index.md
  files/zh-tw/web/api/htmlelement/index.md
  files/zh-tw/web/api/htmlformelement/index.md
  files/zh-tw/web/api/htmlmediaelement/index.md
  files/zh-tw/web/api/media_capture_and_streams_api/index.md
  files/zh-tw/web/api/notification/index.md
  files/zh-tw/web/api/payment_request_api/index.md
  files/zh-tw/web/api/paymentrequest/index.md
  files/zh-tw/web/api/performance/index.md
  files/zh-tw/web/api/proximity_events/index.md
  files/zh-tw/web/api/server-sent_events/using_server-sent_events/index.md
  files/zh-tw/web/api/web_workers_api/index.md
  files/zh-tw/web/api/web_workers_api/using_web_workers/index.md
  files/zh-tw/web/api/webrtc_api/index.md
  files/zh-tw/web/api/webvr_api/index.md
  files/zh-tw/web/api/window/index.md
  files/zh-tw/web/api/xmlhttprequest/index.md
  files/zh-tw/web/api/xmlhttprequesteventtarget/index.md
  files/zh-tw/web/events/index.md
Labels: l10n-zh

#9688 move `fit-content()` to correct slug
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/css/fit-content_function/index.md
Labels: l10n-zh

#9143 更新了几个与伪类有关的页面
  files/zh-cn/web/css/_colon_has/index.md
  files/zh-cn/web/css/_colon_is/index.md
  files/zh-cn/web/css/_colon_not/index.md
  files/zh-cn/web/css/_colon_where/index.md
  files/zh-cn/web/css/pseudo-classes/index.md
  files/zh-cn/web/css/selector_list/index.md
Labels: l10n-zh

#9684 feat: glossary page
  files/pt-br/glossary/application_context/index.md
  files/pt-br/glossary/aria/index.md
  files/pt-br/glossary/arpa/index.md
  files/pt-br/glossary/atag/index.md
  files/pt-br/glossary/index.md
Labels: l10n-pt-br

#9280 fixes #9275 on pt-br/webassembly/
  files/pt-br/webassembly/c_to_wasm/index.md
  files/pt-br/webassembly/concepts/index.md
  files/pt-br/webassembly/index.md
  files/pt-br/webassembly/understanding_the_text_format/index.md
  files/pt-br/webassembly/using_the_javascript_api/index.md
Labels: l10n-pt-br

#9278 fixes #9275 on pt-br/mozilla/
  files/pt-br/mozilla/add-ons/index.md
  files/pt-br/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/alarms/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/bookmarks/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsersettings/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/clipboard/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/commands/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/contentscripts/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/contextualidentities/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/cookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/menus/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/tabs/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/theme/index.md
  files/pt-br/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
  files/pt-br/mozilla/add-ons/webextensions/examples/index.md
  files/pt-br/mozilla/add-ons/webextensions/index.md
  files/pt-br/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/pt-br/mozilla/add-ons/webextensions/manifest.json/index.md
  files/pt-br/mozilla/add-ons/webextensions/manifest.json/permissions/index.md
  files/pt-br/mozilla/add-ons/webextensions/manifest.json/short_name/index.md
  files/pt-br/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/pt-br/mozilla/add-ons/webextensions/prerequisites/index.md
  files/pt-br/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/pt-br/mozilla/add-ons/webextensions/user_interface/index.md
  files/pt-br/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/pt-br/mozilla/add-ons/webextensions/what_next_/index.md
  files/pt-br/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/pt-br/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/pt-br/mozilla/firefox/experimental_features/index.md
  files/pt-br/mozilla/firefox/index.md
  files/pt-br/mozilla/firefox/releases/1.5/index.md
  files/pt-br/mozilla/firefox/releases/3/full_page_zoom/index.md
  files/pt-br/mozilla/firefox/releases/3/index.md
  files/pt-br/mozilla/firefox/releases/49/index.md
  files/pt-br/mozilla/firefox/releases/50/index.md
  files/pt-br/mozilla/firefox/releases/57/index.md
  files/pt-br/mozilla/firefox/releases/index.md
  files/pt-br/mozilla/index.md
Labels: l10n-pt-br

#9281 fixes #9275 on pt-br/mdn/
  files/pt-br/mdn/at_ten/index.md
  files/pt-br/mdn/community/contributing/getting_started/index.md
  files/pt-br/mdn/community/contributing/our_repositories/index.md
  files/pt-br/mdn/community/index.md
  files/pt-br/mdn/community/open_source_etiquette/index.md
  files/pt-br/mdn/contribute/howto/index.md
  files/pt-br/mdn/contribute/index.md
  files/pt-br/mdn/contribute/processes/index.md
  files/pt-br/mdn/index.md
  files/pt-br/mdn/tools/index.md
  files/pt-br/mdn/tools/kumascript/index.md
  files/pt-br/mdn/tools/kumascript/troubleshooting/index.md
  files/pt-br/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/pt-br/mdn/writing_guidelines/howto/tag/index.md
  files/pt-br/mdn/writing_guidelines/index.md
  files/pt-br/mdn/writing_guidelines/page_structures/index.md
  files/pt-br/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/pt-br/mdn/writing_guidelines/writing_style_guide/index.md
  files/pt-br/mdn/yari/index.md
Labels: l10n-pt-br

#9283 fixes #9275 on pt-br/games/
  files/pt-br/games/anatomy/index.md
  files/pt-br/games/examples/index.md
  files/pt-br/games/index.md
  files/pt-br/games/introduction/index.md
  files/pt-br/games/introduction_to_html5_game_development/index.md
  files/pt-br/games/publishing_games/index.md
  files/pt-br/games/techniques/2d_collision_detection/index.md
  files/pt-br/games/techniques/3d_on_the_web/index.md
  files/pt-br/games/techniques/control_mechanisms/index.md
  files/pt-br/games/techniques/index.md
  files/pt-br/games/tools/asm.js/index.md
  files/pt-br/games/tools/index.md
  files/pt-br/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/pt-br/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/pt-br/games/tutorials/index.md
Labels: l10n-pt-br

#9268 chore: updates promise page #8541
  files/pt-br/web/javascript/reference/global_objects/promise/index.md
  files/pt-br/web/javascript/reference/global_objects/promise/promises.png
Labels: l10n-pt-br

#9689 remove event macro from zh-CN (Part1)
  files/zh-cn/web/api/animation/cancel_event/index.md
  files/zh-cn/web/api/audiobuffersourcenode/index.md
  files/zh-cn/web/api/battery_status_api/index.md
  files/zh-cn/web/api/broadcast_channel_api/index.md
  files/zh-cn/web/api/broadcastchannel/index.md
  files/zh-cn/web/api/broadcastchannel/postmessage/index.md
  files/zh-cn/web/api/css_font_loading_api/index.md
  files/zh-cn/web/api/dedicatedworkerglobalscope/index.md
  files/zh-cn/web/api/deviceproximityevent/index.md
  files/zh-cn/web/api/dragevent/index.md
  files/zh-cn/web/api/element/animationcancel_event/index.md
  files/zh-cn/web/api/element/auxclick_event/index.md
  files/zh-cn/web/api/element/contextmenu_event/index.md
  files/zh-cn/web/api/element/gotpointercapture_event/index.md
  files/zh-cn/web/api/eventsource/index.md
  files/zh-cn/web/api/htmlbodyelement/index.md
  files/zh-cn/web/api/messageevent/index.md
  files/zh-cn/web/api/rtcdatachannel/index.md
  files/zh-cn/web/api/rtcpeerconnection/createdatachannel/index.md
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
  files/zh-cn/web/api/serviceworkerglobalscope/index.md
  files/zh-cn/web/api/web_workers_api/index.md
  files/zh-cn/web/api/web_workers_api/using_web_workers/index.md
  files/zh-cn/web/api/window/index.md
  files/zh-cn/web/api/worker/index.md
Labels: l10n-zh

#9272 update /pt-BR/docs/Web content
  files/pt-br/web/index.md
Labels: l10n-pt-br

#9221 fixes extra parentheses #2410
  files/pt-br/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-pt-br

#9219 chore: add aria-label page
  files/pt-br/web/accessibility/aria/attributes/aria-label/index.md
Labels: l10n-pt-br

#9274 fixes #9273
  files/pt-br/web/http/index.md
Labels: l10n-pt-br

#9276 fixes #7397
  files/pt-br/web/javascript/data_structures/index.md
Labels: l10n-pt-br

#9227 Translation of `Learn/Forms/Form_validation` page
  files/pt-br/learn/forms/form_validation/index.md
Labels: l10n-pt-br

#9267 Chore/update applying colors page
  files/pt-br/web/css/css_colors/applying_color/index.md
Labels: l10n-pt-br

#9222 chore: translate pt-br/learn/javascript/asynchronous/introducing
  files/pt-br/learn/javascript/asynchronous/introducing/index.md
Labels: l10n-pt-br

#9339 fix: #9335 flaws
  files/pt-br/web/css/max-width/index.md
Labels: l10n-pt-br

#9338 chore: updates `/pt-BR/docs/Web/API/Web_Audio_API`
  files/pt-br/games/introduction/index.md
  files/pt-br/web/api/web_audio_api/audio-context_.png
  files/pt-br/web/api/web_audio_api/index.md
Labels: l10n-pt-br

#9410 Changing 'var' variable to 'const', in pt-Br translate
  files/pt-br/web/javascript/reference/global_objects/string/match/index.md
Labels: l10n-pt-br

#9699 fix pic src in normal_flow
  files/zh-cn/learn/css/css_layout/normal_flow/index.md
Labels: l10n-zh

#9700 update Glossary/baseline
  files/zh-cn/glossary/baseline/index.md
Labels: l10n-zh

#9643 fix: Markdownlint cleanup for JA
  files/ja/web/javascript/reference/strict_mode/index.md
Labels: l10n-ja

#9656 feat: add array() constructor translation
  files/es/web/javascript/reference/global_objects/array/array/index.md
Labels: l10n-es

#9686 fix: finish translation
  files/es/learn/server-side/node_server_without_framework/index.md
Labels: l10n-es

#9693 sync with english version for web/performance
  files/zh-cn/web/performance/index.md
Labels: l10n-zh

#9434 global_object/decodeuri 동기화
  files/ko/web/javascript/reference/global_objects/decodeuri/index.md
Labels: l10n-ko

#9703 zh-cn(translate): translate typedarray
  files/zh-cn/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-zh

#9712 docs: translation type_coercion of content
  files/zh-cn/glossary/type_coercion/index.md
Labels: l10n-zh

#9716 Update index.md for typo
  files/zh-cn/web/css/justify-self/index.md
Labels: l10n-zh

#9424 Javascript/Reference/Global_Objects 최신 동기화
  files/ko/web/javascript/reference/global_objects/index.md
Labels: l10n-ko

#9512 fix: character escaping from conversion KO
  files/ko/learn/server-side/first_steps/web_frameworks/index.md
  files/ko/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/ko/web/api/audiobuffersourcenode/index.md
  files/ko/web/api/cssstylesheet/index.md
  files/ko/web/api/fetch_api/basic_concepts/index.md
  files/ko/web/http/methods/post/index.md
Labels: l10n-ko

#9710 fix: Markdownlint cleanup for KO
  files/ko/web/javascript/reference/global_objects/decodeuri/index.md
Labels: l10n-ko

#9390 fix: Update $edit links
  files/ko/learn/server-side/django/deployment/index.md
  files/ko/web/api/nodelist/index.md
  files/ko/web/css/font-size/index.md
  files/ko/web/http/cors/index.md
  files/ko/web/javascript/guide/iterators_and_generators/index.md
Labels: l10n-ko

#9433 glossary/nullish 신규 번역
  files/ko/glossary/nullish/index.md
Labels: l10n-ko

#9435 global-object/error/cause 추가
  files/ko/web/javascript/reference/global_objects/error/cause/index.md
Labels: l10n-ko

#9520 fix: stuck DD characters
  files/ko/web/html/attributes/autocomplete/index.md
  files/ko/web/html/element/frame/index.md
  files/ko/web/http/headers/index.md
Labels: l10n-ko

#9569 Korean Translation: web/css/display
  files/ko/web/css/display/index.md
Labels: l10n-ko

#9562 docs: update korean translation of String.prototype.localeCompare
  files/ko/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: l10n-ko

#9580 Firefox 18 for developers を更新
  files/ja/mozilla/firefox/releases/18/index.md
Labels: l10n-ja

#9715 remove event macro from zh-CN (Part 2)
  files/zh-cn/web/api/element/lostpointercapture_event/index.md
  files/zh-cn/web/api/element/pointercancel_event/index.md
  files/zh-cn/web/api/element/pointerdown_event/index.md
  files/zh-cn/web/api/element/pointerenter_event/index.md
  files/zh-cn/web/api/element/pointerleave_event/index.md
  files/zh-cn/web/api/element/pointermove_event/index.md
  files/zh-cn/web/api/element/pointerout_event/index.md
  files/zh-cn/web/api/element/pointerover_event/index.md
  files/zh-cn/web/api/element/pointerup_event/index.md
  files/zh-cn/web/api/element/setpointercapture/index.md
  files/zh-cn/web/api/element/transitioncancel_event/index.md
  files/zh-cn/web/api/element/transitionend_event/index.md
  files/zh-cn/web/api/eventsource/error_event/index.md
  files/zh-cn/web/api/eventsource/index.md
  files/zh-cn/web/api/eventsource/open_event/index.md
  files/zh-cn/web/api/extendableevent/index.md
  files/zh-cn/web/api/filesystemfileentry/index.md
  files/zh-cn/web/api/fontfaceset/index.md
  files/zh-cn/web/api/html_drag_and_drop_api/index.md
  files/zh-cn/web/api/htmlelement/dragenter_event/index.md
  files/zh-cn/web/api/htmlelement/dragover_event/index.md
  files/zh-cn/web/api/htmlelement/dragstart_event/index.md
Labels: l10n-zh

#9702 Remove an old document which is already marked as a redirect
  files/pt-br/web/javascript/reference/operators/nullish_coalescing/index.md
  files/pt-br/web/javascript/reference/operators/nullish_coalescing_operator/index.md
Labels: l10n-pt-br

#9583 不要な orphaned 以下のファイルを削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/mdn/structures/api_references/what_does_an_api_reference_need/index.md
  files/ja/orphaned/web/api/navigatorstorage/index.md
  files/ja/orphaned/web/api/navigatorstorage/storage/index.md
  files/ja/orphaned/web/api/readablestreamdefaultcontroller/readablestreamdefaultcontroller/index.md
  files/ja/orphaned/web/api/rtcidentityerrorevent/index.md
  files/ja/orphaned/web/api/rtcidentityevent/index.md
  files/ja/orphaned/web/api/rtcsessiondescriptioncallback/index.md
  files/ja/orphaned/web/api/sourcebuffer/trackdefaults/index.md
  files/ja/orphaned/web/api/sourcebufferlist/sourcebuffer/index.md
  files/ja/orphaned/web/api/speechrecognition/serviceuri/index.md
  files/ja/orphaned/web/api/svgtransformable/index.md
  files/ja/orphaned/web/api/xmlhttprequest/openrequest/index.md
  files/ja/orphaned/web/api/xrsessionmode/index.md
  files/ja/orphaned/web/css/-moz-context-properties/index.md
  files/ja/orphaned/web/css/@media/scan/index.md
  files/ja/orphaned/web/css/@page/bleed/index.md
  files/ja/orphaned/web/css/@page/marks/index.md
  files/ja/orphaned/web/css/_colon_host-context()/index.md
  files/ja/orphaned/web/guide/ajax/other_resources/index.md
  files/ja/orphaned/web/javascript/guide/creating_a_regular_expression/index.md
Labels: l10n-ja

#9714 docs: update input/url
  files/zh-cn/web/html/element/input/url/index.md
Labels: l10n-zh

#8704 chore: remove instances of CompatChrome
  files/pt-br/web/api/window/print/index.md
Labels: l10n-pt-br

#9717 sourcemap 번역 신규 추가
  files/ko/glossary/forbidden_header_name/index.md
  files/ko/web/http/headers/sourcemap/index.md
Labels: l10n-ko

#9587 Element: gotpointercapture イベントの記事を更新
  files/ja/web/api/element/gotpointercapture_event/index.md
Labels: l10n-ja

#9588 Element: lostpointercapture イベントの記事を更新
  files/ja/web/api/element/lostpointercapture_event/index.md
Labels: l10n-ja

#9592 `<audio>` 要素の記事を更新
  files/ja/web/html/element/audio/index.md
Labels: l10n-ja

#9744 fix: add newline after metadata block - ZH
  files/zh-cn/web/api/element/keypress_event/index.md
  files/zh-cn/web/api/webvr_api/concepts/index.md
  files/zh-cn/web/api/webvr_api/using_the_webvr_api/index.md
  files/zh-cn/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
  files/zh-tw/glossary/block/index.md
  files/zh-tw/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/zh-tw/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/zh-tw/web/api/formdata/using_formdata_objects/index.md
Labels: l10n-zh

#9752 zh-cn(fix): fix learn-flex
  files/zh-cn/learn/css/css_layout/flexbox/index.md
Labels: l10n-zh

#9726 BackgroundFetchEventの翻訳
  files/ja/web/api/backgroundfetchevent/backgroundfetchevent/index.md
  files/ja/web/api/backgroundfetchevent/index.md
  files/ja/web/api/backgroundfetchevent/registration/index.md
Labels: l10n-ja

#9653 Background fetch managerの翻訳
  files/ja/web/api/backgroundfetchmanager/fetch/index.md
  files/ja/web/api/backgroundfetchmanager/get/index.md
  files/ja/web/api/backgroundfetchmanager/getids/index.md
  files/ja/web/api/backgroundfetchmanager/index.md
Labels: l10n-ja

#9762 :where()ページの不要なテキストを削除
  files/ja/web/css/_colon_where/index.md
Labels: l10n-ja

#9721 Exemplo interativo
  files/pt-br/web/javascript/reference/global_objects/number/isinteger/index.md
Labels: l10n-pt-br

#9761 chore: fix and clean
  files/pt-br/glossary/variable/index.md
Labels: l10n-pt-br

#9711 fix: Markdownlint cleanup for PT-BR
  files/pt-br/glossary/accent/index.md
  files/pt-br/glossary/advance_measure/index.md
  files/pt-br/glossary/application_context/index.md
  files/pt-br/glossary/aria/index.md
  files/pt-br/glossary/atag/index.md
  files/pt-br/glossary/base64/index.md
  files/pt-br/glossary/xslt/index.md
  files/pt-br/learn/forms/form_validation/index.md
  files/pt-br/learn/javascript/asynchronous/introducing/index.md
  files/pt-br/web/accessibility/aria/attributes/aria-label/index.md
  files/pt-br/web/api/web_audio_api/index.md
  files/pt-br/web/css/css_colors/applying_color/index.md
  files/pt-br/web/http/index.md
  files/pt-br/web/index.md
  files/pt-br/web/javascript/guide/working_with_private_class_features/index.md
  files/pt-br/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-pt-br

#5156 [pt-BR] Update figure element
  files/pt-br/web/html/element/figure/index.md
Labels: l10n-pt-br

#9729 remove event macro from zh-CN (Part 3)
  files/zh-cn/web/api/force_touch_events/index.md
  files/zh-cn/web/api/gestureevent/index.md
  files/zh-cn/web/api/htmlbodyelement/index.md
  files/zh-cn/web/api/htmldialogelement/close_event/index.md
  files/zh-cn/web/api/htmlelement/index.md
  files/zh-cn/web/api/htmlformelement/formdata_event/index.md
  files/zh-cn/web/api/htmliframeelement/index.md
  files/zh-cn/web/api/htmlinputelement/selectionchange_event/index.md
  files/zh-cn/web/api/htmlmediaelement/loadedmetadata_event/index.md
  files/zh-cn/web/api/indexeddb_api/using_indexeddb/index.md
  files/zh-cn/web/api/inputevent/index.md
  files/zh-cn/web/api/keyboardevent/key/index.md
  files/zh-cn/web/api/media_capture_and_streams_api/index.md
  files/zh-cn/web/api/mediadevices/index.md
  files/zh-cn/web/api/mediarecorder/dataavailable_event/index.md
  files/zh-cn/web/api/mediarecorder/index.md
  files/zh-cn/web/api/mediastream/index.md
  files/zh-cn/web/api/mediastream_recording_api/index.md
  files/zh-cn/web/api/mediastreamevent/index.md
  files/zh-cn/web/api/mediastreamtrack/index.md
  files/zh-cn/web/api/messageevent/index.md
  files/zh-cn/web/api/mouseevent/relatedtarget/index.md
  files/zh-cn/web/api/notification/close_event/index.md
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.md
  files/zh-cn/web/api/offlineaudiocontext/index.md
  files/zh-cn/web/api/payment_request_api/concepts/index.md
  files/zh-cn/web/api/payment_request_api/index.md
  files/zh-cn/web/api/performance/index.md
  files/zh-cn/web/api/scriptprocessornode/index.md
  files/zh-cn/web/api/service_worker_api/index.md
  files/zh-cn/web/api/sharedworker/index.md
  files/zh-cn/web/api/texttrack/cuechange_event/index.md
  files/zh-cn/web/api/web_audio_api/index.md
  files/zh-cn/web/api/web_storage_api/index.md
  files/zh-cn/web/api/window/appinstalled_event/index.md
  files/zh-cn/web/api/window/beforeinstallprompt_event/index.md
  files/zh-cn/web/api/window/deviceorientationabsolute_event/index.md
  files/zh-cn/web/api/window/rejectionhandled_event/index.md
  files/zh-cn/web/api/worker/index.md
  files/zh-cn/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/zh-cn/web/api/xmlhttprequesteventtarget/index.md
  files/zh-cn/web/html/element/details/index.md
  files/zh-cn/web/html/element/slot/index.md
  files/zh-cn/web/web_components/index.md
Labels: l10n-zh

#9731 remove `{{event}}` macro documation
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/other/index.md
Labels: l10n-zh

#9763 Update index.md
  files/zh-cn/web/css/font-weight/index.md
Labels: l10n-zh

#9755 zh-cn(flex): continue to update flex
  files/zh-cn/learn/css/css_layout/flexbox/index.md
Labels: l10n-zh

#9631 CSS/flex: fixes “toggle” translation
  files/fr/web/css/flex/index.md
Labels: l10n-fr

#9604 `<input type="button">` の記事を更新
  files/ja/web/html/element/input/button/index.md
Labels: l10n-ja

#9605 Web/HTML/Attributes/for を新規翻訳
  files/ja/web/html/attributes/for/index.md
Labels: l10n-ja

#9732 [ru] HTMLRef -> HTMLSidebar
  files/ru/web/html/element/fieldset/index.md
  files/ru/web/html/element/input/index.md
  files/ru/web/html/element/td/index.md
Labels: l10n-ru

#9730 chore: remove {{CompatChrome}} macro
  files/ru/web/api/window/alert/index.md
  files/ru/web/api/window/confirm/index.md
  files/ru/web/api/window/print/index.md
  files/ru/web/api/window/prompt/index.md
Labels: l10n-ru

#9770 zh-cn(fix): update readablestream link
  files/zh-cn/web/api/readablestream/index.md
Labels: l10n-zh

#9709 fix: Markdownlint cleanup for ES
  files/es/web/api/canvasrenderingcontext2d/index.md
  files/es/web/api/file/index.md
  files/es/web/api/filereader/index.md
  files/es/web/api/node/index.md
  files/es/web/css/mozilla_extensions/index.md
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/video/index.md
  files/es/web/javascript/reference/global_objects/array/array/index.md
Labels: l10n-es

#9771 zh-cn(update): sync yield about English version
  files/zh-cn/web/javascript/reference/operators/yield/index.md
Labels: l10n-zh

#9428 docs: update content for array methods
  files/zh-cn/web/javascript/guide/indexed_collections/index.md
Labels: l10n-zh

#9704 Remove deprecated Obsolete_Inline macro from es
  files/es/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/es/web/api/attr/index.md
  files/es/web/api/canvasrenderingcontext2d/index.md
  files/es/web/api/closeevent/index.md
  files/es/web/api/event/index.md
  files/es/web/api/htmlanchorelement/index.md
  files/es/web/api/htmldivelement/index.md
  files/es/web/api/htmlheadelement/index.md
  files/es/web/api/htmlimageelement/index.md
  files/es/web/api/htmlinputelement/index.md
  files/es/web/api/htmllielement/index.md
  files/es/web/api/htmlmediaelement/index.md
  files/es/web/api/htmlselectelement/index.md
  files/es/web/api/indexeddb_api/index.md
  files/es/web/api/node/index.md
  files/es/web/api/range/index.md
  files/es/web/api/rtcpeerconnection/index.md
  files/es/web/api/window/index.md
  files/es/web/api/window/open/index.md
  files/es/web/css/@media/index.md
  files/es/web/css/mozilla_extensions/index.md
  files/es/web/css/overflow/index.md
  files/es/web/guide/html/content_categories/index.md
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/body/index.md
  files/es/web/html/element/form/index.md
  files/es/web/html/element/head/index.md
  files/es/web/html/element/html/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/input/index.md
  files/es/web/html/element/link/index.md
  files/es/web/html/element/object/index.md
  files/es/web/html/element/td/index.md
  files/es/web/html/element/th/index.md
  files/es/web/html/element/video/index.md
  files/es/web/html/global_attributes/index.md
  files/es/web/http/headers/content-security-policy/index.md
  files/es/web/http/headers/index.md
  files/es/web/javascript/reference/global_objects/function/tostring/index.md
  files/es/web/javascript/reference/global_objects/number/index.md
Labels: l10n-es

#9713 用語集 Constant のタイトルに訳語（定数）を追加しました。
  files/ja/glossary/constant/index.md
Labels: l10n-ja

#9660 CSS_grid_layout/basic_concept: upgrade and fix fr
  files/fr/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: l10n-fr

#9794 fix document style
  files/zh-cn/web/svg/attribute/stroke-dasharray/index.md
Labels: l10n-zh

#9725 Translated html <article> to Spanish #7299
  files/es/web/html/element/article/index.md
Labels: l10n-es

#9728 Add techniques for game development [es] #7470
  files/es/games/techniques/index.md
Labels: l10n-es

#9791 remove event macro from zh-CN (Part 4)
  files/zh-cn/web/api/performance/resourcetimingbufferfull_event/index.md
  files/zh-cn/web/api/pointer_events/index.md
  files/zh-cn/web/api/pointerevent/index.md
  files/zh-cn/web/api/promiserejectionevent/index.md
  files/zh-cn/web/api/promiserejectionevent/promise/index.md
  files/zh-cn/web/api/promiserejectionevent/promiserejectionevent/index.md
  files/zh-cn/web/api/resource_timing_api/using_the_resource_timing_api/index.md
  files/zh-cn/web/api/rtcdatachannel/index.md
  files/zh-cn/web/api/rtcpeerconnection/addstream_event/index.md
  files/zh-cn/web/api/rtcpeerconnection/icegatheringstate/index.md
  files/zh-cn/web/api/rtcpeerconnection/index.md
  files/zh-cn/web/api/rtcpeerconnection/removestream/index.md
  files/zh-cn/web/api/rtcrtptransceiver/direction/index.md
  files/zh-cn/web/api/rtctrackevent/index.md
  files/zh-cn/web/api/screen_capture_api/using_screen_capture/index.md
Labels: l10n-zh

#9807 fix typo
  files/zh-cn/web/performance/how_browsers_work/index.md
Labels: l10n-zh

#9792 zh-cn(update): sync tostring about English Version
  files/zh-cn/web/javascript/reference/global_objects/object/tostring/index.md
Labels: l10n-zh

#9778 zh-cn(update): sync valueOf about English Version
  files/zh-cn/web/javascript/reference/global_objects/object/valueof/index.md
Labels: l10n-zh

#9810 Fix some translation errors
  files/zh-cn/web/css/media_queries/using_media_queries/index.md
Labels: l10n-zh

#9813 remove event macro from zh-CN (Part 5)
  files/zh-cn/web/api/rtcpeerconnection/addtrack/index.md
  files/zh-cn/web/api/rtcpeerconnection/createdatachannel/index.md
  files/zh-cn/web/api/rtcpeerconnection/createoffer/index.md
  files/zh-cn/web/api/rtcpeerconnection/datachannel_event/index.md
  files/zh-cn/web/api/rtcpeerconnection/track_event/index.md
  files/zh-cn/web/api/serviceworkerglobalscope/index.md
  files/zh-cn/web/api/videotracklist/index.md
  files/zh-cn/web/api/web_speech_api/index.md
  files/zh-cn/web/api/web_storage_api/using_the_web_storage_api/index.md
  files/zh-cn/web/api/webgl_lose_context/index.md
  files/zh-cn/web/api/webglcontextevent/index.md
  files/zh-cn/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/zh-cn/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/zh-cn/web/api/window/index.md
  files/zh-cn/web/api/workerglobalscope/index.md
  files/zh-cn/web/api/xmlhttprequest/index.md
  files/zh-cn/web/html/element/audio/index.md
  files/zh-cn/web/html/element/input/search/index.md
  files/zh-cn/web/progressive_web_apps/re-engageable_notifications_push/index.md
Labels: l10n-zh

#9799 間違えて削除されてしまったSTUNを復活。
  files/ja/glossary/stun/index.md
Labels: l10n-ja

#9781 BackgroundFetchUpdateUIEventの翻訳
  files/ja/web/api/backgroundfetchupdateuievent/backgroundfetchupdateuievent/index.md
  files/ja/web/api/backgroundfetchupdateuievent/index.md
  files/ja/web/api/backgroundfetchupdateuievent/updateui/index.md
Labels: l10n-ja

#9695 用語集 - IIFE (即時実行関数式) の更新
  files/ja/glossary/iife/index.md
Labels: l10n-ja

#9739 fix: add newline after metadata block - JA
  files/ja/glossary/node/index.md
  files/ja/glossary/ttl/index.md
  files/ja/learn/html/howto/use_javascript_within_a_webpage/index.md
  files/ja/learn/server-side/express_nodejs/displaying_data/author_list_page/index.md
  files/ja/learn/server-side/express_nodejs/displaying_data/book_detail_page/index.md
  files/ja/learn/server-side/express_nodejs/displaying_data/date_formatting_using_moment/index.md
  files/ja/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
  files/ja/learn/server-side/express_nodejs/displaying_data/home_page/index.md
  files/ja/web/css/scroll-timeline/index.md
  files/ja/web/media/images/aspect_ratio_mapping/index.md
Labels: l10n-ja

#9804 Artículo actualizado
  files/es/web/css/css_box_model/introduction_to_the_css_box_model/index.md
Labels: l10n-es

#9808 docs: update content for array
  files/zh-cn/web/javascript/reference/global_objects/array/index.md
Labels: l10n-zh

#9811 zh-cn(update): sync Data_structures about English Version
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#9814 zh-cn(update): sync @@toprimitive about English Version
  files/zh-cn/web/javascript/reference/global_objects/symbol/@@toprimitive/index.md
Labels: l10n-zh

#9823 Fix typo in CSS contain documentation
  files/fr/web/css/contain/index.md
Labels: l10n-fr

#9824 docs(zh-cn/learn/front-end_web_developer): fix translation
  files/zh-cn/learn/front-end_web_developer/index.md
Labels: l10n-zh

#9812 zh-cn(update): sync toprimitive about English Version
  files/zh-cn/web/javascript/reference/global_objects/symbol/toprimitive/index.md
Labels: l10n-zh

#9825 Update index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.md
Labels: l10n-zh

#9821 Error in Portuguese language
  files/pt-br/web/html/element/noscript/index.md
Labels: l10n-pt-br

#9820 Exemplo interativo
  files/pt-br/web/javascript/reference/global_objects/array/some/index.md
Labels: l10n-pt-br

#9828 fix some typos in the french documentation
  files/fr/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-fr

#9679 MDN/Writing_guidelines/Howto/Images_media を更新
  files/ja/mdn/writing_guidelines/howto/images_media/index.md
Labels: l10n-ja

#9680 Web/Performance/Fundamentals を更新
  files/ja/web/performance/fundamentals/index.md
Labels: l10n-ja

#9817 refactor: update the content of the article closures
  files/es/web/javascript/closures/index.md
Labels: l10n-es

#9829 Remove the last nextPage macro
  files/pt-br/learn/css/styling_text/styling_lists/index.md
Labels: l10n-pt-br
