Repository mdn/translated-content, pull requests merged in 2022-05, with the labels that each got.

#5233 Fix broken anchor link to "パターンの指定" in input attribute (ja)
  files/ja/web/html/element/input/search/index.md
  files/ja/web/html/element/input/text/index.md
Labels: l10n-ja

#5237 Fix Japanese translation for WindowOrWorkerGlobalScope.fetch()
  files/ja/web/api/fetch/index.html
Labels: l10n-ja

#5310 Remove {{page}} from `WebAssembly.Instance`
  files/fr/web/javascript/reference/global_objects/webassembly/instance/index.md
Labels: l10n-fr

#5345 change the tone and fix wrong spacing
  files/ko/web/javascript/memory_management/index.html
Labels: l10n-ko

#5346 Sync updateStyle function with online example
  files/zh-cn/web/web_components/using_custom_elements/index.html
Labels: l10n-zh

#5357 Update ru/web/svg/tutorial/other_content_in_svg
  files/ru/web/svg/tutorial/other_content_in_svg/index.html
Labels: l10n-ru

#5336 Update index.html
  files/ru/web/javascript/guide/functions/index.html
Labels: l10n-ru

#5367 Fix #5364
  files/fr/web/css/@media/prefers-contrast/index.md
Labels: l10n-fr

#4469 typo correction
  files/fr/web/css/@media/prefers-contrast/index.md
Labels: l10n-ko

#5340 fix word and spacing
  files/ko/learn/javascript/index.html
Labels: l10n-ko

#5371 suggest french translation for id:4269
  files/fr/web/api/htmlmediaelement/currentsrc/index.md
Labels: l10n-fr

#5322 Fixes #4686, #4691, #4692
  files/fr/learn/javascript/client-side_web_apis/third_party_apis/index.md
Labels: l10n-fr

#5247 Web NFC API を新規翻訳
  files/ja/web/api/web_nfc_api/index.md
Labels: l10n-ja

#5272 HTML エンティティの変換ミスを修正
  files/ja/web/css/filter/index.md
Labels: l10n-ja

#5362 Fix typo
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.html
Labels: l10n-ja

#5239 Remove {{page}} from Using CSS Transforms
  files/fr/web/css/css_transforms/using_css_transforms/index.md
Labels: l10n-fr

#5240 Remove {{page}} from `max-block-size`
  files/fr/web/css/max-block-size/index.md
Labels: l10n-fr

#5256 Remove {{page}} from `GeneratorFunction`
  files/fr/web/javascript/reference/global_objects/generatorfunction/index.md
Labels: l10n-fr

#5258 Remove {{page}} from `InternalError`
  files/fr/web/javascript/reference/global_objects/internalerror/index.md
Labels: l10n-fr

#5260 Remove {{page}} from `Intl.Collator`
  files/fr/web/javascript/reference/global_objects/intl/collator/index.md
Labels: l10n-fr

#5302 translate(zh-cn):add about HTMLVideoElement translated
  files/zh-cn/web/api/htmlvideoelement/autopictureinpicture/index.md
  files/zh-cn/web/api/htmlvideoelement/disablepictureinpicture/index.md
  files/zh-cn/web/api/htmlvideoelement/enterpictureinpicture_event/index.md
  files/zh-cn/web/api/htmlvideoelement/leavepictureinpicture_event/index.md
  files/zh-cn/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/zh-cn/web/api/htmlvideoelement/videoheight/index.md
  files/zh-cn/web/api/htmlvideoelement/videowidth/index.md
Labels: l10n-zh

#5307 修改关于自增操作符的描述
  files/zh-cn/web/javascript/reference/operators/increment/index.html
Labels: l10n-zh

#5315 fix: livesample error in `width`
  files/zh-cn/web/css/width/index.html
Labels: l10n-zh

#5316 fix livesample in `zh-CN` part 1
  files/zh-cn/learn/forms/form_validation/index.html
  files/zh-cn/web/api/document/getelementbyid/index.html
  files/zh-cn/web/api/document/getelementsbyclassname/index.html
  files/zh-cn/web/api/document/readystatechange_event/index.html
  files/zh-cn/web/api/element/innerhtml/index.html
  files/zh-cn/web/api/element/keyup_event/index.html
  files/zh-cn/web/api/element/mousemove_event/index.html
  files/zh-cn/web/api/element/queryselector/index.html
  files/zh-cn/web/api/element/setattribute/index.html
  files/zh-cn/web/api/htmldetailselement/toggle_event/index.html
  files/zh-cn/web/api/htmlselectelement/selectedindex/index.html
  files/zh-cn/web/api/navigation_timing_api/using_navigation_timing/index.html
  files/zh-cn/web/api/response/bodyused/index.html
Labels: l10n-zh

#5347 Fix white text
  files/zh-cn/web/web_components/using_custom_elements/index.html
Labels: l10n-zh

#5381 Fix typo
  files/ja/web/css/css_masking/index.md
Labels: l10n-ja

#5262 Remove {{page}} from `Intl.DateTimeFormat.formatRange`
  files/fr/web/javascript/reference/global_objects/intl/datetimeformat/formatrange/index.md
Labels: l10n-fr

#5365 Fix #4682
  files/fr/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: l10n-fr

#5321 Fixes #4675
  files/fr/learn/javascript/asynchronous/promises/index.md
Labels: l10n-fr

#5409 Remove `{{exception}}` macro - fr
  files/fr/web/api/crypto/getrandomvalues/index.md
  files/fr/web/api/element/closest/index.md
Labels: l10n-fr

#5363 Fix #4646
  files/fr/learn/javascript/asynchronous/introducing/index.md
Labels: l10n-fr

#5332 add String.prototype.at() zh-cn translation
  files/zh-cn/web/javascript/reference/global_objects/string/at/index.md
Labels: l10n-zh

#5416 add CalDAV translation for zh-cn
  files/zh-cn/glossary/caldav/index.md
Labels: l10n-zh

#5417 correct the id of livesample part 2
  files/zh-cn/learn/forms/advanced_form_styling/index.html
  files/zh-cn/learn/forms/how_to_build_custom_form_controls/index.html
  files/zh-cn/learn/forms/how_to_structure_a_web_form/index.html
  files/zh-cn/learn/forms/sending_forms_through_javascript/index.html
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/fillstyle/index.html
  files/zh-cn/web/api/document/createelement/index.html
  files/zh-cn/web/api/document/write/index.html
  files/zh-cn/web/api/element/contextmenu_event/index.html
  files/zh-cn/web/api/element/keydown_event/index.html
  files/zh-cn/web/api/element/mouseout_event/index.html
  files/zh-cn/web/api/filereader/readasdataurl/index.html
  files/zh-cn/web/api/globaleventhandlers/onclick/index.md
  files/zh-cn/web/api/globaleventhandlers/oninvalid/index.html
  files/zh-cn/web/api/globaleventhandlers/onsubmit/index.html
  files/zh-cn/web/api/globaleventhandlers/onwheel/index.html
  files/zh-cn/web/api/htmlelement/beforeinput_event/index.html
  files/zh-cn/web/api/htmlelement/innertext/index.html
Labels: l10n-zh

#5397 update the notecard and minor fixes
  files/zh-tw/web/http/headers/x-frame-options/index.html
Labels: l10n-zh

#5368 zh-cn: closures: fix link text format | 中文 (简体): 闭包: 修复链接文本格式
  files/zh-cn/web/javascript/closures/index.html
Labels: l10n-zh

#5399 Remove deprecated `{{interface}}` macro from es
  files/es/mdn/structures/macros/other/index.html
  files/es/mozilla/firefox/releases/3.5/index.html
  files/es/mozilla/firefox/releases/3/index.html
  files/es/mozilla/firefox/releases/3/updating_extensions/index.html
  files/es/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.html
  files/es/mozilla/firefox/releases/9/updating_add-ons/index.html
  files/es/web/api/document/documenturiobject/index.html
  files/es/web/api/file/index.html
  files/es/web/api/htmlaudioelement/index.html
  files/es/web/api/node/index.html
  files/es/web/api/window/alert/index.html
  files/es/web/api/window/applicationcache/index.html
  files/es/web/api/window/confirm/index.html
  files/es/web/api/window/index.html
  files/es/web/api/window/prompt/index.html
  files/es/web/api/xmlhttprequest/index.html
  files/es/web/api/xmlhttprequest/using_xmlhttprequest/index.html
Labels: l10n-es

#5433 fix wrong navigation in styling CSS
  files/es/learn/css/building_blocks/styling_tables/index.html
Labels: l10n-es

#5444 Fix typo
  files/fr/web/css/using_css_custom_properties/index.md
Labels: l10n-fr

#5401 Fix typo
  files/ja/web/api/htmlmediaelement/canplaythrough_event/index.html
Labels: l10n-ja

#5438 Fix ARIA translation
  files/ja/web/accessibility/index.html
Labels: l10n-ja

#5370 Input email issue 4 [ES]
  files/es/web/html/element/input/email/index.html
  files/es/web/html/element/input/email/index.md
Labels: l10n-es

#5449 correct the translation of the example description
  files/es/web/javascript/reference/global_objects/string/lastindexof/index.html
Labels: l10n-es

#5448 Update ru/.../html/.../Adding_vector_graphics
  files/ru/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
Labels: l10n-ru

#5420 Fixed typo in index.html
  files/ru/web/http/authentication/index.html
Labels: l10n-ru

#5398 remove deprecated `{{Interface}}` macro from ru
  files/ru/mozilla/firefox/releases/3.5/index.html
  files/ru/mozilla/firefox/releases/3/index.html
  files/ru/web/api/datatransfer/index.html
  files/ru/web/api/document/documenturiobject/index.html
  files/ru/web/api/document/index.html
  files/ru/web/api/eventsource/index.html
  files/ru/web/api/file/index.html
  files/ru/web/api/node/baseuri/index.html
  files/ru/web/api/node/index.html
  files/ru/web/api/selection/index.html
  files/ru/web/api/window/alert/index.html
  files/ru/web/api/window/confirm/index.html
  files/ru/web/api/window/index.html
  files/ru/web/api/window/prompt/index.html
  files/ru/web/api/xmlhttprequest/index.html
  files/ru/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.html
  files/ru/web/html/element/input/radio/index.html
Labels: l10n-ru

#5422 Corrected the "Operator precedence Table"
  files/ru/web/javascript/reference/operators/operator_precedence/index.html
Labels: l10n-ru

#5245 Remove {{page}} from `height` SVG ref page
  files/fr/web/svg/attribute/height/index.md
Labels: l10n-fr

#5252 Remove {{page}} from `width` attribute (SVG)
  files/fr/web/svg/attribute/width/index.md
Labels: l10n-fr

#5253 Remove {{page}} from `x` attribute reference page
  files/fr/web/svg/attribute/x/index.md
Labels: l10n-fr

#5261 Remove {{page}} from `Intl.DateTimeFormat`
  files/fr/web/javascript/reference/global_objects/intl/datetimeformat/index.md
Labels: l10n-fr

#5446 [Glossary] Add translation for response headers
  files/es/glossary/response_header/index.md
Labels: l10n-es

#5379 Conflicting cleanup - Mozilla
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/mozilla/add-ons/webextensions/api/menus/overridecontext/index.html
  files/fr/conflicting/mozilla/add-ons/webextensions/api/userscripts/registereduserscript/unregister/index.html
  files/fr/conflicting/mozilla/add-ons/webextensions/index.md
Labels: l10n-fr

#5266 Remove {{page}} from `Intl.NumberFormat`
  files/fr/web/javascript/reference/global_objects/intl/numberformat/index.md
Labels: l10n-fr

#5276 Remove {{page}} from `Map`
  files/fr/web/javascript/reference/global_objects/map/index.md
Labels: l10n-fr

#5282 Remove {{page}} from `Proxy`
  files/fr/web/javascript/reference/global_objects/proxy/index.md
Labels: l10n-fr

#5286 Remove {{page}} from `RegExp`
  files/fr/web/javascript/reference/global_objects/regexp/index.md
Labels: l10n-fr

#5291 Remove {{page}} from `String.localeCompare()`
  files/fr/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: l10n-fr

#5304 Remove {{page}} from `TypedArray`
  files/fr/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-fr

#5308 Remove {{page}} from `WeakSet`
  files/fr/web/javascript/reference/global_objects/weakset/index.md
Labels: l10n-fr

#5325 Cleanup orphaned - `ChildNode`
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/childnode/after/index.html
  files/fr/orphaned/web/api/childnode/before/index.html
  files/fr/orphaned/web/api/childnode/index.html
  files/fr/orphaned/web/api/childnode/remove/index.html
  files/fr/orphaned/web/api/childnode/replacewith/index.html
  files/fr/web/api/element/after/index.md
  files/fr/web/api/element/before/index.md
  files/fr/web/api/element/remove/index.md
  files/fr/web/api/element/replacewith/index.md
Labels: l10n-fr

#5372 Conflicting cleanup - Glossary
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/glossary/chrome/index.html
  files/fr/conflicting/glossary/doctype/index.html
  files/fr/conflicting/glossary/dom/index.html
  files/fr/conflicting/glossary/index.md
  files/fr/conflicting/glossary/tcp/index.md
  files/fr/glossary/index.md
  files/fr/glossary/tcp/index.md
Labels: l10n-fr

#5329 Cleanup orphaned - H
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/htmlorforeignelement/blur/index.html
  files/fr/orphaned/web/api/htmlorforeignelement/dataset/index.html
  files/fr/orphaned/web/api/htmlorforeignelement/focus/index.html
  files/fr/orphaned/web/api/htmlorforeignelement/tabindex/index.html
  files/fr/web/api/htmlelement/blur/index.md
  files/fr/web/api/htmlelement/dataset/index.md
  files/fr/web/api/htmlelement/focus/index.md
  files/fr/web/api/htmlelement/tabindex/index.md
Labels: l10n-fr

#5335 Cleanup orphaned - P
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/parentnode/append/index.html
  files/fr/orphaned/web/api/parentnode/children/index.html
  files/fr/orphaned/web/api/parentnode/index.html
  files/fr/orphaned/web/api/parentnode/lastelementchild/index.html
  files/fr/orphaned/web/api/parentnode/prepend/index.html
  files/fr/orphaned/web/api/parentnode/queryselector/index.html
  files/fr/orphaned/web/api/parentnode/queryselectorall/index.html
  files/fr/web/api/element/append/index.md
  files/fr/web/api/element/children/index.md
  files/fr/web/api/element/lastelementchild/index.md
  files/fr/web/api/element/prepend/index.md
Labels: l10n-fr

#5413 Initial translation for `nonce` global attribute
  files/fr/web/html/global_attributes/nonce/index.md
Labels: l10n-fr

#5469 Remove {{learnbox}} for French
  files/fr/glossary/index.md
  files/fr/learn/index.md
Labels: l10n-fr

#5380 Fix typo
  files/ja/web/css/css_motion_path/index.md
Labels: l10n-ja

#5388 Fix typo
  files/ja/web/css/line-height/index.md
Labels: l10n-ja

#5406 色のつけられた文字の範囲を修正
  files/ja/web/api/element/insertadjacenthtml/index.html
Labels: l10n-ja

#5264 Remove {{page}} from `Intl.ListFormat`
  files/fr/web/javascript/reference/global_objects/intl/listformat/index.md
Labels: l10n-fr

#5168 Обновление box-shadow
  files/ru/web/css/box-shadow/index.html
  files/ru/web/css/box-shadow/index.md
Labels: l10n-ru

#5458 remove `{{exception}}` macro from zh-CN
  files/zh-cn/mdn/contribute/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.html
  files/zh-cn/web/api/crypto/getrandomvalues/index.html
  files/zh-cn/web/api/element/closest/index.html
  files/zh-cn/web/api/offlineaudiocontext/suspend/index.html
Labels: l10n-zh

#5467 fix typo in Web_frameworks
  files/zh-cn/learn/server-side/first_steps/web_frameworks/index.html
Labels: l10n-zh

#5323 Cleanup orphaned pages from Glossary (fr)
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/glossary/gaia/index.html
  files/fr/orphaned/glossary/gonk/index.html
  files/fr/orphaned/glossary/modern_web_apps/index.html
Labels: l10n-fr

#5267 Remove {{page}} from `Intl.PluralRules`
  files/fr/web/javascript/reference/global_objects/intl/pluralrules/index.md
Labels: l10n-fr

#5268 Remove {{page}} from `Intl.RelativeTimeFormat`
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/index.md
Labels: l10n-fr

#5478 remove `{{LearnBox}}` macro from zh-CN
  files/zh-cn/glossary/index.md
  files/zh-cn/learn/index.md
Labels: l10n-zh

#5480 remove `{{LearnBox}}` macro and fix typo
  files/zh-tw/learn/index.html
Labels: l10n-zh

#5463 docs: remove redundant symbols
  files/zh-cn/web/javascript/reference/global_objects/array/every/index.html
Labels: l10n-zh

#5447 fix: fix some font style's problem
  files/zh-cn/web/api/mutationobserver/index.html
Labels: l10n-zh

#5443 Add chinese traslation
  files/zh-cn/glossary/ssl/index.md
Labels: l10n-zh

#5211 fix image of linear-gradient in zh-CN docs
  files/zh-cn/web/css/gradient/linear-gradient/index.html
Labels: l10n-zh

#5103 Rewrite Learn/JS a first splash
  files/ko/learn/javascript/first_steps/a_first_splash/index.md
  files/ko/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-ko

#5141 [ko] translate /ko/docs/Web/API/Element/clientWidth
  files/ko/web/api/element/clientwidth/index.md
Labels: l10n-ko

#5185 Fix broken font-family LiveSample
  files/ko/web/css/font-family/index.html
Labels: l10n-ko

#5293 [ko] fix typo 비활설화 -> 비활성화
  files/ko/web/http/headers/accept-ranges/index.html
Labels: l10n-ko

#5101 remove `Tools` section from `pt-BR`
  files/pt-br/_redirects.txt
  files/pt-br/_wikihistory.json
  files/pt-br/tools/3d_view/index.html
  files/pt-br/tools/browser_console/index.html
  files/pt-br/tools/debugger/how_to/index.html
  files/pt-br/tools/debugger/how_to/set_watch_expressions/index.html
  files/pt-br/tools/debugger/index.html
  files/pt-br/tools/debugger/set_a_logpoint/index.html
  files/pt-br/tools/devtoolsapi/index.html
  files/pt-br/tools/eyedropper/index.html
  files/pt-br/tools/firefox_os_1.1_simulator/index.html
  files/pt-br/tools/index.html
  files/pt-br/tools/keyboard_shortcuts/index.html
  files/pt-br/tools/measure_a_portion_of_the_page/index.html
  files/pt-br/tools/memory/index.html
  files/pt-br/tools/network_monitor/index.html
  files/pt-br/tools/page_inspector/how_to/edit_css_filters/index.html
  files/pt-br/tools/page_inspector/how_to/examine_and_edit_css/index.html
  files/pt-br/tools/page_inspector/how_to/examine_event_listeners/index.html
  files/pt-br/tools/page_inspector/how_to/examine_grid_layouts/index.html
  files/pt-br/tools/page_inspector/how_to/index.html
  files/pt-br/tools/page_inspector/how_to/open_the_inspector/index.html
  files/pt-br/tools/page_inspector/how_to/work_with_animations/index.html
  files/pt-br/tools/page_inspector/index.html
  files/pt-br/tools/performance/index.html
  files/pt-br/tools/remote_debugging/index.html
  files/pt-br/tools/responsive_design_mode/index.html
  files/pt-br/tools/rulers/index.html
  files/pt-br/tools/settings/index.html
  files/pt-br/tools/shader_editor/index.html
  files/pt-br/tools/storage_inspector/index.html
  files/pt-br/tools/style_editor/index.html
  files/pt-br/tools/web_console/helpers/index.html
  files/pt-br/tools/web_console/index.html
  files/pt-br/tools/web_console/the_command_line_interpreter/index.html
  files/pt-br/tools/web_console/ui_tour/index.html
  files/pt-br/tools/working_with_iframes/index.html
Labels: l10n-pt-br

#5225 Remove {{Interface}} macro from pt-BR pages
  files/pt-br/glossary/json/index.html
  files/pt-br/mozilla/firefox/releases/3/full_page_zoom/index.html
  files/pt-br/mozilla/firefox/releases/3/index.html
  files/pt-br/mozilla/firefox/releases/49/index.html
  files/pt-br/web/api/datatransfer/index.html
  files/pt-br/web/api/document/index.html
  files/pt-br/web/api/file/index.html
  files/pt-br/web/api/geolocation_api/index.html
  files/pt-br/web/api/node/baseuri/index.html
  files/pt-br/web/api/node/index.html
  files/pt-br/web/api/selection/index.html
  files/pt-br/web/api/window/alert/index.html
  files/pt-br/web/api/window/confirm/index.html
  files/pt-br/web/api/window/index.html
  files/pt-br/web/api/window/prompt/index.html
  files/pt-br/web/api/xmlhttprequest/index.html
Labels: l10n-pt-br

#5385 refactor: remove deprecated {{h3_gecko_minversion}} in pt-br
  files/pt-br/web/api/console/index.html
  files/pt-br/web/api/datatransfer/index.html
  files/pt-br/web/api/setinterval/index.html
  files/pt-br/web/css/media_queries/using_media_queries/index.html
Labels: l10n-pt-br

#5114 fix typo
  files/ko/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ko

#5495 Update index.html
  files/ru/learn/javascript/building_blocks/return_values/index.html
Labels: l10n-ru

#5496 Update index.html
  files/ru/web/events/index.html
Labels: l10n-ru

#5508 Update index.html
  files/ru/learn/forms/form_validation/index.html
Labels: l10n-ru

#5421 Firefox 99 for developersを更新
  files/ja/mozilla/firefox/releases/99/index.md
Labels: l10n-ja

#5445 Fix Gamepad demo link for Firefox
  files/ja/web/api/gamepad_api/using_the_gamepad_api/index.html
Labels: l10n-ja

#5506 Initial translation for `Function` constructor
  files/fr/web/javascript/reference/global_objects/function/function/index.md
Labels: l10n-fr

#5350 Перевод color-scheme
  files/ru/web/css/color-scheme/index.md
Labels: l10n-ru

#5317 [ko] fix typo 프로퍼티 -> 메서드
  files/ko/web/javascript/reference/operators/object_initializer/index.md
Labels: l10n-ko

#5537 Remove `{{ifattribute}}` from fr
  files/fr/mozilla/firefox/releases/12/index.md
  files/fr/mozilla/firefox/releases/15/index.md
Labels: l10n-fr

#5373 Add korean translation of docs/web/css/::-webkit-scrollbar
  files/ko/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: l10n-ko

#5531 Add chinese translation
  files/zh-cn/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
Labels: l10n-zh

#5538 Remove `{{ifmethod}}` from fr
  files/fr/mozilla/firefox/releases/11/index.md
  files/fr/mozilla/firefox/releases/12/index.md
  files/fr/mozilla/firefox/releases/15/index.md
  files/fr/mozilla/firefox/releases/22/index.md
  files/fr/mozilla/firefox/releases/7/index.md
  files/fr/web/api/htmlcanvaselement/index.md
  files/fr/web/api/window/innerheight/index.md
Labels: l10n-fr

#5470 docs: update Array/find
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.html
Labels: l10n-zh

#5461 docs: update Array/values
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.html
Labels: l10n-zh

#5497 fix typos
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.html
Labels: l10n-zh

#5277 Remove {{page}} from `Number.prototype.toLocaleString()`
  files/fr/web/javascript/reference/global_objects/number/tolocalestring/index.md
Labels: l10n-fr

#5485 Initial translation for `Number()` constructor
  files/fr/web/javascript/reference/global_objects/number/number/index.md
Labels: l10n-fr

#5528 Translate Navigator.getBattery
  files/es/web/api/navigator/getbattery/index.md
Labels: l10n-es

#5550 Update index.html
  files/zh-cn/web/css/_colon_hover/index.html
Labels: l10n-zh

#5551 Update index.html
  files/zh-cn/web/css/_colon_hover/index.html
Labels: l10n-zh

#5556 Update index.md
  files/zh-cn/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
Labels: l10n-zh

#5555 Update index.html
  files/zh-cn/web/css/_colon_empty/index.html
Labels: l10n-zh

#5284 Remove {{page}} from `Proxy.revocable()`
  files/fr/web/javascript/reference/global_objects/proxy/revocable/index.md
Labels: l10n-fr

#5386 Fix typo: "登录", not "登陆"
  files/zh-cn/glossary/cross-site_scripting/index.html
Labels: l10n-zh

#5520 follow-up of https://github.com/mdn/yari/pull/6183 / Bump Node version in GH Actions workflows
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#4219 Add Korean meaning of 'assertion' in ko translate guide
  docs/ko/translation-guide.md
Labels: l10n-ko

#5403 用語集の Safe を2つの記事に分割して更新
  files/ja/glossary/safe/http/index.md
  files/ja/glossary/safe/index.html
  files/ja/glossary/safe/index.md
Labels: l10n-ja

#5405 用語集の Representation header を新規翻訳
  files/ja/glossary/representation_header/index.md
Labels: l10n-ja

#5570 Remove {{learnbox}} for Russian
  files/ru/glossary/index.html
  files/ru/learn/index.html
Labels: l10n-ru

#5575 fix(french): remove unnecessary non-breaking space
  files/fr/web/api/window/postmessage/index.md
Labels: l10n-fr

#5536 Rewrite Crypto.getRandomValues()
  files/ko/web/api/crypto/getrandomvalues/index.html
  files/ko/web/api/crypto/getrandomvalues/index.md
Labels: l10n-ko

#5567 remove `{{pref}}` macro from l10n-zh
  files/zh-cn/web/api/element/dommousescroll_event/index.html
  files/zh-cn/web/api/webvtt_api/index.html
  files/zh-tw/mozilla/firefox/releases/11/index.html
Labels: l10n-zh

#5558 prepare for zh-{TW,CN}/web/events h2m: removing span and font tag
  files/zh-cn/web/events/creating_and_triggering_events/index.html
  files/zh-cn/web/events/detecting_device_orientation/index.html
  files/zh-cn/web/events/index.html
  files/zh-cn/web/events/orientation_and_motion_data_explained/index.html
  files/zh-tw/web/events/index.html
Labels: l10n-zh

#5557 docs: update Math/abs
  files/zh-cn/web/javascript/reference/global_objects/math/abs/index.html
Labels: l10n-zh

#5578 Remove {{pref}} from Ru locale
  files/ru/orphaned/web/api/navigatorid/useragent/index.html
  files/ru/web/api/webvtt_api/index.html
Labels: l10n-ru

#5577 Remove {{pref}} from ko
  files/ko/web/api/window/open/index.html
Labels: l10n-ko

#5576 Remove unecessary `&nbsp;` (follow-up of #5575)
  files/fr/web/api/window/closed/index.md
  files/fr/web/api/window/postmessage/index.md
  files/fr/web/javascript/reference/global_objects/undefined/index.md
Labels: l10n-fr

#5582 Update index.html
  files/ru/web/api/html_drag_and_drop_api/index.html
Labels: l10n-ru

#5597 translate Exponentiation assignment
  files/ko/web/javascript/reference/operators/index.html
Labels: l10n-ko

#5609 Fix broken link to "Normas basicas"
  files/es/mdn/contribute/getting_started/index.md
Labels: l10n-es

#5608 Remove `{{wiki.localize}}` macro from `fr`
  files/fr/web/exslt/exsl/index.md
  files/fr/web/exslt/math/index.md
  files/fr/web/exslt/set/index.md
  files/fr/web/exslt/str/index.md
Labels: l10n-fr

#5610 Remove {{obsolete_header}} from fr
  files/fr/_wikihistory.json
  files/fr/web/api/animation/starttime/index.md
  files/fr/web/api/blob/size/index.md
  files/fr/web/api/document/createentityreference/index.md
  files/fr/web/api/document/getboxobjectfor/index.md
  files/fr/web/api/document/height/index.md
  files/fr/web/api/document/width/index.md
  files/fr/web/api/document/xmlencoding/index.md
  files/fr/web/api/document/xmlversion/index.md
  files/fr/web/api/domobject/index.md
  files/fr/web/api/htmlbasefontelement/index.md
  files/fr/web/api/htmlframesetelement/index.md
  files/fr/web/api/node/issupported/index.md
  files/fr/web/api/nodeiterator/detach/index.md
  files/fr/web/api/treewalker/expandentityreferences/index.md
  files/fr/web/api/window/defaultstatus/index.md
  files/fr/web/api/window/directories/index.md
  files/fr/web/api/window/home/index.md
  files/fr/web/api/window/mozpaintcount/index.md
  files/fr/web/css/@media/-webkit-transition/index.md
  files/fr/web/css/@media/aural/index.md
  files/fr/web/css/css_animations/detecting_css_animation_support/index.md
  files/fr/web/css/ime-mode/index.md
  files/fr/web/html/element/image/index.md
  files/fr/web/html/element/input/datetime/index.md
  files/fr/web/html/element/marquee/index.md
  files/fr/web/html/element/nobr/index.md
  files/fr/web/html/element/noembed/index.md
  files/fr/web/html/element/noframes/index.md
  files/fr/web/html/element/plaintext/index.md
  files/fr/web/html/element/spacer/index.md
  files/fr/web/html/element/strike/index.md
  files/fr/web/html/element/tt/index.md
  files/fr/web/html/element/xmp/index.md
  files/fr/web/html/global_attributes/contextmenu/index.md
  files/fr/web/http/headers/content-security-policy/require-sri-for/index.md
  files/fr/web/javascript/reference/global_objects/weakmap/clear/index.md
Labels: l10n-fr

#5628 余分な句点を削除
  files/ja/learn/css/first_steps/how_css_is_structured/index.html
Labels: l10n-ja

#5452 remove deprecated `{{Interface}}` macro from ja
  files/ja/mozilla/firefox/releases/10/index.html
  files/ja/mozilla/firefox/releases/11/index.html
  files/ja/mozilla/firefox/releases/12/index.html
  files/ja/mozilla/firefox/releases/13/index.html
  files/ja/mozilla/firefox/releases/14/index.html
  files/ja/mozilla/firefox/releases/15/index.html
  files/ja/mozilla/firefox/releases/16/index.html
  files/ja/mozilla/firefox/releases/17/index.html
  files/ja/mozilla/firefox/releases/18/index.html
  files/ja/mozilla/firefox/releases/19/index.html
  files/ja/mozilla/firefox/releases/20/index.html
  files/ja/mozilla/firefox/releases/22/index.html
  files/ja/mozilla/firefox/releases/3.5/index.html
  files/ja/mozilla/firefox/releases/3.5/updating_extensions/index.html
  files/ja/mozilla/firefox/releases/3/full_page_zoom/index.html
  files/ja/mozilla/firefox/releases/3/index.html
  files/ja/mozilla/firefox/releases/38/index.html
  files/ja/mozilla/firefox/releases/44/index.html
  files/ja/mozilla/firefox/releases/49/index.html
  files/ja/mozilla/firefox/releases/5/index.html
  files/ja/orphaned/monitoring_http_activity/index.html
  files/ja/orphaned/monitoring_wifi_access_points/index.html
  files/ja/orphaned/setting_up_extension_development_environment/index.html
  files/ja/web/api/document/documenturiobject/index.html
  files/ja/web/api/document/getboxobjectfor/index.html
  files/ja/web/api/storageevent/index.html
  files/ja/web/api/window/index.html
  files/ja/web/api/window/pkcs11/index.html
  files/ja/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.html
Labels: l10n-ja

#5455 Element.closest() を更新
  files/ja/web/api/element/closest/index.md
Labels: l10n-ja

#5324 Cleanup orphaned pages - Web API - A
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/abstractworker/index.html
  files/fr/orphaned/web/api/ambient_light_events/index.html
Labels: l10n-fr

#5326 Cleanup orphaned - D
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/document_object_model/events/index.html
  files/fr/orphaned/web/api/documenttouch/index.html
  files/fr/orphaned/web/api/domlocator/index.html
  files/fr/orphaned/web/api/domuserdata/index.html
Labels: l10n-fr

#5327 Cleanup orphaned - E
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/element/currentstyle/index.html
  files/fr/orphaned/web/api/element/tabstop/index.html
  files/fr/orphaned/web/api/elementcssinlinestyle/style/index.html
  files/fr/orphaned/web/api/elementtraversal/index.html
  files/fr/web/api/htmlelement/style/index.md
Labels: l10n-fr

#5587 de: replace all remaining {{(m)anch}} calls with anchor tags
  files/de/learn/index.html
  files/de/learn/javascript/first_steps/a_first_splash/index.html
  files/de/web/api/blob/index.html
  files/de/web/api/canvas_api/tutorial/drawing_shapes/index.html
  files/de/web/api/console/index.html
  files/de/web/api/cssrule/index.html
  files/de/web/api/document/createelement/index.html
  files/de/web/api/document/queryselector/index.html
  files/de/web/api/document/queryselectorall/index.html
  files/de/web/api/document/title/index.html
  files/de/web/api/eventtarget/addeventlistener/index.html
  files/de/web/api/file/using_files_from_web_applications/index.html
  files/de/web/api/filereader/index.html
  files/de/web/api/fullscreen_api/index.html
  files/de/web/api/gamepad_api/index.html
  files/de/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.html
  files/de/web/api/navigator/registerprotocolhandler/index.html
  files/de/web/api/service_worker_api/using_service_workers/index.html
  files/de/web/api/settimeout/index.html
  files/de/web/api/websocket/index.html
  files/de/web/api/xmlhttprequest/index.html
  files/de/web/css/css_animations/using_css_animations/index.html
  files/de/web/css/hyphens/index.html
  files/de/web/css/list-style-type/index.html
  files/de/web/html/element/abbr/index.html
  files/de/web/html/element/input/checkbox/index.html
  files/de/web/html/element/input/index.html
  files/de/web/http/headers/x-frame-options/index.html
  files/de/web/javascript/eventloop/index.html
  files/de/web/javascript/guide/grammar_and_types/index.html
  files/de/web/javascript/guide/loops_and_iteration/index.html
  files/de/web/javascript/reference/global_objects/date/index.html
  files/de/web/javascript/reference/global_objects/date/tolocaledatestring/index.html
  files/de/web/javascript/reference/global_objects/date/tolocalestring/index.html
  files/de/web/javascript/reference/global_objects/date/tolocaletimestring/index.html
  files/de/web/javascript/reference/global_objects/function/apply/index.html
  files/de/web/javascript/reference/global_objects/intl/index.html
  files/de/web/mathml/element/math/index.html
  files/de/web/mathml/element/mstyle/index.html
  files/de/web/web_components/using_custom_elements/index.html
Labels: l10n-de, community

#5333 Cleanup orphaned - I
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/indexeddb_api/basic_concepts_behind_indexeddb/index.html
  files/fr/web/api/indexeddb_api/basic_terminology/index.md
Labels: l10n-fr

#5334 Cleanup orphaned - N
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/navigatorlanguage/index.html
  files/fr/orphaned/web/api/navigatorlanguage/language/index.html
  files/fr/orphaned/web/api/navigatorlanguage/languages/index.html
  files/fr/orphaned/web/api/navigatoronline/index.html
  files/fr/orphaned/web/api/navigatoronline/online/index.html
  files/fr/orphaned/web/api/navigatoronline/online_and_offline_events/index.html
  files/fr/orphaned/web/api/navigatorstorage/index.html
  files/fr/orphaned/web/api/navigatorstorage/storage/index.html
  files/fr/orphaned/web/api/node/getuserdata/index.html
  files/fr/orphaned/web/api/node/setuserdata/index.html
  files/fr/orphaned/web/api/notation/index.html
  files/fr/web/api/navigator/language/index.md
  files/fr/web/api/navigator/languages/index.md
  files/fr/web/api/navigator/online/index.md
  files/fr/web/api/navigator/storage/index.md
Labels: l10n-fr

#5337 Cleanup orphaned - S
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/serviceworkerstate/index.html
  files/fr/orphaned/web/api/svgstylable/index.html
  files/fr/web/api/serviceworker/state/index.md
  files/fr/web/api/svgelement/index.md
Labels: l10n-fr

#5339 Cleanup orphaned - U and W
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/orphaned/web/api/urlutilsreadonly/index.html
  files/fr/orphaned/web/api/window/ondevicelight/index.html
Labels: l10n-fr

#5377 Conflicting cleanup - Learning Area
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/learn/common_questions/set_up_a_local_testing_server/index.html
  files/fr/conflicting/learn/css/building_blocks/cascade_and_inheritance/index.html
  files/fr/conflicting/learn/css/building_blocks/index.html
  files/fr/conflicting/learn/css/building_blocks/selectors_9bc80fea302c91cd60fb72c4e83c83e9/index.html
  files/fr/conflicting/learn/css/building_blocks/styling_tables/index.html
  files/fr/conflicting/learn/css/building_blocks/values_and_units/index.html
  files/fr/conflicting/learn/css/css_layout/index.html
  files/fr/conflicting/learn/css/first_steps/how_css_is_structured/index.html
  files/fr/conflicting/learn/css/first_steps/how_css_works_cdccf923f6bd040e8d243ee03d223ddc/index.html
  files/fr/conflicting/learn/css/first_steps/how_css_works_cf31463f874ecd8e10e648dacde4a995/index.html
  files/fr/conflicting/learn/css/first_steps/how_css_works_dba75d8c56ccc773f03d946ce2dbb25c/index.html
  files/fr/conflicting/learn/css/first_steps/how_css_works_ecbda2160290b96c02dcfa8276c0333a/index.html
  files/fr/conflicting/learn/css/first_steps/index.html
  files/fr/conflicting/learn/css/styling_text/fundamentals_8249b1bf53d09b06ed51f43697880b5b/index.html
  files/fr/conflicting/learn/css/styling_text/styling_lists_06e9538892250c13976a84639f0dadd2/index.html
  files/fr/conflicting/learn/getting_started_with_the_web/dealing_with_files/index.html
  files/fr/conflicting/learn/getting_started_with_the_web/index.html
  files/fr/conflicting/learn/html/introduction_to_html/advanced_text_formatting/index.html
  files/fr/conflicting/learn/html/introduction_to_html/advanced_text_formatting_c8b0b9eb353375fb9a4679f68164e682/index.html
  files/fr/conflicting/learn/html/introduction_to_html/creating_hyperlinks/index.html
  files/fr/conflicting/learn/html/introduction_to_html/creating_hyperlinks_10fd94f15ce1a469a3483e0478cb5d85/index.html
  files/fr/conflicting/learn/html/introduction_to_html/document_and_website_structure/index.html
  files/fr/conflicting/learn/html/introduction_to_html/getting_started/index.html
  files/fr/conflicting/learn/html/introduction_to_html/html_text_fundamentals/index.html
  files/fr/conflicting/learn/html/introduction_to_html/html_text_fundamentals_42ad0dcdd765b60d8adda1f6293954b6/index.html
  files/fr/conflicting/learn/html/introduction_to_html/html_text_fundamentals_e22cde852fd55bbd8b014a4eac49a3bc/index.html
  files/fr/conflicting/learn/html/introduction_to_html/index.html
  files/fr/conflicting/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/fr/conflicting/learn/html/multimedia_and_embedding/images_in_html_2c0377f7605f693cad465c2b4839addc/index.html
  files/fr/conflicting/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
  files/fr/conflicting/learn/html/multimedia_and_embedding/other_embedding_technologies_fbe06d127f73df4dd2f56a31b7c2bd2d/index.html
  files/fr/conflicting/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/fr/conflicting/learn/index.html
  files/fr/conflicting/learn/index.md
  files/fr/conflicting/learn/javascript/client-side_web_apis/manipulating_documents/index.html
  files/fr/conflicting/learn/javascript/objects/classes_in_javascript/index.md
  files/fr/conflicting/learn/javascript/objects/index.html
  files/fr/conflicting/learn_370bfb0fa23e42f4384f010341852c43/index.html
  files/fr/conflicting/learn_6767a192c90d2c9c5179cf004fce2ee8/index.html
Labels: l10n-fr

#5638 Fix broken link
  files/zh-cn/web/javascript/reference/global_objects/array/join/index.html
Labels: l10n-zh

#5602 Update index.html
  files/zh-cn/web/css/ratio/index.html
Labels: l10n-zh

#5601 remove `{{draft}}` macro from zh-TW
  files/zh-tw/conflicting/web/api/document_object_model/index.html
  files/zh-tw/conflicting/web/api/websockets_api/index.html
  files/zh-tw/learn/css/css_layout/index.html
  files/zh-tw/learn/performance/index.html
  files/zh-tw/mozilla/firefox/releases/61/index.html
  files/zh-tw/orphaned/web/guide/events/index.html
  files/zh-tw/orphaned/web/reference/index.html
  files/zh-tw/web/api/closeevent/index.html
  files/zh-tw/web/api/document/registerelement/index.html
  files/zh-tw/web/api/document_object_model/how_to_create_a_dom_tree/index.html
  files/zh-tw/web/api/messageevent/index.html
  files/zh-tw/web/api/permissions_api/index.html
  files/zh-tw/web/api/websocket/index.html
  files/zh-tw/web/api/websockets_api/writing_websocket_client_applications/index.html
  files/zh-tw/web/api/xmlhttprequest/xmlhttprequest/index.html
  files/zh-tw/web/html/element/input/index.html
  files/zh-tw/web/media/index.html
Labels: l10n-zh

#5612 Worker Navigator
  files/es/web/api/workernavigator/index.md
Labels: l10n-es

#5468 Feature-Policy: payment を更新
  files/ja/web/http/headers/feature-policy/payment/index.md
Labels: l10n-ja

#5378 Conflicting cleanup - MDN
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/mdn/contribute/index.html
  files/fr/conflicting/mdn/tools/index.html
Labels: l10n-fr
