Repository mdn/translated-content, pull requests merged in 2022-08, with the labels that each got.

#7282 Remove additional space in paragraph
  files/es/web/api/websockets_api/index.html
Labels: documentation, l10n-es

#7268 Typofix
  files/fr/web/css/transform-function/index.md
Labels: l10n-fr

#7286 optimize the translation for zh-CN - `Learn/Getting_started_with_the_web`
  files/zh-cn/learn/getting_started_with_the_web/index.md
Labels: l10n-zh

#7087 [ko] Introducing workers
  files/ko/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-ko

#7275 [ko/feat] WeakMap.prototype.get()
  files/ko/web/javascript/reference/global_objects/weakmap/get/index.md
Labels: l10n-ko

#7131 Translation for #7049 [es]
  files/es/web/accessibility/index.html
  files/es/web/accessibility/index.md
Labels: documentation, l10n-es

#7134 Web/SVG/Attribute/x, y を更新
  files/ja/web/svg/attribute/x/index.html
  files/ja/web/svg/attribute/x/index.md
  files/ja/web/svg/attribute/y/index.html
  files/ja/web/svg/attribute/y/index.md
Labels: l10n-ja

#7203 chore: convert sql glossary to markdown
  files/es/glossary/sql/index.html
  files/es/glossary/sql/index.md
Labels: documentation, l10n-es

#4704 fix: Typo fix
  files/pt-br/learn/javascript/objects/basics/index.html
Labels: l10n-pt-br

#4467 Update pt-br CSS cursor page
  files/pt-br/web/css/cursor/index.html
Labels: l10n-pt-br

#4983 fix typo in PT_br translation
  files/pt-br/web/javascript/reference/operators/optional_chaining/index.html
Labels: l10n-pt-br

#5147 [pt-BR] fix translation for refresh pragma
  files/pt-br/web/html/element/meta/index.html
Labels: l10n-pt-br

#6740 Fix cursor page
  files/de/web/css/cursor/index.html
  files/ko/web/css/cursor/index.html
  files/pt-br/web/css/cursor/index.html
  files/zh-cn/web/css/cursor/index.html
Labels: l10n-zh, l10n-de, l10n-ko, l10n-pt-br

#4447 translating the begging page of the experimental features
  files/pt-br/mozilla/firefox/experimental_features/index.html
Labels: l10n-pt-br

#6542 refactor: remove deprecated {{CSSTutorialTOC}} macro in pt-br
  files/pt-br/learn/css/styling_text/styling_lists/index.html
  files/pt-br/learn/javascript/client-side_web_apis/manipulating_documents/index.html
Labels: l10n-pt-br

#7175 Initial translation for `animation-timeline`
  files/fr/web/css/animation-timeline/index.md
Labels: l10n-fr

#7255 Initial translation for `:host-context()`
  files/fr/web/css/_colon_host-context/index.md
Labels: l10n-fr

#7196 Remove white background from text
  files/ru/webassembly/exported_functions/index.html
Labels: l10n-ru

#7029 Remove extra styles for dash
  files/ru/web/javascript/reference/global_objects/weakmap/index.html
Labels: l10n-ru

#7283 Remove standard table from zh-CN documents
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/api/baseaudiocontext/createscriptprocessor/index.html
  files/zh-cn/web/api/canvas_api/tutorial/hit_regions_and_accessibility/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/addhitregion/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/clearhitregions/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/removehitregion/index.html
  files/zh-cn/web/api/cssstyledeclaration/getpropertycssvalue/index.html
  files/zh-cn/web/api/cssvalue/index.html
  files/zh-cn/web/api/cssvaluelist/index.html
  files/zh-cn/web/api/cssvaluelist/length/index.html
  files/zh-cn/web/api/datatransferitem/webkitgetasentry/index.html
  files/zh-cn/web/api/deviceproximityevent/index.html
  files/zh-cn/web/api/document/execcommand/index.html
  files/zh-cn/web/api/document/origin/index.html
  files/zh-cn/web/api/document/querycommandenabled/index.html
  files/zh-cn/web/api/document/querycommandstate/index.html
  files/zh-cn/web/api/document/querycommandsupported/index.html
  files/zh-cn/web/api/domerror/index.html
  files/zh-cn/web/api/filerequest/index.html
  files/zh-cn/web/api/globaleventhandlers/oncancel/index.html
  files/zh-cn/web/api/idbenvironment/index.html
  files/zh-cn/web/api/renderingcontext/index.html
  files/zh-cn/web/api/transferable/index.html
  files/zh-cn/web/api/window/issecurecontext/index.html
Labels: l10n-zh

#6921 Fix #6912 /mozilla/firefox/releases/3/templates/index.html
  files/es/mozilla/firefox/releases/3/templates/index.html
  files/es/mozilla/firefox/releases/3/templates/index.md
Labels: documentation, l10n-es

#7256 Initial translation for `:picture-in-picture`
  files/fr/web/css/_colon_picture-in-picture/index.md
Labels: l10n-fr

#7223 Firefox 103 for developersを翻訳
  files/ja/mozilla/firefox/releases/103/index.md
Labels: l10n-ja

#7300 タイポの修正
  files/ja/web/api/notification/permission/index.md
Labels: l10n-ja

#7168 Stacking_context_example_1 の記事を更新
  files/ja/web/css/css_positioning/understanding_z_index/stacking_context_example_1/index.md
Labels: l10n-ja

#7171 HTML の video 要素の記事を更新
  files/ja/web/html/element/video/index.md
Labels: l10n-ja

#7186 Web/HTML/Microdata を更新
  files/ja/web/html/microdata/index.html
  files/ja/web/html/microdata/index.md
Labels: l10n-ja

#7199 Web/SVG/Attribute/stroke を更新
  files/ja/web/svg/attribute/stroke/index.html
  files/ja/web/svg/attribute/stroke/index.md
Labels: l10n-ja

#7308 Typofix - incomplete sentence
  files/fr/web/http/overview/index.md
Labels: l10n-fr

#7304 Http Headers User-agent
  files/es/web/http/headers/user-agent/index.html
  files/es/web/http/headers/user-agent/index.md
Labels: documentation, l10n-es

#7309 deprecated methods
  files/zh-cn/web/api/media_source_extensions_api/index.html
Labels: l10n-zh

#7311 translate-->zh-cn web/api/mediasource/sourcebuffers
  files/zh-cn/web/api/mediasource/sourcebuffers/index.md
Labels: l10n-zh

#7312 translate zh-cn api/mediasource/activesourcbuffers
  files/zh-cn/web/api/mediasource/activesourcebuffers/index.md
Labels: l10n-zh

#7147 ::-moz-list-bullet の記事を更新
  files/ja/web/css/_colon_-moz-list-bullet/index.md
Labels: l10n-ja

#7265 orphaned clean up for zh-TW
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/orphaned/core_javascript_1.5_正規表達式的建立/index.html
  files/zh-tw/orphaned/dom_觀察器/index.html
  files/zh-tw/orphaned/html5_cross_browser_polyfills/index.html
  files/zh-tw/orphaned/tools/web_console/keyboard_shortcuts/index.html
  files/zh-tw/orphaned/zh-tw/index.html
  files/zh-tw/orphaned/參與_mozilla_專案/index.html
  files/zh-tw/orphaned/建立擴充套件/index.html
Labels: l10n-zh

#7313 translate and fix zh-cn mediasource some problems
  files/zh-cn/web/api/mediasource/addsourcebuffer/index.md
  files/zh-cn/web/api/mediasource/readystate/index.md
  files/zh-cn/web/api/mediasource/removesourcebuffer/index.md
Labels: l10n-zh

#7231 Update index.html
  files/zh-cn/web/javascript/closures/index.html
Labels: l10n-zh

#7285 zh-cn fix performance observer
  files/zh-cn/web/api/performanceobserver/disconnect/index.md
  files/zh-cn/web/api/performanceobserver/index.md
  files/zh-cn/web/api/performanceobserver/takerecords/index.md
Labels: l10n-zh

#5094 [pt-BR] translations url api and migrate old files to md
  files/pt-br/web/api/url/createobjecturl/index.md
  files/pt-br/web/api/url/hash/index.md
  files/pt-br/web/api/url/host/index.md
  files/pt-br/web/api/url/hostname/index.md
  files/pt-br/web/api/url/href/index.md
  files/pt-br/web/api/url/index.html
  files/pt-br/web/api/url/index.md
  files/pt-br/web/api/url/origin/index.md
  files/pt-br/web/api/url/password/index.md
  files/pt-br/web/api/url/pathname/index.md
  files/pt-br/web/api/url/port/index.md
  files/pt-br/web/api/url/protocol/index.md
  files/pt-br/web/api/url/revokeobjecturl/index.html
  files/pt-br/web/api/url/revokeobjecturl/index.md
  files/pt-br/web/api/url/search/index.md
  files/pt-br/web/api/url/searchparams/index.html
  files/pt-br/web/api/url/searchparams/index.md
  files/pt-br/web/api/url/tojson/index.md
  files/pt-br/web/api/url/tostring/index.md
  files/pt-br/web/api/url/username/index.md
Labels: l10n-pt-br

#7315 Fixed and improve SC translation of `Promise.any`
  files/zh-cn/web/javascript/reference/global_objects/promise/any/index.html
Labels: l10n-zh

#7167 Web/CSS/box-orient を更新
  files/ja/web/css/box-orient/index.md
Labels: l10n-ja

#7323 fix typo
  files/ja/web/api/navigator/share/index.html
Labels: l10n-ja

#7234 MDN/Contribute/Localize を更新
  files/ja/mdn/contribute/localize/index.html
  files/ja/mdn/contribute/localize/index.md
Labels: l10n-ja

#7341 Remove last use of {{outdated}} macro
  files/pl/web/api/canvas_api/index.html
Labels: l10n-pl

#7338 Restore @italogois' translation of URL.searchParams; translate/convert URLSearchParams to Markdown
  files/pt-br/web/api/url/searchparams/index.md
  files/pt-br/web/api/urlsearchparams/index.html
  files/pt-br/web/api/urlsearchparams/index.md
Labels: l10n-pt-br

#5704 Fixed spacing
  files/pt-br/web/javascript/reference/global_objects/array/find/index.html
Labels: l10n-pt-br

#7345 zh-cn translate sourcebufferlist
  files/zh-cn/web/api/sourcebufferlist/index.md
Labels: l10n-zh

#7346 zh-cn translate sourcebufferlist-length
  files/zh-cn/web/api/sourcebufferlist/length/index.md
Labels: l10n-zh

#7344 zh-cn translation mediasource istypesupported
  files/zh-cn/web/api/mediasource/istypesupported/index.md
Labels: l10n-zh

#7276 [ko/feat] WeakMap.prototype.has()
  files/ko/web/javascript/reference/global_objects/weakmap/has/index.md
Labels: l10n-ko

#7342 zh-cn Correct translation problems
  files/zh-cn/web/api/mediasource/activesourcebuffers/index.md
  files/zh-cn/web/api/mediasource/addsourcebuffer/index.md
  files/zh-cn/web/api/mediasource/duration/index.md
  files/zh-cn/web/api/mediasource/endofstream/index.md
  files/zh-cn/web/api/mediasource/index.md
  files/zh-cn/web/api/mediasource/mediasource/index.md
  files/zh-cn/web/api/mediasource/readystate/index.md
  files/zh-cn/web/api/mediasource/sourcebuffers/index.md
Labels: l10n-zh

#7348 fix: typo HTMI should be HTML
  files/zh-cn/web/api/document/domcontentloaded_event/index.html
Labels: l10n-zh

#7257 Initial translation for `:user-valid`
  files/fr/web/css/_colon_user-valid/index.md
Labels: l10n-fr

#7329 Remove conflicting pages as of 2022-08-03 (and updated A11y/ARIA)
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/accessibility/aria/index.md
  files/fr/conflicting/web/accessibility/aria_184f054b1090ff5cd518146ac4e09122/index.md
  files/fr/conflicting/web/accessibility/aria_64707ba1917a56654679cbe273e2f4ea/index.md
  files/fr/web/accessibility/aria/index.md
Labels: l10n-fr

#7334 Remove `{{css_key_concepts}}` from `fr`
  files/fr/web/css/specificity/index.md
  files/fr/web/css/visual_formatting_model/index.md
Labels: l10n-fr

#7271 Initial translation for `Link`
  files/fr/web/http/headers/link/index.md
Labels: l10n-fr

#7351 Correct Chinese translation of parseInt
  files/zh-cn/web/javascript/reference/global_objects/parseint/index.html
Labels: l10n-zh

#7362 fetch: remove unrelevant section
  files/fr/web/api/fetch_api/using_fetch/index.md
Labels: l10n-fr

#7364 Replace 0xA0 (non-breaking space) characters with normal spaces (fr)
  files/fr/learn/javascript/objects/classes_in_javascript/index.md
  files/fr/learn/javascript/objects/object_building_practice/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/fr/web/api/canvas_api/tutorial/drawing_shapes/index.md
Labels: l10n-fr

#7361 [zh-CN]Glossary translation
  files/zh-cn/glossary/ciphertext/index.md
  files/zh-cn/glossary/computer_programming/index.md
  files/zh-cn/glossary/plaintext/index.md
Labels: l10n-zh

#7360 sync with english version for Web/Events
  files/zh-cn/web/events/index.md
Labels: l10n-zh

#7258 Initial translation for `::-moz-focus-inner`
  files/fr/web/css/_doublecolon_-moz-focus-inner/index.md
Labels: l10n-fr

#7259 Initial translation for `contain-intrinsic-size`
  files/fr/web/css/contain-intrinsic-size/index.md
Labels: l10n-fr

#7382 [zh-cn]more glossaries translation
  files/zh-cn/glossary/cipher/index.md
  files/zh-cn/glossary/cipher_suite/index.md
  files/zh-cn/glossary/decryption/index.md
  files/zh-cn/glossary/encryption/index.md
  files/zh-cn/glossary/key/index.md
Labels: l10n-zh

#7384 Fixup translations in web/css/cascade
  files/zh-cn/web/css/cascade/index.html
Labels: l10n-zh

#7386 Update index.html
  files/zh-cn/web/javascript/reference/strict_mode/index.html
Labels: l10n-zh

#7389 Add link and fix image url (Visualizations with Web Audio API)
  files/ja/web/api/web_audio_api/visualizations_with_web_audio_api/index.html
Labels: l10n-ja

#7201 Remove `{{source}}` from fr
  files/fr/_wikihistory.json
  files/fr/web/api/document/popupnode/index.md
  files/fr/web/api/document/tooltipnode/index.md
  files/fr/web/api/event/comparison_of_event_targets/index.md
  files/fr/web/api/event/explicitoriginaltarget/index.md
  files/fr/web/api/event/originaltarget/index.md
  files/fr/web/api/xmldocument/load/index.md
Labels: l10n-fr

#7391 Fixup learn/html/tables/basics
  files/zh-cn/learn/html/tables/basics/index.md
Labels: l10n-zh

#7393 translate zh-cn sourcebuffer
  files/zh-cn/web/api/sourcebuffer/index.md
Labels: l10n-zh

#7332 fix broken image links on pt-BR css_basics
  files/pt-br/learn/getting_started_with_the_web/css_basics/index.html
Labels: l10n-pt-br

#7381 Convert to markdown and update content
  files/pt-br/web/css/_colon_root/index.html
  files/pt-br/web/css/_colon_root/index.md
Labels: l10n-pt-br

#7301 Update content
  files/pt-br/web/javascript/reference/global_objects/array/flat/index.html
Labels: l10n-pt-br

#5223 Adjusts in portuguese translation
  files/pt-br/web/javascript/reference/global_objects/array/flatmap/index.html
Labels: l10n-pt-br

#5084 Add the page: /pt-BR/Glossary/Flexbox
  files/pt-br/glossary/flexbox/index.md
Labels: l10n-pt-br

#4997 fix: log method on pt-br
  files/pt-br/web/javascript/reference/global_objects/array/index.html
Labels: l10n-pt-br

#4979 fixing ln 46 grammar error
  files/pt-br/web/api/websockets_api/writing_websocket_client_applications/index.html
Labels: l10n-pt-br

#7378 Convert to markdown and update content
  files/pt-br/web/css/border-left/index.html
  files/pt-br/web/css/border-left/index.md
Labels: l10n-pt-br

#7402 Fixup vue_getting_started
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
Labels: l10n-zh

#7396 refector: restructure `page_structures` section
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/mdn/writing_guidelines/page_structures/index.md
  files/zh-cn/conflicting/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/zh-cn/conflicting/mdn/writing_guidelines/page_structures_479b8c93d0b37a3f2a020112ae60e692/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/index.md
Labels: l10n-zh

#7373 Remove untranslated files in /games (es)
  files/es/_redirects.txt
  files/es/games/techniques/index.html
  files/es/games/tutorials/2d_breakout_game_phaser/index.html
  files/es/games/tutorials/index.html
Labels: documentation, l10n-es

#7392 Remove dead links (part 3 of #7319)
  files/fr/web/api/filereader/readasdataurl/index.md
Labels: l10n-fr

#7354 Fix #7335
  files/fr/learn/css/building_blocks/styling_tables/index.md
Labels: l10n-fr

#7305 Initial translation for Cascade
  files/fr/web/css/cascade/index.md
Labels: l10n-fr

#7387 Fixes #7359
  files/fr/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
Labels: l10n-fr

#7357 Remove dead links (part 1 of #7319)
  files/fr/web/api/sharedworker/port/index.md
  files/fr/web/api/sharedworker/sharedworker/index.md
Labels: l10n-fr

#7358 Remove dead links (part 2 of #7319)
  files/fr/web/api/window/requestanimationframe/index.md
Labels: l10n-fr

#7388 Fixes #7370
  files/fr/web/javascript/reference/global_objects/array/flat/index.md
Labels: l10n-fr

#7406 fix typo
  files/zh-cn/web/css/css_fonts/opentype_fonts_guide/index.html
Labels: l10n-zh

#7409 zh-cn translation sourceBuffer/buffered
  files/zh-cn/web/api/sourcebuffer/buffered/index.md
Labels: l10n-zh

#7410 translate zh-cn sourcebuffered/timestampoffset
  files/zh-cn/web/api/sourcebuffer/timestampoffset/index.md
Labels: l10n-zh

#7408 zh-cn translate sourcebuffer-updating
  files/zh-cn/web/api/sourcebuffer/updating/index.md
Labels: l10n-zh

#7407 zh-cn fix sourcebuffer-mode
  files/zh-cn/web/api/sourcebuffer/mode/index.md
Labels: l10n-zh

#7414 web/css/charset zh-CN fixup
  files/zh-cn/web/css/@charset/index.html
Labels: l10n-zh

#7415 fix redirects for l10n-fr
  files/fr/_redirects.txt
Labels: l10n-fr

#7262 docs: add metadata explanation
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#7419 Update index.md
  files/zh-cn/web/api/sourcebuffer/timestampoffset/index.md
Labels: l10n-zh

#7404 Remove `{{css_key_concepts}}` macro from `ko`
  files/ko/web/css/actual_value/index.html
  files/ko/web/css/cascade/index.html
  files/ko/web/css/comments/index.html
  files/ko/web/css/computed_value/index.html
  files/ko/web/css/containing_block/index.html
  files/ko/web/css/css_box_model/introduction_to_the_css_box_model/index.html
  files/ko/web/css/initial_value/index.html
  files/ko/web/css/layout_mode/index.html
  files/ko/web/css/resolved_value/index.html
  files/ko/web/css/specificity/index.html
  files/ko/web/css/used_value/index.html
  files/ko/web/css/visual_formatting_model/index.html
Labels: l10n-ko

#7427 fix typo
  files/zh-cn/web/api/css_object_model/index.html
Labels: l10n-zh

#7425 feat: in this module 추가
  docs/ko/translation-guide.md
Labels: l10n-ko

#7432 zh-cn translate sourcebuffer/remove
  files/zh-cn/web/api/sourcebuffer/remove/index.md
Labels: l10n-zh

#7438 Fix invalid img link in form_validation
  files/zh-cn/learn/forms/form_validation/index.html
Labels: l10n-zh

#7273 [ko/fix] Generator.prototype.next()
  files/ko/web/javascript/reference/global_objects/generator/next/index.md
Labels: l10n-ko

#7443 fix: change '添加指' to '添加至'
  files/zh-cn/web/progressive_web_apps/introduction/index.html
Labels: l10n-zh

#7423 docs: fixup mdn Writing_style_guide
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/mdn/writing_guidelines/index.md
  files/zh-cn/conflicting/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/zh-cn/mdn/writing_guidelines/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-zh

#7437 fix broken link in zh-CN
  files/zh-cn/learn/accessibility/html/index.md
  files/zh-cn/learn/common_questions/what_software_do_i_need/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/zh-cn/web/api/webgl_api/index.html
  files/zh-cn/web/api/webgl_api/using_extensions/index.html
  files/zh-cn/web/api/webrtc_api/simple_rtcdatachannel_sample/index.html
  files/zh-cn/web/api/window/requestanimationframe/index.html
Labels: l10n-zh

#7451 Fix 2 errors.
  files/zh-cn/web/api/response/index.html
Labels: l10n-zh

#7450 fix: change "斌面" to "便"
  files/zh-cn/web/api/cssstylesheet/insertrule/index.html
Labels: l10n-zh

#7204 fr-suggest french translation for id: 243
  files/fr/glossary/gamut/index.md
Labels: l10n-fr

#7454 docs: remove `translation_of`
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#7457 translation: add cn ver of react_todo_list_beginning
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
Labels: l10n-zh

#7464 (ru): Remove uses of {{exception}} macro
  files/ru/mozilla/firefox/releases/43/index.html
  files/ru/web/api/crypto/getrandomvalues/index.html
Labels: l10n-ru

#7340 Remove last use of {{CSSTutorialTOC}} macro
  files/ru/web/svg/tutorial/svg_and_css/index.html
Labels: l10n-ru

#7038 [ko/update] Chrome (Glossary)
  files/ko/glossary/chrome/index.html
Labels: l10n-ko

#7501 Fix typo on accented letter
  files/fr/web/api/htmlselectelement/index.md
Labels: l10n-fr

#7498 fix: typo
  files/ko/glossary/origin/index.html
Labels: l10n-ko

#7499 Fix Typo
  files/fr/web/javascript/reference/global_objects/array/includes/index.md
Labels: l10n-fr

#7504 Fix typo
  files/ko/learn/server-side/django/introduction/index.html
Labels: l10n-ko

#7507 fix lint invalid issue
  files/zh-cn/web/http/status/308/index.html
Labels: l10n-zh

#7277 [ko/feat] WeakMap.prototype.set()
  files/ko/web/javascript/reference/global_objects/weakmap/set/index.md
Labels: l10n-ko

#7518 remove last `{{Draft}}` macro from l10n-pl
  files/pl/mozilla/firefox/releases/2/updating_extensions/index.html
Labels: l10n-pl

#7534 Remove final {{draft}} macro instance
  files/es/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
Labels: l10n-es

#7528 [ko] remove span tag, conflicting
  files/ko/conflicting/mdn/writing_guidelines/index.html
  files/ko/conflicting/mdn/writing_guidelines/page_structures_978c99f4f82eae196d51ce675e5181c7/index.html
  files/ko/conflicting/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.html
  files/ko/conflicting/web/accessibility/aria/index.html
  files/ko/conflicting/web/accessibility/aria_64707ba1917a56654679cbe273e2f4ea/index.html
Labels: l10n-ko

#7529 [ko] remove span tag, webassembly
  files/ko/webassembly/c_to_wasm/index.html
  files/ko/webassembly/using_the_javascript_api/index.html
Labels: l10n-ko

#7530 [ko] remove span tag, mozilla
  files/ko/mozilla/add-ons/index.html
  files/ko/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
  files/ko/mozilla/add-ons/webextensions/api/index.html
  files/ko/mozilla/add-ons/webextensions/api/menus/create/index.html
  files/ko/mozilla/add-ons/webextensions/api/tabs/create/index.html
  files/ko/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.html
  files/ko/mozilla/add-ons/webextensions/content_scripts/index.html
  files/ko/mozilla/add-ons/webextensions/examples/index.html
  files/ko/mozilla/add-ons/webextensions/user_interface/page_actions/index.html
  files/ko/mozilla/add-ons/webextensions/what_are_webextensions/index.html
  files/ko/mozilla/add-ons/webextensions/your_first_webextension/index.html
  files/ko/mozilla/add-ons/webextensions/your_second_webextension/index.html
  files/ko/mozilla/firefox/index.html
Labels: l10n-ko

#7531 [ko] remove span tag, mdn
  files/ko/mdn/at_ten/index.html
  files/ko/mdn/community/contributing/getting_started/index.html
  files/ko/mdn/community/index.html
  files/ko/mdn/contribute/index.html
  files/ko/mdn/index.html
  files/ko/mdn/writing_guidelines/howto/tag/index.html
  files/ko/mdn/writing_guidelines/page_structures/index.html
  files/ko/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.html
  files/ko/mdn/writing_guidelines/writing_style_guide/index.html
Labels: l10n-ko

#7526 Update index.md
  files/zh-cn/web/javascript/reference/global_objects/string/includes/index.md
Labels: l10n-zh

#7535 zh-cn fixing translation
  files/zh-cn/web/api/abortsignal/abort_event/index.md
  files/zh-cn/web/api/abortsignal/aborted/index.md
Labels: l10n-zh

#7537 Fix typo
  files/ko/learn/server-side/django/models/index.html
Labels: l10n-ko

#7540 fix Chinese translation
  files/zh-cn/web/css/gradient/linear-gradient/index.html
Labels: l10n-zh

#7541 Fix typo(web_components)
  files/zh-cn/web/web_components/index.md
Labels: l10n-zh

#7550 zh-cn translate abortsignal/reason
  files/zh-cn/web/api/abortsignal/reason/index.md
Labels: l10n-zh

#7552 zh-cn translate abortsignal/abort
  files/zh-cn/web/api/abortsignal/abort/index.md
Labels: l10n-zh

#7554 zh-cn translate abortsignal/throwifaborted
  files/zh-cn/web/api/abortsignal/throwifaborted/index.md
Labels: l10n-zh

#7567 remove `{{Link}}` macro from frozen locale
  files/de/glossary/javascript/index.html
  files/pl/glossary/javascript/index.html
Labels: l10n-de, l10n-pl

#7433 (ru) Add translation for BackgroundFetchManager
  files/ru/web/api/backgroundfetchmanager/fetch/index.md
  files/ru/web/api/backgroundfetchmanager/get/index.md
  files/ru/web/api/backgroundfetchmanager/getids/index.md
  files/ru/web/api/backgroundfetchmanager/index.md
Labels: l10n-ru

#7553 zh-cn translate abortsignal/timeout
  files/zh-cn/web/api/abortsignal/timeout/index.md
Labels: l10n-zh

#7565 remove `{{Link}}` macro from l10n-zh
  files/zh-cn/glossary/javascript/index.md
  files/zh-cn/glossary/json/index.md
  files/zh-tw/glossary/javascript/index.md
  files/zh-tw/glossary/json/index.md
Labels: l10n-zh

#7073 "within" - "в", not "без"
  files/ru/web/html/element/fieldset/index.html
Labels: l10n-ru

#7547 fix: Markdownlint cleanup for JA
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
  files/ja/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
  files/ja/learn/forms/your_first_form/index.md
  files/ja/learn/getting_started_with_the_web/html_basics/index.md
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/ja/mozilla/add-ons/webextensions/native_messaging/index.md
  files/ja/mozilla/firefox/releases/44/index.md
  files/ja/web/accessibility/aria/forms/multipart_labels/index.md
  files/ja/web/api/htmlareaelement/referrerpolicy/index.md
  files/ja/web/api/htmlimageelement/crossorigin/index.md
  files/ja/web/api/htmlimageelement/longdesc/index.md
  files/ja/web/api/htmlimageelement/naturalwidth/index.md
  files/ja/web/api/mediaquerylist/change_event/index.md
  files/ja/web/api/mediaquerylist/index.md
  files/ja/web/api/mediaquerylist/media/index.md
  files/ja/web/api/rtcpeerconnection/cantrickleicecandidates/index.md
  files/ja/web/api/screen/index.md
  files/ja/web/api/server-sent_events/index.md
  files/ja/web/api/vrdisplay/requestpresent/index.md
  files/ja/web/api/vrdisplay/stageparameters/index.md
  files/ja/web/html/element/body/index.md
  files/ja/web/html/element/meta/index.md
  files/ja/web/html/element/th/index.md
  files/ja/web/html/microdata/index.md
  files/ja/web/http/csp/index.md
  files/ja/web/http/headers/content-security-policy/trusted-types/index.md
  files/ja/web/http/headers/user-agent/firefox/index.md
  files/ja/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/ja/web/javascript/guide/expressions_and_operators/index.md
  files/ja/web/javascript/guide/regular_expressions/index.md
  files/ja/web/javascript/reference/global_objects/symbol/iterator/index.md
  files/ja/web/media/formats/image_types/index.md
Labels: l10n-ja

#6432 [RU] Fix "Method" word on javascript/reference/global_objects/array/flatmap
  files/ru/web/javascript/reference/global_objects/array/flatmap/index.html
Labels: l10n-ru

#6553 (ru) Fix typo in Learn/Forms/Form_validation
  files/ru/learn/forms/form_validation/index.html
Labels: l10n-ru

#6596 (ru) Fix typo in Learn/Server-side/Django/Sessions
  files/ru/learn/server-side/django/sessions/index.html
Labels: l10n-ru

#6495 (ru) Fix code examples in Web/JavaScript/Closures
  files/ru/web/javascript/closures/index.html
Labels: l10n-ru

#6609 (ru) Add missed letter and dash in Web/JavaScript/Reference/Functions/arguments
  files/ru/web/javascript/reference/functions/arguments/index.html
Labels: l10n-ru

#6705 (ru) Fix code example in Web/JavaScript/Guide/Working_with_Objects
  files/ru/web/javascript/guide/working_with_objects/index.html
Labels: l10n-ru

#6706 (ru) Fix typo in Web/JavaScript/Reference/Operators/this
  files/ru/web/javascript/reference/operators/this/index.html
Labels: l10n-ru

#6823 (ru) Remove doubled spaces in "Backwards Compatibility of Flexbox"
  files/ru/web/css/css_flexible_box_layout/backwards_compatibility_of_flexbox/index.html
Labels: l10n-ru

#6923 (ru) Fix typo Web/JavaScript/Guide/Modules
  files/ru/web/javascript/guide/modules/index.html
Labels: l10n-ru

#7493 Path error on #6800 issue
  files/es/web/css/height/index.html
  files/es/web/css/height/index.md
Labels: documentation, l10n-es
