Repository mdn/translated-content, pull requests merged in 2022-02, with the labels that each got.

#3941 Update MDN Contribute content and change to markdown
  files/es/mdn/contribute/index.html
  files/es/mdn/contribute/index.md
Labels: l10n-es

#3943 Agregando battery manager
  files/es/web/api/batterymanager/index.html
  files/es/web/api/batterymanager/index.md
Labels: l10n-es

#3922 remove notranslate class 1
  files/ko/web/javascript/reference/classes/index.html
  files/ko/web/javascript/reference/classes/private_class_fields/index.html
  files/ko/web/javascript/reference/functions/arrow_functions/index.html
  files/ko/web/javascript/reference/functions/default_parameters/index.html
  files/ko/web/javascript/reference/global_objects/eval/index.html
  files/ko/web/javascript/reference/global_objects/globalthis/index.html
  files/ko/web/javascript/reference/global_objects/infinity/index.html
  files/ko/web/javascript/reference/global_objects/nan/index.html
  files/ko/web/javascript/reference/global_objects/number/negative_infinity/index.html
  files/ko/web/javascript/reference/global_objects/object/entries/index.html
  files/ko/web/javascript/reference/global_objects/object/setprototypeof/index.html
  files/ko/web/javascript/reference/global_objects/regexp/exec/index.html
  files/ko/web/javascript/reference/global_objects/regexp/index.html
  files/ko/web/javascript/reference/global_objects/regexp/regexp/index.html
  files/ko/web/javascript/reference/global_objects/regexp/test/index.html
  files/ko/web/javascript/reference/global_objects/string/lastindexof/index.html
  files/ko/web/javascript/reference/global_objects/string/slice/index.html
  files/ko/web/javascript/reference/global_objects/undefined/index.html
  files/ko/web/javascript/reference/lexical_grammar/index.html
  files/ko/web/javascript/reference/operators/await/index.html
Labels: l10n-ko

#3903 fix: Issue with 'async function'page syntax code error
  files/ko/web/javascript/reference/statements/async_function/index.html
Labels: l10n-ko

#3905 Add Event.defaultPrevented
  files/ko/web/api/event/defaultprevented/index.md
Labels: l10n-ko

#3923 remove notranslate class 2
  files/ko/web/javascript/reference/operators/class/index.html
  files/ko/web/javascript/reference/operators/conditional_operator/index.html
  files/ko/web/javascript/reference/operators/equality/index.html
  files/ko/web/javascript/reference/operators/nullish_coalescing_operator/index.html
  files/ko/web/javascript/reference/operators/this/index.html
  files/ko/web/javascript/reference/statements/async_function/index.html
  files/ko/web/javascript/reference/statements/do...while/index.html
  files/ko/web/javascript/reference/statements/for...in/index.html
  files/ko/web/javascript/reference/statements/try...catch/index.html
  files/ko/web/javascript/reference/strict_mode/index.html
  files/ko/web/javascript/reference/template_literals/index.html
  files/ko/web/javascript/reference/trailing_commas/index.html
Labels: l10n-ko

#3833 fix: gap(grid-gap) demo
  files/ko/web/css/gap/index.html
Labels: l10n-ko

#3878 [ko] updated css gap page
  files/ko/web/css/gap/index.html
Labels: l10n-ko

#3787 fix: add Examples heading
  files/ko/web/api/event/preventdefault/index.md
Labels: l10n-ko

#3503 [ko] Translation done of `Digital audio concepts` document
  files/ko/web/media/formats/audio_concepts/audio-waveform-samples1.svg
  files/ko/web/media/formats/audio_concepts/audio-waveform.svg
  files/ko/web/media/formats/audio_concepts/human-hearing-range.svg
  files/ko/web/media/formats/audio_concepts/index.md
Labels: l10n-ko

#3580 [ko] Translation done of `Using custom elements` document
  files/ko/web/web_components/using_custom_elements/index.html
  files/ko/web/web_components/using_custom_elements/index.md
Labels: l10n-ko

#3373 Update EventTarget docs
  files/ko/web/api/eventtarget/addeventlistener/index.md
  files/ko/web/api/eventtarget/dispatchevent/index.md
  files/ko/web/api/eventtarget/eventtarget/index.md
  files/ko/web/api/eventtarget/index.md
  files/ko/web/api/eventtarget/removeeventlistener/index.md
Labels: l10n-ko

#3908 Update ClipboardEvent docs
  files/ko/web/api/clipboardevent/clipboarddata/index.html
  files/ko/web/api/clipboardevent/clipboarddata/index.md
  files/ko/web/api/clipboardevent/index.html
  files/ko/web/api/clipboardevent/index.md
Labels: l10n-ko

#3956 (ru) Correct the punctuation on "Intl.ListFormat" page
  files/ru/web/javascript/reference/global_objects/intl/listformat/index.html
Labels: l10n-ru

#3570 Remove mozillademo from JS page in French
  files/fr/web/javascript/guide/indexed_collections/index.md
  files/fr/web/javascript/guide/introduction/index.md
  files/fr/web/javascript/reference/global_objects/math/atan2/index.md
  files/fr/web/javascript/reference/global_objects/promise/index.md
  files/fr/web/javascript/reference/statements/debugger/index.md
  files/fr/web/javascript/typed_arrays/index.md
Labels: l10n-fr

#3955 Update French backdrop-filter page
  files/fr/web/css/backdrop-filter/index.md
Labels: l10n-fr

#3954 Add ES to CODEOWNERS
  .github/CODEOWNERS
Labels: system

#3846 change style of <pre> block to "brush: js"
  files/ja/web/api/serviceworkercontainer/register/index.html
Labels: l10n-ja

#3939 Deleting nonexisting content in English
  files/es/web/javascript/index.html
  files/es/web/javascript/index.md
Labels: l10n-es

#3961 Content sync and updated to MD
  files/es/web/api/battery_status_api/index.html
  files/es/web/api/battery_status_api/index.md
Labels: l10n-es

#3967 update webextension api captiveportal
  files/fr/mozilla/add-ons/webextensions/api/captiveportal/getstate/index.md
Labels: l10n-fr

#3969 update link promise l10n-fr
  files/fr/mozilla/add-ons/webextensions/api/tabs/goforward/index.md
Labels: l10n-fr

#3973 (ru) Fix translations at "Transformations" page in canvas tutorial
  files/ru/web/api/canvas_api/tutorial/transformations/index.html
Labels: l10n-ru

#3933 (ru) Fix cursor images at "CSS/cursor" page
  files/ru/web/css/cursor/index.html
Labels: l10n-ru

#3974 Content sync and updated to md | BatteryManager.charging [ES]
  files/es/web/api/batterymanager/charging/index.html
  files/es/web/api/batterymanager/charging/index.md
Labels: l10n-es

#3971 Dischariging Time [es]
  files/es/web/api/batterymanager/dischargingtime/index.html
  files/es/web/api/batterymanager/dischargingtime/index.md
Labels: l10n-es

#3975 (ru) Change console statements at "Console" page
  files/ru/web/api/console/index.html
Labels: l10n-ru

#3978 remove unnecessary word
  files/ja/web/web_components/using_custom_elements/index.md
Labels: l10n-ja

#3989 Update notification body [es]
  files/es/web/api/notification/body/index.html
  files/es/web/api/notification/body/index.md
Labels: l10n-es

#3917 fixed typos and added hyperlinks
  files/pt-br/learn/server-side/first_steps/index.html
Labels: l10n-pt-br

#3977 fix typos
  files/pt-br/learn/javascript/asynchronous/concepts/index.html
Labels: l10n-pt-br

#3993 Content sync and updated to md | BatteryManager.onchargingchange [ES]
  files/es/web/api/batterymanager/onchargingchange/index.html
  files/es/web/api/batterymanager/onchargingchange/index.md
Labels: l10n-es

#3984 #6 Update batterymanager level [ES]
  files/es/web/api/batterymanager/level/index.html
  files/es/web/api/batterymanager/level/index.md
Labels: l10n-es

#3988 Fixed typo related to sort order
  files/ko/web/javascript/guide/indexed_collections/index.html
Labels: l10n-ko

#3713 Fix CSS filter page in French (incl. examples)
  files/fr/web/css/filter/index.md
  files/fr/web/css/filter/test_form.jpg
  files/fr/web/css/filter/test_form_12.jpeg
  files/fr/web/css/filter/test_form_12_s.jpg
  files/fr/web/css/filter/test_form_14.jpeg
  files/fr/web/css/filter/test_form_14_s.jpg
  files/fr/web/css/filter/test_form_2.jpeg
  files/fr/web/css/filter/test_form_2_s.jpg
  files/fr/web/css/filter/test_form_3.jpeg
  files/fr/web/css/filter/test_form_3_s.jpg
  files/fr/web/css/filter/test_form_4.jpeg
  files/fr/web/css/filter/test_form_4_irregular-shape_opacity-gradient.png
  files/fr/web/css/filter/test_form_4_irregular-shape_opacity-gradient_drop-shadow.png
  files/fr/web/css/filter/test_form_4_s.jpg
  files/fr/web/css/filter/test_form_5.jpeg
  files/fr/web/css/filter/test_form_5_s.jpg
  files/fr/web/css/filter/test_form_6.jpeg
  files/fr/web/css/filter/test_form_6_s.jpg
  files/fr/web/css/filter/test_form_7.jpeg
  files/fr/web/css/filter/test_form_7_s.jpg
  files/fr/web/css/filter/test_form_8.jpeg
  files/fr/web/css/filter/test_form_8_s.jpg
  files/fr/web/css/filter/test_form_9.jpeg
  files/fr/web/css/filter/test_form_9_s.jpg
  files/fr/web/css/filter/test_form_s.jpg
Labels: l10n-fr

#3609 Fixes #3496
  files/fr/learn/forms/advanced_form_styling/index.md
Labels: l10n-fr

#4010 fix(typo): changed "ganar" to "obtener"
  files/es/web/http/status/index.html
Labels: l10n-es

#4004 Content sync and updated to md | Notification.dir [ES]
  files/es/web/api/notification/dir/index.html
  files/es/web/api/notification/dir/index.md
Labels: l10n-es

#4002 remove unnecessary word
  files/ja/web/web_components/using_custom_elements/index.md
Labels: l10n-ja

#3888 Fix KO Translation Guide (Meaning of Argument)
  docs/ko/translation-guide.md
Labels: l10n-ko

#3841 first-class function (not parameter, arguments)
  files/ko/glossary/first-class_function/index.html
Labels: l10n-ko

#4015 remove all summary class in javascript
  files/ko/web/javascript/guide/control_flow_and_error_handling/index.html
  files/ko/web/javascript/guide/details_of_the_object_model/index.html
  files/ko/web/javascript/guide/expressions_and_operators/index.html
  files/ko/web/javascript/guide/functions/index.html
  files/ko/web/javascript/guide/grammar_and_types/index.html
  files/ko/web/javascript/guide/index.html
  files/ko/web/javascript/guide/indexed_collections/index.html
  files/ko/web/javascript/guide/introduction/index.html
  files/ko/web/javascript/guide/iterators_and_generators/index.html
  files/ko/web/javascript/guide/keyed_collections/index.html
  files/ko/web/javascript/guide/loops_and_iteration/index.html
  files/ko/web/javascript/guide/meta_programming/index.html
  files/ko/web/javascript/guide/numbers_and_dates/index.html
  files/ko/web/javascript/guide/regular_expressions/index.html
  files/ko/web/javascript/guide/text_formatting/index.html
  files/ko/web/javascript/guide/using_promises/index.html
  files/ko/web/javascript/reference/global_objects/array/reduce/index.html
  files/ko/web/javascript/reference/global_objects/date/getday/index.html
  files/ko/web/javascript/reference/global_objects/encodeuri/index.html
  files/ko/web/javascript/reference/global_objects/encodeuricomponent/index.html
  files/ko/web/javascript/reference/global_objects/function/index.html
  files/ko/web/javascript/reference/global_objects/intl/locale/index.html
  files/ko/web/javascript/reference/global_objects/intl/locale/language/index.html
  files/ko/web/javascript/reference/global_objects/json/parse/index.html
  files/ko/web/javascript/reference/global_objects/json/stringify/index.html
  files/ko/web/javascript/reference/global_objects/math/cbrt/index.html
  files/ko/web/javascript/reference/global_objects/math/index.html
  files/ko/web/javascript/reference/global_objects/number/isnan/index.html
  files/ko/web/javascript/reference/global_objects/object/freeze/index.html
  files/ko/web/javascript/reference/global_objects/object/keys/index.html
  files/ko/web/javascript/reference/global_objects/reflect/isextensible/index.html
  files/ko/web/javascript/reference/global_objects/reflect/preventextensions/index.html
  files/ko/web/javascript/reference/global_objects/reflect/setprototypeof/index.html
  files/ko/web/javascript/reference/global_objects/string/startswith/index.html
  files/ko/web/javascript/reference/statements/switch/index.html
Labels: l10n-ko

#3924 fix(ru): function is not an ECMAScript type
  files/ru/web/javascript/data_structures/index.html
Labels: l10n-ru

#3199 Updating anchors redirections
  files/es/learn/html/multimedia_and_embedding/index.html
Labels: l10n-es

#4027 SVG/index.htmlのSVG/Tutorialへのリンク掲示位置を変更
  files/ja/web/svg/index.html
Labels: l10n-ja

#4028 Content sync and updated to md | Notification.onClick [ES]
  files/es/web/api/notification/onclick/index.html
  files/es/web/api/notification/onclick/index.md
Labels: l10n-es

#4009 Update Gouttière glossary entry
  files/fr/glossary/gutters/index.md
Labels: l10n-fr

#4033 Content sync and updated to md | Notification.permission [ES]
  files/es/web/api/notification/permission/index.html
  files/es/web/api/notification/permission/index.md
Labels: l10n-es

#4000 Update index.html
  files/ru/learn/server-side/first_steps/website_security/index.html
Labels: l10n-ru

#4001 Update index.html
  files/ru/learn/server-side/first_steps/introduction/index.html
Labels: l10n-ru

#4042 Fix typo in what_are_hyperlinks
  files/ru/learn/common_questions/what_are_hyperlinks/index.html
Labels: l10n-ru

#4043 Fix horizontal scroll in css/initial
  files/ru/web/css/initial/index.html
Labels: l10n-ru

#4045 Delete seo links from ajax docs
  files/ru/web/guide/ajax/getting_started/index.html
  files/ru/web/guide/ajax/index.html
Labels: l10n-ru

#4038 Array.prototype.copyWithin(). Russian translate.
  files/ru/web/javascript/reference/global_objects/array/copywithin/index.html
Labels: l10n-ru

#4047 Fix Typo
  files/es/web/css/margin-inline/index.html
Labels: l10n-es

#4044 Update index.html
  files/es/web/javascript/reference/global_objects/object/setprototypeof/index.html
Labels: l10n-es

#4053 Remove warning statement
  files/ru/web/javascript/reference/global_objects/promise/any/index.html
Labels: l10n-ru

#4022 14. FileReader.readAsArrayBuffer() [ES]
  files/es/web/api/filereader/readasarraybuffer/index.html
  files/es/web/api/filereader/readasarraybuffer/index.md
Labels: l10n-es

#4064 docs(:link): fix cssxref to :any-link
  files/fr/web/css/_colon_link/index.md
Labels: l10n-fr

#4061 fix #4037
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.html
Labels: l10n-zh

#4060 h4 标签的 style="line-height: 18px;" 导致”输出“与下方内容有重合
  files/zh-cn/web/css/_doublecolon_after/index.html
Labels: l10n-zh

#4063 fix #3918
  files/zh-cn/learn/css/css_layout/positioning/index.html
Labels: l10n-zh

#4058 Remove {{page}} macro from Glossaire files
  files/fr/glossary/denial_of_service/index.md
  files/fr/glossary/second-level_domain/index.md
Labels: l10n-fr

#4046 Перевод Logical_AND_assignment
  files/ru/web/javascript/reference/operators/logical_and_assignment/index.md
Labels: l10n-ru

#4071 Improve .map examples: syntax and consistency
  files/ru/web/javascript/reference/global_objects/array/map/index.html
Labels: l10n-ru

#4020 8. BatteryManager.onlevelchange [ES]
  files/es/web/api/batterymanager/onlevelchange/index.html
  files/es/web/api/batterymanager/onlevelchange/index.md
Labels: l10n-es

#3872 add note to x-frame-options
  files/ko/web/http/headers/x-frame-options/index.html
Labels: l10n-ko

#3983 #4 Update batterymanager chargingtime [ES]
  files/es/web/api/batterymanager/chargingtime/index.html
  files/es/web/api/batterymanager/chargingtime/index.md
Labels: l10n-es

#4066 Translate /API/Notification/icon [es]
  files/es/web/api/notification/icon/index.html
  files/es/web/api/notification/icon/index.md
Labels: l10n-es

#4098 Firefox 97 for developers を翻訳
  files/ja/mozilla/firefox/releases/97/index.md
Labels: l10n-ja

#4034 Fix translation in ja
  files/ja/games/techniques/controls_gamepad_api/index.html
Labels: l10n-ja

#3627 Remove mozillademos for web (other than css/js)
  files/fr/web/api/filereader/readasdataurl/index.md
  files/fr/web/web_components/index.md
Labels: l10n-fr

#4074 Fix some grammar in "TextEncoder"'s french translation
  files/fr/web/api/textencoder/textencoder/index.md
Labels: l10n-fr

#4106 Fix typo `border-radius` in Japanese
  files/ja/web/css/border-radius/index.md
Labels: l10n-ja

#4056 Content sync and updated to md | Notification.requestpermission [ES]
  files/es/web/api/notification/requestpermission/index.html
  files/es/web/api/notification/requestpermission/index.md
Labels: l10n-es

#4055 RU: Storage.key add null return case and specs
  files/ru/web/api/storage/key/index.html
  files/ru/web/api/storage/key/index.md
Labels: l10n-ru

#4082 Web/CSS/inherit: конвертация в MD
  files/ru/web/css/inherit/index.html
  files/ru/web/css/inherit/index.md
Labels: l10n-ru

#4115 Ko text decoration update
  files/ko/web/css/text-decoration/index.html
  files/ko/web/css/text-decoration/index.md
Labels: l10n-ko

#4105 应该是当指定四个值的时候
  files/zh-cn/web/css/border-image-width/index.html
Labels: l10n-zh

#4102 Update index.html
  files/zh-cn/web/api/webgl_api/webgl_best_practices/index.html
Labels: l10n-zh

#4080 fix #3854
  files/zh-cn/web/svg/tutorial/gradients/index.html
Labels: l10n-zh

#3921 remove all span tags 2
  files/ko/web/javascript/reference/global_objects/function/index.html
  files/ko/web/javascript/reference/global_objects/intl/locale/index.html
  files/ko/web/javascript/reference/global_objects/intl/locale/language/index.html
  files/ko/web/javascript/reference/global_objects/json/parse/index.html
  files/ko/web/javascript/reference/global_objects/json/stringify/index.html
  files/ko/web/javascript/reference/global_objects/math/cbrt/index.html
  files/ko/web/javascript/reference/global_objects/math/index.html
  files/ko/web/javascript/reference/global_objects/number/isnan/index.html
  files/ko/web/javascript/reference/global_objects/object/freeze/index.html
  files/ko/web/javascript/reference/global_objects/object/keys/index.html
  files/ko/web/javascript/reference/global_objects/promise/race/index.html
  files/ko/web/javascript/reference/global_objects/reflect/isextensible/index.html
  files/ko/web/javascript/reference/global_objects/reflect/preventextensions/index.html
  files/ko/web/javascript/reference/global_objects/reflect/setprototypeof/index.html
  files/ko/web/javascript/reference/global_objects/string/index.html
  files/ko/web/javascript/reference/global_objects/string/startswith/index.html
  files/ko/web/javascript/reference/statements/export/index.html
  files/ko/web/javascript/reference/statements/switch/index.html
  files/ko/web/javascript/reference/strict_mode/index.html
Labels: l10n-ko

#4085 Fix typo
  files/ko/web/api/canvas_api/tutorial/advanced_animations/index.html
Labels: l10n-ko

#4121 Add quote tags with english language in modules guide
  files/fr/web/javascript/guide/modules/index.md
Labels: good first issue, l10n-fr

#3848 fix: typo error
  files/ko/learn/javascript/first_steps/what_went_wrong/index.html
Labels: l10n-ko

#4111 Update index.html
  files/es/learn/javascript/first_steps/index.html
Labels: l10n-es

#4133 Update index.html
  files/es/learn/javascript/first_steps/index.html
Labels: l10n-es

#4092 Content sync and updated to md | Element.animate [ES]
  files/es/web/api/element/animate/index.html
  files/es/web/api/element/animate/index.md
Labels: l10n-es

#4089 fix embed live sample macro error at 'div' page
  files/ko/web/html/element/div/index.html
Labels: l10n-ko

#3162 translate contents to Korean
  files/ko/web/http/cors/errors/index.html
Labels: l10n-ko

#3513 [ko] Translation done of `AudioNode.connect()` document
  files/ko/web/api/audionode/connect/index.md
Labels: l10n-ko

#3909 Add copy, cut, and paste events
  files/ko/web/api/document/copy_event/index.md
  files/ko/web/api/document/cut_event/index.md
  files/ko/web/api/document/paste_event/index.md
  files/ko/web/api/element/copy_event/index.md
  files/ko/web/api/element/cut_event/index.md
  files/ko/web/api/element/paste_event/index.md
  files/ko/web/api/window/copy_event/index.md
  files/ko/web/api/window/cut_event/index.md
  files/ko/web/api/window/paste_event/index.md
Labels: l10n-ko

#4140 Update index.html
  files/es/web/javascript/guide/regular_expressions/groups_and_ranges/index.html
Labels: l10n-es

#4137 Update translation more accuratly for Korean
  files/ko/web/javascript/reference/global_objects/generator/index.html
Labels: l10n-ko

#4150 fr-web/api/document/scrollingelement id: 3618
  files/fr/web/api/document/scrollingelement/index.md
Labels: l10n-fr

#4149 Fix types of parameters, supplementary translation
  files/zh-cn/web/javascript/reference/global_objects/encodeuricomponent/index.html
Labels: l10n-zh

#4152 Fix wrong url for push api examples
  files/es/web/api/push_api/index.html
Labels: l10n-es

#4138 fix case of JavaScript, Javascript -> JavaScript
  files/zh-cn/web/javascript/guide/modules/index.html
Labels: l10n-zh

#3820 Fix Math.max() initial value to -Infinity
  files/de/web/javascript/reference/global_objects/math/max/index.html
  files/ja/web/javascript/reference/global_objects/math/max/index.html
  files/ko/web/javascript/reference/global_objects/math/max/index.html
  files/pt-br/web/javascript/reference/global_objects/math/max/index.html
  files/zh-tw/web/javascript/reference/global_objects/math/max/index.html
Labels: l10n-ja, l10n-zh, l10n-de, l10n-ko, l10n-pt-br

#3835 Correct copywriting for files/zh-cn/web/html/* except element.
  files/zh-cn/web/html/attributes/autocomplete/index.html
  files/zh-cn/web/html/attributes/crossorigin/index.html
  files/zh-cn/web/html/attributes/index.html
  files/zh-cn/web/html/attributes/pattern/index.md
  files/zh-cn/web/html/cors_enabled_image/index.html
  files/zh-cn/web/html/global_attributes/accesskey/index.html
  files/zh-cn/web/html/global_attributes/class/index.html
  files/zh-cn/web/html/global_attributes/contenteditable/index.html
  files/zh-cn/web/html/global_attributes/contextmenu/index.html
  files/zh-cn/web/html/global_attributes/data-_star_/index.html
  files/zh-cn/web/html/global_attributes/dir/index.html
  files/zh-cn/web/html/global_attributes/draggable/index.html
  files/zh-cn/web/html/global_attributes/hidden/index.html
  files/zh-cn/web/html/global_attributes/index.html
  files/zh-cn/web/html/global_attributes/inputmode/index.html
  files/zh-cn/web/html/global_attributes/is/index.html
  files/zh-cn/web/html/global_attributes/itemprop/index.html
  files/zh-cn/web/html/global_attributes/itemscope/index.html
  files/zh-cn/web/html/global_attributes/lang/index.html
  files/zh-cn/web/html/global_attributes/part/index.html
  files/zh-cn/web/html/global_attributes/spellcheck/index.html
  files/zh-cn/web/html/global_attributes/tabindex/index.html
  files/zh-cn/web/html/global_attributes/translate/index.html
  files/zh-cn/web/html/global_attributes/x-ms-acceleratorkey/index.html
  files/zh-cn/web/html/global_attributes/x-ms-format-detection/index.html
  files/zh-cn/web/html/index.html
  files/zh-cn/web/html/link_types/index.html
  files/zh-cn/web/html/link_types/preload/index.html
  files/zh-cn/web/html/microdata/index.html
  files/zh-cn/web/html/quirks_mode_and_standards_mode/index.html
  files/zh-cn/web/html/reference/index.html
Labels: l10n-zh

#3868 fix typo
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.html
Labels: l10n-zh

#3970 correct instructions
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.html
Labels: l10n-zh

#3999 修改文字 index.html
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.html
Labels: l10n-zh

#4122 Fix typos in l10n-fr, l10n-ja and l10n-zh files
  files/fr/glossary/real_user_monitoring/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/language/index.html
  files/ja/web/javascript/reference/global_objects/intl/locale/region/index.html
  files/ja/web/javascript/reference/global_objects/intl/locale/script/index.html
  files/zh-tw/web/javascript/reference/global_objects/null/index.html
Labels: l10n-ja, l10n-fr, l10n-zh

#4148 19. web/javascript/reference/global_objects/weakset/index.html [ES]
  files/es/web/javascript/reference/global_objects/weakset/index.html
  files/es/web/javascript/reference/global_objects/weakset/index.md
Labels: l10n-es

#4123 Glossary: преобразование в MD
  files/ru/glossary/falsy/index.html
  files/ru/glossary/falsy/index.md
  files/ru/glossary/truthy/index.html
  files/ru/glossary/truthy/index.md
  files/ru/glossary/type_coercion/index.html
  files/ru/glossary/type_coercion/index.md
Labels: l10n-ru

#4073 Перевод Logical_Operators
  files/ru/web/javascript/reference/operators/logical_and/index.md
  files/ru/web/javascript/reference/operators/logical_not/index.md
  files/ru/web/javascript/reference/operators/logical_or/index.md
Labels: l10n-ru

#4120 Fix grammar issues in JavaScript modules guide
  files/fr/web/javascript/guide/modules/index.md
Labels: l10n-fr

#3490 Add autocorrect-lint GitHub Action
  .autocorrectignore
  .github/workflows/autocorrect-lint.yml
Labels: system

#3920 remove all span tags 1
  files/ko/web/javascript/guide/details_of_the_object_model/index.html
  files/ko/web/javascript/guide/functions/index.html
  files/ko/web/javascript/guide/index.html
  files/ko/web/javascript/guide/numbers_and_dates/index.html
  files/ko/web/javascript/guide/regular_expressions/assertions/index.html
  files/ko/web/javascript/guide/regular_expressions/index.html
  files/ko/web/javascript/guide/text_formatting/index.html
  files/ko/web/javascript/guide/using_promises/index.html
  files/ko/web/javascript/index.html
  files/ko/web/javascript/language_resources/index.html
  files/ko/web/javascript/reference/errors/illegal_character/index.html
  files/ko/web/javascript/reference/global_objects/array/entries/index.html
  files/ko/web/javascript/reference/global_objects/array/flatmap/index.html
  files/ko/web/javascript/reference/global_objects/array/from/index.html
  files/ko/web/javascript/reference/global_objects/array/reduce/index.html
  files/ko/web/javascript/reference/global_objects/date/getday/index.html
  files/ko/web/javascript/reference/global_objects/decodeuri/index.html
  files/ko/web/javascript/reference/global_objects/decodeuricomponent/index.html
  files/ko/web/javascript/reference/global_objects/encodeuri/index.html
  files/ko/web/javascript/reference/global_objects/encodeuricomponent/index.html
Labels: l10n-ko

#4110 Content sync and updated to md | Javascript/reference [ES]
  files/es/web/javascript/reference/index.html
  files/es/web/javascript/reference/index.md
Labels: l10n-es

#3986 Agregando nuevo customevent
  files/es/web/api/customevent/index.html
  files/es/web/api/customevent/index.md
Labels: l10n-es

#4166 Fix broken link
  files/ja/web/svg/namespaces_crash_course/index.html
Labels: l10n-ja

#4116 Replace エキスポート with エクスポート in ja
  files/ja/glossary/tree_shaking/index.html
Labels: l10n-ja

#4173 Remove workflow currently breaking CI - fixes #4170
  .autocorrectignore
  .github/workflows/autocorrect-lint.yml
Labels: system

#4174 Update index.html
  files/es/web/html/block-level_elements/index.html
Labels: l10n-es

#4067 Content sync and updated to md | Filereader.readasdataurl [ES]
  files/es/web/api/filereader/readasdataurl/index.html
  files/es/web/api/filereader/readasdataurl/index.md
Labels: l10n-es

#4183 Correct code order，And solve #4018 #4167
  files/zh-cn/learn/forms/how_to_structure_a_web_form/index.html
Labels: l10n-zh

#4132 Web/CSS/var(): перевод
  files/ru/web/css/var()/index.md
Labels: l10n-ru

#4161 Web/CSS/place-items: перевод
  files/ru/web/css/place-items/index.md
Labels: l10n-ru

#4201 大なり小なり記号がHTMLエンティティになっていたので記号 < > に修正
  files/ja/web/css/font-variant/index.md
Labels: l10n-ja

#4202 助詞の修正
  files/ja/web/css/_colon_target/index.md
Labels: l10n-ja

#4200 衍字の修正：使用するうことがあります->使用することがあります
  files/ja/web/html/element/heading_elements/index.html
Labels: l10n-ja

#4203 助詞の修正
  files/ja/web/css/_colon_target/index.md
Labels: l10n-ja

#3907 Update AnimationEvent docs
  files/ko/web/api/animationevent/animationevent/index.html
  files/ko/web/api/animationevent/animationevent/index.md
  files/ko/web/api/animationevent/animationname/index.html
  files/ko/web/api/animationevent/animationname/index.md
  files/ko/web/api/animationevent/elapsedtime/index.md
  files/ko/web/api/animationevent/index.html
  files/ko/web/api/animationevent/index.md
Labels: l10n-ko

#4178 Fix typo error
  files/ko/learn/javascript/asynchronous/timeouts_and_intervals/index.html
Labels: l10n-ko

#4204 <table>: 表要素 の誤変換などの修正
  files/ja/web/html/element/table/index.html
Labels: l10n-ja

#4190 Update index.md
  files/ja/web/manifest/display_override/index.md
Labels: l10n-ja

#4186 Fix any broken links
  files/ja/web/svg/namespaces_crash_course/index.html
Labels: l10n-ja

#3929 Update Blob docs, add Blob.type
  files/ko/web/api/blob/blob/index.html
  files/ko/web/api/blob/blob/index.md
  files/ko/web/api/blob/index.html
  files/ko/web/api/blob/index.md
  files/ko/web/api/blob/size/index.html
  files/ko/web/api/blob/size/index.md
  files/ko/web/api/blob/type/index.md
Labels: l10n-ko

#4176 Creating AudioNode page in [es] locale
  files/es/web/api/audionode/index.md
Labels: l10n-es

#4217 CSP: script-src の誤字を修正
  files/ja/web/http/headers/content-security-policy/script-src/index.html
Labels: l10n-ja

#4188 Fix typo
  files/ja/web/css/_colon_is/index.md
Labels: l10n-ja

#4232 Web/JavaScript/Reference/Operators/Operator_Precedence を英語版に追従
  files/ja/web/javascript/reference/operators/operator_precedence/index.html
Labels: l10n-ja

#3913 Remove {{page}} macro from API docs
  files/ko/web/api/batterymanager/index.html
  files/ko/web/api/batterymanager/index.md
  files/ko/web/api/biquadfilternode/index.html
  files/ko/web/api/biquadfilternode/index.md
  files/ko/web/api/datatransfer/getdata/index.html
  files/ko/web/api/datatransfer/getdata/index.md
  files/ko/web/api/document/index.html
  files/ko/web/api/dragevent/index.html
  files/ko/web/api/dragevent/index.md
  files/ko/web/api/filereader/result/index.html
  files/ko/web/api/filereader/result/index.md
  files/ko/web/api/geolocation_api/index.html
  files/ko/web/api/geolocation_api/index.md
  files/ko/web/api/geolocation_api/using_the_geolocation_api/index.html
  files/ko/web/api/navigator/battery/index.html
  files/ko/web/api/network_information_api/index.html
  files/ko/web/api/network_information_api/index.md
  files/ko/web/api/notification/permission/index.html
  files/ko/web/api/notification/permission/index.md
  files/ko/web/api/notifications_api/using_the_notifications_api/index.html
  files/ko/web/api/screen/index.html
  files/ko/web/api/screen/index.md
Labels: l10n-ko

#4235 💬 防止 -> 放置
  files/zh-cn/web/css/justify-self/index.html
Labels: l10n-zh

#4223 fix a small format problem
  files/zh-cn/learn/server-side/django/development_environment/index.html
Labels: l10n-zh

#4206 Update index.md
  files/zh-cn/web/javascript/reference/classes/private_class_fields/index.md
Labels: l10n-zh

#4233 Update index.html
  files/ko/web/http/redirections/index.html
Labels: l10n-ko

#4087 Web/CSS/{column,row}-gap: перевод
  files/ru/web/css/column-gap/index.md
  files/ru/web/css/row-gap/index.md
Labels: l10n-ru

#4229 learn/javascript/first_step の英単語の前後に半角空白を追加
  files/ja/learn/javascript/first_steps/index.html
Labels: l10n-ja

#4107 25. Screen [ES]
  files/es/web/api/screen/index.html
  files/es/web/api/screen/index.md
Labels: l10n-es

#4169 Content sync and updated to md | global_objects/asyncfunction [ES]
  files/es/web/javascript/reference/global_objects/asyncfunction/index.html
  files/es/web/javascript/reference/global_objects/asyncfunction/index.md
Labels: l10n-es

#4194 4160-patch-update-document [es]
  files/es/web/api/document/index.html
  files/es/web/api/document/index.md
Labels: l10n-es

#4197 Issue with "El modelo de caja" [ES]
  files/es/learn/css/building_blocks/the_box_model/index.html
Labels: l10n-es

#4238 CSS border article: Typos and semantic corrections
  files/es/web/css/border/index.html
Labels: l10n-es

#4147 Updated (broken link to image) #4139
  files/ja/web/javascript/eventloop/index.html
Labels: l10n-ja

#4153 Web/CSS/scroll-snap-type-x/y を新規翻訳
  files/ja/web/css/scroll-snap-type-x/index.md
  files/ja/web/css/scroll-snap-type-y/index.md
Labels: l10n-ja

#4158 @font-face ルール以下の未翻訳の記述子の記事を新規翻訳
  files/ja/web/css/@font-face/ascent-override/index.md
  files/ja/web/css/@font-face/descent-override/index.md
  files/ja/web/css/@font-face/font-variant/index.md
  files/ja/web/css/@font-face/line-gap-override/index.md
  files/ja/web/css/@font-face/size-adjust/index.md
Labels: l10n-ja

#4130 Update index.html
  files/zh-cn/web/javascript/reference/operators/assignment/index.html
Labels: l10n-zh
