Repository mdn/translated-content, pull requests merged in 2022-06, with the labels that each got.

#5945 AutoCorrect files/zh-cn/web/css/{z,w,v,u,t}*/
  files/zh-cn/web/css/table-layout/index.html
  files/zh-cn/web/css/text-overflow/index.html
  files/zh-cn/web/css/text-shadow/index.html
  files/zh-cn/web/css/time-percentage/index.html
  files/zh-cn/web/css/time/index.html
  files/zh-cn/web/css/top/index.html
  files/zh-cn/web/css/touch-action/index.html
  files/zh-cn/web/css/transform-box/index.html
  files/zh-cn/web/css/transform-function/index.html
  files/zh-cn/web/css/transform-function/perspective/index.html
  files/zh-cn/web/css/transform-function/rotate/index.html
  files/zh-cn/web/css/transform-function/rotate3d/index.html
  files/zh-cn/web/css/transform-function/scale/index.html
  files/zh-cn/web/css/transform-function/scalex/index.html
  files/zh-cn/web/css/transform-function/translate/index.html
  files/zh-cn/web/css/transform-origin/index.html
  files/zh-cn/web/css/transform/index.html
  files/zh-cn/web/css/transition-delay/index.html
  files/zh-cn/web/css/transition-timing-function/index.html
  files/zh-cn/web/css/transition/index.html
  files/zh-cn/web/css/translate/index.html
  files/zh-cn/web/css/tutorials/index.html
  files/zh-cn/web/css/type_selectors/index.html
  files/zh-cn/web/css/unicode-bidi/index.html
  files/zh-cn/web/css/universal_selectors/index.html
  files/zh-cn/web/css/unset/index.html
  files/zh-cn/web/css/url/index.html
  files/zh-cn/web/css/used_value/index.html
  files/zh-cn/web/css/user-select/index.html
  files/zh-cn/web/css/using_css_custom_properties/index.html
  files/zh-cn/web/css/value_definition_syntax/index.html
  files/zh-cn/web/css/var/index.html
  files/zh-cn/web/css/vertical-align/index.html
  files/zh-cn/web/css/viewport_concepts/index.html
  files/zh-cn/web/css/visibility/index.html
  files/zh-cn/web/css/visual_formatting_model/index.html
  files/zh-cn/web/css/webkit_extensions/index.html
  files/zh-cn/web/css/white-space/index.html
  files/zh-cn/web/css/width/index.html
  files/zh-cn/web/css/will-change/index.html
  files/zh-cn/web/css/word-break/index.html
  files/zh-cn/web/css/writing-mode/index.html
  files/zh-cn/web/css/z-index/index.html
Labels: l10n-zh

#5938 AutoCorrect files/zh-cn/web/api/canvasrenderingcontext2d/
  files/zh-cn/web/api/canvasrenderingcontext2d/addhitregion/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/arc/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/arcto/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/beziercurveto/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/canvas/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/clearhitregions/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/clearrect/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/closepath/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/createimagedata/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/createlineargradient/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/createpattern/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/createradialgradient/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/direction/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/drawfocusifneeded/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/drawimage/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/drawwidgetasonscreen/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/drawwindow/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/ellipse/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/fill/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/fillrect/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/fillstyle/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/filter/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/font/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/getimagedata/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/getlinedash/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/gettransform/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/globalalpha/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/ispointinpath/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/ispointinstroke/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/linecap/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/linedashoffset/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/linejoin/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/lineto/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/linewidth/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/miterlimit/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/moveto/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/putimagedata/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/quadraticcurveto/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/rect/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/removehitregion/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/restore/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/rotate/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/save/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/scale/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/setlinedash/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/settransform/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowblur/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowcolor/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowoffsetx/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowoffsety/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/strokerect/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/textalign/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/textbaseline/index.html
  files/zh-cn/web/api/canvasrenderingcontext2d/translate/index.html
Labels: l10n-zh

#6052 remove `{{jsOverrides}}` macros from zh-TW
  files/zh-tw/web/javascript/reference/global_objects/string/index.html
Labels: l10n-zh

#2857 fix(video): fix Attributes duplication issue, update Attributes and Events content
  files/zh-cn/web/html/element/video/index.html
Labels: l10n-zh

#6048 fix: references to conflicting files in fr docs
  files/fr/learn/css/howto/create_fancy_boxes/index.md
  files/fr/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/fr/web/css/index.md
  files/fr/web/css/zoom/index.md
  files/fr/web/javascript/a_re-introduction_to_javascript/index.md
  files/fr/web/javascript/guide/working_with_objects/index.md
Labels: l10n-fr

#5940 AutoCorrect files/zh-cn/web/api/canvas*/
  files/zh-cn/web/api/canvas_api/a_basic_ray-caster/index.html
  files/zh-cn/web/api/canvas_api/index.html
  files/zh-cn/web/api/canvas_api/manipulating_video_using_canvas/index.html
  files/zh-cn/web/api/canvas_api/tutorial/advanced_animations/index.html
  files/zh-cn/web/api/canvas_api/tutorial/applying_styles_and_colors/index.html
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/index.html
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.html
  files/zh-cn/web/api/canvas_api/tutorial/compositing/example/index.html
  files/zh-cn/web/api/canvas_api/tutorial/compositing/index.html
  files/zh-cn/web/api/canvas_api/tutorial/drawing_shapes/index.html
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.html
  files/zh-cn/web/api/canvas_api/tutorial/finale/index.html
  files/zh-cn/web/api/canvas_api/tutorial/hit_regions_and_accessibility/index.html
  files/zh-cn/web/api/canvas_api/tutorial/index.html
  files/zh-cn/web/api/canvas_api/tutorial/optimizing_canvas/index.html
  files/zh-cn/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.html
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.html
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.html
  files/zh-cn/web/api/canvascapturemediastreamtrack/index.html
  files/zh-cn/web/api/canvasgradient/addcolorstop/index.html
  files/zh-cn/web/api/canvasgradient/index.html
  files/zh-cn/web/api/canvasimagesource/index.html
  files/zh-cn/web/api/canvaspattern/index.html
Labels: l10n-zh

#5941 AutoCorrect files/zh-cn/web/api/b*/
  files/zh-cn/web/api/background_tasks_api/index.html
  files/zh-cn/web/api/baseaudiocontext/createanalyser/index.html
  files/zh-cn/web/api/baseaudiocontext/createbiquadfilter/index.html
  files/zh-cn/web/api/baseaudiocontext/createbuffer/index.html
  files/zh-cn/web/api/baseaudiocontext/createbuffersource/index.html
  files/zh-cn/web/api/baseaudiocontext/createchannelmerger/index.html
  files/zh-cn/web/api/baseaudiocontext/createchannelsplitter/index.html
  files/zh-cn/web/api/baseaudiocontext/createconstantsource/index.html
  files/zh-cn/web/api/baseaudiocontext/createconvolver/index.html
  files/zh-cn/web/api/baseaudiocontext/createdelay/index.html
  files/zh-cn/web/api/baseaudiocontext/createoscillator/index.html
  files/zh-cn/web/api/baseaudiocontext/createperiodicwave/index.html
  files/zh-cn/web/api/baseaudiocontext/createscriptprocessor/index.html
  files/zh-cn/web/api/baseaudiocontext/createwaveshaper/index.html
  files/zh-cn/web/api/baseaudiocontext/currenttime/index.html
  files/zh-cn/web/api/baseaudiocontext/decodeaudiodata/index.html
  files/zh-cn/web/api/baseaudiocontext/destination/index.html
  files/zh-cn/web/api/baseaudiocontext/listener/index.html
  files/zh-cn/web/api/baseaudiocontext/samplerate/index.html
  files/zh-cn/web/api/baseaudiocontext/state/index.html
  files/zh-cn/web/api/baseaudiocontext/statechange_event/index.html
  files/zh-cn/web/api/battery_status_api/index.html
  files/zh-cn/web/api/batterymanager/charging/index.html
  files/zh-cn/web/api/batterymanager/index.html
  files/zh-cn/web/api/beacon_api/index.html
  files/zh-cn/web/api/beforeinstallpromptevent/index.html
  files/zh-cn/web/api/biquadfilternode/index.html
  files/zh-cn/web/api/blob/blob/index.html
  files/zh-cn/web/api/blob/index.html
  files/zh-cn/web/api/blob/size/index.html
  files/zh-cn/web/api/blob/slice/index.html
  files/zh-cn/web/api/blob/stream/index.html
  files/zh-cn/web/api/blob/type/index.html
  files/zh-cn/web/api/blobbuilder/index.html
  files/zh-cn/web/api/bluetooth/requestdevice/index.html
  files/zh-cn/web/api/broadcast_channel_api/index.html
  files/zh-cn/web/api/broadcastchannel/close/index.html
  files/zh-cn/web/api/broadcastchannel/index.html
  files/zh-cn/web/api/broadcastchannel/name/index.html
  files/zh-cn/web/api/btoa/index.html
Labels: l10n-zh

#5950 AutoCorrect files/zh-cn/web/css/{d,e,f,j}*/
  files/zh-cn/web/css/dimension/index.html
  files/zh-cn/web/css/direction/index.html
  files/zh-cn/web/css/display-box/index.html
  files/zh-cn/web/css/display-internal/index.html
  files/zh-cn/web/css/display-legacy/index.html
  files/zh-cn/web/css/display-outside/index.html
  files/zh-cn/web/css/display/index.html
  files/zh-cn/web/css/empty-cells/index.html
  files/zh-cn/web/css/env/index.html
  files/zh-cn/web/css/filter-function/blur/index.html
  files/zh-cn/web/css/filter-function/brightness/index.html
  files/zh-cn/web/css/filter-function/contrast/index.html
  files/zh-cn/web/css/filter-function/drop-shadow/index.html
  files/zh-cn/web/css/filter-function/grayscale/index.html
  files/zh-cn/web/css/filter-function/index.html
  files/zh-cn/web/css/filter-function/opacity/index.html
  files/zh-cn/web/css/filter/index.md
  files/zh-cn/web/css/flex-basis/index.html
  files/zh-cn/web/css/flex-direction/index.html
  files/zh-cn/web/css/flex-grow/index.md
  files/zh-cn/web/css/flex/index.html
  files/zh-cn/web/css/flex_value/index.html
  files/zh-cn/web/css/font-family/index.html
  files/zh-cn/web/css/font-feature-settings/index.html
  files/zh-cn/web/css/font-language-override/index.html
  files/zh-cn/web/css/font-size-adjust/index.html
  files/zh-cn/web/css/font-size/index.html
  files/zh-cn/web/css/font-stretch/index.html
  files/zh-cn/web/css/font-style/index.html
  files/zh-cn/web/css/font-variant-alternates/index.html
  files/zh-cn/web/css/font-variant-caps/index.html
  files/zh-cn/web/css/font-variant/index.html
  files/zh-cn/web/css/font-variation-settings/index.html
  files/zh-cn/web/css/font-weight/index.html
  files/zh-cn/web/css/font/index.html
  files/zh-cn/web/css/justify-content/index.html
  files/zh-cn/web/css/justify-items/index.html
  files/zh-cn/web/css/justify-self/index.html
Labels: l10n-zh

#5936 AutoCorrect files/zh-cn/web/api/{e,g}*/
  files/zh-cn/web/api/eventsource/close/index.html
  files/zh-cn/web/api/eventsource/error_event/index.html
  files/zh-cn/web/api/eventsource/eventsource/index.html
  files/zh-cn/web/api/eventsource/index.html
  files/zh-cn/web/api/eventsource/open_event/index.html
  files/zh-cn/web/api/eventtarget/addeventlistener/index.html
  files/zh-cn/web/api/eventtarget/dispatchevent/index.html
  files/zh-cn/web/api/eventtarget/index.html
  files/zh-cn/web/api/eventtarget/removeeventlistener/index.html
  files/zh-cn/web/api/ext_float_blend/index.html
  files/zh-cn/web/api/extendableevent/index.html
  files/zh-cn/web/api/extendableevent/waituntil/index.html
  files/zh-cn/web/api/gainnode/gain/index.html
  files/zh-cn/web/api/gainnode/index.html
  files/zh-cn/web/api/gamepad/index.html
  files/zh-cn/web/api/gamepad_api/index.html
  files/zh-cn/web/api/gamepad_api/using_the_gamepad_api/index.html
  files/zh-cn/web/api/gamepadevent/gamepad/index.html
  files/zh-cn/web/api/gamepadevent/index.html
  files/zh-cn/web/api/gamepadpose/index.html
  files/zh-cn/web/api/geolocation/index.html
  files/zh-cn/web/api/geolocation_api/index.html
  files/zh-cn/web/api/geolocationposition/coords/index.html
  files/zh-cn/web/api/geolocationposition/index.html
Labels: l10n-zh

#5935 AutoCorrect files/zh-cn/web/api/console/
  files/zh-cn/web/api/console/assert/index.html
  files/zh-cn/web/api/console/clear/index.html
  files/zh-cn/web/api/console/count/index.html
  files/zh-cn/web/api/console/countreset/index.html
  files/zh-cn/web/api/console/debug/index.html
  files/zh-cn/web/api/console/dir/index.html
  files/zh-cn/web/api/console/dirxml/index.html
  files/zh-cn/web/api/console/error/index.html
  files/zh-cn/web/api/console/group/index.html
  files/zh-cn/web/api/console/groupcollapsed/index.html
  files/zh-cn/web/api/console/groupend/index.html
  files/zh-cn/web/api/console/index.html
  files/zh-cn/web/api/console/info/index.html
  files/zh-cn/web/api/console/log/index.html
  files/zh-cn/web/api/console/profile/index.html
  files/zh-cn/web/api/console/profileend/index.html
  files/zh-cn/web/api/console/table/index.html
  files/zh-cn/web/api/console/time/index.html
  files/zh-cn/web/api/console/timeend/index.html
  files/zh-cn/web/api/console/trace/index.html
  files/zh-cn/web/api/console_api/index.html
  files/zh-cn/web/api/convolvernode/index.html
Labels: l10n-zh

#5947 AutoCorrect files/zh-cn/web/css/{l,m}*/
  files/zh-cn/web/css/layout_cookbook/breadcrumb_navigation/index.html
  files/zh-cn/web/css/layout_cookbook/card/index.html
  files/zh-cn/web/css/layout_cookbook/center_an_element/index.html
  files/zh-cn/web/css/layout_cookbook/column_layouts/index.html
  files/zh-cn/web/css/layout_cookbook/contribute_a_recipe/index.html
  files/zh-cn/web/css/layout_cookbook/index.html
  files/zh-cn/web/css/layout_cookbook/media_objects/index.html
  files/zh-cn/web/css/layout_cookbook/split_navigation/index.html
  files/zh-cn/web/css/layout_mode/index.html
  files/zh-cn/web/css/left/index.html
  files/zh-cn/web/css/length-percentage/index.html
  files/zh-cn/web/css/length/index.html
  files/zh-cn/web/css/line-height/index.html
  files/zh-cn/web/css/list-style-image/index.html
  files/zh-cn/web/css/list-style-type/index.html
  files/zh-cn/web/css/margin-block-start/index.html
  files/zh-cn/web/css/margin-block/index.html
  files/zh-cn/web/css/margin-bottom/index.html
  files/zh-cn/web/css/margin-left/index.html
  files/zh-cn/web/css/margin-right/index.html
  files/zh-cn/web/css/margin-top/index.html
  files/zh-cn/web/css/margin/index.html
  files/zh-cn/web/css/mask-border-slice/index.html
  files/zh-cn/web/css/mask-border-width/index.html
  files/zh-cn/web/css/mask-border/index.html
  files/zh-cn/web/css/mask-image/index.html
  files/zh-cn/web/css/mask-mode/index.html
  files/zh-cn/web/css/mask/index.html
  files/zh-cn/web/css/max-width/index.html
  files/zh-cn/web/css/max/index.html
  files/zh-cn/web/css/media_queries/index.html
  files/zh-cn/web/css/media_queries/using_media_queries/index.html
  files/zh-cn/web/css/min-width/index.html
  files/zh-cn/web/css/min/index.html
  files/zh-cn/web/css/minmax/index.html
  files/zh-cn/web/css/mix-blend-mode/index.html
Labels: l10n-zh

#5632 fix javascript mime type
  files/ko/web/http/basics_of_http/mime_types/common_types/index.html
Labels: l10n-ko

#6058 Update zh-CN Testing_strategies
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.html
Labels: l10n-zh

#5913 AutoCorrect files/zh-cn/web/api/mouseevent/
  files/zh-cn/web/api/mouseevent/altkey/index.html
  files/zh-cn/web/api/mouseevent/button/index.html
  files/zh-cn/web/api/mouseevent/buttons/index.html
  files/zh-cn/web/api/mouseevent/clientx/index.html
  files/zh-cn/web/api/mouseevent/clienty/index.html
  files/zh-cn/web/api/mouseevent/ctrlkey/index.html
  files/zh-cn/web/api/mouseevent/index.html
  files/zh-cn/web/api/mouseevent/initmouseevent/index.html
  files/zh-cn/web/api/mouseevent/metakey/index.html
  files/zh-cn/web/api/mouseevent/pagex/index.html
  files/zh-cn/web/api/mouseevent/x/index.html
Labels: l10n-zh

#5914 AutoCorrect files/zh-cn/web/api/media*/
  files/zh-cn/web/api/media_source_extensions_api/index.html
  files/zh-cn/web/api/media_streams_api/index.html
  files/zh-cn/web/api/mediacapabilities/encodinginfo/index.html
  files/zh-cn/web/api/mediadevices/devicechange_event/index.html
  files/zh-cn/web/api/mediadevices/getdisplaymedia/index.html
  files/zh-cn/web/api/mediadevices/getsupportedconstraints/index.html
  files/zh-cn/web/api/mediadevices/getusermedia/index.html
  files/zh-cn/web/api/mediadevices/index.html
  files/zh-cn/web/api/mediaelementaudiosourcenode/index.html
  files/zh-cn/web/api/mediakeysession/load/index.html
  files/zh-cn/web/api/mediaquerylist/addlistener/index.html
  files/zh-cn/web/api/mediaquerylist/index.html
  files/zh-cn/web/api/mediarecorder/audiobitspersecond/index.html
  files/zh-cn/web/api/mediarecorder/dataavailable_event/index.html
  files/zh-cn/web/api/mediarecorder/index.html
  files/zh-cn/web/api/mediarecorder/istypesupported/index.html
  files/zh-cn/web/api/mediarecorder/mediarecorder/index.html
  files/zh-cn/web/api/mediasession/index.html
  files/zh-cn/web/api/mediasession/setactionhandler/index.html
  files/zh-cn/web/api/mediasource/duration/index.html
  files/zh-cn/web/api/mediasource/index.html
  files/zh-cn/web/api/mediasource/mediasource/index.html
  files/zh-cn/web/api/mediasource/readystate/index.html
  files/zh-cn/web/api/mediastream/addtrack/index.html
  files/zh-cn/web/api/mediastream/getaudiotracks/index.html
  files/zh-cn/web/api/mediastream/id/index.html
  files/zh-cn/web/api/mediastream/index.html
  files/zh-cn/web/api/mediastream_recording_api/index.html
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.html
  files/zh-cn/web/api/mediastreamaudiosourcenode/index.html
  files/zh-cn/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.html
  files/zh-cn/web/api/mediastreamevent/index.html
  files/zh-cn/web/api/mediastreamtrack/getcapabilities/index.html
  files/zh-cn/web/api/mediastreamtrack/index.html
  files/zh-cn/web/api/mediastreamtrack/readystate/index.html
  files/zh-cn/web/api/mediastreamtrack/stop/index.html
Labels: l10n-zh

#5885 AutoCorrect files/zh-cn/web/api/webglrenderingcontext
  files/zh-cn/web/api/webglrenderingcontext/bindattriblocation/index.html
  files/zh-cn/web/api/webglrenderingcontext/bindbuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/bindframebuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/bindrenderbuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/bindtexture/index.html
  files/zh-cn/web/api/webglrenderingcontext/blendcolor/index.html
  files/zh-cn/web/api/webglrenderingcontext/blendequation/index.html
  files/zh-cn/web/api/webglrenderingcontext/blendfunc/index.html
  files/zh-cn/web/api/webglrenderingcontext/bufferdata/index.html
  files/zh-cn/web/api/webglrenderingcontext/canvas/index.html
  files/zh-cn/web/api/webglrenderingcontext/clear/index.html
  files/zh-cn/web/api/webglrenderingcontext/clearcolor/index.html
  files/zh-cn/web/api/webglrenderingcontext/cleardepth/index.html
  files/zh-cn/web/api/webglrenderingcontext/compileshader/index.html
  files/zh-cn/web/api/webglrenderingcontext/compressedteximage2d/index.html
  files/zh-cn/web/api/webglrenderingcontext/createframebuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/createprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/createrenderbuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/createshader/index.html
  files/zh-cn/web/api/webglrenderingcontext/cullface/index.html
  files/zh-cn/web/api/webglrenderingcontext/deletebuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/deleteframebuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/deleteprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/deleterenderbuffer/index.html
  files/zh-cn/web/api/webglrenderingcontext/deleteshader/index.html
  files/zh-cn/web/api/webglrenderingcontext/deletetexture/index.html
  files/zh-cn/web/api/webglrenderingcontext/detachshader/index.html
  files/zh-cn/web/api/webglrenderingcontext/drawelements/index.html
  files/zh-cn/web/api/webglrenderingcontext/enable/index.html
  files/zh-cn/web/api/webglrenderingcontext/enablevertexattribarray/index.html
  files/zh-cn/web/api/webglrenderingcontext/getattriblocation/index.html
  files/zh-cn/web/api/webglrenderingcontext/getcontextattributes/index.html
  files/zh-cn/web/api/webglrenderingcontext/getparameter/index.html
  files/zh-cn/web/api/webglrenderingcontext/getprograminfolog/index.html
  files/zh-cn/web/api/webglrenderingcontext/getshaderparameter/index.html
  files/zh-cn/web/api/webglrenderingcontext/getshadersource/index.html
  files/zh-cn/web/api/webglrenderingcontext/getsupportedextensions/index.html
  files/zh-cn/web/api/webglrenderingcontext/gettexparameter/index.html
  files/zh-cn/web/api/webglrenderingcontext/getuniform/index.html
  files/zh-cn/web/api/webglrenderingcontext/index.html
  files/zh-cn/web/api/webglrenderingcontext/iscontextlost/index.html
  files/zh-cn/web/api/webglrenderingcontext/isprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/linkprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/pixelstorei/index.html
  files/zh-cn/web/api/webglrenderingcontext/polygonoffset/index.html
  files/zh-cn/web/api/webglrenderingcontext/renderbufferstorage/index.html
  files/zh-cn/web/api/webglrenderingcontext/scissor/index.html
  files/zh-cn/web/api/webglrenderingcontext/shadersource/index.html
  files/zh-cn/web/api/webglrenderingcontext/teximage2d/index.html
  files/zh-cn/web/api/webglrenderingcontext/texparameter/index.html
  files/zh-cn/web/api/webglrenderingcontext/uniform/index.html
  files/zh-cn/web/api/webglrenderingcontext/uniformmatrix/index.html
  files/zh-cn/web/api/webglrenderingcontext/useprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/validateprogram/index.html
  files/zh-cn/web/api/webglrenderingcontext/vertexattrib/index.html
  files/zh-cn/web/api/webglrenderingcontext/vertexattribpointer/index.html
  files/zh-cn/web/api/webglrenderingcontext/viewport/index.html
Labels: l10n-zh

#5933 AutoCorrect files/zh-cn/web/api/d*/
  files/zh-cn/web/api/datatransfer/datatransfer/index.html
  files/zh-cn/web/api/datatransfer/dropeffect/index.md
  files/zh-cn/web/api/datatransfer/effectallowed/index.html
  files/zh-cn/web/api/datatransfer/files/index.html
  files/zh-cn/web/api/datatransfer/index.html
  files/zh-cn/web/api/datatransfer/items/index.html
  files/zh-cn/web/api/datatransfer/setdragimage/index.html
  files/zh-cn/web/api/datatransfer/types/index.html
  files/zh-cn/web/api/datatransferitem/getasfile/index.html
  files/zh-cn/web/api/datatransferitem/getasstring/index.html
  files/zh-cn/web/api/datatransferitem/index.html
  files/zh-cn/web/api/datatransferitem/kind/index.html
  files/zh-cn/web/api/datatransferitem/type/index.html
  files/zh-cn/web/api/datatransferitem/webkitgetasentry/index.html
  files/zh-cn/web/api/datatransferitemlist/index.html
  files/zh-cn/web/api/datatransferitemlist/length/index.html
  files/zh-cn/web/api/devicemotionevent/acceleration/index.html
  files/zh-cn/web/api/devicemotionevent/accelerationincludinggravity/index.html
  files/zh-cn/web/api/devicemotionevent/devicemotionevent/index.html
  files/zh-cn/web/api/devicemotionevent/index.html
  files/zh-cn/web/api/devicemotionevent/rotationrate/index.html
  files/zh-cn/web/api/devicemotioneventacceleration/index.html
  files/zh-cn/web/api/deviceorientationevent/absolute/index.html
  files/zh-cn/web/api/deviceorientationevent/alpha/index.html
  files/zh-cn/web/api/deviceorientationevent/beta/index.html
  files/zh-cn/web/api/deviceorientationevent/gamma/index.html
  files/zh-cn/web/api/deviceorientationevent/index.html
  files/zh-cn/web/api/document_object_model/examples/index.html
  files/zh-cn/web/api/document_object_model/how_to_create_a_dom_tree/index.html
  files/zh-cn/web/api/document_object_model/index.html
  files/zh-cn/web/api/document_object_model/introduction/index.html
  files/zh-cn/web/api/document_object_model/locating_dom_elements_using_selectors/index.html
  files/zh-cn/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.html
  files/zh-cn/web/api/document_object_model/using_the_w3c_dom_level_1_core/index.html
  files/zh-cn/web/api/document_object_model/whitespace/index.html
  files/zh-cn/web/api/documentfragment/index.html
  files/zh-cn/web/api/documentfragment/queryselector/index.html
  files/zh-cn/web/api/documentfragment/queryselectorall/index.html
  files/zh-cn/web/api/documenttype/index.html
  files/zh-cn/web/api/dragevent/datatransfer/index.html
  files/zh-cn/web/api/dragevent/index.html
Labels: l10n-zh

#6067 Fix inline code tag range
  files/zh-cn/web/api/canvas_api/tutorial/basic_usage/index.html
Labels: l10n-zh

#5886 AutoCorrect files/zh-cn/web/api/webgl_api
  files/zh-cn/web/api/webgl_api/basic_2d_animation_example/index.html
  files/zh-cn/web/api/webgl_api/by_example/basic_scissoring/index.html
  files/zh-cn/web/api/webgl_api/by_example/boilerplate_1/index.html
  files/zh-cn/web/api/webgl_api/by_example/canvas_size_and_webgl/index.html
  files/zh-cn/web/api/webgl_api/by_example/clearing_by_clicking/index.html
  files/zh-cn/web/api/webgl_api/by_example/clearing_with_colors/index.html
  files/zh-cn/web/api/webgl_api/by_example/color_masking/index.html
  files/zh-cn/web/api/webgl_api/by_example/detect_webgl/index.html
  files/zh-cn/web/api/webgl_api/by_example/hello_glsl/index.html
  files/zh-cn/web/api/webgl_api/by_example/index.html
  files/zh-cn/web/api/webgl_api/by_example/scissor_animation/index.html
  files/zh-cn/web/api/webgl_api/by_example/simple_color_animation/index.html
  files/zh-cn/web/api/webgl_api/constants/index.html
  files/zh-cn/web/api/webgl_api/data/index.html
  files/zh-cn/web/api/webgl_api/index.html
  files/zh-cn/web/api/webgl_api/matrix_math_for_the_web/index.html
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.html
  files/zh-cn/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/getting_started_with_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/index.html
  files/zh-cn/web/api/webgl_api/tutorial/lighting_in_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.html
  files/zh-cn/web/api/webgl_api/tutorial/using_textures_in_webgl/index.html
  files/zh-cn/web/api/webgl_api/types/index.html
  files/zh-cn/web/api/webgl_api/using_extensions/index.html
  files/zh-cn/web/api/webgl_api/webgl_best_practices/index.html
  files/zh-cn/web/api/webgl_api/webgl_model_view_projection/index.html
Labels: l10n-zh

#5891 AutoCorrect files/zh-cn/web/api/worker/
  files/zh-cn/web/api/worker/index.html
  files/zh-cn/web/api/worker/message_event/index.html
  files/zh-cn/web/api/worker/messageerror_event/index.html
  files/zh-cn/web/api/worker/postmessage/index.html
  files/zh-cn/web/api/worker/terminate/index.html
  files/zh-cn/web/api/worker/worker/index.html
Labels: l10n-zh

#5888 AutoCorrect files/zh-cn/web/api/performance*
  files/zh-cn/web/api/performance/clearmarks/index.html
  files/zh-cn/web/api/performance/getentries/index.html
  files/zh-cn/web/api/performance/getentriesbyname/index.html
  files/zh-cn/web/api/performance/mark/index.html
  files/zh-cn/web/api/performance/measure/index.html
  files/zh-cn/web/api/performance/now/index.html
  files/zh-cn/web/api/performance/resourcetimingbufferfull_event/index.html
  files/zh-cn/web/api/performance/timing/index.html
  files/zh-cn/web/api/performance_api/index.html
  files/zh-cn/web/api/performance_property/index.html
  files/zh-cn/web/api/performanceentry/duration/index.html
  files/zh-cn/web/api/performanceentry/entrytype/index.html
  files/zh-cn/web/api/performanceentry/index.html
  files/zh-cn/web/api/performanceentry/name/index.html
  files/zh-cn/web/api/performanceentry/tojson/index.html
  files/zh-cn/web/api/performancenavigation/index.html
  files/zh-cn/web/api/performancenavigationtiming/index.html
  files/zh-cn/web/api/performanceobserver/observe/index.html
  files/zh-cn/web/api/performanceobserver/performanceobserver/index.html
  files/zh-cn/web/api/performanceobserver/takerecords/index.html
  files/zh-cn/web/api/performanceresourcetiming/index.html
  files/zh-cn/web/api/performancetiming/connectend/index.html
  files/zh-cn/web/api/performancetiming/connectstart/index.html
  files/zh-cn/web/api/performancetiming/domainlookupend/index.html
  files/zh-cn/web/api/performancetiming/domainlookupstart/index.html
  files/zh-cn/web/api/performancetiming/domcomplete/index.html
  files/zh-cn/web/api/performancetiming/domcontentloadedeventend/index.html
  files/zh-cn/web/api/performancetiming/domcontentloadedeventstart/index.html
  files/zh-cn/web/api/performancetiming/dominteractive/index.html
  files/zh-cn/web/api/performancetiming/domloading/index.html
  files/zh-cn/web/api/performancetiming/fetchstart/index.html
  files/zh-cn/web/api/performancetiming/index.html
  files/zh-cn/web/api/performancetiming/loadeventend/index.html
  files/zh-cn/web/api/performancetiming/loadeventstart/index.html
  files/zh-cn/web/api/performancetiming/navigationstart/index.html
  files/zh-cn/web/api/performancetiming/redirectend/index.html
  files/zh-cn/web/api/performancetiming/redirectstart/index.html
  files/zh-cn/web/api/performancetiming/requeststart/index.html
  files/zh-cn/web/api/performancetiming/responseend/index.html
  files/zh-cn/web/api/performancetiming/responsestart/index.html
  files/zh-cn/web/api/performancetiming/secureconnectionstart/index.html
  files/zh-cn/web/api/performancetiming/unloadeventend/index.html
  files/zh-cn/web/api/performancetiming/unloadeventstart/index.html
Labels: l10n-zh

#5892 AutoCorrect files/zh-cn/web/api/webgl*/
  files/zh-cn/web/api/webgl2renderingcontext/beginquery/index.html
  files/zh-cn/web/api/webgl2renderingcontext/begintransformfeedback/index.html
  files/zh-cn/web/api/webgl2renderingcontext/bindbufferbase/index.html
  files/zh-cn/web/api/webgl2renderingcontext/createsampler/index.html
  files/zh-cn/web/api/webgl2renderingcontext/createvertexarray/index.html
  files/zh-cn/web/api/webgl2renderingcontext/drawbuffers/index.html
  files/zh-cn/web/api/webgl2renderingcontext/index.html
  files/zh-cn/web/api/webgl2renderingcontext/teximage3d/index.html
  files/zh-cn/web/api/webgl2renderingcontext/uniform/index.html
  files/zh-cn/web/api/webgl2renderingcontext/uniformmatrix/index.html
  files/zh-cn/web/api/webgl_lose_context/index.html
  files/zh-cn/web/api/webgl_lose_context/losecontext/index.html
  files/zh-cn/web/api/webglcontextevent/index.html
  files/zh-cn/web/api/webglprogram/index.html
  files/zh-cn/web/api/webglquery/index.html
  files/zh-cn/web/api/webglshader/index.html
  files/zh-cn/web/api/webglshaderprecisionformat/index.html
  files/zh-cn/web/api/webglsync/index.html
  files/zh-cn/web/api/webglvertexarrayobject/index.html
Labels: l10n-zh

#5893 AutoCorrect files/zh-cn/web/api/web*/
  files/zh-cn/web/api/web_animations_api/index.html
  files/zh-cn/web/api/web_animations_api/keyframe_formats/index.html
  files/zh-cn/web/api/web_animations_api/using_the_web_animations_api/index.html
  files/zh-cn/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.html
  files/zh-cn/web/api/web_audio_api/best_practices/index.html
  files/zh-cn/web/api/web_audio_api/index.html
  files/zh-cn/web/api/web_audio_api/using_web_audio_api/index.html
  files/zh-cn/web/api/web_audio_api/visualizations_with_web_audio_api/index.html
  files/zh-cn/web/api/web_audio_api/web_audio_spatialization_basics/index.html
  files/zh-cn/web/api/web_authentication_api/index.html
  files/zh-cn/web/api/web_crypto_api/index.html
  files/zh-cn/web/api/web_speech_api/index.html
  files/zh-cn/web/api/web_speech_api/using_the_web_speech_api/index.html
  files/zh-cn/web/api/web_storage_api/index.html
  files/zh-cn/web/api/web_storage_api/using_the_web_storage_api/index.html
  files/zh-cn/web/api/web_workers_api/functions_and_classes_available_to_workers/index.html
  files/zh-cn/web/api/web_workers_api/index.html
  files/zh-cn/web/api/web_workers_api/structured_clone_algorithm/index.html
  files/zh-cn/web/api/web_workers_api/using_web_workers/index.html
  files/zh-cn/web/api/webrtc_api/adapter.js/index.html
  files/zh-cn/web/api/webrtc_api/connectivity/index.html
  files/zh-cn/web/api/webrtc_api/index.html
  files/zh-cn/web/api/webrtc_api/protocols/index.html
  files/zh-cn/web/api/webrtc_api/session_lifetime/index.html
  files/zh-cn/web/api/webrtc_api/signaling_and_video_calling/index.html
  files/zh-cn/web/api/webrtc_api/simple_rtcdatachannel_sample/index.html
  files/zh-cn/web/api/webrtc_api/taking_still_photos/index.html
  files/zh-cn/web/api/webvr_api/concepts/index.html
  files/zh-cn/web/api/webvr_api/index.html
  files/zh-cn/web/api/webvr_api/using_the_webvr_api/index.html
  files/zh-cn/web/api/webvr_api/using_vr_controllers_with_webvr/index.html
  files/zh-cn/web/api/webvtt_api/index.html
  files/zh-cn/web/api/webxr_device_api/index.html
Labels: l10n-zh

#5894 AutoCorrect files/zh-cn/web/api/url*/
  files/zh-cn/web/api/url/createobjecturl/index.html
  files/zh-cn/web/api/url/hash/index.html
  files/zh-cn/web/api/url/index.html
  files/zh-cn/web/api/url/origin/index.html
  files/zh-cn/web/api/url/pathname/index.html
  files/zh-cn/web/api/url/port/index.html
  files/zh-cn/web/api/url/protocol/index.html
  files/zh-cn/web/api/url/search/index.html
  files/zh-cn/web/api/url/tojson/index.html
  files/zh-cn/web/api/url/url/index.html
  files/zh-cn/web/api/url/username/index.html
  files/zh-cn/web/api/url_api/index.html
  files/zh-cn/web/api/urlsearchparams/append/index.html
  files/zh-cn/web/api/urlsearchparams/entries/index.html
  files/zh-cn/web/api/urlsearchparams/foreach/index.html
  files/zh-cn/web/api/urlsearchparams/get/index.html
  files/zh-cn/web/api/urlsearchparams/getall/index.html
  files/zh-cn/web/api/urlsearchparams/index.html
  files/zh-cn/web/api/urlsearchparams/keys/index.html
  files/zh-cn/web/api/urlsearchparams/set/index.html
  files/zh-cn/web/api/urlsearchparams/sort/index.html
  files/zh-cn/web/api/urlsearchparams/tostring/index.html
  files/zh-cn/web/api/urlsearchparams/urlsearchparams/index.html
  files/zh-cn/web/api/urlsearchparams/values/index.html
Labels: l10n-zh

#5760 [ko] Edit ko/web/html/element/tfoot
  files/ko/web/html/element/tfoot/index.md
Labels: l10n-ko

#5920 AutoCorrect files/zh-cn/web/api/i*/
  files/zh-cn/web/api/idledeadline/index.html
  files/zh-cn/web/api/imagebitmap/index.html
  files/zh-cn/web/api/imagedata/index.html
  files/zh-cn/web/api/index.html
  files/zh-cn/web/api/indexeddb/index.html
  files/zh-cn/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.html
  files/zh-cn/web/api/indexeddb_api/checking_when_a_deadline_is_due/index.html
  files/zh-cn/web/api/indexeddb_api/index.html
  files/zh-cn/web/api/indexeddb_api/using_indexeddb/index.html
  files/zh-cn/web/api/inputevent/datatransfer/index.html
  files/zh-cn/web/api/inputevent/inputevent/index.html
  files/zh-cn/web/api/inputevent/iscomposing/index.html
  files/zh-cn/web/api/installevent/index.html
Labels: l10n-zh

#5917 AutoCorrect files/zh-cn/web/api/keyboardevent/
  files/zh-cn/web/api/keyboardevent/altkey/index.html
  files/zh-cn/web/api/keyboardevent/charcode/index.html
  files/zh-cn/web/api/keyboardevent/code/index.html
  files/zh-cn/web/api/keyboardevent/ctrlkey/index.html
  files/zh-cn/web/api/keyboardevent/index.html
  files/zh-cn/web/api/keyboardevent/initkeyevent/index.html
  files/zh-cn/web/api/keyboardevent/key/index.html
  files/zh-cn/web/api/keyboardevent/keyboardevent/index.html
  files/zh-cn/web/api/keyboardevent/keycode/index.html
  files/zh-cn/web/api/keyboardevent/location/index.html
  files/zh-cn/web/api/keyboardevent/metakey/index.html
  files/zh-cn/web/api/keyboardevent/shiftkey/index.html
Labels: l10n-zh

#5918 AutoCorrect files/zh-cn/web/api/intersection*/
  files/zh-cn/web/api/intersection_observer_api/index.html
  files/zh-cn/web/api/intersection_observer_api/timing_element_visibility/index.html
  files/zh-cn/web/api/intersectionobserver/index.html
  files/zh-cn/web/api/intersectionobserver/intersectionobserver/index.html
  files/zh-cn/web/api/intersectionobserver/observe/index.html
  files/zh-cn/web/api/intersectionobserver/rootmargin/index.html
  files/zh-cn/web/api/intersectionobserver/takerecords/index.html
  files/zh-cn/web/api/intersectionobserverentry/index.html
Labels: l10n-zh

#5919 AutoCorrect files/zh-cn/web/api/idb*/
  files/zh-cn/web/api/idbcursor/direction/index.html
  files/zh-cn/web/api/idbcursor/key/index.html
  files/zh-cn/web/api/idbcursorsync/index.html
  files/zh-cn/web/api/idbdatabase/createobjectstore/index.html
  files/zh-cn/web/api/idbdatabase/index.html
  files/zh-cn/web/api/idbdatabase/versionchange_event/index.html
  files/zh-cn/web/api/idbenvironment/index.html
  files/zh-cn/web/api/idbfactory/index.html
  files/zh-cn/web/api/idbfactory/open/index.html
  files/zh-cn/web/api/idbfilehandle/index.html
  files/zh-cn/web/api/idbindex/index.html
  files/zh-cn/web/api/idbkeyrange/index.html
  files/zh-cn/web/api/idbkeyrange/lowerbound/index.html
  files/zh-cn/web/api/idbobjectstore/add/index.html
  files/zh-cn/web/api/idbobjectstore/autoincrement/index.html
  files/zh-cn/web/api/idbobjectstore/get/index.html
  files/zh-cn/web/api/idbobjectstore/index.html
  files/zh-cn/web/api/idbobjectstore/indexnames/index.html
  files/zh-cn/web/api/idbobjectstore/keypath/index.html
  files/zh-cn/web/api/idbobjectstore/put/index.html
  files/zh-cn/web/api/idbrequest/index.html
  files/zh-cn/web/api/idbtransaction/index.html
Labels: l10n-zh

#5921 AutoCorrect files/zh-cn/web/api/htmlmediaelement/
  files/zh-cn/web/api/htmlmediaelement/audiotracks/index.html
  files/zh-cn/web/api/htmlmediaelement/autoplay/index.html
  files/zh-cn/web/api/htmlmediaelement/canplay_event/index.html
  files/zh-cn/web/api/htmlmediaelement/canplaythrough_event/index.html
  files/zh-cn/web/api/htmlmediaelement/canplaytype/index.html
  files/zh-cn/web/api/htmlmediaelement/controller/index.html
  files/zh-cn/web/api/htmlmediaelement/controls/index.html
  files/zh-cn/web/api/htmlmediaelement/controlslist/index.html
  files/zh-cn/web/api/htmlmediaelement/crossorigin/index.html
  files/zh-cn/web/api/htmlmediaelement/currentsrc/index.html
  files/zh-cn/web/api/htmlmediaelement/duration/index.html
  files/zh-cn/web/api/htmlmediaelement/ended_event/index.html
  files/zh-cn/web/api/htmlmediaelement/index.html
  files/zh-cn/web/api/htmlmediaelement/load/index.html
  files/zh-cn/web/api/htmlmediaelement/loadstart_event/index.html
  files/zh-cn/web/api/htmlmediaelement/networkstate/index.html
  files/zh-cn/web/api/htmlmediaelement/pause/index.html
  files/zh-cn/web/api/htmlmediaelement/pause_event/index.html
  files/zh-cn/web/api/htmlmediaelement/paused/index.html
  files/zh-cn/web/api/htmlmediaelement/play/index.html
  files/zh-cn/web/api/htmlmediaelement/playbackrate/index.html
  files/zh-cn/web/api/htmlmediaelement/playing_event/index.html
  files/zh-cn/web/api/htmlmediaelement/readystate/index.html
  files/zh-cn/web/api/htmlmediaelement/src/index.html
  files/zh-cn/web/api/htmlmediaelement/srcobject/index.html
  files/zh-cn/web/api/htmlmediaelement/timeupdate_event/index.html
  files/zh-cn/web/api/htmlmediaelement/videotracks/index.html
Labels: l10n-zh

#5923 AutoCorrect files/zh-cn/web/api/htmlimageelement/
  files/zh-cn/web/api/htmlimageelement/complete/index.html
  files/zh-cn/web/api/htmlimageelement/decode/index.html
  files/zh-cn/web/api/htmlimageelement/decoding/index.html
  files/zh-cn/web/api/htmlimageelement/image/index.html
  files/zh-cn/web/api/htmlimageelement/index.html
  files/zh-cn/web/api/htmlimageelement/loading/index.html
  files/zh-cn/web/api/htmlimageelement/referrerpolicy/index.html
  files/zh-cn/web/api/htmlimageelement/srcset/index.html
Labels: l10n-zh

#5922 AutoCorrect files/zh-cn/web/api/htmlelement/
  files/zh-cn/web/api/htmlelement/accesskey/index.html
  files/zh-cn/web/api/htmlelement/accesskeylabel/index.html
  files/zh-cn/web/api/htmlelement/animationcancel_event/index.html
  files/zh-cn/web/api/htmlelement/animationiteration_event/index.html
  files/zh-cn/web/api/htmlelement/contextmenu/index.html
  files/zh-cn/web/api/htmlelement/copy_event/index.html
  files/zh-cn/web/api/htmlelement/cut_event/index.html
  files/zh-cn/web/api/htmlelement/dir/index.html
  files/zh-cn/web/api/htmlelement/index.html
  files/zh-cn/web/api/htmlelement/innertext/index.html
  files/zh-cn/web/api/htmlelement/input_event/index.html
  files/zh-cn/web/api/htmlelement/lang/index.html
  files/zh-cn/web/api/htmlelement/nonce/index.html
  files/zh-cn/web/api/htmlelement/offsetheight/index.html
  files/zh-cn/web/api/htmlelement/offsetleft/index.html
  files/zh-cn/web/api/htmlelement/offsetwidth/index.html
  files/zh-cn/web/api/htmlelement/outertext/index.html
  files/zh-cn/web/api/htmlelement/paste_event/index.html
  files/zh-cn/web/api/htmlelement/pointercancel_event/index.html
  files/zh-cn/web/api/htmlelement/transitionend_event/index.html
Labels: l10n-zh

#5924 AutoCorrect files/zh-cn/web/api/htmlformelement/
  files/zh-cn/web/api/html_dom_api/microtask_guide/in_depth/index.html
  files/zh-cn/web/api/html_dom_api/microtask_guide/index.html
  files/zh-cn/web/api/html_drag_and_drop_api/drag_operations/index.html
  files/zh-cn/web/api/html_drag_and_drop_api/file_drag_and_drop/index.html
  files/zh-cn/web/api/html_drag_and_drop_api/index.html
  files/zh-cn/web/api/html_drag_and_drop_api/multiple_items/index.html
  files/zh-cn/web/api/html_drag_and_drop_api/recommended_drag_types/index.html
  files/zh-cn/web/api/htmlcanvaselement/capturestream/index.html
  files/zh-cn/web/api/htmlcanvaselement/getcontext/index.html
  files/zh-cn/web/api/htmlcanvaselement/height/index.html
  files/zh-cn/web/api/htmlcanvaselement/index.html
  files/zh-cn/web/api/htmlcanvaselement/mozopaque/index.html
  files/zh-cn/web/api/htmlcanvaselement/toblob/index.md
  files/zh-cn/web/api/htmlcanvaselement/todataurl/index.html
  files/zh-cn/web/api/htmlcanvaselement/transfercontroltooffscreen/index.html
  files/zh-cn/web/api/htmlcanvaselement/webglcontextlost_event/index.html
  files/zh-cn/web/api/htmlcanvaselement/width/index.html
  files/zh-cn/web/api/htmlformelement/action/index.html
  files/zh-cn/web/api/htmlformelement/elements/index.html
  files/zh-cn/web/api/htmlformelement/enctype/index.html
  files/zh-cn/web/api/htmlformelement/index.html
  files/zh-cn/web/api/htmlformelement/reportvalidity/index.html
  files/zh-cn/web/api/htmlformelement/reset/index.html
  files/zh-cn/web/api/htmlformelement/reset_event/index.html
  files/zh-cn/web/api/htmlformelement/submit/index.html
  files/zh-cn/web/api/htmlformelement/submit_event/index.html
Labels: l10n-zh

#5926 AutoCorrect files/zh-cn/web/api/headers/
  files/zh-cn/web/api/hashchangeevent/index.html
  files/zh-cn/web/api/headers/append/index.html
  files/zh-cn/web/api/headers/delete/index.html
  files/zh-cn/web/api/headers/entries/index.html
  files/zh-cn/web/api/headers/get/index.html
  files/zh-cn/web/api/headers/has/index.html
  files/zh-cn/web/api/headers/headers/index.html
  files/zh-cn/web/api/headers/index.html
  files/zh-cn/web/api/headers/keys/index.html
  files/zh-cn/web/api/headers/set/index.html
  files/zh-cn/web/api/headers/values/index.html
  files/zh-cn/web/api/history_api/example/index.html
  files/zh-cn/web/api/history_api/index.html
  files/zh-cn/web/api/history_api/working_with_the_history_api/index.html
Labels: l10n-zh

#5927 AutoCorrect files/zh-cn/web/api/global*/
  files/zh-cn/web/api/globaleventhandlers/index.html
  files/zh-cn/web/api/globaleventhandlers/onabort/index.html
  files/zh-cn/web/api/globaleventhandlers/onanimationcancel/index.html
  files/zh-cn/web/api/globaleventhandlers/onanimationend/index.html
  files/zh-cn/web/api/globaleventhandlers/onauxclick/index.html
  files/zh-cn/web/api/globaleventhandlers/onblur/index.html
  files/zh-cn/web/api/globaleventhandlers/oncancel/index.html
  files/zh-cn/web/api/globaleventhandlers/oncanplay/index.html
  files/zh-cn/web/api/globaleventhandlers/oncanplaythrough/index.html
  files/zh-cn/web/api/globaleventhandlers/onchange/index.html
  files/zh-cn/web/api/globaleventhandlers/oncontextmenu/index.html
  files/zh-cn/web/api/globaleventhandlers/ondblclick/index.html
  files/zh-cn/web/api/globaleventhandlers/ondrag/index.html
  files/zh-cn/web/api/globaleventhandlers/ondurationchange/index.html
  files/zh-cn/web/api/globaleventhandlers/onerror/index.html
  files/zh-cn/web/api/globaleventhandlers/onfocus/index.html
  files/zh-cn/web/api/globaleventhandlers/onformdata/index.html
  files/zh-cn/web/api/globaleventhandlers/ongotpointercapture/index.html
  files/zh-cn/web/api/globaleventhandlers/oninput/index.html
  files/zh-cn/web/api/globaleventhandlers/oninvalid/index.html
  files/zh-cn/web/api/globaleventhandlers/onkeydown/index.html
  files/zh-cn/web/api/globaleventhandlers/onkeypress/index.html
  files/zh-cn/web/api/globaleventhandlers/onkeyup/index.html
  files/zh-cn/web/api/globaleventhandlers/onload/index.html
  files/zh-cn/web/api/globaleventhandlers/onloadedmetadata/index.html
  files/zh-cn/web/api/globaleventhandlers/onloadend/index.html
  files/zh-cn/web/api/globaleventhandlers/onmousedown/index.html
  files/zh-cn/web/api/globaleventhandlers/onmouseenter/index.html
  files/zh-cn/web/api/globaleventhandlers/onmouseleave/index.html
  files/zh-cn/web/api/globaleventhandlers/onmousemove/index.html
  files/zh-cn/web/api/globaleventhandlers/onmouseout/index.html
  files/zh-cn/web/api/globaleventhandlers/onmouseover/index.html
  files/zh-cn/web/api/globaleventhandlers/onmouseup/index.html
  files/zh-cn/web/api/globaleventhandlers/onpause/index.html
  files/zh-cn/web/api/globaleventhandlers/onpointerdown/index.html
  files/zh-cn/web/api/globaleventhandlers/onpointerenter/index.html
  files/zh-cn/web/api/globaleventhandlers/onpointermove/index.html
  files/zh-cn/web/api/globaleventhandlers/onpointerout/index.html
  files/zh-cn/web/api/globaleventhandlers/onpointerup/index.html
  files/zh-cn/web/api/globaleventhandlers/onreset/index.html
  files/zh-cn/web/api/globaleventhandlers/onresize/index.html
  files/zh-cn/web/api/globaleventhandlers/onscroll/index.html
  files/zh-cn/web/api/globaleventhandlers/onselect/index.html
  files/zh-cn/web/api/globaleventhandlers/ontouchcancel/index.html
  files/zh-cn/web/api/globaleventhandlers/ontouchmove/index.html
  files/zh-cn/web/api/globaleventhandlers/ontouchstart/index.html
  files/zh-cn/web/api/globaleventhandlers/ontransitioncancel/index.html
Labels: l10n-zh

#6063 Update PR review companion to avoid error
  .github/workflows/pr-review-companion.yml
Labels: system

#5929 AutoCorrect files/zh-cn/web/api/event/
  files/zh-cn/web/api/event/bubbles/index.html
  files/zh-cn/web/api/event/cancelbubble/index.html
  files/zh-cn/web/api/event/composedpath/index.html
  files/zh-cn/web/api/event/currenttarget/index.html
  files/zh-cn/web/api/event/defaultprevented/index.html
  files/zh-cn/web/api/event/event/index.html
  files/zh-cn/web/api/event/eventphase/index.html
  files/zh-cn/web/api/event/index.html
  files/zh-cn/web/api/event/initevent/index.html
  files/zh-cn/web/api/event/istrusted/index.html
  files/zh-cn/web/api/event/originaltarget/index.html
  files/zh-cn/web/api/event/preventdefault/index.html
  files/zh-cn/web/api/event/srcelement/index.html
  files/zh-cn/web/api/event/stopimmediatepropagation/index.html
  files/zh-cn/web/api/event/target/index.html
  files/zh-cn/web/api/event/timestamp/index.html
  files/zh-cn/web/api/event/type/index.html
Labels: l10n-zh

#5931 AutoCorrect files/zh-cn/web/api/dom*/
  files/zh-cn/web/api/domerror/index.html
  files/zh-cn/web/api/domexception/code/index.html
  files/zh-cn/web/api/domexception/domexception/index.html
  files/zh-cn/web/api/domexception/index.html
  files/zh-cn/web/api/domhighrestimestamp/index.html
  files/zh-cn/web/api/domimplementation/createdocument/index.html
  files/zh-cn/web/api/domimplementation/createhtmldocument/index.html
  files/zh-cn/web/api/domimplementation/index.html
  files/zh-cn/web/api/dommatrix/index.html
  files/zh-cn/web/api/domparser/domparser/index.html
  files/zh-cn/web/api/domparser/index.html
  files/zh-cn/web/api/dompoint/dompoint/index.html
  files/zh-cn/web/api/dompoint/index.html
  files/zh-cn/web/api/domquad/index.html
  files/zh-cn/web/api/domstring/binary/index.html
  files/zh-cn/web/api/domstring/index.html
  files/zh-cn/web/api/domstringlist/index.html
  files/zh-cn/web/api/domtokenlist/add/index.html
  files/zh-cn/web/api/domtokenlist/contains/index.html
  files/zh-cn/web/api/domtokenlist/index.html
  files/zh-cn/web/api/domtokenlist/keys/index.html
  files/zh-cn/web/api/domtokenlist/length/index.html
  files/zh-cn/web/api/domtokenlist/remove/index.html
  files/zh-cn/web/api/domtokenlist/replace/index.html
  files/zh-cn/web/api/domtokenlist/toggle/index.html
Labels: l10n-zh

#6001 Work in #4618 | Translate: Main index.md
  files/es/web/javascript/reference/global_objects/symbol/index.html
  files/es/web/javascript/reference/global_objects/symbol/index.md
Labels: l10n-es

#5785 fix description about import rules
  files/ja/web/css/@import/index.md
Labels: l10n-ja

#6015 Update index.md
  files/ja/web/api/text/text/index.md
Labels: l10n-ja

#5896 AutoCorrect files/zh-cn/web/api/{u,v}*/
  files/zh-cn/web/api/ui_events/keyboard_event_key_values/index.html
  files/zh-cn/web/api/uievent/detail/index.html
  files/zh-cn/web/api/uievent/index.html
  files/zh-cn/web/api/uievent/ischar/index.html
  files/zh-cn/web/api/uievent/uievent/index.html
  files/zh-cn/web/api/usb/index.html
  files/zh-cn/web/api/user_timing_api/index.html
  files/zh-cn/web/api/usvstring/index.html
  files/zh-cn/web/api/validitystate/index.html
  files/zh-cn/web/api/vibration_api/index.html
  files/zh-cn/web/api/videoplaybackquality/totalvideoframes/index.html
  files/zh-cn/web/api/visualviewport/offsettop/index.html
  files/zh-cn/web/api/vrpose/index.html
  files/zh-cn/web/api/vrpose/timestamp/index.html
Labels: l10n-zh

#5897 AutoCorrect files/zh-cn/web/api/touch*/
  files/zh-cn/web/api/touch/clientx/index.html
  files/zh-cn/web/api/touch/clienty/index.html
  files/zh-cn/web/api/touch/force/index.html
  files/zh-cn/web/api/touch/identifier/index.html
  files/zh-cn/web/api/touch/index.html
  files/zh-cn/web/api/touch/pagex/index.html
  files/zh-cn/web/api/touch/pagey/index.html
  files/zh-cn/web/api/touch/radiusx/index.html
  files/zh-cn/web/api/touch/radiusy/index.html
  files/zh-cn/web/api/touch/rotationangle/index.html
  files/zh-cn/web/api/touch/screenx/index.html
  files/zh-cn/web/api/touch/screeny/index.html
  files/zh-cn/web/api/touch/touch/index.html
  files/zh-cn/web/api/touch_events/index.html
  files/zh-cn/web/api/touch_events/using_touch_events/index.html
  files/zh-cn/web/api/touchevent/changedtouches/index.html
  files/zh-cn/web/api/touchevent/index.html
  files/zh-cn/web/api/touchlist/index.html
Labels: l10n-zh

#5903 AutoCorrect files/zh-cn/web/api/rtc*/
  files/zh-cn/web/api/rtcdatachannel/index.html
  files/zh-cn/web/api/rtcpeerconnection/addicecandidate/index.html
  files/zh-cn/web/api/rtcpeerconnection/addstream_event/index.html
  files/zh-cn/web/api/rtcpeerconnection/addtrack/index.html
  files/zh-cn/web/api/rtcpeerconnection/cantrickleicecandidates/index.html
  files/zh-cn/web/api/rtcpeerconnection/createdatachannel/index.html
  files/zh-cn/web/api/rtcpeerconnection/createoffer/index.html
  files/zh-cn/web/api/rtcpeerconnection/currentlocaldescription/index.html
  files/zh-cn/web/api/rtcpeerconnection/datachannel_event/index.html
  files/zh-cn/web/api/rtcpeerconnection/getreceivers/index.html
  files/zh-cn/web/api/rtcpeerconnection/icecandidate_event/index.html
  files/zh-cn/web/api/rtcpeerconnection/iceconnectionstate/index.html
  files/zh-cn/web/api/rtcpeerconnection/icegatheringstate/index.html
  files/zh-cn/web/api/rtcpeerconnection/index.html
  files/zh-cn/web/api/rtcpeerconnection/peeridentity/index.html
  files/zh-cn/web/api/rtcpeerconnection/remotedescription/index.html
  files/zh-cn/web/api/rtcpeerconnection/removestream/index.html
  files/zh-cn/web/api/rtcpeerconnection/rtcpeerconnection/index.html
  files/zh-cn/web/api/rtcpeerconnection/setconfiguration/index.html
  files/zh-cn/web/api/rtcpeerconnection/setremotedescription/index.html
  files/zh-cn/web/api/rtcpeerconnection/track_event/index.html
  files/zh-cn/web/api/rtcsessiondescription/index.html
  files/zh-cn/web/api/rtcstatsreport/index.html
Labels: l10n-zh

#5904 AutoCorrect files/zh-cn/web/api/response/
  files/zh-cn/web/api/response/arraybuffer/index.html
  files/zh-cn/web/api/response/blob/index.html
  files/zh-cn/web/api/response/body/index.html
  files/zh-cn/web/api/response/bodyused/index.html
  files/zh-cn/web/api/response/clone/index.html
  files/zh-cn/web/api/response/error/index.html
  files/zh-cn/web/api/response/formdata/index.html
  files/zh-cn/web/api/response/headers/index.html
  files/zh-cn/web/api/response/index.html
  files/zh-cn/web/api/response/json/index.html
  files/zh-cn/web/api/response/ok/index.html
  files/zh-cn/web/api/response/redirected/index.html
  files/zh-cn/web/api/response/response/index.html
  files/zh-cn/web/api/response/status/index.html
  files/zh-cn/web/api/response/statustext/index.html
  files/zh-cn/web/api/response/text/index.html
  files/zh-cn/web/api/response/type/index.html
Labels: l10n-zh

#5898 AutoCorrect files/zh-cn/web/api/selection/
  files/zh-cn/web/api/selection/addrange/index.html
  files/zh-cn/web/api/selection/anchornode/index.html
  files/zh-cn/web/api/selection/anchoroffset/index.html
  files/zh-cn/web/api/selection/collapse/index.html
  files/zh-cn/web/api/selection/containsnode/index.html
  files/zh-cn/web/api/selection/focusnode/index.html
  files/zh-cn/web/api/selection/focusoffset/index.html
  files/zh-cn/web/api/selection/index.html
  files/zh-cn/web/api/selection/iscollapsed/index.html
  files/zh-cn/web/api/selection/modify/index.html
  files/zh-cn/web/api/selection/rangecount/index.html
  files/zh-cn/web/api/selection/removeallranges/index.html
  files/zh-cn/web/api/selection/removerange/index.html
  files/zh-cn/web/api/selection/selectallchildren/index.html
  files/zh-cn/web/api/selection/setbaseandextent/index.html
  files/zh-cn/web/api/selection/tostring/index.html
  files/zh-cn/web/api/selection/type/index.html
Labels: l10n-zh

#5905 AutoCorrect files/zh-cn/web/api/request/
  files/zh-cn/web/api/request/cache/index.html
  files/zh-cn/web/api/request/clone/index.html
  files/zh-cn/web/api/request/credentials/index.html
  files/zh-cn/web/api/request/headers/index.html
  files/zh-cn/web/api/request/index.html
  files/zh-cn/web/api/request/method/index.html
  files/zh-cn/web/api/request/mode/index.html
  files/zh-cn/web/api/request/request/index.html
Labels: l10n-zh

#5906 AutoCorrect files/zh-cn/web/api/range/
  files/zh-cn/web/api/range/clonecontents/index.html
  files/zh-cn/web/api/range/clonerange/index.html
  files/zh-cn/web/api/range/collapsed/index.html
  files/zh-cn/web/api/range/commonancestorcontainer/index.html
  files/zh-cn/web/api/range/extractcontents/index.html
  files/zh-cn/web/api/range/index.html
  files/zh-cn/web/api/range/insertnode/index.html
  files/zh-cn/web/api/range/range/index.html
  files/zh-cn/web/api/range/setend/index.html
  files/zh-cn/web/api/range/setstart/index.html
  files/zh-cn/web/api/range/setstartbefore/index.html
  files/zh-cn/web/api/range/startcontainer/index.html
  files/zh-cn/web/api/range/startoffset/index.html
Labels: l10n-zh

#5899 AutoCorrect files/zh-cn/web/api/serviceworker/
  files/zh-cn/web/api/serviceworker/index.html
  files/zh-cn/web/api/serviceworker/scripturl/index.html
  files/zh-cn/web/api/serviceworker/state/index.html
  files/zh-cn/web/api/serviceworker/statechange_event/index.html
Labels: l10n-zh

#5900 AutoCorrect files/zh-cn/web/api/storage*/
  files/zh-cn/web/api/storage/removeitem/index.html
  files/zh-cn/web/api/storage_api/index.html
  files/zh-cn/web/api/storageevent/index.html
  files/zh-cn/web/api/storagemanager/estimate/index.html
  files/zh-cn/web/api/storagemanager/index.html
  files/zh-cn/web/api/storagemanager/persist/index.html
  files/zh-cn/web/api/storagemanager/persisted/index.html
Labels: l10n-zh

#5901 AutoCorrect files/zh-cn/web/api/service_worker_api/
  files/zh-cn/web/api/service_worker_api/index.html
  files/zh-cn/web/api/service_worker_api/using_service_workers/index.html
  files/zh-cn/web/api/serviceworkercontainer/controller/index.html
  files/zh-cn/web/api/serviceworkercontainer/index.html
  files/zh-cn/web/api/serviceworkercontainer/register/index.html
Labels: l10n-zh

#5902 AutoCorrect files/zh-cn/web/api/s*/
  files/zh-cn/web/api/screen/colordepth/index.html
  files/zh-cn/web/api/screen/index.html
  files/zh-cn/web/api/screen/lockorientation/index.html
  files/zh-cn/web/api/screen/pixeldepth/index.html
  files/zh-cn/web/api/screen_capture_api/index.html
  files/zh-cn/web/api/screen_capture_api/using_screen_capture/index.html
  files/zh-cn/web/api/scriptprocessornode/index.html
  files/zh-cn/web/api/sensor_apis/index.html
  files/zh-cn/web/api/server-sent_events/index.html
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.html
  files/zh-cn/web/api/serviceworkerglobalscope/index.html
  files/zh-cn/web/api/serviceworkerregistration/unregister/index.html
  files/zh-cn/web/api/serviceworkerregistration/update/index.html
  files/zh-cn/web/api/settimeout/index.html
  files/zh-cn/web/api/shadowroot/delegatesfocus/index.html
  files/zh-cn/web/api/shadowroot/index.html
  files/zh-cn/web/api/shadowroot/innerhtml/index.html
  files/zh-cn/web/api/sharedworker/index.html
  files/zh-cn/web/api/sharedworker/sharedworker/index.html
  files/zh-cn/web/api/sourcebuffer/mode/index.html
  files/zh-cn/web/api/speechrecognitionresult/isfinal/index.html
  files/zh-cn/web/api/speechsynthesis/index.html
  files/zh-cn/web/api/speechsynthesisutterance/voice/index.html
  files/zh-cn/web/api/streams_api/concepts/index.html
  files/zh-cn/web/api/streams_api/index.html
  files/zh-cn/web/api/streams_api/using_readable_streams/index.html
  files/zh-cn/web/api/structuredclone/index.md
  files/zh-cn/web/api/stylesheet/href/index.html
  files/zh-cn/web/api/stylesheet/index.html
  files/zh-cn/web/api/stylesheetlist/index.html
  files/zh-cn/web/api/subtlecrypto/decrypt/index.html
  files/zh-cn/web/api/subtlecrypto/encrypt/index.html
  files/zh-cn/web/api/subtlecrypto/index.html
Labels: l10n-zh

#5907 AutoCorrect files/zh-cn/web/api/r*/
  files/zh-cn/web/api/readablestream/getreader/index.md
  files/zh-cn/web/api/readablestream/index.html
  files/zh-cn/web/api/readablestream/readablestream/index.html
  files/zh-cn/web/api/readablestreamdefaultreader/index.html
  files/zh-cn/web/api/renderingcontext/index.html
  files/zh-cn/web/api/resize_observer_api/index.html
  files/zh-cn/web/api/resizeobserver/index.html
  files/zh-cn/web/api/resizeobserver/observe/index.html
  files/zh-cn/web/api/resizeobserver/resizeobserver/index.html
  files/zh-cn/web/api/resizeobserverentry/index.html
  files/zh-cn/web/api/resource_timing_api/index.html
  files/zh-cn/web/api/resource_timing_api/using_the_resource_timing_api/index.html
Labels: l10n-zh

#5908 AutoCorrect files/zh-cn/web/api/p*/
  files/zh-cn/web/api/page_visibility_api/index.html
  files/zh-cn/web/api/path2d/index.html
  files/zh-cn/web/api/path2d/path2d/index.html
  files/zh-cn/web/api/payment_request_api/concepts/index.html
  files/zh-cn/web/api/payment_request_api/index.html
  files/zh-cn/web/api/periodicwave/index.html
  files/zh-cn/web/api/permissions/index.html
  files/zh-cn/web/api/permissions_api/using_the_permissions_api/index.html
  files/zh-cn/web/api/pictureinpicturewindow/index.html
  files/zh-cn/web/api/plugin/index.html
  files/zh-cn/web/api/pointer_events/index.html
  files/zh-cn/web/api/pointer_lock_api/index.html
  files/zh-cn/web/api/pointerevent/index.html
  files/zh-cn/web/api/promiserejectionevent/index.html
  files/zh-cn/web/api/promiserejectionevent/promise/index.html
  files/zh-cn/web/api/promiserejectionevent/promiserejectionevent/index.html
  files/zh-cn/web/api/push_api/index.html
  files/zh-cn/web/api/pushmanager/getsubscription/index.html
  files/zh-cn/web/api/pushmanager/index.html
Labels: l10n-zh

#5909 AutoCorrect files/zh-cn/web/api/o*/
  files/zh-cn/web/api/oes_vertex_array_object/index.html
  files/zh-cn/web/api/offlineaudiocontext/index.html
  files/zh-cn/web/api/offlineaudiocontext/offlineaudiocontext/index.html
  files/zh-cn/web/api/offlineaudiocontext/suspend/index.html
  files/zh-cn/web/api/offscreencanvas/height/index.html
  files/zh-cn/web/api/offscreencanvas/index.html
  files/zh-cn/web/api/offscreencanvas/offscreencanvas/index.html
  files/zh-cn/web/api/offscreencanvas/transfertoimagebitmap/index.html
  files/zh-cn/web/api/oscillatornode/frequency/index.html
  files/zh-cn/web/api/oscillatornode/index.html
  files/zh-cn/web/api/oscillatornode/oscillatornode/index.html
  files/zh-cn/web/api/oscillatornode/setperiodicwave/index.html
Labels: l10n-zh

#5910 AutoCorrect files/zh-cn/web/api/notification*/
  files/zh-cn/web/api/notification/actions/index.html
  files/zh-cn/web/api/notification/badge/index.html
  files/zh-cn/web/api/notification/body/index.html
  files/zh-cn/web/api/notification/click_event/index.html
  files/zh-cn/web/api/notification/close/index.html
  files/zh-cn/web/api/notification/data/index.html
  files/zh-cn/web/api/notification/dir/index.html
  files/zh-cn/web/api/notification/error_event/index.html
  files/zh-cn/web/api/notification/image/index.html
  files/zh-cn/web/api/notification/index.html
  files/zh-cn/web/api/notification/notification/index.html
  files/zh-cn/web/api/notification/permission/index.html
  files/zh-cn/web/api/notification/renotify/index.html
  files/zh-cn/web/api/notification/requestpermission/index.html
  files/zh-cn/web/api/notification/requireinteraction/index.html
  files/zh-cn/web/api/notification/show_event/index.html
  files/zh-cn/web/api/notificationevent/index.html
  files/zh-cn/web/api/notifications_api/index.html
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.html
  files/zh-cn/web/api/notifyaudioavailableevent/index.html
Labels: l10n-zh

#6081 Typofix: HTML entity in title
  files/fr/learn/html/index.md
Labels: l10n-fr

#6082 fix redirect for zh-CN
  files/zh-cn/_redirects.txt
Labels: l10n-zh

#6084 Corrección menor de ¿Qué es JavaScript?
  files/es/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-es

#6078 Fix typo
  files/ja/web/api/btoa/index.html
Labels: l10n-ja

#6016 fix mistranslation
  files/ja/web/javascript/reference/global_objects/object/setprototypeof/index.html
Labels: l10n-ja

#6071 Fixing typo
  files/es/web/javascript/reference/operators/function_star_/index.html
Labels: l10n-es

#6062 Operator precedence
  files/es/web/javascript/reference/operators/operator_precedence/index.html
  files/es/web/javascript/reference/operators/operator_precedence/index.md
Labels: l10n-es

#5860 chore: update actions/cache to v3
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#6087 Actualización de enlaces "http" a "https"
  files/es/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-es

#6091 Update index.html
  files/zh-cn/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.html
Labels: l10n-zh

#6080 Fix Typo
  files/ja/web/javascript/reference/operators/this/index.md
Labels: l10n-ja

#5928 AutoCorrect files/zh-cn/web/api/f*/
  files/zh-cn/web/api/fetch/index.html
  files/zh-cn/web/api/fetch_api/basic_concepts/index.html
  files/zh-cn/web/api/fetch_api/cross-global_fetch_usage/index.html
  files/zh-cn/web/api/fetch_api/index.html
  files/zh-cn/web/api/fetch_api/using_fetch/index.md
  files/zh-cn/web/api/fetchevent/index.html
  files/zh-cn/web/api/fetchevent/respondwith/index.html
  files/zh-cn/web/api/file/getasbinary/index.html
  files/zh-cn/web/api/file/getasdataurl/index.html
  files/zh-cn/web/api/file/getastext/index.html
  files/zh-cn/web/api/file/index.html
  files/zh-cn/web/api/file/lastmodified/index.html
  files/zh-cn/web/api/file/lastmodifieddate/index.html
  files/zh-cn/web/api/file/name/index.html
  files/zh-cn/web/api/file/webkitrelativepath/index.html
  files/zh-cn/web/api/file_and_directory_entries_api/firefox_support/index.html
  files/zh-cn/web/api/file_and_directory_entries_api/index.html
  files/zh-cn/web/api/file_and_directory_entries_api/introduction/index.html
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.html
  files/zh-cn/web/api/fileerror/index.html
  files/zh-cn/web/api/filelist/index.html
  files/zh-cn/web/api/filereader/abort_event/index.html
  files/zh-cn/web/api/filereader/filereader/index.html
  files/zh-cn/web/api/filereader/index.html
  files/zh-cn/web/api/filereader/readasdataurl/index.html
  files/zh-cn/web/api/filereader/readastext/index.html
  files/zh-cn/web/api/filereadersync/index.html
  files/zh-cn/web/api/filesystem/index.html
  files/zh-cn/web/api/focusevent/index.html
  files/zh-cn/web/api/fontface/index.html
  files/zh-cn/web/api/fontfaceset/check/index.html
  files/zh-cn/web/api/force_touch_events/index.html
  files/zh-cn/web/api/formdata/append/index.html
  files/zh-cn/web/api/formdata/delete/index.html
  files/zh-cn/web/api/formdata/entries/index.html
  files/zh-cn/web/api/formdata/formdata/index.html
  files/zh-cn/web/api/formdata/get/index.html
  files/zh-cn/web/api/formdata/has/index.html
  files/zh-cn/web/api/formdata/keys/index.html
  files/zh-cn/web/api/formdata/set/index.html
  files/zh-cn/web/api/formdata/using_formdata_objects/index.html
  files/zh-cn/web/api/formdata/values/index.html
  files/zh-cn/web/api/frame_timing_api/index.html
  files/zh-cn/web/api/fullscreen_api/guide/index.html
  files/zh-cn/web/api/fullscreen_api/index.html
Labels: l10n-zh

#6114 Correct files/zh-cn/web/http/basics_of_http/data_urls
  files/zh-cn/web/http/basics_of_http/data_urls/index.html
Labels: l10n-zh

#6113 Update HTTP Cookie title
  files/zh-cn/web/http/cookies/index.html
Labels: l10n-zh

#6115 Fix HTTP cache copywriting.
  files/zh-cn/web/http/caching/index.html
Labels: l10n-zh

#6068 add translation about ARIA Attributes
  files/zh-cn/web/accessibility/aria/attributes/index.md
Labels: l10n-zh

#5544 Initial translation for `Uint16Array()` constructor
  files/fr/web/javascript/reference/global_objects/uint16array/uint16array/index.md
Labels: l10n-fr

#5546 Initial translation for `InternalError()` constructor
  files/fr/web/javascript/reference/global_objects/internalerror/internalerror/index.md
Labels: l10n-fr

#5547 Initial translation for `ReferenceError()` constructor
  files/fr/web/javascript/reference/global_objects/referenceerror/referenceerror/index.md
Labels: l10n-fr

#5549 Initial translation for `TypeError()` constructor
  files/fr/web/javascript/reference/global_objects/typeerror/typeerror/index.md
Labels: l10n-fr

#6118 Fix duplicated sentence
  files/fr/learn/css/css_layout/responsive_design/index.md
Labels: l10n-fr

#6096 AutoCorrect files/zh-cn/webassembly
  files/zh-cn/webassembly/c_to_wasm/index.html
  files/zh-cn/webassembly/caching_modules/index.html
  files/zh-cn/webassembly/concepts/index.html
  files/zh-cn/webassembly/exported_functions/index.html
  files/zh-cn/webassembly/index.html
  files/zh-cn/webassembly/loading_and_running/index.html
  files/zh-cn/webassembly/rust_to_wasm/index.html
  files/zh-cn/webassembly/text_format_to_wasm/index.html
  files/zh-cn/webassembly/understanding_the_text_format/index.html
  files/zh-cn/webassembly/using_the_javascript_api/index.html
Labels: l10n-zh

#6046 Microtask_guide で壊れていた構文を修正
  files/ja/web/api/html_dom_api/microtask_guide/index.md
Labels: l10n-ja

#5668 Remove `{{DOM0}}` from `fr`
  files/fr/web/api/element/scrollleft/index.md
  files/fr/web/api/globaleventhandlers/onblur/index.md
  files/fr/web/api/globaleventhandlers/onchange/index.md
  files/fr/web/api/globaleventhandlers/ondblclick/index.md
  files/fr/web/api/globaleventhandlers/onfocus/index.md
  files/fr/web/api/globaleventhandlers/onkeydown/index.md
  files/fr/web/api/globaleventhandlers/onkeypress/index.md
  files/fr/web/api/globaleventhandlers/onmousedown/index.md
  files/fr/web/api/globaleventhandlers/onmousemove/index.md
  files/fr/web/api/globaleventhandlers/onmouseout/index.md
  files/fr/web/api/globaleventhandlers/onmouseup/index.md
  files/fr/web/api/globaleventhandlers/onresize/index.md
  files/fr/web/api/htmlelement/offsetparent/index.md
  files/fr/web/api/htmlelement/offsettop/index.md
  files/fr/web/api/window/alert/index.md
  files/fr/web/api/window/confirm/index.md
  files/fr/web/api/window/dump/index.md
  files/fr/web/api/window/fullscreen/index.md
  files/fr/web/api/window/length/index.md
  files/fr/web/api/window/open/index.md
  files/fr/web/api/window/opendialog/index.md
  files/fr/web/api/window/opener/index.md
  files/fr/web/api/window/parent/index.md
  files/fr/web/api/window/scrollto/index.md
Labels: l10n-fr

#6012 タイトルしか翻訳されていない conflicting の文書を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/learn/index.html
  files/ja/conflicting/learn_5c079fa29d8d329cb43586076f0bb7bf/index.html
Labels: l10n-ja

#6056 Fix broken links
  files/ja/web/javascript/guide/modules/index.html
Labels: l10n-ja

#6089 Firefox 101 for developersを翻訳
  files/ja/mozilla/firefox/releases/101/index.md
Labels: l10n-ja

#6098 AutoCorrect files/zh-cn/games
  files/zh-cn/games/anatomy/index.html
  files/zh-cn/games/examples/index.html
  files/zh-cn/games/index.html
  files/zh-cn/games/introduction/index.html
  files/zh-cn/games/introduction_to_html5_game_development/index.html
  files/zh-cn/games/publishing_games/game_distribution/index.html
  files/zh-cn/games/publishing_games/game_monetization/index.html
  files/zh-cn/games/publishing_games/game_promotion/index.html
  files/zh-cn/games/publishing_games/index.html
  files/zh-cn/games/techniques/2d_collision_detection/index.html
  files/zh-cn/games/techniques/3d_collision_detection/index.html
  files/zh-cn/games/techniques/3d_on_the_web/basic_theory/index.html
  files/zh-cn/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.html
  files/zh-cn/games/techniques/3d_on_the_web/glsl_shaders/index.html
  files/zh-cn/games/techniques/3d_on_the_web/index.html
  files/zh-cn/games/techniques/async_scripts/index.html
  files/zh-cn/games/techniques/control_mechanisms/mobile_touch/index.html
  files/zh-cn/games/techniques/controls_gamepad_api/index.html
  files/zh-cn/games/techniques/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/animations_and_tweens/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/bounce_off_the_walls/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/build_the_brick_field/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/buttons/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/collision_detection/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/extra_lives/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/game_over/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/initialize_the_framework/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/load_the_assets_and_print_them_on_screen/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/move_the_ball/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/physics/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/player_paddle_and_controls/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/randomizing_gameplay/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/scaling/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/the_score/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_phaser/win_the_game/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.html
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.html
  files/zh-cn/games/tutorials/html5_gamedev_phaser_device_orientation/index.html
Labels: l10n-zh

#5855 [ko] Translate ko/web/api/KeyboardEvent
  files/ko/web/api/keyboardevent/index.md
Labels: l10n-ko

#6137 Update index.md
  files/ko/web/javascript/reference/global_objects/webassembly/global/index.md
Labels: l10n-ko

#6151 Revise the translation of article titles to maintain consistency
  files/zh-cn/learn/javascript/asynchronous/index.md
Labels: l10n-zh

#6150 Modify the description of 1pc
  files/es/learn/css/building_blocks/values_and_units/index.html
Labels: l10n-es

#6112 AutoCorrect files/zh-cn/mozilla/firefox
  files/zh-cn/mozilla/firefox/experimental_features/index.html
  files/zh-cn/mozilla/firefox/index.html
  files/zh-cn/mozilla/firefox/releases/1.5/using_firefox_1.5_caching/index.html
  files/zh-cn/mozilla/firefox/releases/14/index.html
  files/zh-cn/mozilla/firefox/releases/15/index.html
  files/zh-cn/mozilla/firefox/releases/16/index.html
  files/zh-cn/mozilla/firefox/releases/18/index.html
  files/zh-cn/mozilla/firefox/releases/19/index.html
  files/zh-cn/mozilla/firefox/releases/19/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/20/index.html
  files/zh-cn/mozilla/firefox/releases/21/index.html
  files/zh-cn/mozilla/firefox/releases/21/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/22/index.html
  files/zh-cn/mozilla/firefox/releases/24/index.html
  files/zh-cn/mozilla/firefox/releases/24/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/25/index.html
  files/zh-cn/mozilla/firefox/releases/25/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/26/index.html
  files/zh-cn/mozilla/firefox/releases/27/index.html
  files/zh-cn/mozilla/firefox/releases/28/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/3.6/index.html
  files/zh-cn/mozilla/firefox/releases/3/index.html
  files/zh-cn/mozilla/firefox/releases/3/site_compatibility/index.html
  files/zh-cn/mozilla/firefox/releases/3/updating_extensions/index.html
  files/zh-cn/mozilla/firefox/releases/31/index.html
  files/zh-cn/mozilla/firefox/releases/33/index.html
  files/zh-cn/mozilla/firefox/releases/41/index.html
  files/zh-cn/mozilla/firefox/releases/59/index.html
  files/zh-cn/mozilla/firefox/releases/65/index.html
  files/zh-cn/mozilla/firefox/releases/78/index.html
  files/zh-cn/mozilla/firefox/releases/index.html
Labels: l10n-zh

#6143 make the translation more comprehensible
  files/zh-cn/web/api/window/unhandledrejection_event/index.html
Labels: l10n-zh

#6072 translate few words(zh-cn)
  files/zh-cn/web/html/element/heading_elements/index.html
Labels: l10n-zh

#2729 Update index.html
  files/zh-cn/web/api/node/insertbefore/index.html
Labels: l10n-zh

#6099 AutoCorrect files/zh-cn/glossary/{a,b,c}*
  files/zh-cn/glossary/ajax/index.html
  files/zh-cn/glossary/algorithm/index.html
  files/zh-cn/glossary/alpn/index.html
  files/zh-cn/glossary/api/index.html
  files/zh-cn/glossary/apple_safari/index.html
  files/zh-cn/glossary/arpa/index.html
  files/zh-cn/glossary/ascii/index.html
  files/zh-cn/glossary/asynchronous/index.html
  files/zh-cn/glossary/attribute/index.html
  files/zh-cn/glossary/bandwidth/index.html
  files/zh-cn/glossary/base64/index.html
  files/zh-cn/glossary/baseline/index.html
  files/zh-cn/glossary/bezier_curve/index.html
  files/zh-cn/glossary/bidi/index.html
  files/zh-cn/glossary/bigint/index.html
  files/zh-cn/glossary/blink/index.html
  files/zh-cn/glossary/block/css/index.html
  files/zh-cn/glossary/block/index.html
  files/zh-cn/glossary/block/scripting/index.html
  files/zh-cn/glossary/block_cipher_mode_of_operation/index.html
  files/zh-cn/glossary/boolean/index.html
  files/zh-cn/glossary/cache/index.html
  files/zh-cn/glossary/canvas/index.html
  files/zh-cn/glossary/card_sorting/index.html
  files/zh-cn/glossary/cdn/index.html
  files/zh-cn/glossary/certified/index.html
  files/zh-cn/glossary/challenge/index.html
  files/zh-cn/glossary/character_set/index.html
  files/zh-cn/glossary/class/index.html
  files/zh-cn/glossary/code_splitting/index.html
  files/zh-cn/glossary/compile/index.html
  files/zh-cn/glossary/continuous_media/index.html
  files/zh-cn/glossary/control_flow/index.html
  files/zh-cn/glossary/copyleft/index.html
  files/zh-cn/glossary/cors/index.html
  files/zh-cn/glossary/crawler/index.html
  files/zh-cn/glossary/crlf/index.html
  files/zh-cn/glossary/cross-site_scripting/index.html
  files/zh-cn/glossary/crud/index.html
  files/zh-cn/glossary/csrf/index.html
  files/zh-cn/glossary/css/index.html
  files/zh-cn/glossary/css_preprocessor/index.html
  files/zh-cn/glossary/css_selector/index.html
  files/zh-cn/glossary/cssom/index.html
Labels: l10n-zh

#6157 Remove the translation note
  files/zh-cn/web/javascript/guide/working_with_objects/index.html
Labels: l10n-zh

#6159 Update index.html
  files/zh-cn/web/javascript/reference/statements/function/index.html
Labels: l10n-zh

#6102 AutoCorrect files/zh-cn/glossary/{j,k,h,l,m}*
  files/zh-cn/glossary/hash/index.html
  files/zh-cn/glossary/head/index.html
  files/zh-cn/glossary/hoisting/index.html
  files/zh-cn/glossary/hsts/index.html
  files/zh-cn/glossary/html/index.html
  files/zh-cn/glossary/html5/index.html
  files/zh-cn/glossary/http/index.html
  files/zh-cn/glossary/http_2/index.html
  files/zh-cn/glossary/http_3/index.html
  files/zh-cn/glossary/http_header/index.html
  files/zh-cn/glossary/https/index.html
  files/zh-cn/glossary/hyperlink/index.html
  files/zh-cn/glossary/hypertext/index.html
  files/zh-cn/glossary/javascript/index.html
  files/zh-cn/glossary/jpeg/index.html
  files/zh-cn/glossary/json/index.html
  files/zh-cn/glossary/keyword/index.html
  files/zh-cn/glossary/latency/index.html
  files/zh-cn/glossary/ligature/index.html
  files/zh-cn/glossary/main_axis/index.html
  files/zh-cn/glossary/metadata/index.html
  files/zh-cn/glossary/method/index.html
  files/zh-cn/glossary/mime_type/index.html
  files/zh-cn/glossary/mitm/index.html
  files/zh-cn/glossary/mixin/index.html
  files/zh-cn/glossary/mvc/index.html
Labels: l10n-zh

#6162 Update the classes doc
  files/zh-cn/web/javascript/reference/classes/index.html
Labels: l10n-zh

#6125 moving aria-attributes document to new section
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/web/accessibility/aria/attributes/aria-hidden/index.html
  files/zh-cn/web/accessibility/aria/attributes/aria-label/index.html
  files/zh-cn/web/accessibility/aria/attributes/aria-labelledby/index.html
Labels: l10n-zh

#6100 AutoCorrect files/zh-cn/glossary/{d,e,f}*
  files/zh-cn/glossary/database/index.html
  files/zh-cn/glossary/descriptor_(css)/index.html
  files/zh-cn/glossary/developer_tools/index.html
  files/zh-cn/glossary/dhtml/index.html
  files/zh-cn/glossary/digital_certificate/index.html
  files/zh-cn/glossary/dns/index.html
  files/zh-cn/glossary/doctype/index.html
  files/zh-cn/glossary/document_environment/index.html
  files/zh-cn/glossary/dom/index.html
  files/zh-cn/glossary/domain/index.html
  files/zh-cn/glossary/domain_sharding/index.html
  files/zh-cn/glossary/dos_attack/index.html
  files/zh-cn/glossary/dynamic_programming_language/index.html
  files/zh-cn/glossary/ecmascript/index.html
  files/zh-cn/glossary/encapsulation/index.html
  files/zh-cn/glossary/endianness/index.html
  files/zh-cn/glossary/engine/index.html
  files/zh-cn/glossary/entity/index.html
  files/zh-cn/glossary/expando/index.html
  files/zh-cn/glossary/falsy/index.html
  files/zh-cn/glossary/fetch_directive/index.html
  files/zh-cn/glossary/firewall/index.html
  files/zh-cn/glossary/flex/index.html
  files/zh-cn/glossary/flex_container/index.html
  files/zh-cn/glossary/flex_item/index.html
  files/zh-cn/glossary/flexbox/index.html
  files/zh-cn/glossary/forbidden_header_name/index.html
  files/zh-cn/glossary/ftp/index.html
  files/zh-cn/glossary/function/index.html
Labels: l10n-zh

#6163 fix<zh-ch>: Delete redundant characters
  files/zh-cn/web/javascript/reference/template_literals/index.html
Labels: l10n-zh

#6076 Work in #4618 | Add: @@toprimitive section
  files/es/web/javascript/reference/global_objects/symbol/@@toprimitive/index.md
Labels: l10n-es

#6029 {{obsolete_inline}} を使用している conflicting/orphaned の文書を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mdn/contribute/markdown_in_mdn/index.html
  files/ja/orphaned/web/api/svgtests/index.html
Labels: l10n-ja

#6044 DOMObject を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/web/api/domobject/index.html
Labels: l10n-ja

#6034 image-orientation プロパティの記事を更新
  files/ja/web/css/image-orientation/index.md
Labels: l10n-ja

#6101 AutoCorrect files/zh-cn/glossary/{g,h,i}*
  files/zh-cn/glossary/garbage_collection/index.html
  files/zh-cn/glossary/gecko/index.html
  files/zh-cn/glossary/general_header/index.html
  files/zh-cn/glossary/gif/index.html
  files/zh-cn/glossary/git/index.html
  files/zh-cn/glossary/global_object/index.html
  files/zh-cn/glossary/google_chrome/index.html
  files/zh-cn/glossary/gpu/index.html
  files/zh-cn/glossary/graceful_degradation/index.html
  files/zh-cn/glossary/grid/index.html
  files/zh-cn/glossary/grid_areas/index.html
  files/zh-cn/glossary/grid_axis/index.html
  files/zh-cn/glossary/grid_cell/index.html
  files/zh-cn/glossary/grid_column/index.html
  files/zh-cn/glossary/grid_container/index.html
  files/zh-cn/glossary/grid_lines/index.html
  files/zh-cn/glossary/grid_rows/index.html
  files/zh-cn/glossary/grid_tracks/index.html
  files/zh-cn/glossary/guard/index.html
  files/zh-cn/glossary/gutters/index.html
  files/zh-cn/glossary/gzip_compression/index.html
  files/zh-cn/glossary/i18n/index.html
  files/zh-cn/glossary/ice/index.html
  files/zh-cn/glossary/ide/index.html
  files/zh-cn/glossary/idempotent/index.html
  files/zh-cn/glossary/iife/index.html
  files/zh-cn/glossary/indexeddb/index.html
  files/zh-cn/glossary/information_architecture/index.html
  files/zh-cn/glossary/input_method_editor/index.html
  files/zh-cn/glossary/ip_address/index.html
  files/zh-cn/glossary/irc/index.html
  files/zh-cn/glossary/isp/index.html
Labels: l10n-zh

#6104 AutoCorrect files/zh-cn/glossary/{r,s,t,u}*
  files/zh-cn/glossary/rail/index.html
  files/zh-cn/glossary/reflow/index.html
  files/zh-cn/glossary/regular_expression/index.html
  files/zh-cn/glossary/request_header/index.html
  files/zh-cn/glossary/response_header/index.html
  files/zh-cn/glossary/safe/index.html
  files/zh-cn/glossary/scope/index.html
  files/zh-cn/glossary/sdp/index.html
  files/zh-cn/glossary/self-executing_anonymous_function/index.html
  files/zh-cn/glossary/semantics/index.html
  files/zh-cn/glossary/seo/index.html
  files/zh-cn/glossary/signature/function/index.html
  files/zh-cn/glossary/simple_header/index.html
  files/zh-cn/glossary/simple_response_header/index.html
  files/zh-cn/glossary/sloppy_mode/index.html
  files/zh-cn/glossary/smtp/index.html
  files/zh-cn/glossary/speculative_parsing/index.html
  files/zh-cn/glossary/sql/index.html
  files/zh-cn/glossary/string/index.html
  files/zh-cn/glossary/stun/index.html
  files/zh-cn/glossary/svg/index.html
  files/zh-cn/glossary/svn/index.html
  files/zh-cn/glossary/symbol/index.html
  files/zh-cn/glossary/tag/index.html
  files/zh-cn/glossary/tcp/index.html
  files/zh-cn/glossary/tcp_slow_start/index.html
  files/zh-cn/glossary/three_js/index.html
  files/zh-cn/glossary/time_to_first_byte/index.html
  files/zh-cn/glossary/tls/index.html
  files/zh-cn/glossary/tree_shaking/index.html
  files/zh-cn/glossary/turn/index.html
  files/zh-cn/glossary/type/index.html
  files/zh-cn/glossary/type_conversion/index.html
  files/zh-cn/glossary/udp/index.md
  files/zh-cn/glossary/ui/index.html
  files/zh-cn/glossary/unicode/index.html
  files/zh-cn/glossary/uri/index.html
  files/zh-cn/glossary/url/index.html
  files/zh-cn/glossary/urn/index.html
  files/zh-cn/glossary/user_agent/index.html
  files/zh-cn/glossary/utf-8/index.html
  files/zh-cn/glossary/ux/index.html
Labels: l10n-zh

#6107 AutoCorrect files/zh-cn/learn/{f,g,h,i}*
  files/zh-cn/learn/forms/advanced_form_styling/index.html
  files/zh-cn/learn/forms/basic_native_form_controls/index.md
  files/zh-cn/learn/forms/form_validation/index.html
  files/zh-cn/learn/forms/how_to_build_custom_form_controls/example_2/index.html
  files/zh-cn/learn/forms/how_to_build_custom_form_controls/index.html
  files/zh-cn/learn/forms/how_to_structure_a_web_form/index.html
  files/zh-cn/learn/forms/html_forms_in_legacy_browsers/index.html
  files/zh-cn/learn/forms/index.md
  files/zh-cn/learn/forms/property_compatibility_table_for_form_controls/index.html
  files/zh-cn/learn/forms/sending_and_retrieving_form_data/index.html
  files/zh-cn/learn/forms/sending_forms_through_javascript/index.html
  files/zh-cn/learn/forms/styling_web_forms/index.html
  files/zh-cn/learn/forms/your_first_form/index.html
  files/zh-cn/learn/front-end_web_developer/index.md
  files/zh-cn/learn/getting_started_with_the_web/css_basics/index.html
  files/zh-cn/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/zh-cn/learn/getting_started_with_the_web/how_the_web_works/index.html
  files/zh-cn/learn/getting_started_with_the_web/html_basics/index.html
  files/zh-cn/learn/getting_started_with_the_web/index.md
  files/zh-cn/learn/getting_started_with_the_web/installing_basic_software/index.md
  files/zh-cn/learn/getting_started_with_the_web/javascript_basics/index.html
  files/zh-cn/learn/getting_started_with_the_web/publishing_your_website/index.html
  files/zh-cn/learn/getting_started_with_the_web/the_web_and_web_standards/index.html
  files/zh-cn/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
  files/zh-cn/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.html
  files/zh-cn/learn/html/howto/author_fast-loading_html_pages/index.html
  files/zh-cn/learn/html/howto/index.html
  files/zh-cn/learn/html/howto/use_data_attributes/index.html
  files/zh-cn/learn/html/index.md
  files/zh-cn/learn/html/introduction_to_html/advanced_text_formatting/index.html
  files/zh-cn/learn/html/introduction_to_html/creating_hyperlinks/index.html
  files/zh-cn/learn/html/introduction_to_html/debugging_html/index.html
  files/zh-cn/learn/html/introduction_to_html/document_and_website_structure/index.html
  files/zh-cn/learn/html/introduction_to_html/getting_started/index.html
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.html
  files/zh-cn/learn/html/introduction_to_html/index.md
  files/zh-cn/learn/html/introduction_to_html/marking_up_a_letter/index.md
  files/zh-cn/learn/html/introduction_to_html/structuring_a_page_of_content/index.html
  files/zh-cn/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/mozilla_splash_page/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.html
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/zh-cn/learn/html/tables/advanced/index.html
  files/zh-cn/learn/html/tables/basics/index.html
  files/zh-cn/learn/html/tables/index.html
  files/zh-cn/learn/html/tables/structuring_planet_data/index.html
  files/zh-cn/learn/index.md
Labels: l10n-zh

#6139 [zh-tw] 翻譯多條運算子的內容
  files/zh-tw/web/javascript/reference/operators/addition/index.md
  files/zh-tw/web/javascript/reference/operators/decrement/index.md
  files/zh-tw/web/javascript/reference/operators/division/index.md
  files/zh-tw/web/javascript/reference/operators/exponentiation/index.md
  files/zh-tw/web/javascript/reference/operators/increment/index.md
  files/zh-tw/web/javascript/reference/operators/multiplication/index.md
  files/zh-tw/web/javascript/reference/operators/remainder/index.md
  files/zh-tw/web/javascript/reference/operators/subtraction/index.md
  files/zh-tw/web/javascript/reference/operators/unary_negation/index.md
  files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
Labels: l10n-zh

#6108 AutoCorrect files/zh-cn/learn/javascript
  files/zh-cn/learn/javascript/asynchronous/index.md
  files/zh-cn/learn/javascript/asynchronous/introducing/index.md
  files/zh-cn/learn/javascript/asynchronous/introducing_workers/index.md
  files/zh-cn/learn/javascript/asynchronous/promises/index.html
  files/zh-cn/learn/javascript/building_blocks/build_your_own_function/index.html
  files/zh-cn/learn/javascript/building_blocks/conditionals/index.html
  files/zh-cn/learn/javascript/building_blocks/events/index.html
  files/zh-cn/learn/javascript/building_blocks/functions/index.html
  files/zh-cn/learn/javascript/building_blocks/index.html
  files/zh-cn/learn/javascript/building_blocks/looping_code/index.html
  files/zh-cn/learn/javascript/building_blocks/return_values/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/client-side_storage/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/drawing_graphics/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/fetching_data/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/introduction/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/manipulating_documents/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/third_party_apis/index.html
  files/zh-cn/learn/javascript/client-side_web_apis/video_and_audio_apis/index.html
  files/zh-cn/learn/javascript/first_steps/a_first_splash/index.html
  files/zh-cn/learn/javascript/first_steps/arrays/index.html
  files/zh-cn/learn/javascript/first_steps/math/index.html
  files/zh-cn/learn/javascript/first_steps/silly_story_generator/index.html
  files/zh-cn/learn/javascript/first_steps/strings/index.html
  files/zh-cn/learn/javascript/first_steps/test_your_skills_colon__variables/index.md
  files/zh-cn/learn/javascript/first_steps/useful_string_methods/index.html
  files/zh-cn/learn/javascript/first_steps/variables/index.html
  files/zh-cn/learn/javascript/first_steps/what_is_javascript/index.html
  files/zh-cn/learn/javascript/first_steps/what_went_wrong/index.html
  files/zh-cn/learn/javascript/howto/index.html
  files/zh-cn/learn/javascript/index.html
  files/zh-cn/learn/javascript/objects/adding_bouncing_balls_features/index.html
  files/zh-cn/learn/javascript/objects/basics/index.html
  files/zh-cn/learn/javascript/objects/classes_in_javascript/index.html
  files/zh-cn/learn/javascript/objects/index.html
  files/zh-cn/learn/javascript/objects/json/index.html
  files/zh-cn/learn/javascript/objects/object_building_practice/index.html
  files/zh-cn/learn/javascript/objects/object_prototypes/index.html
  files/zh-cn/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.html
Labels: l10n-zh

#6110 AutoCorrect files/zh-cn/mdn/
  files/zh-cn/mdn/about/index.html
  files/zh-cn/mdn/at_ten/index.html
  files/zh-cn/mdn/contribute/fixing_mdn_content_bugs/index.html
  files/zh-cn/mdn/contribute/getting_started/index.md
  files/zh-cn/mdn/contribute/howto/add_or_update_browser_compatibility_data/index.html
  files/zh-cn/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/index.html
  files/zh-cn/mdn/contribute/howto/create_and_edit_pages/index.html
  files/zh-cn/mdn/contribute/howto/tag/index.html
  files/zh-cn/mdn/contribute/howto/write_a_new_entry_in_the_glossary/index.html
  files/zh-cn/mdn/contribute/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.html
  files/zh-cn/mdn/contribute/howto/write_for_seo/index.html
  files/zh-cn/mdn/contribute/index.html
  files/zh-cn/mdn/contribute/localize/index.md
  files/zh-cn/mdn/contribute/markdown_in_mdn/index.md
  files/zh-cn/mdn/guidelines/does_this_belong_on_mdn/index.html
  files/zh-cn/mdn/guidelines/index.html
  files/zh-cn/mdn/guidelines/writing_style_guide/index.html
  files/zh-cn/mdn/index.html
  files/zh-cn/mdn/mdn_product_advisory_board/index.html
  files/zh-cn/mdn/mdn_product_advisory_board/members/index.html
  files/zh-cn/mdn/structures/compatibility_tables/index.html
  files/zh-cn/mdn/structures/index.html
  files/zh-cn/mdn/structures/live_samples/index.md
  files/zh-cn/mdn/structures/macros/commonly-used_macros/index.md
  files/zh-cn/mdn/structures/macros/index.html
Labels: l10n-zh

#6174 Fix typo
  files/es/learn/css/building_blocks/cascade_and_inheritance/index.html
Labels: l10n-es

#6179 Renommage de 'myCat' en 'monChat'
  files/fr/web/api/window/localstorage/index.md
Labels: l10n-fr

#6181 Update index.html
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.html
Labels: l10n-zh

#6182 Update the title for `text formatting`
  files/zh-cn/web/javascript/guide/text_formatting/index.html
Labels: l10n-zh

#6183 Remove the redundant words for title in js modules
  files/zh-cn/web/javascript/guide/modules/index.html
Labels: l10n-zh

#6158 translate zh-CN: writableStream constructor
  files/zh-cn/web/api/writablestream/writablestream/index.md
Labels: l10n-zh

#6160 fix(grid): correct markup in `grid-area` page
  files/ru/web/css/grid-area/index.html
Labels: l10n-ru

#6129 Update index.html
  files/ru/learn/front-end_web_developer/index.html
Labels: l10n-ru

#6042 CRSF typo fixed in Russian version
  files/ru/learn/server-side/django/deployment/index.html
Labels: l10n-ru

#6117 Update index.html
  files/ru/learn/html/introduction_to_html/the_head_metadata_in_html/index.html
Labels: l10n-ru

#5677 Corrected links formatting in the operator precedence table (ru)
  files/ru/web/javascript/reference/operators/operator_precedence/index.html
Labels: l10n-ru

#5805 typo fix
  files/ru/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-ru

#6013 fix: typo
  files/ru/glossary/semantics/index.html
Labels: l10n-ru

#5844 chore: Run Markdownlint rules on ru docs
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_building/index.md
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_item_component/index.md
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/angular_styling/index.md
  files/ru/web/api/element/remove/index.md
  files/ru/web/api/storage/key/index.md
  files/ru/web/css/box-shadow/index.md
  files/ru/web/css/grid-template-columns/index.md
  files/ru/web/css/grid-template-rows/index.md
  files/ru/web/css/paint-order/index.md
  files/ru/web/javascript/reference/global_objects/array/filter/index.md
  files/ru/web/javascript/reference/operators/nullish_coalescing_operator/index.md
Labels: l10n-ru

#6149 modified the description of 1pc in CSS units
  files/ko/learn/css/building_blocks/values_and_units/index.html
Labels: l10n-ko

#6083 Fix unnecessary link on input/radio
  files/ja/web/html/element/input/radio/index.html
Labels: l10n-ja

#5868 Add atob(), btoa()
  files/ko/web/api/atob/index.md
  files/ko/web/api/btoa/index.md
Labels: l10n-ko

#6165 Work in #4618 | Add: asyncIterator section
  files/es/web/javascript/reference/global_objects/symbol/asynciterator/index.md
Labels: l10n-es

#6189 Fix typo
  files/ko/web/javascript/guide/grammar_and_types/index.md
Labels: l10n-ko

#6196 4391 patch update promise [es]
  files/es/web/javascript/reference/global_objects/promise/index.html
  files/es/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-es

#6190 fix: make the link's content are the same
  files/zh-cn/learn/css/css_layout/index.html
Labels: l10n-zh

#6201 Update index.html
  files/zh-cn/web/javascript/guide/modules/index.html
Labels: l10n-zh

#6202 zh-CN:translate writableStream/locked
  files/zh-cn/web/api/writablestream/locked/index.md
Labels: l10n-zh

#6203 zh-CN:translate writableStram/abort
  files/zh-cn/web/api/writablestream/abort/index.md
Labels: l10n-zh

#6204 zh-CN:translate writablestream/getwriter
  files/zh-cn/web/api/writablestream/getwriter/index.md
Labels: l10n-zh

#6198 Fix typo in service_worker_api
  files/ja/web/api/service_worker_api/index.md
Labels: l10n-ja

#6195 Work in #4618 | Add: description section
  files/es/web/javascript/reference/global_objects/symbol/description/index.md
Labels: l10n-es

#6197 Change shortcircuit logic to shortcircuit evaluation @ reintroduction…
  files/es/web/javascript/a_re-introduction_to_javascript/index.html
Labels: l10n-es

#6211 Update index.html
  files/zh-cn/web/api/element/insertadjacenthtml/index.html
Labels: l10n-zh

#6210 Work in #4618 | Update: for section
  files/es/web/javascript/reference/global_objects/symbol/for/index.html
  files/es/web/javascript/reference/global_objects/symbol/for/index.md
Labels: l10n-es

#6208 Create index.md
  files/zh-cn/web/svg/element/discard/index.md
Labels: l10n-zh

#6212 Update the link for installing nodejs in vue guide
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
Labels: l10n-zh

#6172 add zh-CN translation-guide
  docs/README.md
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#6218 zh-CN:translate WritableStreamDefaultController
  files/zh-cn/web/api/writablestreamdefaultcontroller/index.md
Labels: l10n-zh

#6220 keep example the same as renderd
  files/zh-cn/mdn/contribute/markdown_in_mdn/index.md
Labels: l10n-zh

#6134 Korean translation of the document
  files/ko/learn/css/building_blocks/debugging_css/index.html
Labels: l10n-ko

#6219 zh-CN:translate WritableStreamDefaultController/error
  files/zh-cn/web/api/writablestreamdefaultcontroller/error/index.md
Labels: l10n-zh

#6213 Work in #4618 | Update: hasinstance section
  files/es/web/javascript/reference/global_objects/symbol/hasinstance/index.html
  files/es/web/javascript/reference/global_objects/symbol/hasinstance/index.md
Labels: documentation, l10n-es

#6221 web/css/border-color (zh-TW translation)
  files/zh-tw/web/css/border-color/index.md
Labels: l10n-zh

#5721 Update Css fonts
  files/ko/web/css/css_fonts/index.md
Labels: l10n-ko
