Repository mdn/translated-content, pull requests merged in 2022-10, with the labels that each got.

#8798 Web/CSS/--* を更新
  files/ja/web/css/--_star_/index.md
Labels: l10n-ja

#8780 リンク切れ、マクロの使用方法などを修正
  files/ja/mozilla/firefox/releases/54/index.md
  files/ja/mozilla/firefox/releases/55/index.md
Labels: l10n-ja

#8747 Firefox 104 for developersを更新
  files/ja/mozilla/firefox/releases/104/index.md
Labels: l10n-ja

#8799 Web/HTML/Element/input を更新
  files/ja/web/html/element/input/index.md
Labels: l10n-ja

#8827 pt-br translation for javascript operators
  files/pt-br/web/javascript/reference/errors/already_has_pragma/index.md
  files/pt-br/web/javascript/reference/operators/bitwise_and/index.md
  files/pt-br/web/javascript/reference/operators/division/index.md
  files/pt-br/web/javascript/reference/operators/inequality/index.md
  files/pt-br/web/javascript/reference/operators/subtraction/index.md
Labels: l10n-pt-br

#8639 [pt-br] Translate content 'bad regexp flags'
  files/pt-br/web/javascript/reference/errors/bad_regexp_flag/index.md
Labels: l10n-pt-br

#8928 fix: Markdownlint cleanup for pt-br
  files/pt-br/mozilla/firefox/experimental_features/index.md
  files/pt-br/web/api/canvas_api/tutorial/basic_usage/index.md
  files/pt-br/web/api/canvasrenderingcontext2d/strokerect/index.md
  files/pt-br/web/api/datatransfer/index.md
  files/pt-br/web/api/document/getelementbyid/index.md
  files/pt-br/web/api/element/animate/index.md
  files/pt-br/web/api/element/clientheight/index.md
  files/pt-br/web/api/element/scrolltop/index.md
  files/pt-br/web/api/eventtarget/addeventlistener/index.md
  files/pt-br/web/api/htmlcanvaselement/getcontext/index.md
  files/pt-br/web/api/mediastreamtrack/index.md
  files/pt-br/web/api/websockets_api/writing_websocket_client_applications/index.md
  files/pt-br/web/api/window/popstate_event/index.md
  files/pt-br/web/api/window/scrolly/index.md
  files/pt-br/web/css/blend-mode/index.md
  files/pt-br/web/css/color_value/index.md
  files/pt-br/web/css/computed_value/index.md
  files/pt-br/web/css/css_grid_layout/relationship_of_grid_layout/index.md
  files/pt-br/web/css/css_transitions/using_css_transitions/index.md
  files/pt-br/web/css/display/index.md
  files/pt-br/web/css/hyphens/index.md
  files/pt-br/web/css/overflow/index.md
  files/pt-br/web/css/pointer-events/index.md
  files/pt-br/web/css/shorthand_properties/index.md
  files/pt-br/web/guide/ajax/getting_started/index.md
  files/pt-br/web/html/element/area/index.md
  files/pt-br/web/html/element/audio/index.md
  files/pt-br/web/html/element/figure/index.md
  files/pt-br/web/html/element/select/index.md
  files/pt-br/web/html/element/track/index.md
  files/pt-br/web/html/element/video/index.md
  files/pt-br/web/html/global_attributes/index.md
  files/pt-br/web/javascript/guide/control_flow_and_error_handling/index.md
  files/pt-br/web/javascript/guide/iterators_and_generators/index.md
  files/pt-br/web/javascript/guide/numbers_and_dates/index.md
  files/pt-br/web/javascript/guide/working_with_objects/index.md
  files/pt-br/web/javascript/reference/global_objects/array/from/index.md
  files/pt-br/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/pt-br/web/javascript/reference/global_objects/function/call/index.md
  files/pt-br/web/javascript/reference/global_objects/math/random/index.md
  files/pt-br/web/javascript/reference/global_objects/object/hasown/index.md
  files/pt-br/web/javascript/reference/global_objects/promise/index.md
  files/pt-br/web/javascript/reference/operators/in/index.md
Labels: l10n-pt-br

#8388 Fix PT-BR translation for ::first-letter page
  files/pt-br/web/css/_doublecolon_first-letter/index.md
Labels: l10n-pt-br

#8821 pt-br translation for translate property
  files/pt-br/web/css/translate/index.md
Labels: l10n-pt-br

#8884 fix: replace TT tags with backticks
  files/es/web/http/headers/user-agent/firefox/index.md
  files/fr/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/fr/web/xslt/element/if/index.md
  files/fr/web/xslt/element/index.md
  files/fr/web/xslt/element/number/index.md
  files/fr/web/xslt/element/text/index.md
  files/fr/web/xslt/element/value-of/index.md
  files/fr/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
  files/ko/learn/html/howto/author_fast-loading_html_pages/index.md
  files/zh-cn/web/api/window/opendialog/index.md
  files/zh-tw/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
Labels: l10n-fr, l10n-zh, l10n-es, l10n-ko

#8956 fix: fix typo in web audio docs
  files/es/web/api/web_audio_api/index.html
Labels: l10n-es

#7925 (ru) Fix typo in data structures page
  files/ru/web/javascript/data_structures/index.html
Labels: l10n-ru

#8011 (ru) Correction in "Promise.any" page
  files/ru/web/javascript/reference/global_objects/promise/any/index.html
Labels: l10n-ru

#8959 fix: remove developer domain for MDN links
  files/zh-cn/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/zh-cn/web/api/window/open/index.md
  files/zh-cn/web/css/border-radius/index.md
  files/zh-cn/web/css/border-top-right-radius/index.md
  files/zh-cn/web/css/visual_formatting_model/index.md
  files/zh-cn/web/css/word-spacing/index.md
  files/zh-cn/web/http/basics_of_http/mime_types/index.md
  files/zh-cn/web/svg/tutorial/basic_shapes/index.md
Labels: l10n-zh

#8494 (ru) Fix formatting in "`throw` statement" page
  files/ru/web/javascript/reference/statements/throw/index.html
Labels: l10n-ru

#7303 (ru) Update range for Number.MIN_VALUE and Number.MAX_VALUE
  files/ru/web/javascript/data_structures/index.html
Labels: l10n-ru

#8955 fix view (after rendering) for 'Web/CSS/Adjacent_sibling_combinator' "result" part
  files/zh-cn/web/css/adjacent_sibling_combinator/index.md
Labels: l10n-zh

#8962 Markdown rendering fails to bold code
  files/zh-cn/web/javascript/reference/global_objects/object/values/index.md
Labels: l10n-zh

#8920 docs: update `Math.floor()`
  files/zh-cn/web/javascript/reference/global_objects/math/floor/index.md
Labels: l10n-zh

#8964 zh-cn(update):sync about ResizeObserver
  files/zh-cn/web/api/resize_observer_api/index.md
Labels: l10n-zh

#8805 「HTTP の概要」の記事を更新
  files/ja/web/http/overview/index.md
Labels: l10n-ja

#8815 Web/XSLT/Using_the_Mozilla_JavaScript_interface_to_XSL_Transformations を更新
  files/ja/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
Labels: l10n-ja

#8817 Firefox 44 for developers を更新
  files/ja/mozilla/firefox/releases/44/index.md
Labels: l10n-ja

#8819 「イベントターゲットの比較」の記事を更新
  files/ja/web/api/event/comparison_of_event_targets/index.md
Labels: l10n-ja

#8813 ビューポートのメタタグの記事を新規翻訳
  files/ja/web/html/viewport_meta_tag/index.md
Labels: l10n-ja

#8814 box-align プロパティの記事を更新
  files/ja/web/css/box-align/index.md
Labels: l10n-ja

#8816 XSLTProcessor の記事を更新
  files/ja/web/api/xsltprocessor/index.md
Labels: l10n-ja

#8818 Document.tooltipNode の記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/api/document/tooltipnode/index.md
Labels: l10n-ja

#8807 reftest opportunities files を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/reftest_opportunities_files/index.md
Labels: l10n-ja

#8916 docs: Update addition assignment(+=)
  files/zh-cn/web/javascript/reference/operators/addition_assignment/index.md
Labels: l10n-zh

#6294 Add pt-br translation
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
Labels: l10n-pt-br, markdown-conversion

#8755 [pt-br] Traduzindo alguns arquivos referente aos erros
  files/pt-br/web/javascript/reference/errors/array_sort_argument/index.md
  files/pt-br/web/javascript/reference/errors/deprecated_string_generics/index.md
  files/pt-br/web/javascript/reference/errors/invalid_for-in_initializer/index.md
  files/pt-br/web/javascript/reference/errors/invalid_for-of_initializer/index.md
Labels: l10n-pt-br

#8612 chore: remove property_prefix macro
  files/ja/mozilla/firefox/releases/53/index.md
  files/ko/web/css/css_columns/using_multi-column_layouts/index.md
  files/ru/mozilla/firefox/releases/53/index.html
  files/ru/web/css/css_columns/using_multi-column_layouts/index.md
Labels: l10n-ja, l10n-ru, l10n-ko

#8974 Update index.md
  files/zh-cn/web/http/authentication/index.md
Labels: l10n-zh

#8975 fix: Chinese translation mistake
  files/zh-cn/learn/css/building_blocks/values_and_units/index.md
Labels: l10n-zh

#8957 fix: replace remaining Chrome licesnes
  files/fr/mozilla/add-ons/webextensions/api/devtools/inspectedwindow/index.md
  files/fr/mozilla/add-ons/webextensions/api/downloads/booleandelta/index.md
  files/fr/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/ko/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
  files/ko/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/bookmarks/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/commands/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/cookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/menus/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/tabs/index.md
Labels: l10n-fr, l10n-ko, l10n-pt-br

#8684 Update index.md
  files/ko/web/api/service_worker_api/using_service_workers/index.md
Labels: l10n-ko

#8502 Add new md file
  files/ko/web/api/worker/terminate/index.md
Labels: l10n-ko

#8303 [ko] remove duplicated frontmatter keys - games
  files/ko/games/index.md
  files/ko/games/introduction/index.md
  files/ko/games/tutorials/2d_breakout_game_phaser/index.md
  files/ko/games/tutorials/2d_breakout_game_phaser/the_score/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.md
  files/ko/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/ko/games/tutorials/index.md
Labels: l10n-ko

#8270 [ko] handler.isExtensible()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.md
Labels: l10n-ko

#8225 [ko] handler.deleteProperty()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/deleteproperty/index.md
Labels: l10n-ko

#8849 Web/API/Window/innerHeight を更新
  files/ja/web/api/window/innerheight/index.md
Labels: l10n-ja

#8850 リンクから $edit を除去
  files/ja/mozilla/add-ons/webextensions/match_patterns/index.md
  files/ja/web/api/idbcursor/index.md
  files/ja/web/http/feature_policy/using_feature_policy/index.md
Labels: l10n-ja

#8859 Web/Progressive_web_apps/Introduction を更新
  files/ja/web/progressive_web_apps/introduction/index.md
Labels: l10n-ja

#8860 Firefox 84 for developers を更新
  files/ja/mozilla/firefox/releases/84/index.md
Labels: l10n-ja

#8923 glossary 以下の Note: Warning: Callout: を日本語に変換
  files/ja/glossary/call_stack/index.md
  files/ja/glossary/certificate_authority/index.md
  files/ja/glossary/cors-safelisted_response_header/index.md
  files/ja/glossary/entity/index.md
  files/ja/glossary/entity_header/index.md
  files/ja/glossary/falsy/index.md
  files/ja/glossary/first-class_function/index.md
  files/ja/glossary/forbidden_header_name/index.md
  files/ja/glossary/index.md
  files/ja/glossary/method/index.md
  files/ja/glossary/tls/index.md
  files/ja/glossary/transferable_objects/index.md
  files/ja/glossary/vendor_prefix/index.md
  files/ja/glossary/xforms/index.md
Labels: l10n-ja

#8925 mdn 以下の Note: Warning: Callout: を日本語に変換
  files/ja/mdn/community/contributing/translated_content/index.md
  files/ja/mdn/community/issues/index.md
  files/ja/mdn/community/issues/issue_triage/index.md
  files/ja/mdn/community/learn_forum/index.md
  files/ja/mdn/community/mdn_content/index.md
  files/ja/mdn/contribute/howto/index.md
  files/ja/mdn/contribute/index.md
  files/ja/mdn/contribute/processes/short_surveys/index.md
  files/ja/mdn/tools/kumascript/index.md
  files/ja/mdn/tools/unsupported_get_api/index.md
  files/ja/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/ja/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/ja/mdn/writing_guidelines/howto/document_a_css_property/index.md
  files/ja/mdn/writing_guidelines/howto/images_media/index.md
  files/ja/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/ja/mdn/writing_guidelines/howto/tag/index.md
  files/ja/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
  files/ja/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/ja/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/ja/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/ja/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/index.md
  files/ja/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/ja/mdn/writing_guidelines/what_we_write/criteria_for_inclusion/index.md
  files/ja/mdn/writing_guidelines/what_we_write/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-ja

#8930 mozilla/firefox 以下の Note: Warning: Callout: を日本語に変換
  files/ja/mozilla/firefox/experimental_features/index.md
  files/ja/mozilla/firefox/releases/10/index.md
  files/ja/mozilla/firefox/releases/19/index.md
  files/ja/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
  files/ja/mozilla/firefox/releases/3.5/icc_color_correction_in_firefox/index.md
  files/ja/mozilla/firefox/releases/3/updating_extensions/index.md
  files/ja/mozilla/firefox/releases/3/updating_web_applications/index.md
  files/ja/mozilla/firefox/releases/4/index.md
  files/ja/mozilla/firefox/releases/4/the_add-on_bar/index.md
  files/ja/mozilla/firefox/releases/42/index.md
  files/ja/mozilla/firefox/releases/5/index.md
  files/ja/mozilla/firefox/releases/57/index.md
  files/ja/mozilla/firefox/releases/59/index.md
  files/ja/mozilla/firefox/releases/6/index.md
  files/ja/mozilla/firefox/releases/68/index.md
  files/ja/mozilla/firefox/releases/7/index.md
  files/ja/mozilla/firefox/releases/75/index.md
  files/ja/mozilla/firefox/releases/8/index.md
  files/ja/mozilla/firefox/releases/82/index.md
  files/ja/mozilla/firefox/releases/83/index.md
  files/ja/mozilla/firefox/releases/84/index.md
  files/ja/mozilla/firefox/releases/85/index.md
  files/ja/mozilla/firefox/releases/86/index.md
  files/ja/mozilla/firefox/releases/87/index.md
  files/ja/mozilla/firefox/releases/88/index.md
  files/ja/mozilla/firefox/releases/89/index.md
  files/ja/mozilla/firefox/releases/90/index.md
  files/ja/mozilla/firefox/releases/91/index.md
  files/ja/mozilla/firefox/releases/92/index.md
Labels: l10n-ja

#8932 web/accessibility 以下の Note: Warning: Callout: を日本語に変換
  files/ja/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/ja/web/accessibility/aria/aria_live_regions/index.md
  files/ja/web/accessibility/aria/attributes/aria-activedescendant/index.md
  files/ja/web/accessibility/aria/forms/multipart_labels/index.md
  files/ja/web/accessibility/aria/index.md
  files/ja/web/accessibility/aria/roles/alertdialog_role/index.md
  files/ja/web/accessibility/aria/roles/application_role/index.md
  files/ja/web/accessibility/aria/roles/article_role/index.md
  files/ja/web/accessibility/aria/roles/button_role/index.md
  files/ja/web/accessibility/aria/roles/cell_role/index.md
  files/ja/web/accessibility/aria/roles/checkbox_role/index.md
  files/ja/web/accessibility/aria/roles/complementary_role/index.md
  files/ja/web/accessibility/aria/roles/contentinfo_role/index.md
  files/ja/web/accessibility/aria/roles/dialog_role/index.md
  files/ja/web/accessibility/aria/roles/figure_role/index.md
  files/ja/web/accessibility/aria/roles/form_role/index.md
  files/ja/web/accessibility/aria/roles/grid_role/index.md
  files/ja/web/accessibility/aria/roles/group_role/index.md
  files/ja/web/accessibility/aria/roles/heading_role/index.md
  files/ja/web/accessibility/aria/roles/link_role/index.md
  files/ja/web/accessibility/aria/roles/list_role/index.md
  files/ja/web/accessibility/aria/roles/listbox_role/index.md
  files/ja/web/accessibility/aria/roles/listitem_role/index.md
  files/ja/web/accessibility/aria/roles/log_role/index.md
  files/ja/web/accessibility/aria/roles/navigation_role/index.md
  files/ja/web/accessibility/aria/roles/presentation_role/index.md
  files/ja/web/accessibility/aria/roles/progressbar_role/index.md
  files/ja/web/accessibility/aria/roles/radio_role/index.md
  files/ja/web/accessibility/aria/roles/row_role/index.md
  files/ja/web/accessibility/aria/roles/rowgroup_role/index.md
  files/ja/web/accessibility/aria/roles/slider_role/index.md
  files/ja/web/accessibility/aria/roles/status_role/index.md
  files/ja/web/accessibility/aria/roles/switch_role/index.md
  files/ja/web/accessibility/aria/roles/tab_role/index.md
  files/ja/web/accessibility/aria/roles/table_role/index.md
  files/ja/web/accessibility/aria/roles/textbox_role/index.md
  files/ja/web/accessibility/aria/roles/toolbar_role/index.md
  files/ja/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/ja/web/accessibility/mobile_accessibility_checklist/index.md
  files/ja/web/accessibility/understanding_wcag/operable/index.md
  files/ja/web/accessibility/understanding_wcag/perceivable/index.md
  files/ja/web/accessibility/understanding_wcag/robust/index.md
  files/ja/web/accessibility/understanding_wcag/understandable/index.md
Labels: l10n-ja

#8942 webassembly 以下の Note: Warning: Callout: を日本語に変換
  files/ja/webassembly/c_to_wasm/index.md
  files/ja/webassembly/caching_modules/index.md
  files/ja/webassembly/concepts/index.md
  files/ja/webassembly/existing_c_to_wasm/index.md
  files/ja/webassembly/javascript_interface/compile/index.md
  files/ja/webassembly/javascript_interface/global/global/index.md
  files/ja/webassembly/javascript_interface/global/index.md
  files/ja/webassembly/javascript_interface/instance/exports/index.md
  files/ja/webassembly/javascript_interface/instance/instance/index.md
  files/ja/webassembly/javascript_interface/instantiate/index.md
  files/ja/webassembly/javascript_interface/instantiatestreaming/index.md
  files/ja/webassembly/javascript_interface/memory/memory/index.md
  files/ja/webassembly/javascript_interface/module/module/index.md
  files/ja/webassembly/javascript_interface/table/index.md
  files/ja/webassembly/loading_and_running/index.md
  files/ja/webassembly/rust_to_wasm/index.md
  files/ja/webassembly/text_format_to_wasm/index.md
  files/ja/webassembly/understanding_the_text_format/index.md
  files/ja/webassembly/using_the_javascript_api/index.md
Labels: l10n-ja

#8931 conflicting / orphaned 以下の Note: Warning: Callout: を日本語に変換
  files/ja/conflicting/learn/javascript/objects/classes_in_javascript/index.md
  files/ja/conflicting/mdn/community/contributing/getting_started/index.md
  files/ja/conflicting/mdn/community/issues/index.md
  files/ja/conflicting/web/accessibility/aria/roles/alert_role/index.md
  files/ja/conflicting/web/accessibility/aria_229a3bbc8da83524de32990b14561155/index.md
  files/ja/conflicting/web/accessibility/aria_64707ba1917a56654679cbe273e2f4ea/index.md
  files/ja/conflicting/web/api/closeevent/index.md
  files/ja/conflicting/web/api/element/clientheight/index.md
  files/ja/conflicting/web/api/element/clientwidth/index.md
  files/ja/conflicting/web/api/element/pointercancel_event/index.md
  files/ja/conflicting/web/api/eventtarget/addeventlistener_380cb5f366307beb2c072f74e561ee98/index.md
  files/ja/conflicting/web/api/file_and_directory_entries_api/index.md
  files/ja/conflicting/web/api/file_and_directory_entries_api_14742f14781741be7bc237d4ec1399a0/index.md
  files/ja/conflicting/web/api/htmlinputelement/index.md
  files/ja/conflicting/web/api/navigator/getbattery/index.md
  files/ja/conflicting/web/api/progressevent/index.md
  files/ja/conflicting/web/api/text/index.md
  files/ja/conflicting/web/css/cursor/index.md
  files/ja/conflicting/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/ja/conflicting/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/ja/conflicting/web/security/certificate_transparency/index.md
  files/ja/conflicting/web/svg/element/animate/index.md
  files/ja/conflicting/web/web_components/index.md
  files/ja/orphaned/code_snippets/toolbar/index.md
  files/ja/orphaned/creating_toolbar_buttons/index.md
  files/ja/orphaned/learn/server-side/express_nodejs/installing_on_pws_cloud_foundry/index.md
  files/ja/orphaned/mdn/community/doc_sprints/index.md
  files/ja/orphaned/mdn/community/working_in_community/index.md
  files/ja/orphaned/mdn/structures/api_references/what_does_an_api_reference_need/index.md
  files/ja/orphaned/mdn/structures/live_samples/simple_live_sample_demo/index.md
  files/ja/orphaned/microsummary_xml_grammar_reference/index.md
  files/ja/orphaned/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.md
  files/ja/orphaned/web/api/document_object_model/events/index.md
  files/ja/orphaned/web/api/readablestreamdefaultcontroller/readablestreamdefaultcontroller/index.md
  files/ja/orphaned/web/api/rtcidentityerrorevent/index.md
  files/ja/orphaned/web/api/rtcidentityevent/index.md
  files/ja/orphaned/web/api/serviceworkerglobalscope/onnotificationclick/index.md
  files/ja/orphaned/web/api/serviceworkerglobalscope/onnotificationclose/index.md
  files/ja/orphaned/web/api/window/pkcs11/index.md
  files/ja/orphaned/web/api/xrsessionmode/index.md
  files/ja/orphaned/web/css/-moz-context-properties/index.md
  files/ja/orphaned/web/css/_colon_host-context()/index.md
  files/ja/orphaned/web/css/color_value/hexadecimal_rgb/index.md
  files/ja/orphaned/web/css/css_properties_reference/index.md
  files/ja/orphaned/web/guide/html/editable_content/rich-text_editing_in_mozilla/index.md
  files/ja/orphaned/web/guide/html/using_html_sections_and_outlines/index.md
Labels: l10n-ja

#8912 Fix for Issue #8401
  files/es/web/http/overview/index.md
Labels: l10n-es

#8927 fix: Markdownlint cleanup for ES
  files/es/conflicting/web/javascript/reference/global_objects/object/tostring/index.md
  files/es/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/es/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/es/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.md
  files/es/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/es/glossary/abstraction/index.md
  files/es/glossary/callback_function/index.md
  files/es/glossary/card_sorting/index.md
  files/es/glossary/css/index.md
  files/es/glossary/domain_name/index.md
  files/es/glossary/jpeg/index.md
  files/es/glossary/keyword/index.md
  files/es/learn/css/css_layout/introduction/index.md
  files/es/learn/forms/styling_web_forms/index.md
  files/es/learn/javascript/building_blocks/conditionals/index.md
  files/es/learn/javascript/client-side_web_apis/introduction/index.md
  files/es/learn/javascript/first_steps/index.md
  files/es/learn/javascript/index.md
  files/es/learn/javascript/objects/object_prototypes/index.md
  files/es/learn/server-side/configuring_server_mime_types/index.md
  files/es/learn/server-side/django/testing/index.md
  files/es/mozilla/add-ons/index.md
  files/es/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/es/web/api/animation/animation/index.md
  files/es/web/api/animation/currenttime/index.md
  files/es/web/api/animation/finish_event/index.md
  files/es/web/api/animation/id/index.md
  files/es/web/api/filereader/readasdataurl/index.md
  files/es/web/api/window/innerheight/index.md
  files/es/web/css/_colon_has/index.md
  files/es/web/exslt/exsl/object-type/index.md
  files/es/web/exslt/index.md
  files/es/web/exslt/math/highest/index.md
  files/es/web/exslt/math/lowest/index.md
  files/es/web/exslt/math/max/index.md
  files/es/web/exslt/math/min/index.md
  files/es/web/html/element/head/index.md
  files/es/web/html/global_attributes/spellcheck/index.md
  files/es/web/http/headers/user-agent/firefox/index.md
  files/es/web/http/status/200/index.md
  files/es/web/javascript/guide/indexed_collections/index.md
  files/es/web/javascript/guide/loops_and_iteration/index.md
  files/es/web/javascript/guide/working_with_objects/index.md
  files/es/web/javascript/reference/global_objects/math/pow/index.md
  files/es/web/javascript/reference/global_objects/promise/then/index.md
  files/es/web/javascript/reference/operators/yield_star_/index.md
  files/es/web/javascript/reference/statements/try...catch/index.md
  files/es/web/xslt/transforming_xml_with_xslt/index.md
  files/es/webassembly/index.md
Labels: l10n-es

#8958 fix: remove developer domain for MDN links
  files/es/learn/javascript/building_blocks/index.md
  files/es/learn/javascript/client-side_web_apis/introduction/index.md
  files/es/learn/javascript/first_steps/what_is_javascript/index.md
  files/es/learn/server-side/django/admin_site/index.md
  files/es/learn/server-side/django/authentication/index.md
  files/es/learn/server-side/django/deployment/index.md
  files/es/learn/server-side/django/development_environment/index.md
  files/es/learn/server-side/django/forms/index.md
  files/es/mozilla/add-ons/index.md
  files/es/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/es/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/es/mozilla/add-ons/webextensions/api/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/es/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/es/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/es/mozilla/add-ons/webextensions/index.md
  files/es/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/es/mozilla/add-ons/webextensions/user_interface/browser_action/index.md
  files/es/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/es/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/es/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/es/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/es/mozilla/firefox/index.md
  files/es/web/http/basics_of_http/mime_types/index.md
  files/es/web/javascript/reference/global_objects/array/find/index.md
  files/es/web/javascript/reference/global_objects/array/includes/index.md
  files/es/web/javascript/reference/global_objects/array/index.md
  files/es/web/javascript/reference/operators/new.target/index.md
  files/es/web/javascript/reference/statements/const/index.md
Labels: l10n-es

#8980 remove conflicting files - ko locale
  files/ko/_redirects.txt
  files/ko/conflicting/web/api/element/click_event/index.html
  files/ko/conflicting/web/api/element/keydown_event/index.html
  files/ko/conflicting/web/api/element/keyup_event/index.html
  files/ko/conflicting/web/javascript/inheritance_and_the_prototype_chain/index.html
  files/ko/conflicting/web/javascript/javascript_technologies_overview/index.html
Labels: l10n-ko

#8999 fix: Markdownlint cleanup for ZH-CN
  files/zh-cn/web/html/element/input/time/index.md
  files/zh-cn/web/javascript/reference/operators/async_function/index.md
Labels: l10n-zh

#8998 fix: Markdownlint cleanup for ZH-TW
  files/zh-tw/web/api/mediasource/index.md
  files/zh-tw/web/api/performance/index.md
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_transitions/using_css_transitions/index.md
Labels: l10n-zh

#8867 Fix broken links
  files/ja/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: l10n-ja

#9004 fix: type error POSITIVIE -> POSITIVE
  files/ko/web/javascript/reference/global_objects/number/positive_infinity/index.md
Labels: l10n-ko

#9006 zh-cn(update): sync resizeobserver
  files/zh-cn/web/api/resizeobserver/index.md
Labels: l10n-zh

#9008 zh-cn(update): sync Resizeobserver disconnect
  files/zh-cn/web/api/resizeobserver/disconnect/index.md
Labels: l10n-zh

#9009 zh-cn(update)/web/api/n*:sync about macro Compat
  files/zh-cn/web/api/namednodemap/getnameditem/index.md
  files/zh-cn/web/api/namednodemap/index.md
  files/zh-cn/web/api/navigation_timing_api/index.md
  files/zh-cn/web/api/navigator/buildid/index.md
  files/zh-cn/web/api/navigator/canshare/index.md
  files/zh-cn/web/api/navigator/clipboard/index.md
  files/zh-cn/web/api/navigator/connection/index.md
  files/zh-cn/web/api/navigator/cookieenabled/index.md
  files/zh-cn/web/api/navigator/credentials/index.md
  files/zh-cn/web/api/navigator/devicememory/index.md
  files/zh-cn/web/api/navigator/geolocation/index.md
  files/zh-cn/web/api/navigator/getbattery/index.md
  files/zh-cn/web/api/navigator/getgamepads/index.md
  files/zh-cn/web/api/navigator/index.md
  files/zh-cn/web/api/navigator/keyboard/index.md
  files/zh-cn/web/api/navigator/maxtouchpoints/index.md
  files/zh-cn/web/api/navigator/mediadevices/index.md
  files/zh-cn/web/api/navigator/permissions/index.md
  files/zh-cn/web/api/navigator/productsub/index.md
  files/zh-cn/web/api/navigator/registerprotocolhandler/index.md
  files/zh-cn/web/api/navigator/serviceworker/index.md
  files/zh-cn/web/api/navigator/vibrate/index.md
  files/zh-cn/web/api/networkinformation/downlink/index.md
  files/zh-cn/web/api/networkinformation/index.md
  files/zh-cn/web/api/networkinformation/rtt/index.md
  files/zh-cn/web/api/networkinformation/savedata/index.md
  files/zh-cn/web/api/node/appendchild/index.md
  files/zh-cn/web/api/node/contains/index.md
  files/zh-cn/web/api/node/getrootnode/index.md
  files/zh-cn/web/api/node/isconnected/index.md
  files/zh-cn/web/api/node/isequalnode/index.md
  files/zh-cn/web/api/node/nextsibling/index.md
  files/zh-cn/web/api/node/nodevalue/index.md
  files/zh-cn/web/api/node/normalize/index.md
  files/zh-cn/web/api/node/ownerdocument/index.md
  files/zh-cn/web/api/node/parentelement/index.md
  files/zh-cn/web/api/node/parentnode/index.md
  files/zh-cn/web/api/node/replacechild/index.md
  files/zh-cn/web/api/node/selectstart_event/index.md
  files/zh-cn/web/api/nodelist/foreach/index.md
  files/zh-cn/web/api/nodelist/index.md
  files/zh-cn/web/api/nodelist/keys/index.md
  files/zh-cn/web/api/nodelist/values/index.md
  files/zh-cn/web/api/notification/actions/index.md
  files/zh-cn/web/api/notification/badge/index.md
  files/zh-cn/web/api/notification/close/index.md
  files/zh-cn/web/api/notification/data/index.md
  files/zh-cn/web/api/notification/icon/index.md
  files/zh-cn/web/api/notification/image/index.md
  files/zh-cn/web/api/notification/index.md
  files/zh-cn/web/api/notification/notification/index.md
  files/zh-cn/web/api/notification/requestpermission/index.md
  files/zh-cn/web/api/notification/requireinteraction/index.md
  files/zh-cn/web/api/notificationevent/index.md
  files/zh-cn/web/api/notifications_api/index.md
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.md
Labels: l10n-zh

#9010 docs: update `Math.ceil()`
  files/zh-cn/web/javascript/reference/global_objects/math/ceil/index.md
Labels: l10n-zh

#8870 Learn/JavaScript/Asynchronous 以下を更新・新規翻訳
  files/ja/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
  files/ja/learn/javascript/asynchronous/index.md
  files/ja/learn/javascript/asynchronous/introducing/index.md
  files/ja/learn/javascript/asynchronous/introducing_workers/index.md
  files/ja/learn/javascript/asynchronous/promises/index.md
  files/ja/learn/javascript/asynchronous/sequencing_animations/index.md
Labels: l10n-ja

#8738 docs: update index.md
  files/ko/web/javascript/reference/global_objects/string/replace/index.md
Labels: l10n-ko

#9013 zh-cn(update)/web/api/u*:sync about macro Compat
  files/zh-cn/web/api/uievent/detail/index.md
  files/zh-cn/web/api/uievent/index.md
  files/zh-cn/web/api/uievent/view/index.md
  files/zh-cn/web/api/uievent/which/index.md
  files/zh-cn/web/api/url/createobjecturl/index.md
  files/zh-cn/web/api/url/hash/index.md
  files/zh-cn/web/api/url/host/index.md
  files/zh-cn/web/api/url/hostname/index.md
  files/zh-cn/web/api/url/href/index.md
  files/zh-cn/web/api/url/index.md
  files/zh-cn/web/api/url/origin/index.md
  files/zh-cn/web/api/url/password/index.md
  files/zh-cn/web/api/url/pathname/index.md
  files/zh-cn/web/api/url/port/index.md
  files/zh-cn/web/api/url/protocol/index.md
  files/zh-cn/web/api/url/search/index.md
  files/zh-cn/web/api/url/searchparams/index.md
  files/zh-cn/web/api/url/tojson/index.md
  files/zh-cn/web/api/url/tostring/index.md
  files/zh-cn/web/api/url/username/index.md
  files/zh-cn/web/api/url_api/index.md
  files/zh-cn/web/api/urlsearchparams/append/index.md
  files/zh-cn/web/api/urlsearchparams/delete/index.md
  files/zh-cn/web/api/urlsearchparams/entries/index.md
  files/zh-cn/web/api/urlsearchparams/foreach/index.md
  files/zh-cn/web/api/urlsearchparams/get/index.md
  files/zh-cn/web/api/urlsearchparams/getall/index.md
  files/zh-cn/web/api/urlsearchparams/has/index.md
  files/zh-cn/web/api/urlsearchparams/index.md
  files/zh-cn/web/api/urlsearchparams/keys/index.md
  files/zh-cn/web/api/urlsearchparams/set/index.md
  files/zh-cn/web/api/urlsearchparams/sort/index.md
  files/zh-cn/web/api/urlsearchparams/tostring/index.md
  files/zh-cn/web/api/urlsearchparams/urlsearchparams/index.md
  files/zh-cn/web/api/urlsearchparams/values/index.md
  files/zh-cn/web/api/usb/index.md
Labels: l10n-zh

#9015 zh-cn(update)/web/api/{l*,o*,v*}:sync about macro Compat
  files/zh-cn/web/api/location/assign/index.md
  files/zh-cn/web/api/location/hash/index.md
  files/zh-cn/web/api/location/host/index.md
  files/zh-cn/web/api/location/hostname/index.md
  files/zh-cn/web/api/location/href/index.md
  files/zh-cn/web/api/location/index.md
  files/zh-cn/web/api/location/replace/index.md
  files/zh-cn/web/api/location/search/index.md
  files/zh-cn/web/api/location/tostring/index.md
  files/zh-cn/web/api/oes_vertex_array_object/index.md
  files/zh-cn/web/api/offlineaudiocontext/complete_event/index.md
  files/zh-cn/web/api/offlineaudiocontext/index.md
  files/zh-cn/web/api/offlineaudiocontext/length/index.md
  files/zh-cn/web/api/offlineaudiocontext/offlineaudiocontext/index.md
  files/zh-cn/web/api/offlineaudiocontext/suspend/index.md
  files/zh-cn/web/api/offscreencanvas/height/index.md
  files/zh-cn/web/api/offscreencanvas/index.md
  files/zh-cn/web/api/offscreencanvas/offscreencanvas/index.md
  files/zh-cn/web/api/offscreencanvas/transfertoimagebitmap/index.md
  files/zh-cn/web/api/origin/index.md
  files/zh-cn/web/api/oscillatornode/detune/index.md
  files/zh-cn/web/api/oscillatornode/frequency/index.md
  files/zh-cn/web/api/oscillatornode/index.md
  files/zh-cn/web/api/oscillatornode/oscillatornode/index.md
  files/zh-cn/web/api/oscillatornode/setperiodicwave/index.md
  files/zh-cn/web/api/validitystate/index.md
  files/zh-cn/web/api/vibration_api/index.md
  files/zh-cn/web/api/videoplaybackquality/index.md
  files/zh-cn/web/api/videoplaybackquality/totalvideoframes/index.md
  files/zh-cn/web/api/videotracklist/index.md
  files/zh-cn/web/api/visualviewport/index.md
  files/zh-cn/web/api/visualviewport/offsetleft/index.md
  files/zh-cn/web/api/visualviewport/offsettop/index.md
  files/zh-cn/web/api/visualviewport/scroll_event/index.md
  files/zh-cn/web/api/vrdisplay/requestanimationframe/index.md
  files/zh-cn/web/api/vrpose/timestamp/index.md
Labels: l10n-zh

#9014 docs: translation less_than_or_equal content
  files/zh-cn/web/javascript/reference/operators/less_than_or_equal/index.md
Labels: l10n-zh

#8963 trad-NavigationPreloadManager and link fix in using_service_worker
  files/es/web/api/navigationpreloadmanager/index.md
Labels: l10n-es

#8994 fix: Markdownlint cleanup for ES
  files/es/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
  files/es/web/guide/ajax/index.md
  files/es/web/html/attributes/accept/index.md
  files/es/web/mathml/attribute/index.md
  files/es/web/performance/optimizing_startup_performance/index.md
  files/es/web/svg/element/script/index.md
  files/es/web/svg/index.md
  files/es/web/xslt/index.md
Labels: l10n-es

#9023 fix definition list from web/xslt
  files/es/web/xslt/index.md
Labels: l10n-es

#8868 chore: update links to indexeddb-examples
  files/es/web/api/idbcursor/continue/index.html
  files/es/web/api/idbcursor/index.html
  files/fr/web/api/idbcursor/advance/index.md
  files/fr/web/api/idbcursor/continue/index.md
  files/fr/web/api/idbcursor/index.md
  files/fr/web/api/idbindex/count/index.md
  files/fr/web/api/idbindex/getkey/index.md
  files/fr/web/api/idbindex/multientry/index.md
  files/fr/web/api/idbindex/unique/index.md
  files/fr/web/api/idbkeyrange/bound/index.md
  files/fr/web/api/idbkeyrange/index.md
  files/fr/web/api/idbkeyrange/lower/index.md
  files/fr/web/api/idbkeyrange/lowerbound/index.md
  files/fr/web/api/idbkeyrange/loweropen/index.md
  files/fr/web/api/idbkeyrange/only/index.md
  files/fr/web/api/idbkeyrange/upper/index.md
  files/fr/web/api/idbkeyrange/upperbound/index.md
  files/fr/web/api/idbobjectstore/index/index.md
  files/ja/web/api/idbcursor/advance/index.md
  files/ja/web/api/idbcursor/continue/index.md
  files/ja/web/api/idbcursor/index.md
  files/pt-br/web/api/idbcursor/index.md
  files/ru/web/api/idbindex/index.html
  files/zh-cn/web/api/idbcursor/direction/index.md
  files/zh-cn/web/api/idbcursor/index.md
  files/zh-cn/web/api/idbcursor/key/index.md
  files/zh-cn/web/api/idbkeyrange/index.md
  files/zh-cn/web/api/idbkeyrange/lowerbound/index.md
  files/zh-cn/web/api/idbobjectstore/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-pt-br, chore

#8997 fix: Markdownlint cleanup for PT-BR
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
  files/pt-br/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/pt-br/web/javascript/reference/errors/already_has_pragma/index.md
  files/pt-br/web/javascript/reference/global_objects/map/index.md
  files/pt-br/web/javascript/reference/global_objects/regexp/index.md
  files/pt-br/web/javascript/reference/operators/bitwise_and/index.md
  files/pt-br/web/javascript/reference/operators/division/index.md
  files/pt-br/web/javascript/reference/operators/inequality/index.md
  files/pt-br/web/javascript/reference/operators/subtraction/index.md
  files/pt-br/web/svg/applying_svg_effects_to_html_content/index.md
  files/pt-br/web/svg/content_type/index.md
  files/pt-br/web/svg/element/index.md
  files/pt-br/web/svg/namespaces_crash_course/index.md
Labels: l10n-pt-br

#8978 Inserção exemplo interativo
  files/pt-br/web/javascript/reference/global_objects/array/slice/index.md
Labels: l10n-pt-br

#8982 Inserção exemplo interativo
  files/pt-br/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-pt-br

#9033 fix: correct link
  files/zh-cn/learn/getting_started_with_the_web/html_basics/index.md
Labels: l10n-zh

#9034 sync with english version for `contenteditable`
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/html/global_attributes/contenteditable/index.md
  files/zh-cn/web/html/global_attributes/contenteditable/index.md
Labels: l10n-zh

#8954 Web/CSS/transform-function/skewY を回復
  files/ja/_redirects.txt
  files/ja/web/css/transform-function/skewy/index.md
Labels: l10n-ja

#8996 fix: Markdownlint cleanup for JA
  files/ja/conflicting/mdn/community/contributing/getting_started/index.md
  files/ja/learn/html/howto/author_fast-loading_html_pages/index.md
  files/ja/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/ja/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
  files/ja/web/api/htmlformelement/acceptcharset/index.md
  files/ja/web/api/queuemicrotask/index.md
  files/ja/web/api/readablestream/getreader/index.md
  files/ja/web/api/webvtt_api/index.md
  files/ja/web/http/overview/index.md
  files/ja/web/javascript/reference/global_objects/array/flatmap/index.md
  files/ja/web/javascript/reference/global_objects/string/includes/index.md
Labels: l10n-ja

#9022 擬似クラスから CSSSyntax マクロを削除
  files/ja/web/css/_colon_-moz-only-whitespace/index.md
  files/ja/web/css/_colon_-moz-submit-invalid/index.md
  files/ja/web/css/_colon_active/index.md
  files/ja/web/css/_colon_any-link/index.md
  files/ja/web/css/_colon_autofill/index.md
  files/ja/web/css/_colon_blank/index.md
  files/ja/web/css/_colon_checked/index.md
  files/ja/web/css/_colon_default/index.md
  files/ja/web/css/_colon_defined/index.md
  files/ja/web/css/_colon_dir/index.md
  files/ja/web/css/_colon_disabled/index.md
  files/ja/web/css/_colon_empty/index.md
  files/ja/web/css/_colon_enabled/index.md
  files/ja/web/css/_colon_first-child/index.md
  files/ja/web/css/_colon_first-of-type/index.md
  files/ja/web/css/_colon_first/index.md
  files/ja/web/css/_colon_focus-visible/index.md
  files/ja/web/css/_colon_focus-within/index.md
  files/ja/web/css/_colon_focus/index.md
  files/ja/web/css/_colon_fullscreen/index.md
  files/ja/web/css/_colon_host/index.md
  files/ja/web/css/_colon_host_function/index.md
  files/ja/web/css/_colon_hover/index.md
  files/ja/web/css/_colon_in-range/index.md
  files/ja/web/css/_colon_indeterminate/index.md
  files/ja/web/css/_colon_invalid/index.md
  files/ja/web/css/_colon_is/index.md
  files/ja/web/css/_colon_lang/index.md
  files/ja/web/css/_colon_last-child/index.md
  files/ja/web/css/_colon_last-of-type/index.md
  files/ja/web/css/_colon_left/index.md
  files/ja/web/css/_colon_link/index.md
  files/ja/web/css/_colon_not/index.md
  files/ja/web/css/_colon_nth-child/index.md
  files/ja/web/css/_colon_nth-last-child/index.md
  files/ja/web/css/_colon_nth-last-of-type/index.md
  files/ja/web/css/_colon_nth-of-type/index.md
  files/ja/web/css/_colon_only-child/index.md
  files/ja/web/css/_colon_only-of-type/index.md
  files/ja/web/css/_colon_optional/index.md
  files/ja/web/css/_colon_out-of-range/index.md
  files/ja/web/css/_colon_paused/index.md
  files/ja/web/css/_colon_picture-in-picture/index.md
  files/ja/web/css/_colon_placeholder-shown/index.md
  files/ja/web/css/_colon_playing/index.md
  files/ja/web/css/_colon_read-only/index.md
  files/ja/web/css/_colon_read-write/index.md
  files/ja/web/css/_colon_required/index.md
  files/ja/web/css/_colon_right/index.md
  files/ja/web/css/_colon_root/index.md
  files/ja/web/css/_colon_scope/index.md
  files/ja/web/css/_colon_target/index.md
  files/ja/web/css/_colon_user-valid/index.md
  files/ja/web/css/_colon_valid/index.md
  files/ja/web/css/_colon_visited/index.md
  files/ja/web/css/_colon_where/index.md
Labels: l10n-ja

#9021 残った `**Note:**` を `**メモ:**` へ置換
  files/ja/web/api/credentialscontainer/create/index.md
  files/ja/web/css/calc/index.md
  files/ja/web/css/css_positioning/understanding_z_index/adding_z-index/index.md
  files/ja/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
  files/ja/web/guide/html/constraint_validation/index.md
  files/ja/web/html/element/a/index.md
  files/ja/web/html/element/link/index.md
  files/ja/web/html/element/td/index.md
  files/ja/web/html/element/tfoot/index.md
  files/ja/web/html/element/video/index.md
  files/ja/web/http/headers/x-frame-options/index.md
  files/ja/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/ja/web/javascript/reference/statements/async_function/index.md
  files/ja/web/security/subresource_integrity/index.md
Labels: l10n-ja

#9047 chore: fix vertex shader varyings link
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Labels: l10n-zh

#9048 chore(zh-CN): adjust example code layout
  files/zh-cn/web/api/webgl_api/data/index.md
Labels: l10n-zh

#9036 zh-cn(update): sync Resizeobserver unobserver
  files/zh-cn/web/api/resizeobserver/unobserve/index.md
Labels: l10n-zh

#9043 docs: update headers/Access-Control-Allow-Origin
  files/zh-cn/web/http/headers/access-control-allow-origin/index.md
Labels: l10n-zh

#9058 docs(zh-CN): update example code & demo link
  files/zh-cn/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Labels: l10n-zh

#8976 用語集TURNの翻訳
  files/ja/glossary/turn/index.md
Labels: l10n-ja

#9054 Django_document_edit
  files/ko/learn/server-side/django/introduction/index.md
Labels: l10n-ko

#9046 Actualización de SVGElementView
  files/es/web/svg/element/view/index.md
Labels: l10n-es

#9051 fix: adds ^ as <sup> alternative
  files/es/web/javascript/reference/global_objects/math/expm1/index.md
  files/es/web/javascript/reference/global_objects/number/max_safe_integer/index.md
  files/es/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-es

#9052 sync with english version for `ReferenceError`
  files/zh-cn/web/javascript/reference/global_objects/referenceerror/index.md
Labels: l10n-zh

#9049 translate crypto.subtle.generateKey method for zh-cn
  files/zh-cn/web/api/subtlecrypto/generatekey/index.md
Labels: l10n-zh

#9061 chore: sync and remove broken external link in AudioContext
  files/zh-cn/web/api/baseaudiocontext/currenttime/index.md
  files/zh-cn/web/api/baseaudiocontext/destination/index.md
  files/zh-cn/web/api/baseaudiocontext/listener/index.md
  files/zh-cn/web/api/baseaudiocontext/samplerate/index.md
Labels: l10n-zh

#9069 Update index.md
  files/zh-cn/web/css/containing_block/index.md
Labels: l10n-zh

#9065 correct resizeobserverentry
  files/zh-cn/web/api/resizeobserverentry/index.md
Labels: l10n-zh

#9070 Update index.md
  files/zh-cn/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
Labels: l10n-zh

#9059 docs: Update input/file
  files/zh-cn/web/html/element/input/file/index.md
Labels: l10n-zh

#8691 Remove dead link on `Web/XSLT/Transforming_XML_with_XSLT/For_Further_Reading`
  files/fr/web/xslt/transforming_xml_with_xslt/for_further_reading/index.md
Labels: l10n-fr

#8948 Remove old specification macros
  files/fr/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
  files/fr/web/http/cors/index.md
  files/fr/web/http/feature_policy/index.md
  files/fr/web/http/headers/access-control-allow-methods/index.md
  files/fr/web/http/headers/access-control-allow-origin/index.md
  files/fr/web/http/headers/content-security-policy-report-only/index.md
  files/fr/web/http/headers/content-security-policy/block-all-mixed-content/index.md
  files/fr/web/http/headers/content-security-policy/default-src/index.md
  files/fr/web/http/headers/content-security-policy/frame-ancestors/index.md
  files/fr/web/http/headers/content-security-policy/index.md
  files/fr/web/http/headers/content-security-policy/plugin-types/index.md
  files/fr/web/http/headers/content-security-policy/report-uri/index.md
  files/fr/web/http/headers/content-security-policy/sandbox/index.md
  files/fr/web/http/headers/content-security-policy/upgrade-insecure-requests/index.md
  files/fr/web/http/headers/dnt/index.md
  files/fr/web/http/headers/tk/index.md
  files/fr/web/http/headers/x-content-type-options/index.md
  files/fr/web/http/resources_and_specifications/index.md
  files/fr/web/manifest/index.md
  files/fr/web/manifest/theme_color/index.md
  files/fr/web/mathml/element/maction/index.md
  files/fr/web/mathml/element/math/index.md
  files/fr/web/mathml/element/menclose/index.md
  files/fr/web/mathml/element/merror/index.md
  files/fr/web/mathml/element/mfenced/index.md
  files/fr/web/mathml/element/mfrac/index.md
  files/fr/web/mathml/element/mi/index.md
  files/fr/web/mathml/element/mover/index.md
  files/fr/web/mathml/element/msub/index.md
  files/fr/web/mathml/element/munder/index.md
  files/fr/web/mathml/element/munderover/index.md
  files/fr/web/performance/lazy_loading/index.md
  files/fr/web/security/secure_contexts/index.md
  files/fr/web/security/subresource_integrity/index.md
  files/fr/webassembly/index.md
  files/fr/webassembly/javascript_interface/compile/index.md
  files/fr/webassembly/javascript_interface/compileerror/index.md
  files/fr/webassembly/javascript_interface/compilestreaming/index.md
  files/fr/webassembly/javascript_interface/index.md
  files/fr/webassembly/javascript_interface/instance/exports/index.md
  files/fr/webassembly/javascript_interface/instantiate/index.md
  files/fr/webassembly/javascript_interface/instantiatestreaming/index.md
  files/fr/webassembly/javascript_interface/linkerror/index.md
  files/fr/webassembly/javascript_interface/memory/buffer/index.md
  files/fr/webassembly/javascript_interface/memory/grow/index.md
  files/fr/webassembly/javascript_interface/memory/index.md
  files/fr/webassembly/javascript_interface/module/customsections/index.md
  files/fr/webassembly/javascript_interface/module/exports/index.md
  files/fr/webassembly/javascript_interface/module/imports/index.md
  files/fr/webassembly/javascript_interface/runtimeerror/index.md
  files/fr/webassembly/javascript_interface/table/get/index.md
  files/fr/webassembly/javascript_interface/table/grow/index.md
  files/fr/webassembly/javascript_interface/table/index.md
  files/fr/webassembly/javascript_interface/table/length/index.md
  files/fr/webassembly/javascript_interface/table/set/index.md
  files/fr/webassembly/javascript_interface/validate/index.md
Labels: l10n-fr

#9086 fix: Markdownlint cleanup for FR
  files/fr/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/fr/webassembly/javascript_interface/memory/buffer/index.md
  files/fr/webassembly/javascript_interface/memory/grow/index.md
Labels: l10n-fr

#9088 fix: Markdownlint cleanup for zh-cn
  files/zh-cn/web/html/element/input/file/index.md
Labels: l10n-zh

#9095 fix: Remove Google Translate Links ZH-TW
  files/zh-tw/learn/javascript/first_steps/math/index.md
Labels: l10n-zh

#9072 zh-CN: update the translation of map
  files/zh-cn/web/javascript/reference/global_objects/map/index.md
Labels: l10n-zh

#9097 docs: update title for Less_than_or_equal
  files/zh-cn/web/javascript/reference/operators/less_than_or_equal/index.md
Labels: l10n-zh

#9080 chore: remove web.link macro - pt-br
  files/pt-br/web/javascript/guide/regular_expressions/index.md
Labels: l10n-pt-br, chore

#9098 docs: translation greater_than_or_equal content
  files/zh-cn/web/javascript/reference/operators/greater_than_or_equal/index.md
Labels: l10n-zh

#9107 docs: fix typo
  files/zh-cn/web/javascript/reference/operators/less_than_or_equal/index.md
Labels: l10n-zh

#9112 docs: update example translation for performanceresourcetiming
  files/zh-cn/web/api/performanceresourcetiming/index.md
Labels: l10n-zh

#9111 Update index.md
  files/zh-cn/web/css/visibility/index.md
Labels: l10n-zh

#9114 docs: update bitwise NOT operator
  files/zh-cn/web/javascript/reference/operators/bitwise_not/index.md
Labels: l10n-zh

#9115 fix: update void_element
  files/zh-cn/glossary/void_element/index.md
Labels: l10n-zh

#9109 chore: remove `{{source}}` macro from es
  files/es/mdn/writing_guidelines/page_structures/macros/other/index.md
  files/es/web/xpath/introduction_to_using_xpath_in_javascript/index.md
Labels: l10n-es

#9119 typo fix
  files/pt-br/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: l10n-pt-br

#9118 fix: Markdownlint cleanup for pt-br
  files/pt-br/games/anatomy/index.md
  files/pt-br/learn/common_questions/what_are_browser_developer_tools/index.md
  files/pt-br/learn/css/building_blocks/the_box_model/index.md
  files/pt-br/learn/css/howto/css_faq/index.md
  files/pt-br/learn/css/styling_text/styling_lists/index.md
  files/pt-br/learn/forms/how_to_build_custom_form_controls/index.md
  files/pt-br/learn/forms/your_first_form/index.md
  files/pt-br/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/pt-br/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/pt-br/learn/javascript/asynchronous/index.md
  files/pt-br/learn/javascript/building_blocks/build_your_own_function/index.md
  files/pt-br/learn/javascript/building_blocks/events/index.md
  files/pt-br/learn/javascript/objects/basics/index.md
  files/pt-br/learn/javascript/objects/object_prototypes/index.md
  files/pt-br/learn/server-side/django/authentication/index.md
  files/pt-br/learn/server-side/django/deployment/index.md
  files/pt-br/learn/server-side/django/generic_views/index.md
  files/pt-br/learn/server-side/django/home_page/index.md
  files/pt-br/learn/server-side/django/models/index.md
  files/pt-br/learn/server-side/django/testing/index.md
  files/pt-br/learn/server-side/express_nodejs/introduction/index.md
  files/pt-br/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
  files/pt-br/mdn/tools/kumascript/index.md
  files/pt-br/mozilla/firefox/releases/49/index.md
  files/pt-br/web/api/animationevent/animationname/index.md
  files/pt-br/web/api/console/index.md
  files/pt-br/web/api/element/getboundingclientrect/index.md
  files/pt-br/web/api/geolocation_api/index.md
  files/pt-br/web/api/htmlinputelement/index.md
  files/pt-br/web/api/idbcursor/index.md
  files/pt-br/web/api/indexeddb_api/using_indexeddb/index.md
  files/pt-br/web/api/keyboardevent/index.md
  files/pt-br/web/api/mouseevent/index.md
  files/pt-br/web/api/mutationobserver/index.md
  files/pt-br/web/api/server-sent_events/using_server-sent_events/index.md
  files/pt-br/web/api/serviceworkercontainer/register/index.md
  files/pt-br/web/css/color_value/index.md
  files/pt-br/web/css/css_lists_and_counters/index.md
  files/pt-br/web/css/display/index.md
  files/pt-br/web/css/image/index.md
  files/pt-br/web/css/min-height/index.md
  files/pt-br/web/css/visibility/index.md
  files/pt-br/web/html/element/meta/index.md
  files/pt-br/web/http/compression/index.md
  files/pt-br/web/http/headers/content-security-policy/index.md
  files/pt-br/web/javascript/guide/regular_expressions/index.md
  files/pt-br/web/javascript/reference/global_objects/math/index.md
  files/pt-br/web/javascript/reference/global_objects/string/indexof/index.md
  files/pt-br/web/javascript/reference/statements/block/index.md
  files/pt-br/web/svg/element/desc/index.md
  files/pt-br/web/web_components/index.md
Labels: l10n-pt-br

#9110 remove the last `{{source}}` macro from pt-br
  files/pt-br/web/api/event/comparison_of_event_targets/index.md
  files/pt-br/web/api/selection/index.md
Labels: l10n-pt-br

#9117 fix: remove broken link
  files/pt-br/web/javascript/reference/operators/subtraction/index.md
Labels: l10n-pt-br

#9123 docs: translation subtraction_assignment content
  files/zh-cn/web/javascript/reference/operators/subtraction_assignment/index.md
Labels: l10n-zh

#9124 docs: translation multiplication_assignment content
  files/zh-cn/web/javascript/reference/operators/multiplication_assignment/index.md
Labels: l10n-zh

#9126 docs: update Using the Resource Timing API
  files/zh-cn/web/api/performanceresourcetiming/index.md
  files/zh-cn/web/api/resource_timing_api/using_the_resource_timing_api/index.md
  files/zh-cn/web/http/headers/timing-allow-origin/index.md
Labels: l10n-zh

#9128 chore: Add other cases
  files/zh-cn/learn/javascript/objects/basics/index.md
Labels: l10n-zh

#9137 文字微调
  files/zh-cn/learn/html/tables/basics/index.md
Labels: l10n-zh

#9131 sync with english version for Push API
  files/zh-cn/web/api/push_api/index.md
Labels: l10n-zh

#9138 chore: remove unreferenced wiki history for l10n-zh
  files/zh-cn/_wikihistory.json
  files/zh-tw/_wikihistory.json
Labels: l10n-zh

#9141 docs: update input/color
  files/zh-cn/web/html/element/input/color/index.md
Labels: l10n-zh

#9146 docs: update content for addition_assignment
  files/zh-cn/web/javascript/reference/operators/addition_assignment/index.md
Labels: l10n-zh

#9144 init zh-CN translation for `::file-selector-button`
  files/zh-cn/web/css/_doublecolon_file-selector-button/index.md
  files/zh-cn/web/css/pseudo-elements/index.md
Labels: l10n-zh

#9140 zh-cn(update): sync with english for overflow
  files/zh-cn/web/css/overflow/index.md
Labels: l10n-zh

#9148 fix: code-style regression in input/file
  files/zh-cn/web/html/element/input/file/index.md
Labels: l10n-zh

#8919 AnimationEvent 以下を更新
  files/ja/web/api/animationevent/animationevent/index.md
  files/ja/web/api/animationevent/animationname/index.md
  files/ja/web/api/animationevent/elapsedtime/index.md
  files/ja/web/api/animationevent/index.md
  files/ja/web/api/animationevent/pseudoelement/index.md
Labels: l10n-ja

#8921 Event インターフェイスのアニメーション系イベントの記事を更新
  files/ja/web/api/element/animationcancel_event/index.md
  files/ja/web/api/element/animationend_event/index.md
  files/ja/web/api/element/animationiteration_event/index.md
Labels: l10n-ja

#8944 Firefox 85 for developers の記事を更新
  files/ja/mozilla/firefox/releases/85/index.md
Labels: l10n-ja

#8945 「キーボードで操作可能な JavaScript ウィジェット」の記事を更新
  files/ja/web/accessibility/keyboard-navigable_javascript_widgets/index.md
Labels: l10n-ja

#8946 `<input>` 要素の記事を更新
  files/ja/web/html/element/input/index.md
Labels: l10n-ja

#8966 Learn/JavaScript/Client-side_web_APIs を更新
  files/ja/learn/javascript/client-side_web_apis/index.md
Labels: l10n-ja

#8953 Glossary/Base64 を更新
  files/ja/glossary/base64/index.md
Labels: l10n-ja

#8967 Learn/JavaScript/Client-side_web_APIs/Introduction を更新
  files/ja/learn/javascript/client-side_web_apis/introduction/index.md
Labels: l10n-ja

#8970 Learn/JavaScript/Client-side_web_APIs/Fetching_data を更新
  files/ja/learn/javascript/client-side_web_apis/fetching_data/index.md
Labels: l10n-ja

#8971 Learn/JavaScript/Client-side_web_APIs/Third_party_APIs を更新
  files/ja/learn/javascript/client-side_web_apis/third_party_apis/index.md
Labels: l10n-ja

#8979 Learn/JavaScript/Client-side_web_APIs/Client-side_storage を更新
  files/ja/learn/javascript/client-side_web_apis/client-side_storage/index.md
Labels: l10n-ja

#9017 css has を 2022/10/05 時点の英語版に更新
  files/ja/web/css/_colon_has/index.md
Labels: l10n-ja

#8968 Learn/JavaScript/Client-side_web_APIs/Manipulating_documents を更新
  files/ja/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: l10n-ja

#9108 chore: remove the last source macro in ja
  files/ja/web/api/event/comparison_of_event_targets/index.md
Labels: l10n-ja

#9024 Fix typo
  files/ja/web/web_components/using_custom_elements/index.md
Labels: l10n-ja

#9087 fix: Markdownlint cleanup for JA
  files/ja/web/css/_colon_not/index.md
  files/ja/web/html/global_attributes/enterkeyhint/index.md
Labels: l10n-ja

#9037 Web 以下の interwiki マクロを除去
  files/ja/web/api/baseaudiocontext/createiirfilter/index.md
  files/ja/web/api/canvasrenderingcontext2d/filltext/index.md
  files/ja/web/api/canvasrenderingcontext2d/stroketext/index.md
  files/ja/web/api/element/innerhtml/index.md
  files/ja/web/api/geolocationcoordinates/longitude/index.md
  files/ja/web/api/htmlselectelement/selectedoptions/index.md
  files/ja/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.md
  files/ja/web/api/web_authentication_api/index.md
  files/ja/web/api/webgl_api/basic_2d_animation_example/index.md
  files/ja/web/api/webgl_api/data/index.md
  files/ja/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/ja/web/api/webgl_api/webgl_model_view_projection/index.md
  files/ja/web/api/webxr_device_api/cameras/index.md
  files/ja/web/api/webxr_device_api/fundamentals/index.md
  files/ja/web/api/webxr_device_api/geometry/index.md
  files/ja/web/api/webxr_device_api/lighting/index.md
  files/ja/web/css/css_colors/applying_color/index.md
  files/ja/web/css/cssom_view/coordinate_systems/index.md
  files/ja/web/css/image-orientation/index.md
  files/ja/web/css/list-style-type/index.md
  files/ja/web/css/max-block-size/index.md
  files/ja/web/css/transform-function/skew/index.md
  files/ja/web/css/transform-function/skewx/index.md
  files/ja/web/html/date_and_time_formats/index.md
  files/ja/web/html/element/abbr/index.md
  files/ja/web/html/element/rp/index.md
  files/ja/web/html/element/samp/index.md
  files/ja/web/html/element/sub/index.md
  files/ja/web/html/element/sup/index.md
  files/ja/web/html/element/time/index.md
  files/ja/web/html/element/tr/index.md
  files/ja/web/html/element/u/index.md
  files/ja/web/html/microformats/index.md
  files/ja/web/http/headers/if-unmodified-since/index.md
  files/ja/web/http/headers/referer/index.md
  files/ja/web/http/headers/referrer-policy/index.md
  files/ja/web/http/headers/strict-transport-security/index.md
  files/ja/web/http/headers/x-frame-options/index.md
  files/ja/web/http/protocol_upgrade_mechanism/index.md
  files/ja/web/http/status/404/index.md
  files/ja/web/http/status/418/index.md
  files/ja/web/http/status/451/index.md
  files/ja/web/http/status/502/index.md
  files/ja/web/http/status/504/index.md
  files/ja/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/ja/web/javascript/reference/global_objects/eval/index.md
  files/ja/web/javascript/reference/global_objects/math/cos/index.md
  files/ja/web/javascript/reference/global_objects/math/fround/index.md
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
  files/ja/web/javascript/reference/global_objects/string/length/index.md
  files/ja/web/media/formats/image_types/index.md
  files/ja/web/security/index.md
  files/ja/web/security/secure_contexts/index.md
  files/ja/web/security/transport_layer_security/index.md
Labels: l10n-ja

#9139 chore: remove unreferenced wiki history and consist slug
  files/fr/_wikihistory.json
  files/fr/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
  files/fr/web/html/element/input/button/index.md
  files/fr/web/html/element/input/checkbox/index.md
  files/fr/web/html/element/input/color/index.md
  files/fr/web/html/element/input/file/index.md
  files/fr/web/html/element/input/hidden/index.md
  files/fr/web/html/element/input/radio/index.md
  files/fr/web/html/element/input/reset/index.md
  files/fr/web/html/element/input/submit/index.md
  files/fr/web/html/element/input/text/index.md
Labels: l10n-fr

#9093 fix: Remove Google Translate Links FR
  files/fr/web/api/mediadevices/getusermedia/index.md
Labels: l10n-fr

#9160 fix: Markdownlint cleanup for ZH-CN
  files/zh-cn/web/javascript/reference/global_objects/map/index.md
Labels: l10n-zh

#9041 残りの interwiki マクロを除去
  files/ja/mozilla/firefox/releases/5/index.md
  files/ja/mozilla/firefox/releases/50/index.md
  files/ja/orphaned/mdn/community/working_in_community/index.md
Labels: l10n-ja

#9157 fix: Markdownlint cleanup for JA
  files/ja/glossary/firewall/index.md
  files/ja/glossary/lgpl/index.md
  files/ja/glossary/ota/index.md
  files/ja/glossary/unicode/index.md
  files/ja/learn/javascript/client-side_web_apis/introduction/index.md
  files/ja/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/ja/web/api/webgl_api/webgl_model_view_projection/index.md
  files/ja/web/css/max-block-size/index.md
  files/ja/web/css/text-combine-upright/index.md
Labels: l10n-ja
