Repository mdn/translated-content, pull requests merged in 2022-09, with the labels that each got.

#8136 fix video player example
  files/zh-cn/learn/javascript/building_blocks/events/index.md
Labels: l10n-zh

#8175 update slug in learn area
  files/zh-cn/_wikihistory.json
  files/zh-cn/learn/accessibility/accessibility_troubleshooting/index.md
  files/zh-cn/learn/accessibility/index.md
  files/zh-cn/learn/accessibility/mobile/index.md
  files/zh-cn/learn/accessibility/wai-aria_basics/index.md
  files/zh-cn/learn/javascript/index.md
  files/zh-cn/learn/performance/web_performance_basics/index.md
  files/zh-cn/learn/server-side/django/authentication/index.md
  files/zh-cn/learn/server-side/django/index.md
  files/zh-cn/learn/server-side/django/introduction/index.md
  files/zh-cn/learn/server-side/django/models/index.md
  files/zh-cn/learn/server-side/django/web_application_security/index.md
  files/zh-cn/learn/server-side/express_nodejs/deployment/index.md
  files/zh-cn/learn/server-side/express_nodejs/development_environment/index.md
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/author_detail_page/index.md
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/author_list_page/index.md
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/locallibrary_base_template/index.md
  files/zh-cn/learn/server-side/express_nodejs/skeleton_website/index.md
  files/zh-cn/learn/server-side/first_steps/client-server_overview/index.md
Labels: l10n-zh

#8177 Update index.md
  files/zh-cn/web/html/element/canvas/index.md
Labels: l10n-zh

#8182 Update index.md
  files/zh-cn/web/api/document/hidden/index.md
Labels: l10n-zh

#8184 fix: type on zh-cn page
  files/zh-cn/web/html/element/input/tel/index.md
Labels: l10n-zh

#8174 Delete orphaned pages
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/orphaned/web/css/css_animations/detecting_css_animation_support/index.md
  files/zh-cn/orphaned/web/css/css_properties_reference/index.md
  files/zh-cn/orphaned/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/zh-cn/orphaned/web/javascript/reference/errors/var_hides_argument/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/orphaned/glossary/dhtml/index.md
  files/zh-tw/orphaned/web/api/globaleventhandlers/index.md
  files/zh-tw/orphaned/web/css/css_properties_reference/index.md
  files/zh-tw/web/css/reference/index.md
  files/zh-tw/web/guide/ajax/index.md
Labels: l10n-zh

#8148 sync: update web/index
  files/zh-cn/web/index.md
Labels: l10n-zh

#8186 Fix typo
  files/ja/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: l10n-ja

#8187 Sync: web/media/index
  files/zh-cn/web/media/index.md
Labels: l10n-zh

#8189 Sync: web/guide/index
  files/zh-cn/web/guide/index.md
Labels: l10n-zh

#8173 sync with english version for client{Width, Height}
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/element/clientheight/index.md
  files/zh-cn/conflicting/web/api/element/clientwidth/index.md
  files/zh-cn/web/api/element/clientheight/index.md
  files/zh-cn/web/api/element/clientwidth/index.md
Labels: l10n-zh

#8193 docs: update keys()
  files/zh-cn/web/javascript/reference/global_objects/object/keys/index.md
Labels: l10n-zh

#7651 [ko] remove `{{tag}}` macro
  files/ko/mdn/writing_guidelines/howto/tag/index.md
Labels: l10n-ko

#7996 Learn/JavaScript/First_steps を更新
  files/ja/learn/javascript/first_steps/index.md
Labels: l10n-ja

#8049 Firefox 103 for developersを更新
  files/ja/mozilla/firefox/releases/103/index.md
Labels: l10n-ja

#8048 Firefox 104 for developersを翻訳
  files/ja/mozilla/firefox/releases/104/index.md
Labels: l10n-ja

#8198 remove the last `{{tag}}` macro
  files/es/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
Labels: l10n-es

#8183 sync with english version for XHR response
  files/zh-cn/web/api/xmlhttprequest/response/index.md
Labels: l10n-zh

#8190 sync with english version for addEventListener
  files/zh-cn/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-zh

#8212 remove all {{tag}} macro from translated-content
  files/es/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
Labels: l10n-es

#8228 修改文案错别字
  files/zh-cn/web/events/index.md
Labels: l10n-zh

#8222 Text and link tweaks
  files/zh-cn/learn/html/introduction_to_html/getting_started/index.md
Labels: l10n-zh

#8025 Object.hasOwn の翻訳
  files/ja/web/javascript/reference/global_objects/object/hasown/index.md
Labels: l10n-ja

#8043 MediaQueryList サンプルコード修正
  files/ja/web/api/mediaquerylist/index.md
Labels: l10n-ja

#8060 Web/SVG/Tutorial/Basic_Transformations を更新
  files/ja/web/svg/tutorial/basic_transformations/index.md
Labels: l10n-ja

#8214 chore: convert Firefox release docs to markdown for Spanish
  files/es/mozilla/firefox/releases/1.5/index.html
  files/es/mozilla/firefox/releases/1.5/index.md
  files/es/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.html
  files/es/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
  files/es/mozilla/firefox/releases/2/index.html
  files/es/mozilla/firefox/releases/2/index.md
  files/es/mozilla/firefox/releases/2/security_changes/index.html
  files/es/mozilla/firefox/releases/2/security_changes/index.md
  files/es/mozilla/firefox/releases/3.5/index.html
  files/es/mozilla/firefox/releases/3.5/index.md
  files/es/mozilla/firefox/releases/3/dom_improvements/index.html
  files/es/mozilla/firefox/releases/3/dom_improvements/index.md
  files/es/mozilla/firefox/releases/3/full_page_zoom/index.html
  files/es/mozilla/firefox/releases/3/full_page_zoom/index.md
  files/es/mozilla/firefox/releases/3/index.html
  files/es/mozilla/firefox/releases/3/index.md
  files/es/mozilla/firefox/releases/3/notable_bugs_fixed/index.html
  files/es/mozilla/firefox/releases/3/notable_bugs_fixed/index.md
  files/es/mozilla/firefox/releases/3/svg_improvements/index.html
  files/es/mozilla/firefox/releases/3/svg_improvements/index.md
  files/es/mozilla/firefox/releases/3/templates/index.md
  files/es/mozilla/firefox/releases/3/updating_extensions/index.html
  files/es/mozilla/firefox/releases/3/updating_extensions/index.md
  files/es/mozilla/firefox/releases/3/updating_web_applications/index.html
  files/es/mozilla/firefox/releases/3/updating_web_applications/index.md
  files/es/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.html
  files/es/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.md
  files/es/mozilla/firefox/releases/30/index.html
  files/es/mozilla/firefox/releases/30/index.md
  files/es/mozilla/firefox/releases/50/index.html
  files/es/mozilla/firefox/releases/50/index.md
  files/es/mozilla/firefox/releases/57/index.html
  files/es/mozilla/firefox/releases/57/index.md
  files/es/mozilla/firefox/releases/61/index.html
  files/es/mozilla/firefox/releases/61/index.md
  files/es/mozilla/firefox/releases/66/index.html
  files/es/mozilla/firefox/releases/66/index.md
  files/es/mozilla/firefox/releases/9/index.html
  files/es/mozilla/firefox/releases/9/index.md
  files/es/mozilla/firefox/releases/9/updating_add-ons/index.md
  files/es/mozilla/firefox/releases/index.html
  files/es/mozilla/firefox/releases/index.md
Labels: l10n-es, markdown-conversion

#8206 Convert /web/html/element/[a-d] folder to Markdown (es)
  files/es/web/html/element/abbr/index.html
  files/es/web/html/element/abbr/index.md
  files/es/web/html/element/address/index.html
  files/es/web/html/element/address/index.md
  files/es/web/html/element/article/index.html
  files/es/web/html/element/article/index.md
  files/es/web/html/element/aside/index.html
  files/es/web/html/element/aside/index.md
  files/es/web/html/element/audio/index.html
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/bdi/index.html
  files/es/web/html/element/bdi/index.md
  files/es/web/html/element/blink/index.html
  files/es/web/html/element/blink/index.md
  files/es/web/html/element/br/index.html
  files/es/web/html/element/br/index.md
  files/es/web/html/element/canvas/index.html
  files/es/web/html/element/canvas/index.md
  files/es/web/html/element/data/index.html
  files/es/web/html/element/data/index.md
Labels: l10n-es, markdown-conversion

#8237 Update learn/html/howto/index
  files/zh-cn/learn/html/howto/index.md
Labels: l10n-zh

#8236 optimize translation in learn/forms/index
  files/zh-cn/learn/forms/index.md
Labels: l10n-zh

#8226 sync with english version for GainNode.gain
  files/zh-cn/web/api/gainnode/gain/index.md
Labels: l10n-zh

#8057 sync with english version for BCD tables guide
  files/zh-cn/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
Labels: l10n-zh

#8243 Update index.md
  files/zh-cn/web/css/shorthand_properties/index.md
Labels: l10n-zh

#8249 Update index.md
  files/zh-cn/web/api/battery_status_api/index.md
Labels: l10n-zh

#8241 remove all orphaned pages from zh-CN
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/orphaned/web/api/canvasrenderingcontext2d/drawwidgetasonscreen/index.md
  files/zh-cn/orphaned/web/api/document/documenturiobject/index.md
  files/zh-cn/orphaned/web/api/file/getasbinary/index.md
  files/zh-cn/orphaned/web/api/file/getasdataurl/index.md
  files/zh-cn/orphaned/web/api/file/getastext/index.md
  files/zh-cn/orphaned/web/api/file/mozfullpath/index.md
  files/zh-cn/orphaned/web/api/fileerror/index.md
  files/zh-cn/orphaned/web/api/frame_timing_api/index.md
  files/zh-cn/orphaned/web/api/globaleventhandlers/index.md
  files/zh-cn/orphaned/web/api/idbcursorsync/index.md
  files/zh-cn/orphaned/web/api/text/iselementcontentwhitespace/index.md
  files/zh-cn/orphaned/web/api/textrange/index.md
  files/zh-cn/orphaned/web/api/uievent/ischar/index.md
  files/zh-cn/orphaned/web/api/window/controllers/index.md
  files/zh-cn/orphaned/web/api/window/dialogarguments/index.md
  files/zh-cn/orphaned/web/api/window/directories/index.md
  files/zh-cn/orphaned/web/api/window/onmozbeforepaint/index.md
  files/zh-cn/orphaned/web/api/window/onpaint/index.md
  files/zh-cn/orphaned/web/api/window/setcursor/index.md
  files/zh-cn/orphaned/web/api/xmlhttprequest/mozresponsearraybuffer/index.md
  files/zh-cn/web/api/animation/starttime/index.md
  files/zh-cn/web/api/indexeddb_api/index.md
  files/zh-cn/web/api/text/index.md
  files/zh-cn/web/api/uievent/index.md
  files/zh-cn/web/api/window/index.md
  files/zh-cn/web/api/window/showmodaldialog/index.md
  files/zh-cn/web/performance/index.md
Labels: l10n-zh

#8250 fix writing style
  files/zh-cn/web/css/right/index.md
Labels: l10n-zh

#8239 sync with english version for WeakSet
  files/zh-cn/web/javascript/reference/global_objects/weakset/index.md
Labels: l10n-zh

#8246 sync: web/css/shorthand_properties
  files/zh-cn/web/css/shorthand_properties/index.md
Labels: l10n-zh

#8194 Sync: Web/HTML/Quirks_Mode_and_Standards_Mode
  files/zh-cn/web/html/quirks_mode_and_standards_mode/index.md
Labels: l10n-zh

#8255 正确应用粗体样式
  files/zh-cn/web/api/htmlelement/click/index.md
Labels: l10n-zh

#8232 Translate-deep-copy
  files/fr/glossary/deep_copy/index.md
Labels: l10n-fr

#8251 sync with english version for drag event
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/htmlelement/drag_event/index.md
  files/zh-cn/web/api/htmlelement/drag_event/index.md
Labels: l10n-zh

#8245 Sync with english version for Blob
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/blob/index.md
  files/zh-cn/conflicting/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/zh-cn/web/api/blob/index.md
Labels: l10n-zh

#8264 fix typo
  files/zh-cn/web/api/htmlelement/drag_event/index.md
Labels: l10n-zh

#8252 sync with english version for getSupportedExtensions()
  files/zh-cn/web/api/webglrenderingcontext/getsupportedextensions/index.md
Labels: l10n-zh

#8275 Fix typo in http/cors/errors
  files/zh-cn/web/http/cors/errors/corsdisabled/index.md
Labels: l10n-zh

#8256 Sync web/guide/html/content_categories
  files/zh-cn/web/guide/html/content_categories/index.md
Labels: l10n-zh

#8144 Fix translation and tags
  files/fr/glossary/ajax/index.md
Labels: l10n-fr

#8143 Translate "Learn more" on fr "Alignment subject"
  files/fr/glossary/alignment_subject/index.md
Labels: l10n-fr

#8196 translation and update to match with EN version
  files/fr/glossary/abstraction/index.md
Labels: l10n-fr

#8273 improvment of web/http/cors/errors/corsmissingalloworigin
  files/zh-cn/web/http/cors/errors/corsmissingalloworigin/index.md
Labels: l10n-zh

#8282 修改语法高亮
  files/zh-cn/web/css/border-radius/index.md
Labels: l10n-zh

#8280 修改一些标点符号及代码的语法高亮
  files/zh-cn/web/css/border/index.md
Labels: l10n-zh

#8265 sync with english version for `dragleave` event
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/htmlelement/dragleave_event/index.md
  files/zh-cn/web/api/htmlelement/dragleave_event/index.md
Labels: l10n-zh

#8131 [pt-br] Fixing the small typo 'trabahando'
  files/pt-br/learn/javascript/first_steps/math/index.html
Labels: l10n-pt-br

#8180 Conflicting cleanup for fr as of 20220831
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/document/index.md
  files/fr/conflicting/web/api/element/clientheight/index.md
  files/fr/conflicting/web/api/element/clientwidth/index.md
Labels: l10n-fr

#8158 Remove `{{warning}}` for fr
  files/fr/web/api/performance/navigation/index.md
  files/fr/web/api/performance/timing/index.md
Labels: l10n-fr

#8311 Update index.md
  files/zh-cn/web/performance/optimizing_startup_performance/index.md
Labels: l10n-zh

#8316 Update index.md
  files/zh-cn/web/api/fullscreen_api/index.md
Labels: l10n-zh

#8314 docs: update sort()
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
Labels: l10n-zh

#8244 for...of文の構文の修正 Fix syntax of for...of statement
  files/ja/web/javascript/reference/statements/for...of/index.md
Labels: l10n-ja

#8312 Cleanup conflicting as of 2022-09-05
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/api/blob/index.md
  files/fr/conflicting/web/javascript/reference/deprecated_and_obsolete_features/index.md
Labels: l10n-fr

#8291 fix typo in ja
  files/ja/web/api/performance/mark/index.md
Labels: l10n-ja

#8301 sync with english version for drop event
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/htmlelement/drop_event/index.md
  files/zh-cn/web/api/htmlelement/drop_event/index.md
Labels: l10n-zh

#8302 sync with english version for GainNode
  files/zh-cn/web/api/gainnode/index.md
Labels: l10n-zh

#8299 fix: Markdownlint cleanup for ES
  files/es/conflicting/mdn/writing_guidelines/page_structures_978c99f4f82eae196d51ce675e5181c7/index.md
  files/es/conflicting/web/accessibility/aria/index.md
  files/es/conflicting/web/accessibility/aria_64707ba1917a56654679cbe273e2f4ea/index.md
  files/es/conflicting/web/api/element/wheel_event/index.md
  files/es/conflicting/web/api/eventtarget/addeventlistener/index.md
  files/es/conflicting/web/api/file/name/index.md
  files/es/conflicting/web/api/geolocation/getcurrentposition/index.md
  files/es/conflicting/web/api/window/beforeunload_event/index.md
  files/es/conflicting/web/api/window/hashchange_event/index.md
  files/es/conflicting/web/css/cursor/index.md
  files/es/conflicting/web/css/index.md
  files/es/conflicting/web/javascript/javascript_technologies_overview/index.md
  files/es/conflicting/web/javascript/reference/global_objects/array/tostring/index.md
  files/es/conflicting/web/javascript/reference/global_objects/error/tostring/index.md
  files/es/conflicting/web/javascript/reference/global_objects/function/tostring/index.md
  files/es/conflicting/web/javascript/reference/global_objects/object/tostring/index.md
  files/es/conflicting/web/javascript/reference/global_objects/string/index.md
  files/es/conflicting/web/javascript/reference/global_objects/string/tostring/index.md
  files/es/orphaned/web/api/navigatorconcurrenthardware/hardwareconcurrency/index.md
  files/es/orphaned/web/api/navigatorlanguage/language/index.md
  files/es/orphaned/web/api/navigatoronline/online/index.md
  files/es/orphaned/web/api/navigatoronline/online_and_offline_events/index.md
Labels: l10n-es

#8318 Fix spelling line 269
  files/es/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-es

#8248 Remove `{{index}}` macro from translated-content
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/conflicting/web/html/index.md
  files/es/conflicting/web/svg/index.md
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/accessibility/index.md
  files/ja/conflicting/webassembly/index.md
Labels: l10n-ja, l10n-es

#8084 [ko] fix invalid link in indexed_db document
  files/ko/web/api/indexeddb_api/using_indexeddb/index.md
Labels: l10n-ko

#8216 [ko/update] Proxy handler.apply()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
Labels: l10n-ko

#8230 [ko] handler.getOwnPropertyDescriptor()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/getownpropertydescriptor/index.md
Labels: l10n-ko

#8326 Update index.md
  files/zh-cn/web/api/websocket/index.md
Labels: l10n-zh

#8325 Update index.md
  files/zh-cn/web/api/websockets_api/index.md
Labels: l10n-zh

#8332 docs: update filter()
  files/zh-cn/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-zh

#8333 Adding a space to successfully apply a syntax
  files/zh-cn/web/javascript/reference/functions/get/index.md
Labels: l10n-zh

#8334 Correct the errors of translation expression about zh-CN
  files/zh-cn/web/javascript/reference/global_objects/object/assign/index.md
Labels: l10n-zh

#8336 update glossary/adobe_flash
  files/zh-cn/glossary/adobe_flash/index.md
Labels: l10n-zh

#8335 update glossary/abstraction
  files/zh-cn/glossary/abstraction/index.md
Labels: l10n-zh

#8217 [ko] handler.construct()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
Labels: l10n-ko

#8274 [ko] handler.set()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/set/index.md
Labels: l10n-ko

#8328 Update index.md
  files/ja/web/api/node/index.md
Labels: l10n-ja

#8322 Remove most of the {{link}} macros from Spanish
  files/es/glossary/javascript/index.md
  files/es/glossary/primitive/index.md
Labels: l10n-es

#8160 Convert /web/javascript/guide folder to Markdown (es)
  files/es/web/javascript/guide/control_flow_and_error_handling/index.html
  files/es/web/javascript/guide/control_flow_and_error_handling/index.md
  files/es/web/javascript/guide/expressions_and_operators/index.html
  files/es/web/javascript/guide/expressions_and_operators/index.md
  files/es/web/javascript/guide/functions/index.html
  files/es/web/javascript/guide/functions/index.md
  files/es/web/javascript/guide/grammar_and_types/index.html
  files/es/web/javascript/guide/grammar_and_types/index.md
  files/es/web/javascript/guide/indexed_collections/index.html
  files/es/web/javascript/guide/indexed_collections/index.md
  files/es/web/javascript/guide/introduction/index.html
  files/es/web/javascript/guide/introduction/index.md
  files/es/web/javascript/guide/iterators_and_generators/index.html
  files/es/web/javascript/guide/iterators_and_generators/index.md
  files/es/web/javascript/guide/keyed_collections/index.html
  files/es/web/javascript/guide/keyed_collections/index.md
  files/es/web/javascript/guide/loops_and_iteration/index.html
  files/es/web/javascript/guide/loops_and_iteration/index.md
  files/es/web/javascript/guide/modules/index.html
  files/es/web/javascript/guide/modules/index.md
  files/es/web/javascript/guide/numbers_and_dates/index.html
  files/es/web/javascript/guide/numbers_and_dates/index.md
  files/es/web/javascript/guide/regular_expressions/index.html
  files/es/web/javascript/guide/regular_expressions/index.md
  files/es/web/javascript/guide/using_promises/index.html
  files/es/web/javascript/guide/using_promises/index.md
  files/es/web/javascript/guide/working_with_objects/index.html
  files/es/web/javascript/guide/working_with_objects/index.md
Labels: l10n-es, markdown-conversion

#8059 ci: update git commiter email as `github-actions`
  .github/workflows/sync-translated-content.yml
Labels: system

#8257 Run `sync-translated-content` on `mdn/translated-content` only
  .github/workflows/sync-translated-content.yml
Labels: system

#8323 sync with english version for SVG `d`
  files/zh-cn/web/svg/attribute/d/index.md
Labels: l10n-zh

#8347 add missing pt-br content about closures
  files/pt-br/web/javascript/closures/index.html
Labels: l10n-pt-br

#7940 Update index.html
  files/pt-br/learn/javascript/first_steps/what_is_javascript/index.html
Labels: l10n-pt-br

#8346 Docs: update `block-size`
  files/zh-cn/web/css/block-size/index.md
Labels: l10n-zh

#8348 Docs: update `object-fill`
  files/zh-cn/web/css/object-fit/index.md
Labels: l10n-zh

#8354 fix: Markdownlint cleanup for FR
  files/fr/games/examples/index.md
  files/fr/glossary/abstraction/index.md
  files/fr/learn/common_questions/using_github_pages/index.md
  files/fr/learn/forms/sending_and_retrieving_form_data/index.md
  files/fr/learn/html/howto/author_fast-loading_html_pages/index.md
  files/fr/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/fr/learn/html/introduction_to_html/marking_up_a_letter/index.md
  files/fr/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/fr/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/fr/learn/server-side/django/forms/index.md
  files/fr/learn/server-side/express_nodejs/introduction/index.md
  files/fr/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/fr/mozilla/add-ons/webextensions/api/browsingdata/removaloptions/index.md
  files/fr/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
  files/fr/mozilla/add-ons/webextensions/api/tabs/update/index.md
  files/fr/mozilla/add-ons/webextensions/user_interface/omnibox/index.md
  files/fr/web/api/document/activeelement/index.md
  files/fr/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/fr/web/api/history_api/index.md
  files/fr/web/api/request/request/index.md
  files/fr/web/api/ui_events/keyboard_event_key_values/index.md
  files/fr/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/fr/web/api/webvtt_api/index.md
  files/fr/web/css/pointer-events/index.md
  files/fr/web/guide/html/content_categories/index.md
  files/fr/web/html/element/input/index.md
  files/fr/web/security/secure_contexts/index.md
Labels: l10n-fr

#8351 typo `例<` -> `例`
  files/ja/web/api/htmlinputelement/invalid_event/index.md
Labels: l10n-ja

#8357 Learn/Forms 以下の記事を更新
  files/ja/learn/forms/advanced_form_styling/index.md
  files/ja/learn/forms/basic_native_form_controls/index.md
  files/ja/learn/forms/form_validation/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/example_1/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/example_2/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/example_3/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/example_4/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/example_5/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/index.md
  files/ja/learn/forms/how_to_structure_a_web_form/example/index.md
  files/ja/learn/forms/how_to_structure_a_web_form/index.md
  files/ja/learn/forms/html5_input_types/index.md
  files/ja/learn/forms/html_forms_in_legacy_browsers/index.md
  files/ja/learn/forms/other_form_controls/index.md
  files/ja/learn/forms/property_compatibility_table_for_form_controls/index.md
  files/ja/learn/forms/sending_and_retrieving_form_data/index.md
  files/ja/learn/forms/sending_forms_through_javascript/index.md
  files/ja/learn/forms/styling_web_forms/index.md
  files/ja/learn/forms/ui_pseudo-classes/index.md
  files/ja/learn/forms/your_first_form/index.md
Labels: l10n-ja

#8204 Fix typo in ja files
  files/ja/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
  files/ja/web/api/webrtc_api/index.md
  files/ja/web/guide/writing_forward-compatible_websites/index.md
  files/ja/web/html/element/input/image/index.md
  files/ja/web/http/connection_management_in_http_1.x/index.md
  files/ja/web/javascript/reference/classes/private_class_fields/index.md
  files/ja/web/security/insecure_passwords/index.md
Labels: l10n-ja

#8292 remove `{{Link}}` macro from ja locale
  files/ja/glossary/javascript/index.md
  files/ja/glossary/json/index.md
  files/ja/glossary/localization/index.md
Labels: l10n-ja

#8353 docs: update padstart() and padend()
  files/zh-cn/web/javascript/reference/global_objects/string/padend/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/padstart/index.md
Labels: l10n-zh

#8358 Sync with English version for MutationObserver.observe()
  files/zh-cn/web/api/mutationobserver/observe/index.md
Labels: l10n-zh

#8345 [ko] add missing translation /Web/JavaScript/Closures
  files/ko/web/javascript/closures/index.md
Labels: l10n-ko

#8352 fix: Markdownlint cleanup for ES
  docs/es/README.md
  files/es/conflicting/web/javascript/javascript_technologies_overview/index.md
  files/es/games/tutorials/2d_breakout_game_phaser/index.md
  files/es/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/es/glossary/cacheable/index.md
  files/es/glossary/grid/index.md
  files/es/learn/common_questions/using_github_pages/index.md
  files/es/learn/common_questions/what_is_a_domain_name/index.md
  files/es/learn/css/building_blocks/values_and_units/index.md
  files/es/learn/css/styling_text/fundamentals/index.md
  files/es/learn/getting_started_with_the_web/publishing_your_website/index.md
  files/es/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/es/learn/html/introduction_to_html/marking_up_a_letter/index.md
  files/es/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/es/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/es/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/es/mdn/tools/kumascript/index.md
  files/es/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
  files/es/web/http/caching/index.md
  files/es/web/javascript/guide/control_flow_and_error_handling/index.md
  files/es/web/javascript/guide/expressions_and_operators/index.md
  files/es/web/javascript/guide/functions/index.md
  files/es/web/javascript/guide/grammar_and_types/index.md
  files/es/web/javascript/guide/indexed_collections/index.md
  files/es/web/javascript/guide/introduction/index.md
  files/es/web/javascript/guide/iterators_and_generators/index.md
  files/es/web/javascript/guide/loops_and_iteration/index.md
  files/es/web/javascript/guide/modules/index.md
  files/es/web/javascript/guide/regular_expressions/index.md
  files/es/web/javascript/guide/using_promises/index.md
  files/es/web/javascript/guide/working_with_objects/index.md
Labels: l10n-es

#8367 Update index.md
  files/zh-cn/web/javascript/guide/loops_and_iteration/index.md
Labels: l10n-zh

#8379 add some translation
  files/zh-cn/web/api/abortcontroller/index.md
Labels: l10n-zh

#8382 fix sidebar display and update latest translation
  files/zh-cn/web/http/headers/strict-transport-security/index.md
Labels: l10n-zh

#8380 fix #8365
  files/zh-cn/web/css/text-shadow/index.md
Labels: l10n-zh

#8370 Fix the broken link
  files/fr/web/api/network_information_api/index.md
Labels: l10n-fr

#8359 Fix broken link
  files/ru/web/css/content/index.md
Labels: l10n-ru

#7698 Update /ru/learn/html/tables/advanced
  files/ru/learn/html/tables/advanced/index.html
Labels: l10n-ru

#8132 (ru) Remove `{{DOM0}}` macro
  files/ru/web/api/window/scrollto/index.html
Labels: l10n-ru

#8008 (ru) Fix translation in "this" operator page
  files/ru/web/javascript/reference/operators/this/index.html
Labels: l10n-ru

#8124 (ru) Fix typo in "Introduction to client-side frameworks" page
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/index.html
Labels: l10n-ru

#8195 Web/API/HTML_Sanitizer_API の翻訳
  files/ja/web/api/html_sanitizer_api/index.md
Labels: l10n-ja

#8342 Fix typo
  files/ja/web/svg/tutorial/paths/index.md
Labels: l10n-ja

#8234 Web/JavaScript/Reference/Global_Objects/Array を更新
  files/ja/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ja

#8391 fixing format.
  files/zh-cn/learn/common_questions/available_text_editors/index.md
Labels: l10n-zh

#8392 update a link
  files/zh-cn/web/api/intersection_observer_api/index.md
Labels: l10n-zh

#8384 docs: update find()
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.md
Labels: l10n-zh

#8385 docs: update array function syntax
  files/zh-cn/web/javascript/reference/global_objects/array/@@species/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/array/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/copywithin/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/entries/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/every/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlast/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/flat/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/flatmap/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/from/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/includes/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/indexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/join/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/of/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/push/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduce/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduceright/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reverse/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/shift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/some/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tolocalestring/index.md
Labels: l10n-zh

#8396 update glossary/https
  files/zh-cn/glossary/https/index.md
Labels: l10n-zh

#8227 [ko] handler.get()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/get/index.md
Labels: l10n-ko

#8366 change korean interpretation of 'examples'
  docs/ko/translation-guide.md
Labels: l10n-ko

#8394 Sync with english version for `eventtarget` and its subpages
  files/zh-cn/web/api/eventtarget/dispatchevent/index.md
  files/zh-cn/web/api/eventtarget/eventtarget/index.md
  files/zh-cn/web/api/eventtarget/index.md
  files/zh-cn/web/api/eventtarget/removeeventlistener/index.md
Labels: l10n-zh

#8399 docs: update array all see
  files/zh-cn/web/javascript/reference/global_objects/array/@@iterator/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/@@species/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/array/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/at/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/concat/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/copywithin/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/entries/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/every/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/fill/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/flat/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/flatmap/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/from/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/includes/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/indexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/isarray/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/join/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/length/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/of/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/push/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduceright/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reverse/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/shift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/some/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/unshift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.md
Labels: l10n-zh

#8402 Update `Cache-Control` page
  files/fr/web/http/headers/cache-control/index.md
Labels: l10n-fr

#8395 Initial translation of `Glossary/Speed_index`
  files/fr/glossary/speed_index/index.md
Labels: l10n-fr

#8409 docs: update array foreach()
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-zh

#8410 Fixing some format issues.
  files/zh-cn/learn/common_questions/available_text_editors/index.md
  files/zh-cn/learn/common_questions/thinking_before_coding/index.md
  files/zh-cn/learn/common_questions/what_are_browser_developer_tools/index.md
  files/zh-cn/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: l10n-zh

#8215 [ko/update] Proxy handler
  files/ko/web/javascript/reference/global_objects/proxy/proxy/index.md
Labels: l10n-ko

#8271 [ko] handler.ownKeys()
  files/ko/web/javascript/reference/global_objects/proxy/proxy/ownkeys/index.md
Labels: l10n-ko

#8142 Fix the translation of Apple Safari glossary page
  files/fr/glossary/apple_safari/index.md
Labels: l10n-fr

#8258 Translation color wheel
  files/fr/glossary/color_wheel/index.md
Labels: l10n-fr

#8372 Translate glossary page for "Effective connection type"
  files/fr/glossary/effective_connection_type/index.md
Labels: l10n-fr

#8414 typo in index.md
  files/fr/web/javascript/reference/strict_mode/index.md
Labels: l10n-fr

#8415 zh-CN: update the translation of character classes
  files/zh-cn/web/javascript/guide/regular_expressions/character_classes/index.md
Labels: l10n-zh

#8411 docs: update array()
  files/zh-cn/web/javascript/reference/global_objects/array/array/index.md
  files/zh-cn/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-zh

#8404 sync with english version for JS technology overview
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/javascript/javascript_technologies_overview/index.md
  files/zh-cn/web/javascript/javascript_technologies_overview/index.md
Labels: l10n-zh

#8420 docs: synchronous update foreach()
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-zh

#8386 Translate glossary page for Representation header
  files/fr/glossary/representation_header/index.md
Labels: l10n-fr

#8424 fix the description of `max-age`
  files/zh-cn/web/http/caching/index.md
Labels: l10n-zh

#8343 Fix typo
  files/ja/web/svg/tutorial/index.md
Labels: l10n-ja

#7842 用語集 UUID の翻訳
  files/ja/glossary/uuid/index.md
Labels: l10n-ja

#8369 -webkit-text-fill-color の更新
  files/ja/web/css/-webkit-text-fill-color/index.md
Labels: l10n-ja

#8381 Fix typo
  files/ja/web/api/file_api/using_files_from_web_applications/index.md
Labels: l10n-ja

#8412 sync with english version for multi-column layouts
  files/zh-cn/web/css/css_columns/using_multi-column_layouts/index.md
Labels: l10n-zh

#8418 Remove `{{mediawiki.external}}` macro from zh-CN
  files/zh-cn/mozilla/firefox/releases/3/index.md
  files/zh-cn/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/zh-cn/web/api/node/childnodes/index.md
  files/zh-cn/web/javascript/reference/global_objects/date/utc/index.md
Labels: l10n-zh

#8408 sync with english version for `drawImage()`
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/api/canvasrenderingcontext2d/drawimage/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/drawimage/index.md
Labels: l10n-zh

#8428 fix: translate error
  files/zh-cn/webassembly/rust_to_wasm/index.md
Labels: l10n-zh

#8373 Getting started with Svelte の翻訳
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: l10n-ja

#8438 fix: Markdownlint cleanup for FR
  files/fr/glossary/apple_safari/index.md
  files/fr/glossary/color_wheel/index.md
  files/fr/glossary/speed_index/index.md
Labels: l10n-fr

#8437 fix: Markdownlint cleanup for ZH-CN
  files/zh-cn/games/anatomy/index.md
  files/zh-cn/web/api/eventtarget/dispatchevent/index.md
  files/zh-cn/web/api/mutationobserver/observe/index.md
  files/zh-cn/web/api/window/matchmedia/index.md
  files/zh-cn/web/api/window/open/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/array/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/padstart/index.md
  files/zh-cn/web/svg/attribute/d/index.md
Labels: l10n-zh

#8436 fix: Markdownlint cleanup for ZH-TW
  files/zh-tw/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/zh-tw/learn/server-side/django/forms/index.md
  files/zh-tw/learn/server-side/django/skeleton_website/index.md
  files/zh-tw/learn/server-side/express_nodejs/deployment/index.md
  files/zh-tw/learn/server-side/express_nodejs/introduction/index.md
  files/zh-tw/mdn/writing_guidelines/index.md
  files/zh-tw/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
  files/zh-tw/web/api/customevent/customevent/index.md
  files/zh-tw/web/api/history_api/index.md
  files/zh-tw/web/api/window/location/index.md
  files/zh-tw/web/http/cors/errors/corsmissingalloworigin/index.md
  files/zh-tw/web/http/cors/index.md
  files/zh-tw/web/http/headers/cache-control/index.md
  files/zh-tw/web/http/headers/strict-transport-security/index.md
  files/zh-tw/web/security/same-origin_policy/index.md
Labels: l10n-zh

#8434 docs: update array indexof()
  files/zh-cn/web/javascript/reference/global_objects/array/indexof/index.md
Labels: l10n-zh

#8431 zh-CN: update the translation of Games/Anatomy
  files/zh-cn/games/anatomy/index.md
Labels: l10n-zh
