Repository mdn/translated-content, pull requests merged in 2023-12, with the labels that each got.

#17209 zh-cn: update the description of `receiver` parameter in `handler.set()` method
  files/zh-cn/web/javascript/reference/global_objects/proxy/proxy/set/index.md
Labels: l10n-zh

#17205 zh-cn: synchronize the translation of `Blob.slice()`
  files/zh-cn/web/api/blob/slice/index.md
Labels: l10n-zh

#17135 Translate Insertable Streams for MediaStreamTrack API
  files/ja/web/api/insertable_streams_for_mediastreamtrack_api/index.md
Labels: l10n-ja

#17137 Web/API/Touch_events を更新
  files/ja/web/api/touch_events/index.md
Labels: l10n-ja

#16805 [ko] add translation to device orientation events in Web API
  files/ko/web/api/device_orientation_events/index.md
Labels: l10n-ko

#17207 zh-CN: Synchronize the translation of Blob.arrayBuffer
  files/zh-cn/web/api/blob/arraybuffer/index.md
Labels: l10n-zh

#17196 chore(ru): content clean up for markdown-lint-cli bump
  files/ru/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/ru/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/ru/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/ru/web/api/history/pushstate/index.md
  files/ru/web/api/svgtextcontentelement/index.md
  files/ru/web/api/touch/index.md
  files/ru/web/api/urlsearchparams/index.md
  files/ru/web/api/webglrenderingcontext/index.md
  files/ru/web/api/webrtc_api/using_data_channels/index.md
  files/ru/web/css/all/index.md
  files/ru/web/css/specificity/index.md
  files/ru/web/javascript/reference/functions/set/index.md
  files/ru/web/javascript/reference/global_objects/array/index.md
  files/ru/web/javascript/reference/operators/this/index.md
  files/ru/web/svg/attribute/d/index.md
  files/ru/web/svg/attribute/keytimes/index.md
  files/ru/web/svg/attribute/text-anchor/index.md
  files/ru/web/svg/element/defs/index.md
Labels: l10n-ru

#14556 [ru] add translate for DataView.prototype.buffer
  files/ru/web/javascript/reference/global_objects/dataview/buffer/index.md
Labels: l10n-ru

#14588 [ru] add `DataView.prototype.byteOffset` translation
  files/ru/web/javascript/reference/global_objects/dataview/byteoffset/index.md
Labels: l10n-ru

#14619 [ru] add translate for DataView.prototype.setInt8()
  files/ru/web/javascript/reference/global_objects/dataview/setint8/index.md
Labels: l10n-ru

#17231 zh-cn: synchronize the translation of `Blob.text()`
  files/zh-cn/web/api/blob/text/index.md
Labels: l10n-zh

#17025 ru: remove the `attr-` prefix from hashs
  files/ru/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ru/web/api/document/write/index.md
  files/ru/web/api/storage_access_api/index.md
  files/ru/web/css/_colon_placeholder-shown/index.md
  files/ru/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/ru/web/css/_doublecolon_after/index.md
  files/ru/web/html/content_categories/index.md
  files/ru/web/html/element/a/index.md
  files/ru/web/html/element/menu/index.md
  files/ru/web/html/element/ol/index.md
  files/ru/web/html/global_attributes/index.md
  files/ru/web/html/global_attributes/style/index.md
  files/ru/web/mathml/element/math/index.md
Labels: l10n-ru

#17026 [ru] fix `{{Page}}` and `{{Compat}}` macros rendering errors
  files/ru/web/api/batterymanager/index.md
  files/ru/web/api/document/index.md
  files/ru/web/api/element/animationend_event/index.md
  files/ru/web/api/file/index.md
  files/ru/web/api/geolocation_api/index.md
  files/ru/web/api/htmlelement/error_event/index.md
  files/ru/web/api/htmlformelement/length/index.md
  files/ru/web/api/mediaelementaudiosourcenode/index.md
  files/ru/web/api/navigator/getusermedia/index.md
  files/ru/web/api/pannernode/index.md
  files/ru/web/api/performance_api/navigation_timing/index.md
  files/ru/web/api/rtcpeerconnection/connectionstate/index.md
  files/ru/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/ru/web/html/element/track/index.md
  files/ru/web/http/basics_of_http/mime_types/index.md
  files/ru/web/http/status/402/index.md
  files/ru/web/javascript/guide/typed_arrays/index.md
  files/ru/web/javascript/reference/global_objects/typedarray/index.md
  files/ru/web/svg/attribute/class/index.md
  files/ru/web/svg/attribute/cx/index.md
  files/ru/web/svg/attribute/letter-spacing/index.md
Labels: l10n-ru

#17020 [ru] remove obsolete `conflicting/Web/Manifest`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/manifest/index.md
  files/ru/conflicting/web/manifest_7ec32c6987e59d5f1cb08f8c9d900a4c/index.md
  files/ru/conflicting/web/manifest_e8c4835b067e177a000dc29c18483205/index.md
  files/ru/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ru/web/manifest/description/index.md
  files/ru/web/manifest/name/index.md
  files/ru/web/manifest/short_name/index.md
Labels: l10n-ru

#17022 [ru] remove `orphaned/Web/API/NavigatorID/*` subpages
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/navigatorid/appcodename/index.md
  files/ru/orphaned/web/api/navigatorid/appname/index.md
  files/ru/orphaned/web/api/navigatorid/appversion/index.md
  files/ru/orphaned/web/api/navigatorid/index.md
  files/ru/orphaned/web/api/navigatorid/platform/index.md
  files/ru/orphaned/web/api/navigatorid/product/index.md
  files/ru/orphaned/web/api/navigatorid/taintenabled/index.md
  files/ru/web/api/navigator/appcodename/index.md
  files/ru/web/api/navigator/appname/index.md
  files/ru/web/api/navigator/appversion/index.md
  files/ru/web/api/navigator/index.md
  files/ru/web/api/navigator/platform/index.md
  files/ru/web/api/navigator/product/index.md
  files/ru/web/api/navigator/taintenabled/index.md
Labels: l10n-ru

#17228 zh-cn: update using_shadow_dom
  files/zh-cn/web/api/web_components/using_shadow_dom/index.md
Labels: l10n-zh

#17153 Web/API/WebGL_API/Tutorial/Getting_started_with_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
Labels: l10n-ja

#17154 Web/API/WebGL_API/Tutorial/Using_shaders_to_apply_color_in_WebGL の記事を更新
  files/ja/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
Labels: l10n-ja

#17155 Web/API/WebGL_API/Tutorial/Animating_objects_with_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
Labels: l10n-ja

#17156 Web/API/WebGL_API/Tutorial/Creating_3D_objects_using_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
Labels: l10n-ja

#17157 Web/API/WebGL_API/Tutorial/Using_textures_in_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: l10n-ja

#17158 Web/API/WebGL_API/Tutorial/Animating_textures_in_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
Labels: l10n-ja

#17166 [ja] remove all `blink` HTML element occurrences
  files/ja/mozilla/firefox/releases/23/index.md
  files/ja/web/api/htmlunknownelement/index.md
Labels: l10n-ja

#17171 Web/API/Touch_events/Multi-touch_interaction を新規翻訳
  files/ja/web/api/touch_events/multi-touch_interaction/index.md
Labels: l10n-ja

#17182 Math.log10 を更新
  files/ja/web/javascript/reference/global_objects/math/log10/index.md
Labels: l10n-ja

#17183 Web/API/Keyboard_API を新規翻訳
  files/ja/web/api/keyboard_api/index.md
Labels: l10n-ja

#16964 [ru] fix `MacroLiveSampleError` on `Web/HTML/Element/input` subpages
  files/ru/web/html/element/input/file/index.md
  files/ru/web/html/element/input/password/index.md
  files/ru/web/html/element/input/radio/index.md
Labels: l10n-ru

#17039 [ru] remove obsolete `conflicting/Web/Web_Components`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/web_components/index.md
Labels: l10n-ru

#17041 [ru] remove obsolete `Web/Guide/AJAX`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/document/domcontentloaded_event/index.md
  files/ru/conflicting/web/guide/ajax/index.md
  files/ru/glossary/ajax/index.md
  files/ru/glossary/asynchronous/index.md
  files/ru/glossary/synchronous/index.md
  files/ru/glossary/xmlhttprequest/index.md
  files/ru/learn/javascript/objects/json/index.md
  files/ru/web/api/document/domcontentloaded_event/index.md
  files/ru/web/api/xmlhttprequest/abort/index.md
  files/ru/web/api/xmlhttprequest/getresponseheader/index.md
  files/ru/web/api/xmlhttprequest/index.md
  files/ru/web/api/xmlhttprequest/loadstart_event/index.md
  files/ru/web/api/xmlhttprequest/open/index.md
  files/ru/web/api/xmlhttprequest/response/index.md
  files/ru/web/api/xmlhttprequest/send/index.md
  files/ru/web/api/xmlhttprequest/setrequestheader/index.md
  files/ru/web/api/xmlhttprequest/timeout/index.md
  files/ru/web/api/xmlhttprequest/xmlhttprequest/index.md
  files/ru/web/api/xmlhttprequest_api/synchronous_and_asynchronous_requests/index.md
  files/ru/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/ru/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/ru/web/guide/ajax/index.md
  files/ru/web/guide/index.md
  files/ru/web/http/permissions_policy/index.md
Labels: l10n-ru

#17147 [ru] remove all `blink` HTML element occurrences
  files/ru/web/api/htmlunknownelement/index.md
  files/ru/web/html/element/index.md
  files/ru/web/javascript/reference/global_objects/string/blink/index.md
Labels: l10n-ru

#17112 [ru] remove obsolete `orphaned/Glossary/Dynamic_programming_language`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/glossary/dynamic_programming_language/index.md
Labels: l10n-ru

#17194 Web/API/WebGLRenderingContext の記事を更新
  files/ja/web/api/webglrenderingcontext/index.md
Labels: l10n-ja

#17226 [zh-cn]: update the translation of SharedArrayBuffer overview
  files/zh-cn/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: l10n-zh

#17246 [zh-cn]: add the translation of SharedArrayBuffer constructor
  files/zh-cn/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
Labels: l10n-zh

#17110 [ru] remove obsolete `orphaned/Mozilla/Add-ons/WebExtensions/Prerequisites`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/mozilla/add-ons/webextensions/prerequisites/index.md
Labels: l10n-ru

#17109 [ru] remove obsolete `orphaned/Glossary/jQuery`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/glossary/jquery/index.md
Labels: l10n-ru

#17251 [ru] add `l10n.sourceCommit` to recently updated `Web/JavaScript/Reference/Global_Objects/DataView` subpages
  files/ru/web/javascript/reference/global_objects/dataview/buffer/index.md
  files/ru/web/javascript/reference/global_objects/dataview/byteoffset/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint32/index.md
  files/ru/web/javascript/reference/global_objects/dataview/setint8/index.md
Labels: l10n-ru

#17180 remove /ko/docs/Web/API/Intersection_Observer_API file
  docs/ko/fully_untranslated_files/Web_API_Intersection_Observer_API.md
Labels: l10n-ko

#17258 [ru] update `Web/API/console/dir_static` translation
  files/ru/web/api/console/dir_static/index.md
Labels: l10n-ru

#17145 [ko] remove all `keygen` HTML element occurrences
  files/ko/_wikihistory.json
  files/ko/learn/forms/index.md
  files/ko/web/html/attributes/index.md
  files/ko/web/html/content_categories/index.md
  files/ko/web/html/element/index.md
Labels: l10n-ko

#17214 Web/API/WebGLRenderingContext/activeTexture を新規翻訳
  files/ja/web/api/webglrenderingcontext/activetexture/index.md
Labels: l10n-ja

#17215 WebGLObject インターフェイスを新規翻訳
  files/ja/web/api/webglobject/index.md
Labels: l10n-ja

#17216 Web/API/WebGLProgram を新規翻訳
  files/ja/web/api/webglprogram/index.md
Labels: l10n-ja

#17223 重複していたイベントの記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/htmlelement/drag_event_b6e067958f5eb7e5b6c19e73c98fc256/index.md
  files/ja/conflicting/web/api/htmlelement/dragend_event_2823bae8fed3efe03a09d01597d1cde8/index.md
  files/ja/conflicting/web/api/htmlelement/dragenter_event_2dcc7160dcc0241687dce4442238bbf3/index.md
  files/ja/conflicting/web/api/htmlelement/dragleave_event_0d933fa977f195f1bf9fd28b1f8051ee/index.md
  files/ja/conflicting/web/api/htmlelement/dragover_event_6ef4663f0003f0c263a08969c008baf7/index.md
  files/ja/conflicting/web/api/htmlelement/dragstart_event_be9da5ef68a2920309b168752ea03d20/index.md
  files/ja/conflicting/web/api/htmlelement/drop_event_21b7ebf04561093fe90276329e9bddff/index.md
Labels: l10n-ja

#17224 Web/API/WebGL_API/Types を更新
  files/ja/web/api/webgl_api/types/index.md
Labels: l10n-ja

#17225 Web/API/WebGL_API/Data を更新
  files/ja/web/api/webgl_api/data/index.md
Labels: l10n-ja

#17227 Web/API/WebGL_API/WebGL_model_view_projection を更新
  files/ja/web/api/webgl_api/index.md
  files/ja/web/api/webgl_api/matrix_math_for_the_web/index.md
  files/ja/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/ja/web/api/webgl_api/webgl_model_view_projection/camera_view_frustum.svg
  files/ja/web/api/webgl_api/webgl_model_view_projection/clip_space_graph.svg
  files/ja/web/api/webgl_api/webgl_model_view_projection/index.md
  files/ja/web/api/webxr_device_api/cameras/index.md
Labels: l10n-ja

#17229 Web/API/File_System_API 以下を更新・新規翻訳
  files/ja/web/api/file_system_api/index.md
  files/ja/web/api/file_system_api/origin_private_file_system/index.md
Labels: l10n-ja

#17232 Web/Accessibility/ARIA/Attributes/aria-activedescendant を更新
  files/ja/web/accessibility/aria/attributes/aria-activedescendant/index.md
Labels: l10n-ja

#17260 [ru] remove `@api/deki` usages
  files/ru/conflicting/web/html/global_attributes/contenteditable/index.md
  files/ru/conflicting/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/ru/web/api/console/index.md
  files/ru/web/api/document_object_model/introduction/index.md
  files/ru/web/api/element/clientheight/index.md
  files/ru/web/api/element/clientwidth/index.md
  files/ru/web/api/element/mouseenter_event/index.md
  files/ru/web/api/element/mouseleave_event/index.md
  files/ru/web/api/element/scrollheight/index.md
  files/ru/web/api/element/scrolltop/index.md
  files/ru/web/api/htmlelement/offsetheight/index.md
  files/ru/web/api/htmlelement/offsetleft/index.md
  files/ru/web/api/htmlelement/offsetwidth/index.md
  files/ru/web/api/htmlinputelement/setselectionrange/index.md
  files/ru/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/ru/web/api/window/innerheight/index.md
  files/ru/web/css/_colon_checked/index.md
  files/ru/web/css/_colon_hover/index.md
  files/ru/web/css/_doublecolon_-moz-progress-bar/index.md
  files/ru/web/css/angle/index.md
  files/ru/web/css/border-radius/index.md
  files/ru/web/css/css_positioned_layout/understanding_z-index/stacking_without_z-index/index.md
  files/ru/web/css/float/index.md
  files/ru/web/css/ratio/index.md
  files/ru/web/css/syntax/index.md
  files/ru/web/css/transform-function/rotate3d/index.md
  files/ru/web/css/visual_formatting_model/index.md
  files/ru/web/html/constraint_validation/index.md
  files/ru/web/html/content_categories/index.md
  files/ru/web/html/element/address/index.md
  files/ru/web/html/element/input/index.md
  files/ru/web/html/element/meter/index.md
  files/ru/web/html/element/progress/index.md
  files/ru/web/svg/tutorial/basic_shapes/index.md
  files/ru/web/svg/tutorial/fills_and_strokes/index.md
  files/ru/web/svg/tutorial/getting_started/index.md
  files/ru/web/svg/tutorial/introduction/index.md
  files/ru/web/svg/tutorial/paths/index.md
  files/ru/web/svg/tutorial/patterns/index.md
  files/ru/web/svg/tutorial/positions/index.md
Labels: l10n-ru

#17221 zh-cn: update the `import` declaration
  files/zh-cn/web/javascript/reference/statements/import/index.md
Labels: l10n-zh

#17276 [ru] remove obsolete `orphaned/MDN/Yari`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/ru/orphaned/mdn/yari/index.md
Labels: l10n-ru

#17277 [ru] remove obsolete `conflicting/MDN` subpages
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/mdn/contribute/index.md
  files/ru/conflicting/mdn/index.md
  files/ru/conflicting/mdn/writing_guidelines/index.md
  files/ru/conflicting/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/ru/mdn/community/issues/index.md
Labels: l10n-ru

#17279 [ru] remove obsolete `orphaned/MDN/Tools`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/mdn/tools/index.md
Labels: l10n-ru

#17280 [ru] remove obsolete `orphaned/MDN/Contribute/Howto/Add_or_update_browser_compatibility_data`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/mdn/contribute/howto/add_or_update_browser_compatibility_data/index.md
Labels: l10n-ru

#17274 Fix typo
  files/zh-cn/learn/accessibility/css_and_javascript/index.md
  files/zh-cn/learn/accessibility/multimedia/index.md
  files/zh-cn/learn/css/building_blocks/cascade_layers/index.md
  files/zh-cn/learn/forms/sending_and_retrieving_form_data/index.md
  files/zh-cn/learn/html/howto/use_data_attributes/index.md
  files/zh-cn/learn/javascript/building_blocks/conditionals/index.md
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/javascript/building_blocks/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
  files/zh-cn/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/zh-cn/mozilla/add-ons/webextensions/safely_inserting_external_content_into_a_page/index.md
  files/zh-cn/web/css/background-size/index.md
  files/zh-cn/web/css/descendant_combinator/index.md
  files/zh-cn/web/javascript/reference/functions/arrow_functions/index.md
  files/zh-cn/web/javascript/reference/global_objects/eval/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/every/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/map/index.md
  files/zh-cn/web/javascript/reference/global_objects/undefined/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
  files/zh-cn/web/svg/element/script/index.md
  files/zh-cn/web/svg/element/style/index.md
  files/zh-cn/webassembly/concepts/index.md
  files/zh-cn/webassembly/index.md
  files/zh-cn/webassembly/text_format_to_wasm/index.md
  files/zh-cn/webassembly/understanding_the_text_format/index.md
  files/zh-cn/webassembly/using_the_javascript_api/index.md
Labels: l10n-zh

#17281 [ru] remove obsolete `orphaned/Web/CSS/CSS_Animations/Detecting_CSS_animation_support`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/css/css_animations/detecting_css_animation_support/index.md
  files/ru/web/css/css_animations/index.md
  files/ru/web/css/css_animations/using_css_animations/index.md
Labels: l10n-ru

#17282 [ru] remove obsolete `orphaned/Web/Guide/Unicode_Bidrectional_Text_Algorithm`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/ru/web/guide/index.md
Labels: l10n-ru

#17273 zh-cn: init the translation of `virtualkeyboardpolicy` attr
  files/zh-cn/web/html/global_attributes/virtualkeyboardpolicy/index.md
Labels: l10n-zh

#17285 [ru] remove obsolete `orphaned/Web/JavaScript/Reference/Errors/Dead_object`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/javascript/reference/errors/dead_object/index.md
Labels: l10n-ru

#17286 [ru] remove obsolete `orphaned/Web/JavaScript/Reference/Errors/For-each-in_loops_are_deprecated`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
Labels: l10n-ru

#17287 [ru] remove obsolete `orphaned/Web/JavaScript/Reference/Errors/Var_hides_argument`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/javascript/reference/errors/var_hides_argument/index.md
Labels: l10n-ru

#17267 [zh-cn]: update the examples in `toBlob()`
  files/zh-cn/web/api/htmlcanvaselement/toblob/index.md
Labels: l10n-zh

#17275 [zh-cn]: add the translation of Promise.withResolvers()
  files/zh-cn/web/javascript/reference/global_objects/promise/withresolvers/index.md
Labels: l10n-zh

#17219 Fix Escape in Page of location.pathname
  files/ja/web/api/location/pathname/index.md
Labels: l10n-ja

#16846 Update index.md
  files/ko/web/api/document/all/index.md
Labels: l10n-ko

#17296 [ru] remove outdated `orphaned/Web/Accessibility/ARIA/ARIA_Techniques` subpages
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.md
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.md
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.md
  files/ru/web/accessibility/aria/aria_techniques/index.md
  files/ru/web/css/_doublecolon_placeholder/index.md
  files/ru/web/html/element/heading_elements/index.md
Labels: l10n-ru

#17213 [ru] add `MDN/Community/Contributing/Translated_content` translation
  files/ru/mdn/community/contributing/translated_content/index.md
Labels: l10n-ru

#17240 Web/Accessibility/ARIA/Attributes/aria-autocomplete を新規翻訳
  files/ja/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: l10n-ja

#17241 Web/Accessibility/ARIA/Attributes/aria-errormessage を新規翻訳
  files/ja/web/accessibility/aria/attributes/aria-errormessage/index.md
Labels: l10n-ja

#17184 initial translation for `Window.queryLocalFonts()`
  files/zh-cn/web/api/window/querylocalfonts/index.md
Labels: l10n-zh

#17198 chore(ko): content clean up for markdown-lint-cli bump
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.md
  files/ko/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/ko/web/api/canvas_api/tutorial/basic_animations/index.md
  files/ko/web/api/document/adoptnode/index.md
  files/ko/web/api/document_object_model/using_the_document_object_model/index.md
  files/ko/web/api/webrtc_api/using_data_channels/index.md
  files/ko/web/css/css_cascading_variables/index.md
  files/ko/web/http/headers/content-security-policy/script-src/index.md
  files/ko/web/javascript/reference/operators/this/index.md
  files/ko/web/xpath/functions/sum/index.md
Labels: l10n-ko

#17243 Web/CSS/system-color を新規翻訳
  files/ja/web/css/system-color/index.md
Labels: l10n-ja

#17313 [ru] add `Glossary/Inline-level_content` translation
  files/ru/glossary/inline-level_content/index.md
Labels: l10n-ru

#17316 [ru] remove obsolete `orphaned/Web/API/Canvas_API/A_basic_ray-caster`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/ru/web/api/canvas_api/index.md
  files/ru/web/api/canvas_api/tutorial/basic_animations/index.md
  files/ru/web/api/canvas_api/tutorial/index.md
Labels: l10n-ru

#17317 [ru] remove obsolete `orphaned/Web/API/Document/documentURIObject`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/document/documenturiobject/index.md
Labels: l10n-ru

#17318 [ru] remove obsolete `orphaned/Web/API/File/getAsDataURL`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/file/getasdataurl/index.md
Labels: l10n-ru

#17319 [ru] add `Web/API/HTMLElement/nonce` document
  files/ru/web/api/htmlelement/nonce/index.md
Labels: l10n-ru

#17320 [ru] remove obsolete `orphaned/Web/API/HTMLOrForeignElement/nonce`
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/htmlorforeignelement/nonce/index.md
  files/ru/web/api/htmlelement/nonce/index.md
Labels: l10n-ru

#17322 [ru] update `Web/API/caches` translation
  files/ru/web/api/caches/index.md
Labels: l10n-ru

#17324 Update index.md
  files/zh-cn/web/html/element/index.md
Labels: l10n-zh

#17222 [zh-cn] update intersection observer api
  files/zh-cn/web/api/intersection_observer_api/index.md
Labels: l10n-zh

#17329 [ru] remove obsolete `orphaned/Web/API/Window/onpaint`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/window/onpaint/index.md
Labels: l10n-ru

#17330 [ru] remove obsolete `orphaned/Web/API/WebRTC_API/adapter.js`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/webrtc_api/adapter.js/index.md
  files/ru/web/api/webrtc_api/index.md
Labels: l10n-ru

#17331 [ru] remove obsolete `orphaned/Web/API/RenderingContext`
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/renderingcontext/index.md
  files/ru/web/api/htmlcanvaselement/getcontext/index.md
Labels: l10n-ru

#17335 [ru] add new `Web/API/Navigator/languages` translation
  files/ru/web/api/navigator/languages/index.md
Labels: l10n-ru

#16891 refactor(ci/pr-review): use `workflow_call` instead of `workflow_run` event
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system

#17250 Web/API/WebGLRenderingContext/createShader を更新
  files/ja/web/api/webglrenderingcontext/createshader/index.md
Labels: l10n-ja

#17253 Web/API/WebGLRenderingContext/getShaderParameter を新規翻訳
  files/ja/web/api/webglrenderingcontext/getshaderparameter/index.md
Labels: l10n-ja

#17256 Web/CSS/@media/forced-colors を更新
  files/ja/web/css/@media/forced-colors/index.md
Labels: l10n-ja

#17261 Learn/JavaScript/Building_blocks/Events　の記事を更新
  files/ja/learn/javascript/building_blocks/events/index.md
Labels: l10n-ja

#17262 Web/API/WebGLBuffer を新規翻訳
  files/ja/web/api/webglbuffer/index.md
Labels: l10n-ja

#17269 Web/API/WebGLRenderbuffer を新規翻訳
  files/ja/web/api/webglrenderbuffer/index.md
Labels: l10n-ja

#17270 Web/API/WebGLRenderingContext/bindBuffer を更新
  files/ja/web/api/webglrenderingcontext/bindbuffer/index.md
Labels: l10n-ja

#17338 [ru] remove obsolete `orphaned/Web/API/NavigatorOnLine` and subpages
  files/ru/_wikihistory.json
  files/ru/orphaned/web/api/navigatoronline/index.md
  files/ru/orphaned/web/api/navigatoronline/online/index.md
  files/ru/web/api/navigator/index.md
Labels: l10n-ru

#16778 es: Update Clousures to match function names and variables with spanish
  files/es/web/javascript/closures/index.md
Labels: l10n-es

#17130 es: Update HTML5_Gamedev_Phaser_Device_Orientation
  files/es/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
Labels: l10n-es

#17347 [ru] remove obsolete `conflicting/Web/HTTP/Status/404`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/http/status/404/index.md
Labels: l10n-ru

#17348 [ru] remove obsolete `conflicting/Web/HTTP/Status/502`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/http/status/502/index.md
Labels: l10n-ru

#17349 [ru] remove obsolete `conflicting/Web/HTML/Element/input/datetime-local`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/html/element/input/datetime-local/index.md
Labels: l10n-ru

#17350 [ru] remove obsolete `conflicting/Web/HTML/Global_attributes/contenteditable`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/html/global_attributes/contenteditable/index.md
Labels: l10n-ru

#17325 [zh-cn] init translation of glossary whitespace
  files/zh-cn/glossary/whitespace/index.md
Labels: l10n-zh

#17315 [zh-cn]: add the translation of Promise.@@species
  files/zh-cn/web/javascript/reference/global_objects/sharedarraybuffer/@@species/index.md
Labels: l10n-zh

#17293 [zh-cn] update time element of html
  files/zh-cn/web/html/element/time/index.md
Labels: l10n-zh

#17239 chore(ja): content clean up for markdown-lint-cli bump
  files/ja/.markdownlint.jsonc
  files/ja/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/ja/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/ja/mdn/at_ten/history_of_mdn/index.md
  files/ja/mdn/writing_guidelines/what_we_write/index.md
  files/ja/mozilla/firefox/releases/16/index.md
  files/ja/mozilla/firefox/releases/64/index.md
  files/ja/mozilla/firefox/releases/65/index.md
  files/ja/web/api/dompointreadonly/frompoint_static/index.md
  files/ja/web/api/popstateevent/state/index.md
  files/ja/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/ja/web/api/svgelement/index.md
  files/ja/web/api/usb/disconnect_event/index.md
  files/ja/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.md
  files/ja/web/api/web_authentication_api/index.md
  files/ja/web/api/xmldocument/index.md
  files/ja/web/javascript/reference/global_objects/object/create/index.md
  files/ja/web/javascript/reference/strict_mode/index.md
  files/ja/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/ja/web/media/streaming/index.md
  files/ja/web/progressive_web_apps/index.md
  files/ja/web/svg/attribute/stroke-linecap/index.md
  files/ja/web/svg/attribute/stroke-linejoin/index.md
  files/ja/web/svg/element/animatetransform/index.md
  files/ja/web/svg/element/defs/index.md
  files/ja/web/svg/element/desc/index.md
  files/ja/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/index.md
  files/ja/webassembly/rust_to_wasm/index.md
Labels: l10n-ja

#17271 Web/API/WebGLRenderingContext/bufferData を更新
  files/ja/web/api/webglrenderingcontext/bufferdata/index.md
Labels: l10n-ja

#17272 Web/API/WebGLRenderingContext/createBuffer を更新
  files/ja/web/api/webglrenderingcontext/createbuffer/index.md
Labels: l10n-ja

#17298 [zh-cn]: fix the output of the example
  files/zh-cn/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-zh

#17364 [ru] remove obsolete `conflicting/Learn/JavaScript/Asynchronous` and subpages
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/javascript/asynchronous/index.md
  files/ru/conflicting/learn/javascript/asynchronous/introducing/beachball.jpg
  files/ru/conflicting/learn/javascript/asynchronous/introducing/index.md
  files/ru/learn/javascript/asynchronous/index.md
  files/ru/learn/javascript/asynchronous/introducing/index.md
  files/ru/learn/javascript/asynchronous/promises/index.md
Labels: l10n-ru

#17368 [ru] update `Web/HTTP/Methods/PATCH` transtation
  files/ru/web/http/methods/patch/index.md
Labels: l10n-ru

#17369 [ru] update `Web/CSS/flex-direction` transtation
  files/ru/web/css/flex-direction/index.md
Labels: l10n-ru

#17370 [ru] fix wording in `Learn/HTML/Tables/Basics`
  files/ru/learn/html/tables/basics/index.md
Labels: l10n-ru

#17371 [ru] fix example in `Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals`
  files/ru/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-ru

#17372 [ru] fix example in `Learn/JavaScript/First_steps/A_first_splash`
  files/ru/learn/javascript/first_steps/a_first_splash/index.md
Labels: l10n-ru

#17373 [ru] remove broken links from `Web/HTML/Quirks_Mode_and_Standards_Mode`
  files/ru/web/html/quirks_mode_and_standards_mode/index.md
Labels: l10n-ru

#17374 [ru] update `Web/API/Window/navigator` translation
  files/ru/web/api/window/navigator/index.md
Labels: l10n-ru

#17375 [ru] update `Web/JavaScript/Reference/Errors/Unterminated_string_literal` translation
  files/ru/web/javascript/reference/errors/unterminated_string_literal/index.md
Labels: l10n-ru

#17345 init translation for FontData
  files/zh-cn/web/api/fontdata/blob/index.md
  files/zh-cn/web/api/fontdata/family/index.md
  files/zh-cn/web/api/fontdata/fullname/index.md
  files/zh-cn/web/api/fontdata/index.md
  files/zh-cn/web/api/fontdata/postscriptname/index.md
  files/zh-cn/web/api/fontdata/style/index.md
  files/zh-cn/web/api/local_font_access_api/index.md
Labels: l10n-zh

#17362 :has() の更新
  files/ja/web/css/_colon_has/index.md
Labels: l10n-ja

#17351 [zh-cn] init translation of baseline(compatibility)
  files/zh-cn/glossary/baseline/compatibility/index.md
Labels: l10n-zh

#17326 [zh-cn] update arrow function expression
  files/zh-cn/web/javascript/reference/functions/arrow_functions/index.md
  files/zh-cn/web/javascript/reference/strict_mode/index.md
Labels: l10n-zh

#17292 [zh-cn] Update 'basic concepts of grid layout'
  files/zh-cn/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: l10n-zh

#17297 CSS の flex で始まるプロパティの記事を更新
  files/ja/web/css/flex-direction/index.md
  files/ja/web/css/flex-flow/index.md
  files/ja/web/css/flex-grow/index.md
  files/ja/web/css/flex-shrink/index.md
  files/ja/web/css/flex-wrap/index.md
  files/ja/web/css/flex/index.md
Labels: l10n-ja

#17299 Web/CSS/CSS_cascade を新規翻訳
  files/ja/web/css/css_cascade/index.md
Labels: l10n-ja

#17384 [ru] fix example description on `Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container`
  files/ru/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: l10n-ru

#17300 Web/CSS/all を更新
  files/ja/web/css/all/index.md
Labels: l10n-ja

#17301 Web/CSS/@import の記事を更新
  files/ja/web/css/@import/index.md
Labels: l10n-ja

#16788 [ru]: update `Web/API/Element/classList` translation
  files/ru/web/api/element/classlist/index.md
Labels: l10n-ru

#17134 [ko] add translation to idle detection api in Web API
  files/ko/web/api/idle_detection_api/index.md
Labels: l10n-ko

#17386 [ru] update `Mozilla/Add-ons/WebExtensions/manifest.json/manifest_version` translation
  files/ru/mozilla/add-ons/webextensions/manifest.json/manifest_version/index.md
Labels: l10n-ru

#17387 [ru] fix broken links on `Learn/JavaScript/Asynchronous/Introducing`
  files/ru/learn/javascript/asynchronous/introducing/index.md
Labels: l10n-ru

#17388 [ru] fix operators order on `Web/JavaScript/Reference/Operators/Operator_precedence`
  files/ru/web/javascript/reference/operators/operator_precedence/index.md
Labels: l10n-ru

#17389 [ru] fix typo on `Web/HTML/Content_categories`
  files/ru/web/html/content_categories/index.md
Labels: l10n-ru

#17305 Web/CSS/@layer を新規翻訳
  files/ja/web/css/@layer/index.md
Labels: l10n-ja

#17309 [zh-cn] update page at-rule
  files/zh-cn/web/css/@page/index.md
Labels: l10n-zh

#17397 [ko]: translate `web/api/BroadcastChannel/name`
  files/ko/web/api/broadcastchannel/name/index.md
Labels: l10n-ko

#16779 [ko] Update web_components index.md
  files/ko/web/api/web_components/index.md
Labels: l10n-ko

#16970 [ko]: add sidebar to all Glossary pages
  files/ko/glossary/accessible_name/index.md
  files/ko/glossary/binding/index.md
  files/ko/glossary/block/css/index.md
  files/ko/glossary/call_stack/index.md
  files/ko/glossary/safe/http/index.md
  files/ko/glossary/safe/index.md
  files/ko/glossary/scope/index.md
  files/ko/glossary/self-executing_anonymous_function/index.md
  files/ko/glossary/semantics/index.md
  files/ko/glossary/seo/index.md
  files/ko/glossary/server/index.md
  files/ko/glossary/shim/index.md
  files/ko/glossary/signature/function/index.md
  files/ko/glossary/simd/index.md
  files/ko/glossary/smtp/index.md
  files/ko/glossary/sql/index.md
  files/ko/glossary/ssl/index.md
  files/ko/glossary/style_origin/index.md
  files/ko/glossary/svg/index.md
  files/ko/glossary/synchronous/index.md
  files/ko/glossary/xml/index.md
Labels: l10n-ko

#17167 [ko] remove all `blink` HTML element occurrences
  files/ko/web/html/element/index.md
Labels: l10n-ko

#17312 用語集のグリッド関係の用語を更新
  files/ja/glossary/grid/index.md
  files/ja/glossary/grid_areas/index.md
  files/ja/glossary/grid_axis/index.md
  files/ja/glossary/grid_cell/index.md
  files/ja/glossary/grid_column/index.md
  files/ja/glossary/grid_lines/index.md
  files/ja/glossary/grid_row/index.md
  files/ja/glossary/grid_tracks/index.md
  files/ja/glossary/gutters/index.md
Labels: l10n-ja

#17390 Change some interactive example URLs
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/ja/web/javascript/reference/global_objects/string/@@iterator/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
Labels: l10n-ja

#17328 add(lozy_loading): 문서 추가
  files/ko/web/performance/lazy_loading/index.md
Labels: l10n-ko

#17406 [ru] fix examples on `Web/CSS/CSS_grid_layout/Relationship_of_grid_layout_with_other_layout_methods`
  files/ru/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
Labels: l10n-ru

#17407 [ru] fix some paragraphs on `Web/JavaScript/Reference/Global_Objects/Object/definePropertys`
  files/ru/web/javascript/reference/global_objects/object/defineproperty/index.md
Labels: l10n-ru

#17408 [ru] update `Web/API/Window/requestIdleCallback` translation
  files/ru/web/api/window/requestidlecallback/index.md
Labels: l10n-ru

#17346 Baseline (compatibility) の更新
  files/ja/glossary/baseline/compatibility/index.md
Labels: l10n-ja

#17352 zh-cn: update the translation of "null"
  files/zh-cn/web/javascript/reference/operators/null/index.md
Labels: l10n-zh

#17410 [zh-cn]: corrected translation error of size attribute of `<font>` element
  files/zh-cn/web/html/element/font/index.md
Labels: l10n-zh

#17401 [ko] translate `web/api/BroadcastChannel/postMessage`
  files/ko/web/api/broadcastchannel/postmessage/index.md
Labels: l10n-ko

#17414 [ru] update `Web/JavaScript/Reference/Global_Objects/Math/random' translation`
  files/ru/web/javascript/reference/global_objects/math/random/index.md
Labels: l10n-ru
