Repository mdn/translated-content, pull requests merged in 2023-09, with the labels that each got.

#15535 [zh-cn]: Update translation of Function.arguments()
  files/zh-cn/web/javascript/reference/global_objects/function/arguments/index.md
Labels: l10n-zh

#15504 [zh-CN]: Init translation of best pwa practice
  files/zh-cn/web/progressive_web_apps/guides/best_practices/index.md
Labels: l10n-zh

#15560 zh-cn: update the translation of "Book detail page"
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/book_detail_page/index.md
Labels: l10n-zh

#15565 Remove SeeCompatTable macros for zh-cn array.fromasync
  files/zh-cn/web/javascript/reference/global_objects/array/fromasync/index.md
Labels: l10n-zh

#15384 es: Translate English content
  files/es/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
  files/es/learn/common_questions/web_mechanics/what_is_a_domain_name/index.md
  files/es/learn/css/styling_text/fundamentals/index.md
  files/es/learn/forms/form_validation/index.md
  files/es/learn/html/introduction_to_html/debugging_html/index.md
  files/es/learn/html/introduction_to_html/getting_started/index.md
  files/es/learn/javascript/building_blocks/conditionals/index.md
  files/es/learn/javascript/first_steps/arrays/index.md
  files/es/learn/javascript/first_steps/useful_string_methods/index.md
  files/es/learn/javascript/objects/object_prototypes/index.md
  files/es/learn/server-side/django/authentication/index.md
  files/es/learn/server-side/django/deployment/index.md
  files/es/learn/server-side/django/generic_views/index.md
Labels: l10n-es

#15517 [zh-cn]: sync the translation of `let` declaration
  files/zh-cn/web/javascript/reference/statements/let/index.md
Labels: l10n-zh, needs content update

#15582 zh-cn: init the translation of "XPath Axes"
  files/zh-cn/web/xpath/axes/index.md
Labels: l10n-zh

#15547 [ko] Functions/get 소스 커밋 추가 및 번역 최신화
  files/ko/web/javascript/reference/functions/get/index.md
Labels: l10n-ko

#15567 [ko]: add index.md in `web/glossary/alpn`
  files/ko/glossary/alpn/index.md
Labels: l10n-ko

#15525 [ko] add translation to push api in Web API
  files/ko/web/api/push_api/index.md
Labels: l10n-ko

#15593 zh-cn: fix typo “一下” -> “以下”
  files/zh-cn/learn/html/introduction_to_html/debugging_html/index.md
Labels: l10n-zh

#15452 Glossary/Time_to_first_byte を新規翻訳
  files/ja/glossary/time_to_first_byte/index.md
Labels: l10n-ja

#15454 Translate CanvasRenderingContext2D Shadows
  files/ja/web/api/canvasrenderingcontext2d/shadowblur/index.md
  files/ja/web/api/canvasrenderingcontext2d/shadowcolor/index.md
  files/ja/web/api/canvasrenderingcontext2d/shadowoffsetx/index.md
  files/ja/web/api/canvasrenderingcontext2d/shadowoffsety/index.md
Labels: l10n-ja

#15455 Learn/JavaScript/First_steps/A_first_splash を更新
  files/ja/learn/javascript/first_steps/a_first_splash/index.md
Labels: l10n-ja

#15465 Web/API/Document_Object_Model 以下を更新
  files/ja/web/api/document_object_model/examples/index.md
  files/ja/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/ja/web/api/document_object_model/index.md
  files/ja/web/api/document_object_model/introduction/index.md
  files/ja/web/api/document_object_model/locating_dom_elements_using_selectors/index.md
  files/ja/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/ja/web/api/document_object_model/using_the_document_object_model/index.md
  files/ja/web/api/document_object_model/whitespace/index.md
Labels: l10n-ja

#15498 Translate IDBObjectStore properties
  files/ja/web/api/idbobjectstore/autoincrement/index.md
  files/ja/web/api/idbobjectstore/indexnames/index.md
  files/ja/web/api/idbobjectstore/keypath/index.md
  files/ja/web/api/idbobjectstore/name/index.md
  files/ja/web/api/idbobjectstore/transaction/index.md
Labels: l10n-ja

#15469 Init translation of PWA caching
  files/zh-cn/web/progressive_web_apps/guides/caching/index.md
Labels: l10n-zh

#15410 [zh-cn]: update creating and triggering events
  files/zh-cn/web/events/creating_and_triggering_events/index.md
  files/zh-cn/web/events/event_handlers/index.md
Labels: l10n-zh

#15397 fix: datatransfer用例错误，同步美区翻译
  files/zh-cn/web/api/clipboard/write/index.md
Labels: l10n-zh

#15608 fix the translation of "function"
  files/zh-cn/web/api/clipboard/write/index.md
Labels: l10n-zh

#15581 [zh-cn] Update Firefox experimental features
  files/zh-cn/mozilla/firefox/experimental_features/index.md
Labels: l10n-zh

#15400 [zh-cn] Update 'Roles and Teams'
  files/zh-cn/mdn/community/roles_teams/index.md
Labels: l10n-zh

#15432 correction: correct word "Ferramental"
  files/pt-br/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: l10n-pt-br

#15541 zh-cn: update example and add parameter optional markers
  files/zh-cn/web/api/window/open/index.md
Labels: l10n-zh

#15597 [zh-cn]: Update translation of Function.bind()
  files/zh-cn/web/javascript/reference/global_objects/function/bind/index.md
Labels: l10n-zh

#15181 ko: How to document a CSS property
  files/ko/mdn/writing_guidelines/howto/document_a_css_property/index.md
Labels: l10n-ko

#15147 [ko] add translation to creating fancy letterheaded paper
  files/ko/learn/css/building_blocks/creating_fancy_letterheaded_paper/index.md
Labels: l10n-ko

#15296 [ko]: revise files for `web/glossary-d`
  files/ko/glossary/database/index.md
  files/ko/glossary/doctype/index.md
  files/ko/glossary/dom/index.md
  files/ko/glossary/domain_name/index.md
Labels: l10n-ko

#15594 Fix typo in "manipulación"
  files/es/web/javascript/reference/global_objects/object/fromentries/index.md
Labels: l10n-es

#15619 fix typo かのうよう
  files/ja/web/api/window/location/index.md
Labels: l10n-ja

#15524 Translate IDBObjectStore methods
  files/ja/web/api/idbobjectstore/add/index.md
  files/ja/web/api/idbobjectstore/clear/index.md
  files/ja/web/api/idbobjectstore/count/index.md
  files/ja/web/api/idbobjectstore/createindex/index.md
  files/ja/web/api/idbobjectstore/delete/index.md
  files/ja/web/api/idbobjectstore/deleteindex/index.md
  files/ja/web/api/idbobjectstore/get/index.md
  files/ja/web/api/idbobjectstore/getall/index.md
  files/ja/web/api/idbobjectstore/getallkeys/index.md
  files/ja/web/api/idbobjectstore/getkey/index.md
  files/ja/web/api/idbobjectstore/index/index.md
  files/ja/web/api/idbobjectstore/opencursor/index.md
  files/ja/web/api/idbobjectstore/openkeycursor/index.md
  files/ja/web/api/idbobjectstore/put/index.md
Labels: l10n-ja

#15529 Translate IDBIndex properties
  files/ja/web/api/idbindex/isautolocale/index.md
  files/ja/web/api/idbindex/keypath/index.md
  files/ja/web/api/idbindex/locale/index.md
  files/ja/web/api/idbindex/multientry/index.md
  files/ja/web/api/idbindex/name/index.md
  files/ja/web/api/idbindex/objectstore/index.md
  files/ja/web/api/idbindex/unique/index.md
Labels: l10n-ja

#15545 Translate IDBIndex methods
  files/ja/web/api/idbindex/count/index.md
  files/ja/web/api/idbindex/get/index.md
  files/ja/web/api/idbindex/getall/index.md
  files/ja/web/api/idbindex/getallkeys/index.md
  files/ja/web/api/idbindex/getkey/index.md
  files/ja/web/api/idbindex/opencursor/index.md
  files/ja/web/api/idbindex/openkeycursor/index.md
Labels: l10n-ja

#15451 [ko] translate `accept-patch`
  files/ko/web/http/headers/accept-patch/index.md
Labels: l10n-ko

#15621 [zh-cn] Update CSS fragmentation introduction
  files/zh-cn/web/css/css_fragmentation/index.md
Labels: l10n-zh

#15585 zh-cn: init the translation of "document a CSS property"
  files/zh-cn/mdn/writing_guidelines/howto/document_a_css_property/index.md
Labels: l10n-zh

#15523 ja: Format remaining files using Prettier
  files/ja/web/api/window/innerwidth/index.md
Labels: l10n-ja

#15635 fix typo
  files/zh-cn/web/html/viewport_meta_tag/index.md
Labels: l10n-zh

#15633 zh-cn: update the translation of "webkitdirectory"
  files/zh-cn/web/api/htmlinputelement/webkitdirectory/index.md
Labels: l10n-zh

#15631 [zh-cn]: Update translation of Function.call()
  files/zh-cn/web/javascript/reference/global_objects/function/call/index.md
Labels: l10n-zh

#15634 [zh-cn]: Update translation of Function.caller()
  files/zh-cn/web/javascript/reference/global_objects/function/caller/index.md
Labels: l10n-zh

#15641 fix typo
  files/zh-cn/web/performance/critical_rendering_path/index.md
Labels: l10n-zh

#15563 zh-cn: init the translation of cycletracker
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/index.md
Labels: l10n-zh

#15636 [ko]: add index.md in `web/glossary/block_cipher_mode_of_operation`
  files/ko/glossary/block_cipher_mode_of_operation/index.md
Labels: l10n-ko

#15623 fix(ru): example in "Getting started" article
  files/ru/learn/html/introduction_to_html/getting_started/index.md
Labels: l10n-ru

#15562 [ja] Update CSS `:is()` pseudo-class
  files/ja/web/css/_colon_is/index.md
Labels: l10n-ja

#15572 Firefox 116 for developersを更新
  files/ja/mozilla/firefox/releases/116/index.md
Labels: l10n-ja

#15628 Fixing spelling errors: "parce" -> "parece"
  files/es/learn/accessibility/css_and_javascript/index.md
Labels: l10n-es

#15500 es: Create howto/research_technology
  files/es/mdn/writing_guidelines/howto/research_technology/index.md
Labels: l10n-es

#15622 [zh-cn] revise css index
  files/zh-cn/web/css/index.md
Labels: l10n-zh

#15118 [ko]: revise index.md for `ko/web/javascript/closures`
  files/ko/web/javascript/closures/index.md
Labels: l10n-ko

#15651 [zh-cn] Update 'what is accessibility'
  files/zh-cn/learn/common_questions/design_and_accessibility/what_is_accessibility/index.md
Labels: l10n-zh

#15664 zh-cn: fix url locales
  files/zh-cn/glossary/iife/index.md
  files/zh-cn/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/zh-cn/mozilla/firefox/experimental_features/index.md
  files/zh-cn/web/api/document/fullscreenchange_event/index.md
  files/zh-cn/web/api/element/keypress_event/index.md
  files/zh-cn/web/api/htmlelement/dataset/index.md
  files/zh-cn/web/css/var/index.md
  files/zh-cn/web/html/element/address/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/includes/index.md
  files/zh-cn/web/javascript/reference/operators/async_function_star_/index.md
Labels: l10n-zh

#15580 Firefox 117 for developers を翻訳
  files/ja/mozilla/firefox/releases/117/index.md
Labels: l10n-ja

#15599 #15557 で削除されたファイルを整理
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/xsltprocessor/index.md
  files/ja/conflicting/web/api/xsltprocessor_2cfa4c3da648e88c1d8c1a80dd485afe/index.md
  files/ja/conflicting/web/api/xsltprocessor_39b28286ccde929e16258e36e71b2b15/index.md
  files/ja/conflicting/web/api/xsltprocessor_3e513a2939789f0dd1d74dccd03ecc19/index.md
  files/ja/conflicting/web/api/xsltprocessor_74e3158b7476863cad08456b0c69370b/index.md
  files/ja/conflicting/web/api/xsltprocessor_7eb90412a7159e9ebdecfc78996d1ac5/index.md
  files/ja/conflicting/web/api/xsltprocessor_84fbb9369e8a0158534cd70596625955/index.md
  files/ja/conflicting/web/api/xsltprocessor_8ba2392fb1adc1009fbd010bf87ed3f6/index.md
  files/ja/conflicting/web/api/xsltprocessor_c41901fc3cf5c3be68649d680742b9b4/index.md
  files/ja/conflicting/web/api/xsltprocessor_cba108886ce592cea484c5cf60d3e08a/index.md
Labels: l10n-ja

#15666 [zh-cn]: Update translation of Function.length
  files/zh-cn/web/javascript/reference/global_objects/function/length/index.md
Labels: l10n-zh

#15616 zh-cn: init the translation of "document an error page"
  files/zh-cn/mdn/writing_guidelines/howto/document_web_errors/index.md
Labels: l10n-zh

#15653 es: Update element/param
  files/es/web/html/element/param/index.md
Labels: l10n-es

#15669 [ES]: Update `web/css/margin-inline`
  files/es/web/css/margin-inline/index.md
Labels: l10n-es

#15663 [zh-cn]: Update translation of Function.displayName
  files/zh-cn/web/javascript/reference/global_objects/function/displayname/index.md
Labels: l10n-zh

#15059 [revise]: revise index.md for `web/javascript/data_structure`
  files/ko/web/javascript/data_structures/index.md
Labels: l10n-ko

#14899 ru: Glossary; add translations for IPv[4/6]; update IP/Internet translations
  files/ru/glossary/internet/index.md
  files/ru/glossary/ip_address/index.md
  files/ru/glossary/ipv4/index.md
  files/ru/glossary/ipv6/index.md
Labels: l10n-ru

#15687 chore(zh-tw): remove 'subnav'
  files/zh-tw/learn/index.md
  files/zh-tw/mdn/at_ten/index.md
  files/zh-tw/web/api/document_object_model/examples/index.md
Labels: l10n-zh

#5205 Перевод свойств outline
  files/ru/web/css/outline-color/index.md
  files/ru/web/css/outline-offset/index.md
  files/ru/web/css/outline-style/index.md
  files/ru/web/css/outline-width/index.md
  files/ru/web/css/outline/index.md
Labels: l10n-ru

#5313 Перевод pagehide/pageshow
  files/ru/web/api/window/pagehide_event/index.md
  files/ru/web/api/window/pageshow_event/index.md
Labels: l10n-ru

#6860 [RU] fix: async-await article
  files/ru/learn/javascript/asynchronous/promises/index.md
Labels: l10n-ru

#6414 [ru] sensor apis
  files/ru/web/api/sensor/activate_event/index.md
  files/ru/web/api/sensor/activated/index.md
  files/ru/web/api/sensor/error_event/index.md
  files/ru/web/api/sensor/hasreading/index.md
  files/ru/web/api/sensor/index.md
  files/ru/web/api/sensor/reading_event/index.md
  files/ru/web/api/sensor/start/index.md
  files/ru/web/api/sensor/stop/index.md
  files/ru/web/api/sensor/timestamp/index.md
  files/ru/web/api/sensor_apis/index.md
Labels: l10n-ru

#10535 [RU] <col>
  files/ru/web/html/element/col/index.md
Labels: l10n-ru

#7106 [ru] fix: images and API example
  files/ru/learn/javascript/client-side_web_apis/introduction/index.md
Labels: l10n-ru

#15692 fix: fix zh-cn multiple_backgrounds translation
  files/zh-cn/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Labels: l10n-zh

#9626 [ru] background fetch registration
  files/ru/web/api/backgroundfetchregistration/abort/index.md
  files/ru/web/api/backgroundfetchregistration/downloaded/index.md
  files/ru/web/api/backgroundfetchregistration/downloadtotal/index.md
  files/ru/web/api/backgroundfetchregistration/failurereason/index.md
  files/ru/web/api/backgroundfetchregistration/id/index.md
  files/ru/web/api/backgroundfetchregistration/index.md
  files/ru/web/api/backgroundfetchregistration/match/index.md
  files/ru/web/api/backgroundfetchregistration/matchall/index.md
  files/ru/web/api/backgroundfetchregistration/progress_event/index.md
  files/ru/web/api/backgroundfetchregistration/recordsavailable/index.md
  files/ru/web/api/backgroundfetchregistration/result/index.md
  files/ru/web/api/backgroundfetchregistration/uploaded/index.md
  files/ru/web/api/backgroundfetchregistration/uploadtotal/index.md
Labels: l10n-ru

#11083 fix(ru): article /JavaScript/Reference
  files/ru/web/javascript/reference/index.md
Labels: l10n-ru

#15691 [zh-cn]: Update translation of Function.toString()
  files/zh-cn/web/javascript/reference/global_objects/function/tostring/index.md
Labels: l10n-zh

#15690 [zh-cn]: Update translation of Function.prototype
  files/zh-cn/web/javascript/reference/global_objects/function/prototype/index.md
Labels: l10n-zh

#14087 chore(zh-tw): add two terms - "formal *"
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#11929 [ru] Translate: WebAssembly/Text_format_to_wasm article
  files/ru/webassembly/text_format_to_wasm/assembly-output.png
  files/ru/webassembly/text_format_to_wasm/index.md
Labels: l10n-ru

#15686 zh-cn: init the translation of "Game Tutorials"
  files/zh-cn/games/tutorials/index.md
Labels: l10n-zh

#15694 Update index.md
  files/zh-cn/web/javascript/reference/global_objects/string/trimend/index.md
Labels: l10n-zh

#15558 ko: update Array.prototype.filter()
  files/ko/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-ko

#15590 [ko]: add index.md in `web/glossary/atag`
  files/ko/glossary/atag/index.md
Labels: l10n-ko

#15475 [ko]: revise index.md files for `web/glossary/p`
  files/ko/glossary/pdf/index.md
  files/ko/glossary/percent-encoding/index.md
  files/ko/glossary/php/index.md
  files/ko/glossary/pixel/index.md
  files/ko/glossary/png/index.md
  files/ko/glossary/polyfill/index.md
  files/ko/glossary/preflight_request/index.md
  files/ko/glossary/primitive/index.md
  files/ko/glossary/progressive_enhancement/index.md
  files/ko/glossary/property/css/index.md
  files/ko/glossary/property/index.md
  files/ko/glossary/property/javascript/index.md
  files/ko/glossary/protocol/index.md
  files/ko/glossary/prototype-based_programming/index.md
  files/ko/glossary/prototype/index.md
  files/ko/glossary/proxy_server/index.md
  files/ko/glossary/pseudocode/index.md
Labels: l10n-ko

#15689 [zh-cn]: Update translation of Function.name
  files/zh-cn/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-zh

#15618 FR: Fix default referrer-policy
  files/fr/web/http/headers/referrer-policy/index.md
Labels: l10n-fr

#15713 fr: fix url locales
  files/fr/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/fr/mozilla/add-ons/webextensions/api/webnavigation/oncommitted/index.md
  files/fr/mozilla/firefox/releases/12/index.md
  files/fr/web/api/atob/index.md
  files/fr/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/fr/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/fr/web/api/canvasrenderingcontext2d/font/index.md
  files/fr/web/api/canvasrenderingcontext2d/globalalpha/index.md
  files/fr/web/api/canvasrenderingcontext2d/index.md
  files/fr/web/api/canvasrenderingcontext2d/linecap/index.md
  files/fr/web/api/canvasrenderingcontext2d/linejoin/index.md
  files/fr/web/api/cssstyledeclaration/csstext/index.md
  files/fr/web/api/htmldocument/index.md
  files/fr/web/api/htmlformelement/submit_event/index.md
  files/fr/web/api/offscreencanvas/index.md
  files/fr/web/api/streams_api/index.md
  files/fr/web/api/webgl2renderingcontext/index.md
  files/fr/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/fr/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/fr/web/api/webgl_api/types/index.md
  files/fr/web/api/webglbuffer/index.md
  files/fr/web/api/webglframebuffer/index.md
  files/fr/web/api/webglprogram/index.md
  files/fr/web/api/webglrenderingcontext/activetexture/index.md
  files/fr/web/api/webglrenderingcontext/attachshader/index.md
  files/fr/web/api/webglrenderingcontext/bindbuffer/index.md
  files/fr/web/api/webglrenderingcontext/bufferdata/index.md
  files/fr/web/api/webglrenderingcontext/compileshader/index.md
  files/fr/web/api/webglrenderingcontext/createprogram/index.md
  files/fr/web/api/webglrenderingcontext/createshader/index.md
  files/fr/web/api/webglrenderingcontext/createtexture/index.md
  files/fr/web/api/webglrenderingcontext/deletebuffer/index.md
  files/fr/web/api/webglrenderingcontext/drawarrays/index.md
  files/fr/web/api/webglrenderingcontext/enablevertexattribarray/index.md
  files/fr/web/api/webglrenderingcontext/generatemipmap/index.md
  files/fr/web/api/webglrenderingcontext/getattriblocation/index.md
  files/fr/web/api/webglrenderingcontext/geterror/index.md
  files/fr/web/api/webglrenderingcontext/gettexparameter/index.md
  files/fr/web/api/webglrenderingcontext/getuniformlocation/index.md
  files/fr/web/api/webglrenderingcontext/isbuffer/index.md
  files/fr/web/api/webglrenderingcontext/teximage2d/index.md
  files/fr/web/api/webglrenderingcontext/texparameter/index.md
  files/fr/web/api/webglrenderingcontext/uniform/index.md
  files/fr/web/api/webglrenderingcontext/uniformmatrix/index.md
  files/fr/web/api/webglrenderingcontext/useprogram/index.md
  files/fr/web/api/webglrenderingcontext/viewport/index.md
  files/fr/web/api/webglshader/index.md
  files/fr/web/api/window/customelements/index.md
  files/fr/web/api/window/getdefaultcomputedstyle/index.md
  files/fr/web/api/window/index.md
  files/fr/web/css/@document/index.md
  files/fr/web/css/_doublecolon_after/index.md
  files/fr/web/html/element/input/checkbox/index.md
  files/fr/web/http/headers/accept-language/index.md
  files/fr/web/javascript/reference/global_objects/error/stack/index.md
  files/fr/web/svg/applying_svg_effects_to_html_content/index.md
Labels: l10n-fr

#15712 chore(zh-cn): add sidebar to common_questions
  files/zh-cn/learn/common_questions/design_and_accessibility/common_web_layouts/index.md
  files/zh-cn/learn/common_questions/design_and_accessibility/thinking_before_coding/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/how_much_does_it_cost/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/set_up_a_local_testing_server/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/using_github_pages/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/what_software_do_i_need/index.md
  files/zh-cn/learn/common_questions/web_mechanics/how_does_the_internet_work/index.md
  files/zh-cn/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
  files/zh-cn/learn/common_questions/web_mechanics/what_are_hyperlinks/index.md
  files/zh-cn/learn/common_questions/web_mechanics/what_is_a_domain_name/index.md
  files/zh-cn/learn/common_questions/web_mechanics/what_is_a_url/index.md
  files/zh-cn/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
Labels: l10n-zh

#15710 ja: fix url locales
  files/ja/web/api/navigator/getgamepads/index.md
  files/ja/web/api/taskattributiontiming/containerid/index.md
  files/ja/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/ja/web/css/css_media_queries/testing_media_queries/index.md
  files/ja/web/css/transform-function/rotate3d/index.md
  files/ja/web/javascript/reference/global_objects/string/search/index.md
Labels: l10n-ja

#15647 Window インターフェイスのウェブストレージ関係のプロパティを更新
  files/ja/web/api/window/localstorage/index.md
  files/ja/web/api/window/sessionstorage/index.md
Labels: l10n-ja

#15684 Translate MIDIPort
  files/ja/web/api/midiport/close/index.md
  files/ja/web/api/midiport/connection/index.md
  files/ja/web/api/midiport/id/index.md
  files/ja/web/api/midiport/index.md
  files/ja/web/api/midiport/manufacturer/index.md
  files/ja/web/api/midiport/name/index.md
  files/ja/web/api/midiport/open/index.md
  files/ja/web/api/midiport/state/index.md
  files/ja/web/api/midiport/statechange_event/index.md
  files/ja/web/api/midiport/type/index.md
  files/ja/web/api/midiport/version/index.md
Labels: l10n-ja

#15719 Translate USB information interfaces
  files/ja/web/api/usbalternateinterface/index.md
  files/ja/web/api/usbconfiguration/configurationname/index.md
  files/ja/web/api/usbconfiguration/configurationvalue/index.md
  files/ja/web/api/usbconfiguration/index.md
  files/ja/web/api/usbconfiguration/interfaces/index.md
  files/ja/web/api/usbconfiguration/usbconfiguration/index.md
  files/ja/web/api/usbendpoint/index.md
  files/ja/web/api/usbinterface/index.md
Labels: l10n-ja

#15473 ko: update Array.prototype.copyWithin()
  files/ko/web/javascript/reference/global_objects/array/copywithin/index.md
Labels: l10n-ko

#15404 [ko]: revise files for `web/glossary/u`
  files/ko/glossary/ui/index.md
  files/ko/glossary/undefined/index.md
  files/ko/glossary/unicode/index.md
  files/ko/glossary/uri/index.md
  files/ko/glossary/url/index.md
  files/ko/glossary/user_agent/index.md
  files/ko/glossary/utf-8/index.md
Labels: l10n-ko

#15724 zh-cn: init the translation of "MDN Repositories"
  files/zh-cn/mdn/community/contributing/index.md
  files/zh-cn/mdn/community/contributing/our_repositories/index.md
Labels: l10n-zh

#15729 zh-cn: retranslate `document.createTreeWalker()`
  files/zh-cn/web/api/document/createtreewalker/index.md
Labels: l10n-zh

#15732 [zh-cn] Update 'MDN Web Docs Localization'
  files/zh-cn/mdn/community/contributing/translated_content/index.md
Labels: l10n-zh

#15286 [ko] translate learn/forms/html5_input_type
  files/ko/learn/forms/html5_input_types/index.md
Labels: l10n-ko

#15474 ko: update Array.prototype.entries()
  files/ko/web/javascript/reference/global_objects/array/entries/index.md
Labels: l10n-ko

#15589 [ko]: add index.md in `web/glossary/arpanet`
  files/ko/glossary/arpanet/index.md
Labels: l10n-ko

#15069 ko: writing guidelines
  files/ko/mdn/writing_guidelines/index.md
Labels: l10n-ko

#15699 [ko] add translation to replace method in location API
  files/ko/web/api/location/replace/index.md
Labels: l10n-ko

#15606 ko: update Array.prototype.findLast()
  files/ko/web/javascript/reference/global_objects/array/findlast/index.md
Labels: l10n-ko

#15667 fix(ko): correct the front matter key
  files/ko/learn/performance/measuring_performance/index.md
Labels: l10n-ko

#15078 ko: features restricted to secure contexts
  files/ko/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Labels: l10n-ko

#15094 ko: Transport Layer Security
  files/ko/web/security/transport_layer_security/index.md
Labels: l10n-ko

#14704 ko: add translation for `learn/css/building_blocks/cascade_layers`
  files/ko/learn/css/building_blocks/cascade_layers/index.md
Labels: l10n-ko

#15032 [revise]: revise index.md for `web/javascript/javascript_technologies_overview`
  files/ko/web/javascript/javascript_technologies_overview/index.md
Labels: l10n-ko

#15172 ko: Securing your site
  files/ko/web/security/securing_your_site/index.md
Labels: l10n-ko

#15180 ko: How to document web errors
  files/ko/mdn/writing_guidelines/howto/document_web_errors/index.md
Labels: l10n-ko

#15184 ko: Page structures
  files/ko/mdn/writing_guidelines/page_structures/index.md
Labels: l10n-ko

#15207 ko: Banners and notices
  files/ko/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
Labels: l10n-ko

#15210 [ko]: revise index.md files for `web/glossary-a`
  files/ko/glossary/abstraction/index.md
  files/ko/glossary/accent/index.md
  files/ko/glossary/accessibility/index.md
  files/ko/glossary/accessibility_tree/index.md
  files/ko/glossary/ajax/index.md
  files/ko/glossary/algorithm/index.md
  files/ko/glossary/api/index.md
  files/ko/glossary/argument/index.md
  files/ko/glossary/array/index.md
  files/ko/glossary/ascii/index.md
  files/ko/glossary/asynchronous/index.md
  files/ko/glossary/attribute/index.md
Labels: l10n-ko

#15298 [ko] translate `a first splash`
  files/ko/learn/javascript/first_steps/a_first_splash/index.md
Labels: l10n-ko

#15324 [ko]: revise files for `web/glossary-l`
  files/ko/glossary/latency/index.md
  files/ko/glossary/lazy_load/index.md
  files/ko/glossary/literal/index.md
  files/ko/glossary/localization/index.md
Labels: l10n-ko

#15302 [ko]: revise files for `web/glossary-g`
  files/ko/glossary/general_header/index.md
  files/ko/glossary/gif/index.md
  files/ko/glossary/global_object/index.md
  files/ko/glossary/google_chrome/index.md
  files/ko/glossary/gpl/index.md
  files/ko/glossary/gpu/index.md
  files/ko/glossary/graceful_degradation/index.md
Labels: l10n-ko

#15624 [ko]: add index.md in `web/glossary/blink`
  files/ko/glossary/blink/index.md
Labels: l10n-ko

#15542 ko: update Array.prototype.fill()
  files/ko/web/javascript/reference/global_objects/array/fill/index.md
Labels: l10n-ko

#15738 Update index.md
  files/zh-cn/web/javascript/reference/functions/arguments/callee/index.md
Labels: l10n-zh

#15086 [ko] translate learn/html/structuring_planet_data/index.md
  files/ko/learn/html/tables/structuring_planet_data/index.md
Labels: l10n-ko

#15386 [ko]: revise index.md file for `web/glossary/q`
  files/ko/glossary/quic/index.md
Labels: l10n-ko

#15306 ko: Subdomain takeovers
  files/ko/web/security/subdomain_takeovers/index.md
Labels: l10n-ko

#15654 Translate Map-like browser APIs
  files/ja/web/javascript/reference/global_objects/map/index.md
Labels: l10n-ja

#15655 Translate MIDIInputMap and MIDIOutputMap
  files/ja/web/api/midiinputmap/index.md
  files/ja/web/api/midioutputmap/index.md
Labels: l10n-ja

#15656 Translate MIDIInput and MIDIMessageEvent
  files/ja/web/api/midiinput/index.md
  files/ja/web/api/midiinput/midimessage_event/index.md
  files/ja/web/api/midimessageevent/data/index.md
  files/ja/web/api/midimessageevent/index.md
  files/ja/web/api/midimessageevent/midimessageevent/index.md
Labels: l10n-ja

#15657 Translate Web MIDI API
  files/ja/web/api/web_midi_api/index.md
Labels: l10n-ja

#15670 Update CSS hsl()
  files/ja/web/css/color_value/hsl/index.md
Labels: l10n-ja

#15676 Translate MIDIAccess and Navigator.requestMIDIAccess()
  files/ja/web/api/midiaccess/index.md
  files/ja/web/api/midiaccess/inputs/index.md
  files/ja/web/api/midiaccess/outputs/index.md
  files/ja/web/api/midiaccess/statechange_event/index.md
  files/ja/web/api/midiaccess/sysexenabled/index.md
  files/ja/web/api/navigator/requestmidiaccess/index.md
Labels: l10n-ja

#15681 Web/API/Web_components 以下のリンク先の修正
  files/ja/conflicting/web/css/_colon_focus-visible/index.md
  files/ja/glossary/element/index.md
  files/ja/glossary/shadow_tree/index.md
  files/ja/mozilla/firefox/releases/101/index.md
  files/ja/mozilla/firefox/releases/42/index.md
  files/ja/mozilla/firefox/releases/50/index.md
  files/ja/mozilla/firefox/releases/92/index.md
  files/ja/orphaned/web/web_components/status_in_firefox/index.md
  files/ja/web/api/customelementregistry/index.md
  files/ja/web/api/element/slot/index.md
  files/ja/web/api/html_dom_api/index.md
  files/ja/web/api/htmlelement/attachinternals/index.md
  files/ja/web/api/web_components/using_shadow_dom/index.md
  files/ja/web/api/window/customelements/index.md
  files/ja/web/api/window/index.md
  files/ja/web/css/_colon_focus-within/index.md
  files/ja/web/css/_colon_host/index.md
  files/ja/web/css/_colon_host_function/index.md
  files/ja/web/css/_doublecolon_part/index.md
  files/ja/web/css/_doublecolon_slotted/index.md
  files/ja/web/css/css_containment/index.md
  files/ja/web/html/global_attributes/index.md
  files/ja/web/html/global_attributes/is/index.md
  files/ja/web/html/global_attributes/slot/index.md
  files/ja/web/javascript/guide/using_classes/index.md
  files/ja/web/mathml/authoring/index.md
Labels: l10n-ja

#15682 「MDN Web Docs の変更履歴」の記事を更新
  files/ja/mdn/changelog/index.md
Labels: l10n-ja

#15683 Web/API/Element/mousewheel_event を新規翻訳
  files/ja/web/api/element/mousewheel_event/index.md
Labels: l10n-ja

#15665 zh-cn: init translation of cycletracker html css
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Labels: l10n-zh

#15711 pt-br: fix url locales
  files/pt-br/glossary/api/index.md
  files/pt-br/learn/css/css_layout/responsive_design/index.md
  files/pt-br/learn/server-side/django/generic_views/index.md
  files/pt-br/orphaned/web/api/navigatoronline/online/index.md
  files/pt-br/web/accessibility/index.md
  files/pt-br/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/pt-br/web/css/css_media_queries/using_media_queries/index.md
  files/pt-br/web/html/element/a/index.md
  files/pt-br/web/html/element/dialog/index.md
  files/pt-br/web/html/element/section/index.md
  files/pt-br/web/http/cors/index.md
  files/pt-br/webassembly/c_to_wasm/index.md
Labels: l10n-pt-br

#15463 fix blank example on pt-br documentation
  files/pt-br/web/css/grid-auto-flow/index.md
Labels: l10n-pt-br

#15742 zh-cn: update the translation of `arguments.callee`
  files/zh-cn/glossary/function/index.md
  files/zh-cn/learn/javascript/building_blocks/events/index.md
  files/zh-cn/web/javascript/reference/functions/arguments/callee/index.md
  files/zh-cn/web/javascript/reference/functions/arguments/index.md
  files/zh-cn/web/javascript/reference/functions/index.md
  files/zh-cn/web/javascript/reference/functions/method_definitions/index.md
  files/zh-cn/web/javascript/reference/operators/function/index.md
Labels: l10n-zh

#15494 [ko] translate `access-control-max-age`
  files/ko/web/http/headers/access-control-max-age/index.md
Labels: l10n-ko

#15490 ko: update Array.prototype[@@iterator]()
  files/ko/web/javascript/reference/global_objects/array/@@iterator/index.md
Labels: l10n-ko

#15632 ko: update Array.prototype.forEach()
  files/ko/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-ko

#15566 [ko]: add index.md in `web/glossary/alpha`
  files/ko/glossary/alpha/index.md
Labels: l10n-ko

#15698 Translate GravitySensor and LinearAccelerationSensor
  files/ja/web/api/gravitysensor/gravitysensor/index.md
  files/ja/web/api/gravitysensor/index.md
  files/ja/web/api/linearaccelerationsensor/index.md
  files/ja/web/api/linearaccelerationsensor/linearaccelerationsensor/index.md
Labels: l10n-ja

#15700 Translate AmbientLightSensor and Magnetometer
  files/ja/web/api/ambientlightsensor/ambientlightsensor/index.md
  files/ja/web/api/ambientlightsensor/illuminance/index.md
  files/ja/web/api/ambientlightsensor/index.md
  files/ja/web/api/magnetometer/index.md
  files/ja/web/api/magnetometer/magnetometer/index.md
  files/ja/web/api/magnetometer/x/index.md
  files/ja/web/api/magnetometer/y/index.md
  files/ja/web/api/magnetometer/z/index.md
  files/ja/web/api/sensor_apis/index.md
Labels: l10n-ja

#15714 ko: fix url locales
  files/ko/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
  files/ko/learn/css/css_layout/grids/index.md
  files/ko/learn/css/css_layout/index.md
  files/ko/learn/css/css_layout/responsive_design/index.md
  files/ko/learn/forms/how_to_structure_a_web_form/index.md
  files/ko/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/ko/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/ko/web/api/webglrenderingcontext/bufferdata/index.md
  files/ko/web/api/webglrenderingcontext/drawarrays/index.md
  files/ko/web/api/window/message_event/index.md
  files/ko/web/css/animation/index.md
  files/ko/web/events/creating_and_triggering_events/index.md
  files/ko/web/html/element/link/index.md
  files/ko/web/javascript/memory_management/index.md
  files/ko/web/javascript/reference/global_objects/array/findindex/index.md
Labels: l10n-ko

#15768 chore(ko): replace `{{htmlattrxref}}` macro
  files/ko/learn/css/styling_text/styling_lists/index.md
  files/ko/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-ko

#15783 zh-cn: fix translate errors in title
  files/zh-cn/learn/html/tables/basics/index.md
Labels: l10n-zh

#15668 [ko] translate `alt-used`
  files/ko/web/http/headers/alt-used/index.md
Labels: l10n-ko

#15660 ko: Create document.timeline
  files/ko/web/api/document/timeline/index.md
Labels: l10n-ko

#15519 [ko] translate css @keyframes
  files/ko/web/css/@keyframes/index.md
Labels: l10n-ko

#15697 zh-tw: fix flaws part 2
  files/zh-tw/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/zh-tw/glossary/property/javascript/index.md
  files/zh-tw/learn/accessibility/wai-aria_basics/index.md
  files/zh-tw/learn/accessibility/what_is_accessibility/index.md
  files/zh-tw/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/zh-tw/learn/css/css_layout/index.md
  files/zh-tw/learn/css/first_steps/how_css_works/index.md
  files/zh-tw/learn/css/first_steps/index.md
  files/zh-tw/learn/css/howto/css_faq/index.md
  files/zh-tw/learn/css/styling_text/index.md
  files/zh-tw/learn/forms/how_to_structure_a_web_form/index.md
  files/zh-tw/learn/getting_started_with_the_web/css_basics/index.md
  files/zh-tw/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/zh-tw/learn/getting_started_with_the_web/html_basics/index.md
  files/zh-tw/learn/getting_started_with_the_web/installing_basic_software/index.md
  files/zh-tw/learn/getting_started_with_the_web/javascript_basics/index.md
  files/zh-tw/learn/getting_started_with_the_web/publishing_your_website/index.md
  files/zh-tw/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
  files/zh-tw/learn/html/howto/index.md
  files/zh-tw/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/zh-tw/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/zh-tw/learn/html/introduction_to_html/getting_started/index.md
  files/zh-tw/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/zh-tw/learn/javascript/asynchronous/index.md
  files/zh-tw/learn/javascript/building_blocks/index.md
  files/zh-tw/learn/javascript/first_steps/index.md
  files/zh-tw/learn/javascript/first_steps/what_is_javascript/index.md
  files/zh-tw/learn/javascript/howto/index.md
  files/zh-tw/learn/javascript/objects/index.md
  files/zh-tw/learn/performance/multimedia/index.md
  files/zh-tw/learn/server-side/django/index.md
  files/zh-tw/learn/server-side/express_nodejs/index.md
  files/zh-tw/learn/server-side/first_steps/index.md
  files/zh-tw/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-tw/mozilla/add-ons/index.md
  files/zh-tw/mozilla/add-ons/webextensions/index.md
  files/zh-tw/web/accessibility/mobile_accessibility_checklist/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/css/_doublecolon_first-letter/index.md
  files/zh-tw/web/css/animation-fill-mode/index.md
  files/zh-tw/web/css/background-attachment/index.md
  files/zh-tw/web/css/index.md
  files/zh-tw/web/demos/index.md
  files/zh-tw/web/events/event_handlers/index.md
  files/zh-tw/web/guide/ajax/index.md
  files/zh-tw/web/guide/graphics/index.md
  files/zh-tw/web/guide/index.md
  files/zh-tw/web/html/index.md
  files/zh-tw/web/javascript/index.md
  files/zh-tw/web/manifest/index.md
  files/zh-tw/web/mathml/index.md
  files/zh-tw/web/media/index.md
  files/zh-tw/web/opensearch/index.md
  files/zh-tw/web/performance/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/tutorials/index.md
Labels: l10n-zh

#15295 [ko] add translation to `images_in_html`
  docs/ko/fully_untranslated_files/Learn_HTML_Multimedia_and_embedding_Images_in_HTML.md
  files/ko/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: l10n-ko

#15785 [ko]: add index.md for `web/glossary/csrf`
  files/ko/glossary/csrf/index.md
Labels: l10n-ko

#15708 [ko]: add index.md for `web/http/basic_of_http/index`
  files/ko/web/http/basics_of_http/index.md
Labels: l10n-ko

#15767 [ko]: add index.md for `web/glossary/ciphertext`
  files/ko/glossary/ciphertext/index.md
Labels: l10n-ko

#15610 add(offsetLeft): 문서 추가
  files/ko/web/api/htmlelement/offsetleft/index.md
Labels: l10n-ko
