Repository mdn/translated-content, pull requests merged in 2023-03, with the labels that each got.

#11941 [zh-cn] Update HTMLDialogElement
  files/zh-cn/web/api/htmldialogelement/index.md
Labels: l10n-zh

#11811 ko: javascript
  files/ko/web/javascript/index.md
Labels: l10n-ko

#11345 [ko] TypeError 설명 수정, 생성자 추가
  files/ko/web/javascript/reference/global_objects/typeerror/index.md
  files/ko/web/javascript/reference/global_objects/typeerror/typeerror/index.md
Labels: l10n-ko

#11465 [ko] 보안 컨텍스트
  files/ko/web/security/secure_contexts/index.md
Labels: l10n-ko

#11553 [ko] HTTP/CSP
  files/ko/web/http/csp/index.md
Labels: l10n-ko

#11637 [ko] JavaScript: Atomics.add(), and() 추가
  files/ko/web/javascript/reference/global_objects/atomics/add/index.md
  files/ko/web/javascript/reference/global_objects/atomics/and/index.md
Labels: l10n-ko

#11847 feat: translate-ko/glossary/routers
  files/ko/glossary/routers/index.md
Labels: l10n-ko

#11916 [ko] JavaScript: RegExp.global, multiline 추가
  files/ko/web/javascript/reference/global_objects/regexp/global/index.md
  files/ko/web/javascript/reference/global_objects/regexp/multiline/index.md
Labels: l10n-ko

#11942 [zh-cn] sync less_than operator
  files/zh-cn/web/javascript/reference/operators/less_than/index.md
Labels: l10n-zh

#11945 zh-cn(update):HTTP guides
  files/zh-cn/web/http/index.md
Labels: l10n-zh

#11948 [zh-cn] sync mouseEvent screen{X,Y}
  files/zh-cn/web/api/mouseevent/screenx/index.md
  files/zh-cn/web/api/mouseevent/screeny/index.md
Labels: l10n-zh

#11938 zh-cn(update):HTTP www-Authenticate header
  files/zh-cn/web/http/headers/www-authenticate/index.md
Labels: l10n-zh

#11954 [zh-cn] Update glossary Hash
  files/zh-cn/glossary/hash/index.md
Labels: l10n-zh

#11576 Translate Svelte getting started tutorial to spanish
  files/es/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: l10n-es

#11961 Drop 'in this module' from Learn/Getting_started [es]
  files/es/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/es/learn/getting_started_with_the_web/installing_basic_software/index.md
  files/es/learn/getting_started_with_the_web/javascript_basics/index.md
  files/es/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
Labels: l10n-es

#11951 chore(zh-tw): remove {{HTMLAttrDef}} macros
  files/zh-tw/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-tw/mozilla/firefox/releases/6/index.md
  files/zh-tw/mozilla/firefox/releases/8/index.md
  files/zh-tw/mozilla/firefox/releases/9/index.md
  files/zh-tw/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/zh-tw/web/api/window/opener/index.md
  files/zh-tw/web/html/content_categories/index.md
  files/zh-tw/web/html/element/a/index.md
  files/zh-tw/web/html/element/blockquote/index.md
  files/zh-tw/web/html/element/br/index.md
  files/zh-tw/web/html/element/button/index.md
  files/zh-tw/web/html/element/canvas/index.md
  files/zh-tw/web/html/element/font/index.md
  files/zh-tw/web/html/element/form/index.md
  files/zh-tw/web/html/element/frameset/index.md
  files/zh-tw/web/html/element/hr/index.md
  files/zh-tw/web/html/element/input/index.md
  files/zh-tw/web/html/element/marquee/index.md
  files/zh-tw/web/html/element/meter/index.md
  files/zh-tw/web/html/element/optgroup/index.md
  files/zh-tw/web/html/element/picture/index.md
  files/zh-tw/web/html/element/q/index.md
  files/zh-tw/web/html/element/script/index.md
  files/zh-tw/web/html/element/table/index.md
  files/zh-tw/web/html/element/time/index.md
  files/zh-tw/web/html/global_attributes/index.md
  files/zh-tw/web/html/index.md
Labels: l10n-zh

#11940 fix: typo(s/十真数/十進数/)
  files/ja/web/javascript/reference/global_objects/object/tostring/index.md
Labels: l10n-ja

#11964 ko/update(docs): add random commit hash to example markdown
  docs/ko/guides/meta-data-guide.md
Labels: l10n-ko

#11969 fix incorrect word translation
  files/zh-cn/web/http/authentication/index.md
Labels: l10n-zh

#11962 Fix typo
  files/ru/web/http/overview/index.md
Labels: l10n-ru

#10944 fix(ru): article <script>
  files/ru/web/html/element/script/index.md
Labels: l10n-ru

#11946 fix(ru): fix broken links to the Emscripten tool
  files/ru/webassembly/c_to_wasm/index.md
  files/ru/webassembly/concepts/index.md
  files/ru/webassembly/index.md
Labels: l10n-ru

#10971 fix(ru): article Equality_comparisons_and_sameness#same-value_equality_using_object.is
  files/ru/web/javascript/equality_comparisons_and_sameness/index.md
Labels: l10n-ru

#11957 zh-cn(update):HTTP client_hints
  files/zh-cn/web/http/client_hints/index.md
Labels: l10n-zh

#11890 用語集の Enumerated を新規翻訳
  files/ja/glossary/enumerated/index.md
Labels: l10n-ja

#11970 typo修正: cokumn -> column
  files/ja/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: l10n-ja

#11971 [zh-cn] translate logical_AND
  files/zh-cn/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-zh

#11895 旧 Web/Guide/HTML/Editable_content の記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/html/global_attributes/contenteditable/index.md
Labels: l10n-ja

#11218 Check redirects even for MD
  .github/workflows/pr-check_redirects.yml
Labels: system

#11982 add note about use async function as `forEach()`'s callback func
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-zh

#11980 [zh-cn] update glossary falsy
  files/zh-cn/glossary/falsy/index.md
Labels: l10n-zh

#11983 [zh-cn] translate additional note in currentTarget
  files/zh-cn/web/api/event/currenttarget/index.md
Labels: l10n-zh

#11921 Update index.md
  files/ja/web/http/headers/x-xss-protection/index.md
Labels: l10n-ja

#11923 Web/HTTP/Cookies を更新
  files/ja/web/http/cookies/index.md
Labels: l10n-ja

#11927 `<iframe>` 要素の記事を更新
  files/ja/web/html/element/iframe/index.md
Labels: l10n-ja

#11928 Glossary/Same-origin_policy を更新
  files/ja/glossary/same-origin_policy/index.md
Labels: l10n-ja

#11924 Web/HTTP/CORS/Errors/CORSAllowOriginNotMatchingOrigin の記事を更新
  files/ja/web/http/cors/errors/corsalloworiginnotmatchingorigin/index.md
Labels: l10n-ja

#11959 2023/03/03時点の英語版に同期（互換性一覧表解説ページ）
  files/ja/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
Labels: l10n-ja

#11974 es: Sync HardwareConcurrency with en-US Slug
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/api/navigator/hardwareconcurrency/index.md
Labels: l10n-es

#11990 es: Update api/htmlshadowelement
  files/es/web/api/htmlshadowelement/index.md
Labels: l10n-es

#11995 es: Update api/texttrack
  files/es/web/api/texttrack/index.md
Labels: l10n-es

#11976 Remove {{WebkitBug}} from es
  files/es/web/css/-moz-image-rect/index.md
Labels: l10n-es

#11987 [zh-cn] update logical_OR_assignment
  files/zh-cn/web/javascript/reference/operators/logical_or_assignment/index.md
Labels: l10n-zh

#11993 {{HTMLRefTable}}マクロの廃止への対応：ベタ書きテーブルに変換
  files/ja/web/html/element/index.md
Labels: l10n-ja

#11944 fix(ru): cross-links in WebAssembly article
  files/ru/webassembly/index.md
Labels: l10n-ru

#11572 [ko] JavaScript: TypedArray.prototype.every(), forEach()
  files/ko/web/javascript/reference/global_objects/typedarray/every/index.md
  files/ko/web/javascript/reference/global_objects/typedarray/foreach/index.md
Labels: l10n-ko

#11760 [ko] remove Event macro
  docs/ko/guides/github-actions-guide.md
  files/ko/_redirects.txt
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.md
  files/ko/learn/html/multimedia_and_embedding/video_and_audio_content/containersandtracks.svg
  files/ko/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/ko/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/ko/orphaned/web/api/globaleventhandlers/index.md
  files/ko/orphaned/web/api/windoweventhandlers/index.md
  files/ko/web/api/animationevent/elapsedtime/index.md
  files/ko/web/api/audiobuffersourcenode/index.md
  files/ko/web/api/baseaudiocontext/index.md
  files/ko/web/api/battery_status_api/index.md
  files/ko/web/api/batterymanager/index.md
Labels: l10n-ko

#12005 [ko] remove event macro
  files/ko/_redirects.txt
  files/ko/web/api/broadcastchannel/index.md
  files/ko/web/api/broadcastchannel/message_event/index.md
  files/ko/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ko/web/api/clipboard_api/index.md
  files/ko/web/api/clipboardevent/clipboarddata/index.md
  files/ko/web/api/clipboardevent/index.md
  files/ko/web/api/css_object_model/managing_screen_orientation/index.md
  files/ko/web/api/datatransfer/index.md
  files/ko/web/api/document/index.md
  files/ko/web/api/document/readystate/index.md
  files/ko/web/api/document/scroll_event/index.md
  files/ko/web/api/document/visibilitystate/index.md
  files/ko/web/api/dragevent/index.md
  files/ko/web/api/element/blur_event/index.md
  files/ko/web/api/element/click_event/index.md
  files/ko/web/api/element/innerhtml/index.md
  files/ko/web/api/element/keydown_event/index.md
  files/ko/web/api/performance/index.md
  files/ko/web/api/rtcpeerconnectioniceevent/index.md
  files/ko/web/api/screen/index.md
  files/ko/web/api/selection/index.md
Labels: l10n-ko

#11936 Glossary/hash を更新
  files/ja/glossary/hash/index.md
Labels: l10n-ja

#11937 Web/API/WebGL_API を更新
  files/ja/web/api/webgl_api/index.md
Labels: l10n-ja

#11998 es: Update api/worker
  files/es/web/api/worker/index.md
Labels: l10n-es

#12014 zh-cn: update translation for navigator.vendor
  files/zh-cn/web/api/navigator/vendor/index.md
Labels: l10n-zh

#11829 [ko] Fix minor points of linear-gradient()
  files/ko/web/css/gradient/linear-gradient/index.md
Labels: l10n-ko

#11872 ko: "Creating Hyperlinks" 페이지 오역 수정
  files/ko/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-ko

#11669 [ko] HTTP Status 204, 404 수정, `vary` 헤더 수정 외
  files/ko/web/http/headers/content-length/index.md
  files/ko/web/http/headers/last-modified/index.md
  files/ko/web/http/headers/vary/index.md
  files/ko/web/http/status/204/index.md
  files/ko/web/http/status/404/index.md
Labels: l10n-ko

#12021 zh-TW: Replaced `{{HTMLRefTable}}` with markdown table
  files/zh-tw/web/html/element/index.md
Labels: l10n-zh

#12024 zh-cn: update http-code(406) translation
  files/zh-cn/web/http/status/406/index.md
Labels: l10n-zh

#11943 WebVTT APIの記事を更新
  files/ja/web/api/webvtt_api/index.md
Labels: l10n-ja

#11952 typo修正：radical=>radial
  files/ja/web/css/gradient/index.md
Labels: l10n-ja

#11956 typo修正：円zなし⇒演算子
  files/ja/web/javascript/guide/expressions_and_operators/index.md
Labels: l10n-ja

#11884 ko: fix typo
  files/ko/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
Labels: l10n-ko

#11541 [ko] 인증서 투명성
  files/ko/web/security/certificate_transparency/index.md
Labels: l10n-ko

#12034 [zh-cn] Update glossary www
  files/zh-cn/glossary/world_wide_web/index.md
Labels: l10n-zh

#12004 sync with english version for animating textures
  files/zh-cn/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
Labels: l10n-zh

#12036 zh-cn(fix): fix link error
  files/zh-cn/web/api/textdecoder/textdecoder/index.md
Labels: l10n-zh

#11960 typo修正：Chinse⇒Chinese
  files/ja/web/css/writing-mode/index.md
Labels: l10n-ja

#11965 Learn/Accessibility/HTML を更新
  files/ja/learn/accessibility/html/index.md
Labels: l10n-ja

#11973 fix link
  files/ja/web/api/fetch_api/using_fetch/index.md
Labels: l10n-ja

#12040 [patch] some fr spelling fixes
  files/fr/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-fr

#11975 Add information in french about WHATWG specification of fetch
  files/fr/web/api/fetch/index.md
Labels: l10n-fr

#11294 Add ZeroMQ
  files/fr/web/api/websockets_api/index.md
Labels: l10n-fr

#11989 es: Remove api/navigatorconcurrenthardware to sync with en-US
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/orphaned/web/api/navigatorconcurrenthardware/index.md
Labels: l10n-es

#11991 es: Update api/notifications_api
  files/es/web/api/notifications_api/index.md
Labels: l10n-es

#11994 Translate test html images to es
  files/es/learn/html/multimedia_and_embedding/images_in_html/test_your_skills_colon__html_images/index.md
Labels: l10n-es

#11996 es: Update api/uievent
  files/es/web/api/uievent/index.md
Labels: l10n-es

#12030 [ko] remove `{{SectionOnPage}}` macro
  files/ko/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/ko/mdn/community/contributing/getting_started/index.md
  files/ko/web/api/htmlselectelement/selectedoptions/index.md
  files/ko/web/api/mediadevices/index.md
  files/ko/web/api/rtcpeerconnection/addtrack/index.md
  files/ko/web/api/rtcpeerconnection/createanswer/index.md
  files/ko/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/ko/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/ko/web/api/rtcpeerconnection/localdescription/index.md
  files/ko/web/api/rtcpeerconnection/restartice/index.md
  files/ko/web/api/rtcpeerconnection/setlocaldescription/index.md
  files/ko/web/css/css_colors/applying_color/index.md
  files/ko/web/html/element/input/index.md
  files/ko/web/media/formats/codecs_parameter/index.md
Labels: l10n-ko

#12015 es: Replaced `{{HTMLRefTable}}` with markdown table
  files/es/web/html/element/index.md
Labels: l10n-es

#11997 es: Update api/web_speech_api
  files/es/web/api/web_speech_api/index.md
Labels: l10n-es

#11967 [zh-tw] translate some articles in WebAssembly/Reference/Control_flow
  files/zh-tw/webassembly/reference/control_flow/br/index.md
  files/zh-tw/webassembly/reference/control_flow/unreachable/index.md
Labels: l10n-zh

#12046 chore(ci): bump Python version in PR companion
  .github/workflows/pr-review-companion.yml
Labels: system

#12039 [zh-cn] update logical NOT
  files/zh-cn/web/javascript/reference/operators/logical_not/index.md
Labels: l10n-zh

#12045 zh-cn: update translation for backface-visibility
  files/zh-cn/web/css/backface-visibility/index.md
Labels: l10n-zh

#12037 zh-cn(update): encode.encodeInto()
  files/zh-cn/web/api/textencoder/encodeinto/index.md
Labels: l10n-zh

#12048 [zh-cn] init translation of glossary/dynamic_typing
  files/zh-cn/glossary/dynamic_typing/index.md
Labels: l10n-zh

#12051 Typofix
  files/fr/learn/javascript/first_steps/variables/index.md
Labels: l10n-fr

#12011 [ko] Translation for justify-content
  files/ko/web/css/justify-content/index.md
Labels: l10n-ko

#11858 ko: update and fix live sample
  files/ko/web/svg/element/a/index.md
  files/ko/web/svg/element/circle/index.md
  files/ko/web/svg/element/ellipse/index.md
  files/ko/web/svg/element/rect/index.md
Labels: l10n-ko

#12053 incorrect word fixup
  files/zh-cn/web/http/status/202/index.md
Labels: l10n-zh

#11978 透過 -> 等価
  files/ja/web/javascript/reference/global_objects/map/index.md
Labels: l10n-ja

#12022 [es]: Added translation to Namespace page
  files/es/glossary/namespace/index.md
Labels: l10n-es

#12043 sync with English version for `What we write` for zh-CN
  files/zh-cn/mdn/writing_guidelines/what_we_write/index.md
Labels: l10n-zh

#12064 remove BCD table
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
Labels: l10n-zh

#11988 Learn/JavaScript/Building_blocks/Test_your_skills:_Conditionals を新規翻訳
  files/ja/learn/javascript/building_blocks/test_your_skills_colon__conditionals/index.md
Labels: l10n-ja

#12006 fix the broken webgl demo and update some broken links
  files/es/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
Labels: l10n-ja, l10n-fr, l10n-es

#12009 HTML/Element ページを更新
  files/ja/web/html/element/index.md
Labels: l10n-ja

#12012 Evolution_of_HTTP を更新
  files/ja/web/http/basics_of_http/evolution_of_http/index.md
Labels: l10n-ja

#12013 用語集の QUIC の項目を新規翻訳
  files/ja/glossary/quic/index.md
Labels: l10n-ja

#12065 zh-cn: fix style error
  files/zh-cn/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
Labels: l10n-zh

#12069 [zh-cn] Update logical_and_assignment
  files/zh-cn/web/javascript/reference/operators/logical_and_assignment/index.md
Labels: l10n-zh

#12061 [es] Minor fix to Namespace translation
  files/es/glossary/namespace/index.md
Labels: l10n-es

#12071 es: Drop 'in this module' from es in Learn/CSS
  files/es/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/es/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/es/learn/css/building_blocks/debugging_css/index.md
  files/es/learn/css/building_blocks/handling_different_text_directions/index.md
  files/es/learn/css/building_blocks/images_media_form_elements/index.md
  files/es/learn/css/building_blocks/overflowing_content/index.md
  files/es/learn/css/building_blocks/selectors/attribute_selectors/index.md
  files/es/learn/css/building_blocks/selectors/combinators/index.md
  files/es/learn/css/building_blocks/selectors/index.md
  files/es/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
  files/es/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
  files/es/learn/css/building_blocks/sizing_items_in_css/index.md
  files/es/learn/css/building_blocks/the_box_model/index.md
  files/es/learn/css/building_blocks/values_and_units/index.md
  files/es/learn/css/css_layout/flexbox/index.md
  files/es/learn/css/css_layout/floats/index.md
  files/es/learn/css/css_layout/grids/index.md
  files/es/learn/css/css_layout/introduction/index.md
  files/es/learn/css/css_layout/normal_flow/index.md
  files/es/learn/css/css_layout/responsive_design/index.md
  files/es/learn/css/css_layout/supporting_older_browsers/index.md
  files/es/learn/css/first_steps/getting_started/index.md
  files/es/learn/css/first_steps/how_css_is_structured/index.md
  files/es/learn/css/first_steps/how_css_works/index.md
  files/es/learn/css/first_steps/styling_a_biography_page/index.md
  files/es/learn/css/first_steps/what_is_css/index.md
  files/es/learn/css/styling_text/fundamentals/index.md
  files/es/learn/css/styling_text/styling_links/index.md
  files/es/learn/css/styling_text/styling_lists/index.md
  files/es/learn/css/styling_text/web_fonts/index.md
Labels: l10n-es

#12058 es: Drop 'in this module' section from es in Learn/html
  files/es/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/es/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/es/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/es/learn/html/introduction_to_html/getting_started/index.md
  files/es/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/es/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/es/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
  files/es/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/es/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/es/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/es/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/es/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/es/learn/html/tables/advanced/index.md
  files/es/learn/html/tables/basics/index.md
Labels: l10n-es

#11825 [ko] What is Accessibility? translation
  files/ko/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-ko

#12077 es: Drop 'in this module' from Learn/Tools_and_testing
  files/es/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/es/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: l10n-es

#12082 Fix ReadableStreamDefaultReader sample code loop error
  files/zh-cn/web/api/readablestreamdefaultreader/index.md
Labels: l10n-zh

#12085 [zh-cn]: update identifier
  files/zh-cn/glossary/identifier/index.md
Labels: l10n-zh

#12090 [zh-cn] fix a link do not point to zh-cn document
  files/zh-cn/web/http/index.md
Labels: l10n-zh

#12087 Update index.md
  files/zh-cn/learn/javascript/asynchronous/promises/index.md
Labels: l10n-zh

#12086 Reflect.get() is not bolded and displays an error
  files/zh-cn/web/javascript/reference/global_objects/reflect/get/index.md
Labels: l10n-zh

#12068 zh-cn: re-translate keypress article
  files/zh-cn/web/api/element/keypress_event/index.md
Labels: l10n-zh

#12089 [zh-cn] update glossary nullish value
  files/zh-cn/glossary/nullish/index.md
Labels: l10n-zh

#12088 [zh-cn] update logical_or
  files/zh-cn/web/javascript/reference/operators/logical_or/index.md
Labels: l10n-zh

#12070 Update Ruby doc [ES]
  files/es/glossary/ruby/index.md
Labels: l10n-es

#12074 es: Drop 'in this module' from Learn/Javascript
  files/es/learn/forms/basic_native_form_controls/index.md
  files/es/learn/javascript/asynchronous/introducing/index.md
  files/es/learn/javascript/building_blocks/build_your_own_function/index.md
  files/es/learn/javascript/building_blocks/conditionals/index.md
  files/es/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/es/learn/javascript/client-side_web_apis/introduction/index.md
  files/es/learn/javascript/first_steps/arrays/index.md
  files/es/learn/javascript/first_steps/math/index.md
  files/es/learn/javascript/first_steps/silly_story_generator/index.md
  files/es/learn/javascript/first_steps/strings/index.md
  files/es/learn/javascript/first_steps/useful_string_methods/index.md
  files/es/learn/javascript/first_steps/variables/index.md
  files/es/learn/javascript/objects/adding_bouncing_balls_features/index.md
  files/es/learn/javascript/objects/classes_in_javascript/index.md
  files/es/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-es

#12076 es: Drop 'in this module' from Learn/Accessibility
  files/es/learn/accessibility/accessibility_troubleshooting/index.md
  files/es/learn/accessibility/mobile/index.md
  files/es/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-es

#11977 [ko] JavaScript: Atomics.or(), xor() 추가
  files/ko/web/javascript/reference/global_objects/atomics/index.md
  files/ko/web/javascript/reference/global_objects/atomics/or/index.md
  files/ko/web/javascript/reference/global_objects/atomics/xor/index.md
Labels: l10n-ko

#12079 es: Drop 'in this module' from Learn/Server-side
  files/es/learn/server-side/django/admin_site/index.md
  files/es/learn/server-side/django/authentication/index.md
  files/es/learn/server-side/django/deployment/index.md
  files/es/learn/server-side/django/development_environment/index.md
  files/es/learn/server-side/django/forms/index.md
  files/es/learn/server-side/django/generic_views/index.md
  files/es/learn/server-side/django/home_page/index.md
  files/es/learn/server-side/django/introduction/index.md
  files/es/learn/server-side/django/models/index.md
  files/es/learn/server-side/django/sessions/index.md
  files/es/learn/server-side/django/skeleton_website/index.md
  files/es/learn/server-side/django/testing/index.md
  files/es/learn/server-side/django/tutorial_local_library_website/index.md
  files/es/learn/server-side/express_nodejs/introduction/index.md
  files/es/learn/server-side/first_steps/client-server_overview/index.md
  files/es/learn/server-side/first_steps/web_frameworks/index.md
  files/es/learn/server-side/first_steps/website_security/index.md
Labels: l10n-es

#12092 es: Drop 'in this module' from Learn/Javascript
  files/es/learn/javascript/first_steps/a_first_splash/index.md
  files/es/learn/javascript/first_steps/what_is_javascript/index.md
  files/es/learn/javascript/first_steps/what_went_wrong/index.md
Labels: l10n-es

#12099 [zh] docs(TypedArray.prototype.byteLength): docs typos
  files/zh-cn/web/javascript/reference/global_objects/typedarray/bytelength/index.md
Labels: l10n-zh

#12100 [zh] docs(TypedArray.prototype.buffer): docs typos
  files/zh-cn/web/javascript/reference/global_objects/typedarray/buffer/index.md
Labels: l10n-zh

#12104 [zh-cn] Fix bolded not working
  files/zh-cn/web/api/background_tasks_api/index.md
Labels: l10n-zh

#12109 [zh-cn] Update element.attributes
  files/zh-cn/web/api/element/attributes/index.md
Labels: l10n-zh

#12110 [zh-cn] update manifest/background_color
  files/zh-cn/web/manifest/background_color/index.md
Labels: l10n-zh

#12094 es: Update API/DOM page
  files/es/web/api/document_object_model/index.md
Labels: l10n-es

#12111 es: Update glossary/php page
  files/es/glossary/php/index.md
Labels: l10n-es

#12114 [es] add new translation suggestion
  docs/es/README.md
Labels: l10n-es

#12113 es: Update write_a_new_entry_in_the_glossary page
  files/es/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
Labels: l10n-es

#12112 es: Update glossary/webvtt page
  files/es/glossary/webvtt/index.md
Labels: l10n-es

#12047 「mouseover イベントの動作」におけるイベント名の誤りの修正
  files/ja/web/api/element/mouseenter_event/index.md
Labels: l10n-ja

#12017 ko: Replaced `{{HTMLRefTable}}` with markdown table
  files/ko/web/html/element/index.md
Labels: l10n-ko

#12091 [ko] Translation for setInterval
  files/ko/web/api/setinterval/index.md
Labels: l10n-ko

#12116 Fix typo and grammar in Installable PWA page, in French
  files/fr/web/progressive_web_apps/installable_pwas/index.md
Labels: l10n-fr

#12020 zh-CN: Replaced `{{HTMLRefTable}}` with markdown table
  files/zh-cn/web/html/element/index.md
Labels: l10n-zh

#12118 zh-cn: update translation for mask-image
  files/zh-cn/web/css/mask-image/index.md
Labels: l10n-zh

#12124 zh-cn(translate): async_function_asterisk_express
  files/zh-cn/web/javascript/reference/operators/async_function_star_/index.md
Labels: l10n-zh

#12129 Fix: Typo #11749
  files/fr/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-fr

#12117 [ko] Translation for seekable
  files/ko/web/api/htmlmediaelement/seekable/index.md
Labels: l10n-ko

#12131 [ko] Translate for MediaElement readyState
  files/ko/web/api/htmlmediaelement/readystate/index.md
Labels: l10n-ko

#12132 [ko] Translate for MediaElement networkState
  files/ko/web/api/htmlmediaelement/networkstate/index.md
Labels: l10n-ko

#12135 [ko] Translate for MediaElement srcObject
  files/ko/web/api/htmlmediaelement/srcobject/index.md
Labels: l10n-ko

#12133 [ko] Translate for MediaElement src
  files/ko/web/api/htmlmediaelement/src/index.md
Labels: l10n-ko

#12136 [ko] Translate for MediaElement currentTime
  files/ko/web/api/htmlmediaelement/currenttime/index.md
Labels: l10n-ko

#12134 [ko] Translate for MediaElement currentSrc
  files/ko/web/api/htmlmediaelement/currentsrc/index.md
Labels: l10n-ko

#12007 [ko] Replace macros Bug by regular MD links
  files/ko/conflicting/web/javascript/reference/strict_mode/index.md
  files/ko/glossary/tls/index.md
  files/ko/mozilla/add-ons/webextensions/api/menus/create/index.md
  files/ko/orphaned/webassembly/caching_modules/index.md
  files/ko/web/api/console/group/index.md
  files/ko/web/api/document/getelementsbytagname/index.md
  files/ko/web/api/element/blur_event/index.md
  files/ko/web/api/element/clientleft/index.md
  files/ko/web/api/fetchevent/respondwith/index.md
  files/ko/web/api/file_and_directory_entries_api/index.md
  files/ko/web/api/htmlelement/index.md
  files/ko/web/api/indexeddb_api/using_indexeddb/index.md
  files/ko/web/api/keyboardevent/index.md
  files/ko/web/api/offscreencanvas/getcontext/index.md
  files/ko/web/api/service_worker_api/using_service_workers/index.md
  files/ko/web/api/web_workers_api/using_web_workers/index.md
  files/ko/web/api/webrtc_api/using_data_channels/index.md
  files/ko/web/css/@keyframes/index.md
  files/ko/web/css/animation/index.md
  files/ko/web/css/cursor/index.md
  files/ko/web/css/flex-basis/index.md
  files/ko/web/css/url/index.md
  files/ko/web/html/element/button/index.md
  files/ko/web/html/element/input/file/index.md
  files/ko/web/html/global_attributes/contextmenu/index.md
  files/ko/web/http/authentication/index.md
  files/ko/web/http/basics_of_http/evolution_of_http/index.md
  files/ko/web/http/cors/index.md
  files/ko/web/http/headers/content-disposition/index.md
  files/ko/web/http/headers/origin/index.md
  files/ko/web/http/headers/x-frame-options/index.md
  files/ko/web/javascript/reference/classes/index.md
  files/ko/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/ko/web/javascript/reference/functions/arguments/callee/index.md
  files/ko/web/javascript/reference/global_objects/date/utc/index.md
  files/ko/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/ko/web/javascript/reference/lexical_grammar/index.md
  files/ko/web/javascript/reference/strict_mode/index.md
Labels: l10n-ko

#12137 [ko] Translate for MediaElement duration
  files/ko/web/api/htmlmediaelement/duration/index.md
Labels: l10n-ko

#12127 text fix
  files/ko/web/javascript/reference/global_objects/string/slice/index.md
Labels: l10n-ko

#11972 [ko] add Bitwise AND assignment translation
  files/ko/web/javascript/reference/operators/bitwise_and_assignment/index.md
Labels: l10n-ko

#12126 zh-cn(translate): expression statement
  files/zh-cn/web/javascript/reference/statements/expression_statement/index.md
Labels: l10n-zh

#12050 ko: fix flatmap example
  files/ko/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: l10n-ko

#12144 Makes changes for iterator code
  files/zh-cn/web/javascript/reference/global_objects/array/@@iterator/index.md
Labels: l10n-zh
