Repository mdn/translated-content, pull requests merged in 2023-01, with the labels that each got.

#10836 sync with EN content of input/radio
  files/zh-cn/web/html/element/input/radio/index.md
Labels: l10n-zh

#10839 Fix wrong url
  files/zh-cn/learn/javascript/client-side_web_apis/fetching_data/index.md
Labels: l10n-zh

#10785 Translate HTTP Status 406
  files/ko/web/http/status/406/index.md
Labels: l10n-ko

#10165 modify js function document translation
  files/ko/web/javascript/guide/functions/index.md
Labels: l10n-ko

#10293 improved css/learn documents in KO
  files/ko/learn/css/building_blocks/handling_different_text_directions/index.md
  files/ko/learn/css/building_blocks/images_media_form_elements/index.md
  files/ko/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-ko

#10396 JavaScript: Array.prototype.some() 수정
  files/ko/web/javascript/reference/global_objects/array/some/index.md
Labels: l10n-ko

#10599 [zh-tw] translate date.parse and settime
  files/zh-tw/web/javascript/reference/global_objects/date/gethours/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getmilliseconds/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getminutes/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getseconds/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/gettime/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getutchours/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getutcminutes/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/getutcseconds/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/parse/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/sethours/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/settime/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/setutchours/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/valueof/index.md
Labels: l10n-zh

#10772 TypedArray.prototype.every() を更新
  files/ja/web/javascript/reference/global_objects/typedarray/every/index.md
Labels: l10n-ja

#10773 Web/HTML/Element/portal を更新
  files/ja/web/html/element/portal/index.md
Labels: l10n-ja

#10783 Improve Node.textContent
  files/ja/web/api/node/textcontent/index.md
Labels: l10n-ja

#10797 Web/Media/Formats/Video_codecs を新規翻訳
  files/ja/web/media/formats/video_codecs/index.md
Labels: l10n-ja

#10798 HTML DOM API を更新
  files/ja/web/api/html_dom_api/index.md
Labels: l10n-ja

#10800 Learn/Server-side/Django 以下の一部の記事を更新
  files/ja/learn/server-side/django/index.md
  files/ja/learn/server-side/django/introduction/index.md
Labels: l10n-ja

#10815 Window: appinstalled イベントの記事を更新
  files/ja/web/api/window/appinstalled_event/index.md
Labels: l10n-ja

#10853 Complete translation
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: l10n-zh

#10802 fix(ru): typo in "HTTP Overview" article
  files/ru/web/http/overview/index.md
Labels: l10n-ru

#10793 fix(ru): grammar mistake in "HTTP Status" article
  files/ru/web/http/status/index.md
Labels: l10n-ru

#10777 fix(ru): code highlighting
  files/ru/web/javascript/reference/global_objects/nan/index.md
Labels: l10n-ru

#10776 fix(ru): code highlighting
  files/ru/web/javascript/reference/global_objects/math/index.md
Labels: l10n-ru

#10846 fix(ru): typo in `<img>` article
  files/ru/web/html/element/img/index.md
Labels: l10n-ru

#10775 fix(ru): code highlighting in "Error" article
  files/ru/web/javascript/reference/global_objects/error/index.md
Labels: l10n-ru

#10760 fix(ru): "Advanced text formatting" article content
  files/ru/learn/html/introduction_to_html/advanced_text_formatting/index.md
Labels: l10n-ru

#10758 fix(ru): broken link in "Creating hyperlinks" article
  files/ru/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-ru

#10858 fix link
  files/ja/web/css/transform-origin/index.md
Labels: l10n-ja

#10864 Update index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Labels: l10n-zh

#10854 chore(zh): replace @api/deki references
  files/zh-cn/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/zh-cn/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.md
  files/zh-cn/web/api/console/dir/index.md
  files/zh-cn/web/api/css_object_model/determining_the_dimensions_of_elements/index.md
  files/zh-cn/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/zh-cn/web/api/document_object_model/using_the_w3c_dom_level_1_core/index.md
  files/zh-cn/web/api/htmlelement/offsetheight/index.md
  files/zh-cn/web/api/htmlelement/offsetleft/index.md
  files/zh-cn/web/api/htmlelement/offsetwidth/index.md
  files/zh-cn/web/api/window/alert/index.md
  files/zh-cn/web/api/window/innerheight/index.md
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/border-bottom-left-radius/index.md
  files/zh-cn/web/css/border-bottom-right-radius/index.md
  files/zh-cn/web/css/border-radius/index.md
  files/zh-cn/web/css/border-top-left-radius/index.md
  files/zh-cn/web/css/border-top-right-radius/index.md
  files/zh-cn/web/css/css_lists_and_counters/consistent_list_indentation/index.md
  files/zh-cn/web/css/css_positioning/understanding_z_index/stacking_context_example_1/index.md
  files/zh-cn/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
  files/zh-cn/web/css/ratio/index.md
  files/zh-cn/web/css/scaling_of_svg_backgrounds/index.md
  files/zh-cn/web/css/syntax/index.md
  files/zh-cn/web/svg/tutorial/basic_shapes/index.md
  files/zh-cn/web/svg/tutorial/paths/index.md
  files/zh-cn/web/svg/tutorial/patterns/index.md
  files/zh-cn/web/svg/tutorial/positions/index.md
  files/zh-tw/web/api/console/index.md
  files/zh-tw/web/api/css_object_model/determining_the_dimensions_of_elements/index.md
  files/zh-tw/web/api/element/clientheight/index.md
  files/zh-tw/web/api/element/scrollheight/index.md
  files/zh-tw/web/api/element/scrolltop/index.md
  files/zh-tw/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/css/clip/index.md
  files/zh-tw/web/css/css_lists_and_counters/consistent_list_indentation/index.md
  files/zh-tw/web/css/css_positioning/understanding_z_index/stacking_context_example_1/index.md
  files/zh-tw/web/css/css_transitions/using_css_transitions/index.md
  files/zh-tw/web/css/syntax/index.md
  files/zh-tw/web/html/element/blink/index.md
  files/zh-tw/web/svg/tutorial/basic_shapes/index.md
  files/zh-tw/web/svg/tutorial/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorial/getting_started/index.md
  files/zh-tw/web/svg/tutorial/paths/index.md
  files/zh-tw/web/svg/tutorial/patterns/index.md
  files/zh-tw/web/svg/tutorial/positions/index.md
Labels: l10n-zh

#10694 fix: replace hidden PR license blocks KO
  files/ko/mozilla/add-ons/webextensions/api/storage/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/storagearea/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/ko/mozilla/add-ons/webextensions/api/tabs/create/index.md
  files/ko/mozilla/add-ons/webextensions/api/tabs/index.md
  files/ko/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: l10n-ko

#10702 feat: translate css/_colon_last-child into korean
  files/ko/web/css/_colon_last-child/index.md
Labels: l10n-ko

#10762 JavaScript: client-side storage의 필요한 사전 지식과 목표 번역
  files/ko/learn/javascript/client-side_web_apis/client-side_storage/index.md
Labels: l10n-ko

#10779 HTTP: Status 416, 500 수정
  files/ko/web/http/status/416/index.md
  files/ko/web/http/status/500/index.md
Labels: l10n-ko

#10879 docs: update change event
  files/zh-cn/web/api/htmlelement/change_event/index.md
Labels: l10n-zh

#10820 Fix Japanese text (Rust から WebAssembly にコンパイルする)
  files/ja/webassembly/rust_to_wasm/index.md
Labels: l10n-ja

#10843 Unify wording for structured clone
  files/ja/mozilla/add-ons/webextensions/api/tabs/executescript/index.md
  files/ja/mozilla/firefox/releases/53/index.md
  files/ja/web/api/broadcastchannel/postmessage/index.md
  files/ja/web/api/client/postmessage/index.md
  files/ja/web/api/dedicatedworkerglobalscope/postmessage/index.md
  files/ja/web/api/indexeddb_api/index.md
  files/ja/web/api/web_workers_api/using_web_workers/index.md
  files/ja/web/api/window/postmessage/index.md
  files/ja/web/api/worker/postmessage/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: l10n-ja

#10850 Translate IDBVersionChangeEvent
  files/ja/web/api/idbversionchangeevent/idbversionchangeevent/index.md
  files/ja/web/api/idbversionchangeevent/index.md
  files/ja/web/api/idbversionchangeevent/newversion/index.md
  files/ja/web/api/idbversionchangeevent/oldversion/index.md
Labels: l10n-ja

#10560 #issue10073 indice --> index
  files/fr/web/javascript/reference/global_objects/array/findindex/index.md
Labels: l10n-fr

#10884 fix: fix description error
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#10806 Replace deprecated createObjectURL() call
  files/fr/web/api/media_capture_and_streams_api/taking_still_photos/index.md
Labels: l10n-fr

#10830 Translate Glossary Fuzzing page in French
  files/fr/glossary/fuzzing/index.md
Labels: l10n-fr

#10833 Translate Glossary Network throttling page in French
  files/fr/glossary/network_throttling/index.md
Labels: l10n-fr

#10877 chore(ja): replace the last `@api/deki` reference
  files/ja/mozilla/firefox/releases/3.5/icc_color_correction_in_firefox/index.md
Labels: l10n-ja

#10875 chore(zh-tw): replace all `@api/deki` references
  files/zh-tw/web/css/transform-function/index.md
  files/zh-tw/web/html/element/input/index.md
  files/zh-tw/web/svg/tutorial/getting_started/index.md
  files/zh-tw/web/svg/tutorial/gradients/index.md
  files/zh-tw/web/svg/tutorial/introduction/index.md
Labels: l10n-zh

#10891 Update index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Labels: l10n-zh

#10882 Translate IDBCursorWithValue
  files/ja/web/api/idbcursorwithvalue/index.md
  files/ja/web/api/idbcursorwithvalue/value/index.md
Labels: l10n-ja

#10889 Translate IDBKeyRange
  files/ja/web/api/idbkeyrange/bound/index.md
  files/ja/web/api/idbkeyrange/includes/index.md
  files/ja/web/api/idbkeyrange/index.md
  files/ja/web/api/idbkeyrange/lower/index.md
  files/ja/web/api/idbkeyrange/lowerbound/index.md
  files/ja/web/api/idbkeyrange/loweropen/index.md
  files/ja/web/api/idbkeyrange/only/index.md
  files/ja/web/api/idbkeyrange/upper/index.md
  files/ja/web/api/idbkeyrange/upperbound/index.md
  files/ja/web/api/idbkeyrange/upperopen/index.md
Labels: l10n-ja

#10738 Translate Game async scripts page from EN to FR
  files/fr/games/techniques/async_scripts/index.md
Labels: l10n-fr

#10896 zh-cn(update): sync response header for the English
  files/zh-cn/glossary/response_header/index.md
Labels: l10n-zh

#10897 zh-cn(update): sync representation header for the English
  files/zh-cn/glossary/representation_header/index.md
Labels: l10n-zh

#10900 zh-cn(update): sync payload header for the English
  files/zh-cn/glossary/payload_header/index.md
Labels: l10n-zh

#10847 Translate LA JS Introducing workers page in French
  files/fr/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-fr

#10903 zh-CN: fix typo about #hash
  files/zh-cn/web/javascript/reference/iteration_protocols/index.md
Labels: l10n-zh

#10899 finish translation of Accessibility_troubleshooting
  files/zh-cn/learn/accessibility/accessibility_troubleshooting/index.md
Labels: l10n-zh

#10902 Translate page: WeakRef() constructor
  files/zh-cn/web/javascript/reference/global_objects/weakref/weakref/index.md
Labels: l10n-zh

#10907 chore(zh-cn): replace `@api/deki` references
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/using_images/index.md
  files/zh-cn/web/api/document_object_model/introduction/index.md
  files/zh-cn/web/api/document_object_model/using_the_w3c_dom_level_1_core/index.md
  files/zh-cn/web/api/navigator/registerprotocolhandler/web-based_protocol_handlers/index.md
  files/zh-cn/web/api/window/open/index.md
  files/zh-cn/web/css/@font-face/index.md
  files/zh-cn/web/css/_doublecolon_-moz-progress-bar/index.md
  files/zh-cn/web/svg/tutorial/introduction/index.md
Labels: l10n-zh

#10904 chore: add Sidebar to transferable objects
  files/zh-cn/web/api/web_workers_api/transferable_objects/index.md
Labels: l10n-zh

#10908 zh-CN: fix type about overview of http
  files/zh-cn/web/http/overview/index.md
Labels: l10n-zh

#10917 fix: link complaining to unwritten page
  files/zh-cn/web/http/connection_management_in_http_1.x/index.md
Labels: l10n-zh

#10924 fix: update syntax demo
  files/zh-cn/web/css/_colon_active/index.md
Labels: l10n-zh

#10898 update translation about async
  files/zh-cn/games/techniques/async_scripts/index.md
Labels: l10n-zh

#10918 fix: complaining to unwritten page links
  files/zh-cn/learn/accessibility/mobile/index.md
Labels: l10n-zh

#10919 zh-cn(update): sync http message for the English
  files/zh-cn/web/http/messages/index.md
Labels: l10n-zh

#10921 fix: accessibility->`无障碍`
  files/zh-cn/learn/accessibility/css_and_javascript/index.md
Labels: l10n-zh

#10920 fix: remove redundant english content and various minor fixes
  files/zh-cn/learn/accessibility/multimedia/index.md
Labels: l10n-zh

#10922 zh-cn(update): sync http session for the English
  files/zh-cn/web/http/session/index.md
Labels: l10n-zh

#10927 zh-cn(update): sync request header for the English
  files/zh-cn/glossary/request_header/index.md
Labels: l10n-zh

#10932 Update the wrong word
  files/zh-cn/web/api/performance/now/index.md
Labels: l10n-zh

#10821 JavaScript: AggregateError 수정 및 생성자 추가
  files/ko/web/javascript/reference/global_objects/aggregateerror/aggregateerror/index.md
  files/ko/web/javascript/reference/global_objects/aggregateerror/index.md
Labels: l10n-ko

#10365 :speech_balloon: [ko] translated CORSNotSupportingCredentials to Korean.
  files/ko/web/http/cors/errors/corsnotsupportingcredentials/index.md
Labels: l10n-ko

#10870 fix typo in contrast function
  files/ko/web/css/filter/index.md
Labels: l10n-ko

#10718 Update index.md (Typo)
  files/es/glossary/iife/index.md
Labels: l10n-es

#10771 Corregido el error #9924 [es]
  files/es/web/api/element/closest/index.md
Labels: l10n-es

#10796 Translation to spanish fixed. Update index.md
  files/es/web/css/index.md
Labels: l10n-es

#10936 chore(zh-cn): replace `@api/deki` references
  files/zh-cn/web/css/_colon_checked/index.md
  files/zh-cn/web/css/_colon_hover/index.md
  files/zh-cn/web/css/border-radius/index.md
  files/zh-cn/web/css/clip/index.md
  files/zh-cn/web/css/css_positioning/understanding_z_index/adding_z-index/index.md
  files/zh-cn/web/css/css_positioning/understanding_z_index/stacking_without_z-index/index.md
  files/zh-cn/web/css/element/index.md
  files/zh-cn/web/css/scaling_of_svg_backgrounds/index.md
Labels: l10n-zh

#10848 Translate IDBFactory.databases()
  files/ja/web/api/idbfactory/databases/index.md
Labels: l10n-ja

#10959 fix: 한글 해석본 오타 수정
  files/ko/learn/server-side/index.md
Labels: l10n-ko

#10945 Correction faute de frappe
  files/fr/web/api/element/wheel_event/index.md
Labels: l10n-fr

#10954 docs(zh-cn): sync input/email
  files/zh-cn/web/html/element/input/email/html-input-email1.gif
  files/zh-cn/web/html/element/input/email/index.md
Labels: l10n-zh

#10962 Error in end of sentence
  files/fr/learn/accessibility/multimedia/index.md
Labels: l10n-fr

#10960 docs(zh-cn): initial translation of attr/disabled
  files/zh-cn/web/html/attributes/disabled/index.md
Labels: l10n-zh

#10953 chore(zh-cn): replace `@api/deki` references
  files/zh-cn/web/css/syntax/index.md
  files/zh-cn/web/css/transform-function/index.md
  files/zh-cn/web/css/transform-function/rotate3d/index.md
  files/zh-cn/web/css/visual_formatting_model/index.md
  files/zh-cn/web/html/constraint_validation/index.md
  files/zh-cn/web/html/element/dl/index.md
  files/zh-cn/web/html/element/meter/index.md
  files/zh-cn/web/html/element/progress/index.md
  files/zh-cn/web/svg/tutorial/paths/index.md
Labels: l10n-zh

#10952 sync with english version for `mouseleave` event
  files/zh-cn/web/api/element/mouseleave_event/index.md
Labels: l10n-zh

#10172 Add a few terms to the glossary
  files/ko/glossary/operand/index.md
  files/ko/glossary/web_standards/index.md
  files/ko/glossary/webgl/index.md
  files/ko/glossary/webm/index.md
  files/ko/glossary/webp/index.md
Labels: l10n-ko

#10044 Add missing docs for console methods
  files/ko/web/api/console/dir/console-dir.png
  files/ko/web/api/console/dir/index.md
  files/ko/web/api/console/dirxml/index.md
  files/ko/web/api/console/table/index.md
  files/ko/web/api/console/timelog/index.md
  files/ko/web/api/console/timelog/timer_output.png
Labels: l10n-ko

#10665 JavaScript: Float32Array 신규 작성
  files/ko/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/ko/web/javascript/reference/global_objects/float32array/index.md
Labels: l10n-ko

#10934 feat: translate date/toutcstring in ko
  files/ko/web/javascript/reference/global_objects/date/toutcstring/index.md
Labels: l10n-ko

#10629 JavaScript: Uint16Array, UInt8Array 신규 작성
  files/ko/web/javascript/reference/global_objects/uint16array/index.md
  files/ko/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/ko/web/javascript/reference/global_objects/uint8array/index.md
  files/ko/web/javascript/reference/global_objects/uint8array/uint8array/index.md
Labels: l10n-ko

#10844 JavaScript: Set.prototype.keys() 신규
  files/ko/web/javascript/reference/global_objects/set/keys/index.md
Labels: l10n-ko

#10967 sync with english version for `IntersectionObserver`
  files/zh-cn/web/api/intersectionobserver/index.md
Labels: l10n-zh

#10977 cleaning broken markdown
  files/ko/learn/server-side/index.md
Labels: l10n-ko

#10978 update web server doc in ko
  files/ko/learn/common_questions/what_is_a_web_server/index.md
Labels: l10n-ko

#10975 zh-cn(update): sync http_header for the english
  files/zh-cn/web/http/headers/index.md
Labels: l10n-zh

#10672 JavaScript: Map 신규 작성
  files/ko/web/javascript/reference/global_objects/map/index.md
Labels: l10n-ko

#10957 add `attr` document ko
  files/ko/web/api/attr/index.md
Labels: l10n-ko

#10983 chore: fix livesample (Part 2)
  files/zh-cn/web/html/element/input/month/index.md
  files/zh-cn/web/html/element/input/password/index.md
  files/zh-cn/web/html/element/marquee/index.md
  files/zh-cn/web/html/element/menu/index.md
  files/zh-cn/web/html/element/menuitem/index.md
  files/zh-cn/web/html/element/ol/index.md
  files/zh-cn/web/html/element/optgroup/index.md
  files/zh-cn/web/html/element/pre/index.md
  files/zh-cn/web/html/element/select/index.md
  files/zh-cn/web/html/element/style/index.md
  files/zh-cn/web/html/element/textarea/index.md
  files/zh-cn/web/html/element/u/index.md
  files/zh-cn/web/html/inline_elements/index.md
  files/zh-cn/web/svg/attribute/color/index.md
  files/zh-cn/web/svg/attribute/in/index.md
  files/zh-cn/web/svg/attribute/transform/index.md
  files/zh-cn/web/svg/attribute/viewbox/index.md
  files/zh-cn/web/svg/element/animatemotion/index.md
  files/zh-cn/web/svg/element/feblend/index.md
  files/zh-cn/web/svg/element/fecolormatrix/index.md
  files/zh-cn/web/svg/element/fecomponenttransfer/index.md
  files/zh-cn/web/svg/element/fediffuselighting/index.md
  files/zh-cn/web/svg/element/fegaussianblur/index.md
  files/zh-cn/web/svg/element/filter/index.md
  files/zh-cn/web/svg/element/g/index.md
  files/zh-cn/web/svg/element/mpath/index.md
  files/zh-cn/web/svg/element/path/index.md
  files/zh-cn/web/svg/element/script/index.md
  files/zh-cn/web/svg/element/stop/index.md
  files/zh-cn/web/svg/element/style/index.md
  files/zh-cn/web/svg/element/symbol/index.md
  files/zh-cn/web/svg/element/textpath/index.md
  files/zh-cn/web/svg/tutorial/gradients/index.md
Labels: l10n-zh

#10982 zh-cn(update): sync http1.1 for english version
  files/zh-cn/web/http/connection_management_in_http_1.x/index.md
Labels: l10n-zh

#10973 sync with english version for writing a entry in glossary
  files/zh-cn/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
Labels: l10n-zh

#10655 JavaScript: Logical AND(&&) 연산자 신규 작성
  files/ko/web/javascript/reference/operators/logical_and/index.md
Labels: l10n-ko

#10851 Fix links in IDBDatabase
  files/ja/web/api/idbdatabase/index.md
Labels: l10n-ja

#10852 Fix links in IDBDatabase.createObjectStore
  files/ja/web/api/idbdatabase/createobjectstore/index.md
Labels: l10n-ja

#10855 Translate pages for IDBDatabase
  files/ja/web/api/idbdatabase/close_event/index.md
  files/ja/web/api/idbdatabase/deleteobjectstore/index.md
  files/ja/web/api/idbdatabase/transaction/index.md
  files/ja/web/api/idbdatabase/versionchange_event/index.md
Labels: l10n-ja

#10860 Translate EyeDropper API
  files/ja/web/api/eyedropper/eyedropper/index.md
  files/ja/web/api/eyedropper/index.md
  files/ja/web/api/eyedropper/open/index.md
  files/ja/web/api/eyedropper_api/index.md
Labels: l10n-ja

#10861 Translate WebOTP API
  files/ja/web/api/otpcredential/code/index.md
  files/ja/web/api/otpcredential/index.md
  files/ja/web/api/webotp_api/index.md
Labels: l10n-ja

#10865 #10810 の変更の後処置
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/origin/index.md
  files/ja/orphaned/web/xpath/axes/ancestor-or-self/index.md
  files/ja/orphaned/web/xpath/axes/ancestor/index.md
  files/ja/orphaned/web/xpath/axes/attribute/index.md
  files/ja/orphaned/web/xpath/axes/child/index.md
  files/ja/orphaned/web/xpath/axes/descendant-or-self/index.md
  files/ja/orphaned/web/xpath/axes/descendant/index.md
  files/ja/orphaned/web/xpath/axes/following-sibling/index.md
  files/ja/orphaned/web/xpath/axes/following/index.md
  files/ja/orphaned/web/xpath/axes/namespace/index.md
  files/ja/orphaned/web/xpath/axes/parent/index.md
  files/ja/orphaned/web/xpath/axes/preceding-sibling/index.md
  files/ja/orphaned/web/xpath/axes/preceding/index.md
  files/ja/orphaned/web/xpath/axes/self/index.md
Labels: l10n-ja

#10859 [ja] Update css/specificity
  files/ja/web/css/specificity/index.md
Labels: l10n-ja

#10867 移譲可能オブジェクトの記事を更新
  files/ja/web/api/web_workers_api/transferable_objects/index.md
Labels: l10n-ja

#10869 Fix a link in IDBCursor
  files/ja/web/api/idbcursor/index.md
Labels: l10n-ja

#10872 Improve MediaStream Image Capture API
  files/ja/web/api/mediastream_image_capture_api/index.md
Labels: l10n-ja

#10881 SharedArrayBuffer の記事を更新
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/@@species/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/bytelength/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/ja/web/javascript/reference/global_objects/sharedarraybuffer/slice/index.md
Labels: l10n-ja

#10885 Translate IDBLocaleAwareKeyRange
  files/ja/web/api/idblocaleawarekeyrange/index.md
Labels: l10n-ja

#10886 Function.prototype.bind() を更新
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
Labels: l10n-ja

#10887 Origin ヘッダーの記事を更新
  files/ja/web/http/headers/origin/index.md
Labels: l10n-ja

#10888 「リンク種別: preload」の記事の更新
  files/ja/web/html/link_types/preload/index.md
Labels: l10n-ja

#10894 IndexedDB API: Make a mention to a parameter of createIndex() clearer
  files/ja/web/api/indexeddb_api/index.md
Labels: l10n-ja

#10905 ja/web/html/element/summary/index.md の誤字を修正
  files/ja/web/html/element/summary/index.md
Labels: l10n-ja

#11004 adjust file suffix from 'mjs' to 'js'
  files/zh-cn/web/javascript/guide/modules/index.md
Labels: l10n-zh

#10834 chore(pt-BR): remove {{ServiceWorkerSidebar}} macros
  files/pt-br/web/api/service_worker_api/index.md
  files/pt-br/web/api/service_worker_api/using_service_workers/index.md
Labels: l10n-pt-br

#10828 Update translated (PT-BR) dispatchevent documentation
  files/pt-br/web/api/eventtarget/dispatchevent/index.md
Labels: l10n-pt-br

#10822 fix(pt-BR): Code block syntax, macros and links
  files/pt-br/conflicting/web/javascript/reference/index.md
  files/pt-br/web/javascript/javascript_technologies_overview/index.md
  files/pt-br/web/javascript/reference/global_objects/index.md
  files/pt-br/web/javascript/reference/iteration_protocols/index.md
  files/pt-br/web/javascript/reference/lexical_grammar/index.md
  files/pt-br/web/javascript/reference/strict_mode/index.md
  files/pt-br/web/javascript/reference/template_literals/index.md
  files/pt-br/web/javascript/reference/trailing_commas/index.md
Labels: l10n-pt-br

#10298 chore: adds translation for files/pt-br/web/api/htmlinputelement
  files/pt-br/web/api/htmlinputelement/index.md
Labels: l10n-pt-br

#10757 chore(pt-br): remove {{ObsoleteGeneric}} macros
  files/pt-br/web/html/element/br/index.md
  files/pt-br/web/html/element/hr/index.md
  files/pt-br/web/html/element/html/index.md
  files/pt-br/web/html/element/img/index.md
  files/pt-br/web/html/element/input/index.md
Labels: l10n-pt-br

#10876 fix: Upgrade Markdownlint-CLI2 and address issues
  files/es/learn/forms/test_your_skills_colon__html5_controls/index.md
  files/es/learn/html/introduction_to_html/test_your_skills_colon__advanced_html_text/index.md
  files/es/learn/server-side/django/forms/index.md
  files/es/learn/server-side/django/sessions/index.md
  files/es/web/css/index.md
  files/es/web/html/microdata/index.md
  files/fr/glossary/class/index.md
  files/fr/learn/css/building_blocks/selectors/combinators/index.md
  files/fr/web/css/touch-action/index.md
  files/ja/games/techniques/3d_on_the_web/webvr/index.md
  files/ja/glossary/imap/index.md
  files/ja/mdn/community/pull_requests/index.md
  files/ja/web/api/canvasrenderingcontext2d/font/index.md
  files/ja/web/javascript/reference/statements/debugger/index.md
  files/ko/glossary/api/index.md
  files/ko/learn/css/building_blocks/debugging_css/index.md
  files/ko/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/ko/learn/server-side/django/forms/index.md
  files/ko/learn/server-side/express_nodejs/introduction/index.md
  files/pt-br/web/html/element/span/index.md
  files/ru/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/server-side/django/forms/index.md
  files/zh-tw/learn/getting_started_with_the_web/installing_basic_software/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/zh-tw/learn/server-side/django/forms/index.md
  package.json
  yarn.lock
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#10993 delete original description of preventExtensions of english in chinese
  files/zh-cn/web/javascript/reference/global_objects/reflect/comparing_reflect_and_object_methods/index.md
Labels: l10n-zh

#11007 zh-cn(translate): site
  files/zh-cn/glossary/site/index.md
Labels: l10n-zh

#11009 update the code example from english document
  files/zh-cn/web/javascript/reference/global_objects/symbol/matchall/index.md
Labels: l10n-zh

#11014 fix formatting errors
  files/zh-cn/web/api/messagechannel/index.md
Labels: l10n-zh

#11012 docs(zh-cn): update input/password with fully translated content
  files/zh-cn/web/html/element/input/password/index.md
Labels: l10n-zh

#11017 fix(zh-cn): translation error in typed_array
  files/zh-cn/web/javascript/typed_arrays/index.md
Labels: l10n-zh

#10929 Delete link to Node.setUserdata（赤リンク削除）
  files/ja/learn/html/howto/use_data_attributes/index.md
Labels: l10n-ja

#11000 fix(ja): fix typo in Element.previousElementSibling
  files/ja/web/api/element/previouselementsibling/index.md
Labels: l10n-ja

#10801 Updated Cache-Control documentation page
  files/es/web/http/headers/cache-control/index.md
Labels: documentation, l10n-es

#11005 Create games/anatomy section
  files/es/games/anatomy/index.md
Labels: documentation, l10n-es

#11021 chore: fix livesample (Part 3)
  files/zh-cn/web/api/canvasrenderingcontext2d/arc/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/arcto/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/beginpath/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/clearrect/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/clip/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/closepath/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createlineargradient/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createpattern/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/createradialgradient/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/direction/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/drawfocusifneeded/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/ellipse/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/fill/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/fillrect/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/fillstyle/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/filltext/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/filter/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/font/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/getlinedash/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/gettransform/index.md
Labels: l10n-zh

#11020 docs(zh-cn): sync column-rule with EN content
  files/zh-cn/web/css/column-rule/index.md
Labels: l10n-zh

#11032 feat(zh-cn/embedding): change some examples to more feasible one
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: l10n-zh

#11030 zh-cn(update): fix some typo for cors and cookie
  files/zh-cn/web/http/cookies/index.md
  files/zh-cn/web/http/cors/index.md
Labels: l10n-zh

#11019 add translation of Owner and teams
  files/zh-cn/mdn/community/users_teams/index.md
Labels: l10n-zh

#10974 [ko] 번역 가이드 개정
  docs/ko/README.md
  docs/ko/faq.md
  docs/ko/guides/etc-guide.md
  docs/ko/guides/glossary-guide.md
  docs/ko/guides/macro-guide.md
  docs/ko/guides/markdown-conversion-guide.md
  docs/ko/guides/organizer-guide.md
  docs/ko/guides/translation-guide.md
  docs/ko/translation-guide.md
Labels: l10n-ko

#10871 Translate Screen Orientation API
  files/ja/web/api/screen_orientation_api/index.md
  files/ja/web/api/screenorientation/angle/index.md
  files/ja/web/api/screenorientation/index.md
  files/ja/web/api/screenorientation/lock/index.md
  files/ja/web/api/screenorientation/type/index.md
  files/ja/web/api/screenorientation/unlock/index.md
Labels: l10n-ja

#10923 Fix typo in example URL for 'appearence-tester'
  files/fr/learn/forms/advanced_form_styling/index.md
  files/ja/learn/forms/advanced_form_styling/index.md
Labels: l10n-ja, l10n-fr

#11033 add zh-cn translation of `Crypto.randomUUID()`
  files/zh-cn/web/api/crypto/randomuuid/index.md
Labels: l10n-zh

#11044 [zh-tw] complete the left bar of content_categories/index.md
  files/zh-tw/web/html/content_categories/index.md
Labels: l10n-zh

#11045 Update index.md to fix a spelling mistake
  files/zh-cn/web/javascript/reference/global_objects/string/indexof/index.md
Labels: l10n-zh

#11048 zh-cn(update): sync type_conversion for english
  files/zh-cn/glossary/type_conversion/index.md
Labels: l10n-zh

#10991 zh-cn(update): sync protocol upgrade mechanism
  files/zh-cn/web/http/protocol_upgrade_mechanism/index.md
Labels: l10n-zh

#11051 fix typo in zh-CN
  files/zh-cn/web/http/headers/set-cookie/index.md
Labels: l10n-zh

#11049 zh-cn(translate): glossary Inmmutable
  files/zh-cn/glossary/immutable/index.md
Labels: l10n-zh

#11056 refactor: re-layout h1~h3 tags
  docs/ko/faq.md
  docs/ko/guides/etc-guide.md
  docs/ko/guides/glossary-guide.md
  docs/ko/guides/macro-guide.md
  docs/ko/guides/markdown-conversion-guide.md
  docs/ko/guides/translation-guide.md
Labels: l10n-ko

#11031 fix: add FDQN and DL markdownlint rules
  .markdownlint-cli2.jsonc
  PEERS_GUIDELINES.md
  README.md
  docs/es/README.md
  docs/ko/README.md
  docs/ko/faq.md
  docs/ko/guides/etc-guide.md
  docs/ko/guides/glossary-guide.md
  docs/ko/guides/macro-guide.md
  docs/ko/guides/markdown-conversion-guide.md
  docs/ko/guides/organizer-guide.md
  docs/ko/guides/translation-guide.md
  docs/ru/translation-guide.md
  docs/zh-cn/translation-guide.md
  files/es/web/html/attributes/crossorigin/index.md
  files/ko/glossary/mvc/index.md
  files/ko/web/javascript/guide/functions/index.md
Labels: l10n-zh, l10n-es, l10n-ru, l10n-ko

#11053 zh-cn(upate): sync numebr for english
  files/zh-cn/web/javascript/reference/global_objects/number/index.md
Labels: l10n-zh

#11034 Update index.md
  files/ja/web/javascript/guide/regular_expressions/assertions/index.md
Labels: l10n-ja

#11047 sync with english version for `SubtleCrypto` interface
  files/zh-cn/web/api/subtlecrypto/index.md
Labels: l10n-zh
