Repository mdn/translated-content, pull requests merged in 2023-06, with the labels that each got.

#13439 Learn/HTML/Multimedia_and_embedding/Responsive_images を更新
  files/ja/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-ja

#13438 Web/CSS 直下を更新
  files/ja/web/css/index.md
Labels: l10n-ja

#13447 Web/API/HTMLAreaElement 以下を更新
  files/ja/web/api/htmlareaelement/hash/index.md
  files/ja/web/api/htmlareaelement/host/index.md
  files/ja/web/api/htmlareaelement/hostname/index.md
  files/ja/web/api/htmlareaelement/href/index.md
  files/ja/web/api/htmlareaelement/index.md
  files/ja/web/api/htmlareaelement/origin/index.md
  files/ja/web/api/htmlareaelement/password/index.md
  files/ja/web/api/htmlareaelement/pathname/index.md
  files/ja/web/api/htmlareaelement/port/index.md
  files/ja/web/api/htmlareaelement/protocol/index.md
  files/ja/web/api/htmlareaelement/referrerpolicy/index.md
  files/ja/web/api/htmlareaelement/rel/index.md
  files/ja/web/api/htmlareaelement/rellist/index.md
  files/ja/web/api/htmlareaelement/search/index.md
  files/ja/web/api/htmlareaelement/tostring/index.md
  files/ja/web/api/htmlareaelement/username/index.md
Labels: l10n-ja

#13448 Web/API/HTMLAnchorElement 以下を更新
  files/ja/web/api/htmlanchorelement/download/index.md
  files/ja/web/api/htmlanchorelement/hash/index.md
  files/ja/web/api/htmlanchorelement/host/index.md
  files/ja/web/api/htmlanchorelement/hostname/index.md
  files/ja/web/api/htmlanchorelement/href/index.md
  files/ja/web/api/htmlanchorelement/index.md
  files/ja/web/api/htmlanchorelement/origin/index.md
  files/ja/web/api/htmlanchorelement/password/index.md
  files/ja/web/api/htmlanchorelement/pathname/index.md
  files/ja/web/api/htmlanchorelement/port/index.md
  files/ja/web/api/htmlanchorelement/protocol/index.md
  files/ja/web/api/htmlanchorelement/referrerpolicy/index.md
  files/ja/web/api/htmlanchorelement/rel/index.md
  files/ja/web/api/htmlanchorelement/rellist/index.md
  files/ja/web/api/htmlanchorelement/search/index.md
  files/ja/web/api/htmlanchorelement/tostring/index.md
  files/ja/web/api/htmlanchorelement/username/index.md
Labels: l10n-ja

#13451 Web/Media/HTML_media を新規翻訳
  files/ja/web/media/html_media/index.md
Labels: l10n-ja

#13452 Web/API/HTMLBRElement の記事を更新
  files/ja/web/api/htmlbrelement/index.md
Labels: l10n-ja

#13453 Web/API/HTMLBodyElement を更新
  files/ja/web/api/htmlbodyelement/index.md
Labels: l10n-ja

#13458 Web/CSS/:target を更新
  files/ja/web/css/_colon_target/index.md
Labels: l10n-ja

#13523 fix typo: `reduceRighte` -> `reduceRight`
  files/zh-cn/web/javascript/reference/global_objects/array/reduceright/index.md
Labels: l10n-zh

#13515 [zh-cn] update 'Traversing an HTML table with JavaScript and DOM Interfaces'
  files/zh-cn/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
Labels: l10n-zh

#13525 [zh-cn]: fix typo
  files/zh-cn/web/svg/tutorial/introduction/index.md
Labels: l10n-zh

#13509 [zh-cn]: Update translation of Object.__proto__
  files/zh-cn/web/javascript/reference/global_objects/object/proto/index.md
Labels: l10n-zh

#13373 chore(zh-tw): run prettier format on web/api/[f-o]*
  .prettierignore
  files/zh-tw/web/api/fetch_api/using_fetch/index.md
  files/zh-tw/web/api/file/name/index.md
  files/zh-tw/web/api/file_and_directory_entries_api/index.md
  files/zh-tw/web/api/file_api/using_files_from_web_applications/index.md
  files/zh-tw/web/api/filelist/index.md
  files/zh-tw/web/api/filereader/index.md
  files/zh-tw/web/api/formdata/using_formdata_objects/index.md
  files/zh-tw/web/api/fullscreen_api/index.md
  files/zh-tw/web/api/geolocation/clearwatch/index.md
  files/zh-tw/web/api/geolocation/getcurrentposition/index.md
  files/zh-tw/web/api/geolocation/watchposition/index.md
  files/zh-tw/web/api/geolocation_api/index.md
  files/zh-tw/web/api/geolocationpositionerror/code/index.md
  files/zh-tw/web/api/geolocationpositionerror/index.md
  files/zh-tw/web/api/history/index.md
  files/zh-tw/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/zh-tw/web/api/html_drag_and_drop_api/index.md
  files/zh-tw/web/api/htmlcanvaselement/todataurl/index.md
  files/zh-tw/web/api/htmlformelement/index.md
  files/zh-tw/web/api/htmlformelement/submit_event/index.md
  files/zh-tw/web/api/htmlimageelement/index.md
  files/zh-tw/web/api/htmlinputelement/index.md
  files/zh-tw/web/api/htmlmediaelement/abort_event/index.md
  files/zh-tw/web/api/htmlmediaelement/index.md
  files/zh-tw/web/api/htmlmediaelement/ratechange_event/index.md
  files/zh-tw/web/api/htmlmediaelement/readystate/index.md
  files/zh-tw/web/api/htmlselectelement/index.md
  files/zh-tw/web/api/idbdatabase/index.md
  files/zh-tw/web/api/indexeddb_api/using_indexeddb/index.md
  files/zh-tw/web/api/keyboardevent/index.md
  files/zh-tw/web/api/keyboardevent/keyboardevent/index.md
  files/zh-tw/web/api/mediadevices/enumeratedevices/index.md
  files/zh-tw/web/api/mediadevices/index.md
  files/zh-tw/web/api/mediaquerylist/index.md
  files/zh-tw/web/api/mediasource/duration/index.md
  files/zh-tw/web/api/mediasource/index.md
  files/zh-tw/web/api/mediasource/readystate/index.md
  files/zh-tw/web/api/messageevent/index.md
  files/zh-tw/web/api/mouseevent/index.md
  files/zh-tw/web/api/mutationobserver/index.md
  files/zh-tw/web/api/navigator/language/index.md
  files/zh-tw/web/api/navigator/registerprotocolhandler/index.md
  files/zh-tw/web/api/network_information_api/index.md
  files/zh-tw/web/api/node/childnodes/index.md
  files/zh-tw/web/api/node/index.md
  files/zh-tw/web/api/node/insertbefore/index.md
  files/zh-tw/web/api/node/nodename/index.md
  files/zh-tw/web/api/node/nodetype/index.md
  files/zh-tw/web/api/node/removechild/index.md
  files/zh-tw/web/api/node/textcontent/index.md
  files/zh-tw/web/api/nodelist/index.md
  files/zh-tw/web/api/notification/index.md
  files/zh-tw/web/api/notifications_api/index.md
  files/zh-tw/web/api/notifications_api/using_the_notifications_api/index.md
Labels: l10n-zh

#13464 Web/API/Document_Object_Model の記事を更新
  files/ja/web/api/document_object_model/index.md
Labels: l10n-ja

#13537 [zh-cn]: Update translation of Object.isSealed()
  files/zh-cn/web/javascript/reference/global_objects/object/issealed/index.md
Labels: l10n-zh

#13536 [zh-cn]: Update translation of Object.getPrototypeOf()
  files/zh-cn/web/javascript/reference/global_objects/object/getprototypeof/index.md
Labels: l10n-zh

#13535 [zh-cn]: Update translation of Object.getOwnPropertySymbols()
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
Labels: l10n-zh

#13538 [zh-cn]: Update translation in 'svg/tutorial/getting_started'
  files/zh-cn/web/svg/tutorial/getting_started/index.md
Labels: l10n-zh

#13542 fix: correct the wrong translation
  files/zh-cn/web/api/datatransferitem/webkitgetasentry/index.md
Labels: l10n-zh

#13541 [zh-cn]: Update translation of Object.__defineGetter__()
  files/zh-cn/web/javascript/reference/global_objects/object/__definegetter__/index.md
Labels: l10n-zh

#13526 [zh-cn]: Update translation of Object.setPrototypeof()
  files/zh-cn/web/javascript/reference/global_objects/object/setprototypeof/index.md
Labels: l10n-zh

#13543 chore(zh): remove links in headings
  files/zh-cn/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/zh-cn/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/zh-cn/web/xslt/transforming_xml_with_xslt/index.md
  files/zh-tw/learn/getting_started_with_the_web/index.md
  files/zh-tw/web/accessibility/aria/aria_techniques/index.md
  files/zh-tw/web/api/touchevent/index.md
  files/zh-tw/web/css/reference/index.md
Labels: l10n-zh

#13545 Update(zh-CN): remove unnecessary "glossary"
  files/zh-cn/web/api/html_dom_api/microtask_guide/in_depth/index.md
Labels: l10n-zh

#13551 [zh-cn]: Update translation of Object.__defineSetter__()
  files/zh-cn/web/javascript/reference/global_objects/object/__definesetter__/index.md
Labels: l10n-zh

#13494 [zh-CN] sync Notification.data with en-US
  files/zh-cn/web/api/notification/data/index.md
Labels: l10n-zh

#13497 [zh-CN] sync Notification.image with en-US
  files/zh-cn/web/api/notification/image/index.md
Labels: l10n-zh

#13496 [zh-CN] sync Notification.icon with en-US
  files/zh-cn/web/api/notification/icon/index.md
Labels: l10n-zh

#13495 [zh-CN] sync Notification.dir with en-US
  files/zh-cn/web/api/notification/dir/index.md
Labels: l10n-zh

#13504 Web/API/HTMLDivElement を更新
  files/ja/web/api/htmldivelement/index.md
Labels: l10n-ja

#13507 export の「構文」の項目中のコードスニペットでjavascriptを有効に
  files/ja/web/javascript/reference/statements/export/index.md
Labels: l10n-ja

#13574 Fix duplicate description for NamedNodeMap
  files/pt-br/web/api/document_object_model/introduction/index.md
Labels: l10n-pt-br

#13576 fix(zh-cn): Modify "文本对象模型" to "文档对象模型"
  files/zh-cn/web/performance/critical_rendering_path/index.md
Labels: l10n-zh

#13577 chore(zh): remove bold style in headings
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.md
  files/zh-cn/glossary/card_sorting/index.md
  files/zh-cn/glossary/doctype/index.md
  files/zh-cn/glossary/information_architecture/index.md
  files/zh-cn/glossary/pdf/index.md
  files/zh-cn/glossary/server/index.md
  files/zh-cn/glossary/tcp/index.md
  files/zh-cn/glossary/url/index.md
  files/zh-cn/learn/accessibility/wai-aria_basics/index.md
  files/zh-cn/learn/css/building_blocks/the_box_model/index.md
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/server-side/django/deployment/index.md
  files/zh-cn/learn/tools_and_testing/github/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/zh-cn/web/api/animation/finish/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-cn/web/api/navigator/buildid/index.md
  files/zh-cn/web/api/navigator/share/index.md
  files/zh-cn/web/api/range/endcontainer/index.md
  files/zh-cn/web/api/url/port/index.md
  files/zh-cn/web/api/vibration_api/index.md
  files/zh-cn/web/api/webgl2renderingcontext/createvertexarray/index.md
  files/zh-cn/web/api/window/postmessage/index.md
  files/zh-cn/web/javascript/closures/index.md
  files/zh-cn/web/javascript/guide/control_flow_and_error_handling/index.md
  files/zh-cn/web/javascript/guide/loops_and_iteration/index.md
  files/zh-cn/web/javascript/guide/working_with_objects/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/race/index.md
  files/zh-cn/web/javascript/reference/global_objects/reflect/construct/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/bold/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/substring/index.md
  files/zh-cn/web/performance/rum-vs-synthetic/index.md
  files/zh-cn/web/svg/content_type/index.md
  files/zh-tw/glossary/domain_name/index.md
  files/zh-tw/glossary/url/index.md
  files/zh-tw/learn/accessibility/wai-aria_basics/index.md
  files/zh-tw/learn/getting_started_with_the_web/html_basics/index.md
  files/zh-tw/learn/javascript/howto/index.md
  files/zh-tw/web/css/transition/index.md
  files/zh-tw/web/javascript/guide/control_flow_and_error_handling/index.md
  files/zh-tw/web/javascript/guide/loops_and_iteration/index.md
Labels: l10n-zh

#13578 Update index.md
  files/zh-cn/web/api/window/postmessage/index.md
Labels: l10n-zh

#13579 [zh-cn]: Update translation of Object.__lookupGetter__()
  files/zh-cn/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
Labels: l10n-zh

#13524 [zh-cn]: Update translation of Event
  files/zh-cn/web/api/event/index.md
Labels: l10n-zh

#13583 [zh-cn]: Update translation of Object.__lookupSetter__()
  files/zh-cn/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
Labels: l10n-zh

#13432 zh-CN: sync with the `:host` section
  files/zh-cn/web/css/_colon_host/index.md
Labels: l10n-zh

#13557 [zh-cn]: update using web workers links and sample code
  files/zh-cn/web/api/web_workers_api/using_web_workers/index.md
Labels: l10n-zh

#13584 sync examples and fix broken links in BCD guide
  files/zh-cn/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/index.md
Labels: l10n-zh

#13586 [zh-cn]: Update translation of Object.getOwnPropertyDescriptors()
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.md
Labels: l10n-zh

#13435 zh-CN: sync the translated content of section `:host-context()`
  files/zh-cn/web/css/_colon_host-context/index.md
Labels: l10n-zh

#13544 Update index.md
  files/zh-cn/learn/javascript/building_blocks/events/index.md
Labels: l10n-zh

#13587 [zh-cn]: Update translation of Object.getOwnPropertyDescriptor()
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
Labels: l10n-zh

#13550 fix(zh-tw): remove some unrendered macros
  files/zh-tw/learn/css/first_steps/what_is_css/index.md
  files/zh-tw/web/api/fetch_api/using_fetch/index.md
  files/zh-tw/web/css/css_animations/index.md
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/events/creating_and_triggering_events/index.md
  files/zh-tw/web/events/event_handlers/index.md
  files/zh-tw/web/http/headers/x-forwarded-for/index.md
  files/zh-tw/web/javascript/guide/typed_arrays/index.md
Labels: l10n-zh

#13585 [zh-CN] sync isSecureContext global property
  files/zh-cn/web/api/issecurecontext/index.md
Labels: l10n-zh

#13442 [ja] 画面リーダーという文言をスクリーンリーダーに変更
  files/ja/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-ja

#13262 `fr` - Initial translation for `popover`, `inert`, `virtualkeyboardpolicy` global attributes
  files/fr/web/html/global_attributes/inert/index.md
  files/fr/web/html/global_attributes/popover/index.md
  files/fr/web/html/global_attributes/virtualkeyboardpolicy/index.md
Labels: l10n-fr

#13290 `fr` - CSS - Initial translation for `view-transition-name`
  files/fr/web/css/view-transition-name/index.md
Labels: l10n-fr

#13292 `fr` - JavaScript - Initial translation for `import.meta.resolve()`
  files/fr/web/javascript/reference/operators/import.meta/resolve/index.md
Labels: l10n-fr

#13516 [zh-CN] initial Notification.lang with en-US
  files/zh-cn/web/api/notification/lang/index.md
Labels: l10n-zh

#13570 [zh-CN] sync Notification.requireInteraction with en-US
  files/zh-cn/web/api/notification/requireinteraction/index.md
Labels: l10n-zh

#13598 Update index.md, sync date time code sample from en-US version
  files/zh-cn/web/javascript/guide/text_formatting/index.md
Labels: l10n-zh

#13575 sync with english version for "Attrib copyright license"
  files/zh-cn/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: l10n-zh

#13568 chore(zh-tw): run prettier format on web/js/[c-m]*
  .prettierignore
  files/zh-tw/web/javascript/closures/index.md
  files/zh-tw/web/javascript/data_structures/index.md
  files/zh-tw/web/javascript/enumerability_and_ownership_of_properties/index.md
  files/zh-tw/web/javascript/equality_comparisons_and_sameness/index.md
  files/zh-tw/web/javascript/event_loop/index.md
  files/zh-tw/web/javascript/guide/control_flow_and_error_handling/index.md
  files/zh-tw/web/javascript/guide/expressions_and_operators/index.md
  files/zh-tw/web/javascript/guide/functions/index.md
  files/zh-tw/web/javascript/guide/grammar_and_types/index.md
  files/zh-tw/web/javascript/guide/indexed_collections/index.md
  files/zh-tw/web/javascript/guide/iterators_and_generators/index.md
  files/zh-tw/web/javascript/guide/keyed_collections/index.md
  files/zh-tw/web/javascript/guide/loops_and_iteration/index.md
  files/zh-tw/web/javascript/guide/numbers_and_dates/index.md
  files/zh-tw/web/javascript/guide/regular_expressions/index.md
  files/zh-tw/web/javascript/guide/typed_arrays/index.md
  files/zh-tw/web/javascript/guide/using_promises/index.md
  files/zh-tw/web/javascript/guide/working_with_objects/index.md
  files/zh-tw/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/zh-tw/web/javascript/language_overview/index.md
  files/zh-tw/web/javascript/memory_management/index.md
Labels: l10n-zh

#13588 update the translation of `Object.valueOf()`
  files/zh-cn/web/javascript/reference/global_objects/object/valueof/index.md
Labels: l10n-zh

#13595 [zh-cn]: Update translation of Object.getOwnPropertyNames()
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertynames/index.md
Labels: l10n-zh

#13599 Fix broken links
  files/ja/web/css/display/multi-keyword_syntax_of_display/index.md
Labels: l10n-ja

#13554 Web/API/HTMLEmbedElement を更新
  files/ja/web/api/htmlembedelement/index.md
Labels: l10n-ja

#13555 Web/API/HTMLFieldSetElement を更新
  files/ja/web/api/htmlfieldsetelement/index.md
Labels: l10n-ja

#13560 Translate CanvasRenderingContext2D.imageSmoothingQuality
  files/ja/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
Labels: l10n-ja

#13567 Web/API/ErrorEvent を更新
  files/ja/web/api/errorevent/index.md
Labels: l10n-ja

#13566 Web/API/BeforeUnloadEvent を更新
  files/ja/web/api/beforeunloadevent/index.md
Labels: l10n-ja

#13565 Improve translation of CanvasRenderingContext2D Pixel manipulation methods
  files/ja/web/api/canvasrenderingcontext2d/index.md
Labels: l10n-ja

#13596 [zh-cn]: Update translation of Object.propertyIsEnumerable()
  files/zh-cn/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
Labels: l10n-zh

#13606 [zh-cn] Update String.prototype.split()
  files/zh-cn/web/javascript/reference/global_objects/string/split/index.md
Labels: l10n-zh

#13622 Update index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findindex/index.md
Labels: l10n-zh

#13591 [zh-cn] Update PWA landing page
  files/zh-cn/web/progressive_web_apps/index.md
Labels: l10n-zh

#13623 fix(zh-cn): deal with macro render problems
  files/zh-cn/web/api/fetch_api/using_fetch/index.md
  files/zh-cn/web/api/performance_api/navigation_timing/index.md
  files/zh-cn/web/api/web_animations_api/keyframe_formats/index.md
  files/zh-cn/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/zh-cn/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-cn/web/css/css_colors/index.md
  files/zh-cn/web/css/css_functions/index.md
  files/zh-cn/web/css/css_generated_content/index.md
  files/zh-cn/web/css/css_media_queries/index.md
  files/zh-cn/web/css/mask-border-mode/index.md
  files/zh-cn/web/css/using_css_custom_properties/index.md
  files/zh-cn/web/exslt/regexp/index.md
  files/zh-cn/web/html/element/menuitem/index.md
  files/zh-cn/web/http/headers/accept-charset/index.md
  files/zh-cn/web/http/headers/accept-patch/index.md
  files/zh-cn/web/http/status/402/index.md
  files/zh-cn/web/svg/attribute/max/index.md
Labels: l10n-zh

#13611 Forgotten paragraph in english
  files/fr/web/api/websockets_api/writing_a_websocket_server_in_java/index.md
Labels: l10n-fr

#13546 Fix #13365
  files/fr/learn/css/building_blocks/box_model_tasks/index.md
Labels: l10n-fr

#13548 Fix #13532, #13539, #13573, #13547
  files/fr/web/css/overflow-block/index.md
  files/fr/web/css/overflow-inline/index.md
  files/fr/web/css/overflow-x/index.md
  files/fr/web/css/overflow-y/index.md
Labels: l10n-fr

#13626 fix(zh-cn): fix sidebar for streams-api
  files/zh-cn/web/api/streams_api/concepts/index.md
  files/zh-cn/web/api/streams_api/using_readable_streams/index.md
Labels: l10n-zh

#13060 [ko] JavaScript: Symbol 메서드 2개 추가
  files/ko/web/javascript/reference/global_objects/symbol/hasinstance/index.md
  files/ko/web/javascript/reference/global_objects/symbol/isconcatspreadable/index.md
Labels: l10n-ko

#13624 [ja] fix typo: s/危機/機器/
  files/ja/web/api/mediadeviceinfo/index.md
Labels: l10n-ja

#13635 fix: typo
  files/fr/web/css/clamp/index.md
Labels: l10n-fr

#13641 Update 'what is a web server'
  files/zh-cn/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
Labels: l10n-zh

#13643 [zh-cn]: fix broken links
  files/zh-cn/learn/css/building_blocks/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/index.md
Labels: l10n-zh

#13609 [zh-cn]: Translate attribute popover page
  files/zh-cn/web/html/global_attributes/popover/index.md
Labels: l10n-zh

#13331 [ja] Resize Observer API
  files/ja/web/api/resize_observer_api/index.md
Labels: l10n-ja

#13559 Translate CanvasRenderingContext2D.drawImage()
  files/ja/web/api/canvasrenderingcontext2d/drawimage/index.md
Labels: l10n-ja

#13600 例示の直前のコロンを読点(。)にする
  files/ja/webassembly/c_to_wasm/index.md
Labels: l10n-ja

#13649 英語版Wikipediaへのリンクを日本語版に
  files/ja/web/http/headers/vary/index.md
Labels: l10n-ja

#13628 fix: Improve translated text
  files/zh-cn/web/http/overview/index.md
Labels: l10n-zh

#13636 [ko] translate scrollIntoView
  files/ko/web/api/element/scrollintoview/index.md
Labels: l10n-ko

#13620 fr: Removes HTMLAttrDef macros
  files/fr/web/html/element/head/index.md
  files/fr/web/html/element/hr/index.md
  files/fr/web/html/element/html/index.md
  files/fr/web/html/element/input/checkbox/index.md
  files/fr/web/html/element/input/file/index.md
  files/fr/web/html/element/input/hidden/index.md
  files/fr/web/html/element/input/radio/index.md
  files/fr/web/html/element/input/submit/index.md
  files/fr/web/html/element/ins/index.md
  files/fr/web/html/element/label/index.md
  files/fr/web/html/element/li/index.md
  files/fr/web/html/element/link/index.md
  files/fr/web/html/element/map/index.md
  files/fr/web/html/element/marquee/index.md
  files/fr/web/html/element/menuitem/index.md
  files/fr/web/html/element/meta/index.md
  files/fr/web/html/element/meter/index.md
  files/fr/web/html/element/optgroup/index.md
  files/fr/web/html/element/option/index.md
  files/fr/web/html/element/output/index.md
  files/fr/web/html/element/param/index.md
  files/fr/web/html/element/progress/index.md
  files/fr/web/html/element/q/index.md
  files/fr/web/html/element/script/index.md
  files/fr/web/html/element/select/index.md
  files/fr/web/html/element/slot/index.md
  files/fr/web/html/element/source/index.md
  files/fr/web/html/element/style/index.md
  files/fr/web/html/element/table/index.md
  files/fr/web/html/element/tbody/index.md
  files/fr/web/html/element/textarea/index.md
  files/fr/web/html/element/time/index.md
  files/fr/web/html/element/ul/index.md
  files/fr/web/html/element/video/index.md
  files/fr/web/html/global_attributes/index.md
Labels: l10n-fr

#13582 [ko] JavaScript: Symbol.split 추가
  files/ko/web/javascript/reference/global_objects/symbol/split/index.md
Labels: l10n-ko

#13651 Firefox 113 for developersを更新
  files/ja/mozilla/firefox/releases/113/index.md
Labels: l10n-ja

#13659 zh-CN: init `:-moz-broken` translate
  files/zh-cn/web/css/_colon_-moz-broken/index.md
Labels: l10n-zh

#13661 zh-CN: init `:-moz-first-node` translate
  files/zh-cn/web/css/_colon_-moz-first-node/index.md
Labels: l10n-zh

#13666 Fix/link to css gradients
  files/zh-cn/web/css/gradient/repeating-linear-gradient/index.md
Labels: l10n-zh

#13660 zh-CN: init `:-moz-drag-over` translate
  files/zh-cn/web/css/_colon_-moz-drag-over/index.md
Labels: l10n-zh

#13670 [zh-cn] update 'css performance optimization'
  files/zh-cn/learn/performance/css/index.md
Labels: l10n-zh

#13655 sync with english version for Quicklinks
  files/zh-cn/mdn/writing_guidelines/page_structures/quicklinks/index.md
Labels: l10n-zh

#13678 fix(zh-cn): correct the markdown syntax of images
  files/zh-cn/learn/css/css_layout/flexbox/index.md
Labels: l10n-zh

#13681 a要素のページの電話番号リンク箇所の脱字を修正
  files/ja/web/html/element/a/index.md
Labels: l10n-ja

#13674 [ja]説明が不自然な箇所の修正
  files/ja/web/api/popover_api/using/index.md
Labels: l10n-ja

#13303 Update JS First Steps
  files/ko/learn/javascript/first_steps/index.md
Labels: l10n-ko

#13627 [zh-cn]: Object proofread part 1
  files/zh-cn/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/assign/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/constructor/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/create/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/defineproperties/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/proto/index.md
Labels: l10n-zh

#13668 [zh-cn] update <script> element
  files/zh-cn/web/html/element/script/index.md
Labels: l10n-zh

#13699 fix typo
  files/zh-cn/web/javascript/reference/template_literals/index.md
Labels: l10n-zh

#13697 Change old method to new method, to pass compile file.
  files/zh-cn/webassembly/understanding_the_text_format/index.md
Labels: l10n-zh

#13700 zh-cn: update translate for `:-moz-window-inactive`
  files/zh-cn/web/css/_colon_-moz-window-inactive/index.md
Labels: l10n-zh

#13701 fix typo
  files/ja/learn/server-side/first_steps/introduction/index.md
Labels: l10n-ja

#13601 実行オプションO3の解説を追記
  files/ja/webassembly/c_to_wasm/index.md
Labels: l10n-ja

#12469 zh-cn: sync content for animation-timing-function
  files/zh-cn/web/css/animation-timing-function/index.md
Labels: l10n-zh

#13527 zh-CN: Translate `<easing-function>`
  files/zh-cn/web/css/easing-function/cubic-bezier.svg
  files/zh-cn/web/css/easing-function/cubic-bezier_out_of_range.svg
  files/zh-cn/web/css/easing-function/ease.svg
  files/zh-cn/web/css/easing-function/index.md
  files/zh-cn/web/css/easing-function/jump.svg
  files/zh-cn/web/css/easing-function/linear.svg
  files/zh-cn/web/css/easing-function/linear_function.svg
  files/zh-cn/web/css/easing-function/step.svg
Labels: l10n-zh

#13642 fix: remove link reference to ad content
  files/fr/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/ko/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/pt-br/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/ru/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/zh-tw/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
Labels: l10n-fr, l10n-zh, l10n-ru, l10n-ko, l10n-pt-br

#13656 [zh-cn]: Object proofread part 2
  files/zh-cn/web/javascript/reference/global_objects/object/freeze/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/fromentries/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/hasown/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/isfrozen/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/issealed/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/preventextensions/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/seal/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/setprototypeof/index.md
Labels: l10n-zh

#13592 add(structured_clone): 문서 추가
  files/ko/web/api/structuredclone/index.md
Labels: l10n-ko

#13683 [ko] Translate: `Array.prototype.toSorted()`
  files/ko/web/javascript/reference/global_objects/array/tosorted/index.md
Labels: l10n-ko

#13724 [ko] JavaScript: Addition (+) 설명 추가
  files/ko/web/javascript/reference/operators/addition/index.md
Labels: l10n-ko

#13737 [zh-cn] Update window confirm method
  files/zh-cn/web/api/window/confirm/index.md
Labels: l10n-zh

#13738 initial translation of glossary/port
  files/zh-cn/glossary/port/index.md
Labels: l10n-zh

#13741 [zh-cn] update window alert method
  files/zh-cn/web/api/window/alert/index.md
Labels: l10n-zh

#13742 [zh-cn] update window prompt method
  files/zh-cn/web/api/window/prompt/index.md
Labels: l10n-zh

#13744 [zh-cn]: remove experimental header for MouseEvent.offsetX
  files/zh-cn/web/api/mouseevent/offsetx/index.md
  files/zh-cn/web/api/mouseevent/offsety/index.md
Labels: l10n-zh

#13736 [zh-cn]: sync with english version on dataset
  files/zh-cn/learn/html/howto/use_data_attributes/index.md
Labels: l10n-zh

#12103 fix(zh-cn): reference to the image in en-US
  files/zh-cn/web/html/element/figure/index.md
Labels: l10n-zh

#13745 chore(zh-cn): remove the note about activating frozen locales
  files/zh-cn/mdn/community/contributing/translated_content/index.md
Labels: l10n-zh

#13652 「日本語には`browser-compat`は不要」の旨の訳注を追加
  files/ja/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
Labels: l10n-ja

#13654 Learn/HTML/Cheatsheet を翻訳
  files/ja/learn/html/cheatsheet/index.md
Labels: l10n-ja

#13735 [zh-cn] Update 'Events'
  files/zh-cn/learn/javascript/building_blocks/events/index.md
Labels: l10n-zh

#13748 [zh-cn]: update web api storage
  files/zh-cn/web/api/storage/clear/index.md
  files/zh-cn/web/api/storage/getitem/index.md
  files/zh-cn/web/api/storage/index.md
  files/zh-cn/web/api/storage/key/index.md
  files/zh-cn/web/api/storage/length/index.md
  files/zh-cn/web/api/storage/removeitem/index.md
  files/zh-cn/web/api/storage/setitem/index.md
Labels: l10n-zh

#13723 fix(html): Broken link to HTMLVideoElement
  files/es/web/html/element/video/index.md
Labels: l10n-es

#13752 [zh-cn] remove 'in this module' from 'advanced form styling'
  files/zh-cn/learn/forms/advanced_form_styling/index.md
Labels: l10n-zh

#13607 chore(zh-tw): run prettier format on js/reference/[l-t]*
  .prettierignore
  files/zh-tw/web/javascript/reference/lexical_grammar/index.md
  files/zh-tw/web/javascript/reference/operators/addition/index.md
  files/zh-tw/web/javascript/reference/operators/async_function/index.md
  files/zh-tw/web/javascript/reference/operators/await/index.md
  files/zh-tw/web/javascript/reference/operators/comma_operator/index.md
  files/zh-tw/web/javascript/reference/operators/conditional_operator/index.md
  files/zh-tw/web/javascript/reference/operators/decrement/index.md
  files/zh-tw/web/javascript/reference/operators/delete/index.md
  files/zh-tw/web/javascript/reference/operators/destructuring_assignment/index.md
  files/zh-tw/web/javascript/reference/operators/division/index.md
  files/zh-tw/web/javascript/reference/operators/exponentiation/index.md
  files/zh-tw/web/javascript/reference/operators/increment/index.md
  files/zh-tw/web/javascript/reference/operators/multiplication/index.md
  files/zh-tw/web/javascript/reference/operators/new/index.md
  files/zh-tw/web/javascript/reference/operators/null/index.md
  files/zh-tw/web/javascript/reference/operators/object_initializer/index.md
  files/zh-tw/web/javascript/reference/operators/optional_chaining/index.md
  files/zh-tw/web/javascript/reference/operators/remainder/index.md
  files/zh-tw/web/javascript/reference/operators/spread_syntax/index.md
  files/zh-tw/web/javascript/reference/operators/subtraction/index.md
  files/zh-tw/web/javascript/reference/operators/super/index.md
  files/zh-tw/web/javascript/reference/operators/this/index.md
  files/zh-tw/web/javascript/reference/operators/typeof/index.md
  files/zh-tw/web/javascript/reference/operators/unary_negation/index.md
  files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
  files/zh-tw/web/javascript/reference/statements/async_function/index.md
  files/zh-tw/web/javascript/reference/statements/block/index.md
  files/zh-tw/web/javascript/reference/statements/break/index.md
  files/zh-tw/web/javascript/reference/statements/continue/index.md
  files/zh-tw/web/javascript/reference/statements/debugger/index.md
  files/zh-tw/web/javascript/reference/statements/do...while/index.md
  files/zh-tw/web/javascript/reference/statements/export/index.md
  files/zh-tw/web/javascript/reference/statements/for...in/index.md
  files/zh-tw/web/javascript/reference/statements/for/index.md
  files/zh-tw/web/javascript/reference/statements/function_star_/index.md
  files/zh-tw/web/javascript/reference/statements/if...else/index.md
  files/zh-tw/web/javascript/reference/statements/import/index.md
  files/zh-tw/web/javascript/reference/statements/label/index.md
  files/zh-tw/web/javascript/reference/statements/let/index.md
  files/zh-tw/web/javascript/reference/statements/return/index.md
  files/zh-tw/web/javascript/reference/statements/switch/index.md
  files/zh-tw/web/javascript/reference/statements/throw/index.md
  files/zh-tw/web/javascript/reference/statements/try...catch/index.md
  files/zh-tw/web/javascript/reference/statements/var/index.md
  files/zh-tw/web/javascript/reference/statements/while/index.md
  files/zh-tw/web/javascript/reference/strict_mode/index.md
  files/zh-tw/web/javascript/reference/template_literals/index.md
Labels: l10n-zh

#13743 [Ko] fix typo: 함꼐 -> 함께
  files/ko/learn/javascript/first_steps/strings/index.md
Labels: l10n-ko

#13610 [ko] update scrollTo
  files/ko/web/api/window/scrollto/index.md
Labels: l10n-ko

#13698 add(number, bigint): 문서 추가
  files/ko/glossary/bigint/index.md
  files/ko/glossary/number/index.md
Labels: l10n-ko

#13757 [ja] 余分な句点を削除
  files/ja/learn/css/first_steps/what_is_css/index.md
Labels: l10n-ja

#13758 [ja] 太字になっていない文字を修正
  files/ja/learn/css/first_steps/how_css_is_structured/index.md
Labels: l10n-ja

#13754 [ja] fix: typo
  files/ja/webassembly/javascript_interface/instantiate/index.md
Labels: l10n-ja

#13672 Web/HTML/Element/a を更新
  files/ja/web/html/element/a/index.md
Labels: l10n-ja

#13676 Web/HTML/Element/abbr を更新
  files/ja/web/html/element/abbr/index.md
Labels: l10n-ja

#13685 Web/HTML/Element/aside を更新
  files/ja/web/html/element/aside/index.md
Labels: l10n-ja

#13686 Web/HTML/Element/audio を更新
  files/ja/web/html/element/audio/index.md
Labels: l10n-ja

#13687 Web/HTML/Element/b を更新
  files/ja/web/html/element/b/index.md
Labels: l10n-ja

#13688 Web/HTML/Element/base　を更新
  files/ja/web/html/element/base/index.md
Labels: l10n-ja

#13689 Web/HTML/Element/bdi を更新
  files/ja/web/html/element/bdi/index.md
Labels: l10n-ja

#13690 Web/HTML/Element/bdo を更新
  files/ja/web/html/element/bdo/index.md
Labels: l10n-ja

#13692 Web/HTML/Element/blockquote を更新
  files/ja/web/html/element/blockquote/index.md
Labels: l10n-ja

#13694 Web/HTML/Element/br を更新
  files/ja/web/html/element/br/index.md
Labels: l10n-ja

#13695 Web/HTML/Element/button を更新
  files/ja/web/html/element/button/index.md
Labels: l10n-ja

#13693 Web/HTML/Element/body を更新
  files/ja/web/html/element/body/index.md
Labels: l10n-ja

#13778 Update zh-cn/web/html/element/u
  files/zh-cn/web/html/element/u/index.md
Labels: l10n-zh

#13703 Web/HTML/Element/canvas を更新
  files/ja/web/html/element/canvas/index.md
Labels: l10n-ja

#13704 Web/HTML/Element/caption を更新
  files/ja/web/html/element/caption/index.md
Labels: l10n-ja

#13706 Web/API/HTMLTableCaptionElement を更新
  files/ja/web/api/htmltablecaptionelement/index.md
Labels: l10n-ja

#13707 Web/HTML/Element/center を更新
  files/ja/web/html/element/center/index.md
Labels: l10n-ja
