Repository mdn/translated-content, pull requests merged in 2023-07, with the labels that each got.

#13932 Web/HTML/Element/noscript を更新
  files/ja/web/html/element/noscript/index.md
Labels: l10n-ja

#13945 Web/API/HTMLOListElement を更新
  files/ja/web/api/htmlolistelement/index.md
Labels: l10n-ja

#13946 Web/HTML/Element/object を更新
  files/ja/web/html/element/object/index.md
Labels: l10n-ja

#13947 Web/HTML/Element/ol を更新
  files/ja/web/html/element/ol/index.md
Labels: l10n-ja

#13948 Web/API/HTMLOptGroupElement を新規翻訳
  files/ja/web/api/htmloptgroupelement/index.md
Labels: l10n-ja

#13949 Web/HTML/Element/optgroup を更新
  files/ja/web/html/element/optgroup/index.md
Labels: l10n-ja

#13985 [zh-cn]: update what_next.md
  files/zh-cn/mozilla/add-ons/webextensions/what_next_/index.md
Labels: l10n-zh

#13022 Fix #13010
  files/fr/web/css/margin-left/index.md
Labels: l10n-fr

#13996 translation: Request.body
  files/zh-cn/web/api/request/body/index.md
Labels: l10n-zh

#13951 Web/HTML/Element/option を更新
  files/ja/web/html/element/option/index.md
Labels: l10n-ja

#13958 Web/HTML/Element/output を更新
  files/ja/web/html/element/output/index.md
Labels: l10n-ja

#13959 Web/API/HTMLParagraphElement を更新
  files/ja/web/api/htmlparagraphelement/index.md
Labels: l10n-ja

#13963 [zh-cn]: Update translation of Promise.then()
  files/zh-cn/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-zh

#13974 [zh-cn]: Update translation of Promise.catch()
  files/zh-cn/web/javascript/reference/global_objects/promise/catch/index.md
Labels: l10n-zh

#13983 [zh-cn] Update HTML details elements
  files/zh-cn/web/html/element/details/index.md
Labels: l10n-zh

#13631 fr: Removes duplicated frontmatter keys (mdn folder)
  files/fr/mdn/at_ten/history_of_mdn/index.md
  files/fr/mdn/at_ten/index.md
  files/fr/mdn/community/contributing/getting_started/index.md
  files/fr/mdn/community/contributing/our_repositories/index.md
  files/fr/mdn/community/contributing/translated_content/index.md
  files/fr/mdn/community/index.md
  files/fr/mdn/community/issues/index.md
  files/fr/mdn/community/learn_forum/index.md
  files/fr/mdn/community/open_source_etiquette/index.md
  files/fr/mdn/contribute/index.md
  files/fr/mdn/contribute/processes/index.md
  files/fr/mdn/index.md
  files/fr/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/fr/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/fr/mdn/writing_guidelines/howto/images_media/index.md
  files/fr/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
  files/fr/mdn/writing_guidelines/page_structures/live_samples/index.md
  files/fr/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/code_style_guide/shell/index.md
  files/fr/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-fr

#13965 Web/HTML/Element/p を更新
  files/ja/web/html/element/p/index.md
Labels: l10n-ja

#13967 Learn/CSS/CSS_layout/Responsive_Design を更新
  files/ja/learn/css/css_layout/responsive_design/index.md
Labels: l10n-ja

#14004 Update index.md
  files/zh-cn/web/api/idledeadline/index.md
Labels: l10n-zh

#13615 [zh-CN] initial translation of Notification.tag
  files/zh-cn/web/api/notification/tag/index.md
Labels: l10n-zh

#13984 sync with english version for "Accessibility/Mobile"
  files/zh-cn/learn/accessibility/mobile/index.md
Labels: l10n-zh

#14008 update the translation of `IdleDeadline`
  files/zh-cn/web/api/background_tasks_api/index.md
  files/zh-cn/web/api/idledeadline/index.md
Labels: l10n-zh

#14013 fix a bug
  files/zh-cn/web/api/document_object_model/whitespace/index.md
Labels: l10n-zh

#13976 update the translation of `promise.finally()`
  files/zh-cn/web/javascript/reference/global_objects/promise/finally/index.md
Labels: l10n-zh

#13968 Web/API/HTMLParamElement を更新
  files/ja/web/api/htmlparamelement/index.md
Labels: l10n-ja

#13988 fix: show images in result
  files/es/web/css/object-fit/mdn_logo_only_color.png
Labels: l10n-es

#14012 [zh-cn] Update 'styling lists'
  files/zh-cn/learn/css/styling_text/styling_lists/index.md
Labels: l10n-zh

#14037 es: Remove Glossary/jQuery as en-US
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/orphaned/glossary/jquery/index.md
Labels: l10n-es

#14036 es: Delete glossary Dynamic programming language as en-US
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/orphaned/glossary/dynamic_programming_language/index.md
Labels: l10n-es

#14038 es: Move KumaScript docs to Yari repo as en-US
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/orphaned/mdn/tools/index.md
Labels: l10n-es

#13986 Web/API/Web_Animations_API を更新
  files/ja/web/api/web_animations_api/index.md
Labels: l10n-ja

#13987 Web/API/Web_Animations_API/Using_the_Web_Animations_API を更新
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.md
Labels: l10n-ja

#14023 [zh-cn] Update 'block formatting context'
  files/zh-cn/web/guide/css/block_formatting_context/index.md
Labels: l10n-zh

#14032 Fix example array on sort description
  files/ja/web/javascript/reference/global_objects/array/sort/index.md
Labels: l10n-ja

#14029 fix(ru): remove redundant compatibility snippet (#14028)
  files/ru/web/api/cache/index.md
Labels: l10n-ru

#14042 Update index.md
  files/zh-tw/web/javascript/reference/operators/destructuring_assignment/index.md
Labels: l10n-zh

#14030 [zh-CN] sync `Getting started` part of `web-ext`
  files/zh-cn/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/zh-cn/mozilla/add-ons/webextensions/examples/index.md
  files/zh-cn/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/zh-cn/mozilla/add-ons/webextensions/what_next_/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: l10n-zh

#13934 [zh-CN]: update function and class available to worker
  files/zh-cn/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/zh-cn/web/api/web_workers_api/index.md
Labels: l10n-zh, needs content update

#13993 [ko] fix Understanding wcag
  files/ko/web/accessibility/understanding_wcag/index.md
Labels: l10n-ko

#14041 [zh-cn]: Update translation of String.length
  files/zh-cn/web/javascript/reference/global_objects/string/length/index.md
Labels: l10n-zh

#13999 Web/API/Web_Animations_API/Web_Animations_API_Concepts を新規翻訳
  files/ja/web/api/web_animations_api/web_animations_api_concepts/index.md
Labels: l10n-ja

#14000 Web/API/Web_Animations_API/Keyframe_Formats を新規翻訳
  files/ja/web/api/web_animations_api/keyframe_formats/index.md
Labels: l10n-ja

#14001 分かりやすくするため、一部の文言を修正
  files/ja/web/html/element/input/radio/index.md
Labels: l10n-ja

#14039 es: Move ARIA Techniques as en-US
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/web/accessibility/aria/attributes/aria-label/index.md
  files/es/web/accessibility/aria/attributes/aria-required/index.md
  files/es/web/accessibility/aria/attributes/index.md
Labels: l10n-es

#14045 [zh-cn]: Update translation of String.@@iterator()
  files/zh-cn/web/javascript/reference/global_objects/string/@@iterator/index.md
Labels: l10n-zh

#14050 [zh-cn]: update fieldset
  files/zh-cn/web/html/element/fieldset/index.md
Labels: l10n-zh

#14051 [zh-cn]: Update translation of String.at()
  files/zh-cn/web/javascript/reference/global_objects/string/at/index.md
Labels: l10n-zh

#14056 fix(workflows): rate limit downloading ripgrep
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_markdownlint.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#14053 [zh-cn]: Update translation of String.charAt()
  files/zh-cn/web/javascript/reference/global_objects/string/charat/index.md
Labels: l10n-zh

#14006 マークアップの間違いを修正
  files/ja/web/html/element/picture/index.md
Labels: l10n-ja

#14007 Web/API/HTMLPictureElement を更新
  files/ja/web/api/htmlpictureelement/index.md
Labels: l10n-ja

#14011 Web/API/HTMLPreElement を更新
  files/ja/web/api/htmlpreelement/index.md
Labels: l10n-ja

#14048 updated autoDiscardable translation
  files/fr/mozilla/add-ons/webextensions/api/tabs/tab/index.md
Labels: l10n-fr

#13633 fr: Removes duplicated frontmatter keys (webassembly folder)
  files/fr/webassembly/c_to_wasm/index.md
  files/fr/webassembly/index.md
  files/fr/webassembly/javascript_interface/compile/index.md
  files/fr/webassembly/javascript_interface/compileerror/compileerror/index.md
  files/fr/webassembly/javascript_interface/compileerror/index.md
  files/fr/webassembly/javascript_interface/compilestreaming/index.md
  files/fr/webassembly/javascript_interface/exception/exception/index.md
  files/fr/webassembly/javascript_interface/exception/getarg/index.md
  files/fr/webassembly/javascript_interface/exception/index.md
  files/fr/webassembly/javascript_interface/exception/is/index.md
  files/fr/webassembly/javascript_interface/exception/stack/index.md
  files/fr/webassembly/javascript_interface/global/global/index.md
  files/fr/webassembly/javascript_interface/global/index.md
  files/fr/webassembly/javascript_interface/index.md
  files/fr/webassembly/javascript_interface/instance/exports/index.md
  files/fr/webassembly/javascript_interface/instance/index.md
  files/fr/webassembly/javascript_interface/instance/instance/index.md
  files/fr/webassembly/javascript_interface/instantiate/index.md
  files/fr/webassembly/javascript_interface/instantiatestreaming/index.md
  files/fr/webassembly/javascript_interface/linkerror/index.md
  files/fr/webassembly/javascript_interface/linkerror/linkerror/index.md
  files/fr/webassembly/javascript_interface/memory/buffer/index.md
  files/fr/webassembly/javascript_interface/memory/grow/index.md
  files/fr/webassembly/javascript_interface/memory/index.md
  files/fr/webassembly/javascript_interface/memory/memory/index.md
  files/fr/webassembly/javascript_interface/module/customsections/index.md
  files/fr/webassembly/javascript_interface/module/exports/index.md
  files/fr/webassembly/javascript_interface/module/imports/index.md
  files/fr/webassembly/javascript_interface/module/index.md
  files/fr/webassembly/javascript_interface/module/module/index.md
  files/fr/webassembly/javascript_interface/runtimeerror/index.md
  files/fr/webassembly/javascript_interface/runtimeerror/runtimeerror/index.md
  files/fr/webassembly/javascript_interface/table/get/index.md
  files/fr/webassembly/javascript_interface/table/grow/index.md
  files/fr/webassembly/javascript_interface/table/index.md
  files/fr/webassembly/javascript_interface/table/length/index.md
  files/fr/webassembly/javascript_interface/table/set/index.md
  files/fr/webassembly/javascript_interface/table/table/index.md
  files/fr/webassembly/javascript_interface/tag/index.md
  files/fr/webassembly/javascript_interface/tag/tag/index.md
  files/fr/webassembly/javascript_interface/tag/type/index.md
  files/fr/webassembly/javascript_interface/validate/index.md
Labels: l10n-fr

#13998 zh-CN: Fix captions for `steps()`
  files/zh-cn/web/css/easing-function/jump.svg
Labels: l10n-zh, needs content update

#14078 Update manifest_version
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/manifest_version/index.md
Labels: l10n-zh

#14021 [zh-CN]Init /files/zh-cn/web/api/file_system_access_api/index.md
  files/zh-cn/web/api/file_system_access_api/index.md
Labels: l10n-zh

#14072 fix broken links to webextensions repo main branch
  files/zh-cn/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/zh-cn/mozilla/add-ons/webextensions/internationalization/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/homepage_url/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/zh-cn/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/zh-tw/mozilla/add-ons/webextensions/content_scripts/index.md
  files/zh-tw/mozilla/add-ons/webextensions/internationalization/index.md
  files/zh-tw/mozilla/add-ons/webextensions/manifest.json/homepage_url/index.md
  files/zh-tw/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/zh-tw/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
  files/zh-tw/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
  files/zh-tw/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/zh-tw/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: l10n-zh

#14026 Web/HTML/Element/pre
  files/ja/web/html/element/pre/index.md
Labels: l10n-ja

#14064 [zh-cn] update HTML summary element
  files/zh-cn/web/html/element/summary/index.md
Labels: l10n-zh

#13982 Modify link and symbols
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Labels: l10n-zh

#13722 [ko] JavaScript: Symbol.for(), toPrimitive 추가 및 수정
  files/ko/web/javascript/reference/global_objects/symbol/for/index.md
  files/ko/web/javascript/reference/global_objects/symbol/toprimitive/index.md
Labels: l10n-ko

#13874 Fix wrong hash in Korea video codecs markdown
  files/ko/web/media/formats/video_codecs/index.md
Labels: l10n-ko

#13901 [ko] translate cors_allow_origin_not_matching_origin
  files/ko/web/http/cors/errors/corsalloworiginnotmatchingorigin/index.md
Labels: l10n-ko

#13751 [ko] JavaScript: Array.with(),Symbol.toString() 추가
  files/ko/web/javascript/reference/global_objects/array/with/index.md
  files/ko/web/javascript/reference/global_objects/symbol/tostring/index.md
Labels: l10n-ko

#14089 Update index.md
  files/zh-cn/web/html/element/meta/name/index.md
Labels: l10n-zh

#14079 [zh-cn] Update 'breadcrumb navigation'
  files/zh-cn/web/css/layout_cookbook/breadcrumb_navigation/index.md
Labels: l10n-zh

#13943 update(pushState): 문서 최신화
  files/ko/web/api/history/pushstate/index.md
Labels: l10n-ko

#14085 chore(zh-cn): remove the last {{bug}} macro call
  files/zh-cn/mozilla/firefox/releases/62/index.md
Labels: l10n-zh

#14088 Update index.md
  files/zh-cn/web/html/element/meta/name/index.md
Labels: l10n-zh

#14086 sync with english version for `tabs.query()`
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/query/index.md
Labels: l10n-zh

#14084 fix broken links to learning-area repo main branch
  files/zh-cn/learn/accessibility/css_and_javascript/index.md
  files/zh-cn/learn/accessibility/html/index.md
  files/zh-cn/learn/accessibility/multimedia/index.md
  files/zh-cn/learn/accessibility/wai-aria_basics/index.md
  files/zh-cn/learn/css/building_blocks/a_cool_looking_box/index.md
  files/zh-cn/learn/css/building_blocks/advanced_styling_effects/index.md
  files/zh-cn/learn/css/building_blocks/creating_fancy_letterheaded_paper/index.md
  files/zh-cn/learn/css/building_blocks/fundamental_css_comprehension/index.md
  files/zh-cn/learn/css/building_blocks/styling_tables/index.md
  files/zh-cn/learn/css/css_layout/flexbox/index.md
  files/zh-cn/learn/css/css_layout/floats/index.md
  files/zh-cn/learn/css/css_layout/grids/index.md
  files/zh-cn/learn/css/css_layout/introduction/index.md
  files/zh-cn/learn/css/css_layout/legacy_layout_methods/index.md
  files/zh-cn/learn/css/css_layout/multiple-column_layout/index.md
  files/zh-cn/learn/css/css_layout/positioning/index.md
  files/zh-cn/learn/css/css_layout/practical_positioning_examples/index.md
  files/zh-cn/learn/css/styling_text/fundamentals/index.md
  files/zh-cn/learn/css/styling_text/styling_lists/index.md
  files/zh-cn/learn/css/styling_text/typesetting_a_homepage/index.md
  files/zh-cn/learn/css/styling_text/web_fonts/index.md
  files/zh-cn/learn/forms/form_validation/index.md
  files/zh-cn/learn/forms/how_to_structure_a_web_form/index.md
  files/zh-cn/learn/forms/sending_and_retrieving_form_data/index.md
  files/zh-cn/learn/forms/styling_web_forms/index.md
  files/zh-cn/learn/forms/your_first_form/index.md
  files/zh-cn/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/zh-cn/learn/html/tables/basics/index.md
  files/zh-cn/learn/javascript/building_blocks/build_your_own_function/index.md
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/javascript/building_blocks/looping_code/index.md
  files/zh-cn/learn/javascript/building_blocks/return_values/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/introduction/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
  files/zh-cn/learn/javascript/first_steps/math/index.md
  files/zh-cn/learn/javascript/first_steps/strings/index.md
  files/zh-cn/learn/javascript/objects/basics/index.md
  files/zh-cn/learn/javascript/objects/json/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
  files/zh-cn/web/html/element/input/file/index.md
  files/zh-cn/web/html/element/input/hidden/index.md
  files/zh-cn/web/html/element/input/search/index.md
Labels: l10n-zh

#13994 chore(zh-tw): run prettier format for js global objects
  .prettierignore
  files/zh-tw/web/javascript/reference/global_objects/parseint/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/all/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/catch/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/finally/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/race/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/reject/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/resolve/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/then/index.md
  files/zh-tw/web/javascript/reference/global_objects/proxy/index.md
  files/zh-tw/web/javascript/reference/global_objects/rangeerror/index.md
  files/zh-tw/web/javascript/reference/global_objects/regexp/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/add/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/clear/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/delete/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/entries/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/has/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/index.md
  files/zh-tw/web/javascript/reference/global_objects/set/values/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/concat/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/localecompare/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/match/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/padstart/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/replace/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/tolowercase/index.md
  files/zh-tw/web/javascript/reference/global_objects/string/trim/index.md
  files/zh-tw/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-zh

#14101 fix(svg): remove broken images
  files/zh-cn/web/svg/applying_svg_effects_to_html_content/index.md
  files/zh-cn/web/svg/attribute/begin/index.md
  files/zh-cn/web/svg/element/ellipse/index.md
  files/zh-cn/web/svg/element/line/index.md
  files/zh-cn/web/svg/element/mask/index.md
  files/zh-cn/web/svg/element/pattern/index.md
  files/zh-cn/web/svg/element/polygon/index.md
  files/zh-cn/web/svg/element/polyline/index.md
  files/zh-cn/web/svg/element/tspan/index.md
Labels: l10n-zh

#14092 update Native_manifests
  files/zh-cn/mozilla/add-ons/webextensions/native_manifests/index.md
  files/zh-cn/mozilla/add-ons/webextensions/native_manifests/native-message-regkey-exaple.png
  files/zh-cn/mozilla/add-ons/webextensions/prerequisites/index.md
Labels: l10n-zh

#14099 pt-br: remove untranslated/partially translated files
  files/pt-br/_redirects.txt
  files/pt-br/learn/accessibility/css_and_javascript/index.md
  files/pt-br/mdn/writing_guidelines/writing_style_guide/index.md
  files/pt-br/mdn/writing_guidelines/writing_style_guide/syntax-highlighting-menu.png
  files/pt-br/mdn/writing_guidelines/writing_style_guide/tag-interface.png
  files/pt-br/mozilla/firefox/experimental_features/index.md
  files/pt-br/mozilla/firefox/releases/50/index.md
  files/pt-br/mozilla/firefox/releases/57/index.md
  files/pt-br/web/api/document/getelementsbytagname/index.md
  files/pt-br/web/api/keyboardevent/index.md
  files/pt-br/web/api/service_worker_api/using_service_workers/index.md
  files/pt-br/web/css/@keyframes/index.md
  files/pt-br/web/css/background-position/index.md
  files/pt-br/web/css/border-radius/index.md
Labels: l10n-pt-br

#14081 Fix typo in document
  files/pt-br/web/api/document_object_model/introduction/index.md
Labels: l10n-pt-br

#14046 docs: fix wrong word in PT-BR language
  files/pt-br/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: l10n-pt-br

#14035 mistyping in promise's Index.md
  files/pt-br/learn/javascript/asynchronous/promises/index.md
Labels: l10n-pt-br

#14025 fix: typo on compatible translated word - PT-BR
  files/pt-br/web/http/csp/index.md
Labels: l10n-pt-br

#14103 fix: live sample not running in pr review
  .github/workflows/pr-test.yml
Labels: system

#14106 Update audiocontext readme
  files/zh-cn/web/api/audiocontext/index.md
Labels: l10n-zh

#14111 [zh-cn]: Update translation of String.concat()
  files/zh-cn/web/javascript/reference/global_objects/string/concat/index.md
Labels: l10n-zh

#14113 [zh-cn]: Update translation of String.endsWith()
  files/zh-cn/web/javascript/reference/global_objects/string/endswith/index.md
Labels: l10n-zh

#14049 Web/HTML/Element/progress を更新
  files/ja/web/html/element/progress/index.md
Labels: l10n-ja

#14060 Web/API/HTMLQuoteElement を更新
  files/ja/web/api/htmlquoteelement/index.md
Labels: l10n-ja

#14062 Web/HTML/Element/q を更新
  files/ja/web/html/element/q/index.md
Labels: l10n-ja

#14063 Web/HTML/Element/rb を更新
  files/ja/web/html/element/rb/index.md
Labels: l10n-ja

#14066 Web/HTML/Element/ruby を更新
  files/ja/web/html/element/ruby/index.md
Labels: l10n-ja

#14114 There is a typo in the syntax section of page `Intl.PluralRules.selectRange()`(Both of `ja` and `fr`)
  files/fr/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
  files/ja/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
Labels: l10n-ja, l10n-fr

#13997 update: Request interface of Fetch API
  files/zh-cn/web/api/request/index.md
Labels: l10n-zh, needs content update

#14117 fix wrong translation
  files/zh-cn/web/css/_doublecolon_after/index.md
Labels: l10n-zh

#14118 fix disablePictureInPicture link error
  files/zh-cn/web/html/element/video/index.md
Labels: l10n-zh

#14121 Update index.md
  files/es/learn/javascript/building_blocks/index.md
Labels: l10n-es

#14131 Update index.md
  files/es/web/javascript/guide/introduction/index.md
Labels: l10n-es

#14134 Update index.md
  files/es/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-es

#14116 [zh-cn] Update HTML hr element
  files/zh-cn/web/html/element/hr/index.md
Labels: l10n-zh

#14133 fix(ru): update CSS `gap-*` properties
  files/ru/web/css/column-gap/index.md
  files/ru/web/css/gap/index.md
  files/ru/web/css/row-gap/index.md
Labels: l10n-ru

#14083 Glossary/Serializable_object を新規翻訳
  files/ja/glossary/serializable_object/index.md
Labels: l10n-ja

#14090 Firefox 114 for developersを更新
  files/ja/mozilla/firefox/releases/114/index.md
Labels: l10n-ja

#14094 Web/API/HTMLScriptElement 以下を更新
  files/ja/web/api/htmlscriptelement/index.md
  files/ja/web/api/htmlscriptelement/referrerpolicy/index.md
  files/ja/web/api/htmlscriptelement/supports_static/index.md
Labels: l10n-ja

#14095 Web/HTML/Element/script を更新
  files/ja/web/html/element/script/index.md
Labels: l10n-ja

#14097 Web/HTML/Element/section を更新
  files/ja/web/html/element/section/index.md
Labels: l10n-ja

#14142 [zh-cn]: Update translation of String.includes()
  files/zh-cn/web/javascript/reference/global_objects/string/includes/index.md
Labels: l10n-zh

#14155 [zh-cn]: Update translation of String.indexOf()
  files/zh-cn/web/javascript/reference/global_objects/string/indexof/index.md
Labels: l10n-zh

#14151 [zh-CN] Fix `File System Access API`
  files/zh-cn/web/api/file_system_access_api/index.md
Labels: l10n-zh

#14115 [zh-cn] update web-ext
  files/zh-cn/mozilla/add-ons/webextensions/browser_compatibility_for_manifest.json/index.md
  files/zh-cn/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
  files/zh-cn/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_actions/index.md
Labels: l10n-zh

#14141 Adjust sentences and symbols
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
Labels: l10n-zh

#14145 [zh-cn] update html element <html>
  files/zh-cn/web/html/element/html/index.md
Labels: l10n-zh

#14144 Update justify-content
  files/zh-cn/web/css/justify-content/index.md
Labels: l10n-zh

#14098 `<script type="importmap">` を更新
  files/ja/web/html/element/script/type/importmap/index.md
Labels: l10n-ja

#14152 fix: added the correct url for "mejora progresiva"
  files/es/glossary/mobile_first/index.md
Labels: l10n-es

#14156 [es] fix: Tipo in ESP doc (#13955)
  files/es/web/http/headers/cookie/index.md
Labels: l10n-es

#14169 fix(ru): delete conflicting `@viewport` article
  files/ru/_redirects.txt
  files/ru/conflicting/web/css/index.md
Labels: l10n-ru

#14171 [zh-cn]: fix typo
  files/zh-cn/web/javascript/guide/using_promises/index.md
Labels: l10n-zh

#14122 sync with english version for MathML `<msup>`
  files/zh-cn/web/mathml/element/msub/index.md
  files/zh-cn/web/mathml/element/msubsup/index.md
  files/zh-cn/web/mathml/element/msup/index.md
Labels: l10n-zh

#14175 [zh-cn] Update css <length-percentage> data type
  files/zh-cn/web/css/length-percentage/index.md
Labels: l10n-zh

#14181 fix css code textarea lang
  files/zh-cn/web/css/top/index.md
Labels: l10n-zh

#14185 Improve translation
  files/zh-cn/web/api/settimeout/index.md
Labels: l10n-zh

#14184 [zh-cn]: Update translation of String.lastIndexOf()
  files/zh-cn/web/javascript/reference/global_objects/string/lastindexof/index.md
Labels: l10n-zh, needs content update

#14183 update Web/API/URL/URL
  files/zh-cn/web/api/url/url/index.md
Labels: l10n-zh

#14160 [zh-CN] Initial all pages about `FileSystemHandle`
  files/zh-cn/web/api/filesystemhandle/index.md
  files/zh-cn/web/api/filesystemhandle/issameentry/index.md
  files/zh-cn/web/api/filesystemhandle/kind/index.md
  files/zh-cn/web/api/filesystemhandle/name/index.md
  files/zh-cn/web/api/filesystemhandle/querypermission/index.md
  files/zh-cn/web/api/filesystemhandle/remove/index.md
  files/zh-cn/web/api/filesystemhandle/requestpermission/index.md
Labels: l10n-zh

#14193 ru: Fix file extension and remove duplicated front-matter keys
  files/ru/web/css/accent-color/index.md
Labels: l10n-ru

#14196 ja: format README.md with Prettier
  docs/ja/README.md
Labels: l10n-ja

#14195 Integrate Prettier into workflows and commands (sync w/ upstream)
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/pr-check_markdownlint.yml
  .lintstagedrc.json
  package.json
Labels: system

#14201 ru: Fix issue reporting link
  files/ru/mdn/community/issues/index.md
Labels: l10n-ru

#14119 Web/HTML/Element/select を更新
  files/ja/web/html/element/select/index.md
Labels: l10n-ja

#14123 Web/HTML/Element/dir を更新
  files/ja/web/html/element/dir/index.md
Labels: l10n-ja

#14124 Web/HTML/Element/i を更新
  files/ja/web/html/element/i/index.md
Labels: l10n-ja

#14125 Web/HTML/Element/input/date を更新
  files/ja/web/html/element/input/date/index.md
Labels: l10n-ja

#14127 Web/HTML/Element/input/text を更新
  files/ja/web/html/element/input/text/index.md
Labels: l10n-ja

#14120 Web/HTML 直下を修正
  files/ja/web/html/index.md
Labels: l10n-ja

#14129 Web/API/HTMLParagraphElement を更新
  files/ja/web/html/index.md
Labels: l10n-ja

#14135 Web/HTML/Element/search を新規翻訳
  files/ja/web/html/element/search/index.md
Labels: l10n-ja

#14137 Web/HTML/Element/slot を更新
  files/ja/web/html/element/slot/index.md
Labels: l10n-ja

#14138 Web/HTML/Element を更新
  files/ja/web/html/element/index.md
Labels: l10n-ja

#14130 Web/HTML/Element/param を更新
  files/ja/web/html/element/param/index.md
Labels: l10n-ja

#14205 ci: only run lint for locale matrix
  .github/workflows/markdown-lint-fix.yml
Labels: system

#14209 Update list of files to label as "system"
  .github/labeler.yml
Labels: system

#14180 fix css/line-height fragment error
  files/zh-cn/web/css/line-height/index.md
Labels: l10n-zh

#14182 Update Web/API/URL/password
  files/zh-cn/web/api/url/password/index.md
Labels: l10n-zh

#14211 Prettier: always ignore conflicting/orphaned
  .prettierignore
Labels: system

#14214 Synchronize Markdownlint configuration with upstream
  .markdownlint-cli2.jsonc
Labels: system

#14200 es: Format /web/{!api,css,html,http,javascript} using Prettier
  .prettierignore
  files/es/web/accessibility/aria/attributes/aria-required/index.md
  files/es/web/accessibility/aria/index.md
  files/es/web/accessibility/aria/multipart_labels/index.md
  files/es/web/accessibility/aria/roles/alert_role/index.md
  files/es/web/accessibility/aria/roles/alertdialog_role/index.md
  files/es/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
  files/es/web/events/index.md
  files/es/web/guide/ajax/index.md
  files/es/web/guide/parsing_and_serializing_xml/index.md
  files/es/web/manifest/index.md
  files/es/web/mathml/attribute/index.md
  files/es/web/mathml/element/math/index.md
  files/es/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/es/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
  files/es/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
  files/es/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
  files/es/web/security/same-origin_policy/index.md
  files/es/web/security/securing_your_site/turning_off_form_autocompletion/index.md
  files/es/web/security/types_of_attacks/index.md
  files/es/web/svg/applying_svg_effects_to_html_content/index.md
  files/es/web/svg/attribute/stop-color/index.md
  files/es/web/svg/attribute/transform/index.md
  files/es/web/svg/element/a/index.md
  files/es/web/svg/element/animate/index.md
  files/es/web/svg/element/circle/index.md
  files/es/web/svg/element/g/index.md
  files/es/web/svg/element/glyph/index.md
  files/es/web/svg/element/rect/index.md
  files/es/web/svg/element/style/index.md
  files/es/web/svg/element/svg/index.md
  files/es/web/svg/tutorial/getting_started/index.md
  files/es/web/xml/index.md
  files/es/web/xpath/functions/contains/index.md
  files/es/web/xpath/functions/substring/index.md
  files/es/web/xpath/functions/true/index.md
  files/es/web/xpath/introduction_to_using_xpath_in_javascript/index.md
  files/es/web/xslt/element/decimal-format/index.md
  files/es/web/xslt/element/message/index.md
  files/es/web/xslt/index.md
Labels: l10n-es, system

#14217 ja: Replace smart quotes
  files/ja/glossary/accessibility_tree/index.md
  files/ja/glossary/keyword/index.md
  files/ja/glossary/pixel/index.md
  files/ja/glossary/whitespace/index.md
  files/ja/learn/html/introduction_to_html/getting_started/index.md
  files/ja/learn/javascript/building_blocks/looping_code/index.md
  files/ja/learn/server-side/django/models/index.md
  files/ja/learn/server-side/django/web_application_security/index.md
  files/ja/learn/server-side/express_nodejs/routes/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
  files/ja/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
  files/ja/mozilla/add-ons/webextensions/manifest.json/theme/index.md
  files/ja/mozilla/add-ons/webextensions/working_with_files/index.md
  files/ja/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/ja/mozilla/firefox/releases/51/index.md
  files/ja/mozilla/firefox/releases/55/index.md
  files/ja/mozilla/firefox/releases/64/index.md
  files/ja/web/api/analysernode/index.md
  files/ja/web/api/web_components/index.md
  files/ja/web/css/-webkit-line-clamp/index.md
  files/ja/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.md
  files/ja/web/css/css_flow_layout/flow_layout_and_overflow/index.md
  files/ja/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
  files/ja/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
  files/ja/web/css/css_values_and_units/index.md
  files/ja/web/css/font-size/index.md
  files/ja/web/css/grid-template/index.md
  files/ja/web/css/viewport_concepts/index.md
  files/ja/web/http/authentication/index.md
  files/ja/web/http/cors/errors/index.md
  files/ja/web/http/csp/errors/index.md
  files/ja/web/http/headers/cache-control/index.md
  files/ja/web/javascript/guide/text_formatting/index.md
  files/ja/web/javascript/reference/global_objects/string/split/index.md
  files/ja/web/javascript/reference/operators/remainder/index.md
  files/ja/web/javascript/reference/operators/spread_syntax/index.md
  files/ja/web/svg/attribute/alignment-baseline/index.md
Labels: l10n-ja

#14215 es: Replace smart quotes
  files/es/glossary/whitespace/index.md
  files/es/learn/common_questions/design_and_accessibility/thinking_before_coding/index.md
  files/es/learn/common_questions/tools_and_setup/how_much_does_it_cost/index.md
  files/es/learn/common_questions/web_mechanics/how_does_the_internet_work/index.md
  files/es/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
  files/es/learn/common_questions/web_mechanics/what_is_a_domain_name/index.md
  files/es/learn/css/building_blocks/selectors/attribute_selectors/index.md
  files/es/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
  files/es/learn/javascript/building_blocks/looping_code/index.md
  files/es/learn/server-side/django/introduction/index.md
  files/es/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/es/web/api/cachestorage/index.md
  files/es/web/api/server-sent_events/index.md
  files/es/web/css/caret-color/index.md
  files/es/web/css/css_grid_layout/box_alignment_in_grid_layout/index.md
  files/es/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
  files/es/web/css/css_motion_path/index.md
  files/es/web/css/filter/index.md
  files/es/web/html/element/ol/index.md
  files/es/web/html/global_attributes/index.md
  files/es/web/html/microdata/index.md
  files/es/web/http/headers/cache-control/index.md
  files/es/web/http/headers/content-security-policy/index.md
  files/es/web/http/headers/referer/index.md
  files/es/web/javascript/reference/global_objects/array/isarray/index.md
  files/es/web/javascript/reference/global_objects/array/slice/index.md
  files/es/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/es/web/javascript/reference/global_objects/number/min_value/index.md
  files/es/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/es/web/javascript/reference/operators/remainder/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/es/web/performance/fundamentals/index.md
  files/es/webassembly/concepts/index.md
Labels: l10n-es

#14058 Update index.md
  files/zh-cn/web/javascript/reference/operators/exponentiation_assignment/index.md
Labels: l10n-zh

#14224 zh: Add Markdownlint ignores for bad vs. good examples
  docs/zh-cn/translation-guide.md
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#14189 Update index.md
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#14188 update the description of "Type coercion"
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh
