Repository mdn/translated-content, pull requests merged in 2023-10, with the labels that each got.

#16269 Update index.md
  files/zh-cn/web/javascript/equality_comparisons_and_sameness/index.md
Labels: l10n-zh

#15549 [ko]: revise index.md in `web/glossary/alignment_container`
  files/ko/glossary/alignment_container/index.md
Labels: l10n-ko

#16148 String.big() を更新
  files/ja/web/javascript/reference/global_objects/string/big/index.md
Labels: l10n-ja

#16163 Promise の記事を更新
  files/ja/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-ja

#15990 [ja] Update index.md - fix moon num of Jupiter
  files/ja/learn/html/tables/basics/index.md
Labels: l10n-ja

#16267 css/resolutionからcss/length#pxへのリンク切れを修正
  files/ja/web/css/resolution/index.md
Labels: l10n-ja

#16271 [zh-cn] Update data structures of javascript
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#16169 Web/CSS/grid 以下の一部の記事を更新
  files/ja/web/css/grid-auto-columns/index.md
  files/ja/web/css/grid-template-columns/index.md
  files/ja/web/css/grid-template-rows/index.md
  files/ja/web/css/grid-template/index.md
  files/ja/web/css/grid/index.md
Labels: l10n-ja

#16000 chore(pt-br): remove {{HTMLAttrDef}} macro
  files/pt-br/learn/html/howto/use_data_attributes/index.md
  files/pt-br/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/pt-br/web/accessibility/aria/attributes/aria-label/index.md
  files/pt-br/web/api/document/write/index.md
  files/pt-br/web/css/_doublecolon_after/index.md
  files/pt-br/web/css/syntax/index.md
  files/pt-br/web/html/content_categories/index.md
  files/pt-br/web/html/element/a/index.md
  files/pt-br/web/html/element/base/index.md
  files/pt-br/web/html/element/bdo/index.md
  files/pt-br/web/html/element/blockquote/index.md
  files/pt-br/web/html/element/body/index.md
  files/pt-br/web/html/element/br/index.md
  files/pt-br/web/html/element/button/index.md
  files/pt-br/web/html/element/caption/index.md
  files/pt-br/web/html/element/dd/index.md
  files/pt-br/web/html/element/del/index.md
  files/pt-br/web/html/element/dialog/index.md
  files/pt-br/web/html/element/dir/index.md
  files/pt-br/web/html/element/embed/index.md
  files/pt-br/web/html/element/fieldset/index.md
  files/pt-br/web/html/element/head/index.md
  files/pt-br/web/html/element/hr/index.md
  files/pt-br/web/html/element/html/index.md
  files/pt-br/web/html/element/iframe/index.md
  files/pt-br/web/html/element/img/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/html/element/input/date/index.md
  files/pt-br/web/html/element/input/index.md
  files/pt-br/web/html/element/input/password/index.md
  files/pt-br/web/html/element/label/index.md
  files/pt-br/web/html/element/li/index.md
  files/pt-br/web/html/element/link/index.md
  files/pt-br/web/html/element/marquee/index.md
  files/pt-br/web/html/element/meta/index.md
  files/pt-br/web/html/element/ol/index.md
  files/pt-br/web/html/element/optgroup/index.md
  files/pt-br/web/html/element/option/index.md
  files/pt-br/web/html/element/pre/index.md
  files/pt-br/web/html/element/q/index.md
  files/pt-br/web/html/element/script/index.md
  files/pt-br/web/html/element/select/index.md
  files/pt-br/web/html/element/textarea/index.md
  files/pt-br/web/html/element/tfoot/index.md
  files/pt-br/web/html/element/th/index.md
  files/pt-br/web/html/element/time/index.md
  files/pt-br/web/html/element/track/index.md
  files/pt-br/web/html/global_attributes/index.md
  files/pt-br/web/html/index.md
  files/pt-br/web/http/headers/referrer-policy/index.md
Labels: l10n-pt-br

#16016 fix(pt-BR): correct the incorrect word in the documentation for JavaScript Array.prototype.reduce()
  files/pt-br/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-pt-br

#16287 Update index.md
  files/zh-cn/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: l10n-zh

#16113 [ko]: add index.md for `web/glossary/lossless_compression`
  files/ko/glossary/lossless_compression/index.md
Labels: l10n-ko

#15950 [ko]: add index.md for `web/glossary/etld`
  files/ko/glossary/etld/index.md
Labels: l10n-ko

#16273 [zh-cn] Update 'sending forms through javascript'
  files/zh-cn/learn/forms/sending_forms_through_javascript/index.md
Labels: l10n-zh

#15984 [ko]: add index.md for `web/glossary/first_meaningful_paint`
  files/ko/glossary/first_meaningful_paint/index.md
Labels: l10n-ko

#16001 [ko]: add index.md for `web/glossary/gecko`
  files/ko/glossary/gecko/index.md
Labels: l10n-ko

#15637 ko: update Array.from()
  files/ko/web/javascript/reference/global_objects/array/from/index.md
Labels: l10n-ko

#15949 [ko]: add index.md for `web/glossary/enumerated`
  files/ko/glossary/enumerated/index.md
Labels: l10n-ko

#16181 Web/HTML/Element/rp を更新
  files/ja/web/html/element/rp/index.md
Labels: l10n-ja

#16182 Web/HTML/Element/input/color を更新
  files/ja/web/html/element/input/color/index.md
Labels: l10n-ja

#16183 Web/HTML/Element/rtc を更新
  files/ja/web/html/element/rtc/index.md
Labels: l10n-ja

#16184 Web/HTML/Element/nav を更新
  files/ja/web/html/element/nav/index.md
Labels: l10n-ja

#16196 Sec-Fetch-User ヘッダーの記事を新規翻訳
  files/ja/web/http/headers/sec-fetch-user/index.md
Labels: l10n-ja

#16197 Web/API/Fullscreen_API 以下を更新
  files/ja/web/api/fullscreen_api/guide/index.md
  files/ja/web/api/fullscreen_api/index.md
Labels: l10n-ja

#16199 Fullscreen API の Doucment インターフェイスの記事を更新
  files/ja/web/api/document/exitfullscreen/index.md
  files/ja/web/api/document/fullscreen/index.md
  files/ja/web/api/document/fullscreenchange_event/index.md
  files/ja/web/api/document/fullscreenelement/index.md
  files/ja/web/api/document/fullscreenerror_event/index.md
Labels: l10n-ja

#16203 Document の readyState を更新
  files/ja/web/api/document/readystate/index.md
Labels: l10n-ja

#16205 Learn/CSS/Howto/Highlight_para_after_h1 を更新
  files/ja/learn/css/howto/highlight_para_after_h1/index.md
Labels: l10n-ja

#16227 `fr` - CycleTracker - Initial translation for HTML and CSS chapter
  files/fr/web/progressive_web_apps/tutorials/cycletracker/html_and_css/html.jpg
  files/fr/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Labels: l10n-fr

#15786 Fix #3752 for `fr` - Update `filter` page
  files/fr/web/css/filter/index.md
Labels: l10n-fr

#16088 [ko]: revise index.md for `web/glossary/index.md`
  files/ko/glossary/index.md
Labels: l10n-ko

#16165 [ko]: add index.md for `web/glossary/native`
  files/ko/glossary/native/index.md
Labels: l10n-ko

#16285 [ko]: add index.md for `web/glossary/script-supporting_element`
  files/ko/glossary/script-supporting_element/index.md
Labels: l10n-ko

#15552 [ko]: revise index.md in `web/glossary/adobe_flash`
  files/ko/glossary/adobe_flash/index.md
Labels: l10n-ko

#16289 zh-cn: fix spaces & sync with English version
  files/zh-cn/learn/css/building_blocks/overflowing_content/index.md
Labels: l10n-zh

#15817 [ko]: add index.md for `web/glossary/css_pixel`
  files/ko/glossary/css_pixel/index.md
Labels: l10n-ko

#16008 [ko]: add index.md for `web/glossary/grid`
  files/ko/glossary/grid/index.md
Labels: l10n-ko

#16161 [ko]: add index.md for `web/glossary/namespace`
  files/ko/glossary/namespace/index.md
Labels: l10n-ko

#16232 「ウェブ開発を学ぶ」を更新
  files/ja/learn/index.md
Labels: l10n-ja

#16233 Web/API の記事を更新
  files/ja/web/api/index.md
Labels: l10n-ja

#16234 Web/CSS/image を更新
  files/ja/web/css/image/index.md
Labels: l10n-ja

#16236 Web/HTML/Attributes 以下のファイルを更新
  files/ja/web/html/attributes/accept/index.md
  files/ja/web/html/attributes/autocomplete/index.md
  files/ja/web/html/attributes/capture/index.md
  files/ja/web/html/attributes/crossorigin/index.md
  files/ja/web/html/attributes/disabled/index.md
  files/ja/web/html/attributes/elementtiming/index.md
  files/ja/web/html/attributes/for/index.md
  files/ja/web/html/attributes/index.md
  files/ja/web/html/attributes/max/index.md
  files/ja/web/html/attributes/maxlength/index.md
  files/ja/web/html/attributes/min/index.md
  files/ja/web/html/attributes/minlength/index.md
  files/ja/web/html/attributes/multiple/index.md
  files/ja/web/html/attributes/pattern/index.md
  files/ja/web/html/attributes/readonly/index.md
  files/ja/web/html/attributes/required/index.md
  files/ja/web/html/attributes/size/index.md
  files/ja/web/html/attributes/step/index.md
Labels: l10n-ja

#16293 "See Also" を "See Other" に修正
  files/ja/web/http/headers/location/index.md
Labels: l10n-ja

#16307 fix japanese typo
  files/ja/web/css/using_css_custom_properties/index.md
Labels: l10n-ja

#16249 Firefox 117 for developersを更新
  files/ja/mozilla/firefox/releases/117/index.md
Labels: l10n-ja

#15835 [ko]: add index.md for `web/glossary/color_wheel`
  files/ko/glossary/color_wheel/index.md
Labels: l10n-ko

#15923 [ko]: add index.md for `web/glossary/distributed_denial_of_service`
  files/ko/glossary/distributed_denial_of_service/index.md
Labels: l10n-ko

#15885 [ko]: add index.md for `web/glossary/dmz`
  files/ko/glossary/dmz/index.md
Labels: l10n-ko

#16250 「ウェブ上のリソースの識別」の記事を更新
  files/ja/web/http/basics_of_http/identifying_resources_on_the_web/index.md
Labels: l10n-ja

#15743 fix: 순회자 -> 반복자
  files/ko/web/javascript/reference/iteration_protocols/index.md
Labels: l10n-ko

#15788 [ko]: add index.md for `web/glossary/cryptographic_hash_function`
  files/ko/glossary/cryptographic_hash_function/index.md
Labels: l10n-ko

#15819 [ko]: add index.md for `web/glossary/cssom`
  files/ko/glossary/cssom/index.md
Labels: l10n-ko

#15838 [ko]: add index.md for `web/glossary/composite_operation`
  files/ko/glossary/composite_operation/index.md
Labels: l10n-ko

#15891 [ko]: add files for `web/glossary/dsl`
  files/ko/glossary/dsl/digital_subscriber_line/index.md
  files/ko/glossary/dsl/domain_specific_language/index.md
  files/ko/glossary/dsl/index.md
Labels: l10n-ko

#15869 [ko]: add index.md for `web/glossary/decryption`
  files/ko/glossary/decryption/index.md
Labels: l10n-ko

#15907 [ko]: add index.md for `web/glossary/dos_attack`
  files/ko/glossary/dos_attack/index.md
Labels: l10n-ko

#15931 [ko]: add index.md for `web/glossary/effective_connection_type`
  files/ko/glossary/effective_connection_type/index.md
Labels: l10n-ko

#16134 [ko]: add index.md for `web/glossary/minification`
  files/ko/glossary/minification/index.md
Labels: l10n-ko

#16172 [ko]: add index.md for `web/glossary/non-normative`
  files/ko/glossary/non-normative/index.md
Labels: l10n-ko

#16188 [ko]: add index.md for `web/glossary/page_load_time`
  files/ko/glossary/page_load_time/index.md
Labels: l10n-ko

#16216 [ko]: add index.md for w`web/glossary/presto`
  files/ko/glossary/presto/index.md
Labels: l10n-ko

#16240 [ko]: add index.md for `web/glossary/replay_attack`
  files/ko/glossary/replay_attack/index.md
Labels: l10n-ko

#16258 [ko]: add index.md for `web/glossary/robots.txt`
  files/ko/glossary/robots.txt/index.md
Labels: l10n-ko

#16295 [ko]: add index.md for `web/glossary/second-level_domain`
  files/ko/glossary/second-level_domain/index.md
Labels: l10n-ko

#16324 [ko]: add index.md for `web/glossary/smpte`
  files/ko/glossary/smpte/index.md
Labels: l10n-ko

#16125 [ko]: add index.md for `web/glossary/main_thread`
  files/ko/glossary/main_thread/index.md
Labels: l10n-ko

#16138 [ko]: add index.md for `web/glossary/mobile_first`
  files/ko/glossary/mobile_first/index.md
Labels: l10n-ko

#15569 [ko]: add index.md in `web/glossary/apple_safari`
  files/ko/glossary/apple_safari/index.md
Labels: l10n-ko

#16176 [ko]: add index.md for `web/glossary/openssl`
  files/ko/glossary/openssl/index.md
Labels: l10n-ko

#16251 Firefox 118 for developersを翻訳
  files/ja/mozilla/firefox/releases/118/index.md
Labels: l10n-ja

#16252 「HTTP の圧縮」の記事を更新
  files/ja/web/http/compression/index.md
Labels: l10n-ja

#16253 「HTTP 条件付きリクエスト」を更新
  files/ja/web/http/conditional_requests/index.md
Labels: l10n-ja

#16364 Translate HTTP 4xx status codes
  files/ja/web/http/status/421/index.md
  files/ja/web/http/status/423/index.md
  files/ja/web/http/status/424/index.md
Labels: l10n-ja

#15994 [ko]: revise index.md for `web/glossary/function`
  files/ko/glossary/function/index.md
Labels: l10n-ko

#16327 [ko]: add index.md for `web/glossary/spa`
  files/ko/glossary/spa/index.md
Labels: l10n-ko

#16354 zh-CN: update the translation of CORS
  files/zh-cn/web/http/cors/index.md
Labels: l10n-zh

#16352 zh-cn: update the translation of CSS pixel
  files/zh-cn/glossary/css_pixel/index.md
Labels: l10n-zh

#16378 Update index.md
  files/zh-cn/web/javascript/guide/grammar_and_types/index.md
Labels: l10n-zh

#16334 [fr] Updating HTML <dialog> element - fix #16297
  files/fr/web/html/element/dialog/index.md
Labels: l10n-fr

#16381 fix fulfilled typo
  files/zh-cn/web/javascript/reference/global_objects/promise/any/index.md
Labels: l10n-zh

#16380 [zh-tw]: update CSS grid layout
  files/zh-tw/web/css/css_grid_layout/index.md
Labels: l10n-zh

#16274 「CORS のエラー」の記事を更新
  files/ja/web/http/cors/errors/index.md
Labels: l10n-ja

#16276 Web/HTTP/Overview を更新
  files/ja/web/http/overview/index.md
Labels: l10n-ja

#16277 Web/HTTP/Redirections を更新
  files/ja/web/http/redirections/index.md
Labels: l10n-ja

#16278 MDN/Writing_guidelines/Howto/Write_an_api_reference を更新
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/index.md
Labels: l10n-ja

#16281 Document インターフェイスの記事を更新
  files/ja/web/api/document/index.md
Labels: l10n-ja

#16282 ShadowRoot.activeElement を更新
  files/ja/web/api/shadowroot/activeelement/index.md
Labels: l10n-ja

#16192 [ko]: add index.md for `web/glossary/parent_object`
  files/ko/glossary/parent_object/index.md
Labels: l10n-ko

#16347 [zh-cn]: update the translation of Map overview
  files/zh-cn/web/javascript/reference/global_objects/map/index.md
Labels: l10n-zh

#16268 [ko]: add index.md for `web/glossary/same-origin_policy`
  files/ko/glossary/same-origin_policy/index.md
Labels: l10n-ko

#16315 [ko]: add index.md for `web/glossary/simple_header`
  files/ko/glossary/simple_header/index.md
Labels: l10n-ko

#15540 [ko] Functions/default_parameters 소스 커밋 추가 및 번역 최신화
  files/ko/web/javascript/reference/functions/default_parameters/index.md
Labels: l10n-ko

#15726 [ko]: add files in `web/http/basic_of_http/mime_types`
  files/ko/web/http/basics_of_http/mime_types/common_types/index.md
  files/ko/web/http/basics_of_http/mime_types/index.md
Labels: l10n-ko

#16358 [ko]: add index.md for `web/glossary/stylesheet`
  files/ko/glossary/stylesheet/index.md
Labels: l10n-ko

#16419 [ko]: add index.md for `web/glossary/vendor_prefix`
  files/ko/glossary/vendor_prefix/index.md
Labels: l10n-ko

#16371 [ko]: add index.md for `web/glossary/tcp_handshake`
  files/ko/glossary/tcp_handshake/index.md
Labels: l10n-ko

#16389 [ko]: add index.md for `web/glossary/tofu`
  files/ko/glossary/tofu/index.md
Labels: l10n-ko

#16410 [ko]: add index.md for `web/glossary/unix_time`
  files/ko/glossary/unix_time/index.md
Labels: l10n-ko

#16430 [ko]: add index.md for `web/glossary/webidl`
  files/ko/glossary/webidl/index.md
Labels: l10n-ko

#16429 [ko]: add index.md for `web/glossary/webdav`
  files/ko/glossary/webdav/index.md
Labels: l10n-ko

#16409 [ko]: add index.md for `web/glossary/udp`
  files/ko/glossary/udp/index.md
Labels: l10n-ko

#16440 [ko]: add index.md for `web/glossary/xpath`
  files/ko/glossary/xpath/index.md
Labels: l10n-ko

#16387 [ko]: add index.md for `web/glossary/tld`
  files/ko/glossary/tld/index.md
Labels: l10n-ko

#16369 [ko]: add index.md for `web/glossary/table_wrapper_box`
  files/ko/glossary/table_wrapper_box/index.md
Labels: l10n-ko

#16357 [ko]: add index.md for `web/glossary/stun`
  files/ko/glossary/stun/index.md
Labels: l10n-ko

#16339 [ko]: add index.md for `web/glossary/sri`
  files/ko/glossary/sri/index.md
Labels: l10n-ko

#16323 [ko]: add index.md for `web/glossary/smoke_test`
  files/ko/glossary/smoke_test/index.md
Labels: l10n-ko

#16294 [ko]: add index.md for `web/glossary/search_engine`
  files/ko/glossary/search_engine/index.md
Labels: l10n-ko

#16155 chore: fix url locales
  files/ja/web/api/navigator/ink/index.md
  files/ja/web/api/storage/index.md
  files/ja/web/api/storage/removeitem/index.md
  files/ko/glossary/alpha/index.md
  files/ko/glossary/base64/index.md
  files/ko/glossary/truthy/index.md
  files/ko/web/http/authentication/index.md
  files/ko/web/http/headers/cross-origin-resource-policy/index.md
  files/ko/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/zh-cn/web/javascript/reference/global_objects/number/tostring/index.md
  files/zh-tw/learn/html/howto/index.md
  files/zh-tw/learn/server-side/django/development_environment/index.md
  files/zh-tw/learn/server-side/express_nodejs/mongoose/index.md
  files/zh-tw/learn/server-side/express_nodejs/routes/index.md
  files/zh-tw/mozilla/firefox/releases/3/dom_improvements/index.md
Labels: l10n-ja, l10n-zh, l10n-ko

#16200 [ko]: add index.md for `web/glossary/perceived_performance`
  files/ko/glossary/perceived_performance/index.md
Labels: l10n-ko

#16215 [ko]: add index.md for `web/glossary/prerender`
  files/ko/glossary/prerender/index.md
Labels: l10n-ko

#16224 [ko]: add index.md for `web/glossary/python`
  files/ko/glossary/python/index.md
Labels: l10n-ko

#16239 [ko]: add index.md for `web/glossary/repaint`
  files/ko/glossary/repaint/index.md
Labels: l10n-ko

#16257 [ko]: add index.md for `web/glossary/rng`
  files/ko/glossary/rng/index.md
Labels: l10n-ko

#16171 [ko]: add index.md for `web/glossary/node`
  files/ko/glossary/node/dom/index.md
  files/ko/glossary/node/index.md
  files/ko/glossary/node/networking/index.md
Labels: l10n-ko

#16187 [ko]: add index.md for `web/glossary/packet`
  files/ko/glossary/packet/index.md
Labels: l10n-ko

#16266 [ko]: add index.md for `web/glossary/ruby`
  files/ko/glossary/ruby/index.md
Labels: l10n-ko

#16132 [ko]: add index.md for `web/glossary/mime`
  files/ko/glossary/mime/index.md
Labels: l10n-ko

#16118 [ko]: add index.md for `web/glossary/local_scope`
  files/ko/glossary/local_scope/index.md
Labels: l10n-ko

#16106 [ko]: add index.md for `web/glossary/ltr`
  files/ko/glossary/ltr/index.md
Labels: l10n-ko

#16095 [ko]: add index.md for `web/glossary/irc`
  files/ko/glossary/irc/index.md
Labels: l10n-ko

#16081 [ko]: add index.md for `web/glossary/ide`
  files/ko/glossary/ide/index.md
Labels: l10n-ko

#16055 [ko]: add index.md for `web/glossary/quality_values`
  files/ko/glossary/quality_values/index.md
Labels: l10n-ko

#16023 [ko]: add index.md for `web/glossary/grid_container`
  files/ko/glossary/grid_container/index.md
Labels: l10n-ko

#15852 [ko]: add index.md for `web/glossary/continuous_media`
  files/ko/glossary/continuous_media/index.md
Labels: l10n-ko

#16004 [ko]: add index.md for `web/glossary/global_scope`
  files/ko/glossary/global_scope/index.md
Labels: l10n-ko

#15988 [ko]: add index.md for `web/glossary/fps`
  files/ko/glossary/fps/index.md
Labels: l10n-ko

#15972 [ko]: add index.md for `web/glossary/first_cpu_idle`
  files/ko/glossary/first_cpu_idle/index.md
Labels: l10n-ko

#15955 [ko]: add index.md for `web/http/messages`
  files/ko/web/http/messages/index.md
Labels: l10n-ko

#15940 [ko] document.contentType 번역
  files/ko/web/api/document/contenttype/index.md
Labels: l10n-ko

#16439 [ko]: add index.md for `web/glossary/xlink`
  files/ko/glossary/xlink/index.md
Labels: l10n-ko

#16438 [ko]: add index.md for `web/glossary/xinclude`
  files/ko/glossary/xinclude/index.md
Labels: l10n-ko

#16434 [ko]: add index.md for `web/glossary/windowproxy`
  files/ko/glossary/windowproxy/index.md
Labels: l10n-ko

#16433 [ko]: add index.md for `web/glossary/whitespace`
  files/ko/glossary/whitespace/index.md
Labels: l10n-ko

#16428 [ko]: add index.md for `web/glossary/webassembly`
  files/ko/glossary/webassembly/index.md
Labels: l10n-ko

#16427 [ko]: add index.md for `web/glossary/web_server`
  files/ko/glossary/web_server/index.md
Labels: l10n-ko

#16426 [ko]: add index.md for `web/glossary/web_performance`
  files/ko/glossary/web_performance/index.md
Labels: l10n-ko

#16420 [ko]: add index.md for `web/glossary/visual_viewport`
  files/ko/glossary/visual_viewport/index.md
Labels: l10n-ko

#16441 [ko]: add index.md for `web/glossary/xquery`
  files/ko/glossary/xquery/index.md
Labels: l10n-ko

#16437 [ko]: add index.md for `web/glossary/xforms`
  files/ko/glossary/xforms/index.md
Labels: l10n-ko

#16417 ko: fix typo on `Web/Performance/How_browsers_work`
  files/ko/web/performance/how_browsers_work/index.md
Labels: l10n-ko

#16431 [ko]: add index.md for `web/glossary/webkit`
  files/ko/glossary/webkit/index.md
Labels: l10n-ko

#16416 [ko]: add index.md for `web/glossary/value`
  files/ko/glossary/value/index.md
Labels: l10n-ko

#16415 [ko]: add index.md for `web/glossary/validator`
  files/ko/glossary/validator/index.md
Labels: l10n-ko

#16412 [ko]: add index.md for `web/glossary/usenet`
  files/ko/glossary/usenet/index.md
Labels: l10n-ko

#16404 [ko]: add index.md for `web/glossary/type`
  files/ko/glossary/type/index.md
Labels: l10n-ko

#16403 [ko]: add index.md for `web/glossary/turn`
  files/ko/glossary/turn/index.md
Labels: l10n-ko

#16401 [ko]: add index.md for `web/glossary/trident`
  files/ko/glossary/trident/index.md
Labels: l10n-ko

#16391 [ko]: add index.md for `web/glossary/top_layer`
  files/ko/glossary/top_layer/index.md
Labels: l10n-ko

#16386 [ko]: add index.md for `web/glossary/time_to_interactive`
  files/ko/glossary/time_to_interactive/index.md
Labels: l10n-ko

#16385 [ko]: add index.md for `web/glossary/time_to_first_byte`
  files/ko/glossary/time_to_first_byte/index.md
Labels: l10n-ko
