Repository mdn/translated-content, pull requests merged in 2023-04, with the labels that each got.

#12441 [ja] `Promise.prototype.finally()`メソッドの解説文章を修正：「88の値で拒否されるプロミス」を「88の値で履行されるプロミス」に修正
  files/ja/web/javascript/reference/global_objects/promise/finally/index.md
Labels: l10n-ja

#12429 Translate the top page for File System Access API
  files/ja/web/api/file_system_access_api/index.md
Labels: l10n-ja

#12472 [zh-cn] update main_features of client side javascript frameworks
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/main_features/index.md
Labels: l10n-zh

#12481 [zh-cn]: New translation of `Array.group()`
  files/zh-cn/web/javascript/reference/global_objects/array/every/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/group/index.md
Labels: l10n-zh

#12490 [zh-cn] finish translation of automated_testing
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: l10n-zh

#12483 zh-cn: sync content for css/apperance
  files/zh-cn/web/css/appearance/index.md
Labels: l10n-zh

#12499 zh-CN: Translate `resize`
  files/zh-cn/web/css/resize/index.md
Labels: l10n-zh

#12500 [zh-cn] update window.scrollBy
  files/zh-cn/web/api/window/scrollby/index.md
Labels: l10n-zh

#12471 zh-tw: sync with english version for Array.of()
  files/zh-tw/web/javascript/reference/global_objects/array/of/index.md
Labels: l10n-zh

#12489 zh-cn(fix): Avoid inline callback syntax in syntax boxes
  files/zh-cn/web/javascript/reference/global_objects/array/@@species/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/array/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/filter/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlast/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/from/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/includes/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/indexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/isarray/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/map/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/push/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduce/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduceright/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reverse/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/shift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/some/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tostring/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/unshift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.md
  files/zh-cn/web/javascript/reference/global_objects/map/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/catch/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/finally/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/then/index.md
  files/zh-cn/web/javascript/reference/global_objects/set/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/every/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/fill/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/find/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/from/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/includes/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/indexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/join/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/lastindexof/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/length/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/map/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/of/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/reverse/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/set/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/slice/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/some/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/subarray/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/tostring/index.md
Labels: l10n-zh

#12498 zh-CN: Translate "Logical properties for margins, borders, and padding"
  files/zh-cn/web/css/css_logical_properties/margins_borders_padding/index.md
Labels: l10n-zh

#12507 zh-CN: Translate "Logical properties for sizing"
  files/zh-cn/web/css/css_logical_properties/sizing/index.md
Labels: l10n-zh

#12510 zh-CN: Translate `-webkit-text-fill-color`
  files/zh-cn/web/css/-webkit-text-fill-color/index.md
Labels: l10n-zh

#12508 [zh-cn] align web_mechanics with EN version
  files/zh-cn/learn/common_questions/design_and_accessibility/index.md
  files/zh-cn/learn/common_questions/index.md
  files/zh-cn/learn/common_questions/tools_and_setup/index.md
  files/zh-cn/learn/common_questions/web_mechanics/index.md
Labels: l10n-zh

#12513 zh-CN: Translate `-webkit-text-stroke-*`; sync `-webkit-text-stroke` with en-US
  files/zh-cn/web/css/-webkit-text-stroke-color/index.md
  files/zh-cn/web/css/-webkit-text-stroke-width/index.md
  files/zh-cn/web/css/-webkit-text-stroke/index.md
Labels: l10n-zh

#12515 zh-CN: Sync `-webkit-line-clamp` with en-US
  files/zh-cn/web/css/-webkit-line-clamp/index.md
Labels: l10n-zh

#12517 zh-CN: Localize the `-webkit-line-clamp` example
  files/zh-cn/web/css/-webkit-line-clamp/index.md
Labels: l10n-zh

#12518 Update index.md
  files/zh-cn/mozilla/add-ons/webextensions/content_security_policy/index.md
Labels: l10n-zh

#12501 ci: use `.nvmrc` for setup-node versions
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_markdownlint.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#12520 Update index.md
  files/zh-cn/glossary/iife/index.md
Labels: l10n-zh

#12522 zh-CN: update terminate translate
  files/zh-cn/web/api/worker/terminate/index.md
Labels: l10n-zh

#12449 Web/JavaScript/Reference/Statements/for...of を更新
  files/ja/web/javascript/reference/statements/for...of/index.md
Labels: l10n-ja

#12458 Fix MediaDevices.getUserMedia()
  files/ja/web/api/mediadevices/getusermedia/index.md
Labels: l10n-ja

#12439 Fix typo
  files/ja/web/api/window/scroll/index.md
Labels: l10n-ja

#12506 Translate PeriodicWave
  files/ja/web/api/periodicwave/index.md
  files/ja/web/api/periodicwave/periodicwave/index.md
Labels: l10n-ja

#12480 Translate FileSystemFileHandle
  files/ja/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/ja/web/api/filesystemfilehandle/createwritable/index.md
  files/ja/web/api/filesystemfilehandle/getfile/index.md
  files/ja/web/api/filesystemfilehandle/index.md
Labels: l10n-ja

#12523 [ko] checking_when_a_deadline_is_due
  files/ko/web/api/indexeddb_api/checking_when_a_deadline_is_due/index.md
  files/ko/web/api/indexeddb_api/checking_when_a_deadline_is_due/to-do-app-form2.png
  files/ko/web/api/indexeddb_api/checking_when_a_deadline_is_due/to-do-app.png
Labels: l10n-ko

#12453 es: Translate unstranlsated paragraphs
  files/es/learn/common_questions/web_mechanics/what_are_hyperlinks/index.md
  files/es/learn/css/building_blocks/fundamental_css_comprehension/index.md
  files/es/learn/css/first_steps/styling_a_biography_page/index.md
  files/es/learn/css/howto/index.md
  files/es/learn/forms/test_your_skills_colon__html5_controls/index.md
  files/es/learn/html/introduction_to_html/structuring_a_page_of_content/index.md
  files/es/learn/html/introduction_to_html/test_your_skills_colon__advanced_html_text/index.md
  files/es/learn/javascript/asynchronous/index.md
  files/es/learn/javascript/first_steps/test_your_skills_colon__math/index.md
  files/es/learn/performance/index.md
Labels: l10n-es

#12546 [zh-cn]: update import by script content of vue@3
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
Labels: l10n-zh

#12544 [zh-cn]: translate TextMetrics examples
  files/zh-cn/web/api/textmetrics/index.md
Labels: l10n-zh

#12470 zh-cn: sync content for animation-name
  files/zh-cn/web/css/animation-name/index.md
Labels: l10n-zh

#12516 [zh-cn] update indexed collections
  files/zh-cn/web/javascript/guide/indexed_collections/index.md
Labels: l10n-zh

#12521 [zh-CN] update `Sizing items in CSS`
  files/zh-cn/learn/css/building_blocks/sizing_items_in_css/index.md
Labels: l10n-zh

#12503 [zh-cn]: New translation of Array.groupToMap()
  files/zh-cn/web/javascript/reference/global_objects/array/grouptomap/index.md
Labels: l10n-zh

#12430 update yari-content-ko team
  PEERS_GUIDELINES.md
  docs/ko/guides/organizer-guide.md
Labels: l10n-ko

#12473 Web/Performance/Animation_performance_and_frame_rate を新規翻訳
  files/ja/web/performance/animation_performance_and_frame_rate/css-rendering-waterfall.png
  files/ja/web/performance/animation_performance_and_frame_rate/index.md
  files/ja/web/performance/animation_performance_and_frame_rate/layout-faint.png
  files/ja/web/performance/animation_performance_and_frame_rate/layout.png
  files/ja/web/performance/animation_performance_and_frame_rate/paint-faint.png
  files/ja/web/performance/animation_performance_and_frame_rate/paint.png
  files/ja/web/performance/animation_performance_and_frame_rate/recalculate-style.png
Labels: l10n-ja

#12478 es: Add screen_capture_api page
  files/es/web/api/screen_capture_api/index.md
Labels: l10n-es

#12512 init translation of `Window.showOpenFilePicker()`
  files/zh-cn/web/api/window/showopenfilepicker/index.md
Labels: l10n-zh

#12556 [zh-cn] fix proxy_auto-configuration_pac_file
  files/zh-cn/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
Labels: l10n-zh

#12550 Update regexp/exec/index.md
  files/zh-cn/web/javascript/reference/global_objects/regexp/exec/index.md
Labels: l10n-zh

#12547 [zh-cn]: fix links in Canvas Api
  files/zh-cn/web/api/canvas_api/tutorial/finale/index.md
  files/zh-cn/web/api/canvas_api/tutorial/index.md
  files/zh-cn/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/zh-cn/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
Labels: l10n-zh

#12554 add a link to examples
  files/zh-cn/web/http/proxy_servers_and_tunneling/index.md
Labels: l10n-zh

#12561 Update index.md
  files/zh-cn/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: l10n-zh

#12502 Translate FileSystemWritableFileStream
  files/ja/web/api/filesystemwritablefilestream/index.md
  files/ja/web/api/filesystemwritablefilestream/seek/index.md
  files/ja/web/api/filesystemwritablefilestream/truncate/index.md
  files/ja/web/api/filesystemwritablefilestream/write/index.md
Labels: l10n-ja

#12537 Web/API/WebXR_Device_API/Rendering を更新
  files/ja/web/api/webxr_device_api/rendering/index.md
Labels: l10n-ja

#12555 Translate AudioNode
  files/ja/web/api/audionode/index.md
Labels: l10n-ja

#12565 missing links to download files
  files/fr/learn/html/tables/structuring_planet_data/index.md
Labels: l10n-fr

#12495 [fr] fix css code snippet closure
  files/fr/web/css/specificity/index.md
Labels: l10n-fr

#12504 Translate pages for ScriptProcessorNode
  files/ja/web/api/scriptprocessornode/audioprocess_event/index.md
  files/ja/web/api/scriptprocessornode/buffersize/index.md
Labels: l10n-ja

#8425 Translation of index.md into russian
  files/ru/web/css/@supports/index.md
Labels: l10n-ru

#12164 Amélioration de l'example de l'élément footer
  files/fr/web/html/element/footer/index.md
Labels: l10n-fr

#12594 Typofix/clarification for `webRequest.BlockingResponse`
  files/fr/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Labels: l10n-fr

#12589 Correct French sentence for :first-child use
  files/fr/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
Labels: l10n-fr

#12563 zh-cn(update): Array.from
  files/zh-cn/web/javascript/reference/global_objects/array/from/index.md
Labels: l10n-zh

#12591 zh-CN: update Blob.stream
  files/zh-cn/web/api/blob/stream/index.md
Labels: l10n-zh

#12549 Update index.md
  files/zh-cn/web/javascript/reference/template_literals/index.md
Labels: l10n-zh

#12588 [zh-cn] update html_in_xmlhttprequest
  files/zh-cn/web/api/xmlhttprequest/html_in_xmlhttprequest/index.md
Labels: l10n-zh

#12599 zh-cn(translate): navigator-webgpu
  files/zh-cn/web/api/navigator/gpu/index.md
  files/zh-cn/web/api/workernavigator/gpu/index.md
Labels: l10n-zh

#12527 Translate AudioContext methods
  files/ja/web/api/audiocontext/createmediastreamtracksource/index.md
  files/ja/web/api/audiocontext/getoutputtimestamp/index.md
  files/ja/web/api/audiocontext/setsinkid/index.md
Labels: l10n-ja

#12604 EventTarget.dispatchEvent(): fix link
  files/ja/web/api/eventtarget/dispatchevent/index.md
Labels: l10n-ja

#12539 Web/API/Media_Session_API を新規翻訳
  files/ja/web/api/media_session_api/index.md
Labels: l10n-ja

#12397 chore: remove `mediawiki.external` macro from pt-BR
  files/pt-br/learn/javascript/client-side_web_apis/manipulating_documents/index.md
  files/pt-br/mozilla/firefox/releases/3/index.md
Labels: l10n-pt-br

#12359 [pt-BR] improve parameter description
  files/pt-br/web/javascript/reference/global_objects/regexp/test/index.md
Labels: l10n-pt-br

#12317 translation of some parts of the text
  files/pt-br/learn/server-side/express_nodejs/skeleton_website/index.md
Labels: l10n-pt-br

#12316 Update index.md
  files/pt-br/web/http/cookies/index.md
Labels: l10n-pt-br

#12528 Fixes #12476
  files/pt-br/web/http/headers/x-frame-options/index.md
Labels: l10n-pt-br

#12540 Correção de typos nas palavras "início" e "serão"
  files/pt-br/web/css/flex-direction/index.md
Labels: l10n-pt-br

#12596 Added the link to the glossary of "protocol"
  files/pt-br/glossary/tls/index.md
Labels: l10n-pt-br

#12609 fix(ko): error on EmbedLiveSample of scissor animation
  files/ko/web/api/webgl_api/by_example/scissor_animation/index.md
Labels: l10n-ko

#12587 zh-cn: sync content for :invalid pseudo class
  files/zh-cn/web/css/_colon_invalid/index.md
Labels: l10n-zh

#12603 [zh-cn] update text-transform
  files/zh-cn/web/css/text-transform/index.md
Labels: l10n-zh

#12386 [ko] JavaScript: Atomics.exchange, compareExchange 추가
  files/ko/web/javascript/reference/global_objects/atomics/compareexchange/index.md
  files/ko/web/javascript/reference/global_objects/atomics/exchange/index.md
Labels: l10n-ko

#12398 Add MouseEvent
  files/ko/web/api/element/click_event/index.md
  files/ko/web/api/mouseevent/index.md
Labels: l10n-ko

#12559 [ko] JavaScript: Atomics.notify, wait() 추가
  files/ko/web/javascript/reference/global_objects/atomics/notify/index.md
  files/ko/web/javascript/reference/global_objects/atomics/wait/index.md
Labels: l10n-ko

#12619 [zh-cn] update guide woff
  files/zh-cn/web/guide/woff/index.md
Labels: l10n-zh

#12551 Improve Web Audio API page
  files/ja/web/api/web_audio_api/index.md
Labels: l10n-ja

#12552 Translate MediaStreamAudioSourceNode
  files/ja/web/api/mediastreamaudiosourcenode/index.md
  files/ja/web/api/mediastreamaudiosourcenode/mediastream/index.md
  files/ja/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.md
Labels: l10n-ja

#12525 [ko] Add translation of ko/web/api/indexeddb_api/basic_terminology
  files/ko/web/api/indexeddb_api/basic_terminology/index.md
Labels: l10n-ko

#12541 Web/API/navigator/mediaSession を新規翻訳
  files/ja/web/api/navigator/mediasession/index.md
Labels: l10n-ja

#12610 Related を更新
  files/ja/related/index.md
Labels: l10n-ja

#12615 コメントの訳を一部分かりやすく修正する
  files/ja/web/api/indexeddb_api/using_indexeddb/index.md
Labels: l10n-ja

#12633 L'ajout de live sample à l'élément HTML <a>
  files/fr/web/html/element/a/index.md
Labels: l10n-fr

#12628 Web/CSS/-webkit-text-stroke を更新
  files/ja/web/css/-webkit-text-stroke/index.md
Labels: l10n-ja

#12602 [zh-cn]: Update the translation of Array.
  files/zh-cn/web/javascript/reference/global_objects/array/index.md
Labels: l10n-zh

#12622 [zh-cn/chore] link cleanup
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/zh-cn/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/zh-cn/games/tutorials/index.md
  files/zh-cn/glossary/bidi/index.md
  files/zh-cn/glossary/certified/index.md
  files/zh-cn/glossary/csrf/index.md
  files/zh-cn/glossary/css/index.md
  files/zh-cn/glossary/domain_name/index.md
  files/zh-cn/glossary/ftp/index.md
  files/zh-cn/glossary/html/index.md
  files/zh-cn/glossary/mvc/index.md
Labels: l10n-zh

#12641 correct markdown synax
  files/zh-cn/web/javascript/guide/functions/index.md
Labels: l10n-zh

#12640 fix typo for mediasession page
  files/zh-cn/web/api/mediasession/index.md
Labels: l10n-zh

#12451 Update Window
  files/ko/web/api/window/index.md
Labels: l10n-ko

#12645 [ko] add glossary encoding decoding
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

#12487 [ko] fix img src
  files/ko/web/api/window/alert/index.md
  files/ko/web/api/window/confirm/index.md
Labels: l10n-ko

#12560 Update index.md
  files/ko/learn/javascript/objects/json/index.md
Labels: l10n-ko

#12646 [zh-cn] update htmlelement.innertext
  files/zh-cn/web/api/htmlelement/innertext/index.md
Labels: l10n-zh

#12571 Learn/JavaScript/Objects を更新
  files/ja/learn/javascript/objects/index.md
Labels: l10n-ja

#12574 Learn/JavaScript/Objects/Object-oriented_programming を新規翻訳
  files/ja/learn/javascript/objects/object-oriented_programming/index.md
Labels: l10n-ja

#12575 Learn/JavaScript/Objects/Classes_in_JavaScript を更新
  files/ja/learn/javascript/objects/classes_in_javascript/index.md
Labels: l10n-ja

#12577 Learn/JavaScript/Objects/Object_building_practice を更新
  files/ja/learn/javascript/objects/object_building_practice/index.md
Labels: l10n-ja

#12592 Learn/JavaScript/Objects/Adding_bouncing_balls_features を更新
  files/ja/learn/javascript/objects/adding_bouncing_balls_features/index.md
Labels: l10n-ja

#12624 Translate ChannelSplitterNode
  files/ja/web/api/channelsplitternode/channelsplitternode/index.md
  files/ja/web/api/channelsplitternode/index.md
Labels: l10n-ja

#12620 [zh-cn] update ajax/getting_started
  files/zh-cn/web/guide/ajax/getting_started/index.md
Labels: l10n-zh

#12616 Added missing space, code/bolded second method mention
  files/pt-br/web/javascript/reference/global_objects/array/shift/index.md
Labels: l10n-pt-br

#12657 `&&=` zh-CN document correction
  files/zh-cn/web/javascript/reference/operators/logical_and_assignment/index.md
Labels: l10n-zh

#12650 zh-cn: Translate `Vue_computed_properties`
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_computed_properties/index.md
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
Labels: l10n-zh

#12659 Ensure bold is displayed correctly and proofread the translation.
  files/zh-cn/web/api/selection/tostring/index.md
Labels: l10n-zh

#12665 typo: `比胜` => `必胜`
  files/zh-cn/web/css/specificity/index.md
Labels: l10n-zh

#12631 fix(ko): error on EmbedLiveSample of adding z-index
  files/ko/web/css/css_positioning/understanding_z_index/adding_z-index/index.md
Labels: l10n-ko

#12576 Learn/JavaScript/Objects/JSON を更新
  files/ja/learn/javascript/howto/index.md
  files/ja/learn/javascript/objects/json/index.md
  files/ja/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: l10n-ja

#12597 Web/HTML/Element/article を更新
  files/ja/web/html/element/article/index.md
Labels: l10n-ja

#12647 zh-cn: sync with english version for `color-scheme`
  files/zh-cn/web/css/color-scheme/index.md
Labels: l10n-zh

#12658 [zh-cn] update window.requestAnimationFrame
  files/zh-cn/web/api/window/requestanimationframe/index.md
Labels: l10n-zh

#12660 Wrong HTML example #12542
  files/fr/web/api/element/getattribute/index.md
Labels: l10n-fr

#12643 Quelques macros manquantes sont ajoutées
  files/fr/web/html/element/abbr/index.md
  files/fr/web/html/element/acronym/index.md
  files/fr/web/html/element/address/index.md
  files/fr/web/html/element/applet/index.md
  files/fr/web/html/element/area/index.md
  files/fr/web/html/element/article/index.md
  files/fr/web/html/element/aside/index.md
Labels: l10n-fr

#12666 Typofix on `X-Content-Type-Options`
  files/fr/web/http/headers/x-content-type-options/index.md
Labels: l10n-fr

#12677 ZH-CN update broken link
  files/zh-cn/web/javascript/index.md
Labels: l10n-zh

#12600 zh-cn(fix-partof): svg-marker
  files/zh-cn/web/svg/element/marker/index.md
Labels: l10n-zh

#12679 ZH-CN update with the corrected JS example issue#12664
  files/zh-cn/web/web_components/using_templates_and_slots/index.md
Labels: l10n-zh

#12676 zh-CN: update transilation of Blob.type
  files/zh-cn/web/api/blob/type/index.md
Labels: l10n-zh

#12684 zh-cn(fix): replace chinese of usage notes
  files/zh-cn/web/api/crypto/index.md
  files/zh-cn/web/api/event/returnvalue/index.md
  files/zh-cn/web/api/htmlaudioelement/audio/index.md
  files/zh-cn/web/api/notification/renotify/index.md
  files/zh-cn/web/api/setinterval/index.md
  files/zh-cn/web/api/window/unhandledrejection_event/index.md
  files/zh-cn/web/html/element/blockquote/index.md
  files/zh-cn/web/html/element/dialog/index.md
  files/zh-cn/web/html/element/div/index.md
  files/zh-cn/web/html/element/hgroup/index.md
  files/zh-cn/web/html/element/menu/index.md
  files/zh-cn/web/html/element/ol/index.md
  files/zh-cn/web/html/element/tbody/index.md
Labels: l10n-zh

#12680 [zh-cn] update radicalgradient
  files/zh-cn/web/svg/element/radialgradient/index.md
Labels: l10n-zh

#12608 Fixed typos in Japanese content
  files/ja/webassembly/c_to_wasm/index.md
Labels: l10n-ja

#12613 Fix a link on AudioNode
  files/ja/web/api/audionode/index.md
Labels: l10n-ja

#12617 Translate GainNode
  files/ja/web/api/gainnode/gain/index.md
  files/ja/web/api/gainnode/gainnode/index.md
  files/ja/web/api/gainnode/index.md
Labels: l10n-ja

#12687 [zh-cn] update operators/delete
  files/zh-cn/web/javascript/reference/operators/delete/index.md
Labels: l10n-zh

#10650 exemple sur la boucle while
  files/fr/web/javascript/reference/statements/while/index.md
Labels: l10n-fr

#10996 locate images of the rotating earth,sun and moon
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_earth.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_moon.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/canvas_sun.png
  files/fr/web/api/canvas_api/tutorial/basic_animations/capitan_meadows_yosemite_national_park.jpg
Labels: l10n-fr

#12686 zh-cn: sync with en-US version for `will-change`
  files/zh-cn/web/css/will-change/index.md
Labels: l10n-zh

#12683 add common translation item `Usage notes`
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#12663 zh-cn(translate): webgpu
  files/zh-cn/web/api/webgpu_api/index.md
Labels: l10n-zh

#12654 Web/HTTP/Headers/Clear-Site-Data を更新
  files/ja/web/http/headers/clear-site-data/index.md
Labels: l10n-ja

#12606 fix(ko): restore missing fragment that migrated from SectionOnPage
  files/ko/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/ko/mdn/community/contributing/getting_started/index.md
  files/ko/web/api/htmlselectelement/selectedoptions/index.md
  files/ko/web/api/mediadevices/index.md
  files/ko/web/api/rtcpeerconnection/addtrack/index.md
  files/ko/web/api/rtcpeerconnection/createanswer/index.md
  files/ko/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/ko/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/ko/web/api/rtcpeerconnection/localdescription/index.md
  files/ko/web/api/rtcpeerconnection/restartice/index.md
  files/ko/web/api/rtcpeerconnection/setlocaldescription/index.md
  files/ko/web/css/css_colors/applying_color/index.md
  files/ko/web/html/element/input/index.md
  files/ko/web/media/formats/codecs_parameter/index.md
Labels: l10n-ko

#12685 The Chinese translation of Vue's conditional rendering
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_conditional_rendering/index.md
Labels: l10n-zh

#12700 zh-CN: Translate `contain-intrinsic-*`
  files/zh-cn/web/css/contain-intrinsic-height/index.md
  files/zh-cn/web/css/contain-intrinsic-inline-size/index.md
  files/zh-cn/web/css/contain-intrinsic-size/index.md
  files/zh-cn/web/css/contain-intrinsic-width/index.md
Labels: l10n-zh

#12702 zh-CN: Update terms for the logical `padding-*` properties
  files/zh-cn/web/css/padding-block-end/index.md
  files/zh-cn/web/css/padding-block-start/index.md
  files/zh-cn/web/css/padding-block/index.md
  files/zh-cn/web/css/padding-inline-end/index.md
  files/zh-cn/web/css/padding-inline-start/index.md
  files/zh-cn/web/css/padding-inline/index.md
Labels: l10n-zh

#12707 Add common translation for 'Active learning'
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#12558 [zh-cn]: New translation of Array.fromAsync()
  files/zh-cn/web/javascript/reference/global_objects/array/fromasync/index.md
Labels: l10n-zh

#12695 Modification des exemples
  files/fr/web/html/element/b/index.md
  files/fr/web/html/element/bdo/index.md
  files/fr/web/html/element/blockquote/index.md
  files/fr/web/html/element/body/index.md
  files/fr/web/html/element/br/index.md
Labels: l10n-fr

#11922 Learning Area - React guides - translations
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
Labels: l10n-fr

#12696 [zh-cn] update tables/advanced
  files/zh-cn/learn/html/tables/advanced/index.md
Labels: l10n-zh

#12016 fr: Replaced `{{HTMLRefTable}}` with markdown table
  files/fr/web/html/element/index.md
Labels: l10n-fr

#12714 zh-cn: sync with en-US version for `aspect-ratio`
  files/zh-cn/web/css/aspect-ratio/index.md
Labels: l10n-zh

#12625 Translate AudioParamMap
  files/ja/web/api/audioparammap/index.md
Labels: l10n-ja

#12656 Web/HTTP/Headers/DNT を更新
  files/ja/web/api/webgl_color_buffer_float/index.md
Labels: l10n-ja

#12673 Update index.md (Fetch API)
  files/ja/web/api/fetch/index.md
Labels: l10n-ja

#12732 Update How_does_the_Internet_work
  files/ru/learn/common_questions/web_mechanics/how_does_the_internet_work/index.md
Labels: l10n-ru

#12733 Update index.md
  files/ru/web/api/element/queryselectorall/index.md
Labels: l10n-ru

#12638 chore(ru): remove `{{HTMLVersionInline}}` macro
  files/ru/web/api/htmlbuttonelement/index.md
  files/ru/web/api/htmlinputelement/index.md
  files/ru/web/html/block-level_elements/index.md
  files/ru/web/html/element/a/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/html/element/button/index.md
  files/ru/web/html/element/fieldset/index.md
  files/ru/web/html/element/form/index.md
  files/ru/web/html/element/input/image/index.md
  files/ru/web/html/element/input/index.md
  files/ru/web/html/element/label/index.md
  files/ru/web/html/element/script/index.md
  files/ru/web/html/element/select/index.md
  files/ru/web/html/element/tfoot/index.md
Labels: l10n-ru

#12019 ru: Replaced `{{HTMLRefTable}}` with markdown table
  files/ru/web/html/element/index.md
Labels: l10n-ru

#12735 [ru] input/datetime-local: fix live sample
  files/ru/web/html/element/input/datetime-local/index.md
Labels: l10n-ru

#12734 Macro manquante insérée
  files/fr/web/html/element/button/index.md
Labels: l10n-fr

#12713 Fix typo introduced in #11975
  files/fr/web/api/fetch/index.md
Labels: l10n-fr

#12723 zh-CN: Update term for `@media/overflow-*`
  files/zh-cn/web/css/@media/overflow-block/index.md
  files/zh-cn/web/css/@media/overflow-inline/index.md
  files/zh-cn/web/css/overflow-block/index.md
Labels: l10n-zh
