Repository mdn/translated-content, pull requests merged in 2023-05, with the labels that each got.

#13061 [zh-cn]: update pseudo elements
  files/zh-cn/web/css/pseudo-elements/index.md
Labels: l10n-zh

#13063 [zh-cn] make sidebar correct
  files/zh-cn/web/css/css_colors/applying_color/index.md
Labels: l10n-zh

#13056 [zh-cn] update setTimeout API
  files/zh-cn/web/api/settimeout/index.md
Labels: l10n-zh

#13064 update translation of slice
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.md
Labels: l10n-zh

#13053 html rel tag 오타 수정
  files/ko/web/html/attributes/rel/index.md
Labels: l10n-ko

#12870 Update Window
  files/ko/web/api/window/index.md
Labels: l10n-ko

#12916 Update sendBeacon()
  files/ko/web/api/navigator/sendbeacon/index.md
Labels: l10n-ko

#12351 [ko] JavaScript: Set.@@iterator, Symbol.search 추가
  files/ko/web/javascript/reference/global_objects/set/@@iterator/index.md
  files/ko/web/javascript/reference/global_objects/symbol/search/index.md
Labels: l10n-ko

#12661 [ko-KR] edit wrong expression for delay
  files/ko/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
Labels: l10n-ko

#12712 [ko] fix typo on page-report-ko.yml of issue template for korean
  .github/ISSUE_TEMPLATE/page-report-ko.yml
Labels: l10n-ko, system

#13013 Web/JavaScript/Reference/Statements/label を更新
  files/ja/web/javascript/reference/statements/label/index.md
Labels: l10n-ja

#13016 Web/JavaScript/Reference/Statements/return を更新
  files/ja/web/javascript/reference/statements/return/index.md
Labels: l10n-ja

#13017 Web/JavaScript/Reference/Statements/switch を更新
  files/ja/web/javascript/reference/statements/switch/index.md
Labels: l10n-ja

#13057 [ja] Fix typo: String.prototype.localeCompare() example comment
  files/ja/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: l10n-ja

#13018 Web/JavaScript/Reference/Statements/throw を更新
  files/ja/web/javascript/reference/statements/throw/index.md
Labels: l10n-ja

#13058 Missing Interact Example
  files/pt-br/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/pt-br/web/html/element/details/index.md
  files/pt-br/web/javascript/reference/global_objects/array/map/index.md
Labels: l10n-pt-br

#13073 [zh-cn]：fix issue#13066 and update translation of Object.hasOwn
  files/zh-cn/web/javascript/reference/global_objects/object/hasown/index.md
Labels: l10n-zh

#13023 [zh-cn] update font-size translation
  files/zh-cn/web/css/font-size/index.md
Labels: l10n-zh

#12995 update the translation of `Array.tolocalestring()`
  files/zh-cn/web/javascript/reference/global_objects/array/tolocalestring/index.md
Labels: l10n-zh

#13075 [zh-cn] fix broken link
  files/zh-cn/learn/css/building_blocks/selectors/attribute_selectors/index.md
Labels: l10n-zh

#13039 Suppression de chaines de charactère dans les macros
  files/fr/web/html/element/summary/index.md
  files/fr/web/html/element/sup/index.md
Labels: l10n-fr

#13065 [zh-cn] update howto/page operation
  files/zh-cn/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: l10n-zh

#13081 [fr] Fixed link to the 'content' meta attribute
  files/fr/web/html/element/meta/name/theme-color/index.md
Labels: l10n-fr

#13082 Fix XPath sample
  files/fr/web/xpath/functions/translate/index.md
Labels: l10n-fr

#13080 La traduction d`une phrase modifiée
  files/fr/learn/css/building_blocks/sizing_items_in_css/index.md
Labels: l10n-fr

#13044 Translated to Spanish the page about Range HTTP header
  files/es/web/http/headers/range/index.md
Labels: l10n-es

#13029 Web/JavaScript/Reference/Statements/try...catch を更新
  files/ja/web/javascript/reference/statements/try...catch/index.md
Labels: l10n-ja

#13030 Web/JavaScript/Reference/Statements/var を更新
  files/ja/web/javascript/reference/statements/var/index.md
Labels: l10n-ja

#13095 zh-CN: Translate `<alpha-value>`
  files/zh-cn/web/css/alpha-value/index.md
Labels: l10n-zh

#13084 chore(zh-cn): link cleanup for github repo links
  files/zh-cn/learn/accessibility/multimedia/index.md
  files/zh-cn/learn/accessibility/wai-aria_basics/index.md
  files/zh-cn/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/zh-cn/learn/forms/styling_web_forms/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/test_your_skills_colon__multimedia_and_embedding/index.md
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/zh-cn/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/zh-cn/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/zh-cn/mdn/community/learn_forum/index.md
  files/zh-cn/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/zh-cn/mozilla/add-ons/webextensions/content_scripts/index.md
  files/zh-cn/mozilla/add-ons/webextensions/examples/index.md
  files/zh-cn/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/zh-cn/mozilla/add-ons/webextensions/internationalization/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/zh-cn/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/zh-cn/mozilla/add-ons/webextensions/native_messaging/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/browser_action/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/zh-cn/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
  files/zh-cn/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/zh-cn/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/zh-cn/web/api/abortcontroller/abort/index.md
  files/zh-cn/web/api/abortcontroller/abortcontroller/index.md
  files/zh-cn/web/api/abortcontroller/index.md
  files/zh-cn/web/api/abortcontroller/signal/index.md
  files/zh-cn/web/api/abortsignal/index.md
  files/zh-cn/web/api/audiobuffer/index.md
  files/zh-cn/web/api/audiocontext/createmediaelementsource/index.md
  files/zh-cn/web/api/audiocontext/createmediastreamsource/index.md
  files/zh-cn/web/api/baseaudiocontext/listener/index.md
  files/zh-cn/web/api/channel_messaging_api/index.md
  files/zh-cn/web/api/channel_messaging_api/using_channel_messaging/index.md
  files/zh-cn/web/api/customelementregistry/define/index.md
  files/zh-cn/web/api/customelementregistry/index.md
  files/zh-cn/web/javascript/guide/modules/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/index.md
  files/zh-cn/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/introduction/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/loading/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
Labels: l10n-zh

#13072 [zh-cn]: Update translation of Array.some()
  files/zh-cn/web/javascript/reference/global_objects/array/some/index.md
Labels: l10n-zh

#13067 zh-CN: Translate CSS exponential functions
  files/zh-cn/web/css/exp/index.md
  files/zh-cn/web/css/log/index.md
  files/zh-cn/web/css/pow/index.md
  files/zh-cn/web/css/sqrt/index.md
Labels: l10n-zh

#13020 (l10n-enES) Undefined: Removed English comment, added minor explanation
  files/es/web/javascript/reference/global_objects/undefined/index.md
Labels: l10n-es

#12981 zh-CN: Update the translation of `right shift`
  files/zh-cn/web/javascript/reference/operators/right_shift/index.md
Labels: l10n-zh

#13106 Update "Using the Web Animations API" Chinese translation
  files/zh-cn/web/api/web_animations_api/using_the_web_animations_api/index.md
Labels: l10n-zh

#13105 [zh-cn]: Update translation of Array.values()
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.md
Labels: l10n-zh

#13079 update translation of sort
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
Labels: l10n-zh

#13077 update the translation of `Array.splice()`
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-zh

#13109 [zh-cn]: Fix the broken link
  files/zh-cn/web/html/element/input/range/index.md
Labels: l10n-zh

#13113 [zh-tw]fix: typo
  files/zh-tw/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: l10n-zh

#13119 Update index.md
  files/zh-cn/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: l10n-zh

#13120 [zh-cn]: fix format
  files/zh-cn/web/api/webglrenderingcontext/uniform/index.md
Labels: l10n-zh

#13117 [ja] Fix typo
  files/ja/learn/javascript/first_steps/strings/index.md
Labels: l10n-ja

#13122 Update index.md
  files/zh-cn/learn/css/building_blocks/selectors/combinators/index.md
Labels: l10n-zh

#13107 [zh-cn] update deprecated_and_obsolete_features
  files/zh-cn/web/javascript/reference/deprecated_and_obsolete_features/index.md
Labels: l10n-zh

#13116 Typo fixée
  files/fr/learn/css/building_blocks/styling_tables/index.md
Labels: l10n-fr

#13114 [ko] Modify some terminology use according to translation guide
  files/ko/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-ko

#13128 Update index.md
  files/zh-cn/web/api/webgpu_api/index.md
Labels: l10n-zh

#11598 Translate untranslated parts
  files/ja/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Labels: l10n-ja

#5296 Перевод grid-column
  files/ru/web/css/grid-column/index.md
Labels: l10n-ru

#11966 Update index.md
  files/ru/web/api/element/classlist/index.md
Labels: l10n-ru

#13040 zh-CN: sync new translation for `:autofill`
  files/zh-cn/web/css/_colon_autofill/index.md
Labels: l10n-zh

#13085 [zh-CN] sync mousedown event with en-US
  files/zh-cn/web/api/element/mousedown_event/index.md
Labels: l10n-zh

#13143 Update index.md
  files/zh-cn/web/api/webglrenderingcontext/bindattriblocation/index.md
Labels: l10n-zh

#13145 Update index.md
  files/zh-cn/web/api/webglrenderingcontext/attachshader/index.md
Labels: l10n-zh

#13144 Update index.md
  files/zh-cn/web/api/webglrenderingcontext/bindbuffer/index.md
Labels: l10n-zh

#12903 [ko] JavaScript Map 메서드 최신화
  files/ko/web/javascript/reference/global_objects/map/foreach/index.md
  files/ko/web/javascript/reference/global_objects/map/get/index.md
  files/ko/web/javascript/reference/global_objects/map/has/index.md
  files/ko/web/javascript/reference/global_objects/map/map/index.md
  files/ko/web/javascript/reference/global_objects/map/set/index.md
Labels: l10n-ko

#13112 zh-CN: finish translation of measuring_performance
  files/zh-cn/learn/performance/measuring_performance/index.md
Labels: l10n-zh

#13136 [zh-cn] update html anchor element
  files/zh-cn/web/html/element/a/index.md
Labels: l10n-zh

#13146 update(zh-cn): History: pushState() method
  files/zh-cn/web/api/history/pushstate/index.md
Labels: l10n-zh

#13148 [zh-cn] update the translation of `document.caretRangeFromPoint()`
  files/zh-cn/web/api/document/caretrangefrompoint/index.md
Labels: l10n-zh

#13151 [zh-cn] initial translation of document.caretPositionFromPoint and CaretPosition
  files/zh-cn/web/api/caretposition/index.md
  files/zh-cn/web/api/document/caretpositionfrompoint/index.md
Labels: l10n-zh

#13160 zh-CN: sync with the en-US for `:out-of-range`
  files/zh-cn/web/css/_colon_out-of-range/index.md
Labels: l10n-zh

#13161 zh-CN: sync with the en-US for `:required`
  files/zh-cn/web/css/_colon_required/index.md
Labels: l10n-zh

#13159 zh-CN: sync with the en-US for `:in-range`
  files/zh-cn/web/css/_colon_in-range/index.md
Labels: l10n-zh

#13162 zh-CN: sync with the en-US for `:optional`
  files/zh-cn/web/css/_colon_optional/index.md
Labels: l10n-zh

#12895 [ko] JavaScript Symbol(), Symbol.description 추가
  files/ko/web/javascript/reference/global_objects/symbol/description/index.md
  files/ko/web/javascript/reference/global_objects/symbol/symbol/index.md
Labels: l10n-ko

#13166 Update index.md
  files/zh-cn/learn/getting_started_with_the_web/css_basics/index.md
Labels: l10n-zh

#13171 [zh-CN]: Fix missing tailing spaces
  files/zh-cn/learn/server-side/first_steps/web_frameworks/index.md
Labels: l10n-zh

#13164 zh-CN: sync with the en-US for `:link`
  files/zh-cn/web/css/_colon_link/index.md
Labels: l10n-zh

#13111 [zh-CN] sync mouseover event with en-US
  files/zh-cn/web/api/element/mouseover_event/index.md
Labels: l10n-zh

#13169 zh-CN: Translate `accent-color`
  files/zh-cn/glossary/accent/index.md
  files/zh-cn/web/css/accent-color/index.md
Labels: l10n-zh

#13129 [zh-cn] init translation of text-fragment technology
  files/zh-cn/web/text_fragments/index.md
Labels: l10n-zh

#13163 Fix a typo
  files/ja/web/api/websockets_api/writing_websocket_servers/index.md
Labels: l10n-ja

#12720 Fix #12105
  files/fr/web/css/clip-path/index.md
  files/fr/web/css/clip-path/mdn.svg
Labels: l10n-fr

#12072 Explicitation de la valeur de retour de .then()
  files/fr/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-fr

#13026 fix(typo): Network Information API
  files/es/web/api/network_information_api/index.md
Labels: l10n-es

#13158 Fixed typo in what_is_javascript
  files/es/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-es

#13055 Modification de quelques exemples
  files/fr/web/html/element/table/index.md
  files/fr/web/html/element/textarea/index.md
Labels: l10n-fr

#13175 [zh-cn] Init translation for CSS `::target-text`
  files/zh-cn/web/css/_doublecolon_target-text/index.md
Labels: l10n-zh

#13123 [zh-CN] sync mousemove event with en-US
  files/zh-cn/web/api/element/mousemove_event/index.md
Labels: l10n-zh

#13086 [zh-CN] sync mouseenter event with en-US
  files/zh-cn/web/api/element/mouseenter_event/index.md
Labels: l10n-zh

#13124 [zh-CN] sync mouseout event with en-US
  files/zh-cn/web/api/element/mouseout_event/index.md
Labels: l10n-zh

#13185 Fixed / changed broken link from Game promotion page
  files/fr/games/publishing_games/game_promotion/index.md
Labels: l10n-fr

#13186 Typofix
  files/fr/web/html/element/textarea/index.md
Labels: l10n-fr

#13179 [zh-cn]: Array proofread part 2
  files/zh-cn/web/javascript/reference/global_objects/array/join/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/map/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/of/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/pop/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/push/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reverse/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/shift/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/slice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/some/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/sort/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tosorted/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tospliced/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/tostring/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/values/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/with/index.md
Labels: l10n-zh

#13194 remove css-animations part <浏览器兼容性>, Sync with en documents
  files/zh-cn/web/css/css_animations/index.md
Labels: l10n-zh

#13195 Fix small typo in "Примечание : "
  files/ru/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: l10n-ru

#9880 [ru] background fetch update UI
  files/ru/web/api/backgroundfetchupdateuievent/backgroundfetchupdateuievent/index.md
  files/ru/web/api/backgroundfetchupdateuievent/index.md
  files/ru/web/api/backgroundfetchupdateuievent/updateui/index.md
Labels: l10n-ru

#9649 [ru] background fetch event
  files/ru/web/api/backgroundfetchevent/backgroundfetchevent/index.md
  files/ru/web/api/backgroundfetchevent/index.md
  files/ru/web/api/backgroundfetchevent/registration/index.md
Labels: l10n-ru

#13045 Web/JavaScript/Reference/Statements/with を更新
  files/ja/web/javascript/reference/statements/with/index.md
Labels: l10n-ja

#13098 Web/JavaScript/Reference/Operators/await を更新
  files/ja/web/javascript/reference/operators/await/index.md
Labels: l10n-ja

#13099 Web/JavaScript/Reference/Operators/async_function を更新
  files/ja/web/javascript/reference/operators/async_function/index.md
Labels: l10n-ja

#13154 Web/HTML/Element/source を更新
  files/ja/web/html/element/source/index.md
Labels: l10n-ja, merge conflicts :construction:

#13155 Web/CSS/url を更新
  files/ja/web/css/url/index.md
Labels: l10n-ja

#13156 Web/CSS/image/image-set を更新
  files/ja/web/css/image/image-set/index.md
Labels: l10n-ja

#13157 Web/CSS/image/image を更新
  files/ja/web/css/image/image/index.md
Labels: l10n-ja

#13187 (l10n-es) Undefined: Update page with translation of english version
  files/es/web/javascript/reference/global_objects/undefined/index.md
Labels: l10n-es

#13191 Update index, typo
  files/es/web/api/window/offline_event/index.md
Labels: l10n-es

#13177 [zh-CN] sync mouseup event with en-US
  files/zh-cn/web/api/element/mouseup_event/index.md
Labels: l10n-zh

#13147 zh-CN: Translate `<system-color>`
  files/zh-cn/web/css/system-color/index.md
Labels: l10n-zh

#13198 Update CSS property overflow-wrap
  files/zh-cn/web/css/overflow-wrap/index.md
Labels: l10n-zh

#13207 Update index.md
  files/zh-cn/learn/learning_and_getting_help/index.md
Labels: l10n-zh

#13214 Typofix
  files/fr/web/css/@page/index.md
Labels: l10n-fr

#13215 Update index.md
  files/zh-cn/web/http/methods/put/index.md
Labels: l10n-zh

#13213 [zh-CN] sync offline event with en-US
  files/zh-cn/web/api/window/offline_event/index.md
Labels: l10n-zh

#13209 zh-cn(translate): block-level-content
  files/zh-cn/glossary/block-level_content/index.md
Labels: l10n-zh

#13227 update `element.normalize` french example
  files/fr/web/api/node/normalize/index.md
Labels: l10n-fr

#13178 Web/CSS/object-position を更新
  files/ja/web/css/object-position/index.md
Labels: l10n-ja

#13181 Web/JavaScript/Reference/Global_Objects/AsyncFunction を更新
  files/ja/web/javascript/reference/global_objects/asyncfunction/index.md
Labels: l10n-ja

#13182 Web/JavaScript/Reference/Global_Objects/AsyncFunction/AsyncFunction を新規翻訳
  files/ja/web/javascript/reference/global_objects/asyncfunction/asyncfunction/index.md
Labels: l10n-ja

#13243 Update index.md
  files/zh-cn/web/api/networkinformation/index.md
Labels: l10n-zh

#13244 Update index.md
  files/zh-cn/web/api/page_visibility_api/index.md
Labels: l10n-zh

#13242 chore(ru): remove {{jsOverrides}} macro from ru
  files/ru/web/javascript/reference/global_objects/boolean/index.md
  files/ru/web/javascript/reference/global_objects/date/index.md
  files/ru/web/javascript/reference/global_objects/number/index.md
  files/ru/web/javascript/reference/global_objects/regexp/index.md
  files/ru/web/javascript/reference/global_objects/string/index.md
Labels: l10n-ru

#13239 chore(zh): remove unnecessary code wrapper
  files/zh-cn/web/javascript/reference/functions/default_parameters/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/raw/index.md
  files/zh-cn/web/javascript/reference/statements/async_function/index.md
  files/zh-tw/web/api/event/event/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/map/index.md
  files/zh-tw/web/javascript/reference/global_objects/dataview/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-zh

#13241 chore(zh): remove unnecessary code wrapper for domxref
  files/zh-cn/learn/getting_started_with_the_web/javascript_basics/index.md
  files/zh-cn/web/api/domparser/index.md
  files/zh-cn/web/api/dragevent/dragevent/index.md
  files/zh-cn/web/api/element/index.md
  files/zh-cn/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/zh-cn/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/zh-cn/web/api/htmlselectelement/add/index.md
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
  files/zh-cn/web/api/mouseevent/clientx/index.md
  files/zh-cn/web/api/performance_api/resource_timing/index.md
  files/zh-cn/web/api/webglrenderingcontext/vertexattribpointer/index.md
  files/zh-cn/web/html/element/base/index.md
  files/zh-tw/web/api/file_api/using_files_from_web_applications/index.md
  files/zh-tw/web/api/mutationobserver/index.md
Labels: l10n-zh

#13246 chore(zh-cn): update page report template
  .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
Labels: system

#13223 update the translation of `Object()`
  files/zh-cn/web/javascript/reference/global_objects/object/object/index.md
Labels: l10n-zh

#13240 chore(fr): remove unnecessary code wrapper
  files/fr/web/javascript/reference/global_objects/intl/locale/maximize/index.md
  files/fr/web/javascript/reference/operators/nullish_coalescing/index.md
Labels: l10n-fr

#12670 [ko] JavaScript: Map 일부 메서드 최신 동기화
  files/ko/web/javascript/reference/global_objects/map/clear/index.md
  files/ko/web/javascript/reference/global_objects/map/delete/index.md
  files/ko/web/javascript/reference/global_objects/map/entries/index.md
  files/ko/web/javascript/reference/global_objects/map/keys/index.md
  files/ko/web/javascript/reference/global_objects/map/size/index.md
  files/ko/web/javascript/reference/global_objects/map/values/index.md
Labels: l10n-ko

#13236 Firefox 113 for developersを翻訳
  files/ja/mozilla/firefox/releases/113/index.md
Labels: l10n-ja

#13200 Web/JavaScript/Reference/Global_Objects/AsyncGenerator/return を更新
  files/ja/web/javascript/reference/global_objects/asyncgenerator/return/index.md
Labels: l10n-ja

#13188 Web/JavaScript/Reference/Global_Objects/AsyncGenerator/throw を新規翻訳
  files/ja/web/javascript/reference/global_objects/asyncgenerator/throw/index.md
Labels: l10n-ja

#13138 Fix ko MIME_TYPES index.md typing
  files/ko/web/http/basics_of_http/mime_types/index.md
Labels: l10n-ko

#13208 init zh-cn translation of `inline-level-content`
  files/zh-cn/glossary/inline-level_content/index.md
Labels: l10n-zh

#13024 [zh-cn]: Update translation of Array.reduce() and Array.reduceRight()
  files/zh-cn/web/javascript/reference/global_objects/array/reduce/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/reduceright/index.md
Labels: l10n-zh

#13249 chore(zh-tw): run prettier format on learn/{html, css}
  .prettierignore
  files/zh-tw/learn/css/first_steps/getting_started/index.md
  files/zh-tw/learn/css/first_steps/how_css_works/index.md
  files/zh-tw/learn/css/first_steps/what_is_css/index.md
  files/zh-tw/learn/html/howto/index.md
  files/zh-tw/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/zh-tw/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/zh-tw/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/zh-tw/learn/html/introduction_to_html/getting_started/index.md
  files/zh-tw/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/zh-tw/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/video_and_audio_content/test_your_skills_colon__multimedia_and_embedding/index.md
  files/zh-tw/learn/html/tables/basics/index.md
  files/zh-tw/web/html/element/index.md
Labels: l10n-zh

#12598 [pt-br] - updating the pt-br translation of the Scroll page
  files/pt-br/web/api/window/scroll/index.md
Labels: l10n-pt-br

#13140 fix: fix the syntax documentation for `watchPosition`
  files/fr/web/api/geolocation/watchposition/index.md
  files/pt-br/web/api/geolocation/watchposition/index.md
  files/zh-cn/web/api/geolocation/watchposition/index.md
  files/zh-tw/web/api/geolocation/watchposition/index.md
Labels: l10n-fr, l10n-zh, l10n-pt-br

#13225 [zh-cn]: Update translation of Object
  files/zh-cn/web/javascript/reference/global_objects/object/index.md
Labels: l10n-zh

#12436 some content translated to portuguese
  files/pt-br/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
Labels: l10n-pt-br

#13083 [PT-br] Update concat() Array Page
  files/pt-br/web/javascript/reference/global_objects/array/concat/index.md
Labels: l10n-pt-br

#13108 [ko] update(object_is): 문서 최신화
  files/ko/web/javascript/reference/global_objects/object/is/index.md
Labels: l10n-ko

#13230 Correct two typos in `files/fr/web/api/web_components/using_shadow_dom/index.md`
  files/fr/web/api/web_components/using_shadow_dom/index.md
Labels: l10n-fr

#13226 Modification de l`exemple de css-list
  files/fr/learn/css/styling_text/styling_lists/index.md
Labels: l10n-fr

#13255 Improved readability
  files/ru/web/javascript/reference/operators/conditional_operator/index.md
Labels: l10n-ru

#12725 Fix #12163
  files/fr/web/css/min-width/index.md
Labels: l10n-fr

#12736 Fix #12593
  files/fr/web/api/window/devicepixelratio/index.md
Labels: l10n-fr

#13260 Fix typo `maxinum` to `maximum`
  files/zh-cn/web/javascript/reference/global_objects/number/max_safe_integer/index.md
Labels: l10n-zh

#13245 [zh-cn] init translation of specification_tables
  files/zh-cn/mdn/writing_guidelines/page_structures/specification_tables/index.md
Labels: l10n-zh

#12180 [ko] remove Event macro
  files/ko/_redirects.txt
  files/ko/web/api/element/index.md
  files/ko/web/api/element/pointerenter_event/index.md
  files/ko/web/api/element/scroll_event/index.md
  files/ko/web/api/element/touchcancel_event/index.md
  files/ko/web/api/element/touchstart_event/index.md
  files/ko/web/api/event/cancelable/index.md
  files/ko/web/api/event/preventdefault/index.md
  files/ko/web/api/eventsource/index.md
  files/ko/web/api/file_and_directory_entries_api/index.md
  files/ko/web/api/file_api/using_files_from_web_applications/index.md
Labels: l10n-ko

#12627 fix(ko): error on EmbedLiveSample of hello vertex attributes
  files/ko/web/api/webgl_api/by_example/hello_vertex_attributes/index.md
Labels: l10n-ko

#12911 Update Fetch API
  files/ko/web/api/fetch_api/index.md
Labels: l10n-ko

#12913 Update Forbidden header name, add Forbidden response header name
  files/ko/glossary/forbidden_header_name/index.md
  files/ko/glossary/forbidden_response_header_name/index.md
Labels: l10n-ko

#13068 [ko] short-title 메타 데이터 필수 항목 추가
  docs/ko/guides/glossary-guide.md
  docs/ko/guides/meta-data-guide.md
Labels: l10n-ko

#13268 add translated 'async function*' doc in ko
  files/ko/web/javascript/reference/operators/async_function_star_/index.md
Labels: l10n-ko

#13219 zh-CN: add new translation: `:paused`
  files/zh-cn/web/css/_colon_paused/index.md
Labels: l10n-zh

#12357 [ko] Bitwise NOT(~) traslation
  files/ko/web/javascript/reference/operators/bitwise_not/index.md
Labels: l10n-ko

#13271 Fix typo mdn/translated-content#13234
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: l10n-zh

#13272 Update index.md
  files/zh-cn/web/http/headers/permissions-policy/index.md
Labels: l10n-zh
