Repository mdn/translated-content, pull requests merged in 2023-11, with the labels that each got.

#16607 [JA] Translate `WebGLRenderingContext: createRenderbuffer()` and `WebGLRenderingContext: createFramebuffer()` Page
  files/ja/web/api/webglrenderingcontext/createframebuffer/index.md
  files/ja/web/api/webglrenderingcontext/createrenderbuffer/index.md
Labels: l10n-ja

#16736 Firefox 119 for developersを翻訳
  files/ja/mozilla/firefox/releases/119/index.md
Labels: l10n-ja

#16791 fix typos
  files/zh-cn/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
Labels: l10n-zh

#16738 TypedArray のmarkdownのテーブルが壊れていたので修正
  files/ja/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-ja

#16785 fix: opposite words in Japanese
  files/ja/web/javascript/reference/global_objects/string/trimstart/index.md
Labels: l10n-ja

#16745 Web/CSS/::first-letter を更新
  files/ja/web/css/_doublecolon_first-letter/index.md
Labels: l10n-ja

#16746 Mozilla/Firefox/Releases/87 を更新
  files/ja/mozilla/firefox/releases/87/index.md
Labels: l10n-ja

#16748 Web/API/RTCPeerConnection/localDescription を新規翻訳
  files/ja/web/api/rtcpeerconnection/localdescription/index.md
Labels: l10n-ja

#16750 Web/API/XSLTProcessor/Basic_Example を更新
  files/ja/web/api/xsltprocessor/basic_example/index.md
Labels: l10n-ja

#16751 Web/HTTP/Basics_of_HTTP/MIME_types を更新
  files/ja/web/http/basics_of_http/mime_types/index.md
Labels: l10n-ja

#16753 Web/API/ElementInternals 以下の一部の記事を新規翻訳
  files/ja/web/api/elementinternals/checkvalidity/index.md
  files/ja/web/api/elementinternals/form/index.md
  files/ja/web/api/elementinternals/index.md
  files/ja/web/api/elementinternals/labels/index.md
  files/ja/web/api/elementinternals/reportvalidity/index.md
  files/ja/web/api/elementinternals/setformvalue/index.md
  files/ja/web/api/elementinternals/setvalidity/index.md
Labels: l10n-ja

#16792 [zh-cn]: update the translation of WeakMap.set()&get()&has()&delete()
  files/zh-cn/web/javascript/reference/global_objects/weakmap/delete/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/get/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/has/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/set/index.md
Labels: l10n-zh

#16794 zh-cn: update typed_arrays and related docs
  files/zh-cn/web/javascript/guide/typed_arrays/index.md
  files/zh-cn/web/javascript/reference/global_objects/arraybuffer/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-zh

#16802 zh-cn: update the content of the `Why use dns-prefetch?` section
  files/zh-cn/web/performance/dns-prefetch/index.md
Labels: l10n-zh

#16793 [zh-tw]: translate <head>
  files/zh-tw/web/html/element/head/index.md
Labels: l10n-zh

#16803 [zh-cn]: update the translation of WeakSet overview
  files/zh-cn/web/javascript/reference/global_objects/weakset/index.md
Labels: l10n-zh

#16727 fr: Initial translation for CycleTracker : JS functionality
  files/fr/web/progressive_web_apps/tutorials/cycletracker/javascript_functionality/index.md
Labels: l10n-fr

#16720 es: Update matriz to arreglo where it is an Array
  files/es/learn/javascript/first_steps/arrays/index.md
Labels: l10n-es

#16815 fr - Update Glossary/MitM
  files/fr/glossary/mitm/index.md
Labels: l10n-fr

#16817 docs: fix a typo
  files/ja/web/javascript/language_overview/index.md
Labels: l10n-ja

#16819 Fix typo
  files/zh-cn/web/css/_colon_left/index.md
Labels: l10n-zh

#16826 [zh-cn]: update the translation of `Referrer-Policy`
  files/zh-cn/web/http/headers/referrer-policy/index.md
Labels: l10n-zh

#16831 [zh-cn]: fix some translation miss for Containing_block
  files/zh-cn/web/css/containing_block/index.md
Labels: l10n-zh

#16835 [zh-cn]: update HTMLAnchorElement username property
  files/zh-cn/web/api/htmlanchorelement/username/index.md
Labels: l10n-zh

#16827 [zh-cn]: add the translation of WeakSet constructor
  files/zh-cn/web/javascript/reference/global_objects/weakset/weakset/index.md
Labels: l10n-zh

#16828 Fix typo
  files/ja/web/api/web_components/using_templates_and_slots/index.md
Labels: l10n-ja

#16582 Chore/remove orphaned files
  files/pt-br/_redirects.txt
  files/pt-br/orphaned/games/examples/index.md
  files/pt-br/orphaned/glossary/dynamic_programming_language/index.md
  files/pt-br/orphaned/glossary/jquery/index.md
  files/pt-br/orphaned/mdn/tools/index.md
  files/pt-br/orphaned/mdn/tools/kumascript/troubleshooting/index.md
  files/pt-br/orphaned/mdn/yari/index.md
  files/pt-br/orphaned/mozilla/add-ons/webextensions/prerequisites/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.md
  files/pt-br/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/pt-br/orphaned/web/api/fullscreenoptions/index.md
  files/pt-br/orphaned/web/api/htmlelement/contextmenu/index.md
  files/pt-br/orphaned/web/api/htmlorforeignelement/blur/index.md
  files/pt-br/orphaned/web/api/htmlorforeignelement/focus/index.md
  files/pt-br/orphaned/web/api/htmlshadowelement/index.md
  files/pt-br/orphaned/web/api/navigatorid/platform/index.md
  files/pt-br/orphaned/web/api/navigatorid/useragent/index.md
  files/pt-br/orphaned/web/api/navigatorlanguage/language/index.md
  files/pt-br/orphaned/web/api/navigatoronline/index.md
  files/pt-br/orphaned/web/api/navigatoronline/online/index.md
  files/pt-br/orphaned/web/api/navigatoronline/online_and_offline_events/index.md
  files/pt-br/orphaned/web/api/navigatorplugins/index.md
  files/pt-br/orphaned/web/api/navigatorplugins/javaenabled/index.md
  files/pt-br/orphaned/web/api/notificationaction/index.md
  files/pt-br/orphaned/web/api/window/applicationcache/index.md
  files/pt-br/orphaned/web/api/window/setcursor/index.md
  files/pt-br/orphaned/web/api/windoweventhandlers/index.md
  files/pt-br/orphaned/web/css/-moz-context-properties/index.md
  files/pt-br/orphaned/web/css/css_animations/detecting_css_animation_support/index.md
  files/pt-br/orphaned/web/css/microsoft_extensions/index.md
  files/pt-br/orphaned/web/html/element/blink/index.md
  files/pt-br/orphaned/web/http/feature_policy/using_feature_policy/index.md
  files/pt-br/orphaned/web/http/headers/set-cookie/samesite/index.md
  files/pt-br/orphaned/web/javascript/guide/working_with_private_class_features/index.md
  files/pt-br/orphaned/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/pt-br/orphaned/web/svg/element/altglyph/index.md
  files/pt-br/orphaned/web/svg/element/altglyphdef/index.md
  files/pt-br/orphaned/web/svg/element/altglyphitem/index.md
Labels: l10n-pt-br

#16718 Update index.md
  files/pt-br/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
Labels: l10n-pt-br

#16701 Guia de Javascript>repeticao e iteracao>declaracao continue>exemplo1:correcao da palavra: "utlizando"
  files/pt-br/web/javascript/guide/loops_and_iteration/index.md
Labels: l10n-pt-br

#16735 Firefox 118 for developersを更新
  files/ja/mozilla/firefox/releases/118/index.md
Labels: l10n-ja

#16749 reportError グローバル関数を新規翻訳
  files/ja/web/api/reporterror/index.md
Labels: l10n-ja

#16822 zh-cn: update iterators_and_generators
  files/zh-cn/web/javascript/guide/iterators_and_generators/index.md
Labels: l10n-zh

#16816 [zh-TW]: translate <title> <noscript>
  files/zh-tw/web/html/element/noscript/index.md
  files/zh-tw/web/html/element/title/index.md
Labels: l10n-zh

#16842 [zh-cn]: update the translation of WeakSet add()&delete()&has()
  files/zh-cn/web/javascript/reference/global_objects/weakset/add/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakset/delete/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakset/has/index.md
Labels: l10n-zh

#16844 [zh-cn] Update some HTMLAnchorElement documents
  files/zh-cn/web/api/htmlanchorelement/hash/index.md
  files/zh-cn/web/api/htmlanchorelement/password/index.md
  files/zh-cn/web/api/htmlanchorelement/pathname/index.md
Labels: l10n-zh

#16765 Fix WebGL example links
  files/es/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/es/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/es/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/fr/web/api/webgl_api/by_example/video_textures/index.md
  files/fr/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/fr/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/fr/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/fr/web/guide/audio_and_video_manipulation/index.md
  files/ja/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ja/web/api/webxr_device_api/movement_and_motion/index.md
  files/ja/web/guide/audio_and_video_manipulation/index.md
  files/pt-br/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/pt-br/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ru/web/guide/audio_and_video_manipulation/index.md
  files/zh-cn/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/zh-cn/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/zh-tw/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/zh-tw/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-pt-br

#16771 Mozilla/Firefox/Releases/94 を更新
  files/ja/mozilla/firefox/releases/94/index.md
Labels: l10n-ja

#16774 Web/JavaScript/Reference/Global_Objects/Array を更新
  files/ja/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ja

#16775 Array コンストラクターを更新
  files/ja/web/javascript/reference/global_objects/array/array/index.md
Labels: l10n-ja

#16776 Array.@@species を更新
  files/ja/web/javascript/reference/global_objects/array/@@species/index.md
Labels: l10n-ja

#16777 Web/JavaScript/Reference/Global_Objects/Array/@@unscopables　を更新
  files/ja/web/javascript/reference/global_objects/array/@@unscopables/index.md
Labels: l10n-ja

#16796 Array: length の記事を更新
  files/ja/web/javascript/reference/global_objects/array/length/index.md
Labels: l10n-ja

#16797 Array.@@iterator を更新
  files/ja/web/javascript/reference/global_objects/array/@@iterator/index.md
Labels: l10n-ja

#16799 Array.at() を更新
  files/ja/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-ja

#16800 Array.concat() の記事を更新
  files/ja/web/javascript/reference/global_objects/array/concat/index.md
Labels: l10n-ja

#16806 Array.copyWithin() の記事を更新
  files/ja/web/javascript/reference/global_objects/array/copywithin/index.md
Labels: l10n-ja

#16832 zh-cn: update the translation of strings in JavaScript
  files/zh-cn/learn/javascript/first_steps/strings/index.md
Labels: l10n-zh

#16763 fix: image link in window.confirm
  files/ja/web/api/window/confirm/index.md
  files/pt-br/web/api/window/confirm/index.md
  files/ru/web/api/window/confirm/index.md
Labels: l10n-ja, l10n-ru, l10n-pt-br

#16854 Update index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
Labels: l10n-zh

#15720 [zh-cn]: init the translation of `FileSystemDirectoryHandle`
  files/zh-cn/web/api/filesystemdirectoryhandle/entries/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/getfilehandle/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/keys/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/removeentry/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/resolve/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/values/index.md
Labels: l10n-zh

#16859 Update index.md
  files/zh-cn/learn/javascript/first_steps/strings/index.md
Labels: l10n-zh

#16836 zh-cn: init the translation of mathml fraction root
  files/zh-cn/learn/mathml/first_steps/fractions_and_roots/index.md
Labels: l10n-zh

#16855 [zh-cn] Update webNavigation.onDOMContentLoaded
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
Labels: l10n-zh

#16861 zh-cn: correct error in html_dom_api/microtask_guide doc
  files/zh-cn/web/api/html_dom_api/microtask_guide/index.md
Labels: l10n-zh

#16856 [zh-cn] Correct typo
  files/zh-cn/webassembly/rust_to_wasm/index.md
Labels: l10n-zh

#16858 [zh-cn]: init the translation of "CSS box alignment"
  files/zh-cn/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
Labels: l10n-zh

#16870 fix typo
  files/zh-cn/web/javascript/guide/functions/index.md
Labels: l10n-zh

#16860 [zh-tw]: translate identifying_resources_on_the_web
  files/zh-tw/web/http/basics_of_http/identifying_resources_on_the_web/index.md
Labels: l10n-zh

#16824 [zh-cn]: update the translation of this keyword
  files/zh-cn/web/javascript/reference/operators/this/index.md
Labels: l10n-zh

#16872 ru: Fix formatting of Web/CSS/display-outside
  files/ru/web/css/display-outside/index.md
Labels: l10n-ru

#16864 [zh-cn]: initial the translation of `FileSystemWritableFileStream`
  files/zh-cn/web/api/filesystemwritablefilestream/index.md
  files/zh-cn/web/api/filesystemwritablefilestream/seek/index.md
  files/zh-cn/web/api/filesystemwritablefilestream/truncate/index.md
  files/zh-cn/web/api/filesystemwritablefilestream/write/index.md
Labels: l10n-zh

#16867 zh-cn: update meta_programming
  files/zh-cn/web/javascript/guide/meta_programming/index.md
Labels: l10n-zh

#16888 zh-cn: fix typo
  files/zh-cn/learn/html/tables/index.md
Labels: l10n-zh

#16884 [zh-cn] init translation of 'regular expressions'
  files/zh-cn/web/javascript/reference/regular_expressions/index.md
Labels: l10n-zh

#16902 zh-cn: update the content of the `Using Object.keys() on primitives` section
  files/zh-cn/web/javascript/reference/global_objects/object/entries/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/keys/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/values/index.md
Labels: l10n-zh

#16833 FIX: Live example in HTMLElement: drag event page
  files/ja/web/api/htmlelement/drag_event/index.md
Labels: l10n-ja

#16834 2023/11/05 時点の英語版に同期
  files/ja/web/api/fetch_api/using_fetch/index.md
Labels: l10n-ja

#16839 Translate Function.prototype[@@hasInstance]()
  files/ja/web/javascript/reference/global_objects/function/@@hasinstance/index.md
Labels: l10n-ja

#16852 `browser_specific_settings` キーを使用する
  files/ja/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.md
Labels: l10n-ja

#16906 fr: Add code 503 in teapot page
  files/fr/web/http/status/418/index.md
Labels: l10n-fr

#16875 Array の r*～s* メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
  files/ja/web/javascript/reference/global_objects/array/reduceright/index.md
  files/ja/web/javascript/reference/global_objects/array/reverse/index.md
  files/ja/web/javascript/reference/global_objects/array/shift/index.md
  files/ja/web/javascript/reference/global_objects/array/slice/index.md
  files/ja/web/javascript/reference/global_objects/array/some/index.md
  files/ja/web/javascript/reference/global_objects/array/sort/index.md
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-ja

#16904 Array.t*～w* メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/array/tosorted/index.md
  files/ja/web/javascript/reference/global_objects/array/tospliced/index.md
  files/ja/web/javascript/reference/global_objects/array/tostring/index.md
  files/ja/web/javascript/reference/global_objects/array/unshift/index.md
  files/ja/web/javascript/reference/global_objects/array/values/index.md
  files/ja/web/javascript/reference/global_objects/array/with/index.md
Labels: l10n-ja

#16910 「反復処理メソッド」の用語を統一
  files/ja/web/javascript/reference/global_objects/array/every/index.md
  files/ja/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-ja

#16905 TypedArray のプロパティの記事を更新
  files/ja/web/javascript/reference/global_objects/typedarray/@@species/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/buffer/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/bytelength/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/byteoffset/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/bytes_per_element/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/length/index.md
Labels: l10n-ja

#16909 TypedArray の @*～e* メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/typedarray/@@iterator/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/at/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/copywithin/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/entries/index.md
  files/ja/web/javascript/reference/global_objects/typedarray/every/index.md
Labels: l10n-ja

#16912 zh-cn: update the translation of `<sup>`
  files/zh-cn/web/html/element/sup/index.md
Labels: l10n-zh

#16914 FragmentDirective：変換ミスと思われるものを正しい単語に修正
  files/ja/web/api/fragmentdirective/index.md
Labels: l10n-ja

#16449 [ko]: revise index.md for `webassembly/concepts`
  files/ko/webassembly/concepts/index.md
Labels: l10n-ko

#16853 [ko] Update menus.ContextType, tabs.create
  files/ko/mozilla/add-ons/webextensions/api/menus/contexttype/index.md
  files/ko/mozilla/add-ons/webextensions/api/tabs/create/index.md
Labels: l10n-ko

#16917 [zh-cn] Init translation of Int16Array
  files/zh-cn/web/javascript/reference/global_objects/int16array/index.md
Labels: l10n-zh

#16672 [ko] add translation to credential management api in Web API
  files/ko/web/api/credential_management_api/index.md
Labels: l10n-ko

#16919 Remove confusing and misleading word in sentence about accessibility
  files/fr/learn/html/introduction_to_html/document_and_website_structure/index.md
Labels: l10n-fr

#16918 `fr` - Glossary - Initial translation for RTCP and update for RTP
  files/fr/glossary/rtcp/index.md
  files/fr/glossary/rtp/index.md
Labels: l10n-fr

#16924 zh-cn: sync the `Data.toJSON()` example from en-US
  files/zh-cn/web/javascript/reference/global_objects/date/tojson/index.md
Labels: l10n-zh

#16890 [zh-tw] add webassembly-concept
  files/zh-tw/webassembly/concepts/index.md
Labels: l10n-zh

#16821 add(Request cache): 문서 추가
  files/ko/web/api/request/cache/index.md
Labels: l10n-ko

#16889 [zh-cn]: initial the translation of `FileSystemSyncAccessHandle`
  files/zh-cn/web/api/filesystemsyncaccesshandle/close/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/flush/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/read/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/write/index.md
Labels: l10n-zh

#16935 [zh-cn]: fix typo
  files/zh-cn/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: l10n-zh

#16907 Fix #16895
  files/fr/web/api/console/table/index.md
Labels: l10n-fr

#16947 [ja]: fix typo
  files/ja/web/css/subsequent-sibling_combinator/index.md
Labels: l10n-ja

#16954 Update index.md
  files/zh-cn/web/css/margin/index.md
Labels: l10n-zh

#16933 `fr` - Glossary - Initial translation for B entries
  files/fr/glossary/baseline/compatibility/index.md
  files/fr/glossary/baseline/typography/index.md
  files/fr/glossary/binding/index.md
  files/fr/glossary/bitwise_flags/index.md
  files/fr/glossary/boolean/aria/index.md
  files/fr/glossary/boolean/html/index.md
  files/fr/glossary/boolean/javascript/index.md
Labels: l10n-fr

#16957 zh-cn: update the translation of `Element.setCapture()`
  files/zh-cn/web/api/element/setcapture/index.md
Labels: l10n-zh

#16773 fr: Initial translation for CycleTracker - Secure connection
  files/fr/web/progressive_web_apps/tutorials/cycletracker/secure_connection/index.md
Labels: l10n-fr

#16945 [zh-cn] Update 'chrome incompatibilities'
  files/zh-cn/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.md
Labels: l10n-zh

#16963 zh-cn: init the translation of mathml table
  files/zh-cn/learn/mathml/first_steps/tables/index.md
Labels: l10n-zh

#16982 Fixed broken link
  files/fr/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
Labels: l10n-fr

#16908 `fr` - Initial translation for Glossary/UUID and crypto/randomuuid()
  files/fr/glossary/uuid/index.md
  files/fr/web/api/crypto/randomuuid/index.md
Labels: l10n-fr

#16962 `fr` - Glossary - Initial translation for E entries
  files/fr/glossary/enumerated/index.md
  files/fr/glossary/etld/index.md
Labels: l10n-fr

#16940 `fr` - Glossary - Initial translation for C entries
  files/fr/glossary/camel_case/index.md
  files/fr/glossary/code_unit/index.md
  files/fr/glossary/composite_operation/index.md
  files/fr/glossary/cors-safelisted_request_header/index.md
  files/fr/glossary/cors-safelisted_response_header/index.md
Labels: l10n-fr

#16766 fr: Initial translation for CycleTracker Manifest file
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/circle.svg
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/debugger_devtools.png
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/index.md
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/manifest_firefox.png
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/manifest_icons.png
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/manifest_identity_and_presentation.png
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/tire.svg
  files/fr/web/progressive_web_apps/tutorials/cycletracker/manifest_file/wheel.svg
Labels: l10n-fr

#16927 sync Notification API
  files/zh-cn/web/api/notifications_api/index.md
  files/zh-cn/web/api/notifications_api/notification-bubble.png
Labels: l10n-zh

#16977 [zh-cn]: Update the translation of ArrayBuffer overview
  files/zh-cn/web/javascript/reference/global_objects/arraybuffer/index.md
Labels: l10n-zh

#16729 ru: add embedded interactive example
  files/ru/web/javascript/reference/global_objects/object/assign/index.md
Labels: l10n-ru

#16730 ru: update Object description
  files/ru/web/javascript/reference/global_objects/object/index.md
Labels: l10n-ru

#16787 [ru]: fix links in docs/Web/CSS
  files/ru/web/css/index.md
Labels: l10n-ru

#16985 [ru]: fix `EmbedLiveSample` macro usage on docs/Web/CSS/accent-color page
  files/ru/web/css/accent-color/index.md
Labels: l10n-ru

#16894 Added missing words to the translation of the documentation for slice()
  files/ru/web/javascript/reference/global_objects/array/slice/index.md
Labels: l10n-ru

#16926 feat(ru): update "SVG fill-rule" translation
  files/ru/web/svg/attribute/fill-rule/index.md
Labels: l10n-ru

#16991 [zh-cn]: fix typo in webgpu
  files/zh-cn/web/api/webgpu_api/index.md
Labels: l10n-zh

#16968 fix(ru): `MacroLiveSampleError` errors part-1
  files/ru/glossary/grid/index.md
  files/ru/web/api/canvas_api/tutorial/compositing/index.md
  files/ru/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/ru/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/ru/web/css/mix-blend-mode/index.md
  files/ru/web/svg/attribute/attributename/index.md
  files/ru/web/svg/attribute/d/index.md
  files/ru/web/svg/attribute/dur/index.md
  files/ru/web/svg/attribute/id/index.md
  files/ru/web/svg/attribute/r/index.md
  files/ru/web/svg/attribute/rx/index.md
  files/ru/web/svg/attribute/ry/index.md
  files/ru/web/svg/attribute/stroke-dashoffset/index.md
  files/ru/web/svg/attribute/stroke-linecap/index.md
  files/ru/web/svg/attribute/viewbox/index.md
  files/ru/web/svg/attribute/width/index.md
  files/ru/web/svg/element/a/index.md
  files/ru/web/svg/element/ellipse/index.md
  files/ru/web/svg/element/foreignobject/index.md
  files/ru/web/svg/element/line/index.md
  files/ru/web/svg/element/lineargradient/index.md
  files/ru/web/svg/element/path/index.md
  files/ru/web/svg/element/pattern/index.md
  files/ru/web/svg/element/polygon/index.md
  files/ru/web/svg/element/use/index.md
Labels: l10n-ru

#16959 feat(ru): update translation of CSS generators pages
  files/ru/web/css/css_backgrounds_and_borders/border-image_generator/index.md
  files/ru/web/css/css_backgrounds_and_borders/border-radius_generator/index.md
  files/ru/web/css/css_backgrounds_and_borders/box-shadow_generator/index.md
  files/ru/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Labels: l10n-ru

#16934 feat(ru): update docs/Web/CSS/vertical-align translation
  files/ru/web/css/vertical-align/index.md
Labels: l10n-ru

#16931 feat(ru): update docs/Web/CSS/clip-path translation
  files/ru/web/css/clip-path/index.md
Labels: l10n-ru

#16887 zh-cn: init the translation of mathml scripts
  files/zh-cn/learn/mathml/first_steps/fractions_and_roots/index.md
  files/zh-cn/learn/mathml/first_steps/index.md
  files/zh-cn/learn/mathml/first_steps/scripts/index.md
Labels: l10n-zh

#16994 [zh-cn]: Add the translation of ArrayBuffer constructor
  files/zh-cn/web/javascript/reference/global_objects/arraybuffer/arraybuffer/index.md
Labels: l10n-zh

#16900 es/ja: Replace remaining calls to {{xref_cssvisual}}
  files/es/orphaned/web/css/ime-mode/index.md
  files/es/web/css/-webkit-mask-box-image/index.md
  files/es/web/css/-webkit-mask-composite/index.md
  files/es/web/css/border-bottom-color/index.md
  files/es/web/css/border-bottom-style/index.md
  files/es/web/css/border-bottom-width/index.md
  files/es/web/css/border-bottom/index.md
  files/es/web/css/border-collapse/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/border-spacing/index.md
  files/es/web/css/line-height/index.md
  files/es/web/css/max-height/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/right/index.md
  files/es/web/css/top/index.md
  files/es/web/css/visibility/index.md
  files/ja/web/css/-webkit-mask-box-image/index.md
Labels: l10n-ja, l10n-es

#16897 es: Remove old compatibility and specification tables
  files/es/orphaned/web/html/element/keygen/index.md
  files/es/web/api/fullscreen_api/index.md
  files/es/web/api/webgl_api/index.md
  files/es/web/css/background-attachment/index.md
  files/es/web/css/background-color/index.md
  files/es/web/css/background-origin/index.md
  files/es/web/css/background-position/index.md
  files/es/web/css/background/index.md
  files/es/web/css/border-bottom-color/index.md
  files/es/web/css/border-bottom-width/index.md
  files/es/web/css/border-bottom/index.md
  files/es/web/css/border-collapse/index.md
  files/es/web/css/border-color/index.md
  files/es/web/css/border-spacing/index.md
  files/es/web/css/border-width/index.md
  files/es/web/css/border/index.md
  files/es/web/css/bottom/index.md
  files/es/web/css/cursor/index.md
  files/es/web/css/float/index.md
  files/es/web/css/font/index.md
  files/es/web/css/max-height/index.md
  files/es/web/css/min-height/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/right/index.md
  files/es/web/css/top/index.md
  files/es/web/html/element/a/index.md
  files/es/web/javascript/reference/global_objects/error/linenumber/index.md
Labels: l10n-es

#16930 TypedArray の記事を更新
  files/ja/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-ja

#16941 aria-atomic 属性の記事を新規翻訳
  files/ja/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: l10n-ja

#16998 zh-cn: update the translation of mixin
  files/zh-cn/glossary/mixin/index.md
Labels: l10n-zh

#17001 zh-cn: minor fix the `Array.isArray()` method
  files/zh-cn/web/javascript/reference/global_objects/array/isarray/index.md
Labels: l10n-zh

#13540 Update Django generic views tutorial (Closes #3698)
  files/ru/learn/server-side/django/generic_views/index.md
Labels: l10n-ru

#16903 chore(ci/pr-check_redirects): remove path filter to always run the required test
  .github/workflows/pr-check_redirects.yml
Labels: system

#16813 [es] update Web/SVG/Tutorial/Getting_Started
  files/es/web/svg/tutorial/getting_started/index.md
Labels: l10n-es

#16925 ref: resync spanish page for Web/CSS/bottom due to outdated content [es]
  files/es/web/css/bottom/index.md
Labels: l10n-es

#16936 es: create code style guide html
  files/es/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
Labels: l10n-es

#16913 docs(zh-cn): add `l10n.sourceCommit` documentation
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#16949 まとめでの重複の文を削除
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
Labels: l10n-ja

#16951 リクエスト: DeepCopy(ディープコピー) の更新
  files/ja/glossary/deep_copy/index.md
Labels: l10n-ja

#16992 [ja]: fix the live samples
  files/ja/web/css/_colon_last-child/index.md
Labels: l10n-ja

#17013 [ja]: fix typo
  files/ja/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ja

#17008 [zh-cn] Init the translation of `Origin Private File System`
  files/zh-cn/web/api/file_system_api/index.md
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Labels: l10n-zh

#17021 [zh-cn]: init the translation of "HTML code examples writing guidelines"
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
Labels: l10n-zh

#16899 fix(ru): replace remaining calls to `{{htmlattrdef}}` macro
  files/ru/orphaned/web/html/element/applet/index.md
  files/ru/web/html/element/a/index.md
  files/ru/web/html/element/area/index.md
  files/ru/web/html/element/audio/index.md
  files/ru/web/html/element/base/index.md
  files/ru/web/html/element/bdo/index.md
  files/ru/web/html/element/blockquote/index.md
  files/ru/web/html/element/body/index.md
  files/ru/web/html/element/br/index.md
  files/ru/web/html/element/button/index.md
  files/ru/web/html/element/canvas/index.md
  files/ru/web/html/element/caption/index.md
  files/ru/web/html/element/data/index.md
  files/ru/web/html/element/dd/index.md
  files/ru/web/html/element/del/index.md
  files/ru/web/html/element/details/index.md
  files/ru/web/html/element/dialog/index.md
  files/ru/web/html/element/embed/index.md
  files/ru/web/html/element/fieldset/index.md
  files/ru/web/html/element/font/index.md
  files/ru/web/html/element/form/index.md
  files/ru/web/html/element/head/index.md
  files/ru/web/html/element/hr/index.md
  files/ru/web/html/element/html/index.md
  files/ru/web/html/element/img/index.md
  files/ru/web/html/element/input/date/index.md
  files/ru/web/html/element/input/image/index.md
  files/ru/web/html/element/input/index.md
  files/ru/web/html/element/input/number/index.md
  files/ru/web/html/element/input/password/index.md
  files/ru/web/html/element/input/range/index.md
  files/ru/web/html/element/input/tel/index.md
  files/ru/web/html/element/ins/index.md
  files/ru/web/html/element/label/index.md
  files/ru/web/html/element/li/index.md
  files/ru/web/html/element/link/index.md
  files/ru/web/html/element/map/index.md
  files/ru/web/html/element/marquee/index.md
  files/ru/web/html/element/menu/index.md
  files/ru/web/html/element/meta/index.md
  files/ru/web/html/element/meter/index.md
  files/ru/web/html/element/ol/index.md
  files/ru/web/html/element/optgroup/index.md
  files/ru/web/html/element/option/index.md
  files/ru/web/html/element/output/index.md
  files/ru/web/html/element/pre/index.md
  files/ru/web/html/element/progress/index.md
  files/ru/web/html/element/script/index.md
  files/ru/web/html/element/select/index.md
  files/ru/web/html/element/slot/index.md
  files/ru/web/html/element/source/index.md
  files/ru/web/html/element/style/index.md
  files/ru/web/html/element/td/index.md
  files/ru/web/html/element/tfoot/index.md
  files/ru/web/html/element/time/index.md
  files/ru/web/html/element/track/index.md
  files/ru/web/html/element/ul/index.md
  files/ru/web/html/element/video/index.md
Labels: l10n-ru

#16874 Fix #16823 - Translate Device Orientation Events
  files/fr/web/api/device_orientation_events/detecting_device_orientation/index.md
  files/fr/web/api/device_orientation_events/index.md
  files/fr/web/api/device_orientation_events/orientation_and_motion_data_explained/index.md
  files/fr/web/api/device_orientation_events/using_device_orientation_with_3d_transforms/index.md
Labels: l10n-fr

#16961 `fr` - Glossary - Initial translation for D entries
  files/fr/glossary/dsl/digital_subscriber_line/index.md
  files/fr/glossary/dsl/domain_specific_language/index.md
  files/fr/glossary/dsl/index.md
  files/fr/glossary/dtls/index.md
Labels: l10n-fr

#17010 zh-cn: init the translation of `Element.setHTML()`
  files/zh-cn/web/api/element/sethtml/index.md
Labels: l10n-zh

#17000 zh-cn: update the translation of History API
  files/zh-cn/web/api/history_api/index.md
Labels: l10n-zh

#16956 zh-cn: update the translation of ARIA widgets
  files/zh-cn/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
Labels: l10n-zh

#16841 [pt-br] update Learn/CSS/Building_blocks/The_box_model page
  files/pt-br/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-pt-br

#16937 [pt-br]: add translation for Audio Output Devices API
  files/pt-br/web/api/audio_output_devices_api/index.md
Labels: l10n-pt-br

#16980 Glossary/Interpolation を新規翻訳
  files/ja/glossary/interpolation/index.md
Labels: l10n-ja

#16981 Web/CSS/filter の記事を更新
  files/ja/web/css/filter/index.md
Labels: l10n-ja

#16987 CSS の flex-basis の記事を更新
  files/ja/web/css/flex-basis/index.md
Labels: l10n-ja

#17018 のの => の
  files/ja/web/api/element/append/index.md
Labels: l10n-ja

#16996 Remove obsolete `Node.isSupported` method
  files/es/web/api/attr/index.md
  files/fr/web/api/attr/index.md
  files/fr/web/api/node/index.md
  files/pt-br/web/api/attr/index.md
  files/pt-br/web/api/node/index.md
  files/ru/_redirects.txt
  files/ru/conflicting/web/api/node/index.md
  files/ru/web/api/attr/index.md
  files/ru/web/api/node/index.md
  files/zh-cn/web/api/attr/index.md
Labels: l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-pt-br

#17002 pt-BR: lack of space
  files/pt-br/learn/javascript/first_steps/what_went_wrong/index.md
Labels: l10n-pt-br

#17004 pt-br: does not accept "meuNome" and "minhaIdade"
  files/pt-br/learn/javascript/first_steps/test_your_skills_colon__variables/index.md
Labels: l10n-pt-br

#17003 pt-BR: wrong word, the "e" word without an accent and another "e" wor…
  files/pt-br/learn/javascript/first_steps/variables/index.md
Labels: l10n-pt-br
