Repository mdn/translated-content, pull requests merged in 2023-02, with the labels that each got.

#11325 Update Web/API/Beacon_API
  files/zh-cn/web/api/beacon_api/index.md
Labels: l10n-zh

#11336 [zh-cn] Update box shadow generator
  files/zh-cn/web/css/css_backgrounds_and_borders/box-shadow_generator/index.md
Labels: l10n-zh

#11338 fr/web/api/performance/memory: Replace {{Non-standardGeneric}} call with {{Non-standard_Header}}
  files/fr/web/api/performance/memory/index.md
Labels: l10n-fr

#11263 Translate text from the English 'How the web works' article
  files/fr/learn/getting_started_with_the_web/how_the_web_works/index.md
Labels: l10n-fr

#11339 fr: Remove {{ARIARole}} macro
  files/fr/web/html/element/heading_elements/index.md
  files/fr/web/html/element/hgroup/index.md
  files/fr/web/html/element/hr/index.md
  files/fr/web/html/element/li/index.md
  files/fr/web/html/element/section/index.md
  files/fr/web/html/element/select/index.md
  files/fr/web/html/element/summary/index.md
  files/fr/web/html/element/ul/index.md
  files/fr/web/html/element/video/index.md
Labels: l10n-fr

#11330 HTML tabld documentation (French) - Fix example and typos
  files/fr/learn/html/tables/advanced/index.md
  files/fr/learn/html/tables/basics/index.md
  files/fr/learn/html/tables/structuring_planet_data/index.md
Labels: l10n-fr

#11327 [zh-cn] Update vue styling
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_styling/index.md
Labels: l10n-zh

#11307 Erro no título
  files/pt-br/web/javascript/reference/global_objects/asyncfunction/index.md
Labels: l10n-pt-br

#11337 Update index.md
  files/zh-cn/web/javascript/reference/global_objects/string/match/index.md
Labels: l10n-zh

#11346 zh-cn(update): update response.type
  files/zh-cn/web/api/response/type/index.md
Labels: l10n-zh

#11344 Service worker
  files/zh-cn/web/api/serviceworker/index.md
Labels: l10n-zh

#11333 Fix typo
  files/es/web/javascript/reference/global_objects/eval/index.md
Labels: l10n-es

#11334 Fix typo
  files/es/web/api/settimeout/index.md
Labels: l10n-es

#11350 zh-cn(update): update fetchevent-clientId
  files/zh-cn/web/api/fetchevent/clientid/index.md
Labels: l10n-zh

#11312 translate content
  files/zh-tw/learn/common_questions/index.md
Labels: l10n-zh

#11358 chore: add `In this module` translation to translation-guide
  docs/zh-cn/translation-guide.md
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#11348 sync with english version for MDN Community
  files/zh-cn/mdn/community/index.md
Labels: l10n-zh

#11351 zh-cn(update): update client-id
  files/zh-cn/web/api/client/id/index.md
  files/zh-cn/web/api/client/index.md
Labels: l10n-zh

#11363 fix typo
  files/zh-cn/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-zh

#11362 zh-cn(update): update navigator-serviceworker
  files/zh-cn/web/api/navigator/serviceworker/index.md
Labels: l10n-zh

#11156 [ko] 번역 Web/Performance/How_browsers_work
  files/ko/web/performance/how_browsers_work/index.md
Labels: l10n-ko

#11276 MDN/Community/Issues を更新
  files/ja/mdn/community/issues/index.md
Labels: l10n-ja

#11278 MDN/Community/Issues/Content_suggestions_feature_proposals を更新
  files/ja/mdn/community/issues/content_suggestions_feature_proposals/index.md
Labels: l10n-ja

#11367 [zh-cn] Update web/css
  files/zh-cn/web/css/index.md
Labels: l10n-zh

#11365 zh-cn(update): update serviceworkerglobalscope skipwaiting
  files/zh-cn/web/api/serviceworkerglobalscope/skipwaiting/index.md
Labels: l10n-zh

#11353 Corregido el error ##11265 [es]
  files/es/mdn/community/contributing/translated_content/index.md
Labels: l10n-es

#11233 chore(zh-cn): translate page report issue template
  .github/ISSUE_TEMPLATE/page-report-zh-cn.yml
Labels: system

#11355 Traducción de artículo sobre Clases en Javascript, relates to #11258
  files/es/learn/javascript/objects/classes_in_javascript/index.md
Labels: l10n-es

#11359 chore: remove ignore files
  .markdownlint-cli2.jsonc
  files/fr/web/api/window/frames/index.md
Labels: l10n-fr

#11361 sync with english version for `SubtleCrypto.exportKey()`
  files/zh-cn/web/api/subtlecrypto/exportkey/index.md
Labels: l10n-zh

#11372 Fix broken MarkDown syntax
  files/zh-cn/web/css/_doublecolon_before/index.md
Labels: l10n-zh

#11368 [zh-cn] Update CSS layout cookbook mainpage
  files/zh-cn/web/css/layout_cookbook/index.md
Labels: l10n-zh

#11373 [zh-cn] update advanced text formatting
  files/zh-cn/learn/html/introduction_to_html/advanced_text_formatting/index.md
Labels: l10n-zh

#11364 zh-cn(update): update serviceworkercontainer
  files/zh-cn/web/api/serviceworkercontainer/index.md
Labels: l10n-zh

#11379 fix typo
  files/zh-cn/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
Labels: l10n-zh

#11376 [zh-cn] init translation for glossary operator
  files/zh-cn/glossary/operator/index.md
Labels: l10n-zh

#11378 Fixes wrong link
  files/zh-cn/web/html/element/label/index.md
Labels: l10n-zh

#11311 Base64 - Correspondance de contenu et correction des examples de code brisé
  files/fr/glossary/base64/index.md
Labels: l10n-fr

#11375 [zh-cn] init translation for glossary value/variable
  files/zh-cn/glossary/value/index.md
  files/zh-cn/glossary/variable/index.md
Labels: l10n-zh

#11371 sync with english version for `SubtleCrypto.generateKey()`
  files/zh-cn/web/api/subtlecrypto/exportkey/index.md
  files/zh-cn/web/api/subtlecrypto/generatekey/index.md
Labels: l10n-zh

#10930 Fix #10818
  files/fr/glossary/void_element/index.md
Labels: l10n-fr

#11104 fix(ru): article CSS_basics
  files/ru/learn/getting_started_with_the_web/css_basics/index.md
Labels: l10n-ru

#9870 Correct web storage link
  files/ru/web/api/storage/getitem/index.md
Labels: l10n-ru

#9645 [ru] background fetch record
  files/ru/web/api/backgroundfetchrecord/index.md
  files/ru/web/api/backgroundfetchrecord/request/index.md
  files/ru/web/api/backgroundfetchrecord/responseready/index.md
Labels: l10n-ru

#11381 Update Web/CSS/At-rule
  files/zh-cn/web/css/at-rule/index.md
Labels: l10n-zh

#11388 add translation of `CSS Counter Styles`
  files/zh-cn/web/api/css_counter_styles/index.md
Labels: l10n-zh

#11326 zh-cn(update): update using service worker
  files/zh-cn/web/api/service_worker_api/using_service_workers/index.md
Labels: l10n-zh

#11389 [zh] fix event.preventDefault Markdown format error
  files/zh-cn/web/api/event/preventdefault/index.md
Labels: l10n-zh

#11391 Up to date with English Doc
  files/zh-cn/learn/css/css_layout/grids/index.md
Labels: l10n-zh

#11392 Update index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
Labels: l10n-zh

#11393 [zh-cn] translate title
  files/zh-cn/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-zh

#11369 Add Discord link
  docs/es/README.md
Labels: l10n-es

#11395 [zh-cn] Update Learn/Accessibility main page
  files/zh-cn/learn/accessibility/index.md
Labels: l10n-zh

#11356 chore(ru): remove {{WebGLSidebar}} macro
  files/ru/web/api/webgl_api/index.md
  files/ru/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/ru/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/index.md
  files/ru/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/ru/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ru/web/api/webgl_api/webgl_best_practices/index.md
Labels: l10n-ru

#8551 Translation Glossary/UX
  files/ru/glossary/ux/index.md
Labels: l10n-ru

#10531 [RU] <button>
  files/ru/web/html/element/button/index.md
Labels: l10n-ru

#11401 Ensure that site links are pointing to localized page
  files/zh-cn/glossary/cors/index.md
  files/zh-cn/learn/javascript/first_steps/a_first_splash/index.md
  files/zh-cn/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/zh-cn/web/api/element/animationend_event/index.md
  files/zh-cn/web/api/performance_api/index.md
  files/zh-cn/web/javascript/reference/global_objects/map/values/index.md
Labels: l10n-zh

#11380 sync with english version for `SubtleCrypto.importKey()`
  files/zh-cn/web/api/subtlecrypto/importkey/index.md
Labels: l10n-zh

#11399 Update files/zh-cn/web/api/xmlhttprequest/withcredentials/index.md
  files/zh-cn/web/api/xmlhttprequest/withcredentials/index.md
Labels: l10n-zh

#11403 [zh-cn] Update text-rendering page
  files/zh-cn/web/css/text-rendering/index.md
Labels: l10n-zh

#11407 [zh-cn] Fix notecard markdown
  files/zh-cn/learn/css/building_blocks/organizing/index.md
Labels: l10n-zh

#11406 [zh-cn] Remove '选择器参考表' section
  files/zh-cn/learn/css/building_blocks/selectors/index.md
Labels: l10n-zh

#11400 zh-cn: update translate content about Node.contains()
  files/zh-cn/web/api/node/contains/index.md
Labels: l10n-zh

#11231 Ko translate html basics
  files/ko/learn/getting_started_with_the_web/html_basics/index.md
Labels: l10n-ko

#11394 remove an out-of-date example
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
Labels: l10n-zh

#11412 Added translations of mode and repeatDur
  files/zh-cn/web/svg/attribute/mode/index.md
  files/zh-cn/web/svg/attribute/repeatdur/index.md
Labels: l10n-zh

#10729 [ru] переведена часть статьи Web Performance
  files/ru/web/performance/index.md
Labels: l10n-ru

#9486 docs: sync Array/at
  files/ru/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-ru

#10530 [RU] <br>
  files/ru/web/html/element/br/index.md
Labels: l10n-ru

#11305 Improve comment for URL.href
  files/ja/web/api/url/index.md
Labels: l10n-ja

#10532 [RU] <code>
  files/ru/web/html/element/code/index.md
Labels: l10n-ru

#11318 [ja] fix image source
  files/ja/learn/server-side/first_steps/introduction/index.md
Labels: l10n-ja

#11331 MDN/Community/Learn_forum を更新
  files/ja/mdn/community/learn_forum/index.md
Labels: l10n-ja

#10491 add code insertion
  files/ru/web/http/cors/index.md
Labels: l10n-ru

#11340 ja: Remove {{ARIARole}} macro
  files/ja/web/html/element/a/index.md
  files/ja/web/html/element/area/index.md
  files/ja/web/html/element/article/index.md
  files/ja/web/html/element/aside/index.md
  files/ja/web/html/element/audio/index.md
  files/ja/web/html/element/br/index.md
  files/ja/web/html/element/button/index.md
  files/ja/web/html/element/dd/index.md
  files/ja/web/html/element/details/index.md
  files/ja/web/html/element/dfn/index.md
  files/ja/web/html/element/dialog/index.md
  files/ja/web/html/element/dl/index.md
  files/ja/web/html/element/dt/index.md
  files/ja/web/html/element/embed/index.md
  files/ja/web/html/element/fieldset/index.md
  files/ja/web/html/element/figcaption/index.md
  files/ja/web/html/element/footer/index.md
  files/ja/web/html/element/form/index.md
  files/ja/web/html/element/header/index.md
  files/ja/web/html/element/heading_elements/index.md
  files/ja/web/html/element/hr/index.md
  files/ja/web/html/element/iframe/index.md
  files/ja/web/html/element/img/index.md
  files/ja/web/html/element/input/index.md
  files/ja/web/html/element/li/index.md
  files/ja/web/html/element/link/index.md
  files/ja/web/html/element/menu/index.md
  files/ja/web/html/element/object/index.md
  files/ja/web/html/element/ol/index.md
  files/ja/web/html/element/optgroup/index.md
  files/ja/web/html/element/option/index.md
  files/ja/web/html/element/output/index.md
  files/ja/web/html/element/progress/index.md
  files/ja/web/html/element/section/index.md
  files/ja/web/html/element/select/index.md
  files/ja/web/html/element/th/index.md
  files/ja/web/html/element/ul/index.md
  files/ja/web/html/element/video/index.md
Labels: l10n-ja

#10534 [RU] <dt>
  files/ru/web/html/element/dt/index.md
Labels: l10n-ru

#11417 Update links to to-do-notifications
  files/ja/web/api/notifications_api/using_the_notifications_api/index.md
Labels: l10n-ja

#10571 [RU] <ul>
  files/ru/web/html/element/ul/index.md
Labels: l10n-ru

#10937 fix(ru): article <input type="button">
  files/ru/web/html/element/input/button/index.md
Labels: l10n-ru

#10533 [RU] <div>
  files/ru/web/html/element/div/index.md
Labels: l10n-ru

#10941 fix(ru): article <section>
  files/ru/web/html/element/section/index.md
Labels: l10n-ru

#10939 fix(ru): article <nav>
  files/ru/web/html/element/nav/index.md
Labels: l10n-ru

#10942 fix(ru): article <style>
  files/ru/web/html/element/style/index.md
Labels: l10n-ru

#10943 fix(ru): article <strong>
  files/ru/web/html/element/strong/index.md
Labels: l10n-ru

#10986 fix(ru): article Manipulating_documents
  files/ru/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: l10n-ru

#10998 fix(ru): article __defineGetter__
  files/ru/web/javascript/reference/global_objects/object/__definegetter__/index.md
Labels: l10n-ru

#10999 fix(ru): article __defineSetter__
  files/ru/web/javascript/reference/global_objects/object/__definesetter__/index.md
Labels: l10n-ru

#11410 CSS `perspective`: add missing closing `<div>` tag
  files/fr/web/css/perspective/index.md
Labels: l10n-fr

#11408 sync with english version for `SubtleCrypto.sign()`
  files/zh-cn/web/api/subtlecrypto/sign/index.md
Labels: l10n-zh

#11411 [zh-cn] Init translation for glossary property
  files/zh-cn/glossary/property/css/index.md
  files/zh-cn/glossary/property/index.md
  files/zh-cn/glossary/property/javascript/index.md
Labels: l10n-zh

#11432 Update translation of Document Object Model (DOM)
  files/zh-cn/web/api/document_object_model/index.md
Labels: l10n-zh

#11433 [zh-cn] Update layout_cookbook/card
  files/zh-cn/web/css/layout_cookbook/card/index.md
Labels: l10n-zh

#11437 fix definition list
  files/zh-cn/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-zh

#11444 Update links to To-do Notifications demo (zh-cn and zh-tw)
  files/zh-cn/web/api/idbcursor/direction/index.md
  files/zh-cn/web/api/idbcursor/index.md
  files/zh-cn/web/api/idbcursor/key/index.md
  files/zh-cn/web/api/idbdatabase/createobjectstore/index.md
  files/zh-cn/web/api/idbdatabase/deleteobjectstore/index.md
  files/zh-cn/web/api/idbdatabase/index.md
  files/zh-cn/web/api/idbdatabase/versionchange_event/index.md
  files/zh-cn/web/api/idbfactory/index.md
  files/zh-cn/web/api/idbkeyrange/index.md
  files/zh-cn/web/api/idbkeyrange/lowerbound/index.md
  files/zh-cn/web/api/idbobjectstore/add/index.md
  files/zh-cn/web/api/idbobjectstore/autoincrement/index.md
  files/zh-cn/web/api/idbobjectstore/get/index.md
  files/zh-cn/web/api/idbobjectstore/index.md
  files/zh-cn/web/api/idbobjectstore/indexnames/index.md
  files/zh-cn/web/api/idbobjectstore/keypath/index.md
  files/zh-cn/web/api/idbobjectstore/opencursor/index.md
  files/zh-cn/web/api/idbobjectstore/put/index.md
  files/zh-cn/web/api/idbopendbrequest/index.md
  files/zh-cn/web/api/idbtransaction/db/index.md
  files/zh-cn/web/api/idbtransaction/index.md
  files/zh-cn/web/api/indexeddb/index.md
  files/zh-cn/web/api/indexeddb_api/checking_when_a_deadline_is_due/index.md
  files/zh-cn/web/api/indexeddb_api/index.md
  files/zh-tw/web/api/idbdatabase/index.md
Labels: l10n-zh

#11445 Update index.md
  files/zh-cn/learn/common_questions/pages_sites_servers_and_search_engines/index.md
Labels: l10n-zh

#11446 fix typo
  files/zh-cn/web/api/response/body/index.md
Labels: l10n-zh

#11349 Fix Front-matter syntax
  files/ja/web/http/csp/errors/cspviolation/index.md
Labels: l10n-ja

#11328 [ko] JavaScript: Map.prototype.size, @@iterator 추가
  files/ko/web/javascript/reference/global_objects/map/@@iterator/index.md
  files/ko/web/javascript/reference/global_objects/map/size/index.md
Labels: l10n-ko

#11454 [zh-cn] Update glossary main page
  files/zh-cn/glossary/index.md
Labels: l10n-zh

#11431 chore: replace sidebar under `WebAssembly` section
  files/zh-cn/webassembly/javascript_interface/compile/index.md
  files/zh-cn/webassembly/javascript_interface/compileerror/index.md
  files/zh-cn/webassembly/javascript_interface/compilestreaming/index.md
  files/zh-cn/webassembly/javascript_interface/global/index.md
  files/zh-cn/webassembly/javascript_interface/index.md
  files/zh-cn/webassembly/javascript_interface/instance/index.md
  files/zh-cn/webassembly/javascript_interface/instantiate/index.md
  files/zh-cn/webassembly/javascript_interface/instantiatestreaming/index.md
  files/zh-cn/webassembly/javascript_interface/memory/index.md
  files/zh-cn/webassembly/javascript_interface/runtimeerror/index.md
  files/zh-cn/webassembly/javascript_interface/table/index.md
  files/zh-cn/webassembly/javascript_interface/validate/index.md
Labels: l10n-zh

#10686 fix(ru): image and typo
  files/ru/web/css/backdrop-filter/anemones.jpg
  files/ru/web/css/backdrop-filter/index.md
Labels: l10n-ru

#11475 chore(ja): replace {{JSRef}} macro in webassembly
  files/ja/webassembly/javascript_interface/compile/index.md
  files/ja/webassembly/javascript_interface/compileerror/compileerror/index.md
  files/ja/webassembly/javascript_interface/compileerror/index.md
  files/ja/webassembly/javascript_interface/global/global/index.md
  files/ja/webassembly/javascript_interface/global/index.md
  files/ja/webassembly/javascript_interface/index.md
  files/ja/webassembly/javascript_interface/instance/exports/index.md
  files/ja/webassembly/javascript_interface/instance/index.md
  files/ja/webassembly/javascript_interface/instance/instance/index.md
  files/ja/webassembly/javascript_interface/instantiate/index.md
  files/ja/webassembly/javascript_interface/linkerror/index.md
  files/ja/webassembly/javascript_interface/linkerror/linkerror/index.md
  files/ja/webassembly/javascript_interface/memory/buffer/index.md
  files/ja/webassembly/javascript_interface/memory/grow/index.md
  files/ja/webassembly/javascript_interface/memory/index.md
  files/ja/webassembly/javascript_interface/memory/memory/index.md
  files/ja/webassembly/javascript_interface/module/customsections/index.md
  files/ja/webassembly/javascript_interface/module/exports/index.md
  files/ja/webassembly/javascript_interface/module/imports/index.md
  files/ja/webassembly/javascript_interface/module/index.md
  files/ja/webassembly/javascript_interface/module/module/index.md
  files/ja/webassembly/javascript_interface/runtimeerror/index.md
  files/ja/webassembly/javascript_interface/runtimeerror/runtimeerror/index.md
  files/ja/webassembly/javascript_interface/table/get/index.md
  files/ja/webassembly/javascript_interface/table/grow/index.md
  files/ja/webassembly/javascript_interface/table/index.md
  files/ja/webassembly/javascript_interface/table/length/index.md
  files/ja/webassembly/javascript_interface/table/set/index.md
  files/ja/webassembly/javascript_interface/table/table/index.md
  files/ja/webassembly/javascript_interface/validate/index.md
Labels: l10n-ja

#11383 Slight wording correction
  files/ja/learn/forms/form_validation/index.md
Labels: l10n-ja

#11425 fix(ru): typo
  files/ru/web/javascript/guide/modules/index.md
Labels: l10n-ru

#11223 Update index.md
  files/ru/glossary/truthy/index.md
Labels: l10n-ru

#11472 chore(fr): replace {{JSRef}} macro in webassembly
  files/fr/webassembly/javascript_interface/compile/index.md
  files/fr/webassembly/javascript_interface/compileerror/compileerror/index.md
  files/fr/webassembly/javascript_interface/compileerror/index.md
  files/fr/webassembly/javascript_interface/compilestreaming/index.md
  files/fr/webassembly/javascript_interface/exception/exception/index.md
  files/fr/webassembly/javascript_interface/exception/getarg/index.md
  files/fr/webassembly/javascript_interface/exception/index.md
  files/fr/webassembly/javascript_interface/exception/is/index.md
  files/fr/webassembly/javascript_interface/exception/stack/index.md
  files/fr/webassembly/javascript_interface/global/global/index.md
  files/fr/webassembly/javascript_interface/global/index.md
  files/fr/webassembly/javascript_interface/index.md
  files/fr/webassembly/javascript_interface/instance/exports/index.md
  files/fr/webassembly/javascript_interface/instance/index.md
  files/fr/webassembly/javascript_interface/instance/instance/index.md
  files/fr/webassembly/javascript_interface/instantiate/index.md
  files/fr/webassembly/javascript_interface/instantiatestreaming/index.md
  files/fr/webassembly/javascript_interface/linkerror/index.md
  files/fr/webassembly/javascript_interface/linkerror/linkerror/index.md
  files/fr/webassembly/javascript_interface/memory/buffer/index.md
  files/fr/webassembly/javascript_interface/memory/grow/index.md
  files/fr/webassembly/javascript_interface/memory/index.md
  files/fr/webassembly/javascript_interface/memory/memory/index.md
  files/fr/webassembly/javascript_interface/module/customsections/index.md
  files/fr/webassembly/javascript_interface/module/exports/index.md
  files/fr/webassembly/javascript_interface/module/imports/index.md
  files/fr/webassembly/javascript_interface/module/index.md
  files/fr/webassembly/javascript_interface/module/module/index.md
  files/fr/webassembly/javascript_interface/runtimeerror/index.md
  files/fr/webassembly/javascript_interface/runtimeerror/runtimeerror/index.md
  files/fr/webassembly/javascript_interface/table/get/index.md
  files/fr/webassembly/javascript_interface/table/grow/index.md
  files/fr/webassembly/javascript_interface/table/index.md
  files/fr/webassembly/javascript_interface/table/length/index.md
  files/fr/webassembly/javascript_interface/table/set/index.md
  files/fr/webassembly/javascript_interface/table/table/index.md
  files/fr/webassembly/javascript_interface/tag/index.md
  files/fr/webassembly/javascript_interface/tag/tag/index.md
  files/fr/webassembly/javascript_interface/tag/type/index.md
  files/fr/webassembly/javascript_interface/validate/index.md
Labels: l10n-fr

#11490 [zh-cn] Fix filecheck issues
  files/zh-cn/web/api/web_authentication_api/index.md
  files/zh-cn/web/api/web_authentication_api/mdn_webauthn_registration_(r3).png
Labels: l10n-zh

#11459 Added Simplified Chinese page for MathML
  files/zh-cn/glossary/mathml/index.md
Labels: l10n-zh

#11342 ru: Remove {{ARIARole}} macro
  files/ru/web/html/element/article/index.md
  files/ru/web/html/element/aside/index.md
  files/ru/web/html/element/audio/index.md
  files/ru/web/html/element/button/index.md
  files/ru/web/html/element/dl/index.md
  files/ru/web/html/element/embed/index.md
  files/ru/web/html/element/fieldset/index.md
  files/ru/web/html/element/figcaption/index.md
  files/ru/web/html/element/figure/index.md
  files/ru/web/html/element/footer/index.md
  files/ru/web/html/element/header/index.md
  files/ru/web/html/element/heading_elements/index.md
  files/ru/web/html/element/hr/index.md
  files/ru/web/html/element/li/index.md
  files/ru/web/html/element/menu/index.md
  files/ru/web/html/element/ol/index.md
  files/ru/web/html/element/section/index.md
  files/ru/web/html/element/select/index.md
  files/ru/web/html/element/summary/index.md
  files/ru/web/html/element/ul/index.md
Labels: l10n-ru

#11498 improve the translate
  files/zh-cn/learn/css/css_layout/grids/index.md
Labels: l10n-zh

#11488 [fr] Fix filecheck issues
  files/fr/web/css/css_grid_layout/basic_concepts_of_grid_layout/grid3.jpg
Labels: l10n-fr

#11357 chore(pt-br): remove {{WebGLSidebar}} macro
  files/pt-br/web/api/webgl_api/index.md
  files/pt-br/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/pt-br/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/pt-br/web/api/webgl_api/tutorial/index.md
Labels: l10n-pt-br

#11397 Remove {{gecko}} macro from ja
  files/ja/conflicting/web/api/document/index.md
  files/ja/conflicting/web/api/element/clientheight/index.md
  files/ja/conflicting/web/api/element/clientwidth/index.md
  files/ja/mozilla/firefox/releases/7/index.md
  files/ja/web/api/document/cookie/index.md
  files/ja/web/api/element/localname/index.md
  files/ja/web/api/filelist/index.md
  files/ja/web/api/storageevent/index.md
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ja/web/http/configuring_servers_for_ogg_media/index.md
  files/ja/web/http/link_prefetching_faq/index.md
Labels: l10n-ja

#11398 Remove {{SectionOnPage}} macro from ja
  files/ja/glossary/script-supporting_element/index.md
  files/ja/learn/forms/sending_forms_through_javascript/index.md
  files/ja/mozilla/firefox/releases/40/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/mozilla/firefox/releases/57/index.md
  files/ja/mozilla/firefox/releases/64/index.md
  files/ja/mozilla/firefox/releases/66/index.md
  files/ja/mozilla/firefox/releases/69/index.md
  files/ja/web/api/document/exitfullscreen/index.md
  files/ja/web/api/htmlselectelement/selectedoptions/index.md
  files/ja/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/ja/web/api/mediadevices/index.md
  files/ja/web/api/performanceobserver/observe/index.md
  files/ja/web/api/promiserejectionevent/promise/index.md
  files/ja/web/api/screen_capture_api/using_screen_capture/index.md
  files/ja/web/api/webrtc_api/connectivity/index.md
  files/ja/web/api/window/rejectionhandled_event/index.md
  files/ja/web/api/window/unhandledrejection_event/index.md
  files/ja/web/css/border-color/index.md
  files/ja/web/html/element/textarea/index.md
  files/ja/web/media/formats/image_types/index.md
Labels: l10n-ja

#11474 chore(es): replace {{JSRef}} macro in webassembly
  files/es/webassembly/javascript_interface/index.md
Labels: l10n-es

#11512 Change words mas
  files/es/web/api/console/index.md
Labels: l10n-es

#11501 ru: Remove {{CanvasSidebar}} macro
  files/ru/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/ru/web/api/canvas_api/index.md
  files/ru/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/ru/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/ru/web/api/canvas_api/tutorial/basic_animations/index.md
  files/ru/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ru/web/api/canvas_api/tutorial/compositing/index.md
  files/ru/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/ru/web/api/canvas_api/tutorial/drawing_text/index.md
  files/ru/web/api/canvas_api/tutorial/finale/index.md
  files/ru/web/api/canvas_api/tutorial/index.md
  files/ru/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/ru/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ru/web/api/canvas_api/tutorial/transformations/index.md
  files/ru/web/api/canvas_api/tutorial/using_images/index.md
Labels: l10n-ru

#11480 chore(ru): replace {{JSRef}} macro in webassembly
  files/ru/webassembly/javascript_interface/compile/index.md
  files/ru/webassembly/javascript_interface/compilestreaming/index.md
  files/ru/webassembly/javascript_interface/index.md
  files/ru/webassembly/javascript_interface/table/index.md
Labels: l10n-ru

#11495 [ja] fix typo
  files/ja/web/javascript/reference/global_objects/symbol/index.md
Labels: l10n-ja

#11414 MDN/Community/Communication_channels を新規翻訳
  files/ja/mdn/community/communication_channels/index.md
Labels: l10n-ja

#11419 MDN/Community/MDN_content/Pull_requests を新規翻訳
  files/ja/mdn/community/mdn_content/pull_requests/index.md
Labels: l10n-ja

#11423 Glossary/Literal を更新
  files/ja/glossary/literal/index.md
Labels: l10n-ja

#11352 Remove `{{Gecko}}` macro from es
  files/es/web/api/element/localname/index.md
  files/es/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/es/web/api/websocket/index.md
  files/es/web/api/window/index.md
  files/es/web/api/window/open/index.md
  files/es/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/es/web/css/resize/index.md
  files/es/web/html/element/input/index.md
  files/es/web/html/element/textarea/index.md
  files/es/web/http/cors/index.md
  files/es/web/javascript/reference/global_objects/string/search/index.md
Labels: l10n-es

#11329 [ko] Gecko 매크로 삭제
  files/ko/web/api/document/cookie/index.md
  files/ko/web/api/window/status/index.md
  files/ko/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
Labels: l10n-ko

#11537 [zh-cn] Fix some markdown formats
  files/zh-cn/learn/accessibility/html/index.md
Labels: l10n-zh

#11496 [zh-cn] Update learn/automation_test
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
Labels: l10n-zh

#11528 chore(zh-cn): add two items to common headings
  docs/zh-cn/translation-guide.md
Labels: l10n-zh

#11457 sync with english version for `<hgroup>`
  files/zh-cn/web/html/element/hgroup/index.md
Labels: l10n-zh

#11174 [ko] Infinity 최신화
  files/ko/web/javascript/reference/global_objects/infinity/index.md
Labels: l10n-ko

#11409 MDN/Community/Roles_teams を新規翻訳
  files/ja/mdn/community/roles_teams/index.md
Labels: l10n-ja

#11416 MDN/Community/MDN_content/Issues を新規翻訳
  files/ja/mdn/community/mdn_content/issues/index.md
Labels: l10n-ja

#11418 MDN/Community を更新
  files/ja/mdn/community/index.md
Labels: l10n-ja

#11420 MDN/Community/MDN_content を更新
  files/ja/mdn/community/mdn_content/index.md
Labels: l10n-ja

#11275 Remove WindowOrWorkerGlobalScope [es]
  files/es/_redirects.txt
  files/es/_wikihistory.json
  files/es/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/es/mozilla/firefox/releases/57/index.md
  files/es/orphaned/web/api/windoworworkerglobalscope/index.md
  files/es/web/api/caches/index.md
  files/es/web/api/cachestorage/index.md
  files/es/web/api/cachestorage/keys/index.md
  files/es/web/api/fetch/index.md
  files/es/web/api/fetch_api/using_fetch/index.md
  files/es/web/api/indexeddb/index.md
  files/es/web/api/issecurecontext/index.md
  files/es/web/api/settimeout/index.md
Labels: l10n-es

#11516 Fix some punctuation errors
  files/es/web/javascript/index.md
Labels: l10n-es

#11544 [zh-cn/chore]: Unify "in this module" part in learn/HTML
  files/zh-cn/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/zh-cn/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/zh-cn/learn/html/introduction_to_html/debugging_html/index.md
  files/zh-cn/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/zh-cn/learn/html/introduction_to_html/getting_started/index.md
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/zh-cn/learn/html/introduction_to_html/marking_up_a_letter/index.md
  files/zh-cn/learn/html/introduction_to_html/structuring_a_page_of_content/index.md
  files/zh-cn/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/zh-cn/learn/html/tables/advanced/index.md
  files/zh-cn/learn/html/tables/basics/index.md
  files/zh-cn/learn/html/tables/structuring_planet_data/index.md
Labels: l10n-zh

#11550 zh-cn(translate): glossary/code point
  files/zh-cn/glossary/code_point/index.md
Labels: l10n-zh

#11552 zh-cn(translate): glossary/code unit
  files/zh-cn/glossary/code_unit/index.md
Labels: l10n-zh

#11526 fr: Remove {{Gecko}} macro
  files/fr/mozilla/firefox/releases/7/index.md
  files/fr/web/api/attr/localname/index.md
  files/fr/web/api/document_object_model/index.md
  files/fr/web/api/element/localname/index.md
  files/fr/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/fr/web/api/window/index.md
  files/fr/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/fr/web/css/@media/aural/index.md
  files/fr/web/css/privacy_and_the__colon_visited_selector/index.md
  files/fr/web/html/element/input/file/index.md
  files/fr/web/html/element/li/index.md
  files/fr/web/http/link_prefetching_faq/index.md
Labels: l10n-fr

#11564 [zh-cn/chore]: Unify "in this module" part in learn/accessibility
  files/zh-cn/learn/accessibility/accessibility_troubleshooting/index.md
  files/zh-cn/learn/accessibility/css_and_javascript/index.md
  files/zh-cn/learn/accessibility/html/index.md
  files/zh-cn/learn/accessibility/index.md
  files/zh-cn/learn/accessibility/mobile/index.md
  files/zh-cn/learn/accessibility/multimedia/index.md
  files/zh-cn/learn/accessibility/wai-aria_basics/index.md
  files/zh-cn/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-zh

#11551 mdn/content#23661 を反映
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
Labels: l10n-ja

#11447 Web/HTTP/Browser_detection_using_the_user_agent を更新
  files/ja/web/http/browser_detection_using_the_user_agent/index.md
Labels: l10n-ja

#11448 Anatomy_of_a_WebExtension を更新
  files/ja/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
Labels: l10n-ja

#11452 Web/Guide/Mobile/A_hybrid_approach を更新（#7324 の対応の一環）
  files/ja/web/guide/mobile/a_hybrid_approach/index.md
Labels: l10n-ja

#11549 Bump NodeJS from v16 to v18
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_markdownlint.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
  .nvmrc
  package.json
Labels: system

#11386 Traducir articulo de container queries al castellano
  files/es/web/css/css_container_queries/index.md
Labels: l10n-es

#11443 Update links to To-do Notifications demo (ru)
  files/ru/web/api/idbindex/index.md
  files/ru/web/api/idbindex/locale/index.md
  files/ru/web/api/indexeddb_api/index.md
Labels: l10n-ru

#11140 Update index.md
  files/ru/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Labels: l10n-ru

#10495 updated js code to english version
  files/ru/web/http/cors/index.md
Labels: l10n-ru

#7429 [ru] background fetch api
  files/ru/web/api/background_fetch_api/index.md
Labels: l10n-ru
