Repository mdn/translated-content, pull requests merged in 2023-08, with the labels that each got.

#14635 誤字の修正
  files/ja/web/api/htmlmediaelement/seektonextframe/index.md
Labels: l10n-ja

#14650 Translate Web Bluetooth API
  files/ja/web/api/web_bluetooth_api/index.md
Labels: l10n-ja

#14514 ko: 하이퍼 링크 만들기 문서- 존댓말로 바꾸기
  files/ko/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-ko

#14775 Update digest index.md about zh-CN
  files/zh-cn/glossary/digest/index.md
Labels: l10n-zh

#14782 modify sentences
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_refs_focus_management/index.md
Labels: l10n-zh

#14776 [ko] add `why_web_performance` translation
  files/ko/learn/performance/why_web_performance/index.md
Labels: l10n-ko

#14803 Add scroll behavior instant
  files/fr/web/api/window/scrollto/index.md
Labels: l10n-fr

#14804 Add scroll behavior instant
  files/fr/web/api/window/scroll/index.md
Labels: l10n-fr

#14777 translate cryptographic hash function for zh-CN
  files/zh-cn/glossary/cryptographic_hash_function/index.md
Labels: l10n-zh

#14164 [ko] add media-query translation
  files/ko/learn/css/css_layout/media_queries/index.md
Labels: l10n-ko

#14243 Markdownlint: enable "no-trailing-punctuation" rule
  .markdownlint-cli2.jsonc
  files/ko/web/api/element/prepend/index.md
Labels: l10n-ko, system, not ready

#14814 fr: fix typos in JS import ref page
  files/fr/web/javascript/reference/statements/import/index.md
Labels: l10n-fr

#14791 ja: Format /web/css using Prettier (part 7)
  files/ja/web/css/text-rendering/index.md
  files/ja/web/css/text-shadow/index.md
  files/ja/web/css/text-transform/index.md
  files/ja/web/css/text-underline-offset/index.md
  files/ja/web/css/text-underline-position/index.md
  files/ja/web/css/top/index.md
  files/ja/web/css/transform-box/index.md
  files/ja/web/css/transform-function/index.md
  files/ja/web/css/transform-function/matrix/index.md
  files/ja/web/css/transform-function/matrix3d/index.md
  files/ja/web/css/transform-function/rotate/index.md
  files/ja/web/css/transform-function/scale3d/index.md
  files/ja/web/css/transform-function/scaley/index.md
  files/ja/web/css/transform-function/scalez/index.md
  files/ja/web/css/transform-function/skew/index.md
  files/ja/web/css/transform-function/translate/index.md
  files/ja/web/css/transform-function/translatex/index.md
  files/ja/web/css/transform-function/translatez/index.md
  files/ja/web/css/transform-origin/index.md
  files/ja/web/css/transform-style/index.md
  files/ja/web/css/transform/index.md
  files/ja/web/css/transition-delay/index.md
  files/ja/web/css/transition-duration/index.md
  files/ja/web/css/transition-property/index.md
  files/ja/web/css/transition-timing-function/index.md
  files/ja/web/css/transition/index.md
  files/ja/web/css/type_selectors/index.md
  files/ja/web/css/unicode-bidi/index.md
  files/ja/web/css/universal_selectors/index.md
  files/ja/web/css/used_value/index.md
  files/ja/web/css/user-select/index.md
  files/ja/web/css/var/index.md
  files/ja/web/css/vertical-align/index.md
  files/ja/web/css/viewport_concepts/index.md
  files/ja/web/css/visibility/index.md
  files/ja/web/css/webkit_extensions/index.md
  files/ja/web/css/white-space/index.md
  files/ja/web/css/width/index.md
  files/ja/web/css/will-change/index.md
  files/ja/web/css/word-break/index.md
  files/ja/web/css/writing-mode/index.md
  files/ja/web/css/zoom/index.md
Labels: l10n-ja

#14817 ja: Format /web/javascript using Prettier (part 7)
  files/ja/web/javascript/reference/operators/in/index.md
  files/ja/web/javascript/reference/operators/increment/index.md
  files/ja/web/javascript/reference/operators/inequality/index.md
  files/ja/web/javascript/reference/operators/instanceof/index.md
  files/ja/web/javascript/reference/operators/left_shift/index.md
  files/ja/web/javascript/reference/operators/left_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/less_than/index.md
  files/ja/web/javascript/reference/operators/less_than_or_equal/index.md
  files/ja/web/javascript/reference/operators/logical_and/index.md
  files/ja/web/javascript/reference/operators/logical_and_assignment/index.md
  files/ja/web/javascript/reference/operators/logical_not/index.md
  files/ja/web/javascript/reference/operators/logical_or/index.md
  files/ja/web/javascript/reference/operators/logical_or_assignment/index.md
  files/ja/web/javascript/reference/operators/multiplication/index.md
  files/ja/web/javascript/reference/operators/multiplication_assignment/index.md
  files/ja/web/javascript/reference/operators/new.target/index.md
  files/ja/web/javascript/reference/operators/new/index.md
  files/ja/web/javascript/reference/operators/null/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing/index.md
  files/ja/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
  files/ja/web/javascript/reference/operators/object_initializer/index.md
  files/ja/web/javascript/reference/operators/operator_precedence/index.md
  files/ja/web/javascript/reference/operators/optional_chaining/index.md
  files/ja/web/javascript/reference/operators/property_accessors/index.md
  files/ja/web/javascript/reference/operators/remainder/index.md
  files/ja/web/javascript/reference/operators/remainder_assignment/index.md
  files/ja/web/javascript/reference/operators/right_shift/index.md
  files/ja/web/javascript/reference/operators/right_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/spread_syntax/index.md
  files/ja/web/javascript/reference/operators/strict_equality/index.md
  files/ja/web/javascript/reference/operators/strict_inequality/index.md
  files/ja/web/javascript/reference/operators/subtraction/index.md
  files/ja/web/javascript/reference/operators/subtraction_assignment/index.md
  files/ja/web/javascript/reference/operators/super/index.md
  files/ja/web/javascript/reference/operators/this/index.md
  files/ja/web/javascript/reference/operators/typeof/index.md
  files/ja/web/javascript/reference/operators/unary_negation/index.md
  files/ja/web/javascript/reference/operators/unary_plus/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/void/index.md
  files/ja/web/javascript/reference/operators/yield/index.md
  files/ja/web/javascript/reference/operators/yield_star_/index.md
  files/ja/web/javascript/reference/statements/async_function/index.md
  files/ja/web/javascript/reference/statements/empty/index.md
  files/ja/web/javascript/reference/statements/import/index.md
  files/ja/web/javascript/reference/statements/switch/index.md
  files/ja/web/javascript/reference/statements/throw/index.md
  files/ja/web/javascript/reference/statements/try...catch/index.md
  files/ja/web/javascript/reference/statements/var/index.md
  files/ja/web/javascript/reference/statements/with/index.md
  files/ja/web/javascript/reference/strict_mode/index.md
  files/ja/web/javascript/reference/template_literals/index.md
  files/ja/web/javascript/reference/trailing_commas/index.md
Labels: l10n-ja

#14664 Remove unused assets
  files/ko/web/javascript/guide/indexed_collections/typed_arrays.png
  files/ko/web/javascript/guide/introduction/scratchpad.png
  files/ko/web/svg/element/circle/circle2.svg
  files/pt-br/web/css/background-size/eagle.jpg
  files/pt-br/web/javascript/guide/introduction/scratchpad.png
  files/pt-br/web/javascript/guide/introduction/web-console-commandline.png
  files/ru/learn/common_questions/design_for_all_types_of_users/colour-contrast.png
  files/ru/learn/common_questions/how_do_you_host_your_website_on_google_app_engine/activate-google-cloud-shell-button.png
  files/ru/learn/common_questions/how_do_you_host_your_website_on_google_app_engine/screen_shot_2018-05-09_at_23.13.21.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/console.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/css-viewer-2.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/dev-tool-context-menu.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/inspect-element-option.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/inspector.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/screenshot_from_2014-11-25_12-32-57.png
  files/ru/learn/common_questions/what_are_browser_developer_tools/screenshot_from_2014-11-26_14-24-56.png
  files/ru/learn/common_questions/what_is_a_url/mdn-url-domain@x2.png
  files/ru/learn/common_questions/what_is_a_url/mdn-url-port@x2.png
  files/ru/learn/common_questions/what_is_a_url/mdn-url-protocol@x2.png
  files/zh-cn/learn/css/styling_text/styling_lists/image-bullets.png
  files/zh-cn/web/css/css_backgrounds_and_borders/resizing_background_images/firefox_logo.png
  files/zh-cn/web/css/css_backgrounds_and_borders/resizing_background_images/ss2.png
  files/zh-cn/web/css/css_backgrounds_and_borders/resizing_background_images/ss3.png
  files/zh-cn/web/css/mask-image/star.svg
  files/zh-cn/web/html/element/a/mdn_logo.png
  files/zh-cn/web/html/element/details/details-closed.png
  files/zh-cn/web/html/element/details/details-open.png
  files/zh-cn/web/html/element/html/et.png
Labels: l10n-zh, l10n-ru, l10n-ko, l10n-pt-br

#14838 Update cryptographic translation about zh-CN
  files/zh-cn/glossary/cryptographic_hash_function/index.md
  files/zh-cn/web/api/crypto/index.md
  files/zh-cn/web/api/subtlecrypto/index.md
  files/zh-cn/web/api/web_crypto_api/index.md
Labels: l10n-zh

#14779 [zh-cn]: Update translation of String.raw()
  files/zh-cn/web/javascript/reference/global_objects/string/raw/index.md
Labels: l10n-zh

#14843 fr: Fix frontmatter for "What are WebExtensions?"
  files/fr/mozilla/add-ons/webextensions/what_are_webextensions/index.md
Labels: l10n-fr

#14729 Web/API/Navigator/geolocation を更新
  files/ja/web/api/navigator/geolocation/index.md
Labels: l10n-ja

#14433 Updates "Learn/CSS/Building_blocks/Cascade_and_inheritance" content
  files/pt-br/learn/css/building_blocks/cascade_and_inheritance/index.md
Labels: l10n-pt-br

#14847 zh-cn: Lint front matter keys (part 3)
  files/zh-cn/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/zh-cn/web/media/index.md
  files/zh-cn/web/performance/how_browsers_work/index.md
  files/zh-cn/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/loading/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
  files/zh-cn/web/security/transport_layer_security/index.md
  files/zh-cn/web/xpath/introduction_to_using_xpath_in_javascript/index.md
  files/zh-cn/web/xslt/element/index.md
  files/zh-cn/webassembly/javascript_interface/compile/index.md
  files/zh-cn/webassembly/javascript_interface/compileerror/index.md
  files/zh-cn/webassembly/javascript_interface/compilestreaming/index.md
  files/zh-cn/webassembly/javascript_interface/global/index.md
  files/zh-cn/webassembly/javascript_interface/index.md
  files/zh-cn/webassembly/javascript_interface/instance/index.md
  files/zh-cn/webassembly/javascript_interface/instantiate/index.md
  files/zh-cn/webassembly/javascript_interface/instantiatestreaming/index.md
  files/zh-cn/webassembly/javascript_interface/memory/index.md
  files/zh-cn/webassembly/javascript_interface/runtimeerror/index.md
  files/zh-cn/webassembly/javascript_interface/table/index.md
  files/zh-cn/webassembly/javascript_interface/validate/index.md
Labels: l10n-zh

#14842 fix broken background_tasks_api html and polish translation
  files/zh-cn/web/api/background_tasks_api/index.md
Labels: l10n-zh

#14855 zh-cn: update syntax section of the flex shorthand property
  files/zh-cn/web/css/flex/index.md
Labels: l10n-zh

#14811 Update HTTP caching doc about zh-CN
  files/zh-cn/glossary/cacheable/index.md
  files/zh-cn/web/http/caching/index.md
  files/zh-cn/web/http/headers/etag/index.md
  files/zh-cn/web/http/headers/warning/index.md
Labels: l10n-zh

#14861 fix typo
  files/zh-cn/web/css/contain/index.md
Labels: l10n-zh

#14780 [zh-cn]: Update translation of String.repeat()
  files/zh-cn/web/javascript/reference/global_objects/string/repeat/index.md
Labels: l10n-zh

#14835 chore(docs): add term "color stop"
  docs/zh-cn/glossary.md
Labels: l10n-zh

#14720 ru: Format /web/api using Prettier (part 7)
  files/ru/web/api/window/index.md
  files/ru/web/api/window/innerheight/index.md
  files/ru/web/api/window/load_event/index.md
  files/ru/web/api/window/localstorage/index.md
  files/ru/web/api/window/location/index.md
  files/ru/web/api/window/matchmedia/index.md
  files/ru/web/api/window/moveto/index.md
  files/ru/web/api/window/navigator/index.md
  files/ru/web/api/window/pageyoffset/index.md
  files/ru/web/api/window/popstate_event/index.md
  files/ru/web/api/window/postmessage/index.md
  files/ru/web/api/window/print/index.md
  files/ru/web/api/window/prompt/index.md
  files/ru/web/api/window/requestanimationframe/index.md
  files/ru/web/api/window/requestidlecallback/index.md
  files/ru/web/api/window/resize_event/index.md
  files/ru/web/api/window/screen/index.md
  files/ru/web/api/window/screenx/index.md
  files/ru/web/api/window/scrollby/index.md
  files/ru/web/api/window/scrollmaxy/index.md
  files/ru/web/api/window/scrollto/index.md
  files/ru/web/api/window/scrollx/index.md
  files/ru/web/api/window/scrolly/index.md
  files/ru/web/api/window/self/index.md
  files/ru/web/api/window/sessionstorage/index.md
  files/ru/web/api/window/stop/index.md
  files/ru/web/api/window/storage_event/index.md
  files/ru/web/api/window/top/index.md
  files/ru/web/api/window/unhandledrejection_event/index.md
  files/ru/web/api/window/unload_event/index.md
  files/ru/web/api/windowclient/index.md
  files/ru/web/api/worker/index.md
  files/ru/web/api/worker/message_event/index.md
  files/ru/web/api/worker/postmessage/index.md
  files/ru/web/api/worker/terminate/index.md
  files/ru/web/api/worker/worker/index.md
  files/ru/web/api/workerglobalscope/importscripts/index.md
  files/ru/web/api/workerglobalscope/index.md
  files/ru/web/api/xmldocument/index.md
  files/ru/web/api/xmlhttprequest/abort/index.md
  files/ru/web/api/xmlhttprequest/getresponseheader/index.md
  files/ru/web/api/xmlhttprequest/index.md
  files/ru/web/api/xmlhttprequest/loadend_event/index.md
  files/ru/web/api/xmlhttprequest/loadstart_event/index.md
  files/ru/web/api/xmlhttprequest/open/index.md
  files/ru/web/api/xmlhttprequest/readystate/index.md
  files/ru/web/api/xmlhttprequest/readystatechange_event/index.md
  files/ru/web/api/xmlhttprequest/response/index.md
  files/ru/web/api/xmlhttprequest/responsetext/index.md
  files/ru/web/api/xmlhttprequest/responsetype/index.md
  files/ru/web/api/xmlhttprequest/responseurl/index.md
  files/ru/web/api/xmlhttprequest/responsexml/index.md
  files/ru/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
  files/ru/web/api/xmlhttprequest/status/index.md
  files/ru/web/api/xmlhttprequest/statustext/index.md
  files/ru/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
  files/ru/web/api/xmlhttprequest/timeout/index.md
  files/ru/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/ru/web/api/xmlhttprequest/withcredentials/index.md
  files/ru/web/api/xmlserializer/index.md
Labels: l10n-ru

#14866 ko: Format /web/api using Prettier (part 7)
  .prettierignore
  files/ko/web/api/background_tasks_api/index.md
Labels: l10n-ko, system

#14795 ko: Format /web/css using Prettier (part 3)
  .prettierignore
  files/ko/web/css/transition-delay/index.md
  files/ko/web/css/transition/index.md
  files/ko/web/css/type_selectors/index.md
  files/ko/web/css/universal_selectors/index.md
  files/ko/web/css/url/index.md
  files/ko/web/css/used_value/index.md
  files/ko/web/css/user-select/index.md
  files/ko/web/css/using_css_custom_properties/index.md
  files/ko/web/css/var/index.md
  files/ko/web/css/vertical-align/index.md
  files/ko/web/css/visibility/index.md
  files/ko/web/css/visual_formatting_model/index.md
  files/ko/web/css/white-space/index.md
  files/ko/web/css/width/index.md
  files/ko/web/css/will-change/index.md
  files/ko/web/css/word-break/index.md
  files/ko/web/css/word-spacing/index.md
  files/ko/web/css/z-index/index.md
Labels: l10n-ko, system

#14876 pt-br: Remove "translation_of" front matter key
  files/pt-br/web/css/gap/index.md
Labels: l10n-pt-br

#14878 ja/ko: Fix l10n front matter keys
  files/ja/mdn/at_ten/history_of_mdn/index.md
  files/ja/mdn/at_ten/index.md
  files/ja/mdn/community/contributing/getting_started/index.md
  files/ja/mdn/community/contributing/index.md
  files/ja/mdn/community/contributing/our_repositories/index.md
  files/ja/mdn/community/discussions/index.md
  files/ja/mdn/community/index.md
  files/ja/mdn/community/learn_forum/index.md
  files/ja/mdn/community/mdn_content/index.md
  files/ja/mdn/community/mdn_content/pull_requests/index.md
  files/ja/mdn/community/open_source_etiquette/index.md
  files/ja/mdn/index.md
  files/ja/web/api/console/profileend/index.md
  files/ja/web/api/console/trace/index.md
  files/ja/web/api/console/warn/index.md
  files/ja/webassembly/exported_functions/index.md
  files/ja/webassembly/loading_and_running/index.md
  files/ja/webassembly/using_the_javascript_api/index.md
  files/ko/learn/performance/why_web_performance/index.md
Labels: l10n-ja, l10n-ko

#14881 fr: Lint front matter keys
  files/fr/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/fr/learn/accessibility/css_and_javascript/test_your_skills_colon__css_and_javascript_accessibility/index.md
  files/fr/learn/common_questions/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/fr/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
  files/fr/learn/html/tables/structuring_planet_data/index.md
  files/fr/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/fr/mozilla/add-ons/webextensions/api/contentscripts/registeredcontentscript/unregister/index.md
  files/fr/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/createsidebarpane/index.md
  files/fr/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/onselectionchanged/index.md
  files/fr/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/onhidden/index.md
  files/fr/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setexpression/index.md
  files/fr/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setobject/index.md
  files/fr/mozilla/add-ons/webextensions/api/webrequest/max_handler_behavior_changed_calls_per_10_minutes/index.md
  files/fr/web/api/devicemotioneventrotationrate/alpha/index.md
  files/fr/web/api/devicemotioneventrotationrate/beta/index.md
  files/fr/web/api/devicemotioneventrotationrate/gamma/index.md
  files/fr/web/api/devicemotioneventrotationrate/index.md
  files/fr/web/api/document/activeelement/index.md
  files/fr/web/api/document/elementfrompoint/index.md
  files/fr/web/api/document/getselection/index.md
  files/fr/web/api/document/stylesheets/index.md
  files/fr/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/fr/web/api/dommatrix/index.md
  files/fr/web/api/htmlelement/accesskey/index.md
  files/fr/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/fr/web/api/window/resize_event/index.md
  files/fr/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
  files/fr/web/css/css_flexible_box_layout/relationship_of_flexbox_to_other_layout_methods/index.md
  files/fr/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/fr/web/css/margin/index.md
  files/fr/web/html/element/frame/index.md
  files/fr/web/html/viewport_meta_tag/index.md
  files/fr/web/javascript/reference/errors/delete_in_strict_mode/index.md
  files/fr/web/javascript/reference/errors/deprecated_source_map_pragma/index.md
  files/fr/web/javascript/reference/errors/invalid_for-of_initializer/index.md
  files/fr/web/javascript/reference/global_objects/date/date/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/resolvedoptions/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/supportedlocalesof/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/@@iterator/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/fr/web/javascript/reference/global_objects/proxy/proxy/index.md
  files/fr/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
Labels: l10n-fr

#14884 ru: Lint front matter keys for "orphaned"
  files/ru/orphaned/glossary/bootstrap/index.md
  files/ru/orphaned/glossary/dynamic_programming_language/index.md
  files/ru/orphaned/glossary/jquery/index.md
  files/ru/orphaned/mdn/contribute/howto/add_or_update_browser_compatibility_data/index.md
  files/ru/orphaned/mdn/tools/index.md
  files/ru/orphaned/mdn/tools/kumascript/troubleshooting/index.md
  files/ru/orphaned/mdn/yari/index.md
  files/ru/orphaned/mozilla/add-ons/webextensions/prerequisites/index.md
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.md
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.md
  files/ru/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.md
  files/ru/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/ru/orphaned/web/api/document/documenturiobject/index.md
  files/ru/orphaned/web/api/file/getasdataurl/index.md
  files/ru/orphaned/web/api/globaleventhandlers/index.md
  files/ru/orphaned/web/api/htmlorforeignelement/nonce/index.md
  files/ru/orphaned/web/api/navigatorid/appcodename/index.md
  files/ru/orphaned/web/api/navigatorid/appname/index.md
  files/ru/orphaned/web/api/navigatorid/appversion/index.md
  files/ru/orphaned/web/api/navigatorid/index.md
  files/ru/orphaned/web/api/navigatorid/platform/index.md
  files/ru/orphaned/web/api/navigatorid/product/index.md
  files/ru/orphaned/web/api/navigatorid/taintenabled/index.md
  files/ru/orphaned/web/api/navigatorlanguage/index.md
  files/ru/orphaned/web/api/navigatorlanguage/language/index.md
  files/ru/orphaned/web/api/navigatorlanguage/languages/index.md
  files/ru/orphaned/web/api/navigatoronline/index.md
  files/ru/orphaned/web/api/navigatoronline/online/index.md
  files/ru/orphaned/web/api/navigatorplugins/index.md
  files/ru/orphaned/web/api/navigatorplugins/javaenabled/index.md
  files/ru/orphaned/web/api/navigatorplugins/mimetypes/index.md
  files/ru/orphaned/web/api/navigatorplugins/plugins/index.md
  files/ru/orphaned/web/api/renderingcontext/index.md
  files/ru/orphaned/web/api/webrtc_api/adapter.js/index.md
  files/ru/orphaned/web/api/window/onpaint/index.md
  files/ru/orphaned/web/api/windoweventhandlers/index.md
  files/ru/orphaned/web/api/windoworworkerglobalscope/index.md
  files/ru/orphaned/web/css/css_animations/detecting_css_animation_support/index.md
  files/ru/orphaned/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/ru/orphaned/web/html/element/applet/index.md
  files/ru/orphaned/web/html/inline_elements/index.md
  files/ru/orphaned/web/http/feature_policy/using_feature_policy/index.md
  files/ru/orphaned/web/javascript/reference/errors/dead_object/index.md
  files/ru/orphaned/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/ru/orphaned/web/javascript/reference/errors/var_hides_argument/index.md
  files/ru/orphaned/web/svg/svg_1.1_support_in_firefox/index.md
Labels: l10n-ru

#14885 pt-br: Lint front matter keys for "orphaned"
  files/pt-br/orphaned/games/examples/index.md
  files/pt-br/orphaned/glossary/dynamic_programming_language/index.md
  files/pt-br/orphaned/glossary/jquery/index.md
  files/pt-br/orphaned/mdn/tools/index.md
  files/pt-br/orphaned/mdn/tools/kumascript/index.md
  files/pt-br/orphaned/mdn/tools/kumascript/troubleshooting/index.md
  files/pt-br/orphaned/mdn/yari/index.md
  files/pt-br/orphaned/mozilla/add-ons/webextensions/prerequisites/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.md
  files/pt-br/orphaned/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.md
  files/pt-br/orphaned/web/api/canvas_api/a_basic_ray-caster/index.md
  files/pt-br/orphaned/web/api/fullscreenoptions/index.md
  files/pt-br/orphaned/web/api/globaleventhandlers/index.md
  files/pt-br/orphaned/web/api/htmlelement/contextmenu/index.md
  files/pt-br/orphaned/web/api/htmlorforeignelement/blur/index.md
  files/pt-br/orphaned/web/api/htmlorforeignelement/focus/index.md
  files/pt-br/orphaned/web/api/htmlshadowelement/index.md
  files/pt-br/orphaned/web/api/navigatorid/index.md
  files/pt-br/orphaned/web/api/navigatorid/platform/index.md
  files/pt-br/orphaned/web/api/navigatorid/useragent/index.md
  files/pt-br/orphaned/web/api/navigatorlanguage/index.md
  files/pt-br/orphaned/web/api/navigatorlanguage/language/index.md
  files/pt-br/orphaned/web/api/navigatoronline/index.md
  files/pt-br/orphaned/web/api/navigatoronline/online/index.md
  files/pt-br/orphaned/web/api/navigatoronline/online_and_offline_events/index.md
  files/pt-br/orphaned/web/api/navigatorplugins/index.md
  files/pt-br/orphaned/web/api/navigatorplugins/javaenabled/index.md
  files/pt-br/orphaned/web/api/notificationaction/index.md
  files/pt-br/orphaned/web/api/window/applicationcache/index.md
  files/pt-br/orphaned/web/api/window/setcursor/index.md
  files/pt-br/orphaned/web/api/windoweventhandlers/index.md
  files/pt-br/orphaned/web/api/windoworworkerglobalscope/index.md
  files/pt-br/orphaned/web/css/-moz-context-properties/index.md
  files/pt-br/orphaned/web/css/css_animations/detecting_css_animation_support/index.md
  files/pt-br/orphaned/web/css/microsoft_extensions/index.md
  files/pt-br/orphaned/web/html/element/applet/index.md
  files/pt-br/orphaned/web/html/element/blink/index.md
  files/pt-br/orphaned/web/http/feature_policy/using_feature_policy/index.md
  files/pt-br/orphaned/web/http/headers/set-cookie/samesite/index.md
  files/pt-br/orphaned/web/javascript/guide/working_with_private_class_features/index.md
  files/pt-br/orphaned/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/pt-br/orphaned/web/svg/element/altglyph/index.md
  files/pt-br/orphaned/web/svg/element/altglyphdef/index.md
  files/pt-br/orphaned/web/svg/element/altglyphitem/index.md
Labels: l10n-pt-br

#14434 updates "WebAssembly/Using The Javascript API"
  files/pt-br/webassembly/using_the_javascript_api/index.md
Labels: l10n-pt-br

#13456 chore(ru): remove {{SectionOnPage}} macro
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/html/element/input/datetime-local/index.md
  files/ru/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/ru/learn/forms/sending_forms_through_javascript/index.md
  files/ru/mozilla/firefox/releases/63/index.md
  files/ru/mozilla/firefox/releases/64/index.md
  files/ru/orphaned/mdn/tools/kumascript/troubleshooting/index.md
  files/ru/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ru/web/api/console/debug/index.md
  files/ru/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/ru/web/api/mediadevices/index.md
  files/ru/web/api/mediatrackconstraints/echocancellation/index.md
  files/ru/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/ru/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/ru/web/api/screen_capture_api/using_screen_capture/index.md
  files/ru/web/api/setinterval/index.md
  files/ru/web/api/window/console/index.md
  files/ru/web/css/css_colors/applying_color/index.md
  files/ru/web/html/element/del/index.md
  files/ru/web/html/element/heading_elements/index.md
  files/ru/web/media/formats/codecs_parameter/index.md
Labels: l10n-ru

#14897 zh-cn: fix scrollHeight link
  files/zh-cn/web/api/element/scrollheight/index.md
Labels: l10n-zh

#14628 feat: add instruction about image
  files/ja/glossary/intrinsic_size/index.md
Labels: l10n-ja

#14862 translate cryptography about zh-CN
  files/zh-cn/glossary/block_cipher_mode_of_operation/index.md
  files/zh-cn/glossary/cryptography/index.md
Labels: l10n-zh

#14753 Data URLsの更新
  files/ja/web/http/basics_of_http/data_urls/index.md
Labels: l10n-ja

#14764 WebAssembly のガイドの記事を更新
  files/ja/webassembly/c_to_wasm/index.md
  files/ja/webassembly/concepts/index.md
  files/ja/webassembly/exported_functions/index.md
  files/ja/webassembly/loading_and_running/index.md
  files/ja/webassembly/rust_to_wasm/index.md
  files/ja/webassembly/text_format_to_wasm/index.md
  files/ja/webassembly/understanding_the_text_format/index.md
  files/ja/webassembly/using_the_javascript_api/index.md
Labels: l10n-ja

#14767 docs: update feature policy to permissions policy
  files/ja/web/http/headers/permissions-policy/index.md
  files/ja/web/http/permissions_policy/index.md
Labels: l10n-ja

#14902 [zh-cn]: Update translation of String.replaceAll()
  files/zh-cn/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: l10n-zh

#14900 Update the Chinese translation related to drag and drop
  files/zh-cn/web/api/htmlelement/drag_event/index.md
  files/zh-cn/web/api/htmlelement/drop_event/index.md
Labels: l10n-zh

#14907 fix(lint-staged): markdownlint and prettier can race on md files
  .lintstagedrc.json
  package.json
Labels: system

#11905 ja: concurrent の訳語の提案 並列 → 並行
  files/ja/web/javascript/reference/global_objects/promise/all/index.md
  files/ja/web/javascript/reference/global_objects/promise/allsettled/index.md
  files/ja/web/javascript/reference/global_objects/promise/any/index.md
  files/ja/web/javascript/reference/global_objects/promise/index.md
  files/ja/web/javascript/reference/global_objects/promise/race/index.md
Labels: l10n-ja, not ready

#14870 [zh-cn] Update 'MIME types'
  files/zh-cn/web/http/basics_of_http/mime_types/index.md
Labels: l10n-zh

#14906 Fixed typo in notes section
  files/ru/web/api/eventtarget/removeeventlistener/index.md
Labels: l10n-ru

#14908 sync with english version for OOJS task
  files/zh-cn/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.md
Labels: l10n-zh

#14858 [zh-cn]: Update translation of String.replace()
  files/zh-cn/web/javascript/reference/global_objects/string/replace/index.md
Labels: l10n-zh

#14910 chore(zh-cn): run autocorrect to fix text layout Part 1
  .autocorrectrc
  files/zh-cn/glossary/base64/index.md
  files/zh-cn/glossary/challenge/index.md
  files/zh-cn/glossary/distributed_denial_of_service/index.md
  files/zh-cn/glossary/iife/index.md
  files/zh-cn/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/zh-cn/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/zh-cn/learn/css/css_layout/grid_skills/index.md
  files/zh-cn/learn/getting_started_with_the_web/css_basics/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/zh-cn/learn/html/tables/advanced/index.md
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/learn/javascript/first_steps/strings/index.md
  files/zh-cn/learn/performance/index.md
  files/zh-cn/learn/server-side/django/testing/index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/main_features/index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/vue_computed_properties/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
  files/zh-cn/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/zh-cn/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/zh-cn/mdn/writing_guidelines/writing_style_guide/index.md
  files/zh-cn/mozilla/add-ons/webextensions/what_next/index.md
  files/zh-cn/webassembly/c_to_wasm/index.md
Labels: l10n-zh, system

#14920 sync with english version for Headers.delete()
  files/zh-cn/web/api/headers/delete/index.md
Labels: l10n-zh

#14580 es: Format /web/css using Prettier
  .prettierignore
  files/es/web/css/_colon_has/index.md
  files/es/web/css/_colon_is/index.md
  files/es/web/css/appearance/index.md
  files/es/web/css/font/index.md
  files/es/web/css/minmax/index.md
Labels: l10n-es, system

#14909 docs(ja): WebAssembly/JavaScript_interface/Global 以下を更新
  files/ja/webassembly/javascript_interface/global/global/index.md
  files/ja/webassembly/javascript_interface/global/index.md
Labels: l10n-ja

#14924 es: Remove unneeded Prettier ignore
  .prettierignore
Labels: l10n-es

#14922 ja: 「カスタムデータ属性」の誤字を修正
  files/ja/web/html/global_attributes/data-_star_/index.md
Labels: l10n-ja

#14913 [ko] add translation to css overflow-inline
  files/ko/web/css/overflow-inline/index.md
Labels: l10n-ko

#13830 [ko] JavaScript: AggregateError 수정 및 추가
  files/ko/web/javascript/reference/global_objects/aggregateerror/aggregateerror/index.md
  files/ko/web/javascript/reference/global_objects/aggregateerror/errors/index.md
  files/ko/web/javascript/reference/global_objects/aggregateerror/index.md
Labels: l10n-ko

#14143 [ko] add 'how_css_works' to ko translation
  files/ko/learn/css/first_steps/how_css_works/index.md
Labels: l10n-ko

#14553 ko: add translation for `pseudo-classes & pseudo-elements`
  files/ko/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: l10n-ko

#14022 [ko/update] for await...of
  files/ko/web/javascript/reference/statements/for-await...of/index.md
Labels: l10n-ko

#14509 ko: CSS 목록 스타일링 일부 번역
  files/ko/learn/css/styling_text/styling_lists/index.md
Labels: l10n-ko

#14932 ko: Remove accidental third asterisk
  files/ko/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: l10n-ko

#14934 ko: Fix Markdown table in glossary guide
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

#14818 ko: add translation for `tools_and_testing/client-side_js_frameworks/react_components`
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_components/todo-list-differing-checked-states.png
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_components/todo-list-repeating-todos.png
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_components/todo-list-unique-todos.png
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_components/todo-list-unstructured-names.png
Labels: l10n-ko

#14933 [zh-cn]: Add translation of Numeric separators
  files/zh-cn/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-zh

#14919 chore(zh-cn): run autocorrect to fix text layout Part 2
  files/zh-cn/web/api/cdatasection/index.md
  files/zh-cn/web/api/css_custom_highlight_api/index.md
  files/zh-cn/web/api/css_font_loading_api/index.md
  files/zh-cn/web/api/document/caretrangefrompoint/index.md
  files/zh-cn/web/api/document_object_model/introduction/index.md
  files/zh-cn/web/api/domhighrestimestamp/index.md
  files/zh-cn/web/api/element/keypress_event/index.md
  files/zh-cn/web/api/element/mousewheel_event/index.md
  files/zh-cn/web/api/element/scroll/index.md
  files/zh-cn/web/api/file_api/index.md
  files/zh-cn/web/api/html_dom_api/index.md
  files/zh-cn/web/api/htmlbuttonelement/index.md
  files/zh-cn/web/api/htmlscriptelement/index.md
  files/zh-cn/web/api/intersectionobserver/index.md
  files/zh-cn/web/api/keyboardevent/key/index.md
  files/zh-cn/web/api/navigator/vendor/index.md
  files/zh-cn/web/api/notification/actions/index.md
  files/zh-cn/web/api/notification/index.md
  files/zh-cn/web/api/notification/requestpermission_static/index.md
  files/zh-cn/web/api/subtlecrypto/derivekey/index.md
  files/zh-cn/web/api/subtlecrypto/unwrapkey/index.md
  files/zh-cn/web/api/transformstream/index.md
  files/zh-cn/web/api/ui_events/keyboard_event_key_values/index.md
  files/zh-cn/web/api/urlsearchparams/urlsearchparams/index.md
  files/zh-cn/web/api/web_workers_api/index.md
  files/zh-cn/web/api/web_workers_api/using_web_workers/index.md
  files/zh-cn/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/zh-cn/web/api/webgl_api/using_extensions/index.md
  files/zh-cn/web/api/webglrenderingcontext/readpixels/index.md
  files/zh-cn/web/api/worker/postmessage/index.md
  files/zh-cn/web/api/xmlhttprequest/html_in_xmlhttprequest/index.md
Labels: l10n-zh

#14927 chore(zh-cn): run autocorrect to fix text layout Part 3
  files/zh-cn/web/css/_colon_-moz-window-inactive/index.md
  files/zh-cn/web/css/_colon_invalid/index.md
  files/zh-cn/web/css/_colon_root/index.md
  files/zh-cn/web/css/_colon_target/index.md
  files/zh-cn/web/css/_doublecolon_after/index.md
  files/zh-cn/web/css/all/index.md
  files/zh-cn/web/css/animation-delay/index.md
  files/zh-cn/web/css/animation-direction/index.md
  files/zh-cn/web/css/animation-iteration-count/index.md
  files/zh-cn/web/css/animation-play-state/index.md
  files/zh-cn/web/css/color_value/oklab/index.md
  files/zh-cn/web/css/css_functions/index.md
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
  files/zh-cn/web/css/font-size/index.md
  files/zh-cn/web/css/hue-interpolation-method/index.md
  files/zh-cn/web/css/justify-content/index.md
  files/zh-cn/web/css/tab-size/index.md
  files/zh-cn/web/css/var/index.md
  files/zh-cn/web/css/white-space/index.md
  files/zh-cn/web/css/will-change/index.md
  files/zh-cn/web/css/writing-mode/index.md
  files/zh-cn/web/guide/introduction_to_web_development/index.md
  files/zh-cn/web/html/attributes/autocomplete/index.md
  files/zh-cn/web/html/element/input/email/index.md
  files/zh-cn/web/html/element/input/month/index.md
  files/zh-cn/web/html/element/input/number/index.md
  files/zh-cn/web/html/element/input/url/index.md
  files/zh-cn/web/html/element/marquee/index.md
  files/zh-cn/web/html/element/meta/index.md
  files/zh-cn/web/html/element/p/index.md
  files/zh-cn/web/html/element/u/index.md
  files/zh-cn/web/html/viewport_meta_tag/index.md
Labels: l10n-zh

#14941 [ja] Fix: toFixed の digits の例外章の誤訳を修正
  files/ja/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: l10n-ja

#7074 ru: Update Web/CSS/flex-wrap
  files/ru/web/css/flex-wrap/index.md
Labels: l10n-ru

#14418 [es] Add logical OR translation
  files/es/web/javascript/reference/operators/logical_or/index.md
Labels: l10n-es

#14040 [zh-cn]: Update translation of String constructor
  files/zh-cn/web/javascript/reference/global_objects/string/string/index.md
Labels: l10n-zh

#14929 chore(zh-cn): run autocorrect to fix text layout Part 4
  files/zh-cn/web/http/authentication/index.md
  files/zh-cn/web/http/basics_of_http/evolution_of_http/index.md
  files/zh-cn/web/http/cookies/index.md
  files/zh-cn/web/http/cors/errors/corsmultiplealloworiginnotallowed/index.md
  files/zh-cn/web/http/headers/authorization/index.md
  files/zh-cn/web/http/headers/index.md
  files/zh-cn/web/http/status/406/index.md
  files/zh-cn/web/javascript/data_structures/index.md
  files/zh-cn/web/javascript/equality_comparisons_and_sameness/index.md
  files/zh-cn/web/javascript/guide/numbers_and_dates/index.md
  files/zh-cn/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/zh-cn/web/javascript/reference/global_objects/date/date/index.md
  files/zh-cn/web/javascript/reference/global_objects/error/cause/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/isfrozen/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/all/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/any/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/catch/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/race/index.md
  files/zh-cn/web/javascript/reference/global_objects/promise/then/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/localecompare/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/match/index.md
  files/zh-cn/web/javascript/reference/global_objects/typedarray/index.md
  files/zh-cn/web/javascript/reference/iteration_protocols/index.md
  files/zh-cn/web/javascript/reference/operators/class/index.md
  files/zh-cn/web/javascript/reference/operators/right_shift/index.md
  files/zh-cn/web/javascript/reference/operators/yield/index.md
  files/zh-cn/web/javascript/reference/template_literals/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/text_fragments/index.md
Labels: l10n-zh

#14939 update MIME types
  files/zh-cn/web/http/basics_of_http/mime_types/index.md
Labels: l10n-zh

#13184 [zh-tw] update the translation of CSS `@namespace`
  files/zh-tw/web/css/@namespace/index.md
Labels: l10n-zh

#14966 [ko] delete untranslated content - conflicting
  files/ko/_redirects.txt
  files/ko/conflicting/web/css/css_paged_media/index.md
  files/ko/conflicting/web/guide/ajax/index.md
  files/ko/conflicting/web/javascript/reference/errors/deprecated_octal/index.md
Labels: l10n-ko

#14508 ko: Document and website structure 제목 번역
  files/ko/learn/html/introduction_to_html/document_and_website_structure/index.md
Labels: l10n-ko

#14969 feat(ci): provide automated PR reviews for linting related changes
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_markdownlint.yml
  .github/workflows/reviewdog.yml
Labels: system

#14971 delete untranslated content - game
  files/ko/games/index.md
  files/ko/games/introduction/index.md
  files/ko/games/tutorials/2d_breakout_game_phaser/mdn-breakout-gameplay.png
  files/ko/games/tutorials/2d_breakout_game_phaser/the_score/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.md
  files/ko/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/ko/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/ko/games/tutorials/index.md
Labels: l10n-ko

#14973 Fix lint script when files are only deleted
  .github/workflows/pr-check-lint_content.yml
Labels: system

#14958 fix note card highlight
  files/ja/web/accessibility/aria/roles/presentation_role/index.md
Labels: l10n-ja

#14967 ja: Fix 'である' → 'です'
  files/ja/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-ja

#14975 Fix Typo Error in Chinese Void Element Page
  files/zh-cn/glossary/void_element/index.md
Labels: l10n-zh

#14974 Ko delete untranslated content learn part1
  docs/ko/fully_untranslated_files/Learn_CSS_Building_blocks_Organizing.md
  docs/ko/fully_untranslated_files/Learn_CSS_Styling_text_Fundamentals.md
  docs/ko/fully_untranslated_files/Learn_Forms_Sending_and_retrieving_form_data.md
  docs/ko/fully_untranslated_files/Learn_HTML_Introduction_to_HTML_Advanced_text_formatting.md
  docs/ko/fully_untranslated_files/Learn_HTML_Introduction_to_HTML_Debugging_HTML.md
  docs/ko/fully_untranslated_files/Learn_HTML_Introduction_to_HTML_Document_and_website_structure.md
  docs/ko/fully_untranslated_files/Learn_HTML_Introduction_to_HTML_Marking_up_a_letter.md
  docs/ko/fully_untranslated_files/Learn_HTML_Multimedia_and_embedding_Images_in_HTML.md
  files/ko/_redirects.txt
  files/ko/learn/common_questions/index.md
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/2014-01-10-13-08-08-f52b8c.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/files-dropped-onto-the-server.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/fireftp-createlogin.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/fireftp-default.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/fireftp-logged.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/remote-htdocs-empty.png
  files/ko/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/screenshot_from_2014-11-26_14-24-56.png
  files/ko/learn/common_questions/web_mechanics/what_is_a_domain_name/index.md
  files/ko/learn/css/building_blocks/fundamental_css_comprehension/index.md
  files/ko/learn/css/howto/css_faq/index.md
  files/ko/learn/getting_started_with_the_web/how_the_web_works/client-server.jpg
  files/ko/learn/getting_started_with_the_web/publishing_your_website/command-line.png
  files/ko/learn/getting_started_with_the_web/publishing_your_website/github-populate-repo.png
  files/ko/learn/getting_started_with_the_web/publishing_your_website/hosted-final-site.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-03_17-40-49.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-04_14-27-45.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-04_15-09-21.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-04_15-20-48.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-04_15-38-14.png
  files/ko/learn/getting_started_with_the_web/what_will_your_website_look_like/screenshot_from_2014-11-04_15-51-36.png
  files/ko/learn/html/howto/index.md
  files/ko/learn/html/introduction_to_html/creating_hyperlinks/bbc-homepage.png
  files/ko/learn/html/introduction_to_html/marking_up_a_letter/letter_screengrab_2.png
  files/ko/learn/html/introduction_to_html/the_head_metadata_in_html/search-result.png
  files/ko/learn/html/multimedia_and_embedding/responsive_images/box-model-devtools.png
  files/ko/learn/html/multimedia_and_embedding/responsive_images/network-devtools.png
Labels: l10n-ko

#14982 delete untranslated content - orphaned
  files/ko/_redirects.txt
  files/ko/orphaned/mozilla/add-ons/webextensions/prerequisites/index.md
  files/ko/orphaned/web/api/proximity_events/index.md
  files/ko/orphaned/web/html/element/applet/index.md
  files/ko/orphaned/web/svg/element/altglyph/index.md
Labels: l10n-ko

#14983 delete untranslated content - web part1
  docs/ko/fully_untranslated_files/Web_Accessibility_ARIA_Roles_dialog_role.md
  files/ko/_redirects.txt
  files/ko/web/accessibility/understanding_wcag/keyboard/index.md
  files/ko/web/api/abstractrange/index.md
  files/ko/web/api/animationtimeline/index.md
  files/ko/web/api/audionode/webaudiobasics.png
  files/ko/web/api/audioworkletprocessor/process/index.md
  files/ko/web/api/canvas_api/tutorial/basic_animations/canvas_animation1.png
  files/ko/web/api/canvas_api/tutorial/basic_animations/canvas_animation2.png
  files/ko/web/api/canvas_api/tutorial/basic_animations/capitan_meadows,_yosemite_national_park.jpg
  files/ko/web/api/canvas_api/tutorial/canvas_tut_examples.jpg
  files/ko/web/api/canvas_api/tutorial/using_images/index.md
  files/ko/web/api/canvascapturemediastreamtrack/index.md
  files/ko/web/api/channel_messaging_api/index.md
  files/ko/web/api/channel_messaging_api/using_channel_messaging/index.md
  files/ko/web/api/clients/index.md
  files/ko/web/api/clipboard/index.md
  files/ko/web/api/console/dir/console-dir.png
  files/ko/web/api/console/timelog/timer_output.png
  files/ko/web/api/css_object_model/managing_screen_orientation/index.md
  files/ko/web/api/cssstylesheet/index.md
  files/ko/web/api/customevent/customevent/index.md
  files/ko/web/api/document/cookie/index.md
  files/ko/web/api/document/createelementns/index.md
  files/ko/web/api/document/createnodeiterator/index.md
  files/ko/web/api/document/location/index.md
  files/ko/web/api/document/open/index.md
  files/ko/web/api/document/write/index.md
  files/ko/web/api/domtokenlist/contains/index.md
  files/ko/web/api/domtokenlist/index.md
Labels: l10n-ko

#14591 es: Update missing locale text
  files/es/web/api/intersection_observer_api/index.md
Labels: l10n-es

#14810 ko: add translation `/web/http/status/425`
  files/ko/web/http/status/425/index.md
Labels: l10n-ko

#14987 delete untranslated content - web part 3
  docs/ko/fully_untranslated_files/Web_API_Node_insertBefore.md
  docs/ko/fully_untranslated_files/Web_API_Push_API.md
  docs/ko/fully_untranslated_files/Web_API_Service_Worker_API_Using_Service_Workers.md
  docs/ko/fully_untranslated_files/Web_API_WebGL_API_WebGL_best_practices.md
  docs/ko/fully_untranslated_files/Web_API_WebSockets_API_Writing_WebSocket_servers.md
  docs/ko/fully_untranslated_files/Web_API_Web_Storage_API_Using_the_Web_Storage_API.md
  docs/ko/fully_untranslated_files/Web_API_Web_Workers_API_Using_web_workers.md
  files/ko/_redirects.txt
  files/ko/web/api/networkinformation/index.md
  files/ko/web/api/node/clonenode/index.md
  files/ko/web/api/node/index.md
  files/ko/web/api/notifications_api/notification-bubble.png
  files/ko/web/api/notifyaudioavailableevent/index.md
  files/ko/web/api/offscreencanvas/getcontext/index.md
  files/ko/web/api/performance/now/index.md
  files/ko/web/api/pushmanager/index.md
  files/ko/web/api/pushmessagedata/index.md
  files/ko/web/api/rtcpeerconnection/index.md
  files/ko/web/api/rtcsessiondescription/index.md
  files/ko/web/api/selection/tostring/index.md
  files/ko/web/api/serviceworkerglobalscope/index.md
  files/ko/web/api/serviceworkerregistration/index.md
  files/ko/web/api/streams_api/concepts/index.md
  files/ko/web/api/touch_events/index.md
  files/ko/web/api/web_components/using_shadow_dom/dom-screenshot.png
  files/ko/web/api/web_components/using_shadow_dom/shadowdom.svg
  files/ko/web/api/webgl_api/by_example/index.md
Labels: l10n-ko

#14988 delete untranslated content - web part 4
  docs/ko/fully_untranslated_files/Web_API_Window_pageYOffset.md
  docs/ko/fully_untranslated_files/Web_API_Window_window.md
  files/ko/_redirects.txt
  files/ko/web/api/window/devicepixelratio/devicepixelration_diff..png
  files/ko/web/api/window/devicepixelratio/index.md
  files/ko/web/api/window/location/index.md
  files/ko/web/api/window/pageyoffset/index.md
  files/ko/web/api/window/top/index.md
  files/ko/web/api/worker/postmessage/index.md
  files/ko/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
Labels: l10n-ko

#14986 es: Observations from prettier
  files/es/web/javascript/reference/errors/invalid_array_length/index.md
  files/es/web/javascript/reference/global_objects/object/tostring/index.md
  files/es/web/javascript/reference/global_objects/promise/index.md
  files/es/web/javascript/reference/global_objects/string/sub/index.md
  files/es/web/javascript/reference/lexical_grammar/index.md
  files/es/web/javascript/reference/operators/operator_precedence/index.md
  files/es/web/javascript/reference/operators/remainder/index.md
  files/es/web/javascript/reference/statements/debugger/index.md
Labels: l10n-es

#14471 Fix #13942
  files/fr/web/css/_colon_dir/index.md
  files/fr/web/css/_colon_is/index.md
  files/fr/web/css/_colon_only-of-type/index.md
  files/fr/web/css/_colon_scope/index.md
  files/fr/web/css/_colon_where/index.md
  files/fr/web/css/image/image/index.md
Labels: l10n-fr

#14545 Fix #14105
  files/fr/learn/getting_started_with_the_web/how_the_web_works/index.md
  files/fr/learn/getting_started_with_the_web/how_the_web_works/simple-client-server.png
Labels: l10n-fr

#14990 es: Fix sourceCommit frontmatter
  files/es/web/javascript/reference/global_objects/array/keys/index.md
  files/es/web/javascript/reference/global_objects/error/cause/index.md
  files/es/web/javascript/reference/global_objects/error/message/index.md
Labels: l10n-es

#14768 Fix #14762
  files/fr/web/api/performance_api/index.md
Labels: l10n-fr

#14997 delete untranslated content - web part 5
  docs/ko/fully_untranslated_files/Web_Guide_Audio_and_video_delivery_Adding_captions_and_subtitles_to_HTML5_video.md
  files/ko/_redirects.txt
  files/ko/web/guide/ajax/index.md
  files/ko/web/guide/api/index.md
  files/ko/web/guide/audio_and_video_delivery/index.md
  files/ko/web/guide/parsing_and_serializing_xml/index.md
  files/ko/web/media/formats/index.md
  files/ko/web/security/insecure_passwords/insecure_action_password_console_contextual_sm.png
  files/ko/web/security/insecure_passwords/insecure_page2_with_arrows_cropped.jpeg
  files/ko/web/security/insecure_passwords/insecure_password_console_contextual_sm.png
  files/ko/web/svg/applying_svg_effects_to_html_content/index.md
  files/ko/web/svg/attribute/d/index.md
  files/ko/web/svg/attribute/index.md
  files/ko/web/svg/attribute/keytimes/index.md
  files/ko/web/svg/attribute/values/index.md
  files/ko/web/svg/tutorial/paths/cubic_bezier_curves_with_grid.png
  files/ko/web/svg/tutorial/paths/shortcut_cubic_bezier_with_grid.png
  files/ko/web/xpath/functions/current/index.md
Labels: l10n-ko

#14998 delete untranslated content - web part 6
  docs/ko/fully_untranslated_files/Web_API_Window_pageYOffset.md
  docs/ko/fully_untranslated_files/Web_CSS_::before.md
  docs/ko/fully_untranslated_files/Web_CSS_CSS_colors_Applying_color.md
  docs/ko/fully_untranslated_files/Web_CSS_CSS_flexible_box_layout_Aligning_items_in_a_flex_container.md
  docs/ko/fully_untranslated_files/Web_CSS_CSS_images_Using_CSS_gradients.md
  docs/ko/fully_untranslated_files/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/Web_CSS_display.md
  docs/ko/fully_untranslated_files/Web_CSS_font-family.md
  files/ko/_redirects.txt
  files/ko/web/css/_doublecolon_placeholder/index.md
  files/ko/web/css/actual_value/index.md
  files/ko/web/css/background-size/index.md
  files/ko/web/css/cascade/index.md
  files/ko/web/css/css_animations/index.md
  files/ko/web/css/css_backgrounds_and_borders/box-shadow_generator/index.md
  files/ko/web/css/css_backgrounds_and_borders/resizing_background_images/firefox_logo.png
  files/ko/web/css/css_backgrounds_and_borders/resizing_background_images/ss2.png
  files/ko/web/css/css_backgrounds_and_borders/resizing_background_images/ss3.png
  files/ko/web/css/css_box_model/introduction_to_the_css_box_model/boxmodel.png
  files/ko/web/css/css_logical_properties_and_values/index.md
  files/ko/web/css/css_transforms/index.md
  files/ko/web/css/css_transforms/using_css_transforms/logo.png
  files/ko/web/css/gradient/linear-gradient/linear-gradient.png
  files/ko/web/css/grid-area/index.md
  files/ko/web/css/grid/index.md
  files/ko/web/css/pointer-events/index.md
  files/ko/web/css/text-shadow/index.md
  files/ko/web/css/transform-function/scalex/scalex.png
  files/ko/web/css/transition-delay/index.md
  files/ko/web/css/visual_formatting_model/anonymous_block_box_break.png
Labels: l10n-ko

#15002 delete untranslated content - web part 7
  docs/ko/fully_untranslated_files/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/Web_HTML_Element_select.md
  files/ko/web/html/element/col/index.md
  files/ko/web/html/element/colgroup/index.md
  files/ko/web/html/element/details/index.md
  files/ko/web/html/element/div/index.md
  files/ko/web/html/element/embed/index.md
  files/ko/web/html/element/fieldset/index.md
  files/ko/web/html/element/figcaption/index.md
  files/ko/web/html/element/figure/index.md
  files/ko/web/html/element/font/index.md
  files/ko/web/html/element/footer/index.md
  files/ko/web/html/element/frame/index.md
  files/ko/web/html/element/frameset/index.md
  files/ko/web/html/element/iframe/index.md
  files/ko/web/html/element/img/clock-demo-200px.png
  files/ko/web/html/element/input/date/date-picker-chrome-error-message.png
  files/ko/web/html/element/input/date/date-picker-chrome.png
  files/ko/web/html/element/input/date/date-picker-edge.png
  files/ko/web/html/element/input/date/date-picker-fxa.png
  files/ko/web/html/element/input/date/firefox_datepicker.png
  files/ko/web/html/element/input/file/file-chooser.png
  files/ko/web/html/element/input/radio/index.md
  files/ko/web/html/element/map/screen_shot_2017-02-02_at_10.48.40_pm.png
  files/ko/web/html/element/map/screen_shot_2017-02-02_at_10.49.04_pm.png
  files/ko/web/html/element/menu/index.md
  files/ko/web/html/element/param/index.md
  files/ko/web/html/element/strong/index.md
  files/ko/web/html/element/summary/index.md
  files/ko/web/html/element/sup/index.md
Labels: l10n-ko

#15003 delete untranslated content - web part 8
  docs/ko/fully_untranslated_files/Web_HTML_Element_tbody.md
  files/ko/web/html/element/table/index.md
  files/ko/web/html/element/td/index.md
  files/ko/web/html/element/textarea/index.md
  files/ko/web/html/element/th/index.md
  files/ko/web/html/element/tr/index.md
  files/ko/web/html/global_attributes/contextmenu/index.md
Labels: l10n-ko

#15005 delete untranslated content - web part 9
  docs/ko/fully_untranslated_files/Web_HTTP_Browser_detection_using_the_user_agent.md
  docs/ko/fully_untranslated_files/Web_HTTP_Headers_Set-Cookie.md
  files/ko/_redirects.txt
  files/ko/web/http/authentication/httpauth.png
  files/ko/web/http/caching/httprevved.png
  files/ko/web/http/caching/httpstaleness.png
  files/ko/web/http/caching/httpvary.png
  files/ko/web/http/headers/content-security-policy/default-src/index.md
  files/ko/web/http/headers/dnt/index.md
Labels: l10n-ko

#15004 [ko] HTTP status 424 추가
  files/ko/web/http/status/424/index.md
Labels: l10n-ko

#14963 ko: add translation for `web/http/status/308`
  files/ko/web/http/status/308/index.md
Labels: l10n-ko

#15006 delete untranslated content - web part 10
  docs/ko/fully_untranslated_files/Web_JavaScript_Equality_comparisons_and_sameness.md
  files/ko/_redirects.txt
  files/ko/web/http/status/415/index.md
  files/ko/web/http/status/418/index.md
  files/ko/web/http/status/422/index.md
  files/ko/web/http/status/429/index.md
  files/ko/web/http/status/501/index.md
  files/ko/web/http/status/502/index.md
  files/ko/web/http/status/503/index.md
  files/ko/web/http/status/504/index.md
  files/ko/web/http/status/505/index.md
  files/ko/web/javascript/enumerability_and_ownership_of_properties/index.md
  files/ko/web/javascript/guide/meta_programming/index.md
  files/ko/web/javascript/guide/regular_expressions/assertions/index.md
  files/ko/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/ko/web/javascript/reference/classes/public_class_fields/index.md
  files/ko/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/ko/web/javascript/reference/errors/index.md
  files/ko/web/javascript/reference/global_objects/bigint/tostring/index.md
  files/ko/web/javascript/reference/global_objects/date/todatestring/index.md
  files/ko/web/javascript/reference/global_objects/intl/index.md
  files/ko/web/javascript/reference/global_objects/intl/locale/index.md
  files/ko/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/ko/web/javascript/reference/global_objects/math/sinh/index.md
  files/ko/web/javascript/reference/global_objects/math/trunc/index.md
Labels: l10n-ko

#15007 delete untranslated content - web part 11
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Global_Objects_String_replace.md
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Global_Objects_String_search.md
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Lexical_grammar.md
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Operators_delete.md
  docs/ko/fully_untranslated_files/Web_JavaScript_Reference_Statements_trycatch.md
  files/ko/_redirects.txt
  files/ko/web/javascript/reference/errors/strict_non_simple_params/index.md
  files/ko/web/javascript/reference/errors/unexpected_type/index.md
  files/ko/web/javascript/reference/global_objects/error/index.md
  files/ko/web/javascript/reference/global_objects/error/tostring/index.md
  files/ko/web/javascript/reference/global_objects/evalerror/index.md
  files/ko/web/javascript/reference/global_objects/function/arguments/index.md
  files/ko/web/javascript/reference/global_objects/function/bind/index.md
  files/ko/web/javascript/reference/global_objects/function/index.md
  files/ko/web/javascript/reference/global_objects/function/length/index.md
  files/ko/web/javascript/reference/global_objects/function/name/index.md
  files/ko/web/javascript/reference/global_objects/function/tostring/index.md
  files/ko/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/ko/web/javascript/reference/global_objects/isfinite/index.md
  files/ko/web/javascript/reference/global_objects/isnan/index.md
  files/ko/web/javascript/reference/global_objects/json/index.md
  files/ko/web/javascript/reference/global_objects/json/parse/index.md
  files/ko/web/javascript/reference/global_objects/json/stringify/index.md
  files/ko/web/javascript/reference/global_objects/math/pi/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/ko/web/javascript/reference/global_objects/math/random/index.md
  files/ko/web/javascript/reference/global_objects/math/sign/index.md
  files/ko/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/ko/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/ko/web/javascript/reference/global_objects/promise/index.md
  files/ko/web/javascript/reference/global_objects/regexp/exec/index.md
  files/ko/web/javascript/reference/global_objects/regexp/n/index.md
  files/ko/web/javascript/reference/global_objects/set/index.md
  files/ko/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/ko/web/javascript/reference/operators/increment/index.md
  files/ko/web/javascript/reference/statements/switch/index.md
  files/ko/web/javascript/reference/statements/with/index.md
Labels: l10n-ko

#14781 [zh-cn]: Translation of CSS Grid Layout and progressive enhancement
  files/zh-cn/web/css/css_grid_layout/grid_layout_and_progressive_enhancement/index.md
Labels: l10n-zh

#14073 [zh-cn]: Update translation of String.chatCodeAt()
  files/zh-cn/web/javascript/reference/global_objects/string/charcodeat/index.md
Labels: l10n-zh

#14916 [ko] translate `Responsive_images`
  files/ko/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-ko

#15018 es: Create Document web errors
  files/es/mdn/writing_guidelines/howto/document_web_errors/index.md
Labels: l10n-es

#15017 es: Create Document a CSS property
  files/es/mdn/writing_guidelines/howto/document_a_css_property/index.md
Labels: l10n-es

#14911 Firefox 116 for developersを翻訳
  files/ja/mozilla/firefox/releases/116/index.md
Labels: l10n-ja

#14019 [zh-cn]: Update translation of String overview
  files/zh-cn/web/javascript/reference/global_objects/string/index.md
Labels: l10n-zh

#15000 [zh-cn]: Update translation of String.slice()
  files/zh-cn/web/javascript/reference/global_objects/string/slice/index.md
Labels: l10n-zh

#14925 Overhaul contribution docs
  CONTRIBUTING.md
  README.md
  docs/README.md
Labels: documentation

#15020 [zh-cn]: Update translation of String.startsWith()
  files/zh-cn/web/javascript/reference/global_objects/string/startswith/index.md
Labels: l10n-zh

#14705 add(DataTransfer_constructor): 문서 추가
  files/ko/web/api/datatransfer/datatransfer/index.md
Labels: l10n-ko

#15034 modify file name include ::
  docs/ko/fully_untranslated_files/Web_CSS_before.md
Labels: l10n-ko

#14834 ko(HTMLElement_lang): 문서 추가
  files/ko/web/api/htmlelement/lang/index.md
Labels: l10n-ko

#15022 pt-br: Format /web/api using Prettier (part 5)
  .prettierignore
  files/pt-br/web/api/document/activeelement/index.md
  files/pt-br/web/api/document/index.md
  files/pt-br/web/api/domexception/index.md
  files/pt-br/web/api/element/touchstart_event/index.md
  files/pt-br/web/api/filelist/index.md
  files/pt-br/web/api/html_drag_and_drop_api/index.md
  files/pt-br/web/api/performance_api/index.md
  files/pt-br/web/api/server-sent_events/index.md
  files/pt-br/web/api/xmlhttprequest/using_xmlhttprequest/index.md
Labels: l10n-pt-br, system

#15023 pt-br: Format /web/javascript using Prettier (part 6)
  .prettierignore
  files/pt-br/web/javascript/guide/expressions_and_operators/index.md
  files/pt-br/web/javascript/reference/lexical_grammar/index.md
  files/pt-br/web/javascript/reference/operators/exponentiation/index.md
  files/pt-br/web/javascript/reference/operators/grouping/index.md
  files/pt-br/web/javascript/reference/strict_mode/index.md
Labels: l10n-pt-br, system

#15025 ko: Format /web/css using Prettier (part 4)
  .prettierignore
  files/ko/web/css/border-image/index.md
  files/ko/web/css/overflow-inline/index.md
  files/ko/web/css/vertical-align/index.md
Labels: l10n-ko, system

#15027 ru: Format /web/css using Prettier (part 4)
  .prettierignore
  files/ru/web/css/_colon_has/index.md
  files/ru/web/css/_doublecolon_selection/index.md
  files/ru/web/css/css_counter_styles/using_css_counters/index.md
  files/ru/web/css/display-outside/index.md
  files/ru/web/css/vertical-align/index.md
Labels: l10n-ru, system

#15028 ru: Format /web/javascript using Prettier (part 7)
  .prettierignore
  files/ru/web/javascript/guide/grammar_and_types/index.md
  files/ru/web/javascript/reference/global_objects/error/stack/index.md
  files/ru/web/javascript/reference/lexical_grammar/index.md
  files/ru/web/javascript/reference/operators/grouping/index.md
  files/ru/web/javascript/reference/operators/logical_and/index.md
  files/ru/web/javascript/reference/operators/logical_or/index.md
Labels: l10n-ru, system

#15026 ko: Format /web/javascript using Prettier (part 6)
  .prettierignore
  files/ko/web/javascript/guide/grammar_and_types/index.md
  files/ko/web/javascript/guide/iterators_and_generators/index.md
  files/ko/web/javascript/guide/text_formatting/index.md
  files/ko/web/javascript/reference/errors/invalid_array_length/index.md
  files/ko/web/javascript/reference/global_objects/aggregateerror/index.md
  files/ko/web/javascript/reference/operators/async_function/index.md
  files/ko/web/javascript/reference/operators/exponentiation/index.md
  files/ko/web/javascript/reference/operators/grouping/index.md
  files/ko/web/javascript/reference/operators/logical_and/index.md
  files/ko/web/javascript/reference/operators/unary_plus/index.md
  files/ko/web/javascript/reference/statements/do...while/index.md
  files/ko/web/javascript/reference/statements/empty/index.md
  files/ko/web/javascript/reference/strict_mode/index.md
Labels: l10n-ko, system

#14964 [zh-cn]: Update translation of String.search()
  files/zh-cn/web/javascript/reference/global_objects/string/search/index.md
Labels: l10n-zh

#15021 es: Update dash adaptative streaming
  files/es/web/media/dash_adaptive_streaming_for_html_5_video/index.md
Labels: l10n-es

#15044 es: Create glossary_page_template
  files/es/mdn/writing_guidelines/page_structures/page_types/glossary_page_template/index.md
Labels: l10n-es

#15043 es: Create code_style_guide/shell
  files/es/mdn/writing_guidelines/writing_style_guide/code_style_guide/shell/index.md
Labels: l10n-es

#15019 es: Update canplay
  files/es/web/api/htmlmediaelement/canplay_event/index.md
Labels: l10n-es

#15046 [zh-cn]: Update translation of String.codePointAt()
  files/zh-cn/web/javascript/reference/global_objects/string/codepointat/index.md
Labels: l10n-zh

#15051 fix a typo in the CSS document
  files/zh-cn/web/css/css_animations/tips/index.md
Labels: l10n-zh

#15054 zh-cn: translate `getBigUint64()` method
  files/zh-cn/web/javascript/reference/global_objects/dataview/getbiguint64/index.md
Labels: l10n-zh

#15047 [zh-cn]: Update translation of String.fromCharCode()
  files/zh-cn/web/javascript/reference/global_objects/string/fromcharcode/index.md
Labels: l10n-zh

#15052 chore(autocorrect): remove single case in ignore rules
  .autocorrectrc
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
  files/zh-cn/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
Labels: l10n-zh, system

#14953 ko: add translation for `web/http/cors/errors/corsmissingallowcredentials`
  files/ko/web/http/cors/errors/corsmissingallowcredentials/index.md
Labels: l10n-ko

#15049 sync with english version for MDN content
  files/zh-cn/mdn/community/mdn_content/index.md
Labels: l10n-zh

#15058 zh-cn: translate replaceChild returned value
  files/zh-cn/web/api/node/replacechild/index.md
Labels: l10n-zh

#15056 ko: fix typo
  files/ko/web/api/settimeout/index.md
Labels: l10n-ko

#15061 es: Create page_structures/specification_tables
  files/es/mdn/writing_guidelines/page_structures/specification_tables/index.md
Labels: l10n-es

#15060 es: Create page_structures/banners_and_notices
  files/es/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
Labels: l10n-es

#15062 es: Create Document_an_HTTP_header
  files/es/mdn/writing_guidelines/howto/document_an_http_header/index.md
Labels: l10n-es

#14930 update the translation of IndexedDB
  files/zh-cn/web/api/indexeddb_api/using_indexeddb/index.md
  files/zh-cn/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Labels: l10n-zh

#15063 make some sentences clearer
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-zh

#14950 ko: add translation for `web/http/cors/errors/corsmethodnotfound`
  files/ko/web/http/cors/errors/corsmethodnotfound/index.md
Labels: l10n-ko

#14938 ko: add translation for `tools_and_testing/client-side_js_frameworks/react_accessibility`
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/react_accessibility/index.md
Labels: l10n-ko

#14992 es: update css/filter
  files/es/web/css/filter/index.md
Labels: l10n-es

#15065 Multimedia and embedding 페이지 제목, 내용 수정
  files/ko/learn/html/multimedia_and_embedding/index.md
Labels: l10n-ko

#14246 Override markdownlint-cli2 config for zh-cn
  files/zh-cn/.markdownlint-cli2.jsonc
  files/zh-tw/.markdownlint-cli2.jsonc
  package.json
Labels: system

#15080 zh-tw: Replace smart quotes with proper quotes
  files/zh-tw/learn/getting_started_with_the_web/how_the_web_works/index.md
  files/zh-tw/learn/javascript/building_blocks/looping_code/index.md
  files/zh-tw/learn/server-side/django/django_assessment_blog/index.md
  files/zh-tw/learn/server-side/django/index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/index.md
  files/zh-tw/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
  files/zh-tw/web/api/event/index.md
  files/zh-tw/web/api/fetch_api/using_fetch/index.md
  files/zh-tw/web/api/server-sent_events/index.md
  files/zh-tw/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/zh-tw/web/css/grid-template/index.md
  files/zh-tw/web/http/basics_of_http/mime_types/index.md
  files/zh-tw/web/http/headers/cache-control/index.md
  files/zh-tw/web/javascript/reference/functions/rest_parameters/index.md
  files/zh-tw/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-zh

#15081 zh-tw: Remove untranslated files
  files/zh-tw/_redirects.txt
  files/zh-tw/_wikihistory.json
  files/zh-tw/learn/javascript/asynchronous/promises/index.md
  files/zh-tw/learn/server-side/django/deployment/index.md
  files/zh-tw/learn/server-side/django/testing/index.md
  files/zh-tw/learn/server-side/django/web_application_security/index.md
  files/zh-tw/learn/server-side/express_nodejs/forms/create_author_form/index.md
  files/zh-tw/learn/server-side/express_nodejs/forms/create_book_form/index.md
  files/zh-tw/web/css/grid-row/index.md
  files/zh-tw/web/css/grid-template-columns/index.md
  files/zh-tw/web/css/object-fit/index.md
  files/zh-tw/web/http/cors/errors/corsdidnotsucceed/index.md
  files/zh-tw/web/http/cors/errors/corsmissingalloworigin/index.md
  files/zh-tw/web/http/cors/errors/corsnotsupportingcredentials/index.md
  files/zh-tw/web/http/cors/errors/index.md
  files/zh-tw/web/http/headers/index.md
Labels: l10n-zh
