Repository mdn/translated-content, pull requests merged in 2024-04, with the labels that each got.

#18875 [ko] WeakSet.prototype.has() 신규 추가
  files/ko/web/javascript/reference/global_objects/weakset/has/index.md
Labels: l10n-ko

#19056 [zh-cn]: update the translation of Navigator: cookieEnabled property
  files/zh-cn/web/api/navigator/cookieenabled/index.md
Labels: l10n-zh

#19113 zh-cn: update the translation of `hasAttributeNS()`
  files/zh-cn/web/api/element/hasattributens/index.md
Labels: l10n-zh

#18971 [ko] DataView.prototype.setInt16() 신규 번역
  files/ko/web/javascript/reference/global_objects/dataview/setint16/index.md
Labels: l10n-ko

#19093 [zh-cn]: create the translation of `navigator.xr` property
  files/zh-cn/web/api/navigator/xr/index.md
Labels: l10n-zh

#19125 [zh-tw]: translate HTML elements `<figcaption>`, `<figure>`, `<form>`
  files/zh-tw/web/html/element/figcaption/index.md
  files/zh-tw/web/html/element/figure/index.md
  files/zh-tw/web/html/element/form/index.md
Labels: l10n-zh

#19120 fix(zh-tw): replace the references to broken image source
  files/zh-tw/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-tw/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-tw/web/api/setinterval/index.md
  files/zh-tw/web/css/_colon_target/index.md
  files/zh-tw/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/holy_grail_layout.png
  files/zh-tw/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/zh-tw/web/css/shorthand_properties/index.md
  files/zh-tw/web/security/mixed_content/index.md
Labels: l10n-zh

#18945 [zh-cn]: update translation of debugger statement
  files/zh-cn/web/javascript/reference/statements/debugger/index.md
Labels: l10n-zh, needs content update

#19128 [zh-cn]: sync for Web Locks API
  files/zh-cn/web/api/lock/index.md
  files/zh-cn/web/api/lock/mode/index.md
  files/zh-cn/web/api/lock/name/index.md
  files/zh-cn/web/api/lockmanager/index.md
  files/zh-cn/web/api/lockmanager/query/index.md
  files/zh-cn/web/api/lockmanager/request/index.md
  files/zh-cn/web/api/web_locks_api/index.md
Labels: l10n-zh

#19071 [zh-cn] add translation for HighlightRegistry
  files/zh-cn/web/api/highlightregistry/index.md
Labels: l10n-zh

#19017 [zh-cn] update Firefox UA string reference
  files/zh-cn/web/http/headers/user-agent/firefox/index.md
Labels: l10n-zh

#19144 chore(zh-cn): translate for slotted pseudo-element
  files/zh-cn/web/css/_doublecolon_slotted/index.md
Labels: l10n-zh

#19033 Web/SVG/Tutorial/Patterns を更新
  files/ja/web/svg/tutorial/patterns/index.md
Labels: l10n-ja

#19141 [zh-cn]: update the translation of `text-indent` property
  files/zh-cn/web/css/text-indent/index.md
Labels: l10n-zh

#19034 Web/API/XRReferenceSpace/reset_event を更新
  files/ja/web/api/xrreferencespace/reset_event/index.md
Labels: l10n-ja

#19035 Web/SVG/Element/stop を更新
  files/ja/web/svg/element/stop/index.md
Labels: l10n-ja

#19036 Web/SVG/Tutorial/Tools_for_SVG を更新
  files/ja/web/svg/tutorial/tools_for_svg/index.md
Labels: l10n-ja

#19037 Web/API/MediaQueryList/matches を更新
  files/ja/web/api/mediaquerylist/matches/index.md
Labels: l10n-ja

#19038 MDN/Writing_guidelines/Page_structures/Syntax_sections を更新
  files/ja/mdn/writing_guidelines/page_structures/syntax_sections/index.md
Labels: l10n-ja

#19039 Glossary/Accessibility を更新
  files/ja/glossary/accessibility/index.md
Labels: l10n-ja

#19040 MDN/Writing_guidelines/Page_structures/Macros を更新
  files/ja/mdn/writing_guidelines/page_structures/macros/index.md
Labels: l10n-ja

#19140 zh-cn: update the translation of `removeAttribute()`
  files/zh-cn/web/api/element/removeattribute/index.md
Labels: l10n-zh

#19061 chore(zh-cn): translate for getTargetRanges()
  files/zh-cn/web/api/inputevent/gettargetranges/index.md
Labels: l10n-zh

#19127 [zh-cn]: sync for Local Font Access API
  files/zh-cn/web/api/network_information_api/index.md
  files/zh-cn/web/api/window/querylocalfonts/index.md
Labels: l10n-zh

#19073 [ko] scroll behavior 문서 번역
  files/ko/web/css/scroll-behavior/index.md
Labels: l10n-ko

#19152 zh-cn: update the translation of the CSS `gap` property
  files/zh-cn/web/css/gap/index.md
Labels: l10n-zh

#19126 [zh-tw]: translate HTML elements `<frame>`, `<header>`, `<heading_elements>`
  files/zh-tw/web/html/element/frame/index.md
  files/zh-tw/web/html/element/header/index.md
  files/zh-tw/web/html/element/heading_elements/index.md
Labels: l10n-zh

#19156 [zh-cn]: update the translation of Metadata Glossary
  files/zh-cn/glossary/metadata/index.md
Labels: l10n-zh

#19151 [zh-cn]: update the translation of var in statement section
  files/zh-cn/web/javascript/reference/statements/var/index.md
Labels: l10n-zh

#19170 [zh-cn]: add translation for `NetworkInformation.change`
  files/zh-cn/web/api/networkinformation/change_event/index.md
Labels: l10n-zh

#19169 [zh-cn]: sync translation for Network Information API
  files/zh-cn/web/api/network_information_api/index.md
Labels: l10n-zh

#19183 zh-cn: fix the markdown rendering error and improve translation
  files/zh-cn/web/css/scrollbar-color/index.md
Labels: l10n-zh

#19157 zh-cn: translate for before pseudo-element
  files/zh-cn/web/css/_doublecolon_before/index.md
Labels: l10n-zh

#19184 zh-cn: update the translation of `Array.splice()`
  files/zh-cn/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-zh

#19074 MDN/Writing_guidelines/Page_structures/Links を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/links/index.md
Labels: l10n-ja

#19075 MDN/Writing_guidelines/Page_structures/Feature_status を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/feature_status/index.md
Labels: l10n-ja

#19076 MDN/Writing_guidelines/Page_structures/Macros/Commonly_used_macros を更新
  files/ja/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Labels: l10n-ja

#19077 MDN/Writing_guidelines/Page_structures/Macros/Other を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/macros/other/index.md
Labels: l10n-ja

#19078 MDN/Writing_guidelines/Page_structures を更新
  files/ja/mdn/writing_guidelines/page_structures/index.md
Labels: l10n-ja

#19086 MDN/Writing_guidelines/Attrib_copyright_license を更新
  files/ja/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: l10n-ja

#19095 MDN/Writing_guidelines/Page_structures/Page_types/API_method_subpage_template を更新
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
Labels: l10n-ja

#19096 MDN/Writing_guidelines/Page_structures/Page_types/API_property_subpage_template を更新
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
Labels: l10n-ja

#19104 MDN/Writing_guidelines/Page_structures/Page_types/API_landing_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
Labels: l10n-ja

#19105 MDN/Writing_guidelines/Page_structures/Page_types/HTML_element_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
Labels: l10n-ja

#19106 MDN/Writing_guidelines/Page_structures/Page_types/SVG_element_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Labels: l10n-ja

#19107 MDN/Writing_guidelines/Page_structures/Page_types/CSS_module_landing_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/css_module_landing_page_template/index.md
Labels: l10n-ja

#19108 MDN/Writing_guidelines/Page_structures/Page_types/CSS_property_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
Labels: l10n-ja

#19110 Web/API/MediaQueryListEvent/matches を新規翻訳
  files/ja/web/api/mediaquerylistevent/matches/index.md
Labels: l10n-ja

#19188 [zh-cn]: sync translation for `NetworkInformation.downlink`
  files/zh-cn/web/api/networkinformation/downlink/index.md
Labels: l10n-zh

#19143 [zh-cn]: create the translation of `navigator.mediaSession` property
  files/zh-cn/web/api/navigator/mediasession/index.md
Labels: l10n-zh

#19082 /fr/docs/Web/CSS/column-gap - use section ids for `EmbedLiveSample` - Fixes #19079
  files/fr/web/css/column-gap/index.md
Labels: l10n-fr

#19201 Update index.md
  files/fr/web/javascript/reference/global_objects/number/index.md
Labels: l10n-fr

#19165 [zh-cn]: create the translation of `navigator.platform` property
  files/zh-cn/web/api/navigator/platform/index.md
Labels: l10n-zh

#19189 [zh-cn]: add translation for `NetworkInformation.downlinkMax`
  files/zh-cn/web/api/networkinformation/downlinkmax/index.md
Labels: l10n-zh

#19190 [zh-cn]: add translation for `NetworkInformation.effectiveType`
  files/zh-cn/web/api/networkinformation/effectivetype/index.md
Labels: l10n-zh

#19193 [zh-cn]: add translation for `NetworkInformation.type`
  files/zh-cn/web/api/networkinformation/type/index.md
Labels: l10n-zh

#19198 [zh-cn]: add translation for `{Navigator,WorkerNavigator}.userAgentData`
  files/zh-cn/web/api/navigator/useragentdata/index.md
  files/zh-cn/web/api/workernavigator/useragentdata/index.md
Labels: l10n-zh

#19206 zh-cn: update the translation of `removeAttributeNS()`
  files/zh-cn/web/api/element/removeattributens/index.md
Labels: l10n-zh

#19191 [zh-cn]: sync translation for `NetworkInformation.rtt`
  files/zh-cn/web/api/networkinformation/rtt/index.md
Labels: l10n-zh

#19192 [zh-cn]: sync translation for `NetworkInformation.saveData`
  files/zh-cn/web/api/networkinformation/savedata/index.md
Labels: l10n-zh

#19115 MDN/Writing_guidelines/Page_structures/Page_types/CSS_selector_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
Labels: l10n-ja

#19116 MDN/Writing_guidelines/Page_structures/Page_types/CSS_function_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/css_function_page_template/index.md
Labels: l10n-ja

#19117 MDN/Writing_guidelines/Page_structures/Page_types/HTTP_header_page_template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
Labels: l10n-ja

#19119 MDN/Writing_guidelines/Page_structures/Page_types/ARIA_Page_Template を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/aria_page_template/index.md
Labels: l10n-ja

#19121 MDN/Writing_guidelines/Page_structures/Page_types/Page_type_key を新規翻訳
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: l10n-ja

#19124 用語集 - ビーコン リンクの更新
  files/ja/glossary/beacon/index.md
Labels: l10n-ja

#19131 MDN/Writing_guidelines/What_we_write を更新
  files/ja/mdn/writing_guidelines/what_we_write/index.md
Labels: l10n-ja

#19133 MDN/Writing_guidelines/Writing_style_guide を更新
  files/ja/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-ja

#19135 MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/HTML を更新
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
Labels: l10n-ja

#19137 MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/JavaScript を更新
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
Labels: l10n-ja

#19138 MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/Shell を更新
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/shell/index.md
Labels: l10n-ja

#19185 zh-cn: update the translation of `removeAttributeNode()`
  files/zh-cn/web/api/element/removeattributenode/index.md
Labels: l10n-zh

#19233 zh-cn: fix the markdown rendering error in `function*` statement
  files/zh-cn/web/javascript/reference/operators/function_star_/index.md
Labels: l10n-zh

#19228 [zh-tw]: translate HTML element `<html>`
  files/zh-tw/web/html/element/html/index.md
Labels: l10n-zh

#18365 fr_single_double_quote problem fixed
  files/fr/learn/html/introduction_to_html/getting_started/index.md
Labels: l10n-fr

#18393 FR update images (introduction to the server side page)
  files/fr/learn/server-side/first_steps/introduction/index.md
Labels: l10n-fr

#18797 [fr] fix: Replace "schemas" by "schemes"
  files/fr/mozilla/add-ons/webextensions/api/events/urlfilter/index.md
Labels: l10n-fr

#18823 [fr] Fix issues where EmbedLiveSample doesn't work properly
  files/fr/web/css/gap/index.md
  files/fr/web/css/list-style-type/index.md
Labels: l10n-fr

#18854 [fr] fix EmbededLiveSample code on `Web/CSS/:placeholder-shown`
  files/fr/web/css/_colon_placeholder-shown/index.md
Labels: l10n-fr

#19187 Update fr page for local-link to fit with en-us
  files/fr/web/css/_colon_local-link/index.md
Labels: l10n-fr

#19111 fr: Remove duplicate example on `/fr/docs/Web/CSS/CSS_transitions/Using_CSS_transitions`
  files/fr/web/css/css_transitions/using_css_transitions/index.md
Labels: l10n-fr

#19148 [fr] improve `Web/JavaScript/Guide/Functions` translation
  files/fr/web/javascript/guide/functions/index.md
Labels: l10n-fr

#19145 MDN/Writing_guidelines/Page_structures/Code_examples を更新
  files/ja/mdn/writing_guidelines/page_structures/code_examples/index.md
Labels: l10n-ja

#19146 用語の統一: コード例→サンプルコード
  files/ja/mdn/writing_guidelines/howto/research_technology/index.md
Labels: l10n-ja

#19147 MDN/Writing_guidelines を更新
  files/ja/mdn/writing_guidelines/index.md
Labels: l10n-ja

#18699 [es] Fix a few typos, mistranslations and broken links in Spanish language guides
  files/es/learn/common_questions/web_mechanics/what_is_a_url/index.md
  files/es/learn/common_questions/web_mechanics/what_is_a_web_server/index.md
  files/es/web/http/basics_of_http/identifying_resources_on_the_web/index.md
Labels: l10n-es

#19158 [zh-cn]: create the translation of `navigator.mimeTypes` property
  files/zh-cn/web/api/navigator/mimetypes/index.md
Labels: l10n-zh

#19129 [zh-cn]: sync for Notifications API
  files/zh-cn/web/api/notification/actions/index.md
  files/zh-cn/web/api/notification/badge/index.md
  files/zh-cn/web/api/notification/body/index.md
  files/zh-cn/web/api/notification/click_event/index.md
  files/zh-cn/web/api/notification/close/index.md
  files/zh-cn/web/api/notification/close_event/index.md
  files/zh-cn/web/api/notification/data/index.md
  files/zh-cn/web/api/notification/dir/index.md
  files/zh-cn/web/api/notification/error_event/index.md
  files/zh-cn/web/api/notification/icon/index.md
  files/zh-cn/web/api/notification/image/index.md
  files/zh-cn/web/api/notification/index.md
  files/zh-cn/web/api/notification/lang/index.md
  files/zh-cn/web/api/notification/maxactions_static/index.md
  files/zh-cn/web/api/notification/notification/index.md
  files/zh-cn/web/api/notification/permission_static/index.md
  files/zh-cn/web/api/notification/renotify/index.md
  files/zh-cn/web/api/notification/requireinteraction/index.md
  files/zh-cn/web/api/notification/show_event/index.md
  files/zh-cn/web/api/notification/silent/index.md
  files/zh-cn/web/api/notification/tag/index.md
  files/zh-cn/web/api/notification/timestamp/index.md
  files/zh-cn/web/api/notification/title/index.md
  files/zh-cn/web/api/notification/vibrate/index.md
  files/zh-cn/web/api/notifications_api/index.md
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.md
  files/zh-cn/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/zh-cn/web/api/serviceworkerglobalscope/notificationclose_event/index.md
  files/zh-cn/web/api/serviceworkerregistration/getnotifications/index.md
  files/zh-cn/web/api/serviceworkerregistration/shownotification/index.md
Labels: l10n-zh

#19227 [zh-tw]: translate HTML element `<hgroup>`
  files/zh-tw/web/html/element/hgroup/index.md
Labels: l10n-zh

#19245 [zh-cn]: add translation for User-Agent Client Hints API
  files/zh-cn/web/api/user-agent_client_hints_api/index.md
Labels: l10n-zh

#19248 [ru] add response.ok translation
  files/ru/web/api/response/ok/index.md
Labels: l10n-ru

#19226 zh-cn: update the translation of `setAttribute()`
  files/zh-cn/web/api/element/setattribute/index.md
Labels: l10n-zh

#19252 chore(zh-cn): replace {{no_tag_omission}} macros
  files/zh-cn/web/html/element/a/index.md
  files/zh-cn/web/html/element/abbr/index.md
  files/zh-cn/web/html/element/address/index.md
  files/zh-cn/web/html/element/article/index.md
  files/zh-cn/web/html/element/aside/index.md
  files/zh-cn/web/html/element/audio/index.md
  files/zh-cn/web/html/element/bdi/index.md
  files/zh-cn/web/html/element/blockquote/index.md
  files/zh-cn/web/html/element/button/index.md
  files/zh-cn/web/html/element/caption/index.md
  files/zh-cn/web/html/element/cite/index.md
  files/zh-cn/web/html/element/data/index.md
  files/zh-cn/web/html/element/datalist/index.md
  files/zh-cn/web/html/element/del/index.md
  files/zh-cn/web/html/element/details/index.md
  files/zh-cn/web/html/element/dfn/index.md
  files/zh-cn/web/html/element/dialog/index.md
  files/zh-cn/web/html/element/div/index.md
  files/zh-cn/web/html/element/dl/index.md
  files/zh-cn/web/html/element/em/index.md
  files/zh-cn/web/html/element/fieldset/index.md
  files/zh-cn/web/html/element/figcaption/index.md
  files/zh-cn/web/html/element/figure/index.md
  files/zh-cn/web/html/element/form/index.md
  files/zh-cn/web/html/element/header/index.md
  files/zh-cn/web/html/element/heading_elements/index.md
  files/zh-cn/web/html/element/hgroup/index.md
  files/zh-cn/web/html/element/i/index.md
  files/zh-cn/web/html/element/ins/index.md
  files/zh-cn/web/html/element/kbd/index.md
  files/zh-cn/web/html/element/label/index.md
  files/zh-cn/web/html/element/legend/index.md
  files/zh-cn/web/html/element/map/index.md
  files/zh-cn/web/html/element/mark/index.md
  files/zh-cn/web/html/element/meter/index.md
  files/zh-cn/web/html/element/nav/index.md
  files/zh-cn/web/html/element/object/index.md
  files/zh-cn/web/html/element/ol/index.md
  files/zh-cn/web/html/element/output/index.md
  files/zh-cn/web/html/element/picture/index.md
  files/zh-cn/web/html/element/pre/index.md
  files/zh-cn/web/html/element/progress/index.md
  files/zh-cn/web/html/element/q/index.md
  files/zh-cn/web/html/element/rp/index.md
  files/zh-cn/web/html/element/ruby/index.md
  files/zh-cn/web/html/element/s/index.md
  files/zh-cn/web/html/element/samp/index.md
  files/zh-cn/web/html/element/script/index.md
  files/zh-cn/web/html/element/section/index.md
  files/zh-cn/web/html/element/select/index.md
  files/zh-cn/web/html/element/slot/index.md
  files/zh-cn/web/html/element/sup/index.md
  files/zh-cn/web/html/element/table/index.md
  files/zh-cn/web/html/element/template/index.md
  files/zh-cn/web/html/element/textarea/index.md
  files/zh-cn/web/html/element/time/index.md
  files/zh-cn/web/html/element/u/index.md
  files/zh-cn/web/html/element/ul/index.md
  files/zh-cn/web/html/element/var/index.md
Labels: l10n-zh

#19253 chore(zh-tw): replace {{no_tag_omission}} macros
  files/zh-tw/web/html/element/article/index.md
  files/zh-tw/web/html/element/blockquote/index.md
  files/zh-tw/web/html/element/footer/index.md
  files/zh-tw/web/html/element/ins/index.md
  files/zh-tw/web/html/element/nav/index.md
  files/zh-tw/web/html/element/noscript/index.md
  files/zh-tw/web/html/element/picture/index.md
  files/zh-tw/web/html/element/pre/index.md
  files/zh-tw/web/html/element/q/index.md
  files/zh-tw/web/html/element/ruby/index.md
  files/zh-tw/web/html/element/script/index.md
  files/zh-tw/web/html/element/search/index.md
  files/zh-tw/web/html/element/table/index.md
  files/zh-tw/web/html/element/template/index.md
Labels: l10n-zh

#18732 [es] Translate BigInt global object page
  files/es/web/javascript/reference/global_objects/bigint/index.md
Labels: l10n-es

#19159 [zh-cn]: create the translation of `navigator.onLine` property
  files/zh-cn/web/api/navigator/online/index.md
Labels: l10n-zh

#19164 [zh-cn]: create the translation of `navigator.webdriver` property
  files/zh-cn/web/api/navigator/webdriver/index.md
Labels: l10n-zh

#19162 [zh-cn]: create the translation of `navigator.windowControlsOverlay` property
  files/zh-cn/web/api/navigator/windowcontrolsoverlay/index.md
Labels: l10n-zh

#19258 [zh-cn]: create the translation of `navigator.presentation` property
  files/zh-cn/web/api/navigator/presentation/index.md
Labels: l10n-zh

#19172 MDN/Community ほか1件を更新
  files/ja/mdn/community/index.md
  files/ja/mdn/community/learn_forum/index.md
Labels: l10n-ja

#19173 MDN/Community/Contributing/Our_repositories を更新
  files/ja/mdn/community/contributing/our_repositories/index.md
Labels: l10n-ja

#19174 MDN/Community/Contributing/Translated_content を更新
  files/ja/mdn/community/contributing/translated_content/index.md
Labels: l10n-ja

#19175 MDN/Community/Contributing/Security_vulnerability_response を更新
  files/ja/mdn/community/contributing/security_vulnerability_response/index.md
Labels: l10n-ja

#19176 MDN/Community/Contributing/Getting_started 他2件を更新
  files/ja/mdn/community/contributing/getting_started/index.md
  files/ja/mdn/community/contributing/index.md
  files/ja/mdn/community/open_source_etiquette/index.md
Labels: l10n-ja

#19177 MDN/Community/Communication_channels を更新
  files/ja/mdn/community/communication_channels/index.md
Labels: l10n-ja

#19178 MDN/Community/Discussions を更新
  files/ja/mdn/community/discussions/index.md
Labels: l10n-ja

#19179 MDN/Community/Discussions/Managing_and_resolving_discussions を新規翻訳
  files/ja/mdn/community/discussions/managing_and_resolving_discussions/index.md
Labels: l10n-ja

#19180 MDN/Community/Issues を更新
  files/ja/mdn/community/issues/index.md
Labels: l10n-ja

#19181 MDN/Community/Pull_requests を更新
  files/ja/mdn/community/pull_requests/index.md
Labels: l10n-ja

#19182 MDN/Community/Roles_teams を更新
  files/ja/mdn/community/roles_teams/index.md
Labels: l10n-ja

#19194 MDN/MDN_Product_Advisory_Board を更新
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/mdn/mdn_product_advisory_board/index.md
  files/ja/mdn/mdn_product_advisory_board/index.md
Labels: l10n-ja

#19196 MDN/At_ten を更新
  files/ja/mdn/at_ten/index.md
Labels: l10n-ja

#19197 MDN および配下の2件の記事を更新
  files/ja/mdn/at_ten/history_of_mdn/index.md
  files/ja/mdn/changelog/index.md
  files/ja/mdn/index.md
Labels: l10n-ja

#19199 Web/HTML/Attributes/disabled を更新
  files/ja/web/html/attributes/disabled/index.md
Labels: l10n-ja

#19200 用語の統一
  files/ja/web/html/attributes/capture/index.md
  files/ja/web/html/attributes/rel/index.md
Labels: l10n-ja

#19202 Web/HTML/Attributes/rel/preload 他1件を更新
  files/ja/web/html/attributes/multiple/index.md
  files/ja/web/html/attributes/rel/preload/index.md
Labels: l10n-ja

#19203 Web/HTML/Attributes を更新
  files/ja/web/html/attributes/index.md
Labels: l10n-ja

#19267 Web/Accessibility/ARIA/Roles/spinbutton_role を新規翻訳
  files/ja/web/accessibility/aria/roles/spinbutton_role/index.md
Labels: l10n-ja

#19268 Web/API/HTMLInputElement を更新
  files/ja/web/api/htmlinputelement/index.md
Labels: l10n-ja

#19269 Web/API/HTMLInputElement/disabled ほか2件を更新
  files/ja/web/api/htmlinputelement/disabled/index.md
  files/ja/web/api/htmlinputelement/files/index.md
  files/ja/web/api/htmlinputelement/webkitdirectory/index.md
Labels: l10n-ja

#19270 Web/API/HTMLInputElement/popoverTargetAction 他1件を更新
  files/ja/web/api/htmlinputelement/popovertargetaction/index.md
  files/ja/web/api/htmlinputelement/popovertargetelement/index.md
Labels: l10n-ja

#19271 Web/API/HTMLInputElement/selectionDirection 他2件を新規翻訳
  files/ja/web/api/htmlinputelement/selectiondirection/index.md
  files/ja/web/api/htmlinputelement/selectionend/index.md
  files/ja/web/api/htmlinputelement/selectionstart/index.md
Labels: l10n-ja

#19272 Web/API/HTMLInputElement/type を新規翻訳
  files/ja/web/api/htmlinputelement/type/index.md
Labels: l10n-ja

#19273 3つの記事に short-title: を追加
  files/ja/web/api/htmlinputelement/labels/index.md
  files/ja/web/api/htmlinputelement/multiple/index.md
  files/ja/web/api/htmlinputelement/webkitentries/index.md
Labels: l10n-ja

#19260 [zh-cn]: create the translation of `navigator.product` property
  files/zh-cn/web/api/navigator/product/index.md
Labels: l10n-zh

#19265 [zh-cn]: create the translation of `navigator.serial` property
  files/zh-cn/web/api/navigator/serial/index.md
Labels: l10n-zh

#19261 [zh-cn]: update the translation of `navigator.productSub` property
  files/zh-cn/web/api/navigator/productsub/index.md
Labels: l10n-zh

#19263 [zh-cn]: create the translation of `navigator.scheduling` property
  files/zh-cn/web/api/navigator/scheduling/index.md
Labels: l10n-zh

#19160 [zh-cn]: update the translation of `navigator.oscpu` property
  files/zh-cn/web/api/navigator/oscpu/index.md
Labels: l10n-zh

#19279 [zh-cn]: create the translation of `navigator.usb` property
  files/zh-cn/web/api/navigator/usb/index.md
Labels: l10n-zh

#19246 [zh-tw]: translate `Accept-CH` header
  files/zh-tw/web/http/headers/accept-ch/index.md
Labels: l10n-zh

#19244 [zh-tw]: update `Accept` header
  files/zh-tw/web/http/headers/accept/index.md
Labels: l10n-zh

#19289 [zh-cn]: create the translation of SMPTE Glossary
  files/zh-cn/glossary/smpte/index.md
Labels: l10n-zh

#19166 [zh-cn]: create the translation of `navigator.plugins` property
  files/zh-cn/web/api/navigator/plugins/index.md
Labels: l10n-zh

#19161 [zh-cn]: create the translation of `navigator.pdfViewerEnabled` property
  files/zh-cn/web/api/navigator/pdfviewerenabled/index.md
Labels: l10n-zh

#19292 zh-cn: fix broken links
  files/zh-cn/web/html/attributes/rel/index.md
Labels: l10n-zh

#19284 [zh-cn]: update the translation of `navigator.vendor` and `navigator.vendorSub` property
  files/zh-cn/web/api/navigator/vendor/index.md
  files/zh-cn/web/api/navigator/vendorsub/index.md
Labels: l10n-zh

#18737 [ko] Math.asinh() 추가
  files/ko/web/javascript/reference/global_objects/math/asinh/index.md
Labels: l10n-ko

#19262 zh-cn: update the translation of `Element.setAttributeNodeNS()`
  files/zh-cn/web/api/element/setattributenodens/index.md
Labels: l10n-zh

#19297 zh-cn: fix broken links
  files/zh-cn/web/html/attributes/rel/index.md
Labels: l10n-zh

#19208 zh-cn: update the translation of SVG attribute reference
  files/zh-cn/web/svg/attribute/index.md
  files/zh-cn/web/svg/element/feimage/index.md
Labels: l10n-zh

#19195 MDN/MDN_Product_Advisory_Board/Membership を更新
  files/ja/mdn/mdn_product_advisory_board/membership/index.md
Labels: l10n-ja

#19281 用語集 - Deno の新規翻訳
  files/ja/glossary/deno/index.md
Labels: l10n-ja

#19256 [ru] improve `Web/HTML/Element/a` translation (`target` param)
  files/ru/web/html/element/a/index.md
Labels: l10n-ru

#19257 [ru] add `Web/API/Response/status` translation
  files/ru/web/api/response/status/index.md
Labels: l10n-ru

#19264 zh-cn: update the translation of `Element.setAttributeNS()`
  files/zh-cn/web/api/element/setattributens/index.md
Labels: l10n-zh

#18871 [ko] DataView.prototype.setBigInt64() 신규 번역
  files/ko/web/javascript/reference/global_objects/dataview/setbigint64/index.md
Labels: l10n-ko

#18915 [ko] Intl.RelativeTimeFormat.formatToParts() 신규 번역
  files/ko/web/javascript/reference/global_objects/intl/relativetimeformat/formattoparts/index.md
Labels: l10n-ko

#19282 [zh-cn]: create the translation of `navigator.userAgent` property
  files/zh-cn/web/api/navigator/useragent/index.md
Labels: l10n-zh

#19278 [zh-cn]: create the translation of `navigator.storage` property
  files/zh-cn/web/api/navigator/storage/index.md
Labels: l10n-zh
