Repository mdn/translated-content, pull requests merged in 2024-03, with the labels that each got.

#18359 chore(zh): remove the version arguments of Firefox_for_developers macros
  files/zh-cn/mozilla/firefox/releases/119/index.md
  files/zh-cn/mozilla/firefox/releases/120/index.md
  files/zh-cn/mozilla/firefox/releases/121/index.md
  files/zh-cn/mozilla/firefox/releases/14/index.md
  files/zh-cn/mozilla/firefox/releases/18/index.md
  files/zh-cn/mozilla/firefox/releases/19/index.md
  files/zh-cn/mozilla/firefox/releases/20/index.md
  files/zh-cn/mozilla/firefox/releases/21/index.md
  files/zh-cn/mozilla/firefox/releases/22/index.md
  files/zh-cn/mozilla/firefox/releases/24/index.md
  files/zh-cn/mozilla/firefox/releases/25/index.md
  files/zh-cn/mozilla/firefox/releases/26/index.md
  files/zh-cn/mozilla/firefox/releases/27/index.md
  files/zh-cn/mozilla/firefox/releases/3/index.md
  files/zh-cn/mozilla/firefox/releases/31/index.md
  files/zh-cn/mozilla/firefox/releases/32/index.md
  files/zh-cn/mozilla/firefox/releases/33/index.md
  files/zh-cn/mozilla/firefox/releases/41/index.md
  files/zh-cn/mozilla/firefox/releases/59/index.md
  files/zh-cn/mozilla/firefox/releases/65/index.md
  files/zh-cn/mozilla/firefox/releases/78/index.md
  files/zh-tw/mozilla/firefox/releases/61/index.md
Labels: l10n-zh

#18354 [zh-cn]: update the translation of private_properties in class section
  files/zh-cn/web/javascript/reference/classes/private_properties/index.md
Labels: l10n-zh

#18363 chore(zh-cn): remove landing pages for attribute categories
  files/zh-cn/_redirects.txt
  files/zh-cn/_wikihistory.json
  files/zh-cn/conflicting/web/svg/attribute/index.md
  files/zh-cn/web/svg/element/animate/index.md
  files/zh-cn/web/svg/element/clippath/index.md
  files/zh-cn/web/svg/element/fedropshadow/index.md
  files/zh-cn/web/svg/element/foreignobject/index.md
  files/zh-cn/web/svg/element/marker/index.md
  files/zh-cn/web/svg/element/radialgradient/index.md
Labels: l10n-zh

#18353 [es] Add unary plus operator page
  files/es/web/javascript/reference/operators/unary_plus/index.md
Labels: l10n-es

#18357 fix: the article from singular to plural
  files/pt-br/web/javascript/reference/global_objects/array/at/index.md
Labels: l10n-pt-br

#18358 es: update area
  files/es/web/html/element/area/index.md
Labels: l10n-es

#18373 [zh-cn]: update the translation of "Functions — reusable blocks of code"
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
Labels: l10n-zh

#18332 zh-cn: init the translation of Firefox 122 Release note
  files/zh-cn/mozilla/firefox/releases/122/index.md
Labels: l10n-zh

#18380 [zh-cn]: fix a typo, and modify the translation of words in codes
  files/zh-cn/learn/javascript/building_blocks/functions/index.md
Labels: l10n-zh

#18304 Firefox 122 for developersを更新
  files/ja/mozilla/firefox/releases/122/index.md
Labels: l10n-ja

#18306 Firefox 123 for developersを翻訳
  files/ja/mozilla/firefox/releases/123/index.md
Labels: l10n-ja

#18316 Web/HTML/Attributes/rel/preconnect を更新
  files/ja/web/html/attributes/rel/preconnect/index.md
Labels: l10n-ja

#18322 [ja] Translate comments in examples of Intl.Segmenter
  files/ja/web/javascript/reference/global_objects/intl/segmenter/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/resolvedoptions/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segment/index.md
  files/ja/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
Labels: l10n-ja

#18324 [ja] Translate Intl.supportedValuesOf()
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: l10n-ja

#18334 [ja] Translate HTMLFrameSetElement
  files/ja/web/api/htmlframesetelement/index.md
Labels: l10n-ja

#18371 [ja] fix duplicated punctuations
  files/ja/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/ja/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/ja/mozilla/add-ons/webextensions/api/windows/windowstate/index.md
  files/ja/web/accessibility/aria/attributes/aria-describedby/index.md
  files/ja/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/ja/web/api/closeevent/closeevent/index.md
  files/ja/web/api/csskeyframesrule/index.md
  files/ja/web/api/formdata/get/index.md
  files/ja/web/api/htmltablesectionelement/index.md
  files/ja/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/ja/web/api/paymentrequest/paymentrequest/index.md
  files/ja/web/api/performanceresourcetiming/requeststart/index.md
  files/ja/web/api/request/credentials/index.md
  files/ja/web/api/rtcdatachannelevent/index.md
  files/ja/web/api/sourcebuffer/index.md
  files/ja/web/api/touch_events/using_touch_events/index.md
  files/ja/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/ja/web/html/attributes/pattern/index.md
  files/ja/web/http/basics_of_http/evolution_of_http/index.md
Labels: l10n-ja

#18356 [ja] fix typo (farenheit → fahrenheit)
  files/ja/learn/javascript/first_steps/silly_story_generator/index.md
Labels: l10n-ja

#18370 [zh-CN] sync and translate HTMLImageElement.decoding from latest source
  files/zh-cn/web/api/htmlimageelement/decoding/index.md
Labels: l10n-zh

#18383 fix a typo
  files/ja/web/javascript/reference/statements/const/index.md
Labels: l10n-ja

#18375 [ko] DataView.getFloat32()/getFloat64() 메소드 추가
  files/ko/web/javascript/reference/global_objects/dataview/getfloat32/index.md
  files/ko/web/javascript/reference/global_objects/dataview/getfloat64/index.md
Labels: l10n-ko

#18381 zh-cn: update the translation of `::placeholder`
  files/zh-cn/web/css/_doublecolon_placeholder/index.md
Labels: l10n-zh

#18339 [zh-cn]: remove the out-of-date warning in `Event.timeStamp`
  files/zh-cn/web/api/event/timestamp/index.md
Labels: l10n-zh

#18404 zh-cn: fix the description of `timeout` option for `requestIdleCallback()` method
  files/zh-cn/web/api/window/requestidlecallback/index.md
Labels: l10n-zh

#18409 chore(zh-cn): sync translate content
  files/zh-cn/web/api/canvasrenderingcontext2d/textbaseline/index.md
Labels: l10n-zh

#18410 Fix indexOf() and lastIndexOf()
  files/ja/web/javascript/reference/global_objects/string/indexof/index.md
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.md
Labels: l10n-ja

#18350 Web/Performance/Speculative_loading を新規翻訳
  files/ja/web/performance/speculative_loading/index.md
Labels: l10n-ja

#18405 zh-cn: update the translation of `Event.timeStamp`
  files/zh-cn/web/api/event/timestamp/index.md
Labels: l10n-zh

#18407 [zh-cn]: update the translation of for in statement section
  files/zh-cn/web/javascript/reference/statements/for/index.md
Labels: l10n-zh

#18430 zh-cn: fix the broken link in Regular Expressions guide
  files/zh-cn/web/javascript/guide/regular_expressions/index.md
Labels: l10n-zh

#18335 [zh-cn] Init translation of 'deploying our app'
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/deployment/index.md
Labels: l10n-zh

#18425 chore(zh-cn): remove screenshots from EmbedLiveSample calls (Part 1)
  files/zh-cn/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/canvas_animation1.png
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/canvas_animation2.png
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/capitan_meadows,_yosemite_national_park.jpg
  files/zh-cn/web/api/canvas_api/tutorial/basic_animations/index.md
  files/zh-cn/web/api/canvas_api/tutorial/compositing/index.md
  files/zh-cn/web/api/canvas_api/tutorial/transformations/index.md
  files/zh-cn/web/api/web_components/using_templates_and_slots/index.md
Labels: l10n-zh

#18372 chore(zh-cn): add two new glossary items
  docs/zh-cn/glossary.md
Labels: l10n-zh

#18427 feat(sync-translated-content): gather releated upstream commits
  .github/workflows/sync-translated-content.yml
Labels: system

#18382 Learn/JavaScript/Asynchronous/Introducing_workers を更新
  files/ja/learn/javascript/asynchronous/introducing_workers/index.md
Labels: l10n-ja

#18384 リンクフラグメントの修正と用語の統一
  files/ja/web/svg/element/a/index.md
  files/ja/web/svg/element/animate/index.md
  files/ja/web/svg/element/animatemotion/index.md
  files/ja/web/svg/element/circle/index.md
  files/ja/web/svg/element/ellipse/index.md
  files/ja/web/svg/element/foreignobject/index.md
  files/ja/web/svg/element/g/index.md
  files/ja/web/svg/element/image/index.md
  files/ja/web/svg/element/line/index.md
  files/ja/web/svg/element/path/index.md
  files/ja/web/svg/element/polygon/index.md
  files/ja/web/svg/element/polyline/index.md
  files/ja/web/svg/element/rect/index.md
  files/ja/web/svg/element/stop/index.md
  files/ja/web/svg/element/svg/index.md
  files/ja/web/svg/element/text/index.md
  files/ja/web/svg/element/tspan/index.md
  files/ja/web/svg/element/use/index.md
Labels: l10n-ja

#18385 Web/SVG/Attribute を更新
  files/ja/web/svg/attribute/index.md
Labels: l10n-ja

#18387 Web/CSS/CSS_containment/Container_size_and_style_queries を新規翻訳
  files/ja/web/css/css_containment/container_size_and_style_queries/index.md
Labels: l10n-ja

#18389 grid* プロパティの例が動作しないのを修正
  files/ja/web/css/grid-area/index.md
  files/ja/web/css/grid-auto-columns/index.md
  files/ja/web/css/grid-auto-flow/index.md
  files/ja/web/css/grid-auto-rows/index.md
  files/ja/web/css/grid-column-end/index.md
  files/ja/web/css/grid-column-start/index.md
  files/ja/web/css/grid-column/index.md
  files/ja/web/css/grid-row-end/index.md
  files/ja/web/css/grid-row-start/index.md
  files/ja/web/css/grid-row/index.md
  files/ja/web/css/grid-template-areas/index.md
  files/ja/web/css/grid-template-columns/index.md
  files/ja/web/css/grid-template-rows/index.md
  files/ja/web/css/grid-template/index.md
  files/ja/web/css/grid/index.md
Labels: l10n-ja

#18392 Web/CSS/grid 以下の記事を更新
  files/ja/web/css/grid-area/index.md
  files/ja/web/css/grid-auto-flow/index.md
  files/ja/web/css/grid-auto-rows/index.md
  files/ja/web/css/grid-column-end/index.md
  files/ja/web/css/grid-column-start/index.md
  files/ja/web/css/grid-column/index.md
  files/ja/web/css/grid-row-end/index.md
  files/ja/web/css/grid-row-start/index.md
  files/ja/web/css/grid-row/index.md
  files/ja/web/css/grid-template-areas/index.md
  files/ja/web/css/grid-template-columns/index.md
  files/ja/web/css/grid-template-rows/index.md
Labels: l10n-ja

#18395 Learn/JavaScript/Building_blocks/conditionals を更新
  files/ja/learn/javascript/building_blocks/conditionals/index.md
Labels: l10n-ja

#18398 Learn/JavaScript/Building_blocks/Test_your_skills:_Conditionals を更新
  files/ja/learn/javascript/building_blocks/test_your_skills_colon__conditionals/index.md
Labels: l10n-ja

#18435 [ru] update `Web/JavaScript/Reference/Global_Objects/JSON`
  files/ru/web/javascript/reference/global_objects/json/index.md
Labels: l10n-ru

#18454 chore(zh-cn): remove unused images
  files/zh-cn/learn/forms/advanced_form_styling/chrome-mac-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-mac-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-mac-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-windows-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-windows-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-windows-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/chrome-windows-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/edge-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/edge-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/edge-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/edge-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-mac-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-mac-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-mac-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-mac-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-windows-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-windows-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-windows-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/firefox-windows-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/ie11-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/ie11-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/ie11-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/ie11-select-2-open.png
  files/zh-cn/learn/forms/advanced_form_styling/opera-mac-select-1-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/opera-mac-select-1-open.png
  files/zh-cn/learn/forms/advanced_form_styling/opera-mac-select-2-closed.png
  files/zh-cn/learn/forms/advanced_form_styling/opera-mac-select-2-open.png
  files/zh-cn/web/css/css_colors/applying_color/1200px-hsl_color_solid_cylinder_alpha_lowgamma.png
  files/zh-cn/web/css/transform-function/scaley/scaley.png
  files/zh-cn/web/html/element/map/screen_shot_2017-02-02_at_10.48.40_pm.png
  files/zh-cn/web/html/element/map/screen_shot_2017-02-02_at_10.49.04_pm.png
Labels: l10n-zh

#18431 Learn/JavaScript/Building_blocks/Build_your_own_function を更新
  files/ja/learn/javascript/building_blocks/build_your_own_function/index.md
Labels: l10n-ja

#18402 chore(ci): Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: system

#18276 zh-CN: translate Svelte TypeScript tutorial
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: l10n-zh

#18464 zh-cn: translate for Credential API
  files/zh-cn/web/api/credential/index.md
Labels: l10n-zh

#18467 chore(color): update the content of the link
  files/zh-cn/web/css/color/index.md
Labels: l10n-zh

#18374 zh-cn: update the translation of WebAssembly landing page
  files/zh-cn/webassembly/index.md
Labels: l10n-zh

#18465 zh-CN: Add translations for "credential"
  files/zh-cn/web/api/credential/id/index.md
  files/zh-cn/web/api/credential/type/index.md
Labels: l10n-zh

#18437 [zh-cn] update `Web/JavaScript/Reference/Global_Objects/JSON`
  files/zh-cn/web/javascript/reference/global_objects/json/index.md
Labels: l10n-zh

#18448 [es] fix typo
  files/es/webassembly/concepts/index.md
Labels: l10n-es

#18311 [ko] Fix title
  files/ko/learn/tools_and_testing/client-side_javascript_frameworks/index.md
Labels: l10n-ko

#18378 [KO] Translate CSS `env()` function content
  files/ko/web/css/env/index.md
Labels: l10n-ko

#18492 [zh-tw] update the landing page of "Contributing to MDN"
  files/zh-tw/mdn/community/contributing/index.md
Labels: l10n-zh

#18399 Learn/JavaScript/Building_blocks/Looping_code を更新
  files/ja/learn/javascript/building_blocks/looping_code/index.md
Labels: l10n-ja

#18400 Learn/JavaScript/Building_blocks/Test_your_skills:_Loops を新規翻訳
  files/ja/learn/javascript/building_blocks/test_your_skills_colon__loops/index.md
Labels: l10n-ja

#18490 [zh-tw]: update Firefox landing page
  files/zh-tw/mozilla/firefox/index.md
Labels: l10n-zh

#18433 Learn/JavaScript/Building_blocks/Return_values を更新
  files/ja/learn/javascript/building_blocks/return_values/index.md
Labels: l10n-ja

#18439 Learn/JavaScript/Building_blocks/Test_your_skills:_Functions を新規翻訳
  files/ja/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Labels: l10n-ja

#18441 Learn/JavaScript/Building_blocks/Events を更新
  files/ja/learn/javascript/building_blocks/events/index.md
Labels: l10n-ja

#18442 Learn/JavaScript/Building_blocks/Test_your_skills:_Events を新規翻訳
  files/ja/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
Labels: l10n-ja

#18443 Learn/JavaScript/Building_blocks/Image_gallery を更新
  files/ja/learn/javascript/building_blocks/image_gallery/index.md
Labels: l10n-ja

#18444 Learn/JavaScript/Building_blocks を更新
  files/ja/learn/javascript/building_blocks/index.md
Labels: l10n-ja

#18429 [ja] update `Web/JavaScript/Reference/Global_Objects/JSON`
  files/ja/web/javascript/reference/global_objects/json/index.md
Labels: l10n-ja

#18445 「スクロール境界」「スクロール連鎖」の記事を新規翻訳
  files/ja/glossary/scroll_boundary/index.md
  files/ja/glossary/scroll_chaining/index.md
Labels: l10n-ja

#18504 [zh-tw] update `Glossary/CMS`
  files/zh-tw/glossary/cms/index.md
Labels: l10n-zh

#18503 [zh-tw] update `Glossary/Apple_Safari`
  files/zh-tw/glossary/apple_safari/index.md
Labels: l10n-zh

#18452 [ko] Retranslation of "Your first form"
  files/ko/learn/forms/your_first_form/index.md
Labels: l10n-ko

#18446 Web/CSS/CSS_overscroll_behavior を新規翻訳
  files/ja/web/css/css_overscroll_behavior/index.md
Labels: l10n-ja

#18540 [zh-tw]: update "Firefox OS" glossary page
  files/zh-tw/glossary/firefox_os/index.md
Labels: l10n-zh

#18469 [zh-cn]: Add Chinese document to the HTMLImageElement: complete property
  files/zh-cn/web/api/htmlimageelement/complete/index.md
Labels: l10n-zh

#18539 [zh-tw] update "DOS attack" glossary page
  files/zh-tw/glossary/dos_attack/index.md
Labels: l10n-zh

#18553 [zh-cn] : Fix typo in package-management tutorial
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: l10n-zh

#18565 zh-cn: update the translation of `elementTiming` property
  files/zh-cn/web/api/element/elementtiming/index.md
Labels: l10n-zh

#18455 Web/SVG/Attribute/r を更新
  files/ja/web/svg/attribute/r/index.md
Labels: l10n-ja

#18459 Learn/Front-end_web_developer を新規翻訳
  files/ja/learn/front-end_web_developer/index.md
Labels: l10n-ja

#18461 Learn/MathML/First_steps/Text_containers を新規翻訳
  files/ja/learn/mathml/first_steps/text_containers/index.md
Labels: l10n-ja

#18466 chore(zh-cn): sync translate content, fix error
  files/zh-cn/web/css/translate/index.md
Labels: l10n-zh

#18566 [zh-cn] update css font
  files/zh-cn/web/css/font/index.md
Labels: l10n-zh

#18426 zh-cn: init the translation of Firefox 123 Release note
  files/zh-cn/mozilla/firefox/releases/123/index.md
Labels: l10n-zh

#18428 [fr] Updating outdated JSON Global Object links
  files/fr/web/javascript/reference/global_objects/json/index.md
Labels: l10n-fr

#18412 [zh-cn] update Using_templates_and_slots
  files/zh-cn/web/api/web_components/using_templates_and_slots/index.md
Labels: l10n-zh

#18415 [es] Fix typo "especificion"
  files/es/web/api/window/beforeunload_event/index.md
Labels: l10n-es

#18462 Web/API/Speculation_Rules_API を新規翻訳
  files/ja/web/api/speculation_rules_api/index.md
Labels: l10n-ja

#18519 [es] Add multiplication operator page
  files/es/web/javascript/reference/operators/multiplication/index.md
Labels: l10n-es

#18520 [es] Add increment operator page
  files/es/web/javascript/reference/operators/increment/index.md
Labels: l10n-es

#18470 「投機ルールAPI」へのリンクのURLフラグメントを更新
  files/ja/web/performance/speculative_loading/index.md
Labels: l10n-ja

#18472 Learn/MathML/First_steps/Fractions_and_roots を新規翻訳
  files/ja/learn/mathml/first_steps/fractions_and_roots/index.md
Labels: l10n-ja

#18583 zh-cn: update the translation of `URLSearchParams`
  files/zh-cn/web/api/urlsearchparams/index.md
Labels: l10n-zh

#18602 [zh-tw]: translate HTML element `<b>`
  files/zh-tw/web/html/element/b/index.md
Labels: l10n-zh

#18617 [zh-cn] init translation of placeholder attribute
  files/zh-cn/web/html/attributes/placeholder/index.md
Labels: l10n-zh

#18615 [zh-cn] update 'Styling Links'
  files/zh-cn/learn/css/styling_text/styling_links/index.md
Labels: l10n-zh

#18523 [zh-tw] update "SQL Injection" glossary page
  files/zh-tw/glossary/sql_injection/index.md
Labels: l10n-zh

#18642 [zh-cn]: fix the broken link to the cookie framework
  files/zh-cn/web/javascript/reference/global_objects/proxy/index.md
Labels: l10n-zh

#18477 Learn/MathML/First_steps/Scripts を新規翻訳
  files/ja/learn/mathml/first_steps/scripts/index.md
Labels: l10n-ja

#18478 Learn/MathML/First_steps/Tables を新規翻訳
  files/ja/learn/mathml/first_steps/tables/index.md
Labels: l10n-ja

#18480 Learn/MathML/First_steps/Three_famous_mathematical_formulas を新規翻訳
  files/ja/learn/mathml/first_steps/three_famous_mathematical_formulas/index.md
Labels: l10n-ja

#18482 Web/SVG/Tutorial/Getting_Started を更新
  files/ja/web/svg/tutorial/getting_started/index.md
Labels: l10n-ja

#18483 Web/SVG/Tutorial/Positions を更新
  files/ja/web/svg/tutorial/positions/index.md
Labels: l10n-ja

#18484 Web/SVG/Tutorial/Basic_Shapes を更新
  files/ja/web/svg/tutorial/basic_shapes/index.md
Labels: l10n-ja

#18486 Web/SVG/Tutorial/Paths を更新
  files/ja/web/svg/tutorial/paths/index.md
Labels: l10n-ja

#18487 Web/SVG/Tutorial/Fills_and_Strokes を更新
  files/ja/web/svg/tutorial/fills_and_strokes/index.md
Labels: l10n-ja

#18488 Web/SVG/Attribute/fill-rule を新規翻訳
  files/ja/web/svg/attribute/fill-rule/index.md
Labels: l10n-ja

#18489 Web/SVG/Tutorial/Gradients を更新
  files/ja/web/svg/tutorial/gradients/index.md
Labels: l10n-ja

#18494 Web/SVG/Tutorial/Basic_Transformations を更新
  files/ja/web/svg/tutorial/basic_transformations/index.md
Labels: l10n-ja

#18495 Web/SVG/Tutorial/Clipping_and_masking を更新
  files/ja/web/svg/tutorial/clipping_and_masking/index.md
Labels: l10n-ja

#18496 Web/SVG/Tutorial/Other_content_in_SVG を更新
  files/ja/web/svg/tutorial/other_content_in_svg/index.md
Labels: l10n-ja

#18497 Web/SVG/Tutorial/Filter_effects を更新
  files/ja/web/svg/tutorial/filter_effects/index.md
Labels: l10n-ja

#18498 Web/SVG/Element/filter を新規翻訳
  files/ja/web/svg/element/filter/index.md
Labels: l10n-ja

#18499 Web/SVG/Element/feOffset を新規翻訳
  files/ja/web/svg/element/feoffset/index.md
Labels: l10n-ja

#18500 Web/SVG/Element/feGaussianBlur を新規翻訳
  files/ja/web/svg/element/fegaussianblur/index.md
Labels: l10n-ja

#18502 Web/SVG/Tutorial/SVG_fonts を更新
  files/ja/web/svg/tutorial/svg_fonts/index.md
Labels: l10n-ja

#18505 Web/SVG/Tutorial/SVG_and_CSS を新規翻訳
  files/ja/web/svg/tutorial/svg_and_css/index.md
Labels: l10n-ja

#18506 Web/SVG/Tutorial/SVG_In_HTML_Introduction を更新
  files/ja/web/svg/tutorial/svg_in_html_introduction/index.md
Labels: l10n-ja

#18507 Web/SVG/Tutorial/SVG_Filters_Tutorial を新規翻訳
  files/ja/web/svg/tutorial/svg_filters_tutorial/index.md
Labels: l10n-ja

#18508 Web/SVG/Tutorial/SVG_Image_Tag を更新
  files/ja/web/svg/tutorial/svg_image_tag/index.md
Labels: l10n-ja

#18509 Web/SVG/Tutorial を更新
  files/ja/web/svg/tutorial/index.md
Labels: l10n-ja

#18510 Web/SVG/Attribute/dx を更新
  files/ja/web/svg/attribute/dx/index.md
Labels: l10n-ja

#18511 Web/SVG/Attribute/dy を新規翻訳
  files/ja/web/svg/attribute/dy/index.md
Labels: l10n-ja

#18512 Web/SVG/Attribute/filterUnits を更新
  files/ja/web/svg/attribute/filterunits/index.md
Labels: l10n-ja

#18513 Web/SVG/Attribute/points を更新
  files/ja/web/svg/attribute/points/index.md
Labels: l10n-ja

#18514 Web/SVG/Attribute/stop-color を更新
  files/ja/web/svg/attribute/stop-color/index.md
Labels: l10n-ja

#18515 Web/SVG/Attribute/stroke-dasharray を更新
  files/ja/web/svg/attribute/stroke-dasharray/index.md
Labels: l10n-ja

#18516 Web/SVG/Attribute/transform を更新
  files/ja/web/svg/attribute/transform/index.md
Labels: l10n-ja

#18517 Web/SVG/Attribute/viewBox を更新
  files/ja/web/svg/attribute/viewbox/index.md
Labels: l10n-ja

#18518 Web/SVG/Attribute/stroke-dashoffset を更新
  files/ja/web/svg/attribute/stroke-dashoffset/index.md
Labels: l10n-ja

#18493 Web/SVG/Tutorial/Texts を更新
  files/ja/web/svg/tutorial/texts/index.md
Labels: l10n-ja

#18491 [zh-tw] update `mdn/at_ten`
  files/zh-tw/mdn/at_ten/index.md
Labels: l10n-zh

#18639 zh-cn: update the translation of `margin-left`
  files/zh-cn/web/css/margin-left/index.md
Labels: l10n-zh

#18645 [zh-tw]: fix typo of links in the table for HTML Element `<b>`
  files/zh-tw/web/html/element/b/index.md
Labels: l10n-zh

#18622 [zh-tw]: translate HTML element `<em>`
  files/zh-tw/web/html/element/em/index.md
Labels: l10n-zh

#18618 [ko] translate HTML_attribute_maxlength
  files/ko/web/html/attributes/maxlength/index.md
Labels: l10n-ko

#18525 [zh-tw] update `web` landing page
  files/zh-tw/web/index.md
Labels: l10n-zh

#18647 [zh-tw] add translation for HTTP 400
  files/zh-tw/web/http/status/400/index.md
Labels: l10n-zh

#18522 Web/SVG/Content_type を更新
  files/ja/web/svg/content_type/index.md
Labels: l10n-ja

#18524 Web/SVG/Element/mask を更新
  files/ja/web/svg/element/mask/index.md
Labels: l10n-ja

#18526 リンク先を日本語記事に変更
  files/ja/web/javascript/reference/global_objects/json/index.md
Labels: l10n-ja

#18527 Web/SVG/Attribute/mask を新規翻訳
  files/ja/web/svg/attribute/mask/index.md
Labels: l10n-ja

#18530 Web/SVG/Attribute/height を新規翻訳
  files/ja/web/svg/attribute/height/index.md
Labels: l10n-ja

#18531 Web/SVG/Attribute/width を新規翻訳
  files/ja/web/svg/attribute/width/index.md
Labels: l10n-ja

#18532 Web/SVG/Attribute/x, y を更新
  files/ja/web/svg/attribute/x/index.md
  files/ja/web/svg/attribute/y/index.md
Labels: l10n-ja

#18533 Web/API/structuredClone を更新
  files/ja/web/api/structuredclone/index.md
Labels: l10n-ja

#18534 Web/CSS/border-width 系の記事を更新
  files/ja/web/css/border-bottom-width/index.md
  files/ja/web/css/border-left-width/index.md
  files/ja/web/css/border-right-width/index.md
  files/ja/web/css/border-top-width/index.md
  files/ja/web/css/border-width/index.md
Labels: l10n-ja

#18536 Glossary/Domain_name の更新
  files/ja/glossary/domain_name/index.md
Labels: l10n-ja

#18537 競合している古い記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/element/touchcancel_event/index.md
  files/ja/conflicting/web/api/element/touchend_event/index.md
  files/ja/conflicting/web/api/element/touchstart_event/index.md
Labels: l10n-ja

#18541 Web/CSS/CSS_Functions を更新
  files/ja/web/css/css_functions/index.md
Labels: l10n-ja

#18542 Web/CSS/CSS_Types を更新
  files/ja/web/css/css_types/index.md
Labels: l10n-ja

#18544 Web/API/Element/animationstart_event を更新
  files/ja/web/api/element/animationstart_event/index.md
Labels: l10n-ja

#18545 Web/API/MediaStream_Image_Capture_API を更新
  files/ja/web/api/mediastream_image_capture_api/index.md
Labels: l10n-ja
