Repository mdn/translated-content, pull requests merged in 2024-02, with the labels that each got.

#18082 docs: Add location property of window object
  files/ko/web/api/window/location/index.md
Labels: l10n-ko

#18062 Web/CSS/box-shadow を更新
  files/ja/web/css/box-shadow/index.md
Labels: l10n-ja

#18064 Web/CSS/border-color 以下を更新
  files/ja/web/css/border-bottom-color/index.md
  files/ja/web/css/border-color/index.md
  files/ja/web/css/border-left-color/index.md
  files/ja/web/css/border-right-color/index.md
  files/ja/web/css/border-top-color/index.md
Labels: l10n-ja

#18111 [zh-cn] init translation of size attribute
  files/zh-cn/web/html/attributes/size/index.md
Labels: l10n-zh

#18108 [zh-cn]: add the translation of iterator.forEach()
  files/zh-cn/web/javascript/reference/global_objects/iterator/foreach/index.md
Labels: l10n-zh

#18077 [ES] New Page - MDN/Writing_guidelines/Writing_style_guide/Code_style_guide/CSS
  files/es/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
Labels: l10n-es

#18125 [Es] New Page `MDN/Writing_guidelines/Writing_style_guide/Code_style_guide`
  files/es/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
Labels: l10n-es

#18126 es: add sourceCommit to Code_style_guide/CSS
  files/es/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
Labels: l10n-es

#17519 [zh-tw] remove all occurrences of obsolete links to `mozvr.com`
  files/zh-tw/web/demos/index.md
Labels: l10n-zh

#18121 [zh-cn]: Sync translation of `Notification`
  files/zh-cn/web/api/notification/index.md
Labels: l10n-zh

#18106 [zh-cn]: add the translation of iterator.filter()
  files/zh-cn/web/javascript/reference/global_objects/iterator/filter/index.md
Labels: l10n-zh

#18123 [zh-cn]: Sync translation of `Notification()`
  files/zh-cn/web/api/notification/notification/index.md
Labels: l10n-zh

#18083 fix(js): Typo in JavaScript code block language
  files/ja/web/javascript/reference/operators/assignment/index.md
Labels: l10n-ja

#18089 Web/CSS/border-collapse を更新
  files/ja/web/css/border-collapse/index.md
Labels: l10n-ja

#18000 [pt-br] unify `{{AddonSidebar}}` macro usage (remove unnecessary parentheses)
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.md
  files/pt-br/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.md
Labels: l10n-pt-br

#18061 [pt-br] fix typo in `Learn/Server-side/First_steps/Introduction`
  files/pt-br/learn/server-side/first_steps/introduction/index.md
Labels: l10n-pt-br

#18037 [pt-br] unify `{{CSSRef}}` macro usage (remove unused parameter)
  files/pt-br/web/css/background/index.md
  files/pt-br/web/css/descendant_combinator/index.md
  files/pt-br/web/css/height/index.md
  files/pt-br/web/css/id_selectors/index.md
  files/pt-br/web/css/subsequent-sibling_combinator/index.md
Labels: l10n-pt-br

#17988 [pt-br] unify `{{JSRef}}` macro usage (remove obsolete parameters)
  files/pt-br/web/javascript/reference/global_objects/array/concat/index.md
  files/pt-br/web/javascript/reference/global_objects/array/from/index.md
  files/pt-br/web/javascript/reference/global_objects/array/includes/index.md
  files/pt-br/web/javascript/reference/global_objects/array/index.md
  files/pt-br/web/javascript/reference/global_objects/array/isarray/index.md
  files/pt-br/web/javascript/reference/global_objects/array/keys/index.md
  files/pt-br/web/javascript/reference/global_objects/array/map/index.md
  files/pt-br/web/javascript/reference/global_objects/array/pop/index.md
  files/pt-br/web/javascript/reference/global_objects/array/push/index.md
  files/pt-br/web/javascript/reference/global_objects/array/reduceright/index.md
  files/pt-br/web/javascript/reference/global_objects/array/reverse/index.md
  files/pt-br/web/javascript/reference/global_objects/array/shift/index.md
  files/pt-br/web/javascript/reference/global_objects/array/splice/index.md
  files/pt-br/web/javascript/reference/global_objects/array/unshift/index.md
  files/pt-br/web/javascript/reference/global_objects/date/getdate/index.md
  files/pt-br/web/javascript/reference/global_objects/date/getday/index.md
  files/pt-br/web/javascript/reference/global_objects/date/getfullyear/index.md
  files/pt-br/web/javascript/reference/global_objects/date/gethours/index.md
  files/pt-br/web/javascript/reference/global_objects/date/getyear/index.md
  files/pt-br/web/javascript/reference/global_objects/date/index.md
  files/pt-br/web/javascript/reference/global_objects/date/now/index.md
  files/pt-br/web/javascript/reference/global_objects/date/parse/index.md
  files/pt-br/web/javascript/reference/global_objects/function/call/index.md
  files/pt-br/web/javascript/reference/global_objects/function/index.md
  files/pt-br/web/javascript/reference/global_objects/json/index.md
  files/pt-br/web/javascript/reference/global_objects/json/stringify/index.md
  files/pt-br/web/javascript/reference/global_objects/math/abs/index.md
  files/pt-br/web/javascript/reference/global_objects/math/ceil/index.md
  files/pt-br/web/javascript/reference/global_objects/math/exp/index.md
  files/pt-br/web/javascript/reference/global_objects/math/floor/index.md
  files/pt-br/web/javascript/reference/global_objects/math/index.md
  files/pt-br/web/javascript/reference/global_objects/math/max/index.md
  files/pt-br/web/javascript/reference/global_objects/math/random/index.md
  files/pt-br/web/javascript/reference/global_objects/math/round/index.md
  files/pt-br/web/javascript/reference/global_objects/math/sqrt/index.md
  files/pt-br/web/javascript/reference/global_objects/math/tan/index.md
  files/pt-br/web/javascript/reference/global_objects/number/index.md
  files/pt-br/web/javascript/reference/global_objects/number/isnan/index.md
  files/pt-br/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/pt-br/web/javascript/reference/global_objects/number/tostring/index.md
  files/pt-br/web/javascript/reference/global_objects/object/constructor/index.md
  files/pt-br/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/pt-br/web/javascript/reference/global_objects/object/tostring/index.md
  files/pt-br/web/javascript/reference/global_objects/promise/then/index.md
  files/pt-br/web/javascript/reference/global_objects/regexp/index.md
  files/pt-br/web/javascript/reference/global_objects/set/index.md
  files/pt-br/web/javascript/reference/global_objects/string/index.md
  files/pt-br/web/javascript/reference/global_objects/string/indexof/index.md
  files/pt-br/web/javascript/reference/global_objects/string/match/index.md
  files/pt-br/web/javascript/reference/global_objects/string/replace/index.md
  files/pt-br/web/javascript/reference/global_objects/string/slice/index.md
  files/pt-br/web/javascript/reference/global_objects/string/substring/index.md
  files/pt-br/web/javascript/reference/global_objects/symbol/index.md
  files/pt-br/web/javascript/reference/global_objects/weakmap/index.md
Labels: l10n-pt-br

#13549 Fix portuguese typo
  files/pt-br/web/javascript/reference/functions/arrow_functions/index.md
Labels: l10n-pt-br

#17646 [pt-br] add translate for Web/SVG/Tutorial/Positions
  files/pt-br/web/svg/tutorial/positions/index.md
Labels: l10n-pt-br

#18094 [zh-cn]: add the translation of iterator.some()
  files/zh-cn/web/javascript/reference/global_objects/iterator/some/index.md
Labels: l10n-zh

#18131 zh-cn: synchronize with BCD (v5.5.4 to v5.5.9)
  files/zh-cn/web/api/request/cache/index.md
  files/zh-cn/web/html/element/video/index.md
Labels: l10n-zh

#18081 [zh-cn]: add the translation of iterator.find()
  files/zh-cn/web/javascript/reference/global_objects/iterator/find/index.md
Labels: l10n-zh

#18129 [zh-cn]: add the translation of iterator.map()
  files/zh-cn/web/javascript/reference/global_objects/iterator/map/index.md
Labels: l10n-zh

#18110 [zh-cn]: Update Node.nodeValue documentation to synchronize with the …
  files/zh-cn/web/api/node/nodevalue/index.md
Labels: l10n-zh

#18114 [zh-cn]: Add translation for Text API
  files/zh-cn/web/api/text/index.md
Labels: l10n-zh

#18109 zh-cn: update the translation of `Proxy()` constructor
  files/zh-cn/web/javascript/reference/global_objects/proxy/proxy/index.md
Labels: l10n-zh

#18036 [ko] unify `{{CSSRef}}` macro usage (remove unused parameter)
  files/ko/web/css/attribute_selectors/index.md
  files/ko/web/css/background/index.md
  files/ko/web/css/border/index.md
  files/ko/web/css/child_combinator/index.md
  files/ko/web/css/css_multicol_layout/using_multicol_layouts/index.md
  files/ko/web/css/css_selectors/index.md
  files/ko/web/css/descendant_combinator/index.md
  files/ko/web/css/next-sibling_combinator/index.md
  files/ko/web/css/subsequent-sibling_combinator/index.md
  files/ko/web/css/type_selectors/index.md
  files/ko/web/css/universal_selectors/index.md
Labels: l10n-ko

#18020 [ko] update `Web/SVG/Attribute/cx` translation
  files/ko/web/svg/attribute/cx/index.md
Labels: l10n-ko

#17948 [ko]: fix typo in 브라우저는 어떻게 동작하는가
  files/ko/web/performance/how_browsers_work/index.md
Labels: l10n-ko

#18147 [zh-cn]: sync translation for Notification members [l-r]
  files/zh-cn/web/api/notification/lang/index.md
  files/zh-cn/web/api/notification/maxactions_static/index.md
  files/zh-cn/web/api/notification/permission_static/index.md
  files/zh-cn/web/api/notification/renotify/index.md
  files/zh-cn/web/api/notification/requestpermission_static/index.md
  files/zh-cn/web/api/notification/requireinteraction/index.md
Labels: l10n-zh

#18139 [zh-cn]: sync translation for Notification members [d-i]
  files/zh-cn/web/api/notification/data/index.md
  files/zh-cn/web/api/notification/dir/index.md
  files/zh-cn/web/api/notification/error_event/index.md
  files/zh-cn/web/api/notification/icon/index.md
  files/zh-cn/web/api/notification/image/index.md
Labels: l10n-zh

#18151 [zh-cn]: sync translation for `NotificationEvent`
  files/zh-cn/web/api/notificationevent/index.md
Labels: l10n-zh

#18149 [zh-cn] fix flex concept doc
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics1.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics2.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics3.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics4.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics5.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics6.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics7.svg
  files/zh-cn/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: l10n-zh

#18148 [zh-cn]: sync translation for Notification members [s-z]
  files/zh-cn/web/api/notification/show_event/index.md
  files/zh-cn/web/api/notification/silent/index.md
  files/zh-cn/web/api/notification/tag/index.md
  files/zh-cn/web/api/notification/timestamp/index.md
  files/zh-cn/web/api/notification/title/index.md
  files/zh-cn/web/api/notification/vibrate/index.md
Labels: l10n-zh

#18152 [zh-cn]: sync translation for firefox release note entry page
  files/zh-cn/mozilla/firefox/releases/index.md
Labels: l10n-zh

#17498 [pt-BR] Update /Web/CSS/@layer with en-US
  files/pt-br/web/css/@layer/index.md
Labels: l10n-pt-br

#17941 pt-BR: fix typo in Promise.all
  files/pt-br/web/javascript/reference/global_objects/promise/all/index.md
Labels: l10n-pt-br

#18155 zh-cn: add missing assignment operators
  files/zh-cn/web/javascript/guide/expressions_and_operators/index.md
Labels: l10n-zh

#18156 zh-cn: fix typo
  files/zh-cn/learn/forms/index.md
Labels: l10n-zh

#18157 Fix typo
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-zh

#18105 Update 'flow layout and writing modes'
  files/zh-cn/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
Labels: l10n-zh

#18128 [zh-cn]: Add translation for Processing Instruction
  files/zh-cn/web/api/processinginstruction/index.md
  files/zh-cn/web/api/processinginstruction/sheet/index.md
  files/zh-cn/web/api/processinginstruction/target/index.md
Labels: l10n-zh

#17871 zh-cn: update the translation of Firefox 3 release page
  files/zh-cn/mozilla/firefox/releases/3/index.md
  files/zh-cn/mozilla/firefox/releases/3/updating_extensions/index.md
Labels: l10n-zh

#18138 [zh-cn]: sync translation for Notification members [a-c]
  files/zh-cn/web/api/notification/actions/index.md
  files/zh-cn/web/api/notification/badge/index.md
  files/zh-cn/web/api/notification/body/index.md
  files/zh-cn/web/api/notification/click_event/index.md
  files/zh-cn/web/api/notification/close/index.md
  files/zh-cn/web/api/notification/close_event/index.md
Labels: l10n-zh

#18096 Web/Accessibility/ARIA/Roles を更新
  files/ja/web/accessibility/aria/roles/index.md
Labels: l10n-ja

#18098 Learn/JavaScript/First_steps/Arrays を更新
  files/ja/learn/javascript/first_steps/arrays/index.md
Labels: l10n-ja

#18119 Web/CSS/CSS_display/Block_formatting_context を更新
  files/ja/web/css/css_display/block_formatting_context/index.md
Labels: l10n-ja

#18161 [pt-BR]: fix typos in games anatomy
  files/pt-br/games/anatomy/index.md
Labels: l10n-pt-br

#18159 Deleted "sinusoïdale" add replaced "onde" with "forme d'onde"
  files/fr/web/api/baseaudiocontext/createperiodicwave/index.md
Labels: l10n-fr

#18163 [zh-cn]: init translation for `NotificationEvent.action`
  files/zh-cn/web/api/notificationevent/action/index.md
Labels: l10n-zh

#18162 [zh-cn]: init translation for `NotificationEvent.notification`
  files/zh-cn/web/api/notificationevent/notification/index.md
Labels: l10n-zh

#18168 zh-cn: update the translation of `Math.random()`
  files/zh-cn/web/javascript/reference/global_objects/math/random/index.md
Labels: l10n-zh

#18158 [zh-cn]: add the translation of iterator.flatMap()
  files/zh-cn/web/javascript/reference/global_objects/iterator/flatmap/index.md
Labels: l10n-zh

#18116 ImageCapture インターフェイスの記事を新規翻訳
  files/ja/web/api/imagecapture/getphotocapabilities/index.md
  files/ja/web/api/imagecapture/getphotosettings/index.md
  files/ja/web/api/imagecapture/grabframe/index.md
  files/ja/web/api/imagecapture/imagecapture/index.md
  files/ja/web/api/imagecapture/takephoto/index.md
Labels: l10n-ja

#18174 [zh-cn]: init translation for `NotificationEvent()`
  files/zh-cn/web/api/notificationevent/notificationevent/index.md
Labels: l10n-zh

#18164 [zh-cn] update 'advanced form styling'
  files/zh-cn/learn/forms/advanced_form_styling/index.md
Labels: l10n-zh

#18122 zh-cn: update the translation of Opentype features
  files/zh-cn/web/css/css_fonts/opentype_fonts_guide/index.md
Labels: l10n-zh

#18053 zh-tw: minor fixes to the content category article
  files/zh-tw/web/html/content_categories/index.md
Labels: l10n-zh

#18072 add(response_ok): 문서 추가
  files/ko/web/api/response/ok/index.md
Labels: l10n-ko

#18142 Glossary/Rsync を新規翻訳
  files/ja/glossary/rsync/index.md
Labels: l10n-ja

#18137 [es] fix typo
  files/es/web/javascript/event_loop/index.md
Labels: l10n-es

#18172 [ru] fixed learn page
  files/ru/learn/index.md
Labels: l10n-ru

#18194 zh-CN: fix typo in svelte reactivity lifecycle accessibility
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_reactivity_lifecycle_accessibility/index.md
Labels: l10n-zh

#18190 es: fix typo in getusermedia
  files/es/web/api/mediadevices/getusermedia/index.md
Labels: l10n-es

#18185 [ES] Update `<div>`
  files/es/web/html/element/div/index.md
Labels: l10n-es

#18195 [zh-cn]: add the translation of Iterator.toArray()
  files/zh-cn/web/javascript/reference/global_objects/iterator/toarray/index.md
Labels: l10n-zh

#18188 [zh-cn]: init translation for `ServiceWorkerRegistration.getNotifications()`
  files/zh-cn/web/api/serviceworkerregistration/getnotifications/index.md
Labels: l10n-zh

#18179 [zh-cn]: add the translation of iterator.from()
  files/zh-cn/web/javascript/reference/global_objects/iterator/from/index.md
Labels: l10n-zh

#18177 zh-cn: update the translation of `Date.setUTCMinutes()`
  files/zh-cn/web/javascript/reference/global_objects/date/setutcminutes/index.md
Labels: l10n-zh

#18181 [zh-cn]: add the translation of iterator.reduce()
  files/zh-cn/web/javascript/reference/global_objects/iterator/reduce/index.md
Labels: l10n-zh

#18200 [ES] Fix embed live sample in <div>
  files/es/web/html/element/div/index.md
Labels: l10n-es

#17754 [zh-cn] finish translation of 'mobile touch'
  files/zh-cn/games/techniques/control_mechanisms/mobile_touch/index.md
Labels: l10n-zh

#18207 chore(ci): Make auto-generated PRs have 'mdn-bot' as author and committer
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#18012 [fr] improve value type on `Web/SVG/Attribute/cx` and `Web/SVG/Attribute/cy`
  files/fr/web/svg/attribute/cx/index.md
  files/fr/web/svg/attribute/cy/index.md
Labels: l10n-fr

#18032 [fr] unify `{{CSSRef}}` macro usage (remove unused parameter)
  files/fr/web/css/background/index.md
  files/fr/web/css/border/index.md
  files/fr/web/css/child_combinator/index.md
  files/fr/web/css/column_combinator/index.md
  files/fr/web/css/descendant_combinator/index.md
  files/fr/web/css/gradient/index.md
  files/fr/web/css/id_selectors/index.md
  files/fr/web/css/next-sibling_combinator/index.md
  files/fr/web/css/subsequent-sibling_combinator/index.md
  files/fr/web/css/type_selectors/index.md
  files/fr/web/css/universal_selectors/index.md
  files/fr/web/xpath/comparison_with_css_selectors/index.md
Labels: l10n-fr

#18212 [pt-br] add idle detection api pt-br version
  files/pt-br/web/api/idle_detection_api/index.md
Labels: l10n-pt-br

#18192 [pt-br] improving translation
  files/pt-br/learn/server-side/first_steps/index.md
Labels: l10n-pt-br

#18170 sort(): update function example
  files/pt-br/web/javascript/reference/global_objects/array/sort/index.md
Labels: l10n-pt-br

#17667 fix(pt-br): remove duplicate headings
  files/pt-br/learn/javascript/asynchronous/introducing/index.md
  files/pt-br/web/api/filereader/index.md
  files/pt-br/web/api/web_audio_api/simple_synth/index.md
  files/pt-br/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/pt-br/web/api/xmlhttprequest/index.md
  files/pt-br/web/css/block-size/index.md
  files/pt-br/web/html/element/button/index.md
  files/pt-br/web/html/element/input/range/index.md
  files/pt-br/web/html/element/title/index.md
  files/pt-br/web/javascript/reference/global_objects/string/charcodeat/index.md
Labels: l10n-pt-br

#18169 Web/CSS/::marker を更新
  files/ja/web/css/_doublecolon_marker/index.md
Labels: l10n-ja

#18209 [ja] 用語集 - Accessibility (アクセシビリティ) の更新
  files/ja/glossary/accessibility/index.md
Labels: l10n-ja

#18210 [zh-cn]: additional sync translation for `Notification` constructor
  files/zh-cn/web/api/notification/notification/index.md
Labels: l10n-zh

#18180 [zh-cn]: sync translation for Notifications API
  files/zh-cn/web/api/notifications_api/index.md
  files/zh-cn/web/api/notifications_api/using_the_notifications_api/index.md
Labels: l10n-zh

#18215 [zh-cn]: update the translation of `Element: input event`
  files/zh-cn/web/api/element/input_event/index.md
Labels: l10n-zh

#18187 [zh-cn]: init translation for `ServiceWorkerGlobalScope: notificationclick` event
  files/zh-cn/web/api/serviceworkerglobalscope/notificationclick_event/index.md
Labels: l10n-zh

#18186 [zh-cn]: init translation for `ServiceWorkerGlobalScope: notificationclose` event
  files/zh-cn/web/api/serviceworkerglobalscope/notificationclose_event/index.md
Labels: l10n-zh

#18201 [Es] New Page. `MDN/Writing_guidelines/Page_structures/Page_types/API_constructor_subpage_template`
  files/es/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
Labels: l10n-es

#18202 [ES] New page `MDN/Writing_guidelines/Page_structures/Page_types/SVG_element_page_template`
  files/es/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Labels: l10n-es

#18213 [ES] Update `<section>`
  files/es/web/html/element/section/index.md
Labels: l10n-es

#18183 Learn/Common_questions を更新
  files/ja/learn/common_questions/index.md
Labels: l10n-ja

#18196 Update ServiceWorkerGlobalScope/fetch_event (ja)
  files/ja/web/api/serviceworkerglobalscope/fetch_event/index.md
Labels: l10n-ja

#18197 キャメルケース、ケバブケース、スネークケースの記事を新規翻訳
  files/ja/glossary/camel_case/index.md
  files/ja/glossary/kebab_case/index.md
  files/ja/glossary/snake_case/index.md
Labels: l10n-ja

#18218 es: Remove unimplemented_inline macro
  files/es/web/html/attributes/rel/index.md
  files/es/web/html/element/audio/index.md
  files/es/web/html/element/td/index.md
  files/es/web/html/element/th/index.md
  files/es/web/html/element/tr/index.md
  files/es/web/javascript/reference/global_objects/uint8array/index.md
  files/es/web/mathml/attribute/index.md
  files/es/web/mathml/element/index.md
Labels: l10n-es

#18189 [zh-cn]: init translation for `ServiceWorkerRegistration.showNotification()`
  files/zh-cn/web/api/serviceworkerregistration/shownotification/index.md
Labels: l10n-zh

#18219 [ru] remove deprecated `{{unimplemented_inline}}` macro usage
  files/ru/web/html/element/td/index.md
  files/ru/web/html/element/tfoot/index.md
  files/ru/web/http/headers/index.md
  files/ru/web/javascript/reference/global_objects/float32array/index.md
  files/ru/web/javascript/reference/global_objects/float64array/index.md
  files/ru/web/javascript/reference/global_objects/int32array/index.md
  files/ru/web/javascript/reference/global_objects/int8array/index.md
  files/ru/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/ru/web/mathml/attribute/index.md
Labels: l10n-ru

#18230 (es/index.md): fix typos
  files/es/web/css/index.md
Labels: l10n-es

#18013 [zh-cn] update devicemotion event
  files/zh-cn/web/api/window/devicemotion_event/index.md
Labels: l10n-zh

#18229 chore(zh-cn): remove the usage of {{unimplemented_inline}} macro
  files/zh-cn/web/api/window/find/index.md
  files/zh-cn/web/html/element/col/index.md
  files/zh-cn/web/html/element/colgroup/index.md
  files/zh-cn/web/html/element/th/index.md
  files/zh-cn/web/html/element/thead/index.md
  files/zh-cn/web/html/element/tr/index.md
  files/zh-cn/web/javascript/reference/global_objects/float32array/index.md
  files/zh-cn/web/javascript/reference/global_objects/float64array/index.md
  files/zh-cn/web/javascript/reference/global_objects/int32array/index.md
  files/zh-cn/web/javascript/reference/global_objects/int8array/index.md
  files/zh-cn/web/javascript/reference/global_objects/uint8array/index.md
  files/zh-cn/web/javascript/reference/global_objects/uint8clampedarray/index.md
Labels: l10n-zh

#18228 [fr] remove `{{unimplemented_inline}}` macro usage
  files/fr/web/javascript/reference/global_objects/float32array/index.md
  files/fr/web/javascript/reference/global_objects/float64array/index.md
  files/fr/web/javascript/reference/global_objects/int16array/index.md
  files/fr/web/javascript/reference/global_objects/int32array/index.md
  files/fr/web/javascript/reference/global_objects/int8array/index.md
  files/fr/web/javascript/reference/global_objects/uint16array/index.md
  files/fr/web/javascript/reference/global_objects/uint32array/index.md
  files/fr/web/mathml/attribute/index.md
  files/fr/web/mathml/element/mi/index.md
Labels: l10n-fr

#18232 [zh-cn]: sync translation for Battery Status API
  files/zh-cn/web/api/battery_status_api/index.md
Labels: l10n-zh

#18233 [zh-cn]: sync translation for `Navigator.getBattery()`
  files/zh-cn/web/api/navigator/getbattery/index.md
Labels: l10n-zh

#18242 zh-cn: update the translation of `Window.find()`
  files/zh-cn/web/api/window/find/index.md
Labels: l10n-zh

#18241 Correction d'une faute d'orthographe (Web/HTML/Element/th)
  files/fr/web/html/element/th/index.md
Labels: l10n-fr

#18243 Remove missed `{{unimplemented_inline}}` in fr
  files/fr/web/api/window/find/index.md
Labels: l10n-fr

#18222 fix: fix typo
  files/ja/web/api/abortcontroller/abort/index.md
Labels: l10n-ja

#18236 [ja] Improve String.length
  files/ja/web/javascript/reference/global_objects/string/length/index.md
Labels: l10n-ja

#18235 [ja] Improve parseInt
  files/ja/web/javascript/reference/global_objects/parseint/index.md
Labels: l10n-ja

#18249 Glossary/Web_server を新規翻訳
  files/ja/glossary/web_server/index.md
Labels: l10n-ja

#17582 chore(markdown-lint): enable the `no-duplicate-heading` rule
  .markdownlint.jsonc
  files/ja/games/index.md
Labels: l10n-ja, system

#18165 [ko] DataView.byteOffset, byteLength 추가
  files/ko/web/javascript/reference/global_objects/dataview/bytelength/index.md
  files/ko/web/javascript/reference/global_objects/dataview/byteoffset/index.md
Labels: l10n-ko

#18203 fix(index.md): typos and wording
  files/fr/web/css/@property/index.md
Labels: l10n-fr

#18255 [zh-cn]: update "perceived performance"
  files/zh-cn/learn/performance/perceived_performance/index.md
Labels: l10n-zh

#18258 [zh-cn] fix typo in aira-hidden property documentation
  files/zh-cn/web/accessibility/aria/attributes/aria-hidden/index.md
Labels: l10n-zh

#18260 zh-cn: update the translation of `Element.lastElementChild`
  files/zh-cn/web/api/element/lastelementchild/index.md
Labels: l10n-zh

#18253 [ja] remove `{{unimplemented_inline}}` macro usage
  files/ja/web/api/window/find/index.md
Labels: l10n-ja

#18227 Web/HTML/Element/input/url を更新
  files/ja/web/html/element/input/url/index.md
Labels: l10n-ja

#18226 Web/CSS/:scope を更新
  files/ja/web/css/_colon_scope/index.md
Labels: l10n-ja

#18250 [zh-cn]: update the translation of `insertAdjacentElement()`
  files/zh-cn/web/api/element/insertadjacentelement/index.md
Labels: l10n-zh

#18248 [zh-cn] update html element `<link>`
  files/zh-cn/web/html/element/link/index.md
Labels: l10n-zh

#18150 [ko]: Correct the grammar errors
  files/ko/glossary/falsy/index.md
Labels: l10n-ko

#18257 Update index.md
  files/pt-br/learn/css/first_steps/getting_started/index.md
Labels: l10n-pt-br

#18268 [zh-cn] init translation for glossary `Enumerated`
  files/zh-cn/glossary/enumerated/index.md
Labels: l10n-zh

#18234 [es] add new page `MDN/Writing_guidelines/Howto/Images_media`
  files/es/mdn/writing_guidelines/howto/images_media/index.md
Labels: l10n-es

#17764 glossary update till alpn
  files/fr/glossary/abstraction/index.md
  files/fr/glossary/accent/index.md
  files/fr/glossary/accessibility/index.md
  files/fr/glossary/accessibility_tree/index.md
  files/fr/glossary/adobe_flash/index.md
  files/fr/glossary/advance_measure/index.md
  files/fr/glossary/ajax/index.md
  files/fr/glossary/algorithm/index.md
  files/fr/glossary/alignment_container/index.md
  files/fr/glossary/alignment_subject/index.md
  files/fr/glossary/alpha/index.md
  files/fr/glossary/alpn/index.md
  files/fr/glossary/index.md
Labels: l10n-fr

#18254 chore(ci/lint-fix): setup node only once
  .github/workflows/markdown-lint-fix.yml
Labels: system

#18238 [es] add page `MDN/Writing_guidelines/Page_structures/Page_types/CSS_property_page_template`
  files/es/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
Labels: l10n-es

#18282 es: Fix sourceCommit to Criteria_for_inclusion
  files/es/mdn/writing_guidelines/what_we_write/criteria_for_inclusion/index.md
Labels: l10n-es

#18275 [zh-cn]: update the translation of statement overview
  files/zh-cn/web/javascript/reference/statements/index.md
Labels: l10n-zh

#18264 [zh-cn] update 'The box model'
  files/zh-cn/learn/css/building_blocks/the_box_model/index.md
Labels: l10n-zh

#18279 zh-cn: update "See also" content
  files/zh-cn/web/javascript/reference/classes/private_properties/index.md
Labels: l10n-zh

#18278 chore(pt-br): remove outdated link from 'Using CSS Counters'
  files/pt-br/web/css/css_counter_styles/using_css_counters/index.md
Labels: l10n-pt-br

#18281 correct spelling error
  files/fr/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
Labels: l10n-fr

#18244 Glossary/FTP を更新
  files/ja/glossary/ftp/index.md
Labels: l10n-ja

#18245 Glossary/Top_layer を新規翻訳
  files/ja/glossary/top_layer/index.md
Labels: l10n-ja

#18267 zh-cn: update the translation of `Large-Allocation`
  files/zh-cn/web/http/headers/large-allocation/index.md
Labels: l10n-zh

#18287 zh-cn: remove the `none` value of the "min-hight" attribute
  files/zh-cn/web/css/min-height/index.md
Labels: l10n-zh

#18146 [zh-tw]: translate 5 HTML element
  files/zh-tw/web/html/element/article/index.md
  files/zh-tw/web/html/element/base/index.md
  files/zh-tw/web/html/element/p/index.md
  files/zh-tw/web/html/element/pre/index.md
  files/zh-tw/web/html/element/search/index.md
Labels: l10n-zh

#18284 [zh-cn]: update the translation of async-function in statement section
  files/zh-cn/web/javascript/reference/statements/async_function/index.md
Labels: l10n-zh

#18295 [zh-cn]: translate CSS Layout guide
  files/zh-cn/web/guide/css/css_layout/index.md
Labels: l10n-zh

#18120 [zh-tw]: translate <footer>
  files/zh-tw/web/html/element/footer/index.md
Labels: l10n-zh

#18301 [zh-cn]: update the translation of async-function* in statement section
  files/zh-cn/web/javascript/reference/statements/async_function_star_/index.md
Labels: l10n-zh

#17949 [ko] DataView 개요 수정, DataView.buffer 추가
  files/ko/web/javascript/reference/global_objects/dataview/buffer/index.md
  files/ko/web/javascript/reference/global_objects/dataview/index.md
Labels: l10n-ko

#18251 [ko] fix special symbols in arrow functions
  files/ko/web/javascript/reference/functions/arrow_functions/index.md
Labels: l10n-ko

#18261 [ja] Fix anchor link in <input>
  files/ja/web/html/element/input/index.md
Labels: l10n-ja

#18262 Web/CSS/@starting-style を新規翻訳
  files/ja/web/css/@starting-style/index.md
Labels: l10n-ja

#18263 Web/API/CSSStartingStyleRule を新規翻訳
  files/ja/web/api/cssstartingstylerule/index.md
Labels: l10n-ja

#18270 Web/CSS/content-visibility を更新
  files/ja/web/css/content-visibility/index.md
Labels: l10n-ja

#18220 [ko] Translate for Audio_and_video_delivery
  files/ko/web/media/audio_and_video_delivery/index.md
Labels: l10n-ko

#16769 [ko] update translation to btoa method in Web API
  files/ko/web/api/btoa/index.md
Labels: l10n-ko
