Repository mdn/translated-content, pull requests merged in 2024-12, with the labels that each got.

#24839 [zh-cn]: update the translation of History `forward()` method
  files/zh-cn/web/api/history/forward/index.md
Labels: l10n-zh

#24648 [zh-cn]: create docs for Fence
  files/zh-cn/web/api/fence/getnestedconfigs/index.md
  files/zh-cn/web/api/fence/index.md
  files/zh-cn/web/api/fence/reportevent/index.md
  files/zh-cn/web/api/fence/setreporteventdataforautomaticbeacons/index.md
Labels: l10n-zh

#24804 Web/CSS/CSS_flexible_box_layout 以下の記事を3件更新
  files/ja/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
  files/ja/web/css/css_flexible_box_layout/ordering_flex_items/index.md
  files/ja/web/css/css_flexible_box_layout/ordering_flex_items/order-card.png
  files/ja/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Labels: l10n-ja

#24592 zh-cn: fix the description for `DataView` interface and add some new docs
  files/zh-cn/web/javascript/reference/global_objects/dataview/getfloat16/index.md
  files/zh-cn/web/javascript/reference/global_objects/dataview/index.md
  files/zh-cn/web/javascript/reference/global_objects/dataview/setfloat16/index.md
Labels: l10n-zh

#24858 [zh-CN]: add translation for `NavigationTransition`
  files/zh-cn/web/api/navigationtransition/index.md
Labels: l10n-zh

#24808 Web/CSS/filter-function/contrast を更新
  files/ja/web/css/filter-function/contrast/index.md
Labels: l10n-ja

#24814 sourceCommit を修正
  files/ja/web/css/@font-face/font-stretch/index.md
Labels: l10n-ja

#24669 Fix #24376
  files/fr/web/html/element/img/index.md
Labels: l10n-fr

#24837 [zh-cn]: update the translation of History `length` property
  files/zh-cn/web/api/history/length/index.md
Labels: l10n-zh

#24675 [zh-cn]: create docs for HTMLLinkElement
  files/zh-cn/web/api/htmllinkelement/as/index.md
  files/zh-cn/web/api/htmllinkelement/blocking/index.md
  files/zh-cn/web/api/htmllinkelement/crossorigin/index.md
  files/zh-cn/web/api/htmllinkelement/disabled/index.md
  files/zh-cn/web/api/htmllinkelement/fetchpriority/index.md
  files/zh-cn/web/api/htmllinkelement/href/index.md
  files/zh-cn/web/api/htmllinkelement/hreflang/index.md
  files/zh-cn/web/api/htmllinkelement/index.md
  files/zh-cn/web/api/htmllinkelement/integrity/index.md
  files/zh-cn/web/api/htmllinkelement/media/index.md
  files/zh-cn/web/api/htmllinkelement/referrerpolicy/index.md
  files/zh-cn/web/api/htmllinkelement/rel/index.md
  files/zh-cn/web/api/htmllinkelement/rellist/index.md
  files/zh-cn/web/api/htmllinkelement/sheet/index.md
  files/zh-cn/web/api/htmllinkelement/type/index.md
Labels: l10n-zh

#24869 [zh-CN]: add translation for `NavigationTransition.finished`
  files/zh-cn/web/api/navigationtransition/finished/index.md
Labels: l10n-zh

#24618 [zh-cn]: create doc for "communication with embedded frames"
  files/zh-cn/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
  files/zh-cn/web/api/fenced_frame_api/index.md
Labels: l10n-zh

#24827 Web/CSS/CSS_box_sizing/Understanding_aspect-ratio を更新
  files/ja/web/css/css_box_sizing/understanding_aspect-ratio/index.md
Labels: l10n-ja

#24828 ライブサンプルのIDを修正
  files/ja/web/css/aspect-ratio/index.md
Labels: l10n-ja

#24829 Web/CSS/box-sizing を更新
  files/ja/web/css/box-sizing/index.md
Labels: l10n-ja

#24685 [ru] update `Web/API/Document/currentScript` translation
  files/ru/web/api/document/currentscript/index.md
Labels: l10n-ru

#24807 zh-cn: update the translation of the `Headers.set()` method
  files/zh-cn/web/api/headers/set/index.md
Labels: l10n-zh

#24896 zh-CN: create `sidebarAction.close()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/close/index.md
Labels: l10n-zh

#24901 zh-CN: create `sidebarAction.toggle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/toggle/index.md
Labels: l10n-zh

#24859 [zh-cn] fix and improve translation of web/svg
  files/zh-cn/web/guide/css/getting_started/challenge_solutions/index.md
  files/zh-cn/web/svg/namespaces_crash_course/index.md
  files/zh-cn/web/svg/tutorial/other_content_in_svg/index.md
  files/zh-cn/web/svg/tutorial/patterns/index.md
  files/zh-cn/web/svg/tutorial/svg_and_css/index.md
Labels: l10n-zh

#24905 [zh-cn] add `prefers-reduced`'s honour condition on Windows 11
  files/zh-cn/web/css/@media/prefers-reduced-motion/index.md
Labels: l10n-zh

#24643 [zh-cn]: create docs for HTMLFencedFrameElement
  files/zh-cn/web/api/htmlfencedframeelement/allow/index.md
  files/zh-cn/web/api/htmlfencedframeelement/config/index.md
  files/zh-cn/web/api/htmlfencedframeelement/height/index.md
  files/zh-cn/web/api/htmlfencedframeelement/index.md
  files/zh-cn/web/api/htmlfencedframeelement/width/index.md
Labels: l10n-zh

#24796 [zh-cn]: update the translation of "JavaScript modules"
  files/zh-cn/web/javascript/guide/modules/index.md
Labels: l10n-zh

#24873 zh-CN: create `identity.getRedirectURL()`
  files/zh-cn/mozilla/add-ons/webextensions/api/identity/getredirecturl/index.md
Labels: l10n-zh

#24874 zh-CN: create `privacy`
  files/zh-cn/mozilla/add-ons/webextensions/api/privacy/index.md
Labels: l10n-zh

#24890 zh-CN: create `topSites`
  files/zh-cn/mozilla/add-ons/webextensions/api/topsites/index.md
Labels: l10n-zh

#24843 Web/CSS/CSS_images を更新
  files/ja/web/css/css_images/index.md
Labels: l10n-ja

#24844 Web/CSS/CSS_images/Using_CSS_gradients を更新
  files/ja/web/css/css_images/using_css_gradients/index.md
Labels: l10n-ja

#24845 Web/CSS/CSS_images/Implementing_image_sprites_in_CSS を更新
  files/ja/web/css/css_images/implementing_image_sprites_in_css/index.md
Labels: l10n-ja

#24909 [ja]: corrected a typographical error in Symmetric-key cryptography
  files/ja/web/api/subtlecrypto/verify/index.md
Labels: l10n-ja

#24915 [zh-cn] update global attribute 'style'
  files/zh-cn/web/html/global_attributes/style/index.md
Labels: l10n-zh

#24889 zh-CN: create `pkcs11`
  files/zh-cn/mozilla/add-ons/webextensions/api/pkcs11/index.md
Labels: l10n-zh

#24871 zh-CN: create `identity`
  files/zh-cn/mozilla/add-ons/webextensions/api/identity/index.md
Labels: l10n-zh

#24932 zh-cn: fix typo
  files/zh-cn/mozilla/add-ons/webextensions/api/identity/index.md
Labels: l10n-zh

#24911 [ja]: translate RDF documentation
  files/ja/glossary/rdf/index.md
Labels: l10n-ja

#24849 Web/CSS/gradient/linear-gradient 他3件を更新
  files/ja/web/css/gradient/conic-gradient/index.md
  files/ja/web/css/gradient/linear-gradient/index.md
  files/ja/web/css/gradient/repeating-radial-gradient/index.md
  files/ja/web/css/image-rendering/index.md
Labels: l10n-ja

#24850 Web/CSS/gradient/radial-gradient を更新
  files/ja/web/css/gradient/radial-gradient/index.md
Labels: l10n-ja

#24851 Web/CSS/image-orientation を更新
  files/ja/web/css/image-orientation/index.md
Labels: l10n-ja

#24852 Web/CSS/gradient/repeating-linear-gradient を更新
  files/ja/web/css/gradient/repeating-linear-gradient/index.md
Labels: l10n-ja

#24853 Web/CSS/gradient/repeating-conic-gradient を更新
  files/ja/web/css/gradient/repeating-conic-gradient/index.md
Labels: l10n-ja

#24855 Web/CSS/element を更新
  files/ja/web/css/element/index.md
Labels: l10n-ja

#24856 用語の修正
  files/ja/web/css/gradient/index.md
Labels: l10n-ja

#24857 Web/CSS/image/image を更新
  files/ja/web/css/image/image/index.md
Labels: l10n-ja

#24860 Web/HTTP/Headers を更新
  files/ja/web/http/headers/index.md
Labels: l10n-ja

#24862 Web/HTTP/Headers/Set-Cookie を更新
  files/ja/web/http/headers/set-cookie/index.md
Labels: l10n-ja

#24865 Web/HTTP/Headers/Content-Type を更新
  files/ja/web/http/headers/content-type/index.md
Labels: l10n-ja

#24866 Web/HTTP/Headers/Cache-Control を更新
  files/ja/web/http/headers/cache-control/index.md
Labels: l10n-ja

#24863 AnalyserNode.frequencyBinCountの引数についての説明誤りを修正
  files/ja/web/api/analysernode/getbytefrequencydata/index.md
Labels: l10n-ja

#24791 [ru] add translation rules for external links
  docs/ru/README.md
  files/ru/glossary/ajax/index.md
  files/ru/glossary/atag/index.md
  files/ru/glossary/blink/index.md
  files/ru/glossary/card_sorting/index.md
  files/ru/glossary/class/index.md
  files/ru/glossary/cookie/index.md
  files/ru/glossary/crawler/index.md
  files/ru/glossary/first-class_function/index.md
  files/ru/glossary/ftp/index.md
  files/ru/glossary/json/index.md
  files/ru/glossary/percent-encoding/index.md
  files/ru/glossary/polymorphism/index.md
  files/ru/glossary/proxy_server/index.md
  files/ru/glossary/seo/index.md
  files/ru/glossary/tls/index.md
  files/ru/glossary/user_agent/index.md
  files/ru/glossary/ux/index.md
  files/ru/glossary/variable/index.md
  files/ru/learn/html/introduction_to_html/getting_started/index.md
  files/ru/learn/server-side/express_nodejs/introduction/index.md
  files/ru/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
  files/ru/web/accessibility/index.md
  files/ru/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/ru/web/api/canvasrenderingcontext2d/beziercurveto/index.md
  files/ru/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/ru/web/http/status/index.md
  files/ru/web/javascript/reference/global_objects/boolean/index.md
  files/ru/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-ru

#24595 [ru] update `Web/API/Server-sent_events` translation
  files/ru/web/api/server-sent_events/index.md
Labels: l10n-ru

#24632 [ru] update `Web/API/Server-sent_events/Using_server-sent_events` translation
  files/ru/web/api/server-sent_events/using_server-sent_events/index.md
Labels: l10n-ru

#24931 [ko] math clz32 신규 번역
  files/ko/web/javascript/reference/global_objects/math/clz32/index.md
Labels: l10n-ko

#24868 Web/HTTP/Methods を更新
  files/ja/web/http/methods/index.md
Labels: l10n-ja

#24879 Web/JavaScript/Reference/Global_Objects/RegExp/exec 他1件を更新
  files/ja/web/javascript/reference/global_objects/regexp/exec/index.md
  files/ja/web/javascript/reference/global_objects/regexp/symbol.species/index.md
Labels: l10n-ja

#24881 Web/JavaScript/Reference/Global_Objects/RegExp/test を更新
  files/ja/web/javascript/reference/global_objects/regexp/test/index.md
Labels: l10n-ja

#24882 Web/JavaScript/Reference/Global_Objects/RegExp を更新
  files/ja/web/javascript/reference/global_objects/regexp/index.md
Labels: l10n-ja

#24904 [zh-cn]: update for alpha value CSS data type
  files/zh-cn/web/css/alpha-value/index.md
Labels: l10n-zh

#24894 zh-CN: create `sidebarAction.open()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/open/index.md
Labels: l10n-zh

#24899 zh-CN: create `sidebarAction.ImageDataType`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/imagedatatype/index.md
Labels: l10n-zh

#24778 [zh-cn]: update the translation of `DOMQuad` introduction
  files/zh-cn/web/api/domquad/index.md
Labels: l10n-zh

#24944 zh-CN: create `ExtensionInfo`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/extensioninfo/index.md
Labels: l10n-zh

#24954 Update index.md
  files/es/learn/css/css_layout/supporting_older_browsers/index.md
Labels: l10n-es

#24875 zh-CN: create `privacy.services`
  files/zh-cn/mozilla/add-ons/webextensions/api/privacy/services/index.md
Labels: l10n-zh

#24959 [es] fix typo in `Web/JavaScript/Event_loop`
  files/es/web/javascript/event_loop/index.md
Labels: l10n-es

#24952 zh-CN: update the translation of the "Time to interactive" glossary term
  files/zh-cn/glossary/time_to_interactive/index.md
Labels: l10n-zh

#24876 zh-CN: create `privacy.websites`
  files/zh-cn/mozilla/add-ons/webextensions/api/privacy/websites/index.md
Labels: l10n-zh

#24970 zh-cn: update the `concat()` methods
  files/zh-cn/web/javascript/reference/global_objects/array/concat/index.md
  files/zh-cn/web/javascript/reference/global_objects/string/concat/index.md
Labels: l10n-zh

#24893 zh-CN: create `sidebarAction`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/index.md
Labels: l10n-zh

#24872 zh-CN: create `identity.launchWebAuthFlow`
  files/zh-cn/mozilla/add-ons/webextensions/api/identity/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/identity/launchwebauthflow/index.md
Labels: l10n-zh

#24768 [ru] update `Glossary/Global_variable` translation
  files/ru/glossary/global_variable/index.md
Labels: l10n-ru

#24746 [ru] update `Web/JavaScript/Reference/Errors/Deprecated_source_map_pragma` translation
  files/ru/web/javascript/reference/errors/deprecated_source_map_pragma/index.md
Labels: l10n-ru

#24907 [zh-cn]: update for CSS angle
  files/zh-cn/web/css/angle/index.md
Labels: l10n-zh

#24891 zh-CN: create `topSites.MostVisitedURL`
  files/zh-cn/mozilla/add-ons/webextensions/api/topsites/mostvisitedurl/index.md
Labels: l10n-zh

#24886 zh-CN: create `pkcs11.installModule()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pkcs11/installmodule/index.md
Labels: l10n-zh

#24908 Web/JavaScript/Reference/Global_Objects/Iterator を更新
  files/ja/web/javascript/reference/global_objects/iterator/index.md
Labels: l10n-ja

#24910 [ja]: translate RIL documentation
  files/ja/glossary/ril/index.md
Labels: l10n-ja

#24919 fix: マークダウン記法のミスを修正・日本語訳を修正
  files/ja/web/css/hue/index.md
Labels: l10n-ja

#24922 [ja]: minor typographical errors corrected
  files/ja/web/css/color_value/oklab/index.md
Labels: l10n-ja

#24913 [ja] typo: remove redundant character
  files/ja/web/api/document/createtreewalker/index.md
Labels: l10n-ja

#24929 Web/JavaScript/Reference/Global_Objects/Iterator/Iterator を更新
  files/ja/web/javascript/reference/global_objects/iterator/iterator/index.md
Labels: l10n-ja

#24950 Web/JavaScript/Reference/Global_Objects/Iterator/from を新規翻訳
  files/ja/web/javascript/reference/global_objects/iterator/from/index.md
Labels: l10n-ja

#24926 [ja] Fix spelling mistake in using_css_custom_properties
  files/ja/web/css/using_css_custom_properties/index.md
Labels: l10n-ja

#24953 [ja]: 括弧書きの係る位置を修正
  files/ja/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-ja

#24930 [ru] update `Glossary/Blink` translation
  files/ru/glossary/blink/index.md
Labels: l10n-ru

#24946 zh-CN: create `management.uninstallSelf()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/uninstallself/index.md
Labels: l10n-zh

#24936 zh-CN: create `management.onEnabled()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/onenabled/index.md
Labels: l10n-zh

#24686 [ru] update `Web/API/EventTarget/addEventListener` translation
  files/ru/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-ru

#24955 [es]: update Math.exp() page content for es language to match english content
  files/es/web/javascript/reference/global_objects/math/exp/index.md
Labels: l10n-es

#24984 Missing page input radio [es]
  files/es/web/html/element/input/radio/index.md
Labels: l10n-es

#24963 zh-CN: create `userScripts`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/index.md
Labels: l10n-zh

#24968 zh-CN: create `userScripts.onBeforeScript`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/onbeforescript/index.md
Labels: l10n-zh

#24975 [ru] update `Web/JavaScript/Reference/Global_Objects/Number/isSafeInteger` translation
  files/ru/web/javascript/reference/global_objects/number/issafeinteger/index.md
Labels: l10n-ru

#24998 zh-cn: fix typo
  files/zh-cn/web/http/client_hints/index.md
Labels: l10n-zh

#24996 zh-cn: fix typo
  files/zh-cn/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: l10n-zh

#24995 zh-cn: fix the missing right parenthesis issue
  files/zh-cn/learn/server-side/express_nodejs/routes/index.md
Labels: l10n-zh

#24972 zh-cn: correct the description of "CSS"
  files/zh-cn/learn/getting_started_with_the_web/css_basics/index.md
Labels: l10n-zh

#24971 zh-cn: update social links
  files/zh-cn/mdn/community/communication_channels/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
Labels: l10n-zh

#24980 [zh-cn] fix code blocks in 'organizing css'
  files/zh-cn/learn/css/building_blocks/organizing/index.md
Labels: l10n-zh

#24999 [zh-cn] update translation of 'proxy servers and tunneling'
  files/zh-cn/web/http/proxy_servers_and_tunneling/index.md
Labels: l10n-zh

#24912 zh-cn: update the description of the `animationiteration` event
  files/zh-cn/web/api/element/animationiteration_event/index.md
Labels: l10n-zh

#24994 [zh-cn] update `AbortSignal` index
  files/zh-cn/web/api/abortsignal/index.md
Labels: l10n-zh

#24962 [zh-cn] create translation of html attribute `minlength`
  files/zh-cn/web/html/attributes/minlength/index.md
Labels: l10n-zh

#24927 [ja]: fixed to show demo
  files/ja/learn/css/first_steps/how_css_is_structured/index.md
Labels: l10n-ja

#24957 Web/JavaScript/Reference/Global_Objects/Iterator/drop を新規翻訳
  files/ja/web/javascript/reference/global_objects/iterator/drop/index.md
Labels: l10n-ja

#24974 [ja] fix typo in `Web/HTML/Element/dialog`
  files/ja/web/html/element/dialog/index.md
Labels: l10n-ja

#24978 [ja] fix Indentation
  files/ja/web/api/customelementregistry/define/index.md
Labels: l10n-ja

#24992 曖昧な表現を改善
  files/ja/web/javascript/reference/global_objects/string/repeat/index.md
Labels: l10n-ja

#24914 [zh-cn]: update for CSS basic shape
  files/zh-cn/web/css/basic-shape/index.md
Labels: l10n-zh

#24948 zh-CN: create `management`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/index.md
Labels: l10n-zh

#25041 zh-cn: fix some broken links in CSS `counters`
  files/zh-cn/web/css/counters/index.md
Labels: l10n-zh

#24903 zh-CN: create `sidebarAction.setTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/settitle/index.md
Labels: l10n-zh

#24977 [ja] fix redundant expression in the text
  files/ja/web/http/status/501/index.md
Labels: l10n-ja

#24985 TypedArray.prototype.slice() の参照を修正
  files/ja/web/javascript/reference/global_objects/typedarray/slice/index.md
Labels: l10n-ja

#24989 Web/JavaScript/Reference/Global_Objects/Iterator/every を新規翻訳
  files/ja/web/javascript/reference/global_objects/iterator/every/index.md
Labels: l10n-ja

#24990 Web/JavaScript/Reference/Global_Objects/Iterator/find を新規翻訳
  files/ja/web/javascript/reference/global_objects/iterator/find/index.md
Labels: l10n-ja

#24991 Web/JavaScript/Reference/Global_Objects/Iterator/filter を新規翻訳
  files/ja/web/javascript/reference/global_objects/iterator/filter/index.md
Labels: l10n-ja

#25052 Fix typo
  files/ja/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-ja

#24892 zh-CN: create `topSites.get()`
  files/zh-cn/mozilla/add-ons/webextensions/api/topsites/get/index.md
Labels: l10n-zh

#24888 zh-CN: create `pkcs11.uninstallModule()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pkcs11/uninstallmodule/index.md
Labels: l10n-zh

#25057 zh-cn: update the translation of the `UIEvent.which`
  files/zh-cn/web/api/uievent/which/index.md
Labels: l10n-zh

#25012 zh-cn: add "How long is too long"
  files/zh-cn/web/performance/how_long_is_too_long/index.md
Labels: l10n-zh

#25001 `hidden="until-found"`についてサンプルコードの説明の間違いを修正
  files/ja/web/api/element/beforematch_event/index.md
Labels: l10n-ja

#24988 [ja]: isNan() のフラグメント識別子の誤りを修正
  files/ja/web/javascript/reference/global_objects/isnan/index.md
Labels: l10n-ja

#25006 表現を少しわかりやすく修正
  files/ja/web/svg/element/text/index.md
Labels: l10n-ja

#25007 Web/SVG/Element/animate を更新
  files/ja/web/svg/element/animate/index.md
Labels: l10n-ja

#25008 Web/SVG/Attribute/viewBox を更新
  files/ja/web/svg/attribute/viewbox/index.md
Labels: l10n-ja

#25010 Web/API/SVGAnimateElement を新規翻訳
  files/ja/web/api/svganimateelement/index.md
Labels: l10n-ja

#25058 [ja] Translate HTMLTextAreaElement.name
  files/ja/web/api/htmltextareaelement/name/index.md
Labels: l10n-ja

#24887 zh-CN: create `pkcs11.isModuleInstalled()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pkcs11/ismoduleinstalled/index.md
Labels: l10n-zh

#24895 zh-CN: create `sidebarAction.isOpen()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/isopen/index.md
Labels: l10n-zh

#24877 zh-CN: create `privacy.network`
  files/zh-cn/mozilla/add-ons/webextensions/api/privacy/network/index.md
Labels: l10n-zh

#24917 [zh-cn]: update for CSS blend mode
  files/zh-cn/web/css/blend-mode/index.md
Labels: l10n-zh

#24935 zh-CN: create `management.onInstalled()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/oninstalled/index.md
Labels: l10n-zh

#24940 zh-CN: create `management.getAll()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/getall/index.md
Labels: l10n-zh

#25066 zh-cn: update the translation of `HTMLMediaElement.currentTime`
  files/zh-cn/web/api/htmlmediaelement/currenttime/index.md
Labels: l10n-zh

#24898 zh-CN: create `sidebarAction.getPanel()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/getpanel/index.md
Labels: l10n-zh

#24942 zh-CN: create `management.get()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/get/index.md
Labels: l10n-zh

#24885 zh-CN: create `pkcs11.getModuleSlots()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pkcs11/getmoduleslots/index.md
Labels: l10n-zh

#24897 zh-CN: create `sidebarAction.getTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/gettitle/index.md
Labels: l10n-zh

#25094 zh-cn: update the translation of `HTMLMediaElement.src`
  files/zh-cn/web/api/htmlmediaelement/src/index.md
Labels: l10n-zh

#25027 Web/SVG/Attribute/text-anchor を新規翻訳
  files/ja/web/svg/attribute/text-anchor/index.md
Labels: l10n-ja

#25028 Web/CSS/text-anchor を新規翻訳
  files/ja/web/css/text-anchor/index.md
Labels: l10n-ja

#25029 Web/SVG/Attribute/xlink:href を新規翻訳
  files/ja/web/svg/attribute/xlink_colon_href/index.md
Labels: l10n-ja

#25103 [ru] fix link in `Web/JavaScript/Reference/Global_Objects/Set`
  files/ru/web/javascript/reference/global_objects/set/index.md
Labels: l10n-ru

#25095 [zh-cn] update 'handling different text directions'
  files/zh-cn/learn/css/building_blocks/handling_different_text_directions/index.md
Labels: l10n-zh

#25097 Update Simplified Chinese translation for Keep-Alive HTTP header
  files/zh-cn/web/http/headers/keep-alive/index.md
Labels: l10n-zh

#24943 zh-CN: create `management.getPermissionWarningsById()`
  files/zh-cn/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbyid/index.md
Labels: l10n-zh

#25118 [zh-TW]: create `Math.E`
  files/zh-tw/web/javascript/reference/global_objects/math/e/index.md
Labels: l10n-zh

#25104 [zh-TW]: update Add-ons/WebExtensions
  files/zh-tw/mozilla/add-ons/webextensions/index.md
Labels: l10n-zh

#25105 [zh-TW]: update WebExtensions/What_are_WebExtensions
  files/zh-tw/mozilla/add-ons/webextensions/what_are_webextensions/index.md
Labels: l10n-zh
