Repository mdn/translated-content, pull requests merged in 2024-11, with the labels that each got.

#24298 [ko] fix link
  files/ko/webassembly/existing_c_to_wasm/index.md
Labels: l10n-ko

#24191 zh-cn: sync the translation of "data structures"
  files/zh-cn/web/javascript/data_structures/index.md
Labels: l10n-zh

#24190 [zh-cn]: create docs for HTMLAllCollection
  files/zh-cn/web/api/htmlallcollection/index.md
  files/zh-cn/web/api/htmlallcollection/item/index.md
  files/zh-cn/web/api/htmlallcollection/length/index.md
  files/zh-cn/web/api/htmlallcollection/nameditem/index.md
Labels: l10n-zh

#24220 zh-cn: update the translation of "Create genre form"
  files/zh-cn/learn/server-side/express_nodejs/forms/create_genre_form/index.md
Labels: l10n-zh

#24301 [ko] fix: update mdn/guide sourceCommit
  docs/ko/fully_untranslated_files/learn/Learn_Common_questions_Tools_and_setup_Upload_files_to_a_web_server.md
  docs/ko/fully_untranslated_files/learn/Learn_Common_questions_Tools_and_setup_What_software_do_I_need.md
  docs/ko/fully_untranslated_files/learn/Learn_Common_questions_Web_mechanics_Pages_sites_servers_and_search_engines.md
  docs/ko/fully_untranslated_files/learn/Learn_Forms_Sending_and_retrieving_form_data.md
  docs/ko/fully_untranslated_files/learn/Learn_HTML_Introduction_to_HTML_Debugging_HTML.md
  docs/ko/fully_untranslated_files/learn/Learn_HTML_Introduction_to_HTML_Document_and_website_structure.md
  docs/ko/fully_untranslated_files/learn/Learn_JavaScript_Client-side_web_APIs_Client-side_storage.md
  docs/ko/fully_untranslated_files/learn/Learn_Server-side_Django_Authentication.md
  docs/ko/fully_untranslated_files/learn/Learn_Server-side_Django_web_application_security.md
  docs/ko/fully_untranslated_files/learn/Learn_Server-side_Express_Nodejs_Introduction.md
  docs/ko/fully_untranslated_files/learn/Learn_Server-side_First_steps_Website_security.md
  docs/ko/fully_untranslated_files/learn/Learn_Tools_and_testing_Client-side_JavaScript_frameworks_Vue_first_component.md
  docs/ko/fully_untranslated_files/mdn/MDN_Writing_guidelines_Howto_Write_an_API_reference_Sidebars.md
  docs/ko/fully_untranslated_files/mozilla/Mozilla_Add-ons_WebExtensions_API_menus_create.md
  docs/ko/fully_untranslated_files/web/Web_API_HTML_Drag_and_Drop_API_Drag_operations.md
  docs/ko/fully_untranslated_files/web/Web_API_IndexedDB_API_Basic_Terminology.md
  docs/ko/fully_untranslated_files/web/Web_API_MediaDevices_getUserMedia.md
  docs/ko/fully_untranslated_files/web/Web_API_Node_insertBefore.md
  docs/ko/fully_untranslated_files/web/Web_API_Service_Worker_API_Using_Service_Workers.md
  docs/ko/fully_untranslated_files/web/Web_API_WebGL_API_WebGL_best_practices.md
  docs/ko/fully_untranslated_files/web/Web_API_WebSockets_API_Writing_WebSocket_servers.md
  docs/ko/fully_untranslated_files/web/Web_API_Web_Storage_API_Using_the_Web_Storage_API.md
  docs/ko/fully_untranslated_files/web/Web_API_Web_Workers_API_Using_web_workers.md
  docs/ko/fully_untranslated_files/web/Web_API_Window_pageYOffset.md
  docs/ko/fully_untranslated_files/web/Web_API_Window_window.md
  docs/ko/fully_untranslated_files/web/Web_Accessibility_ARIA_Roles_dialog_role.md
  docs/ko/fully_untranslated_files/web/Web_CSS_CSS_colors_Applying_color.md
  docs/ko/fully_untranslated_files/web/Web_CSS_CSS_flexible_box_layout_Aligning_items_in_a_flex_container.md
  docs/ko/fully_untranslated_files/web/Web_CSS_CSS_images_Using_CSS_gradients.md
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_before.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_display.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_Guide_Audio_and_video_delivery_Adding_captions_and_subtitles_to_HTML5_video.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_select.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_tbody.md
  docs/ko/fully_untranslated_files/web/Web_HTTP_Headers_Set-Cookie.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Lexical_grammar.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Statements_trycatch.md
  files/ko/mdn/at_ten/index.md
  files/ko/mdn/community/communication_channels/index.md
Labels: l10n-ko

#24305 [ko] fix: update mdn/guide sourceCommit - 4
  files/ko/_redirects.txt
  files/ko/mdn/community/index.md
  files/ko/mdn/community/issues/index.md
Labels: l10n-ko

#24300 chore(css): Move CSS examples - CSS values and units
  files/ko/learn/css/building_blocks/values_and_units/index.md
Labels: l10n-ko

#24196 zh-cn: sync the translation of "Enumerability and ownership of properties"
  files/zh-cn/web/javascript/enumerability_and_ownership_of_properties/index.md
Labels: l10n-zh

#24277 zh-cn: sync the translation of "memory management"
  files/zh-cn/web/javascript/memory_management/index.md
Labels: l10n-zh

#24205 zh-cn: update the translation of `Error.prototype.name`
  files/zh-cn/web/javascript/reference/global_objects/error/name/index.md
Labels: l10n-zh

#24286 [zh-CN]: add translation for Keyboard API
  files/zh-cn/web/api/keyboard_api/index.md
Labels: l10n-zh

#24278 [ja] Improve TouchList
  files/ja/web/api/touchlist/index.md
Labels: l10n-ja

#24269 [ru]: sync Doctype
  files/ru/glossary/doctype/index.md
Labels: l10n-ru

#24260 fix[es]: spelling corrections in ES (Spanish) import.md
  files/es/web/javascript/reference/statements/import/index.md
Labels: l10n-es

#24177 zh-cn: init the translation of `Document.children`
  files/zh-cn/web/api/document/children/index.md
Labels: l10n-zh

#24288 [ja] fix: "fangsong" (font-family) の改訳
  files/ja/web/css/font-family/index.md
Labels: l10n-ja

#24270 missing page Intl/DateTimeFormat [es]
  files/es/web/javascript/reference/global_objects/intl/datetimeformat/index.md
Labels: l10n-es

#24317 [zh-cn] update 'styling tables'
  files/zh-cn/learn/css/building_blocks/styling_tables/index.md
Labels: l10n-zh

#24310 [zh-cn]: update 'Create author form'
  files/zh-cn/learn/server-side/express_nodejs/forms/create_author_form/index.md
Labels: l10n-zh

#24314 Glossary/Inset_properties を新規翻訳
  files/ja/glossary/inset_properties/index.md
Labels: l10n-ja

#24304 [ja] fix translation for String.isWellFormed
  files/ja/web/javascript/reference/global_objects/string/iswellformed/index.md
Labels: l10n-ja

#24363 Fix typo in french sendBeacon documentation
  files/fr/web/api/navigator/sendbeacon/index.md
Labels: l10n-fr

#24295 [ru]: standard title for "see also"
  files/ru/learn/accessibility/index.md
  files/ru/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/ru/learn/server-side/django/skeleton_website/index.md
  files/ru/web/api/validitystate/index.md
  files/ru/web/api/validitystate/patternmismatch/index.md
  files/ru/web/api/window/caches/index.md
  files/ru/web/api/window/settimeout/index.md
  files/ru/web/css/_colon_lang/index.md
  files/ru/web/css/animation-iteration-count/index.md
  files/ru/web/css/border/index.md
  files/ru/web/css/css_positioned_layout/understanding_z-index/stacking_without_z-index/index.md
  files/ru/web/css/text-shadow/index.md
Labels: l10n-ru

#24307 [ru]: standard title for "Usage notes"
  files/ru/web/html/element/abbr/index.md
  files/ru/web/html/element/caption/index.md
  files/ru/web/html/element/ol/index.md
  files/ru/web/html/element/ul/index.md
  files/ru/web/svg/attribute/dur/index.md
  files/ru/web/svg/attribute/letter-spacing/index.md
  files/ru/web/svg/element/a/index.md
  files/ru/web/svg/element/use/index.md
Labels: l10n-ru

#24308 [ru]: standard title for "Accessibility"
  files/ru/web/accessibility/aria/roles/checkbox_role/index.md
  files/ru/web/css/_colon_focus/index.md
  files/ru/web/css/_doublecolon_placeholder/index.md
  files/ru/web/css/background-color/index.md
  files/ru/web/css/content/index.md
  files/ru/web/css/flex-direction/index.md
  files/ru/web/css/height/index.md
  files/ru/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/ru/web/css/letter-spacing/index.md
  files/ru/web/css/max-height/index.md
  files/ru/web/css/max-width/index.md
  files/ru/web/css/opacity/index.md
  files/ru/web/css/width/index.md
  files/ru/web/css/word-spacing/index.md
  files/ru/web/html/element/audio/index.md
  files/ru/web/html/element/br/index.md
  files/ru/web/html/element/del/index.md
  files/ru/web/html/element/dl/index.md
  files/ru/web/html/element/footer/index.md
  files/ru/web/html/element/heading_elements/index.md
  files/ru/web/html/element/html/index.md
  files/ru/web/html/element/img/index.md
  files/ru/web/html/element/main/index.md
  files/ru/web/html/element/p/index.md
  files/ru/web/html/element/pre/index.md
  files/ru/web/html/element/title/index.md
Labels: l10n-ru

#24316 Firefox 132 for developersを翻訳
  files/ja/mozilla/firefox/releases/132/index.md
Labels: l10n-ja

#22927 zh-cn: init the translation of "OpenSearch description format"
  files/zh-cn/web/opensearch/index.md
Labels: l10n-zh

#24362 zh-cn: update the translation of `DataTransferItemList.length`
  files/zh-cn/web/api/datatransferitemlist/length/index.md
Labels: l10n-zh

#24366 [zh-cn]: sync content for navagator hid
  files/zh-cn/web/api/navigator/hid/index.md
  files/zh-cn/web/api/workernavigator/hid/index.md
Labels: l10n-zh

#24375 chore(deps): bump node from v18 to v20
  .nvmrc
  package.json
Labels: system

#24361 missing page gradient/linear-gradient [es]
  files/es/web/css/gradient/linear-gradient/index.md
Labels: l10n-es

#24377 [zh-CN]: sync translation for VirtualKeyboard API
  files/zh-cn/web/api/htmlelement/virtualkeyboardpolicy/index.md
  files/zh-cn/web/api/virtualkeyboard_api/index.md
Labels: l10n-zh

#24378 [zh-cn]: sync desc of value math-auto for text-transform
  files/zh-cn/web/css/text-transform/index.md
Labels: l10n-zh

#24319 Web/JavaScript/Guide/Regular_expressions/Cheatsheet を更新
  files/ja/web/javascript/guide/regular_expressions/cheatsheet/index.md
Labels: l10n-ja

#24321 Web/JavaScript/Guide/Regular_expressions/Groups_and_backreferences を更新
  files/ja/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
Labels: l10n-ja

#24322 Web/JavaScript/Guide/Regular_expressions/Assertions を更新
  files/ja/web/javascript/guide/regular_expressions/assertions/index.md
Labels: l10n-ja

#24323 Web/JavaScript/Guide/Regular_expressions/Quantifiers を更新
  files/ja/web/javascript/guide/regular_expressions/quantifiers/index.md
Labels: l10n-ja

#24324 sourceCommit: を修正
  files/ja/web/api/htmlbuttonelement/formaction/index.md
  files/ja/web/api/htmlbuttonelement/value/index.md
  files/ja/web/api/htmlinputelement/defaultvalue/index.md
  files/ja/web/api/htmlselectelement/reportvalidity/index.md
Labels: l10n-ja

#24326 Web/API/HTMLButtonElement/form を新規翻訳
  files/ja/web/api/htmlbuttonelement/form/index.md
Labels: l10n-ja

#24327 Web/API/HTMLButtonElement/willValidate を新規翻訳
  files/ja/web/api/htmlbuttonelement/willvalidate/index.md
Labels: l10n-ja

#24328 Web/API/HTMLButtonElement/formNoValidate 他1件を新規翻訳
  files/ja/web/api/htmlbuttonelement/formnovalidate/index.md
  files/ja/web/api/htmlinputelement/formnovalidate/index.md
Labels: l10n-ja

#24329 Web/API/HTMLButtonElement/formTarget 他1件を新規翻訳
  files/ja/web/api/htmlbuttonelement/formtarget/index.md
  files/ja/web/api/htmlinputelement/formtarget/index.md
Labels: l10n-ja

#24330 Web/API/HTMLInputElement/cancel_event を新規翻訳
  files/ja/web/api/htmlinputelement/cancel_event/index.md
Labels: l10n-ja

#24331 Web/API/HTMLSelectElement/autocomplete を新規翻訳
  files/ja/web/api/htmlselectelement/autocomplete/index.md
Labels: l10n-ja

#24332 Web/API/HTMLFormElement/noValidate を新規翻訳
  files/ja/web/api/htmlformelement/novalidate/index.md
Labels: l10n-ja

#24334 Web/API/HTMLTextAreaElement を更新
  files/ja/web/api/htmltextareaelement/index.md
Labels: l10n-ja

#24335 Web/API/HTMLTextAreaElement/autocomplete を新規翻訳
  files/ja/web/api/htmltextareaelement/autocomplete/index.md
Labels: l10n-ja

#24336 Web/API/HTMLTextAreaElement/form を新規翻訳
  files/ja/web/api/htmltextareaelement/form/index.md
Labels: l10n-ja

#24337 Web/API/HTMLTextAreaElement/maxLength 他1件を新規翻訳
  files/ja/web/api/htmltextareaelement/maxlength/index.md
  files/ja/web/api/htmltextareaelement/minlength/index.md
Labels: l10n-ja

#24338 Web/API/HTMLTextAreaElement/cols 他5件を新規翻訳
  files/ja/web/api/htmltextareaelement/cols/index.md
  files/ja/web/api/htmltextareaelement/defaultvalue/index.md
  files/ja/web/api/htmltextareaelement/disabled/index.md
  files/ja/web/api/htmltextareaelement/placeholder/index.md
  files/ja/web/api/htmltextareaelement/readonly/index.md
  files/ja/web/api/htmltextareaelement/required/index.md
Labels: l10n-ja

#24380 Web/CSS/transition-delay CSS Link 追加
  files/ja/web/css/transition-delay/index.md
Labels: l10n-ja

#24390 [zh-CN]: add translation for `Navigation.currentEntry`
  files/zh-cn/web/api/navigation/currententry/index.md
Labels: l10n-zh

#24389 [zh-CN]: add translation for `Navigation.activation`
  files/zh-cn/web/api/navigation/activation/index.md
Labels: l10n-zh

#24343 Web/API/HTMLTextAreaElement/selectionEnd を新規翻訳
  files/ja/web/api/htmltextareaelement/selectionend/index.md
Labels: l10n-ja

#24344 Web/API/HTMLTextAreaElement/selectionDirection 他1件を新規翻訳
  files/ja/web/api/htmltextareaelement/selectiondirection/index.md
  files/ja/web/api/htmltextareaelement/selectionstart/index.md
Labels: l10n-ja

#24345 Web/API/HTMLTextAreaElement/validationMessage を新規翻訳
  files/ja/web/api/htmltextareaelement/validationmessage/index.md
Labels: l10n-ja

#24346 Web/API/HTMLTextAreaElement/validity を新規翻訳
  files/ja/web/api/htmltextareaelement/validity/index.md
Labels: l10n-ja

#24347 Web/API/HTMLTextAreaElement/value を新規翻訳
  files/ja/web/api/htmltextareaelement/value/index.md
Labels: l10n-ja

#24348 Web/API/HTMLTextAreaElement/willValidate を新規翻訳
  files/ja/web/api/htmltextareaelement/willvalidate/index.md
Labels: l10n-ja

#24349 Web/API/HTMLTextAreaElement/rows 他2件を新規翻訳
  files/ja/web/api/htmltextareaelement/rows/index.md
  files/ja/web/api/htmltextareaelement/textlength/index.md
  files/ja/web/api/htmltextareaelement/wrap/index.md
Labels: l10n-ja

#24350 Web/API/HTMLTextAreaElement/checkValidity を新規翻訳
  files/ja/web/api/htmltextareaelement/checkvalidity/index.md
Labels: l10n-ja

#24351 HTMLElementのinvalidイベントをリダイレクト設定
  files/ja/_redirects.txt
Labels: l10n-ja

#24353 Web/API/HTMLTextAreaElement/select を新規翻訳
  files/ja/web/api/htmltextareaelement/select/index.md
Labels: l10n-ja

#24354 Web/API/HTMLTextAreaElement/setCustomValidity を新規翻訳
  files/ja/web/api/htmltextareaelement/setcustomvalidity/index.md
Labels: l10n-ja

#24356 Web/API/HTMLTextAreaElement/setRangeText を新規翻訳
  files/ja/web/api/htmltextareaelement/setrangetext/index.md
Labels: l10n-ja

#24357 Web/API/HTMLTextAreaElement/setSelectionRange を新規翻訳
  files/ja/web/api/htmltextareaelement/setselectionrange/index.md
Labels: l10n-ja

#24358 HTMLInputElement/checkValidity を追加修正
  files/ja/web/api/htmlinputelement/checkvalidity/index.md
Labels: l10n-ja

#24359 HTMLInputElement/reportValidity を追加修正
  files/ja/web/api/htmlinputelement/reportvalidity/index.md
Labels: l10n-ja

#24360 Web/JavaScript/Guide/Modules を更新
  files/ja/web/javascript/guide/modules/index.md
Labels: l10n-ja

#24391 [ru]: update `Web/HTML/Element/meta/name/theme-color` translation
  files/ru/web/html/element/meta/name/theme-color/index.md
Labels: l10n-ru

#24414 zh-tw: replace the polyfill with the link to `core-js`
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-zh

#24367 Web/JavaScript/Reference/Classes 他4件を更新
  files/ja/web/javascript/reference/classes/constructor/index.md
  files/ja/web/javascript/reference/classes/extends/index.md
  files/ja/web/javascript/reference/classes/index.md
  files/ja/web/javascript/reference/classes/public_class_fields/index.md
  files/ja/web/javascript/reference/classes/static/index.md
Labels: l10n-ja

#24369 Web/JavaScript/Reference/Classes/Static_initialization_blocks を更新
  files/ja/web/javascript/reference/classes/static_initialization_blocks/index.md
Labels: l10n-ja

#24216 zh-cn: sync the translation of 'inheritance and the prototype chain'
  files/zh-cn/glossary/class/index.md
  files/zh-cn/glossary/inheritance/index.md
  files/zh-cn/glossary/prototype/index.md
  files/zh-cn/web/javascript/closures/index.md
  files/zh-cn/web/javascript/index.md
  files/zh-cn/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/index.md
Labels: l10n-zh

#24365 [zh-cn]: create doc for WebHID API
  files/zh-cn/web/api/webhid_api/index.md
Labels: l10n-zh

#24404 header要素について、意味が逆に捉えられかねない箇所を修正
  files/ja/web/html/element/header/index.md
Labels: l10n-ja

#24281 zh-cn: update "Drawing graphics"
  files/zh-cn/learn/javascript/client-side_web_apis/drawing_graphics/index.md
Labels: l10n-zh

#24285 [zh-cn]: create docs for HID
  files/zh-cn/web/api/hid/connect_event/index.md
  files/zh-cn/web/api/hid/disconnect_event/index.md
  files/zh-cn/web/api/hid/getdevices/index.md
  files/zh-cn/web/api/hid/index.md
  files/zh-cn/web/api/hid/requestdevice/index.md
Labels: l10n-zh

#24364 [zh-cn]: create docs for HIDInputReportEvent
  files/zh-cn/web/api/hidinputreportevent/data/index.md
  files/zh-cn/web/api/hidinputreportevent/device/index.md
  files/zh-cn/web/api/hidinputreportevent/index.md
  files/zh-cn/web/api/hidinputreportevent/reportid/index.md
Labels: l10n-zh

#24381 Web/CSS/transition-timing-function を更新
  files/ja/web/css/transition-timing-function/index.md
Labels: l10n-ja

#24385 Web/JavaScript/Reference/Template_literals を更新
  files/ja/web/javascript/reference/template_literals/index.md
Labels: l10n-ja

#24387 Web/JavaScript/Guide/Functions を更新
  files/ja/web/javascript/guide/functions/index.md
Labels: l10n-ja

#24388 Web/JavaScript/Reference/Functions/Arrow_functions を更新
  files/ja/web/javascript/reference/functions/arrow_functions/index.md
Labels: l10n-ja

#24382 Update Array.prototype.splice()
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-ja

#24383 CSSのjustify-contentのタイポ修正
  files/ja/web/css/justify-content/index.md
Labels: l10n-ja

#24451 Web/JavaScript/Reference/Global_Objects/Math/exp を更新
  files/ja/web/javascript/reference/global_objects/math/exp/index.md
Labels: l10n-ja

#24395 [zh-cn]: update for backdrop pseudo-element
  files/zh-cn/web/css/_doublecolon_backdrop/index.md
Labels: l10n-zh

#24460 fixes macro typo, replaced glossary entry for XSS with working link
  files/es/web/http/cookies/index.md
Labels: l10n-es

#24401 Web/CSS/anchor を新規翻訳
  files/ja/web/css/anchor/index.md
Labels: l10n-ja

#24402 [zh-CN]: add translation for `Navigation`
  files/zh-cn/web/api/navigation/index.md
Labels: l10n-zh

#24400 [zh-cn]: update for "visibilitychange event"
  files/zh-cn/web/api/document/visibilitychange_event/index.md
Labels: l10n-zh

#24482 ja: removes deprecated macros for rari compatibility
  files/ja/web/css/-webkit-mask-box-image/index.md
Labels: l10n-ja

#24484 es: removes deprecated macros for rari compatibility
  files/es/web/api/window/index.md
  files/es/web/css/-webkit-mask-box-image/index.md
  files/es/web/css/-webkit-mask-composite/index.md
  files/es/web/css/border-left-color/index.md
  files/es/web/css/min-width/index.md
  files/es/web/css/right/index.md
  files/es/web/css/top/index.md
  files/es/web/html/element/a/index.md
  files/es/web/html/element/address/index.md
  files/es/web/html/element/bdi/index.md
  files/es/web/html/element/data/index.md
  files/es/web/html/element/datalist/index.md
  files/es/web/html/element/details/index.md
  files/es/web/html/element/dialog/index.md
  files/es/web/html/element/div/index.md
  files/es/web/html/element/dl/index.md
  files/es/web/html/element/em/index.md
  files/es/web/html/element/figcaption/index.md
  files/es/web/html/element/heading_elements/index.md
  files/es/web/html/element/iframe/index.md
  files/es/web/html/element/label/index.md
  files/es/web/html/element/mark/index.md
  files/es/web/html/element/menu/index.md
  files/es/web/html/element/nav/index.md
  files/es/web/html/element/object/index.md
  files/es/web/html/element/picture/index.md
  files/es/web/html/element/pre/index.md
  files/es/web/html/element/progress/index.md
  files/es/web/html/element/q/index.md
  files/es/web/html/element/section/index.md
  files/es/web/html/element/slot/index.md
  files/es/web/html/element/template/index.md
  files/es/web/html/element/textarea/index.md
  files/es/web/svg/element/script/index.md
Labels: l10n-es

#24374 [zh-cn]: create doc for "Fenced Frame API"
  files/zh-cn/web/api/fenced_frame_api/index.md
Labels: l10n-zh

#24497 zh-cn: fix typos
  files/zh-cn/web/api/webgl_api/tutorial/index.md
Labels: l10n-zh

#24498 fix(zh-cn): fix a typo
  files/zh-cn/web/html/content_categories/index.md
Labels: l10n-zh

#24473 chore(zh-cn): Move CSS examples p1 - flexbox & box alignment
  files/zh-cn/web/css/css_box_alignment/box_alignment_in_flexbox/index.md
  files/zh-cn/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: l10n-zh

#24480 zh-CN: removes deprecated macros for rari compatibility
  files/zh-cn/web/api/window/innerheight/index.md
Labels: l10n-zh

#24408 Web/CSS/CSS_grid_layout を更新
  files/ja/web/css/css_grid_layout/index.md
Labels: l10n-ja

#24409 Web/CSS/aspect-ratio を更新
  files/ja/web/css/aspect-ratio/index.md
Labels: l10n-ja

#24411 Web/CSS/white-space-collapse を更新
  files/ja/web/css/white-space-collapse/index.md
Labels: l10n-ja

#24412 Web/CSS/font-size を更新
  files/ja/mozilla/firefox/releases/117/index.md
  files/ja/web/css/font-size/index.md
Labels: l10n-ja

#24413 リンクフラグメントを修正
  files/ja/web/css/all/index.md
Labels: l10n-ja

#24417 Web/HTML/Attributes/max 他1件を更新
  files/ja/web/html/attributes/max/index.md
  files/ja/web/html/attributes/multiple/index.md
Labels: l10n-ja

#24418 Web/HTML/Attributes/required を更新
  files/ja/web/html/attributes/required/index.md
Labels: l10n-ja

#24419 Web/HTML/Attributes/rel を更新
  files/ja/web/html/attributes/rel/index.md
Labels: l10n-ja

#24420 Web/HTML/Attributes/rel/manifest を更新
  files/ja/web/html/attributes/rel/manifest/index.md
Labels: l10n-ja

#24421 Web/HTML/Attributes/rel/me を更新
  files/ja/web/html/attributes/rel/me/index.md
Labels: l10n-ja

#24422 Web/HTML/Attributes/rel/preload を更新
  files/ja/web/html/attributes/rel/preload/index.md
Labels: l10n-ja

#24291 [ko] fix: update learn/Accessibility sourceCommit
  files/ko/learn/accessibility/index.md
Labels: l10n-ko

#24299 [ko] chore(css): Move CSS examples - Pseudo-classes and pseudo-elements
  files/ko/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: l10n-ko

#24302 [ko] fix: update mdn/guide sourceCommit - 2
  files/ko/mdn/community/contributing/getting_started/index.md
Labels: l10n-ko

#24423 Learn/Getting_started_with_the_web 更新
  files/ja/learn/getting_started_with_the_web/index.md
Labels: l10n-ja

#24424 リンクフラグメントを修正
  files/ja/learn/getting_started_with_the_web/css_basics/index.md
Labels: l10n-ja

#24425 Learn/Getting_started_with_the_web/The_web_and_web_standards を更新
  files/ja/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: l10n-ja

#24426 Web/CSS/forced-color-adjust を更新
  files/ja/web/css/forced-color-adjust/index.md
Labels: l10n-ja

#24427 Web/CSS/Pseudo-classes を更新
  files/ja/web/css/pseudo-classes/index.md
Labels: l10n-ja

#24428 Web/API/CanvasRenderingContext2D/filter を新規翻訳
  files/ja/web/api/canvasrenderingcontext2d/filter/index.md
Labels: l10n-ja

#24429 sourceCommit: を修正
  files/ja/web/api/htmltextareaelement/select/index.md
Labels: l10n-ja

#24430 Learn/HTML/Introduction_to_HTML を更新
  files/ja/learn/html/introduction_to_html/index.md
Labels: l10n-ja

#24432 Learn/HTML/Introduction_to_HTML/Getting_started を更新
  files/ja/learn/html/introduction_to_html/getting_started/index.md
Labels: l10n-ja

#24433 Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML を更新
  files/ja/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
Labels: l10n-ja

#24434 Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals を更新
  files/ja/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-ja

#24437 Web/HTML/Element/textarea を更新
  files/ja/web/html/element/textarea/index.md
Labels: l10n-ja

#24438 Web/HTML/Element/marquee を更新
  files/ja/web/html/element/marquee/index.md
Labels: l10n-ja

#24439 Web/HTML/Element/script を更新
  files/ja/web/html/element/script/index.md
Labels: l10n-ja

#24440 用語の修正: 属性ソース→帰属ソース、属性トリガー→帰属トリガー
  files/ja/web/api/htmlanchorelement/attributionsrc/index.md
  files/ja/web/api/htmlscriptelement/attributionsrc/index.md
  files/ja/web/api/htmlscriptelement/index.md
Labels: l10n-ja

#24441 Web/Media/Formats/Video_codecs を更新
  files/ja/web/media/formats/video_codecs/index.md
Labels: l10n-ja

#24442 Learn/CSS を更新
  files/ja/learn/css/index.md
Labels: l10n-ja

#24444 Web/JavaScript/Reference/Global_Objects/Math/atan2 を更新
  files/ja/web/javascript/reference/global_objects/math/atan2/index.md
Labels: l10n-ja

#24445 Web/JavaScript/Reference/Global_Objects/Math/acos 他5件を更新
  files/ja/web/javascript/reference/global_objects/math/acos/index.md
  files/ja/web/javascript/reference/global_objects/math/acosh/index.md
  files/ja/web/javascript/reference/global_objects/math/asin/index.md
  files/ja/web/javascript/reference/global_objects/math/asinh/index.md
  files/ja/web/javascript/reference/global_objects/math/atan/index.md
  files/ja/web/javascript/reference/global_objects/math/atanh/index.md
Labels: l10n-ja

#24446 Web/JavaScript/Reference/Global_Objects/Math/abs を更新
  files/ja/web/javascript/reference/global_objects/math/abs/index.md
Labels: l10n-ja

#24448 Web/JavaScript/Reference/Global_Objects/Math/clz32 を更新
  files/ja/web/javascript/reference/global_objects/math/clz32/index.md
Labels: l10n-ja

#24500 [ja] getDisplayMedia: Fix typo
  files/ja/web/api/mediadevices/getdisplaymedia/index.md
Labels: l10n-ja

#24481 ko: removes deprecated macros for rari compatibility
  files/ko/web/api/document/adoptnode/index.md
Labels: l10n-ko

#24483 fr: removes deprecated macros for rari compatibility
  files/fr/web/api/window/index.md
  files/fr/web/api/window/innerheight/index.md
  files/fr/web/html/element/i/index.md
  files/fr/web/html/element/kbd/index.md
  files/fr/web/html/element/label/index.md
  files/fr/web/html/element/map/index.md
  files/fr/web/html/element/mark/index.md
  files/fr/web/html/element/meter/index.md
  files/fr/web/html/element/nav/index.md
  files/fr/web/html/element/noscript/index.md
  files/fr/web/html/element/output/index.md
  files/fr/web/html/element/picture/index.md
  files/fr/web/html/element/progress/index.md
  files/fr/web/html/element/q/index.md
  files/fr/web/html/element/ruby/index.md
  files/fr/web/html/element/s/index.md
  files/fr/web/html/element/script/index.md
  files/fr/web/html/element/section/index.md
  files/fr/web/html/element/select/index.md
  files/fr/web/html/element/slot/index.md
  files/fr/web/html/element/span/index.md
  files/fr/web/html/element/sup/index.md
  files/fr/web/html/element/table/index.md
  files/fr/web/html/element/template/index.md
  files/fr/web/html/element/textarea/index.md
  files/fr/web/html/element/time/index.md
  files/fr/web/html/element/tt/index.md
  files/fr/web/html/element/u/index.md
  files/fr/web/html/element/ul/index.md
  files/fr/web/html/element/var/index.md
  files/fr/web/html/element/video/index.md
Labels: l10n-fr

#24487 Typofix for fr `<img>` page
  files/fr/web/html/element/img/index.md
Labels: l10n-fr

#24384 Typofix for fr `<textarea>` page
  files/fr/web/html/element/textarea/index.md
Labels: l10n-fr

#24459 fix mistyped macro call
  files/ko/web/api/event/type/index.md
Labels: l10n-ko

#24508 zh-cn: fix typo
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
Labels: l10n-zh

#24436 zh-CN: update `AudioContext.createScriptProcessor()`
  files/zh-cn/web/api/baseaudiocontext/createscriptprocessor/index.md
Labels: l10n-zh

#24461 [zh-cn] update 'What is CSS?'
  files/zh-cn/learn/css/first_steps/what_is_css/index.md
Labels: l10n-zh

#24450 Web/JavaScript/Reference/Global_Objects/Math/cbrt 他1件を更新
  files/ja/web/javascript/reference/global_objects/math/cbrt/index.md
  files/ja/web/javascript/reference/global_objects/math/cosh/index.md
Labels: l10n-ja

#24452 Web/JavaScript/Reference/Global_Objects/Math/expm1 を更新
  files/ja/web/javascript/reference/global_objects/math/expm1/index.md
Labels: l10n-ja

#24453 Web/JavaScript/Reference/Global_Objects/Math/f16round を新規翻訳
  files/ja/web/javascript/reference/global_objects/math/f16round/index.md
Labels: l10n-ja

#24464 Web/JavaScript/Reference/Global_Objects/Math/floor を更新
  files/ja/web/javascript/reference/global_objects/math/floor/index.md
Labels: l10n-ja

#24465 Web/JavaScript/Reference/Global_Objects/Math/fround を更新
  files/ja/web/javascript/reference/global_objects/math/fround/index.md
Labels: l10n-ja

#24467 Web/JavaScript/Reference/Global_Objects/Math/imul を更新
  files/ja/web/javascript/reference/global_objects/math/imul/index.md
Labels: l10n-ja

#24468 Web/JavaScript/Reference/Global_Objects/Math/min を更新
  files/ja/web/javascript/reference/global_objects/math/min/index.md
Labels: l10n-ja

#24469 Web/JavaScript/Reference/Global_Objects/Math/random を更新
  files/ja/web/javascript/reference/global_objects/math/random/index.md
Labels: l10n-ja
