Repository mdn/translated-content, pull requests merged in 2024-01, with the labels that each got.

#17666 zh-cn: update the translation of `new`
  files/zh-cn/web/javascript/reference/operators/new/index.md
Labels: l10n-zh

#17674 scrollbar removed in embedded live sample for `<article>`
  files/fr/web/html/element/article/index.md
Labels: l10n-fr

#17650 [zh-cn]: update the translations of Atomics notify(), wait() and waitAsync()
  files/zh-cn/web/javascript/reference/global_objects/atomics/notify/index.md
  files/zh-cn/web/javascript/reference/global_objects/atomics/wait/index.md
  files/zh-cn/web/javascript/reference/global_objects/atomics/waitasync/index.md
Labels: l10n-zh

#17585 [zh-cn] Update Element API index
  files/zh-cn/web/api/element/index.md
Labels: l10n-zh

#17675 [zh-cn] Update global origin property
  files/zh-cn/web/api/origin/index.md
Labels: l10n-zh

#17676 [zh-cn] update customevent constructor
  files/zh-cn/web/api/customevent/customevent/index.md
Labels: l10n-zh

#17678 [zh-cn]: update the translation of AsyncFunction
  files/zh-cn/web/javascript/reference/global_objects/asyncfunction/asyncfunction/index.md
  files/zh-cn/web/javascript/reference/global_objects/asyncfunction/index.md
Labels: l10n-zh

#17617 fix(es): remove duplicate headings
  files/es/glossary/hoisting/index.md
  files/es/learn/css/css_layout/floats/index.md
  files/es/learn/css/css_layout/introduction/index.md
  files/es/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/es/learn/server-side/django/sessions/index.md
  files/es/web/api/cssrule/index.md
  files/es/web/api/document/getelementbyid/index.md
  files/es/web/api/event/bubbles/index.md
  files/es/web/api/window/index.md
  files/es/web/css/_colon_indeterminate/index.md
  files/es/web/css/next-sibling_combinator/index.md
  files/es/web/html/element/input/color/index.md
  files/es/web/html/element/input/range/index.md
  files/es/web/html/element/title/index.md
  files/es/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-es

#17399 [ko]: translate `web/api/BroadcastChannel/messageerror_event`
  files/ko/web/api/broadcastchannel/messageerror_event/index.md
Labels: l10n-ko

#17647 Web/API/CSS_Font_Loading_API を更新
  files/ja/web/api/css_font_loading_api/index.md
Labels: l10n-ja

#17683 [zh-cn]: update the translation of well-known CSS techniques
  files/zh-cn/web/svg/tutorial/clipping_and_masking/index.md
Labels: l10n-zh

#17684 [zh-cn] update setmilliseconds method
  files/zh-cn/web/javascript/reference/global_objects/date/setmilliseconds/index.md
Labels: l10n-zh

#17682 [zh-cn]: update the translation of Generator.next()
  files/zh-cn/web/javascript/reference/global_objects/generator/next/index.md
Labels: l10n-zh

#17685 [zh-cn] update code examples of 'Home page'
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/home_page/index.md
Labels: l10n-zh

#17681 [zh-cn]: update the translation of Generator.overview
  files/zh-cn/web/javascript/reference/global_objects/generator/index.md
Labels: l10n-zh

#17692 fix typo in `setmilliseconds` for zh-CN
  files/zh-cn/web/javascript/reference/global_objects/date/setmilliseconds/index.md
Labels: l10n-zh

#17700 [zh-cn]: more accurate description for `side-or-conrner` value of `linear-gradient`
  files/zh-cn/web/css/gradient/linear-gradient/index.md
Labels: l10n-zh

#17703 Fix a code block style
  files/zh-cn/learn/css/building_blocks/styling_tables/index.md
Labels: l10n-zh

#17698 zh-cn: update the translation of `Attr` interface
  files/zh-cn/web/api/attr/index.md
Labels: l10n-zh

#17699 fix(ru): remove duplicate headings
  files/ru/learn/server-side/django/deployment/index.md
  files/ru/web/api/event/bubbles/index.md
  files/ru/web/api/eventsource/index.md
  files/ru/web/api/screen_capture_api/using_screen_capture/index.md
  files/ru/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/ru/web/css/margin/index.md
  files/ru/web/css/visual_formatting_model/index.md
  files/ru/web/html/element/dfn/index.md
  files/ru/web/html/element/title/index.md
  files/ru/web/javascript/guide/loops_and_iteration/index.md
  files/ru/web/javascript/reference/global_objects/unescape/index.md
  files/ru/web/javascript/reference/statements/import/index.md
  files/ru/web/javascript/reference/statements/let/index.md
  files/ru/web/svg/element/ellipse/index.md
Labels: l10n-ru

#17707 [ru] fix CSS code highlight on `Learn/CSS/Building_blocks/Styling_tables`
  files/ru/learn/css/building_blocks/styling_tables/index.md
Labels: l10n-ru

#17520 [es] remove all occurrences of obsolete links to `mozvr.com`
  files/es/web/api/webvr_api/index.md
  files/es/web/demos/index.md
Labels: l10n-es

#17708 [ru] fix sample on `Learn/JavaScript/First_steps/What_is_JavaScript`
  files/ru/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-ru

#17709 [ru] remove `page` macro usage on `Web/JavaScript/Reference/Global_Objects/Date/toLocaleString`
  files/ru/web/javascript/reference/global_objects/date/tolocalestring/index.md
Labels: l10n-ru

#17710 [ru] update `Web/JavaScript/Reference/Global_Objects/Date/toLocaleTimeString` translation
  files/ru/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/ru/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
Labels: l10n-ru

#17714 [zh-cn]: update the translation of Generator.throw()
  files/zh-cn/web/javascript/reference/global_objects/generator/throw/index.md
Labels: l10n-zh

#17663 表記の揺れを統一
  files/ja/learn/css/styling_text/fundamentals/index.md
  files/ja/mozilla/firefox/releases/7/index.md
Labels: l10n-ja

#17664 orphaned/Working_with_windows_in_chrome_code を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/working_with_windows_in_chrome_code/index.md
Labels: l10n-ja

#17665 conflicting/Web/XSLT/Transforming_XML_with_XSLT を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/xslt/transforming_xml_with_xslt/index.md
Labels: l10n-ja

#17711 [zh-cn]: update the translation of Generator.return()
  files/zh-cn/web/javascript/reference/global_objects/generator/return/index.md
  files/zh-cn/web/javascript/reference/statements/try...catch/index.md
Labels: l10n-zh

#17723 orphaned/Web/Web_Components/Status_in_Firefox を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/web/web_components/status_in_firefox/index.md
Labels: l10n-ja

#17717 [zh-cn] init translation for `Lock.mode` & `Lock.name`
  files/zh-cn/web/api/lock/mode/index.md
  files/zh-cn/web/api/lock/name/index.md
Labels: l10n-zh

#17728 [zh-cn] update 'control mechanisms'
  files/zh-cn/games/techniques/control_mechanisms/index.md
Labels: l10n-zh

#17729 [zh-cn] update '3d on the web'
  files/zh-cn/games/techniques/3d_on_the_web/index.md
Labels: l10n-zh

#17733 [ru] remove `page` macro usage from `Web/JavaScript/Reference/Global_Objects/Date`
  files/ru/web/javascript/reference/global_objects/date/index.md
Labels: l10n-ru

#17734 [ru] update `Web/JavaScript/Reference/Global_Objects/Error` translation
  files/ru/web/javascript/reference/global_objects/error/index.md
Labels: l10n-ru

#17740 [zh-cn]: update the translation of GeneratorFunction overview
  files/zh-cn/web/javascript/reference/global_objects/generatorfunction/index.md
Labels: l10n-zh

#17744 [ru] update `Web/JavaScript/Reference/Global_Objects/EvalError` translation
  files/ru/web/javascript/reference/global_objects/error/index.md
  files/ru/web/javascript/reference/global_objects/evalerror/index.md
Labels: l10n-ru

#17738 [zh-cn] update '2d collision detection'
  files/zh-cn/games/techniques/2d_collision_detection/index.md
Labels: l10n-zh

#17748 zh-cn: fix render issue
  files/zh-cn/web/javascript/reference/global_objects/symbol/isconcatspreadable/index.md
Labels: l10n-zh

#17749 [ru] update `Web/JavaScript/Reference/Global_Objects/GeneratorFunction` translation
  files/ru/web/javascript/reference/global_objects/generatorfunction/index.md
Labels: l10n-ru

#17752 [ru] update `Web/JavaScript/Reference/Global_Objects/InternalError` translation
  files/ru/web/javascript/reference/global_objects/internalerror/index.md
Labels: l10n-ru

#17688 #17671 の自動反映の後始末
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/api/mediarecorder/index.md
  files/ja/conflicting/web/api/mediastreamtrack/index.md
  files/ja/orphaned/web/api/window/defaultstatus/index.md
  files/ja/web/api/htmlelement/autofocus/index.md
Labels: l10n-ja

#17689 Web/HTML/Global_attributes/inputmode を更新
  files/ja/web/html/global_attributes/inputmode/index.md
Labels: l10n-ja

#17690 Glossary/Color_wheel を新規翻訳
  files/ja/glossary/color_wheel/index.md
Labels: l10n-ja

#17694 Web/API/Window/open を更新
  files/ja/web/api/window/open/index.md
Labels: l10n-ja

#17701 Glossary/Hoisting を更新
  files/ja/glossary/hoisting/index.md
Labels: l10n-ja

#17702 Web/JavaScript/Reference/Operators/function を更新
  files/ja/web/javascript/reference/operators/function/index.md
Labels: l10n-ja

#17695 Web/JavaScript/Reference/Statements/const を更新
  files/ja/web/javascript/reference/statements/const/index.md
Labels: l10n-ja

#17751 [zh-cn]: add the translation of GeneratorFunction constructor
  files/zh-cn/web/javascript/reference/global_objects/generatorfunction/generatorfunction/index.md
Labels: l10n-zh

#17759 zh-cn: add missing statements
  files/zh-cn/web/javascript/reference/statements/try...catch/index.md
Labels: l10n-zh

#17760 [zh-cn]: update the translation of asyncGeneratorFunction
  files/zh-cn/web/javascript/reference/global_objects/asyncgeneratorfunction/asyncgeneratorfunction/index.md
  files/zh-cn/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
Labels: l10n-zh

#17747 [ko] update `Web/JavaScript/Reference/Global_Objects/Array/toSpliced` translation
  files/ko/web/javascript/reference/global_objects/array/tospliced/index.md
Labels: l10n-ko

#17394 [ko]: translate `web/api/BroadcastChannel/close`
  files/ko/web/api/broadcastchannel/close/index.md
Labels: l10n-ko

#17435 [ko] fix web/http markdown, link
  files/ko/web/http/index.md
Labels: l10n-ko

#17491 add(aria_describedby): 문서 추가
  files/ko/web/accessibility/aria/attributes/aria-describedby/index.md
Labels: l10n-ko

#17761 [zh-cn]: update the translation of AsyncGenerator overview
  files/zh-cn/web/javascript/reference/global_objects/asyncgenerator/index.md
Labels: l10n-zh

#17768 Follow-up #17765 #17737
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/conflicting/web/css/_doublecolon_-webkit-inner-spin-button/index.md
Labels: l10n-fr

#17745 zh-cn: init translation of advanced svelte
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_components/index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_reactivity_lifecycle_accessibility/index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/index.md
  files/zh-cn/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.md
Labels: l10n-zh

#17741 [ru] Web/CSS/@layer
  files/ru/web/css/@layer/index.md
Labels: l10n-ru

#17769 [ru] unify term `@-rules` usage
  files/ru/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
  files/ru/web/css/@document/index.md
  files/ru/web/css/@font-face/index.md
  files/ru/web/css/@font-feature-values/index.md
  files/ru/web/css/@media/index.md
  files/ru/web/css/@namespace/index.md
  files/ru/web/css/@supports/index.md
  files/ru/web/css/_colon_left/index.md
  files/ru/web/css/at-rule/index.md
  files/ru/web/css/css_animations/index.md
  files/ru/web/css/css_fonts/index.md
  files/ru/web/css/css_media_queries/index.md
Labels: l10n-ru

#17770 [ru] remove untranslated document `Web/CSS/url`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/web/css/url/index.md
Labels: l10n-ru

#17772 [ru] remove untranslated document `Web/CSS/Cascade`
  files/ru/_wikihistory.json
  files/ru/web/css/cascade/index.md
Labels: l10n-ru

#17773 [ru] remove untranslated document `Web/API/Web_Authentication_API`
  files/ru/_wikihistory.json
  files/ru/web/api/web_authentication_api/index.md
Labels: l10n-ru

#17774 [ru] remove obsolete `conflicting/Web/Performance`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/performance/index.md
Labels: l10n-ru

#17775 [ru] remove obsolete `conflicting/Learn/Forms/Form_validation`
  files/ru/_redirects.txt
  files/ru/conflicting/learn/forms/form_validation/index.md
Labels: l10n-ru

#17776 [ru] remove obsolete `conflicting/Learn/HTML/Multimedia_and_embedding/Images_in_HTML`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: l10n-ru

#17777 [ru] remove obsolete `conflicting/Learn/Server-side/Express_Nodejs/Displaying_data`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/server-side/express_nodejs/displaying_data/index.md
Labels: l10n-ru

#17778 [ru] remove obsolete `conflicting/Learn/JavaScript/Objects/Classes_in_JavaScript`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/javascript/objects/classes_in_javascript/index.md
  files/ru/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-inherited-3.png
  files/ru/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-instantiation-2.png
  files/ru/conflicting/learn/javascript/objects/classes_in_javascript/mdn-graphics-instantiation-teacher-3.png
  files/ru/conflicting/learn/javascript/objects/classes_in_javascript/person-diagram.png
Labels: l10n-ru

#17779 [ru] remove obsolete `Web/JavaScript/JavaScript_technologies_overview_0191f05ec18a4ee4d771b548feb0701d`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/javascript_technologies_overview_0191f05ec18a4ee4d771b548feb0701d/index.md
Labels: l10n-ru

#17780 [ru] remove obsolete `Web/JavaScript/JavaScript_technologies_overview`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/javascript_technologies_overview/index.md
Labels: l10n-ru

#17782 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Deprecated_and_obsolete_features`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/ru/conflicting/web/javascript/reference/deprecated_and_obsolete_features_3720fcfc8cf309ee8f3b5f3474dc9e12/index.md
  files/ru/conflicting/web/javascript/reference/deprecated_and_obsolete_features_9896c9277d53005e5ad73315265daed1/index.md
  files/ru/conflicting/web/javascript/reference/deprecated_and_obsolete_features_ce02ff996e57a0f0af4fbdf5f792ff46/index.md
Labels: l10n-ru

#17783 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Errors/Deprecated_octal`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/errors/deprecated_octal/index.md
Labels: l10n-ru

#17785 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Errors/Unexpected_type`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/errors/unexpected_type/index.md
Labels: l10n-ru

#17784 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Errors/Missing_formal_parameter`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/errors/missing_formal_parameter/index.md
Labels: l10n-ru

#17638 [pt-br] add translate pt-br for Web/SVG/Tutorial/Getting_Started
  files/pt-br/web/svg/tutorial/getting_started/index.md
Labels: l10n-pt-br

#17429 Fix #17418
  files/es/glossary/callback_function/index.md
Labels: l10n-es

#17787 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Strict_mode`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/strict_mode/index.md
Labels: l10n-ru

#17788 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/String`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/string/index.md
  files/ru/conflicting/web/javascript/reference/global_objects/string/tostring/index.md
  files/ru/conflicting/web/javascript/reference/global_objects/string_6fa58bba0570d663099f0ae7ae8883ab/index.md
  files/ru/conflicting/web/javascript/reference/global_objects/string_9094f63a1f7efd350dd69d6a8ae174fb/index.md
Labels: l10n-ru

#17789 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Array/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/array/tostring/index.md
Labels: l10n-ru

#17790 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Boolean/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/boolean/tostring/index.md
Labels: l10n-ru

#17791 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Date/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/date/tostring/index.md
Labels: l10n-ru

#17792 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Date/toUTCString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/date/toutcstring/index.md
Labels: l10n-ru

#17793 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Error/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/error/tostring/index.md
Labels: l10n-ru

#17794 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Function/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/function/tostring/index.md
Labels: l10n-ru

#17795 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Number/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/number/tostring/index.md
Labels: l10n-ru

#17796 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Object/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/object/tostring/index.md
Labels: l10n-ru

#17797 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/RegExp/toString`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/regexp/tostring/index.md
Labels: l10n-ru

#17798 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects/Symbol`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/symbol/index.md
Labels: l10n-ru

#17799 [ru] remove obsolete `conflicting/Web/JavaScript/Reference/Global_Objects`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/reference/global_objects/index.md
Labels: l10n-ru

#17800 [ru] remove obsolete `conflicting/Web/JavaScript`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/javascript/index.md
  files/ru/web/javascript/index.md
Labels: l10n-ru

#17767 zh-cn: init the translation of `LockManager.request()`
  files/zh-cn/web/api/lockmanager/request/index.md
Labels: l10n-zh

#17801 [zh-cn]: add the translation of AsyncGenerator.return()
  files/zh-cn/web/javascript/reference/global_objects/asyncgenerator/return/index.md
Labels: l10n-zh

#17766 init translation of `LockManager.query()`
  files/zh-cn/web/api/lockmanager/query/index.md
Labels: l10n-zh

#17762 [zh-cn]: add the translation of AsyncGenerator.next()
  files/zh-cn/web/javascript/reference/global_objects/asyncgenerator/next/index.md
Labels: l10n-zh

#17809 fix(zh-cn): remove wiki history to the deleted document
  files/zh-cn/_wikihistory.json
Labels: l10n-zh

#17654 zh-cn: update the translation of WebIDL information
  files/zh-cn/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
Labels: l10n-zh

#17810 [zh-cn] update text() constructor
  files/zh-cn/web/api/text/text/index.md
Labels: l10n-zh

#17813 [ru] remove obsolete `conflicting/Learn/CSS/CSS_layout/Responsive_Design`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/learn/css/css_layout/responsive_design/index.md
Labels: l10n-ru

#17814 [ru] remove obsolete `conflicting/Web/API/AbortSignal/abort_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/abortsignal/abort_event/index.md
Labels: l10n-ru

#17815 [ru] remove obsolete `conflicting/Web/API/Document/DOMContentLoaded_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/document/domcontentloaded_event/index.md
Labels: l10n-ru

#17816 [ru] remove obsolete `conflicting/Web/API/EventTarget/addEventListener`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-ru

#17817 [ru] remove obsolete `conflicting/Web/API/File/name`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/file/name/index.md
Labels: l10n-ru

#17818 [ru] remove obsolete `conflicting/Web/API/Geolocation/getCurrentPosition`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/geolocation/getcurrentposition/index.md
Labels: l10n-ru

#17820 [ru] update `Web/JavaScript/Reference/Global_Objects/Intl/Collator` translation
  files/ru/web/javascript/reference/global_objects/intl/collator/index.md
Labels: l10n-ru

#17822 [ru] update `Web/JavaScript/Reference/Global_Objects/RangeError` translation
  files/ru/web/javascript/reference/global_objects/rangeerror/index.md
Labels: l10n-ru

#17823 [ru] add `l10n.sourceCommit` front matter field to `Web/JavaScript/Reference/Global_Objects/Intl/Collator`
  files/ru/web/javascript/reference/global_objects/intl/collator/index.md
Labels: l10n-ru

#17705 Web/CSS/CSS_basic_user_interface を更新
  files/ja/web/css/css_basic_user_interface/index.md
Labels: l10n-ja

#17706 Web/CSS/accent-color を更新
  files/ja/web/css/accent-color/index.md
Labels: l10n-ja

#17713 Web/CSS/appearance を更新
  files/ja/web/css/appearance/index.md
Labels: l10n-ja

#17715 Web/CSS/caret-color を更新
  files/ja/web/css/caret-color/index.md
Labels: l10n-ja

#17718 Web/CSS/cursor を更新
  files/ja/web/css/cursor/index.md
Labels: l10n-ja

#17720 Web/CSS/pointer-events を更新
  files/ja/web/css/pointer-events/index.md
Labels: l10n-ja

#17725 Web/CSS/user-select を更新
  files/ja/web/css/user-select/index.md
Labels: l10n-ja

#17726 conflicting/Web/API/CloseEvent を削除
  files/ja/_redirects.txt
  files/ja/conflicting/web/api/closeevent/index.md
Labels: l10n-ja

#17727 古い :-moz-focusring 擬似クラスの記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/css/_colon_focus-visible/index.md
Labels: l10n-ja

#17731 Web/API/CaretPosition を更新
  files/ja/web/api/caretposition/index.md
Labels: l10n-ja

#17732 Web/Accessibility/ARIA を更新
  files/ja/web/accessibility/aria/index.md
Labels: l10n-ja

#17746 Web/CSS/dashed-ident の記事を更新
  files/ja/web/css/dashed-ident/index.md
Labels: l10n-ja

#17721 Web/CSS/resize を更新
  files/ja/web/css/resize/index.md
Labels: l10n-ja

#17826 [ru] update `Web/JavaScript/Reference/Global_Objects/SyntaxError` translation
  files/ru/web/javascript/reference/global_objects/syntaxerror/index.md
Labels: l10n-ru

#17827 [ru] update `Web/JavaScript/Reference/Global_Objects/TypeError` translation
  files/ru/web/javascript/reference/global_objects/evalerror/index.md
  files/ru/web/javascript/reference/global_objects/typeerror/index.md
Labels: l10n-ru

#17828 [ru] update `Web/JavaScript/Reference/Global_Objects/URIError` translation
  files/ru/web/javascript/reference/global_objects/urierror/index.md
Labels: l10n-ru

#17829 [ru] remove obsolete `conflicting/Web/API/HTMLElement/dragstart_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/htmlelement/dragstart_event/index.md
Labels: l10n-ru

#17830 [ru] remove obsolete `conflicting/Web/API/HTMLMediaElement/abort_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/htmlmediaelement/abort_event/index.md
Labels: l10n-ru

#17831 [ru] remove obsolete `conflicting/Web/API/Pointer_events`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/pointer_events/index.md
Labels: l10n-ru

#17832 [ru] remove obsolete `conflicting/Web/API/UIEvent/which`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/uievent/which/index.md
  files/ru/web/api/uievent/which/index.md
Labels: l10n-ru

#17833 [zh-cn]: add the translation of AsyncGenerator.throw()
  files/zh-cn/web/javascript/reference/global_objects/asyncgenerator/throw/index.md
Labels: l10n-zh

#17461 ko: update Array.prototype.join()
  files/ko/web/javascript/reference/global_objects/array/join/index.md
Labels: l10n-ko

#17838 [ru] remove obsolete `conflicting/Web/API/Element/clientHeight`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/element/clientheight/index.md
Labels: l10n-ru

#17839 [ru] remove obsolete `conflicting/Web/API/Element/keydown_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/element/keydown_event/index.md
Labels: l10n-ru

#17841 [ru] remove obsolete `conflicting/Web/API/Element/mousedown_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/element/mousedown_event/index.md
Labels: l10n-ru

#17842 [ru] remove obsolete `conflicting/Web/API/Element/mouseup_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/element/mouseup_event/index.md
Labels: l10n-ru

#17843 [ru] remove obsolete `conflicting/Web/API/Window/beforeunload_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/beforeunload_event/index.md
Labels: l10n-ru

#17844 [ru] remove obsolete `conflicting/Web/API/Window/deviceorientation_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/deviceorientation_event/index.md
Labels: l10n-ru

#17845 [ru] remove obsolete `conflicting/Web/API/Window/gamepadconnected_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/gamepadconnected_event/index.md
Labels: l10n-ru

#17587 fix: remove extra curly braces from macro calls
  files/es/glossary/browsing_context/index.md
  files/es/web/api/idbcursor/index.md
  files/es/web/http/csp/index.md
  files/fr/glossary/prototype-based_programming/index.md
  files/fr/learn/css/css_layout/legacy_layout_methods/index.md
  files/fr/learn/forms/form_validation/index.md
  files/fr/learn/forms/how_to_build_custom_form_controls/index.md
  files/fr/learn/html/index.md
  files/fr/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/fr/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/fr/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/fr/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/fr/mozilla/add-ons/webextensions/api/search/get/index.md
  files/fr/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/fr/web/api/window/index.md
  files/fr/web/css/mask-composite/index.md
  files/ja/mozilla/firefox/releases/41/index.md
  files/ja/mozilla/firefox/releases/7/index.md
  files/ja/web/api/file_api/using_files_from_web_applications/index.md
  files/ja/web/javascript/reference/global_objects/date/parse/index.md
  files/ko/web/api/mouseevent/clientx/index.md
  files/pt-br/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/pt-br/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/pt-br/web/api/document_object_model/introduction/index.md
  files/pt-br/web/api/imagecapture/index.md
  files/pt-br/web/css/-webkit-text-security/index.md
  files/pt-br/web/css/css_transforms/using_css_transforms/index.md
  files/pt-br/web/javascript/guide/meta_programming/index.md
  files/pt-br/web/javascript/reference/errors/array_sort_argument/index.md
  files/pt-br/web/javascript/reference/trailing_commas/index.md
  files/ru/web/api/pushmanager/subscribe/index.md
  files/ru/web/api/sensor/index.md
  files/zh-cn/web/api/audiotrack/index.md
  files/zh-cn/web/api/element/setattribute/index.md
  files/zh-cn/web/api/htmltablerowelement/rowindex/index.md
  files/zh-cn/web/api/location/tostring/index.md
  files/zh-cn/web/api/mediarecorder/dataavailable_event/index.md
  files/zh-cn/web/api/svggraphicselement/index.md
  files/zh-cn/web/api/svgsvgelement/index.md
  files/zh-cn/web/api/webgl2renderingcontext/drawbuffers/index.md
  files/zh-cn/web/svg/attribute/enable-background/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#17755 Web/API/Document/timeline を新規翻訳
  files/ja/web/api/document/timeline/index.md
Labels: l10n-ja

#17836 [ja] fix typo
  files/ja/web/api/mediarecorder/stop_event/index.md
Labels: l10n-ja

#17848 [ru] remove obsolete `conflicting/Web/API/Window/gamepaddisconnected_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/gamepaddisconnected_event/index.md
Labels: l10n-ru

#17849 [ru] remove obsolete `conflicting/Web/API/Window/load_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/load_event/index.md
Labels: l10n-ru

#17850 [ru] remove obsolete `conflicting/Web/API/Window/popstate_event`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/popstate_event/index.md
Labels: l10n-ru

#17851 [ru] remove obsolete `conflicting/Web/API/Window/scrollY`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/window/scrolly/index.md
Labels: l10n-ru

#17852 [ru] remove obsolete `conflicting/Web/API`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/index.md
Labels: l10n-ru

#17853 [ru] remove obsolete `conflicting/..` records from `_wikihistory.json`
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
Labels: l10n-ru

#17854 [ru] improve `Web/JavaScript/Inheritance_and_the_prototype_chain` translation
  files/ru/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: l10n-ru

#17819 zh-cn: update the translation of DataTransferItem.{kind, type}
  files/zh-cn/web/api/datatransferitem/kind/index.md
  files/zh-cn/web/api/datatransferitem/type/index.md
Labels: l10n-zh

#17653 [KO]: ARIA states and properties 문서 번역
  files/ko/web/accessibility/aria/attributes/index.md
Labels: l10n-ko

#17863 zh-cn: common-types add apng and translation
  files/zh-cn/web/http/basics_of_http/mime_types/common_types/index.md
Labels: l10n-zh

#17870 [zh-tw]: add sidebar for "Using Web Workers"
  files/zh-tw/web/api/web_workers_api/using_web_workers/index.md
Labels: l10n-zh
