Repository mdn/translated-content, pull requests merged in 2024-05, with the labels that each got.

#19898 perf(ci/pr-lint): specify lock file paths to reduce the search time
  .github/workflows/pr-check-lint_content.yml
Labels: system

#19886 [zh-cn] update various padding docs
  files/zh-cn/web/css/padding-bottom/index.md
  files/zh-cn/web/css/padding-bottom/padding-bottom.svg
  files/zh-cn/web/css/padding-left/index.md
  files/zh-cn/web/css/padding-right/index.md
  files/zh-cn/web/css/padding-top/index.md
  files/zh-cn/web/css/padding-top/padding-top.svg
  files/zh-cn/web/css/padding/index.md
Labels: l10n-zh

#19899 [zh-cn]: update translation of HTTP `Access-Control-Max-Age` header
  files/zh-cn/web/http/headers/access-control-max-age/index.md
Labels: l10n-zh

#19841 [zh-cn]: translate for ServiceWorkerGlobalScope cookiechange event
  files/zh-cn/web/api/serviceworkerglobalscope/cookiechange_event/index.md
Labels: l10n-zh

#19911 [zh-cn]: update translation of SVG `<feTile>` element
  files/zh-cn/web/svg/element/fetile/index.md
Labels: l10n-zh

#19839 [zh-cn]: add translation for Permissions API
  files/zh-cn/web/api/permissions_api/index.md
Labels: l10n-zh

#19783 [zh-cn]: create translation of the `Accept-Post` header
  files/zh-cn/web/http/headers/accept-post/index.md
Labels: l10n-zh

#19848 [zh-cn]: update translation of HTTP `User-Agent` header
  files/zh-cn/web/http/headers/user-agent/index.md
Labels: l10n-zh

#19775 zh-cn: init the translation of glossary terms "CORS-safelisted header"
  files/zh-cn/glossary/cors-safelisted_request_header/index.md
  files/zh-cn/glossary/cors-safelisted_response_header/index.md
Labels: l10n-zh

#19918 zh-cn: glossary alignment subject
  files/zh-cn/glossary/alignment_subject/index.md
Labels: l10n-zh

#19920 zh-cn: glossary alpha
  files/zh-cn/glossary/alpha/index.md
Labels: l10n-zh

#19870 [zh-cn]: translate for CookieChangeEvent properties
  files/zh-cn/web/api/cookiechangeevent/changed/index.md
  files/zh-cn/web/api/cookiechangeevent/deleted/index.md
Labels: l10n-zh

#19930 ja: There is no need to describe the scoped attribute of the style element.
  files/ja/web/html/element/style/index.md
Labels: l10n-ja

#19877 ja: Update index.md - docs/Web/JavaScript/Guide/Using_promises
  files/ja/web/javascript/guide/using_promises/index.md
Labels: l10n-ja

#19929 zh-cn: lint glossary - api
  files/zh-cn/glossary/api/index.md
Labels: l10n-zh

#19901 [fr] Update Push API landing page
  files/fr/web/api/push_api/index.md
Labels: l10n-fr

#19806 Glossary/Favicon を更新
  files/ja/glossary/favicon/index.md
Labels: l10n-ja

#19773 [ru] update `Web/JavaScript/Reference/Global_Objects/Array/includes` translation
  files/ru/web/javascript/reference/global_objects/array/includes/index.md
Labels: l10n-ru

#19873 [ru] update `Web/JavaScript/Reference/Global_Objects/Symbol` translation
  files/ru/web/javascript/reference/global_objects/symbol/index.md
Labels: l10n-ru

#19874 [ru] remove invalid macro calls from `Web/JavaScript/Reference/Global_Objects/RegExp`
  files/ru/web/javascript/reference/global_objects/regexp/index.md
Labels: l10n-ru

#19896 [zh-cn]: update translation of HTTP `Access-Control-Allow-Methods` header
  files/zh-cn/web/http/headers/access-control-allow-methods/index.md
Labels: l10n-zh

#19927 zh-cn: update translation of glossary - arpanet
  files/zh-cn/glossary/arpanet/index.md
Labels: l10n-zh

#19932 zh-cn: update translation of glossary - async
  files/zh-cn/glossary/asynchronous/index.md
Labels: l10n-zh

#19954 [zh-cn]: update the translation of glossary term "Simple header"
  files/zh-cn/glossary/simple_header/index.md
Labels: l10n-zh

#19906 [ko] remove unnecessary `original_slug` front matter key
  files/ko/glossary/internationalization/index.md
  files/ko/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
  files/ko/web/api/console/assert_static/index.md
  files/ko/web/api/console/clear_static/index.md
  files/ko/web/api/console/count_static/index.md
  files/ko/web/api/console/countreset_static/index.md
  files/ko/web/api/console/debug_static/index.md
  files/ko/web/api/console/dir_static/index.md
  files/ko/web/api/console/dirxml_static/index.md
  files/ko/web/api/console/error_static/index.md
  files/ko/web/api/console/group_static/index.md
  files/ko/web/api/console/groupcollapsed_static/index.md
  files/ko/web/api/console/groupend_static/index.md
  files/ko/web/api/console/log_static/index.md
  files/ko/web/api/console/table_static/index.md
  files/ko/web/api/console/time_static/index.md
  files/ko/web/api/console/timeend_static/index.md
  files/ko/web/api/console/timelog_static/index.md
  files/ko/web/api/console/trace_static/index.md
  files/ko/web/api/console/warn_static/index.md
  files/ko/web/api/element/input_event/index.md
  files/ko/web/api/xsltprocessor/index.md
  files/ko/web/css/css_syntax/index.md
  files/ko/web/css/next-sibling_combinator/index.md
  files/ko/web/css/subsequent-sibling_combinator/index.md
  files/ko/web/javascript/reference/classes/private_properties/index.md
  files/ko/web/xml/parsing_and_serializing_xml/index.md
  files/ko/webassembly/javascript_interface/compile_static/index.md
  files/ko/webassembly/javascript_interface/compilestreaming_static/index.md
  files/ko/webassembly/javascript_interface/instantiate_static/index.md
  files/ko/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/ko/webassembly/javascript_interface/validate_static/index.md
Labels: l10n-ko

#19931 zh-cn: update translation of glossary - ascii
  files/zh-cn/glossary/ascii/index.md
Labels: l10n-zh

#19934 zh-tw: update translation of glossary - atag
  files/zh-tw/glossary/atag/index.md
Labels: l10n-zh

#19938 zh-cn: update translation of glossary - bandwidth
  files/zh-cn/glossary/bandwidth/index.md
Labels: l10n-zh

#19536 [fr] Glossary : api to attribute
  files/fr/glossary/api/index.md
  files/fr/glossary/apple_safari/index.md
  files/fr/glossary/application_context/index.md
  files/fr/glossary/argument/index.md
  files/fr/glossary/aria/index.md
  files/fr/glossary/arpa/index.md
  files/fr/glossary/arpanet/index.md
  files/fr/glossary/array/index.md
  files/fr/glossary/ascii/index.md
  files/fr/glossary/asynchronous/index.md
  files/fr/glossary/atag/index.md
  files/fr/glossary/attribute/index.md
Labels: l10n-fr

#19955 [zh-cn]: update the translation of glossary term "Simple response header"
  files/zh-cn/glossary/simple_response_header/index.md
Labels: l10n-zh

#19922 zh-cn: update glossary apple safari
  files/zh-cn/glossary/apple_safari/index.md
Labels: l10n-zh

#19952 [zh-cn]: update content in Redirections in `HTTP`
  files/zh-cn/web/http/redirections/index.md
Labels: l10n-zh

#19942 zh-cn: create translation of glossary - beacon
  files/zh-cn/glossary/beacon/index.md
Labels: l10n-zh

#19943 zh-CN: update translation of glossary - bezier
  files/zh-cn/glossary/bezier_curve/index.md
Labels: l10n-zh

#19964 [zh-cn]: correct the translation of the word "no" based on the table context
  files/zh-cn/web/http/headers/accept-ch-lifetime/index.md
  files/zh-cn/web/http/headers/accept-ch/index.md
  files/zh-cn/web/http/headers/accept-language/index.md
  files/zh-cn/web/http/headers/authorization/index.md
Labels: l10n-zh

#19963 zh-CN: lint glossary - block
  files/zh-cn/glossary/block/css/index.md
  files/zh-cn/glossary/block/index.md
  files/zh-cn/glossary/block/scripting/index.md
Labels: l10n-zh

#19962 zh-CN: update glossary - blink
  files/zh-cn/glossary/blink/index.md
Labels: l10n-zh

#19968 [zh-cn]: update the translation of SyntaxError: return not in function
  files/zh-cn/web/javascript/reference/errors/bad_return/index.md
Labels: l10n-zh

#19958 zh-cn: update glossary - bigint
  files/zh-cn/glossary/bigint/index.md
Labels: l10n-zh

#19825 Firefox 80/95 のリリースノートを更新
  files/ja/mozilla/firefox/releases/80/index.md
  files/ja/mozilla/firefox/releases/95/index.md
Labels: l10n-ja

#19826 Learn/Tools_and_testing/Understanding_client-side_tools を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/index.md
Labels: l10n-ja

#19827 Learn/Tools_and_testing/Understanding_client-side_tools/Overview を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
Labels: l10n-ja

#19828 Learn/Tools_and_testing/Understanding_client-side_tools/Command_line を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: l10n-ja

#19829 Learn/Tools_and_testing/Understanding_client-side_tools/Package_management を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: l10n-ja

#19830 Learn/Tools_and_testing/Understanding_client-side_tools/Introducing_complete_toolchain を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/index.md
Labels: l10n-ja

#19831 Learn/Tools_and_testing/Understanding_client-side_tools/Deployment を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/deployment/index.md
Labels: l10n-ja

#19832 theadを読みやすく修正
  files/ja/web/css/white-space/index.md
Labels: l10n-ja

#19835 Glossary/Adobe_Flash を更新
  files/ja/glossary/adobe_flash/index.md
Labels: l10n-ja

#19985 [zh-tw]: update HTTP `OPTIONS` Method
  files/zh-tw/web/http/methods/options/index.md
Labels: l10n-zh

#19737 [zh-cn]: translate for CookieStore
  files/zh-cn/web/api/cookiestore/change_event/index.md
  files/zh-cn/web/api/cookiestore/delete/index.md
  files/zh-cn/web/api/cookiestore/get/index.md
  files/zh-cn/web/api/cookiestore/getall/index.md
  files/zh-cn/web/api/cookiestore/index.md
  files/zh-cn/web/api/cookiestore/set/index.md
Labels: l10n-zh

#19204 [ko] translate /ko/web/events/event_handlers/
  files/ko/web/events/event_handlers/index.md
Labels: l10n-ko

#19960 [zh-cn]: update the translation of `**=` operator
  files/zh-cn/web/javascript/reference/operators/exponentiation_assignment/index.md
Labels: l10n-zh

#19667 [ko] BigInt.prototype.toString() 신규 번역
  files/ko/web/javascript/reference/global_objects/bigint/tostring/index.md
Labels: l10n-ko

#19941 zh-cn: update translations of glossary - baseline & baseline/*
  files/zh-cn/glossary/baseline/compatibility/index.md
  files/zh-cn/glossary/baseline/index.md
  files/zh-cn/glossary/baseline/typography/index.md
Labels: l10n-zh

#19890 [zh-cn]: update translation of HTTP `Access-Control-Allow-Credentials` header
  files/zh-cn/web/http/headers/access-control-allow-credentials/index.md
Labels: l10n-zh

#19969 zh-CN: update glossary - block cipher
  files/zh-cn/glossary/block_cipher_mode_of_operation/index.md
Labels: l10n-zh

#19994 [zh-cn]: fix wrong glossary link
  files/zh-cn/glossary/certified/index.md
Labels: l10n-zh

#19970 zh-CN: glossary - boolean
  files/zh-cn/glossary/boolean/aria/index.md
  files/zh-cn/glossary/boolean/html/index.md
  files/zh-cn/glossary/boolean/index.md
  files/zh-cn/glossary/boolean/javascript/index.md
Labels: l10n-zh

#19980 zh-CN: glossary - breadcrumbs
  files/zh-cn/glossary/breadcrumb/index.md
Labels: l10n-zh

#19979 zh-CN: Update the translation of glossary - bounding box
  files/zh-cn/glossary/bounding_box/index.md
Labels: l10n-zh

#19858 Learn/HTML/Multimedia_and_embedding を更新
  files/ja/learn/html/multimedia_and_embedding/index.md
Labels: l10n-ja

#19859 Learn/HTML/Multimedia_and_embedding/Images_in_HTML を更新
  files/ja/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: l10n-ja

#19860 Learn/HTML/Multimedia_and_embedding/Images_in_HTML/Test_your_skills:_HTML_images を更新
  files/ja/learn/html/multimedia_and_embedding/images_in_html/test_your_skills_colon__html_images/index.md
Labels: l10n-ja

#19861 Learn/HTML/Multimedia_and_embedding/Video_and_audio_content を更新
  files/ja/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
Labels: l10n-ja

#19862 Learn/HTML/Multimedia_and_embedding/Video_and_audio_content/Test_your_skills:_Multimedia_and_embedding を更新
  files/ja/learn/html/multimedia_and_embedding/video_and_audio_content/test_your_skills_colon__multimedia_and_embedding/index.md
Labels: l10n-ja

#19863 Learn/HTML/Multimedia_and_embedding/Other_embedding_technologies を更新
  files/ja/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: l10n-ja

#19864 Learn/HTML/Multimedia_and_embedding/Adding_vector_graphics_to_the_Web を更新
  files/ja/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
Labels: l10n-ja

#19865 Learn/HTML/Multimedia_and_embedding/Responsive_images を更新
  files/ja/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-ja

#19866 Learn/HTML/Multimedia_and_embedding/Mozilla_splash_page を更新
  files/ja/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
Labels: l10n-ja

#19984 [ru] update `Web/API/Element/scrollTop` translation
  files/ru/web/api/element/scrolltop/index.md
Labels: l10n-ru

#19902 [ru] update `Web/API/Window/origin` translation
  files/ru/web/api/window/origin/index.md
Labels: l10n-ru

#19982 zh-cn: add commit sha to glossary term "browsing context"
  files/zh-cn/glossary/browsing_context/index.md
Labels: l10n-zh

#19986 [ru] add `Web/JavaScript/Reference/Operators/Equality` translation
  files/ru/web/javascript/reference/operators/equality/index.md
Labels: l10n-ru

#19936 zh-tw: update translation of glossary - attribute
  files/zh-tw/glossary/attribute/index.md
Labels: l10n-zh

#19992 [zh-cn]: update the translation of CSS `<number>` type
  files/zh-cn/web/css/number/index.md
Labels: l10n-zh

#19688 [zh-cn]: create translation of `HTMLIFrameElement` properties
  files/zh-cn/web/api/htmliframeelement/allowfullscreen/index.md
  files/zh-cn/web/api/htmliframeelement/allowpaymentrequest/index.md
  files/zh-cn/web/api/htmliframeelement/browsingtopics/index.md
  files/zh-cn/web/api/htmliframeelement/contentdocument/index.md
  files/zh-cn/web/api/htmliframeelement/contentwindow/index.md
  files/zh-cn/web/api/htmliframeelement/credentialless/index.md
  files/zh-cn/web/api/htmliframeelement/csp/index.md
  files/zh-cn/web/api/htmliframeelement/featurepolicy/index.md
  files/zh-cn/web/api/htmliframeelement/height/index.md
  files/zh-cn/web/api/htmliframeelement/loading/index.md
  files/zh-cn/web/api/htmliframeelement/name/index.md
  files/zh-cn/web/api/htmliframeelement/referrerpolicy/index.md
  files/zh-cn/web/api/htmliframeelement/sandbox/index.md
  files/zh-cn/web/api/htmliframeelement/src/index.md
  files/zh-cn/web/api/htmliframeelement/srcdoc/index.md
  files/zh-cn/web/api/htmliframeelement/width/index.md
Labels: l10n-zh

#19919 zh-cn: revise the translation of "splash page"
  files/zh-cn/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
Labels: l10n-zh

#19678 [ko] replace all `APIRef("DOM Events")` macro calls with more suitable param
  files/ko/web/api/event/cancelbubble/index.md
  files/ko/web/api/mouseevent/clientx/index.md
Labels: l10n-ko

#19647 [FR] Fix: Adding sidebar macro `{{SVGRef}}` (Fixes #19635)
  files/fr/web/svg/applying_svg_effects_to_html_content/index.md
  files/fr/web/svg/svg_animation_with_smil/index.md
  files/fr/web/svg/tutorial/basic_shapes/index.md
  files/fr/web/svg/tutorial/basic_transformations/index.md
  files/fr/web/svg/tutorial/clipping_and_masking/index.md
  files/fr/web/svg/tutorial/fills_and_strokes/index.md
  files/fr/web/svg/tutorial/filter_effects/index.md
  files/fr/web/svg/tutorial/getting_started/index.md
  files/fr/web/svg/tutorial/gradients/index.md
  files/fr/web/svg/tutorial/index.md
  files/fr/web/svg/tutorial/introduction/index.md
  files/fr/web/svg/tutorial/other_content_in_svg/index.md
  files/fr/web/svg/tutorial/paths/index.md
  files/fr/web/svg/tutorial/patterns/index.md
  files/fr/web/svg/tutorial/positions/index.md
  files/fr/web/svg/tutorial/svg_and_css/index.md
  files/fr/web/svg/tutorial/svg_fonts/index.md
  files/fr/web/svg/tutorial/svg_image_tag/index.md
  files/fr/web/svg/tutorial/texts/index.md
  files/fr/web/svg/tutorial/tools_for_svg/index.md
Labels: l10n-fr

#19876 fr: add translation for `How to write in Markdown`
  files/fr/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Labels: l10n-fr

#19769 [ko] HTMLInputElement disabled 번역
  files/ko/web/api/htmlinputelement/disabled/index.md
Labels: l10n-ko

#19236 [ko] MouseEvent : offsetY 문서 번역
  files/ko/web/api/mouseevent/offsety/index.md
Labels: l10n-ko

#19905 [ja] remove unnecessary `original_slug` front matter key
  files/ja/games/techniques/3d_on_the_web/webxr/index.md
  files/ja/learn/forms/user_input_methods/index.md
  files/ja/web/api/console/assert_static/index.md
  files/ja/web/api/console/clear_static/index.md
  files/ja/web/api/console/count_static/index.md
  files/ja/web/api/console/countreset_static/index.md
  files/ja/web/api/console/debug_static/index.md
  files/ja/web/api/console/dir_static/index.md
  files/ja/web/api/console/dirxml_static/index.md
  files/ja/web/api/console/error_static/index.md
  files/ja/web/api/console/group_static/index.md
  files/ja/web/api/console/groupcollapsed_static/index.md
  files/ja/web/api/console/groupend_static/index.md
  files/ja/web/api/console/info_static/index.md
  files/ja/web/api/console/log_static/index.md
  files/ja/web/api/console/profile_static/index.md
  files/ja/web/api/console/profileend_static/index.md
  files/ja/web/api/console/table_static/index.md
  files/ja/web/api/console/time_static/index.md
  files/ja/web/api/console/timeend_static/index.md
  files/ja/web/api/console/timelog_static/index.md
  files/ja/web/api/console/timestamp_static/index.md
  files/ja/web/api/console/trace_static/index.md
  files/ja/web/api/console/warn_static/index.md
  files/ja/web/api/element/beforeinput_event/index.md
  files/ja/web/api/element/input_event/index.md
  files/ja/web/api/houdini_apis/index.md
  files/ja/web/api/screendetailed/availleft/index.md
  files/ja/web/api/screendetailed/availtop/index.md
  files/ja/web/api/screendetailed/left/index.md
  files/ja/web/api/screendetailed/top/index.md
  files/ja/web/api/window/indexeddb/index.md
  files/ja/web/api/window/issecurecontext/index.md
  files/ja/web/css/css_containment/container_queries/index.md
  files/ja/web/css/css_fonts/woff/index.md
  files/ja/web/css/css_media_queries/printing/index.md
  files/ja/web/css/next-sibling_combinator/index.md
  files/ja/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/ja/web/media/audio_and_video_delivery/index.md
  files/ja/web/media/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/ja/web/media/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/ja/web/media/audio_and_video_manipulation/index.md
  files/ja/web/xml/parsing_and_serializing_xml/index.md
  files/ja/webassembly/javascript_interface/compile_static/index.md
  files/ja/webassembly/javascript_interface/compilestreaming_static/index.md
  files/ja/webassembly/javascript_interface/instantiate_static/index.md
  files/ja/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/ja/webassembly/javascript_interface/module/customsections_static/index.md
  files/ja/webassembly/javascript_interface/module/exports_static/index.md
  files/ja/webassembly/javascript_interface/module/imports_static/index.md
  files/ja/webassembly/javascript_interface/validate_static/index.md
Labels: l10n-ja

#19665 [ko] BigInt.prototype.toLocaleString() 신규 번역
  files/ko/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
Labels: l10n-ko

#19913 Web/API/XRSystem を更新
  files/ja/web/api/xrsystem/index.md
Labels: l10n-ja

#19887 ja: Update index.md - web/javascript/reference/global_objects/array/reduce
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
Labels: l10n-ja

#19914 Web/API/XRSystem のメンバーの記事を新規翻訳
  files/ja/web/api/xrsystem/devicechange_event/index.md
  files/ja/web/api/xrsystem/issessionsupported/index.md
  files/ja/web/api/xrsystem/requestsession/index.md
Labels: l10n-ja

#19915 Glossary/First_CPU_idle を更新
  files/ja/glossary/first_cpu_idle/index.md
Labels: l10n-ja

#19916 Glossary/Global_scope 他2件を更新
  files/ja/glossary/global_scope/index.md
  files/ja/glossary/json/index.md
  files/ja/glossary/keyword/index.md
Labels: l10n-ja

#19935 ja: `数r` is a typo for `する`.
  files/ja/web/css/css_nesting/nesting_at-rules/index.md
Labels: l10n-ja

#19945 Glossary/Long_task を更新
  files/ja/glossary/long_task/index.md
Labels: l10n-ja

#19946 Glossary/Media/CSS を更新
  files/ja/glossary/media/css/index.md
Labels: l10n-ja

#19947 Glossary/Preflight_request を更新
  files/ja/glossary/preflight_request/index.md
Labels: l10n-ja

#19948 Glossary/Prefetch を更新
  files/ja/glossary/prefetch/index.md
Labels: l10n-ja

#19949 Glossary/Proxy_server 他8件を更新
  files/ja/glossary/media/index.md
  files/ja/glossary/native/index.md
  files/ja/glossary/packet/index.md
  files/ja/glossary/page_load_time/index.md
  files/ja/glossary/port/index.md
  files/ja/glossary/privileged_code/index.md
  files/ja/glossary/promise/index.md
  files/ja/glossary/prototype-based_programming/index.md
  files/ja/glossary/proxy_server/index.md
Labels: l10n-ja

#19950 Glossary/Quality_values を更新
  files/ja/glossary/quality_values/index.md
Labels: l10n-ja

#20051 Web/CSS/basic-shape/inset を更新
  files/ja/web/css/basic-shape/inset/index.md
Labels: l10n-ja

#20052 Web/CSS/basic-shape/polygon を更新
  files/ja/web/css/basic-shape/polygon/index.md
Labels: l10n-ja

#20053 Web/CSS/basic-shape/rect を新規翻訳
  files/ja/web/css/basic-shape/rect/index.md
Labels: l10n-ja

#20054 Web/CSS/basic-shape/xywh を新規翻訳
  files/ja/web/css/basic-shape/xywh/index.md
Labels: l10n-ja

#20045 fr: update mistranslation in service worker doc
  files/fr/web/api/service_worker_api/using_service_workers/index.md
Labels: l10n-fr

#19951 Web/JavaScript/Reference/Global_Objects/Intl/DisplayNames/DisplayNames を更新
  files/ja/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
Labels: l10n-ja

#19760 [zh-cn]: update translation of HTTP header `Accept`
  files/zh-cn/web/http/headers/accept/index.md
Labels: l10n-zh

#19746 zh-cn: revise the translation of "responsive image"
  files/zh-cn/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-zh

#20063 zh-CN: update glossary/cors-safelisted_response_header
  files/zh-cn/glossary/cors-safelisted_response_header/index.md
Labels: l10n-zh

#20060 zh-CN: update glossary/cookie
  files/zh-cn/glossary/cookie/index.md
Labels: l10n-zh

#19908 [ru] remove unnecessary `original_slug` front matter key
  files/ru/learn/forms/user_input_methods/index.md
  files/ru/mdn/community/contributing/index.md
  files/ru/web/api/console/assert_static/index.md
  files/ru/web/api/console/clear_static/index.md
  files/ru/web/api/console/count_static/index.md
  files/ru/web/api/console/countreset_static/index.md
  files/ru/web/api/console/debug_static/index.md
  files/ru/web/api/console/dirxml_static/index.md
  files/ru/web/api/console/error_static/index.md
  files/ru/web/api/console/info_static/index.md
  files/ru/web/api/console/log_static/index.md
  files/ru/web/api/console/profile_static/index.md
  files/ru/web/api/console/table_static/index.md
  files/ru/web/api/console/time_static/index.md
  files/ru/web/api/console/timeend_static/index.md
  files/ru/web/api/console/timelog_static/index.md
  files/ru/web/api/console/timestamp_static/index.md
  files/ru/web/api/console/trace_static/index.md
  files/ru/web/api/console/warn_static/index.md
  files/ru/web/api/element/input_event/index.md
  files/ru/web/api/xmlhttprequest_api/sending_and_receiving_binary_data/index.md
  files/ru/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/ru/web/css/css_display/block_formatting_context/index.md
  files/ru/web/css/css_fonts/woff/index.md
  files/ru/web/css/next-sibling_combinator/index.md
  files/ru/web/css/subsequent-sibling_combinator/index.md
  files/ru/web/javascript/reference/classes/private_properties/index.md
  files/ru/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/ru/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/ru/web/media/audio_and_video_manipulation/index.md
  files/ru/web/xml/parsing_and_serializing_xml/index.md
  files/ru/webassembly/javascript_interface/compile_static/index.md
  files/ru/webassembly/javascript_interface/compilestreaming_static/index.md
Labels: l10n-ru

#19989 [ru] add `Glossary/CORS-safelisted_response_header` translation
  files/ru/glossary/cors-safelisted_response_header/index.md
  files/ru/glossary/simple_response_header/index.md
Labels: l10n-ru

#19990 [ru] add `Glossary/CORS-safelisted_request_header` translation
  files/ru/glossary/cors-safelisted_request_header/index.md
  files/ru/glossary/simple_header/index.md
Labels: l10n-ru

#19925 zh-cn: update the translation of glossary - application context
  files/zh-cn/glossary/application_context/index.md
Labels: l10n-zh

#20062 zh-cn: update glossary/cors
  files/zh-cn/glossary/cors/index.md
Labels: l10n-zh

#19965 [zh-cn]: update the translation of HTTP `Access-Control-Request-Method` header
  files/zh-cn/web/http/headers/access-control-request-method/index.md
Labels: l10n-zh

#19953 [zh-cn]: update content in `HTTP` range requests
  files/zh-cn/web/http/range_requests/index.md
Labels: l10n-zh

#20047 zh-CN: update glossary/control_flow
  files/zh-cn/glossary/control_flow/index.md
Labels: l10n-zh

#19944 zh-CN: create glossary/bfcache
  files/zh-cn/glossary/bfcache/index.md
Labels: l10n-zh

#20061 zh-CN: update glossary/copyleft
  files/zh-cn/glossary/copyleft/index.md
Labels: l10n-zh

#20008 zh-cn: revise translation of "Cross browser testing"
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/index.md
Labels: l10n-zh

#19868 [zh-cn]: translate for CookieChangeEvent constructor
  files/zh-cn/web/api/cookiechangeevent/cookiechangeevent/index.md
Labels: l10n-zh

#19926 zh-cn: update glossary/arpa
  files/zh-cn/glossary/arpa/index.md
Labels: l10n-zh, needs content update

#19928 zh-cn: update translation of glossary - array
  files/zh-cn/glossary/array/index.md
Labels: l10n-zh

#20019 zh-cn: glossary - closure
  files/zh-cn/glossary/closure/index.md
Labels: l10n-zh

#19972 [zh-cn]: update translation of CSS `border-width` property
  files/zh-cn/web/css/border-width/index.md
Labels: l10n-zh

#19933 zh-cn: create glossary/atag
  files/zh-cn/glossary/atag/index.md
Labels: l10n-zh

#20035 [zh-cn]: sync translation for File System API & Origin Private File System
  files/zh-cn/web/api/file_system_api/index.md
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
Labels: l10n-zh

#19999 zh-CN: glossary - render
  files/zh-cn/glossary/canvas/index.md
Labels: l10n-zh

#20071 [zh-cn] update `::after`
  files/zh-cn/web/css/_doublecolon_after/index.md
Labels: l10n-zh

#20082 [zh-cn]: Update web/api/cache/index.md
  files/zh-cn/web/api/cache/index.md
Labels: l10n-zh

#20072 chore(zh-cn): use accessibility sidebar for a11y docs
  files/zh-cn/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/zh-cn/web/accessibility/aria/aria_live_regions/index.md
  files/zh-cn/web/accessibility/aria/aria_techniques/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-hidden/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-label/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/zh-cn/web/accessibility/aria/attributes/index.md
  files/zh-cn/web/accessibility/aria/index.md
  files/zh-cn/web/accessibility/aria/roles/button_role/index.md
  files/zh-cn/web/accessibility/aria/roles/index.md
  files/zh-cn/web/accessibility/aria/roles/list_role/index.md
  files/zh-cn/web/accessibility/aria/roles/listbox_role/index.md
  files/zh-cn/web/accessibility/aria/roles/listitem_role/index.md
  files/zh-cn/web/accessibility/index.md
  files/zh-cn/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/zh-cn/web/accessibility/mobile_accessibility_checklist/index.md
Labels: l10n-zh

#19997 zh-cn: glossary - call stack
  files/zh-cn/glossary/call_stack/index.md
Labels: l10n-zh

#19961 zh-cn: create glossary - bitwise-flag
  files/zh-cn/glossary/bitwise_flags/index.md
Labels: l10n-zh

#19995 [zh-cn]: update the translation of CSS `border-bottom-left-radius` property
  files/zh-cn/web/css/border-bottom-left-radius/index.md
Labels: l10n-zh

#19917 zh-cn: update the translation of glossary - alignment container
  files/zh-cn/glossary/alignment_container/index.md
Labels: l10n-zh

#20079 [zh-cn]: HTTP Compression fix no images
  files/zh-cn/web/http/compression/index.md
Labels: l10n-zh

#20034 [zh-cn]: sync translation for `Window.`{`showOpenFilePicker()`, `showSaveFilePicker()`, `showDirectoryPicker()`}
  files/zh-cn/web/api/window/showdirectorypicker/index.md
  files/zh-cn/web/api/window/showopenfilepicker/index.md
  files/zh-cn/web/api/window/showsavefilepicker/index.md
Labels: l10n-zh

#20089 chore(zh-tw): use a11ysidebar for all a11y docs
  files/zh-tw/web/accessibility/aria/aria_techniques/index.md
  files/zh-tw/web/accessibility/index.md
  files/zh-tw/web/accessibility/mobile_accessibility_checklist/index.md
Labels: l10n-zh

#19937 zh-cn: update glossary/attribute
  files/zh-cn/glossary/attribute/index.md
Labels: l10n-zh

#19912 [zh-tw]: translate HTTP `Accept-Charset` header
  files/zh-tw/web/http/headers/accept-charset/index.md
Labels: l10n-zh

#19900 [zh-tw]: translate HTTP `Accept-CH-Lifetime` header
  files/zh-tw/web/http/headers/accept-ch-lifetime/index.md
Labels: l10n-zh

#20001 zh-cn: update the translation of glossary - CA
  files/zh-cn/glossary/certificate_authority/index.md
Labels: l10n-zh

#19623 [ko] Fix misinformation about LOAD of RAIL models
  files/ko/glossary/rail/index.md
Labels: l10n-ko

#19998 zh-cn: update glossary/callback_function
  files/zh-cn/glossary/callback_function/index.md
Labels: l10n-zh

#19967 zh-CN: Update the translation of glossary - block-level content
  files/zh-cn/glossary/block-level_content/index.md
Labels: l10n-zh

#19973 [zh-cn]: update translation of Window `scrollbars` property
  files/zh-cn/web/api/window/scrollbars/index.md
Labels: l10n-zh

#19940 [zh-tw]: translate HTTP `Accept-Encoding` header
  files/zh-tw/web/http/headers/accept-encoding/index.md
Labels: l10n-zh

#20032 zh-cn: create glossary/composite_operation
  files/zh-cn/glossary/composite_operation/index.md
Labels: l10n-zh

#19857 [zh-cn]: update the translation of constructor in class section
  files/zh-cn/web/javascript/reference/classes/constructor/index.md
Labels: l10n-zh

#20068 zh-CN: update glossary/crlf
  files/zh-cn/glossary/crlf/index.md
Labels: l10n-zh

#20095 zh-cn: update Glossary/Cross-site_scripting
  files/zh-cn/glossary/cross-site_scripting/index.md
Labels: l10n-zh

#20020 zh-CN: glossary - code spliting
  files/zh-cn/glossary/code_splitting/index.md
Labels: l10n-zh

#19842 [zh-cn] translation of `Permissions.revoke()`
  files/zh-cn/web/api/permissions/revoke/index.md
Labels: l10n-zh
