Repository mdn/translated-content, pull requests merged in 2024-09, with the labels that each got.

#23285 Web/URI 以下の移行された記事を更新
  files/ja/web/uri/authority/choosing_between_www_and_non-www_urls/index.md
  files/ja/web/uri/fragment/text_fragments/index.md
  files/ja/web/uri/schemes/data/index.md
  files/ja/web/uri/schemes/resource/index.md
Labels: l10n-ja

#23287 Web/URI/Authority 他1件を新規翻訳
  files/ja/web/uri/authority/index.md
  files/ja/web/uri/fragment/index.md
Labels: l10n-ja

#23288 Web/URI/Schemes 他1件を新規翻訳
  files/ja/web/uri/schemes/index.md
  files/ja/web/uri/schemes/javascript/index.md
Labels: l10n-ja

#23289 Web/API/NavigatorUAData を翻訳
  files/ja/web/api/navigatoruadata/index.md
Labels: l10n-ja

#23290 Web/API/NavigatorUAData/mobile 他1件を更新
  files/ja/web/api/navigatoruadata/mobile/index.md
  files/ja/web/api/navigatoruadata/platform/index.md
Labels: l10n-ja

#23291 Web/API/NavigatorUAData/getHighEntropyValues 他1件を更新
  files/ja/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/ja/web/api/navigatoruadata/tojson/index.md
Labels: l10n-ja

#23292 Web/API/Network_Information_API を更新
  files/ja/web/api/network_information_api/index.md
Labels: l10n-ja

#23293 Web/API/Node/selectstart_event を更新
  files/ja/web/api/node/selectstart_event/index.md
Labels: l10n-ja

#23294 Web/API/Notification 他1件を更新
  files/ja/web/api/notification/index.md
  files/ja/web/api/notification/notification/index.md
Labels: l10n-ja

#23295 Web/API/Notification/maxActions_static 他1件を更新
  files/ja/web/api/notification/maxactions_static/index.md
  files/ja/web/api/notification/permission_static/index.md
Labels: l10n-ja

#23349 zh-CN: create Glossary/CardDAV
  files/zh-cn/glossary/carddav/index.md
Labels: l10n-zh

#23339 zh-CN: create Glossary/Credential
  files/zh-cn/glossary/credential/index.md
Labels: l10n-zh

#23255 [zh-cn]: update the translation of `Window.top` property
  files/zh-cn/web/api/window/top/index.md
Labels: l10n-zh

#23325 zh-CN: create Glossary/RDF
  files/zh-cn/glossary/rdf/index.md
Labels: l10n-zh

#23340 zh-CN: create Glossary/ICANN
  files/zh-cn/glossary/icann/index.md
Labels: l10n-zh

#23306 zh-cn: update the translation of the Web/Tutorials index page
  files/zh-cn/web/tutorials/index.md
Labels: l10n-zh

#23303 Web/API/NotificationEvent のプロパティを更新
  files/ja/web/api/notificationevent/action/index.md
  files/ja/web/api/notificationevent/notification/index.md
  files/ja/web/api/notificationevent/notificationevent/index.md
Labels: l10n-ja

#23304 Web/API/Notifications_API を更新
  files/ja/web/api/notifications_api/index.md
  files/ja/web/api/notifications_api/screen_shot_2019-12-11_at_9.59.14_am.png
  files/ja/web/api/notifications_api/using_the_notifications_api/index.md
Labels: l10n-ja

#23337 [ES] Add `CSS shadow parts`
  files/es/web/css/css_shadow_parts/index.md
Labels: l10n-es

#23336 [ES] Add `::part()`
  files/es/web/css/_doublecolon_part/index.md
Labels: l10n-es

#23322 zh-CN: create Glossary/UAAG
  files/zh-cn/glossary/uaag/index.md
Labels: l10n-zh

#23324 zh-CN: create Glossary/Real_User_Monitoring
  files/zh-cn/glossary/real_user_monitoring/index.md
Labels: l10n-zh

#23326 zh-CN: create Glossary/Raster_image
  files/zh-cn/glossary/raster_image/index.md
Labels: l10n-zh

#23347 zh-CN: create Glossary/Digital_signature
  files/zh-cn/glossary/digital_signature/index.md
Labels: l10n-zh

#23363 zh-cn: update "What's in the head? Metadata in HTML"
  files/zh-cn/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
Labels: l10n-zh

#23256 zh-cn: update the translation of `IDBObjectStore`
  files/zh-cn/web/api/idbobjectstore/index.md
Labels: l10n-zh

#22385 zh-CN: update "Express Tutorial Part 4: Routes and controllers"
  files/zh-cn/learn/server-side/express_nodejs/routes/index.md
Labels: l10n-zh

#23352 zh-CN: create Glossary/CLS
  files/zh-cn/glossary/cls/index.md
Labels: l10n-zh

#23329 zh-CN: create Glossary/Physical_properties
  files/zh-cn/glossary/physical_properties/index.md
Labels: l10n-zh

#23358 [zh-cn]: update translation of broadcast channel api - part i
  files/zh-cn/web/api/broadcast_channel_api/index.md
  files/zh-cn/web/api/broadcastchannel/broadcastchannel/index.md
  files/zh-cn/web/api/broadcastchannel/index.md
  files/zh-cn/web/api/broadcastchannel/name/index.md
Labels: l10n-zh

#22435 [pt-br] improve `Web/API/Element/mouseover_event` (#22434)
  files/pt-br/web/api/element/mouseover_event/index.md
Labels: l10n-pt-br

#23198 [pt-BR] fix typo in translation
  files/pt-br/web/api/blob/index.md
Labels: l10n-pt-br

#23057 pt-BR: "Learn/HTML/Tables": Fixed broken links.
  files/pt-br/learn/html/tables/index.md
Labels: l10n-pt-br

#23056 pt-br: Small fixes in GFM alert.
  files/pt-br/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: l10n-pt-br

#23066 fix: typo and bold text
  files/pt-br/web/http/overview/index.md
Labels: l10n-pt-br

#23344 zh-CN: create Glossary/HTTP_Content
  files/zh-cn/glossary/http_content/index.md
Labels: l10n-zh

#23343 zh-CN: create Glossary/IANA
  files/zh-cn/glossary/iana/index.md
Labels: l10n-zh

#23104 [zh-cn]: create docs for HTMLProgressElement
  files/zh-cn/web/api/htmlprogresselement/index.md
  files/zh-cn/web/api/htmlprogresselement/labels/index.md
  files/zh-cn/web/api/htmlprogresselement/max/index.md
  files/zh-cn/web/api/htmlprogresselement/position/index.md
  files/zh-cn/web/api/htmlprogresselement/value/index.md
Labels: l10n-zh

#23348 zh-CN: create Glossary/Authenticator
  files/zh-cn/glossary/authenticator/index.md
Labels: l10n-zh

#23341 zh-CN: create Glossary/Jitter
  files/zh-cn/glossary/jitter/index.md
Labels: l10n-zh

#23346 zh-CN: create Glossary/Content_header
  files/zh-cn/glossary/content_header/index.md
Labels: l10n-zh

#22880 [ko] RegExp.prototype.unicode 신규 번역 외
  files/ko/web/javascript/reference/global_objects/regexp/unicode/index.md
  files/ko/web/javascript/reference/global_objects/string/padend/index.md
Labels: l10n-ko

#22401 [ko] translate Learn JavaScript client-side_web_apis/fetching_data/index.md
  files/ko/learn/javascript/client-side_web_apis/fetching_data/index.md
Labels: l10n-ko

#22975 [ko] translate web/html/attributes/size
  files/ko/web/html/attributes/size/index.md
Labels: l10n-ko

#22835 [ko] device_memory_api 신규 번역
  files/ko/web/api/device_memory_api/index.md
Labels: l10n-ko

#22652 [ko] Iterator.prototype.toArray() 신규 번역 외
  files/ko/web/javascript/reference/global_objects/iterator/toarray/index.md
  files/ko/web/javascript/reference/global_objects/number/isnan/index.md
Labels: l10n-ko

#22902 [ko] Symbol.species 신규 번역 외
  files/ko/web/javascript/reference/global_objects/symbol/description/index.md
  files/ko/web/javascript/reference/global_objects/symbol/replace/index.md
  files/ko/web/javascript/reference/global_objects/symbol/search/index.md
  files/ko/web/javascript/reference/global_objects/symbol/species/index.md
  files/ko/web/javascript/reference/global_objects/symbol/symbol.toprimitive/index.md
  files/ko/web/javascript/reference/global_objects/symbol/tostring/index.md
Labels: l10n-ko

#23101 [ko] translate learn/common_questions/tools_and_setup
  files/ko/learn/common_questions/tools_and_setup/index.md
Labels: l10n-ko

#23078 Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox_basics_fix
  files/fr/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/ko/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/pt-br/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/ru/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: l10n-fr, l10n-ru, l10n-ko, l10n-pt-br

#23307 Web/API/OscillatorNode/OscillatorNode を更新
  files/ja/web/api/oscillatornode/oscillatornode/index.md
Labels: l10n-ja

#23308 Web/API/PageTransitionEvent/PageTransitionEvent を新規翻訳
  files/ja/web/api/pagetransitionevent/pagetransitionevent/index.md
Labels: l10n-ja

#23309 Web/API/PageTransitionEvent/persisted を新規翻訳
  files/ja/web/api/pagetransitionevent/persisted/index.md
Labels: l10n-ja

#23310 Web/API/PageTransitionEvent を新規翻訳
  files/ja/web/api/pagetransitionevent/index.md
Labels: l10n-ja

#23313 Web/API/PaymentRequest/PaymentRequest を更新
  files/ja/web/api/paymentrequest/paymentrequest/index.md
Labels: l10n-ja

#23314 Web/API/PaymentRequest/show を更新
  files/ja/web/api/paymentrequest/show/index.md
Labels: l10n-ja

#23315 Web/API/PaymentRequest/merchantvalidation_event を更新
  files/ja/web/api/paymentrequest/merchantvalidation_event/index.md
Labels: l10n-ja

#23316 Web/API/PaymentAddress を更新
  files/ja/web/api/paymentaddress/index.md
Labels: l10n-ja

#23331 [ja] Fix typo
  files/ja/web/api/element/beforeinput_event/index.md
Labels: l10n-ja

#23333 Web/API/Performance_API/Navigation_timing を更新
  files/ja/web/api/performance_api/navigation_timing/index.md
Labels: l10n-ja

#23335 Web/API/Performance_API を更新
  files/ja/web/api/performance_api/index.md
Labels: l10n-ja

#23311 Web/API/PannerNode/setOrientation を更新
  files/ja/web/api/pannernode/setorientation/index.md
Labels: l10n-ja

#23334 Web/API/Performance_API/Resource_timing を更新
  files/ja/web/api/performance_api/resource_timing/index.md
Labels: l10n-ja

#23381 fix(ci): check dependabot PR user instead of actor
  .github/workflows/auto-merge.yml
Labels: system

#23389 [ru] update `Web/API/Document/location` translation
  files/ru/web/api/document/location/index.md
Labels: l10n-ru

#23354 [es] update Learn/Forms
  files/es/learn/forms/index.md
Labels: l10n-es

#23379 [zh-cn]: add new demo
  files/zh-cn/web/css/text-align/index.md
Labels: l10n-zh

#23353 zh-cn: revise translation of automated testing
  files/zh-cn/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: l10n-zh

#23342 zh-CN: create Glossary/Identity_provider
  files/zh-cn/glossary/identity_provider/index.md
Labels: l10n-zh

#23328 zh-CN: create Glossary/Logical_properties
  files/zh-cn/glossary/logical_properties/index.md
Labels: l10n-zh

#23355 Web/API/PerformanceMark/PerformanceMark を新規翻訳
  files/ja/web/api/performancemark/performancemark/index.md
Labels: l10n-ja

#23356 Web/API/PerformanceMark/detail を新規翻訳
  files/ja/web/api/performancemark/detail/index.md
Labels: l10n-ja

#23357 Web/API/PerformanceMark を更新
  files/ja/web/api/performancemark/index.md
Labels: l10n-ja

#23345 zh-CN: create Glossary/Flow_relative_values
  files/zh-cn/glossary/flow_relative_values/index.md
Labels: l10n-zh

#23411 zh-CN: update 'HTML text fundamentals'
  files/zh-cn/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-zh

#23350 zh-CN: create Glossary/Character_reference
  files/zh-cn/glossary/character_reference/index.md
Labels: l10n-zh

#23361 Web/API/PerformanceMeasure/detail を新規翻訳
  files/ja/web/api/performancemeasure/detail/index.md
Labels: l10n-ja

#23372 [ja] Fix typo
  files/ja/web/api/mediadevices/enumeratedevices/index.md
Labels: l10n-ja

#23422 [zh-cn]: update the translation of the SVG attribute `accumulate`
  files/zh-cn/web/svg/attribute/accumulate/index.md
Labels: l10n-zh

#23424 zh-CN: update 'Creating hyperlinks'
  files/zh-cn/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: l10n-zh

#23390 zh-CN: update "What is JavaScript" and some async-and-defer-releated contents
  files/zh-cn/learn/javascript/first_steps/what_is_javascript/index.md
  files/zh-cn/web/html/element/script/index.md
  files/zh-cn/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Labels: l10n-zh

#23431 zh-CN: fix "What is JavaScript"
  files/zh-cn/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-zh

#23400 [es] update learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines
  files/es/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
Labels: l10n-es

#23440 zh-CN: update API: `IDBCursor`
  files/zh-cn/web/api/idbcursor/index.md
Labels: l10n-zh

#23423 [zh-cn]: create the translation of the SVG attribute `additive`
  files/zh-cn/web/svg/attribute/additive/index.md
Labels: l10n-zh

#23359 [zh-cn] create the translation of "Test your skills: Loops"
  files/zh-cn/learn/javascript/building_blocks/looping_code/index.md
  files/zh-cn/learn/javascript/building_blocks/test_your_skills_colon__loops/index.md
Labels: l10n-zh

#23447 zh-cn: update the translation of "Common questions"
  files/zh-cn/learn/common_questions/index.md
Labels: l10n-zh

#23429 [ko] a11y: link update(웹 컨텐츠 접근성 지침 이해하기)
  files/ko/web/accessibility/understanding_wcag/index.md
Labels: l10n-ko

#23425 [zh-cn]: sync translation for File System API
  files/zh-cn/web/api/file_system_api/index.md
  files/zh-cn/web/api/file_system_api/origin_private_file_system/index.md
  files/zh-cn/web/api/filesystemdirectoryhandle/index.md
  files/zh-cn/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/zh-cn/web/api/filesystemfilehandle/createwritable/index.md
  files/zh-cn/web/api/filesystemfilehandle/index.md
  files/zh-cn/web/api/filesystemhandle/index.md
  files/zh-cn/web/api/filesystemhandle/issameentry/index.md
  files/zh-cn/web/api/filesystemhandle/querypermission/index.md
  files/zh-cn/web/api/filesystemhandle/requestpermission/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/close/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/flush/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/read/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/zh-cn/web/api/filesystemsyncaccesshandle/write/index.md
  files/zh-cn/web/api/storagemanager/getdirectory/index.md
Labels: l10n-zh

#23376 zh-cn: update the translation of the learn area home page
  files/zh-cn/learn/index.md
Labels: l10n-zh

#23374 [zh-cn] fix some flaws and add new translations
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/date_formatting_using_moment/index.md
Labels: l10n-zh

#23373 [ko] fix: NOTE syntax
  docs/ko/guides/translation-guide.md
  files/ko/web/css/_colon_blank/index.md
  files/ko/web/css/namespace_separator/index.md
Labels: l10n-ko

#23367 [ko] update contexts md how does the internet work
  files/ko/learn/common_questions/web_mechanics/how_does_the_internet_work/index.md
Labels: l10n-ko

#23045 [ko] translate learn/tools_and_testing/cross_browser_testing
  files/ko/learn/tools_and_testing/cross_browser_testing/index.md
Labels: l10n-ko

#23247 fix(ko): fix where the text wasn't being correctly bolded.
  files/ko/glossary/exception/index.md
  files/ko/glossary/exif/index.md
Labels: l10n-ko

#23439 zh-CN: update Performance: `Critical rendering path`
  files/zh-cn/web/performance/critical_rendering_path/index.md
Labels: l10n-zh

#23421 zh-cn: update the translation of the home page of "Accessibility" section
  files/zh-cn/learn/accessibility/index.md
Labels: l10n-zh

#23380 Web/JavaScript/Reference/Global_Objects/Symbol/Symbol を更新
  files/ja/web/javascript/reference/global_objects/symbol/symbol/index.md
Labels: l10n-ja

#23383 PerformanceObserver 以下の表記ゆれを修正
  files/ja/web/api/performanceobserver/observe/index.md
  files/ja/web/api/performanceobserver/performanceobserver/index.md
Labels: l10n-ja

#23384 Web/Progressive_web_apps を更新
  files/ja/web/progressive_web_apps/index.md
Labels: l10n-ja

#23385 Web/API/PerformanceObserverEntryList/getEntries を新規翻訳
  files/ja/web/api/performanceobserverentrylist/getentries/index.md
Labels: l10n-ja

#23386 Web/API/PerformanceObserverEntryList/getEntriesByType を新規翻訳
  files/ja/web/api/performanceobserverentrylist/getentriesbytype/index.md
Labels: l10n-ja

#23387 Web/API/PerformanceObserverEntryList を更新
  files/ja/web/api/performanceobserverentrylist/index.md
Labels: l10n-ja

#23388 Web/API/PerformanceObserverEntryList/getEntriesByName を新規翻訳
  files/ja/web/api/performanceobserverentrylist/getentriesbyname/index.md
Labels: l10n-ja

#23391 Web/API/PerformancePaintTiming を更新
  files/ja/web/api/performancepainttiming/index.md
Labels: l10n-ja

#23392 表記ゆれの修正
  files/ja/web/api/audiobuffersourcenode/index.md
  files/ja/web/api/blobevent/timecode/index.md
  files/ja/web/api/closeevent/index.md
  files/ja/web/api/document_object_model/examples/index.md
  files/ja/web/api/document_object_model/introduction/index.md
  files/ja/web/api/dommatrixreadonly/index.md
  files/ja/web/api/html_dom_api/index.md
  files/ja/web/api/htmlaudioelement/index.md
  files/ja/web/api/htmlpictureelement/index.md
  files/ja/web/api/intersectionobserverentry/index.md
  files/ja/web/api/mediarecordererrorevent/error/index.md
  files/ja/web/api/mediarecordererrorevent/index.md
  files/ja/web/api/mediasession/index.md
  files/ja/web/api/mediastream/getvideotracks/index.md
  files/ja/web/api/performanceresourcetiming/connectstart/index.md
  files/ja/web/api/performanceresourcetiming/renderblockingstatus/index.md
  files/ja/web/api/performanceresourcetiming/requeststart/index.md
  files/ja/web/api/performanceresourcetiming/responsestart/index.md
  files/ja/web/api/performanceresourcetiming/responsestatus/index.md
  files/ja/web/api/performancetiming/navigationstart/index.md
Labels: l10n-ja

#23393 Web/API/Permissions_API を更新
  files/ja/web/api/permissions_api/index.md
Labels: l10n-ja

#23394 Web/API/Permissions_API/Using_the_Permissions_API を更新
  files/ja/web/api/permissions_api/using_the_permissions_api/index.md
Labels: l10n-ja

#23395 API 名の揺れを修正
  files/ja/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.md
  files/ja/mozilla/firefox/releases/110/index.md
  files/ja/mozilla/firefox/releases/41/index.md
  files/ja/mozilla/firefox/releases/42/index.md
  files/ja/mozilla/firefox/releases/46/index.md
  files/ja/mozilla/firefox/releases/47/index.md
  files/ja/mozilla/firefox/releases/49/index.md
  files/ja/mozilla/firefox/releases/52/index.md
  files/ja/mozilla/firefox/releases/53/index.md
  files/ja/mozilla/firefox/releases/61/index.md
  files/ja/web/api/absoluteorientationsensor/index.md
  files/ja/web/api/accelerometer/accelerometer/index.md
  files/ja/web/api/accelerometer/index.md
  files/ja/web/api/ambientlightsensor/ambientlightsensor/index.md
  files/ja/web/api/ambientlightsensor/index.md
  files/ja/web/api/audio_output_devices_api/index.md
  files/ja/web/api/gravitysensor/gravitysensor/index.md
  files/ja/web/api/gravitysensor/index.md
  files/ja/web/api/gyroscope/gyroscope/index.md
  files/ja/web/api/gyroscope/index.md
  files/ja/web/api/linearaccelerationsensor/index.md
  files/ja/web/api/linearaccelerationsensor/linearaccelerationsensor/index.md
  files/ja/web/api/magnetometer/index.md
  files/ja/web/api/magnetometer/magnetometer/index.md
  files/ja/web/api/navigator/clipboard/index.md
  files/ja/web/api/navigator/requestmidiaccess/index.md
  files/ja/web/api/orientationsensor/index.md
Labels: l10n-ja

#23397 リンク切れを修正
  files/ja/web/javascript/reference/global_objects/json/rawjson/index.md
Labels: l10n-ja

#23398 Web/API/PermissionStatus/name を新規翻訳
  files/ja/web/api/permissionstatus/name/index.md
Labels: l10n-ja

#23399 Web/API/PermissionStatus 以下の記事をを更新
  files/ja/web/api/permissionstatus/change_event/index.md
  files/ja/web/api/permissionstatus/index.md
  files/ja/web/api/permissionstatus/state/index.md
Labels: l10n-ja

#23406 Symbol オブジェクトの記事を更新
  files/ja/web/javascript/reference/global_objects/symbol/index.md
Labels: l10n-ja

#23407 Web/JavaScript/Reference/Global_Objects/Symbol/for を更新
  files/ja/web/javascript/reference/global_objects/symbol/for/index.md
Labels: l10n-ja

#23408 Web/JavaScript/Reference/Global_Objects/Symbol/keyFor を更新
  files/ja/web/javascript/reference/global_objects/symbol/keyfor/index.md
Labels: l10n-ja

#23409 Symbol.asyncIterator を更新
  files/ja/web/javascript/reference/global_objects/symbol/asynciterator/index.md
Labels: l10n-ja

#23420 [ru] fix links and typo in `Learn/CSS/CSS_layout/Flexbox`
  files/ru/learn/css/css_layout/flexbox/index.md
Labels: l10n-ru

#23446 zh-cn: update the translation of the learn/css index page
  files/zh-cn/learn/css/index.md
Labels: l10n-zh

#23483 zh-cn: update the translation of the home page of learn
  files/zh-cn/learn/index.md
Labels: l10n-zh

#23464 [zh-cn]: update the translation of `global_objects/nan`
  files/zh-cn/web/javascript/reference/global_objects/nan/index.md
Labels: l10n-zh

#20022 zh-CN: glossary/color_space
  files/zh-cn/glossary/color_space/index.md
Labels: l10n-zh

#23351 zh-CN: create Glossary/Canonical_order
  files/zh-cn/glossary/canonical_order/index.md
Labels: l10n-zh

#23368 [zh-cn] create the translation of "Attribution Reporting API"
  files/zh-cn/web/api/attribution_reporting_api/generating_reports/index.md
  files/zh-cn/web/api/attribution_reporting_api/index.md
  files/zh-cn/web/api/attribution_reporting_api/registering_sources/index.md
  files/zh-cn/web/api/attribution_reporting_api/registering_triggers/index.md
Labels: l10n-zh

#23484 zh-cn: update the translation of the web/tutorials article
  files/zh-cn/web/tutorials/index.md
Labels: l10n-zh

#23445 zh-cn: update the translation of the "Web form building blocks" article
  files/zh-cn/learn/forms/index.md
Labels: l10n-zh

#23413 Web/API/PluginArray を更新
  files/ja/web/api/pluginarray/index.md
Labels: l10n-ja

#23414 Web/API/PointerEvent を更新
  files/ja/web/api/pointerevent/index.md
Labels: l10n-ja

#23415 Web/API/PointerEvent/PointerEvent を更新
  files/ja/web/api/pointerevent/pointerevent/index.md
Labels: l10n-ja

#23416 Web/API/PointerEvent/altitudeAngle を新規翻訳
  files/ja/web/api/pointerevent/altitudeangle/azimuth_altitude_angles.svg
  files/ja/web/api/pointerevent/altitudeangle/index.md
Labels: l10n-ja

#23417 Web/API/PointerEvent/azimuthAngle を新規翻訳
  files/ja/web/api/pointerevent/azimuthangle/azimuth_altitude_angles.svg
  files/ja/web/api/pointerevent/azimuthangle/index.md
Labels: l10n-ja

#23418 Web/API/PointerEvent/height を更新
  files/ja/web/api/pointerevent/height/index.md
Labels: l10n-ja

#23419 Web/API/PointerEvent/isPrimary を更新
  files/ja/web/api/pointerevent/isprimary/index.md
Labels: l10n-ja

#23443 Firefox 130 for developers を翻訳
  files/ja/mozilla/firefox/releases/130/index.md
Labels: l10n-ja

#23448 typo を修正
  files/ja/web/html/attributes/disabled/index.md
Labels: l10n-ja

#23477 [ru] remove deprecated `{{no_tag_omission}}` macro usages
  files/ru/web/html/element/abbr/index.md
  files/ru/web/html/element/address/index.md
  files/ru/web/html/element/article/index.md
  files/ru/web/html/element/aside/index.md
  files/ru/web/html/element/b/index.md
  files/ru/web/html/element/bdi/index.md
  files/ru/web/html/element/bdo/index.md
  files/ru/web/html/element/blockquote/index.md
  files/ru/web/html/element/button/index.md
  files/ru/web/html/element/canvas/index.md
  files/ru/web/html/element/cite/index.md
  files/ru/web/html/element/code/index.md
  files/ru/web/html/element/data/index.md
  files/ru/web/html/element/datalist/index.md
  files/ru/web/html/element/del/index.md
  files/ru/web/html/element/details/index.md
  files/ru/web/html/element/dfn/index.md
  files/ru/web/html/element/dialog/index.md
  files/ru/web/html/element/dl/index.md
  files/ru/web/html/element/em/index.md
  files/ru/web/html/element/fieldset/index.md
  files/ru/web/html/element/figcaption/index.md
  files/ru/web/html/element/figure/index.md
  files/ru/web/html/element/footer/index.md
  files/ru/web/html/element/header/index.md
  files/ru/web/html/element/heading_elements/index.md
  files/ru/web/html/element/ins/index.md
  files/ru/web/html/element/kbd/index.md
  files/ru/web/html/element/label/index.md
  files/ru/web/html/element/legend/index.md
  files/ru/web/html/element/map/index.md
  files/ru/web/html/element/mark/index.md
  files/ru/web/html/element/menu/index.md
  files/ru/web/html/element/meter/index.md
  files/ru/web/html/element/nav/index.md
  files/ru/web/html/element/noscript/index.md
  files/ru/web/html/element/ol/index.md
  files/ru/web/html/element/output/index.md
  files/ru/web/html/element/picture/index.md
  files/ru/web/html/element/pre/index.md
  files/ru/web/html/element/progress/index.md
  files/ru/web/html/element/ruby/index.md
  files/ru/web/html/element/slot/index.md
  files/ru/web/html/element/span/index.md
  files/ru/web/html/element/style/index.md
  files/ru/web/html/element/template/index.md
  files/ru/web/html/element/time/index.md
  files/ru/web/html/element/ul/index.md
  files/ru/web/html/element/video/index.md
Labels: l10n-ru

#23479 [ru] update `Web/API/Window/gamepadconnected_event` translation
  files/ru/_redirects.txt
  files/ru/web/api/gamepad/index.md
  files/ru/web/api/gamepad_api/index.md
  files/ru/web/api/gamepad_api/using_the_gamepad_api/index.md
  files/ru/web/api/gamepadevent/gamepad/index.md
  files/ru/web/api/gamepadevent/index.md
  files/ru/web/api/window/gamepadconnected_event/index.md
  files/ru/web/events/index.md
Labels: l10n-ru

#23480 [ru] remove deprecated `{{event}}` macro usage for `languagechange` event
  files/ru/mozilla/firefox/releases/32/index.md
  files/ru/web/api/htmlbodyelement/index.md
  files/ru/web/api/window/index.md
  files/ru/web/events/index.md
Labels: l10n-ru

#23498 zh-CN: remove some note
  files/zh-cn/web/css/box-sizing/index.md
Labels: l10n-zh

#23485 zh-cn: update the translation of "Getting started with the web"
  files/zh-cn/learn/getting_started_with_the_web/index.md
Labels: l10n-zh

#23465 [zh-cn]: update the translation of `Event.returnValue`
  files/zh-cn/web/api/event/returnvalue/index.md
Labels: l10n-zh

#23301 zh-cn: update the translation of the `UIEvent` constructor
  files/zh-cn/web/api/uievent/uievent/index.md
Labels: l10n-zh

#23327 zh-CN: create Glossary/Inset_properties
  files/zh-cn/glossary/inset_properties/index.md
Labels: l10n-zh

#23323 zh-CN: create Glossary/Shim
  files/zh-cn/glossary/shim/index.md
Labels: l10n-zh

#23432 Web/API/PointerEvent/persistentDeviceId を新規翻訳
  files/ja/web/api/pointerevent/persistentdeviceid/index.md
Labels: l10n-ja

#23434 Web/API/PointerEvent/pointerType 他5件を更新
  files/ja/web/api/pointerevent/pointertype/index.md
  files/ja/web/api/pointerevent/pressure/index.md
  files/ja/web/api/pointerevent/tangentialpressure/index.md
  files/ja/web/api/pointerevent/tiltx/index.md
  files/ja/web/api/pointerevent/tilty/index.md
  files/ja/web/api/pointerevent/twist/index.md
Labels: l10n-ja

#23435 Web/API/PointerEvent/width を更新
  files/ja/web/api/pointerevent/width/index.md
Labels: l10n-ja

#23436 Web/API/PointerEvent/getCoalescedEvents を更新
  files/ja/web/api/pointerevent/getcoalescedevents/index.md
Labels: l10n-ja

#23437 Web/API/PointerEvent/getPredictedEvents を新規翻訳
  files/ja/web/api/pointerevent/getpredictedevents/index.md
Labels: l10n-ja

#23501 [ja]: fix typo
  files/ja/glossary/kebab_case/index.md
Labels: l10n-ja

#23462 fix: remove DOMAttributeMethods deprecated macro
  docs/ko/guides/macro-guide.md
  files/es/web/api/element/getattributenodens/index.md
  files/es/web/api/element/removeattribute/index.md
  files/es/web/api/element/setattributens/index.md
  files/ja/web/api/element/getattributenode/index.md
  files/ja/web/api/element/getattributenodens/index.md
  files/ja/web/api/element/getattributens/index.md
  files/ja/web/api/element/hasattribute/index.md
  files/ja/web/api/element/hasattributens/index.md
  files/ja/web/api/element/removeattribute/index.md
  files/ja/web/api/element/removeattributenode/index.md
  files/ja/web/api/element/removeattributens/index.md
  files/ja/web/api/element/setattribute/index.md
  files/ja/web/api/element/setattributenode/index.md
  files/ja/web/api/element/setattributenodens/index.md
  files/ja/web/api/element/setattributens/index.md
  files/ja/web/api/element/toggleattribute/index.md
  files/ko/web/api/element/setattribute/index.md
Labels: l10n-ja, l10n-es, l10n-ko

#23338 zh-CN: create Glossary/Federated_identity
  files/zh-cn/glossary/federated_identity/index.md
Labels: l10n-zh
