Repository mdn/translated-content, pull requests merged in 2024-07, with the labels that each got.

#22029 [ko] logical properties 신규 번역
  files/ko/web/css/css_logical_properties_and_values/index.md
Labels: l10n-ko

#22079 [ko] docs: Section Title에 Return Value 추가
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

#21595 zh-CN: update the translation of glossary term "response header"
  files/zh-cn/glossary/response_header/index.md
Labels: l10n-zh

#21584 zh-CN: create Glossary/RTCP
  files/zh-cn/glossary/rtcp/index.md
Labels: l10n-zh

#22086 flex-shrinkのページの例にCSSが含まれていない
  files/ja/web/css/flex-shrink/index.md
Labels: l10n-ja

#22077 Correct identifier regex
  files/ja/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-ja

#22008 Glossary/Apple_Safari の更新
  files/ja/glossary/apple_safari/index.md
Labels: l10n-ja

#21987 [ko] RegExp.prototype.source 신규 번역 외
  files/ko/web/javascript/reference/global_objects/regexp/index.md
  files/ko/web/javascript/reference/global_objects/regexp/source/index.md
Labels: l10n-ko

#22090 [zh-cn]: fix typo
  files/zh-cn/web/api/offscreencanvas/index.md
Labels: l10n-zh

#21793 [zh-cn]: create the translation of `tabs.goForward()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/goforward/index.md
Labels: l10n-zh

#21792 [zh-cn]: create the translation of `tabs.goBack()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/goback/index.md
Labels: l10n-zh

#22055 [ko] with 문서 신규 번역
  files/ko/web/javascript/reference/statements/with/index.md
Labels: l10n-ko

#21913 [es] Update Discussion Channels
  files/es/mdn/community/contributing/translated_content/index.md
  files/fr/mdn/community/contributing/translated_content/index.md
  files/ja/mdn/community/contributing/translated_content/index.md
  files/ru/mdn/community/contributing/translated_content/index.md
  files/zh-cn/mdn/community/contributing/translated_content/index.md
  files/zh-tw/mdn/community/contributing/translated_content/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru

#22056 [es] Remove DOMAttributeMethods deprecated macro
  files/es/web/api/element/getattribute/index.md
  files/es/web/api/element/hasattribute/index.md
  files/es/web/api/element/setattribute/index.md
Labels: l10n-es

#22069 [es] Update EvilCircle
  files/es/learn/javascript/objects/adding_bouncing_balls_features/index.md
Labels: l10n-es

#21867 [ko] fix typo (브라주어 -> 브라우저)
  files/ko/web/css/css_containment/index.md
Labels: l10n-ko

#20189 [ko] Object.prototype.__defineSetter__() 신규 번역
  files/ko/web/javascript/reference/global_objects/object/__definesetter__/index.md
Labels: l10n-ko

#21581 zh-CN: create Glossary/RTF
  files/zh-cn/glossary/rtf/index.md
Labels: l10n-zh

#22062 [zh-tw]: update HTTP Status `100`
  files/zh-tw/web/http/status/100/index.md
Labels: l10n-zh

#21830 [zh-cn]: create the translation of `tabs.MutedInfo` type
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/mutedinfo/index.md
Labels: l10n-zh

#21789 [zh-cn]: create the translation of `tabs.getSelected()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/getselected/index.md
Labels: l10n-zh

#21824 [zh-cn]: create the translation of `tabs.toggleReaderMode()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/togglereadermode/index.md
Labels: l10n-zh

#21909 [zh-cn]: translate for FontFaceSetLoadEvent
  files/zh-cn/web/api/fontfacesetloadevent/fontfaces/index.md
  files/zh-cn/web/api/fontfacesetloadevent/fontfacesetloadevent/index.md
  files/zh-cn/web/api/fontfacesetloadevent/index.md
Labels: l10n-zh

#21791 [zh-cn]: create the translation of `tabs.getZoomSettings()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/getzoomsettings/index.md
Labels: l10n-zh

#22114 [ru] remove broken "Browser compatibility" section in `Web/API/Web_Workers_API/Using_web_workers`
  files/ru/web/api/web_workers_api/using_web_workers/index.md
Labels: l10n-ru

#21831 [zh-cn]: create the translation of `tabs.MutedInfoReason` type
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/mutedinforeason/index.md
Labels: l10n-zh

#21787 [zh-cn]: create the translation of `tabs.getAllInWindow()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/getallinwindow/index.md
Labels: l10n-zh

#21790 [zh-cn]: create the translation of `tabs.getZoom()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/getzoom/index.md
Labels: l10n-zh

#21786 [zh-cn]: create the translation of `tabs.get()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/get/index.md
Labels: l10n-zh

#21788 [zh-cn]: create the translation of `tabs.getCurrent()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/getcurrent/index.md
Labels: l10n-zh

#21555 zh-CN: update Glossary/Site
  files/zh-cn/glossary/site/index.md
Labels: l10n-zh

#21585 zh-CN: create Glossary/Round_Trip_Time
  files/zh-cn/glossary/round_trip_time/index.md
Labels: l10n-zh

#21923 [zh-cn]: create the translation of FormDataEvent interface
  files/zh-cn/web/api/formdataevent/formdata/index.md
  files/zh-cn/web/api/formdataevent/formdataevent/index.md
  files/zh-cn/web/api/formdataevent/index.md
Labels: l10n-zh

#22063 用語の統一：コンテナー
  files/ja/learn/css/building_blocks/values_and_units/index.md
Labels: l10n-ja

#22064 Learn/CSS/CSS_layout/Flexbox を更新
  files/ja/learn/css/css_layout/flexbox/index.md
Labels: l10n-ja

#22065 Learn/CSS/CSS_layout/Practical_positioning_examples を更新
  files/ja/learn/css/css_layout/practical_positioning_examples/index.md
Labels: l10n-ja

#22066 Learn/CSS/Styling_text/Styling_links を更新
  files/ja/learn/css/styling_text/styling_links/index.md
Labels: l10n-ja

#22067 Glossary/Property/CSS 他3件を更新
  files/ja/glossary/property/css/index.md
  files/ja/glossary/property/index.md
  files/ja/glossary/pseudo-element/index.md
  files/ja/glossary/rng/index.md
Labels: l10n-ja

#22068 conflicting/Web/Accessibility/ARIA/Roles/alert_role を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/conflicting/web/accessibility/aria/roles/alert_role/index.md
Labels: l10n-ja

#22124 [es] fix typo in `Web/API/Window/localStorage`
  files/es/web/api/window/localstorage/index.md
Labels: l10n-es

#22150 [es] Update array/every and fix 20181
  files/es/web/javascript/reference/global_objects/array/every/index.md
Labels: l10n-es

#22151 fix(ru): correct the leading `id` of the live sample
  files/ru/web/css/z-index/index.md
Labels: l10n-ru

#22107 [zh-cn] update document.elementfrompoint method
  files/zh-cn/web/api/document/elementfrompoint/index.md
Labels: l10n-zh

#21807 [zh-cn]: create the translation of `tabs.removeCSS()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/removecss/index.md
Labels: l10n-zh

#21847 [zh-cn]: update the translation of `tabs.Tab` type
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/tab/index.md
Labels: l10n-zh

#21937 [zh-cn]: update the translation of "Introduction to game development"
  files/zh-cn/games/introduction/index.md
Labels: l10n-zh

#21785 [zh-cn]: create the translation of `tabs.executeScript()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/executescript/index.md
Labels: l10n-zh

#21162 zh-CN: add hashes
  files/zh-cn/glossary/node/networking/index.md
  files/zh-cn/glossary/nullish/index.md
  files/zh-cn/glossary/png/index.md
  files/zh-cn/glossary/port/index.md
  files/zh-cn/glossary/presto/index.md
  files/zh-cn/glossary/property/css/index.md
  files/zh-cn/glossary/property/index.md
  files/zh-cn/glossary/property/javascript/index.md
  files/zh-cn/glossary/pseudocode/index.md
  files/zh-cn/glossary/rtl/index.md
  files/zh-cn/glossary/safe/http/index.md
  files/zh-cn/glossary/scroll_container/index.md
  files/zh-cn/glossary/signature/index.md
Labels: l10n-zh

#21817 [zh-cn]: create the translation of `tabs.setZoom()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/setzoom/index.md
Labels: l10n-zh

#21972 [pt-br] fix typos in `Learn/Server-side/Express_Nodejs/development_environment`
  files/pt-br/learn/server-side/express_nodejs/development_environment/index.md
Labels: l10n-pt-br

#22158 [ru] fix typos in `Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals`
  files/ru/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: l10n-ru

#22078 [ko] Symbol.unscopables 문서 신규 번역
  files/ko/web/javascript/reference/global_objects/symbol/unscopables/index.md
Labels: l10n-ko

#22139 feat(glossary): Add term
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

#21938 [zh-cn]: update the translation of `CanvasGradient` interface
  files/zh-cn/web/api/canvasgradient/index.md
Labels: l10n-zh

#22127 [ko] css doublecolon marker 번역
  files/ko/web/css/_doublecolon_marker/index.md
Labels: l10n-ko

#21797 [zh-cn]: create the translation of `tabs.move()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/move/index.md
Labels: l10n-zh

#21806 [zh-cn]: create the translation of `tabs.remove()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/remove/index.md
Labels: l10n-zh

#21822 [zh-cn]: create the translation of `tabs.setZoomSettings()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/setzoomsettings/index.md
Labels: l10n-zh

#21827 [zh-cn]: create the translation of `tabs.update()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/update/index.md
Labels: l10n-zh

#22165 [zh-cn]: create translation of `set.union` method
  files/zh-cn/web/javascript/reference/global_objects/set/union/index.md
Labels: l10n-zh

#21805 [zh-cn]: create the translation of `tabs.reload()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/reload/index.md
Labels: l10n-zh

#21795 [zh-cn]: create the translation of `tabs.highlight()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/highlight/index.md
Labels: l10n-zh

#21802 [zh-cn]: create the translation of `tabs.print()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/print/index.md
Labels: l10n-zh

#21796 [zh-cn]: update the translation of `tabs.insertCSS()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
Labels: l10n-zh

#21574 zh-CN: create Glossary/Screen_reader
  files/zh-cn/glossary/screen_reader/index.md
Labels: l10n-zh

#20817 [zh-cn]: update the translation of "Building an Internet-Connected Phone with PeerJS"
  files/zh-cn/web/api/rtcpeerconnection/cantrickleicecandidates/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/build_the_server/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/answer_a_call/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/create_a_peer_connection/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/creating_a_call/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/end_a_call/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/get_microphone_permission/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/show_hide_html/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/deployment_and_further_reading/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/zh-cn/web/api/webrtc_api/build_a_phone_with_peerjs/setup/index.md
Labels: l10n-zh

#22138 [zh-cn]: translate for HTMLElement API
  files/zh-cn/web/api/htmldataelement/index.md
  files/zh-cn/web/api/htmldataelement/value/index.md
  files/zh-cn/web/api/htmldatalistelement/index.md
  files/zh-cn/web/api/htmldlistelement/index.md
  files/zh-cn/web/api/htmlmenuelement/index.md
Labels: l10n-zh

#21950 [zh-cn]: create the translation of `CanvasRenderingContext2D.fontStretch` property
  files/zh-cn/web/api/canvasrenderingcontext2d/fontstretch/index.md
Labels: l10n-zh

#21801 [zh-cn]: create the translation of `tabs.moveInSuccession()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/moveinsuccession/index.md
Labels: l10n-zh

#22074 文字の揺れを修正
  files/ja/learn/css/building_blocks/index.md
Labels: l10n-ja

#22075 Learn/CSS/Building_blocks/Advanced_styling_effects を更新
  files/ja/learn/css/building_blocks/advanced_styling_effects/index.md
Labels: l10n-ja

#22076 Glossary/Firewall を更新
  files/ja/glossary/firewall/index.md
Labels: l10n-ja

#22080 Learn/Forms/UI_pseudo-classes を更新
  files/ja/learn/forms/ui_pseudo-classes/index.md
Labels: l10n-ja

#22081 表記ゆれの修正
  files/ja/games/introduction/index.md
  files/ja/games/techniques/3d_on_the_web/basic_theory/index.md
  files/ja/learn/css/building_blocks/creating_fancy_letterheaded_paper/index.md
  files/ja/learn/css/styling_text/fundamentals/index.md
  files/ja/learn/css/styling_text/typesetting_a_homepage/index.md
  files/ja/learn/forms/how_to_build_custom_form_controls/index.md
  files/ja/learn/html/howto/use_data_attributes/index.md
  files/ja/learn/html/tables/advanced/index.md
Labels: l10n-ja

#22082 Learn/HTML/Tables/Basics を更新
  files/ja/learn/html/tables/basics/index.md
Labels: l10n-ja

#22088 段組みレイアウトのページにある段と断片化の例のhtmlが二重になっている
  files/ja/learn/css/css_layout/multiple-column_layout/index.md
Labels: l10n-ja

#22089 Web/API/CanvasRenderingContext2D/createPattern を新規翻訳
  files/ja/web/api/canvasrenderingcontext2d/createpattern/index.md
Labels: l10n-ja

#22091 表記ゆれの修正
  files/ja/learn/html/tables/structuring_planet_data/index.md
  files/ja/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Labels: l10n-ja

#22092 Learn/Tools_and_testing/Cross_browser_testing/Accessibility を更新
  files/ja/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: l10n-ja

#22093 Learn/Tools_and_testing/Cross_browser_testing/HTML_and_CSS を更新
  files/ja/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
Labels: l10n-ja

#22094 Learn/Tools_and_testing/Cross_browser_testing/JavaScript を更新
  files/ja/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: l10n-ja

#22100 Web/API/CanvasRenderingContext2D/createRadialGradient を新規翻訳
  files/ja/web/api/canvasrenderingcontext2d/createradialgradient/index.md
Labels: l10n-ja

#22108 ja: ライブデモのJavaScriptが実行されない不具合を修正
  files/ja/web/api/element/paste_event/index.md
Labels: l10n-ja

#22160 [ja] Object.freeze(): fix markup
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
Labels: l10n-ja

#21833 [ko] OSS etiquette 신규 번역
  files/ko/glossary/camel_case/index.md
  files/ko/glossary/kebab_case/index.md
  files/ko/glossary/snake_case/index.md
  files/ko/mdn/community/contributing/our_repositories/index.md
  files/ko/mdn/community/open_source_etiquette/index.md
Labels: l10n-ko

#22049 [zh-cn]: create the translation of `Permission-Policy.accelerometer` directive
  files/zh-cn/web/http/headers/permissions-policy/accelerometer/index.md
Labels: l10n-zh

#22051 [zh-cn]: create the translation of `Permission-Policy.attribution-reporting` directive
  files/zh-cn/web/http/headers/permissions-policy/attribution-reporting/index.md
Labels: l10n-zh

#21803 [zh-cn]: create the translation of `tabs.printPreview()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/printpreview/index.md
Labels: l10n-zh

#22050 [zh-cn]: create the translation of `Permission-Policy.ambient-light-sensor` directive
  files/zh-cn/web/http/headers/permissions-policy/ambient-light-sensor/index.md
Labels: l10n-zh

#21808 [zh-cn]: create the translation of `tabs.saveAsPDF()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/saveaspdf/index.md
Labels: l10n-zh

#21832 zh-cn: update the explanations within "Using the Web Speech API"
  files/zh-cn/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: l10n-zh

#21781 [zh-cn]: create the translation of `tabs.create()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/create/index.md
Labels: l10n-zh

#22167 [zh-cn]: create `set.isDisjointFrom` translation
  files/zh-cn/web/javascript/reference/global_objects/set/isdisjointfrom/index.md
Labels: l10n-zh

#21963 [zh-cn]: update the translation of `CanvasRenderingContext2D.shadowBlur` property
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowblur/index.md
Labels: l10n-zh

#22168 [zh-CN]: create translation for `Set.prototype.difference`
  files/zh-cn/web/javascript/reference/global_objects/set/difference/index.md
Labels: l10n-zh

#22196 zh-CN: update Glossary/Firewall
  files/zh-cn/glossary/firewall/index.md
Labels: l10n-zh

#22109 Web/API/AudioScheduledSourceNode/start を更新
  files/ja/web/api/audioscheduledsourcenode/start/index.md
Labels: l10n-ja

#22110 Web/API/AudioScheduledSourceNode/stop を更新
  files/ja/web/api/audioscheduledsourcenode/stop/index.md
Labels: l10n-ja

#22111 Web/API/AudioScheduledSourceNode/ended_event を更新
  files/ja/web/api/audioscheduledsourcenode/ended_event/index.md
Labels: l10n-ja

#22113 Web/API/AudioScheduledSourceNode を更新
  files/ja/web/api/audioscheduledsourcenode/index.md
Labels: l10n-ja

#22116 Web/API/BaseAudioContext/audioWorklet を更新
  files/ja/web/api/baseaudiocontext/audioworklet/index.md
Labels: l10n-ja

#22117 Web/API/BaseAudioContext/currentTime を更新
  files/ja/web/api/baseaudiocontext/currenttime/index.md
Labels: l10n-ja

#22118 Web/API/BaseAudioContext/destination を更新
  files/ja/web/api/baseaudiocontext/destination/index.md
Labels: l10n-ja

#22119 Web/API/BaseAudioContext/listener を更新
  files/ja/web/api/baseaudiocontext/listener/index.md
Labels: l10n-ja

#22120 Web/API/BaseAudioContext/sampleRate を更新
  files/ja/web/api/baseaudiocontext/samplerate/index.md
Labels: l10n-ja

#22195 zh-CN: create Glossary/Firefox_OS
  files/zh-cn/glossary/firefox_os/index.md
Labels: l10n-zh

#22200 zh-CN: create Glossary/Static_typing
  files/zh-cn/glossary/static_typing/index.md
Labels: l10n-zh

#22193 zh-CN: update Glossary/Element
  files/zh-cn/glossary/element/index.md
Labels: l10n-zh

#22209 zh-CN: update Glossary/STUN
  files/zh-cn/glossary/stun/index.md
Labels: l10n-zh

#22199 zh-CN: update Glossary/Statement
  files/zh-cn/glossary/statement/index.md
Labels: l10n-zh

#21710 docs(zh-cn): add two headings which is related to the ARIA topic
  docs/zh-cn/glossary.md
Labels: l10n-zh

#22194 zh-CN: create Glossary/Fingerprinting
  files/zh-cn/glossary/fingerprinting/index.md
Labels: l10n-zh

#22190 fix: update the description of the `ToggleEvent` interface
  files/zh-cn/web/api/toggleevent/index.md
Labels: l10n-zh

#22205 zh-CN: create Glossary/Symbol
  files/zh-cn/_redirects.txt
  files/zh-cn/glossary/symbol/index.md
Labels: l10n-zh

#22197 zh-CN: update Glossary/ECMAScript
  files/zh-cn/glossary/ecmascript/index.md
Labels: l10n-zh

#22203 zh-CN: update Glossary/SVN
  files/zh-cn/glossary/svn/index.md
Labels: l10n-zh

#21943 [zh-cn]: update the translation of `CanvasRenderingContext2D.canvas` property
  files/zh-cn/web/api/canvasrenderingcontext2d/canvas/index.md
Labels: l10n-zh

#21954 [zh-cn]: update the tranlation of `CanvasRenderingContext2D.imageSmoothingEnabled` property
  files/zh-cn/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.md
Labels: l10n-zh

#21804 [zh-cn]: update the translation of `tabs.query()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/tabs/query/index.md
Labels: l10n-zh

#21940 [zh-cn]: update the translation of `CanvasPattern` interface
  files/zh-cn/web/api/canvaspattern/index.md
Labels: l10n-zh

#22189 [ko] Intl.Locale.prototype.getTimeZones() 신규 번역 외
  files/ko/web/javascript/reference/global_objects/intl/locale/gettimezones/index.md
  files/ko/web/javascript/reference/global_objects/rangeerror/index.md
  files/ko/web/javascript/reference/global_objects/rangeerror/rangeerror/index.md
Labels: l10n-ko

#22178 [ko] Intl.ListFormat 설명글 신규 번역
  files/ko/web/javascript/reference/global_objects/intl/listformat/index.md
Labels: l10n-ko

#22098 [ko] TypedArray.prototype.find() 신규 번역 외
  files/ko/web/javascript/reference/global_objects/array/find/index.md
  files/ko/web/javascript/reference/global_objects/typedarray/find/index.md
Labels: l10n-ko

#20993 [ko] translate /ko/learn/accessibility/css_and_javascript/index.md
  files/ko/learn/accessibility/css_and_javascript/index.md
Labels: l10n-ko

#22201 zh-CN: create Glossary/State_machine
  files/zh-cn/glossary/state_machine/index.md
Labels: l10n-zh

#22204 zh-CN: create Glossary/Symmetric-key_cryptography
  files/zh-cn/glossary/symmetric-key_cryptography/index.md
Labels: l10n-zh

#21944 [zh-cn]: update the translation of `CanvasRenderingContext2D.direction` property
  files/zh-cn/web/api/canvasrenderingcontext2d/direction/index.md
Labels: l10n-zh

#22217 zh-CN: create Glossary/Time_to_interactive
  files/zh-cn/glossary/time_to_interactive/index.md
Labels: l10n-zh

#22027 [zh-cn]: update the translation of `CanvasRenderingContext2D.setLineDash()` method
  files/zh-cn/web/api/canvasrenderingcontext2d/setlinedash/index.md
Labels: l10n-zh

#22014 [zh-cn]: update the translation of `CanvasRenderingContext2D.quadraticCurveTo()` method
  files/zh-cn/web/api/canvasrenderingcontext2d/quadraticcurveto/index.md
Labels: l10n-zh

#21966 [zh-cn]: update the translation of `CanvasRenderingContext2D.shadowOffsetY` property
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowoffsety/index.md
Labels: l10n-zh

#22284 zh-CN: create Glossary/TOFU
  files/zh-cn/glossary/tofu/index.md
Labels: l10n-zh

#21965 [zh-cn]: update the translation of `CanvasRenderingContext2D.shadowOffsetX` property
  files/zh-cn/web/api/canvasrenderingcontext2d/shadowoffsetx/index.md
Labels: l10n-zh

#22271 zh-CN: update Glossary/UI
  files/zh-cn/glossary/ui/index.md
Labels: l10n-zh

#22105 [ko] using css gradient 번역
  files/ko/web/css/css_images/using_css_gradients/index.md
Labels: l10n-ko

#22140 Web/API/BaseAudioContext/createAnalyser を更新
  files/ja/web/api/baseaudiocontext/createanalyser/index.md
Labels: l10n-ja

#22141 Web/API/BaseAudioContext/createBiquadFilter 他5件を更新
  files/ja/web/api/baseaudiocontext/createbiquadfilter/index.md
  files/ja/web/api/baseaudiocontext/createchannelmerger/index.md
  files/ja/web/api/baseaudiocontext/createchannelsplitter/index.md
  files/ja/web/api/baseaudiocontext/createconstantsource/index.md
  files/ja/web/api/baseaudiocontext/createdelay/index.md
  files/ja/web/api/baseaudiocontext/createwaveshaper/index.md
Labels: l10n-ja

#22142 Web/API/BaseAudioContext/createConvolver を更新
  files/ja/web/api/baseaudiocontext/createconvolver/index.md
Labels: l10n-ja

#22143 Web/API/BaseAudioContext/createGain 他2件を更新
  files/ja/web/api/baseaudiocontext/creategain/index.md
  files/ja/web/api/baseaudiocontext/createoscillator/index.md
  files/ja/web/api/baseaudiocontext/decodeaudiodata/index.md
Labels: l10n-ja

#22144 Web/API/BaseAudioContext/createBufferSource 他2件を更新
  files/ja/web/api/baseaudiocontext/createbuffersource/index.md
  files/ja/web/api/baseaudiocontext/createdynamicscompressor/index.md
  files/ja/web/api/baseaudiocontext/createiirfilter/index.md
Labels: l10n-ja

#22145 Web/API/BaseAudioContext/createPanner を更新
  files/ja/web/api/baseaudiocontext/createpanner/index.md
Labels: l10n-ja

#22146 Web/API/BaseAudioContext/createPeriodicWave を更新
  files/ja/web/api/baseaudiocontext/createperiodicwave/index.md
Labels: l10n-ja

#22147 リンク先の修正
  files/ja/web/api/baseaudiocontext/createstereopanner/index.md
Labels: l10n-ja

#22148 Web/API/BaseAudioContext/statechange_event を更新
  files/ja/web/api/baseaudiocontext/statechange_event/index.md
Labels: l10n-ja

#22149 表記ゆれの修正
  files/ja/web/api/baseaudiocontext/index.md
Labels: l10n-ja

#22307 [ko] fix images and links in `Web/HTTP/Overview`
  files/ko/web/http/overview/index.md
Labels: l10n-ko

#21934 [zh-cn]: update the translation of CSS `::first-letter` Pseudo elements
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
Labels: l10n-zh

#22210 zh-CN: create Glossary/Style_origin
  files/zh-cn/glossary/style_origin/index.md
Labels: l10n-zh

#22278 zh-CN: update Glossary/Truthy
  files/zh-cn/glossary/truthy/index.md
Labels: l10n-zh

#21988 [zh-cn]: update the translation of `CanvasRenderingContext2D.clip()` method
  files/zh-cn/web/api/canvasrenderingcontext2d/clip/index.md
Labels: l10n-zh
