Repository mdn/translated-content, pull requests merged in 2024-08, with the labels that each got.

#22802 chore(zh): maintain redirected links (part 2)
  files/zh-tw/web/javascript/guide/grammar_and_types/index.md
  files/zh-tw/web/javascript/guide/introduction/index.md
  files/zh-tw/web/javascript/guide/regular_expressions/index.md
  files/zh-tw/web/javascript/guide/typed_arrays/index.md
  files/zh-tw/web/javascript/guide/using_promises/index.md
  files/zh-tw/web/javascript/javascript_technologies_overview/index.md
  files/zh-tw/web/javascript/language_overview/index.md
  files/zh-tw/web/javascript/memory_management/index.md
  files/zh-tw/web/javascript/reference/functions/rest_parameters/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/map/index.md
  files/zh-tw/web/javascript/reference/global_objects/boolean/index.md
  files/zh-tw/web/javascript/reference/global_objects/date/index.md
  files/zh-tw/web/javascript/reference/global_objects/math/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/create/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/getprototypeof/index.md
  files/zh-tw/web/javascript/reference/global_objects/object/keys/index.md
  files/zh-tw/web/javascript/reference/global_objects/parseint/index.md
  files/zh-tw/web/javascript/reference/global_objects/promise/index.md
  files/zh-tw/web/javascript/reference/lexical_grammar/index.md
  files/zh-tw/web/javascript/reference/operators/typeof/index.md
  files/zh-tw/web/javascript/reference/statements/async_function/index.md
  files/zh-tw/web/javascript/reference/statements/export/index.md
  files/zh-tw/web/javascript/reference/statements/function_star_/index.md
  files/zh-tw/web/javascript/reference/statements/import/index.md
  files/zh-tw/web/javascript/reference/statements/label/index.md
  files/zh-tw/web/javascript/reference/statements/switch/index.md
  files/zh-tw/web/javascript/reference/strict_mode/index.md
  files/zh-tw/web/javascript/reference/template_literals/index.md
  files/zh-tw/web/mathml/index.md
  files/zh-tw/web/media/formats/containers/index.md
  files/zh-tw/web/opensearch/index.md
  files/zh-tw/web/progressive_web_apps/index.md
  files/zh-tw/web/security/mixed_content/index.md
  files/zh-tw/web/security/same-origin_policy/index.md
  files/zh-tw/web/svg/index.md
  files/zh-tw/web/svg/tutorial/fills_and_strokes/index.md
  files/zh-tw/web/svg/tutorial/index.md
  files/zh-tw/web/svg/tutorial/introduction/index.md
  files/zh-tw/web/svg/tutorial/paths/index.md
  files/zh-tw/web/tutorials/index.md
  files/zh-tw/webassembly/c_to_wasm/index.md
  files/zh-tw/webassembly/concepts/index.md
  files/zh-tw/webassembly/index.md
Labels: l10n-zh

#22125 [ko] EvalError 생성자 추가 및 EvalError 최신화
  files/ko/web/javascript/reference/global_objects/evalerror/evalerror/index.md
  files/ko/web/javascript/reference/global_objects/evalerror/index.md
Labels: l10n-ko

#22774 [ko] Iterator.prototype.every() 신규 번역 외
  files/ko/web/javascript/reference/global_objects/iterator/every/index.md
  files/ko/web/javascript/reference/global_objects/number/parseint/index.md
Labels: l10n-ko

#22577 zh-CN: update Glossary/Accessible_name
  files/zh-cn/glossary/accessible_name/index.md
Labels: l10n-zh

#22815 [zh-cn]: create docs for HTMLHRElement
  files/zh-cn/web/api/htmlhrelement/index.md
Labels: l10n-zh

#22840 zh-cn: update the translation of the `createRenderbuffer()` method
  files/zh-cn/web/api/webglrenderingcontext/createrenderbuffer/index.md
Labels: l10n-zh

#22736 Web/API/Window/external を更新
  files/ja/web/api/window/external/index.md
Labels: l10n-ja

#22737 Web/HTTP/Status/200 を更新
  files/ja/web/http/status/200/index.md
Labels: l10n-ja

#22739 Web/HTTP/Status/418 を更新
  files/ja/web/http/status/418/index.md
Labels: l10n-ja

#22740 Web/HTTP/Status/429 を更新
  files/ja/web/http/status/429/index.md
Labels: l10n-ja

#22741 Web/HTTP/Protocol_upgrade_mechanism を新規翻訳
  files/ja/web/http/protocol_upgrade_mechanism/index.md
Labels: l10n-ja

#22742 Glossary/Callback_function を更新
  files/ja/glossary/callback_function/index.md
Labels: l10n-ja

#22743 Learn/JavaScript/Client-side_web_APIs/Client-side_storage を更新
  files/ja/learn/javascript/client-side_web_apis/client-side_storage/index.md
Labels: l10n-ja

#22744 Learn/JavaScript/Client-side_web_APIs/Third_party_APIs を更新
  files/ja/learn/javascript/client-side_web_apis/third_party_apis/index.md
Labels: l10n-ja

#22752 Learn/Tools_and_testing/Understanding_client-side_tools/Command_line を更新
  files/ja/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: l10n-ja

#22755 MDN/Writing_guidelines/Howto/Write_an_api_reference/Sidebars を更新
  files/ja/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
Labels: l10n-ja

#22756 MDN/Writing_guidelines/Page_structures/Page_types/Page_type_key を更新
  files/ja/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: l10n-ja

#22867 ko: Convert noteblocks to GFM Alerts (part 8)
  files/ko/learn/server-side/django/home_page/index.md
  files/ko/learn/server-side/django/models/index.md
  files/ko/web/api/element/innerhtml/index.md
  files/ko/web/api/fullscreen_api/index.md
  files/ko/web/api/navigator/connection/index.md
  files/ko/web/css/@namespace/index.md
  files/ko/web/css/@page/index.md
  files/ko/web/css/clear/index.md
  files/ko/web/css/float/index.md
  files/ko/web/css/specificity/index.md
  files/ko/web/css/transform-function/matrix/index.md
  files/ko/web/javascript/guide/typed_arrays/index.md
  files/ko/web/javascript/reference/global_objects/function/call/index.md
Labels: l10n-ko

#22187 [ko] TypedArray.prototype.toString() 신규 번역 외
  files/ko/web/javascript/reference/global_objects/array/tostring/index.md
  files/ko/web/javascript/reference/global_objects/typedarray/tostring/index.md
Labels: l10n-ko

#22863 fix: correct typo in Spanish translation
  files/es/web/javascript/reference/template_literals/index.md
Labels: l10n-es

#22816 [zh-cn]: create docs for HTMLLabelElement
  files/zh-cn/web/api/htmllabelelement/control/index.md
  files/zh-cn/web/api/htmllabelelement/form/index.md
  files/zh-cn/web/api/htmllabelelement/htmlfor/index.md
  files/zh-cn/web/api/htmllabelelement/index.md
Labels: l10n-zh

#22887 [ko] JS loops & iteration 오타 및 단어 수정
  files/ko/web/javascript/guide/loops_and_iteration/index.md
Labels: l10n-ko

#22885 [ko] translate web/html/attributes/placeholder
  files/ko/web/html/attributes/placeholder/index.md
Labels: l10n-ko

#22862 [ko] namespace seperator 번역
  files/ko/web/css/namespace_separator/index.md
Labels: l10n-ko

#22836 [ko] ServiceWorkerGlobalScope 신규 번역
  files/ko/web/api/serviceworkerglobalscope/index.md
Labels: l10n-ko

#22884 翻訳ミスを修正
  files/ja/web/api/requestinit/index.md
Labels: l10n-ja

#22782 Web/HTML を更新
  files/ja/web/html/index.md
Labels: l10n-ja

#22785 Web/API/AudioContext/AudioContext を更新
  files/ja/web/api/audiocontext/audiocontext/index.md
Labels: l10n-ja

#22786 Web/API/DOMMatrix を更新
  files/ja/web/api/dommatrix/index.md
Labels: l10n-ja

#22787 Web/CSS/-moz-force-broken-image-icon を更新
  files/ja/web/css/-moz-force-broken-image-icon/index.md
Labels: l10n-ja

#22788 Web/Events/Event_handlers を更新
  files/ja/web/events/event_handlers/index.md
Labels: l10n-ja

#22789 Web/HTML/Attributes/placeholder を更新
  files/ja/web/html/attributes/placeholder/index.md
Labels: l10n-ja

#22790 Web/Guide を更新
  files/ja/web/guide/index.md
Labels: l10n-ja

#19845 [zh-cn]: create the translation of `CookieChangeEvent` interface
  files/zh-cn/web/api/cookiechangeevent/changed/index.md
  files/zh-cn/web/api/cookiechangeevent/deleted/index.md
  files/zh-cn/web/api/cookiechangeevent/index.md
Labels: l10n-zh

#22612 zh-CN: create Glossary/Aspect_ratio
  files/zh-cn/glossary/aspect_ratio/index.md
Labels: l10n-zh

#22820 Web/Accessibility/Understanding_WCAG/Operable を更新
  files/ja/web/accessibility/understanding_wcag/operable/index.md
Labels: l10n-ja

#22821 保守が困難になった古い記事を削除
  files/ja/_redirects.txt
  files/ja/_wikihistory.json
  files/ja/orphaned/setting_up_extension_development_environment/index.md
Labels: l10n-ja

#22822 リンクの修正
  files/ja/mozilla/firefox/releases/111/index.md
  files/ja/mozilla/firefox/releases/57/index.md
Labels: l10n-ja

#22823 Web/API/ConstantSourceNode を更新
  files/ja/web/api/constantsourcenode/index.md
Labels: l10n-ja

#22824 Webassembly 以下の表記ゆれを修正
  files/ja/webassembly/javascript_interface/compilestreaming_static/index.md
  files/ja/webassembly/javascript_interface/index.md
  files/ja/webassembly/javascript_interface/instantiate_static/index.md
  files/ja/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/ja/webassembly/javascript_interface/memory/index.md
  files/ja/webassembly/javascript_interface/module/exports_static/index.md
  files/ja/webassembly/loading_and_running/index.md
  files/ja/webassembly/rust_to_wasm/index.md
  files/ja/webassembly/understanding_the_text_format/index.md
Labels: l10n-ja

#22825 Web/XSLT/Transforming_XML_with_XSLT/The_Netscape_XSLT_XPath_Reference を更新
  files/ja/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/index.md
Labels: l10n-ja

#22826 Web/XSLT/Transforming_XML_with_XSLT/For_Further_Reading を更新
  files/ja/web/xslt/transforming_xml_with_xslt/for_further_reading/index.md
Labels: l10n-ja

#22827 Web/XSLT/Transforming_XML_with_XSLT/An_Overview を更新
  files/ja/web/xslt/transforming_xml_with_xslt/an_overview/index.md
Labels: l10n-ja

#22828 Web/XSLT/Transforming_XML_with_XSLT を更新
  files/ja/web/xslt/transforming_xml_with_xslt/index.md
Labels: l10n-ja

#22829 Web/XSLT/PI_Parameters を更新
  files/ja/web/xslt/pi_parameters/index.md
Labels: l10n-ja

#22837 Web/API/HTMLMediaElement/canPlayType を更新
  files/ja/web/api/htmlmediaelement/canplaytype/index.md
Labels: l10n-ja

#22838 Web/API/HTMLMediaElement/captureStream を更新
  files/ja/web/api/htmlmediaelement/capturestream/index.md
Labels: l10n-ja

#22839 Web/API/HTMLMediaElement/load 他1件を更新
  files/ja/web/api/htmlmediaelement/load/index.md
  files/ja/web/api/htmlmediaelement/pause/index.md
Labels: l10n-ja

#22841 Web/API/HTMLMediaElement/fastSeek 他2件を更新
  files/ja/web/api/htmlmediaelement/fastseek/index.md
  files/ja/web/api/htmlmediaelement/play/index.md
  files/ja/web/api/htmlmediaelement/seektonextframe/index.md
Labels: l10n-ja

#22842 Web/API/HTMLMediaElement/setMediaKeys を更新
  files/ja/web/api/htmlmediaelement/setmediakeys/index.md
Labels: l10n-ja

#22843 Web/API/HTMLMediaElement/setSinkId を更新
  files/ja/web/api/htmlmediaelement/setsinkid/index.md
Labels: l10n-ja

#22800 chore(zh): maintain redirected links (part 1)
  files/zh-cn/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-autocomplete/index.md
  files/zh-cn/web/accessibility/aria/attributes/aria-checked/index.md
  files/zh-cn/web/accessibility/aria/roles/button_role/index.md
  files/zh-cn/web/accessibility/aria/roles/listbox_role/index.md
  files/zh-cn/web/accessibility/information_for_web_authors/index.md
  files/zh-cn/web/accessibility/understanding_colors_and_luminance/index.md
  files/zh-cn/web/accessibility/understanding_wcag/index.md
  files/zh-cn/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/zh-cn/web/media/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/zh-cn/web/media/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/zh-cn/web/media/audio_and_video_manipulation/index.md
  files/zh-cn/web/media/autoplay_guide/index.md
  files/zh-cn/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/zh-cn/web/media/formats/containers/index.md
  files/zh-cn/web/media/formats/image_types/index.md
  files/zh-cn/web/media/formats/video_codecs/index.md
Labels: l10n-zh

#22905 [fr] Typofix for `mouseleave` event
  files/fr/web/api/element/mouseleave_event/index.md
Labels: l10n-fr

#22656 [ru] replace old noteblock syntax with GFM syntax in `glossary` folder
  files/ru/glossary/call_stack/index.md
  files/ru/glossary/entity/index.md
  files/ru/glossary/first-class_function/index.md
  files/ru/glossary/forbidden_header_name/index.md
  files/ru/glossary/index.md
  files/ru/glossary/inline-level_content/index.md
  files/ru/glossary/method/index.md
  files/ru/glossary/tls/index.md
Labels: l10n-ru

#22904 [ru] update links to the Performance tool
  files/ru/web/api/console/timestamp_static/index.md
Labels: l10n-ru

#22873 [ko] PushSubscription.getKey(), toJSON() 신규 번역
  files/ko/web/api/pushsubscription/getkey/index.md
  files/ko/web/api/pushsubscription/tojson/index.md
Labels: l10n-ko

#22864 [ru] update example in `Web/JavaScript/Reference/Global_Objects/Array`
  files/ru/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ru

#22856 Web/API/HTMLMediaElement/encrypted_event を新規翻訳
  files/ja/web/api/htmlmediaelement/encrypted_event/index.md
Labels: l10n-ja

#22857 Web/API/HTMLMediaElement/abort_event 他1件を更新
  files/ja/web/api/htmlmediaelement/abort_event/index.md
  files/ja/web/api/htmlmediaelement/error_event/index.md
Labels: l10n-ja

#22858 Web/API/HTMLMediaElement/ended_event 他1件を更新
  files/ja/web/api/htmlmediaelement/ended_event/index.md
  files/ja/web/api/htmlmediaelement/loadeddata_event/index.md
Labels: l10n-ja

#22860 Web/API/HTMLMediaElement/loadstart_event を更新
  files/ja/web/api/htmlmediaelement/loadstart_event/index.md
Labels: l10n-ja

#22869 Web/API/PaymentRequest/shippingAddress を更新
  files/ja/web/api/paymentrequest/shippingaddress/index.md
Labels: l10n-ja

#22870 Web/API/HTMLMediaElement/progress_event を更新
  files/ja/web/api/htmlmediaelement/progress_event/index.md
Labels: l10n-ja

#22871 Web/API/HTMLMediaElement/pause_event 他10件を更新
  files/ja/web/api/htmlmediaelement/pause_event/index.md
  files/ja/web/api/htmlmediaelement/play_event/index.md
  files/ja/web/api/htmlmediaelement/playing_event/index.md
  files/ja/web/api/htmlmediaelement/ratechange_event/index.md
  files/ja/web/api/htmlmediaelement/seeked_event/index.md
  files/ja/web/api/htmlmediaelement/seeking_event/index.md
  files/ja/web/api/htmlmediaelement/stalled_event/index.md
  files/ja/web/api/htmlmediaelement/suspend_event/index.md
  files/ja/web/api/htmlmediaelement/timeupdate_event/index.md
  files/ja/web/api/htmlmediaelement/volumechange_event/index.md
  files/ja/web/api/htmlmediaelement/waiting_event/index.md
Labels: l10n-ja

#22872 Web/API/HTMLMediaElement を更新
  files/ja/web/api/htmlmediaelement/index.md
Labels: l10n-ja

#22874 Web/XSLT/Element 以下の記事を更新
  files/ja/web/xslt/element/apply-imports/index.md
  files/ja/web/xslt/element/apply-templates/index.md
  files/ja/web/xslt/element/attribute-set/index.md
  files/ja/web/xslt/element/attribute/index.md
  files/ja/web/xslt/element/call-template/index.md
  files/ja/web/xslt/element/choose/index.md
  files/ja/web/xslt/element/comment/index.md
  files/ja/web/xslt/element/copy-of/index.md
  files/ja/web/xslt/element/copy/index.md
  files/ja/web/xslt/element/decimal-format/index.md
  files/ja/web/xslt/element/element/index.md
  files/ja/web/xslt/element/fallback/index.md
  files/ja/web/xslt/element/for-each/index.md
  files/ja/web/xslt/element/if/index.md
  files/ja/web/xslt/element/import/index.md
  files/ja/web/xslt/element/include/index.md
  files/ja/web/xslt/element/key/index.md
  files/ja/web/xslt/element/message/index.md
  files/ja/web/xslt/element/namespace-alias/index.md
  files/ja/web/xslt/element/number/index.md
  files/ja/web/xslt/element/otherwise/index.md
  files/ja/web/xslt/element/output/index.md
  files/ja/web/xslt/element/param/index.md
  files/ja/web/xslt/element/preserve-space/index.md
  files/ja/web/xslt/element/processing-instruction/index.md
  files/ja/web/xslt/element/sort/index.md
  files/ja/web/xslt/element/strip-space/index.md
  files/ja/web/xslt/element/stylesheet/index.md
  files/ja/web/xslt/element/template/index.md
  files/ja/web/xslt/element/text/index.md
  files/ja/web/xslt/element/transform/index.md
  files/ja/web/xslt/element/value-of/index.md
  files/ja/web/xslt/element/variable/index.md
  files/ja/web/xslt/element/when/index.md
  files/ja/web/xslt/element/with-param/index.md
Labels: l10n-ja

#22875 Web/XSLT/Element を更新
  files/ja/web/xslt/element/index.md
Labels: l10n-ja

#22876 表記ゆれの修正
  files/ja/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/ja/web/accessibility/aria/roles/feed_role/index.md
  files/ja/web/accessibility/aria/roles/group_role/index.md
  files/ja/web/accessibility/aria/roles/table_role/index.md
  files/ja/web/accessibility/keyboard-navigable_javascript_widgets/index.md
Labels: l10n-ja

#22877 翻訳ミスを修正
  files/ja/web/api/htmlobjectelement/type/index.md
Labels: l10n-ja

#22878 Web/API/HTMLTableElement/cellSpacing を更新
  files/ja/web/api/htmltableelement/cellspacing/index.md
Labels: l10n-ja

#22846 Web/API/Window/requestIdleCallback を更新
  files/ja/web/api/window/requestidlecallback/index.md
Labels: l10n-ja

#22868 sourceCommit の更新
  files/ja/web/api/htmlmediaelement/error_event/index.md
  files/ja/web/xslt/pi_parameters/index.md
  files/ja/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/index.md
Labels: l10n-ja

#22889 Web/API/IDBCursor 更新
  files/ja/web/api/idbcursor/index.md
Labels: l10n-ja

#22890 Web/API/IDBCursor/direction を更新
  files/ja/web/api/idbcursor/direction/index.md
Labels: l10n-ja

#22891 Web/API/IDBCursor/key 他2件を更新
  files/ja/web/api/idbcursor/key/index.md
  files/ja/web/api/idbcursor/primarykey/index.md
  files/ja/web/api/idbcursor/source/index.md
Labels: l10n-ja

#22892 Web/API/IDBCursor/request を更新
  files/ja/web/api/idbcursor/request/index.md
Labels: l10n-ja

#22893 Web/API/IDBCursor 以下のメソッドを更新
  files/ja/web/api/idbcursor/advance/index.md
  files/ja/web/api/idbcursor/continue/index.md
  files/ja/web/api/idbcursor/continueprimarykey/index.md
  files/ja/web/api/idbcursor/delete/index.md
  files/ja/web/api/idbcursor/update/index.md
Labels: l10n-ja

#22894 Web/XPath/Functions 以下の表記ゆれを修正
  files/ja/web/xpath/functions/current/index.md
  files/ja/web/xpath/functions/document/index.md
  files/ja/web/xpath/functions/generate-id/index.md
  files/ja/web/xpath/functions/key/index.md
  files/ja/web/xpath/functions/system-property/index.md
Labels: l10n-ja

#22895 Web/XML/XML_introduction を更新
  files/ja/web/xml/xml_introduction/index.md
Labels: l10n-ja

#22844 zh-cn: update the translation of the `WebGLRenderingContext.clearDepth()`
  files/zh-cn/web/api/webglrenderingcontext/cleardepth/index.md
Labels: l10n-zh

#22653 [ru] replace old noteblock syntax with GFM syntax in `games` folder
  files/ru/games/anatomy/index.md
  files/ru/games/index.md
  files/ru/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
  files/ru/games/techniques/3d_on_the_web/glsl_shaders/index.md
  files/ru/games/techniques/controls_gamepad_api/index.md
  files/ru/games/tutorials/2d_breakout_game_phaser/index.md
  files/ru/games/tutorials/2d_breakout_game_phaser/initialize_the_framework/index.md
  files/ru/games/tutorials/2d_breakout_game_phaser/load_the_assets_and_print_them_on_screen/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.md
  files/ru/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.md
Labels: l10n-ru

#22662 [ru] replace old noteblock syntax with GFM syntax in `Learn` root page
  files/ru/learn/index.md
Labels: l10n-ru

#22663 [ru] replace old noteblock syntax with GFM syntax in `learn/accessibility` folder
  files/ru/learn/accessibility/accessibility_troubleshooting/index.md
  files/ru/learn/accessibility/css_and_javascript/index.md
  files/ru/learn/accessibility/html/index.md
  files/ru/learn/accessibility/index.md
  files/ru/learn/accessibility/what_is_accessibility/index.md
Labels: l10n-ru

#22672 [ru] replace old noteblock syntax with GFM syntax in `learn/common_questions` folder
  files/ru/learn/common_questions/design_and_accessibility/design_for_all_types_of_users/index.md
  files/ru/learn/common_questions/design_and_accessibility/thinking_before_coding/index.md
  files/ru/learn/common_questions/tools_and_setup/how_much_does_it_cost/index.md
  files/ru/learn/common_questions/tools_and_setup/set_up_a_local_testing_server/index.md
  files/ru/learn/common_questions/tools_and_setup/upload_files_to_a_web_server/index.md
  files/ru/learn/common_questions/tools_and_setup/using_github_pages/index.md
  files/ru/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
  files/ru/learn/common_questions/web_mechanics/how_does_the_internet_work/index.md
  files/ru/learn/common_questions/web_mechanics/what_is_a_domain_name/index.md
  files/ru/learn/common_questions/web_mechanics/what_is_a_url/index.md
Labels: l10n-ru

#22673 [ru] replace old noteblock syntax with GFM syntax in `learn/css` folder
  files/ru/learn/css/building_blocks/advanced_styling_effects/index.md
  files/ru/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/ru/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/ru/learn/css/building_blocks/cascade_tasks/index.md
  files/ru/learn/css/building_blocks/debugging_css/index.md
  files/ru/learn/css/building_blocks/fundamental_css_comprehension/index.md
  files/ru/learn/css/building_blocks/images_media_form_elements/index.md
  files/ru/learn/css/building_blocks/index.md
  files/ru/learn/css/building_blocks/overflowing_content/index.md
  files/ru/learn/css/building_blocks/selectors/attribute_selectors/index.md
  files/ru/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
  files/ru/learn/css/building_blocks/selectors/selectors_tasks/index.md
  files/ru/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
  files/ru/learn/css/building_blocks/sizing_items_in_css/index.md
  files/ru/learn/css/building_blocks/the_box_model/index.md
  files/ru/learn/css/building_blocks/values_and_units/index.md
  files/ru/learn/css/css_layout/flexbox/index.md
  files/ru/learn/css/css_layout/floats_skills/index.md
  files/ru/learn/css/css_layout/grids/index.md
  files/ru/learn/css/css_layout/index.md
  files/ru/learn/css/css_layout/introduction/index.md
  files/ru/learn/css/css_layout/multicol_skills/index.md
  files/ru/learn/css/css_layout/multiple-column_layout/index.md
  files/ru/learn/css/css_layout/position_skills/index.md
  files/ru/learn/css/css_layout/positioning/index.md
  files/ru/learn/css/css_layout/practical_positioning_examples/index.md
  files/ru/learn/css/css_layout/responsive_design/index.md
  files/ru/learn/css/first_steps/getting_started/index.md
  files/ru/learn/css/first_steps/how_css_is_structured/index.md
  files/ru/learn/css/first_steps/index.md
  files/ru/learn/css/first_steps/styling_a_biography_page/index.md
  files/ru/learn/css/first_steps/what_is_css/index.md
  files/ru/learn/css/index.md
  files/ru/learn/css/styling_text/fundamentals/index.md
  files/ru/learn/css/styling_text/index.md
  files/ru/learn/css/styling_text/styling_links/index.md
  files/ru/learn/css/styling_text/styling_lists/index.md
  files/ru/learn/css/styling_text/typesetting_a_homepage/index.md
  files/ru/learn/css/styling_text/web_fonts/index.md
Labels: l10n-ru

#22693 [ru] replace old noteblock syntax with GFM syntax in `learn/forms` folder
  files/ru/learn/forms/form_validation/index.md
  files/ru/learn/forms/how_to_build_custom_form_controls/index.md
  files/ru/learn/forms/how_to_structure_a_web_form/index.md
  files/ru/learn/forms/sending_and_retrieving_form_data/index.md
  files/ru/learn/forms/sending_forms_through_javascript/index.md
  files/ru/learn/forms/styling_web_forms/index.md
  files/ru/learn/forms/user_input_methods/index.md
Labels: l10n-ru

#22771 [ru] replace old noteblock syntax with GFM syntax in `learn/javascript` folder
  files/ru/learn/javascript/asynchronous/index.md
  files/ru/learn/javascript/asynchronous/introducing/index.md
  files/ru/learn/javascript/asynchronous/promises/index.md
  files/ru/learn/javascript/building_blocks/build_your_own_function/index.md
  files/ru/learn/javascript/building_blocks/conditionals/index.md
  files/ru/learn/javascript/building_blocks/event_bubbling/index.md
  files/ru/learn/javascript/building_blocks/events/index.md
  files/ru/learn/javascript/building_blocks/functions/index.md
  files/ru/learn/javascript/building_blocks/looping_code/index.md
  files/ru/learn/javascript/building_blocks/return_values/index.md
  files/ru/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
  files/ru/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/ru/learn/javascript/client-side_web_apis/fetching_data/index.md
  files/ru/learn/javascript/client-side_web_apis/index.md
  files/ru/learn/javascript/client-side_web_apis/introduction/index.md
  files/ru/learn/javascript/client-side_web_apis/manipulating_documents/index.md
  files/ru/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/ru/learn/javascript/first_steps/a_first_splash/index.md
  files/ru/learn/javascript/first_steps/arrays/index.md
  files/ru/learn/javascript/first_steps/index.md
  files/ru/learn/javascript/first_steps/math/index.md
  files/ru/learn/javascript/first_steps/silly_story_generator/index.md
  files/ru/learn/javascript/first_steps/strings/index.md
  files/ru/learn/javascript/first_steps/useful_string_methods/index.md
  files/ru/learn/javascript/first_steps/variables/index.md
  files/ru/learn/javascript/first_steps/what_is_javascript/index.md
  files/ru/learn/javascript/first_steps/what_went_wrong/index.md
  files/ru/learn/javascript/objects/adding_bouncing_balls_features/index.md
  files/ru/learn/javascript/objects/basics/index.md
  files/ru/learn/javascript/objects/classes_in_javascript/index.md
  files/ru/learn/javascript/objects/index.md
  files/ru/learn/javascript/objects/json/index.md
  files/ru/learn/javascript/objects/object_building_practice/index.md
  files/ru/learn/javascript/objects/object_prototypes/index.md
Labels: l10n-ru

#22772 [ru] replace old noteblock syntax with GFM syntax in `learn/server-side` folder
  files/ru/learn/server-side/django/admin_site/index.md
  files/ru/learn/server-side/django/authentication/index.md
  files/ru/learn/server-side/django/deployment/index.md
  files/ru/learn/server-side/django/development_environment/index.md
  files/ru/learn/server-side/django/django_assessment_blog/index.md
  files/ru/learn/server-side/django/forms/index.md
  files/ru/learn/server-side/django/generic_views/index.md
  files/ru/learn/server-side/django/home_page/index.md
  files/ru/learn/server-side/django/index.md
  files/ru/learn/server-side/django/introduction/index.md
  files/ru/learn/server-side/django/models/index.md
  files/ru/learn/server-side/django/sessions/index.md
  files/ru/learn/server-side/django/skeleton_website/index.md
  files/ru/learn/server-side/django/testing/index.md
  files/ru/learn/server-side/django/web_application_security/index.md
  files/ru/learn/server-side/express_nodejs/development_environment/index.md
  files/ru/learn/server-side/express_nodejs/displaying_data/author_list_page/index.md
  files/ru/learn/server-side/express_nodejs/displaying_data/date_formatting_using_moment/index.md
  files/ru/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
  files/ru/learn/server-side/express_nodejs/displaying_data/home_page/index.md
  files/ru/learn/server-side/express_nodejs/displaying_data/template_primer/index.md
  files/ru/learn/server-side/express_nodejs/forms/create_bookinstance_form/index.md
  files/ru/learn/server-side/express_nodejs/forms/delete_author_form/index.md
  files/ru/learn/server-side/express_nodejs/forms/index.md
  files/ru/learn/server-side/express_nodejs/forms/update_book_form/index.md
  files/ru/learn/server-side/express_nodejs/index.md
  files/ru/learn/server-side/express_nodejs/introduction/index.md
  files/ru/learn/server-side/express_nodejs/mongoose/index.md
  files/ru/learn/server-side/express_nodejs/routes/index.md
  files/ru/learn/server-side/express_nodejs/skeleton_website/index.md
  files/ru/learn/server-side/first_steps/client-server_overview/index.md
  files/ru/learn/server-side/first_steps/introduction/index.md
  files/ru/learn/server-side/first_steps/web_frameworks/index.md
  files/ru/learn/server-side/first_steps/website_security/index.md
Labels: l10n-ru

#22773 [ru] replace old noteblock syntax with GFM syntax in `learn/tools_and_testing` folder
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/index.md
  files/ru/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/ru/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
  files/ru/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/ru/learn/tools_and_testing/github/index.md
Labels: l10n-ru

#22808 zh-cn: convert noteblocks to GFM syntax (part 3)
  files/zh-cn/web/api/mediadevices/selectaudiooutput/index.md
  files/zh-cn/web/api/rtcicecandidate/index.md
  files/zh-cn/web/css/@font-face/src/index.md
  files/zh-cn/web/css/css_positioned_layout/understanding_z-index/stacking_context/index.md
  files/zh-cn/web/css/css_positioned_layout/understanding_z-index/stacking_without_z-index/index.md
  files/zh-cn/web/css/css_positioned_layout/understanding_z-index/using_z-index/index.md
  files/zh-cn/web/css/grid-template-columns/index.md
  files/zh-cn/web/css/image-orientation/index.md
  files/zh-cn/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/zh-cn/web/css/layout_cookbook/card/index.md
  files/zh-cn/web/css/layout_cookbook/center_an_element/index.md
  files/zh-cn/web/css/layout_cookbook/column_layouts/index.md
  files/zh-cn/web/css/layout_cookbook/split_navigation/index.md
  files/zh-cn/web/css/layout_cookbook/sticky_footers/index.md
  files/zh-cn/web/css/reference/index.md
  files/zh-cn/web/html/constraint_validation/index.md
  files/zh-cn/web/html/element/a/index.md
  files/zh-cn/web/html/element/input/checkbox/index.md
  files/zh-cn/web/html/element/input/index.md
  files/zh-cn/web/html/element/meta/index.md
  files/zh-cn/web/html/element/script/index.md
  files/zh-cn/web/html/element/video/index.md
  files/zh-cn/web/http/cors/errors/corsmethodnotfound/index.md
  files/zh-cn/web/http/headers/accept-encoding/index.md
  files/zh-cn/web/http/headers/device-memory/index.md
  files/zh-cn/web/http/headers/dpr/index.md
  files/zh-cn/web/javascript/guide/control_flow_and_error_handling/index.md
  files/zh-cn/web/javascript/reference/statements/async_function/index.md
  files/zh-cn/web/mathml/global_attributes/dir/index.md
  files/zh-cn/web/security/subresource_integrity/index.md
  files/zh-cn/web/svg/attribute/vector-effect/index.md
Labels: l10n-zh

#22973 [zh-cn]: update the translation of Touch `pageY` property
  files/zh-cn/web/api/touch/pagey/index.md
Labels: l10n-zh

#22964 [zh-cn]: create the translation of the `XSLTProcessor()` constructor
  files/zh-cn/web/api/xsltprocessor/xsltprocessor/index.md
Labels: l10n-zh

#22941 zh-CN: create `action.enable()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/enable/index.md
Labels: l10n-zh

#22938 zh-CN: create `action.ColorArray`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/colorarray/index.md
Labels: l10n-zh

#22949 zh-CN: create `action.isEnabled()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/isenabled/index.md
Labels: l10n-zh

#22899 [ko] Promise.any() 신규 번역
  files/ko/web/javascript/reference/global_objects/promise/any/index.md
Labels: l10n-ko

#22982 [ja] Fix String.prototype.split()
  files/ja/web/javascript/reference/global_objects/string/split/index.md
Labels: l10n-ja

#22796 [ko] colon-blank 번역
  files/ko/web/css/_colon_blank/index.md
Labels: l10n-ko

#22995 Es fix 22795 update transfer encoding
  files/es/web/http/headers/transfer-encoding/index.md
Labels: l10n-es

#22976 fix(zh-cn): correct the possible values for `justify-content` and other properties
  files/zh-cn/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: l10n-zh

#22987 [zh-cn]: update the translation of "Understanding client-side web development tools"
  files/zh-cn/learn/tools_and_testing/understanding_client-side_tools/index.md
Labels: l10n-zh

#22974 [zh-cn]: update the translation of Touch `screenX` and `screenY` property
  files/zh-cn/web/api/touch/screenx/index.md
  files/zh-cn/web/api/touch/screeny/index.md
Labels: l10n-zh

#22947 zh-CN: create `action.getUserSettings()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
Labels: l10n-zh

#22946 zh-CN: create `action.getTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/gettitle/index.md
Labels: l10n-zh

#22986 zh-CN: create `events`
  files/zh-cn/mozilla/add-ons/webextensions/api/events/index.md
Labels: l10n-zh

#22972 zh-CN: create the translation of the `action` API
  files/zh-cn/mozilla/add-ons/webextensions/api/action/index.md
Labels: l10n-zh

#22770 pt-br: Convert noteblocks to GFM Alerts (part 6)
  files/pt-br/web/javascript/reference/global_objects/undefined/index.md
  files/pt-br/web/javascript/reference/global_objects/unescape/index.md
  files/pt-br/web/javascript/reference/iteration_protocols/index.md
  files/pt-br/web/javascript/reference/operators/destructuring_assignment/index.md
  files/pt-br/web/javascript/reference/operators/optional_chaining/index.md
  files/pt-br/web/javascript/reference/operators/subtraction/index.md
  files/pt-br/web/javascript/reference/operators/this/index.md
  files/pt-br/web/javascript/reference/regular_expressions/unicode_character_class_escape/index.md
  files/pt-br/web/javascript/reference/statements/async_function/index.md
  files/pt-br/web/javascript/reference/statements/export/index.md
  files/pt-br/web/javascript/reference/statements/for/index.md
  files/pt-br/web/javascript/reference/statements/label/index.md
  files/pt-br/web/javascript/reference/statements/return/index.md
  files/pt-br/web/javascript/reference/statements/with/index.md
  files/pt-br/web/javascript/reference/strict_mode/index.md
  files/pt-br/web/manifest/index.md
  files/pt-br/web/media/formats/index.md
  files/pt-br/web/security/practical_implementation_guides/index.md
  files/pt-br/web/svg/applying_svg_effects_to_html_content/index.md
  files/pt-br/web/svg/attribute/fill/index.md
  files/pt-br/web/svg/attribute/index.md
  files/pt-br/web/svg/element/a/index.md
  files/pt-br/web/svg/element/image/index.md
  files/pt-br/web/svg/element/index.md
  files/pt-br/web/svg/element/rect/index.md
  files/pt-br/web/svg/element/svg/index.md
  files/pt-br/web/svg/tutorial/index.md
  files/pt-br/webassembly/c_to_wasm/index.md
  files/pt-br/webassembly/concepts/index.md
  files/pt-br/webassembly/understanding_the_text_format/index.md
  files/pt-br/webassembly/using_the_javascript_api/index.md
Labels: l10n-pt-br

#22908 Web/SVG/Attribute/accent-height を更新
  files/ja/web/svg/attribute/accent-height/index.md
Labels: l10n-ja

#22909 Web/SVG/Attribute/scale を更新
  files/ja/web/svg/attribute/scale/index.md
Labels: l10n-ja

#22910 Web/SVG/Attribute/stroke-linejoin を更新
  files/ja/web/svg/attribute/stroke-linejoin/index.md
Labels: l10n-ja

#22911 Web/SVG/Attribute 他3件を更新
  files/ja/web/svg/attribute/d/index.md
  files/ja/web/svg/attribute/fill-opacity/index.md
  files/ja/web/svg/attribute/index.md
  files/ja/web/svg/attribute/stroke-linecap/index.md
Labels: l10n-ja

#22913 Web/SVG/Tutorial を更新
  files/ja/web/svg/tutorial/index.md
Labels: l10n-ja

#22914 Web/SVG/Tutorial/Getting_Started を更新
  files/ja/web/svg/tutorial/getting_started/index.md
Labels: l10n-ja

#22915 Web/SVG/Tutorial/Basic_Transformations を更新
  files/ja/web/svg/tutorial/basic_transformations/index.md
Labels: l10n-ja

#22916 Web/SVG/Tutorial/SVG_fonts を更新
  files/ja/web/svg/tutorial/svg_fonts/index.md
Labels: l10n-ja

#22918 Web/SVG/Namespaces_Crash_Course を更新
  files/ja/web/svg/namespaces_crash_course/index.md
Labels: l10n-ja

#22919 Web/SVG/Namespaces_Crash_Course/Example を更新
  files/ja/web/svg/namespaces_crash_course/example/index.md
Labels: l10n-ja

#22920 Web/SVG/Element/animateTransform 更新
  files/ja/web/svg/element/animatetransform/index.md
Labels: l10n-ja

#22921 Web/SVG/Element/circle 更新
  files/ja/web/svg/element/circle/index.md
Labels: l10n-ja

#22922 Web/SVG/Element/defs を更新
  files/ja/web/svg/element/defs/index.md
Labels: l10n-ja

#22692 fr: Convert noteblocks to GFM Alerts (part 19)
  files/fr/web/api/window/index.md
  files/fr/web/xpath/index.md
  files/fr/webassembly/c_to_wasm/index.md
  files/fr/webassembly/concepts/index.md
  files/fr/webassembly/javascript_interface/compile_static/index.md
  files/fr/webassembly/javascript_interface/compilestreaming_static/index.md
  files/fr/webassembly/javascript_interface/exception/getarg/index.md
  files/fr/webassembly/javascript_interface/exception/is/index.md
  files/fr/webassembly/javascript_interface/exception/stack/index.md
  files/fr/webassembly/javascript_interface/global/global/index.md
  files/fr/webassembly/javascript_interface/global/index.md
  files/fr/webassembly/javascript_interface/instance/exports/index.md
  files/fr/webassembly/javascript_interface/instance/instance/index.md
  files/fr/webassembly/javascript_interface/instantiate_static/index.md
  files/fr/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/fr/webassembly/javascript_interface/memory/index.md
  files/fr/webassembly/javascript_interface/memory/memory/index.md
  files/fr/webassembly/javascript_interface/module/module/index.md
  files/fr/webassembly/javascript_interface/table/index.md
  files/fr/webassembly/javascript_interface/tag/index.md
  files/fr/webassembly/loading_and_running/index.md
  files/fr/webassembly/using_the_javascript_api/index.md
Labels: l10n-fr

#22792 [ru] replace old noteblock syntax with GFM syntax in `mozilla` folder
  files/ru/mozilla/add-ons/webextensions/api/cookies/cookie/index.md
  files/ru/mozilla/add-ons/webextensions/api/cookies/index.md
  files/ru/mozilla/add-ons/webextensions/api/downloads/index.md
  files/ru/mozilla/add-ons/webextensions/api/runtime/getmanifest/index.md
  files/ru/mozilla/add-ons/webextensions/api/tabs/get/index.md
  files/ru/mozilla/add-ons/webextensions/api/webrequest/index.md
  files/ru/mozilla/add-ons/webextensions/api/windows/createtype/index.md
  files/ru/mozilla/add-ons/webextensions/api/windows/index.md
  files/ru/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/ru/mozilla/add-ons/webextensions/content_scripts/index.md
  files/ru/mozilla/add-ons/webextensions/examples/index.md
  files/ru/mozilla/add-ons/webextensions/internationalization/index.md
  files/ru/mozilla/add-ons/webextensions/manifest.json/icons/index.md
  files/ru/mozilla/add-ons/webextensions/manifest.json/index.md
  files/ru/mozilla/add-ons/webextensions/match_patterns/index.md
  files/ru/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/ru/mozilla/add-ons/webextensions/user_interface/index.md
  files/ru/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/ru/mozilla/firefox/releases/68/index.md
Labels: l10n-ru

#22793 [ru] replace old noteblock syntax with GFM syntax in `webassembly` folder
  files/ru/webassembly/c_to_wasm/index.md
  files/ru/webassembly/concepts/index.md
  files/ru/webassembly/javascript_interface/compile_static/index.md
  files/ru/webassembly/javascript_interface/index.md
  files/ru/webassembly/javascript_interface/table/index.md
  files/ru/webassembly/loading_and_running/index.md
  files/ru/webassembly/rust_to_wasm/index.md
  files/ru/webassembly/text_format_to_wasm/index.md
  files/ru/webassembly/understanding_the_text_format/index.md
  files/ru/webassembly/using_the_javascript_api/index.md
Labels: l10n-ru

#22847 [ru] replace old noteblock syntax with GFM syntax in `web/accessibility` folder
  files/ru/web/accessibility/aria/index.md
  files/ru/web/accessibility/aria/roles/checkbox_role/index.md
  files/ru/web/accessibility/mobile_accessibility_checklist/index.md
  files/ru/web/accessibility/understanding_wcag/keyboard/index.md
Labels: l10n-ru

#22848 [ru] replace old noteblock syntax with GFM syntax in `web/events` folder
  files/ru/web/events/index.md
Labels: l10n-ru

#22849 [ru] replace old noteblock syntax with GFM syntax in `web/manifest` folder
  files/ru/web/manifest/background_color/index.md
  files/ru/web/manifest/display/index.md
  files/ru/web/manifest/index.md
  files/ru/web/manifest/orientation/index.md
  files/ru/web/manifest/related_applications/index.md
Labels: l10n-ru

#22850 [ru] replace old noteblock syntax with GFM syntax in `web/mathml` folder
  files/ru/web/mathml/element/math/index.md
Labels: l10n-ru

#22851 [ru] replace old noteblock syntax with GFM syntax in `web/media` folder
  files/ru/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/ru/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/ru/web/media/audio_and_video_manipulation/index.md
  files/ru/web/media/formats/codecs_parameter/index.md
  files/ru/web/media/formats/webrtc_codecs/index.md
Labels: l10n-ru

#22852 [ru] replace old noteblock syntax with GFM syntax in `web/performance` folder
  files/ru/web/performance/animation_performance_and_frame_rate/index.md
  files/ru/web/performance/css_javascript_animation_performance/index.md
  files/ru/web/performance/dns-prefetch/index.md
  files/ru/web/performance/fundamentals/index.md
  files/ru/web/performance/how_browsers_work/index.md
Labels: l10n-ru

#22853 [ru] replace old noteblock syntax with GFM syntax in `web/progressive_web_apps` folder
  files/ru/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/index.md
Labels: l10n-ru

#22854 [ru] replace old noteblock syntax with GFM syntax in `web/security` folder
  files/ru/web/security/same-origin_policy/index.md
Labels: l10n-ru

#22855 [ru] replace old noteblock syntax with GFM syntax in `web/xml` folder
  files/ru/web/xml/parsing_and_serializing_xml/index.md
  files/ru/web/xml/xml_introduction/index.md
Labels: l10n-ru

#22963 [ru] replace old noteblock syntax with GFM syntax in `web/http` folder
  files/ru/web/http/basics_of_http/data_urls/index.md
  files/ru/web/http/basics_of_http/mime_types/index.md
  files/ru/web/http/connection_management_in_http_1.x/index.md
  files/ru/web/http/content_negotiation/index.md
  files/ru/web/http/cookies/index.md
  files/ru/web/http/cors/errors/corsmissingalloworigin/index.md
  files/ru/web/http/cors/index.md
  files/ru/web/http/headers/accept-charset/index.md
  files/ru/web/http/headers/accept-patch/index.md
  files/ru/web/http/headers/authorization/index.md
  files/ru/web/http/headers/connection/index.md
  files/ru/web/http/headers/content-language/index.md
  files/ru/web/http/headers/index.md
  files/ru/web/http/headers/referer/index.md
  files/ru/web/http/headers/x-content-type-options/index.md
  files/ru/web/http/redirections/index.md
  files/ru/web/http/session/index.md
  files/ru/web/http/status/304/index.md
  files/ru/web/http/status/308/index.md
  files/ru/web/http/status/404/index.md
  files/ru/web/http/status/410/index.md
  files/ru/web/http/status/501/index.md
  files/ru/web/http/status/index.md
Labels: l10n-ru

#23004 fix(zh-cn): correct the closing tag
  files/zh-cn/learn/javascript/first_steps/what_is_javascript/index.md
Labels: l10n-zh

#22801 [zh-cn] init translation of html attribute required
  files/zh-cn/web/html/attributes/required/index.md
Labels: l10n-zh

#23000 zh: Convert noteblocks to GFM alerts
  files/zh-cn/web/api/canvasrenderingcontext2d/settransform/index.md
  files/zh-cn/web/html/global_attributes/lang/index.md
  files/zh-tw/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: l10n-zh

#22945 zh-CN: create `action.getPopup()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/getpopup/index.md
Labels: l10n-zh

#22983 zh-CN: create `events.Event`
  files/zh-cn/mozilla/add-ons/webextensions/api/events/event/index.md
Labels: l10n-zh

#22971 zh-CN: create `action.setTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/action/settitle/index.md
Labels: l10n-zh

#23019 [ja] 「な」が2つ連続で利用されている誤字を修正
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/ja/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/ja/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/ja/web/api/element/setattribute/index.md
  files/ja/web/api/window/fetch/index.md
  files/ja/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
  files/ja/web/http/headers/content-security-policy/style-src/index.md
  files/ja/web/security/secure_contexts/index.md
Labels: l10n-ja

#22997 ja: fix typo
  files/ja/web/javascript/reference/global_objects/object/index.md
Labels: l10n-ja

#22928 Web/SVG/Element/ellipse 他1件を更新
  files/ja/web/svg/element/ellipse/index.md
  files/ja/web/svg/element/foreignobject/index.md
Labels: l10n-ja

#22929 Web/SVG/Element/metadata 他1件を更新
  files/ja/web/svg/element/metadata/index.md
  files/ja/web/svg/element/mpath/index.md
Labels: l10n-ja

#22930 Web/SVG/Element/g 他3件を更新
  files/ja/web/svg/element/g/index.md
  files/ja/web/svg/element/lineargradient/index.md
  files/ja/web/svg/element/path/index.md
  files/ja/web/svg/element/polyline/index.md
Labels: l10n-ja

#22931 用語の修正（封じ込め→拘束）
  files/ja/mozilla/firefox/releases/107/index.md
  files/ja/web/api/contentvisibilityautostatechangeevent/contentvisibilityautostatechangeevent/index.md
  files/ja/web/api/contentvisibilityautostatechangeevent/index.md
  files/ja/web/api/contentvisibilityautostatechangeevent/skipped/index.md
  files/ja/web/api/csscontainerrule/containername/index.md
  files/ja/web/api/csscontainerrule/containerquery/index.md
  files/ja/web/api/csscontainerrule/index.md
  files/ja/web/css/at-rule-functions/index.md
  files/ja/web/css/content-visibility/index.md
  files/ja/web/css/css_box_sizing/index.md
  files/ja/web/css/css_containment/container_size_and_style_queries/index.md
  files/ja/web/css/css_containment/index.md
  files/ja/web/css/css_containment/using_css_containment/index.md
  files/ja/web/css/ratio/index.md
Labels: l10n-ja

#22932 Web/CSS/contain-intrinsic-size を新規翻訳
  files/ja/web/css/contain-intrinsic-size/index.md
Labels: l10n-ja

#22933 Web/CSS/contain-intrinsic-block-size 他3件を新規翻訳
  files/ja/web/css/contain-intrinsic-block-size/index.md
  files/ja/web/css/contain-intrinsic-height/index.md
  files/ja/web/css/contain-intrinsic-inline-size/index.md
  files/ja/web/css/contain-intrinsic-width/index.md
Labels: l10n-ja

#21895 [ko] logical properties - margins borders padding 신규 번역
  files/ko/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
Labels: l10n-ko

#22164 [ko] css doublecolon placeholder 번역
  files/ko/web/css/_doublecolon_placeholder/index.md
Labels: l10n-ko

#22934 Web/SVG/Element/svg を更新
  files/ja/web/svg/element/svg/index.md
Labels: l10n-ja
