Repository mdn/translated-content, pull requests merged in 2024-06, with the labels that each got.

#20961 [zh-cn]: sync for URLSearchParams methods
  files/zh-cn/web/api/urlsearchparams/append/index.md
  files/zh-cn/web/api/urlsearchparams/delete/index.md
  files/zh-cn/web/api/urlsearchparams/entries/index.md
  files/zh-cn/web/api/urlsearchparams/foreach/index.md
  files/zh-cn/web/api/urlsearchparams/get/index.md
  files/zh-cn/web/api/urlsearchparams/getall/index.md
  files/zh-cn/web/api/urlsearchparams/has/index.md
  files/zh-cn/web/api/urlsearchparams/keys/index.md
  files/zh-cn/web/api/urlsearchparams/set/index.md
  files/zh-cn/web/api/urlsearchparams/sort/index.md
  files/zh-cn/web/api/urlsearchparams/tostring/index.md
  files/zh-cn/web/api/urlsearchparams/values/index.md
Labels: l10n-zh

#21070 [zh-cn]: create the translation of `alarms.clear()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/clear/index.md
Labels: l10n-zh

#20998 zh-CN: update Glossary/JSON
  files/zh-cn/glossary/json/index.md
Labels: l10n-zh

#20884 [zh-cn]: format the note card and fix some styling
  files/zh-cn/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
Labels: l10n-zh

#21071 [zh-cn]: create the translation of `alarms.clearAll()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/clearall/index.md
Labels: l10n-zh

#21057 [zh-cn]: sync translation for `Blob.{size,type,slice()}`
  files/zh-cn/web/api/blob/size/index.md
  files/zh-cn/web/api/blob/slice/index.md
  files/zh-cn/web/api/blob/type/index.md
Labels: l10n-zh

#21079 zh-CN: update Glossary/MathML
  files/zh-cn/glossary/mathml/index.md
Labels: l10n-zh

#21068 [zh-cn]: update the translation of the `alarms` API
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/index.md
Labels: l10n-zh

#21056 [zh-cn]: sync translation for `Blob` and `Blob()`
  files/zh-cn/web/api/blob/blob/index.md
  files/zh-cn/web/api/blob/index.md
Labels: l10n-zh

#20550 zh-cn: update translation Glossary/First_meaningful_paint
  files/zh-cn/glossary/first_meaningful_paint/index.md
Labels: l10n-zh

#20570 zh-cn: update translation Glossary/High-level_programming_language
  files/zh-cn/glossary/high-level_programming_language/index.md
Labels: l10n-zh

#20537 zh-CN: update translation Glossary/Fork
  files/zh-cn/glossary/fork/index.md
Labels: l10n-zh

#20560 zh-cn: update translation Glossary/Grid_Row
  files/zh-cn/glossary/grid_row/index.md
Labels: l10n-zh

#20526 zh-CN: update translation Glossary/First_contentful_paint
  files/zh-cn/glossary/first_contentful_paint/index.md
Labels: l10n-zh

#20823 [zh-cn]: update the translation of the MathML `attribute` index page
  files/zh-cn/web/mathml/attribute/index.md
Labels: l10n-zh

#20853 [zh-cn]: create the translation of the MathML element `<mphantom>`
  files/zh-cn/web/mathml/element/mphantom/index.md
Labels: l10n-zh

#20846 [zh-cn]: create the translation of the MathML element `<mi>`
  files/zh-cn/web/mathml/element/mi/index.md
Labels: l10n-zh

#20864 [zh-cn]: create the translation of `element/mtext`
  files/zh-cn/web/mathml/element/mtext/index.md
Labels: l10n-zh

#20578 zh-cn: update translation Glossary/Grid_Axis
  files/zh-cn/glossary/grid_axis/index.md
Labels: l10n-zh

#20850 [zh-cn]: create the translation of the MathML element `<mo>`
  files/zh-cn/web/mathml/element/mo/index.md
Labels: l10n-zh

#21105 [zh-cn]: create the translation of `alarms.getall()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/getall/index.md
Labels: l10n-zh

#20848 [zh-cn]: create the translation of the MathML element `<mn>`
  files/zh-cn/web/mathml/element/mn/index.md
Labels: l10n-zh

#20851 [zh-cn]: create the translation of the MathML element `<mover>`
  files/zh-cn/web/mathml/element/mover/index.md
Labels: l10n-zh

#20852 [zh-cn]: create the translation of the MathML element `<mpadded>`
  files/zh-cn/web/mathml/element/mpadded/index.md
Labels: l10n-zh

#20538 zh-CN: update translation Glossary/FPS
  files/zh-cn/glossary/fps/index.md
Labels: l10n-zh

#20483 [ru] update `Web/API/Document/images` translation
  files/ru/web/api/document/images/index.md
Labels: l10n-ru

#20552 zh-cn: update translation Glossary/Grid_Cell
  files/zh-cn/glossary/grid_cell/index.md
Labels: l10n-zh

#20555 zh-cn: update translation Glossary/Glyph
  files/zh-cn/glossary/glyph/index.md
Labels: l10n-zh

#20524 zh-CN: update translation Glossary/Flex_Item
  files/zh-cn/glossary/flex_item/index.md
Labels: l10n-zh

#20912 [zh-cn]: update the translation of web Microformats introduction
  files/zh-cn/web/html/microformats/index.md
Labels: l10n-zh

#21125 zh-CN: update Glossary/Node
  files/zh-cn/glossary/node/index.md
Labels: l10n-zh

#21139 zh-CN: create Glossary/Mobile_First
  files/zh-cn/glossary/mobile_first/index.md
Labels: l10n-zh

#21104 [zh-cn]: create the translation of `alarm.get()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/get/index.md
Labels: l10n-zh

#21108 [zh-cn]: create the translation of `bookmarks.create()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/create/index.md
Labels: l10n-zh

#21136 [zh-cn]: create the translation of `bookmarks.BookmarkTreeNdoeType` type
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/bookmarktreenodetype/index.md
Labels: l10n-zh

#21099 zh-CN: create Glossary/Khronos
  files/zh-cn/glossary/khronos/index.md
Labels: l10n-zh

#21103 [zh-cn]: update the translation of `alarms.create()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/create/index.md
Labels: l10n-zh

#20186 [ko] translated keyboardevent repeat
  files/ko/web/api/keyboardevent/repeat/index.md
Labels: l10n-ko

#20253 [ko] replace `amazing.site` with `example.com` in `Web/HTTP/CORS/Errors/CORSMissingAllowOrigin` example
  files/ko/web/http/cors/errors/corsmissingalloworigin/index.md
Labels: l10n-ko

#18474 [ko] Set.prototype.union() 추가
  files/ko/web/javascript/reference/global_objects/set/union/index.md
Labels: l10n-ko

#20444 csscounterstylerule 번역
  files/ko/web/api/csscounterstylerule/index.md
Labels: l10n-ko

#20457 csscounterstyle-speakAs 번역
  files/ko/web/api/csscounterstylerule/speakas/index.md
Labels: l10n-ko

#20717 [ko] String.prototype.charCodeAt() 신규 번역
  files/ko/web/javascript/reference/global_objects/string/charcodeat/index.md
Labels: l10n-ko

#20602 zh-CN: update translation Glossary/Inheritance
  files/zh-cn/glossary/inheritance/index.md
Labels: l10n-zh

#21163 [zh-cn]: update the translation of `bookmarks.getall()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/getall/index.md
Labels: l10n-zh

#19849 [ko] Set.prototype.isSubsetOf() 신규 번역
  files/ko/web/javascript/reference/global_objects/set/issubsetof/index.md
Labels: l10n-ko

#21119 [zh-cn]: sync translation for File API
  files/zh-cn/web/api/file_api/index.md
  files/zh-cn/web/api/file_api/using_files_from_web_applications/index.md
Labels: l10n-zh

#21191 zh-cn: fix typo
  files/zh-cn/learn/javascript/first_steps/a_first_splash/index.md
Labels: l10n-zh

#20919 [ja] Fix typo in files/ja/web/accessibility/aria/roles/tooltip_role/index.md
  files/ja/web/accessibility/aria/roles/tooltip_role/index.md
Labels: l10n-ja

#20968 Web/API/ServiceWorkerContainer/message_event を更新
  files/ja/web/api/serviceworkercontainer/message_event/index.md
Labels: l10n-ja

#20969 Web/API/SourceBuffer/audioTracks を更新
  files/ja/web/api/sourcebuffer/audiotracks/index.md
Labels: l10n-ja

#20970 Web/API/SpeechRecognitionEvent/emma を更新
  files/ja/web/api/speechrecognitionevent/emma/index.md
Labels: l10n-ja

#20971 Web/API/SpeechRecognitionEvent/interpretation を更新
  files/ja/web/api/speechrecognitionevent/interpretation/index.md
Labels: l10n-ja

#20972 Web/API/SpeechRecognition/audioend_event を更新
  files/ja/web/api/speechrecognition/audioend_event/index.md
Labels: l10n-ja

#20974 Web/API/SpeechRecognition/end_event を更新
  files/ja/web/api/speechrecognition/end_event/index.md
Labels: l10n-ja

#20975 sourceCommit: を更新
  files/ja/web/api/speechsynthesiserrorevent/speechsynthesiserrorevent/index.md
Labels: l10n-ja

#20976 Web/API/Streams_API/Using_readable_byte_streams 更新
  files/ja/web/api/streams_api/using_readable_byte_streams/index.md
Labels: l10n-ja

#20977 Web/API/Touch/radiusY を更新
  files/ja/web/api/touch/radiusy/index.md
Labels: l10n-ja

#20978 Web/API/URLSearchParams/append を更新
  files/ja/web/api/urlsearchparams/append/index.md
Labels: l10n-ja

#20979 Web/API/Touch/radiusX を更新
  files/ja/web/api/touch/radiusx/index.md
Labels: l10n-ja

#20980 Web/API/URLSearchParams/size を更新
  files/ja/web/api/urlsearchparams/size/index.md
Labels: l10n-ja

#20981 Web/API/Worker/message_event を更新
  files/ja/web/api/worker/message_event/index.md
Labels: l10n-ja

#20983 Web/CSS/:-moz-drag-over を更新
  files/ja/web/css/_colon_-moz-drag-over/index.md
Labels: l10n-ja

#20984 Web/API/Web_Workers_API/Using_web_workers を更新
  files/ja/web/api/web_workers_api/using_web_workers/index.md
Labels: l10n-ja

#20985 表記ゆれを統一
  files/ja/mozilla/firefox/experimental_features/index.md
  files/ja/mozilla/firefox/releases/37/index.md
  files/ja/mozilla/firefox/releases/4/index.md
Labels: l10n-ja

#20986 Glossary/Cipher を更新
  files/ja/glossary/cipher/index.md
Labels: l10n-ja

#20987 exp() - CSS を新規翻訳
  files/ja/web/css/exp/index.md
Labels: l10n-ja

#20973 Web/API/SpeechRecognition/audiostart_event を更新
  files/ja/web/api/speechrecognition/audiostart_event/index.md
Labels: l10n-ja

#20868 [zh-cn]: create the translation of the MathML element `<semantics>`
  files/zh-cn/web/mathml/element/semantics/index.md
Labels: l10n-zh

#21183 [zh-cn]: create the translation of `browseraction.getbadgebackgroundcolor()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/getbadgebackgroundcolor/index.md
Labels: l10n-zh

#21186 [zh-cn]: create the translation of `browserAction.getPopup()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/getpopup/index.md
Labels: l10n-zh

#21175 [zh-cn]: create the translation of `bookmarks.onImportBegan` event
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/onimportbegan/index.md
Labels: l10n-zh

#21132 zh-CN: update Glossary/NAT
  files/zh-cn/glossary/nat/index.md
Labels: l10n-zh

#21187 [zh-cn]: create the translation of `browserAction.getTitle()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/gettitle/index.md
Labels: l10n-zh

#21002 zh-CN: create Glossary/ISO
  files/zh-cn/glossary/iso/index.md
Labels: l10n-zh

#20964 [zh-cn]: update the translation of `HTMLInputElement/setSelectionRange`
  files/zh-cn/web/api/htmlinputelement/setselectionrange/index.md
Labels: l10n-zh

#21074 zh-CN: update Glossary/Microsoft_Edge
  files/zh-cn/glossary/microsoft_edge/index.md
Labels: l10n-zh

#21095 zh-CN: update Glossary/Ligature
  files/zh-cn/glossary/ligature/index.md
Labels: l10n-zh

#21109 [zh-cn]: create the translation of `bookmarks.get()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/get/index.md
Labels: l10n-zh

#21107 [zh-cn]: update the translation of `bookmarks` API
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/index.md
Labels: l10n-zh

#21174 [zh-cn]: create the translation of `bookmarks.onCreated` event
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/oncreated/index.md
Labels: l10n-zh

#20849 docs(ko): Update Korean translation of 'window.unload' event
  files/ko/web/api/window/unload_event/index.md
Labels: l10n-ko

#21063 [zh-cn]: create the translation of `cookies/onchanged`
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/onchanged/index.md
Labels: l10n-zh

#20859 [zh-cn]: update the translation of the MathML element `<msub>`
  files/zh-cn/web/mathml/element/msub/index.md
Labels: l10n-zh

#21133 zh-CN: update Glossary/NaN
  files/zh-cn/glossary/nan/index.md
Labels: l10n-zh

#21100 zh-CN: update Glossary/Keyword
  files/zh-cn/glossary/keyword/index.md
Labels: l10n-zh

#21223 [zh-cn]: remove the duplicated description of parameters
  files/zh-cn/web/javascript/reference/global_objects/string/includes/index.md
Labels: l10n-zh

#21224 [zh-cn]: create the translation of `browserSettings` API
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/index.md
Labels: l10n-zh

#21051 [zh-cn]: create the translation of `cookies.getall()`
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getall/index.md
Labels: l10n-zh

#21226 [zh-cn]: create the translation of `browserSettings.cacheEnabled` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/cacheenabled/index.md
Labels: l10n-zh

#21093 zh-CN: create Glossary/Local_scope
  files/zh-cn/glossary/local_scope/index.md
Labels: l10n-zh

#21179 [zh-cn]: create the translation of `bookmarks.onRemoved` event
  files/zh-cn/mozilla/add-ons/webextensions/api/bookmarks/onremoved/index.md
Labels: l10n-zh

#20988 [zh-cn]: update the translation of the `cookie.Cookie` type
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/cookie/index.md
Labels: l10n-zh

#21235 [zh-cn]: create the translation of `browserSettings.newTabPosition` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/newtabposition/index.md
Labels: l10n-zh

#20943 [zh-cn]: create the translation of `ellipse`
  files/zh-cn/web/css/basic-shape/ellipse/index.md
Labels: l10n-zh

#21020 Web/API/AudioBuffer/duration を更新
  files/ja/web/api/audiobuffer/duration/index.md
Labels: l10n-ja

#21021 Web/API/AudioBuffer/length を更新
  files/ja/web/api/audiobuffer/length/index.md
Labels: l10n-ja

#21022 Web/API/AudioBuffer/AudioBuffer を更新
  files/ja/web/api/audiobuffer/audiobuffer/index.md
Labels: l10n-ja

#21023 Web/API/AudioBuffer/numberOfChannels を更新
  files/ja/web/api/audiobuffer/numberofchannels/index.md
Labels: l10n-ja

#21024 Web/API/AudioBuffer/sampleRate を更新
  files/ja/web/api/audiobuffer/samplerate/index.md
Labels: l10n-ja

#21025 Web/API/AudioBuffer/copyFromChannel を更新
  files/ja/web/api/audiobuffer/copyfromchannel/index.md
Labels: l10n-ja

#21026 Web/API/AudioBuffer/copyToChannel を更新
  files/ja/web/api/audiobuffer/copytochannel/index.md
Labels: l10n-ja

#21027 Web/API/AudioBuffer/getChannelData を更新
  files/ja/web/api/audiobuffer/getchanneldata/index.md
Labels: l10n-ja

#21028 Web/API/AudioBuffer を更新
  files/ja/web/api/audiobuffer/index.md
Labels: l10n-ja

#21033 Web/API/Performance/measureUserAgentSpecificMemory を更新
  files/ja/web/api/performance/measureuseragentspecificmemory/index.md
Labels: l10n-ja

#21034 Web/API/PushManager/unregister を更新
  files/ja/web/api/pushmanager/unregister/index.md
Labels: l10n-ja

#21035 Web/API/ResizeObserver/ResizeObserver を更新
  files/ja/web/api/resizeobserver/resizeobserver/index.md
Labels: l10n-ja

#21037 Web/API/SharedWorker/SharedWorker を更新
  files/ja/web/api/sharedworker/sharedworker/index.md
Labels: l10n-ja

#21038 Web/API/PushManager/supportedContentEncodings_static を更新
  files/ja/web/api/pushmanager/supportedcontentencodings_static/index.md
Labels: l10n-ja

#21039 sourceCommit を更新
  files/ja/web/api/performanceobserver/takerecords/index.md
  files/ja/web/api/speechrecognitionevent/emma/index.md
Labels: l10n-ja

#21040 Web/API/Screen_Capture_API/Using_Screen_Capture を更新
  files/ja/web/api/screen_capture_api/using_screen_capture/index.md
Labels: l10n-ja

#20347 zh-cn: translate for CookieStoreManager.subscribe method
  files/zh-cn/web/api/cookiestoremanager/subscribe/index.md
Labels: l10n-zh

#20958 [zh-cn]: create translation of `group` role
  files/zh-cn/web/accessibility/aria/roles/group_role/index.md
Labels: l10n-zh

#21231 [zh-cn]: create the translation of `browserSettings.ftpProtocolEnabled` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/ftpprotocolenabled/index.md
Labels: l10n-zh

#21184 [zh-cn]: create the translation of `browserAction.getBadgeText()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/getbadgetext/index.md
Labels: l10n-zh

#21082 zh-CN: update Glossary/Main_Axis
  files/zh-cn/glossary/main_axis/index.md
Labels: l10n-zh

#20489 [ru] update `Web/API/Node/compareDocumentPosition` translation
  files/ru/web/api/node/comparedocumentposition/index.md
Labels: l10n-ru

#20728 learn/javascript/objects/basics Update index.md
  files/es/learn/javascript/objects/basics/index.md
Labels: l10n-es

#21260 [zh-cn]: create the translation of `browsingData.removePluginData()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/removeplugindata/index.md
Labels: l10n-zh

#20525 zh-CN: update translation Glossary/Flex_Container
  files/zh-cn/glossary/flex_container/index.md
Labels: l10n-zh

#21062 [zh-cn]: create the translation of `cookies.getAllCookieStores()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/getallcookiestores/index.md
Labels: l10n-zh

#21228 [zh-cn]: create the translation of `browserSettings.closeTabsByDoubleClick` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/closetabsbydoubleclick/index.md
Labels: l10n-zh

#21061 [zh-cn]: create the translation of `cookies.remove()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/remove/index.md
Labels: l10n-zh

#20989 [zh-cn]: create the translation of `cookies.CookieStore` type
  files/zh-cn/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.md
Labels: l10n-zh

#21259 [zh-cn]: create the translation of `browsingData.removePasswords()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/removepasswords/index.md
Labels: l10n-zh

#20893 [zh-cn]: create the translation of "Accessibility information for web authors"
  files/zh-cn/web/accessibility/information_for_web_authors/index.md
Labels: l10n-zh

#21142 zh-CN: update Glossary/Mozilla_Firefox
  files/zh-cn/glossary/mozilla_firefox/index.md
Labels: l10n-zh

#21155 zh-CN: create Glossary/OpenSSL
  files/zh-cn/glossary/openssl/index.md
Labels: l10n-zh

#21248 [zh-cn]: create the translation of `browsingData` API
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/index.md
Labels: l10n-zh

#21245 [zh-cn]: create the translation of `browserSettings.webNotificationDisabled` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/webnotificationsdisabled/index.md
Labels: l10n-zh

#21243 メディアキャプチャとストリーム API (メディアストリーム)の `ブラウザーの互換性` の表記を修正する
  files/ja/web/api/media_capture_and_streams_api/index.md
Labels: l10n-ja

#21276 [zh-cn]: create the translation of `captivePortal.getState` method
  files/zh-cn/mozilla/add-ons/webextensions/api/captiveportal/getstate/index.md
Labels: l10n-zh

#21270 [ko] markdown table will render correctly
  files/ko/web/security/same-origin_policy/index.md
Labels: l10n-ko

#20184 [ko] translated keyboard event shiftkey
  files/ko/web/api/keyboardevent/shiftkey/index.md
Labels: l10n-ko

#21182 [zh-cn]: create the translation of `browseraction.enable()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/enable/index.md
Labels: l10n-zh

#21282 [zh-cn]: create the translation of `commands` API
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/index.md
Labels: l10n-zh

#20948 [zh-cn]: update the translation of SVG `<feflood>` and `<fefunc*>` element
  files/zh-cn/web/svg/element/feflood/index.md
  files/zh-cn/web/svg/element/fefunca/index.md
  files/zh-cn/web/svg/element/fefuncb/index.md
  files/zh-cn/web/svg/element/fefuncg/index.md
  files/zh-cn/web/svg/element/fefuncr/index.md
Labels: l10n-zh

#20910 [zh-cn]: create the translation of "ARIA: Multipart labels"
  files/zh-cn/web/accessibility/aria/multipart_labels/index.md
Labels: l10n-zh

#21257 [zh-cn]: create the translation of `browsingData.removeHistory()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browsingdata/removehistory/index.md
Labels: l10n-zh

#21196 [zh-cn]: create the translation of `browserAction.isEnabled()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/isenabled/index.md
Labels: l10n-zh

#21167 zh-CN: update Glossary/Origin
  files/zh-cn/glossary/origin/index.md
Labels: l10n-zh

#21066 [zh-cn]: update the translation of `description` manifest key
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/description/index.md
Labels: l10n-zh

#21219 [zh-cn]: create the translation of `browserAction.setTitle()` method
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/settitle/index.md
Labels: l10n-zh

#21090 zh-CN: update Glossary/Localization
  files/zh-cn/glossary/localization/index.md
Labels: l10n-zh

#21106 [zh-cn]: create the translation of `alarms.onalarm` event
  files/zh-cn/mozilla/add-ons/webextensions/api/alarms/onalarm/index.md
Labels: l10n-zh

#21275 [zh-cn]: create the translation of `captivePortal.getLastChecked` method
  files/zh-cn/mozilla/add-ons/webextensions/api/captiveportal/getlastchecked/index.md
Labels: l10n-zh

#21278 [zh-cn]: create the translation of `captivePortal.canonicalURL` property
  files/zh-cn/mozilla/add-ons/webextensions/api/captiveportal/canonicalurl/index.md
Labels: l10n-zh

#21315 [zh-cn]: update the translation of DocumentFragment `DocumentFragment()` constructor
  files/zh-cn/web/api/documentfragment/documentfragment/index.md
Labels: l10n-zh

#21288 [zh-cn]: update the translation of the expresstion statement
  files/zh-cn/web/javascript/reference/statements/expression_statement/index.md
Labels: l10n-zh

#21241 [zh-cn]: create the translation of `browserSettings.tlsVersionRestrictionConfig` property
  files/zh-cn/mozilla/add-ons/webextensions/api/browsersettings/tlsversionrestrictionconfig/index.md
Labels: l10n-zh
