Repository mdn/translated-content, pull requests merged in 2024-10, with the labels that each got.

#23808 Web/API/URLSearchParams を更新
  files/ja/web/api/urlsearchparams/index.md
Labels: l10n-ja

#23809 Web/API/URLSearchParams/delete を更新
  files/ja/web/api/urlsearchparams/delete/index.md
Labels: l10n-ja

#23810 Web/API/URLSearchParams/has を更新
  files/ja/web/api/urlsearchparams/has/index.md
Labels: l10n-ja

#23811 Web/API/URLSearchParams/get を更新
  files/ja/web/api/urlsearchparams/get/index.md
Labels: l10n-ja

#23812 Web/API/URLSearchParams/keys を更新
  files/ja/web/api/urlsearchparams/keys/index.md
Labels: l10n-ja

#23813 Web/API/WebSockets_API/Writing_WebSocket_client_applications を更新
  files/ja/web/api/websockets_api/writing_websocket_client_applications/index.md
Labels: l10n-ja

#23814 Web/API/WebSockets_API/Writing_WebSocket_servers を更新
  files/ja/web/api/websockets_api/writing_websocket_servers/index.md
Labels: l10n-ja

#23815 zh-cn: update the description of the `beforeprint` event
  files/zh-cn/web/api/window/beforeprint_event/index.md
Labels: l10n-zh

#23856 [zh-CN]: add translation for `Keyboard`
  files/zh-cn/web/api/keyboard/index.md
Labels: l10n-zh

#23820 Web/API/WebSockets_API/Writing_WebSocket_server を更新
  files/ja/web/api/websockets_api/writing_websocket_server/index.md
Labels: l10n-ja

#23821 Web/API/WebSockets_API/Writing_a_WebSocket_server_in_Java を更新
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_java/index.md
Labels: l10n-ja

#23822 Web/API/WebSockets_API/Writing_a_WebSocket_server_in_JavaScript_Deno を更新
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
Labels: l10n-ja

#23823 Web/API/WebSockets_API/Using_WebSocketStream を新規翻訳
  files/ja/web/api/websockets_api/using_websocketstream/index.md
Labels: l10n-ja

#23371 [ru] update `Web/API/Document/createAttribute` translation
  files/ru/web/api/document/createattribute/index.md
Labels: l10n-ru

#23836 [zh-CN]: sync translation for HTML Global attribute `virtualkeyboardpolicy`
  files/zh-cn/web/html/global_attributes/virtualkeyboardpolicy/index.md
Labels: l10n-zh

#23828 Web/API/WebSockets_API を更新
  files/ja/web/api/websockets_api/index.md
Labels: l10n-ja

#23829 Web/API/Web_components/Using_custom_elements を更新
  files/ja/web/api/web_components/using_custom_elements/index.md
Labels: l10n-ja

#23830 Web/API/Web_components/Using_shadow_DOM を更新
  files/ja/web/api/web_components/using_shadow_dom/index.md
Labels: l10n-ja

#23831 Web/API/Web_components/Using_templates_and_slots を更新
  files/ja/web/api/web_components/using_templates_and_slots/index.md
Labels: l10n-ja

#23833 Web/API/Web_components を更新
  files/ja/web/api/web_components/index.md
Labels: l10n-ja

#23834 Web/CSS/:state を新規翻訳
  files/ja/web/css/_colon_state/index.md
Labels: l10n-ja

#23838 Web/API/HTMLTemplateElement を更新
  files/ja/web/api/htmltemplateelement/index.md
Labels: l10n-ja

#23839 Web/API/HTMLTemplateElement/shadowRootClonable 他2件を新規翻訳
  files/ja/web/api/htmltemplateelement/shadowrootclonable/index.md
  files/ja/web/api/htmltemplateelement/shadowrootdelegatesfocus/index.md
  files/ja/web/api/htmltemplateelement/shadowrootmode/index.md
Labels: l10n-ja

#23840 Web/API/HTMLTemplateElement/shadowRootSerializable を新規翻訳
  files/ja/web/api/htmltemplateelement/shadowrootserializable/index.md
Labels: l10n-ja

#23841 Web/API/Web_components/Using_shadow_DOM への入り込みリンクを修正
  files/ja/mozilla/firefox/releases/128/index.md
  files/ja/mozilla/firefox/releases/130/index.md
Labels: l10n-ja

#23842 Web/API/ShadowRoot を更新
  files/ja/web/api/shadowroot/index.md
Labels: l10n-ja

#23843 Web/API/ShadowRoot/adoptedStyleSheets を更新
  files/ja/web/api/shadowroot/adoptedstylesheets/index.md
Labels: l10n-ja

#23844 Web/API/ShadowRoot/clonable を新規翻訳
  files/ja/web/api/shadowroot/clonable/index.md
Labels: l10n-ja

#23845 Web/API/ShadowRoot/delegatesFocus を更新
  files/ja/web/api/shadowroot/delegatesfocus/index.md
Labels: l10n-ja

#23846 Web/API/ShadowRoot/fullscreenElement を更新
  files/ja/web/api/shadowroot/fullscreenelement/index.md
Labels: l10n-ja

#23847 Web/API/ShadowRoot/host を更新
  files/ja/web/api/shadowroot/host/index.md
Labels: l10n-ja

#23849 Web/API/ShadowRoot/pictureInPictureElement を更新
  files/ja/web/api/shadowroot/pictureinpictureelement/index.md
Labels: l10n-ja

#23850 Web/API/ShadowRoot/pointerLockElement を更新
  files/ja/web/api/shadowroot/pointerlockelement/index.md
Labels: l10n-ja

#23819 zh-cn: update 'HTML table basics'
  files/zh-cn/learn/html/tables/basics/index.md
Labels: l10n-zh

#23805 [zh-cn]: sync with content for Content-Encoding
  files/zh-cn/web/http/headers/content-encoding/index.md
Labels: l10n-zh

#23827 [zh-CN]: sync translation for Pointer Lock API
  files/zh-cn/web/api/pointer_lock_api/index.md
Labels: l10n-zh

#23858 Web/API/ShadowRoot/slotAssignment を新規翻訳
  files/ja/web/api/shadowroot/slotassignment/index.md
Labels: l10n-ja

#23859 Web/API/ShadowRoot/styleSheets を更新
  files/ja/web/api/shadowroot/stylesheets/index.md
Labels: l10n-ja

#23861 Web/API/ShadowRoot/getHTML 他1件を新規翻訳
  files/ja/web/api/shadowroot/gethtml/index.md
  files/ja/web/api/shadowroot/serializable/index.md
Labels: l10n-ja

#23807 zh-cn: sync the translation of the second two articles in `Get started with the web`
  files/zh-cn/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/zh-cn/learn/getting_started_with_the_web/html_basics/index.md
Labels: l10n-zh

#23862 Web/API/ShadowRoot/setHTMLUnsafe を新規翻訳
  files/ja/web/api/shadowroot/sethtmlunsafe/index.md
Labels: l10n-ja

#23893 [ja] 文字クラス\sの定義で半角空白が抜けていた
  files/ja/web/javascript/guide/regular_expressions/character_classes/index.md
Labels: l10n-ja

#23787 [zh-cn]: update background, sync with examples
  files/zh-cn/web/css/background-color/index.md
Labels: l10n-zh

#23914 Correct Chinese translation of Screen.colorDepth documentation
  files/zh-cn/web/api/screen/colordepth/index.md
Labels: l10n-zh

#23904 [ko] css scale 신규 번역
  files/ko/web/css/scale/index.md
Labels: l10n-ko

#23890 [zh-CN]: add translation for `Keyboard.getLayoutMap`
  files/zh-cn/web/api/keyboard/getlayoutmap/index.md
Labels: l10n-zh

#23865 Web/CSS/overflow を更新
  files/ja/web/css/overflow/index.md
Labels: l10n-ja

#23866 Web/CSS/font-weight を更新
  files/ja/web/css/font-weight/index.md
Labels: l10n-ja

#23867 Web/CSS/backdrop-filter を更新
  files/ja/web/css/backdrop-filter/index.md
Labels: l10n-ja

#23868 Web/CSS/border-radius を更新
  files/ja/web/css/border-radius/index.md
Labels: l10n-ja

#23869 Web/CSS/text-decoration を更新
  files/ja/web/css/text-decoration/index.md
Labels: l10n-ja

#23872 Web/JavaScript を更新
  files/ja/web/javascript/index.md
Labels: l10n-ja

#23873 Web/JavaScript/Data_structures を更新
  files/ja/web/javascript/data_structures/index.md
Labels: l10n-ja

#23874 Web/JavaScript/Reference/Global_Objects/Array を更新
  files/ja/web/javascript/reference/global_objects/array/index.md
Labels: l10n-ja

#23875 Web/JavaScript/Reference/Global_Objects/Array/from を更新
  files/ja/web/javascript/reference/global_objects/array/from/index.md
Labels: l10n-ja

#23876 Web/JavaScript/Reference/Global_Objects/Array/of を更新
  files/ja/web/javascript/reference/global_objects/array/of/index.md
Labels: l10n-ja

#23877 Web/JavaScript/Reference/Global_Objects/Array/forEach 他1件を更新
  files/ja/web/javascript/reference/global_objects/array/foreach/index.md
  files/ja/web/javascript/reference/global_objects/array/values/index.md
Labels: l10n-ja

#23878 Web/JavaScript/Reference/Global_Objects/Array/lastIndexOf を更新
  files/ja/web/javascript/reference/global_objects/array/lastindexof/index.md
Labels: l10n-ja

#23879 Web/JavaScript/Reference/Global_Objects/Array/entries 他2件を更新
  files/ja/web/javascript/reference/global_objects/array/entries/index.md
  files/ja/web/javascript/reference/global_objects/array/keys/index.md
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-ja

#23880 Web/JavaScript/Closures を更新
  files/ja/web/javascript/closures/index.md
Labels: l10n-ja

#23870 zh-cn: sync the translation of "How the web works" and "Publishing your website"
  files/zh-cn/learn/getting_started_with_the_web/how_the_web_works/index.md
  files/zh-cn/learn/getting_started_with_the_web/publishing_your_website/index.md
Labels: l10n-zh

#23886 Web/JavaScript/Reference/Global_Objects/Map/Map を更新
  files/ja/web/javascript/reference/global_objects/map/map/index.md
Labels: l10n-ja

#23887 Web/JavaScript/Reference/Global_Objects/Map 他1件を更新
  files/ja/web/javascript/reference/global_objects/map/index.md
  files/ja/web/javascript/reference/global_objects/map/symbol.species/index.md
Labels: l10n-ja

#23888 Web/JavaScript/Reference/Global_Objects/Date/Symbol.toPrimitive 他1件を更新
  files/ja/web/javascript/reference/global_objects/date/symbol.toprimitive/index.md
  files/ja/web/javascript/reference/global_objects/map/symbol.iterator/index.md
Labels: l10n-ja

#23889 Web/JavaScript/Reference/Global_Objects/Map/entries 他2件を更新
  files/ja/web/javascript/reference/global_objects/map/entries/index.md
  files/ja/web/javascript/reference/global_objects/map/keys/index.md
  files/ja/web/javascript/reference/global_objects/map/values/index.md
Labels: l10n-ja

#23891 Web/CSS/text-overflow を更新
  files/ja/web/css/text-overflow/index.md
Labels: l10n-ja

#23892 Web/CSS/Using_CSS_custom_properties を更新
  files/ja/web/css/using_css_custom_properties/index.md
Labels: l10n-ja

#23916 fix: `Number.prototype.toFixed()` ページの誤字を修正
  files/ja/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: l10n-ja

#23535 zh-CN: create `extension.sendRequest()`
  files/zh-cn/mozilla/add-ons/webextensions/api/extension/sendrequest/index.md
Labels: l10n-zh

#23900 zh-cn: update the translation of `Document.hasStorageAccess()`
  files/zh-cn/web/api/document/hasstorageaccess/index.md
Labels: l10n-zh

#23855 [zh-CN]: add translation for `KeyboardLayoutMap`
  files/zh-cn/web/api/keyboardlayoutmap/index.md
Labels: l10n-zh

#23917 Correction d'une coquille orthographique
  files/fr/learn/javascript/objects/basics/index.md
Labels: l10n-fr

#23926 [ja] fix typo `しなければならなります` -> `しなければならなくなります`
  files/ja/web/html/element/iframe/index.md
Labels: l10n-ja

#23903 Web/CSS/:nth-child を更新
  files/ja/web/css/_colon_nth-child/index.md
Labels: l10n-ja

#23803 [zh-cn]: sync with content for vercital-align
  files/zh-cn/web/api/htmltablesectionelement/valign/index.md
  files/zh-cn/web/css/vertical-align/index.md
Labels: l10n-zh

#23939 zh-cn: update the transition of `new.target`
  files/zh-cn/web/javascript/reference/operators/new.target/index.md
Labels: l10n-zh

#23901 zh-cn: sync the translation of "The web and web standards"
  files/zh-cn/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: l10n-zh

#23774 create docs for HTMLTableColElement
  files/zh-cn/web/api/htmltablecolelement/align/index.md
  files/zh-cn/web/api/htmltablecolelement/ch/index.md
  files/zh-cn/web/api/htmltablecolelement/choff/index.md
  files/zh-cn/web/api/htmltablecolelement/index.md
  files/zh-cn/web/api/htmltablecolelement/span/index.md
  files/zh-cn/web/api/htmltablecolelement/valign/index.md
Labels: l10n-zh

#23798 [zh-cn]: create docs for HTMLTableCellElement
  files/zh-cn/web/api/htmltablecellelement/abbr/index.md
  files/zh-cn/web/api/htmltablecellelement/align/index.md
  files/zh-cn/web/api/htmltablecellelement/bgcolor/index.md
  files/zh-cn/web/api/htmltablecellelement/cellindex/index.md
  files/zh-cn/web/api/htmltablecellelement/ch/index.md
  files/zh-cn/web/api/htmltablecellelement/choff/index.md
  files/zh-cn/web/api/htmltablecellelement/colspan/index.md
  files/zh-cn/web/api/htmltablecellelement/headers/index.md
  files/zh-cn/web/api/htmltablecellelement/index.md
  files/zh-cn/web/api/htmltablecellelement/nowrap/index.md
  files/zh-cn/web/api/htmltablecellelement/rowspan/index.md
  files/zh-cn/web/api/htmltablecellelement/scope/index.md
  files/zh-cn/web/api/htmltablecellelement/valign/index.md
Labels: l10n-zh

#23905 Web/CSS/transform を更新
  files/ja/web/css/transform/index.md
Labels: l10n-ja

#23906 Web/CSS/vertical-align を更新
  files/ja/web/css/vertical-align/index.md
Labels: l10n-ja

#23908 Web/CSS/text-transform を更新
  files/ja/web/css/text-transform/index.md
Labels: l10n-ja

#23907 [ru] add "Web/JavaScript/Reference/Operators/Inequality" translation
  files/ru/web/javascript/reference/operators/inequality/index.md
Labels: l10n-ru

#23896 zh-cn: update the translation of the `<link>` element
  files/zh-cn/web/html/element/link/index.md
Labels: l10n-zh

#23635 [zh-CN]: add translation for `Window.documentPictureInPicture`
  files/zh-cn/web/api/window/documentpictureinpicture/index.md
Labels: l10n-zh

#23801 [zh-cn]: sync with content for white-space
  files/zh-cn/web/css/white-space/index.md
Labels: l10n-zh

#23950 [zh-CN]: add translation for `KeyboardLayoutMap.size`
  files/zh-cn/web/api/keyboardlayoutmap/size/index.md
Labels: l10n-zh

#23707 chore(ko): handling redirects of chrome.com
  files/ko/glossary/prefetch/index.md
  files/ko/glossary/prerender/index.md
  files/ko/mozilla/add-ons/webextensions/api/menus/contexttype/index.md
  files/ko/mozilla/add-ons/webextensions/api/menus/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
  files/ko/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/ko/mozilla/add-ons/webextensions/api/tabs/create/index.md
  files/ko/mozilla/add-ons/webextensions/index.md
  files/ko/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/ko/web/api/document/visibilitychange_event/index.md
  files/ko/web/api/navigator/sendbeacon/index.md
  files/ko/web/api/window/beforeunload_event/index.md
  files/ko/web/api/window/unload_event/index.md
  files/ko/web/css/@keyframes/index.md
Labels: l10n-ko

#23502 [ko] css text-wrap 신규 번역
  files/ko/web/css/text-wrap/index.md
Labels: l10n-ko

#23948 es: Create text-wrap
  files/es/web/css/text-wrap/index.md
Labels: l10n-es

#23949 [ko] javascript 메서드 hasOwnProperty 신규 번역
  files/ko/web/javascript/reference/global_objects/object/hasownproperty/index.md
Labels: l10n-ko

#23894 [ko] accessibility/aria/roles/landmark_role 신규 번역
  files/ko/web/accessibility/aria/roles/landmark_role/index.md
Labels: l10n-ko

#23320 [ko] Object.keys() 최신화 및 오타 수정
  files/ko/web/javascript/reference/global_objects/object/keys/index.md
Labels: l10n-ko

#23044 [ko] OffscreenCanvas 문서 업데이트
  files/ko/web/api/offscreencanvas/height/index.md
  files/ko/web/api/offscreencanvas/index.md
  files/ko/web/api/offscreencanvas/offscreencanvas/index.md
  files/ko/web/api/offscreencanvas/width/index.md
Labels: l10n-ko

#23700 [zh-CN]: add translation for `DocumentPictureInPicture`
  files/zh-cn/web/api/document_picture-in-picture_api/index.md
  files/zh-cn/web/api/documentpictureinpicture/index.md
Labels: l10n-zh

#23927 Typofix / rewording
  files/fr/web/api/web_storage_api/index.md
Labels: l10n-fr

#23478 [fr] Add missing "ayant" in second paragraph in browser.runtime.sendMessage page
  files/fr/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.md
Labels: l10n-fr

#22879 [fr] use `const` instead of `var` in code examples
  files/fr/web/api/document/getelementbyid/index.md
Labels: l10n-fr

#23776 Minor corrections in `/fr/docs/Glossary/Unicode` - Fixes #23767
  files/fr/glossary/unicode/index.md
Labels: l10n-fr

#23920 Web/JavaScript/Reference/Global_Objects/Set/Symbol.species を更新
  files/ja/web/javascript/reference/global_objects/set/symbol.species/index.md
Labels: l10n-ja

#23921 Web/JavaScript/Reference/Global_Objects/Set/clear を更新
  files/ja/web/javascript/reference/global_objects/set/clear/index.md
Labels: l10n-ja

#23922 Web/JavaScript/Reference/Global_Objects/Set/difference を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/difference/index.md
  files/ja/web/javascript/reference/global_objects/set/intersection/index.md
Labels: l10n-ja

#20344 [fr] nth-child rework based on english
  files/fr/web/css/_colon_nth-child/index.md
Labels: l10n-fr

#23941 zh-cn: sync the translation of "JavaScript basics"
  files/zh-cn/learn/getting_started_with_the_web/html_basics/index.md
  files/zh-cn/learn/getting_started_with_the_web/javascript_basics/beginner-site-scripted.png
  files/zh-cn/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: l10n-zh

#23952 [zh-CN]: add translation for `KeyboardLayoutMap.forEach()`
  files/zh-cn/web/api/keyboardlayoutmap/foreach/index.md
Labels: l10n-zh

#23953 zh-cn: update the translation of "BookInstance detail page and challenge"
  files/zh-cn/learn/server-side/express_nodejs/displaying_data/bookinstance_detail_page_and_challenge/index.md
Labels: l10n-zh

#23951 zh-cn: sync the translation of `new.target`
  files/zh-cn/web/javascript/reference/operators/new.target/index.md
Labels: l10n-zh

#23962 zh-ch: upate 'HTML table advanced features and accessibility'
  files/zh-cn/learn/html/tables/advanced/index.md
Labels: l10n-zh

#23918 Glossaryの「CLS」に日本語訳を追加した
  files/ja/glossary/cls/index.md
Labels: l10n-ja

#23924 Web/HTML/Element/summary を更新
  files/ja/web/html/element/summary/index.md
Labels: l10n-ja

#23925 Web/API/HTMLDialogElement/close_event を更新
  files/ja/web/api/htmldialogelement/close_event/index.md
Labels: l10n-ja

#23929 Web/JavaScript/Reference/Global_Objects/Set/isDisjointFrom を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/isdisjointfrom/index.md
Labels: l10n-ja

#23930 Web/JavaScript/Reference/Global_Objects/Set/isSubsetOf を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/issubsetof/index.md
Labels: l10n-ja

#23931 Web/JavaScript/Reference/Global_Objects/Set/isSupersetOf を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/issupersetof/index.md
Labels: l10n-ja

#23932 Learn/HTML/Multimedia_and_embedding/Responsive_images を更新
  files/ja/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: l10n-ja

#23933 Web/HTML/Global_attributes/dir を更新
  files/ja/web/html/global_attributes/dir/index.md
Labels: l10n-ja

#23940 Window インターフェイスのタイマー系メソッドの記事の位置変更を反映
  files/ja/web/api/window/clearinterval/index.md
  files/ja/web/api/window/cleartimeout/index.md
  files/ja/web/api/window/setinterval/index.md
  files/ja/web/api/window/settimeout/index.md
Labels: l10n-ja

#23942 Web/JavaScript/Reference/Global_Objects/Set/Symbol.iterator を更新
  files/ja/web/javascript/reference/global_objects/set/symbol.iterator/index.md
Labels: l10n-ja

#23943 Web/JavaScript/Reference/Global_Objects/Set/symmetricDifference を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/symmetricdifference/index.md
Labels: l10n-ja

#23944 Web/JavaScript/Reference/Global_Objects/Set/union を新規翻訳
  files/ja/web/javascript/reference/global_objects/set/union/index.md
Labels: l10n-ja

#23946 sourceCommit: の更新
  files/ja/web/javascript/reference/global_objects/set/symbol.species/index.md
  files/ja/web/javascript/reference/operators/property_accessors/index.md
Labels: l10n-ja

#23899 zh-cn: init the translation of `WebTransport`
  files/zh-cn/web/api/webtransport/index.md
Labels: l10n-zh

#23915 Firefox 131 for developersを翻訳
  files/ja/mozilla/firefox/releases/131/index.md
Labels: l10n-ja

#23954 Web/JavaScript/Reference/Global_Objects/Promise 他1件を更新
  files/ja/web/javascript/reference/global_objects/promise/index.md
  files/ja/web/javascript/reference/global_objects/promise/race/index.md
Labels: l10n-ja

#23955 Web/JavaScript/Reference/Global_Objects/Promise/Promise を更新
  files/ja/web/javascript/reference/global_objects/promise/promise/index.md
Labels: l10n-ja

#23956 Web/JavaScript/Reference/Global_Objects/Promise/allSettled を更新
  files/ja/web/javascript/reference/global_objects/promise/allsettled/index.md
Labels: l10n-ja

#23957 Web/JavaScript/Reference/Global_Objects/Promise/finally 他2件を更新
  files/ja/web/javascript/reference/global_objects/promise/finally/index.md
  files/ja/web/javascript/reference/global_objects/promise/resolve/index.md
  files/ja/web/javascript/reference/global_objects/promise/symbol.species/index.md
Labels: l10n-ja

#23958 Web/JavaScript/Reference/Global_Objects/Promise/try を新規翻訳
  files/ja/web/javascript/reference/global_objects/promise/try/index.md
Labels: l10n-ja

#23959 Web/JavaScript/Reference/Global_Objects/Promise/then を更新
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja

#23991 GlossaryにLargest contentful paint（LCP）に関する説明を追加した
  files/ja/glossary/largest_contentful_paint/index.md
Labels: l10n-ja

#23972 Update index.md
  files/ru/web/javascript/reference/statements/var/index.md
Labels: l10n-ru

#23961 Update box-sizing: change position-relative to position: relative
  files/ru/web/css/box-sizing/index.md
Labels: l10n-ru

#23977 [ko] showDirectoryPicker, showOpenFilePicker, showSaveFilePicker 번역
  files/ko/web/api/window/showdirectorypicker/index.md
  files/ko/web/api/window/showopenfilepicker/index.md
  files/ko/web/api/window/showsavefilepicker/index.md
Labels: l10n-ko

#23963 Follow-up of #23776
  files/fr/glossary/unicode/index.md
Labels: l10n-fr

#23966 Web/JavaScript/Reference/Global_Objects/String 他4件を更新
  files/ja/web/javascript/reference/global_objects/string/charat/index.md
  files/ja/web/javascript/reference/global_objects/string/index.md
  files/ja/web/javascript/reference/global_objects/string/match/index.md
  files/ja/web/javascript/reference/global_objects/string/replace/index.md
  files/ja/web/javascript/reference/global_objects/string/split/index.md
Labels: l10n-ja

#23967 Web/JavaScript/Reference/Global_Objects/String/codePointAt 他5件を更新
  files/ja/web/javascript/reference/global_objects/string/codepointat/index.md
  files/ja/web/javascript/reference/global_objects/string/length/index.md
  files/ja/web/javascript/reference/global_objects/string/matchall/index.md
  files/ja/web/javascript/reference/global_objects/string/replaceall/index.md
  files/ja/web/javascript/reference/global_objects/string/search/index.md
  files/ja/web/javascript/reference/global_objects/string/symbol.iterator/index.md
Labels: l10n-ja

#23968 Web/JavaScript/Reference/Global_Objects/String/indexOf を更新
  files/ja/web/javascript/reference/global_objects/string/indexof/index.md
Labels: l10n-ja

#23969 Web/JavaScript/Reference/Global_Objects/String/isWellFormed 他1件を更新
  files/ja/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/towellformed/index.md
Labels: l10n-ja

#23970 Web/JavaScript/Reference/Global_Objects/String/lastIndexOf を更新
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.md
Labels: l10n-ja

#23973 Web/API/SVGNumber を新規翻訳
  files/ja/web/api/svgnumber/index.md
Labels: l10n-ja

#23974 Web/API/SVGLength を新規翻訳
  files/ja/web/api/svglength/index.md
Labels: l10n-ja

#23871 Improve translation: Using "кусок" instead of "бит" in some contexts
  files/ru/learn/javascript/objects/json/index.md
  files/ru/learn/javascript/objects/object_building_practice/index.md
  files/ru/web/http/messages/index.md
Labels: l10n-ru

#23971 Fix #23947
  files/fr/web/javascript/reference/trailing_commas/index.md
Labels: l10n-fr

#24065 es: Create contructor Date()
  files/es/web/javascript/reference/global_objects/date/date/index.md
Labels: l10n-es

#23500 [ko] HTTP 리소스와 명세 테이블 업데이트
  files/ko/web/http/resources_and_specifications/index.md
Labels: l10n-ko

#24060 Fix #21014
  files/fr/web/css/easing-function/index.md
Labels: l10n-fr

#23980 Web/JavaScript/Reference/Global_Objects/Object 他2件を更新
  files/ja/web/javascript/reference/global_objects/object/constructor/index.md
  files/ja/web/javascript/reference/global_objects/object/fromentries/index.md
  files/ja/web/javascript/reference/global_objects/object/index.md
Labels: l10n-ja

#23981 Web/JavaScript/Reference/Global_Objects/Object/assign を更新
  files/ja/web/javascript/reference/global_objects/object/assign/index.md
Labels: l10n-ja

#23982 Web/JavaScript/Reference/Global_Objects/Object/freeze を更新
  files/ja/web/javascript/reference/global_objects/object/freeze/index.md
Labels: l10n-ja

#23983 Web/JavaScript/Reference/Global_Objects/Object/toString を更新
  files/ja/web/javascript/reference/global_objects/object/tostring/index.md
Labels: l10n-ja
