Repository mdn/translated-content, pull requests merged in 2025-02, with the labels that each got.

#25654 [ko] window focus event 신규 번역
  files/ko/web/api/window/focus_event/index.md
Labels: l10n-ko

#25672 [ru] update `Glossary/CRLF` translation
  files/ru/glossary/crlf/index.md
Labels: l10n-ru

#25571 [zh-cn]: update the translation of SVG `<feComponentTransfer>` element
  files/zh-cn/web/svg/element/fecomponenttransfer/index.md
Labels: l10n-zh

#25396 zh-cn: update the translation of the `Content-Security-Policy` header
  files/zh-cn/web/http/headers/content-security-policy/index.md
Labels: l10n-zh

#25655 [ko] queryLocalFonts 신규 번역
  files/ko/web/api/window/querylocalfonts/index.md
Labels: l10n-ko

#25706 chore(zh-cn): add 'Learning outcome' to common glossary
  docs/zh-cn/glossary.md
Labels: l10n-zh

#25481 [ru] add `Glossary/Accent` translation
  files/ru/glossary/accent/index.md
Labels: l10n-ru

#25482 [ru] update `Web/CSS/accent-color` translation
  files/ru/web/css/accent-color/index.md
  files/ru/web/css/column-rule-color/index.md
  files/ru/web/css/outline-color/index.md
Labels: l10n-ru

#25645 Web/API/Headers/getSetCookie を新規翻訳
  files/ja/web/api/headers/getsetcookie/index.md
Labels: l10n-ja

#25646 Web/API/Headers/append 他7件を更新
  files/ja/web/api/headers/append/index.md
  files/ja/web/api/headers/entries/index.md
  files/ja/web/api/headers/get/index.md
  files/ja/web/api/headers/has/index.md
  files/ja/web/api/headers/headers/index.md
  files/ja/web/api/headers/keys/index.md
  files/ja/web/api/headers/set/index.md
  files/ja/web/api/headers/values/index.md
Labels: l10n-ja

#25647 Web/API/Headers/forEach を更新
  files/ja/web/api/headers/foreach/index.md
Labels: l10n-ja

#25648 Web/API/Headers/delete 他1件を更新
  files/ja/web/api/headers/delete/index.md
  files/ja/web/api/headers/index.md
Labels: l10n-ja

#25653 Update index.md
  files/ja/web/css/object-position/index.md
Labels: l10n-ja

#25657 Web/API/Request/isHistoryNavigation を新規翻訳
  files/ja/web/api/request/ishistorynavigation/index.md
Labels: l10n-ja

#25658 Web/API/Request/keepalive を新規翻訳
  files/ja/web/api/request/keepalive/index.md
Labels: l10n-ja

#25659 Web/API/Request/body 他10件を更新
  files/ja/web/api/request/body/index.md
  files/ja/web/api/request/bodyused/index.md
  files/ja/web/api/request/cache/index.md
  files/ja/web/api/request/destination/index.md
  files/ja/web/api/request/headers/index.md
  files/ja/web/api/request/integrity/index.md
  files/ja/web/api/request/method/index.md
  files/ja/web/api/request/redirect/index.md
  files/ja/web/api/request/referrer/index.md
  files/ja/web/api/request/referrerpolicy/index.md
  files/ja/web/api/request/url/index.md
Labels: l10n-ja

#25660 Web/API/Request/Request を更新
  files/ja/web/api/request/request/index.md
Labels: l10n-ja

#25662 Web/API/Request/mode を更新
  files/ja/web/api/request/mode/index.md
Labels: l10n-ja

#25663 Web/API/Request を更新
  files/ja/web/api/request/index.md
Labels: l10n-ja

#25664 Web/API/RequestInit を更新
  files/ja/web/api/requestinit/index.md
Labels: l10n-ja

#25668 Web/API/Request/arrayBuffer 他5件を更新
  files/ja/web/api/request/arraybuffer/index.md
  files/ja/web/api/request/blob/index.md
  files/ja/web/api/request/bytes/index.md
  files/ja/web/api/request/formdata/index.md
  files/ja/web/api/request/json/index.md
  files/ja/web/api/request/text/index.md
Labels: l10n-ja

#25669 Web/API/Request/clone を更新
  files/ja/web/api/request/clone/index.md
Labels: l10n-ja

#25675 Web/API/Element/innerHTML を更新
  files/ja/web/api/element/innerhtml/index.md
Labels: l10n-ja

#25676 Web/CSS/ident を更新
  files/ja/web/css/ident/index.md
Labels: l10n-ja

#25677 Web/API/Element/closest 他3件を更新
  files/ja/web/api/element/closest/index.md
  files/ja/web/api/element/matches/index.md
  files/ja/web/api/element/queryselector/index.md
  files/ja/web/api/element/queryselectorall/index.md
Labels: l10n-ja

#25696 [ja] 誤植があったので修正。
  files/ja/web/javascript/reference/global_objects/date/index.md
Labels: l10n-ja

#25712 fix typo in ja/Web/HTTP/Status/500/index.md
  files/ja/web/http/status/500/index.md
Labels: l10n-ja

#25708 web/api/window/showdirectorypicker のサイドバーの非表示を修正
  files/ja/web/api/window/showdirectorypicker/index.md
Labels: l10n-ja

#25713 [ru] improve `Web/API/Canvas_API/Tutorial/Advanced_animations` translation
  files/ru/web/api/canvas_api/tutorial/advanced_animations/index.md
Labels: l10n-ru

#25721 fix(workflows/pr-check_redirects): validate with rari
  .github/workflows/pr-check_redirects.yml
Labels: system

#25716 Update index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
Labels: l10n-ja

#25688 Web/API/Element/wheel_event を更新
  files/ja/web/api/element/wheel_event/index.md
Labels: l10n-ja

#25689 Web/API/Element/touchcancel_event を更新
  files/ja/web/api/element/touchcancel_event/index.md
Labels: l10n-ja

#25690 Web/API/Element/keypress_event 他2件を更新
  files/ja/web/api/element/keypress_event/index.md
  files/ja/web/api/element/mousewheel_event/index.md
  files/ja/web/api/element/mozmousepixelscroll_event/index.md
Labels: l10n-ja

#25691 Web/API/Element/animationcancel_event 他3件を更新
  files/ja/web/api/element/animationcancel_event/index.md
  files/ja/web/api/element/animationend_event/index.md
  files/ja/web/api/element/animationiteration_event/index.md
  files/ja/web/api/element/animationstart_event/index.md
Labels: l10n-ja

#25692 Web/API/Element/beforexrselect_event 他13件を更新
  files/ja/web/api/element/beforexrselect_event/index.md
  files/ja/web/api/element/dblclick_event/index.md
  files/ja/web/api/element/keydown_event/index.md
  files/ja/web/api/element/keyup_event/index.md
  files/ja/web/api/element/mousedown_event/index.md
  files/ja/web/api/element/mouseenter_event/index.md
  files/ja/web/api/element/mouseleave_event/index.md
  files/ja/web/api/element/mousemove_event/index.md
  files/ja/web/api/element/mouseout_event/index.md
  files/ja/web/api/element/mouseover_event/index.md
  files/ja/web/api/element/mouseup_event/index.md
  files/ja/web/api/element/webkitmouseforcedown_event/index.md
  files/ja/web/api/element/webkitmouseforceup_event/index.md
  files/ja/web/api/element/webkitmouseforcewillbegin_event/index.md
Labels: l10n-ja

#25693 Web/API/Element/input_event を更新
  files/ja/web/api/element/input_event/index.md
Labels: l10n-ja

#25694 Web/API/Element/auxclick_event 他2件を更新
  files/ja/web/api/element/auxclick_event/index.md
  files/ja/web/api/element/click_event/index.md
  files/ja/web/api/element/contextmenu_event/index.md
Labels: l10n-ja

#25695 Web/API/Element/scroll_event を更新
  files/ja/web/api/element/scroll_event/index.md
Labels: l10n-ja

#25369 [zh-TW]: update HTTP Header "Accept-Language"
  files/zh-tw/web/http/headers/accept-language/index.md
Labels: l10n-zh

#25424 [zh-TW]: update API GeolocationCoordinates "accuracy"
  files/zh-tw/web/api/geolocationcoordinates/accuracy/index.md
Labels: l10n-zh

#25432 [zh-TW]: create API GeolocationCoordinates "toJSON"
  files/zh-tw/web/api/geolocationcoordinates/tojson/index.md
Labels: l10n-zh

#25427 [zh-TW]: update API GeolocationCoordinates "altitudeAccuracy"
  files/zh-tw/web/api/geolocationcoordinates/altitudeaccuracy/index.md
Labels: l10n-zh

#25371 [zh-TW]: update Web Manifest
  files/zh-tw/web/manifest/index.md
Labels: l10n-zh

#25722 [ru] fix table preview in the "Allowing cells to span multiple rows and columns" section
  files/ru/learn_web_development/core/structuring_content/html_table_basics/index.md
Labels: l10n-ru

#25725 [zh-TW]: update landing-page of Games
  files/zh-tw/games/index.md
Labels: l10n-zh

#25718 [zh-cn]: update the translation of svg `<g>` element
  files/zh-cn/web/svg/element/g/index.md
Labels: l10n-zh

#25715 [fr] fix typo: missing words in sentence
  files/fr/web/http/headers/cache-control/index.md
Labels: l10n-fr

#25764 [zh-cn]: fix code examples
  files/zh-cn/web/api/element/getelementsbyclassname/index.md
Labels: l10n-zh

#25750 fix(workflows): assign explicit permissions
  .github/workflows/auto-merge.yml
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/sync-translated-content.yml
  .github/workflows/system-file-changes.yml
Labels: system

#25752 fix(workflows): pin 3rd party actions
  .github/workflows/auto-merge.yml
  .github/workflows/markdown-lint-fix.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#25769 fix(workflows/pr-review-companion): grant `issues: write` permission
  .github/workflows/pr-review-companion.yml
Labels: system

#25771 fix(workflows/pr-review-companion): grant pull-requests: write
  .github/workflows/pr-review-companion.yml
Labels: system

#25714 Web/CSS/CSS_scroll_snap/Using_scroll_snap_events を新規翻訳
  files/ja/web/css/css_scroll_snap/using_scroll_snap_events/index.md
Labels: l10n-ja

#25728 [zh-CN]: Sync translation for `PictureInPictureWindow.{height,width}`
  files/zh-cn/web/api/pictureinpicturewindow/height/index.md
  files/zh-cn/web/api/pictureinpicturewindow/width/index.md
Labels: l10n-zh

#25749 [zh-TW]: update HTTP Session
  files/zh-tw/web/http/session/index.md
Labels: l10n-zh

#25617 [zh-cn]: update the translation of CSS `-webkit-border-before` property
  files/zh-cn/web/css/-webkit-border-before/index.md
Labels: l10n-zh

#25770 [zh-cn]: update the translation of `getChannelData()` method
  files/zh-cn/web/api/audiobuffer/getchanneldata/index.md
Labels: l10n-zh

#25526 [zh-tw] add the translation of the global attribute `style`
  files/zh-tw/web/html/global_attributes/style/index.md
Labels: l10n-zh

#25686 zh-cn: translate CSSKeyValue constructor
  files/zh-cn/web/api/csskeywordvalue/csskeywordvalue/index.md
  files/zh-cn/web/api/csskeywordvalue/index.md
Labels: l10n-zh

#25550 [zh-cn]: create the translation of ErrorEvent `colno` property
  files/zh-cn/web/api/errorevent/colno/index.md
Labels: l10n-zh

#24511 [ko] userActivation 신규 번역
  files/ko/web/api/navigator/useractivation/index.md
Labels: l10n-ko

#25754 [ko] svg stroke dasharray 신규 번역
  files/ko/web/svg/attribute/stroke-dasharray/index.md
Labels: l10n-ko

#25784 Firefox 135 for developersを翻訳
  files/ja/mozilla/firefox/releases/135/index.md
Labels: l10n-ja

#25726 Web/CSS/line-clamp を更新
  files/ja/web/css/line-clamp/index.md
Labels: l10n-ja

#25755 sourceCommit: を修正
  files/ja/web/css/_colon_modal/index.md
Labels: l10n-ja

#25656 [zh-CN]: Add translation for `Permissions-Policy: fullscreen`
  files/zh-cn/web/http/headers/permissions-policy/fullscreen/index.md
Labels: l10n-zh

#25727 [zh-CN]: Sync translation for `HTMLVideoElement.disablePictureInPicture`
  files/zh-cn/web/api/htmlvideoelement/disablepictureinpicture/index.md
Labels: l10n-zh

#25697 [zh-CN]: Add translation for `NavigationHistoryEntry.sameDocument`
  files/zh-cn/web/api/navigationhistoryentry/samedocument/index.md
Labels: l10n-zh

#25553 [zh-cn]: create the translation of ErrorEvent `error` property
  files/zh-cn/web/api/errorevent/error/index.md
Labels: l10n-zh

#25552 [zh-cn]: update the translation of HTMLBRElement introduction
  files/zh-cn/web/api/htmlbrelement/index.md
Labels: l10n-zh

#25670 [zh-CN]: Add translation for `NavigationHistoryEntry.id`
  files/zh-cn/web/api/navigationhistoryentry/id/index.md
Labels: l10n-zh

#25671 [zh-CN]: Add translation for `NavigationDestination.id`
  files/zh-cn/web/api/navigationdestination/id/index.md
Labels: l10n-zh

#25624 [zh-cn]: update the translation of HTTP `510` status
  files/zh-cn/web/http/status/510/index.md
Labels: l10n-zh

#25429 [zh-TW]: update API GeolocationCoordinates "latitude"
  files/zh-tw/web/api/geolocationcoordinates/latitude/index.md
Labels: l10n-zh

#25431 [zh-TW]: update API GeolocationCoordinates "speed"
  files/zh-tw/web/api/geolocationcoordinates/speed/index.md
Labels: l10n-zh

#25556 [zh-cn]: create the translation of ErrorEvent `message` property
  files/zh-cn/web/api/errorevent/message/index.md
Labels: l10n-zh

#25559 [zh-cn]: update the translation of SVG `<feGaussianBlur>` element
  files/zh-cn/web/svg/element/fegaussianblur/index.md
Labels: l10n-zh

#25700 [zh-CN]: Add translation for `NavigationDestination.url`
  files/zh-cn/web/api/navigationdestination/url/index.md
Labels: l10n-zh

#25768 [zh-cn]: update the translation of SVG `<set>` element
  files/zh-cn/web/svg/element/set/index.md
Labels: l10n-zh

#25573 [zh-cn]: update the translation of SVG `<use>` element
  files/zh-cn/web/svg/element/use/index.md
Labels: l10n-zh

#25626 [zh-cn]: update the translation of CSS `order` property
  files/zh-cn/web/css/order/index.md
Labels: l10n-zh

#25673 [zh-CN]: Add translation for `NavigationHistoryEntry.index`
  files/zh-cn/web/api/navigationhistoryentry/index/index.md
Labels: l10n-zh

#25684 [zh-CN]: Add translation for `NavigationHistoryEntry.key`
  files/zh-cn/web/api/navigationhistoryentry/key/index.md
Labels: l10n-zh

#25825 fix: correct the prefix of gfm alerts
  files/zh-cn/.markdownlint.jsonc
  files/zh-cn/web/css/flex-basis/index.md
  files/zh-tw/.markdownlint.jsonc
Labels: l10n-zh

#25608 [zh-cn]: create the translation of WebAssembly `Local tee` instruction
  files/zh-cn/webassembly/reference/variables/local_tee/index.md
Labels: l10n-zh

#25720 [zh-cn]: update the translation of `Math.PI` static data property
  files/zh-cn/web/javascript/reference/global_objects/math/pi/index.md
Labels: l10n-zh

#25430 [zh-TW]: update API GeolocationCoordinates "longitude"
  files/zh-tw/web/api/geolocationcoordinates/longitude/index.md
Labels: l10n-zh

#25502 [ru] update `Glossary/Accessibility` translation
  files/ru/glossary/accessibility/index.md
  files/ru/glossary/blink/index.md
Labels: l10n-ru

#25836 [ko] svg elevation 신규 번역
  files/ko/web/svg/attribute/elevation/index.md
Labels: l10n-ko

#25803 [zh-CN]: Sync translation for `{Document,Element}.fullscreenchange_event`
  files/zh-cn/web/api/document/fullscreenchange_event/index.md
  files/zh-cn/web/api/element/fullscreenchange_event/index.md
Labels: l10n-zh

#25808 [zh-TW]: update landing-page of Writing_guidelines
  files/zh-tw/mdn/writing_guidelines/index.md
Labels: l10n-zh

#25807 [zh-CN]: Sync translation for `DocumentPictureInPicture.requestWindow()`
  files/zh-cn/web/api/documentpictureinpicture/requestwindow/index.md
Labels: l10n-zh

#25698 [zh-CN]: Add translation for `NavigationDestination.sameDocument`
  files/zh-cn/web/api/navigationdestination/samedocument/index.md
Labels: l10n-zh

#25827 [zh-cn]: update the translation of SVG `<hkern>` element
  files/zh-cn/web/svg/element/hkern/index.md
Labels: l10n-zh

#25838 [zh-CN]: Update jQquery to jQuery
  files/zh-cn/glossary/cdn/index.md
Labels: l10n-zh

#25520 [zh-cn]: create docs for Crypto, Cryptokey, Cryptokeypair
  files/zh-cn/web/api/crypto/index.md
  files/zh-cn/web/api/cryptokey/index.md
  files/zh-cn/web/api/cryptokeypair/index.md
Labels: l10n-zh

#25779 [zh-cn]: update the translation of HTTP `507` code
  files/zh-cn/web/http/status/507/index.md
Labels: l10n-zh

#25842 [zh-CN]: update performance timestamp diagram link
  files/zh-cn/web/api/performancenavigationtiming/index.md
Labels: l10n-zh

#25843 [zh-cn]: update the translate of "Open source etiquette"
  files/zh-cn/mdn/community/open_source_etiquette/index.md
Labels: l10n-zh

#25603 [zh-cn]: update the translation of HTMLCanvasElement `mozOpaque` property
  files/zh-cn/web/api/htmlcanvaselement/mozopaque/index.md
Labels: l10n-zh

#25837 [ja] fix typo
  files/ja/web/svg/attribute/viewbox/index.md
Labels: l10n-ja

#25756 Web/API/SnapEvent 以下を新規翻訳
  files/ja/web/api/snapevent/index.md
  files/ja/web/api/snapevent/snapevent/index.md
  files/ja/web/api/snapevent/snaptargetblock/index.md
  files/ja/web/api/snapevent/snaptargetinline/index.md
Labels: l10n-ja

#25772 [ja] Translate Web/CSS/log
  files/ja/web/css/log/index.md
Labels: l10n-ja

#25852 [zh-TW]: update document "Network Error Logging"
  files/zh-tw/web/http/network_error_logging/index.md
Labels: l10n-zh

#25699 [zh-CN]: Add translation for `NavigationHistoryEntry.url`
  files/zh-cn/web/api/navigationhistoryentry/url/index.md
Labels: l10n-zh

#25760 [fr] Fix a button type typo
  files/fr/web/html/element/button/index.md
Labels: l10n-fr

#25570 [pt-br] Typofix for `background-attachment` page
  files/pt-br/web/css/background-attachment/index.md
Labels: l10n-pt-br

#25788 [pt-br] Fixing typos on Flavors of SVG
  files/pt-br/web/svg/tutorial/introduction/index.md
Labels: l10n-pt-br

#25865 Update index.md
  files/pt-br/web/api/subtlecrypto/importkey/index.md
Labels: l10n-pt-br

#25775 [zh-tw]: Update the translation of "Default Paramters"
  files/zh-tw/web/javascript/reference/functions/default_parameters/index.md
Labels: l10n-zh

#25600 [zh-cn]: update the translation of HTMLCanvasElement `height` property
  files/zh-cn/web/api/htmlcanvaselement/height/index.md
Labels: l10n-zh

#25604 [zh-cn]: update the translation of HTMLCanvasElement `width` property
  files/zh-cn/web/api/htmlcanvaselement/width/index.md
Labels: l10n-zh

#25605 [zh-cn]: create the translation of HTMLEmbedElement `type` property and fix HTMLEmbedElement `src` property format
  files/zh-cn/web/api/htmlembedelement/src/index.md
  files/zh-cn/web/api/htmlembedelement/type/index.md
Labels: l10n-zh

#25780 Learn_web_development/Howto/Solve_CSS_problems 以下を更新
  files/ja/learn_web_development/howto/solve_css_problems/add_a_shadow/index.md
  files/ja/learn_web_development/howto/solve_css_problems/add_a_text_shadow/index.md
  files/ja/learn_web_development/howto/solve_css_problems/center_an_item/index.md
  files/ja/learn_web_development/howto/solve_css_problems/create_fancy_boxes/index.md
  files/ja/learn_web_development/howto/solve_css_problems/css_faq/index.md
  files/ja/learn_web_development/howto/solve_css_problems/fill_a_box_with_an_image/index.md
  files/ja/learn_web_development/howto/solve_css_problems/generated_content/index.md
  files/ja/learn_web_development/howto/solve_css_problems/highlight_first_line/index.md
  files/ja/learn_web_development/howto/solve_css_problems/highlight_first_para/index.md
  files/ja/learn_web_development/howto/solve_css_problems/highlight_para_after_h1/index.md
  files/ja/learn_web_development/howto/solve_css_problems/index.md
  files/ja/learn_web_development/howto/solve_css_problems/make_box_transparent/index.md
Labels: l10n-ja

#25781 Web/API/Element/scrollIntoView を更新
  files/ja/web/api/element/scrollintoview/index.md
Labels: l10n-ja

#25782 Web/API/Element/classList を更新
  files/ja/web/api/element/classlist/index.md
Labels: l10n-ja

#25783 Web/API/Element/getAttribute を更新
  files/ja/web/api/element/getattribute/index.md
Labels: l10n-ja

#25616 [zh-cn]: update the translation of HTTP `421` code
  files/zh-cn/web/http/status/421/index.md
Labels: l10n-zh

#25701 [zh-CN]: Add translation for `NavigationHistoryEntry.getState`
  files/zh-cn/web/api/navigationhistoryentry/getstate/index.md
Labels: l10n-zh

#25702 [zh-CN]: Add translation for `NavigationDestination.getState`
  files/zh-cn/web/api/navigationdestination/getstate/index.md
Labels: l10n-zh

#25419 [zh-TW]: update HTML index page
  files/zh-tw/web/html/index.md
Labels: l10n-zh

#25823 zh-cn: update "DOMTokenList"
  files/zh-cn/web/api/domtokenlist/tostring/index.md
  files/zh-cn/web/api/domtokenlist/value/index.md
Labels: l10n-zh

#25724 [zh-TW]: update CSS "CSS inline layout"
  files/zh-tw/web/css/css_inline_layout/index.md
Labels: l10n-zh

#25742 [zh-cn]: update the translation of `SVGFEFuncBElement` interface
  files/zh-cn/web/api/svgfefuncbelement/index.md
Labels: l10n-zh

#25839 [zh-cn]: update the translation of SVG `<glyphRef>` element
  files/zh-cn/web/svg/element/glyphref/index.md
Labels: l10n-zh

#25879 fix: correct typo from 'Unit8Array' to 'Uint8Array'
  files/zh-cn/web/javascript/reference/global_objects/typedarray/index.md
Labels: l10n-zh

#25792 Web/API/Element を更新
  files/ja/web/api/element/index.md
Labels: l10n-ja

#25793 Web/API/Element/getBoundingClientRect 他1件を更新
  files/ja/web/api/element/getboundingclientrect/index.md
  files/ja/web/api/element/setattribute/index.md
Labels: l10n-ja

#25795 setTimeout() のリンク先を修正
  files/ja/web/api/websockets_api/using_websocketstream/index.md
Labels: l10n-ja

#25796 Web/API/WebSockets_API/Writing_WebSocket_client_applications を更新
  files/ja/web/api/websockets_api/writing_websocket_client_applications/index.md
Labels: l10n-ja

#25797 Web/API/WebSockets_API/Writing_WebSocket_servers を更新
  files/ja/web/api/websockets_api/writing_websocket_servers/index.md
Labels: l10n-ja

#25798 Web/API/Document_Object_Model を更新
  files/ja/web/api/document_object_model/index.md
Labels: l10n-ja

#25800 Web/API/Document_Object_Model 以下のガイドのリダイレクトを修正
  files/ja/_redirects.txt
  files/ja/orphaned/web/api/document_object_model/events/index.md
Labels: l10n-ja

#25809 Web/API/WebSocket 以下を更新
  files/ja/web/api/websocket/binarytype/index.md
  files/ja/web/api/websocket/bufferedamount/index.md
  files/ja/web/api/websocket/close/index.md
  files/ja/web/api/websocket/close_event/index.md
  files/ja/web/api/websocket/error_event/index.md
  files/ja/web/api/websocket/extensions/index.md
  files/ja/web/api/websocket/index.md
  files/ja/web/api/websocket/message_event/index.md
  files/ja/web/api/websocket/open_event/index.md
Labels: l10n-ja

#25810 Web/API/WebSocket/WebSocket を更新
  files/ja/web/api/websocket/websocket/index.md
Labels: l10n-ja

#25815 Web/API/FormData/delete を更新
  files/ja/web/api/formdata/delete/index.md
Labels: l10n-ja

#25816 Web/API/Event/explicitOriginalTarget 他1件を更新
  files/ja/web/api/event/explicitoriginaltarget/index.md
  files/ja/web/api/event/originaltarget/index.md
Labels: l10n-ja

#25817 Web/API/Event/bubbles 他3件を更新
  files/ja/web/api/event/bubbles/index.md
  files/ja/web/api/event/currenttarget/index.md
  files/ja/web/api/event/index.md
  files/ja/web/api/event/target/index.md
Labels: l10n-ja

#25818 Web/API/Event/preventDefault 他3件を更新
  files/ja/web/api/event/preventdefault/index.md
Labels: l10n-ja

#25819 Web/API/XMLHttpRequest を更新
  files/ja/web/api/xmlhttprequest/index.md
Labels: l10n-ja

#25820 Web/API/XMLHttpRequest/overrideMimeType を更新
  files/ja/web/api/xmlhttprequest/overridemimetype/index.md
Labels: l10n-ja

#25821 Web/API/XMLHttpRequest/responseXML を更新
  files/ja/web/api/xmlhttprequest/responsexml/index.md
Labels: l10n-ja

#25822 Web/API/XMLHttpRequest/setAttributionReporting を新規翻訳
  files/ja/web/api/xmlhttprequest/setattributionreporting/index.md
Labels: l10n-ja

#25868 docs(zh): update some outdated information
  docs/zh-cn/translation-guide.md
  docs/zh-tw/translation-guide.md
Labels: l10n-zh

#25844 [ru] fix location api typo
  files/ru/web/api/location/assign/index.md
  files/ru/web/api/location/replace/index.md
Labels: l10n-ru

#25851 [ru] update "Value" section of `Web/API/HTMLImageElement/decoding`
  files/ru/web/api/htmlimageelement/decoding/index.md
Labels: l10n-ru

#25869 Remove extra word
  files/fr/web/css/@media/prefers-contrast/index.md
Labels: l10n-fr

#25504 [zh-ch]: add TouchEvent altKey property translation
  files/zh-cn/web/api/touchevent/altkey/index.md
Labels: l10n-zh

#25870 [ko] css resize 신규 번역
  files/ko/web/css/resize/index.md
Labels: l10n-ko
