Repository mdn/translated-content, pull requests merged in 2025-06, with the labels that each got.

#27451 日本語の表記ガイドラインに対応した修正
  files/ja/web/html/reference/elements/bdo/index.md
Labels: l10n-ja

#27424 Web/API/HTMLTextAreaElement/select_event を更新
  files/ja/web/api/htmltextareaelement/select_event/index.md
Labels: l10n-ja

#27427 Web/HTML/Reference/Elements/details を更新
  files/ja/web/html/reference/elements/details/index.md
Labels: l10n-ja

#27452 Update index.md
  files/ja/web/api/htmllinkelement/index.md
Labels: l10n-ja

#27169 zh-CN: create `webNavigation.onCreatedNavigationTarget`
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/oncreatednavigationtarget/index.md
Labels: l10n-zh

#27164 zh-CN: create `webNavigation.onReferenceFragmentUpdated`
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
Labels: l10n-zh

#27166 zh-CN: create `webNavigation.onHistoryStateUpdated`
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
Labels: l10n-zh

#27419 Web/API/HTMLTextAreaElement を更新
  files/ja/web/api/htmltextareaelement/index.md
Labels: l10n-ja

#27420 Web/API/HTMLTextAreaElement/labels を更新
  files/ja/web/api/htmltextareaelement/labels/index.md
Labels: l10n-ja

#27429 [コンソールの出力のスタイル付け]へのリンクを修正
  files/ja/web/api/console/index.md
Labels: l10n-ja

#27434 Firefox 139 for developersを翻訳
  files/ja/mozilla/firefox/releases/139/index.md
Labels: l10n-ja

#27471 zh-CN: create `Glossary/Bun`
  files/zh-cn/glossary/bun/index.md
Labels: l10n-zh

#27165 zh-CN: create `webNavigation.onTabReplaced`
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/ontabreplaced/index.md
Labels: l10n-zh

#27133 [zh-TW]: update Writing guidelines "Creating moving deleting"
  files/zh-tw/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: l10n-zh

#27475 zh-CN: create `asm.js`
  files/zh-cn/games/tools/asm.js/index.md
Labels: l10n-zh

#27286 zh-cn: update the translation of `RTCPeerConnection.createOffer()`
  files/zh-cn/web/api/rtcpeerconnection/createoffer/index.md
Labels: l10n-zh

#27438 Web/HTTP/Reference/Methods を更新
  files/ja/web/http/reference/methods/index.md
Labels: l10n-ja

#27442 Web/HTTP/Guides/CORS/Errors/CORSInvalidAllowMethod 他1件を更新
  files/ja/web/http/guides/cors/errors/corsinvalidallowmethod/index.md
  files/ja/web/http/guides/cors/errors/corsmultiplealloworiginnotallowed/index.md
Labels: l10n-ja

#27443 Web/SVG/Guides 他3件を更新
  files/ja/web/svg/guides/index.md
  files/ja/web/svg/guides/scripting/index.md
  files/ja/web/svg/guides/svg_animation_with_smil/index.md
  files/ja/web/svg/guides/svg_as_an_image/index.md
Labels: l10n-ja

#27445 Web/SVG/Guides/Applying_SVG_effects_to_HTML_content を更新
  files/ja/web/svg/guides/applying_svg_effects_to_html_content/index.md
Labels: l10n-ja

#27447 Web/API/HTMLLIElement を更新
  files/ja/web/api/htmllielement/index.md
Labels: l10n-ja

#27449 Web/HTML/Reference/Elements/li を更新
  files/ja/web/html/reference/elements/li/index.md
Labels: l10n-ja

#27453 Web/API/HTMLAreaElement/download を更新
  files/ja/web/api/htmlareaelement/download/index.md
Labels: l10n-ja

#27454 Web/API/HTMLAreaElement/ping を更新
  files/ja/web/api/htmlareaelement/ping/index.md
Labels: l10n-ja

#27456 Web/API/HTMLAreaElement/referrerPolicy を更新
  files/ja/web/api/htmlareaelement/referrerpolicy/index.md
Labels: l10n-ja

#27457 Web/API/HTMLAreaElement/search を更新
  files/ja/web/api/htmlareaelement/search/index.md
Labels: l10n-ja

#27459 Web/API/HTMLAreaElement/hash 他7件を更新
  files/ja/web/api/htmlareaelement/hash/index.md
  files/ja/web/api/htmlareaelement/host/index.md
  files/ja/web/api/htmlareaelement/hostname/index.md
  files/ja/web/api/htmlareaelement/origin/index.md
  files/ja/web/api/htmlareaelement/password/index.md
  files/ja/web/api/htmlareaelement/pathname/index.md
  files/ja/web/api/htmlareaelement/port/index.md
  files/ja/web/api/htmlareaelement/username/index.md
Labels: l10n-ja

#27479 Web/API/Window/crossOriginIsolated 他１件を更新
  files/ja/web/api/window/crossoriginisolated/index.md
  files/ja/web/api/workerglobalscope/crossoriginisolated/index.md
Labels: l10n-ja

#27296 [ko] request headers 신규 번역
  files/ko/web/api/request/headers/index.md
Labels: l10n-ko

#27466 zh-CN: update `Clipboard/write`
  files/zh-cn/web/api/clipboard/write/index.md
Labels: l10n-zh

#27167 zh-CN: create `webNavigation.onCompleted`
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
Labels: l10n-zh

#27485 Web/HTTP/Reference/Headers/Cross-Origin-Opener-Policy を更新
  files/ja/web/http/reference/headers/cross-origin-opener-policy/index.md
Labels: l10n-ja

#27487 Web/CSS/filter-function を更新
  files/ja/web/css/filter-function/index.md
Labels: l10n-ja

#27488 Web/CSS/CSS_backgrounds_and_borders を更新
  files/ja/web/css/css_backgrounds_and_borders/index.md
Labels: l10n-ja

#27489 sourceCommit を更新
  files/ja/web/css/css_basic_user_interface/index.md
Labels: l10n-ja

#27490 Web/CSS/CSS_box_alignment を更新
  files/ja/web/css/css_box_alignment/index.md
Labels: l10n-ja

#27491 Web/CSS/CSS_inline_layout を更新
  files/ja/web/css/css_inline_layout/index.md
Labels: l10n-ja

#27493 Web/CSS/CSS_display/Block_and_inline_layout_in_normal_flow を更新
  files/ja/web/css/css_display/block_and_inline_layout_in_normal_flow/index.md
Labels: l10n-ja

#27494 Web/CSS/CSS_grid_layout/Auto-placement_in_grid_layout を更新
  files/ja/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
Labels: l10n-ja

#27539 [zh-TW]: update landing page of "games"
  files/zh-tw/games/index.md
Labels: l10n-zh

#27511 search roleのリンク修正
  files/ja/web/accessibility/aria/reference/roles/search_role/index.md
Labels: l10n-ja

#27513 Web/CSS/alignment-baseline を更新
  files/ja/web/css/alignment-baseline/index.md
Labels: l10n-ja

#27514 Web/CSS/dominant-baseline を更新
  files/ja/web/css/dominant-baseline/index.md
Labels: l10n-ja

#27516 Web/CSS/text-box-edge を更新
  files/ja/web/css/text-box-edge/index.md
Labels: l10n-ja

#27517 Web/CSS/text-box-trim を更新
  files/ja/web/css/text-box-trim/index.md
Labels: l10n-ja

#27520 Web/CSS/text-edge を更新
  files/ja/web/css/text-edge/index.md
Labels: l10n-ja

#27523 Web/CSS/::-webkit-scrollbar を更新
  files/ja/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: l10n-ja

#27525 Web/JavaScript/Reference を更新
  files/ja/web/javascript/reference/index.md
Labels: l10n-ja

#27526 Web/JavaScript/Reference/Operators を更新
  files/ja/web/javascript/reference/operators/index.md
Labels: l10n-ja

#27527 Web/JavaScript/Reference/Regular_expressions/Modifier を更新
  files/ja/web/javascript/reference/regular_expressions/modifier/index.md
Labels: l10n-ja

#27541 [zh-TW]: update Games Tutorial "Bounce_off_the_walls"
  files/zh-tw/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
Labels: l10n-zh

#27465 zh-CN: update `Clipboard/writeText`
  files/zh-cn/web/api/clipboard/writetext/index.md
Labels: l10n-zh

#27509 [zh-CN]: update the translation of the HTML `<meta name="theme-color">` attribute and the `<meta>` element name attribute
  files/zh-cn/web/html/reference/elements/meta/name/theme-color/index.md
Labels: l10n-zh

#27528 Web/API/Navigator/webdriver を更新
  files/ja/web/api/navigator/webdriver/index.md
Labels: l10n-ja

#27532 Web/HTTP/Reference/Status を更新
  files/ja/web/http/reference/status/index.md
Labels: l10n-ja

#27535 Web/HTTP/Reference/Status/103 を更新
  files/ja/web/http/reference/status/103/index.md
Labels: l10n-ja

#27536 Web/HTTP/Reference/Status/102 他4件を更新
  files/ja/web/http/reference/status/102/index.md
  files/ja/web/http/reference/status/207/index.md
  files/ja/web/http/reference/status/208/index.md
  files/ja/web/http/reference/status/226/index.md
  files/ja/web/http/reference/status/300/index.md
Labels: l10n-ja

#27546 レスポンスステータスコードの 4XX の記事を一括更新
  files/ja/web/http/reference/status/400/index.md
  files/ja/web/http/reference/status/401/index.md
  files/ja/web/http/reference/status/402/index.md
  files/ja/web/http/reference/status/403/index.md
  files/ja/web/http/reference/status/404/index.md
  files/ja/web/http/reference/status/405/index.md
  files/ja/web/http/reference/status/406/index.md
  files/ja/web/http/reference/status/407/index.md
  files/ja/web/http/reference/status/409/index.md
  files/ja/web/http/reference/status/410/index.md
  files/ja/web/http/reference/status/411/index.md
  files/ja/web/http/reference/status/412/index.md
  files/ja/web/http/reference/status/415/index.md
  files/ja/web/http/reference/status/416/index.md
  files/ja/web/http/reference/status/417/index.md
  files/ja/web/http/reference/status/418/index.md
  files/ja/web/http/reference/status/422/index.md
  files/ja/web/http/reference/status/423/index.md
  files/ja/web/http/reference/status/424/index.md
  files/ja/web/http/reference/status/425/index.md
  files/ja/web/http/reference/status/426/index.md
  files/ja/web/http/reference/status/428/index.md
  files/ja/web/http/reference/status/429/index.md
  files/ja/web/http/reference/status/431/index.md
  files/ja/web/http/reference/status/451/index.md
Labels: l10n-ja

#27599 fix: cssxref color value
  files/ja/web/css/css_colors/color_picker_tool/index.md
  files/ja/web/html/reference/elements/table/index.md
  files/zh-cn/web/html/reference/elements/col/index.md
  files/zh-cn/web/html/reference/elements/colgroup/index.md
  files/zh-cn/web/html/reference/elements/th/index.md
  files/zh-cn/web/html/reference/elements/tr/index.md
  files/zh-tw/web/html/reference/elements/col/index.md
  files/zh-tw/web/html/reference/elements/colgroup/index.md
Labels: l10n-ja, l10n-zh

#27507 [zh-cn]: update the translation of WebSocket API
  files/zh-cn/web/api/websocket/websocket/index.md
  files/zh-cn/web/api/websockets_api/writing_websocket_client_applications/index.md
Labels: l10n-zh

#27473 zh-CN: create `WebRTC_data_channels`
  files/zh-cn/games/techniques/webrtc_data_channels/index.md
Labels: l10n-zh

#27497 [zh-cn]: update the translation of TimeRanges `length` property
  files/zh-cn/web/api/timeranges/length/index.md
Labels: l10n-zh

#27498 [zh-CN]: update translation of `perspective()`
  files/zh-cn/web/css/transform-function/perspective/index.md
Labels: l10n-zh

#27637 [zh-TW]: fix typo
  files/zh-tw/web/http/reference/status/303/index.md
Labels: l10n-zh

#27631 fix: typo(match→matchAll)
  files/ja/web/javascript/reference/global_objects/regexp/symbol.matchall/index.md
  files/ja/web/javascript/reference/global_objects/symbol/matchall/index.md
Labels: l10n-ja

#27582 Web/SVG/Reference/Attribute/begin を更新
  files/ja/web/svg/reference/attribute/begin/index.md
Labels: l10n-ja

#27665 [zh-CN]: fix `fit-content` example
  files/zh-cn/web/css/fit-content/index.md
Labels: l10n-zh

#27598 Mozilla/Firefox/Releases/52 を更新
  files/ja/mozilla/firefox/releases/52/index.md
Labels: l10n-ja

#27603 Web/API/Worker/Worker を更新
  files/ja/web/api/worker/worker/index.md
Labels: l10n-ja

#27604 Web/API/Worker/postMessage を更新
  files/ja/web/api/worker/postmessage/index.md
Labels: l10n-ja

#27605 Web/API/Worker/terminate を更新
  files/ja/web/api/worker/terminate/index.md
Labels: l10n-ja

#27606 Web/API/Worker/error_event を更新
  files/ja/web/api/worker/error_event/index.md
  files/ja/web/api/worker/message_event/index.md
  files/ja/web/api/worker/messageerror_event/index.md
Labels: l10n-ja

#27611 WebAssembly のトップページを更新
  files/ja/webassembly/index.md
Labels: l10n-ja

#27614 WebAssembly/Guides/C_to_Wasm を更新
  files/ja/webassembly/guides/c_to_wasm/index.md
Labels: l10n-ja

#27615 WebAssembly/Guides/Existing_C_to_Wasm を更新
  files/ja/webassembly/guides/existing_c_to_wasm/index.md
Labels: l10n-ja

#27616 WebAssembly/Guides/Rust_to_Wasm を更新
  files/ja/webassembly/guides/rust_to_wasm/index.md
Labels: l10n-ja

#27623 WebAssembly/Guides/Text_format_to_Wasm を更新
  files/ja/webassembly/guides/text_format_to_wasm/index.md
Labels: l10n-ja

#27624 WebAssembly/Guides/Loading_and_running を更新
  files/ja/webassembly/guides/loading_and_running/index.md
Labels: l10n-ja

#27625 WebAssembly/Guides/Exported_functions を更新
  files/ja/webassembly/guides/exported_functions/index.md
Labels: l10n-ja

#27627 Web/API/Clients を更新
  files/ja/web/api/clients/index.md
Labels: l10n-ja

#27628 Web/API/Clients/claim を更新
  files/ja/web/api/clients/claim/index.md
Labels: l10n-ja

#27496 [zh-cn]: update the translation of Comment API
  files/zh-cn/web/api/comment/index.md
Labels: l10n-zh

#27464 zh-CN: create `Clipboard.read()`
  files/zh-cn/web/api/clipboard/read/index.md
Labels: l10n-zh

#27682 zh-cn: update invalid image source
  files/zh-cn/learn_web_development/core/css_layout/positioning/index.md
Labels: l10n-zh

#27501 [zh-cn]: update the translation of HTML `<article>` element
  files/zh-cn/web/html/reference/elements/article/index.md
Labels: l10n-zh

#27470 zh-CN: create `Glossary/Cloud`
  files/zh-cn/glossary/cloud/index.md
Labels: l10n-zh

#27542 [zh-TW]: update landing page of "Glossary"
  files/zh-tw/glossary/index.md
Labels: l10n-zh

#27554 [zh-TW]: update API `Vibration API`
  files/zh-tw/web/api/vibration_api/index.md
Labels: l10n-zh

#27672 fr - Update the Game Promotion page with latest en_US version
  files/fr/games/publishing_games/game_promotion/index.md
Labels: l10n-fr

#27653 Web/JavaScript/Reference/Global_Objects/Date/now を更新
  files/ja/web/javascript/reference/global_objects/date/now/index.md
Labels: l10n-ja

#27654 Web/JavaScript/Reference/Global_Objects/Date/parse を更新
  files/ja/web/javascript/reference/global_objects/date/parse/index.md
Labels: l10n-ja

#27655 Web/JavaScript/Reference/Global_Objects/Date/UTC を更新
  files/ja/web/javascript/reference/global_objects/date/utc/index.md
Labels: l10n-ja

#27638 [zh-cn] update 'MDN Web Docs localization'
  files/zh-cn/mdn/community/translated_content/index.md
Labels: l10n-zh

#27500 [zh-cn]: update the translation of HTML `<area>` element
  files/zh-cn/web/html/reference/elements/area/index.md
Labels: l10n-zh

#27503 [zh-cn]: update the translation of HTML `<aside>` element
  files/zh-cn/web/html/reference/elements/aside/index.md
Labels: l10n-zh

#27618 [zh-cn]: update the translation of MouseEvent `shiftKey` property
  files/zh-cn/web/api/mouseevent/shiftkey/index.md
Labels: l10n-zh

#27574 [zh-TW]: update landing page of "HTTP Method"
  files/zh-tw/web/http/reference/methods/index.md
Labels: l10n-zh

#27695 zh-CN: create "Guaranteed-invalid value" glossary term
  files/zh-cn/glossary/guaranteed_invalid_value/index.md
Labels: l10n-zh

#27579 [ru] fix JSON.stringify example syntax
  files/ru/web/javascript/reference/global_objects/json/stringify/index.md
Labels: l10n-ru

#27253 es: remove msedge compat data license
  files/es/mozilla/add-ons/webextensions/api/i18n/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/es/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/es/mozilla/add-ons/webextensions/browser_support_for_javascript_apis/index.md
Labels: l10n-es

#27309 [ES] Add `Compression Streams API` docs
  files/es/web/api/compression_streams_api/index.md
  files/es/web/api/compressionstream/compressionstream/index.md
  files/es/web/api/compressionstream/index.md
  files/es/web/api/compressionstream/readable/index.md
  files/es/web/api/compressionstream/writable/index.md
  files/es/web/api/decompressionstream/decompressionstream/index.md
  files/es/web/api/decompressionstream/index.md
  files/es/web/api/decompressionstream/readable/index.md
  files/es/web/api/decompressionstream/writable/index.md
Labels: l10n-es

#27674 Date.prototype.getXXX() メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/date/getdate/index.md
  files/ja/web/javascript/reference/global_objects/date/getday/index.md
  files/ja/web/javascript/reference/global_objects/date/getfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/gethours/index.md
  files/ja/web/javascript/reference/global_objects/date/getmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/getminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/getmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/getseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/gettime/index.md
  files/ja/web/javascript/reference/global_objects/date/gettimezoneoffset/index.md
Labels: l10n-ja

#27677 Web/JavaScript/Reference/Global_Objects/Date/getUTCXXX の記事を一括更新
  files/ja/web/javascript/reference/global_objects/date/getutcdate/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcday/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/getutchours/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/getutcseconds/index.md
Labels: l10n-ja

#27678 Web/JavaScript/Reference/Global_Objects/Date/setXXX の記事を更新
  files/ja/web/javascript/reference/global_objects/date/setdate/index.md
  files/ja/web/javascript/reference/global_objects/date/setfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/sethours/index.md
  files/ja/web/javascript/reference/global_objects/date/setmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/setminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/setmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/setseconds/index.md
Labels: l10n-ja

#27680 Web/JavaScript/Reference/Global_Objects/Date/setYear を更新
  files/ja/web/javascript/reference/global_objects/date/setyear/index.md
Labels: l10n-ja

#27681 Web/JavaScript/Reference/Global_Objects/Date/setUTCXXX を一括更新
  files/ja/web/javascript/reference/global_objects/date/setutcdate/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcfullyear/index.md
  files/ja/web/javascript/reference/global_objects/date/setutchours/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcmilliseconds/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcminutes/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcmonth/index.md
  files/ja/web/javascript/reference/global_objects/date/setutcseconds/index.md
Labels: l10n-ja

#27701 zh-CN: create `Glossary/Head_of_line_blocking`
  files/zh-cn/glossary/head_of_line_blocking/index.md
Labels: l10n-zh

#27723 zh-CN: create `Glossary/Rate_limit`
  files/zh-cn/glossary/rate_limit/index.md
Labels: l10n-zh

#27666 [ru] improve `Learn_web_development/Core/Structuring_content/HTML_table_basics` translation
  files/ru/learn_web_development/core/structuring_content/html_table_basics/index.md
Labels: l10n-ru

#27683 Web/JavaScript/Reference/Global_Objects/Date/toTemporalInstant を新規翻訳
  files/ja/web/javascript/reference/global_objects/date/totemporalinstant/index.md
Labels: l10n-ja

#27684 Web/JavaScript/Reference/Global_Objects/Date/toString 他3件を更新
  files/ja/web/javascript/reference/global_objects/date/todatestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tostring/index.md
  files/ja/web/javascript/reference/global_objects/date/totimestring/index.md
  files/ja/web/javascript/reference/global_objects/date/toutcstring/index.md
Labels: l10n-ja

#27685 Web/JavaScript/Reference/Global_Objects/Date/toLocaleString 他5件を更新
  files/ja/web/javascript/reference/global_objects/date/toisostring/index.md
  files/ja/web/javascript/reference/global_objects/date/tojson/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/ja/web/javascript/reference/global_objects/date/valueof/index.md
Labels: l10n-ja

#27687 Web/API/ElementInternals を更新
  files/ja/web/api/elementinternals/index.md
Labels: l10n-ja

#27689 Web/API/HTMLMediaElement/played を更新
  files/ja/web/api/htmlmediaelement/played/index.md
Labels: l10n-ja

#27690 Web/API/HTMLMediaElement/addTextTrack を更新
  files/ja/web/api/htmlmediaelement/addtexttrack/index.md
Labels: l10n-ja

#27691 Web/API/HTMLMediaElement/seeking_event 他1件を更新
  files/ja/web/api/htmlmediaelement/seeking_event/index.md
  files/ja/web/api/htmlmediaelement/waitingforkey_event/index.md
Labels: l10n-ja

#27705 Web/API/Navigator/mimeTypes を更新
  files/ja/web/api/navigator/mimetypes/index.md
Labels: l10n-ja

#27707 Web/API/WorkerGlobalScope/caches を更新
  files/ja/web/api/workerglobalscope/caches/index.md
Labels: l10n-ja

#27708 Web/API/WorkerGlobalScope/atob 他1件を更新
  files/ja/web/api/workerglobalscope/atob/index.md
  files/ja/web/api/workerglobalscope/btoa/index.md
Labels: l10n-ja

#27710 WIndow/WorkerGlobalScope.createImageBitmap の記事を更新
  files/ja/web/api/window/createimagebitmap/index.md
  files/ja/web/api/workerglobalscope/createimagebitmap/index.md
Labels: l10n-ja

#27711 Web/API/WorkerGlobalScope/importScripts を更新
  files/ja/web/api/workerglobalscope/importscripts/index.md
Labels: l10n-ja

#27745 fix(pr-test): add GITHUB_TOKEN env for `rari` related commands
  .github/workflows/pr-test.yml
Labels: system

#27587 [zh-TW]: update HTTP Status `201`
  files/zh-tw/web/http/reference/status/201/index.md
Labels: l10n-zh

#27696 zh-CN: create `Glossary/Engine/JavaScript`
  files/zh-cn/glossary/engine/javascript/index.md
Labels: l10n-zh

#27704 zh-CN: create `Glossary/html_color_codes`
  files/zh-cn/glossary/html_color_codes/index.md
Labels: l10n-zh

#27588 [zh-TW]: update HTTP Status `202`
  files/zh-tw/web/http/reference/status/202/index.md
Labels: l10n-zh

#27590 [zh-TW]: create `MIME_types/Common_types`
  files/zh-tw/web/http/guides/mime_types/common_types/index.md
Labels: l10n-zh

#27717 Web/API/WorkerGlobalScope/structuredClone を更新
  files/ja/web/api/workerglobalscope/structuredclone/index.md
Labels: l10n-ja

#27777 [zh-cn] update json.parse
  files/zh-cn/web/javascript/reference/global_objects/json/parse/index.md
Labels: l10n-zh

#27728 Web/JavaScript/Reference/Global_Objects/Intl/DurationFormat/DurationFormat を更新
  files/ja/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
Labels: l10n-ja

#27573 [zh-TW]: update HTTP Status `102`
  files/zh-tw/web/http/reference/status/102/index.md
Labels: l10n-zh

#27543 [zh-TW]: update some API pages
  files/zh-tw/web/api/battery_status_api/index.md
  files/zh-tw/web/api/cssstylesheet/insertrule/index.md
  files/zh-tw/web/api/document/createelement/index.md
  files/zh-tw/web/api/document/createtextnode/index.md
  files/zh-tw/web/api/document/getelementsbyclassname/index.md
  files/zh-tw/web/api/document/head/index.md
  files/zh-tw/web/api/document/queryselector/index.md
  files/zh-tw/web/api/filesystem/index.md
  files/zh-tw/web/api/svganimatedboolean/index.md
  files/zh-tw/web/api/window/setinterval/index.md
Labels: l10n-zh

#27752 Web/CSS/Properties を更新
  files/ja/web/css/properties/index.md
Labels: l10n-ja

#27756 Web/CSS/:buffering を更新
  files/ja/web/css/_colon_buffering/index.md
  files/ja/web/css/_colon_current/index.md
Labels: l10n-ja

#27751 Web/CSS/:active を更新
  files/ja/web/css/_colon_active/index.md
Labels: l10n-ja

#27726 Web/JavaScript/Reference/Global_Objects/Intl/DurationFormat を新規翻訳
  files/ja/web/javascript/reference/global_objects/intl/durationformat/index.md
Labels: l10n-ja

#27769 Web/CSS/CSS_syntax/Error_handling を更新
  files/ja/web/css/css_syntax/error_handling/index.md
Labels: l10n-ja

#27773 Web/CSS/:dir を更新
  files/ja/web/css/_colon_dir/index.md
Labels: l10n-ja

#25541 [fr] Svg Tutorial Gradient #24767
  files/fr/web/svg/tutorial/gradients/index.md
Labels: l10n-fr

#27716 Web/API/WorkerGlobalScope/setTimeout を更新
  files/ja/web/api/workerglobalscope/setinterval/index.md
  files/ja/web/api/workerglobalscope/settimeout/index.md
Labels: l10n-ja

#27727 Web/JavaScript/Reference/Global_Objects/Intl/supportedValuesOf を更新
  files/ja/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: l10n-ja

#27729 Web/JavaScript/Reference/Global_Objects/Intl/DurationFormat/supportedLocalesOf を更新
  files/ja/web/javascript/reference/global_objects/intl/durationformat/supportedlocalesof/index.md
Labels: l10n-ja

#27743 Web/Accessibility を修正
  files/ja/web/accessibility/index.md
Labels: l10n-ja

#27749 Web/JavaScript/Reference/Global_Objects/Intl/getCanonicalLocales を更新
  files/ja/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Labels: l10n-ja

#27483 [ko] headers if match 신규 번역
  files/ko/web/http/reference/headers/if-match/index.md
Labels: l10n-ko

#27755 Web/CSS/:any-link を更新
  files/ja/web/css/_colon_any-link/index.md
  files/ja/web/css/_colon_checked/index.md
Labels: l10n-ja

#27759 [ja] fix typos in `Learn_web_development/Core/Styling_basics/Handling_conflicts`
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
Labels: l10n-ja

#27356 zh-cn: update the translation of WebAssembly.instantiate
  files/zh-cn/webassembly/reference/javascript_interface/instantiate_static/index.md
Labels: l10n-zh

#27693 zh-CN: create `Glossary/Device_pixel`
  files/zh-cn/glossary/device_pixel/index.md
Labels: l10n-zh

#27781 zh-cn: create the translate of HTML `content` attribute
  files/zh-cn/web/html/reference/attributes/content/index.md
Labels: l10n-zh
