Repository mdn/translated-content, pull requests merged in 2025-09, with the labels that each got.

#28514 zh-CN: create `AudioListener/positionX`
  files/zh-cn/web/api/audiolistener/positionx/index.md
Labels: l10n-zh

#28515 zh-CN: create `AudioListener/positionZ`
  files/zh-cn/web/api/audiolistener/positionz/index.md
Labels: l10n-zh

#28335 zh-CN: create `ElementInternals/labels`
  files/zh-cn/web/api/elementinternals/labels/index.md
Labels: l10n-zh

#28644 widget ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/widget_role/index.md
Labels: l10n-ja

#28339 [zh-TW]: update JavaScript `Date`
  files/zh-tw/web/javascript/reference/global_objects/date/index.md
Labels: l10n-zh

#28681 zh-cn: correct the steps of using `prettier`
  files/zh-cn/learn_web_development/getting_started/environment_setup/command_line/index.md
Labels: l10n-zh

#28679 ja: fix typo in globalThis
  files/ja/web/javascript/reference/global_objects/globalthis/index.md
Labels: l10n-ja

#27995 [zh-TW]: update CSS "Basic concepts of flexbox"
  files/zh-tw/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/holy_grail_layout.png
  files/zh-tw/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: l10n-zh

#28516 zh-CN: create `AudioListener/upX`
  files/zh-cn/web/api/audiolistener/upx/index.md
Labels: l10n-zh

#28520 zh-CN: create `AudioListener/upZ`
  files/zh-cn/web/api/audiolistener/upz/index.md
Labels: l10n-zh

#28653 Web/API/XMLHttpRequest/responseType を更新
  files/ja/web/api/xmlhttprequest/responsetype/index.md
Labels: l10n-ja

#28654 Web/API/XMLHttpRequest/withCredentials 他1件を更新
  files/ja/web/api/xmlhttprequest/withcredentials/index.md
  files/ja/web/api/xmlhttprequest_api/using_formdata_objects/index.md
Labels: l10n-ja

#28655 Web/API/XMLHttpRequest/open 他2件を更新
  files/ja/web/api/file_api/using_files_from_web_applications/index.md
  files/ja/web/api/xmlhttprequest/open/index.md
  files/ja/web/api/xmlhttprequest/send/index.md
Labels: l10n-ja

#28657 Web/API/XMLHttpRequest_API/HTML_in_XMLHttpRequest を更新
  files/ja/web/api/xmlhttprequest_api/html_in_xmlhttprequest/index.md
Labels: l10n-ja

#28658 Web/API/XMLHttpRequest/readystatechange_event を更新
  files/ja/web/api/xmlhttprequest/readystatechange_event/index.md
Labels: l10n-ja

#28659 Web/API/XMLHttpRequest_API/Sending_and_Receiving_Binary_Data を更新
  files/ja/web/api/xmlhttprequest_api/sending_and_receiving_binary_data/index.md
Labels: l10n-ja

#28660 Web/API/XMLHttpRequest/statusText を更新
  files/ja/web/api/xmlhttprequest/statustext/index.md
Labels: l10n-ja

#28662 Web/API/XMLHttpRequest/XMLHttpRequest を更新
  files/ja/web/api/xmlhttprequest/xmlhttprequest/index.md
Labels: l10n-ja

#28663 Web/API/XMLHttpRequest/readyState 他2件を更新
  files/ja/web/api/xmlhttprequest/readystate/index.md
  files/ja/web/api/xmlhttprequest/responsetext/index.md
  files/ja/web/api/xmlhttprequest/responseurl/index.md
Labels: l10n-ja

#28664 Web/API/XMLHttpRequest/getResponseHeader 他4件を更新
  files/ja/web/api/xmlhttprequest/getresponseheader/index.md
  files/ja/web/api/xmlhttprequest/overridemimetype/index.md
  files/ja/web/api/xmlhttprequest/setattributionreporting/index.md
  files/ja/web/api/xmlhttprequest/setrequestheader/index.md
  files/ja/web/api/xmlhttprequest/status/index.md
Labels: l10n-ja

#28666 Web/API/XMLHttpRequest/responseXML を更新
  files/ja/web/api/xmlhttprequest/responsexml/index.md
Labels: l10n-ja

#28670 Learn_web_development/Core/Structuring_content/Splash_page を更新
  files/ja/learn_web_development/core/structuring_content/splash_page/index.md
Labels: l10n-ja

#28690 [es] fix typo: fué -> fue
  files/es/web/javascript/reference/global_objects/map/groupby/index.md
Labels: l10n-es

#28650 Added more translations in HTML table
  files/zh-tw/web/html/reference/elements/table/index.md
Labels: l10n-zh

#28478 zh-CN: create `Element/ariaKeyShortcuts`
  files/zh-cn/web/api/element/ariakeyshortcuts/index.md
Labels: l10n-zh

#28481 zh-CN: create `ElementInternals/ariaActiveDescendantElement`
  files/zh-cn/web/api/elementinternals/ariaactivedescendantelement/index.md
Labels: l10n-zh

#28486 zh-CN: create `DOMRectReadOnly/width`
  files/zh-cn/web/api/domrectreadonly/width/index.md
Labels: l10n-zh

#28645 [ko] docs: 올바르지 않은 기본 뷰 전환 데모 링크 수정 및 MPA 데모 추가
  files/ko/web/api/document/startviewtransition/index.md
  files/ko/web/api/view_transition_api/index.md
Labels: l10n-ko

#26874 [ko] sizetocontent 신규 번역
  files/ko/web/api/window/sizetocontent/index.md
Labels: l10n-ko

#28688 [ko] 웹 서버란 무엇인가? 문서의 선행 지식의 참고 url이 서로 뒤바뀐 것을 수정
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Labels: l10n-ko

#28701 fix(pr-test): run filecheck with absolute file paths
  .github/workflows/pr-test.yml
Labels: system

#28594 zh-CN: create `BackgroundFetchRegistration/id`
  files/zh-cn/web/api/backgroundfetchregistration/id/index.md
Labels: l10n-zh

#28319 zh-CN: create `EncodedVideoChunk`
  files/zh-cn/web/api/encodedvideochunk/index.md
Labels: l10n-zh

#28284 [zh-cn]: translate Invoker Commands API
  files/zh-cn/web/api/invoker_commands_api/index.md
Labels: l10n-zh

#28495 zh-CN: create `DOMRect/x`
  files/zh-cn/web/api/domrect/x/index.md
Labels: l10n-zh

#28715 [ja] 誤字訂正：Errorクラスのconstructorの誤記を訂正
  files/ja/web/javascript/reference/global_objects/error/index.md
Labels: l10n-ja

#28475 zh-CN: create `DOMStringList/length`
  files/zh-cn/web/api/domstringlist/length/index.md
Labels: l10n-zh

#28479 zh-CN: create `Element/ariaPosInSet`
  files/zh-cn/web/api/element/ariaposinset/index.md
Labels: l10n-zh

#28676 Web/Media/Guides を新規翻訳
  files/ja/web/media/guides/index.md
Labels: l10n-ja

#28680 Web/Media/Guides/Audio_and_video_delivery を更新
  files/ja/web/media/guides/audio_and_video_delivery/index.md
Labels: l10n-ja

#28711 zh-cn: update an outdated link
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Labels: l10n-zh

#28474 zh-CN: create `DOMStringList/contains`
  files/zh-cn/web/api/domstringlist/contains/index.md
Labels: l10n-zh

#28477 zh-CN: create `EditContext/characterBoundsRangeStart`
  files/zh-cn/web/api/editcontext/characterboundsrangestart/index.md
Labels: l10n-zh

#28482 zh-CN: create `DOMPointReadOnly/w`
  files/zh-cn/web/api/dompointreadonly/w/index.md
Labels: l10n-zh

#28707 [zh-cn] add translation for LargestContentfulPaint
  files/zh-cn/web/api/largestcontentfulpaint/index.md
Labels: l10n-zh

#28438 zh-cn: update the translation of `Intl.getCanonicalLocales()`
  files/zh-cn/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
Labels: l10n-zh

#28700 JSのシフト演算子、シフト代入演算子の記事を更新
  files/ja/web/javascript/reference/operators/left_shift/index.md
  files/ja/web/javascript/reference/operators/left_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/right_shift/index.md
  files/ja/web/javascript/reference/operators/right_shift_assignment/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift/index.md
  files/ja/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
Labels: l10n-ja

#28695 Fix typo on ja IME event notes in keydown_event documentation
  files/ja/web/api/element/keydown_event/index.md
Labels: l10n-ja

#28531 zh-CN: create `AudioData/duration`
  files/zh-cn/web/api/audiodata/duration/index.md
Labels: l10n-zh

#28646 [zh-cn] update 'execution model'
  files/zh-cn/web/javascript/reference/execution_model/index.md
  files/zh-cn/web/javascript/reference/execution_model/runtime-environment-diagram.svg
Labels: l10n-zh

#28512 zh-CN: create `AudioListener/forwardZ`
  files/zh-cn/web/api/audiolistener/forwardz/index.md
Labels: l10n-zh

#28706 Web/JavaScript/Reference/Statements/using および await using を新規翻訳
  files/ja/web/javascript/reference/statements/await_using/index.md
  files/ja/web/javascript/reference/statements/using/index.md
Labels: l10n-ja

#28792 [ja] 誤字修正 `::columns` -> `::column`
  files/ja/web/css/_doublecolon_column/index.md
Labels: l10n-ja

#25318 fr: update `Web/HTML/Reference/Attributes`
  files/fr/web/html/reference/attributes/index.md
Labels: l10n-fr

#26084 fr: update `Web/API/Document/createTreeWalker`
  files/fr/web/api/document/createtreewalker/index.md
Labels: l10n-fr

#28534 zh-CN: create `AnimationEvent/pseudoElement`
  files/zh-cn/web/api/animationevent/pseudoelement/index.md
Labels: l10n-zh

#28527 zh-CN: create `AudioData/numberOfChannels`
  files/zh-cn/web/api/audiodata/numberofchannels/index.md
Labels: l10n-zh

#28526 zh-CN: create `AudioDecoder/decodeQueueSize`
  files/zh-cn/web/api/audiodecoder/decodequeuesize/index.md
Labels: l10n-zh

#28524 zh-CN: create `AudioData/timestamp`
  files/zh-cn/web/api/audiodata/timestamp/index.md
Labels: l10n-zh

#28523 zh-CN: create `AudioEncoder/encodeQueueSize`
  files/zh-cn/web/api/audioencoder/encodequeuesize/index.md
Labels: l10n-zh

#28522 zh-CN: create `AudioEncoder/dequeue_event`
  files/zh-cn/web/api/audioencoder/dequeue_event/index.md
Labels: l10n-zh

#28952 zh-cn: sync games translated content
  files/zh-cn/games/index.md
Labels: l10n-zh

#28762 zh-CN: create `CloseEvent/wasClean`
  files/zh-cn/web/api/closeevent/wasclean/index.md
Labels: l10n-zh

#28766 zh-CN: create `Client/frameType`
  files/zh-cn/web/api/client/frametype/index.md
Labels: l10n-zh

#28905 fr: create `Web/URI`
  files/fr/web/uri/index.md
Labels: l10n-fr

#28928 fr: update `Games/Techniques`
  files/fr/games/techniques/index.md
Labels: l10n-fr

#28937 fr: update `Web/CSS/font-variant-caps`
  files/fr/web/css/font-variant-caps/index.md
Labels: l10n-fr

#28915 fr: create `Web/Privacy`
  files/fr/web/privacy/index.md
Labels: l10n-fr

#28789 fr: Translation of `x` and `y` axis of the CSS SVG Properties
  files/fr/web/css/x/index.md
  files/fr/web/css/y/index.md
Labels: l10n-fr

#28927 fr: create `Web/API/HTML_DOM_API`
  files/fr/web/api/html_dom_api/index.md
Labels: l10n-fr

#28933 fr: create `Web/API/Web_Animations_API/Using_the_Web_Animations_API`
  files/fr/web/api/web_animations_api/using_the_web_animations_api/index.md
Labels: l10n-fr

#28923 fr: create `Web/Accessibility/ARIA/Reference/Roles`
  files/fr/web/accessibility/aria/guides/techniques/index.md
  files/fr/web/accessibility/aria/reference/roles/index.md
Labels: l10n-fr

#28917 fr: create `Glossary/Accessible_description`
  files/fr/glossary/accessible_description/index.md
Labels: l10n-fr

#28983 fr: update `Web/CSS/Pseudo-classes`
  files/fr/web/css/pseudo-classes/index.md
Labels: l10n-fr

#28984 fr: update `Web/CSS/Pseudo-elements`
  files/fr/web/css/pseudo-elements/index.md
Labels: l10n-fr

#28908 Web/Performance/Guides/Fundamentals を更新
  files/ja/web/performance/guides/fundamentals/index.md
Labels: l10n-ja

#28909 Web/Performance/Guides/How_browsers_work を更新
  files/ja/web/performance/guides/how_browsers_work/index.md
Labels: l10n-ja

#28910 Web/Performance/Guides/Understanding_latency を新規翻訳
  files/ja/web/performance/guides/understanding_latency/index.md
Labels: l10n-ja

#28718 [ko] what is a domain name? 신규 번역
  files/ko/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
Labels: l10n-ko

#28808 zh-CN: create `DelayNode/delayTime`
  files/zh-cn/web/api/delaynode/delaytime/index.md
Labels: l10n-zh

#28796 zh-CN: create `Document/rootElement`
  files/zh-cn/web/api/document/rootelement/index.md
Labels: l10n-zh

#28998 fr: update `MDN/Writing_guidelines/Howto/Document_a_CSS_property`
  files/fr/mdn/writing_guidelines/howto/document_a_css_property/index.md
Labels: l10n-fr

#28606 zh-CN: create `AudioTrack/sourceBuffer`
  files/zh-cn/web/api/audiotrack/sourcebuffer/index.md
Labels: l10n-zh

#28610 zh-CN: create `AudioSinkInfo/type`
  files/zh-cn/web/api/audiosinkinfo/type/index.md
Labels: l10n-zh

#28924 Web/Performance/Guides/How_long_is_too_long を新規翻訳
  files/ja/web/performance/guides/how_long_is_too_long/index.md
Labels: l10n-ja

#28925 Web/Performance/Guides/dns-prefetch を更新
  files/ja/web/performance/guides/dns-prefetch/index.md
Labels: l10n-ja

#28926 Web/Performance/Guides/Navigation_and_resource_timings を更新
  files/ja/web/performance/guides/navigation_and_resource_timings/index.md
Labels: l10n-ja

#28929 Web/Performance/Guides/Optimizing_startup_performance を新規翻訳
  files/ja/web/performance/guides/optimizing_startup_performance/index.md
Labels: l10n-ja

#28932 Web/Performance/Guides/Speculative_loading を更新
  files/ja/web/performance/guides/speculative_loading/index.md
Labels: l10n-ja

#29030 Web/API/HTMLDialogElement/requestClose を新規翻訳
  files/ja/web/api/htmldialogelement/requestclose/index.md
Labels: l10n-ja

#29015 fr: update `Web/CSS/WebKit_Extensions`
  files/fr/web/css/webkit_extensions/index.md
Labels: l10n-fr

#29016 fr: update `Web/CSS/Mozilla_Extensions`
  files/fr/web/css/mozilla_extensions/index.md
Labels: l10n-fr

#29000 fr: update all `Web/CSS/` ::-moz, ::-webkit and ::pseudo-elements pages
  files/fr/_redirects.txt
  files/fr/web/css/_colon_target/index.md
  files/fr/web/css/_doublecolon_-moz-color-swatch/index.md
  files/fr/web/css/_doublecolon_-moz-focus-inner/index.md
  files/fr/web/css/_doublecolon_-moz-list-bullet/index.md
  files/fr/web/css/_doublecolon_-moz-list-number/index.md
  files/fr/web/css/_doublecolon_-moz-meter-bar/index.md
  files/fr/web/css/_doublecolon_-moz-progress-bar/index.md
  files/fr/web/css/_doublecolon_-moz-range-progress/index.md
  files/fr/web/css/_doublecolon_-moz-range-thumb/index.md
  files/fr/web/css/_doublecolon_-moz-range-track/index.md
  files/fr/web/css/_doublecolon_-webkit-inner-spin-button/index.md
  files/fr/web/css/_doublecolon_-webkit-meter-bar/index.md
  files/fr/web/css/_doublecolon_-webkit-meter-even-less-good-value/index.md
  files/fr/web/css/_doublecolon_-webkit-meter-inner-element/index.md
  files/fr/web/css/_doublecolon_-webkit-meter-optimum-value/index.md
  files/fr/web/css/_doublecolon_-webkit-meter-suboptimum-value/index.md
  files/fr/web/css/_doublecolon_-webkit-progress-bar/index.md
  files/fr/web/css/_doublecolon_-webkit-progress-inner-element/index.md
  files/fr/web/css/_doublecolon_-webkit-progress-value/index.md
  files/fr/web/css/_doublecolon_-webkit-scrollbar/index.md
  files/fr/web/css/_doublecolon_-webkit-search-cancel-button/index.md
  files/fr/web/css/_doublecolon_-webkit-search-results-button/index.md
  files/fr/web/css/_doublecolon_-webkit-slider-runnable-track/index.md
  files/fr/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/fr/web/css/_doublecolon_after/index.md
  files/fr/web/css/_doublecolon_backdrop/index.md
  files/fr/web/css/_doublecolon_before/index.md
  files/fr/web/css/_doublecolon_checkmark/index.md
  files/fr/web/css/_doublecolon_column/index.md
  files/fr/web/css/_doublecolon_cue/index.md
  files/fr/web/css/_doublecolon_details-content/index.md
  files/fr/web/css/_doublecolon_file-selector-button/index.md
  files/fr/web/css/_doublecolon_first-letter/index.md
  files/fr/web/css/_doublecolon_first-line/index.md
  files/fr/web/css/_doublecolon_grammar-error/index.md
  files/fr/web/css/_doublecolon_highlight/index.md
  files/fr/web/css/_doublecolon_marker/index.md
  files/fr/web/css/_doublecolon_part/index.md
  files/fr/web/css/_doublecolon_picker-icon/index.md
  files/fr/web/css/_doublecolon_picker/index.md
  files/fr/web/css/_doublecolon_placeholder/index.md
  files/fr/web/css/_doublecolon_scroll-button/index.md
  files/fr/web/css/_doublecolon_scroll-marker-group/index.md
  files/fr/web/css/_doublecolon_scroll-marker/index.md
  files/fr/web/css/_doublecolon_selection/index.md
  files/fr/web/css/_doublecolon_slotted/index.md
  files/fr/web/css/_doublecolon_spelling-error/index.md
  files/fr/web/css/_doublecolon_target-text/index.md
  files/fr/web/css/_doublecolon_view-transition-group/index.md
  files/fr/web/css/_doublecolon_view-transition-image-pair/index.md
  files/fr/web/css/_doublecolon_view-transition-new/index.md
  files/fr/web/css/_doublecolon_view-transition-old/index.md
  files/fr/web/css/_doublecolon_view-transition/index.md
  files/fr/web/css/pseudo-elements/index.md
Labels: l10n-fr

#29022 fr: fix `url()` page, links and redirects
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/mozilla/add-ons/webextensions/api/proxy/requestdetails/index.md
  files/fr/web/css/-moz-image-rect/index.md
  files/fr/web/css/background-image/index.md
  files/fr/web/css/border-image/index.md
  files/fr/web/css/clip-path/index.md
  files/fr/web/css/clip-path/mdn.svg
  files/fr/web/css/content/index.md
  files/fr/web/css/cross-fade/index.md
  files/fr/web/css/css_backgrounds_and_borders/index.md
  files/fr/web/css/cursor/index.md
  files/fr/web/css/filter/index.md
  files/fr/web/css/image/image-set/index.md
  files/fr/web/css/image/image/index.md
  files/fr/web/css/image/index.md
  files/fr/web/css/list-style-image/index.md
  files/fr/web/css/mask-image/index.md
  files/fr/web/css/url_function/index.md
  files/fr/web/css/url_value/index.md
  files/fr/web/security/mixed_content/index.md
  files/fr/web/uri/reference/schemes/data/index.md
Labels: l10n-fr

#28350 fr: update `Web/API/IDBRequest/transaction`
  files/fr/web/api/idbrequest/transaction/index.md
Labels: l10n-fr

#28987 zh-CN: update the translation of "EventSource error event"
  files/zh-cn/web/api/eventsource/error_event/index.md
Labels: l10n-zh

#29012 [zh-cn]: update the translation of Window `mozInnerScreenX` property
  files/zh-cn/web/api/window/mozinnerscreenx/index.md
Labels: l10n-zh

#28595 zh-CN: create `BackgroundFetchRegistration/downloadTotal`
  files/zh-cn/web/api/backgroundfetchregistration/downloadtotal/index.md
Labels: l10n-zh

#28599 zh-CN: create `AuthenticatorAttestationResponse/getPublicKeyAlgorithm`
  files/zh-cn/web/api/authenticatorattestationresponse/getpublickeyalgorithm/index.md
Labels: l10n-zh

#29013 [zh-cn]: update the translation of WebGL2RenderingContext `deleteSync()` method
  files/zh-cn/web/api/webgl2renderingcontext/deletesync/index.md
Labels: l10n-zh

#28604 zh-CN: create `AuthenticatorAssertionResponse/signature`
  files/zh-cn/web/api/authenticatorassertionresponse/signature/index.md
Labels: l10n-zh

#28940 Web/Performance/Guides/Rum-vs-Synthetic を新規翻訳
  files/ja/web/performance/guides/rum-vs-synthetic/index.md
Labels: l10n-ja

#28941 Web/Performance/Guides/CSS_JavaScript_animation_performance を新規翻訳
  files/ja/web/performance/guides/css_javascript_animation_performance/index.md
  files/ja/web/performance/guides/css_javascript_animation_performance/pic1.png
Labels: l10n-ja

#28942 Web/Performance/Guides/Animation_performance_and_frame_rate を更新
  files/ja/web/performance/guides/animation_performance_and_frame_rate/index.md
Labels: l10n-ja

#28947 Web/JavaScript/Reference/Operators/null を更新
  files/ja/web/javascript/reference/operators/null/index.md
Labels: l10n-ja

#28949 Web/JavaScript/Reference/Operators/Spread_syntax を更新
  files/ja/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-ja

#28950 Web/JavaScript/Reference/Operators/yield を更新
  files/ja/web/javascript/reference/operators/yield/index.md
Labels: l10n-ja

#28948 Web/JavaScript/Reference/Operators/Object_initializer を更新
  files/ja/web/javascript/reference/operators/object_initializer/index.md
Labels: l10n-ja

#28946 Web/JavaScript/Reference/Operators/Unary_negation の用語を修正
  files/ja/web/javascript/reference/operators/unary_negation/index.md
Labels: l10n-ja

#29050 Fix grammar issues
  files/es/web/api/response/index.md
Labels: l10n-es

#29044 [zh-cn]: update the translation of TimeRanges `start()` method
  files/zh-cn/web/api/timeranges/start/index.md
Labels: l10n-zh

#28957 Web/API/Intersection_Observer_API 以下を更新
  files/ja/web/api/intersection_observer_api/index.md
  files/ja/web/api/intersection_observer_api/timing_element_visibility/index.md
Labels: l10n-ja

#28961 Web/API/IntersectionObserver/rootMargin を更新
  files/ja/web/api/intersectionobserver/rootmargin/index.md
Labels: l10n-ja

#28964 Web/API/IntersectionObserver/trackVisibility を新規翻訳
  files/ja/web/api/intersectionobserver/trackvisibility/index.md
Labels: l10n-ja

#28966 Web/API/IntersectionObserverEntry を更新
  files/ja/web/api/intersectionobserverentry/index.md
Labels: l10n-ja

#28965 Web/API/IntersectionObserver のメソッドを更新
  files/ja/web/api/intersectionobserver/disconnect/index.md
  files/ja/web/api/intersectionobserver/observe/index.md
  files/ja/web/api/intersectionobserver/takerecords/index.md
  files/ja/web/api/intersectionobserver/unobserve/index.md
Labels: l10n-ja

#28972 Web/API/WebSockets_API/Writing_WebSocket_server を更新
  files/ja/web/api/websockets_api/writing_websocket_server/index.md
Labels: l10n-ja

#28969 Web/API/WebSockets_API を更新
  files/ja/web/api/websockets_api/index.md
Labels: l10n-ja

#28971 Web/API/WebSockets_API/Writing_WebSocket_servers を更新
  files/ja/web/api/websockets_api/writing_websocket_servers/index.md
Labels: l10n-ja

#28973 Web/API/WebSockets_API/Writing_a_WebSocket_server_in_Java を更新
  files/ja/web/api/websockets_api/writing_a_websocket_server_in_java/index.md
Labels: l10n-ja

#28970 Web/API/WebSockets_API/Writing_WebSocket_client_applications を更新
  files/ja/web/api/websockets_api/writing_websocket_client_applications/index.md
Labels: l10n-ja

#28976 Web/API/WebSocketStream 他2件を新規翻訳
  files/ja/web/api/websocketstream/closed/index.md
  files/ja/web/api/websocketstream/index.md
  files/ja/web/api/websocketstream/url/index.md
Labels: l10n-ja

#28968 Web/API/Request/isHistoryNavigation を更新
  files/ja/web/api/request/ishistorynavigation/index.md
Labels: l10n-ja

#28977 Web/API/WebSocketStream のコンストラクターと close メソッドを新規翻訳
  files/ja/web/api/websocketstream/close/index.md
  files/ja/web/api/websocketstream/websocketstream/index.md
Labels: l10n-ja

#28978 Web/API/WebSocketStream/opened を新規翻訳
  files/ja/web/api/websocketstream/opened/index.md
Labels: l10n-ja

#28979 Web/API/Web_components/Using_custom_elements を更新
  files/ja/web/api/web_components/using_custom_elements/index.md
Labels: l10n-ja

#28981 Web/API/Web_components/Using_templates_and_slots を更新
  files/ja/web/api/web_components/using_templates_and_slots/index.md
Labels: l10n-ja

#29058 fr: create `Web/API/KeyframeEffect/*`
  files/fr/_redirects.txt
  files/fr/_wikihistory.json
  files/fr/web/api/keyframeeffect/composite/index.md
  files/fr/web/api/keyframeeffect/getkeyframes/index.md
  files/fr/web/api/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/iterationcomposite/index.md
  files/fr/web/api/keyframeeffect/keyframeeffect/index.md
  files/fr/web/api/keyframeeffect/pseudoelement/index.md
  files/fr/web/api/keyframeeffect/setkeyframes/index.md
  files/fr/web/api/keyframeeffect/target/index.md
Labels: l10n-fr

#28935 fr: create `Web/Security/Attacks/CSRF`
  files/fr/web/security/attacks/csrf/csrf-form-post.svg
  files/fr/web/security/attacks/csrf/form-post.svg
  files/fr/web/security/attacks/csrf/index.md
Labels: l10n-fr

#29060 fr: create `Web/HTML/Reference/Elements/search`
  files/fr/web/html/reference/elements/search/index.md
Labels: l10n-fr

#29061 fr: create `Web/Accessibility/ARIA/Reference/Roles/search_role`
  files/fr/web/accessibility/aria/reference/roles/search_role/index.md
Labels: l10n-fr

#28820 zh-CN: create `CSSVariableReferenceValue/fallback`
  files/zh-cn/web/api/cssvariablereferencevalue/fallback/index.md
Labels: l10n-zh

#28990 用語の修正: 計算プロパティ名→算出プロパティ名
  files/ja/mozilla/firefox/releases/34/index.md
  files/ja/web/javascript/reference/classes/constructor/index.md
  files/ja/web/javascript/reference/classes/static/index.md
  files/ja/web/javascript/reference/operators/object_initializer/index.md
Labels: l10n-ja

#28991 Web/JavaScript/Reference/Functions 以下を更新
  files/ja/web/javascript/reference/functions/arguments/callee/index.md
  files/ja/web/javascript/reference/functions/arguments/index.md
  files/ja/web/javascript/reference/functions/arguments/length/index.md
  files/ja/web/javascript/reference/functions/arguments/symbol.iterator/index.md
  files/ja/web/javascript/reference/functions/arrow_functions/index.md
  files/ja/web/javascript/reference/functions/default_parameters/index.md
  files/ja/web/javascript/reference/functions/get/index.md
  files/ja/web/javascript/reference/functions/index.md
  files/ja/web/javascript/reference/functions/method_definitions/index.md
  files/ja/web/javascript/reference/functions/rest_parameters/index.md
  files/ja/web/javascript/reference/functions/set/index.md
Labels: l10n-ja

#28992 Web/JavaScript/Reference/Global_Objects/Function 以下の記事を一括更新
  files/ja/web/javascript/reference/global_objects/function/apply/index.md
  files/ja/web/javascript/reference/global_objects/function/arguments/index.md
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
  files/ja/web/javascript/reference/global_objects/function/call/index.md
  files/ja/web/javascript/reference/global_objects/function/caller/index.md
  files/ja/web/javascript/reference/global_objects/function/displayname/index.md
  files/ja/web/javascript/reference/global_objects/function/function/index.md
  files/ja/web/javascript/reference/global_objects/function/index.md
  files/ja/web/javascript/reference/global_objects/function/length/index.md
  files/ja/web/javascript/reference/global_objects/function/name/index.md
  files/ja/web/javascript/reference/global_objects/function/prototype/index.md
  files/ja/web/javascript/reference/global_objects/function/symbol.hasinstance/index.md
  files/ja/web/javascript/reference/global_objects/function/tostring/index.md
Labels: l10n-ja

#29003 Web/CSS/::checkmark を新規翻訳
  files/ja/web/css/_doublecolon_checkmark/index.md
Labels: l10n-ja

#28921 fr: create `Web/Accessibility/ARIA/Reference/Roles/application_role`
  files/fr/web/accessibility/aria/reference/roles/application_role/index.md
Labels: l10n-fr

#29039 fr: update `Web/Accessibility/ARIA/Reference/Roles/alert_role`
  files/fr/web/accessibility/aria/reference/roles/alert_role/index.md
Labels: l10n-fr

#28922 fr: update `Web/Accessibility/ARIA/Reference/Roles/alertdialog_role`
  files/fr/web/accessibility/aria/reference/roles/alertdialog_role/index.md
Labels: l10n-fr

#29038 fr: update `Web/Accessibility/ARIA/Reference/Roles/article_role`
  files/fr/web/accessibility/aria/reference/roles/article_role/index.md
Labels: l10n-fr

#29035 fr: update `Web/Accessibility/ARIA/Reference/Roles/banner_role`
  files/fr/web/accessibility/aria/reference/roles/banner_role/index.md
Labels: l10n-fr

#29036 fr: update `Web/Accessibility/ARIA/Reference/Roles/button_role`
  files/fr/web/accessibility/aria/reference/roles/button_role/index.md
Labels: l10n-fr

#29037 fr: create `Web/Accessibility/ARIA/Reference/Roles/cell_role`
  files/fr/web/accessibility/aria/reference/roles/cell_role/index.md
Labels: l10n-fr

#29067 fr: update `Web/Accessibility/ARIA/Reference/Roles/checkbox_role`
  files/fr/web/accessibility/aria/reference/roles/checkbox_role/index.md
Labels: l10n-fr

#29091 fr: create `Web/Accessibility/ARIA/Reference/Roles/complementary_role`
  files/fr/web/accessibility/aria/reference/roles/complementary_role/index.md
Labels: l10n-fr

#29093 fr: create `Web/Accessibility/ARIA/Reference/Roles/contentinfo_role`
  files/fr/web/accessibility/aria/reference/roles/contentinfo_role/index.md
Labels: l10n-fr

#28615 zh-CN: create `DOMQuad/p3`
  files/zh-cn/web/api/domquad/p3/index.md
Labels: l10n-zh

#28614 zh-CN: create `DOMQuad/p4`
  files/zh-cn/web/api/domquad/p4/index.md
Labels: l10n-zh

#28617 zh-CN: create `DOMQuad/p1`
  files/zh-cn/web/api/domquad/p1/index.md
Labels: l10n-zh

#29119 fr: create `Web/Accessibility/ARIA/Reference`
  files/fr/web/accessibility/aria/reference/index.md
Labels: l10n-fr
