Repository mdn/translated-content, pull requests merged in 2025-08, with the labels that each got.

#28162 Web/Performance/Guides を新規翻訳
  files/ja/web/performance/guides/index.md
Labels: l10n-ja

#28163 Web/API/Performance_API を更新
  files/ja/web/api/performance_api/index.md
Labels: l10n-ja

#28165 Learn_web_development/Extensions/Server-side/First_steps 他1件を更新
  files/ja/learn_web_development/extensions/server-side/django/index.md
  files/ja/learn_web_development/extensions/server-side/first_steps/index.md
Labels: l10n-ja

#28167 Web/API/DOMRect 他4件を更新
  files/ja/web/api/domrect/domrect/index.md
  files/ja/web/api/domrect/height/index.md
  files/ja/web/api/domrect/index.md
  files/ja/web/api/domrect/width/index.md
  files/ja/web/api/domrect/x/index.md
Labels: l10n-ja

#28168 Web/API/DOMRect/y を更新
  files/ja/web/api/domrect/y/index.md
Labels: l10n-ja

#28170 Web/HTML/Reference/Attributes/required を更新
  files/ja/web/html/reference/attributes/required/index.md
Labels: l10n-ja

#28181 Web/HTML/Reference/Global_attributes/accesskey 他6件を更新
  files/ja/web/html/reference/global_attributes/accesskey/index.md
  files/ja/web/html/reference/global_attributes/anchor/index.md
  files/ja/web/html/reference/global_attributes/autocapitalize/index.md
  files/ja/web/html/reference/global_attributes/autocorrect/index.md
  files/ja/web/html/reference/global_attributes/autofocus/index.md
  files/ja/web/html/reference/global_attributes/class/index.md
  files/ja/web/html/reference/global_attributes/contenteditable/index.md
Labels: l10n-ja

#28189 Web/HTML/Reference/Global_attributes 以下の d* から l* までのプロパティの記事を更新
  files/ja/web/html/reference/global_attributes/data-_star_/index.md
  files/ja/web/html/reference/global_attributes/dir/index.md
  files/ja/web/html/reference/global_attributes/draggable/index.md
  files/ja/web/html/reference/global_attributes/enterkeyhint/index.md
  files/ja/web/html/reference/global_attributes/exportparts/index.md
  files/ja/web/html/reference/global_attributes/hidden/index.md
  files/ja/web/html/reference/global_attributes/id/index.md
  files/ja/web/html/reference/global_attributes/inert/index.md
  files/ja/web/html/reference/global_attributes/inputmode/index.md
  files/ja/web/html/reference/global_attributes/is/index.md
  files/ja/web/html/reference/global_attributes/itemid/index.md
  files/ja/web/html/reference/global_attributes/itemprop/index.md
  files/ja/web/html/reference/global_attributes/itemref/index.md
  files/ja/web/html/reference/global_attributes/itemscope/index.md
  files/ja/web/html/reference/global_attributes/itemtype/index.md
  files/ja/web/html/reference/global_attributes/lang/index.md
Labels: l10n-ja

#28190 Web/API/Document_Object_Model/Events の統合と更新
  files/ja/_redirects.txt
  files/ja/conflicting/web/api/document_object_model/events/index.md
  files/ja/conflicting/web/api/document_object_model/events_c282731eb05539912e604c2db2986790a254812531e62f190bb83745f45dbb03/index.md
  files/ja/web/api/document_object_model/events/index.md
Labels: l10n-ja

#28212 combobox ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/combobox_role/index.md
Labels: l10n-ja

#28195 [zh-cn] add translation of 'add javascript to your web page'
  files/zh-cn/web/html/how_to/add_javascript_to_your_web_page/index.md
Labels: l10n-zh

#28173 zh-CN: create `runtime.OnPerformanceWarningSeverity`
  files/zh-cn/mozilla/add-ons/webextensions/api/runtime/onperformancewarningseverity/index.md
Labels: l10n-zh

#28200 [zh-cn] add translation of "Credentialed requests and wildcards"
  files/zh-cn/web/http/guides/cors/index.md
Labels: l10n-zh

#28228 zh-CN: create `Related`
  files/zh-cn/related/index.md
Labels: l10n-zh

#28196 [zh-cn] remove orphaned image references in "Web Authentication API"
  files/zh-cn/web/api/web_authentication_api/index.md
Labels: l10n-zh

#28175 zh-CN: create `find.removeHighlighting()`
  files/zh-cn/mozilla/add-ons/webextensions/api/find/removehighlighting/index.md
Labels: l10n-zh

#28226 zh-CN: create `tabGroups.get`
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/get/index.md
Labels: l10n-zh

#28001 [zh-TW]: update CSS "CSS flexible box layout"
  files/zh-tw/web/css/css_flexible_box_layout/index.md
Labels: l10n-zh

#28197 [zh-cn]: translate CSSKeyframesRule deleteRule method
  files/zh-cn/web/api/csskeyframesrule/deleterule/index.md
Labels: l10n-zh

#28221 [zh-cn]: translate CSSKeyframesRule appendRule method
  files/zh-cn/web/api/csskeyframesrule/appendrule/index.md
Labels: l10n-zh

#28256 fix: fix typo
  files/zh-cn/web/html/reference/elements/iframe/index.md
Labels: l10n-zh

#28217 [zh-cn] sync the translation of the `inherit` keyword
  files/zh-cn/web/css/inherit/index.md
Labels: l10n-zh

#28222 zh-CN: create `version_name`
  files/zh-cn/mozilla/add-ons/webextensions/manifest.json/version_name/index.md
Labels: l10n-zh

#28223 zh-CN: create `tabGroups.TAB_GROUP_ID_NONE`
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tab_group_id_none/index.md
Labels: l10n-zh

#28240 [zh-TW]: update JavaScript `Date.prototype.getDay()`
  files/zh-tw/web/javascript/reference/global_objects/date/getday/index.md
Labels: l10n-zh

#28245 [zh-TW]: update JavaScript `Date.prototype.getSeconds()`
  files/zh-tw/web/javascript/reference/global_objects/date/getseconds/index.md
Labels: l10n-zh

#28208 Web/CSS/CSS_multicol_layout 以下を更新
  files/ja/web/css/css_multicol_layout/basic_concepts/index.md
  files/ja/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
  files/ja/web/css/css_multicol_layout/using_multicol_layouts/index.md
Labels: l10n-ja

#28209 Web/CSS/CSS_overflow 以下を更新
  files/ja/web/css/css_overflow/css_carousels/carousel.png
  files/ja/web/css/css_overflow/css_carousels/carousel.svg
  files/ja/web/css/css_overflow/css_carousels/index.md
  files/ja/web/css/css_overflow/index.md
Labels: l10n-ja

#28210 Web/CSS/CSS_scroll_snap 以下を更新
  files/ja/web/css/css_scroll_snap/basic_concepts/index.md
  files/ja/web/css/css_scroll_snap/index.md
  files/ja/web/css/css_scroll_snap/using_scroll_snap_events/index.md
Labels: l10n-ja

#28211 Web/HTML/Reference/Elements/script/type/importmap を更新
  files/ja/web/html/reference/elements/script/type/importmap/index.md
Labels: l10n-ja

#28224 zh-CN: create `tabGroups.TabGroup`
  files/zh-cn/mozilla/add-ons/webextensions/api/tabgroups/tabgroup/index.md
Labels: l10n-zh

#28247 [zh-TW]: update JavaScript `Date.prototype.getTime()`
  files/zh-tw/web/javascript/reference/global_objects/date/gettime/index.md
Labels: l10n-zh

#28241 [zh-TW]: update JavaScript `Date.prototype.getHours()`
  files/zh-tw/web/javascript/reference/global_objects/date/gethours/index.md
Labels: l10n-zh

#28278 [zh-cn] update 'use data attributes'
  files/zh-cn/web/html/how_to/use_data_attributes/index.md
Labels: l10n-zh

#28066 [zh-cn] update 'structuring documents'
  files/zh-cn/learn_web_development/core/structuring_content/structuring_documents/index.md
Labels: l10n-zh

#28257 [zh-cn] correct some translation of 'deprecated'
  files/zh-cn/web/api/customevent/initcustomevent/index.md
  files/zh-cn/web/api/event/initevent/index.md
  files/zh-cn/web/api/mouseevent/initmouseevent/index.md
  files/zh-cn/web/html/reference/elements/a/index.md
  files/zh-cn/web/html/reference/elements/plaintext/index.md
  files/zh-cn/web/html/reference/elements/xmp/index.md
Labels: l10n-zh

#28214 docs: "anemore" -> "anemone"
  files/ja/web/javascript/reference/global_objects/array/splice/index.md
Labels: l10n-ja

#28216 Web/API/Attribution_Reporting_API の下位文書を新規翻訳
  files/ja/web/api/attribution_reporting_api/generating_reports/index.md
  files/ja/web/api/attribution_reporting_api/registering_sources/index.md
  files/ja/web/api/attribution_reporting_api/registering_triggers/index.md
Labels: l10n-ja

#28218 command ロールと comment ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/command_role/index.md
  files/ja/web/accessibility/aria/reference/roles/comment_role/index.md
Labels: l10n-ja

#28232 zh-CN: create `3/Using_an_external_spell_checker`
  files/zh-cn/mozilla/firefox/releases/3/using_an_external_spell_checker/index.md
Labels: l10n-zh

#28249 [zh-TW]: update JavaScript `Date.prototype.getUTCHours()`
  files/zh-tw/web/javascript/reference/global_objects/date/getutchours/index.md
Labels: l10n-zh

#28242 [zh-TW]: update JavaScript `Date.prototype.getMilliseconds()`
  files/zh-tw/web/javascript/reference/global_objects/date/getmilliseconds/index.md
Labels: l10n-zh

#28229 zh-CN: create `3.6/Updating_plug-ins`
  files/zh-cn/mozilla/firefox/releases/3.6/updating_plug-ins/index.md
Labels: l10n-zh

#28279 [zh-cn] update css 'basic shape'
  files/zh-cn/web/css/basic-shape/circle/index.md
  files/zh-cn/web/css/basic-shape/ellipse/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/basic-shape/inset/index.md
  files/zh-cn/web/css/basic-shape/path/index.md
  files/zh-cn/web/css/basic-shape/polygon/index.md
  files/zh-cn/web/css/basic-shape/rect/index.md
  files/zh-cn/web/css/basic-shape/shape/index.md
  files/zh-cn/web/css/basic-shape/xywh/index.md
Labels: l10n-zh

#28243 definition ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/definition_role/index.md
Labels: l10n-ja

#28246 Web/CSS/symbols を更新
  files/ja/web/css/symbols/index.md
Labels: l10n-ja

#28293 math ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/math_role/index.md
Labels: l10n-ja

#28252 [zh-TW]: update JavaScript `Date.prototype.getUTCSeconds()`
  files/zh-tw/web/javascript/reference/global_objects/date/getutcseconds/index.md
Labels: l10n-zh

#28253 [zh-TW]: update JavaScript `Date.now()`
  files/zh-tw/web/javascript/reference/global_objects/date/now/index.md
Labels: l10n-zh

#27860 [ko] await 문서 수정
  files/ko/web/javascript/reference/operators/await/index.md
Labels: l10n-ko

#28259 Array オブジェクトのコンストラクター、静的プロパティ、静的メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/array/array/index.md
  files/ja/web/javascript/reference/global_objects/array/from/index.md
  files/ja/web/javascript/reference/global_objects/array/fromasync/index.md
  files/ja/web/javascript/reference/global_objects/array/isarray/index.md
  files/ja/web/javascript/reference/global_objects/array/of/index.md
  files/ja/web/javascript/reference/global_objects/array/symbol.species/index.md
Labels: l10n-ja

#28260 Web/JavaScript/Reference/Global_Objects/Array/a*-f* の記事を更新
  files/ja/web/javascript/reference/global_objects/array/at/index.md
  files/ja/web/javascript/reference/global_objects/array/concat/index.md
  files/ja/web/javascript/reference/global_objects/array/copywithin/index.md
  files/ja/web/javascript/reference/global_objects/array/entries/index.md
  files/ja/web/javascript/reference/global_objects/array/every/index.md
  files/ja/web/javascript/reference/global_objects/array/fill/index.md
  files/ja/web/javascript/reference/global_objects/array/filter/index.md
  files/ja/web/javascript/reference/global_objects/array/find/index.md
  files/ja/web/javascript/reference/global_objects/array/findindex/index.md
  files/ja/web/javascript/reference/global_objects/array/findlast/index.md
  files/ja/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/ja/web/javascript/reference/global_objects/array/flat/index.md
  files/ja/web/javascript/reference/global_objects/array/flatmap/index.md
  files/ja/web/javascript/reference/global_objects/array/foreach/index.md
Labels: l10n-ja

#28285 marquee ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/marquee_role/index.md
Labels: l10n-ja

#28294 [ja] Web/Performance/Guides/dns-prefetchのtypoを修正
  files/ja/web/performance/guides/dns-prefetch/index.md
Labels: l10n-ja

#28299 [ja] Web/Performance/Guides/Navigation_and_resource_timings のtypoを修正
  files/ja/web/performance/guides/navigation_and_resource_timings/index.md
Labels: l10n-ja

#25163 [ja] 訳の修正
  files/ja/web/html/reference/elements/dfn/index.md
Labels: l10n-ja

#28280 Web/JavaScript/Reference/Global_Objects/Array/i*-r`* の記事を更新
  files/ja/web/javascript/reference/global_objects/array/includes/index.md
  files/ja/web/javascript/reference/global_objects/array/indexof/index.md
  files/ja/web/javascript/reference/global_objects/array/join/index.md
  files/ja/web/javascript/reference/global_objects/array/keys/index.md
  files/ja/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/ja/web/javascript/reference/global_objects/array/map/index.md
  files/ja/web/javascript/reference/global_objects/array/pop/index.md
  files/ja/web/javascript/reference/global_objects/array/push/index.md
  files/ja/web/javascript/reference/global_objects/array/reduce/index.md
  files/ja/web/javascript/reference/global_objects/array/reduceright/index.md
  files/ja/web/javascript/reference/global_objects/array/reverse/index.md
Labels: l10n-ja

#28283 Web/JavaScript/Reference/Global_Objects/Array およびインスタンスプロパティの記事を更新
  files/ja/web/javascript/reference/global_objects/array/index.md
  files/ja/web/javascript/reference/global_objects/array/length/index.md
  files/ja/web/javascript/reference/global_objects/array/symbol.unscopables/index.md
Labels: l10n-ja

#28206 [zh-TW]: update JavaScript Global Objects `URIError`
  files/zh-tw/web/javascript/reference/global_objects/urierror/index.md
Labels: l10n-zh

#28263 zh-CN: create `Use_of_color`
  files/zh-cn/web/accessibility/guides/understanding_wcag/perceivable/use_of_color/index.md
Labels: l10n-zh

#28244 [zh-TW]: update JavaScript `Date.prototype.getMinutes()`
  files/zh-tw/web/javascript/reference/global_objects/date/getminutes/index.md
Labels: l10n-zh

#28250 [zh-TW]: update JavaScript `Date.prototype.getUTCMilliseconds()`
  files/zh-tw/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
Labels: l10n-zh

#28269 zh-CN: create `Roles/none_role`
  files/zh-cn/web/accessibility/aria/reference/roles/none_role/index.md
Labels: l10n-zh

#28298 Learn_web_development/Core/CSS_layout/Test_your_skills 以下を更新
  files/ja/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task1.png
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task2.png
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/float-task3.png
  files/ja/learn_web_development/core/css_layout/test_your_skills/floats/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/grid/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/position/index.md
  files/ja/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Labels: l10n-ja

#28300 menu ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/menu_role/index.md
Labels: l10n-ja

#28264 zh-CN: create `Roles/range_role`
  files/zh-cn/web/accessibility/aria/reference/roles/range_role/index.md
Labels: l10n-zh

#28266 zh-CN: create `Roles/sectionhead_role`
  files/zh-cn/web/accessibility/aria/reference/roles/sectionhead_role/index.md
Labels: l10n-zh

#28174 zh-CN: create `devtools.panels.themeName`
  files/zh-cn/mozilla/add-ons/webextensions/api/devtools/panels/themename/index.md
Labels: l10n-zh

#28234 zh-CN: create `3/Notable_bugs_fixed`
  files/zh-cn/mozilla/firefox/releases/3/notable_bugs_fixed/index.md
Labels: l10n-zh

#28309 Learn_web_development/Core/Scripting/Test_your_skills 以下を更新
  files/ja/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/math/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/ja/learn_web_development/core/scripting/test_your_skills/variables/index.md
Labels: l10n-ja

#28311 Web/CSS/:not を更新
  files/ja/web/css/_colon_not/index.md
Labels: l10n-ja

#28313 Web/CSS/CSS_selectors を更新
  files/ja/web/css/css_selectors/index.md
Labels: l10n-ja

#28312 CSS の擬似クラスの古い記事を更新
  files/ja/web/css/_colon_empty/index.md
  files/ja/web/css/_colon_first-of-type/index.md
  files/ja/web/css/_colon_focus-visible/index.md
  files/ja/web/css/_colon_has/index.md
  files/ja/web/css/_colon_is/index.md
  files/ja/web/css/_colon_local-link/index.md
  files/ja/web/css/_colon_muted/index.md
  files/ja/web/css/_colon_popover-open/index.md
  files/ja/web/css/_colon_scope/index.md
  files/ja/web/css/_colon_target/index.md
  files/ja/web/css/_colon_visited/index.md
  files/ja/web/css/_colon_where/index.md
Labels: l10n-ja

#28314 Web/CSS/CSS_selectors の下層記事を更新
  files/ja/web/css/css_selectors/privacy_and_the_visited_selector/index.md
  files/ja/web/css/css_selectors/selector_structure/index.md
  files/ja/web/css/css_selectors/selectors_and_combinators/index.md
  files/ja/web/css/css_selectors/using_the__colon_target_pseudo-class_in_selectors/index.md
Labels: l10n-ja

#28301 fix(workflows): use bash array instead of relying on xargs
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-test.yml
Labels: system

#28363 [zh-CN]: add the translation of `EvalError()` constructor
  files/zh-cn/web/javascript/reference/global_objects/evalerror/evalerror/index.md
Labels: l10n-zh

#28365 [zh-cn] update preventDefault()
  files/zh-cn/web/api/event/preventdefault/index.md
Labels: l10n-zh

#28386 ci(pr-test): use PWD instead of CONTENT_TRANSLATED_ROOT
  .github/workflows/pr-test.yml
Labels: system

#28360 [zh-cn] update 'alternate stylesheet'
  files/zh-cn/web/html/reference/attributes/rel/alternate_stylesheet/index.md
Labels: l10n-zh

#28307 menubar ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/menubar_role/index.md
Labels: l10n-ja

#28348 menuitemcheckbox、input、composite ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/composite_role/index.md
  files/ja/web/accessibility/aria/reference/roles/input_role/index.md
  files/ja/web/accessibility/aria/reference/roles/menuitemcheckbox_role/index.md
Labels: l10n-ja

#28353 menuitemradio ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/menuitemradio_role/index.md
Labels: l10n-ja

#28354 Web/CSS/CSS_grid_layout 以下の記事を更新
  files/ja/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/ja/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/ja/web/css/css_grid_layout/box_alignment_in_grid_layout/7_auto_margins.png
  files/ja/web/css/css_grid_layout/box_alignment_in_grid_layout/7_space-between.png
  files/ja/web/css/css_grid_layout/box_alignment_in_grid_layout/index.md
  files/ja/web/css/css_grid_layout/grid_layout_and_accessibility/index.md
  files/ja/web/css/css_grid_layout/grid_layout_using_line-based_placement/index.md
  files/ja/web/css/css_grid_layout/grid_layout_using_named_grid_lines/index.md
  files/ja/web/css/css_grid_layout/grid_template_areas/4_layout.png
  files/ja/web/css/css_grid_layout/grid_template_areas/4_media_objects.png
  files/ja/web/css/css_grid_layout/grid_template_areas/index.md
  files/ja/web/css/css_grid_layout/grids_logical_values_and_writing_modes/index.md
  files/ja/web/css/css_grid_layout/masonry_layout/index.md
  files/ja/web/css/css_grid_layout/realizing_common_layouts_using_grids/index.md
  files/ja/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
  files/ja/web/css/css_grid_layout/subgrid/index.md
Labels: l10n-ja

#28355 Web/CSS/@font-face 以下の記事を更新
  files/ja/web/css/@font-face/ascent-override/index.md
  files/ja/web/css/@font-face/descent-override/index.md
  files/ja/web/css/@font-face/font-display/index.md
  files/ja/web/css/@font-face/font-family/index.md
  files/ja/web/css/@font-face/font-feature-settings/index.md
  files/ja/web/css/@font-face/font-stretch/index.md
  files/ja/web/css/@font-face/font-style/index.md
  files/ja/web/css/@font-face/font-variation-settings/index.md
  files/ja/web/css/@font-face/font-weight/index.md
  files/ja/web/css/@font-face/index.md
  files/ja/web/css/@font-face/line-gap-override/index.md
  files/ja/web/css/@font-face/size-adjust/index.md
  files/ja/web/css/@font-face/src/index.md
  files/ja/web/css/@font-face/unicode-range/index.md
Labels: l10n-ja

#28366 meter ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/meter_role/index.md
Labels: l10n-ja

#28398 rowheader ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/rowheader_role/index.md
Labels: l10n-ja

#28427 [ko] async_js/promises 중복된 예제 코드 수정
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Labels: l10n-ko

#28303 [zh-CN]: Translate "Forms and buttons in HTML"
  files/zh-cn/learn_web_development/core/structuring_content/html_forms/index.md
Labels: l10n-zh

#28376 Web/MathML/Guides/Authoring を更新
  files/ja/web/mathml/guides/authoring/index.md
Labels: l10n-ja

#28377 Web/MathML/Guides/Fonts を更新
  files/ja/web/mathml/guides/fonts/index.md
Labels: l10n-ja

#28378 Web/MathML/Reference/Element を更新
  files/ja/web/mathml/reference/element/index.md
Labels: l10n-ja

#28379 Web/MathML/Reference/Global_attributes を更新
  files/ja/web/mathml/reference/global_attributes/index.md
Labels: l10n-ja

#28380 Web/MathML/Reference/Attribute を更新
  files/ja/web/mathml/reference/attribute/index.md
Labels: l10n-ja

#28381 Web/MathML/Reference/Values を更新
  files/ja/web/mathml/reference/values/index.md
Labels: l10n-ja

#28237 zh-CN: create `2/Security_changes`
  files/zh-cn/mozilla/firefox/releases/2/security_changes/index.md
Labels: l10n-zh

#28369 [zh-cn] add `AggregateError.errors`
  files/zh-cn/web/javascript/reference/global_objects/aggregateerror/errors/index.md
Labels: l10n-zh

#28418 scrollbar と range ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/range_role/index.md
  files/ja/web/accessibility/aria/reference/roles/scrollbar_role/index.md
Labels: l10n-ja

#28458 separator ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/separator_role/index.md
Labels: l10n-ja

#28423 Web/CSS/hanging-punctuation を更新
  files/ja/web/css/hanging-punctuation/index.md
Labels: l10n-ja

#28424 Web/CSS/hyphens を更新
  files/ja/web/css/hyphenate-character/index.md
  files/ja/web/css/hyphenate-limit-chars/index.md
  files/ja/web/css/hyphens/index.md
Labels: l10n-ja

#28425 Web/SVG/Reference/Attribute/letter-spacing を更新
  files/ja/web/svg/reference/attribute/letter-spacing/index.md
Labels: l10n-ja

#28426 Web/CSS/letter-spacing を更新
  files/ja/web/css/letter-spacing/index.md
Labels: l10n-ja

#28233 zh-CN: create `3/Templates`
  files/zh-cn/mozilla/firefox/releases/3/templates/index.md
Labels: l10n-zh

#28464 [zh-cn] add translation for PerformanceResourceTiming.transferSize
  files/zh-cn/web/api/performanceresourcetiming/transfersize/index.md
Labels: l10n-zh

#28235 zh-CN: create `3/DOM_improvements`
  files/zh-cn/mozilla/firefox/releases/3/dom_improvements/index.md
Labels: l10n-zh

#28505 zh-CN: fix typo in the "Getting started with Vue" chapter
  files/zh-cn/learn_web_development/core/frameworks_libraries/vue_getting_started/index.md
Labels: l10n-zh

#28432 Web/CSS/interpolate-size を新規翻訳
  files/ja/web/css/interpolate-size/index.md
Labels: l10n-ja

#28333 zh-CN: create `Animation/timeline`
  files/zh-cn/web/api/animation/timeline/index.md
Labels: l10n-zh

#28447 Web/SVG/Reference/Attribute/visibility を更新
  files/ja/web/svg/reference/attribute/visibility/index.md
Labels: l10n-ja

#28450 Web/CSS/CSS_display/Visual_formatting_model を更新
  files/ja/web/css/css_display/visual_formatting_model/index.md
Labels: l10n-ja

#28451 Web/CSS/display-* 関係の属性値の記事を更新
  files/ja/web/css/display-box/index.md
  files/ja/web/css/display-inside/index.md
  files/ja/web/css/display-internal/index.md
  files/ja/web/css/display-legacy/index.md
  files/ja/web/css/display-listitem/index.md
  files/ja/web/css/display-outside/index.md
Labels: l10n-ja

#28455 Web/API/CSS_Object_Model/CSS_Declaration を更新
  files/ja/web/api/css_object_model/css_declaration/index.md
Labels: l10n-ja

#28457 Web/CSS/CSS_syntax/Error_handling を更新
  files/ja/web/css/css_syntax/error_handling/index.md
Labels: l10n-ja

#28460 Web/JavaScript/Reference/Global_Objects/Promise/then を更新
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja

#28472 [ko] meta programming 신규 번역
  files/ko/web/javascript/guide/meta_programming/index.md
Labels: l10n-ko

#28351 [ko] fix: Typo in Promises document
  files/ko/learn_web_development/extensions/async_js/promises/index.md
Labels: l10n-ko

#28456 Web/CSS/CSS_syntax 以下の記事（関連記事も含む）を更新
  files/ja/web/css/css_syntax/at-rule/index.md
  files/ja/web/css/css_syntax/at-rule_functions/index.md
  files/ja/web/css/css_syntax/comments/index.md
  files/ja/web/css/css_syntax/syntax/index.md
  files/ja/web/css/css_values_and_units/css_value_functions/index.md
  files/ja/web/css/custom-ident/index.md
Labels: l10n-ja

#28466 String の a*-n* メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/string/anchor/index.md
  files/ja/web/javascript/reference/global_objects/string/at/index.md
  files/ja/web/javascript/reference/global_objects/string/big/index.md
  files/ja/web/javascript/reference/global_objects/string/blink/index.md
  files/ja/web/javascript/reference/global_objects/string/bold/index.md
  files/ja/web/javascript/reference/global_objects/string/charat/index.md
  files/ja/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/ja/web/javascript/reference/global_objects/string/codepointat/index.md
  files/ja/web/javascript/reference/global_objects/string/concat/index.md
  files/ja/web/javascript/reference/global_objects/string/endswith/index.md
  files/ja/web/javascript/reference/global_objects/string/fixed/index.md
  files/ja/web/javascript/reference/global_objects/string/fontcolor/index.md
  files/ja/web/javascript/reference/global_objects/string/fontsize/index.md
  files/ja/web/javascript/reference/global_objects/string/includes/index.md
  files/ja/web/javascript/reference/global_objects/string/indexof/index.md
  files/ja/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/italics/index.md
  files/ja/web/javascript/reference/global_objects/string/lastindexof/index.md
  files/ja/web/javascript/reference/global_objects/string/link/index.md
  files/ja/web/javascript/reference/global_objects/string/localecompare/index.md
  files/ja/web/javascript/reference/global_objects/string/match/index.md
  files/ja/web/javascript/reference/global_objects/string/matchall/index.md
  files/ja/web/javascript/reference/global_objects/string/normalize/index.md
Labels: l10n-ja

#28468 String の p*-v* メソッドの記事を更新
  files/ja/web/javascript/reference/global_objects/string/padend/index.md
  files/ja/web/javascript/reference/global_objects/string/padstart/index.md
  files/ja/web/javascript/reference/global_objects/string/repeat/index.md
  files/ja/web/javascript/reference/global_objects/string/replace/index.md
  files/ja/web/javascript/reference/global_objects/string/replaceall/index.md
  files/ja/web/javascript/reference/global_objects/string/search/index.md
  files/ja/web/javascript/reference/global_objects/string/slice/index.md
  files/ja/web/javascript/reference/global_objects/string/small/index.md
  files/ja/web/javascript/reference/global_objects/string/split/index.md
  files/ja/web/javascript/reference/global_objects/string/startswith/index.md
  files/ja/web/javascript/reference/global_objects/string/strike/index.md
  files/ja/web/javascript/reference/global_objects/string/sub/index.md
  files/ja/web/javascript/reference/global_objects/string/substr/index.md
  files/ja/web/javascript/reference/global_objects/string/substring/index.md
  files/ja/web/javascript/reference/global_objects/string/sup/index.md
  files/ja/web/javascript/reference/global_objects/string/symbol.iterator/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tolowercase/index.md
  files/ja/web/javascript/reference/global_objects/string/tostring/index.md
  files/ja/web/javascript/reference/global_objects/string/touppercase/index.md
  files/ja/web/javascript/reference/global_objects/string/towellformed/index.md
  files/ja/web/javascript/reference/global_objects/string/trim/index.md
  files/ja/web/javascript/reference/global_objects/string/trimend/index.md
  files/ja/web/javascript/reference/global_objects/string/trimstart/index.md
  files/ja/web/javascript/reference/global_objects/string/valueof/index.md
Labels: l10n-ja

#28499 suggestion ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/suggestion_role/index.md
Labels: l10n-ja

#28502 Web/JavaScript/Reference/Global_Objects を更新
  files/ja/web/javascript/reference/global_objects/index.md
Labels: l10n-ja

#28549 Firefox 141 for developersを更新
  files/ja/mozilla/firefox/releases/141/index.md
Labels: l10n-ja

#28554 structure and sectionhead ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/sectionhead_role/index.md
  files/ja/web/accessibility/aria/reference/roles/structure_role/index.md
Labels: l10n-ja

#28539 [zh-cn] init inert html global attribute
  files/zh-cn/web/html/reference/global_attributes/inert/index.md
Labels: l10n-zh

#28542 tabpanel ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/tabpanel_role/index.md
Labels: l10n-ja

#28507 [zh-cn] update PerformanceObserver.observe
  files/zh-cn/web/api/performanceobserver/observe/index.md
Labels: l10n-zh

#28556 [zh-CN]: update CSSStyleRule: selectorText property
  files/zh-cn/web/api/cssstylerule/selectortext/index.md
Labels: l10n-zh

#28262 zh-CN: create `Roles/widget_role`
  files/zh-cn/web/accessibility/aria/reference/roles/widget_role/index.md
Labels: l10n-zh

#28320 zh-CN: create `EncodedVideoChunk/duration`
  files/zh-cn/web/api/encodedvideochunk/duration/index.md
Labels: l10n-zh

#28322 zh-CN: create `Accelerometer/y`
  files/zh-cn/web/api/accelerometer/y/index.md
Labels: l10n-zh

#28537 zh-CN: create `AnimationEvent/animationName`
  files/zh-cn/web/api/animationevent/animationname/index.md
Labels: l10n-zh

#28347 [zh-TW]: update JavaScript `Math.random()`
  files/zh-tw/web/javascript/reference/global_objects/math/random/index.md
Labels: l10n-zh

#28564 treegrid ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/treegrid_role/index.md
Labels: l10n-ja

#28530 zh-CN: create `Attr/specified`
  files/zh-cn/web/api/attr/specified/index.md
Labels: l10n-zh

#28513 zh-CN: create `AudioListener/positionY`
  files/zh-cn/web/api/audiolistener/positiony/index.md
Labels: l10n-zh

#28544 Object のインスタンスプロパティ、インスタンスメソッドの記事更新
  files/ja/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/ja/web/javascript/reference/global_objects/object/constructor/index.md
  files/ja/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/ja/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/ja/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/ja/web/javascript/reference/global_objects/object/proto/index.md
  files/ja/web/javascript/reference/global_objects/object/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/object/tostring/index.md
  files/ja/web/javascript/reference/global_objects/object/valueof/index.md
Labels: l10n-ja

#28546 Number およびコンストラクターを更新
  files/ja/web/javascript/reference/global_objects/number/index.md
  files/ja/web/javascript/reference/global_objects/number/number/index.md
Labels: l10n-ja

#28552 [ja] Web/JavaScript/Reference/Global_Objects/Symbol/dispose の翻訳
  files/ja/web/javascript/reference/global_objects/symbol/dispose/index.md
Labels: l10n-ja

#28231 zh-CN: create `3.5/Security_changes`
  files/zh-cn/mozilla/firefox/releases/3.5/security_changes/index.md
Labels: l10n-zh

#28323 zh-CN: create `Accelerometer/x`
  files/zh-cn/web/api/accelerometer/x/index.md
Labels: l10n-zh

#28324 zh-CN: create `Accelerometer/z`
  files/zh-cn/web/api/accelerometer/z/index.md
Labels: l10n-zh

#28359 [zh-TW]: update SVG Attribute stroke-dashoffset
  files/zh-tw/web/svg/reference/attribute/stroke-dashoffset/index.md
Labels: l10n-zh

#28545 timer and section ロールを翻訳
  files/ja/web/accessibility/aria/reference/roles/section_role/index.md
  files/ja/web/accessibility/aria/reference/roles/timer_role/index.md
Labels: l10n-ja

#28550 Firefox 142 for developersを翻訳
  files/ja/mozilla/firefox/releases/142/index.md
Labels: l10n-ja

#28557 Web/JavaScript/Reference/Global_Objects/Number 以下のインスタンスメソッドを更新
  files/ja/web/javascript/reference/global_objects/number/toexponential/index.md
  files/ja/web/javascript/reference/global_objects/number/tofixed/index.md
  files/ja/web/javascript/reference/global_objects/number/tolocalestring/index.md
  files/ja/web/javascript/reference/global_objects/number/toprecision/index.md
  files/ja/web/javascript/reference/global_objects/number/tostring/index.md
  files/ja/web/javascript/reference/global_objects/number/valueof/index.md
Labels: l10n-ja

#28521 zh-CN: create `AudioDecoder/state`
  files/zh-cn/web/api/audiodecoder/state/index.md
Labels: l10n-zh

#28598 zh-CN: create `BackgroundFetchEvent/registration`
  files/zh-cn/web/api/backgroundfetchevent/registration/index.md
Labels: l10n-zh

#28634 [zh-cn]: fix translation of "not static" in absolute positioning
  files/zh-cn/web/css/position/index.md
Labels: l10n-zh

#28328 zh-CN: create `AbstractRange/endContainer`
  files/zh-cn/web/api/abstractrange/endcontainer/index.md
Labels: l10n-zh

#28560 Web/JavaScript/Reference/Global_Objects/Boolean 以下を更新
  files/ja/web/javascript/reference/global_objects/boolean/boolean/index.md
  files/ja/web/javascript/reference/global_objects/boolean/index.md
  files/ja/web/javascript/reference/global_objects/boolean/tostring/index.md
  files/ja/web/javascript/reference/global_objects/boolean/valueof/index.md
Labels: l10n-ja
