Repository mdn/translated-content, pull requests merged in 2025-07, with the labels that each got.

#27842 [zh-cn] update svg main page
  files/zh-cn/web/svg/index.md
Labels: l10n-zh

#27861 [zh-cn] create reference main page of mathml
  files/zh-cn/web/mathml/reference/index.md
Labels: l10n-zh

#27646 [zh-TW]: update API `XMLHttpRequest.status` property
  files/zh-tw/web/api/xmlhttprequest/status/index.md
Labels: l10n-zh

#27645 [zh-TW]: update API `XMLHttpRequest.readyState` property
  files/zh-tw/web/api/xmlhttprequest/readystate/index.md
Labels: l10n-zh

#27667 [zh-TW]: update Glossary "Attribute"
  files/zh-tw/glossary/attribute/index.md
Labels: l10n-zh

#27641 [zh-TW]: update landing page of HTTP Status
  files/zh-tw/web/http/reference/status/index.md
Labels: l10n-zh

#27765 zh-cn: update the translation of "js13kGames" landing page
  files/zh-cn/web/progressive_web_apps/tutorials/js13kgames/index.md
Labels: l10n-zh

#27837 Learn_web_development/Extensions/Performance/HTML 他2件を更新
  files/ja/learn_web_development/extensions/performance/business_case_for_performance/index.md
  files/ja/learn_web_development/extensions/performance/html/index.md
  files/ja/learn_web_development/extensions/performance/video/index.md
Labels: l10n-ja

#27858 Web/API/Document を更新
  files/ja/web/api/document/index.md
Labels: l10n-ja

#27762 zh-cn: update the translation of `WebGL2RenderingContext.beginQuery()`
  files/zh-cn/web/api/webgl2renderingcontext/beginquery/index.md
Labels: l10n-zh

#27904 zh-cn: renamed a slugto work around an issue in sync translated content
  files/zh-cn/_redirects.txt
  files/zh-cn/web/svg/reference/attribute/from/index.md
Labels: l10n-zh

#27650 [zh-TW]: update API `GainNode.gain` property
  files/zh-tw/web/api/gainnode/gain/index.md
Labels: l10n-zh

#27907 chore(zh): remove firefox sidebar macro
  files/zh-cn/mozilla/firefox/experimental_features/index.md
  files/zh-cn/mozilla/firefox/index.md
  files/zh-cn/mozilla/firefox/releases/1.5/using_firefox_1.5_caching/index.md
  files/zh-cn/mozilla/firefox/releases/119/index.md
  files/zh-cn/mozilla/firefox/releases/120/index.md
  files/zh-cn/mozilla/firefox/releases/121/index.md
  files/zh-cn/mozilla/firefox/releases/122/index.md
  files/zh-cn/mozilla/firefox/releases/123/index.md
  files/zh-cn/mozilla/firefox/releases/124/index.md
  files/zh-cn/mozilla/firefox/releases/125/index.md
  files/zh-cn/mozilla/firefox/releases/126/index.md
  files/zh-cn/mozilla/firefox/releases/127/index.md
  files/zh-cn/mozilla/firefox/releases/14/index.md
  files/zh-cn/mozilla/firefox/releases/18/index.md
  files/zh-cn/mozilla/firefox/releases/19/index.md
  files/zh-cn/mozilla/firefox/releases/20/index.md
  files/zh-cn/mozilla/firefox/releases/21/index.md
  files/zh-cn/mozilla/firefox/releases/22/index.md
  files/zh-cn/mozilla/firefox/releases/24/index.md
  files/zh-cn/mozilla/firefox/releases/25/index.md
  files/zh-cn/mozilla/firefox/releases/26/index.md
  files/zh-cn/mozilla/firefox/releases/27/index.md
  files/zh-cn/mozilla/firefox/releases/3/index.md
  files/zh-cn/mozilla/firefox/releases/3/site_compatibility/index.md
  files/zh-cn/mozilla/firefox/releases/3/updating_extensions/index.md
  files/zh-cn/mozilla/firefox/releases/31/index.md
  files/zh-cn/mozilla/firefox/releases/32/index.md
  files/zh-cn/mozilla/firefox/releases/33/index.md
  files/zh-cn/mozilla/firefox/releases/41/index.md
  files/zh-cn/mozilla/firefox/releases/59/index.md
  files/zh-cn/mozilla/firefox/releases/65/index.md
  files/zh-cn/mozilla/firefox/releases/78/index.md
  files/zh-cn/mozilla/firefox/releases/index.md
  files/zh-cn/mozilla/index.md
  files/zh-tw/mozilla/firefox/index.md
  files/zh-tw/mozilla/firefox/releases/2/adding_feed_readers_to_firefox/index.md
  files/zh-tw/mozilla/firefox/releases/2/index.md
  files/zh-tw/mozilla/firefox/releases/2/security_changes/index.md
  files/zh-tw/mozilla/firefox/releases/3/dom_improvements/index.md
  files/zh-tw/mozilla/firefox/releases/3/index.md
  files/zh-tw/mozilla/firefox/releases/61/index.md
  files/zh-tw/mozilla/firefox/releases/index.md
  files/zh-tw/mozilla/index.md
Labels: l10n-zh

#27817 [zh-cn] update Element API
  files/zh-cn/web/api/element/index.md
Labels: l10n-zh

#27898 zh-cn: translate CSSImportRule
  files/zh-cn/web/api/cssimportrule/index.md
Labels: l10n-zh

#27720 zh-CN: create `Glossary/SSR`
  files/zh-cn/glossary/ssr/index.md
Labels: l10n-zh

#27659 [zh-TW]: update API `Geolocation.watchPosition()` method
  files/zh-tw/web/api/geolocation/watchposition/index.md
Labels: l10n-zh

#27662 [zh-TW]: update API `GeolocationPositionError.code` property
  files/zh-tw/web/api/geolocationpositionerror/code/index.md
Labels: l10n-zh

#27850 zh-CN: create translation of "Test your skills: CSS styling basics"
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills/index.md
Labels: l10n-zh

#27847 zh-CN: create translation of "Test your skills: JSON"
  files/zh-cn/learn_web_development/core/scripting/test_your_skills/json/index.md
Labels: l10n-zh

#27849 zh-CN: create translation of "Test your skills: Structuring content with HTML"
  files/zh-cn/learn_web_development/core/structuring_content/test_your_skills/index.md
Labels: l10n-zh

#27895 zh-cn: update the translation of "Drawing text"
  files/zh-cn/web/api/canvas_api/tutorial/drawing_text/index.md
Labels: l10n-zh

#27663 [zh-TW]: update API `GeolocationPositionError.message` property
  files/zh-tw/web/api/geolocationpositionerror/message/index.md
Labels: l10n-zh

#27670 [zh-TW]: update HTTP Header `Access-Control-Allow-Credentials`
  files/zh-tw/web/http/reference/headers/access-control-allow-credentials/index.md
Labels: l10n-zh

#27846 zh-CN: create translation of `Learn_web_development: Responsive_design`
  files/zh-cn/learn_web_development/core/css_layout/test_your_skills/responsive_design/index.md
Labels: l10n-zh

#27911 [ko] hasown 수정
  files/ko/web/javascript/reference/global_objects/object/hasown/index.md
Labels: l10n-ko

#27864 Learn_web_development/Howto/Solve_CSS_problems/Transition_button を更新
  files/ja/learn_web_development/howto/solve_css_problems/transition_button/index.md
Labels: l10n-ja

#27872 用語の統一: 命数法、計数法→記数法
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/getnumberingsystems/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/numberingsystem/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/ja/web/javascript/reference/global_objects/number/tolocalestring/index.md
Labels: l10n-ja

#27875 MDN/Community/Community_Participation_Guidelines を新規翻訳
  files/ja/mdn/community/community_participation_guidelines/index.md
Labels: l10n-ja

#27878 [ja] Update Glossary/Slug
  files/ja/glossary/slug/index.md
Labels: l10n-ja

#27884 zh-cn: translate CSS Declaration Block topic
  files/zh-cn/web/api/css_object_model/css_declaration_block/index.md
Labels: l10n-zh

#27731 [zh-TW]: update API `MediaQueryList`
  files/zh-tw/web/api/mediaquerylist/index.md
Labels: l10n-zh

#27661 [zh-TW]: update API `FormData.get()` method
  files/zh-tw/web/api/formdata/get/index.md
Labels: l10n-zh

#27668 [zh-TW]: update Glossary "Base64"
  files/zh-tw/glossary/base64/index.md
Labels: l10n-zh

#27733 [zh-TW]: update API `Window.opener` property
  files/zh-tw/web/api/window/opener/index.md
Labels: l10n-zh

#27651 [zh-TW]: update API `GainNode`
  files/zh-tw/web/api/gainnode/index.md
Labels: l10n-zh

#27739 [zh-TW]: update HTTP Header `Content-Type`
  files/zh-tw/web/http/reference/headers/content-type/index.md
Labels: l10n-zh

#27887 Learn_web_development/Howto/Tools_and_setup/Available_text_editors 他2件を更新
  files/ja/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/ja/learn_web_development/howto/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/ja/learn_web_development/howto/tools_and_setup/what_are_browser_developer_tools/index.md
Labels: l10n-ja

#27802 [zh-TW]: update glossary "robots.txt"
  files/zh-tw/glossary/robots.txt/index.md
Labels: l10n-zh

#27947 [zh-TW]: update landing page of "JavaScript Errors"
  files/zh-tw/web/javascript/reference/errors/index.md
Labels: l10n-zh

#27902 Web/CSS/mask-clip を更新
  files/ja/web/css/mask-clip/index.md
Labels: l10n-ja

#27940 [zh-TW]: update `TypeError: null/undefined has no properties`
  files/zh-tw/web/javascript/reference/errors/no_properties/index.md
Labels: l10n-zh

#27815 [zh-cn] create translation of url path
  files/zh-cn/web/uri/reference/path/index.md
Labels: l10n-zh

#27796 [zh-TW]: update Learn web development "Angular getting started"
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
Labels: l10n-zh

#27919 Web/CSS/mask-image 他1件を更新
  files/ja/web/css/mask-image/index.md
  files/ja/web/css/mask-mode/index.md
  files/ja/web/css/mask-repeat/index.md
  files/ja/web/css/mask-size/index.md
Labels: l10n-ja

#27981 [ja] fix broken link in HTTP Cookie reference
  files/ja/web/http/guides/cookies/index.md
Labels: l10n-ja

#27949 [zh-TW]: update CSS `:first-child`
  files/zh-tw/web/css/_colon_first-child/index.md
Labels: l10n-zh

#27647 [zh-TW]: update API `XMLHttpRequest.withCredentials` property
  files/zh-tw/web/api/xmlhttprequest/withcredentials/index.md
Labels: l10n-zh

#28000 ci(workflows): use content node version
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
  .github/workflows/sync-translated-content.yml
Labels: system

#27935 Web/CSS/mask-type を更新
  files/ja/web/css/mask-type/index.md
Labels: l10n-ja

#27936 Web/CSS/mask-border を更新
  files/ja/web/css/mask-border/index.md
Labels: l10n-ja

#27938 Web/CSS/mask-border-outset 他1件を更新
  files/ja/web/css/mask-border-outset/index.md
  files/ja/web/css/mask-border-source/index.md
Labels: l10n-ja

#27963 Learn_web_development/Howto/Web_mechanics/How_does_the_Internet_work 他2件を更新
  files/ja/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
  files/ja/learn_web_development/howto/web_mechanics/index.md
  files/ja/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
Labels: l10n-ja

#27964 Learn_web_development/Howto/Web_mechanics/What_are_hyperlinks を更新
  files/ja/learn_web_development/howto/web_mechanics/what_are_hyperlinks/index.md
Labels: l10n-ja

#27994 [zh-TW]: update CSS "Color picker tool"
  files/zh-tw/web/css/css_colors/color_picker_tool/index.md
Labels: l10n-zh

#27928 zh-CN: create `ARIA/Guides`
  files/zh-cn/web/accessibility/guides/index.md
Labels: l10n-zh

#27933 [zh-TW]: update `RangeError: invalid array length`
  files/zh-tw/web/javascript/reference/errors/invalid_array_length/index.md
Labels: l10n-zh

#27965 [zh-CN]: update the translation of the promise
  files/zh-cn/web/javascript/reference/global_objects/promise/index.md
Labels: l10n-zh

#28004 Fix typo in french docs
  files/fr/web/css/_doublecolon_placeholder/index.md
Labels: l10n-fr

#27836 Grammar correction in `fr` CycleTracker page
  files/fr/web/progressive_web_apps/tutorials/cycletracker/index.md
Labels: l10n-fr

#27977 Web/API/SVGMaskElement を更新
  files/ja/web/api/svgmaskelement/index.md
Labels: l10n-ja

#27978 Web/API/SVGMaskElement/height 他5件を新規翻訳
  files/ja/web/api/svgmaskelement/height/index.md
  files/ja/web/api/svgmaskelement/maskcontentunits/index.md
  files/ja/web/api/svgmaskelement/maskunits/index.md
  files/ja/web/api/svgmaskelement/width/index.md
  files/ja/web/api/svgmaskelement/x/index.md
  files/ja/web/api/svgmaskelement/y/index.md
Labels: l10n-ja

#27990 Web/SVG/Reference/Attribute/maskUnits 他1件を新規翻訳
  files/ja/web/svg/reference/attribute/maskcontentunits/index.md
  files/ja/web/svg/reference/attribute/maskunits/index.md
Labels: l10n-ja

#27991 Web/SVG/Reference/Attribute/mask-type を新規翻訳
  files/ja/web/svg/reference/attribute/mask-type/index.md
Labels: l10n-ja

#27992 Web/CSS/fill-rule を新規翻訳
  files/ja/web/css/fill-rule/index.md
Labels: l10n-ja

#27993 Web/CSS/:has-slotted を新規翻訳
  files/ja/web/css/_colon_has-slotted/index.md
Labels: l10n-ja

#27998 Web/CSS/:future を新規翻訳
  files/ja/web/css/_colon_future/index.md
Labels: l10n-ja

#27975 web/api/EventTarget/addEventListener のタイポを修正
  files/ja/web/api/eventtarget/addeventlistener/index.md
Labels: l10n-ja

#27794 [zh-TW]: update Learn web development "Angular building"
  files/zh-tw/learn_web_development/core/frameworks_libraries/angular_building/index.md
Labels: l10n-zh

#27894 zh-cn: update the translation of the `SpeechSynthesis` interface
  files/zh-cn/web/api/speechsynthesis/index.md
Labels: l10n-zh

#28008 Learn_web_development/Extensions/Client-side_tools/Package_management を更新
  files/ja/learn_web_development/extensions/client-side_tools/package_management/index.md
Labels: l10n-ja

#27970 [zh-TW]: update CSS `border-right-color`
  files/zh-tw/web/css/border-right-color/index.md
Labels: l10n-zh

#27853 [zh-TW]: update Learn web development "A first splash"
  files/zh-tw/learn_web_development/core/scripting/a_first_splash/index.md
Labels: l10n-zh

#27906 zh-cn: translate CSSImportRule styleSheet property
  files/zh-cn/web/api/cssimportrule/stylesheet/index.md
Labels: l10n-zh

#27899 zh-cn: translate CSSImportRule supportsText
  files/zh-cn/web/api/cssimportrule/supportstext/index.md
Labels: l10n-zh

#28037 chore(zh-tw): remove `{{CSSRef}}` macros
  files/zh-tw/web/css/--_star_/index.md
  files/zh-tw/web/css/@font-face/index.md
  files/zh-tw/web/css/@media/height/index.md
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/css/_colon_first-child/index.md
  files/zh-tw/web/css/_colon_first-of-type/index.md
  files/zh-tw/web/css/_colon_lang/index.md
  files/zh-tw/web/css/_colon_target/index.md
  files/zh-tw/web/css/_doublecolon_first-letter/index.md
  files/zh-tw/web/css/animation-fill-mode/index.md
  files/zh-tw/web/css/background-attachment/index.md
  files/zh-tw/web/css/background-color/index.md
  files/zh-tw/web/css/border-bottom-color/index.md
  files/zh-tw/web/css/border-color/index.md
  files/zh-tw/web/css/border-image/index.md
  files/zh-tw/web/css/border-left-color/index.md
  files/zh-tw/web/css/border-right-color/index.md
  files/zh-tw/web/css/border-top-color/index.md
  files/zh-tw/web/css/box-shadow/index.md
  files/zh-tw/web/css/box-sizing/index.md
  files/zh-tw/web/css/clip/index.md
  files/zh-tw/web/css/css_animations/using_css_animations/index.md
  files/zh-tw/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/zh-tw/web/css/css_cascade/inheritance/index.md
  files/zh-tw/web/css/css_cascade/shorthand_properties/index.md
  files/zh-tw/web/css/css_colors/color_picker_tool/index.md
  files/zh-tw/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/zh-tw/web/css/css_flexible_box_layout/index.md
  files/zh-tw/web/css/css_fonts/index.md
  files/zh-tw/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/zh-tw/web/css/css_grid_layout/index.md
  files/zh-tw/web/css/css_images/replaced_element_properties/index.md
  files/zh-tw/web/css/css_inline_layout/index.md
  files/zh-tw/web/css/css_lists/consistent_list_indentation/index.md
  files/zh-tw/web/css/css_media_queries/testing_media_queries/index.md
  files/zh-tw/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/index.md
  files/zh-tw/web/css/css_selectors/index.md
  files/zh-tw/web/css/css_syntax/syntax/index.md
  files/zh-tw/web/css/css_transitions/using_css_transitions/index.md
  files/zh-tw/web/css/descendant_combinator/index.md
  files/zh-tw/web/css/grid-template/index.md
  files/zh-tw/web/css/height/index.md
  files/zh-tw/web/css/index.md
  files/zh-tw/web/css/pseudo-classes/index.md
  files/zh-tw/web/css/ruby-position/index.md
  files/zh-tw/web/css/transform-function/translate3d/index.md
  files/zh-tw/web/css/transform-origin/index.md
  files/zh-tw/web/css/transform/index.md
  files/zh-tw/web/css/transition-duration/index.md
  files/zh-tw/web/css/transition-timing-function/index.md
  files/zh-tw/web/css/transition/index.md
  files/zh-tw/web/css/type_selectors/index.md
  files/zh-tw/web/css/white-space/index.md
  files/zh-tw/web/css/width/index.md
Labels: l10n-zh

#27985 chore(zh-cn): sync Basic HTML Syntax with latest en-US and fix links
  files/zh-cn/learn_web_development/core/structuring_content/basic_html_syntax/index.md
Labels: l10n-zh

#27989 zh-cn: translate CSSKeyframeRule
  files/zh-cn/web/api/csskeyframerule/index.md
Labels: l10n-zh

#28046 chore(zh): remove Quick_Links sections
  files/zh-cn/web/events/creating_and_triggering_events/index.md
  files/zh-cn/web/events/event_handlers/index.md
  files/zh-cn/web/events/index.md
  files/zh-cn/web/index.md
  files/zh-cn/web/security/attacks/clickjacking/index.md
  files/zh-tw/learn_web_development/core/scripting/network_requests/index.md
  files/zh-tw/web/events/creating_and_triggering_events/index.md
  files/zh-tw/web/events/event_handlers/index.md
  files/zh-tw/web/events/index.md
  files/zh-tw/web/index.md
Labels: l10n-zh

#28027 Learn_web_development/Extensions/Client-side_tools/Introducing_complete_toolchain を更新
  files/ja/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
Labels: l10n-ja

#28028 Learn_web_development/Extensions/Client-side_tools/Deployment を更新
  files/ja/learn_web_development/extensions/client-side_tools/deployment/index.md
Labels: l10n-ja

#27882 [zh-TW]: update CSS "Descendant combinator"
  files/zh-tw/web/css/descendant_combinator/index.md
Labels: l10n-zh

#28040 zh-cn: translate CSSKeyframeRule style property
  files/zh-cn/web/api/csskeyframerule/style/index.md
Labels: l10n-zh

#28030 Mozilla/Firefox/Releases/92 を更新
  files/ja/mozilla/firefox/releases/92/index.md
Labels: l10n-ja

#28038 [zh-cn] update 'font-family'
  files/zh-cn/web/css/@font-face/font-family/index.md
  files/zh-cn/web/css/font-family/index.md
Labels: l10n-zh

#27956 [zh-TW]: update api `customevent`
  files/zh-tw/web/api/customevent/index.md
Labels: l10n-zh

#27932 [zh-TW]: update `SyntaxError: return not in function`
  files/zh-tw/web/javascript/reference/errors/bad_return/index.md
Labels: l10n-zh

#28057 [zh-cn] init translation of writingsuggestions attribute
  files/zh-cn/web/html/reference/global_attributes/writingsuggestions/index.md
Labels: l10n-zh

#27946 [zh-TW]: update `TypeError: "x" is (not) "y"`
  files/zh-tw/web/javascript/reference/errors/unexpected_type/index.md
Labels: l10n-zh

#28050 zh-cn: translate CSSLayerBlockRule
  files/zh-cn/web/api/csslayerblockrule/index.md
Labels: l10n-zh

#28034 Glossary/Base64 を更新
  files/ja/glossary/base64/index.md
Labels: l10n-ja

#28068 Update `accessibility/aria/reference/roles/link_role`: fixes or removes dead links
  files/fr/web/accessibility/aria/reference/roles/link_role/index.md
Labels: l10n-fr

#28049 Web/CSS/gradient/radial-gradient を更新
  files/ja/web/css/gradient/radial-gradient/index.md
Labels: l10n-ja

#28076 [zh-CN] Update WebGL_model_view_projection index.md to fix typo
  files/zh-cn/web/api/webgl_api/webgl_model_view_projection/index.md
Labels: l10n-zh

#27943 [zh-TW]: update `ReferenceError: "x" is not defined`
  files/zh-tw/web/javascript/reference/errors/not_defined/index.md
Labels: l10n-zh

#28039 Fix typo: '명시진' → '명시된' in Map.prototype.set()
  files/ko/web/javascript/reference/global_objects/map/set/index.md
Labels: l10n-ko

#28009 zh-cn: translate CSSKeyframeRule keyText property
  files/zh-cn/web/api/csskeyframerule/keytext/index.md
Labels: l10n-zh

#27944 [zh-TW]: update `SyntaxError: redeclaration of formal parameter "x"`
  files/zh-tw/web/javascript/reference/errors/redeclared_parameter/index.md
Labels: l10n-zh

#27983 [zh-TW]: update CSS "Using multiple backgrounds"
  files/zh-tw/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Labels: l10n-zh

#28069 [zh-cn]: fix broken links in Web Dictaphone
  files/zh-cn/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Labels: l10n-zh

#28063 Web/API/CSSRule を更新
  files/ja/web/api/cssrule/index.md
Labels: l10n-ja

#28105 [zh-cn]: translate CSSFontFaceRule
  files/zh-cn/web/api/cssfontfacerule/index.md
Labels: l10n-zh

#27968 [zh-TW]: update CSS `border-image`
  files/zh-tw/web/css/border-image/index.md
Labels: l10n-zh

#28109 [zh-cn] update 'property accessors'
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
Labels: l10n-zh

#27960 docs: `WebUSB API` 페이지 신규 번역
  files/ko/web/api/webusb_api/index.md
Labels: l10n-ko

#27950 [zh-TW]: update CSS `:first-of-type`
  files/zh-tw/web/css/_colon_first-of-type/index.md
Labels: l10n-zh

#28101 [zh-cn]: update the translation of `CSSMediaRule` introduction
  files/zh-cn/web/api/cssmediarule/index.md
Labels: l10n-zh

#27857 [zh-TW]: update Learn web development "What is JavaScript"
  files/zh-tw/learn_web_development/core/scripting/what_is_javascript/index.md
Labels: l10n-zh

#28115 [zh-cn]: translate CSSKeyframesRule
  files/zh-cn/web/api/csskeyframesrule/index.md
Labels: l10n-zh

#28077 Web/JavaScript/Reference/Global_Objects/Atomics 以下を更新・新規翻訳
  files/ja/web/javascript/reference/global_objects/atomics/add/index.md
  files/ja/web/javascript/reference/global_objects/atomics/and/index.md
  files/ja/web/javascript/reference/global_objects/atomics/compareexchange/index.md
  files/ja/web/javascript/reference/global_objects/atomics/exchange/index.md
  files/ja/web/javascript/reference/global_objects/atomics/index.md
  files/ja/web/javascript/reference/global_objects/atomics/islockfree/index.md
  files/ja/web/javascript/reference/global_objects/atomics/load/index.md
  files/ja/web/javascript/reference/global_objects/atomics/notify/index.md
  files/ja/web/javascript/reference/global_objects/atomics/or/index.md
  files/ja/web/javascript/reference/global_objects/atomics/pause/index.md
  files/ja/web/javascript/reference/global_objects/atomics/store/index.md
  files/ja/web/javascript/reference/global_objects/atomics/sub/index.md
  files/ja/web/javascript/reference/global_objects/atomics/wait/index.md
  files/ja/web/javascript/reference/global_objects/atomics/waitasync/index.md
  files/ja/web/javascript/reference/global_objects/atomics/xor/index.md
Labels: l10n-ja

#28078 Web/HTML/Reference/Elements/meta 以下を更新
  files/ja/web/html/reference/elements/meta/http-equiv/index.md
  files/ja/web/html/reference/elements/meta/index.md
  files/ja/web/html/reference/elements/meta/name/color-scheme/index.md
  files/ja/web/html/reference/elements/meta/name/index.md
  files/ja/web/html/reference/elements/meta/name/referrer/index.md
  files/ja/web/html/reference/elements/meta/name/robots/index.md
  files/ja/web/html/reference/elements/meta/name/theme-color/index.md
  files/ja/web/html/reference/elements/meta/name/viewport/index.md
Labels: l10n-ja

#28081 Web/Progressive_web_apps/Manifest/Reference 他7件を更新
  files/ja/web/progressive_web_apps/manifest/reference/categories/index.md
  files/ja/web/progressive_web_apps/manifest/reference/description/index.md
  files/ja/web/progressive_web_apps/manifest/reference/id/index.md
  files/ja/web/progressive_web_apps/manifest/reference/index.md
  files/ja/web/progressive_web_apps/manifest/reference/name/index.md
  files/ja/web/progressive_web_apps/manifest/reference/prefer_related_applications/index.md
  files/ja/web/progressive_web_apps/manifest/reference/share_target/index.md
  files/ja/web/progressive_web_apps/manifest/reference/short_name/index.md
Labels: l10n-ja

#28083 Web/Progressive_web_apps/Manifest/Reference/file_handlers を更新
  files/ja/web/progressive_web_apps/manifest/reference/file_handlers/index.md
Labels: l10n-ja

#28084 Web/Progressive_web_apps/Manifest/Reference/launch_handler を更新
  files/ja/web/progressive_web_apps/manifest/reference/launch_handler/index.md
Labels: l10n-ja

#28085 Web/Progressive_web_apps/Manifest/Reference/scope_extensions を更新
  files/ja/web/progressive_web_apps/manifest/reference/scope_extensions/index.md
Labels: l10n-ja

#28088 sourceCommit および記事の一部の修正
  files/ja/learn_web_development/extensions/forms/customizable_select/index.md
Labels: l10n-ja

#28092 Web/Accessibility/Guides/Mobile_accessibility_checklist を更新
  files/ja/web/accessibility/guides/mobile_accessibility_checklist/index.md
Labels: l10n-ja

#28079 meta/name 以下へのリンクの修正
  files/ja/web/api/htmlmetaelement/content/index.md
  files/ja/web/api/htmlmetaelement/index.md
  files/ja/web/api/htmlmetaelement/media/index.md
  files/ja/web/api/htmlmetaelement/name/index.md
Labels: l10n-ja

#28118 [zh-cn] [ja] fix typo “Docuemnt”
  files/ja/web/http/guides/mime_types/common_types/index.md
  files/zh-cn/web/api/document/createrange/index.md
Labels: l10n-ja, l10n-zh

#28087 zh-cn: update the translation of "Commonly used macros"
  files/zh-cn/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Labels: l10n-zh

#28104 Learn_web_development/Core/Styling_basics/Advanced_styling_effects を更新
  files/ja/learn_web_development/core/styling_basics/advanced_styling_effects/index.md
Labels: l10n-ja

#28107 Ink_API の記事全般を新規翻訳
  files/ja/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
  files/ja/web/api/delegatedinktrailpresenter/index.md
  files/ja/web/api/delegatedinktrailpresenter/presentationarea/index.md
  files/ja/web/api/delegatedinktrailpresenter/updateinktrailstartpoint/index.md
  files/ja/web/api/ink/index.md
  files/ja/web/api/ink/requestpresenter/index.md
  files/ja/web/api/ink_api/index.md
Labels: l10n-ja

#28108 API一覧にインクAPIを追加
  files/ja/web/api/index.md
Labels: l10n-ja

#28116 [zh-cn]: translate CSSKeyframesRule name property
  files/zh-cn/web/api/csskeyframesrule/name/index.md
Labels: l10n-zh

#28106 [zh-cn]: translate CSSFontFaceRule style property
  files/zh-cn/web/api/cssfontfacerule/style/index.md
Labels: l10n-zh

#28117 [zh-cn]: translate CSSKeyframesRule length property
  files/zh-cn/web/api/csskeyframesrule/length/index.md
Labels: l10n-zh

#28150 [ja] fix typo
  files/ja/mdn/community/roles_teams/index.md
Labels: l10n-ja

#27951 [zh-TW]: update CSS `:lang()`
  files/zh-tw/web/css/_colon_lang/index.md
Labels: l10n-zh

#27952 [zh-TW]: update CSS `animation-fill-mode`
  files/zh-tw/web/css/animation-fill-mode/index.md
Labels: l10n-zh

#27948 [zh-TW]: update CSS `@namespace`
  files/zh-tw/web/css/@namespace/index.md
Labels: l10n-zh

#27984 [zh-TW]: update CSS "Mastering margin collapsing"
  files/zh-tw/web/css/css_box_model/mastering_margin_collapsing/index.md
Labels: l10n-zh

#28151 fix:(ko): revise a translation > 'tabindex' + 'part' description.
  files/ko/web/html/reference/global_attributes/index.md
Labels: l10n-ko

#28149 [ja] fix typo
  files/ja/web/accessibility/guides/mobile_accessibility_checklist/index.md
Labels: l10n-ja

#27931 [ru] Update Russian translation for the <button> element documentation
  files/ru/web/html/reference/elements/button/index.md
Labels: l10n-ru

#28025 [ru] update of ru/web/xml/index.md translation
  files/ru/web/xml/index.md
Labels: l10n-ru

#28071 [zh-cn] update css 'position'
  files/zh-cn/web/css/position/index.md
Labels: l10n-zh

#28128 [zh-cn]: translate CSSKeyframesRule findRule method
  files/zh-cn/web/api/csskeyframesrule/findrule/index.md
Labels: l10n-zh

#28124 fix typo "まる" to "ます" in ja/docs/Learn_web_development/Core/Styling_basics/What_is_CSS
  files/ja/learn_web_development/core/styling_basics/what_is_css/index.md
Labels: l10n-ja

#28160 [zh-cn] init translation of html element td
  files/zh-cn/web/html/reference/elements/td/index.md
Labels: l10n-zh

#28126 Web/HTTP/Guides 他3件を更新
  files/ja/web/http/guides/evolution_of_http/index.md
  files/ja/web/http/guides/index.md
  files/ja/web/http/guides/overview/index.md
  files/ja/web/http/guides/session/index.md
Labels: l10n-ja

#28127 Web/HTTP/Guides/Messages を更新
  files/ja/web/http/guides/messages/http-1-connection.png
  files/ja/web/http/guides/messages/http-2-connection.png
  files/ja/web/http/guides/messages/http-message-anatomy.svg
  files/ja/web/http/guides/messages/http_response_headers2.png
  files/ja/web/http/guides/messages/index.md
  files/ja/web/http/guides/messages/request-headers.svg
  files/ja/web/http/guides/messages/response-headers.svg
Labels: l10n-ja

#28130 Web/HTTP/Guides/Authentication を更新
  files/ja/web/http/guides/authentication/index.md
Labels: l10n-ja

#28131 Web/HTTP/Guides/Cookies を更新
  files/ja/web/http/guides/cookies/index.md
Labels: l10n-ja

#28132 Web/HTTP/Guides/Compression_dictionary_transport を新規翻訳
  files/ja/web/http/guides/compression_dictionary_transport/index.md
Labels: l10n-ja

#28125 Firefox 141 for developers を翻訳
  files/ja/mozilla/firefox/releases/141/index.md
Labels: l10n-ja

#28135 [ja]: Bunのドキュメントを新規翻訳
  files/ja/glossary/bun/index.md
Labels: l10n-ja

#27986 [zh-TW]: update CSS "Inheritance"
  files/zh-tw/web/css/css_cascade/inheritance/index.md
Labels: l10n-zh

#28073 [zh-CN]: update `Descendant combinator`
  files/zh-cn/learn_web_development/core/styling_basics/combinators/index.md
Labels: l10n-zh

#28137 Web/URI/Reference/Schemes 他1件を更新
  files/ja/web/uri/reference/schemes/blob/index.md
  files/ja/web/uri/reference/schemes/index.md
Labels: l10n-ja

#28140 Web/URI/Reference/Fragment/Text_fragments 他5件を更新
  files/ja/web/uri/reference/fragment/text_fragments/index.md
  files/ja/web/uri/reference/query/index.md
  files/ja/web/uri/reference/schemes/data/index.md
  files/ja/web/uri/reference/schemes/javascript/index.md
  files/ja/web/uri/reference/schemes/resource/index.md
  files/ja/web/uri/reference/schemes/urn/index.md
Labels: l10n-ja
