Repository mdn/translated-content, pull requests merged in 2025-04, with the labels that each got.

#26637 [zh-CN]: Add translation for View Transition API
  files/zh-cn/web/api/view_transition_api/index.md
  files/zh-cn/web/api/view_transition_api/using/index.md
Labels: l10n-zh

#26434 [zh-TW]: update `Array.prototype.copyWithin()`
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Labels: l10n-zh

#26655 zh-CN: create `webRequest.MAX_HANDLER_BEHAVIOR_CHANGED_CALLS_PER_10_MINUTES`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/max_handler_behavior_changed_calls_per_10_minutes/index.md
Labels: l10n-zh

#26589 [ko] in 연산자 예제 수정
  files/ko/web/javascript/reference/operators/in/index.md
Labels: l10n-ko

#26664 [ja] fix(typo): インラインコードブロックとして正しく扱われるように修正
  files/ja/web/html/global_attributes/hidden/index.md
Labels: l10n-ja

#26313 zh-CN: update `windows.create()`
  files/zh-cn/mozilla/add-ons/webextensions/api/windows/create/index.md
Labels: l10n-zh

#26376 zh-CN: create `webRequest.StreamFilter.disconnect()`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/disconnect/index.md
Labels: l10n-zh

#26616 Web/SVG 以下の目次ページを更新・新規翻訳
  files/ja/web/svg/guides/index.md
  files/ja/web/svg/guides/linking/index.md
  files/ja/web/svg/index.md
  files/ja/web/svg/reference/index.md
  files/ja/web/svg/tutorials/index.md
Labels: l10n-ja

#26622 Web/API/SVGTextContentElement 及びそのプロパティの記事を翻訳
  files/ja/web/api/svgtextcontentelement/index.md
  files/ja/web/api/svgtextcontentelement/lengthadjust/index.md
  files/ja/web/api/svgtextcontentelement/textlength/index.md
Labels: l10n-ja

#26623 Web/API/SVGTextContentElement のメソッドの記事を新規翻訳
  files/ja/web/api/svgtextcontentelement/getcharnumatposition/index.md
  files/ja/web/api/svgtextcontentelement/getcomputedtextlength/index.md
  files/ja/web/api/svgtextcontentelement/getendpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getextentofchar/index.md
  files/ja/web/api/svgtextcontentelement/getnumberofchars/index.md
  files/ja/web/api/svgtextcontentelement/getrotationofchar/index.md
  files/ja/web/api/svgtextcontentelement/getstartpositionofchar/index.md
  files/ja/web/api/svgtextcontentelement/getsubstringlength/index.md
Labels: l10n-ja

#26624 aria-valuenow と aria-valuetext を翻訳
  files/ja/web/accessibility/aria/reference/attributes/aria-valuenow/index.md
  files/ja/web/accessibility/aria/reference/attributes/aria-valuetext/index.md
Labels: l10n-ja

#26625 aria-requiredを翻訳
  files/ja/web/accessibility/aria/reference/attributes/aria-required/index.md
Labels: l10n-ja

#26668 [ko] gloassry bun 신규 번역
  files/ko/glossary/bun/index.md
Labels: l10n-ko

#26603 [zh-cn]: migrate remaining interactive examples
  files/zh-cn/web/css/angle/index.md
  files/zh-cn/web/css/basic-shape/index.md
  files/zh-cn/web/css/gradient/index.md
  files/zh-cn/web/css/height/index.md
  files/zh-cn/web/css/quotes/index.md
  files/zh-cn/web/css/shape-outside/index.md
  files/zh-cn/web/css/transform-function/skew/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/zh-cn/web/javascript/reference/global_objects/object/groupby/index.md
  files/zh-cn/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-zh

#26569 [zh-cn] add translation for :user-valid
  files/zh-cn/web/css/_colon_user-valid/index.md
Labels: l10n-zh

#26677 ci(pr-review-companion): access step outputs via env vars
  .github/workflows/pr-review-companion.yml
Labels: system

#26629 Web/API/SVGPoint を更新
  files/ja/web/api/svgpoint/index.md
Labels: l10n-ja

#26630 SVGPreserveAspectRatio インターフェイスの記事を新規翻訳
  files/ja/web/api/svgpreserveaspectratio/align/index.md
  files/ja/web/api/svgpreserveaspectratio/index.md
  files/ja/web/api/svgpreserveaspectratio/meetorslice/index.md
Labels: l10n-ja

#26632 SVGNumberList インターフェイスの記事を新規翻訳
  files/ja/web/api/svgnumberlist/appenditem/index.md
  files/ja/web/api/svgnumberlist/clear/index.md
  files/ja/web/api/svgnumberlist/getitem/index.md
  files/ja/web/api/svgnumberlist/index.md
  files/ja/web/api/svgnumberlist/initialize/index.md
  files/ja/web/api/svgnumberlist/insertitembefore/index.md
  files/ja/web/api/svgnumberlist/length/index.md
  files/ja/web/api/svgnumberlist/numberofitems/index.md
  files/ja/web/api/svgnumberlist/removeitem/index.md
  files/ja/web/api/svgnumberlist/replaceitem/index.md
Labels: l10n-ja

#26634 Web/API/SVGLengthList/length を新規翻訳
  files/ja/web/api/svglengthlist/length/index.md
Labels: l10n-ja

#26635 Web/API/SVGLengthList/numberOfItems を新規翻訳
  files/ja/web/api/svglengthlist/numberofitems/index.md
Labels: l10n-ja

#26592 [ru] remove odd `conflicting/Web/API/console` translation
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/web/api/console/index.md
Labels: l10n-ru

#26636 Web/API/SVGLengthList/appendItem 他5件を新規翻訳
  files/ja/web/api/svglengthlist/appenditem/index.md
  files/ja/web/api/svglengthlist/clear/index.md
  files/ja/web/api/svglengthlist/getitem/index.md
  files/ja/web/api/svglengthlist/initialize/index.md
  files/ja/web/api/svglengthlist/removeitem/index.md
  files/ja/web/api/svglengthlist/replaceitem/index.md
Labels: l10n-ja

#26638 Web/API/SVGPointList を新規翻訳
  files/ja/web/api/svgpointlist/index.md
Labels: l10n-ja

#26639 Web/API/SVGPointList/length を新規翻訳
  files/ja/web/api/svgpointlist/length/index.md
Labels: l10n-ja

#26641 Web/API/SVGPointList/appendItem 他3件を新規翻訳
  files/ja/web/api/svgpointlist/appenditem/index.md
  files/ja/web/api/svgpointlist/initialize/index.md
  files/ja/web/api/svgpointlist/insertitembefore/index.md
  files/ja/web/api/svgpointlist/replaceitem/index.md
Labels: l10n-ja

#26644 Web/Security/Subdomain_takeovers を更新
  files/ja/web/security/subdomain_takeovers/index.md
Labels: l10n-ja

#26645 sourceCommit を修正
  files/ja/glossary/scroll_snap/index.md
  files/ja/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
Labels: l10n-ja

#26646 Web/XML/XPath を更新
  files/ja/web/xml/xpath/index.md
Labels: l10n-ja

#26652 Web/HTTP 以下のインデックスページを新規翻訳
  files/ja/web/http/guides/index.md
  files/ja/web/http/reference/index.md
Labels: l10n-ja

#26661 Web/API/SVGTransformList を新規翻訳
  files/ja/web/api/svgtransformlist/index.md
Labels: l10n-ja

#26662 Web/API/SVGTransformList 以下のプロパティ・メソッドを新規翻訳
  files/ja/web/api/svgtransformlist/appenditem/index.md
  files/ja/web/api/svgtransformlist/clear/index.md
  files/ja/web/api/svgtransformlist/consolidate/index.md
  files/ja/web/api/svgtransformlist/createsvgtransformfrommatrix/index.md
  files/ja/web/api/svgtransformlist/getitem/index.md
  files/ja/web/api/svgtransformlist/initialize/index.md
  files/ja/web/api/svgtransformlist/insertitembefore/index.md
  files/ja/web/api/svgtransformlist/length/index.md
  files/ja/web/api/svgtransformlist/numberofitems/index.md
  files/ja/web/api/svgtransformlist/removeitem/index.md
  files/ja/web/api/svgtransformlist/replaceitem/index.md
Labels: l10n-ja

#26680 chore(css): Copy embedlivesamples from en-US content
  files/zh-cn/web/css/basic-shape/circle/index.md
  files/zh-cn/web/css/basic-shape/ellipse/index.md
  files/zh-cn/web/css/css_animations/index.md
  files/zh-cn/web/css/css_backgrounds_and_borders/index.md
  files/zh-cn/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/zh-cn/web/css/css_conditional_rules/using_feature_queries/index.md
  files/zh-cn/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/zh-cn/web/css/css_inline_layout/inline_formatting_context/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/zh-cn/web/css/css_logical_properties_and_values/sizing/index.md
  files/zh-cn/web/css/css_multicol_layout/basic_concepts/index.md
  files/zh-cn/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/zh-cn/web/css/css_multicol_layout/styling_columns/index.md
  files/zh-cn/web/css/css_scroll_snap/basic_concepts/index.md
  files/zh-cn/web/css/css_scroll_snap/index.md
  files/zh-cn/web/css/css_shapes/from_box_values/index.md
  files/zh-cn/web/css/css_shapes/index.md
  files/zh-cn/web/css/css_shapes/overview_of_shapes/index.md
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
  files/zh-cn/web/css/font-variant-numeric/index.md
Labels: l10n-zh

#26382 zh-CN: create `webRequest.StreamFilter.status`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/status/index.md
Labels: l10n-zh

#26377 zh-CN: create `webRequest.StreamFilter.error`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.md
Labels: l10n-zh

#26669 Web/API/SVGAngle 以下を新規翻訳
  files/ja/web/api/svgangle/converttospecifiedunits/index.md
  files/ja/web/api/svgangle/index.md
  files/ja/web/api/svgangle/newvaluespecifiedunits/index.md
  files/ja/web/api/svgangle/unittype/index.md
  files/ja/web/api/svgangle/value/index.md
  files/ja/web/api/svgangle/valueasstring/index.md
  files/ja/web/api/svgangle/valueinspecifiedunits/index.md
Labels: l10n-ja

#26670 Web/API/SVGLength 以下を更新・新規翻訳
  files/ja/web/api/svglength/converttospecifiedunits/index.md
  files/ja/web/api/svglength/index.md
  files/ja/web/api/svglength/newvaluespecifiedunits/index.md
  files/ja/web/api/svglength/unittype/index.md
  files/ja/web/api/svglength/value/index.md
  files/ja/web/api/svglength/valueasstring/index.md
  files/ja/web/api/svglength/valueinspecifiedunits/index.md
Labels: l10n-ja

#26654 zh-CN: update `webRequest.RequestFilter`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/requestfilter/index.md
Labels: l10n-zh

#26627 [zh-CN]: Add translation for CSS View Transition module
  files/zh-cn/web/css/css_view_transitions/index.md
Labels: l10n-zh

#26705 [zh-cn] Fix a typo
  files/zh-cn/web/javascript/reference/operators/destructuring/index.md
Labels: l10n-zh

#26058 [ko] sync Web/JavaScript/Reference/Statements/while
  files/ko/web/javascript/reference/statements/while/index.md
Labels: l10n-ko

#26673 Web/API/SVGNumber/value を更新
  files/ja/web/api/svgnumber/value/index.md
Labels: l10n-ja

#26380 zh-CN: create `webRequest.StreamFilter.ondata`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/ondata/index.md
Labels: l10n-zh

#26383 zh-CN: create `webRequest.StreamFilter.onstop`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onstop/index.md
Labels: l10n-zh

#26384 zh-CN: create `webRequest.StreamFilter.resume()`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/resume/index.md
Labels: l10n-zh

#26387 zh-CN: create `webRequest.StreamFilter`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/index.md
Labels: l10n-zh

#26546 [zh-cn] translate "Third-party cookies" and "State Partitioning"
  files/zh-cn/web/privacy/guides/state_partitioning/index.md
  files/zh-cn/web/privacy/guides/third-party_cookies/index.md
Labels: l10n-zh

#26421 [zh-CN]: update the translation of "CSS values and units"
  files/zh-cn/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-zh

#26683 Web/API/SVGAnimatedAngle を新規翻訳
  files/ja/web/api/svganimatedangle/animval/index.md
  files/ja/web/api/svganimatedangle/baseval/index.md
  files/ja/web/api/svganimatedangle/index.md
Labels: l10n-ja

#26684 Web/API/SVGAnimatedBoolean を新規翻訳
  files/ja/web/api/svganimatedboolean/animval/index.md
  files/ja/web/api/svganimatedboolean/baseval/index.md
  files/ja/web/api/svganimatedboolean/index.md
Labels: l10n-ja

#26385 zh-CN: create `webRequest.StreamFilter.suspend()`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/suspend/index.md
Labels: l10n-zh

#26696 Firefox 136 for developersを更新
  files/ja/mozilla/firefox/releases/136/index.md
Labels: l10n-ja

#26386 zh-CN: create `webRequest.StreamFilter.write()`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
Labels: l10n-zh

#26686 Web/API/SVGAnimatedEnumeration を新規翻訳
  files/ja/web/api/svganimatedenumeration/index.md
Labels: l10n-ja

#26687 Web/API/SVGAnimatedEnumeration/animVal を新規翻訳
  files/ja/web/api/svganimatedenumeration/animval/index.md
Labels: l10n-ja

#26688 Web/API/SVGAnimatedEnumeration/baseVal を新規翻訳
  files/ja/web/api/svganimatedenumeration/baseval/index.md
Labels: l10n-ja

#26689 Web/API/SVGAnimatedLength を新規翻訳
  files/ja/web/api/svganimatedlength/index.md
Labels: l10n-ja

#26690 Web/API/SVGAnimatedLength/baseVal を新規翻訳
  files/ja/web/api/svganimatedlength/baseval/index.md
Labels: l10n-ja

#26691 Web/API/SVGAnimatedInteger 以下を新規翻訳
  files/ja/web/api/svganimatedinteger/animval/index.md
  files/ja/web/api/svganimatedinteger/baseval/index.md
  files/ja/web/api/svganimatedinteger/index.md
Labels: l10n-ja

#26692 Web/API/SVGAnimatedLength/animVal を新規翻訳
  files/ja/web/api/svganimatedlength/animval/index.md
Labels: l10n-ja

#26693 Web/API/SVGAnimatedNumber を新規翻訳
  files/ja/web/api/svganimatednumber/index.md
Labels: l10n-ja

#26694 Web/API/SVGAnimatedNumber のプロパティを新規翻訳
  files/ja/web/api/svganimatednumber/animval/index.md
  files/ja/web/api/svganimatednumber/baseval/index.md
Labels: l10n-ja

#26695 MDN/Writing_guidelines/Criteria_for_inclusion を更新
  files/ja/mdn/writing_guidelines/criteria_for_inclusion/index.md
Labels: l10n-ja

#26597 [es]: migrate remaining interactive examples
  files/es/web/css/gradient/index.md
  files/es/web/css/hyphens/index.md
  files/es/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/es/web/javascript/reference/global_objects/array/flat/index.md
  files/es/web/javascript/reference/global_objects/date/setmonth/index.md
  files/es/web/javascript/reference/global_objects/string/match/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-es

#26600 [ko]: migrate remaining interactive examples
  docs/ko/fully_untranslated_files/web/Web_CSS_basic-shape.md
  docs/ko/fully_untranslated_files/web/Web_CSS_box-shadow.md
  docs/ko/fully_untranslated_files/web/Web_CSS_font-family.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_area.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_audio.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_input.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_select.md
  docs/ko/fully_untranslated_files/web/Web_HTML_Element_tbody.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Global_Objects_RegExp_exec.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Operators_delete.md
  docs/ko/fully_untranslated_files/web/Web_JavaScript_Reference_Statements_trycatch.md
  files/ko/web/css/angle/index.md
  files/ko/web/css/gradient/index.md
  files/ko/web/javascript/reference/global_objects/math/pow/index.md
  files/ko/web/javascript/reference/global_objects/object/groupby/index.md
Labels: l10n-ko

#26601 [pt-br]: migrate remaining interactive examples
  files/pt-br/conflicting/web/javascript/reference/global_objects/map/index.md
  files/pt-br/web/css/position/index.md
  files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/figcaption/index.md
  files/pt-br/web/html/element/input/checkbox/index.md
  files/pt-br/web/javascript/reference/global_objects/date/settime/index.md
  files/pt-br/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/pt-br/web/javascript/reference/operators/spread_syntax/index.md
Labels: l10n-pt-br

#26598 [fr]: migrate remaining interactive examples
  files/fr/web/css/angle/index.md
  files/fr/web/css/basic-shape/index.md
  files/fr/web/css/gradient/index.md
  files/fr/web/html/global_attributes/accesskey/index.md
  files/fr/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/fr/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/fr/web/javascript/reference/global_objects/intl/segmenter/segment/segments/index.md
  files/fr/web/javascript/reference/global_objects/map/groupby/index.md
  files/fr/web/javascript/reference/global_objects/object/groupby/index.md
  files/fr/web/javascript/reference/global_objects/string/symbol.iterator/index.md
Labels: l10n-fr

#26739 es: migrate last remaining interactive example
  files/es/web/html/element/q/index.md
Labels: l10n-es

#26697 Firefox 137 for developersを翻訳
  files/ja/mozilla/firefox/releases/137/index.md
Labels: l10n-ja

#26700 MDN/Writing_guidelines/Code_style_guide を更新
  files/ja/mdn/writing_guidelines/code_style_guide/index.md
Labels: l10n-ja

#26702 Web/API/SVGAnimatedPreserveAspectRatio を新規翻訳
  files/ja/web/api/svganimatedpreserveaspectratio/index.md
Labels: l10n-ja

#26703 Web/API/SVGAnimatedPreserveAspectRatio のプロパティの記事を新規翻訳
  files/ja/web/api/svganimatedpreserveaspectratio/animval/index.md
  files/ja/web/api/svganimatedpreserveaspectratio/baseval/index.md
Labels: l10n-ja

#26706 Web/API/SVGAnimatedRect 以下を新規翻訳
  files/ja/web/api/svganimatedrect/animval/index.md
  files/ja/web/api/svganimatedrect/baseval/index.md
  files/ja/web/api/svganimatedrect/index.md
Labels: l10n-ja

#26660 zh-CN: sync Hash-related entries
  files/zh-cn/games/techniques/2d_collision_detection/index.md
  files/zh-cn/glossary/federated_identity/index.md
  files/zh-cn/glossary/hash_function/index.md
  files/zh-cn/glossary/hmac/index.md
  files/zh-cn/glossary/salt/index.md
  files/zh-cn/glossary/signature/security/index.md
  files/zh-cn/glossary/sri/index.md
  files/zh-cn/glossary/symmetric-key_cryptography/index.md
  files/zh-cn/learn_web_development/core/frameworks_libraries/svelte_getting_started/index.md
  files/zh-cn/learn_web_development/extensions/server-side/django/introduction/index.md
  files/zh-cn/web/api/crypto/index.md
  files/zh-cn/web/api/htmlanchorelement/hash/index.md
  files/zh-cn/web/api/speculation_rules_api/index.md
  files/zh-cn/web/api/subtlecrypto/digest/index.md
  files/zh-cn/web/api/web_authentication_api/index.md
  files/zh-cn/web/api/websockets_api/writing_websocket_server/index.md
  files/zh-cn/web/api/window/hashchange_event/index.md
  files/zh-cn/web/html/element/link/index.md
  files/zh-cn/web/html/global_attributes/nonce/index.md
  files/zh-cn/web/http/guides/caching/index.md
  files/zh-cn/web/http/guides/protocol_upgrade_mechanism/index.md
  files/zh-cn/web/http/reference/headers/authorization/index.md
  files/zh-cn/web/http/reference/headers/content-digest/index.md
  files/zh-cn/web/http/reference/headers/content-security-policy/index.md
  files/zh-cn/web/http/reference/headers/etag/index.md
  files/zh-cn/web/http/reference/headers/www-authenticate/index.md
  files/zh-cn/web/javascript/guide/data_structures/index.md
  files/zh-cn/web/javascript/guide/language_overview/index.md
  files/zh-cn/web/javascript/guide/modules/index.md
  files/zh-cn/web/javascript/reference/global_objects/function/name/index.md
  files/zh-cn/web/javascript/reference/global_objects/map/index.md
  files/zh-cn/web/javascript/reference/global_objects/set/index.md
  files/zh-cn/web/javascript/reference/operators/property_accessors/index.md
  files/zh-cn/web/security/certificate_transparency/index.md
  files/zh-cn/web/security/index.md
  files/zh-cn/web/security/subresource_integrity/index.md
  files/zh-cn/web/security/weak_signature_algorithm/index.md
  files/zh-cn/web/uri/reference/fragment/text_fragments/index.md
Labels: l10n-zh

#26743 ru: remove interactive-examples references
  files/ru/web/css/background-repeat/index.md
  files/ru/web/css/background/index.md
  files/ru/web/javascript/reference/global_objects/function/name/index.md
Labels: l10n-ru

#26737 chore(css): Copy embedlivesamples from en-US content [zh-cn]
  files/zh-cn/learn_web_development/core/css_layout/grid_skills/index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
  files/zh-cn/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/zh-cn/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/zh-cn/learn_web_development/core/styling_basics/box_model/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/zh-cn/learn_web_development/core/styling_basics/combinators/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/overflow/index.md
  files/zh-cn/learn_web_development/core/styling_basics/sizing/index.md
  files/zh-cn/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
Labels: l10n-zh

#26755 Rename `.front-matter-config.json`
  .front-matter-config.json
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check-lint_content.yml
Labels: system

#26754 Lefthook nits
  .github/labeler.yml
  .github/workflows/auto-cleanup-bot.yml
  .lefthook.yml
Labels: system

#26763 chore(l10n-zh): clean accessment links
  files/zh-cn/learn_web_development/core/accessibility/accessibility_troubleshooting/index.md
  files/zh-cn/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
  files/zh-cn/learn_web_development/core/css_layout/grid_skills/index.md
  files/zh-cn/learn_web_development/core/css_layout/position_skills/index.md
  files/zh-cn/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-cn/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__conditionals/index.md
  files/zh-cn/learn_web_development/core/scripting/test_your_skills_colon__loops/index.md
  files/zh-cn/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-cn/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
  files/zh-cn/learn_web_development/core/structuring_content/planet_data_table/index.md
  files/zh-cn/learn_web_development/core/structuring_content/structuring_a_page_of_content/index.md
  files/zh-cn/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/zh-cn/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
  files/zh-cn/learn_web_development/core/styling_basics/images_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/zh-cn/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/zh-cn/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/zh-cn/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
  files/zh-cn/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
  files/zh-cn/learn_web_development/extensions/async_js/sequencing_animations/index.md
  files/zh-tw/learn_web_development/core/scripting/image_gallery/index.md
  files/zh-tw/learn_web_development/core/scripting/silly_story_generator/index.md
  files/zh-tw/learn_web_development/core/scripting/what_went_wrong/index.md
  files/zh-tw/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
Labels: l10n-zh

#26708 Web/API/SVGAnimatedString を新規翻訳
  files/ja/web/api/svganimatedstring/index.md
Labels: l10n-ja

#26711 Web/API/SVGAnimatedLengthList 以下を新規翻訳
  files/ja/web/api/svganimatedlengthlist/animval/index.md
  files/ja/web/api/svganimatedlengthlist/baseval/index.md
  files/ja/web/api/svganimatedlengthlist/index.md
Labels: l10n-ja

#26712 Web/API/SVGAnimatedNumberList 以下を新規翻訳
  files/ja/web/api/svganimatednumberlist/animval/index.md
  files/ja/web/api/svganimatednumberlist/baseval/index.md
  files/ja/web/api/svganimatednumberlist/index.md
Labels: l10n-ja

#26713 Web/API/SVGAnimatedTransformList 以下の記事を新規翻訳
  files/ja/web/api/svganimatedtransformlist/animval/index.md
  files/ja/web/api/svganimatedtransformlist/baseval/index.md
  files/ja/web/api/svganimatedtransformlist/index.md
Labels: l10n-ja

#26716 Web/SVG/Reference/Attribute/d*-f* を更新
  files/ja/web/svg/reference/attribute/d/index.md
  files/ja/web/svg/reference/attribute/display/index.md
  files/ja/web/svg/reference/attribute/dominant-baseline/index.md
  files/ja/web/svg/reference/attribute/dx/index.md
  files/ja/web/svg/reference/attribute/dy/index.md
  files/ja/web/svg/reference/attribute/end/index.md
  files/ja/web/svg/reference/attribute/fill-opacity/index.md
  files/ja/web/svg/reference/attribute/fill-rule/index.md
  files/ja/web/svg/reference/attribute/fill/index.md
  files/ja/web/svg/reference/attribute/filter/index.md
  files/ja/web/svg/reference/attribute/filterunits/index.md
  files/ja/web/svg/reference/attribute/font-size/index.md
Labels: l10n-ja

#26770 Fix an erroneous redirect
  files/zh-cn/_redirects.txt
Labels: l10n-zh

#26764 [zh-cn]: update the translation of `Math.SQRT2`
  files/zh-cn/web/javascript/reference/global_objects/math/sqrt2/index.md
Labels: l10n-zh

#26653 zh-CN: create `webRequest.handlerBehaviorChanged()`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
Labels: l10n-zh

#26658 zh-CN: create `webRequest.BlockingResponse`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
Labels: l10n-zh

#26728 [zh-cn] update 'drawing graphics'
  files/zh-cn/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Labels: l10n-zh

#26765 [zh-cn]: update the translation of HTTP `102` Status
  files/zh-cn/web/http/reference/status/102/index.md
Labels: l10n-zh

#26719 Web/CSS/d を新規翻訳
  files/ja/web/css/d/index.md
Labels: l10n-ja

#26722 Web/SVG/Reference/Attribute/s* を更新
  files/ja/web/svg/reference/attribute/scale/index.md
  files/ja/web/svg/reference/attribute/stop-color/index.md
  files/ja/web/svg/reference/attribute/stroke-dasharray/index.md
  files/ja/web/svg/reference/attribute/stroke-dashoffset/index.md
  files/ja/web/svg/reference/attribute/stroke-linecap/index.md
  files/ja/web/svg/reference/attribute/stroke-linejoin/index.md
  files/ja/web/svg/reference/attribute/stroke-miterlimit/index.md
  files/ja/web/svg/reference/attribute/stroke-width/index.md
  files/ja/web/svg/reference/attribute/stroke/index.md
Labels: l10n-ja

#26749 [ru] update `Glossary/Safe/HTTP` translation
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/glossary/safe/http/index.md
  files/ru/glossary/safe/index.md
Labels: l10n-ru

#26628 [es]: Agrega traducción de files/en-us/learn_web_development/getting_started/soft_skills/workflows_and_processes
  files/es/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
Labels: l10n-es

#26678 Fixed misspelled words index.md
  files/es/glossary/crud/index.md
Labels: l10n-es

#26740 es: remove interactive-examples references
  files/es/web/css/background-repeat/index.md
  files/es/web/css/filter-function/brightness/index.md
  files/es/web/css/float/index.md
  files/es/web/css/grid-auto-columns/index.md
  files/es/web/css/overflow-y/index.md
  files/es/web/css/position/index.md
  files/es/web/css/transition-duration/index.md
  files/es/web/html/element/datalist/index.md
  files/es/web/html/element/dd/index.md
  files/es/web/html/element/dl/index.md
  files/es/web/html/element/dt/index.md
  files/es/web/html/element/input/text/index.md
  files/es/web/html/element/object/index.md
  files/es/web/html/element/progress/index.md
  files/es/web/html/element/samp/index.md
  files/es/web/html/element/source/index.md
  files/es/web/html/element/time/index.md
  files/es/web/javascript/reference/classes/constructor/index.md
  files/es/web/javascript/reference/functions/default_parameters/index.md
  files/es/web/javascript/reference/functions/rest_parameters/index.md
  files/es/web/javascript/reference/global_objects/array/flatmap/index.md
  files/es/web/javascript/reference/global_objects/array/slice/index.md
  files/es/web/javascript/reference/global_objects/array/sort/index.md
  files/es/web/javascript/reference/global_objects/boolean/boolean/index.md
  files/es/web/javascript/reference/global_objects/date/tojson/index.md
  files/es/web/javascript/reference/global_objects/function/function/index.md
  files/es/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/es/web/javascript/reference/global_objects/intl/relativetimeformat/index.md
  files/es/web/javascript/reference/global_objects/math/atan/index.md
  files/es/web/javascript/reference/global_objects/math/cos/index.md
  files/es/web/javascript/reference/global_objects/math/tan/index.md
  files/es/web/javascript/reference/global_objects/number/max_safe_integer/index.md
  files/es/web/javascript/reference/global_objects/object/freeze/index.md
  files/es/web/javascript/reference/global_objects/promise/resolve/index.md
  files/es/web/javascript/reference/global_objects/regexp/regexp/index.md
  files/es/web/javascript/reference/global_objects/set/entries/index.md
  files/es/web/javascript/reference/global_objects/set/symbol.iterator/index.md
  files/es/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/es/web/javascript/reference/global_objects/typedarray/index.md
  files/es/web/javascript/reference/operators/addition/index.md
  files/es/web/javascript/reference/operators/function_star_/index.md
  files/es/web/javascript/reference/operators/remainder/index.md
  files/es/web/javascript/reference/operators/spread_syntax/index.md
  files/es/web/javascript/reference/statements/async_function/index.md
  files/es/web/javascript/reference/statements/for-await...of/index.md
  files/es/web/javascript/reference/statements/for...in/index.md
Labels: l10n-es

#26731 Web/Progressive_web_apps/How_to を更新
  files/ja/web/progressive_web_apps/how_to/index.md
Labels: l10n-ja

#26732 Web/Progressive_web_apps/How_to/Associate_files_with_your_PWA を更新
  files/ja/web/progressive_web_apps/how_to/associate_files_with_your_pwa/index.md
Labels: l10n-ja

#26794 [ko]: fix link reference in isNaN documentation
  files/ko/web/javascript/reference/global_objects/isnan/index.md
Labels: l10n-ko

#26734 Web/API/HTMLElement/autocorrect を更新
  files/ja/web/api/htmlelement/autocorrect/index.md
Labels: l10n-ja

#26735 Web/API/HTMLElement を更新
  files/ja/web/api/htmlelement/index.md
Labels: l10n-ja

#26741 ja: remove interactive-examples references
  files/ja/web/css/background-position-x/index.md
  files/ja/web/css/background-position-y/index.md
  files/ja/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/ja/web/javascript/reference/global_objects/intl/collator/compare/index.md
  files/ja/web/javascript/reference/global_objects/intl/collator/index.md
  files/ja/web/javascript/reference/global_objects/intl/collator/resolvedoptions/index.md
  files/ja/web/javascript/reference/global_objects/intl/collator/supportedlocalesof/index.md
  files/ja/web/javascript/reference/global_objects/intl/displaynames/of/index.md
  files/ja/web/javascript/reference/global_objects/intl/listformat/format/index.md
  files/ja/web/javascript/reference/global_objects/intl/listformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/index.md
  files/ja/web/javascript/reference/global_objects/intl/locale/tostring/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/format/index.md
  files/ja/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: l10n-ja

#26746 Web/JavaScript/Reference/Lexical_grammar を更新
  files/ja/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-ja

#26747 fix #26674
  files/ja/web/api/web_components/using_custom_elements/index.md
Labels: l10n-ja

#26748 リンクフラグメントの更新
  files/ja/learn_web_development/core/scripting/variables/index.md
  files/ja/mozilla/firefox/releases/26/index.md
  files/ja/mozilla/firefox/releases/40/index.md
  files/ja/mozilla/firefox/releases/52/index.md
  files/ja/mozilla/firefox/releases/62/index.md
  files/ja/mozilla/firefox/releases/67/index.md
  files/ja/mozilla/firefox/releases/70/index.md
Labels: l10n-ja

#26750 Web/JavaScript/Reference/Errors/Unexpected_token を更新
  files/ja/web/javascript/reference/errors/unexpected_token/index.md
Labels: l10n-ja

#26751 Web/Accessibility/ARIA/Reference/Roles/search_role を更新
  files/ja/web/accessibility/aria/reference/roles/search_role/index.md
Labels: l10n-ja

#26752 Web/API/HTMLMediaElement を更新
  files/ja/web/api/htmlmediaelement/index.md
Labels: l10n-ja

#26753 Web/API/HTMLMediaElement/srcObject を更新
  files/ja/web/api/htmlmediaelement/srcobject/index.md
Labels: l10n-ja

#26799 zh-cn: add new page for webassembly reference
  files/zh-cn/webassembly/reference/index.md
Labels: l10n-zh

#26767 Web/API/WebGL_API/Tutorial/Using_textures_in_WebGL を更新
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: l10n-ja

#26768 [ja]: update Math
  files/ja/web/javascript/reference/global_objects/math/index.md
Labels: l10n-ja

#26769 Web/XML/XSLT/Reference 以下を更新・新規翻訳
  files/ja/web/xml/xslt/reference/element/apply-imports/index.md
  files/ja/web/xml/xslt/reference/element/apply-templates/index.md
  files/ja/web/xml/xslt/reference/element/attribute-set/index.md
  files/ja/web/xml/xslt/reference/element/attribute/index.md
  files/ja/web/xml/xslt/reference/element/call-template/index.md
  files/ja/web/xml/xslt/reference/element/choose/index.md
  files/ja/web/xml/xslt/reference/element/comment/index.md
  files/ja/web/xml/xslt/reference/element/copy-of/index.md
  files/ja/web/xml/xslt/reference/element/copy/index.md
  files/ja/web/xml/xslt/reference/element/decimal-format/index.md
  files/ja/web/xml/xslt/reference/element/element/index.md
  files/ja/web/xml/xslt/reference/element/fallback/index.md
  files/ja/web/xml/xslt/reference/element/for-each/index.md
  files/ja/web/xml/xslt/reference/element/if/index.md
  files/ja/web/xml/xslt/reference/element/import/index.md
  files/ja/web/xml/xslt/reference/element/include/index.md
  files/ja/web/xml/xslt/reference/element/index.md
  files/ja/web/xml/xslt/reference/element/key/index.md
  files/ja/web/xml/xslt/reference/element/message/index.md
  files/ja/web/xml/xslt/reference/element/namespace-alias/index.md
  files/ja/web/xml/xslt/reference/element/number/index.md
  files/ja/web/xml/xslt/reference/element/otherwise/index.md
  files/ja/web/xml/xslt/reference/element/output/index.md
  files/ja/web/xml/xslt/reference/element/param/index.md
  files/ja/web/xml/xslt/reference/element/preserve-space/index.md
  files/ja/web/xml/xslt/reference/element/processing-instruction/index.md
  files/ja/web/xml/xslt/reference/element/sort/index.md
  files/ja/web/xml/xslt/reference/element/strip-space/index.md
  files/ja/web/xml/xslt/reference/element/stylesheet/index.md
  files/ja/web/xml/xslt/reference/element/template/index.md
  files/ja/web/xml/xslt/reference/element/text/index.md
  files/ja/web/xml/xslt/reference/element/transform/index.md
  files/ja/web/xml/xslt/reference/element/value-of/index.md
  files/ja/web/xml/xslt/reference/element/variable/index.md
  files/ja/web/xml/xslt/reference/element/when/index.md
  files/ja/web/xml/xslt/reference/element/with-param/index.md
  files/ja/web/xml/xslt/reference/index.md
Labels: l10n-ja

#26766 [zh-cn]: update the translation of DocumentFragment `querySelectorAll()` method
  files/zh-cn/web/api/documentfragment/queryselectorall/index.md
Labels: l10n-zh

#26676 zh-CN: update "Using server-sent events"
  files/zh-cn/web/api/server-sent_events/using_server-sent_events/index.md
Labels: l10n-zh

#26591 [zh-cn] translate "Firefox tracking protection"
  files/zh-cn/web/privacy/guides/firefox_tracking_protection/index.md
Labels: l10n-zh

#26798 zh-cn: update the translation of webassembly index
  files/zh-cn/webassembly/index.md
Labels: l10n-zh

#26778 [zh-cn]: update the translation of `DOMParser` introduction
  files/zh-cn/web/api/domparser/index.md
Labels: l10n-zh

#26779 Web/XML/XPath/Reference 直下の記事を更新
  files/ja/web/xml/xpath/reference/axes/index.md
  files/ja/web/xml/xpath/reference/functions/index.md
Labels: l10n-ja

#26781 Web/XML/XPath/Reference/Functions/n*-r* の記事を更新
  files/ja/web/xml/xpath/reference/functions/name/index.md
  files/ja/web/xml/xpath/reference/functions/namespace-uri/index.md
  files/ja/web/xml/xpath/reference/functions/normalize-space/index.md
  files/ja/web/xml/xpath/reference/functions/not/index.md
  files/ja/web/xml/xpath/reference/functions/number/index.md
  files/ja/web/xml/xpath/reference/functions/position/index.md
  files/ja/web/xml/xpath/reference/functions/round/index.md
Labels: l10n-ja

#26783 Web/XML/XPath/Reference/Functions/s*-u* の記事を更新
  files/ja/web/xml/xpath/reference/functions/starts-with/index.md
  files/ja/web/xml/xpath/reference/functions/string-length/index.md
  files/ja/web/xml/xpath/reference/functions/string/index.md
  files/ja/web/xml/xpath/reference/functions/substring-after/index.md
  files/ja/web/xml/xpath/reference/functions/substring-before/index.md
  files/ja/web/xml/xpath/reference/functions/substring/index.md
  files/ja/web/xml/xpath/reference/functions/sum/index.md
  files/ja/web/xml/xpath/reference/functions/system-property/index.md
  files/ja/web/xml/xpath/reference/functions/translate/index.md
  files/ja/web/xml/xpath/reference/functions/true/index.md
  files/ja/web/xml/xpath/reference/functions/unparsed-entity-url/index.md
Labels: l10n-ja

#26791 Web/HTML 以下のランディングページを整備
  files/ja/web/html/guides/index.md
  files/ja/web/html/how_to/index.md
  files/ja/web/html/index.md
  files/ja/web/html/reference/index.md
Labels: l10n-ja

#26659 zh-CN: create `webRequest.CertificateInfo`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Labels: l10n-zh

#25527 [zh-tw] Global attributes class
  files/zh-tw/web/html/reference/global_attributes/class/index.md
Labels: l10n-zh

#26828 zh-cn: add new page for br instruction
  files/zh-cn/webassembly/reference/control_flow/br/index.md
Labels: l10n-zh

#26827 zh-cn: add new page for block instruction
  files/zh-cn/webassembly/reference/control_flow/block/index.md
Labels: l10n-zh

#26829 zh-cn: add new page for call instruction
  files/zh-cn/webassembly/reference/control_flow/call/index.md
Labels: l10n-zh

#26826 zh-cn: add new page for control flow of Web assembly
  files/zh-cn/webassembly/reference/control_flow/index.md
Labels: l10n-zh

#26858 zh-cn: add new page for select instruction
  files/zh-cn/webassembly/reference/control_flow/select/index.md
Labels: l10n-zh

#26818 zh-CN: create `webRequest.ResourceType`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/resourcetype/index.md
Labels: l10n-zh

#26437 [zh-TW]: update `Array.prototype.filter()`
  files/zh-tw/web/javascript/reference/global_objects/array/filter/index.md
Labels: l10n-zh

#26796 Web/HTML/Reference/Elements/script/type/importmap を更新
  files/ja/web/html/reference/elements/script/type/importmap/index.md
Labels: l10n-ja

#26801 Web/HTML/Reference/Elements/script/type/speculationrules を更新
  files/ja/web/html/reference/elements/script/type/speculationrules/index.md
Labels: l10n-ja

#26820 グローバル関数へのリンクを Window 以下に移動
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/ja/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/ja/mozilla/firefox/releases/50/index.md
  files/ja/mozilla/firefox/releases/51/index.md
  files/ja/mozilla/firefox/releases/55/index.md
  files/ja/mozilla/firefox/releases/56/index.md
  files/ja/web/api/canvas_api/tutorial/basic_animations/index.md
  files/ja/web/api/canvas_api/tutorial/basic_usage/index.md
  files/ja/web/api/document/scroll_event/index.md
  files/ja/web/api/html_dom_api/microtask_guide/index.md
  files/ja/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/ja/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/ja/web/api/notifications_api/using_the_notifications_api/index.md
  files/ja/web/api/page_visibility_api/index.md
  files/ja/web/api/performance/measureuseragentspecificmemory/index.md
  files/ja/web/api/popover_api/using/index.md
  files/ja/web/api/sharedworkerglobalscope/index.md
  files/ja/web/api/streams_api/using_readable_streams/index.md
  files/ja/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/ja/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/ja/web/api/web_workers_api/index.md
  files/ja/web/api/web_workers_api/using_web_workers/index.md
  files/ja/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
  files/ja/web/api/window/index.md
  files/ja/web/api/window/popstate_event/index.md
  files/ja/web/api/workerglobalscope/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src/index.md
  files/ja/web/performance/guides/fundamentals/index.md
Labels: l10n-ja

#26821 用語の修正: 混合コンテンツ→混在コンテンツ
  files/ja/mozilla/firefox/experimental_features/index.md
  files/ja/web/accessibility/aria/reference/roles/img_role/index.md
  files/ja/web/http/reference/headers/content-security-policy/block-all-mixed-content/index.md
  files/ja/web/http/reference/headers/content-security-policy/upgrade-insecure-requests/index.md
Labels: l10n-ja

#26823 Web/HTTP/Reference/Headers/Content-Security-Policy 以下を更新 2
  files/ja/web/http/reference/headers/content-security-policy/default-src/index.md
Labels: l10n-ja

#26822 Web/HTTP/Reference/Headers/Content-Security-Policy 以下の記事を更新 1
  files/ja/web/http/reference/headers/content-security-policy/base-uri/index.md
  files/ja/web/http/reference/headers/content-security-policy/block-all-mixed-content/index.md
  files/ja/web/http/reference/headers/content-security-policy/child-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/font-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/form-action/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-ancestors/index.md
  files/ja/web/http/reference/headers/content-security-policy/frame-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/img-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/manifest-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/media-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/object-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/prefetch-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/report-to/index.md
  files/ja/web/http/reference/headers/content-security-policy/report-uri/index.md
  files/ja/web/http/reference/headers/content-security-policy/require-trusted-types-for/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src-attr/index.md
  files/ja/web/http/reference/headers/content-security-policy/script-src-elem/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src-attr/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src-elem/index.md
  files/ja/web/http/reference/headers/content-security-policy/style-src/index.md
  files/ja/web/http/reference/headers/content-security-policy/trusted-types/index.md
  files/ja/web/http/reference/headers/content-security-policy/upgrade-insecure-requests/index.md
  files/ja/web/http/reference/headers/content-security-policy/worker-src/index.md
Labels: l10n-ja

#26742 pt-br: remove interactive-examples references
  files/pt-br/web/javascript/reference/global_objects/intl/collator/index.md
  files/pt-br/web/javascript/reference/global_objects/intl/listformat/index.md
  files/pt-br/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/pt-br/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/pt-br/web/javascript/reference/statements/for/index.md
Labels: l10n-pt-br

#26435 [zh-TW]: update `Array.prototype.entries()`
  files/zh-tw/web/javascript/reference/global_objects/array/entries/index.md
Labels: l10n-zh

#26427 [zh-TW]: update HTTP Status `307`
  files/zh-tw/web/http/reference/status/307/index.md
Labels: l10n-zh

#26868 [zh-cn]: update the translation of DOMParser `DOMParser()` constructor
  files/zh-cn/web/api/domparser/domparser/index.md
Labels: l10n-zh

#26831 zh-cn: add new page for drop instruction
  files/zh-cn/webassembly/reference/control_flow/drop/index.md
Labels: l10n-zh

#26808 zh-CN: create `webRequest.HttpHeaders`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/httpheaders/index.md
Labels: l10n-zh

#26418 [zh-TW]: update HTTP Status `401`
  files/zh-tw/web/http/reference/status/401/index.md
Labels: l10n-zh

#26837 zh-cn: add new page for end instruction
  files/zh-cn/webassembly/reference/control_flow/end/index.md
Labels: l10n-zh

#26881 I removed an "is" whitch do not exist in french
  files/fr/web/javascript/reference/global_objects/array/includes/index.md
Labels: l10n-fr

#26833 Web/JavaScript/Reference/Global_Objects/Function/bind を更新
  files/ja/web/javascript/reference/global_objects/function/bind/index.md
Labels: l10n-ja

#26846 Web/HTTP/Guides/CORS/Errors 他1件を更新
  files/ja/web/http/guides/cors/errors/corsmissingalloworigin/index.md
  files/ja/web/http/guides/cors/errors/index.md
Labels: l10n-ja

#26849 Web/HTTP/Reference/Headers/User-Agent/Firefox を更新
  files/ja/web/http/reference/headers/user-agent/firefox/index.md
Labels: l10n-ja

#26876 Web/HTTP/Guides/Permissions_Policy 他1件を更新
  files/ja/web/http/guides/permissions_policy/index.md
  files/ja/web/http/reference/headers/permissions-policy/autoplay/index.md
Labels: l10n-ja
