Repository mdn/translated-content, pull requests merged in 2025-01, with the labels that each got.

#25238 [zh-TW]: update OpenSearch
  files/zh-tw/web/opensearch/index.md
Labels: l10n-zh

#25291 zh-CN: update examples in `sidebarAction/browserAction.setIcon()`
  files/zh-cn/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/sidebaraction/seticon/index.md
Labels: l10n-zh

#25299 [zh-CN]: add translation for `NavigationHistoryEntry`
  files/zh-cn/web/api/navigationhistoryentry/index.md
Labels: l10n-zh

#25216 [zh-cn]: update the translation of DeviceOrientationEvent `beta` property
  files/zh-cn/web/api/deviceorientationevent/beta/index.md
Labels: l10n-zh

#25263 [zh-TW]: update CSS/@font-face
  files/zh-tw/web/css/@font-face/index.md
Labels: l10n-zh

#25259 [ko] fix: 리소스 오타 수정
  files/ko/web/security/same-origin_policy/index.md
Labels: l10n-ko

#25305 [zh-cn]: improve the translation of the term "unscopable"
  docs/zh-cn/glossary.md
  files/zh-cn/web/api/element/append/index.md
  files/zh-cn/web/api/element/replacewith/index.md
  files/zh-cn/web/javascript/reference/global_objects/array/symbol.unscopables/index.md
Labels: l10n-zh

#25243 ja: 更新: ページの作成、移動、削除、編集方法
  files/ja/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: l10n-ja

#24923 [ja]: translate SDK documentation
  files/ja/glossary/sdk/index.md
Labels: l10n-ja

#25248 Learn_web_development/Core/Styling_basics 以下の19件のファイルを更新
  files/ja/learn_web_development/core/styling_basics/advanced_styling_effects/index.md
  files/ja/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/ja/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/ja/learn_web_development/core/styling_basics/box_model/index.md
  files/ja/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/ja/learn_web_development/core/styling_basics/combinators/index.md
  files/ja/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/ja/learn_web_development/core/styling_basics/debugging_css/index.md
  files/ja/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/ja/learn_web_development/core/styling_basics/fundamental_css_comprehension/index.md
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ja/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/ja/learn_web_development/core/styling_basics/organizing/index.md
  files/ja/learn_web_development/core/styling_basics/overflow/index.md
  files/ja/learn_web_development/core/styling_basics/pseudo_classes_and_elements/index.md
  files/ja/learn_web_development/core/styling_basics/sizing/index.md
  files/ja/learn_web_development/core/styling_basics/tables/index.md
  files/ja/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: l10n-ja

#25249 用語の修正: 前提条件→前提知識
  files/ja/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/ja/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/ja/learn_web_development/core/styling_basics/box_model/index.md
  files/ja/learn_web_development/core/styling_basics/combinators/index.md
  files/ja/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/ja/learn_web_development/core/styling_basics/overflow/index.md
  files/ja/learn_web_development/core/styling_basics/pseudo_classes_and_elements/index.md
  files/ja/learn_web_development/core/styling_basics/sizing/index.md
  files/ja/learn_web_development/core/styling_basics/values_and_units/index.md
  files/ja/learn_web_development/core/styling_basics/what_is_css/index.md
Labels: l10n-ja

#25250 Learn_web_development/Core/Structuring_content 以下の評価試験のページを更新
  files/ja/learn_web_development/core/structuring_content/test_your_skills_colon__advanced_html_text/index.md
  files/ja/learn_web_development/core/structuring_content/test_your_skills_colon__html_text_basics/index.md
  files/ja/learn_web_development/core/structuring_content/test_your_skills_colon__links/index.md
Labels: l10n-ja

#25251 Learn_web_development/Core/Text_styling 以下を更新
  files/ja/learn_web_development/core/text_styling/fundamentals/index.md
  files/ja/learn_web_development/core/text_styling/index.md
  files/ja/learn_web_development/core/text_styling/styling_links/index.md
  files/ja/learn_web_development/core/text_styling/styling_lists/index.md
  files/ja/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
  files/ja/learn_web_development/core/text_styling/web_fonts/index.md
Labels: l10n-ja

#25308 [翻訳修正] Promise.then: identity functionを識別関数から恒等関数へ
  files/ja/web/javascript/reference/global_objects/promise/then/index.md
Labels: l10n-ja

#25239 [ko] JSON.isRawJSON() 신규 번역
  files/ko/web/javascript/reference/global_objects/json/israwjson/index.md
Labels: l10n-ko

#25293 [zh-TW]: update Glossary/ATAG
  files/zh-tw/glossary/atag/index.md
Labels: l10n-zh

#25301 [zh-CN]: add translation for `NavigationDestination`
  files/zh-cn/web/api/navigationdestination/index.md
Labels: l10n-zh

#25262 [zh-TW]: update "Web" landing page
  files/zh-tw/web/index.md
Labels: l10n-zh

#25269 zh-CN: create `pageAction.setTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/settitle/index.md
Labels: l10n-zh

#25236 [zh-TW]: update "Bounce off the walls"
  files/zh-tw/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
Labels: l10n-zh

#25310 zh-cn: add initUIEvent translate
  files/zh-cn/web/api/uievent/inituievent/index.md
Labels: l10n-zh

#25315 [ja] Fix typo in lexical_grammar
  files/ja/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-ja

#25257 Learn_web_development/Core/CSS_layout 以下を更新1
  files/ja/learn_web_development/core/css_layout/flexbox/index.md
  files/ja/learn_web_development/core/css_layout/flexbox_skills/index.md
  files/ja/learn_web_development/core/css_layout/floats/index.md
  files/ja/learn_web_development/core/css_layout/floats_skills/index.md
  files/ja/learn_web_development/core/css_layout/fundamental_layout_comprehension/index.md
  files/ja/learn_web_development/core/css_layout/grids/index.md
  files/ja/learn_web_development/core/css_layout/index.md
  files/ja/learn_web_development/core/css_layout/legacy_layout_methods/index.md
  files/ja/learn_web_development/core/css_layout/media_queries/index.md
  files/ja/learn_web_development/core/css_layout/multicol_skills/index.md
  files/ja/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/ja/learn_web_development/core/css_layout/position_skills/index.md
  files/ja/learn_web_development/core/css_layout/positioning/index.md
  files/ja/learn_web_development/core/css_layout/practical_positioning_examples/index.md
  files/ja/learn_web_development/core/css_layout/rwd_skills/index.md
  files/ja/learn_web_development/core/css_layout/supporting_older_browsers/index.md
Labels: l10n-ja

#25258 Learn_web_development/Core/CSS_layout 以下を更新2
  files/ja/learn_web_development/core/css_layout/grid_skills/index.md
  files/ja/learn_web_development/core/css_layout/responsive_design/index.md
Labels: l10n-ja

#25261 Learn_web_development/Core/Styling_basics 以下のスキルテストの記事を更新
  files/ja/learn_web_development/core/styling_basics/basic_selectors/selectors_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/box_model_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/cascade_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/handling_different_text_directions/index.md
  files/ja/learn_web_development/core/styling_basics/images_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/overflow_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/sizing_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/tables_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/test_your_skills_backgrounds_and_borders/index.md
  files/ja/learn_web_development/core/styling_basics/values_tasks/index.md
  files/ja/learn_web_development/core/styling_basics/writing_modes_tasks/index.md
Labels: l10n-ja

#25266 Learn_web_development/Core/Structuring_content 以下のスキルテストの記事を更新
  files/ja/learn_web_development/core/structuring_content/html_images/test_your_skills_colon__html_images/index.md
  files/ja/learn_web_development/core/structuring_content/html_video_and_audio/test_your_skills_colon__multimedia_and_embedding/index.md
  files/ja/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
Labels: l10n-ja

#25260 用語の修正（浮動要素→浮動ボックス）
  files/ja/learn_web_development/core/styling_basics/advanced_styling_effects/index.md
  files/ja/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
Labels: l10n-ja

#25181 [fr] typo in location.reload
  files/fr/web/api/location/reload/index.md
Labels: l10n-fr

#25303 [zh-CN]: add translation for `NavigateEvent`
  files/zh-cn/web/api/navigateevent/index.md
Labels: l10n-zh

#25302 [zh-CN]: add translation for `NavigationCurrentEntryChangeEvent`
  files/zh-cn/web/api/navigationcurrententrychangeevent/index.md
Labels: l10n-zh

#25300 [zh-cn]: add translation for "Using CSS containment"
  files/zh-cn/web/css/css_containment/using_css_containment/index.md
Labels: l10n-zh

#25314 [zh-cn] init translation of html attribute dirname
  files/zh-cn/web/html/attributes/dirname/index.md
Labels: l10n-zh

#25228 zh-cn: update the translation of `IntersectionObserver.takeRecords()`
  files/zh-cn/web/api/intersectionobserver/takerecords/index.md
Labels: l10n-zh

#25321 zh-cn: fix notecard format
  files/zh-cn/web/css/css_transitions/using_css_transitions/index.md
Labels: l10n-zh

#25333 [ru] fix: update Writing Guidelines link in README
  docs/ru/README.md
Labels: l10n-ru

#25335 [ru] update `Web/JavaScript/Reference/Global_Objects/Infinity` translation
  files/ru/web/javascript/reference/global_objects/infinity/index.md
Labels: l10n-ru

#25272 zh-CN: create `pageAction.openPopup()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/openpopup/index.md
Labels: l10n-zh

#25277 zh-CN: create `pageAction.ImageDataType`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/imagedatatype/index.md
Labels: l10n-zh

#25288 zh-CN: create `scripting.ContentScriptFilter`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/contentscriptfilter/index.md
Labels: l10n-zh

#25282 zh-CN: create `scripting.unregisterContentScripts()`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/unregistercontentscripts/index.md
Labels: l10n-zh

#25267 zh-CN: create `pageAction`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/index.md
Labels: l10n-zh

#25334 fix: typo in service workers file translated fench version
  files/fr/web/api/service_worker_api/using_service_workers/index.md
Labels: l10n-fr

#25275 zh-CN: create `pageAction.isShown()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/isshown/index.md
Labels: l10n-zh

#25287 zh-CN: create `scripting.getRegisteredContentScripts()`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/getregisteredcontentscripts/index.md
Labels: l10n-zh

#25290 zh-CN: create `scripting`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/index.md
Labels: l10n-zh

#25268 zh-CN: create `pageAction.show()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/show/index.md
Labels: l10n-zh

#25280 zh-CN: create `scripting.updateContentScripts()`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/updatecontentscripts/index.md
Labels: l10n-zh

#25289 zh-CN: create `scripting.ExecutionWorld`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/executionworld/index.md
Labels: l10n-zh

#25343 [zh-TW]: update Glossary/Argument
  files/zh-tw/glossary/argument/index.md
Labels: l10n-zh

#25337 [zh-TW]: update Glossary/Algorithm
  files/zh-tw/glossary/algorithm/index.md
Labels: l10n-zh

#25352 [ja] Fix fit-content
  files/ja/web/css/fit-content_function/index.md
Labels: l10n-ja

#25323 Learn_web_development/Core/Frameworks_libraries/React 以下の未翻訳記事を新規翻訳
  files/ja/learn_web_development/core/frameworks_libraries/react_accessibility/index.md
  files/ja/learn_web_development/core/frameworks_libraries/react_interactivity_events_state/index.md
  files/ja/learn_web_development/core/frameworks_libraries/react_interactivity_filtering_conditional_rendering/index.md
Labels: l10n-ja

#25324 Learn_web_development/Core/Frameworks_libraries/React 以下を更新
  files/ja/learn_web_development/core/frameworks_libraries/react_components/index.md
  files/ja/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/ja/learn_web_development/core/frameworks_libraries/react_resources/index.md
  files/ja/learn_web_development/core/frameworks_libraries/react_todo_list_beginning/index.md
Labels: l10n-ja

#25348 [zh-cn]: update the translation of 'ReferenceError: "x" is not defined'
  files/zh-cn/web/javascript/reference/errors/not_defined/index.md
Labels: l10n-zh

#25317 Publishing games Japanese page added.
  files/ja/games/publishing_games/index.md
Labels: l10n-ja

#25331 Learn_web_development/Core/Frameworks_libraries/Svelte_getting_started を更新
  files/ja/learn_web_development/core/frameworks_libraries/svelte_getting_started/index.md
Labels: l10n-ja

#25309 [ru] add `Learn_web_development/Getting_started/Soft_skills` translation
  files/ru/learn_web_development/getting_started/soft_skills/index.md
Labels: l10n-ru

#25234 [zh-cn]: fix mistranslation
  files/zh-cn/web/javascript/guide/using_promises/index.md
Labels: l10n-zh

#25229 [zh-cn]: update for CSS color value
  files/zh-cn/web/css/color_value/index.md
Labels: l10n-zh

#25270 zh-CN: create `pageAction.getPopup()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/getpopup/index.md
Labels: l10n-zh

#25217 [zh-cn]: update the translation of HTMLSlotElement introduction
  files/zh-cn/web/api/htmlslotelement/index.md
Labels: l10n-zh

#25384 [ja]: fix typo in String.prototype.link()
  files/ja/web/javascript/reference/global_objects/string/link/index.md
Labels: l10n-ja

#25379 [ja] Fix typo in Object page.
  files/ja/web/javascript/reference/global_objects/object/index.md
Labels: l10n-ja

#25345 Web/CSS/column-count を更新
  files/ja/web/css/column-count/index.md
Labels: l10n-ja

#25346 Web/CSS/column-width を更新
  files/ja/web/css/column-width/index.md
Labels: l10n-ja

#25353 Learn_web_development/Core/Accessibility 以下を更新
  files/ja/learn_web_development/core/accessibility/accessibility_troubleshooting/index.md
  files/ja/learn_web_development/core/accessibility/css_and_javascript/index.md
  files/ja/learn_web_development/core/accessibility/css_and_javascript/test_your_skills_colon__css_and_javascript_accessibility/index.md
  files/ja/learn_web_development/core/accessibility/html/index.md
  files/ja/learn_web_development/core/accessibility/index.md
  files/ja/learn_web_development/core/accessibility/mobile/index.md
  files/ja/learn_web_development/core/accessibility/multimedia/index.md
  files/ja/learn_web_development/core/accessibility/test_your_skills_colon__html_accessibility/index.md
  files/ja/learn_web_development/core/accessibility/tooling/index.md
  files/ja/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/ja/learn_web_development/core/accessibility/wai-aria_basics/test_your_skills_colon__wai-aria/index.md
  files/ja/learn_web_development/core/accessibility/what_is_accessibility/index.md
Labels: l10n-ja

#25354 Learn_web_development/Core/Design_for_developers を新規翻訳
  files/ja/learn_web_development/core/design_for_developers/index.md
Labels: l10n-ja

#25357 Web/CSS/column-span を更新
  files/ja/web/css/column-span/index.md
Labels: l10n-ja

#25358 Web/CSS/column-rule-color を更新
  files/ja/web/css/column-rule-color/index.md
Labels: l10n-ja

#25360 Learn_web_development 直下を更新
  files/ja/learn_web_development/index.md
Labels: l10n-ja

#25304 [ko] content visibility 신규 번역
  files/ko/web/css/content-visibility/index.md
Labels: l10n-ko

#25388 [ko] Iterator.prototype.some() 신규 번역
  files/ko/web/javascript/reference/global_objects/iterator/some/index.md
Labels: l10n-ko

#25254 한글 번역 특수기호 수정
  files/ko/web/javascript/reference/functions/arrow_functions/index.md
Labels: l10n-ko

#25129 [ko] Function() 생성자 신규 번역
  files/ko/web/javascript/reference/global_objects/function/function/index.md
Labels: l10n-ko

#25211 [ko] Array.prototype.map() 최신화
  files/ko/web/javascript/reference/global_objects/array/map/index.md
Labels: l10n-ko

#25356 用語の修正（浮動要素→浮動ボックス）
  files/ja/learn_web_development/core/index.md
Labels: l10n-ja

#25366 Learn_web_development/Educators を更新
  files/ja/learn_web_development/educators/index.md
Labels: l10n-ja

#25367 Web/CSS/CSS_colors/Color_picker_tool を更新
  files/ja/web/css/css_colors/color_picker_tool/index.md
Labels: l10n-ja

#25030 [ru] add `Glossary/Denial_of_Service` translation
  files/ru/glossary/denial_of_service/index.md
  files/ru/web/http/connection_management_in_http_1.x/index.md
Labels: l10n-ru

#25351 [zh-TW]: update HTTP Header "Accept"
  files/zh-tw/web/http/headers/accept/index.md
Labels: l10n-zh

#25378 [zh-cn]: create the translation of TypedArray.prototype.toSorted()
  files/zh-cn/web/javascript/reference/global_objects/typedarray/tosorted/index.md
Labels: l10n-zh

#25382 [zh-cn]: update the translation of HTML `<dt>` element
  files/zh-cn/web/html/element/dt/index.md
Labels: l10n-zh

#25271 zh-CN: create `pageAction.getTitle()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/gettitle/index.md
Labels: l10n-zh

#25372 Learn_web_development/Extensions を新規翻訳
  files/ja/learn_web_development/extensions/index.md
Labels: l10n-ja

#25374 Learn_web_development/Extensions/Advanced_JavaScript_objects 以下を更新
  files/ja/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/classes_in_javascript/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/object-oriented_programming/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/object_building_practice/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/object_prototypes/index.md
  files/ja/learn_web_development/extensions/advanced_javascript_objects/test_your_skills_colon__object-oriented_javascript/index.md
Labels: l10n-ja

#25347 [zh-cn]: update the translation of HTTP `Content-Length` header
  files/zh-cn/web/http/headers/content-length/index.md
Labels: l10n-zh

#25376 Update team and communication channels for ES team
  PEERS_GUIDELINES.md
  files/es/mdn/community/contributing/translated_content/index.md
  files/fr/mdn/community/contributing/translated_content/index.md
  files/ja/mdn/community/contributing/translated_content/index.md
  files/ru/mdn/community/contributing/translated_content/index.md
  files/zh-cn/mdn/community/contributing/translated_content/index.md
  files/zh-tw/mdn/community/contributing/translated_content/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru

#25373 [zh-CN]: create the translation of "Getting started modules"
  files/zh-cn/learn_web_development/getting_started/index.md
  files/zh-cn/learn_web_development/index.md
Labels: l10n-zh

#25338 [zh-TW]: update the Glossary landing page
  files/zh-tw/glossary/index.md
Labels: l10n-zh

#25370 [zh-TW]: update URI Scheme "data"
  files/zh-tw/web/uri/schemes/data/index.md
Labels: l10n-zh

#25445 [ja] Fix typo
  files/ja/web/api/rtcdatachannel/index.md
Labels: l10n-ja

#25320 [ko] Animation performance and frame rate 신규 번역
  files/ko/web/performance/animation_performance_and_frame_rate/index.md
Labels: l10n-ko

#25009 [ko] fix spacing in InternalError: too much recursion
  files/ko/web/javascript/reference/errors/too_much_recursion/index.md
Labels: l10n-ko

#22383 [ko] Symbol.asyncIterator 신규 번역 외
  files/ko/web/javascript/reference/global_objects/array/push/index.md
  files/ko/web/javascript/reference/global_objects/symbol/asynciterator/index.md
Labels: l10n-ko

#24842 [ko] update(<dt>): general update
  files/ko/web/html/element/dt/index.md
Labels: l10n-ko

#25306 [ko] window crypto 최신화
  files/ko/web/api/window/crypto/index.md
Labels: l10n-ko

#25385 [ko] scroll anchoring 신규 번역
  files/ko/web/css/overflow-anchor/index.md
Labels: l10n-ko

#25420 [zh-cn] update HTMLImageElement srcset property
  files/zh-cn/web/api/htmlimageelement/srcset/index.md
Labels: l10n-zh

#25418 [zh-cn] update 'critical rendering path'
  files/zh-cn/web/performance/critical_rendering_path/index.md
Labels: l10n-zh

#25422 [zh-TW]: update CSS @media "height"
  files/zh-tw/web/css/@media/height/index.md
Labels: l10n-zh

#25381 [zh-cn]: update the translation of HTML `<body>` element
  files/zh-cn/web/html/element/body/index.md
Labels: l10n-zh

#25349 [zh-TW]: update Glossary/Abstraction
  files/zh-tw/glossary/abstraction/index.md
Labels: l10n-zh

#24297 [ko] chore(CSS): Tidy up CSS backgrounds and borders live samples
  files/ko/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
Labels: l10n-ko

#25463 fix: deprecated page 제거
  files/ko/_redirects.txt
  files/ko/learn_web_development/getting_started/environment_setup/installing_software/index.md
Labels: l10n-ko

#23671 [ko] Document_Object_Model 최신화 및 UI_Events 신규 번역
  files/ko/web/api/document_object_model/index.md
  files/ko/web/api/ui_events/index.md
Labels: l10n-ko

#25417 [zh-cn]: update the translation of SVG element reference
  files/zh-cn/web/svg/element/index.md
Labels: l10n-zh

#25294 [zh-TW]: update Glossary/Attribute
  files/zh-tw/glossary/attribute/index.md
Labels: l10n-zh

#25364 [zh-TW]: update "OpenSearch"
  files/zh-tw/web/opensearch/index.md
Labels: l10n-zh

#25322 zh-cn: update the translation of the `TouchEvent` interface
  files/zh-cn/web/api/touchevent/index.md
Labels: l10n-zh

#25383 [zh-cn]: update the translation of `Window.scrollMaxX` property
  files/zh-cn/web/api/window/scrollmaxx/index.md
Labels: l10n-zh

#25389 Learn_web_development/Extensions/Client-side_APIs 以下を更新
  files/ja/learn_web_development/extensions/client-side_apis/client-side_storage/index.md
  files/ja/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/ja/learn_web_development/extensions/client-side_apis/drawing_graphics/trigonometry.png
  files/ja/learn_web_development/extensions/client-side_apis/index.md
  files/ja/learn_web_development/extensions/client-side_apis/introduction/index.md
  files/ja/learn_web_development/extensions/client-side_apis/third_party_apis/index.md
  files/ja/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
Labels: l10n-ja

#25464 zh-cn: fix broken links to Nick Fitzgerald's blogs
  files/zh-cn/web/javascript/guide/keyed_collections/index.md
  files/zh-cn/web/javascript/reference/global_objects/error/stack/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/index.md
  files/zh-cn/web/javascript/reference/global_objects/weakmap/weakmap/index.md
  files/zh-cn/webassembly/rust_to_wasm/index.md
Labels: l10n-zh

#25330 [zh-TW]: update "Writing guidelines"
  files/zh-tw/mdn/writing_guidelines/index.md
Labels: l10n-zh

#25283 zh-CN: create `scripting.removeCSS()`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/removecss/index.md
Labels: l10n-zh

#25457 [zh-cn]: update the translation of the HTML `<figcaption>` element
  files/zh-cn/web/html/element/figcaption/index.md
Labels: l10n-zh

#25284 zh-CN: create `scripting.InjectionTarget`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/injectiontarget/index.md
Labels: l10n-zh

#25278 zh-CN: create `pageAction.hide()`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/hide/index.md
Labels: l10n-zh

#25416 [zh-cn]: update the translation of SVG `filterUnits` attribute
  files/zh-cn/web/svg/attribute/filterunits/index.md
Labels: l10n-zh

#25392 用語集のうち、学習モジュールへのリンクが更新された記事の一部を更新
  files/ja/glossary/ajax/index.md
  files/ja/glossary/asynchronous/index.md
  files/ja/glossary/class/index.md
  files/ja/glossary/constructor/index.md
  files/ja/glossary/css/index.md
  files/ja/glossary/html/index.md
  files/ja/glossary/media/css/index.md
  files/ja/glossary/oop/index.md
  files/ja/glossary/parse/index.md
  files/ja/glossary/property/css/index.md
  files/ja/glossary/property/javascript/index.md
  files/ja/glossary/spa/index.md
  files/ja/glossary/stylesheet/index.md
Labels: l10n-ja

#25393 Learn_web_development/Extensions/Transform_animate を新規翻訳
  files/ja/learn_web_development/extensions/transform_animate/index.md
Labels: l10n-ja

#25394 Learn_web_development/Extensions/Security_privacy を新規翻訳
  files/ja/learn_web_development/extensions/security_privacy/index.md
Labels: l10n-ja

#25395 Web/Security/Mixed_content を更新
  files/ja/web/security/mixed_content/index.md
Labels: l10n-ja

#25397 Web/CSS/text-transform を更新
  files/ja/web/css/text-transform/index.md
Labels: l10n-ja

#25398 Web/CSS/letter-spacing 他1件を更新
  files/ja/web/css/letter-spacing/index.md
  files/ja/web/css/word-spacing/index.md
Labels: l10n-ja

#25399 Web/CSS/word-break を更新
  files/ja/web/css/word-break/index.md
Labels: l10n-ja

#25400 Web/CSS/text-wrap 他1件を更新
  files/ja/web/css/text-wrap-mode/index.md
  files/ja/web/css/text-wrap/index.md
Labels: l10n-ja

#25401 Web/CSS/text-spacing-trim を新規翻訳
  files/ja/web/css/text-spacing-trim/index.md
Labels: l10n-ja

#25402 Web/CSS/text-justify を更新
  files/ja/web/css/text-justify/index.md
Labels: l10n-ja

#25403 Web/CSS/text-indent を更新
  files/ja/web/css/text-indent/index.md
Labels: l10n-ja

#25404 Web/CSS/text-align-last を更新
  files/ja/web/css/text-align-last/index.md
Labels: l10n-ja

#25406 Web/CSS/line-break を更新
  files/ja/web/css/line-break/index.md
Labels: l10n-ja

#25407 Web/CSS/hyphens を更新
  files/ja/web/css/hyphens/index.md
Labels: l10n-ja

#25409 Web/CSS/hyphenate-character を更新
  files/ja/web/css/hyphenate-character/index.md
Labels: l10n-ja

#25410 Web/CSS/hanging-punctuation を更新
  files/ja/web/css/hanging-punctuation/index.md
Labels: l10n-ja

#25411 Web/CSS/CSS_text/Wrapping_breaking_text を更新
  files/ja/web/css/css_text/wrapping_breaking_text/index.md
Labels: l10n-ja

#25412 Web/CSS/CSS_text を更新
  files/ja/web/css/css_text/index.md
Labels: l10n-ja

#25413 Web/CSS/text-wrap-style を更新
  files/ja/web/css/text-wrap-style/index.md
Labels: l10n-ja

#25461 [ru] update `Web/API/Web_Storage_API/Using_the_Web_Storage_API` translation
  files/ru/web/api/web_storage_api/using_the_web_storage_api/index.md
Labels: l10n-ru

#25285 zh-CN: create `scripting.insertCSS()`
  files/zh-cn/mozilla/add-ons/webextensions/api/scripting/insertcss/index.md
Labels: l10n-zh

#25414 Web/CSS/tab-size を更新
  files/ja/web/css/tab-size/index.md
Labels: l10n-ja

#25469 Over-translation in ja
  files/ja/learn_web_development/core/frameworks_libraries/react_accessibility/index.md
Labels: l10n-ja

#25423 Web/API/Document/prerendering 他1件を更新
  files/ja/web/api/document/prerendering/index.md
  files/ja/web/api/document/prerenderingchange_event/index.md
Labels: l10n-ja

#25436 Learn_web_development/Extensions/Forms/Form_validation を更新
  files/ja/learn_web_development/extensions/forms/form_validation/index.md
Labels: l10n-ja

#25479 [ja] Web/HTTP/Evolution_of_HTTP の誤字を修正
  files/ja/web/http/evolution_of_http/index.md
Labels: l10n-ja

#25444 Learn_web_development/Extensions/Async_JS 以下を更新 (2)
  files/ja/learn_web_development/extensions/async_js/implementing_a_promise-based_api/index.md
  files/ja/learn_web_development/extensions/async_js/introducing/index.md
  files/ja/learn_web_development/extensions/async_js/introducing_workers/index.md
  files/ja/learn_web_development/extensions/async_js/promises/index.md
Labels: l10n-ja

#25467 Web/API/XSLTProcessor/XSLTProcessor を新規翻訳
  files/ja/web/api/xsltprocessor/xsltprocessor/index.md
Labels: l10n-ja

#25473 Web/API/XSLTProcessor/Basic_Example を更新
  files/ja/web/api/xsltprocessor/basic_example/index.md
Labels: l10n-ja

#25451 punctuation mark replacement
  files/ja/conflicting/learn_web_development/extensions/forms/index.md
  files/ja/glossary/color_space/index.md
  files/ja/glossary/xmlhttprequest/index.md
  files/ja/learn_web_development/extensions/forms/test_your_skills_colon__advanced_styling/index.md
  files/ja/learn_web_development/extensions/server-side/node_server_without_framework/index.md
  files/ja/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/ja/mozilla/add-ons/webextensions/api/find/find/index.md
  files/ja/mozilla/add-ons/webextensions/api/menus/index.md
  files/ja/mozilla/firefox/releases/9/index.md
  files/ja/web/api/cssstylesheet/replacesync/index.md
  files/ja/web/api/cssunparsedvalue/foreach/index.md
  files/ja/web/api/html_drag_and_drop_api/index.md
  files/ja/web/api/syncevent/syncevent/index.md
  files/ja/web/http/headers/user-agent/firefox/index.md
  files/ja/web/performance/fundamentals/index.md
  files/zh-cn/games/publishing_games/game_distribution/index.md
  files/zh-cn/games/publishing_games/game_promotion/index.md
  files/zh-cn/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/zh-cn/learn_web_development/core/structuring_content/table_accessibility/index.md
  files/zh-cn/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
  files/zh-cn/learn_web_development/extensions/server-side/express_nodejs/introduction/index.md
  files/zh-cn/learn_web_development/howto/tools_and_setup/how_do_you_host_your_website_on_google_app_engine/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/zh-cn/web/api/animation/index.md
  files/zh-cn/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/zh-cn/web/api/htmlmediaelement/controls/index.md
  files/zh-cn/web/api/mediadevices/enumeratedevices/index.md
  files/zh-cn/web/api/rtcsessiondescription/index.md
  files/zh-cn/web/api/videoplaybackquality/index.md
  files/zh-cn/web/api/web_animations_api/keyframe_formats/index.md
  files/zh-cn/web/api/webglrenderingcontext/deleteframebuffer/index.md
  files/zh-cn/web/css/css_flexible_box_layout/ordering_flex_items/index.md
  files/zh-cn/web/css/css_shapes/overview_of_shapes/index.md
  files/zh-cn/web/javascript/guide/regular_expressions/index.md
  files/zh-tw/learn_web_development/core/scripting/what_is_javascript/index.md
  files/zh-tw/learn_web_development/extensions/server-side/django/home_page/index.md
  files/zh-tw/learn_web_development/extensions/server-side/django/index.md
  files/zh-tw/web/html/element/hr/index.md
  files/zh-tw/web/html/index.md
Labels: l10n-ja, l10n-zh

#25276 zh-CN: create `pageAction.onClicked`
  files/zh-cn/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.md
Labels: l10n-zh

#25350 [zh-TW]: update HTML reference page
  files/zh-tw/web/html/reference/index.md
Labels: l10n-zh
