Repository mdn/translated-content, pull requests merged in 2025-05, with the labels that each got.

#26817 zh-CN: create `webRequest.onSendHeaders`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Labels: l10n-zh

#26926 [zh-TW]: update Canvas API Tutorial "Advanced animations"
  files/zh-tw/web/api/canvas_api/tutorial/advanced_animations/index.md
Labels: l10n-zh

#26895 [zh-TW]: update JavaScript Operator "Addition"
  files/zh-tw/web/javascript/reference/operators/addition/index.md
Labels: l10n-zh

#26896 [zh-TW]: update JavaScript Operator "Unary plus"
  files/zh-tw/web/javascript/reference/operators/unary_plus/index.md
Labels: l10n-zh

#27062 [zh-cn]: fix wrong fullwidth character
  files/zh-cn/web/api/subtlecrypto/digest/index.md
Labels: l10n-zh

#27006 [ko] strict inequality(!==) 신규 번역
  files/ko/web/javascript/reference/operators/strict_inequality/index.md
Labels: l10n-ko

#26987 Web/CSS/CSS_animations を更新
  files/ja/web/css/css_animations/index.md
Labels: l10n-ja

#26988 Web/CSS/animation を更新
  files/ja/web/css/animation/index.md
Labels: l10n-ja

#26989 Web/CSS/animation-composition を更新
  files/ja/web/css/animation-composition/index.md
Labels: l10n-ja

#26991 Web/CSS/animation-name を更新
  files/ja/web/css/animation-name/index.md
Labels: l10n-ja

#26992 Web/CSS/animation-timeline を更新
  files/ja/web/css/animation-timeline/index.md
Labels: l10n-ja

#26993 Web/CSS/animation-timing-function を更新
  files/ja/web/css/animation-timing-function/index.md
Labels: l10n-ja

#26994 Web/CSS/@keyframes を更新
  files/ja/web/css/@keyframes/index.md
Labels: l10n-ja

#26999 Web/CSS/container を更新
  files/ja/web/css/container/index.md
Labels: l10n-ja

#27063 fix typo
  files/zh-cn/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
Labels: l10n-zh

#27000 Web/CSS/container-name 他1件を更新
  files/ja/web/css/container-name/index.md
  files/ja/web/css/container-type/index.md
Labels: l10n-ja

#27001 Web/CSS/@container 他1件を更新
  files/ja/web/css/@container/index.md
  files/ja/web/css/@media/index.md
Labels: l10n-ja

#27002 Web/CSS/@supports を更新
  files/ja/web/css/@supports/index.md
Labels: l10n-ja

#27052 `Promise.try` ドキュメント内のtypo修正
  files/ja/web/javascript/reference/global_objects/promise/try/index.md
Labels: l10n-ja

#26950 [zh-cn]: update the translation of CSSOM view
  files/zh-cn/web/css/cssom_view/index.md
Labels: l10n-zh

#27010 Learn_web_development/Extensions/Testing/Feature_detection を更新
  files/ja/learn_web_development/extensions/testing/feature_detection/index.md
Labels: l10n-ja

#27009 @keyframe -> @keyframes
  files/ja/web/css/animation-name/index.md
  files/ja/web/css/content-visibility/index.md
  files/ja/web/css/css_cascade/cascade/index.md
  files/ja/web/css/css_syntax/error_handling/index.md
  files/ja/web/css/css_values_and_units/textual_data_types/index.md
Labels: l10n-ja

#27048 fr: fix fields description in webRequest CertificateInfo
  files/fr/mozilla/add-ons/webextensions/api/webrequest/certificateinfo/index.md
Labels: l10n-fr

#27058 [fr] Typofix for CSS `var()`
  files/fr/web/css/var/index.md
Labels: l10n-fr

#26985 zh-cn: add new page for WebAssembly.Exception.prototype.is()
  files/zh-cn/webassembly/reference/javascript_interface/exception/is/index.md
Labels: l10n-zh

#26813 zh-CN: create `webRequest.onResponseStarted`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
Labels: l10n-zh

#27084 [zh-CN]: sync transition for `view-transition-name`
  files/zh-cn/web/css/view-transition-name/index.md
Labels: l10n-zh

#26932 [zh-TW]: update API "Canvas API"
  files/zh-tw/web/api/canvas_api/index.md
Labels: l10n-zh

#27019 Web/CSS/CSS_conditional_rules を更新
  files/ja/web/css/css_conditional_rules/index.md
Labels: l10n-ja

#27020 Web/CSS/CSS_conditional_rules/Using_feature_queries を更新
  files/ja/web/css/css_conditional_rules/using_feature_queries/index.md
Labels: l10n-ja

#27021 Web/CSS/CSS_conditional_rules/Container_scroll-state_queries を新規翻訳
  files/ja/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Labels: l10n-ja

#27022 Web/CSS/CSS_conditional_rules/Using_feature_queries を更新
  files/ja/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Labels: l10n-ja

#27023 Web/CSS/CSS_conditional_rules/Container_scroll-state_queries を新規翻訳
  files/ja/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Labels: l10n-ja

#27024 Web/CSS/contain を更新
  files/ja/web/css/contain/index.md
Labels: l10n-ja

#27025 Web/CSS/content-visibility を更新
  files/ja/web/css/content-visibility/index.md
Labels: l10n-ja

#27026 Web/API/Element/contentvisibilityautostatechange_event を更新
  files/ja/web/api/element/contentvisibilityautostatechange_event/index.md
Labels: l10n-ja

#27027 Web/API/ContentVisibilityAutoStateChangeEvent を更新
  files/ja/web/api/contentvisibilityautostatechangeevent/index.md
Labels: l10n-ja

#27028 Web/API/ContentVisibilityAutoStateChangeEvent/skipped を更新
  files/ja/web/api/contentvisibilityautostatechangeevent/skipped/index.md
Labels: l10n-ja

#26996 zh-cn: update the translation of WebAssembly.Global
  files/zh-cn/webassembly/reference/javascript_interface/global/index.md
Labels: l10n-zh

#27029 Web/API/CSSContainerRule を更新
  files/ja/web/api/csscontainerrule/index.md
Labels: l10n-ja

#27030 Web/API/CSSContainerRule/containerName 他1件を更新
  files/ja/web/api/csscontainerrule/containername/index.md
  files/ja/web/api/csscontainerrule/containerquery/index.md
Labels: l10n-ja

#27031 Web/CSS/CSS_containment/Container_queries を更新
  files/ja/web/css/css_containment/container_queries/index.md
Labels: l10n-ja

#27032 Web/CSS/CSS_containment/Using_CSS_containment を更新
  files/ja/web/css/css_containment/using_css_containment/index.md
Labels: l10n-ja

#27033 Web/CSS/CSS_containment/Container_size_and_style_queries を更新
  files/ja/web/css/css_containment/container_size_and_style_queries/index.md
Labels: l10n-ja

#27037 Web/CSS/orphans 他1件を更新
  files/ja/web/css/orphans/index.md
  files/ja/web/css/widows/index.md
Labels: l10n-ja

#27038 Web/CSS/CSS_fragmentation を更新
  files/ja/web/css/css_fragmentation/index.md
Labels: l10n-ja

#26976 zh-cn: add new page for Exception.prototype.getArg()
  files/zh-cn/webassembly/reference/javascript_interface/exception/getarg/index.md
Labels: l10n-zh

#27076 [zh-TW]: update API `Document.createTextNode()` method
  files/zh-tw/web/api/document/createtextnode/index.md
Labels: l10n-zh

#26933 [zh-TW]: update API `Window.setInterval()` method
  files/zh-tw/web/api/window/setinterval/index.md
Labels: l10n-zh

#26947 [zh-cn]: update the translation of CSS positioned layout
  files/zh-cn/web/css/css_positioned_layout/index.md
Labels: l10n-zh

#26812 zh-CN: create `webRequest.onBeforeSendHeaders`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
Labels: l10n-zh

#27039 [zh-cn]: optimize the translation for "JavaScript frameworks and libraries"
  files/zh-cn/learn_web_development/core/frameworks_libraries/index.md
Labels: l10n-zh

#27055 Web/CSS/quotes を更新
  files/ja/web/css/quotes/index.md
Labels: l10n-ja

#27057 Web/CSS/CSS_shadow_parts を新規翻訳
  files/ja/web/css/css_shadow_parts/index.md
Labels: l10n-ja

#26998 zh-cn: update the translation of WebAssembly.Instance
  files/zh-cn/webassembly/reference/javascript_interface/instance/index.md
Labels: l10n-zh

#27004 zh-cn: add new page for WebAssembly.Instance constructor
  files/zh-cn/webassembly/reference/javascript_interface/instance/instance/index.md
Labels: l10n-zh

#27005 zh-cn: add new page for WebAssembly.Instance.prototype.exports
  files/zh-cn/webassembly/reference/javascript_interface/instance/exports/index.md
Labels: l10n-zh

#27066 Web/CSS/::part を更新
  files/ja/web/css/_doublecolon_part/index.md
Labels: l10n-ja

#27067 Web/HTML/Reference/Global_attributes/part を更新
  files/ja/web/html/reference/global_attributes/part/index.md
Labels: l10n-ja

#27068 Web/HTML/Reference/Global_attributes/exportparts を更新
  files/ja/web/html/reference/global_attributes/exportparts/index.md
Labels: l10n-ja

#27070 Web/CSS/CSS_logical_properties_and_values を更新
  files/ja/web/css/css_logical_properties_and_values/index.md
Labels: l10n-ja

#27072 Web/CSS/border-block で始まるプロパティを更新
  files/ja/web/css/border-block-color/index.md
  files/ja/web/css/border-block-end-color/index.md
  files/ja/web/css/border-block-end-style/index.md
  files/ja/web/css/border-block-end-width/index.md
  files/ja/web/css/border-block-end/index.md
  files/ja/web/css/border-block-start-color/index.md
  files/ja/web/css/border-block-start-style/index.md
  files/ja/web/css/border-block-start-width/index.md
  files/ja/web/css/border-block-start/index.md
  files/ja/web/css/border-block-width/index.md
  files/ja/web/css/border-block/index.md
Labels: l10n-ja

#27096 Firefox 136 for developersを更新
  files/ja/mozilla/firefox/releases/136/index.md
Labels: l10n-ja

#27119 fix(pr-review-companion): set `cache-control: no-store`
  .github/workflows/pr-review-companion.yml
Labels: system

#27080 [zh-TW]: update API `Document.documentElement` property
  files/zh-tw/web/api/document/documentelement/index.md
Labels: l10n-zh

#26891 [zh-TW]: create Writing guideline "Attrib copyright license"
  files/zh-tw/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: l10n-zh

#27110 [zh-TW]: update API `Document.head` property
  files/zh-tw/web/api/document/head/index.md
Labels: l10n-zh

#27134 Fix spell error
  files/zh-cn/web/api/window/getcomputedstyle/index.md
Labels: l10n-zh

#27018 [zh-TW]: sync sourceCommit
  files/zh-tw/learn_web_development/core/accessibility/index.md
  files/zh-tw/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/zh-tw/learn_web_development/index.md
  files/zh-tw/web/html/reference/elements/fencedframe/index.md
  files/zh-tw/web/http/guides/cross-origin_resource_policy/index.md
  files/zh-tw/web/http/guides/network_error_logging/index.md
  files/zh-tw/web/index.md
  files/zh-tw/web/javascript/reference/global_objects/array/copywithin/index.md
Labels: l10n-zh

#27104 [zh-TW]: update API `Document.getElementsByClassName()` method
  files/zh-tw/web/api/document/getelementsbyclassname/index.md
Labels: l10n-zh

#26809 zh-CN: create `webRequest.onAuthRequired`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Labels: l10n-zh

#27082 MDN/Writing_guidelines/Page_structures/Sidebars を更新
  files/ja/mdn/writing_guidelines/page_structures/sidebars/index.md
Labels: l10n-ja

#27083 Web/API/Device_orientation_events/Detecting_device_orientation を更新
  files/ja/web/api/device_orientation_events/detecting_device_orientation/index.md
Labels: l10n-ja

#27085 Web/CSS/border-inline* の記事を更新
  files/ja/web/css/border-inline-color/index.md
  files/ja/web/css/border-inline-end-color/index.md
  files/ja/web/css/border-inline-end-style/index.md
  files/ja/web/css/border-inline-end-width/index.md
  files/ja/web/css/border-inline-end/index.md
  files/ja/web/css/border-inline-start-color/index.md
  files/ja/web/css/border-inline-start-style/index.md
  files/ja/web/css/border-inline-start-width/index.md
  files/ja/web/css/border-inline-start/index.md
  files/ja/web/css/border-inline-style/index.md
  files/ja/web/css/border-inline-width/index.md
  files/ja/web/css/border-inline/index.md
Labels: l10n-ja

#27108 [zh-CN]: Add translation for `FileSystemObserver.observe`
  files/zh-cn/web/api/filesystemobserver/observe/index.md
Labels: l10n-zh

#27106 [zh-CN]: Add translation for `FileSystemObserver()`
  files/zh-cn/web/api/filesystemobserver/filesystemobserver/index.md
Labels: l10n-zh

#27105 [zh-CN]: Add translation for `FileSystemObserver`
  files/zh-cn/web/api/filesystemobserver/index.md
Labels: l10n-zh

#27132 [zh-TW]: create Writing guidelines "Howto"
  files/zh-tw/mdn/writing_guidelines/howto/index.md
Labels: l10n-zh

#26911 [zh-TW]: update API `AnimationEvent`
  files/zh-tw/web/api/animationevent/index.md
Labels: l10n-zh

#27064 [zh-TW]: update API `CustomEvent`
  files/zh-tw/web/api/customevent/index.md
Labels: l10n-zh

#27189 zh-cn: update the translation of the `PushManager.getSubscription()` method
  files/zh-cn/web/api/pushmanager/getsubscription/index.md
Labels: l10n-zh

#27086 border-*-radius の記事を更新
  files/ja/web/css/border-end-end-radius/index.md
  files/ja/web/css/border-end-start-radius/index.md
  files/ja/web/css/border-start-end-radius/index.md
  files/ja/web/css/border-start-start-radius/index.md
Labels: l10n-ja

#27088 Web/CSS/inset* の記事を更新
  files/ja/web/css/inset-block-end/index.md
  files/ja/web/css/inset-block-start/index.md
  files/ja/web/css/inset-block/index.md
  files/ja/web/css/inset-inline-end/index.md
  files/ja/web/css/inset-inline-start/index.md
  files/ja/web/css/inset-inline/index.md
  files/ja/web/css/inset/index.md
Labels: l10n-ja

#27089 Web/CSS/margin-* の論理的プロパティを更新
  files/ja/web/css/margin-block-end/index.md
  files/ja/web/css/margin-block-start/index.md
  files/ja/web/css/margin-block/index.md
  files/ja/web/css/margin-inline-end/index.md
  files/ja/web/css/margin-inline-start/index.md
  files/ja/web/css/margin-inline/index.md
Labels: l10n-ja

#27092 SVGStringList インターフェイスの記事を翻訳
  files/ja/web/api/svgstringlist/appenditem/index.md
  files/ja/web/api/svgstringlist/clear/index.md
  files/ja/web/api/svgstringlist/getitem/index.md
  files/ja/web/api/svgstringlist/index.md
  files/ja/web/api/svgstringlist/initialize/index.md
  files/ja/web/api/svgstringlist/insertitembefore/index.md
  files/ja/web/api/svgstringlist/length/index.md
  files/ja/web/api/svgstringlist/numberofitems/index.md
  files/ja/web/api/svgstringlist/removeitem/index.md
  files/ja/web/api/svgstringlist/replaceitem/index.md
Labels: l10n-ja

#27093 SVGTransform インターフェイスの記事を更新
  files/ja/web/api/svgtransform/angle/index.md
  files/ja/web/api/svgtransform/matrix/index.md
  files/ja/web/api/svgtransform/setmatrix/index.md
  files/ja/web/api/svgtransform/setrotate/index.md
  files/ja/web/api/svgtransform/setscale/index.md
  files/ja/web/api/svgtransform/setskewx/index.md
  files/ja/web/api/svgtransform/setskewy/index.md
  files/ja/web/api/svgtransform/settranslate/index.md
  files/ja/web/api/svgtransform/type/index.md
Labels: l10n-ja

#27200 Replace interactive-examples assets with shared-assets
  files/es/learn_web_development/core/scripting/events/index.md
  files/fr/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.md
  files/fr/web/css/border-image-slice/index.md
  files/ja/learn_web_development/core/scripting/event_bubbling/index.md
  files/ja/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.md
  files/ja/web/api/fontfaceset/check/index.md
  files/ja/web/api/htmlimageelement/x/index.md
  files/ja/web/api/htmlmediaelement/loadstart_event/index.md
  files/ja/web/api/vttcue/index.md
  files/ja/web/api/webvtt_api/index.md
  files/ja/web/css/border-image-slice/index.md
  files/ja/web/css/opacity/index.md
  files/ja/web/html/guides/cheatsheet/index.md
  files/ja/web/html/reference/elements/object/index.md
  files/ko/learn_web_development/core/scripting/event_bubbling/index.md
  files/zh-cn/learn_web_development/core/scripting/event_bubbling/index.md
  files/zh-cn/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.md
  files/zh-cn/web/api/htmlmediaelement/loadstart_event/index.md
  files/zh-cn/web/css/border-image-slice/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ko

#26810 zh-CN: create `webRequest.onCompleted`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
Labels: l10n-zh

#27102 [zh-CN]: Add translation for `FileSystemChangeRecord`
  files/zh-cn/web/api/filesystemchangerecord/index.md
Labels: l10n-zh

#27107 [zh-CN]: Add translation for `FileSystemObserver.disconnect`
  files/zh-cn/web/api/filesystemobserver/disconnect/index.md
Labels: l10n-zh

#27101 min/max-*-size プロパティの記事を更新
  files/ja/web/css/max-block-size/index.md
  files/ja/web/css/max-inline-size/index.md
  files/ja/web/css/min-block-size/index.md
  files/ja/web/css/min-inline-size/index.md
Labels: l10n-ja

#27103 CSS の padding-block/inline プロパティの記事を更新
  files/ja/web/css/padding-block-end/index.md
  files/ja/web/css/padding-block-start/index.md
  files/ja/web/css/padding-block/index.md
  files/ja/web/css/padding-inline-end/index.md
  files/ja/web/css/padding-inline-start/index.md
  files/ja/web/css/padding-inline/index.md
Labels: l10n-ja

#27201 Replace favicon assets with shared-assets where applicable
  files/es/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/es/web/css/background-repeat/index.md
  files/es/web/html/reference/elements/img/index.md
  files/fr/conflicting/web/html/element/index.md
  files/fr/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/fr/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/fr/web/css/background-repeat/index.md
  files/fr/web/css/mask-repeat/index.md
  files/fr/web/css/max/index.md
  files/fr/web/html/attributes/rel/index.md
  files/fr/web/html/element/img/index.md
  files/fr/web/html/element/link/index.md
  files/ja/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/ja/web/api/htmlelement/load_event/index.md
  files/ja/web/css/background-repeat/index.md
  files/ja/web/html/reference/elements/img/index.md
  files/ko/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/ko/web/css/background-repeat/index.md
  files/ko/web/html/reference/elements/figure/index.md
  files/ko/web/html/reference/elements/img/index.md
  files/pt-br/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/pt-br/web/html/element/img/index.md
  files/ru/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/ru/web/css/background-repeat/index.md
  files/ru/web/html/reference/elements/figure/index.md
  files/ru/web/html/reference/elements/img/index.md
  files/ru/web/html/reference/elements/link/index.md
  files/ru/web/svg/tutorials/svg_from_scratch/other_content_in_svg/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/zh-cn/web/css/background-repeat/index.md
  files/zh-cn/web/css/min/index.md
  files/zh-cn/web/html/reference/elements/img/index.md
  files/zh-tw/learn_web_development/core/structuring_content/webpage_metadata/index.md
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru, l10n-ko, l10n-pt-br

#24906 Add french translation for numerical separators
  files/fr/web/javascript/reference/lexical_grammar/index.md
Labels: l10n-fr

#27109 Glossary/Logical_properties を新規翻訳
  files/ja/glossary/logical_properties/index.md
Labels: l10n-ja

#27111 Glossary/Physical_properties を更新
  files/ja/glossary/physical_properties/index.md
Labels: l10n-ja

#27112 Web/CSS/CSS_logical_properties_and_values 以下の記事を更新
  files/ja/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/ja/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/ja/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/ja/web/css/css_logical_properties_and_values/sizing/index.md
Labels: l10n-ja

#27114 Web/CSS/CSS_media_queries を更新
  files/ja/web/css/css_media_queries/index.md
Labels: l10n-ja

#27117 Web/CSS/CSS_media_queries/Using_media_queries_for_accessibility を更新
  files/ja/web/css/css_media_queries/using_media_queries_for_accessibility/index.md
Labels: l10n-ja

#27118 Web/CSS/CSS_media_queries/Printing を更新
  files/ja/web/css/css_media_queries/printing/index.md
Labels: l10n-ja

#27120 Web/CSS/resolution を更新
  files/ja/web/css/resolution/index.md
Labels: l10n-ja

#27121 Web/CSS/@import を更新
  files/ja/web/css/@import/index.md
Labels: l10n-ja

#27122 Web/CSS/@media を更新
  files/ja/web/css/@media/index.md
Labels: l10n-ja

#27123 Web/CSS/@media/aspect-ratio を更新
  files/ja/web/css/@media/aspect-ratio/index.md
Labels: l10n-ja

#27124 Web/CSS/@media/color-gamut を更新
  files/ja/web/css/@media/color-gamut/index.md
Labels: l10n-ja

#27126 Web/CSS/@media/display-mode を更新
  files/ja/web/css/@media/display-mode/index.md
Labels: l10n-ja

#27128 Web/CSS/@media/forced-colors を更新
  files/ja/web/css/@media/forced-colors/index.md
Labels: l10n-ja

#27129 Web/CSS/@media/grid を更新
  files/ja/web/css/@media/grid/index.md
Labels: l10n-ja

#27178 zh-CN: create `userScripts.ScriptSource`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/scriptsource/index.md
Labels: l10n-zh

#26807 zh-CN: create `webRequest.onBeforeRedirect`
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
Labels: l10n-zh

#27138 [zh-TW]: update API `Document.querySelector()` method
  files/zh-tw/web/api/document/queryselector/index.md
Labels: l10n-zh

#27160 zh-CN: fix webRequests translations
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Labels: l10n-zh

#27141 [zh-cn]: create the translation of CSS shadow parts
  files/zh-cn/web/css/css_shadow_parts/index.md
Labels: l10n-zh

#26912 [zh-TW]: update API "Battery Status API"
  files/zh-tw/web/api/battery_status_api/index.md
Labels: l10n-zh

#27135 [ko] window caches 번역
  files/ko/web/api/window/caches/index.md
Labels: l10n-ko

#27144 Web/CSS/@media/monochrome を更新
  files/ja/web/css/@media/monochrome/index.md
Labels: l10n-ja

#27145 Web/CSS/@media/overflow-block 他1件を更新
  files/ja/web/css/@media/overflow-block/index.md
  files/ja/web/css/@media/overflow-inline/index.md
Labels: l10n-ja

#27146 Web/CSS/@media/device-posture を新規翻訳
  files/ja/web/css/@media/device-posture/index.md
Labels: l10n-ja

#27147 Web/CSS/@media/orientation 他1件を更新
  files/ja/web/css/@media/orientation/index.md
  files/ja/web/css/@media/pointer/index.md
Labels: l10n-ja

#27148 Web/CSS/@media/prefers-color-scheme を更新
  files/ja/web/css/@media/prefers-color-scheme/index.md
Labels: l10n-ja

#27149 Web/CSS/@media/prefers-reduced-data を更新
  files/ja/web/css/@media/prefers-reduced-data/index.md
Labels: l10n-ja

#27150 Web/CSS/@media/prefers-reduced-motion を更新
  files/ja/web/css/@media/prefers-reduced-motion/index.md
Labels: l10n-ja

#27151 Web/CSS/@media/prefers-reduced-transparency を新規翻訳
  files/ja/web/css/@media/prefers-reduced-transparency/index.md
Labels: l10n-ja

#27152 Web/CSS/@media/resolution を更新
  files/ja/web/css/@media/resolution/index.md
Labels: l10n-ja

#27153 Web/CSS/@media/scan を新規翻訳
  files/ja/web/css/@media/scan/index.md
Labels: l10n-ja

#27154 Web/CSS/@media/scripting を更新
  files/ja/web/css/@media/scripting/index.md
Labels: l10n-ja

#27155 Web/CSS/@media/update を更新
  files/ja/web/css/@media/update/index.md
Labels: l10n-ja

#27156 Web/CSS/@media/hover 他2件を更新
  files/ja/web/css/@media/hover/index.md
  files/ja/web/css/@media/inverted-colors/index.md
  files/ja/web/css/@media/video-dynamic-range/index.md
Labels: l10n-ja

#27157 Web/CSS/@media/height 他2件を更新
  files/ja/web/css/@media/height/index.md
  files/ja/web/css/@media/prefers-contrast/index.md
  files/ja/web/css/@media/width/index.md
Labels: l10n-ja

#27158 Web/CSS/@media/-webkit-transition を更新
  files/ja/web/css/@media/-webkit-transition/index.md
Labels: l10n-ja

#27159 Web/CSS/@media/-moz-device-pixel-ratio 他4件を更新
  files/ja/web/css/@media/-moz-device-pixel-ratio/index.md
  files/ja/web/css/@media/-webkit-animation/index.md
  files/ja/web/css/@media/-webkit-device-pixel-ratio/index.md
  files/ja/web/css/@media/-webkit-transform-2d/index.md
  files/ja/web/css/@media/-webkit-transform-3d/index.md
Labels: l10n-ja

#27195 特性クエリー→機能クエリー（@supports の使用に関して）
  files/ja/web/css/@container/index.md
  files/ja/web/css/css_conditional_rules/index.md
Labels: l10n-ja

#27196 Web/CSS/CSS_motion_path を更新
  files/ja/web/css/css_motion_path/index.md
Labels: l10n-ja

#27197 Web/CSS/offset-anchor 他1件を更新
  files/ja/web/css/offset-anchor/index.md
  files/ja/web/css/offset-position/index.md
Labels: l10n-ja

#27198 Web/CSS/offset 他2件を更新
  files/ja/web/css/offset-distance/index.md
  files/ja/web/css/offset-rotate/index.md
  files/ja/web/css/offset/index.md
Labels: l10n-ja

#27199 Web/CSS/offset-path 他1件を更新
  files/ja/web/css/offset-path/index.md
  files/ja/web/css/ray/index.md
Labels: l10n-ja

#27045 [zh-TW]: update API `console.assert()` static method
  files/zh-tw/web/api/console/assert_static/index.md
Labels: l10n-zh

#27209 Web/CSS/CSS_multicol_layout/Using_multicol_layouts を更新
  files/ja/web/css/css_multicol_layout/using_multicol_layouts/index.md
Labels: l10n-ja

#27211 Web/CSS/CSS_multicol_layout 以下のその他の記事を更新
  files/ja/web/css/css_multicol_layout/basic_concepts/index.md
  files/ja/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/ja/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/ja/web/css/css_multicol_layout/styling_columns/index.md
Labels: l10n-ja

#27212 Web/CSS/column* の記事を更新
  files/ja/web/css/column-count/index.md
  files/ja/web/css/column-fill/index.md
  files/ja/web/css/column-gap/index.md
  files/ja/web/css/column-rule-color/index.md
  files/ja/web/css/column-rule-style/index.md
  files/ja/web/css/column-rule-width/index.md
  files/ja/web/css/column-span/index.md
  files/ja/web/css/column-width/index.md
  files/ja/web/css/columns/index.md
Labels: l10n-ja

#27213 Web/CSS/column-rule を更新
  files/ja/web/css/column-rule/index.md
Labels: l10n-ja

#27252 zh-CN: fix anchor in WebExtension translations
  files/zh-cn/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
Labels: l10n-zh

#26997 zh-cn: add new page for WebAssembly.Global constructor
  files/zh-cn/webassembly/reference/javascript_interface/global/global/index.md
Labels: l10n-zh

#27035 [zh-TW]: update API `ClipboardEvent`
  files/zh-tw/web/api/clipboardevent/index.md
Labels: l10n-zh

#27053 [zh-TW]: update API "Managing screen orientation"
  files/zh-tw/web/api/css_object_model/managing_screen_orientation/index.md
Labels: l10n-zh

#27193 [zh-cn]: update the translation of CSS text
  files/zh-cn/web/css/css_text/index.md
Labels: l10n-zh

#27075 [zh-TW]: update API `Document.createRange()` method
  files/zh-tw/web/api/document/createrange/index.md
Labels: l10n-zh

#27142 [zh-cn]: update the translation of HTTP `Pragma` header
  files/zh-cn/web/http/reference/headers/pragma/index.md
Labels: l10n-zh

#27216 Web/CSS/::column を新規翻訳
  files/ja/web/css/_doublecolon_column/index.md
Labels: l10n-ja

#27219 Web/API/Screen/availWidth 他1件を更新
  files/ja/web/api/screen/availwidth/index.md
  files/ja/web/api/screen/height/index.md
Labels: l10n-ja
