Repository mdn/translated-content, pull requests merged in 2025-03, with the labels that each got.

#26087 [ru] delete outdated `orphaned/MDN/At_ten` document
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/mdn/writing_guidelines/index.md
  files/ru/orphaned/mdn/at_ten/index.md
Labels: l10n-ru

#24964 zh-CN: create `RegisteredUserScript.unregister()`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/registereduserscript/unregister/index.md
Labels: l10n-zh

#24966 zh-CN: create `userScripts.register()`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/register/index.md
Labels: l10n-zh

#24965 zh-CN: create `userScripts.RegisteredUserScript`
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/registereduserscript/index.md
Labels: l10n-zh

#25890 [zh-cn] update the translation of `PerformanceResourceTiming`
  files/zh-cn/web/api/performanceresourcetiming/index.md
Labels: l10n-zh

#26062 MDN/Writing_guidelines/Page_structures 他1件を更新
  files/ja/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/ja/mdn/writing_guidelines/page_structures/index.md
Labels: l10n-ja

#26063 MDN/Writing_guidelines/What_we_write 他1件を更新
  files/ja/mdn/writing_guidelines/what_we_write/index.md
  files/ja/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-ja

#26064 MDN/Writing_guidelines/Page_structures/Code_examples 他2件を更新
  files/ja/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/ja/mdn/writing_guidelines/page_structures/page_types/index.md
  files/ja/mdn/writing_guidelines/page_structures/sidebars/index.md
Labels: l10n-ja

#26011 [ja]: Update 証明書の透明性; CT requirement from Fx135 desktop
  files/ja/web/security/certificate_transparency/index.md
Labels: l10n-ja

#26047 [ja] follow latest article of EvalError
  files/ja/web/javascript/reference/global_objects/evalerror/index.md
Labels: l10n-ja

#26100 fix(typo): リクエストヘッダー使用します → リクエストヘッダーを使用します
  files/ja/glossary/preflight_request/index.md
Labels: l10n-ja

#26104 [ru] update `Web/JavaScript/Reference/Global_Objects/String/padEnd` translation
  files/ru/web/javascript/reference/global_objects/string/padend/index.md
Labels: l10n-ru

#26002 [zh-CN]: Add translation for `NavigateEvent.info`
  files/zh-cn/web/api/navigateevent/info/index.md
Labels: l10n-zh

#26005 [zh-CN]: Add translation for `NavigateEvent.userInitiated`
  files/zh-cn/web/api/navigateevent/userinitiated/index.md
Labels: l10n-zh

#26004 [zh-CN]: Add translation for `NavigateEvent.signal`
  files/zh-cn/web/api/navigateevent/signal/index.md
Labels: l10n-zh

#26021 [zh-TW]: update HTTP Status `5XX`
  files/zh-tw/web/http/status/500/index.md
  files/zh-tw/web/http/status/502/index.md
  files/zh-tw/web/http/status/503/index.md
  files/zh-tw/web/http/status/506/index.md
  files/zh-tw/web/http/status/507/index.md
  files/zh-tw/web/http/status/508/index.md
  files/zh-tw/web/http/status/511/index.md
Labels: l10n-zh

#26020 [zh-TW] : update HTTP Status `501`
  files/zh-tw/web/http/status/501/index.md
Labels: l10n-zh

#26076 MDN/Writing_guidelines/Page_structures/Macros/Commonly_used_macros 他1件を同期
  files/ja/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/ja/mdn/writing_guidelines/page_structures/macros/index.md
Labels: l10n-ja

#26111 aria-braillelabelを翻訳
  files/ja/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: l10n-ja

#25953 zh-cn: update the translation of `WebGL2RenderingContext.uniform[1234][uif][v]()`
  files/zh-cn/web/api/webgl2renderingcontext/uniform/index.md
Labels: l10n-zh

#25998 [zh-CN]: Add translation for `NavigateEvent.downloadRequest`
  files/zh-cn/web/api/navigateevent/downloadrequest/index.md
Labels: l10n-zh

#26003 [zh-CN]: Add translation for `NavigateEvent.navigationType`
  files/zh-cn/web/api/navigateevent/navigationtype/index.md
Labels: l10n-zh

#26101 [zh-TW]: update HTTP Status `424`
  files/zh-tw/web/http/status/424/index.md
Labels: l10n-zh

#26006 [zh-CN]: Add translation for `NavigationCurrentEntryChangeEvent()`
  files/zh-cn/web/api/navigationcurrententrychangeevent/navigationcurrententrychangeevent/index.md
Labels: l10n-zh

#26008 [zh-CN]: Add translation for `NavigationCurrentEntryChangeEvent.from`
  files/zh-cn/web/api/navigationcurrententrychangeevent/from/index.md
Labels: l10n-zh

#26024 [zh-TW]: update HTTP Status `431`
  files/zh-tw/web/http/status/431/index.md
Labels: l10n-zh

#26027 [zh-TW]: update HTTP Header "Allow"
  files/zh-tw/web/http/headers/allow/index.md
Labels: l10n-zh

#26035 [zh-TW]: update HTTP Status `429`
  files/zh-tw/web/http/status/429/index.md
Labels: l10n-zh

#25999 [zh-CN]: Add translation for `NavigateEvent.formData`
  files/zh-cn/web/api/navigateevent/formdata/index.md
Labels: l10n-zh

#26000 [zh-CN]: Add translation for `NavigateEvent.hashChange`
  files/zh-cn/web/api/navigateevent/hashchange/index.md
Labels: l10n-zh

#26119 [zh-tw]: update the translation of the "Accessibility" index page
  files/zh-tw/learn_web_development/core/accessibility/index.md
Labels: l10n-zh

#26001 [zh-CN]: Add translation for `NavigateEvent.hasUAVisualTransition`
  files/zh-cn/web/api/navigateevent/hasuavisualtransition/index.md
Labels: l10n-zh

#26128 zh-cn: fix the typo in JavaScript `static` keyword
  files/zh-cn/web/javascript/reference/classes/static/index.md
Labels: l10n-zh

#26126 zh-cn: init the translation of the `column-width` CSS property
  files/zh-cn/web/css/column-width/index.md
Labels: l10n-zh

#25880 [ko] fix type in cors page (오타 수정)
  files/ko/web/http/cors/index.md
Labels: l10n-ko

#26048 docs: fix typos in `http/session/index.md`
  files/ko/web/http/session/index.md
Labels: l10n-ko

#25916 [ko] fix: Response 페이지의 인스턴스 매서드 오타 교정
  files/ko/web/api/response/index.md
Labels: l10n-ko

#26042 [pt-BR]: migrate HTML interactive examples
  files/pt-br/web/html/element/a/index.md
  files/pt-br/web/html/element/caption/index.md
  files/pt-br/web/html/element/code/index.md
  files/pt-br/web/html/element/embed/index.md
  files/pt-br/web/html/element/figure/index.md
  files/pt-br/web/html/element/header/index.md
  files/pt-br/web/html/element/heading_elements/index.md
  files/pt-br/web/html/element/input/button/index.md
  files/pt-br/web/html/element/input/password/index.md
  files/pt-br/web/html/element/input/range/index.md
  files/pt-br/web/html/element/input/time/index.md
  files/pt-br/web/html/element/s/index.md
  files/pt-br/web/html/element/table/index.md
  files/pt-br/web/html/element/textarea/index.md
  files/pt-br/web/html/element/tfoot/index.md
  files/pt-br/web/html/element/th/index.md
  files/pt-br/web/html/element/track/index.md
  files/pt-br/web/html/element/video/index.md
  files/pt-br/web/html/global_attributes/accesskey/index.md
  files/pt-br/web/html/global_attributes/contenteditable/index.md
  files/pt-br/web/html/global_attributes/lang/index.md
  files/pt-br/web/html/global_attributes/tabindex/index.md
Labels: l10n-pt-br

#26061 [ko] Fetch API의 Headers 인터페이스 번역
  files/ko/web/api/headers/index.md
Labels: l10n-ko

#26137 chore(workflows/pr-review-companion): upload to GCS first
  .github/workflows/pr-review-companion.yml
Labels: system

#26125 aria-busyを翻訳
  files/ja/web/accessibility/aria/attributes/aria-busy/index.md
Labels: l10n-ja

#26085 MDN/Writing_guidelines/Page_structures/Links を同期
  files/ja/mdn/writing_guidelines/page_structures/links/index.md
  files/ja/mdn/writing_guidelines/page_structures/live_samples/index.md
Labels: l10n-ja

#26096 [es]: Actualiza el modulo con la ultima verision en ingles de combinadores
  files/es/learn_web_development/core/styling_basics/combinators/index.md
Labels: l10n-es

#26089 [ru] remove outdated `conflicting/MDN/Community` document
  files/ru/_redirects.txt
  files/ru/_wikihistory.json
  files/ru/conflicting/mdn/community/index.md
  files/ru/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
  files/ru/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/ru/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/ru/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
  files/ru/learn_web_development/howto/web_mechanics/what_are_hyperlinks/index.md
  files/ru/learn_web_development/howto/web_mechanics/what_is_a_domain_name/index.md
  files/ru/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
  files/ru/learn_web_development/howto/web_mechanics/what_is_a_web_server/index.md
  files/ru/learn_web_development/index.md
  files/ru/mdn/community/getting_started/index.md
  files/ru/mdn/community/index.md
  files/ru/mdn/community/open_source_etiquette/index.md
  files/ru/mdn/index.md
  files/ru/mdn/writing_guidelines/index.md
Labels: l10n-ru

#26138 fix(redirects): fix casing of destinations
  files/es/_redirects.txt
  files/fr/_redirects.txt
  files/ja/_redirects.txt
  files/ru/_redirects.txt
  files/zh-cn/_redirects.txt
Labels: l10n-ja, l10n-fr, l10n-zh, l10n-es, l10n-ru

#25205 [pt-br] Update resource files/pt-br/web/html/element/abbr/index.md
  files/pt-br/web/html/element/abbr/index.md
Labels: l10n-pt-br

#25881 [pt-br]: Fixing links on Getting Started section
  files/pt-br/web/svg/tutorial/getting_started/index.md
Labels: l10n-pt-br

#26159 [pt-br]: Migrate tabbed CSS interactive examples
  files/pt-br/web/css/@layer/index.md
Labels: l10n-pt-br

#25488 Translate untranslated content to pt-br and some grammatical fixes
  files/pt-br/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Labels: l10n-pt-br

#24825 [pt-br] Update resource pt-BR/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout
  files/pt-br/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: l10n-pt-br

#25957 [ko] docs: glossary-guide에 Command line(명령줄), Editor(편집기) 용어 추가
  docs/ko/guides/glossary-guide.md
Labels: l10n-ko

#26134 [es]: Migrate WAT/WASM interactive examples
  files/es/webassembly/reference/numeric/and/index.md
Labels: l10n-es

#26144 Typo fix in spanish translation of Web/JavaScript/Reference/Global_Objects/Function/call
  files/es/web/javascript/reference/global_objects/function/call/index.md
Labels: l10n-es

#26168 more casing fixes
  files/ja/_redirects.txt
  files/ja/web/css/cssom_view/viewport_concepts/index.md
Labels: l10n-ja

#26155 [es]: Migrate tabbed CSS interactive examples
  files/es/web/css/_colon_is/index.md
  files/es/web/css/_doublecolon_file-selector-button/index.md
  files/es/web/css/_doublecolon_selection/index.md
Labels: l10n-es

#26169 fix(workflows/pr-review-companion): exclude parent from upload
  .github/workflows/pr-review-companion.yml
Labels: system

#26142 [zh-CN]: Add translation for `NavigateEvent.intercept`
  files/zh-cn/web/api/navigateevent/intercept/index.md
Labels: l10n-zh

#26135 [zh-CN]: Migrate WAT/WASM interactive examples
  files/zh-cn/webassembly/reference/variables/local_tee/index.md
Labels: l10n-zh

#26136 [zh-TW]: Migrate WAT/WASM interactive examples
  files/zh-tw/webassembly/reference/control_flow/block/index.md
  files/zh-tw/webassembly/reference/control_flow/br/index.md
  files/zh-tw/webassembly/reference/control_flow/drop/index.md
  files/zh-tw/webassembly/reference/control_flow/end/index.md
  files/zh-tw/webassembly/reference/control_flow/if...else/index.md
  files/zh-tw/webassembly/reference/control_flow/nop/index.md
  files/zh-tw/webassembly/reference/control_flow/return/index.md
  files/zh-tw/webassembly/reference/control_flow/unreachable/index.md
Labels: l10n-zh

#26129 [zh-CN]: Add missing content in `DataTransferItem` page
  files/zh-cn/web/api/datatransferitem/index.md
Labels: l10n-zh

#26161 [zh-cn]: Migrate tabbed CSS interactive examples
  files/zh-cn/web/css/@media/index.md
  files/zh-cn/web/css/_colon_any-link/index.md
  files/zh-cn/web/css/_colon_autofill/index.md
  files/zh-cn/web/css/_colon_disabled/index.md
  files/zh-cn/web/css/_colon_empty/index.md
  files/zh-cn/web/css/_colon_enabled/index.md
  files/zh-cn/web/css/_colon_first-child/index.md
  files/zh-cn/web/css/_colon_first-of-type/index.md
  files/zh-cn/web/css/_colon_focus-within/index.md
  files/zh-cn/web/css/_colon_focus/index.md
  files/zh-cn/web/css/_colon_hover/index.md
  files/zh-cn/web/css/_colon_in-range/index.md
  files/zh-cn/web/css/_colon_invalid/index.md
  files/zh-cn/web/css/_colon_is/index.md
  files/zh-cn/web/css/_colon_lang/index.md
  files/zh-cn/web/css/_colon_last-child/index.md
  files/zh-cn/web/css/_colon_link/index.md
  files/zh-cn/web/css/_colon_not/index.md
  files/zh-cn/web/css/_colon_nth-child/index.md
  files/zh-cn/web/css/_colon_nth-last-of-type/index.md
  files/zh-cn/web/css/_colon_nth-of-type/index.md
  files/zh-cn/web/css/_colon_only-child/index.md
  files/zh-cn/web/css/_colon_only-of-type/index.md
  files/zh-cn/web/css/_colon_optional/index.md
  files/zh-cn/web/css/_colon_out-of-range/index.md
  files/zh-cn/web/css/_colon_placeholder-shown/index.md
  files/zh-cn/web/css/_colon_required/index.md
  files/zh-cn/web/css/_colon_visited/index.md
  files/zh-cn/web/css/_doublecolon_after/index.md
  files/zh-cn/web/css/_doublecolon_backdrop/index.md
  files/zh-cn/web/css/_doublecolon_before/index.md
  files/zh-cn/web/css/_doublecolon_file-selector-button/index.md
  files/zh-cn/web/css/_doublecolon_first-letter/index.md
  files/zh-cn/web/css/_doublecolon_marker/index.md
  files/zh-cn/web/css/_doublecolon_placeholder/index.md
  files/zh-cn/web/css/_doublecolon_slotted/index.md
Labels: l10n-zh

#26162 [zh-tw]: Migrate tabbed CSS interactive examples
  files/zh-tw/web/css/@namespace/index.md
  files/zh-tw/web/css/_doublecolon_first-letter/index.md
Labels: l10n-zh

#26009 [zh-CN]: Add translation for `NavigationCurrentEntryChangeEvent.navigationType`
  files/zh-cn/web/api/navigationcurrententrychangeevent/navigationtype/index.md
Labels: l10n-zh

#26105 MDN/Writing_guidelines/Changelog 他3件を同期
  files/ja/mdn/writing_guidelines/changelog/index.md
  files/ja/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/ja/mdn/writing_guidelines/howto/index.md
  files/ja/mdn/writing_guidelines/page_structures/specification_tables/index.md
Labels: l10n-ja

#26106 MDN/Writing_guidelines 他1件を英語版に同期
  files/ja/mdn/writing_guidelines/index.md
  files/ja/mdn/writing_guidelines/learning_content/index.md
Labels: l10n-ja

#26108 MDN/Writing_guidelines/Howto/Images_media 他3件を英語版に同期
  files/ja/mdn/writing_guidelines/howto/images_media/index.md
  files/ja/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/ja/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/ja/mdn/writing_guidelines/page_structures/feature_status/index.md
Labels: l10n-ja

#26109 MDN/Writing_guidelines/Attrib_copyright_license を英語版に同期
  files/ja/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: l10n-ja

#26110 用語の修正: リスナ→リスナー
  files/ja/mozilla/add-ons/webextensions/api/alarms/alarm/index.md
  files/ja/mozilla/add-ons/webextensions/api/alarms/create/index.md
  files/ja/mozilla/add-ons/webextensions/api/alarms/onalarm/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onchanged/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onchildrenreordered/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/oncreated/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onimportbegan/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onimportended/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onmoved/index.md
  files/ja/mozilla/add-ons/webextensions/api/bookmarks/onremoved/index.md
  files/ja/mozilla/firefox/releases/1.5/index.md
  files/ja/mozilla/firefox/releases/33/index.md
  files/ja/web/api/performance/index.md
  files/ja/web/api/web_storage_api/using_the_web_storage_api/index.md
  files/ja/web/api/xmlhttprequest_api/synchronous_and_asynchronous_requests/index.md
Labels: l10n-ja

#26112 Web/Progressive_web_apps/How_to を英語版に同期
  files/ja/web/progressive_web_apps/how_to/index.md
Labels: l10n-ja

#26113 Web/Progressive_web_apps/Tutorials を英語版に同期
  files/ja/web/progressive_web_apps/tutorials/index.md
Labels: l10n-ja

#26114 Web/Progressive_web_apps 他2件を英語版に同期
  files/ja/web/progressive_web_apps/index.md
  files/ja/web/progressive_web_apps/manifest/index.md
  files/ja/web/progressive_web_apps/reference/index.md
Labels: l10n-ja

#26115 zh-cn: update the translation of `MediaStream.getTracks()`
  files/zh-cn/web/api/mediastream/gettracks/index.md
Labels: l10n-zh

#26127 [zh-cn] split 'lists' from original learn passage
  files/zh-cn/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/zh-cn/learn_web_development/core/structuring_content/headings_and_paragraphs/index.md
  files/zh-cn/learn_web_development/core/structuring_content/lists/index.md
Labels: l10n-zh

#25503 [zh-cn]: update for CSS colors
  files/zh-cn/web/css/css_colors/index.md
Labels: l10n-zh

#26148 [zh-CN]: Update HEVC hardware decode support status for FireFox
  files/zh-cn/web/media/guides/formats/video_codecs/index.md
Labels: l10n-zh

#26143 [zh-CN]: Sync translation for `NavigatorUAData.getHighEntropyValues`
  files/zh-cn/web/api/navigatoruadata/gethighentropyvalues/index.md
Labels: l10n-zh

#26046 [zh-TW]: update HTTP Status `428`
  files/zh-tw/web/http/status/428/index.md
Labels: l10n-zh

#26075 [zh-TW]: update HTTP Status `425`
  files/zh-tw/web/http/status/425/index.md
Labels: l10n-zh

#26095 [zh-CN]: Add translation for `NavigateEvent.scroll`
  files/zh-cn/web/api/navigateevent/scroll/index.md
Labels: l10n-zh

#26131 [zh-TW]: update HTTP Status `422`
  files/zh-tw/web/http/status/422/index.md
Labels: l10n-zh

#26149 [zh-CN]: add translation for http status 226
  files/zh-cn/web/http/status/226/index.md
Labels: l10n-zh

#26074 [zh-TW]: update WebAPI "setRequestHeader"
  files/zh-tw/web/api/xmlhttprequest/setrequestheader/index.md
Labels: l10n-zh

#26153 [zh-TW]: update HTTP Status `418`
  files/zh-tw/web/http/status/418/index.md
Labels: l10n-zh

#26118 Web/Progressive_web_apps/Manifest/Reference/b*-d* を英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/background_color/index.md
  files/ja/web/progressive_web_apps/manifest/reference/categories/index.md
  files/ja/web/progressive_web_apps/manifest/reference/description/index.md
  files/ja/web/progressive_web_apps/manifest/reference/display/index.md
  files/ja/web/progressive_web_apps/manifest/reference/display_override/index.md
  files/ja/web/progressive_web_apps/manifest/reference/index.md
Labels: l10n-ja

#26123 起動ハンドラー API 関係の記事7件を新規翻訳
  files/ja/web/api/launch_handler_api/index.md
  files/ja/web/api/launchparams/index.md
  files/ja/web/api/launchqueue/index.md
  files/ja/web/api/launchqueue/setconsumer/index.md
  files/ja/web/api/window/launchqueue/index.md
  files/ja/web/progressive_web_apps/manifest/reference/file_handlers/index.md
Labels: l10n-ja

#26124 起動ハンドラー API 関係の記事2件を新規翻訳
  files/ja/web/api/launchparams/files/index.md
  files/ja/web/api/launchparams/targeturl/index.md
Labels: l10n-ja

#24509 [zh-cn] update the translation of the CSS `backdrop-filter` property
  files/zh-cn/web/css/backdrop-filter/index.md
Labels: l10n-zh

#26160 [ru]: Migrate tabbed CSS interactive examples
  files/ru/web/css/@layer/index.md
  files/ru/web/css/_colon_only-of-type/index.md
Labels: l10n-ru

#26193 [es]: Agrega traduccion de files/es/learn_web_development/getting_started/environment_setup/
  files/es/learn_web_development/getting_started/environment_setup/index.md
Labels: l10n-es

#26158 [ko]: Migrate tabbed CSS interactive examples
  files/ko/web/css/@layer/index.md
  files/ko/web/css/_colon_disabled/index.md
  files/ko/web/css/_colon_last-child/index.md
  files/ko/web/css/_colon_placeholder-shown/index.md
  files/ko/web/css/_doublecolon_before/index.md
  files/ko/web/css/_doublecolon_marker/index.md
  files/ko/web/css/_doublecolon_placeholder/index.md
  files/ko/web/css/_doublecolon_selection/index.md
  files/ko/web/css/_doublecolon_slotted/index.md
Labels: l10n-ko

#26132 [zh-TW]: update HTTP Status `421`
  files/zh-tw/web/http/status/421/index.md
Labels: l10n-zh

#26154 [zh-TW]: update HTTP Status `417`
  files/zh-tw/web/http/status/417/index.md
Labels: l10n-zh

#26181 [zh-cn] update 'web performance'
  files/zh-cn/web/performance/index.md
Labels: l10n-zh

#25231 [pt-br] fix the broken image link
  files/pt-br/learn_web_development/extensions/forms/your_first_form/index.md
Labels: l10n-pt-br

#26189 [ja] Fix misspelling of 'JSON'
  files/ja/web/javascript/reference/statements/import/with/index.md
Labels: l10n-ja

#26117 aria-brailleroledescriptionを翻訳
  files/ja/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: l10n-ja

#26094 zh-CN: retire legacy `userScripts` documents
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/onbeforescript/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/userscriptoptions/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts_legacy/working_with_userscripts/index.md
Labels: l10n-zh

#25506 [zh-cn]: create doc for CSS display-listitem
  files/zh-cn/web/css/display-listitem/index.md
Labels: l10n-zh

#26164 [zh-TW]: update CSS "CSS inline layout"
  files/zh-tw/web/css/css_inline_layout/index.md
Labels: l10n-zh

#26165 [zh-TW]: update HTTP Status `416`
  files/zh-tw/web/http/status/416/index.md
Labels: l10n-zh

#26184 [es]: Actualiza contenido a la ultima version en ingles
  files/es/learn_web_development/getting_started/your_first_website/publishing_your_website/index.md
Labels: l10n-es

#26200 fix(typo): トラッキングとプライバシー → プライバシーとトラッキング
  files/ja/web/http/cookies/index.md
Labels: l10n-ja

#26140 Web/Progressive_web_apps/Manifest/Reference 以下の i* - n* の記事を同期
  files/ja/web/progressive_web_apps/manifest/reference/file_handlers/index.md
  files/ja/web/progressive_web_apps/manifest/reference/icons/index.md
  files/ja/web/progressive_web_apps/manifest/reference/id/index.md
  files/ja/web/progressive_web_apps/manifest/reference/launch_handler/index.md
  files/ja/web/progressive_web_apps/manifest/reference/name/index.md
  files/ja/web/progressive_web_apps/manifest/reference/note_taking/index.md
Labels: l10n-ja

#26227 Agrega traduccion de files/es/learn_web_development/getting_started
  files/es/learn_web_development/getting_started/index.md
Labels: l10n-es

#26036 [zh-TW]: update HTTP Header "Accept-Ranges"
  files/zh-tw/web/http/headers/accept-ranges/index.md
Labels: l10n-zh

#25508 [zh-cn]: create doc for RsaOaepParams
  files/zh-cn/web/api/rsaoaepparams/index.md
Labels: l10n-zh

#26180 [zh-CN]: update the translation of "Test your skills: Selectors"
  files/zh-cn/learn_web_development/core/styling_basics/basic_selectors/selectors_tasks/index.md
Labels: l10n-zh

#26208 Remove "experimental icon" for let and const statements
  files/ru/web/javascript/reference/statements/index.md
Labels: l10n-ru

#26141 [ko] update web/css/color_value/oklab
  files/ko/web/css/color_value/oklab/index.md
Labels: l10n-ko

#25517 [zh-cn]: create docs for Ec*Params
  files/zh-cn/web/api/ecdhkeyderiveparams/index.md
  files/zh-cn/web/api/ecdsaparams/index.md
  files/zh-cn/web/api/eckeygenparams/index.md
  files/zh-cn/web/api/eckeyimportparams/index.md
Labels: l10n-zh

#25515 [zh-cn]: create docs for RsaHashedKeyGenParams and RsaHashedImportParams
  files/zh-cn/web/api/rsahashedimportparams/index.md
  files/zh-cn/web/api/rsahashedkeygenparams/index.md
Labels: l10n-zh

#25516 [zh-cn]: create doc for Pbkdf2Params
  files/zh-cn/web/api/pbkdf2params/index.md
Labels: l10n-zh

#26221 [zh-CN]: Add translation for `Navigation.navigate_event`
  files/zh-cn/web/api/navigation/navigate_event/index.md
Labels: l10n-zh

#26222 [zh-CN]: Add translation for `Navigation.navigateerror_event`
  files/zh-cn/web/api/navigation/navigateerror_event/index.md
Labels: l10n-zh

#26139 aria-checkedを翻訳
  files/ja/web/accessibility/aria/attributes/aria-checked/index.md
Labels: l10n-ja

#26166 aria-colcountを翻訳
  files/ja/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: l10n-ja

#26167 Web/Progressive_web_apps/Manifest/Reference 以下の o*～r* の記事を英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/orientation/index.md
  files/ja/web/progressive_web_apps/manifest/reference/prefer_related_applications/index.md
  files/ja/web/progressive_web_apps/manifest/reference/protocol_handlers/index.md
  files/ja/web/progressive_web_apps/manifest/reference/related_applications/index.md
Labels: l10n-ja

#26177 学習コンテンツへのリンクを修正
  files/ja/learn_web_development/extensions/server-side/django/development_environment/index.md
  files/ja/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
  files/ja/learn_web_development/extensions/server-side/first_steps/index.md
  files/ja/learn_web_development/extensions/server-side/index.md
  files/ja/web/api/html_dom_api/microtask_guide/index.md
  files/ja/web/api/mediacapabilities/decodinginfo/index.md
  files/ja/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/ja/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/ja/web/http/cors/errors/corsrequestnothttp/index.md
  files/ja/web/javascript/reference/global_objects/promise/allsettled/index.md
Labels: l10n-ja

#26179 Web/CSS/Guides を新規翻訳
  files/ja/web/css/guides/index.md
Labels: l10n-ja

#26182 Web/Progressive_web_apps/Manifest/Reference 以下の残りの部分を英語版に同期
  files/ja/web/progressive_web_apps/manifest/reference/scope/index.md
  files/ja/web/progressive_web_apps/manifest/reference/screenshots/index.md
  files/ja/web/progressive_web_apps/manifest/reference/serviceworker/index.md
  files/ja/web/progressive_web_apps/manifest/reference/share_target/index.md
  files/ja/web/progressive_web_apps/manifest/reference/short_name/index.md
  files/ja/web/progressive_web_apps/manifest/reference/shortcuts/index.md
  files/ja/web/progressive_web_apps/manifest/reference/start_url/index.md
  files/ja/web/progressive_web_apps/manifest/reference/theme_color/index.md
Labels: l10n-ja

#25507 [zh-cn]: create doc for RsaPssParams
  files/zh-cn/web/api/rsapssparams/index.md
Labels: l10n-zh

#25518 [zh-cn]: create docs for Aes*Params
  files/zh-cn/web/api/aescbcparams/index.md
  files/zh-cn/web/api/aesctrparams/index.md
  files/zh-cn/web/api/aesgcmparams/index.md
  files/zh-cn/web/api/aeskeygenparams/index.md
Labels: l10n-zh

#26228 [zh-CN]: Add translation for `Navigation.navigate`
  files/zh-cn/web/api/navigation/navigate/index.md
Labels: l10n-zh

#26190 zh-cn: update the translation of the `userScripts` API
  files/zh-cn/mozilla/add-ons/webextensions/api/userscripts/index.md
  files/zh-cn/mozilla/add-ons/webextensions/content_scripts/index.md
Labels: l10n-zh

#26223 [zh-CN]: Add translation for `Navigation.navigatesuccess_event`
  files/zh-cn/web/api/navigation/navigatesuccess_event/index.md
Labels: l10n-zh

#26230 [zh-CN]: Add translation for `Navigation.traverseTo`
  files/zh-cn/web/api/navigation/traverseto/index.md
Labels: l10n-zh

#26218 [zh-TW]: update HTTP Status `415`
  files/zh-tw/web/http/status/415/index.md
Labels: l10n-zh

#26233 [zh-TW]: update HTTP Status `413`
  files/zh-tw/web/http/status/413/index.md
Labels: l10n-zh

#26205 [zh-cn] create translation of 'URI'
  files/zh-cn/web/uri/index.md
Labels: l10n-zh

#26212 [zh-cn] init the translation of `mask-composite`
  files/zh-cn/web/css/mask-composite/index.md
Labels: l10n-zh

#26203 [zh-cn] update 'headings and paragraphs'
  files/zh-cn/learn_web_development/core/structuring_content/headings_and_paragraphs/index.md
Labels: l10n-zh

#26219 [zh-TW]: update HTTP Status `414`
  files/zh-tw/web/http/status/414/index.md
Labels: l10n-zh

#26183 aria-colindextextを翻訳
  files/ja/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: l10n-ja

#26270 [ja] Fix MouseEvent.buttons
  files/ja/web/api/mouseevent/index.md
Labels: l10n-ja

#26285 [zh-cn] init translation of 'extension module'
  files/zh-cn/learn_web_development/extensions/index.md
Labels: l10n-zh

#26238 zh-CN: create `permissions`
  files/zh-cn/mozilla/add-ons/webextensions/api/permissions/index.md
Labels: l10n-zh

#26220 aria-controlsを翻訳
  files/ja/web/accessibility/aria/attributes/aria-controls/index.md
Labels: l10n-ja

#26156 [fr]: Migrate tabbed CSS interactive examples
  files/fr/web/css/_colon_is/index.md
  files/fr/web/css/_colon_nth-child/index.md
  files/fr/web/css/_colon_nth-last-of-type/index.md
  files/fr/web/css/_colon_nth-of-type/index.md
  files/fr/web/css/_colon_only-of-type/index.md
  files/fr/web/css/_colon_where/index.md
  files/fr/web/css/_doublecolon_after/index.md
  files/fr/web/css/content/index.md
Labels: l10n-fr

#26255 web/api/storage/key/index.md の衍字の訂正
  files/ja/web/api/storage/key/index.md
Labels: l10n-ja

#26229 [zh-CN]: Add translation for `Navigation.reload`
  files/zh-cn/web/api/navigation/reload/index.md
Labels: l10n-zh

#26304 [zh-tw]: Migrate CSS interactive examples
  files/zh-tw/web/css/background-attachment/index.md
  files/zh-tw/web/css/border-bottom-color/index.md
  files/zh-tw/web/css/border-color/index.md
  files/zh-tw/web/css/border-left-color/index.md
  files/zh-tw/web/css/border-right-color/index.md
  files/zh-tw/web/css/border-top-color/index.md
  files/zh-tw/web/css/box-sizing/index.md
  files/zh-tw/web/css/grid-template/index.md
  files/zh-tw/web/css/transform-function/translate3d/index.md
  files/zh-tw/web/css/transform-origin/index.md
  files/zh-tw/web/css/transform/index.md
  files/zh-tw/web/css/transition-duration/index.md
  files/zh-tw/web/css/transition-timing-function/index.md
  files/zh-tw/web/css/transition/index.md
Labels: l10n-zh

#26247 [zh-CN]: Sync translation for `{ServiceWorkerGlobalScope,Window}.cookieStore`
  files/zh-cn/web/api/serviceworkerglobalscope/cookiestore/index.md
  files/zh-cn/web/api/window/cookiestore/index.md
Labels: l10n-zh

#26240 zh-CN: create `permissions.onAdded` and patch corrections
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/onchanged/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/commands/oncommand/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/notifications/onbuttonclicked/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/omnibox/oninputchanged/index.md
  files/zh-cn/mozilla/add-ons/webextensions/api/permissions/onadded/index.md
Labels: l10n-zh

#26241 zh-CN: create `permissions.onRemoved`
  files/zh-cn/mozilla/add-ons/webextensions/api/permissions/onremoved/index.md
Labels: l10n-zh

#26256 [zh-TW]: update HTTP Status `408`
  files/zh-tw/web/http/status/408/index.md
Labels: l10n-zh

#26252 [zh-TW]: update HTTP Status `410`
  files/zh-tw/web/http/status/410/index.md
Labels: l10n-zh

#26251 [zh-TW]: update HTTP Status `411`
  files/zh-tw/web/http/status/411/index.md
Labels: l10n-zh

#26289 [zh-TW]: update Encrypted Media Extensions API
  files/zh-tw/web/api/encrypted_media_extensions_api/index.md
Labels: l10n-zh

#26207 Web/CSS/CSS_box_alignment/Box_alignment を新規翻訳
  files/ja/web/css/css_box_alignment/box_alignment/index.md
  files/ja/web/css/css_box_alignment/box_alignment/two-axes.png
Labels: l10n-ja

#26213 Web/Progressive_web_apps/Tutorials/js13kGames/Offline_Service_workers を更新
  files/ja/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
Labels: l10n-ja
