Repository mdn/translated-content, pull requests merged in 2025-10, with the labels that each got.

#29399 Web/HTML/Reference/Elements/p を更新
  files/ja/web/html/reference/elements/p/index.md
Labels: l10n-ja

#29383 Web/HTML/Reference/Elements/Heading_Elements を更新
  files/ja/web/html/reference/elements/heading_elements/index.md
Labels: l10n-ja

#29463 fr: create `Web/API/HTMLDialogElement/closedBy`
  files/fr/web/api/htmldialogelement/closedby/index.md
Labels: l10n-fr

#29459 fr: create `Web/API/HTMLDialogElement`
  files/fr/web/api/htmldialogelement/index.md
Labels: l10n-fr

#29465 fr: create `Web/API/HTMLDialogElement/requestClose`
  files/fr/web/api/htmldialogelement/requestclose/index.md
Labels: l10n-fr

#29466 fr: create `Web/API/HTMLDialogElement/returnValue`
  files/fr/web/api/htmldialogelement/returnvalue/index.md
Labels: l10n-fr

#29467 fr: create `Web/API/HTMLDialogElement/show`
  files/fr/web/api/htmldialogelement/show/index.md
Labels: l10n-fr

#29462 fr: update `Web/API/HTMLDialogElement/close_event`
  files/fr/web/api/htmldialogelement/close_event/index.md
Labels: l10n-fr

#29255 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-atomic`
  files/fr/web/accessibility/aria/reference/attributes/aria-atomic/index.md
Labels: l10n-fr

#29256 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-autocomplete`
  files/fr/web/accessibility/aria/reference/attributes/aria-autocomplete/index.md
Labels: l10n-fr

#29268 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-description`
  files/fr/web/accessibility/aria/reference/attributes/aria-description/index.md
Labels: l10n-fr

#29269 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-details`
  files/fr/web/accessibility/aria/reference/attributes/aria-details/index.md
Labels: l10n-fr

#29270 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-disabled`
  files/fr/web/accessibility/aria/reference/attributes/aria-disabled/index.md
Labels: l10n-fr

#29264 fr: create `Web/Accessibility/ARIA/Reference/Attributes/aria-colspan`
  files/fr/web/accessibility/aria/reference/attributes/aria-colspan/index.md
Labels: l10n-fr

#29471 Fix typo: 配列す
  files/ja/web/api/document/adoptedstylesheets/index.md
Labels: l10n-ja

#29401 Web/JavaScript/Reference/Global_Objects/Math/sumPrecise を新規翻訳
  files/ja/web/javascript/reference/global_objects/math/sumprecise/index.md
Labels: l10n-ja

#29514 fr: create `Learn_web_development/Changelog`
  files/fr/learn_web_development/changelog/index.md
Labels: l10n-fr

#29485 fr: update `Learn_web_development/Getting_started/Environment_setup/Installing_software`
  files/fr/learn_web_development/getting_started/environment_setup/installing_software/index.md
Labels: l10n-fr

#29488 fr: update `Learn_web_development/Getting_started/Environment_setup/Dealing_with_files`
  files/fr/learn_web_development/getting_started/environment_setup/dealing_with_files/index.md
Labels: l10n-fr

#29489 fr: update `Learn_web_development/Getting_started/Environment_setup/Command_line`
  files/fr/learn_web_development/getting_started/environment_setup/command_line/index.md
Labels: l10n-fr

#29502 fr: update `Web/HTML/Guides/Cheatsheet`
  files/fr/web/html/guides/cheatsheet/index.md
Labels: l10n-fr

#29501 fr: update `Web/HTML/Reference/Elements/Heading_Elements`
  files/fr/web/html/reference/elements/heading_elements/index.md
Labels: l10n-fr

#29411 [ko] web/websocket/bufferedAmount 신규 번역
  files/ko/web/api/websocket/bufferedamount/index.md
Labels: l10n-ko

#28986 [ko] this 번역 최신화
  files/ko/web/javascript/reference/operators/this/index.md
Labels: l10n-ko

#29420 Web/API/CredentialsContainer を新規翻訳
  files/ja/web/api/credentialscontainer/index.md
Labels: l10n-ja

#29449 Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat 以下を更新 1
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/formatrange/index.md
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/formatrangetoparts/index.md
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/index.md
Labels: l10n-ja

#29450 Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat 以下を更新 2
  files/ja/web/javascript/reference/global_objects/intl/datetimeformat/format/index.md
Labels: l10n-ja

#29453 fix(ja): remove redundant wording in the explanation of function expression
  files/ja/web/javascript/reference/operators/function/index.md
Labels: l10n-ja

#29439 fix(zh-cn): correct the description of the `endOffset` parameter of `Range.setEnd()`
  files/zh-cn/web/api/range/setend/index.md
Labels: l10n-zh

#29516 fr: update `Learn_web_development/Core/CSS_layout/Flexbox`
  files/fr/learn_web_development/core/css_layout/flexbox/index.md
Labels: l10n-fr

#29518 fr: update `Web/SVG/Tutorials/SVG_from_scratch/Basic_shapes`
  files/fr/web/svg/tutorials/svg_from_scratch/basic_shapes/index.md
Labels: l10n-fr

#29519 fr: create `Glossary/Replaced_elements`
  files/fr/glossary/replaced_elements/index.md
Labels: l10n-fr

#29520 fr: create `Web/HTML/Reference/Elements/fencedframe`
  files/fr/web/html/reference/elements/fencedframe/index.md
Labels: l10n-fr

#29455 fix(ja): fix broken URI fragments in glossary/hoisting
  files/ja/glossary/hoisting/index.md
Labels: l10n-ja

#29521 fr: create `Web/API/Fence`
  files/fr/web/api/fence/index.md
Labels: l10n-fr

#29522 fr: create `Web/API/Fence/getNestedConfigs`
  files/fr/web/api/fence/getnestedconfigs/index.md
Labels: l10n-fr

#29472 Web/JavaScript/Reference/Global_Objects/Error 以下の未翻訳記事を新規翻訳
  files/ja/web/javascript/reference/global_objects/error/capturestacktrace/index.md
  files/ja/web/javascript/reference/global_objects/error/iserror/index.md
  files/ja/web/javascript/reference/global_objects/error/stacktracelimit/index.md
Labels: l10n-ja

#29525 fr: create `Web/API/Fenced_frame_API`
  files/fr/web/api/fenced_frame_api/index.md
Labels: l10n-fr

#29526 fr: create `Web/API/Fenced_frame_API/Communication_with_embedded_frames`
  files/fr/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
Labels: l10n-fr

#29527 fr: create `Web/API/FencedFrameConfig`
  files/fr/web/api/fencedframeconfig/index.md
Labels: l10n-fr

#29528 fr: create `Web/API/FencedFrameConfig/setSharedStorageContext`
  files/fr/web/api/fencedframeconfig/setsharedstoragecontext/index.md
Labels: l10n-fr

#29529 fr: create `Web/API/HTMLFencedFrameElement`
  files/fr/web/api/htmlfencedframeelement/index.md
Labels: l10n-fr

#29530 fr: create `Web/API/HTMLFencedFrameElement/allow`
  files/fr/web/api/htmlfencedframeelement/allow/index.md
Labels: l10n-fr

#29531 fr: create `Web/API/HTMLFencedFrameElement/config`
  files/fr/web/api/htmlfencedframeelement/config/index.md
Labels: l10n-fr

#29534 fr: create `Web/API/Window/fence`
  files/fr/web/api/window/fence/index.md
Labels: l10n-fr

#29532 fr: create `Web/API/HTMLFencedFrameElement/height`
  files/fr/web/api/htmlfencedframeelement/height/index.md
Labels: l10n-fr

#29104 fr: update `MDN/Writing_guidelines/Writing_style_guide`
  files/fr/mdn/writing_guidelines/writing_style_guide/index.md
Labels: l10n-fr

#29542 [zh-cn] add translation for 'shape generator'
  files/zh-cn/web/css/css_shapes/shape_generator/index.md
Labels: l10n-zh

#29376 zh-cn: create `window/status`
  files/zh-cn/web/api/window/status/index.md
Labels: l10n-zh

#29402 [zh-cn]: update the translation of SVG `<polygon>` element
  files/zh-cn/web/svg/reference/element/polygon/index.md
Labels: l10n-zh

#29281 [ko] javascript Intl DurationFormat 신규 번역
  files/ko/web/javascript/reference/global_objects/intl/durationformat/index.md
Labels: l10n-ko

#29192 fr: update `Web/JavaScript/Reference/Global_Objects/Intl/DisplayNames`
  files/fr/web/javascript/reference/global_objects/intl/displaynames/index.md
Labels: l10n-fr

#29479 Web/HTTP/Reference/Headers/Cache-Control を更新
  files/ja/web/http/reference/headers/cache-control/index.md
Labels: l10n-ja

#29477 Glossary/Credential を新規翻訳
  files/ja/glossary/credential/index.md
Labels: l10n-ja

#29548 fr: update `Glossary/Attribute`
  files/fr/glossary/attribute/index.md
Labels: l10n-fr

#29550 fr: update `Glossary/Element`
  files/fr/glossary/element/index.md
Labels: l10n-fr

#29559 fr: update `Web/HTML/Reference/Elements/a`
  files/fr/web/html/reference/elements/a/index.md
Labels: l10n-fr

#29563 fr: update `Web/HTML/Reference/Elements/img`
  files/fr/web/html/reference/elements/img/index.md
Labels: l10n-fr

#29564 fr: update `Web/HTML/Reference/Elements/li`
  files/fr/web/html/reference/elements/li/index.md
Labels: l10n-fr

#29568 fr: create `Web/API/HTMLAnchorElement`
  files/fr/web/api/htmlanchorelement/index.md
Labels: l10n-fr

#29571 fr: create `Web/API/HTMLAnchorElement/hash`
  files/fr/web/api/htmlanchorelement/hash/index.md
Labels: l10n-fr

#29573 fr: create `Web/API/HTMLAnchorElement/hostname`
  files/fr/web/api/htmlanchorelement/hostname/index.md
Labels: l10n-fr

#29575 fr: create `Web/API/HTMLAnchorElement/hreflang`
  files/fr/web/api/htmlanchorelement/hreflang/index.md
Labels: l10n-fr

#29577 fr: create `Web/API/HTMLAnchorElement/password`
  files/fr/web/api/htmlanchorelement/password/index.md
Labels: l10n-fr

#29584 fr: create `Web/API/HTMLAnchorElement/relList`
  files/fr/web/api/htmlanchorelement/rellist/index.md
Labels: l10n-fr

#29585 fr: create `Web/API/HTMLAnchorElement/search`
  files/fr/web/api/htmlanchorelement/search/index.md
Labels: l10n-fr

#29587 fr: create `Web/API/HTMLAnchorElement/text`
  files/fr/web/api/htmlanchorelement/text/index.md
Labels: l10n-fr

#29588 fr: create `Web/API/HTMLAnchorElement/toString`
  files/fr/web/api/htmlanchorelement/tostring/index.md
Labels: l10n-fr

#29589 fr: create `Web/API/HTMLAnchorElement/type`
  files/fr/web/api/htmlanchorelement/type/index.md
Labels: l10n-fr

#29590 fr: create `Web/API/HTMLAnchorElement/username`
  files/fr/web/api/htmlanchorelement/username/index.md
Labels: l10n-fr

#29592 fr: create `Web/API/HTMLHeadElement`
  files/fr/web/api/htmlheadelement/index.md
Labels: l10n-fr

#29593 fr: create `Web/API/HTMLHtmlElement`
  files/fr/web/api/htmlhtmlelement/index.md
Labels: l10n-fr

#29594 fr: create `Web/API/HTMLHtmlElement/version`
  files/fr/web/api/htmlhtmlelement/version/index.md
Labels: l10n-fr

#29595 fr: update `Web/API/HTMLImageElement`
  files/fr/web/api/htmlimageelement/index.md
Labels: l10n-fr

#29597 fr: create `Web/API/HTMLImageElement/alt`
  files/fr/web/api/htmlimageelement/alt/index.md
Labels: l10n-fr

#29598 fr: create `Web/API/HTMLImageElement/attributionSrc`
  files/fr/web/api/htmlimageelement/attributionsrc/index.md
Labels: l10n-fr

#29600 fr: create `Web/API/HTMLImageElement/complete`
  files/fr/web/api/htmlimageelement/complete/index.md
Labels: l10n-fr

#29602 fr: create `Web/API/HTMLImageElement/currentSrc`
  files/fr/web/api/htmlimageelement/currentsrc/index.md
Labels: l10n-fr

#29604 fr: create `Web/API/HTMLImageElement/decoding`
  files/fr/web/api/htmlimageelement/decoding/index.md
Labels: l10n-fr

#29605 fr: create `Web/API/HTMLImageElement/fetchPriority`
  files/fr/web/api/htmlimageelement/fetchpriority/index.md
Labels: l10n-fr

#29606 fr: create `Web/API/HTMLImageElement/height`
  files/fr/web/api/htmlimageelement/height/index.md
Labels: l10n-fr

#29608 fr: create `Web/API/HTMLImageElement/Image`
  files/fr/web/api/htmlimageelement/image/index.md
Labels: l10n-fr

#29610 fr: create `Web/API/HTMLImageElement/loading`
  files/fr/web/api/htmlimageelement/loading/index.md
Labels: l10n-fr

#29615 fr: create `Web/API/HTMLImageElement/referrerPolicy`
  files/fr/web/api/htmlimageelement/referrerpolicy/index.md
Labels: l10n-fr

#29616 fr: create `Web/API/HTMLImageElement/sizes`
  files/fr/web/api/htmlimageelement/sizes/index.md
Labels: l10n-fr

#29618 fr: create `Web/API/HTMLImageElement/srcset`
  files/fr/web/api/htmlimageelement/srcset/index.md
Labels: l10n-fr

#29621 fr: create `Web/API/HTMLImageElement/width`
  files/fr/web/api/htmlimageelement/width/index.md
Labels: l10n-fr

#29622 fr: create `Web/API/HTMLImageElement/x`
  files/fr/web/api/htmlimageelement/x/index.md
Labels: l10n-fr

#29625 fr: create `Web/API/HTMLLIElement/value`
  files/fr/web/api/htmllielement/value/index.md
Labels: l10n-fr

#29626 fr: create `Web/API/HTMLOListElement`
  files/fr/web/api/htmlolistelement/index.md
Labels: l10n-fr

#29627 fr: create `Web/API/HTMLOListElement/compact`
  files/fr/web/api/htmlolistelement/compact/index.md
Labels: l10n-fr

#29633 fr: create `Web/API/HTMLTitleElement/text`
  files/fr/web/api/htmltitleelement/text/index.md
Labels: l10n-fr

#29497 fr: update `Web/CSS/angle-percentage`
  files/fr/web/css/angle-percentage/index.md
Labels: l10n-fr

#29498 fr: update `Web/CSS/angle`
  files/fr/web/css/angle/index.md
Labels: l10n-fr

#29499 fr: update `Web/CSS/basic-shape`
  files/fr/web/css/basic-shape/index.md
Labels: l10n-fr

#29506 fr: create `Web/CSS/basic-shape/circle`
  files/fr/web/css/basic-shape/circle/index.md
Labels: l10n-fr

#29508 fr: create `Web/CSS/basic-shape/inset`
  files/fr/web/css/basic-shape/inset/index.md
Labels: l10n-fr

#29509 fr: update `Web/CSS/basic-shape/path`
  files/fr/web/css/basic-shape/path/index.md
Labels: l10n-fr

#29510 fr: create `Web/CSS/basic-shape/polygon`
  files/fr/web/css/basic-shape/polygon/index.md
Labels: l10n-fr

#29511 fr: create `Web/CSS/basic-shape/rect`
  files/fr/web/css/basic-shape/rect/index.md
Labels: l10n-fr

#29513 fr: create `Web/CSS/basic-shape/xywh`
  files/fr/web/css/basic-shape/xywh/index.md
Labels: l10n-fr

#29536 fr: update `Web/JavaScript/Reference/Global_Objects/WeakSet`
  files/fr/web/javascript/reference/global_objects/weakset/index.md
Labels: l10n-fr

#29637 fr: create `Web/CSS/CSS_box_model/Introduction_to_the_CSS_box_model`
  files/fr/web/css/css_box_model/introduction_to_the_css_box_model/index.md
Labels: l10n-fr

#29404 [zh-cn]: update the translation of MediaStream `addTrack()` method
  files/zh-cn/web/api/mediastream/addtrack/index.md
Labels: l10n-zh

#29368 zh-cn: create `webtransportdatagramduplexstream/readable`
  files/zh-cn/web/api/webtransportdatagramduplexstream/readable/index.md
Labels: l10n-zh

#29361 zh-CN: create `WebKitPoint`
  files/zh-cn/web/api/webkitpoint/index.md
Labels: l10n-zh

#28755 zh-CN: create `BluetoothRemoteGATTCharacteristic/properties`
  files/zh-cn/web/api/bluetoothremotegattcharacteristic/properties/index.md
Labels: l10n-zh

#29640 fr: update `Web/HTML/Reference/Elements/link`
  files/fr/web/html/reference/elements/link/index.md
Labels: l10n-fr

#29642 fr: update `Web/API/HTMLLinkElement/as`
  files/fr/web/api/htmllinkelement/as/index.md
Labels: l10n-fr

#29643 fr: create `Web/API/HTMLLinkElement/blocking`
  files/fr/web/api/htmllinkelement/blocking/index.md
Labels: l10n-fr

#29648 fr: create `Web/API/HTMLLinkElement/hreflang`
  files/fr/web/api/htmllinkelement/hreflang/index.md
Labels: l10n-fr

#29650 fr: create `Web/API/HTMLLinkElement/imageSrcset`
  files/fr/web/api/htmllinkelement/imagesrcset/index.md
Labels: l10n-fr

#29651 fr: create `Web/API/HTMLLinkElement/integrity`
  files/fr/web/api/htmllinkelement/integrity/index.md
Labels: l10n-fr

#29655 fr: create `Web/API/HTMLLinkElement/relList`
  files/fr/web/api/htmllinkelement/rellist/index.md
Labels: l10n-fr

#29657 fr: create `Web/API/HTMLLinkElement/sizes`
  files/fr/web/api/htmllinkelement/sizes/index.md
Labels: l10n-fr

#29658 fr: create `Web/API/HTMLLinkElement/type`
  files/fr/web/api/htmllinkelement/type/index.md
Labels: l10n-fr

#29660 fr: update `Glossary/JavaScript`
  files/fr/glossary/javascript/index.md
Labels: l10n-fr

#29661 fr: update `Web/API/Window/prompt`
  files/fr/web/api/window/prompt/index.md
Labels: l10n-fr

#29663 fr: broken links of #7319
  files/fr/learn_web_development/extensions/forms/sending_and_retrieving_form_data/index.md
  files/fr/learn_web_development/extensions/testing/testing_strategies/index.md
  files/fr/learn_web_development/howto/design_and_accessibility/design_for_all_types_of_users/index.md
  files/fr/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: l10n-fr

#29554 fr: update `Learn_web_development/Getting_started/Your_first_website/What_will_your_website_look_like`
  files/fr/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
Labels: l10n-fr

#29662 fr: update `Learn_web_development/Getting_started/Your_first_website/Publishing_your_website`
  files/fr/learn_web_development/getting_started/your_first_website/publishing_your_website/index.md
Labels: l10n-fr

#29670 fr: update `Web/JavaScript/Reference/Execution_model`
  files/fr/_redirects.txt
  files/fr/web/javascript/reference/execution_model/index.md
Labels: l10n-fr

#29221 [zh-cn]: update sourceCommit
  files/zh-cn/web/css/border-bottom-left-radius/index.md
  files/zh-cn/web/css/border-bottom-style/index.md
  files/zh-cn/web/css/column_combinator/index.md
Labels: l10n-zh

#29676 fr: update `Web/CSS/CSS_animations`
  files/fr/web/css/css_animations/index.md
Labels: l10n-fr

#29371 zh-cn: create `webxr_device_api/targeting`
  files/zh-cn/web/api/webxr_device_api/targeting/index.md
Labels: l10n-zh

#28712 [ko] Translate "aria-labelledby"
  files/ko/web/accessibility/aria/reference/attributes/aria-labelledby/index.md
Labels: l10n-ko

#29295 [zh-cn]: update the translation of CSS `<number>` data type
  files/zh-cn/web/css/number/index.md
Labels: l10n-zh

#29365 zh-cn: create `websocketstream/url`
  files/zh-cn/web/api/websocketstream/url/index.md
Labels: l10n-zh

#28843 zh-CN: create `CSSSkew`
  files/zh-cn/web/api/cssskew/index.md
Labels: l10n-zh

#28760 zh-CN: create `CredentialsContainer/preventSilentAccess`
  files/zh-cn/web/api/credentialscontainer/preventsilentaccess/index.md
Labels: l10n-zh

#29083 [zh-cn]: update the translation of CSS `-webkit-border-before` property
  files/zh-cn/web/css/-webkit-border-before/index.md
Labels: l10n-zh

#28825 zh-CN: create `CSSTranslate/z`
  files/zh-cn/web/api/csstranslate/z/index.md
Labels: l10n-zh

#28823 zh-CN: create `CSSTranslate/x`
  files/zh-cn/web/api/csstranslate/x/index.md
Labels: l10n-zh

#28836 zh-CN: create `CSSStartingStyleRule`
  files/zh-cn/web/api/cssstartingstylerule/index.md
Labels: l10n-zh

#28863 zh-CN: create `CSSPerspective/length`
  files/zh-cn/web/api/cssperspective/length/index.md
Labels: l10n-zh

#29078 [zh-cn]: update the translation of Range `createContextualFragment()` method and fixed slug
  files/zh-cn/web/api/range/createcontextualfragment/index.md
  files/zh-cn/web/api/webgl2renderingcontext/deletesync/index.md
Labels: l10n-zh

#29006 [ko] Sync "aria-label" translation with English source
  files/ko/web/accessibility/aria/reference/attributes/aria-label/index.md
Labels: l10n-ko

#29674 [ko] javascript/reference/statements/async_function_star_ 신규 번역
  files/ko/web/javascript/reference/statements/async_function_star_/index.md
Labels: l10n-ko

#28759 zh-CN: create `CompositionEvent/locale`
  files/zh-cn/web/api/compositionevent/locale/index.md
Labels: l10n-zh

#29220 [zh-cn]: update the translation of `Date.prototype.setUTCDate()`
  files/zh-cn/web/javascript/reference/global_objects/date/setutcdate/index.md
Labels: l10n-zh

#29369 zh-cn: create `webtransportdatagramduplexstream/writable`
  files/zh-cn/web/api/webtransportdatagramduplexstream/writable/index.md
Labels: l10n-zh

#29417 [ko] set 문서 영어 원문과 동기화
  files/ko/web/javascript/reference/global_objects/set/index.md
Labels: l10n-ko

#29685 fr: update `Web/HTTP/Guides/Evolution_of_HTTP`
  files/fr/web/http/guides/evolution_of_http/index.md
Labels: l10n-fr

#29691 fr: update `Web/HTML/Reference/Elements/sup`
  files/fr/web/html/reference/elements/sup/index.md
Labels: l10n-fr

#29696 fr: update `Learn_web_development/Core/Scripting/Strings`
  files/fr/learn_web_development/core/scripting/strings/index.md
Labels: l10n-fr
